#Html("begin")
#GenHead("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadGenCSS("/resources/gen/styles/touch")
#LoadGenCSS("resources/gen178/styles/user/forget_password_first")
#GenHead("end")
	<body>
		#LoadGenCSS("/resources/gen178/styles/login_header")
		$Gen178Header("home")
		<input type="hidden" id="APP_ROOT_PATH_GEN" value="$!env.get('gen.server.web')"/>
    	<input type="hidden" id="mobileToken" name="mobileToken" value="$!mobileToken">
		<div class="con">
			<div class="con_m">
				<div class="con_mr" style="margin: 0 auto !important; float: none;">
					<ul class="cul_1">
						<li style="">手机号</li>
						<li style="letter-spacing:normal;">短信验证码</li>
						<li style="">新交易密码</li>
						<li style="">确认新交易密码</li>
					</ul>
					<ul  class="cul_2">
						<form method="post" class="tradeForm" id="tradeForm">
						<input type="hidden" value="$!mobile" name="mobile" id="mobile"/>
						<li class="tele_num" >$!mobile</li>
						<li><p style="width: 170px; float: left;"><span><img src="$!env.get('gen.server.web')/resources/gen178/images/mes.jpg"></span><input type="text" name="mobileCode" id="mobileCode" maxLength="4" autocomplete="off" placeholder="短信验证码" style="width: 135px;"></p><input style="display:none"> <div class="find_s" id="sendCode" count="60"><a>获取验证码</a></div></li>
						<li><p><span><img src="$!env.get('gen.server.web')/resources/gen178/images/pwd.jpg"></span><input type="password" name="password" id="payPassword" autocomplete="off"  maxLength="16" placeholder="请输入新交易密码"></p></li>
						<li><p><span><img src="$!env.get('gen.server.web')/resources/gen178/images/sign.jpg"></span><input type="password" id="curPayPassword" name="curPayPassword" maxLength="16"  placeholder="请确认新交易密码"></p></li>
						<!--<button class="buut" id= "find_trade_password">提交</button>-->
						<input class="buut" id= "find_trade_password" value="提交"/>
						</form>
					</ul>
				</div>
			</div>
			
		</div>
		
	<!--footer -s-->
	$Gen178Footer()
	<!--footer -e-->
	
	#LoadGenJS("/resources/gen178/scripts/echarts")
	#LoadGenJS("/resources/gen178/scripts/switchable")
	#LoadGenJS("/resources/gen178/scripts/textSlider")
	#LoadGenJS("/resources/gen178/scripts/index_style")
	#LoadGenJS("/resources/gen178/scripts/assets/forget_trade_password")
		<script>
			$(document).ready(function clickme(){
                $('.wx').hover(function(){
                	$('.imgs').css({"left":"-14.5%"}).fadeIn(100);
                },function(){
                	$('.imgs').hide(100);
                });
                
                
                //输入框单击变黄 失去焦点变黑
                $('input').focus(function(){
                	$(this).parent('p').css('border','#FF681D solid 1px');
                });
                $('input').blur(function(){
                	$(this).parent('p').css('border','#bbb solid 1px');
                });
           })
		</script>
	</body>
#Html("end")
