#Html("begin")
#GenHead("begin","安全保障,币港湾,币港湾官网","币港湾官网，国资背景安心收益，为您提供互联网金融服务，是优质的互联网金融服务平台。")
#Title("安全保障【币港湾官网】")
#LoadGenJS("/resources/gen178/scripts/safe/jquery-min")

#LoadGenCSS("/resources/gen178/styles/safe/default")
#LoadGenCSS("/resources/gen178/styles/safe/security_guarantee")
#GenHead("end")
	<body>
	<input type="hidden" id="APP_ROOT_PATH" value="$!env.get('gen.server.web')"/>

		<!--头-->
			<!--header -s-->
        	#Gen178Header('safe')
        	<!--header -e-->
		<!--main-->

    <div class="safe_banner"></div>
    <div class="safe_power">
        <div class="safe_wrap_title">
            平台实力
            <p><span></span>Platform Strength<span></span></p>
        </div>
        <div class="row">
            <div class="col-4 safe_power_list">
                <div class="safe_list">
                    <div class="safe_power_list_img">
                        <img src="$!env.get('gen.server.web')/resources/gen178/images/safe/safe_power_01.jpg">
                    </div>
                    <div class="safe_power_des">
                        <span>杭州市金融控股集团</span>旗下<span>杭商资产</span>领衔投资
                    </div>
                </div>
            </div>
            <div class="col-4 safe_power_list">
                <div class="safe_list">
                    <div class="safe_power_list_img">
                        <img src="$!env.get('gen.server.web')/resources/gen178/images/safe/safe_power_02.jpg">
                    </div>
                    <div class="safe_power_des">
                        <span>浙大网新集团</span>孵化
                    </div>
                </div>
            </div>
            <div class="col-4 safe_power_list">
                <div class="safe_list">
                    <div class="safe_power_list_img">
                        <img src="$!env.get('gen.server.web')/resources/gen178/images/safe/safe_power_03.jpg">
                    </div>
                    <div class="safe_power_des">
                        <span>钱江晚报</span>深入考察，全面推荐
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="safe_risk">
        <div class="safe_wrap_title">
            风控体系
            <p><span></span>Risk Control System<span></span></p>
        </div>
        <div class="row text_center safe_risk_row">
            <div class="col-4">
                <div class="risk_row_img">
                    <img src="$!env.get('gen.server.web')/resources/gen178/images/safe/safe_control.png">
                </div>
            </div>
            <div class="col-4" style="padding: 50px 0 0;">
                <h5>
                    线上线下结合审批
                </h5>
                <p>
                    线下超过<span>200个</span>信审网点现场贷前审查。<br>
                    线上大数据征信系统<span>7亿</span>用户数据全面审核：学历数据、消费数据、通信记录、信用记录、黑名单数据、社交数据。
                </p>
            </div>
            <div class="col-4">
                <div class="risk_row_img">
                    <img src="$!env.get('gen.server.web')/resources/gen178/images/safe/safe_data.png">
                </div>
            </div>
        </div>
        <div class="row safe_risk_row">
            <div class="col-6">
                <div class="dom_left">
                    <img src="$!env.get('gen.server.web')/resources/gen178/images/safe/safe_little.png">
                </div>
                <div class="dom_right">
                    <h5>坚决对接小额债权</h5>
                    <p>当前<span>90%</span>借款项目不超过<span>3万</span>元</p>
                    <p>平均年借款额度约<span>7000元</span>左右</p>
                </div>
            </div>
            <div class="col-6">
                <div class="dom_left">
                    <img src="$!env.get('gen.server.web')/resources/gen178/images/safe/safe_people.png">
                </div>
                <div class="dom_right">
                    <h5>借款人群分布广</h5>
                    <p>线下信审网点遍布全国<span>24个</span>省份，每天产生数千笔小额借款业务员，借款人员从业范围广、消费场景固定、收入稳定、债权优质</p>
                </div>
            </div>
        </div>
        <div class="safe_risk_row" id="safe_process">
            <div class="credit_process">
                <ul class="process_step">
                    <li class="step_focuse step1" style="bottom: 57px;left: 48px;">
                        <span>1</span>
                        <p>借款人<br>申请借款</p>
                        <div class="process_des des_show" style="bottom:-55px;">信审流程规范、严格、高效<span></span></div>
                    </li>
                    <li class="step2" style="top: 57px;left: 153px;">
                        <span>2</span>
                        <p>借款人填<br>写申请单</p>
                        <div class="process_des" style="top:-86px;">借款人申请借款，需先详细填写身份信息<span></span></div>
                    </li>
                    <li class="step1" style="bottom: 57px;left: 258px;">
                        <span>3</span>
                        <p>线下客户<br>经理面审</p>
                        <div class="process_des" style="bottom:-70px;">线下数百家营业门店，数千名专业客户经理<span></span></div>
                    </li>
                    <li class="step2" style="top: 57px;left: 365px;">
                        <span>4</span>
                        <p>大数据风控<br>模型筛选</p>
                        <div class="process_des" style="top:-115px;"><span></span>拥有世界先进的星云大数据风控模型，联合同盾、鹏元、前海征信7亿个用户记录过滤</div>
                    </li>
                    <li class="step1" style="bottom: 57px;left: 470px;">
                        <span>5</span>
                        <p>线上集<br>中审批</p>
                        <div class="process_des" style="bottom:-130px;"><span></span>来自各大银行的信审专家、世界一流的消费分期专家、数据分析与个人征信专家组成了一流的风控团队。数百名风控审批人员，每天审批数万单借款申请</div>
                    </li>
                    <li class="step2" style="top: 57px;left: 575px;">
                        <span>6</span>
                        <p>匹配币港湾用户</p>
                        <div class="process_des" style="top:-86px;">每一笔资金和借款精准匹配，借款人信息可控可查<span></span></div>
                    </li>
                    <li class="step1" style="bottom: 57px;left: 682px;">
                        <span>7</span>
                        <p>签订<br>法律协议</p>
                        <div class="process_des" style="bottom:-70px;">每笔借款均需签订借款协议，经过电子认证受法律保护<span></span></div>
                    </li>
                    <li class="step2" style="top: 57px;left: 786px;">
                        <span>8</span>
                        <p>贷后<br>监控管理</p>
                        <div class="process_des" style="top:-70px;">星云全方位定位失联用户<span></span></div>
                    </li>
                    <li class="step1" style="bottom: 57px;left: 895px;">
                        <span>9</span>
                        <p>专业<br>团队催收</p>
                        <div class="process_des" style="bottom:-70px;">数十位催收专家远程和现场进行360°催收<span></span></div>
                    </li>
                    <li class="step2" style="top: 57px;left: 1000px;">
                        <span>10</span>
                        <p>第三方<br>公司担保</p>
                        <div class="process_des" style="top:-70px;">第三方公司承诺对逾期项目做担保<span></span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="safe_technical">
        <div class="safe_wrap_title">
            技术保障
            <p><span></span>Technical Support<span></span></p>
        </div>
        <div class="row">

            <div class="col-4">
                <div class="technical_wrap">
                    <div class="technical_ico">
                        <img src="$!env.get('gen.server.web')/resources/gen178/images/safe/safe_system_01.png">
                    </div>
                    <h5 style="color: #FFC33C">账户安全保障</h5>
                    <p>世界最大的信息安全服务商赛门铁克为币港湾提供EV SSL CA安全证书，保障币港湾用户账户安全，并提供1100万元的账户资金安全险。</p>
                </div>
            </div>

            <div class="col-4">
                <div class="technical_wrap">
                    <div class="technical_ico">
                        <img src="$!env.get('gen.server.web')/resources/gen178/images/safe/safe_system_02.png">
                    </div>
                    <h5 style="color: #ff6633">T+0 即时到帐</h5>
                    <p>
                        币港湾采用稳定、安全的第三方支付通道，提现、回款当天到账
                    </p>
                </div>
            </div>

            <div class="col-4">
                <div class="technical_wrap">
                    <div class="technical_ico">
                        <img src="$!env.get('gen.server.web')/resources/gen178/images/safe/safe_system_03.png">
                    </div>
                    <h5 style="color: #657BFF">电子签名认证</h5>
                    <p>
                        币港湾全部电子合同均采用CFCA认证技术，有效保障每一个用户的资金签约真实有效、具备法律效力。
                    </p>
                </div>
            </div>

            <div class="col-4">
                <div class="technical_wrap">
                    <div class="technical_ico">
                        <img src="$!env.get('gen.server.web')/resources/gen178/images/safe/safe_system_04.png">
                    </div>
                    <h5 style="color: #C787FF">数据信息多重保护</h5>
                    <p>
                        采用SSL加密传输，128位数据加密技术，数据异地存储多份，保障用户信息和交易数据安全、私密。
                    </p>
                </div>
            </div>

            <div class="col-4">
                <div class="technical_wrap">
                    <div class="technical_ico">
                        <img src="$!env.get('gen.server.web')/resources/gen178/images/safe/safe_system_05.png">
                    </div>
                    <h5 style="color: #7FC1FF">不间断监控</h5>
                    <p>
                        完善的运维监测体系，7*24小时不间断严格监控管理，多级预警处理机制。
                    </p>
                </div>
            </div>

            <div class="col-4">
                <div class="technical_wrap">
                    <div class="technical_ico">
                        <img src="$!env.get('gen.server.web')/resources/gen178/images/safe/safe_system_06.png">
                    </div>
                    <h5 style="color: #63CA3D">系统内外网分离</h5>
                    <p>
                        内外网完全分离，外网无法访问内网，杜绝入侵风险。
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="safe_operation">
        <div class="safe_wrap_title">
            合法经营
            <p><span></span>Lawful Operation<span></span></p>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="operation_wrap">
                    <div class="operation_des">
                        根据《中华人民共和国合同法》第二十三章关于居间合同的规定，币港湾作为居间人促成的出借人与借款人的借贷关系，亦属于民间借贷范畴，受法律保护。
                    </div>
                    <h5>币港湾平台居间服务受法律保护</h5>
                </div>
            </div>
            <div class="col-6">
                <div class="operation_wrap">
                    <div class="operation_des">
                        根据《中华人民共和国合同法》、《最高人民法院关于审理民间借贷案件适用法律若干问题的规定》，自然人之间以及自然人与非金融机构之间的借贷属于民间借贷范畴，受法律保护。
                    </div>
                    <h5>网贷行业受法律保护</h5>
                </div>
            </div>
            <div class="col-6">
                <div class="operation_wrap">
                    <div class="operation_des">
                        根据《最高人民法院关于审理民间借贷案件适用法律若干问题的规定》，借贷双方约定的利率未超过年利率24%的，出借人有权请求借款人按照约定的利率支付利息； 借贷双方约定的年利率超过36%的，则超过部分无效。
                    </div>
                    <h5>币港湾预期年化利率在法律保护范围内</h5>
                </div>
            </div>
            <div class="col-6">
                <div class="operation_wrap">
                    <div class="operation_des">
                        根据《中华人民共和国合同法》第十一条规定，电子合同的订立具有法律效力。
                    </div>
                    <h5>电子合同具有法律效力</h5>
                </div>
            </div>
        </div>
    </div>




    <!--footer -s-->
        #Gen178Footer()
    <!--footer -e-->

        #LoadGenJS("/resources/gen178/scripts/safe/custom")
    </body>
#Html("end")
