.trade_result{
	width: 800px;
	margin: 30px auto 60px;
	height: 550px;
	border-top:solid 2px #FF6633;
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px 30px;
	text-align: center;
}
.trade_result_bg{
	height: 300px;
	background: url(../../images/trade/trade_result.png) bottom center no-repeat;
	margin-bottom: 30px;
}
.trade_result p{
	font-size: 14px;
	color-interpolation: #666;
	margin: 0 0 10px;
}
.trade_result .color_font{
	color: #FF6633;
}
.trade_result_btn {
	margin-top: 30px;
}
.trade_result_btn button{
	width: 260px;
	height: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #FF6633;
	line-height: 40px;
	font-size: 14px;
	color: #fff;
	display: block;
	margin: auto;
	border: none;
}