
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li class="line">line</li>
			<li><a  rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/productAmount/index.htm')?type=1ActivityProductAmount" class="edit"><span>1个月活动理财购买金额</span></a></li>
						<li class="line">line</li>
			<li><a  rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/productAmount/index.htm')?type=1ProductAmount" class="edit"><span>1个月理财购买金额</span></a></li>
			<li class="line">line</li>
			<li><a  rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/productAmount/index.htm')?type=3ProductAmount" class="edit"><span>3个月理财购买金额</span></a></li>
			<li class="line">line</li>
			<li><a   rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/productAmount/index.htm')?type=6ProductAmount" class="edit"><span>6个月理财购买金额</span></a></li>
			<li class="line">line</li>
			<li><a   rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/productAmount/index.htm')?type=12ProductAmount" class="edit"><span>12个月理财购买金额</span></a></li>
			<li class="line">line</li>
			<li><a   rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/productAmount/index.htm')?type=ProductAmountSum" class="edit"><span>全部理财购买总金额</span></a></li>

		</ul>
	</div>

				<td>	 #Highcharts($!nums,$!titletext,$!yAxistext,$!seriestext,$!startTime)</td>
			
		
    	
	
</div>
    



