/*首页*/
body{ position: absolute; width:100%; height:100%; background: #F3F5F7;}
.infolist{text-align:center;font-size:25px;}  
 .infolist ul{margin:0;padding:0;}  
    .infolist ul li{list-style:none;height:40px;line-height:40px;}  
 #content{
 	height:40px;
 	overflow:hidden;
 	background: #F9F9F9;
 	background-size: auto 36px;
 	border-bottom: 1px solid white;
 	position: relative;
 	width: 100%;
 }
 #ads_box {
	position: relative;
	display: -webkit-box;
	background: #FFF;
	border-bottom: 1px solid #ededed;
	box-shadow: 0 1px 1px #fff;
}
#ads_close {
	display: block;
	position: absolute;
    right: 17px;
    top: 10px;
	text-indent: -9999px;
	background: url(../../images/close_message.png) no-repeat scroll 0 0 transparent;
	height: 22px;
	width: 24px;
}
#ads_close:hover {
	background: url(../../images/close_message.png) no-repeat scroll 0 -20px transparent;
} 
.index_banner .swiper-pagination{ bottom:37px; }
.wrapper{ position: absolute; height:100%; }
.swiper-container {width: 100%;height: 239px;}
.swiper_info{ position: absolute; bottom:0px; /*line-height:28px;*/width:100%; background: #ffcc00; color:white;z-index: 2;}
.info_move{display: inline-block; overflow: hidden; width:88%; white-space: nowrap;}
.broadcast{ width:29px; height:29px; background: url(../../images/brow.png) no-repeat; display: inline-block;margin: 0px 20px;position: relative;top: 3px;}
.move_ul{ position: relative;display: inline-block; left:95%;}
.move_item{ font-size: 25px; line-height: 28px; white-space: nowrap;display: inline-block; margin:0px 0px 0px 10px;}
.heder{ height:194px;width:100%; background:white;} 
.slide1{ width:100%; height:208px; /* background:url(../../images/banner1.jpg) no-repeat; */}
.slide2{width:100%; height:208px; /* background:url(../../images/banner2.jpg) no-repeat; */}
.slide3{width:100%; height:208px;/*  background:url(../../images/banner4.jpg) no-repeat; */}
.slide4{width:100%; height:208px; /* background:url(../../images/banner6.jpg) no-repeat; */}
.slide5{width:100%; height:208px; background:url(../../images/shake/banner_shake.jpg) no-repeat;}
.slide3_a{ width:100%; height:208px; display:block;}
.platform{ width:100%; text-align: center; font-size: 2.6rem; padding-top:20px; margin-bottom:20px; height:2.6rem; line-height: 2.6rem;}
.platform_icon{ width:116px; height:52px;line-height: 52px; margin-bottom:8px;}
.platform_dl{ display: inline-block; text-align: center; margin: 0px 20px;}
.icon1{ max-width: 100%; }
.icon_top{ margin-top:3px; }
.ft_default{font-size: 1.8rem;height:1.8rem; line-height: 1.8rem; font-weight: bold;  color:#999999;}
.platform_icon+.ft_default{ margin-bottom:5px; }
.container{     margin-bottom: 16px; height:auto; background:white; box-shadow: 2px 6px 6px 2px rgba(0,0,0,.1); position: relative; border-radius:6px; border:1px solid #cccccc;}
.label{ position:absolute;width:81px; height:64px;    line-height: 50px; background: url(../../images/anniversary_num.png) no-repeat center; right: 40px;top: -2px;font-size:2.648rem; color:#ffffff; text-align:center;}
.title_hei{line-height:normal; font-size:2.8rem;position: relative;}
.cont_title, .cont_ti_cen{ display: inline-block; /* font-weight: 100; */}
.cont_title{ margin-left:20px; position:absolute;}
.cont_ti_cen{padding:20px 0px 0px 20px; color:#ff6633;}
.title_cen{ width:100%; text-align: center; display: inline-block; }
.title_right{ position: absolute; right:-12px;top:11px; width:140px; height:40px; line-height: 40px; text-align: center; font-size: 2.4rem; color:white; background: url(../../images/title_right.png) no-repeat;}
.title_right:after{ position: absolute; content:""; border-top:11px solid #fa9764; border-right:17px solid transparent; bottom:-10px; right:0px; -webkit-transform-origin: right center;-moz-transform-origin: right center;-ms-transform-origin: right center;-o-transform-origin: right center;
transform-origin: right center;:right center; transform:rotate3d(0,1,0,45deg);}
.info_number{ margin:30px 0px 26px 0px;; text-align: center; } 
.info_number>.color_bg{ display: inline-block; font-size: 9.353rem;height:86px;line-height: 86px;}
.percent{ font-size: 2.5rem; }
.info_btn{ /*height:106px;*/ text-align: center; position: relative;}
.cont_ddote{ width:100%; height:32px; background: url(../../images/cointer_icon4.png) no-repeat -1px;}
.con_icon1, .con_icon2, .con_icon3{ display: inline-block; width:40px; height:40px;vertical-align: middle;    position: relative;top: -3px;left: -5px;}
.con_icon1{ background: url(../../images/cointer_icon1.png) no-repeat center center; }
.con_icon2{ background: url(../../images/cointer_icon2.png) no-repeat center center; }
.con_icon3{ background: url(../../images/cointer_icon3.png) no-repeat center center; }
.btn_cor{ padding:15px; border-radius:6px; display: inline-block; background: white; font-size: 2.2rem; color:#999999; /* font-weight: 200; */ /*margin:29px 10px 0px;*/}
.butt{ width:90%;margin:20px 30px; border-radius: 6px;height:78px; line-height: 78px; text-align: center; color:white; display: block;  background: #ff6633; font-size: 3.6rem; font-weight: 200;}
.butt:hover, .butt:focus {color: white;}
.conta_two{ margin:0px; background:#fef9ec;}
.container2_img{ width:100%; height:150px; background: url(../../images/cointer_icon5.png) no-repeat center center;position: relative;top: 15px;}
.placehold{ height:97px; }

.color_bg{ color:#ff6633; }



/*修改周年庆活动  */
.yellow_bg{ background:#ffc70b;position:relative;}
.anniversary_ft_wp{position:absolute;width:100%; top: 84px;}
.anniversary_ft_two{ width:100%; font-size:2.4rem;line-height:normal; text-align:center; color:#87240d;}
.gray_bg{padding:15px;width:90%;margin:0 auto; background:#e5a505;position: relative;
    top: -42px;    border-radius: 6px;margin-bottom: 16px;}
.anniversary_cen{ text-align:center; font-size:2.864rem; color:#999999; line-height:normal;}
.margin_none{ margin-bottom:0px;}


