#Html("begin")
#Head("begin")
#Title("币港湾理财官网_安心可靠互联网金融投资理财平台_品听资产_杭商资产_浙大网新_P2P网贷")
#Head("end")
	
<body>
	<input type="hidden" id="APP_ROOT_PATH" name="APP_ROOT_PATH" value="$!env.getWebURL('')" />
    <!-- website wrapper starts -->
    <div class="websiteWrapper"> 
      
      #Header("币港湾故事", "", "")
      
      <!-- notification starts -->
      
      <!-- notification ends --> 
      
      <!--tab-s-->
      
      <div class="newrow">
        <!-- page content wrapper starts -->
        <div class="bgw">
         <!-- <p>币港湾故事</p>-->
          ##<img src="$!env.getWebURL('')/resources/micro/images/banner1.png" style="background-color:#ea5e5f;" width="94%" height="">
          <div id="1" class="fw" style="margin-top:10px;"><h2>平台简介</h2> 
			<p>币港湾理财平台是浙江品听资产管理有限公司开发运营的互联网金融平台，由浙大网新科技股份有限公司（上交所，证券代码600797）、浙江众合机电股份有限公司（深交所，证券代码000925）、杭商资产管理（杭州）有限公司共同投资，于2010年7月注册成立，注册资金2000万元人民币，公司位于浙江省杭州市。
			</p>
			<p>“币”乃财富与钱币的象征，"港湾"寓意安全、稳固。作为一家国资系上市公司背景的互联网金融平台，币港湾就是要为投资人提供一个能让资金安全避险、实现增值的家园。币港湾平台上的债权项目，来自于具有11年风控经验的达飞集团，利用小微债权实现社会闲散资金与小额个人信贷需求的匹配，在投资人和借款人之间搭建起信任的桥梁。
			</p>
		  </div>
		  <div id="2" class="fw"><h2>股东介绍</h2>
            <p><strong>浙大网新科技股份有限公司</strong>
				<br />
				&#12288;&#12288;浙大网新科技股份有限公司（上交所：600797）是一家在以潘云鹤院士提出的“打造软件与网络业航母”远景目标下，依托浙江大学综合应用学科优势组建的高科技企业，旗下拥有3家上市公司：网新科技、众合机电以及浙大兰德。自2001年6月创建以来，经过九年健康、快速发展，以“高端定位、服务主导、国际路线”为竞争策略的浙大网新已崛起为具有相当影响力的中国IT协同服务领军企业。
			</p>
			<p><strong>杭商资产管理（杭州）有限公司</strong>
				<br />
				&#12288;&#12288;杭商资产管理（杭州）有限公司（简称“杭商资产”），原杭商创业投资管理（杭州）有限公司，由杭州市金融投资集团有限公司与浙大网新集团强强联合组建。
				<br />&#12288;&#12288;杭州市金融投资集团有限公司于2012年2月揭牌成立，注册资金50亿元人民币，是杭州市政府直属国有独资企业，以金融服务为核心主业，立足于“服务产业升级、服务城镇建设”两大基本方向，着力构建财富管理、小微金融、公共服务、商贸金融、资产交易中介、数据服务和国际化业务等七大业务板块。2014年度公司实现净利润9.7亿元，管理资产规模345.9亿元人民币。 
				<br />&#12288;&#12288;杭商资产已发行股权投资基金-“宝石基金”、商业地产基金-“跨虹基金”、政府类基金-“碧水基金”、“橙湾基金”等多只基金，直接管理资产总规模超过12亿元，联合管理资产总规模超过30亿元。
			</p>
			<p><strong>浙江众合机电股份有限公司</strong>
				<br />
				&#12288;&#12288;浙江众合机电股份有限公司（深交所，证券代码：000925）是浙江浙大网新集团的核心成员企业之一，总部设在杭州，共有员工近1000人。公司致力于国家重点发展的轨道交通业务和能源环保业务，通过绿色环保的技术、工程及装备制造服务为社会贡献价值。
			</p>
		  </div>
		  <div id="3" class="fw" >
          <h2>管理团队</h2>
		    <p><strong>首席执行官 王晶</strong>
				<br />
				&#12288;&#12288;先后担任过上海银行、民生银行、浦发银行、光大银行等多家股份制商业银行高管。
				<br />
				&#12288;&#12288;近20年的金融从业经历，具有专业的风控和信贷管理经验、熟悉投行业务，对互联网金融的商业运营有其深刻的认识和独特的见解。
			</p>
			<p><strong>首席技术官 张庆</strong>
				<br />
				&#12288;&#12288;12年软件、互联网软件设计、研发经验。
				<br />
				&#12288;&#12288;曾就职于浙大网新(创新研究部技术总监)，恒生电子(银行事业部技术经理)，信雅达等知名上市科技公司，主导设计并实施多个金融相关的软件产品和项目。
				<br />
				&#12288;&#12288;代表项目包括移动互联网O2O报名吧，公益基金梦想盒子--梦想银行，批量联机交易处理平台，银行业务综合管理平台，商业银行支付宝卡通等。
			</p>
			<p><strong>首席营销官 王莹</strong>
				<br />
				&#12288;&#12288;中科院心理研究所研究生，十余年互联网经验，曾在百度等多家互联网公司担任市场部高级职位，主要方向为互联网电商以及互联网金融平台。
				<br />
				&#12288;&#12288;任职互联网金融产品支付通先花花市场总监期间，用户数从0增至50万注册用户，交易额近亿元。
			</p>
			<p><strong>产品总监 张军锋</strong>
				<br />
				&#12288;&#12288;西安交大管理学学士，12年互联网产品管理经验。
				<br />
				&#12288;&#12288;户外旅行网络杂志黑孩子联合创始人，ZOHO中国首席产品设计师，前后担任超星网、东方网力、365好老师等多个公司产品总监。
			</p>
			
          </div>
         
          <div id="4" class="fw" >
          <h2>安全保障</h2>
          <p>币港湾平台根据FICO风控体系对债权进行评分，对借款人严格审查，并对借款项目进行实地调查，考证合作债权的真实性和风险可控性。
			<br />
				&#12288;&#12288;币港湾的债权来自于对多个小微资产包的分散投资，达到统一控制风险的目的，保证资金安全。
			<br />
				&#12288;&#12288;币港湾技术团队来自深耕互联网的阿里巴巴支付宝、IBM、浙大网新、恒生电子等互联网金融技术企业，平均从业经验8年以上，对产品设计、体验、架构、安全认证、数据分析、测试、防黑客、防欺诈等多方面均做了全面考虑，确保每笔资金的安全、精准、高效。


</p></div>
<div class="fw" >
          <h2>港湾联系方式</h2>
          <p style="text-indent: 0;">客服热线：400-806-1230<br />港湾地址：杭州市上城区白云路18号西区</p>
</div>
      	</div>
        <!-- page content wrapper ends --> 
        
      </div>

	  <!--tab-e-->

      
      #Footer("4")
      
    </div>
	<!-- website wrapper ends -->
</body>

#Html("end")