#Html("begin")
#Head("begin")
#Title("币港湾理财官网_安心可靠互联网金融投资理财平台_品听资产_杭商资产_浙大网新_P2P网贷")
#Head("end")
	
<body>
	<input type="hidden" id="APP_ROOT_PATH" name="APP_ROOT_PATH" value="$!env.getWebURL('')" />
    <!-- website wrapper starts -->
      
      #Header("意见反馈", "", "", "micro/wealth/found")
      
      <!-- notification starts -->
      
      <!-- notification ends --> 
      
      <!--tab-s-->
      
      <div class="newrow">
		<form action="$!env.getWebURL('/micro/wealth/found_feedback')" method="post" class="generalForm" id="generalForm">
		  <input type="hidden" id="infoReg" value="$!reg.get('feedback')" />
		  <div style="overflow: hidden; visibility: visible; list-style: outside none none; position: relative;" class="newbox" id="slider1"> 
          <div class="yj formFieldWrapper">
    		<p>请填写您的宝贵意见</p>
    		<textarea name="info" id="info" cols="" rows="" class="infoField requiredField regExpField" maxlength="500"></textarea>
			<br />
			<button type="button" class="go_btn3" id="feedbackSubmitButton" data-form-id="generalForm" >提交</button>
          </div>
        
		  </div>
			<div class="formSubmitButtonErrorsWrapper"> 
                <!-- form errors start --> 
                <span class="formValidationError" id="infoFieldError">
                    <span>请输入您的意见</span>
					<span>请输入1-500个字符</span>
				</span> 
				
                <!-- form errors end -->
              </div>
	  </form>
	  <!--tab-e-->
      
      #Footer("4")
      
    </div>
	<!-- website wrapper ends -->
	#LoadJS("resources/micro/scripts/wealth/feedback")
</body>

#Html("end")