#foreach($!grid in $!bsUserList)
		<div class="txj5">
                              <ul>
                			<li>$!grid.nick</li>
                			<li>$!grid.mobile.substring(0,3)***$!grid.mobile.substring(8,11)</li>
                			<!-- <li>$!money.format($!grid.afterAvialableBlance)</li>-->
                		</ul>
                              
                    </div>
#end