body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, form, fieldset, input, textarea, blockquote, th, td {
	margin: 0px;
	padding: 0px;
}
header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
	display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0px;
}
address, caption, em, code {
	font-style: normal;
	font-weight: normal;
}
pre, code, kbd, samp {
	font-family: inherit;
}
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}
ol, ul {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
a {
	text-decoration: none;
}
.clearfix:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: '.';
}
.clearfix {
	zoom: 1;
}
a {
	color: #333;
}
a:hover {
	color: #f30;
}
.f-fb {
	font-weight: bold;
}
.f-unline {
	text-decoration: none;
}
.f-ffyh {
	font-family: "\5FAE\8F6F\96C5\9ED1";
}
.f-ffar {
	font-family: Arial;
}
.f-ffst {
	font-family: "\5b8b\4f53";
}
.f-lh23 {
	line-height: 23px;
}
.f-lh26 {
	line-height: 26px;
}
.f-lh180 {
	line-height: 180%;
}
.f-lh200 {
	line-height: 200%;
}
.f-f12 {
	font-size: 12px;
}
.f-f14 {
	font-size: 14px;
}
.f-f18 {
	font-size: 18px;
}
.f-fl {
	float: left;
	_display: inline;
}
.f-fr {
	float: right;
	_display: inline;
}
.f-cb {
	clear: both;
}
.f-pr {
	position: relative;
}
.f-dn {
	display: none;
}
.f-db {
	display: block;
}
.f-tal {
	text-align: left;
}
.f-tac {
	text-align: center;
}
.f-tar {
	text-align: right;
}
.f-mt10 {
	margin-top: 10px;
}
.f-mt15 {
	margin-top: 15px;
}
.f-mt40 {
	margin-top: 40px;
}
.f-mt100 {
	margin-top: 100px;
}
.f-mb10 {
	margin-bottom: 10px;
}
.f-mb20 {
	margin-bottom: 20px;
}
.f-mb40 {
	margin-bottom: 40px;
}
.f-ml5 {
	margin-left: 5px;
}
.f-ml10 {
	margin-left: 10px;
}
.f-ml20 {
	margin-left: 20px;
}
.f-mr10 {
	margin-right: 10px;
}
.f-mr20 {
	margin-right: 20px;
}
.f-mr40 {
	margin-right: 40px;
}
.f-pt15 {
	padding-top: 15px;
}
.f-pt45 {
	padding-top: 45px;
}
.f-pt60 {
	padding-top: 60px;
}
.f-pb15 {
	padding-bottom: 15px;
}
.f-pb30 {
	padding-bottom: 30px;
}
.f-csp {
	cursor: pointer;
}
.f-csd {
	cursor: default;
}
.top-nav-wrap {
	position: relative;
	z-index: 10;
	min-width: 1000px;
	height: 75px;
	background: #fff;
	border-bottom: 1px solid #d9d9d9;
	-webkit-box-shadow: rgba(0,0,0,0.05) 3px 3px 4px;
	-moz-box-shadow: rgba(0,0,0,0.05) 3px 3px 4px;
	box-shadow: rgba(0,0,0,0.05) 3px 3px 4px
}
.top-nav-wrap-fix {
	position: fixed;
	top: 0;
	_position: absolute;
_top:expression(eval(document.documentElement.scrollTop));
	left: 0;
}
.top-nav-wrap .tn-header {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	font-family: "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", "SimSun", "\5b8b\4f53";
}
.top-nav-wrap .tn-nav {
	float: left;
	_display: inline;
}
.top-nav-wrap .tn-logo {
	float: left;
	padding-top: 17px;
}
.top-nav-wrap .tn-title {
	float: left;
	position: relative;
	display: inline;
	font-size: 16px;
	border-left: #f5f5f5 solid 1px;
	border-right: #f5f5f5 solid 1px;
	margin-right: -1px;
}
.top-nav-wrap .tn-title .tn-tab {
	width: auto;
	color: #333;
	display: inline-block;
	cursor: pointer;
	position: relative;
	z-index: 9999;
	padding: 0 12px 3px 11px;
	line-height: 68px;
	border-top: 4px solid #fff;
}
.top-nav-wrap .tn-title .tn-tab em {
	float: left;
	display: inline;
	margin-top: 24px;
	width: 22px;
	height: 22px;
	line-height: 22px;
	margin-right: 6px;
	/*background-image: url(//img2.1.com/wx/global/v1/skin/ico1.png);*/
	background-repeat: no-repeat;
}
.top-nav-wrap .tn-title .tn-tab .video {
	background-position: 0 0px;
}
.top-nav-wrap .tn-title .tn-tab .tiku {
	background-position: 0 -27px
}
.top-nav-wrap .tn-title .tn-tab .download {
	background-position: 0 -54px
}
.top-nav-wrap .tn-title .tn-tab .group {
	background-position: 0 -81px;
}
.top-nav-wrap .tn-title .tn-tab .more {
	width: 25px;
	margin-right: 0px;
	background-position: 0px -108px;
}
.top-nav-wrap .tn-title .ui-more {
	float: left;
	width: 20px;
	text-indent: -9999px;
}
.top-nav-wrap .tn-title .tn-tab:hover {
	text-decoration: none;
}
.top-nav-wrap .ui-check .tn-tab .video, .top-nav-wrap .tn-title .tn-tab:hover .video {
	background-position: -35px 0px;
}
.top-nav-wrap .ui-check .tn-tab .tiku, .top-nav-wrap .tn-title .tn-tab:hover .tiku {
	background-position: -35px -27px
}
.top-nav-wrap .ui-check .tn-tab .download, .top-nav-wrap .tn-title .tn-tab:hover .download {
	background-position: -35px -54px
}
.top-nav-wrap .ui-check .tn-tab .group, .top-nav-wrap .tn-title .tn-tab:hover .group {
	background-position: -35px -81px;
}
.top-nav-wrap .tn-title .tn-tab:hover .more {
	background-position: -35px -108px;
}
.top-nav-wrap .ui-check .ui-check-kc, .top-nav-wrap .tn-title:hover .ui-check-kc, .top-nav-wrap .ui-check .ui-more, .top-nav-wrap .tn-title:hover .ui-more {
	border-top: solid #e43c1a 4px;
}
.top-nav-wrap .ui-check .ui-check-tiku, .top-nav-wrap .tn-title:hover .ui-check-tiku {
	border-top: solid #f60 4px;
}
.top-nav-wrap .ui-check .ui-check-group, .top-nav-wrap .tn-title:hover .ui-check-group {
	border-top: solid #4ebd57 4px
}
.top-nav-wrap .ui-check .ui-check-share, .top-nav-wrap .tn-title:hover .ui-check-share {
	border-top: solid #4eacbd 4px;
}
.top-nav-wrap .tn-title .ui-check-group {
	padding-right: 12px!important;
}
.search-area {
	float: left;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 21px;
}
.search-area .search {
	width: 211px;
	height: 30px;
	border: 1px solid #f2f2f2;
}
.search-area .search .search-input {
	width: 152px;
	background: #fff;
	float: left;
	display: inline;
	height: 20px;
	line-height: 20px;
	padding: 5px 5px 5px 8px;
	border: 0px;
	color: #aaa;
	font-size: 14px;
}
.search-area .search-btn {
	float: left;
	display: inline;
	/*background: #f9f9f9 url(//img2.1.com/wx/global/v1/skin/ico1.png) no-repeat -68px 5px;*/
	display: block;
	height: 30px;
	overflow: hidden;
	text-align: center;
	width: 46px;
}
.search-area .search:hover .search-btn, .search-area .search-btn:hover {
	float: left;
	display: inline;
	/*background: #d7d7d7 url(//img2.1.com/wx/global/v1/skin/ico1.png) no-repeat -68px -41px;*/
}
.search-area .search:hover {
	border-color: #ccc
}
.top-nav-wrap .tn-person-r {
	float: right;
	display: inline;
	position: relative;
	_margin-left: -15px;
}
.top-nav-wrap .tn-title-login {
	font-size: 14px;
	font-family: \5b8b\4f53;
	line-height: 75px;
	color: #999;
}
.top-nav-wrap .tn-title-login a {
	color: #333;
	font-family: "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
	text-decoration: none;
	padding: 0 3px;
}
.top-nav-wrap .tn-title-login a:hover {
	color: #f30
}
.top-nav-wrap .tn-title-login a.denglu {
	/*background: url(//img2.1.com/wx/global/v1/skin/ico1.png) no-repeat -85px -89px;*/
	padding-left: 20px;
}
.top-nav-wrap .tn-title-login a.denglu:hover {
	background-position: -85px -123px;
}
.top-nav-wrap .tn-title-login .nav-link {
	display: block;
	width: 24px;
	height: 75px;
	position: relative;
	border-left: 1px solid #f5f5f5;
	border-right: 1px solid #f5f5f5;
	margin-left: -1px;
	float: right;
	padding: 0px 10px;
	cursor: pointer
}
.top-nav-wrap .tn-title-login .nav-link img {
	margin-top: 26px;
	float: left;
}
.top-nav-wrap .tn-title-login .nav-icon {
	/*background: url(//img2.1.com/wx/global/v1/skin/ico1.png) no-repeat -78px -238px;*/
	display: block;
	width: 24px;
	height: 24px;
	position: relative;
	margin-top: 28px;
}
.top-nav-wrap .tn-title-login .nav-icon:hover {
	background-position: -78px -270px;
}
.top-nav-wrap .tn-title-login .num {
	background: #f56442;
	border-radius: 2px;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 14px;
	padding: 0 3px;
	position: absolute;
	right: 7px;
	top: 20px;
}
.top-nav-wrap .tn-title-login .nav-link:hover {
	background: #f7f7f7
}
.top-nav-wrap .qt-login {
	position: absolute;
	clear: both;
	left: 96px;
	top: 26px;
	width: 70px;
}
.top-nav-wrap .qt-login .QQ_denglu, .top-nav-wrap .qt-login .weibo_denglu {
	width: 22px;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	/*background: url(//img2.1.com/wx/global/v1/skin/ico1.png) no-repeat -78px -160px;*/
	float: left;
	display: inline;
	margin-left: 7px;
	text-indent: -9999px;
	filter: alpha(opacity=70);
	opacity: 0.7;
	padding: 0px;
}
.top-nav-wrap .qt-login .weibo_denglu {
	background-position: -78px -185px;
}
.top-nav-wrap .qt-login .QQ_denglu:hover, .top-nav-wrap .qt-login .weibo_denglu:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}
.layer-border {
	border: 1px solid;
	border-color: #bfbfbf #acacac #acacac;
	position: absolute;
	z-index: 9999;
	right: 0px;
	top: 75px;
	background: #fff;
}
.icon-up-arrow {
	width: 20px;
	height: 0;
	position: relative;
	font-size: 0;
	line-height: 0;
	right: 3px;
}
.icon-up-arrow i {
	position: absolute;
	top: -11px;
	left: 50px;
	width: 20px;
	height: 11px;
	overflow: hidden;
	/*background: url(//img2.1.com/wx/global/v1/skin/ico1.png) no-repeat -80px -217px*/;
	clear: both
}
.icon-up-arrow i {
	left: 135px
}
.layer-border .n-unity {
	overflow: hidden;
	width: 165px;
}
.layer-border .n-unity span {
	padding-left: 10px;
	max-width: 155px;
	height: 22px;
	overflow: hidden
}
.layer-border .n-unity a {
	width: 135px;
	height: 22px;
	line-height: 22px;
	padding: 7px 15px 9px;
	overflow: hidden;
	display: block;
	color: #444;
	font-size: 14px
}
.layer-border .n-unity a:hover {
	background-color: #ededed;
	color: #f30
}
.layer-border .n-unity span {
	float: left;
	padding-left: 12px;
	cursor: pointer
}
.f-icon {
	width: 22px;
	height: 22px;
	display: inline-block;
	line-height: 14px;
	vertical-align: text-top;
	/*background: url(//img2.1.com/wx/global/v1/skin/ico1.png) no-repeat;*/
}
.icon-per {
	float: left;
	background-position: 0 -135px
}
.icon-kc {
	float: left;
	background-position: 0 -162px
}
.icon-tiku {
	float: left;
	background-position: 0 -189px
}
.icon-share {
	float: left;
	background-position: 0 -216px
}
.icon-group {
	float: left;
	background-position: 0 -243px
}
.icon-gzhu {
	float: left;
	background-position: 0 -270px
}
.icon-xiaoxue {
	float: left;
	margin-left: -5px;
	background-position: -35px -135px
}
.icon-zixun {
	float: left;
	background-position: -35px -162px
}
.icon-PC {
	float: left;
	background-position: -35px -189px
}
.icon-IPh {
	float: left;
	background-position: -35px -216px
}
.icon-anz {
	float: left;
	background-position: -35px -243px
}
.n-set-bar {
	width: 165px;
	border-top: 1px solid #f0f0f0;
	height: 53px;
	padding-left: 0px;
	overflow: hidden;
	background-color: #fafafa
}
.n-set-bar a {
	padding: 0 19px!important;
	line-height: 20px;
	margin: 16px 0;
	float: left;
	display: inline-block;
	font-size: 14px;
	color: #999;
}
.n-set-bar a:hover {
	color: #f5690a
}
.n-set-bar .border-r {
	width: 1px;
	float: left;
	display: inline-block;
	height: 53px;
	margin: 0;
	border-right: 1px solid #f0f0f0
}
.n-set-bar a.n-quit:hover {
	text-decoration: none
}
.fix:after, .clearfix:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
	overflow: hidden
}
.fix {
*zoom:1;
}
.links {
	width: 100%;
	margin: 0px auto;
	height: 230px;
	padding: 0;
	background: #fff;
	border-top: 1px solid #ddd;
	z-index: 0;
}
.links .link_bd {
	min-width: 1000px;
	height: auto;
	margin: 0 auto;
	padding: 0px;
	position: relative;
}
.links_pane {
	width: 20%;
	float: left;
	display: inline;
	margin: 20px 0px 0px;
	padding: 0px;
	padding-bottom: 15px;
}
.link_bd h4 {
	width: 90%;
	position: relative;
	float: left;
	display: inline;
	font: normal 18px/40px "microsoft yahei";
	margin: 0px 0px 5px 22px;
	cursor: pointer;
	color: #333;
}
.link_bd h4 em {
	margin-top: 11px;
	margin-right: 7px;
}
.link_bd h4 a {
	color: #333
}
.link_bd ul, .link_bd li {
	width: 100%;
	float: left;
	display: inline;
	margin: 0px;
	padding: 0px;
}
.link_bd li {
	font: normal 12px/25px Arial;
	padding-left: 24px;
	width: 152px;
	color: #000;
}
.link_bd li a {
	color: #666
}
.link_bd li a:hover {
	color: #ff5a00
}
#footer {
	clear: both;
	font: 12px/24px Arial !important;
	margin: 0px auto;
	width: 100%;
	color: #333;
	text-align: center;
	padding-top: 0px;
	text-decoration: none;
	padding-bottom: 60px;
	background: #fff
}
#footer .a2 {
	min-width: 1000px;
	margin: 0px auto;
	border-top: 1px solid #eee;
	text-align: center;
	color: #666;
	font: 12px/24px Arial !important;
	word-spacing: 6px;
	padding-top: 30px;
	background: #fff
}
#footer .a2 A:link, #footer .a2 A:visited {
	color: #333
}
#footer strong.cDRed {
	color: #d00;
	font-size: 14px;
	font-weight: 500;
}
#footer .a2 A:hover {
	COLOR: #ff0000;
	text-decoration: underline
}
#footer .a2 span {
	font-weight: normal;
	color: #999;
	word-spacing: 0px;
}
.course-ico {
	width: 93px;
	height: 30px;
	position: absolute;
	left: 0;
	top: 0;
	/*background: url(//img2.1.com/wx/global/v1/skin/c-bg-hot.png) no-repeat;*/
	z-index: 10000;
}
.icon-jf {
	float: left;
	background-position: -34px -272px;
}
body {
	background-color: #f8f7f3;
	font-size: 12px
}
.f-mt20 {
	margin-top: 20px
}
.f-mt30 {
	margin-top: 30px
}
.f-rt {
	float: right
}
.f-lf {
	float: left
}
.f-txt-rt {
	text-align: right
}
a {
	color: #333;
}
a:link {
	color: #333;
	text-decoration: none;
}
a:visited {
	color: #333;
}
a:hover {
	color:red;
	text-decoration: none;
}
a:active {
	color: #f06000;
}
.redTxt, a.redTxt:link, a.redTxt:visited, .redTxt a {
	color: red;
}
.orgTxt, a.orgTxt:link, a.orgTxt:visited, .orgTxt a {
	color: #f06000;
}
.grayTxt, a.grayTxt:link, a.grayTxt:visited, .grayTxt a {
	color: #9093a6;
}
a.grayTxt:hover {
	color: #666;
}
.blueTxt, a.blueTxt:link, a.blueTxt:visited, .blueTxt a {
	color: #4790d2;
}
.greenTxt, a.greenTxt:link, a.greenTxt:visited, .greenTxt a {
	color: #53ab10;
}
/*global msg info*/
.global-alert {
	padding: 8px 0;
	width: 998px;
	margin: 2px auto;
	border: 1px solid rgba(0, 0, 0, 0);
	text-indent: 10px;
	font-size: 12px;
}
.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #a3d48e
}
.alert-success hr {
	border-top-color: #93cd7c
}
.alert-success .alert-link {
	color: #2b542c
}
.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #85c5e5
}
.alert-info hr {
	border-top-color: #70bbe1
}
.alert-info .alert-link {
	color: #245269
}
.alert-warning {
	color: #333;
	background-color: #f9edbe;
	border-color: #f0c36d
}
.alert-warning hr {
	border-top-color: #eeb956
}
.alert-warning .alert-link {
	color: #1a1a1a
}
.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #d59595
}
.alert-danger hr {
	border-top-color: #ce8383
}
.alert-danger .alert-link {
	color: #843534
}
.alert-success, .alert-info, .alert-warning, .alert-danger {
	text-shadow: 0 1px 0 rgba(255,255,255,.5)
}
/*end*/

.main-nav:after, .screening dl:after, .xxm-poptip-cont:after, .content:after, .exam-report-cont-blk .biaoti-hd:after, .exam-report-cont-blk .number-bd:after, .np-post-header:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: '.';
}
.content {
	width: 1000px;
	margin: 0 auto;
	font-family: "Microsoft YaHei", "SimSun", "\u5b8b\u4f53";
	padding-bottom: 30px;
	min-height: 600px;
	margin: 20px auto;
}
.main-nav {
	width: 100%;
	min-width: 1000px;
	padding: 15px 0;
	font-family: "Microsoft YaHei", "SimSun", "\5b8b\4f53";
	background: #fafafa;
	overflow: visible;
	position: relative;
	z-index: 5; /*margin-top:-20px;*/
	-webkit-box-shadow: rgba(0,0,0,0.05) 3px 3px 4px;
	-moz-box-shadow: rgba(0,0,0,0.05) 3px 3px 4px;
	box-shadow: rgba(0,0,0,0.05) 3px 3px 4px;
	border-bottom: 2px solid #f06000;
}
.main-nav .tn-nav {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	clear: both
}
.main-nav .tn-name {
	float: left;
	position: relative;
	height: 65px;
	line-height: 65px;
	margin: -15px 0;
}
.main-nav .tn-name-txt {
	float: left;
	font-size: 20px;
	color: #444;
	position: relative;
	z-index: 88;
	cursor: pointer
}
.main-nav .tn-name-txt i {
	float: left;
	font-style: normal;
	padding-right: 20px;
}
.main-nav .tn-name-txt em {
	float: left;
	width: 25px;
	height: 12px;
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/tk_gd.png) 0 0 no-repeat;*/
	font-size: 0;
	margin-top: 27px;
}
.main-nav .tn-pop {
	width: 250px;
	position: absolute;
	left: -15px;
	top: 17px;
	background: #fafafa;
	color: #FFF;
	padding-top: 48px;
	display: none;
	font-size: 14px;
}
.main-nav .tn-advert {
	float: left;
	position: relative;
	z-index: 999;
	margin: 3px 0 -27px 10px;
	margin-right: -50px
}
.main-nav .cue {
	width: 105px;
	height: 82px;
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/tk_gd.png) 0 -679px;*/
	position: absolute;
	z-index: 999;
	left: -115px;
	top: 20px
}
.main-nav .cue .close {
	width: 22px;
	height: 22px;
	float: left;
	text-indent: -9999px;
	display: block;
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/tk_gd.png) 0 -679px #fafafa;*/
	-webkit-transition: 0.2s linear;
	transition: 0.2s ease-in;
}
.main-nav .cue .close:hover {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}
.main-nav .cue .txt {
	width: 75px;
	padding-top: 20px;
	float: left;
	text-align: center;
	font: bold 14px/19px "";
	color: #64ad75;
}
.main-nav .exam-name-pop {
	background-color: #fafafa;
	border: #f06000 solid 1px;
	border-top: none;
	position: relative;
	-webkit-box-shadow: 2px 3px 3px #dfdfdf;
	-moz-box-shadow: 2px 3px 3px #dfdfdf;
	box-shadow: 2px 3px 0px #ededed;
	float: left;
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
	font-family: "\5b8b\4f53"
}
.main-nav .exam-name-pop li {
	width: 100%;
	float: left;
	border-bottom: #f0f0f0 solid 1px;
	display: inline;
}
.main-nav .exam-name-pop li:hover {
	background-color: #fcf9ee;
}
.main-nav .exam-name-pop a {
	padding: 7px 0;
	display: block;
	text-align: left;
	line-height: 30px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
}
.main-nav .exam-name-pop a:hover {
	color: #f06000;
}
.main-nav .exam-name-pop .exam-n {
	width: 140px;
	float: left;
	font-size: 14px;
	padding-left: 15px;
	color: #666;
}
.main-nav .exam-name-pop .exam-set {
	float: right;
	font-size: 12px;
	padding-right: 10px;
	color: #999;
	line-height: 27px;
	padding: 0 10px;
	margin-top: 7px;
	border: #e5e5e5 solid 1px;
	margin-right: 10px;
	display: inline;
	background-color: #f7f7f7;
	box-shadow: 1px 1px 1px #fff inset;
	border-radius: 2px;
}
.main-nav .exam-name-pop .exam-set:hover {
	color: #999;
	background-color: #fafafa;
	color: #009932
}
.main-nav .exam-name-pop .exam-default {
	color: #009932!important;
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/tk_gd.png) -175px -250px no-repeat;*/
	float: right;
	padding-right: 10px;
	color: #009932;
	cursor: default;
	font-size: 12px;
	line-height: 33px;
	height: 33px;
	padding-left: 30px;
}
.main-nav .exam-name-pop .exam-more {
	background-color: #fcf9ee;
}
.main-nav .exam-name-pop .exam-more a {
	padding-left: 10px;
	color: #f06000;
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/tk_gd.png) -168px -208px no-repeat;*/
	padding-left: 40px
}
.main-nav .exam-name-pop-lf, .main-nav .exam-name-pop-rt {
	width: 45px!important;
	height: 10px!important;
	font-size: 0;
	zoom: 1;
	position: absolute;
	top: 48px;
	background: none;
	/*background-image: url(//img2.1.com/wx/tiku/v1/skin/a/tk_gd.png);*/
	background-repeat: no-repeat;
	z-index: 99
}
.main-nav .exam-name-pop-lf {
	background-position: -42px 0;
	left: -37px
}
.main-nav .exam-name-pop-rt {
	background-position: -92px 0;
	right: -37px
}
.main-nav .tn-option {
	float: right;
}
.main-nav .tn-option a {
	padding: 0 20px;
	float: left;
	line-height: 30px;
	font-size: 14px;
	margin: 3px 0px 0 5px;
	position: relative;
}
.main-nav .tn-option a:hover {
	background: #f06000;
	color: #FFF;
	border-radius: 2px;
}
.main-nav .tn-option .ui-check {
	background-color: #f06000;
	color: #FFF;
	border-radius: 2px;
}
.main-nav .tn-option i {
	padding: 0 5px;
	background-color: #fff;
	font-size: 12px;
	line-height: 17px;
	background-color: #5db552;
	border: #4fa944 solid 1px;
	color: #FFF;
	position: absolute;
	left: 79px;
	top: -3px;
	border-radius: 15px;
	font-style: normal;
	z-index: 3
}
.main-nav .tn-option i:empty {
	display: none
}
.ui-show .tn-pop {
	display: block
}
.screening {
	width: 958px;
	border: #e3e3e3 solid 1px;
	background-color: #FFF;
	padding: 10px 20px 10px 20px;
	-webkit-box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
	-moz-box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
	box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
}
.screening dl {
	width: 45%;
	font-size: 14px;
	line-height: 31px;
	border-bottom: 0px solid #f2f2f2;
	 float: left;
	
}

/*个人资料-姓名.身证-s*/
.per_list{
	width:798px;
	border: #e3e3e3 solid 1px;
	background-color: #FFF;
	padding: 30px 20px 10px 20px;
	-webkit-box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
	-moz-box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
	box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
}

.per_list dl::after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.per_list dt {
    color: #999;
    float: left;
    font-size: 14px;
    margin-top: 8px;
}
.per_list dd {
    padding-bottom: 10px;
    width: 300px;
	float: left;
}

 

.per_list dd a {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 3px;
    margin-top: 8px;
    padding: 0 6px;
    white-space: nowrap;
}
/*个人资料-姓名.身证-e*/



.screening .ul-check {
    background-color: #f06000;
    color: #fff;
}
.screening dd a {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 3px;
    margin-top: 8px;
    padding: 0 6px;
    white-space: nowrap;
}
.screening dt {
	float: left;
	color: #999;
	margin-top: 8px;
	 font-size: 14px;
}
.screening dd {
	width: 915px;
	padding-bottom: 10px;
}

.screening dd a:hover {
	background-color: #f06000;
	color: #FFF;
}
.screening dd a span {
	float: left
}
.screening dd a i {
	width: 7px;
	height: 4px;
	float: left;
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/tk_main.png) -393px -32px;*/
	font-size: 0;
	margin-left: 5px;
	margin-top: 9px
}
.screening dd a:hover i {
	background-position: -393px -53px
}
.screening dd a:hover .pgdn {
	background-position: -393px -70px
}
.screening .ul-show {
	width: 895px;
	padding: 0px 10px 8px 0px;
	background-color: #f8f7f3;
	clear: both;
	zoom: 1;
	margin-bottom: 10px
}
.screening .ul-check {
	color: #ff9900;
}
.screening .ul-check:hover {
	color: #FFF
}
.screening .ul-check i {
	background-position: -393px -70px
}
.screening dd a.ul-check:hover i {
	background-position: -393px -70px
}
.screening .dateTxt {
	margin: 0;
	margin-top: 7px;
	padding: 0 10px;
	float: left;
	margin-left: 10px;
	display: inline;
	border: 1px solid #cdcfd1;
	border-bottom-color: #abadb2;
	background: #fff;
	position: relative;
	line-height: 23px;
	height: 23px;
	width: 75px;
	width: 170px;
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/tk_gd.png) no-repeat 170px -194px;*/
}
.screening-dn {
	width: 998px;
	border: #e3e3e3 solid 1px;
	border-top: #f9cccb solid 1px;
	position: relative;
	margin-top: -1px;
	background-color: #f3f3f3;
	text-align: center;
}
.screening-dn .btn {
	display: block;
	background-color: #fff;
	border: #f9cccb solid 1px;
	border-top-color: #FFF;
	position: relative;
	z-index: 2;
	width: 100px;
	padding-right: 10px;
	margin: 0 auto;
	margin-top: -1px;
	line-height: 30px;
	border-radius: 0 0 5px 5px;
	color: #f06000;
	font-weight: bold;
	position: relative;
}
.screening-dn .btn em {
	display: block;
	width: 15px;
	height: 7px;
	font-size: 0;
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/tk_main.png) -389px -90px;*/
	position: absolute;
	right: 24px;
	bottom: 11px
}
.screening-dn .btn .dn {
	background-position: -391px -104px
}
.main-nav:after, .screening dl:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: '.';
}
#footer .a2 {
	border-top: none
}
#elevator_item {
	width: 60px;
	height: 100px;
	position: fixed;
	right: 15px;
	bottom: 100px;
	z-index: 99;
	_position: absolute;
_top: expression(document.documentElement.clientHeight-410+documentElement.scrollTop +"px");
}
#elevator_item.off {
	opacity: 0;
	visibility: hidden
}
#elevator {
	display: block;
	width: 60px;
	height: 35px;
	background-color: #444;
	background-color: rgba(0, 0, 0, .6);
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	cursor: pointer;
	margin-bottom: 10px;
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/transparent_bg.png) repeat;*/
	padding-top: 15px
}
#elevator i {
	width: 27px;
	height: 17px;
	display: block;
	margin: 0 auto;
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/tk_gd.png) 0px -54px no-repeat;*/
}
#elevator:hover {
	background-color: rgba(0, 0, 0, .7)
}
#elevator:active {
	background-color: rgba(0, 0, 0, .75)
}
#elevator_item .qr, #elevator_item .feedback {
	display: block;
	width: 60px;
	height: 40px;
	padding-top: 13px;
	border-radius: 2px;
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/transparent_bg.png) repeat;*/
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	cursor: pointer;
	margin-bottom: 10px
}
#elevator_item .qr i, #elevator_item .feedback i {
	width: 32px;
	height: 25px;
	display: block;
	margin: 0 auto;
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/tk_gd.png) -34px -49px no-repeat;*/
}
#elevator_item .qr:hover, #elevator_item .feedback:hover {
	background-color: rgba(0, 0, 0, .7)
}
#elevator_item .feedback i {
	background-position: -77px -51px;
}
.ui-page {
	height: 25px;
	line-height: 25px;
	padding: 15px 0px 15px;
	text-align: center;
	clear: both;
}
.ui-page * {
	display: inline-block;
	vertical-align: middle;
}
.ui-page a, .ui-page b {
	display: inline-block;
	padding: 0px 9px;
	color: #333;
	background: #FFF;
	border: 1px #ccc solid;
	height: 25px;
	margin: 0px 3px;
	font: bold 12px/25px Arial;
	color: #555;
}
.ui-page b {
	border: none;
	color: #555;
	margin-right: 0px;
}
.ui-page a.ui-page-turn {
	display: inline-block;
	padding: 0px 12px;
	font: normal 12px/25px "\u5b8b\u4f53";
	content: '\3C';
}
.ui-page a.ui-page-turn:hover {
	background: #f0f0f0;
	color: #333;
	border: 1px #ddd solid;
	-moz-box-shadow: #f5f5f5 1px 1px 2px;
	-webkit-box-shadow: #f5f5f5 1px 1px 2px;
	box-shadow: #f5f5f5 1px 1px 2px;
}
.ui-page a:hover {
	background: #f5f5f5;
	color: #333;
}
.ui-page a.z-on, .ui-page a.z-on:hover {
	background: #f06000;
	color: #FFF;
	border: 1px #f06000 solid;
}
.ui-page .ui-page-txt {
	display: inline-block;
	border: 1px #ccc solid;
	width: 40px;
	padding: 0px 5px;
	height: 25px;
	line-height: 25px;
	color: #555;
	box-shadow: 0px 1px 1px 2px #f8f8f8 inset;
	overflow: hidden;
	margin-right: 5px;
	outline: none;
}
.ui-page .ui-page-skip b {
	font-weight: normal;
}
.ui-page .ui-page-submit {
	font-weight: normal;
}
.np-post-footer:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: '.';
}
.reply-box {
	background-color: #f1f1f1;
	padding: 20px;
	border-bottom: #d5d5d5 solid 1px
}
.reply-box-hd {
	width: 100%;
}
.reply-box-hd span {
	width: 120px;
	height: 20px;
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/tk_gd.png) -44px -197px;*/
	float: left
}
.reply-box-hd a {
	font-size: 14px;
	font-family: "Microsoft Yahei"
}
.reply-box-hd b {
	color: #c00
}
.reply-box-cont textarea {
	width: 97%;
	height: 72px;
	line-height: 24px;
	float: left;
	border-radius: 6px;
	box-shadow: 0 1px 1px #C6C6C6 inset;
	overflow: auto;
	padding: 10px 10px;
	background: #fff;
	font-size: 14px;
	margin-top: 20px;
	border: #ABABAB solid 1px;
	outline: none;
	resize: none
}
.reply-box-bd {
	width: 100%;
	padding-top: 10px
}
.reply-box-bd i {
	width: 17px;
	height: 17px;
	display: block;
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/tk_gd.png) -28px -197px;*/
	float: left;
	margin-top: 2px
}
.reply-box-bd .login-link {
	float: left;
	padding-left: 10px;
	font-family: "Microsoft Yahei";
	font-size: 14px
}
.reply-box-bd .login-link b {
	color: #059
}
.reply-box-bd .login-btn {
	width: 87px;
	height: 34px;
	line-height: 34px;
	float: right;
	font-weight: bold;
	color: #FFF;
	background-color: #f06000;
	border: #df5900 solid 1px;
	font-size: 14px;
	text-align: center;
}
.reply-box-bd .login-btn:hover {
	background-color: #df5900;
	color: #fff
}
.reply-info {
	width: 100%;
}
.reply-info-hd {
	width: 100%;
	background-color: #f1f1f1;
	border-top: #FFF solid 1px
}
.reply-info-hd span {
	font-family: "Microsoft Yahei";
	font-size: 16px;
	float: left;
	line-height: 40px;
	font-weight: bold;
	padding-left: 20px
}
.reply-info-hd .btn {
	width: 56px;
	height: 23px;
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/tk_gd.png) -120px -54px;*/
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	display: inline;
	cursor: pointer
}
.reply-info-hd .btn:hover {
	background-position: -120px -27px
}
.np-avatar {
	border-radius: 4px;
}
.np-avatar {
	cursor: pointer;
	-webkit-user-select: none
}
.np-post {
	zoom: 1;
}
.np-post {
	border-bottom: solid 1px;
}
.np-post-header {
	padding-top: 10px;
	line-height: 20px;
}
.np-post-content {
	margin-top: 6px;
	font-size: 14px;
	line-height: 22px;
	width: 98%
}
.np-post-content p {
	word-wrap: break-word;
}
.np-post-footer {
	margin-top: 3px;
	padding-bottom: 5px;
	width: 98%;
	font-size: 12px
}
.np-post-footer a {
	margin-left: 10px;
}
.np-post-footer em {
	font-style: normal
}
.np-post-footer .np-btn-newreply {
	margin-right: 0;
	float: right;
	margin-top: 4px;
*margin-top:-30px;
}
/*.np-comment-list{ max-height: 350px;overflow: auto; padding: 1px 0;}*/
.np-comment-list .np-post {
	position: relative;
	padding-left: 60px;
	vertical-align: top;
}
.np-comment-list .np-post-body {
	padding-left: 10px;
	position: relative
}
.np-comment-list .np-avatar {
	position: absolute;
	top: 10px;
	left: 20px;
}
.np-comment-list .np-post-header span {
	margin-right: 3px;
}
.np-comment-list .np-post-header .np-time {
	margin-left: 7px;
}
.np-comment-list .np-btn-report {
	position: absolute;
	margin-left: 50px;
	right: 0;
	top: 16px;
	display: none;
	cursor: pointer;
	z-index: 2
}
.np-comment-list a.report {
	background-position: -449px -61px;
	margin-left: 0px;
	padding-left: 15px
}
.np-comment-list a.report:hover, .np-notice-list a.report:hover {
	background-position: -449px -41px;
}
.np-comment-list .np-post .np-post {
	padding-left: 35px;
	border-top: dotted 1px;
}
.np-comment-list .np-post .np-post .np-post-content, .np-comment-list .np-post .np-post .np-post-footer {
	margin-top: 1px;
}
.np-avatar {
	width: 40px;
	height: 40px;
}
.np-user {
	display: inline-block;
	color: #059!important
}
.np-user:hover {
	text-decoration: none;
	color: #f06000!important
}
.np-time {
	display: inline-block;
}
.np-icon-reply-weak {
	padding-left: 20px;
	background-position: -185px 3px;
}
.np-status {
	width: 8px;
	height: 8px;
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/tk_gd.png) -112px -793px;*/
	display: inline-block;
	font-size: 0;
	position: absolute;
	left: 52px;
	top: 42px;
	margin-bottom: -10px;
	z-index: 55
}
.np-status.on-line {
	background-position: -112px -781px;
}
.np-cream {
	width: 54px;
	height: 32px;
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/tk_gd.png) -123px -470px;*/
	position: absolute;
	right: 20px;
	top: 20px;
}
.children .np-status {
	left: 32px
}
.np-btn {
	display: inline-block;
}
.np-btn:hover {
	text-decoration: none;
}
.np-btn-upvote {
	padding-left: 20px;
	background-position: -185px -57px;
	margin-right: 6px
}
.np-btn-upvote:hover {
	background-position: -185px -82px
}
.np-btn-oppose {
	padding-left: 20px;
	background-position: -185px -465px;
	margin-right: 6px
}
.np-btn-oppose:hover {
	background-position: -185px -440px
}
.np-btn-reply {
	padding-left: 19px;
	background-position: -185px 3px;
}
.np-btn-reply:hover {
	background-position: -185px -28px
}
.np-tip-newpost {
	clear: both;
	position: absolute;
	top: 53px;
	left: 20px;
	width: 40px;
	height: 24px;
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/tk_gd.png) -120px -375px;*/
	color: #FFF;
	text-align: center;
	padding-top: 1px;
	cursor: pointer
}
.np-icon-reply-weak, .report, .np-btn-upvote, .np-btn-reply, .np-btn-oppose {
	/*background-image: url(//img2.1.com/wx/tiku/v1/skin/a/tk_gd.png);*/
	background-repeat: no-repeat;
}
.np-post-header, .np-post-footer, .np-time, .np-btn:link, .np-frame .np-btn-active:hover {
	color: #999;
}
.np-btn:hover {
	color: #555;
}
.np-comment-list .np-post .np-post {
	border: none;
	border-top: 1px dotted #CCC;
}
.np-post {
	border-color: #DDD;
}
.children .np-avatar {
	left: 0px;
}
.children .np-tip-newpost {
	left: 0
}
.reply-textarea {
	width: 97%;
}
.reply-textarea textarea {
	width: 98%;
	padding: 1%;
	border: #D5D5D5 solid 1px;
	border-bottom-color: #E3E3E3;
	border-radius: 3px;
	outline: none;
	resize: none;
	box-shadow: 0 1px 1px #F2F2F2 inset;
}
.np-reply-box-info {
	float: left;
	line-height: 25px;
}
.np-reply-box-info .pop_user_login {
	color: #f06000;
	font-weight: bold
}
.np-reply-box-footer {
	padding: 10px 0
}
.np-reply-box-footer .submit {
	float: right;
	line-height: 30px;
	padding: 0 20px;
	background-color: #f06000;
	border: #df5900 solid 1px;
	color: #FFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-right: -0.4%;
	position: relative
}
.np-reply-box-footer .submit:hover {
	background-color: #df5900;
	color: #fff
}
.reply-loading {
	width: 100%;
	line-height: 40px;
	font-family: "Microsoft Yahei";
	font-size: 14px;
	color: #999;
	text-align: center;
	display: block;
	background: #f8f8f8;
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f2f2f2));
	background: -moz-linear-gradient(top, #fefefe, #f8f8f8);
}
.reply-loading:hover {
	background: #f2f2f2;
}
.children .reply-textarea {
	width: 96%;
	padding-left: 10px
}
.xxm-poptip {
	width: 250px;
	position: relative;
	box-shadow: 0px 0px 2px 2px #FDF7DF;
	border-radius: 3px;
	position: absolute;
	z-index: 99
}
.xxm-poptip-cont {
	padding: 8px 12px;
	border: 1px #FFBB76 solid;
	background: #fffcee;
	border-radius: 3px;
	font: normal 12px/20px "\5b8b\4f53";
	color: #666;
}
.xxm-poptip-arrow {
	position: absolute;
	left: 25px;
	top: -9px;
	clear: both;
}
.xxm-poptip-arrow em, .xxm-poptip-arrow i {
	height: 19px;
	width: 17px;
	font-family: Simsun;
	font-size: 16px;
	line-height: 21px;
	overflow: hidden;
	position: absolute;
	font-style: normal;
}
.xxm-poptip-arrow i {
	top: 1px;
	color: #fffcee;
}
.xxm-poptip-arrow em {
	color: #FFBB76;
}
.xxm-poptip-cont .a-btn {
	color: #f06000;
}
.xxm-poptip-arrow-l {
	position: absolute;
	left: -7px;
	top: 9px;
}
.xxm-poptip-arrow-l i {
	top: 0px;
	left: 1px;
}
.xxm-poptip-arrow-b {
	position: absolute;
	left: 25px;
	top: auto;
	bottom: 10px;
}
.xxm-poptip-arrow-b i {
	top: -1px
}
.exam-report {
	width: 1000px;
}
.exam-lf {
	width: 140px;
	float: left
}
.exam-tab {
	width: 145px;
	border: #e3e3e3 solid 1px;
	background-color: #fff;
	-webkit-box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
	-moz-box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
	box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
	float: left
}
.exam-tab li {
	width: 100%;
	line-height: 60px;
	border-bottom: #e8e8e8 solid 1px;
	margin-bottom: -1px;
	font-size: 16px;
	text-align: left;
	text-indent: 20px;
	position: relative;
	cursor: pointer;
	float: left
}
.exam-tab li:hover {
	background-color: #f5f5f5
}
.exam-tab .ui-check {
	background-color: #f54750;
	color: #FFF;
	font-weight: bold;
	cursor: default;
	box-shadow: 0px 0px 3px 3px #eb343d inset;
}
.exam-tab .ui-check:hover {
	background-color: #eb343d;
}
.exam-tab .ui-check .ico {
	width: 6px;
	height: 12px;
	display: block;
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/tk_gd.png) -150px 0 no-repeat;*/
	position: absolute;
	font-size: 0;
	right: 15px;
	top: 25px
}
.exam-tab .ui-check a {
	color: #fff
}
.exam-report-cont-blk {
	width: 840px;
	float: right;
}
.exam-report-cont-blk u {
	color: #f06000;
}
.exam-report-cont-blk .biaoti-hd {
	width: 96%;
	margin: 0 auto;
	color: #999;
	font-size: 14px;
	padding-top: 20px
}
.exam-report-cont-blk .number-bd {
	width: 100%;
}
.exam-tab a {
	display: block;
}
.exam-tab .ui-check a {
	color: #FFF
}
.list-empty {
	margin: 60px auto;
	width: 530px;
}
.list-empty p {
	color: #999;
	line-height: 30px;
	font-size: 16px
}
.list-empty p.last {
	margin-bottom: 12px;
}
.book-pen {
	width: 153px;
	height: 102px;
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/tk_gd.png) no-repeat 0 -89px;*/
	margin-top: 8px;
	float: left;
}
.empty-text {
	margin-left: 175px;
	padding-top: 14px;
}
.page-img-error {
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/page-img-error.jpg) center center no-repeat;*/
	width: 200px;
	height: 200px;
}
.page_ajax_loading_bg {
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/loading_metro.gif) center center no-repeat*/
}
.page_ajax_loading {
	padding: 50px 0;
	text-align: center;
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/loading_metro.gif) center center no-repeat*/
}
.page_ajax_empty {
	padding: 50px 0;
	text-align: center;
}
.top-nav-wrap {
	-webkit-box-shadow: rgba(0,0,0,0.05) 0px 0px 0px;
	-moz-box-shadow: rgba(0,0,0,0.05) 0px 0px 0px;
	box-shadow: rgba(0,0,0,0.05) 0px 0px 0px;
	border-bottom: 1px solid #eee;
}
.tk-integral {
	cursor: pointer;
	z-index: 100;
	height: 100px;
	width: 46px;
	display: block;
	cursor: pointer;
}
.tk-integral .integral-hide {
	color: #bdbdbd;
	cursor: pointer;
	position: absolute;
	z-index: 200;
	left: -10px;
	top: -5px;
	text-decoration: initial
}
.tk-integral .integral-pop {
	position: absolute;
	z-index: 100;
	left: 0px;
	top: -140px;
	height: 152px;
	color: #dcf9b6;
	overflow: hidden
}
.tk-integral .integral-pop span {
	color: #323232;
	line-height: 18px;
	position: absolute;
	left: 0;
	top: 0;
	padding: 15px 13px;
	text-align: left
}
.tk-integral .integral-pop .btn-24-green {
	position: absolute;
	left: 35px;
	top: 78px;
	line-height: 26px;
	height: 26px;
	font-family: Microsoft Yahei
}
.tk-integral .integral-pop.pop-bubble {
	width: 136px;
	height: 140px;
	background-repeat: no-repeat;
}
.tk-integral .integral-progressbar {
	text-align: left;
	position: relative;
	top: 5px;
	display: none;
	margin: 0 auto;
	width: 84px;
	height: 5px;
	border-radius: 6px;
	background-color: #e6e6e6;
	vertical-align: middle
}
.tk-integral .integral-progressbar .progress-line {
	text-align: left;
	display: block;
	width: 0;
	background-color: #66cc52;
	height: 5px;
	border-radius: 6px;
	vertical-align: top
}
.tk-integral .integral-progressbar .ui-tooltip {
	background-color: #66cc52;
	color: #fff;
	border: 1px solid #66cc52;
	padding: 2px;
	position: relative;
	left: -22%;
	width: 28px;
	height: 16px;
	padding: 0 2px;
	top: 8px;
	text-align: center
}
.tk-integral .img-pitiful {
	width: 150px;
	height: 125px;
	display: block;
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/jifen.gif) no-repeat*/
}
.tk-integral .integral-pop.pop-bubble {
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/tk_gd.png) 0px -224px*/
}
.tk-integral .integral-pop .btn-green {
	position: absolute;
	left: 30px;
	top: 78px;
	line-height: 26px;
	height: 26px;
	font-family: Microsoft Yahei;
	color: #fff
}
.tk-integral a.btn-green {
	border: 0;
	padding: 0;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	border: 1px solid transparent;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	padding: 0 15px;
	border-color: #e75c00;
	background-color: #f06000;
	background-repeat: repeat-x;
}
.tk-integral .pop-cross {
	width: 18px;
	height: 18px;
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: middle;
*vertical-align:auto;
*zoom:1;
*display:inline;
	/*background: url(//img2.1.com/wx/tiku/v1/skin/a/tk_gd.png) -159px -89px no-repeat*/
}
.tk-integral .integral-pop .success {
	width: 110px;
	color: #323232;
	line-height: 18px;
	position: absolute;
	left: 0;
	top: 17px;
	padding: 15px 13px;
	text-align: left;
	font-family: "Microsoft Yahei"
}
.tk-integral .integral-pop .success .txt1 {
	text-align: center;
	font-size: 18px;
	color: #3a8f00
}
.tk-integral .integral-pop .success .txt2 {
	text-align: center;
	font-size: 23px;
	line-height: 50px;
	color: #f06000
}
.back-old {
	width: 22px;
	padding: 7px 5px;
	text-align: center;
	line-height: 17px;
	display: block;
	background-color: #5db552;
	position: fixed;
	_position: absolute;
	left: 50%;
	top: 240px;
	margin-left: 520px;
	color: #FFF!important;
}
.back-old:hover {
	background-color: #52a947
}
.btn-org {
	background-color: #f06000!important;
	border-color: #dc5800!important;
	color: #FFF!important
}
.btn-org:hover {
	background-color: #dc5800!important;
	border-color: #d15400!important;
}
.btn-green {
	background-color: #64ad75!important;
	border-color: #5ba36c!important;
	color: #FFF!important
}
.btn-green:hover {
	background-color: #549b65!important;
	border-color: #509861!important;
}
/*share*/
.reportShare {
	position: fixed;
	_position: absolute;
	z-index: 999;
	right: 50%;
	margin-right: -580px;
	color: #FFF;
}
.reportShareActive {
	color: #fff;
	border-radius: 0px 5px 5px 0px;
	/*background: #5aa26a url(//img2.1.com/wx/tiku/v1/skin/tiku/shareIco.png) no-repeat 4px 5px;*/
}
.reportShare .shareBtn {
	font-size: 12px;
	position: relative;
	z-index: 9991;
	text-align: center;
	width: 66px;
	height: 25px;
}
.reportShare .shareBtn .txt {
	width: 66px;
	height: 25px;
	padding-top: 43px;
	cursor: pointer;
	display: block;
	/*background: url(//img2.1.com/wx/tiku/v1/skin/tiku/shareIco.png) 0px 0;*/
}
.reportShare .shareSelect {
	z-index: 0;
	position: absolute;
	top: 0px;
	right: 75px;
	z-index: 0;
	background: #fff;
	border: #64ad75 solid 2px;
	width: 310px;
	padding: 15px 10px 15px 15px;
	line-height: 30px;
	border-radius: 5px;
}
.reportShare .shareSelect ul li {
	text-align: center;
	float: left;
	color: #666;
	font-size: 12px;
	padding: 0 10px;
	cursor: pointer;
}
.reportShare .shareSelect ul i {
	/*background: url(//img2.1.com/wx/tiku/v1/skin/tiku/shareIco.png) no-repeat;*/
	display: block;
	width: 36px;
	height: 36px;
	padding: 10px;
	border-radius: 3px;
}
.reportShare .shareSelect .s1 i {
	background-position: center -74px;
	background-color: #e1161a;
}
.reportShare .shareSelect .s2 i {
	background-position: center -145px;
	background-color: #f5a527;
}
.reportShare .shareSelect .s3 i {
	background-position: center -217px;
	background-color: #307fda;
}
.reportShare .shareSelect .s4 i {
	background-position: center -288px;
	background-color: #30b0da;
}
.reportShare .shareSelect .s1 i:hover {
	background-color: #cc1417;
}
.reportShare .shareSelect .s2 i:hover {
	background-color: #e09824;
}
.reportShare .shareSelect .s3 i:hover {
	background-color: #2c76c9;
}
.reportShare .shareSelect .s4 i:hover {
	background-color: #2ca2c9;
}
.reportShare .shareSelect ul li:hover {
	color: #f06000;
	font-weight: bold
}
.reportShare .shareSelect span {
	color: #4d9133;
	font-size: 20px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	padding-bottom: 20px;
	display: block;
}
.reportShare .shareSelect .ico {
	border-style: solid;
	border-width: 7px;
	display: block;
	border-color: #f8f7f3;
	border-left-color: #64ad75;
	position: absolute;
	right: -15px;
	top: 40px;
	overflow: hidden;
}
.reportShare .shareSelect .ico i {
	display: block;
	position: absolute;
	right: 1px;
	top: -3px;
	z-index: 88;
	color: #FFF
}
.new-function {
	height: 53px;
	line-height: 15px;
	text-align: center;
	/*background: url(//img2.1.com/wx/tiku/v1/skin/exam/tk_exam.png) -132px -467px;*/
	position: absolute;
	left: 10px;
	top: -27px;
	cursor: pointer;
	color: #f03e00;
	z-index: 20
}
.new-function i {
	display: block;
	width: 20px;
	text-align: center;
	padding: 7px 0;
	font-weight: bold;
	margin-top: 30px;
	font-style: normal;
	background-color: #FFF;
	border: #f06000 solid 1px;
	border-radius: 15px;
}
.new-function i:hover {
	color: #FFF;
	background-color: #f06000
}
.content-tishi {
	width: 1000px;
	margin: 30px auto 30px auto;
	padding-bottom: 60px;
	text-align: center;
	min-height: 550px;
	background-color: #FFF;
	border: #e3e3e3 solid 1px;
	-webkit-box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
	-moz-box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
	box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-family: "\5FAE\8F6F\96C5\9ED1", sans-serif
}
.content-tishi .ico-bg {
	margin: 80px auto 30px;
}
.content-tishi .orange {
	color: #f60;
	padding: 0 5px
}
.content-tishi .gary {
	color: #808080;
}
.content-tishi h1 {
	font-size: 30px;
	padding: 0 0 20px 10px;
	color: #333;
	margin: 0;
}
.content-tishi .h2 {
	color: #1a1a1a;
	font-size: 15px;
	padding: 10px 0 0px;
	line-height: 30px;
	width: 55%;
	margin: 0 auto;
	text-align: left
}
.content-tishi .btn {
	display: inline-block;
	border-width: 1px;
	border-style: solid;
	padding: 0 20px;
	line-height: 30px;
	box-shadow: 1px 1px 3px #f1f1f1;
	margin-left: 20px
}
.content-tishi .gray-btn {
	color : #fff;
	background-color: #f06000;
	border-color: #e45b00;
	border-radius: 2px;
}
.content-tishi .gray-btn:hover {
	background-color: #e45b00;
	color: #fff
}
.content-tishi .h2 .orgTxt {
	font-size: 18px;
	padding: 0 5px
}
.content-tishi .biaoti {
	font-family: "Courier New", Courier, monospace;
	font-style: italic;
	color: #999;
	font-size: 25px
}
/*10.1*/
.tiku-head-ad:hover {
	animation: tikuAd 1s .01s ease both;
	-webkit-animation: tikuAd 1s .01s ease both;
	-moz-animation: tikuAd 1s .01s ease both;
}
@keyframes tikuAd {
 0%, 20%, 50%, 80%, 100% {
transform:translateY(0)
}
 40% {
transform:translateY(-10px)
}
 60% {
transform:translateY(-5px)
}
}
@-webkit-keyframes tikuAd {
 0%, 20%, 50%, 80%, 100% {
-webkit-transform:translateY(0)
}
 40% {
-webkit-transform:translateY(-10px)
}
 60% {
-webkit-transform:translateY(-5px)
}
}
@-moz-keyframes tikuAd {
 0%, 20%, 50%, 80%, 100% {
-moz-transform:translateY(0)
}
 40% {
-moz-transform:translateY(-10px)
}
 60% {
-moz-transform:translateY(-5px)
}
}

/*menu*/
.n-toolbar {
    clear: both;
    height: 45px;
    margin: 0 auto;
    width: 100%;
}
.n-toolbar .n-toolbar-item {
    background: none repeat scroll 0 0 #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    cursor: pointer;
    display: inline;
    float: left;
    font-size: 12px;
    margin-right: 6px;
    padding: 8px 10px;
}

.n-toolbar .n-toolbar-item_hover{
    background: none repeat scroll 0 0 #fff1e7;
    border: 1px solid #f54750;
    border-radius: 2px;
    cursor: pointer;
    display: inline;
    float: left;
    font-size: 12px;
    margin-right: 6px;
    padding: 8px 10px;
}
.n-toolbar .n-toolbar-item_hover span{
    color:#f54750;
    margin-right: 5px;
}
.checkbox, .checkboxed {
    background-position: -201px 0;
    margin-top: 2px;
}
.checkboxed {
    background-position: -201px -15px;
}
.qingk {
    background-position: 0 0;
}

.weidu {
    background-position: -32px 0;
}

.del0 {
    background-position: -48px 0;
}

.shuax {
    background-position: -64px 0;
}
.nui-btn-icon {
    /*background: url("../images/xxzx.png") no-repeat scroll 0 0;*/
    display: inline;
    float: left;
    font: 12px/13px Arial;
    height: 14px;
    margin-right: 4px;
    width: 15px;
}
/*menu*/

/*按钮下的列表*/

.table-box {
    float: left;
    width: 100%;
	    border: 1px solid #e3e3e3;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    margin-top: -1px;
	 background: none repeat scroll 0 0 #fff;
}






.table-box tr {
    background: none repeat scroll 0 0 #fff;
    border-top: 1px solid #f2f2f2;
}
.table-box tr.top-table td {
    padding: 0;
}
.table-box tr td font {
    color: #888;
	 font-size: 14px;
}
.table-box tr td {
    padding: 15px 0;
}


/*提取奖励金*/
.reg-success22 {
    margin-left: 145px;
    margin-top: 100px;
}
.reg-success22 {
    font-size: 16px;
    margin-left: 335px;
    overflow: hidden;
    padding: 30px 0 10px;
    position: relative;
}

.reg-success22 .e {
    font-size: 26px;
    line-height: 2.2;
    margin-bottom: 0px;
	  color: #ff0000;
}


.reg-success22 .b {
    border-bottom: 0px solid #e9edef;
    margin-bottom: 30px;
    padding: 0px 0 20px;
    position: relative;
    width: 480px;
}



.reg-success22 .gbtn {
    border: 0 none;
    color: #fff;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    width: 120px;
}
.gbtn, .gbtn-disabled, .gbtn-org {
    background: none repeat scroll 0 0 #fa5c5b;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Microsoft YaHei;
    font-size: 13px;
    overflow: hidden;
    padding: 3px 5px;
    position: relative;
    white-space: nowrap;
}
.reg-success23 {
    font-size: 16px;
    margin-left:180px;
    overflow: hidden;
    padding: 10px 0 10px;
    position: relative;
}

.reg-success23 .gbtn {
    border: 0 none;
    color: #fff;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    width: 120px;
}


.gm input[type="button"] {
    background-color: #fff;
    border-radius: 2px;
    float: left;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 3px;
    padding: 3px;
}
.yz-normal {
    border: 1px solid #6cf;
    color: #6cf;
}
.gm {
    background-color: #fff;

    height: 35px;
    line-height: 45px;
    padding-bottom: 5px;
    padding-top: 13px;
    width:750px;
}


.gm span {
    color: #333;
    float: left;
    font-size: 16px;
    line-height: 25px;
    max-width: 30%;
    min-width: 22%;
    padding-left: 15px;
    text-align: right;
	

}


/*	
 background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.075) inset;

    font-family: "微软雅黑";
    font-size: 14px;
   
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    width: 60%;
/*
.gm input[type="text"] {
    background-color: #f9f9f9;
    border: 1px dotted #f2f2f2;
    float: left;
    font-family: "微软雅黑";
    font-size: 14px;
    padding: 5px;
    width: 60%;
}
*/

.gm3 {
    background-color: #f9f9f9;
    border-bottom: 1px dotted #f2f2f2;
    height: 30px;
    line-height: 35px;
    padding-bottom: 5px;
    padding-top: 8px;
    width: 380px;
}
.gm3 span {
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 25px;
    max-width: 30%;
    min-width: 22%;
    padding-left: 15px;
    text-align: right;
	cursor: pointer;
}
.ts {
    font-size: 14px;
    line-height: 23px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 10px;
    text-align: left;
}
.gm input[type="text"] {
 background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    font-family: "微软雅黑";
    font-size: 14px;
    padding: 5px;
    width:50%;
	  color: #ccc;
	    float: left;
}

.gm input[type="password"] {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.075) inset;
    color: #ccc;
    float: left;
    font-family: "微软雅黑";
    font-size: 14px;
    padding: 5px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    width: 60%;
}
input[type="text"], input[type="password"] {
    color: #999;
    transition: background-color 0.3s ease 0s;
}
/*投资S*/
.dq3{
	width:100%;
	padding-bottom:10px;
/*投资*/

}
.dq3 h5{
	color:#333;
	text-align:left;
	font-size:16px;
	line-height:40px;
	font-family:"微软雅黑";
	padding-left:12px;
	border-bottom:1px #c9c9c9 solid;
	margin-bottom: 10px;
}
.dq3 h5 span{
	color:#ff6600;
}
.dq3 h5 img{
    height: 23px;/*投资*/
    width: 25px;
	display:inline;
}
.dq1{
	margin-top:10px;/*投资*/
	margin-bottom:10px; 
	border-bottom:0px solid #e4e4e4;
	
}
.dq3l{
	float:left;
	width:46.5%;
	padding-left:3%;
	border-right:1px dotted #9f9f9f;
	color:#666;
}
.dq3l span{
	color:#ff6300;
	}
.dq3l li{
	background-image:url(../images/dd.png);
	background-repeat:no-repeat;
	line-height:30px;
	font-size:16px;/*投资*/
	text-align:left;
	padding-left:20px;
	background-position:0px 7px;
}
.dq3r{
	float:left;
	width:50%;
	line-height:30px;
	font-size:16px;/*投资*/
	color:#666;
	text-align: center;
}
.dq3r span{
	color:#ff6300;
	font-size:20px;
	font-weight:800px;
}
.dq3r a{
	background-color:#ff3a31;
	color:#fff;
	width:75%;
	margin:0 auto;/*投资*/
	border-radius:2px;
	padding: 5px 50px;
}
.screening{
	background-image: url("../images/dq.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 60px 60px;/*投资*/
}
/*投资E*/

#header {
    background-color: #fff;
    border-bottom: 2px solid #f06000;
    height: 86px;
    line-height: 86px;
    min-width: 1000px;
    position: relative;
    width: 100%;
}
/*03.18*/

.sy1 {
    background-color: #fff;
    color: #ccc;
    font-family: "微软雅黑";
    font-size: 12px;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: left;
}
.l {
    float: left;
    padding-left: 20px;
    width: 43%;
}

.sy1 span {
    color: #716e7f;
    font-size: 16px;
    line-height: 20px;
}


 .box {
    background-color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
	position:relative;
}


.ll {
    border-bottom: 1px solid #f2f2f2;
    color: #716e7f;
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
    text-align: left;
}

.ll span {
    color: #666;
    float: right;
    font-size: 14px;
    padding-right: 2%;
}


.label1 {
    background: none repeat scroll 0 0 #f74d4d;
    border-radius: 20px;
    height: 10px;
    position: absolute;
    right: 8px;
    top: 58px;
    width: 10px;
    z-index: 999;
}
a > span {
    display: inline;
}
/*03.18*/