
.new-login{ margin:0px auto 10px auto; padding-left:20px;  background:#fff; border:1px solid #eaeaea; box-shadow:2px 2px 0px #eae9e6}
.new-login-lf{ float:left;}


.new-login-lf-pic {
    border: 1px solid #eaeaea;
    float: left;
    height: 118px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 28px;
    width: 118px;
}

.jifen {
    border-left: 1px solid #f1f1f1;
    border-right: 0 solid #f1f1f1;
    float: left;
    height: 130px;
    padding-top: 30px;
    width: 590px;
}

.jifen-name {
    color: #6d6d6d;
    display: block;
    font: 400 16px/14px "microsoft yahei","SimHei";
    margin-left: 48px;
    text-indent: 1.5em;
	  text-align: left;
}
.jifen-name span {
    color:#f54750;
    font: 400 16px/14px "microsoft yahei","SimHei";
}
.jifen-text{display:block;width:352px; font:14px/30px "\5FAE\8F6F\96C5\9ED1"; color:#6d6d6d; padding-bottom:15px; border-bottom:1px solid #f1f1f1; white-space:nowrap; overflow:hidden; text-indent:1.5em}
.jifen-text .orange{font:bold 14px "\5FAE\8F6F\96C5\9ED1"; color:#f06000}


.jifen .userData a {
    border-right: 0px solid #f2f2f2;
    float: left;
    height: 54px;
    padding: 10px;
    text-align: center;
    transition: border-radius 1s ease 0s;
    width: 198px;
}


.jifen .userData {
    border-top: 0px solid #f2f2f2;
    display: block;
    margin-top: 20px;
    width: 584px;
}
.jifen .userData a:hover{background:#fff1e7;border-radius: 50px;}
.jifen-title{font:16px "\5FAE\8F6F\96C5\9ED1"; color:#666}
.jifen-num{ display:block;font:20px/40px "\5FAE\8F6F\96C5\9ED1"; color:#f54750}
.wrong-rate{ float:left; width:253px; height:140px; padding:10px 0 0 0;}
.new-login-rg{ float:right; padding:51px 0; width:223px; text-align:center; border-left:1px solid #e9e9e9; background:#fbfbfb; position:relative;}
.new-login-rg span,.new-login-rg p{font:14px "\5FAE\8F6F\96C5\9ED1"; color:#666}
.new-login-rg span{display:block; margin-top:18px}
.new-login-rg .red,.new-login-rg .ora,.new-login-rg .grn{position: relative; display:inline-block; background: url(new_home.png) -48px -156px no-repeat; width:39px; height:32px; padding-top:4px; _padding-top:5px; text-align:center; font:18px/36px "\5FAE\8F6F\96C5\9ED1"; color:#fff}
.num-9,.num-8,.num-7,.num-6,.num-5,.num-4,.num-3,.num-2,.num-1,.num-0{ display:block; background: url(new_home.png) -4px -214px no-repeat; width:14px; height:36px;}
.num-1{ background-position:-25px -214px}
.num-2{ background-position:-42px -214px}
.num-3{ background-position:-63px -214px}
.num-4{ background-position:-85px -214px}
.num-5{ background-position:-110px -214px}
.num-6{ background-position:-133px -214px}
.num-7{ background-position:-156px -214px}
.num-8{ background-position:-176px -214px}
.num-9{ background-position:-194px -214px}
.new-login-rg .ora{ background-position:0 -156px; margin:0 4px}
.new-login-rg .red{ background-position:-97px -156px}

.new-login-rg .ora em,.new-login-rg .red em,.new-login-rg .grn em{width: 14px; height: 36px; overflow: hidden; display: block;margin-left: 12px; *margin-left: 0}
.new-login-rg .ora i,.new-login-rg .red i,.new-login-rg .grn i{ float: left; }

.new-login-rg .edit{ width:44px; height:15px; display:inline-block; position:absolute; right:15px; top:12px;font:12px/15px ""; color:#fe5a01; white-space:nowrap}
.new-login-rg .edit:hover{ color:#64ad75}
.new-login-rg .edit:hover i{background:url(new_home.png) -211px -155px}
.new-login-rg .edit i{display:inline-block; margin-right:5px;vertical-align:top; background:url(new_home.png) -170px -156px no-repeat; width:13px; height:13px;}


.new-edit{ margin:24px auto; padding:13px 16px; width:968px; background:#fff; border:1px solid #eaeaea;   }
.new-edit-title{ width:100%; height:44px; background:#f8f8f8}
.new-edit-title h2{ float:left;font:bold 14px/44px "\5FAE\8F6F\96C5\9ED1"; color:#666; text-align:center}
.new-edit-title .kaoshi{ width:131px}
.new-edit-title .diqu{ width:370px}
.new-edit-title .kaoshishijian{ width:458px}
.cont_detil{ width:100%; border-bottom:1px solid #ececec; }
.cont_detil p{float:left; font:14px "\5FAE\8F6F\96C5\9ED1"; color:#666; padding:20px 25px;}
.cont_detil .input{float:right;display:inline-block;position:relative;padding:15px 0px; }
.cont_detil .input .text_box{ width:370px; }
.cont_detil .input .text_box1{ width:458px; _width:470px}
.cont_detil .input .sex_xz{padding-left:80px;display:block;float:left;}
.cont_detil .input .sex_xz span{ display:block; float:left; padding:0 10px; line-height:35px;font-size:14px;}
.selected-time{ position:absolute; top:35px; left:80px; width:287px; border:1px solid #ddd; border-top:none;background: #fff; z-index: 2}
.selected-time li{ width:100%; border-bottom:1px dashed #ececec; font-size:12px; height:35px; line-height:35px;color:#666; text-align:left}
.selected-time li:hover{ background:#f9f9f9; }
.selected-time li span{ float: left; margin-left: 10px}
.selected-time .use{ float:right;color: #64ad75; margin-right: 10px}
.selected-time .use:hover{ color:#f06000}

.cont_detil .province,.cont_detil .year{ float:left; height:auto; background: url(new_home.png) -243px -204px; text-indent:10px;font-size:14px; position:relative;color:#333;} 
.cont_detil .year{ background-position:250px -246px}
.cont_detil .year-btn{ float:left; width:270px;padding-right:17px; font:14px/33px "Microsoft YaHei";  height:33px; border:1px solid #ddd;box-shadow:2px 2px 2px 0px #f3f3f3 inset;overflow:hidden;clear:both}
ul.select-year{float:left;background:#fff;width:97px;padding:0px;border:1px solid #ddd;border-top:none;position:absolute;display:inline;max-height:150px;overflow-y:auto;overflow-x:hidden;left:0px;top:35px; z-index:999}
ul.select-year li{float:left;width:100%;cursor:pointer;line-height:24px;text-align:left !important;color:#444;}
ul.select-year li:hover{ background:#f5f5f5; color:#fb642c;}
.cont_detil .province{ width: 152px; background: url(new_home.png) -89px -204px}
.cont_detil .province-btn{ width: 133px;}
.cont_detil .province-select{ width: 150px; font-family: "\5FAE\8F6F\96C5\9ED1"}

.new-edit .finish{ display:block; margin:20px auto; width:135px; height:38px; border-radius:3px;-webkit-border-radius:3px; background:#fe5a01;font:14px/38px "\5FAE\8F6F\96C5\9ED1"; color:#fff!important; text-align:center}
.new-edit .finish:hover{ background:#f25d0c}

.new-promt{margin:24px auto;width:1000px; }
.new-promt-rg,.new-promt-lf{ float:left; width:487px; height:229px;border:1px solid #e9e9e9; box-shadow:1px 2px 2px #ebeae7;background:#fff;}
.new-promt-rg h2,.new-promt-lf h2{ display:block; margin-top:17px; padding-left:16px;font: 16px/18px "\5FAE\8F6F\96C5\9ED1"; color:#666; border-left:3px solid #fe5a01; position:relative; left:-1px; }
.new-promt-rg h2 a,.new-promt-lf h2 a{color:#333;}
.new-promt-rg h2 a:hover,.new-promt-lf h2 a:hover{ color:#f06000}
.new-promt-lf p{ display:block; padding:30px 28px}
.new-promt-lf p a{ float:left; width:127px; height:127px; background: url(pic7.png) 0 0; }
.new-promt-lf p a:hover{background:url(pic7.png) -131px 0;}
.new-promt-lf p .arw{ float:left;width:11px; height:21px; background: url(new_home.png) -268px -168px; margin:46px 20px}
.new-promt-lf p .blank{ float:left;width:11px; height:21px; margin:46px 20px}
.new-promt-lf p .text{ display:block; width:44px; height:22px; text-align:center; margin:0 auto; font:bold 14px/22px "\5FAE\8F6F\96C5\9ED1";color:#393939; }
.new-promt-lf p :hover .text{color:#fe5a01}
.new-promt-lf p .go-on,.new-promt-lf p .review,.new-promt-lf p .examna,.new-promt-lf p .practice{ display:block; width:21px; height:16px; background: url(new_home.png);margin: 35px auto 10px;}
.new-promt-lf p .practice{ background-position:-264px 0; width:27px; height:32px}
.new-promt-lf p .examna{ background-position:-265px -47px; width:27px; height:32px}
.new-promt-lf p .review{ background-position:-263px -90px; width:32px; height:27px}
.new-promt-lf p .go-on{ background-position:-268px -128px; width:24px; height:25px}
.new-promt-lf p :hover .practice{ background-position:-297px 0; width:27px; height:32px}
.new-promt-lf p :hover .examna{ background-position:-297px -48px; width:27px; height:32px}
.new-promt-lf p :hover .review{ background-position:-297px -89px; width:32px;height: 27px;}
.new-promt-lf p :hover .go-on{ background-position:-301px -128px;  width:24px; height:25px}
.new-promt-lf .w-normal a{ margin-left:30px}
.new-promt-lf .w-normal{ width:1000px}
.new-promt-lf .w-normal .arw,.new-promt-lf .w-normal .blank{ margin-left:50px; margin-right:35px}

/* tiku nav animate*/

.new-promt-lf p a:hover .review{-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg);-webkit-transition: transform 1.5s;-moz-transition: transform 1.5s;-ms-transition: transform 1.5s;transition: transform 1.5s;}
.new-promt-lf p a:hover .practice{animation:bounce 1s .01s ease both;-webkit-animation:bounce 1s .01s ease both; -moz-animation:bounce 1s .01s ease both; }
.new-promt-lf p a:hover .examna{animation:shake 1s .01s ease both;-webkit-animation:shake 1s .01s ease both; -moz-animation:shake 1s .01s ease both;}
.new-promt-lf p a:hover .go-on{animation:move 1s .01s ease both;-webkit-animation:move 1s .01s ease both; -moz-animation:move 1s .01s ease both;}


@keyframes bounce{
0%,20%,50%,80%,100%{transform:translateY(0)}
40%{transform:translateY(-10px)}
60%{transform:translateY(-5px)}
}
@-webkit-keyframes bounce{
0%,20%,50%,80%,100%{-webkit-transform:translateY(0)}
40%{-webkit-transform:translateY(-10px)}
60%{-webkit-transform:translateY(-5px)}
}
@-moz-keyframes bounce{
0%,20%,50%,80%,100%{-moz-transform:translateY(0)}
40%{-moz-transform:translateY(-10px)}
60%{-moz-transform:translateY(-5px)}
}

@keyframes shake{
0%,100%{transform:translateX(0);}
20%,60%{transform:translateX(-5px);}
40%,80%{transform:translateX(5px);}
}
@-webkit-keyframes shake{
0%,100%{-webkit-transform:translateX(0);}
20%,60%{-webkit-transform:translateX(-5px);}
40%,80%{-webkit-transform:translateX(5px);}
}
@-moz-keyframes shake{
0%,100%{-moz-transform:translateX(0);}
20%,60%{-moz-transform:translateX(-5px);}
40%,80%{-moz-transform:translateX(5px);}
}

@keyframes move{
0%,20%,50%,80%,100%{transform:translateX(0);}
40%{transform:translateX(10px);}
60%{transform:translateX(5px);}
}
@-webkit-keyframes move{
0%,20%,50%,80%,100%{-webkit-transform:translateX(0);}
40%{-webkit-transform:translateX(10px);}
60%{-webkit-transform:translateX(5px);}
}
@-moz-keyframes move{
0%,20%,50%,80%,100%{-moz-transform:translateX(0);}
40%{-moz-transform:translateX(10px);}
60%{-moz-transform:translateX(5px);}
}

/*end*/


.new-promt-lf p .z-on .go-on,.new-promt-lf p .z-on .review,.new-promt-lf p .z-on .examna,.new-promt-lf p .z-on .practice{display:block; width:27px; height:32px; background:url(new_home.png) -297px 0 no-repeat; margin:35px auto 10px;  color:#fe5a01}
.new-promt-lf p .z-on .examna{background-position:-297px -48px; width:27px; height:32px}
.new-promt-lf p .z-on .review{background-position:-297px -89px; width:32px; height:27px}
.new-promt-lf p .z-on .go-on{background-position:-301px -128px;  width:24px; height:25px}

.new-promt-lf p .z-on .text{color:#fe5a01;}



.new-promt-rg{ float:right;}
.new-promt-rg p{display:block; padding:19px 16px;}
.lesson-a{ float:left;margin-right: 27px;position: relative;overflow: hidden}
.lesson-b img,.lesson-a img{ display:block;width:221px; height:125px }
.lesson-b{ float:right;}
.lesson-b span,p .lesson-a span{ display:block; width:221px; font:12px/32px "\5FAE\8F6F\96C5\9ED1"; color:#666; text-align:center; background:#f8f8f8}
.lesson-b:hover span,p .lesson-a:hover span{ background:#ff813c; color:#fff}
.lesson-a,.lesson-b{ position: relative;overflow: hidden}
.lesson-a:after,.lesson-b:after {
    content: '';
    top: 0;
    left: -180px;
    background-image: linear-gradient(0,rgba(0, 0, 0, 0),rgba(255, 255, 255, 0.5),rgba(0, 0, 0, 0));
    background-image: -webkit-linear-gradient(0,rgba(0, 0, 0, 0),rgba(255, 255, 255, 0.5),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(0,rgba(0,0,0,0),rgba(255,255,255,0.5),rgba(0,0,0,0));
    background-image: -o-linear-gradient(0,rgba(0,0,0,0),rgba(255,255,255,0.5),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(0,rgba(0,0,0,0),rgba(255,255,255,0.5),rgba(0,0,0,0));
    -webkit-transform: skewx(-35deg);
    -moz-transform: skewx(-35deg);
    -o-transform: skewx(-35deg);
    -ms-transform: skewx(-35deg);
    transform: skewx(-35deg);
    width: 100%;
    height: 100%;
    position: absolute
}

.lesson-a:hover:after,.lesson-b:hover:after {
    left: 180px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    transition: .5s
}


.data-ana{margin:24px auto; padding:17px 0;width:1000px;border:1px solid #e9e9e9; box-shadow:1px 2px 2px #ebeae7; background:#fff}
.data-ana h2{display:block; padding-left:16px;font:16px/18px "\5FAE\8F6F\96C5\9ED1"; color:#333; border-left:3px solid #fe5a01; position:relative; left:-1px;}
.data-ana h2 a{color:#333}
.data-ana .data-ana-title{margin:0 10px; padding:15px 0;text-indent:10px;font-size: 0.87em; color:#666;}
.data-ana-title i{ padding:0 3px; font-size:14px; font-weight:bold; font-style:normal; color:#f06000}
.data-pic{width:97%; margin:0 auto; padding-top:10px; padding-bottom:10px}
.data-analyse{ width:969px;}
.toji{ padding:15px 15px 5px 0;}
.tj-text{font:normal 12px "\5FAE\8F6F\96C5\9ED1"; color:#666;}
.cl-pink,.cl-org,.cl-navb,.cl-black,.cl-blue,.cl-grn,.cl-blue2{ display:inline-block; width:14px; height:10px; background:#64ad75; margin:0 8px 0 14px;}
.cl-blue{background:#7cb5ec;}
.cl-black{background:#434348;}
.cl-navb{background:#01b2d7;}
.cl-org{background:#f58e5d;}
.cl-pink{background:#A9D5FF;}
.cl-blue2{background:#7cb5ec;}

.new-foot{margin:24px auto; padding:20px 22px 5px 0px;width:978px;border:1px solid #e9e9e9; box-shadow:1px 2px 2px #ebeae7; background:#fff}
.new-foot-lf{ float:left; width:685px}
.special-paper,.information-share{ float:left; width:660px; padding-left:17px;}
.special-paper h2,.information-share h2{display:block; padding-left:16px;font: 16px/18px "\5FAE\8F6F\96C5\9ED1"; color:#666; border-left:3px solid #fe5a01; position:relative; left:-18px;}
.special-paper h2 a,.information-share h2 a{ color:#333}
.special-paper h2 a:hover,.information-share h2 a:hover{ color:#f06000}
.chapter{padding:13px 0 16px 0px;  width:660px;border-bottom:1px solid #ebebeb;}
.chapter li{ display:inline-block; padding-left:5px; width:655px; height:40px; font:14px/40px "\5FAE\8F6F\96C5\9ED1"; color:#666; }
.chapter li:hover{background:#f8f8f8;}
.chapter a{display:inline-block; float:left; white-space:nowrap;font:14px/40px "\5FAE\8F6F\96C5\9ED1"; color:#666;height:40px;overflow:hidden; cursor:pointer}
.chapter-share{ width:409px; }
.chapter-paper{ width:422px; }
.item_doc,.item_excel,.item_ppt,.item_txt,.item_pdf,.item_rar,.item_pic,.item_jpg,.item_xlsx,.item_xls,.item_docx,.item_wps,.item_zip,.item_pptx{ float:left; display:inline-block; vertical-align:middle; width:18px; height:18px; margin:12px 9px 0 0; background:url(new_home.png) -6px -131px; }
.item_doc{ background-position:-6px -131px;}
.item_docx{ background-position:-6px -131px;}
.item_wps{ background-position:-6px -131px;}
.item_excel{ background-position:-40px -131px;}
.item_xlsx{ background-position:-40px -131px;}
.item_xls{ background-position:-40px -131px;}
.item_ppt{ background-position:-74px -131px;}
.item_pptx{ background-position:-74px -131px;}
.item_txt{ background-position:-108px -131px;}
.item_pdf{ background-position:-143px -131px;}
.item_rar{ background-position:-176px -131px;}
.item_zip{ background-position:-176px -131px;}
.item_pic{ background-position:-210px -131px}
.item_jpg{ background-position:-210px -131px}

.chapter .circle{background-position:0px -215px;width:4px; float:left; height:4px; background-color:#c0c0c0; margin-top:20px; font-size:0px; margin-right:8px; display:inline}
.chapter .share-loading{display:inline-block;float:left; margin:12px 0 0 40px; font:12px/18px "\5FAE\8F6F\96C5\9ED1"; color:#999;}
.chapter .loading,.chapter .pen{display:inline-block; vertical-align:middle; width:10px; height:10px; margin-right:9px; margin-top:-2px; background-image:url(new_home.png); background-repeat:no-repeat}
.chapter .loading{background-position: -201px -180px;}
.chapter .pen{ background-position:-191px -158px}
.chapter .share-download{ display:inline-block; float:right; margin:7px 0px 0px 0px; width:55px; height:24px; border:1px solid #cfcfcf; background:#f3f3f3; box-shadow:1px 1px 0px #f2f2f2;font:12px/24px "\5FAE\8F6F\96C5\9ED1"; color:#333; text-align:center}
.share-download:hover{ background-color:#f06000; border:#d55500 solid 1px; color:#FFF}

.new-foot-rg{ float:right; width:269px}
.hot-group{ float:left; border-bottom:1px solid #ebebeb}
.hot-group h2{display:block; padding-left:16px;font: 16px/18px "\5FAE\8F6F\96C5\9ED1"; color:#999; border-left:3px solid #fe5a01;}
.hot-group h2 a{ color:#333}
.hot-group h2 a:hover{ color:#f06000}
.hot-group dl{display:block; width:100%}
.hot-group dl dd{ float:left; width:160px; white-space:nowrap; overflow:hidden}
.hot-group dl dt{float:left; margin:25px 10px 15px 0; width:96px; height:96px}
.hot-group dl dt img{width:96px; height:96px}
.head-title{ display:block; margin-top:23px;font: bold 15px/25px "\5FAE\8F6F\96C5\9ED1"; color:#666;}
.group-con{display:block; margin-top:8px;font:14px/18px "\5FAE\8F6F\96C5\9ED1"; color:#666;}
.renshu{ display:inline-block; height:22px;font:12px/22px "\5FAE\8F6F\96C5\9ED1"; color:#777; padding-right:10px; border:1px solid #d2d2d1;border-radius:3px}
.renshu i{display:inline-block; margin:5px 4px 0px; vertical-align:top; width:15px; height:13px; background:url(new_home.png) -163px -179px; }
.renshu:hover i{background:url(new_home.png) -143px -179px;  }
.renshu:hover{border:1px solid #f06000;}
.jinhao{ display:inline-block; margin-left:7px; padding:0 10px 0 5px;  height:22px;font:12px/22px "\5FAE\8F6F\96C5\9ED1"; color:#777; border:1px solid #d2d2d1;border-radius:3px; text-align:center}
.jinhao i{display:inline-block; margin:5px 4px 0px; vertical-align:top; width:8px; height:11px; background:url(new_home.png) -212px -180px; }
.jinhao:hover i{ background-position: -221px -180px;  }
.jinhao:hover{border:1px solid #f06000;}
.watch{ display:inline-block; width:89px; height:31px; margin-top:10px; line-height:31px; background:#64ad75;font:12px/31px "\5FAE\8F6F\96C5\9ED1"; color:#fff!important; border-radius:3px; text-align:center }
.watch i{display:inline-block; margin-top:-2px; _margin-top:10px; width:10px; height:10px; line-height:10px; font-size:0; background:url(new_home.png) -231px -158px;}
.watch:hover{ background:#4a965b}


.qualify{ float:left; width:100%; margin-top:10px;}
.qualify li{width:100%; display:inline-block; padding:10px 0px; border-bottom:#f8f8f8 solid 1px; float:left}
.qualify li:hover{ background:#f8f8f8}
.qualify .num-ql{ float:left;display:inline-block; width:20px; height:20px;font:12px/20px "\5FAE\8F6F\96C5\9ED1"; color:#fff; background:#999; text-align:center;}
.qualify .num-ql.orange{ background-color:#f06000}
.qualify .text-ql{ float:left; display:inline-block;width:230px; padding-left:14px;font:12px/20px "\5FAE\8F6F\96C5\9ED1"; color:#666; }
.chat-ql{display:inline-block;  height:20px; font:12px "\5FAE\8F6F\96C5\9ED1"; color:#cacaca; text-align:center; margin-left:5px}
.chat-ql .chat{ display:inline-block; vertical-align:middle; width:17px; height:16px; margin-right:10px; background:url(new_home.png) -183px -179px; }

/*icon*/
.home-help-icon{display: inline-block;width: 16px;height: 16px;background: url(http://img2.233.com/wx/tiku/v1/skin/a/tk_gd.png) -184px -107px no-repeat;vertical-align: middle; margin: -2px 0 0 0;}