.exam-record:after,.exam-record .hd:after,.record-list-blk li:after,.exam-record .collect:after,.record-list-hd:after{display:block;visibility:hidden;clear:both;height:0;content:'.';}
.exam-record{width:838px; }
.exam-record .hd{width:838px; background-color:#fafafa; border-bottom:#eaeaea solid 1px; border-top:#FFF solid 1px; line-height:50px; border:#e3e3e3 solid 1px;-webkit-box-shadow:rgba(0, 0, 0, .1) 0 1px 5px; -moz-box-shadow:rgba(0, 0, 0, .1) 0 1px 5px; box-shadow:rgba(0, 0, 0, .1) 0 1px 5px ;}
.exam-record .hd .headline{ font-size:16px; padding-left:20px; float:left; font-weight:bold}
.exam-record .hd .record-screening{ float:right; font-family:"宋体"}
.exam-record .hd .record-screening a{ padding:0 20px;display:block; border-left:#eaeaea solid 1px;  position:relative; float:left; text-align:center; font-size: 14px;}
.exam-record .hd .record-screening a.ui-check{ border-top:#f06000 solid 2px; color:#f06000; line-height:49px; margin-top:-1px; font-weight:bold; background-color:#FFF}
.exam-record .pg{ padding-top:5px; padding-bottom:10px; }
.exam-record .collect{ width:838px;background-color:#f9f9f9; padding:15px 0;border:#e3e3e3 solid 1px; border-top:none;}
.exam-record .collect a{ padding:0 10px; display:block; line-height:25px; border:#CCC solid 1px; margin-left:15px; float:left; display:inline; border-radius:15px;}
.exam-record .collect a.collect-mian{ width:200px; font-size:14px; text-align:center;display:block; line-height:27px; background-color:#fff; margin:0 auto; float:none}
.exam-record .collect a:hover{background-color:#f06000; border:#d55500 solid 1px; color:#FFF}
.exam-record .collect a.ui-check{ background-color:#f06000; border:#d55500 solid 1px; color:#FFF}
.exam-record .style-btn{height:25px;line-height:25px;padding:0 10px; float:right; margin:13px 5px 0 0 }
.exam-record .list-style,.exam-record .card-style{border:1px solid #cfcfcf;color:#afafaf;cursor:pointer;font-size:12px;font-family:Arial;height:21px;line-height:21px;padding-left:28px; padding-right:15px;display:inline-block;*display:inline;*zoom:1; margin-left:10px}


.exam-record .list-style
{
  background:#fbfbfb
}


.exam-record .list-style.ui_check{color:#595959;background:#fff;}
.exam-record .card-style
{
  background:#fbfbfb;
}
.exam-record .card-style.ui_check{
	color:#595959;
	background:#fff;
}

.exam-test{ width:840px; font-size:14px; font-family:"宋体"; line-height:25px}


.record-list{ width:838px;background-color:#FFF;  border:#e3e3e3 solid 1px;-webkit-box-shadow:rgba(0, 0, 0, .1) 0 1px 5px; -moz-box-shadow:rgba(0, 0, 0, .1) 0 1px 5px; box-shadow:rgba(0, 0, 0, .1) 0 1px 5px ; margin-top:-1px}
.record-list-blk{width:838px;border-bottom:#f0f0f0 solid 1px;}
.record-list-blk li{ width:798px; border-bottom:#f0f0f0 solid 1px;padding:15px 20px }
.record-list-blk li:hover{ background-color:#f9f9f9}
.record-list-blk .txt{ width:565px; float:left;padding-right:10px}
.record-list-blk .txt2{ width:75; float:left;padding-right:10px; font-size:14px; line-height:35px}
.record-list-blk .txt2 span{ padding:0 10px; font-size:12px;font-family:"\u5b8b\u4f53"; color:#999}
.record-list-blk .user-score{ font-size:14px; padding:0 5px; font-weight:bold;font-family:Verdana, Geneva, sans-serif}
.record-list-blk p{width:100%; line-height:19px;position:relative}
.record-list-blk .info{ color:#999; padding-top:3px; font-family:"\u5b8b\u4f53"}
.record-list-blk .info span{ padding-right:20px}
.record-list-blk .a-link{font-size:14px; }
.record-list-blk .btn{ border:#cfcfcf solid 1px; float:right; display:block; background-color:#f3f3f3; line-height:33px; white-space:nowrap; padding:0 15px; -webkit-box-shadow:3px 3px 0px #f2f2f2; -moz-box-shadow:3px 3px 0px #f2f2f2; box-shadow:3px 3px 0px #f2f2f2;_margin-right:-3px}
.record-list-blk .a-jiexi{ float:right; color:#f06000; line-height:35px; margin:0 30px 0 0; white-space:nowrap}
.record-list-blk .a-jiexi:hover{text-decoration:underline}
.record-list-blk span.a-jiexi{ color:#999;line-height:40px; margin:0 30px 0 0; }
.record-list-blk span.a-jiexi:hover{text-decoration:none}
.record-list-blk .btn:hover{ background-color:#f06000; border:#d55500 solid 1px; color:#FFF}
.record-list-blk .orange-btn{border:#d55500 solid 1px; float:right; display:block; background-color:#f06000; line-height:33px; white-space:nowrap; padding:0 15px; -webkit-box-shadow:3px 3px 0px #f2f2f2; -moz-box-shadow:3px 3px 0px #f2f2f2; box-shadow:3px 3px 0px #f2f2f2;_margin-right:-3px;color:#FFF}
.record-list-blk .orange-btn:hover{background-color:#d55500; border:#c64f01 solid 1px;}
.record-list-blk .record-del{ color:#999; float:left;line-height:40px; padding-left:10px; cursor:pointer; display:none}
.record-list-blk .ui-show .record-del{ display:block}
.record-list-blk .ui-show .record-del:hover{ color:#f06000} 

.record-w{ width:838px; border-bottom:#e8e8e8 solid 1px; border-top:#FFF solid 1px;}
.record-lf{ width:156px; font-size:15px;vertical-align:middle;text-align:center; background-color:#fafafa}
.record-lf span{ font-size:12px}
.record-rt{ width:650px;background-color:#fff; padding-right:15px;padding-left:15px;}
.record-rt .record-list-blk{ width:100%; border-bottom:none}
.record-rt .record-list-blk li{ width:100%; padding:10px 0 10px 0px; border-bottom-style:dashed; border-bottom-color:#e8e8e8; margin-bottom:-1px; position:relative;}
.record-rt .record-del{ line-height:35px}

.exam-record-list{width:838px;background-color:#FFF;  border:#e3e3e3 solid 1px;-webkit-box-shadow:rgba(0, 0, 0, .1) 0 1px 5px; -moz-box-shadow:rgba(0, 0, 0, .1) 0 1px 5px; box-shadow:rgba(0, 0, 0, .1) 0 1px 5px ; margin-top:20px}
.exam-record .screening{ margin-top:-1px; width:798px; margin-bottom:11px}
.exam-record .screening dd{ }
.exam-record .screening .ul-show{ width:740px;}

.record-list-hd{ border-bottom:#dadada solid 1px; width:100%; padding-top:20px; background-color:#fbfbfb; position:relative}
.record-list-hd .btn{ display:block; padding:0 30px; margin-left:20px; background-color:#fafafa; border:#dadada solid 1px; border-bottom-color:#dadada; float:left; line-height:35px; margin-bottom:-1px; position:relative; font-size:14px;border-radius:3px 3px 0 0;}
.record-list-hd .ui-check{ border-bottom-color:#fff; background-color:#FFF; color:#f06000}
.record-list-hd .txt{ position:absolute; left:400px;top:25px; display:block;font-size:14px}
.record-list-hd .w2,.record-list-hd .w3{ display:block; float:left; text-align:center; color:#666}
.record-list-hd .w3{ width:110px}


.tab-list:after,.tab-list .bd:after{display:block;visibility:hidden;clear:both;height:0;content:'.';}
.tab-list{ width:100%;}
.tab-list ul{border-bottom:#f5f5f5 solid 1px;}
.tab-list li{ float:left; text-align:center;line-height:33px;}
.tab-list .f-lf{ text-align:left; font-size:15px;line-height:23px;}
.tab-list .f-lf a{ display:block; position:relative; z-index:1; height:80%}
.tab-list .f-lf a:hover{ color:#666; }
.tab-list .f-lf i{display:block; width:89%; float:left; font-style:normal; padding-top:7px; padding-left:50px}
.tab-list .f-lf em{ width:20px; height:20px; display:block;position:absolute;  left:20px;top:8px; background-image:url(../a/tk_gd.png); background-position:0 -18px; background-repeat:no-repeat; clear:both}
.tab-list .f-lf b{ font-weight:normal; padding-left:10px; color:#999; font-size:12px}
.tab-list .f-lf b font{ padding:0 5px; font-size:14px; font-weight:bold}
.tab-list .f-lf .develop{ background-position: -27px -18px}
.tab-list .f-lf .no-underclass{background-position:-183px -193px;}
.tab-list .w1{ width:400px;}
.tab-list .w2,.record-list-hd .w2{ width:110px; margin-left:10px; position:relative}
.tab-list .w3{ width:130px}
.tab-list .w4{ width:160px; margin-right:10px;_margin-right:7px; display:inline;float:right;}
.tab-list .level-1{ width:515px;  padding-left:30px;}
.tab-list .level-2{ width:460px;  padding-left:60px;}
.tab-list .knowledge{width:400px;}
.tab-list .level-1.knowledge{width:370px;}
.tab-list .level-2.knowledge{width:340px;}
.tab-list .hd{ background-color:#f8f8f8; font-size:15px;zoom:1; padding:15px 0; font-weight:bold; position:relative; z-index:2}
.tab-list .classified,.tab-list .classified:hover{background-color:#fffee9!important}
.tab-list .bd{ padding:10px 0; line-height:21px}
.tab-list .bd:hover{background-color:#f9f9f9}
.tab-list .btn{ border:#cfcfcf solid 1px;display:block; padding:0 15px; background-color:#f3f3f3; line-height:33px; white-space:nowrap; -webkit-box-shadow:3px 3px 0px #f2f2f2; -moz-box-shadow:3px 3px 0px #f2f2f2; box-shadow:3px 3px 0px #f2f2f2; float:right; margin-right:10px}
.tab-list .btn:hover{ background-color:#f06000; border:#d55500 solid 1px; color:#FFF}
.tab-list .a-jiexi{ float:right; color:#f06000; line-height:35px; margin:0 30px 0 0; white-space:nowrap}
.tab-list .a-jiexi:hover{text-decoration:underline}
.tab-list .prompt{ background-color:#64ad75; position:absolute;left:-30px; top:0; padding:0 5px; color:#FFF; font-style:normal; line-height:17px;border-radius:3px;}
.tab-list .w2 .greenTxt{position:relative;margin:0 auto}
.xiti .f-lf i{padding-left:20px}

.title-style .m-choicebox{ display:none;}
.title-style .m-question-title{ cursor:pointer}
.title-style .answer{ display:none}
.title-style .f-title{ padding-bottom:30px}

.title-style .moshi-btn { display:inline-block; line-height:1; border-radius:2px; font-size:14px; padding:0 12px; height:28px; line-height:28px; background:#f06000; background:linear-gradient( #ff761a, #f06000); border:1px solid #e35b00; box-shadow:inset 0 1px 0 #ffb07c, 0 1px 0 rgba(255, 255, 255, .3); cursor:pointer; text-decoration:none; color:#fff!important; white-space:nowrap; text-align:center; position:absolute; right:15px;  top:15px;  display:none}
.title-style .moshi-btn:hover { text-decoration:none; color:#fff; background:linear-gradient(#f06000, #ff761a); box-shadow:inset 0 1px 0 #ffb07c, 0 1px 0 rgba(255, 255, 255, .05); border:1px solid #e35b00 }

.title-style .show .m-choicebox{ display:block}
.title-style .show .answer{ display:block}
.title-style .show .f-title{ padding-bottom:0px}
.title-style .hover .moshi-btn{ display:inline-block}

.record-list .progress{ float:left; width:80px; height:11px; line-height:11px; background-color:#CCC; text-align:left; display:block; margin-top:10px;}
.record-list .progress em{float:left; display:block;height:11px; background:#f06000; clear:both; overflow:hidden;}
.record-list .progress-txt{ float:left; padding-left:15px; color:#999;}