.border-set-grey, .border_control {
	border: 1px #ddd solid
}
.red-fresh {
	color: #fff;
	background-color: #eb4256
}
.red-fresh:hover {
	background-color: #eb5b6c
}
.red-fresh:active {
	background-color: #d5253e!important
}
.header-inner > .right li a {
    color: #f60;
    margin-left: 10px;
}
.white_btn {
	border: 1px #ddd solid!important;
	background-color: #fbfbfb;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f7f7f7');
	background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);
	background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);
	background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);
	background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);
	background-image: linear-gradient(top, #fefefe, #f7f7f7);
	color: #333!important;
	float: left
}
.white_btn:hover {
	border: 1px #ddd solid!important;
	background-color: #fafafa;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#f6f6f6');
	background-image: -webkit-linear-gradient(top, #fdfdfd, #f6f6f6);
	background-image: -moz-linear-gradient(top, #fdfdfd, #f6f6f6);
	background-image: -o-linear-gradient(top, #fdfdfd, #f6f6f6);
	background-image: -ms-linear-gradient(top, #fdfdfd, #f6f6f6);
	background-image: linear-gradient(top, #fdfdfd, #f6f6f6);
	color: #999!important
}
.white_btn:active {
	border: 1px #ddd solid;
	background-color: #efefef!important;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#eaeaea')!important;
	background-image: -webkit-linear-gradient(top, #f3f3f3, #eaeaea)!important;
	background-image: -moz-linear-gradient(top, #f3f3f3, #eaeaea)!important;
	background-image: -o-linear-gradient(top, #f3f3f3, #eaeaea)!important;
	background-image: -ms-linear-gradient(top, #f3f3f3, #eaeaea)!important;
	background-image: linear-gradient(top, #f3f3f3, #eaeaea)!important;
	color: #333!important;
	cursor: pointer
}
.grey-btn {
	text-align: center;
	color: #fff;
	background-color: #bbb
}
.grey-btn:hover {
	background-color: #bbb!important;
	cursor: normal
}
.dark-orange, .orange {
	text-align: center;
	color: #fff;
	background-color: #f60
}
.dark-orange:hover {
	background-color: #f8b551
}
.grey-btn, .orange {
	cursor: default
}
.disabled {
	color: #fff;
	background-color: #6a6a6a
}
.grey_btn {
	background: #dcdcdc;
	color: #999
}
.btn {
	font-family: "微软雅黑";
	border: 0;
	outline: 0;
	cursor: pointer;
	text-align: center;
	display: inline-block;
*display:inline;
	zoom: 1;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}
.w40 {
	width: 40px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	color: #fff
}
.w50 {
	width: 50px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	color: #fff
}
.w50h32px {
	width: 50px;
	height: 31px;
	font-size: 14px;
	line-height: 30px;
	color: #fff
}
.w60 {
	width: 60px;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	color: #fff
}
.w60h30 {
	width: 60px;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	color: #fff
}
.w80 {
	width: 80px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	color: #fff
}
.w90 {
	width: 90px;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	color: #fff
}
.w90h30 {
	width: 90px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	color: #fff
}
.w100 {
	width: 100px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	color: #fff
}
.w110 {
	width: 110px;
	height: 50px;
	line-height: 50px;
	color: #fff
}
.w110h30 {
	width: 110px;
	height: 30px;
	line-height: 30px;
	color: #fff
}
.w160 {
	width: 160px;
	height: 30px;
	line-height: 30px;
	color: #fff
}
.w200 {
	width: 200px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: #fff
}
.w220 {
	width: 220px;
	height: 44px;
	line-height: 44px;
	font-size: 18px;
	color: #fff
}
.w240 {
	width: 240px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	color: #fff
}
.w260 {
	width: 260px;
	height: 40px;
	font-size: 18px;
	line-height: 40px;
	color: #fff
}
.w280 {
	width: 280px;
	height: 55px;
	font-size: 18px;
	line-height: 55px;
	color: #fff
}
.w300 {
	width: 300px;
	height: 50px;
	font-size: 18px;
	line-height: 50px;
	color: #fff
}
body {
	background: #f5f5f5!important
}
.fixedBar {
	position: fixed;
	bottom: 162px;
	height: 50px;
	line-height: 50px;
	width: 100%;
	text-align: center;
	font-size: 18px;
	background-color: #777;
	opacity: .4;
	color: #fff;
	display: none
}
.banner {
	width: 100%;
	height:400px;
	position: relative;
	/*background: none repeat scroll 0 0 #eb4256;*/
	 background: url("../images/bgw_banner.png") no-repeat scroll center 0 transparent;
}
.banner .notice {
	position: absolute;
	width: 100%;
	height: 30px;
	z-index: 9999
}
.banner .notice .msg {
	min-width: 167px;
	width: 920px;
	text-align: center;
	height: 35px;
	line-height: 35px;
	margin: 0 auto;
	margin-top: 0;
	padding: 0 10px;
	background-color: rgba(153,153,153,.5);
	border-top: 0;
	color: #fff;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px
}
.banner .notice .close {
	margin-top: 5px;
	float: right;
	display: block;
	width: 23px;
	height: 23px;
	background: url(../images/base/close.png) 0 0 no-repeat
}
.banner .notice .close:hover {
	background: url(../images/base/close.png) -24px 0
}
.banner .inner {
	position: relative;
	height: 0;
	z-index: 2
}
.banner .inner .inner_banner {
	width: 679px;
	height: 415px;
	background-size: contain;
	position: relative;
	top: 85px
}
.banner .inner .register {
	position: absolute;
	right: 0;
	top: 40px;
	width: 300px;
	height: 305px;
	background: #fff
}
.banner .inner .register .hd {
	padding: 15px 30px 0;
	position: relative
}
.banner .inner .register .hd span {
	font-size: 18px
}
.banner .inner .register .hd a {
	position: absolute;
	right: 30px;
	top: 28px;
	padding-right: 15px;
	line-height: 18px;
	background: url(../images/index/index_bg.png) right -11px no-repeat
}
.banner .inner .register .bd {
	padding-left: 30px
}
.banner .inner .register .bd .mod_input {
	height: 55px;
	position: relative
}
.banner .inner .register .bd .mod_input label {
	float: left;
	width: 29px;
	height: 40px;
	background: url(../images/index/index_bg.png) no-repeat
}
.banner .inner .register .bd .mod_input .tips {
	position: absolute;
	left: 30px;
	top: 12px;
	font-size: 14px;
	color: #999
}
.banner .inner .register .bd .mod_input input {
	float: left;
	width: 208px;
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	border: 0;
	border-top: #ccc 1px solid;
	border-bottom: #ccc 1px solid;
	background: #fff
}
.banner .inner .register .bd .mod_input .rbg {
	float: left;
	width: 4px;
	height: 40px;
	background: url(../images/index/index_bg.png) -60px 0 no-repeat
}
.banner .inner .register .bd .mod_password label {
	background-position: -29px 0
}
.banner .inner .register .bd .register_but {
	font-family: "微软雅黑";
	outline: 0;
	cursor: pointer;
	text-align: center;
	display: inline-block;
*display:inline;
	zoom: 1;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 240px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	color: #fff;
	color: #fff;
	background-color: #eb4256;
	margin-top: 8px;
	border: none
}
.banner .inner .register .bd .register_but:hover {
	background-color: #eb5b6c
}
.banner .inner .register .bd .register_but:active {
	background-color: #d5253e!important
}
.banner .inner .register .bd .unclick {
	background-color: grey
}
.banner .inner .register .bd .terms {
	height: 15px;
	line-height: 15px;
	font-size: 12px;
	margin-top: 5px
}
.banner .inner .register .bd .terms #agreen_box {
	position: relative;
	top: 2px
}
.banner .inner .register .bd .terms span {
	letter-spacing: 2px
}
.banner .inner .register .bd .terms a {
	color: #eb4256
}
.banner .inner .register .input_group {
	margin-top: 9px!important
}
.banner .inner .register .input_group .input_control.prepend input {
	width: 200px;
	height: 35px;
	line-height: 35px;
	background: #fff
}
.banner .inner .register .input_group .input_control.prepend input.small {
	width: 80px
}
.banner .inner .register .input_group .input_control.prepend input.btn {
	padding: 0
}
.banner .inner .register .input_group .input_control.prepend #send_captcha {
	width: 115px;
	height: 46px!important
}
.th1 {
	height: 580px;
	background: #f8b551
}
.th1 .inner {
	margin: 0 auto
}
.th1 .inner .top_line {
	position: relative;
	top: -10px;
	margin: 0 auto;
	width: 657px;
	height: 74px;
	background: url(../images/thanksgiving/index_icon.png) -88px 0 no-repeat;
	line-height: 70px;
	text-align: center;
	color: #fff;
	font-size: 30px
}
.th1 .inner .th1_content {
	margin-top: 20px
}
.th1 .inner .th1_content dl dt {
	float: left;
	width: 110px;
	height: 450px
}
.th1 .inner .th1_content dl dt span {
	display: inline-block;
	width: 85px;
	height: 64px;
	background: url(../images/thanksgiving/index_icon.png) 0 0 no-repeat
}
.th1 .inner .th1_content dl dd {
	float: left
}
.th1 .inner .th1_content dl .detail {
	margin-top: 20px;
	width: 450px;
	height: 450px
}
.th1 .inner .th1_content dl .detail p .big_icon {
	position: relative;
	top: 30px;
	width: 94px;
	height: 94px;
	display: inline-block;
	margin: 0 10px;
	background: url(../images/thanksgiving/index_icon.png) -93px -149px
}
.th1 .inner .th1_content dl .detail .title {
	font-size: 24px;
	color: #eb4256
}
.th1 .inner .th1_content dl .detail .t2 {
	font-size: 36px;
	color: #eb4256;
	margin-bottom: 35px
}
.th1 .inner .th1_content dl .detail .w290 {
	width: 400px;
	line-height: 30px;
	font-size: 17px;
	color: #333;
	padding-bottom: 5px
}
.th1 .inner .th1_content dl .detail .w290 span {
	font-weight: 700
}
.th1 .inner .th1_content dl .detail .w330 {
	line-height: 30px;
	font-size: 17px;
	color: #333;
	padding-bottom: 5px;
	width: 400px
}
.th1 .inner .th1_content dl .detail .w330 span {
	font-weight: 700
}
.th1 .inner .th1_content dl .detail .activityTime {
	color: #777;
	font-size: 16px;
	padding-bottom: 15px
}
.th1 .inner .th1_content dl .detail .small {
	font-size: 12px;
	color: #555;
	line-height: 24px
}
.th1 .inner .th1_content dl .detail .small .checkExample {
	color: #eb4256;
	cursor: pointer
}
.th1 .inner .th1_content dl .detail .quick_btn {
	font-family: "微软雅黑";
	border: 0;
	outline: 0;
	cursor: pointer;
	text-align: center;
	display: inline-block;
*display:inline;
	zoom: 1;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #eb4256;
	width: 280px;
	height: 55px;
	font-size: 18px;
	line-height: 55px;
	color: #fff;
	margin-top: 15px
}
.th1 .inner .th1_content dl .detail .quick_btn:hover {
	background-color: #eb5b6c
}
.th1 .inner .th1_content dl .detail .quick_btn:active {
	background-color: #d5253e!important
}
.th1 .inner .th1_content dl .detail .envelope_block {
	display: none;
	text-align: center
}
.th1 .inner .th1_content dl .detail .envelope_block img {
	background-size: contain
}
.th1 .inner .th1_content dl .pic_detail {
	width: 382px;
	height: 432px;
	margin-left: 50px;
	margin-top: 30px;
	background: url(../images/thanksgiving/index_icon.png) -452px -203px
}
.th2 {
	background: #fff7d9;
	height: 540px
}
.th2 .th2_content {
	margin: 0 auto
}
.th2 .th2_content dl {
	position: relative;
	top: 45px
}
.th2 .th2_content dl dt {
	float: left;
	height: 450px
}
.th2 .th2_content dl .pic_detail {
	width: 454px;
	height: 325px;
	margin-top: 70px;
	background: url(../images/thanksgiving/index_icon.png) 0 -244px
}
.th2 .th2_content dl dd {
	float: left
}
.th2 .th2_content dl dd .second {
	margin-left: 25px;
	margin-right: 10px;
	display: inline-block;
	width: 85px;
	height: 64px;
	background: url(../images/thanksgiving/index_icon.png) 0 -64px no-repeat
}
.th2 .th2_content dl .detail {
	float: left;
	margin-top: 10px;
	width: 425px;
	height: 450px
}
.th2 .th2_content dl .detail p .big_icon {
	position: relative;
	top: 30px;
	width: 94px;
	height: 94px;
	display: inline-block;
	margin: 0 10px;
	background: url(../images/thanksgiving/index_icon.png) -93px -149px
}
.th2 .th2_content dl .detail .title {
	font-size: 24px;
	color: #eb4256;
	margin-top: 10px
}
.th2 .th2_content dl .detail .t2 {
	font-size: 36px;
	color: #eb4256;
	margin-bottom: 20px
}
.th2 .th2_content dl .detail .w330 {
	width: 400px;
	line-height: 33px;
	font-size: 17px;
	color: #333;
	overflow: hidden;
	text-align: justify;
	text-justify: distribute-all-lines;
	padding-bottom: 10px
}
.th2 .th2_content dl .detail .w330 span {
	font-weight: 700
}
.th2 .th2_content dl .detail .w330 .final_tips {
	font-size: 16px;
	color: #777;
	font-weight: 400;
	padding-bottom: 5px
}
.th2 .th2_content dl .detail .w290 {
	width: 380px;
	font-size: 13px
}
.th2 .th2_content dl .detail .w290 .checkInvite {
	color: #eb4256;
	cursor: pointer
}
.th2 .th2_content dl .detail .quick_btn {
	font-family: "微软雅黑";
	border: 0;
	outline: 0;
	cursor: pointer;
	text-align: center;
	display: inline-block;
*display:inline;
	zoom: 1;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #eb4256;
	width: 280px;
	height: 55px;
	font-size: 18px;
	line-height: 55px;
	color: #fff;
	margin-top: 15px
}
.th2 .th2_content dl .detail .quick_btn:hover {
	background-color: #eb5b6c
}
.th2 .th2_content dl .detail .quick_btn:active {
	background-color: #d5253e!important
}
.th2 .th2_content dl .detail .invite_block {
	display: none;
	text-align: center
}
.th2 .th2_content dl .detail .invite_block img {
	background-size: contain
}
.th3 {
	height: auto;
	background: #f5f5f5
}
.th3 .top_line {
	position: relative;
	top: -10px;
	margin: 0 auto;
	width: 657px;
	height: 74px;
	background: url(../images/index_icon.png) -753px 0 no-repeat;
	line-height: 70px;
	text-align: center;
	color: #fff;
	font-size: 30px
}
.th3 .intro_list {
	overflow: hidden;
	margin: 50px auto 30px;
}
.th3 .intro_list .intro_content .w500 {
	width: 500px;
	float: left
}
.th3 .intro_list .intro_content .w500 .title {
	font-size: 20px;
	color: #000;
	line-height: 20px;
	padding-bottom: 15px
}
.th3 .intro_list .intro_content .w500 p {
	line-height: 30px;
	font-size: 14px;
	text-justify: inter-ideograph;
	text-align: justify
}
.th3 .intro_list .intro_content .w500 .check_more {
	float: right;
	text-align: right
}
.th3 .intro_list .intro_content .w500 .check_more:hover {
	color: #eb5b6c
}
.th3 .intro_list .intro_content .w490 {
	float: left;
	width: 490px;
	text-align: right
}
.th3 .intro_list .intro_content .w490 .w270 {
	width: 270px;
	float: left;
	color: #333!important
}
.th3 .intro_list .intro_content .w490 .w270 ul {
	margin-top: 24px
}
.th3 .intro_list .intro_content .w490 .w270 ul li {
	line-height: 40px;
	font-size: 14px
}
.th3 .intro_list .intro_content .w490 .w270 ul li:last-child {
	font-size: 16px;
	color: #555
}
.th3 .intro_list .intro_content .w490 .w270 ul li:first-child {
	font-size: 30px;
	color: #f60
}
.th3 .intro_list .intro_content .w490 .w270 ul li .money_chart {
	font-size: 18px
}
.th3 .intro_list .intro_content .w490 .w210 {
	text-align: right;
	width: 220px;
	float: left;
	color: #333!important
}
.th3 .intro_list .intro_content .w490 .w210 ul {
	margin-top: 24px
}
.th3 .intro_list .intro_content .w490 .w210 ul li {
	line-height: 40px;
	font-size: 14px
}
.th3 .intro_list .intro_content .w490 .w210 ul li:first-child {
	font-size: 30px;
	color: #f60
}
.th3 .intro_list .intro_content .w490 .w210 ul li .money_chart {
	font-size: 18px
}
.th3 .intro_list .intro_content .w490 .w210 ul #r2 {
	font-size: 16px
}
.th3 .intro_list .intro_content .w490 .w210 ul #count_icon {
	width: 11px;
	height: 12px;
	display: inline-block;
	background: url(../images/index/index_bg.png) -390px -26px
}
.th3 .ban_list {
	padding-top: 20px;
	height:230px;
	cursor: default
}
.th3 .ban_list li {
	float: left;
	width: 340px;
	margin: 0;
	cursor: default!important
}
.th3 .ban_list li span {
	float: left;
	margin-left: 22px;
	width: 99px;
	height: 97px;
	background: url(../images/index_bg.png) 0 -73px no-repeat;
}
.th3 .ban_list li .tit {
	float: left;
	display: block;
	height: 12px;
	font-size: 18px;
	text-align: center
}
.th3 .ban_list li p {
	text-align: center;
	text-justify: inter-ideograph;
	float: left;
	width: 158px;
	padding: 15px 0 0;
	font-size: 13px;
	line-height: 20px
}
.th3 .ban_list li a {
	cursor: default!important
}
.th3 .ban_list .it1 .tit {
	margin-left: -11px
}
.th3 .ban_list li:hover p {
	color: #eb4256
}
.th3 .ban_list .it2 span {
	background-position: -99px -73px;
	margin-left: 58px
}
.th3 .ban_list .it2 p {
	margin-left: 27px;
	text-align: center
}
.th3 .ban_list .it2 .tit {
	margin-left: 30px
}
.th3 .ban_list .it3 span {
	background-position: 0 -170px;
	margin-left: 73px
}
.th3 .ban_list .it3 p {
	margin-left: 43px
}
.th3 .ban_list .it3 .tit {
	margin-left: 44px
}
.th3 .ban_list .it4 {
	width: 215px;
	margin-right: 0
}
.th3 .ban_list .it4 span {
	background-position: -99px -170px;
	margin-left: 100px
}
.th3 .ban_list .it4 p {
	margin-left: 70px
}
.th3 .line_seperate {
	position: relative;
	margin:10px 0 20px;
	width: 100%;
	height: 20px;
	border-bottom: 1px #ddd solid;
	text-align: center
}
.th3 .line_seperate span {
	background: #f3f3f3;
	display: inline-block;
	font-size: 36px;
	color: #333;
	padding: 0 20px;
	margin-top: 15px
}
.th3 .comparison_can {
	margin-bottom: 10px
}
.th3 .comparison_can .comparison_div {
	position: relative;
	width: 255px;
	height: 420px;
	float: left;
	border: 1px #dcdcdc solid;
	margin: 0px 0 0 2px;
	background: #fff;
	
}
.th3 .comparison_can .comparison_div .title {
	width: 100%;
	height:75px;
	background: none repeat scroll 0 0 #fbd752;
	text-align: center;
	line-height: 75px;
	color: #fff;
	font-size: 28px
}
.th3 .comparison_can .comparison_div ul {
	width: 88%;
	margin: 0 6%;
	color: #333
}
.th3 .comparison_can .comparison_div ul li {
	overflow: hidden;
	border-bottom: 1px #ddd solid;
	text-align: center;
	padding: 14px 0;
	color: #333;
	font-size: 17px
}
.th3 .comparison_can .comparison_div ul li:last-child {
	border: none
}
.th3 .comparison_can .comparison_div ul li dl {
	line-height: 40px;
	text-align: center
}
.th3 .comparison_can .comparison_div ul li dl dt {
	float: left
}
.th3 .comparison_can .comparison_div ul li dl dt span {
	color:#f60;
	font-size: 24px
}
.th3 .comparison_can .comparison_div ul li dl dd {
	float: left;
	margin-left: 30px
}
.th3 .comparison_can .comparison_div ul li dl dd span {
	color:#f60;
	font-size: 24px
}
.th3 .comparison_can .comparison_middle {
	position: relative;
	float: left;
	width: 255px;
	height:420px;
	margin: 0 10px;
	background: #fff;
	box-shadow: 0 2px 4px #999;
	-webkit-box-shadow: 0 2px 4px #999;
	-o-box-shadow: 0 2px 4px #999;
	-moz-box-shadow: 0 2px 4px #999
}
.th3 .comparison_can .comparison_middle .title {
	width: 100%;
	height: 75px;
	background: #f29b76;
	text-align: center;
	line-height: 75px;
	color: #fff;
	font-size: 28px
}
.th3 .comparison_can .comparison_middle ul {
	width: 88%;
	margin: 0 6%;
	color: #333
}
.th3 .comparison_can .comparison_middle ul li {
	overflow: hidden;
	border-bottom: 1px #ddd solid;
	text-align: center;
	padding: 14px 0;
	color: #333;
	font-size: 17px
}
.th3 .comparison_can .comparison_middle ul li:last-child {
	border: none
}
.th3 .comparison_can .comparison_middle ul li dl {
	line-height: 40px;
	margin-left: 20px;
	text-align: center
}
.th3 .comparison_can .comparison_middle ul li dl dt {
	float: left
}
.th3 .comparison_can .comparison_middle ul li dl dt span {
	color: #f60;
	font-size: 24px
}
.th3 .comparison_can .comparison_middle ul li dl dd {
	float: left;
	margin-left:65px;
}
.th3 .comparison_can .comparison_middle ul li dl dd span {
	color: #f60;
	font-size: 24px
}
.th3 .comparison_can .comparison_middle .q_btn {
	font-family: "微软雅黑";
	border: 0;
	outline: 0;
	cursor: pointer;
	text-align: center;
	display: inline-block;
*display:inline;
	zoom: 1;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 88%;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	margin: 0 6%;
	color: #fff;
	background-color: #f29b76;
}


.th3 .comparison_can .comparison_div .q_btn {
    background-color:#00b7ee;
    border: 0 none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "微软雅黑";
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    margin: 0 6%;
    outline: 0 none;
    text-align: center;
    width: 88%;
}


/*
.th3 .comparison_can .comparison_middle .q_btn:hover {
	background-color: #eb5b6c
}*/
.th3 .comparison_can .comparison_middle .q_btn:active {
	background-color: #d5253e!important
}
.th3 .w_tips {
	text-align: center;
	font-size: 24px;
	color: #777;
	margin-bottom: 100px
}
.th3 .risk_control {
	margin-bottom: 100px
}
.th3 .risk_control .title {
	width: 950px;
	margin: 0 auto;
	font-size: 14px;
	color: #333;
	line-height: 30px
}
.th3 .risk_control .risk_container {
	margin-top: 63px
}
.th3 .risk_control .risk_container ul li {
	float: left;
	width: 250px;
	margin: 0 0 26px;
	cursor: normal
}
.th3 .risk_control .risk_container ul li span {
	float: left;
	margin-left: 22px;
	width: 98px;
	height: 98px;
	background: url(../images/thanksgiving/index_icon.png) -863px -203px no-repeat
}
.th3 .risk_control .risk_container ul li .tit {
	float: left;
	display: block;
	height: 12px;
	font-size: 18px;
	text-align: center
}
.th3 .risk_control .risk_container ul li p {
	text-justify: inter-ideograph;
	float: left;
	width: 143px;
	padding: 15px 0 0;
	font-size: 13px;
	line-height: 20px;
	text-align: center
}
.th3 .risk_control .risk_container ul .rt2 span {
	background-position: -960px -203px;
	margin-left: 73px
}
.th3 .risk_control .risk_container ul .rt2 p {
	margin-left: 56px
}
.th3 .risk_control .risk_container ul .rt3 span {
	background-position: -1059px -203px;
	margin-left: 90px
}
.th3 .risk_control .risk_container ul .rt3 p {
	margin-left: 69px
}
.th3 .risk_control .risk_container ul .rt4 span {
	background-position: -1157px -203px;
	margin-left: 110px
}
.th3 .risk_control .risk_container ul .rt4 p {
	margin-left: 88px
}
.th3 .risk_control .risk_container ul .rt5 span {
	background-position: -863px -301px
}
.th3 .risk_control .risk_container ul .rt6 span {
	background-position: -960px -301px;
	margin-left: 73px
}
.th3 .risk_control .risk_container ul .rt6 p {
	margin-left: 56px
}
.th3 .risk_control .risk_container ul .rt7 span {
	background-position: -1059px -301px;
	margin-left: 90px
}
.th3 .risk_control .risk_container ul .rt7 p {
	margin-left: 69px
}
.th3 .risk_control .risk_container ul .rt8 span {
	background-position: -1157px -301px;
	margin-left: 110px
}
.th3 .risk_control .risk_container ul .rt8 p {
	margin-left: 88px
}
.th3 .timeline {
	margin:0px 0 10px;
}
.th3 .timeline .t_line {
	position: relative;
	width: 1100px;
}
.th3 .final_btn {
	width: 300px;
	height: 50px;
	font-size: 18px;
	line-height: 50px;
	font-family: "微软雅黑";
	border: 0;
	outline: 0;
	cursor: pointer;
	display: inline-block;
*display:inline;
	zoom: 1;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #fff;
	background-color: #eb4256;
	margin: 0 auto;
	text-align: center;
	margin-left: 355px;
	margin-bottom: 100px
}
.th3 .final_btn:hover {
	background-color: #eb5b6c
}
.th3 .final_btn:active {
	background-color: #d5253e!important
}
.gb_bubble.left {
	left: 242px;
	top: 10px
}
.gb_bubble_msg .bubble_frontof {
	width: 17px;
	height: 5px;
	background: url(../images/signup/bubble_frontof.png) no-repeat 0 -30px;
	position: absolute;
	left: 0;
	top: 29px
}
.gb_bubble_msg .bubble_content {
	width: 100%;
	height: 28px;
	border: solid 1px #ddd;
	text-indent: 6px;
	line-height: 28px;
	background-color: #f5f5f5
}

/*产品服务、常见问题的样式s*/

.th3 .comparison_can .index_info_div {
    background: none repeat scroll 0 0 #f9f9f9;
    border: 1px solid #dcdcdc;
    float: left;
    height: 250px;
    margin: 0 0 0 12px;
    position: relative;
    width: 485px;
}

.th3 .comparison_can .index_info_div .title {
    
    color: #fff;
    font-size: 28px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 100%;
	border-bottom: 3px solid #dcdcdc;s
}

.th3 .comparison_can .index_info_div .title h2 {
    border-bottom: 3px solid #eb4256;
    color: #2a2a2a;
    font-size: 18px;
    text-align: center;
    width: 110px;
}
.th3 .comparison_can .index_info_div .title span {
    float: right;
    padding-right: 10px;
}

.th3 .comparison_can .index_info_div .title span a {
     color: #2a2a2a;
    font-size: 18px;
}
.th3 .comparison_can .index_info_div ul {
    color: #333;
    margin: 0 6%;
    width: 88%;
}

.th3 .comparison_can .index_info_div ul li {
    border-bottom: 1px solid #ddd;
    color: #333;
    font-size: 17px;
    overflow: hidden;
    padding: 14px 0;
    text-align:left;
}

.th3 .comparison_can .index_info_div ul li a{
color:#2a2a2a;
cursor:pointer;
}
/*产品服务、常见问题的样式e*/



/*友情链接s*/
.area02 {
    background-color: #f5f5f5;
    clear: both;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 20px 0px;
    width: 100%;
}

.i_title1 {
    border-bottom: 1px solid #eaeaea;
    color: #b98a00;
    font-family: "微软雅黑";
    font-size: 18px;
    height: 37px;
    line-height: 37px;
    padding-top: 5px;
    text-transform: uppercase;
}


.i_title1 span {
    color: #b98a00;
    font-size: 10px;
}

.hb {
    height: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.area02 div ul li {
    color: #666;
    float: left;
    font-family: "宋体";
    font-size: 14px;
    height: 15px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-left: 0;
    width:200px;
}

.area02 div ul li a {
    color: #666;
}

/*友情链接e*/




/*客户服务样式*/

.main_khfw {
    margin: 15px auto 0;
    position: relative;
    width: 990px;
    z-index: 1;
}

.cms_breadcrumbs {
    color: #333;
    height: 40px;
    line-height: 40px;
}

.cms_breadcrumbs a {
    color: #00a0de;
    margin: 0 5px;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.cms_frame {
}

.aside {
    float: left;
    width: 198px;
}

.cms_nav {
     -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee #eee #eee #eee;
    border-image: none;
    border-radius: 2px;
    border-style: solid solid none;
    border-width: 1px 1px 2px;
    z-index: 99;

}
.cms_nav .head {
    background: none repeat scroll 0 0 #f5f5f5;
    border-bottom: 1px solid #eee;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    height: 47px;
    line-height: 47px;
    padding-left: 20px;
}

.cn1l-item {
    border-bottom: 1px solid #eee;
    font-size: 14px;
    height: 47px;
    line-height: 47px;
    padding-left: 18px;
    position: relative;
    z-index: 9;
	 background: none repeat scroll 0 0 #fff;
}

.cn1l-item .cn1l-item-name {
    color: #333;
    display: block;
}

.aside .aside-weixin {
    margin-top: 18px;
    padding: 10px 18px 15px 25px;
}

.aside .aside-weixin .whead {
    background: url("../images/weixin_icon.png") no-repeat scroll 0 0;
    color: #f97808;
    padding-left: 36px;
}
.aside .aside-weixin h4 {
    color: #787777;
    font-size: 18px;
    font-weight: 700;
    padding: 2px 0;
}

.mt10 {
    margin-top: 10px !important;
}

.aside .aside-weixin img {
    height: 120px;
    width: 120px;
}
.cms_content {
    border: 1px solid #eee;
    border-radius: 2px;
    float: right;
    padding: 0 4px 45px;
    width: 760px;
	 background: none repeat scroll 0 0 #fff;
}
.cms_nav .current, .cms_nav .hover {
	background: #f60
}
.bline {
    border-bottom: 2px solid #eee;
}
.cms-title-1 {
    border-bottom: 1px solid #c8c8c8;
    padding: 29px 18px 18px;
    position: relative;
}

.cms-title-1 h3 {
    color: #f60;
    font-family: "Microsoft Yahei";
    font-size: 24px;
}
.cms-details {
    line-height: 200%;
    margin: 10px 24px;
}

.article-list-wrap .article-list li {
    border-bottom: 1px dotted #d1d1d1;
    height: 47px;
    line-height: 47px;
}

.cms_nav .current, .cms_nav .hover {
    background: none repeat scroll 0 0 #fa5c5b;
}

.cn1l-item.current .cn1l-item-name {
    color: #fff;
}
.article-list-wrap .article-list li .item-title {
    background: url("../images/dot.jpg") no-repeat scroll 18px center;
    float: left;
    padding-left: 30px;
    width: 572px;
}
.article-list-wrap .article-list li span {
    display: inline-block;
}

.article-list-wrap .article-list li .item-title a {
    color: #4d4d4d;
}

.article-list-wrap .article-list li .release-time {
    color: #999;
    float: right;
    padding-right: 20px;
    text-align: right;
    width: 100px;
}
/*换页*/

.navigation {
    height: 30px;
    margin: 25px 0 5px;
    text-align: center;
}

.navigation a {
    border: 1px solid #ebebeb;
    color: #999;
    font-size: 13px;
    margin: 0 2px;
    padding: 5px 8px;
}

.navigation .page .this_page {
    background: none repeat scroll 0 0 #63b8ff;
    border: 0 none;
    color: #fff;
}
.navigation span {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ebebeb;
    color: #999;
    font-size: 13px;
    margin: 0 2px;
    padding: 5px 8px;
}

/*客户服务列表形式2*/
.cms-media-list {
    margin-top: 10px;
}

.cms-media-list li {
    border-bottom: 1px dotted #eae5e5;
    float: left;
    padding: 15px 0;
    width: 100%;
}


.cms-media-list a {
    display: block;
}

.cms-media-list img {
    border: 1px solid #eae5e5;
    float: left;
}

.cms-media-list .cml-detail {
    float: left;

}
.cms-media-list span, .cms-media-list strong {
    display: block;
    word-wrap: break-word;
}

.cms-media-list strong {
    color: #666;
    font: 600 16px/18px "Microsoft Yahei";
    padding-top: 5px;
}
.cms-media-list span, .cms-media-list strong {
    display: block;
    word-wrap: break-word;
}


.cms-media-list .cml-d-txt {
    color: #666;
    font-size: 14px;
    line-height: 25px;
    margin: 6px 0;
}

.cms-media-list .cml-d-time {
    color: #999;
    font: 400 12px/14px Arial;
}

/*联系我们*/
.contbox {
    color: #444;
    font-family: "Microsoft yahei";
    margin: 0 auto;
    width: 753px;
}

.map {
    border: 0 solid #eee;
    margin-bottom: 15px;
    margin-right: 0;
    padding: 10px;
    width: 730px;
}

.map .centre {
    margin: 0 auto;
    width: 730px;
}

.contbox {
    color: #444;
    font-family: "Microsoft yahei";
    margin: 0 auto;
    width: 753px;
}



.left h2 {
    font-size: 16px;
    line-height: 36px;
    margin-top: 5px;
}
.left p {
    display: block;
    font-family: "宋体";
    font-size: 12px;
    line-height: 18px;
    margin-top: 3px;
}
.right {
    float: right;
    margin-right:3%;
}
.right h2 {
    font-size: 16px;
    line-height: 16px;
    margin-top: 5px;
}
.right p {
    display: block;
    font-family: "宋体";
    font-size: 12px;
    line-height: 18px;
    margin-top: 3px;
}