@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font-family: "STHeiti,Arial", Microsoft YaHei;
	text-align: center; 
	background:#efeff4;
	min-width:320px;
}
div, ul, li, ol, h1, h2, h3, h4, h5, h6, p, input, dl, dt, dd, table, th, tr, td, span, form, bdo, em, select, i, kbd, textarea, pre, form, fieldset {
	margin: 0;
	padding: 0;
	list-style: none;
}
img {
	border: none;
}
.clear {
	clear: both;
}
i {
	font-style: normal;
}
/*
a:link, a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
*/
/*
a:link{
	text-decoration: none;
	color:#666;
}
a:visited{
	text-decoration: none;
	color:#716e7f;
	border:none;
}
a:hover{
	text-decoration: none;
	color:#666;
}
a:active{
	text-decoration: none;
	color:#666;
	border:none;
}
*/
/*
a:visited{
	text-decoration: none;
	color:#716e7f;
	border:none;
}
a:active{
	text-decoration: none;
	color:#666;
	border:none;
}
a.curnewbtn-normal:visited {
	background: none repeat scroll 0 0 #fff;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    color: #666;
}
a.curnewbtn:visited {
	background: none repeat scroll 0 0 #fd6138;
    border: 1px solid #fd6138;
    border-radius: 5px;
    color: #fff;
}
a.quick_btn:visited {
    color: #fff;
}
*/
a:visited{
	text-decoration: none;
	color:#716e7f;
	border:none;
}
a:hover {
	text-decoration: none;
}
a:active{
	text-decoration: none;
	color:#666;
	border:none;
	text-decoration: none;
}

a.curnewbtn-normal:visited {
	background: none repeat scroll 0 0 #fff;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    color: #666;
    text-decoration: none;
}
a.curnewbtn-normal:hover {
	background: none repeat scroll 0 0 #fff;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    color: #666;
    text-decoration: none;
}
a.curnewbtn-normal:active {
	background: none repeat scroll 0 0 #fff;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    color: #666;
    text-decoration: none;
}

a.curnewbtn:visited {
	background: none repeat scroll 0 0 #fd6138;
    border: 1px solid #fd6138;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}
a.curnewbtn:hover {
	background: none repeat scroll 0 0 #fd6138;
    border: 1px solid #fd6138;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}
a.curnewbtn:active {
	background: none repeat scroll 0 0 #fd6138;
    border: 1px solid #fd6138;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

a.quick_btn:visited {
    color: #fff;
    text-decoration: none;
}

a.blue:link, a.blue:visited {
	color: #e11c1a;
}
a.blue:hover {
	color: #1155cc;
}
/*2015.2.27
.top {
	width: 100%;
	height: 44px;
	background: #e11c1a;
	border-bottom: 1px solid #ddd;
}*/
.top h2 {
	font-size: 24px;
	font-weight: bold;
	line-height: 44px;
	color: #fff;
	overflow: hidden;
	padding-right: 20px;
}
.logo {
	background: url(../images/logo.png) no-repeat 10px center;
	height: 44px;
	float: left;
	width: 145px;
}
.fanhui {
	background: url(../images/fanhui.png) no-repeat 15px center;
	height: 44px;
	float: left;
	width: 40px;
}
.fanhui a {
	font-size: 0;
	width: 50px;
	height: 44px;
	display: block;
	overflow: hidden;
	text-indent: -1000px;
}
.tel {
	float: right;
	height: 44px;
	width: 130px;
	line-height: 44px;
	color: #fff;
}
.tel a {
	color: #fff;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
}
.menu {
	width: 100%;
	display: block;
	border-bottom: 1px solid #fff;
	overflow: hidden;
}
.menu ul li {
	float: left;
	width: 33%;
	font-size: 14px;
	color: #333;
	text-align: center;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #fff;
}
.menu ul li span {
	border-left: 1px solid #ddd;
	border-right: 1px solid #fff;
	display: block;
	padding: 18px 5px 0;
	line-height: 16px;
	height: 62px;
	display: block;
	overflow: hidden;
}
.guwen ul li span {
	height: 105px;
	padding: 10px;
}
.guwen ul li img {
	border: 1px solid #fff;
	box-shadow: 1px 2px 5px #999;
	margin-bottom: 5px;
}
.freebtn {
	width: 50%;
	display: block;
}
.tuijian, .newbox, .list, .ranklist, .newboxdd {
	padding-bottom:50px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border: 0px solid #ddd;
	padding: 0px;
	margin:	0 0 5px;
	   margin: 20px 0 5px;
}
.tuijian p img {
	float: left;
	margin-right: 10px;
}
.tuijian p {
	text-align: left;
	font-size: 18px;
	color: #333;
	height: 70px;
	overflow: hidden;
	line-height: 24px;
}
.newbox li {
    display: block;
    font-size: 16px;
    line-height: 35px;
    overflow: hidden;
    text-align:center;/*2015.01.06*/
}
.newrow {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    width: 90%;
}
.newtitle {
	width: 100%;
	display: block;
	overflow: hidden;
	background-color:#fff;
}
.newtitle li {
	float: left;
	width: 50%;
	line-height: 40px;
	font-size: 16px;
	text-align: center;
}
.newtitle2 li {
	float: left;
	width: 50%;
	line-height: 40px;
	font-size: 18px;
	text-align: center;
}
.newtitle h2 {
	font-size: 1.125px;
	line-height: 40px;
	padding-left: 10px;
	text-align: left;
}
.curnewbtn {
	background: none repeat scroll 0 0 #fd6138;
    color: #fff;
    display: block;
    border-radius: 5px;
border: 1px solid #fd6138;
}
.curnewbtn1 {
	background-color:#9fe0e0;
    color: #fff;
    display: block;
   
}
.newboxdd ul li {
	line-height: 35px;
	font-size: 16px;
	text-align: left;
	background: url(../images/icon.png) no-repeat right center;
	display: block;
	border-bottom: 1px solid #f4f4f4;
}
.newboxdd p {
	line-height: 35px;
	font-size: 18px;
	color: #333;
	text-align: left;
	text-indent: 25px;
}
.newboxdd strong {
	font-size: 20px;
	line-height: 45px;
	text-align: center;
	font-weight: bold;
}
.newboxdd dl dt {
	line-height: 35px;
	font-size: 18px;
	color: #333;
	text-align: left;
	text-indent: 25px;
}
.newboxdd dl dd {
	line-height: 35px;
	font-size: 18px;
	color: #333;
	text-align: left;
	text-indent: 35px;
}
.bigbox {
	position: relative;
	-webkit-transition: left 600ms ease-out;
	width: 100%;
	overflow: hidden;
	text-align: left;
}
.pic_list {
	background-color: #fff;
    border-bottom:0px solid #eee;
    color:#596678;
    height: 20px;
    margin-top: 10px;
    overflow: hidden;
    padding: 5px;
    text-align: left;
    font-size: 14px;
}
.pic_list img {
	float: left;
	padding: 2px;
	border: 1px solid #eee;
	margin-right: 10px;
}
.pic_list a {
    float: left;
    font-family: "微软雅黑";
    font-size: 14px;
    line-height: 25px;
}
.pic_list span {
	color: #418ad7;
    float: right;
    font-family: "微软雅黑";
    font-size: 14px;
    line-height:18px;
    text-align: left;
}
.pic_list strong {
	font-size: 16px;
	display: block;
}
.pic_list p {
	font-size: 14px;
	height: auto;
	width: 100%;
}

.li_list p {
   background-color: #fff;
    display: block;
    font-size: 16px;
    height: 50px;
    line-height: 30px;
    overflow: hidden;
    padding-top: 20px;
    text-align: left;
    width: 100%;
}
.li_list p span {
    font-family: 微软雅黑;
    font-size: 24px;
    margin-right: 15%;
    padding-left: 5px;
	color:#666;
}
.li_list1 {
	float: left;
	vertical-align: top;
	display: block;
	width: 100%;
}

.li_list1 p {
    background-image: url("../images/content/cp_bg.jpg");
    background-position: 1% center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #f2f2f2;
    display: block;
    font-size: 14px;
    height: 80px;
	line-height:20px;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
    text-align: left;
    width: 100%;
	background-color:#fff;
}

.li_list2 p {

    background-position: 1% center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #f2f2f2;
    display: block;
    font-size: 14px;
    height: 80px;
    line-height: 80px;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
    text-align: left;
    width: 100%;
}
.li_list2 p span {
	padding-left:105px;
}
/*
.wz {
	padding-left:25%;
	float:left;
	width:55%;
	margin-top:10px;
	font-family:"宋体";
	font-size:12px;
	color:#ccc;
}
*/
.wz {
    color: #ccc;
    float: left;
    font-family: "微软雅黑";
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    width: 100%;
    padding-top: 10px;/*01.20金*/
}
.wz7 {
    color:#a9a9a9;
    padding: 5%;
    text-align: left;
    font-size: 15px;
    line-height: 25px;
}

.wz15 span b{

    font-size: 15px;
    line-height: 20px;
   
}
.tz{
	color:#F60;
	font-size:12px;
	font-family:"宋体";
	height:80px;
	line-height:80px;
	margin-left:5%;
}
.tz a{
	color:#F60;
}
.tz a:hover{
	color:#F33;
}
.linews {
	padding: 0 10px;
	float: left;
	vertical-align: top;
	display: block;
}
.linews p {
	text-align: left;
	line-height: 30px;
	font-size: 16px;
	border-bottom: 1px dashed #f4f4f4;
	padding-left: 10px;
}
.linews p strong {
	color: #be0000;
}
.go_btn {
	margin: 6px auto;
	height: 34px;
	width: 98%;
	border: 1px solid #ddd;
	text-align: center;
	line-height: 34px;
	font-size: 16px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(whiteSmoke), to(#E3E3E3));
	background: -moz-linear-gradient(top, whiteSmoke, #E3E3E3);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: block;
	float: left;
	margin-left: 1%;
}
.go_btn em {
	font-style: normal;
	cursor: pointer;
}
.footer {
	background: #e11c1a;
	padding: 5px;
	text-align: center;
}
.footer p {
	font-size: 14px;
	color: #fff;
	line-height: 30px;
}
.footer p a {
	color: #fff;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
}
.nav, .search {
	/* padding: 10px; */
	overflow: hidden;
	display: block;
}
.nav ul li {
	width: 100%;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 18px;
	-moz-border-radius: 5px;
	background: url(../images/btn2.gif) repeat-x 0 0;
	height: 40px;
	line-height: 40px;
	display: block;
}
.nav ul li a {
	width: 100%;
	height: 40px;
	display: block;
}
.search p {
	margin-bottom: 10px;
}
.search .txt {
	width: 100%;
	height: 35px;
	line-height: 35px;
	border: 1px solid #ddd;
	font-size: 18px;
}
.search select {
	width: 100%;
	height: 35px;
	line-height: 35px;
	border: 1px solid #ddd;
	font-size: 18px;
}
.search .btn {
	width: 100%;
	height: 40px;
	line-height: 40px;
	border: none;
	font-size: 18px;
	font-weight: bold;
	background: #aec5e1;
}
.list ul li {
	padding: 5px;
	border-bottom: 1px solid #f4f4f4;
	display: block;
	text-align: left;
	background: url(../images/icon.png) no-repeat right center;
}
.list ul li:hover {
	background: #f1edd1;
	display: block;
}
.list ul li strong {
	font-size: 18px;
	line-height: 20px;
	display: block;
}
.list ul li strong em {
	font-size: 12px;
	color: #be0000;
	font-style: normal;
	padding-left: 2px;
}
.list ul li span {
	font-size: 12px;
	line-height: 16px;
	color: #999;
}
.sosobox {
	width: 100%;
	background: url(../images/btn2.gif) repeat-x 0 0;
	height: 35px;
	border-bottom: 1px solid #ddd;
	padding: 5px 0;
	overflow: hidden;
}
.sosobox .txt {
	width: 80%;
	height: 33px;
	border: 1px solid #ddd;
	line-height: 33px;
	font-size: 16px;
	color: #666;
}
.sosobox .btn {
	width: 19%;
	height: 35px;
	border: none;
	background: #333;
	color: #fff;
	line-height: 35px;
}
.page {
	padding: 10px;
	display: block;
	color: #333;
}
.shengqingbtn {
	overflow: hidden;
	display: none;
	margin: 0 auto;
}
.shengqingone a:link, .shengqingone a:visited {
	color: #333;
	background: url(../images/btn2.gif) repeat-x 0 0;
	padding: 5px 10px;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #ddd;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.shengqingone a:hover {
	color: #fff;
	background: url(../images/topbg.png) repeat-x 0 0;
	padding: 5px 10px;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	border: none;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.shengqingtwo a:link, .shengqingtwo a:visited {
	color: #fff;
	background: url(../images/topbg.png) repeat-x 0 0;
	padding: 5px 10px;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	border: none;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.shengqingtwo a:hover {
	color: #333;
	background: url(../images/btn2.gif) repeat-x 0 0;
	padding: 5px 10px;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #ddd;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.list p {
	line-height: 28px;
	font-size: 16px;
	text-align: left;
	padding-left: 10px;
}
.list p {
	line-height: 28px;
	font-size: 16px;
	text-align: left;
	padding-left: 10px;
}
.list p strong {
	color: #be0000;
	line-height: 20px;
	font-size: 18px;
	display: block;
}
.list p span {
	font-size: 12px;
	color: #999;
	height: 12px;
}
.list p bdo {
	font-size: 14px;
	color: #666;
	line-height: 20px;
}
.list textarea {
	width: 100%;
	height: 150px;
	border: 1px solid #ddd;
}
.jianjie {
	width: 100%;
	height: 200px;
	overflow: scroll;
	overflow-x: hidden;
}
.jianjie p {
	line-height: 30px;
	font-size: 14px;
	color: #666;
	text-align: left;
}
.majorbox {
	padding: 5px;
	overflow: hidden;
	display: block;
}
.majorbox h2 {
	line-height: 30px;
	color: #cc0000;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 10px;
}
.majorbox p a:link, .majorbox p a:visited {
	padding: 3px 5px;
	background: #666;
	margin-right: 5px;
	color: #fff;
	margin-bottom: 5px;
	display: inline-block;
}
.majorbox p a:hover {
	padding: 3px 5px;
	background: #e11c1a;
	color: #fff;
	display: inline-block;
}
.majorbox ul li {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	text-align: left;
	overflow: hidden;
	color: #999;
}
.majorbox ul li strong {
	font-size: 16px;
	padding-right: 5px;
}
.ranklist ul li {
	line-height: 35px;
	border-bottom: 1px solid #f4f4f4;
	display: block;
	text-align: left;
	font-size: 16px;
	font-weight: 600;
	background: url(../images/icon.png) no-repeat right center;
}
.ranklist ul li em {
	padding: 2px 5px;
	background: #be0000;
	color: #fff;
	margin-right: 5px;
	font-style: normal;
	font-size: 12px;
	font-weight: 600;
}
.li_list p input {
	border: 1px solid #6CF;
	background-color:#FFF;
	color:#6CF;
	border-radius:5px;
	width:18%;
	height:30px;
	font-size:12px;
	float:right;
	margin-right:8%;
	margin-top: 5px;
}
.tx{
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
	width:100px;;
}


.sy{
	background-color: #fa5c5b;
	text-align:left;
	color:#FFF;
	font-size:16px;
	font-family:"微软雅黑";
	padding-top:20px;
	padding-bottom:20px;
	width:100%;/*2015.01.15*/

}
/*2.14
.sy span{
	float: left;
    font-size: 18px;
    line-height: 26px;
   margin-left: 20%;
    width: 30%;
}*/
.sy span {
    float: left;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    width: 120px;
}
/*
.sy img{
	float:left;
	margin-left:5%;
	margin-top:10px;
}
*/
.sy img {
    float: left;
    height: 80px;
    margin-left:13%;
    margin-top: 0;
    width: 80px;
}
.sy a{
    float: left;
    font-size:14px;
    line-height:26px;
    margin-top:0px;
    color:#fff;
}
.sy1{
	background-color: #fff;
    color: #ccc;
    font-family: "微软雅黑";
    font-size: 12px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;

}
.l1{
	float:left; 
	width: 33%;
}
.l{
float:left;
	width:43%;
	padding-left:20px;
}
.sy1 span {
    color:#716e7f;
    font-size: 16px;
    line-height: 20px;
}
.yz-visited{
	color:#CCC;
	border: 1px solid #ccc;
}
.box{
	background-color: #fff;
    margin-top:10px;
    text-align: left;
	 margin-bottom:10px;
}
.ll{
	text-align:left;
	border-bottom:1px solid #f2f2f2;
	color:#716e7f;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	font-size: 16px;
	background: url("../images/actvie-money13.png") no-repeat scroll 97% center;
	line-height: 30px;
	background-color:#fff;
}

.ll span{
	float:left;
	color:#666; 
	padding-right:9%;
	font-size: 14px;
}
.ll img{
	float:left;
	margin-right:10px;
	width:25px;
	height:26px;
}
/*2015.01.14(备份该前原样式)
.li_list3 p {
    background-color: #fff;
    color: #333;
    display: block;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-align: left;
    width: 100%;
}
*/
/*2015.01.18该前备份
.li_list3 p {
    background-color: #fff;
    color: #333;
    display: block;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 8px;
    text-align: left;
    width: 100%;
}
*/
.li_list3 p {
    color: #333;
    display: block;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 8px;
    text-align: left;
    width: 100%;
}
/*2015.01.14(备份该前原样式)
.li_list3 p span {
    color:#98a0af;
    font-family: 微软雅黑;
    margin-right: 5%;
    padding-left: 5px;
	text-align:center
}
*/
.li_list_zrq p {
    color: #333;
    display: block;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 8px;
    text-align: left;
    width: 100%;
    background: none repeat scroll 0 0 #fff;
}
/*2015.01.18该前备份
.li_list_zrq p span {
    color: #98a0af;
    float: left;
    font-family: 微软雅黑;
    margin-right: 5%;
    padding-left: 10px;
}
*/
.li_list_zrq p span {
    color: #98a0af;
    float: left;
    font-family: 微软雅黑;
    margin-right: 1%;
    padding-left: 2%;
    width: 22%;
}
.li_list_zrq p span b {
    color:#0c8dde;
    font-size: 12px;
}
.li_list_zrq p input {
    background-color: #fff;
    border: 1px solid #fd6138;
    border-radius: 5px;
    color:#fd6138;
    float: right;
    font-size: 12px;
    height: 30px;
    margin-right: 5%;
    width: 20%;
}
.li_list5 p {
    background-color: #fff;
    color: #716e7f;
    display: block;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 8px;
    text-align: left;
    width: 100%;
}
.li_list3 p span {
    color: #98a0af;
    float:left;
    font-family: 微软雅黑;
    margin-right: 5%;
    padding-left: 10px;
}
.li_list3 p span b{/*2015.01.14*/
    color:rgb(73, 143, 192);
    font-size: 12px;
}
/*2015.01.14(备份该前原样式)
.li_list3 p input {
    background-color: #fff;
    border: 1px solid #6cf;
    border-radius: 5px;
    color: #6cf;
    float: right;
    font-size: 12px;
    height: 30px;
    margin-right: 5%;
    margin-top: -5px;
    width: 18%;
}
*/
.li_list3 p input {
    background-color: #fff;
    border: 1px solid #6cf;
    border-radius: 5px;
    color: #6cf;
    float: right;
    font-size: 12px;
    height: 30px;
    margin-right: 5%;
    width: 18%;
}
.li_list4 p {
    background-color: #fff;
    display: block;
    font-size: 16px;
    height: 50px;
    line-height: 10px;
    margin-top: 20px;
    overflow: hidden;
    padding-top: 20px;
    text-align: left;
    width: 100%;
	margin-top:20px;	
}
.li_list4 p span {
    color: #666;
    font-family: 微软雅黑;
    font-size: 12px;
    margin-right: 10%;
    padding-left: 5px;
	text-align:center
}

.li_list4 p input {
    background-color: #fff;
    border: 1px solid #6cf;
    border-radius: 5px;
    color: #6cf;
    float: right;
    font-size: 12px;
    height: 30px;
    margin-right: 5%;
    margin-top: -5px;
    width: 18%;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

#header{
    z-index: 1000;
}
.clearfix {
    display: block;
}
#footer .active {
    color: #1d9fe7;
}
/*红色
#footer .active {
    color:#fc5d3d;  
}
*/
.botNav-item {
    font-size: 12px;
    height: 49px;
    line-height:5px;
    
}
.botNav a{
	float:left;
    width:25%;
    text-align:center;
    
}
.botNav{
	 background: none repeat scroll 0 0 #fcfcfc;
    border-top: 1px solid #ddd;
    bottom: 0;
    height: 49px;
    left: 0;
    line-height: 49px;
    padding: 0;
    width: 100%;
     position: fixed;
    z-index: 1000;
}
.botNav img {
	width:27px;
    height:27px;
    margin: 5px auto 0;
    display:block;
}
.headerWrapper span {
	color: #fff;
    font-size: 22px;
    line-height: 54px;
    margin: 0 auto;
}

.li_list1 input[type="text"] {
	width: 65%;
	background-color:#fff;
	float:left;
	border:0;
}
.dc {
	background-color: #FFF;
	height: 40px;
	width: 100%;
	border-bottom:1px solid #ccc;
	font-size:12px;
	line-height:40px;
	padding-left:10px;
	color:#666;
}
.li_list1 .dc span {
	font-size: 12px;
	color: #ccc;
	padding-left:10px;
	padding-right:20px;
}

.bigbox1 {
	position: relative;
	-webkit-transition: left 600ms ease-out;
	width: 100%;
	
	overflow: hidden;
	text-align: left;
}
.go_btn1{
	background-color:#fff;
	font-size:18px;
	color:#fff;
	font-family:"微软雅黑";
	height:40px;
	line-height:40px;
	margin-top:20px;
}
.gm {
    background-color: #fff;
    line-height: 45px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
}
.gm span {
	font-size: 0.8rem;
	min-width:20%;
	max-width:30%;
	float:left;
	padding-left:15px;
	text-align:left;
	color: #333;
}

.gm input[type="text"] {
    background-color: #fff;
    border: 0 none;
    font-family:"微软雅黑";
    float: left;
    width: 60%;/*2.2*/
    padding-top:15px;
    font-size:14px;
}
.gm input[type="button"] {
    background-color: #fff;
    border-radius:2px;
    float: right;
    font-size: 12px;
    padding: 3px;
	margin-top: 10px;
	margin-right:10px;
}
.lg input {
    background-color:#fa5c5b;
    border-radius:5px;
    float: left;
    font-size: 16px;
    margin-right: 8%;
    margin-left: 8%; 
    font-family:"微软雅黑";
    width:84%;
    height: 40px;
    padding:5px;
}
.lg input:focus{
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline:0 none;
    border-radius: 5px;
    float: left;
    font-size: 16px;
    margin-right: 8%;
    height: 40px;
    font-family:"微软雅黑";
    width:84%;
    padding:5px;
    text-decoration: none;
}
.headerWrapper img{
	float:left;
	margin-top:16px;
}
.headerWrapper a {
	display:inline;
}
.gm a {
	display:inline;
}

.headerWrapper1 {
    background-color:#30374f;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    height: 54px;
    padding-left: 14px;
    padding-right: 14px;
    z-index: 9990;
    font-size: 14px;
}
.headerWrapper1 img{
	float:left;
	margin-top:16px;
	width:24px;
	height:20px;
}
.headerWrapper1 a {
	display:inline;
}

.headerWrapper1 span {
    color:#fff;
    font-size: 18px;
    line-height: 54px;
    margin: 0 auto 0 -24px;
}

.hq {
    border-bottom: 1px solid #ececec;
    margin: 0 5px 0 0;
    padding: 0;
    width: 97%;
}
/*2015.01.18该前备份
.cp{
	padding:5px 20px;
	background-color:#fff;
	margin-bottom: 5px;
	border-bottom: 1px solid #e4e4e4;
}
*/
.cp {
    background-color: #fff;
    background-image: url("../images/top_hot.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    border-bottom: 0px solid #e4e4e4;
    margin-bottom: 3px;
    padding:0px;
}
.cp_sm {
    background-color: #fff;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 5px;
    padding: 5px 20px;
}
.cp img{
	float:left;
}
.hq img{
	width:25px;
	height:28px;
}
/*2015.01.18该前备份
.cp2{
	padding:5px 20px;
	background-color:#fff;
	margin-bottom:50px;
    border-top: 1px solid #e4e4e4;
}
*/
.cp2 {
    background-color: #fff;
    background-image: url("../images/top_hot_red.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    border-top: 1px solid #e4e4e4;
    padding: 5px 10px;
}
.cp2 img{
	float:left;
}
.hq span {
   color:#716e7f;
    float: left;
    font-family: "微软雅黑";
    font-size: 16px;
    line-height: 30px;
    margin-left: 5px;
}
/*2015.01.18该前备份
.js{
    font-family:"微软雅黑";
    line-height:22px;
    text-align: left;
    color: #98a0af;
    font-size: 14px;
    margin-top:5px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #ececec;
}
*/
/*/*2015.01.18该前备份
.js{
    font-family:"微软雅黑";
    line-height:22px;
    text-align: left;
    color: #98a0af;
    font-size: 14px;
    margin-top:5px;
    padding-bottom:0px;
    border-bottom:0px dotted #ececec;
}
*/
.js {
    border-bottom: 0 dotted #ececec;
    color: #8f96a8;
    font-family: "微软雅黑";
    font-size: 14px;
    line-height: 25px;
    margin-top: 5px;
    padding-bottom: 0;
    text-align: left;
}

.index_txt{
    border-bottom: 0 dotted #ececec;
    color: #98a0af;
    font-family: "微软雅黑";
    font-size: 14px;
    line-height: 21px;
    margin-top: 5px;
    padding-bottom: 0;
    text-align: left;
}
.gom {
    background-color: #fef8f6;
    background-image: url("../images/top_bg.png");
    background-position: right top;
    background-repeat: no-repeat;
    border: 0 dotted #efd6d1;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(216, 216, 216, 0.4);
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 2%;
}
/*2015.01.18该前备份
.gom{
	margin-top:5px;
	 padding:0;
	 border-bottom:0px solid #cccccc;
}
*/
/*2015.01.18该前备份
.gom span{
	line-height:20px;
	color:#bfc1c4;
}
*/
.gom span{
	line-height:20px;
	color:#98a0af;
}
.gom p{
	text-align:left;
	color: #666;
    font-size: 14px;
	line-height:20px;
	white-space: nowrap;
}
/*2015.01.18该前备份
.gom img {
    height: 86px;
    margin-left: 10%;
    width: 83px;
}
*/
.gom img {
    height: 86px;
    margin:0 auto;
    width: 83px;
    float:none;
}
.gom a{
	display: inline-block;
    margin: 0 auto;
    width: 100px;
}
/*2015.01.18该前备份
.r{
	float:right;	
	width:30%;
}
*/
.r{
	float:right;
	width: 33%;
}
.gm input[type="password"] {
    background-color: #fff;
    border: 0 none;
    float: left;
    width: 60%;/*2.2*/
    font-size: 14px;
    padding-top: 15px;

}
.wz2{
	padding:5%;
	text-align:left;
}
    background-color: #fff;
    color: #98a0af;
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 20px;
}
.wz4{
	background-color:#fff;
	padding-bottom:20px;
	font-size: 14px;
}
.wz4 span{
	color:#ed4545;  
	font-size: 20px;
}
.xy{
	background-color: #FFF;
	color:#666;
	font-size:12px;
	width:100%;
	text-align:left;	
	margin-top:10px;
	padding-top:10px;
	border-bottom:1px solid #eee;
	padding-bottom:10px;

}
.xy span{
	margin-left:5%;
	padding-top:10px;
	 font-size: 14px;
}
textarea {
    background-color: #fff;
    color: #666;
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 40px;
    line-height: 18px;
    overflow-y: auto;
	padding-left:5%;
	padding-top:10px;
	padding-bottom:20px;;
	width:95%;
}
.go_btn2 {
     background-color:#fa5c5b;
    color: #fff;
    font-family: "微软雅黑";
    font-size: 18px;
    height: 40px;
    line-height: 40px;
	margin:0 auto;
	width:94%;
	margin-bottom:60px;
	margin-top:20px;/*2015.01.06*/
	border-radius:5px;
	position: fixed;
	bottom: 3px;
	left: 3%;
}
.btn_tixian {
    background-color:#fa5c5b;
    color: #fff;
    font-family: "微软雅黑";
    font-size: 18px;
    height: 40px;
    line-height: 40px;
	margin:0 auto;
	width:94%;
	margin-bottom:10px;
	margin-top:10px;
	border-radius:5px;
	bottom:3px;
}
.wz4 a{
	color:#fff;
}
.lg a{
	display:inline;
}
.cp3 p {
    background-color: #fff;
    border-bottom: 1px solid #f2f2f2;
    display: block;
    font-size: 16px;
    height: 50px;
    line-height: 30px;
    margin-bottom: 20px;
    overflow: hidden;
    padding-top: 20px;
    text-align: left;
    width: 100%;
}
.cp3 p span {
    color: #666;
    font-family: 微软雅黑;
    font-size: 18px;
    width:33.3%;
    text-align:center;
    float:left;
 
}

.cp3 p input {
    background-color: #fff;
    border: 1px solid #6cf;
    border-radius: 5px;
    color: #6cf;
    float:left;
    font-size: 12px;
    height: 30px;
    width: 33.3%;
    text-decoration: none;
}
.cp3 p input:focus{
    border-color: #66afe9;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline:0 none;
    border-radius: 5px;
    color: #6cf;
    float:left;
    font-size: 12px;
    height: 30px;
    width: 33.3%;
    text-decoration: none;
}
.cp3{
	padding:20px;
	background-color:#fff;
	margin-bottom:50px;
}
.cp3 img{
	float:left;
}

.js1 {
    border-bottom: 1px solid #eee;
    color: #98a0af;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
}
.js1 span{
	color:#ed4545;
}
.wz5{
	font-size:14px;
	
	text-align:left;
	padding-left:10%;
	line-height:25px;
	
}
.wz5 span{
	font-size:14px;
	
}
.wz6 {
    border-bottom: 1px solid #eee;
   
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 10px;
    padding-left: 10%;
   
    text-align: left;
}
/*2015.01.14
.gm1 input[type="text"] {
    background-color: #fff;
    border: 0 none;
    float: left;
    width: 50%;
	padding:13px 12px;
}*/
.gm1 input[type="text"] {
    background-color: #fff;
    border:0px;
    float: left;
    margin-left: 5px;
    margin-top:12px;
    padding: 5px;
    width: 50%;
    color:#fa6813;
}
.gm1{
	line-height:45px;
	padding-left:5%;
    border-bottom: 1px solid #f2f2f2;
}
.gm1 span{
	font-size:16px;
	color:#333;
	float:left;
}
.go_btn3 {
    background-color: #fa5c5b;
    border-radius: 5px;
    color: #fff;
    font-family: "微软雅黑";
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto 10px;
    width: 94%;
}
.xy1{
	color:#333;
}
.xy1 a{
	color:#09F;
	display:inline;
}
.sh{
	background-color:#fff;
	margin-bottom:10px;
	padding-bottom:10px;
	padding-left:3%;
	padding-top:3%;
}
.sh p span{
	color:#F60;/*2015.01.06*/
    font-family: 微软雅黑;
    font-size: 14px;
    margin-right: 5%;
    padding-left: 5px;
    text-align: center;
}
.sh a{
	border-radius:5px;
	background-color:#4286be;
	color:#fff;
	float:right;
	margin-right:5%;
	width:30%;
	text-align:center;
}
.sh1{
	background-color:#fff;
	margin-bottom:10px;
	padding-bottom:10px;
	padding-left:3%;
	padding-top:5%;
	color:#ccc;
}
.sh1 p span{
	color:#fa6813;
    font-family: 微软雅黑;
    font-size: 16px;
    margin-right: 5%;
    padding-left: 5px;
    text-align: center;
}
.sh1 a{
	background-color: #fa5c5b;
    border-radius: 5px;
    color: #fff;
    float: right;
    line-height: 30px;
    margin-right: 5%;
    margin-top:0px;
    text-align: center;
    width: 30%;
	text-decoration:none;
	font-size: 18px;
}
.go_btn1{
	background-color:#fff;
	font-size:16px;
	color:#fff;
	font-family:"微软雅黑";
	height:40px;
	line-height:40px;
	margin-top:20px;
}
.sy2 {
    background-color:#5b6489;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.sy2 strong{
	color:#F30;
}

.jdt {
    background: none repeat scroll 0 0 #fff;
    display: inline-block;
    height:20px;
    width: 90%;
	margin:10px auto 0;
	border-radius: 15px;
}
.jdt i {
    animation: 1s ease 0s normal none 1 running statusProgress2;
    background: none repeat scroll 0 0 #b2b7b8;  
    display: inline-block;
    float: left;
    height: 20px;
	color:#fff;
	font-size:12px;
	line-height:20px;
	text-align:left;
	border-radius: 15px;
}
.jdt i span {
	float: right;
}
.zp li{
	background-color:#fff;
	font-size:14px;
	line-height:30px;
	width:100%;
	text-align:left;
	color:#333;
	padding-left:5%;
}
.zp li img{
	float:left;
}
/*2.14
.tx2{
	float: left;
    margin-left:0%;
    text-align: center;
    width: 110px;
}
*/
.tx2 {
    float:left;
    margin-left: 0;
    margin-right: 20px;
    text-align: left;
    width: 110px;
}
.txj {
	color:#333;
	margin-bottom: 5px;
}
.txj  li{
	width:33.3%;
	float:left;
	line-height:30px;
	font-size:14px;
}
.txj1 ul{
	background-color:#fff;
}
.txj1  li{
	width:33.3%;
	float:left;
	line-height:40px;
	color:#333;
}
.txj2 ul{
	background-color:#fff;
	border-top:1px solid #eee;
}
.txj2  li{
	width:33.3%;
	float:left;
	line-height:40px;
}
.txj3{
	 border-bottom: 1px dotted #f2f2f2;
}
.txj3 ul{
	background-color:#fff;
}
.txj3 li {
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
    width: 33.3%;
}
.txj3  li span{
	line-height:20px;
    text-align:left;
	color:#666;/*金*/
	font-size:12px;
}

.nm{
	float: left;
	width: 100%;
	margin: 10px auto;
	font-family: "宋体";
	font-size: 12px;
	color: #ccc;
}
.zp li img {
    float: left;
    margin-top:5px;
}
.zp li {
    background-color: #fff;
    color:#98a0af;
    font-size: 14px;
    line-height: 40px;
    padding-left: 5%;
    text-align: left;
    width: 100%;
}

.ts{
	text-align: left;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	line-height: 23px;
}
.lll{
	text-align:left;
	border-bottom:1px solid #f2f2f2;
	color:#000;
	padding-left:20px;
	 font-size: 14px;
}
.lll input[type="text"] {
    background-color: #fff;
    border: 0 none;
    float:left;
    width: 48%;
}
.lll span{
	color:#000;
	font-size:14px;
	float:left;
		line-height:30px;
}
.lll input[type="button"] {
    background-color: #fff;
    border-radius: 5px;
    float: left;
    font-size: 12px;
    margin-top: 10px;
}
.ll2{
	text-align:left;
	border-bottom:1px solid #f2f2f2;
	color:#000;
	padding-left:20px;
	 font-size: 14px;
}
.ll2 span{
	color:#099;
	line-height:30px;
	padding-left:5%;
}
.box2{
	background-color:#fff;
	color:#333;
	font-size:16px;
	line-height:50px;
	text-align:left;
	padding-left:20px;
}
.box2 span{
	font-size:22px;
	font-weight:600;
	float:right;
	color:#000;
	padding-right:5%;
}
.kh{
	font-size:16px;
	line-height:20px;
	text-align:left;
	padding-left:20px;
	margin-top:20px;
}
.kh b{
	float:left;
	color:#666;
}
.kh span{
	float:left;
	margin-left:5%;
}
.xy2{
	text-align:left;
	color:#333;
	padding-left:20px;
}
.xy2 a {
    color: #09f;
    display: inline;
}
.cy{
	color:#06F;
	font-size:16px;
	text-align:left;
	padding-left:20px;
}
.cy input[type="button"]{
	background-color:#06F;
}

.js2 {
    background-color: #fff;
    border: 1px dashed #e4e4e4;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
table {
    background-color:#fff;
    border-left: 1px solid #efede2;
    border-top: 1px solid #efede2;
}
tr {
    line-height: 18px;
}

th {
    /*background-color: #f5e4b2;*/
    border-bottom: 1px solid #efede2;
    border-right: 1px solid #efede2;
    color: #666;
	font-weight: normal;
    height: 38px;
    line-height: 38px;
    vertical-align: middle;
	font-size: 14px;
	width: 30%;
}
/*
td {
    background-color: transparent;
    border-bottom: 1px solid #e7ecee;
    border-right: 1px solid #e7ecee;
    color:#a9a9a9;
	line-height: 25px;
    padding-bottom: 9px;
    padding-top: 9px;
    text-align: left;
    vertical-align: middle;
	font-size: 16px;
	padding-left:15px;
}
*/
td {
    background-color: transparent;
    border-bottom: 1px solid #e7ecee;
    border-right: 1px solid #e7ecee;
    color: #a9a9a9;
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 9px;
    padding-left: 0;
    padding-top: 9px;
    text-align: center;
    vertical-align: middle;
}
.txt_jjcp{
	color:#f85757;
	background-color:#fcfaf9;
}
.main-help {
   margin: 20px auto 0;
    padding-bottom: 10px;
    width:90%;
}
.ask-help {
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
}
.ask-help dt {
    background: none repeat scroll 0 0 #fff;
    border-radius: 5px;
    color: #69737b;
    height: 45px;
    line-height: 45px;
    padding-left: 15px;
    position: relative;
    font-size:14px;
    text-align: left;
}

.ask-help .status-tag {
    background: none repeat scroll 0 0 #f2f2f2;
    border-radius: 25px;
    float: right;
    height: 22px;
    margin-top: -11px;
    position: absolute;
    right: 15px;
    top: 50%;
    width: 22px;
}

.ask-help .status-tag .arrows-down {
    border-top-color: #69737b;
    margin: -3px 0 0 -6px;
}
.ask-help .status-tag b {
    border-width: 6px;
    left: 50%;
    margin: -6px 0 0 -6px;
    position: absolute;
    top: 50%;
}

.ask-help .status-tag .arrows-down {
    border-top-color: #69737b;
    margin: -3px 0 0 -6px;
}
[class^="arrows-"], [class*=" arrows-"] {
    border-color: transparent;
    border-style: solid;
    border-width: 8px;
    content: "";
    display: inline-block;
    height: 0;
    overflow: hidden;
    vertical-align: top;
    width: 0;
}
.ask-help dt.current {
    background: none repeat scroll 0 0 #2c6594;
    color: #fff;
    text-align: left;
}

.ask-help dd {
    border: 1px solid #e7ecee;
    border-radius: 5px;
    color: #69737b;
    display: none;
    line-height: 2;
    margin-top: -5px;
    padding: 20px 15px 15px;
	background-color:#fff;
	font-size:14px;
	text-align: left;
}
.kf{
	margin-bottom:100px;
	font-size:16px;
	line-height:20px;
	color:#444;
}
.kf strong{
	color:#333;
}

.yz-normal{
	 color: #6cf;
	 border: 1px solid #6cf;
}
.wh img{
	float:right;
	margin-right:10%
}
.wh{
	text-align:left;
	color:#333;
	padding-left: 20px;
		margin-bottom:5px;
}
.wh a{
	display:inline;
}
.gm2 input[type="text"] {
    background-color: #fff;
    border: 0 none;
    float: left;
    width: 50%;
	padding:13px 12px;
}
.gm2{
	margin-bottom:5px;
	line-height:40px;
	padding-left:20px;;
	background-color:#fff;
}
.gm2 span{
	color:#000;
	float:left;
	font-size:14px;
}
.ll22{
	text-align:left;
	border-bottom:1px solid #f2f2f2;
	color:#000;
	padding-left:20px;
	 font-size: 14px;
	 background-color:#fff;
}
.ll22 span{
	line-height:30px;
	padding-left:5%;
}
.postExcerptWrapper p {
    font-size: 16px;
    line-height: 30px;
    text-align: left;
}
.shide{
	display:none;
}
.ask-help dt.current .arrows-down-in {
    border-bottom-color: #4284ba;
    border-top-color: transparent;
    margin: -7px 0 0 -6px;
}

.ask-help dt.current .arrows-down {
    border-bottom-color: #fff;
    border-top-color: transparent;
    margin: -10px 0 0 -6px;
}
.ask-help dd p{
	text-align:left;
	font-size:14px;
	color: #666;
	line-height: 20px;
}
.ask-help dd p a{
	color: #333;
	display:inline;
}
.ask-help dd a{
	color: #333;
	display:inline;
}

.ask-help dt.current .status-tag {
    background: none repeat scroll 0 0 #4284ba;
}

.ask-help .status-tag .arrows-down-in {
    border-top-color: #f2f2f2;
    margin: -6px 0 0 -6px;
}

.pageWrapper span a{
	color: #09f;
    display: inline;
}
.zpyz {
    margin: 10px auto 0;
    width: 90%;
}

.zpyz img {
    display: block;
    float: left;
    height: 20px;
    line-height: 30px;
    margin:5px auto 0 2px;
    width: 20px;/*金*/

}
#imgFile{
position: absolute;
top: 10px;
left: 10px;
width: 0px;
height: 0px;
overflow: hidden;
no-repeat 0 0;
border: 0 none;z-index: 2;
}
/*
.newtitle1 {2015.01.18该前备份
    background-color: #fff;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding: 5% 2% 5%;
    width:84%;
}
*/
.newtitle1 {
    background-color: #fff;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding:3% 2% 1%;
    width:84%;
}
.newtitle1 li {
     background-color: #fff;
    
    border-radius:5px;
    float: left;
    font-size: 16px;
    line-height:43px;
    margin:1%;
    text-align: center;
    width: 23%;
}


.newtitle3 {
	background-color: #f5f5f5;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding:5% 2% 2% 2%;
    width: 98%;
}


.newtitle3 li {
	width: 47%;
	background-color: #fff;
    border-radius: 2px;
    float: left;
    font-size: 14px;
    line-height: 35px;
    margin: 3px;
    text-align: center;
}
/*2015.01.18该前备份
.wz8 {
    background-color:#2c6594;
    border-radius:8px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    padding:3%;
    text-align: left;
}
*/
.wz8 {
    background: none repeat scroll 0 0 #fcfaf9;
    border-radius: 5px;
    color:#a9a9a9;
    font-size: 16px;
    line-height: 25px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    padding: 3%;
    text-align: left;
    border: 1px solid #f2f2f2
}
/*2015.01.18该前备份
.wz9 {
    background-color:#2c6594;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin:10px 5% 20px;
    padding: 3%;
    text-align: left;
}
*/
.wz9 {
    background-color: #fcfaf9;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    color:#a9a9a9;
    font-size: 16px;
    line-height: 25px;
    margin: 10px 5% 20px;
    padding: 3%;
    text-align: left;
}
.gm1 select {/*2015.01.07*/
    background: none repeat scroll 0 0 #f2f2f2;
    border: 1px solid #b6cddc;
    border-radius: 2px;
    float: left;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    width: 50%;
}
.hq p{
	line-height:25px;
}
.wz10 {
    background: url("../images/jt-1.png") no-repeat scroll 3px 17px;
    border-bottom: 1px dotted #f2f2f2;
    font-size: 16px;
    line-height: 40px;
    padding-left: 15px;
    text-align: left;  
}
/*2015.01.18该前备份
.wz10 span{
	color:#ed4545;  
	font-size: 20px;
}
*/
.wz10 span{
	color:#fa6813;  
	font-size: 20px;
	 margin-left:5px;
}
/*以下定期理财-转让区-列表样式*/
.zrq_con {
    border-bottom: 1px dotted #f2f2f2;
}
/*以下定期理财-转让区-详情页样式*/
.cp_tit {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    padding-bottom: 0;
}
.cp_tit span {
    color:#418ad7;
    float: left;
    font-family: "微软雅黑";
    font-size: 14px;
    line-height: 35px;
    margin-left: 15px;
}
.transfer_con{
    margin-bottom: 10px;
    padding:0px;
}
.transfer_con_list {
    background-color: #fff;
    border-bottom: 0 solid #eee;
	margin-top:0px;
    color: #596678;
    font-size: 14px;
    height: 20px;
    overflow: hidden;
    padding: 15px 15px 5px;
    text-align: left;
}
.transfer_con_list span {
    color: #418ad7;
    float: right;
    font-family: "微软雅黑";
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}
.transfer_con p {
    background-color: #fff;
    display: block;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding:5px 15px;
    text-align: left;
    width: 100%;
}
.transfer_con p span {
    color: #666;
    float: left;
    font-family: 微软雅黑;
    font-size:14px;
    width:33%;
}
.transfer_con p input {
    background-color: #fff;
    border: 1px solid #6cf;
    border-radius: 5px;
    color: #6cf;
    float: right;
    font-size: 12px;
    height: 30px;
    margin-right: 30px;
    text-decoration: none;
    width: 30%;
}
.transfer_con p span strong {
    color: #ff6600;
    float:left;
    font-family: 微软雅黑;
    font-size: 16px;
    width: 30%;
}

.yj{
	width:94%;
	margin:0 auto;
	text-align:left;
	margin-top:30px;
	}

.yj p {
    color: #a9a9a9;
    font-size: 15px;
}
.yj a{
	color:#fff;
	text-align:center;
	margin-top:20px;
}
.yj textarea {
	height: 150px;
}
.bgw{
	margin:0 auto;
	width:100%;
	padding:3%;
	margin-bottom:50px;
}
.bgw p{
	color:#a9a9a9;
	font-size:18px;
	line-height: 50px;
	width: 94%;
}
.fw{
	background-color:#fff;
	margin-bottom:10px;
	width:94%;
	border-radius:5px;
}
.fw h2{
	text-align:left;
	background-color:#2c6594;
	color:#fff;
	font-size:16px;
	padding-left:20px;
	line-height:40px;

}
.fw p{
	text-align:left;
	line-height:25px;
	font-size:15px;
	color:#a9a9a9;
	padding:3%;
	text-indent: 2em;
}
.zpyz input[type="button"]{
    color: #fff;
    line-height: 30px;
    margin: 0 auto 5px;
    text-align: right;
	width:60px;
	height:60px;
}

.zpyz1 {
    margin: 30px auto 0;
    width: 90%;
}
.zpyz1 span {

 
    float: left;
    line-height: 12px;

    width: 33.3%;/*金*/
}
.zpyz1 img {
    display: block;
    height: 60px;
    margin: 0 auto;
    width: 60px;
	
}
.sh1 input[type="text"] {
    background-color: #fff;
    display: inline;
}
.sy2 a{
	background-color:#09F;
	width:30%;
	float:right;
	border-radius:5px;
}
.sy2 span{
	color: #fff;
    font-size: 20px;
    line-height: 40px;
}
.yj1 h4 {
    background: none repeat scroll 0 0 #fef8f6;
    border-radius: 5px 5px 0 0;
    line-height: 40px;
    color:#fd6138;
    padding-left: 15px;
    text-align: left;
    font-size: 16px;
}
.yj1 { /*2015.03.09*/
    background-color: #fff;
    border-radius: 5px;
    margin: 20px auto 10px;
    text-align: left;
    width: 98%;
	 border:1px dashed #e4e4e4;
  
}
.yj1 p{ /*2015.03.09*/
	line-height:30px;
    padding-left:2%;
	padding-right:2%;
	color: #515c70;
    font-size:15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.wz11{
	text-align:center;
}
.wz11 h4{
	line-height:30px;
	color:#fff;
	background-color:#1a97ae;
	border-radius:5px;
	width:94%;
	margin:0 auto;
}
.gm span img {
    display: inline;
    height: 16px;
    margin-bottom: -2px;
    margin-right:10%;
    width: 16px;
}
.tx3 {
    background-color:#fa5c5b;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
}
.tx3 img{
	margin:0 auto;
	
}
.lg{
	margin-top:20px;
}
.curnewbtn-normal {
	 background: none repeat scroll 0 0 #fff;
    color: #666;
    display: block;
    border-radius:5px;
    border: 1px solid #c7c7c7;

}
.wz12{
	border-bottom:0; 
	color:#fd6138;
 	 text-align:left;
	  font-size:16px;
	  line-height:40px;
	  border-bottom: 1px dotted #f2f2f2;
	    padding-left: 20px;
		background:#fef8f6;
		 border-radius: 10px 10px 0 0;
}
.dq{
	padding-top:0px;
	background:none repeat scroll 0 0 #fff;
	margin-bottom:10px; 
	border-bottom:0px solid #e4e4e4;
	 border: 1px dashed #e4e4e4;
	  border-radius: 5px;
	height:160px;
}
.dq2{
	width:100%;
	margin-top:0px;
	background-color: #fef8f6;
    background-image: url("../images/dq.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 50px 50px;
	border-bottom:0px solid #e4e4e4;

	border-radius: 10px
	  background: none repeat scroll 0 0 #fef8f6;
	      margin-bottom: 0px;
		  height:160px;

}
.dq2 li{
	float:left;
	width:24%;
	font-size: 16px;
	color:#a9a9a9;
	border-left:1px dotted #d1d1d1;
	line-height: 25px;
}
.dq2 li img {
    height: 87px;
    margin: 0 auto;
    width: 90px;
}
.dq2 li span{
	color:#fa6813;
	font-size:20px;
	
}
.ll span a{
	color:#0c8dde;
}

.dq2 h5 {
    color: #716e7f;
    font-family: "微软雅黑";
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 5px;
    padding-left: 62px;
    padding-top: 10px;
    text-align: left;
}
.wz13{
    border-bottom: 1px dotted #e4e4e4;
    font-size: 16px;
    line-height: 50px;
    padding-left: 15px;
    text-align: left;
}
.wz13 span{
      font-size: 16px;
    line-height: 50px;
	color:#ff9900;
}
/*01.26*/
.dq3{
	width:100%;
	background-color: #fff;
	border:1px solid #e4e4e4;
	padding-bottom:10px;
	background-image: url("../images/dq.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 40px 40px;

}

.dq3 h5{
	color:#333;
	text-align:left;
	font-size:16px;
	line-height:40px;
	font-family:"微软雅黑";
	padding-left:12px;
	border-bottom:1px #c9c9c9 solid;
	margin-bottom: 10px;
}
.dq3 h5 span{
	color:#ff6600;
}
.dq3 h5 img{
    height: 23px;
   margin: 0 auto -5px;
    width: 25px;
	display:inline;
}
.dq1{
	margin-top:10px;
	background:none repeat scroll 0 0 #fff;
	margin-bottom:10px; 
	border-bottom:0px solid #e4e4e4;
	box-shadow:5px 0px #999;
	
}
.dq3l{
	float:left;
	width:46.5%;
	padding-left:3%;
	border-right:1px dotted #9f9f9f;
	color:#666;
}
.dq3l span{
	color:#ff6300;
	}
.dq3l li{
	background-image:url(../images/dd.png);
	background-repeat:no-repeat;
	line-height:30px;
	font-size:12px;
	text-align:left;
	padding-left:20px;
	background-position:0px 7px;
}
.dq3r{
	float:left;
	width:50%;
	line-height:30px;
	padding-top:7%;
	color:#666;
}
.dq3r span{
	color:#ff6300;
	font-size:20px;
	font-weight:800px;
}
.dq3r a{
	background-color:#ff3a31;
	color:#fff;
	width:75%;
	margin:0 auto;
	border-radius:2px;
}

.navi_mask {
    background: none repeat scroll 0 0 #000;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}
.navi_mask .content {
    position: fixed;
    right: 10px;
    top: 60px;
}
.navi_mask .content p {
    color: #fff;
    font-size: 30px;
    padding: 3px 0;
    text-align: center;
}
.navi_mask .arrow {
    position: fixed;
    right: 15px;
    top: 5px;
    width: 40px;
}
.navi_mask a {
    background-color: #fff;
    border-radius: 5px;
    color: #83898d;
    font-size: 28px;
    height: 30px;
    padding: 6px 65px;
    right: 0;
    width: 80px;
}
.navi_mask .imgclose {
    bottom: 15%;
    height: 40px;
    left: 44%;
    position: absolute;
    width: 40px;
}
.subscribe_mask {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999999;
}
.subscribe_mask .realmask {
    background: none repeat scroll 0 0 #000;
    display: block;
    height: 100%;
    opacity: 0.7;
    width: 100%;
}
.subscribe_mask .center {
    text-align: center;
}


.subscribe_mask .code {
    color: #fff;
    height: 100%;
    left: 0;
    padding-top: 10%;
    position: absolute;
    top: 10%;
    width: 100%;
}
.subscribe_mask .imgcode {
    height: 172px;
    width: 172px;
     margin: auto;
}
.subscribe_mask .intro {
    display: inline-block;
    padding-top: 5%;
    height: 30%;
}
.subscribe_mask .intro .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
}
.subscribe_mask .intro .detail {
    font-size: 13px;
    line-height: 24px;
}
.subscribe_mask .intro .highlight {
    color: #f66a65;
    font-weight: 700;
}
.subscribe_mask .imgclose {
    bottom: 1%;
    height: 32px;
    left: 45%;
    position: absolute;
    width: 32px;
}
.yj1 p a{
	color:#09F;
}
.yj1 p span{
	color:#F90;
}
.bc{
	width:100px;
	margin:auto;
}
.bc img {
	float: left;
	width:20px;
	height:21px;
	padding-top:8px;

}
.bc span{
font-family: "微软雅黑";
    font-size: 16px;
	color: #6cf;
	float: left;
	padding-left:10px;
}
select{
	float: left;
    height: 40px;
    line-height: 40px;
	text-align:center;
    width: 30%;
}
.main {
	WIDTH: 100%;
	FONT-FAMILY: "微软雅黑", "宋体";
	BACKGROUND: #fff;
	HEIGHT: 100%;
	padding-bottom: 50px;
}
.con {
	MARGIN: 0px auto; WIDTH: 320px
}
.result {
	background: none repeat scroll 0 0 #fff;
    padding:0;
}
.srr {
	 PADDING-BOTTOM: 10px;
	  WIDTH: 320px;
	  height:300px; 
	  MARGIN-BOTTOM: 10px; 
	  COLOR: #666; FONT-SIZE:23px; 
	  background:url(../images/sorry1.jpg) no-repeat;
}
.srr p{
	font-size: 12px;
    margin: auto;
    padding-left: 20px;
    padding-top: 40px;
    width: 200px;
    text-align:center;
}
.sr{
	width:100%;
	background-color:#fff;
	color:#32b16c;
}
.sr h3{
	padding-top:10px;
	font-size:24px;
	color:#32b16c;
}
.mainSlider1 img{
	height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
	max-width: none;
	display: block !important;
    position: relative !important;
    width: 100% !important;
}
.cp6 {
    background-color: #fff;
    padding: 5px 20px;
}
.cp6 h3{
	background:url("../images/01.jpg") no-repeat scroll center top / 50px auto;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	border-top:1px solid #f2f2f2;
	height:50px;
	line-height:20px;
	margin-top:10px;
}
.cp6 h2{
	color:#52a2d3;
	font-size:24px;
	font-family:"微软雅黑";
	text-align:center;
}
.cp6 p{
	margin-top:20px;
	line-height:25px;
	font-size:16px;
	color:#a8aebb;
	text-align:left;
	margin-bottom:10px;
}
.cp6 img{
	height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
	max-width: none;
	display: block !important;
    position: relative !important;
    width: 100% !important;
}


.label1 {
    background: none repeat scroll 0 0 #f74d4d;
    border-radius: 20px;
    height: 10px;
    position: absolute;
    right: 8px;
    top: 8px;
    width:10px;
    z-index:999;
}

/*支付未成功错误提示页面样式s*/
.error_hint{
    border-bottom:0 solid #e4e4e4;
    margin-bottom: 3px;
    padding: 10px 10px;
	background: none repeat scroll 0 0 #fcfaf9;
}
.error_hint_tit{
    margin: 0 5px 0 0;
    padding: 0;
    width: 97%;
}
.error_hint_tit img {
    height: 28px;
    width: 25px;
	float: left;
}
.error_hint_tit span {
    border-left: 1px dotted #f2f2f2;
    color: #fa5b3e;
    float: left;
    font-family: "微软雅黑";
    font-size: 16px;
    line-height: 30px;
    margin-left: 5px;
    padding-left: 10px;
}
.error_con {
    background: none repeat scroll 0 0 #fff;
    border-radius: 10px;
    margin: 20px auto;
    padding: 5px 10px;
    width: 87%;
    background-image: url("../images/error_right_bg.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}

.error_con_tit {
    border-bottom: 1px dotted #f2f2f2;
    color: #716e7f;
    font-size: 16px;
    line-height: 40px;
    text-align: left;
}

.error_con_yy {
    border-bottom: 0px dotted #f2f2f2;
    font-size:14px;
    line-height:25px;
    padding:2px;
    text-align: left;
}
/*支付未成功错误提示页面样式e*/

/*支付成功提示页面样式s*/
.success_hint {
    background: none repeat scroll 0 0 #fcfaf9;
    border-bottom: 0 solid #e4e4e4;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
}
.success_tit {
    margin: 0 auto;
    padding: 0;
    width: 60%;
}
.success_tit img {
    height: 87px;
    margin: 0 auto;
    width: 79px;
}

.success_tit span {
    color: #fa5b3e;
    font-family: "微软雅黑";
    font-size: 16px;
    height: 87px;
    line-height: 30px;
    margin-left: 5px;
}
/*支付成功提示页面样式e*/

/*03.02*/
.bgw1{
	margin:0 auto;
	width:100%;
	background-color:#ffa692;
	padding-bottom:100px;
}
.fw1{
	background-color:#fff;
	margin-bottom:10px;
	width:94%;
	border-radius:8px;
	margin:auto;
	border:2px dashed #fddc43;
	padding-top :3%;
	padding-bottom: 3%;
}

.fw1 p {
    color: #666;
    font-size: 15px;
    line-height: 26px;
    padding-left: 3%;
	  padding-right: 3%;
    text-align: left;
}
.fw1 p span{
	color:#f23b3d;
}
.zpyz li{
	width:33.3%;
	float:left;
}
.zpyz li span{
	color:#f8ad0b;
	font-size:14px;
	margin-top:10px;
}
/*公示公告*/
.notice {
    background-image: url("../images/top_bg.png");
    background-position: right top;
    background-repeat: no-repeat;
    border: 0 dotted #efd6d1;
    margin-bottom: 10px;
    margin-top: 0px;
    padding: 0%;
}
.notice p {
    color: #666;
    font-size:15px;
    line-height: 26px;
    text-align: left;
    white-space: nowrap;
}
/*03.04*/
.gm3 input[type="text"] {
    background-color: #fcfbf9;
    border: 0 none;
    color: #666;
    float: left;
    font-family: 微软雅黑;
    margin-left: 5px;
    margin-top: 12px;
    padding: 5px;
    width: 50%;
	border: 1px solid #e4e4e4;
}


.gm3 {
    background-color: #fcfbf9;
    border: 0 solid #f2f2f2;
    line-height: 45px;
    margin: auto;
    padding-left: 0%;
    width: 96%;
}
.gm3 span{
	font-size:16px;
	color:#333;
	float:left;
}
.dqlc_table {
	line-height: 120px;
	width: 95%;
	 margin: 0 auto 30px;
}
.dqlc_table th {
	line-height: 50px;
	color: #666;
	 text-indent: 5px;
}
.dqlc_table td {
	line-height: 50px;
	color: #666;
	 text-indent: 5px;
}
.act{
	width:100%;
	background-color:#fb7776;
}
.act img{
	width:100%;
	margin:auto;
}