body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, th, td, a, strong, button {
	margin: 0;
	padding: 0
}
body {
	font-family: arial, "微软雅黑";
  *font-family:Microsoft YaHei, Helvetica, Tahoma;
	font-size: 14px;
	color: #515c70;
	line-height: 22px;
	margin: 0
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
fieldset, img {
	border: 0;
	vertical-align: middle
}

/*
fieldset, input {
    background: none repeat scroll 0 0 #ff9900;
    border: 1px solid #ff9900;
    border-radius: 5px;
    height: 29px;
    vertical-align: middle;
    width: 50px;
	color:#fff;
}*/
.login_btn{
    background: none repeat scroll 0 0 #ff9900;
    border: 1px solid #ff9900;
    border-radius: 5px;
    height: 29px;
    vertical-align: middle;
    width: 50px;
	color:#fff;
}
caption, th, i {
	font-style: normal;
	font-weight: normal;
	white-space: nowrap
}
em {
	font-style: normal;
	white-space: nowrap
}
ul {
	list-style: none
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal
}
a {
	text-decoration: none
}
a:hover {
	text-decoration: none;
}
.clear {
	clear: both;
	height: 0
}
.left {
	float: left
}
.right {
	float: right
}
.jhd-txt {
	border: 1px solid #cfcfcf;
	border-radius: 3px;
	font-size: 16px
}
.jhd-txt:hover {
	border: 1px solid #f60
}
.jhd-txt:focus {
	border: 1px solid #e74849;
	outline: 0
}
.btn {
	border-radius: 3px;
	text-align: center;
	display: block;
	outline: 0;
	border: 0;
	font-family: arial, "微软雅黑"
}
.btn:hover {
	cursor: pointer;
	text-decoration: none
}
.btn-orange {
	background-color: #f60;
	color: #fff
}
.btn-orange:hover {
	background-color: #fe4b16
}
html, body {
	margin: 0;
	height: 100%
}
.container {
	position: relative;
	min-height: 100%;
	background-color: #f0f0f0
}
#header{
	width: 100%;
	height: 100px;
	background:#fff;
}
div.header-top{
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #30384d;
}
div.nav{
	margin:0 auto;
	width:1200px;
}
ul.header-top-ul{
	float: right;
	margin-right: 100px;
	list-style: none;
}
ul.header-top-ul li{
	margin-right: 15px;
	float: left;
	height: 30px;
	line-height: 30px;
	color: white;
	font-size: 14px;
}
ul.header-top-ul li img{
	vertical-align: middle;
}
ul.header-top-ul li a{
	text-decoration: none;
	color: white;
	font-size: 14px;
}

ul.header-top-ul li a:hover{
	color: #fff;
}
/*导航条*/
img.title{
	float: left;
	margin-top: 10px;
	margin-left: 58px;
}
ul.nav-ul{
	float: left;
	width: 650px;
	height: 30px;
	list-style: none;
	margin-top: 28px;
	margin-left: 50px;
	text-align: center;

}
ul.nav-ul li{
	float: left;
	margin-left: 10px;
	height: 30px;
	line-height: 30px;
	width:120px;
	border:none;
}
ul.nav-ul li a{
	text-decoration: none;
	font-size: 16px;
	color: #ff6600;
}
ul.nav-ul li a:hover{
	color: #adae97;
}

#wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 766px;
	background-color: #f0f0f0;
	position: relative
}
.wrapper-inner {
	width: 1000px;
	margin: 0 auto;
	min-height: 364;
	max-height: 447px;
	margin-top: 85px;
	padding: 0;
	background: url(../images/img007.jpg) left center no-repeat
}
.wrapper-inner {
	position: relative
}
.wrapper-inner .advertising {
	width: 623px;
	height: 447px;
	display: block;
	position: absolute;
	left: 0;
	top: 0
}
.reg-wrapper-inner {
	width: 1000px;
	margin: 0 auto;
	height: 630px;
	margin-top: 45px;
	padding: 0;
	background-color: #fff;
	border: 1px solid #d1d1d1
}
.reg-wrapper-bottom {
	width: 1000px;
	height: 54px;
	line-height: 54px;
	margin: 0 auto;
	text-align: center
}
.login-detail {
	width: 376px;
	min-height: 362px;
	max-height: 445px;
	border: 1px solid #d1d1d1;
	border-left: 0;
	background-color: #fff
}
.login-detail:hover {
	cursor: default
}
#footer {
	width: 100%;
	min-width: 1000px;
	height: 51px;
	line-height: 51px;
	background-color: #303742;
	position: relative;
	bottom: 0
}
.footer-inner {
	width: 1000px;
	height: 100%;
	margin: 0 auto
}
.bottom-menu li {
	margin-right: 32px
}
.bottom-menu li a {
	color: #fff
}
.bottom-menu li a:hover {
	color: #f60;
	text-decoration: none
}
.copyRight {
	color: #b2b2b2
}
.login-detail>form {
	margin: 0 auto;
	margin-top: 29px;
	width: 296px
}
.error-message {
	font-size: 12px;
	color: #dd2a2a
}
.login-userName {
	position: relative;
	width: 296px;
	height: 42px;
	margin-top: 5px
}
.login-userName-txt {
	width: 248px;
	padding: 7px 0;
	padding-left: 46px;
	height: 28px;
	line-height: 28px;
	color: #666
}
.login-userName-label {
	width: 37px;
	height: 42px;
	display: block;
	background: url(../images/userName.jpg);
	position: absolute;
	left: 2px;
	top: 1px;
*top:2px
}
.login-pass {
	position: relative;
	width: 296px;
	height: 42px
}
.login-pass-txt {
	width: 248px;
	padding: 7px 0;
	padding-left: 46px;
	height: 28px;
	line-height: 28px;
	color: #666
}
.login-pass-label {
	width: 37px;
	height: 42px;
	display: block;
	background: url(../images/userPass.jpg);
	position: absolute;
	left: 2px;
	top: 1px;
*top:2px
}
.login-valid {
	width: 296px;
	height: 42px
}
.login-valid-txt {
	width: 123px;
	height: 28px;
	padding: 7px 0;
	padding-left: 10px;
	line-height: 28px;
	color: #666
}
.login-valid-pic {
	margin-left: 5px
}
.select-other {
	color: #ff8532;
	line-height: 42px;
	margin-left: 5px
}
.select-other:hover {
	cursor: pointer
}
.remember-me {
	width: 14px;
	height: 14px;
	margin-right: 2px;
	vertical-align: middle
}
.rem-forget-two a {
	color: #303642
}
.rem-forget {
	line-height: 14px;
	height: 14px
}
.login-btn-div .btn-orange {
	width: 136px;
	height: 40px;
	line-height: 40px;
	border: 0;
	margin: 0 auto;
	font-size: 20px;
	margin-top: 28px
}
.not-has-account {
	text-align: center;
	margin-top: 11px;
	margin-bottom: 28px
}
.reg-account {
	color: #f60
}
.login-by-other {
	width: 100%;
	height: 40px;
	text-align: center;
	border-top: 1px solid #e2e2e2;
	padding-top: 14px
}
.login-by-other a {
	margin-left: 15px
}
.reg-step-state {
	width: 750px;
	height: 51px;
	margin: 0 auto;
	margin-top: 50px;
	font-size: 18px;
	color: #515e6f;
	line-height: 51px;
	margin-bottom: 50px
}
.reg-step1 {
	background: url(../images/img009.jpg) no-repeat center
}
.reg-step2 {
	background: url(../images/img010.jpg) no-repeat center
}
.reg-step3 {
	background: url(../images/img011.jpg) no-repeat center
}
.reg-step-state li {
	width: 250px;
	text-align: center
}
.reg-step-state .current {
	color: #fff
}
.reg-content {
	width: 750px;
	margin: 0 auto
}
.control-label {
	width: 215px;
	text-align: right;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: #515e6f;
	margin-right: 3px
}
.control-label span.required {
	color: #dd2a2a
}
.reg-content .jhd-txt {
	width: 323px;
	height: 18px;
	line-height: 18px;
	padding: 10px 0;
	padding-left: 15px;
	font-size: 16px;
	color: #515e6f
}
.reg-content .reg-valid-txt {
	width: 140px
}
.agreement {
	font-size: 13px;
	height: 13px;
	line-height: 13px
}
.agreement a {
	font-size: 13px;
	color: #f60;
	font-weight: bold
}
.errorMessage {
	font-size: 12px;
	color: #dd2a2a
}
.focus .errorMessage {
	display: none
}
.error-tip {
	height: 28px;
	line-height: 28px
}
.select-other-valid {
	line-height: 40px;
	margin-left: 5px
}
.reg-wrapper-inner .select-other {
	margin-left: 0;
	line-height: 40px
}
.reg-btn .btn-orange {
	margin: 0
}
.tip-message {
	display: none;
	font-size: 12px;
	color: #999
}
.error .tip-message {
	display: none
}
.focus .tip-message {
	display: block
}
.success .success-message {
	width: 16px;
	height: 16px;
	background: url('../images/img013.jpg') no-repeat;
	margin-left: 5px;
	margin-top: 12px
}
.valid-tip-message {
	display: none;
	font-size: 13px;
	color: #515e6f
}
.j_vcode {
	width: 105px;
	text-align: center;
	height: 40px;
	color: #666;
	font-size: 16px;
	background: url(../images/img012.jpg) no-repeat;
	border: 0;
	margin-left: 12px
}
.countdown {
	color: #fff;
	margin-left: 18px;
	width: 160px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	border: 0;
	background-color: #a5aebd
}
.jump-valid {
	margin-left: 24px;
	line-height: 40px;
	font-size: 16px;
	color: #f60
}
.reg-success {
	margin-top: 100px;
	margin-left: 145px
}
.reg-success .top {
	color: #f60;
	font-size: 22px;
	height: 42px;
	line-height: 42px
}
.reg-success .top img {
	margin-right: 20px
}
.reg-success .bold {
	font-weight: bold
}
.reg-success .middle {
	margin-top: 36px;
	color: #4b576c;
	margin-left: 62px;
	padding-bottom: 10px;
	border-top: 1px dashed #dbdbdb;
	width: 420px
}
.reg-success .middle .bold {
	color: #515c70
}
.reg-success .bottom {
	margin-top: 73px;
	color: #515e6f
}
.reg-success .bottom .bold {
	color: #f60
}
.get-bonus {
	margin-left: 62px
}
.chanPass-step1 {
	background: url(../images/img014.jpg) no-repeat
}
.chanPass-step2 {
	background: url(../images/img015.jpg) no-repeat
}
.chanPass-step3 {
	background: url(../images/img016.jpg) no-repeat
}
.chanPass-step4 {
	background: url(../images/img017.jpg) no-repeat
}
.chanPass-step1 li, .chanPass-step2 li, .chanPass-step3 li, .chanPass-step4 li {
	width: 187px;
	height: 51px
}
.select-phone, .select-email {
	margin-top: 10px;
	font-size: 16px;
	color: #515e6f;
	padding-bottom: 10px
}
.select-phone input, .select-email input {
	width: 20px;
	height: 20px;
	margin-right: 10px
}
.select-phone {
	margin-right: 47px
}
.select-valid-way .active a {
	background-position: -20px 0
}
.email-phone-number {
	line-height: 40px;
	font-size: 16px;
	color: #f60
}
#strength_L, #strength_M, #strength_H {
	width: 52px;
	height: 7px;
	border: 1px solid #f60;
	display: block;
	float: left;
	margin-left: 2px;
	margin-top: 10px
}
.t4-pw-letter {
	display: none
}
.error .t4-pw-letter {
	display: none
}
.strength-text {
	float: left;
	color: #f60;
	font-size: 16px;
	margin-left: 5px
}
.errorSummary .errorMessage {
	float: left
}
.error-login {
	height: 28px;
	line-height: 28px
}
.error .valid-success-message, .error .valid-error-message {
	display: none
}
.focus .valid-success-message {
	display: block
}
.allsort1 {
    border-left: 1px solid #d9d7d7;
    float:right;
    height: 36px;
    line-height: 36px;
    margin:22px 3px 10px 10px;
    overflow: hidden;
    padding: 2px 0 2px 10px;
}

.allsort1 span a {
    background: none repeat scroll 0 0 #ff9900;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    float: right;
    font-size: 14px;
    line-height: 32px;
    margin: 0 5px;
    overflow: hidden;
    padding: 0 15px;
}


