#Html("begin")
#GenHead("begin","分支机构,信息披露,币港湾,币港湾官网","币港湾官网，国资背景安心收益，为您提供互联网金融服务，是优质的互联网金融服务平台。")
#Title("分支机构_信息披露【币港湾官网】")
#LoadGenCSS("/resources/gen2.0/styles/static/informationNew/BA_information")
#GenHead("end")
<body>
    #Gen2Header("info")
<div class="main">
    <div class="main_banner"></div>
    <div class="main_center">
    #**
     * subnav
     **#
        #Gen2InfoSubNav()
        <div class="main_cright">
            <img src="$!env.get('gen.server.web')/resources/gen2.0/images/platform/compliance/description.png" style="border: solid 1px #e5e5e5;border-bottom: none;">
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        var subNav = $("#compliance").children("a");
        var subTitle = $(".main_cleft").children(".main_cl_h31");
        $("#compliance").show();
        $(subNav[4]).addClass("main_clul_lione");
        $(subTitle[1]).addClass("main_cl_hfo");
    })
</script>
<!--footer -s-->
#Gen2Footer()
<!--footer -e-->
#Html("end")