#Html("begin")
#GenHead("begin","工商信息,信息披露,币港湾,币港湾官网","币港湾官网，国资背景安心收益，为您提供互联网金融服务，是优质的互联网金融服务平台。")
#Title("工商信息_信息披露【币港湾官网】")
#LoadGenCSS("/resources/gen2.0/styles/static/informationNew/BA_information")
#GenHead("end")
	<body>
		#Gen2Header("info")
		<div class="main">
    		<div class="main_banner"></div>
    		<div class="main_center">
    		#**
    		 * subnav
    		 **#
    			#Gen2InfoSubNav()
				<div class="main_cright">
    				<div class="main_cr_top"></div>
    				<div class="main_cr_down">
						<ul class="keep_table">
							<li class="keep_even">
								<span class="keep_name">公司全称</span><i class="keep_content">杭州币港湾科技有限公司</i>
							</li>
							<li class="keep_odd">
								<span class="keep_name">公司简称</span><i class="keep_content">币港湾</i>
							</li>
							<li class="keep_even">
								<span class="keep_name">统一社会信用代码</span><i class="keep_content">91330100MA27XHK6X2</i>
							</li>
							<li class="keep_odd">
								<span class="keep_name">注册资本</span><i class="keep_content">5000.00万人民币</i>
							</li>
							<li class="keep_even">
								<span class="keep_name">实缴注册资本</span><i class="keep_content">5000.00万人民币</i>
							</li>
							<li class="keep_odd">
								<span class="keep_name">注册地址</span><i class="keep_content">浙江省杭州市江干区西子国际中心2号2304-2室</i>
							</li>
							<li class="keep_even">
								<span class="keep_name">经营地址</span><i class="keep_content">浙江省杭州市江干区西子国际中心2号2304-2室、2305室</i>
							</li>
							<li class="keep_odd">
								<span class="keep_name">成立时间</span><i class="keep_content">2016年05月04日</i>
							</li>
							<li class="keep_even">
								<span class="keep_name">经营期限</span><i class="keep_content">2016年05月04日 至 长期</i>
							</li>
							<li class="keep_odd">
								<span class="keep_name">经营状态</span><i class="keep_content">存续</i>
							</li>
							<li class="keep_even liheight">
								<span class="keep_name_copy">主要人员信息</span>
								<i class="keep_content keep_content_padd">
									<p>法定代表人：王晶</p>
									<p>实际控制人：王晶</p>
									<p>董事：周炜彤、王晶、周常宰</p>
									<p>监事：王跃</p>
									<p>高管人员：周炜彤、王晶、周常宰、王跃<a class="keep_pdf" style="margin-left:30px;" href="$!env.get('gen.server.web')/gen2.0/platform/info/organization/index">查看更多></a></p>
								</i>
							</li>
							<li class="keep_odd liheight">
								<span class="keep_name_copy">经营范围</span><i class="keep_content_copy">服务：电子产品、计算机软硬件、网络技术的技术开发、技术咨询、技术服务，经济信息咨询，知识产权代理（除专利代理），设计、制作、代理、发布国内广告（除网络广告发布），第二类增值电信业务中的信息服务业务（限互联网信息服务业务）（凭有效许可证经营）。（依法须经批准的项目，经相关部门批准后方可开展经营活动）</i>
							</li>
							
						</ul>						
					</div>
				</div>
    		</div>
		</div>
	</body>
<script>
    $(document).ready(function () {
        var subNav = $("#compliance").children("a");
        var subTitle = $(".main_cleft").children(".main_cl_h31");
        $("#compliance").show();
        $(subNav[1]).addClass("main_clul_lione");
        $(subTitle[1]).addClass("main_cl_hfo");
    })
</script>
<!--footer -s-->
#Gen2Footer()
<!--footer -e-->
#Html("end")