#Html("begin")
#GenHead("begin","重大事项,信息披露,币港湾,币港湾官网","币港湾官网，国资背景安心收益，为您提供互联网金融服务，是优质的互联网金融服务平台。")
#Title("重大事项_信息披露【币港湾官网】")
#LoadGenCSS("/resources/gen2.0/styles/static/informationNew/BA_information")
#GenHead("end")
	<body>
		#Gen2Header("info")
		<div class="main">
    		<div class="main_banner"></div>
    		<div class="main_center">
    		#**
    		 * subnav
    		 **#
    			#Gen2InfoSubNav()
				<div class="main_cright">
    				<div class="main_cr_top"></div>
    				<div class="main_cr_down">
						<div class="keep_table">
							#*<div class="SX_img"></div>
							<div class="SX_txt">若发生以下情况将在<i class="SX_color">48小时</i>内进行披露的<br />承诺书扫描件</div>*#
							<img src="$!env.get('gen.server.web')/resources/gen2.0/images/platform/compliance/matter.png">
						</div>
						<ul class="keep_table">
							<li class="keep_even">
								<span class="keep_name SX_name">公司减资、合并、分立、解散或申请破产</span><i class="keep_content SX_content">无</i>
							</li>
							<li class="keep_odd">
								<span class="keep_name SX_name">公司依法进入破产程序</span><i class="keep_content SX_content">无</i>
							</li>
							<li class="keep_even">
								<span class="keep_name SX_name">公司被责令停业、整顿、关闭</span><i class="keep_content SX_content">无</i>
							</li>
							<li class="keep_odd">
								<span class="keep_name SX_name">公司涉及重大诉讼、仲裁，或涉嫌违法违规被有权机关调查，或收到刑事处罚、重大行政处罚</span><i class="keep_content SX_content">无</i>
							</li>
							<li class="keep_even liheight">
								<span class="SX_name_copy">公司法定代表人、实际控制人、主要负责人、董事、监事、高级管理人员涉及重大诉讼、仲裁，或涉嫌违法违纪被有权机关调查，或受到刑事处罚、重大行政处罚，或被采取强制措施</span><i class="SX_content_copy SX_content">无</i>
							</li>
							<li class="keep_odd">
								<span class="keep_name SX_name">公司主要或者全部业务陷入停顿</span><i class="keep_content SX_content">无</i>
							</li>
							<li class="keep_even">
								<span class="keep_name SX_name">存在欺诈、损害出借人利益等其他影响网络网络借贷信息中介机构经营活动的重大事项</span><i class="keep_content SX_content">无</i>
							</li>
						</ul>						
					</div>
				</div>
    		</div>
		</div>
	</body>
<script>
    $(document).ready(function () {
        var subNav = $("#compliance").children("a");
        var subTitle = $(".main_cleft").children(".main_cl_h31");
        $("#compliance").show();
        $(subNav[7]).addClass("main_clul_lione");
        $(subTitle[1]).addClass("main_cl_hfo");
    })
</script>
<!--footer -s-->
#Gen2Footer()
<!--footer -e-->
#Html("end")