#Html("begin")
#GenHead("begin")
#Title("币港湾官网_国资系互联网金融服务平台_品听资产_杭商资产_浙大网新_P2P网贷")
#LoadGenCSS("/resources/gen2.0/styles/activity/2017/zan_jiaxi/zan_jiaxi")
#GenHead("end")
<body>
    #Gen2Header("home")
    <div class="zan_jiaxi_banner"></div>
    <div class="zan_jiaxi_wrap" style="margin-top: -270px;">
        <span class="zan_jiaxi_pic">
            <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/2017/zan_jiaxi/zan_jiaxi_pics_10.jpg" class="right">
        </span>
        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/2017/zan_jiaxi/zan_jiaxi_sumbrala_03.png"style="position: absolute;left: 170px;top: -80px;z-index: 15;">
        <div class="zan_jiaxi_wrap_middle">
            <div class="zan_jiaxi_wrap_inside">
                <span class="zan_jiaxi_block"></span>
                <div class="zan_jiaxi_content01">
                    最近湾仔听说，有些新加入的湾粉还不是很明白赞分期系列产品的优势，那么今天，就由湾仔带大家分析一下，顺便把一波福利带给大家~
                </div>
                <div class="zan_jiaxi_content02">
                    <p style="margin-bottom: 15px;"><span>01</span>收益月月见---本金+收益月月有回款，安心又牢靠！</p>
                    <p><span>02</span>灵活支取，灵活复投---急用钱？不用怕，赞分期月月回款，方便您支取，回款到期还可以复投，收益也不少！</p>
                </div>
            </div>
        </div>
    </div>
    <div class="zan_jiaxi_step" style="background: url($!env.get('gen.server.web')/resources/gen2.0/images/activity/2017/zan_jiaxi/zan_jiaxi_content_03.png) no-repeat center; height: 480px;"></div>
    <div class="zan_jiaxi_step" style="background: url($!env.get('gen.server.web')/resources/gen2.0/images/activity/2017/zan_jiaxi/zan_jiaxi_content_06.png) no-repeat center; height: 490px;"></div>
    <div class="zan_jiaxi_step" style="background: url($!env.get('gen.server.web')/resources/gen2.0/images/activity/2017/zan_jiaxi/zan_jiaxi_content_08.png) no-repeat center; height: 572px;"></div>
    <div class="zan_jiaxi_orange">
        <div class="zan_jiaxi_orange_title">
            <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/2017/zan_jiaxi/zan_jiaxi_mountinleft.png" style="position: absolute;left: 130px;top: 0;;">
            <h5><p><span></span></p>最高加息0.6%，嗨购不停！<p><span></span></p></h5>
        </div>
        <div class="zan_jiaxi_wrap" style="overflow:hidden;">
            <span class="zan_jiaxi_pic">
                <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/2017/zan_jiaxi/zan_jiaxi_pics_10.jpg" class="left">
                <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/2017/zan_jiaxi/zan_jiaxi_pics_10.jpg" class="right">
            </span>
            <div class="product_list">
                <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/2017/zan_jiaxi/zan_jiaxi_list.jpg">
            </div>
            <div class="zan_jiaxi_btn">
                <a href="$!env.get('gen.server.web')/gen2.0/regular/list" target="_blank">立即参与</a>
            </div>
        </div>
    </div>
    <div class="orange_bottom">
        <div class="zan_jiaxi_orange_title">
            <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/2017/zan_jiaxi/zan_jiaxi_mountinright.png" style="position: absolute;right: 130px;top: 0;">
            <h5><p><span></span></p>累计投资得返利，拿到手软<p><span></span></p></h5>
        </div>
        <div class="orange_bottom_bg"></div>
        <div class="zan_jiaxi_wrap" style="overflow:hidden;">
            <span class="zan_jiaxi_pic">
                <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/2017/zan_jiaxi/zan_jiaxi_pics_10.jpg" class="left">
                <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/2017/zan_jiaxi/zan_jiaxi_pics_10.jpg" class="right">
            </span>
            <div class="data_list">
                <div class="data_list_td" style="background: #464d73;color: #fff;">累计年化投资额</div>
                <div class="data_list_td">返现额度</div>
                <div class="data_list_td" style="background: #464d73;color: #fff;">10,000-50,000</div>
                <div class="data_list_td">0.2%</div>
                <div class="data_list_td" style="background: #464d73;color: #fff;">50,001-100,000</div>
                <div class="data_list_td">0.3%</div>
                <div class="data_list_td" style="background: #464d73;color: #fff;">100,001-200,000</div>
                <div class="data_list_td">0.4%</div>
            </div>
            <p>
                举例说明：<br>
                陈女士购买赞分期6个月产品100,000元，购买赞分期3个月产品50,000元，则陈女士的累计年化投资额为：<br>  <span class="color_font">100,000*6/(12*2)+50,000*3/(12*2)=31,250元</span><br>
                可获得返现金额为：  <span class="color_font">31,250*0.2%=62.5元</span>
            </p>
            <div class="zan_jiaxi_btn" style="margin: 0 -40px;">
                <a href="$!env.get('gen.server.web')/gen2.0/regular/list" target="_blank">立即参与</a>
            </div>
        </div>
    </div>
    <div class="zan_jiaxi_wrap">
        <span class="zan_jiaxi_pic">
            <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/2017/zan_jiaxi/zan_jiaxi_pics_10.jpg" class="left">
            <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/2017/zan_jiaxi/zan_jiaxi_pics_10.jpg" class="right">
        </span>
        <div class="zan_jiaxi_wrap_middle">
            <div class="zan_jiaxi_wrap_inside">
                <span class="zan_jiaxi_block"></span>
                <h3>活动规则</h3>
                <div class="zan_jiaxi_content02">
                    <p style="margin-bottom: 15px;"><span>01</span>活动时间：2017年11月08日-11月20日；</p>
                    <p style="margin-bottom: 15px;"><span>02</span>本次活动仅限赞分期系列产品；</p>
                    <p style="margin-bottom: 15px;"><span>03</span>活动期间，用户投资赞分期系列产品可享相应加息额度；</p>
                    <p style="margin-bottom: 15px;"><span>04</span>活动期间，用户投资赞分期系列产品累计年化投资金额达标，同时可享有对应的返利现金（返利现金以用户最终累计年化投资额计算，不可重复返现）；</p>
                    <p><span>05</span>返利现金将于活动结束后的6个工作日内一次性发放至您的奖励金账户，您可以在我的账户-我的邀请-我的奖励处查看。</p>
                </div>
            </div>
        </div>
    </div>
</body>
#Html("end")
