body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:926px;
  width:250px;
  height:444px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:444px;
}
#u1 {
  position:absolute;
  left:2px;
  top:214px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:1330px;
  width:249px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
