#Html("begin")
#Head("begin","币港湾,币港湾官网","币港湾官网，国资背景安心收益，为您提供互联网金融服务，是优质的互联网金融服务平台。")
#Title("我的资产【币港湾官网】")
#WeChatShare()
#Head("end")
#LoadJS("resources/micro2.0/scripts/six")
#LoadCSS("resources/micro2.0/styles/default")
#LoadCSS("resources/micro2.0/styles/assets/safe_traders_password.min")
<body>
	<input type="hidden" id="APP_ROOT_PATH" name="APP_ROOT_PATH" value="$!env.getWebURL('')" />
    #if("$!qianbao"=="qianbao")
    <input type="hidden" id="qianbao" name="qianbao" value="$!qianbao" />
    <input type="hidden" id="agentViewFlag" name="agentViewFlag" value="$!agentViewFlag">
    #end
    <div class="header">
    	<a class="header_arrow"  href="javascript:history.go(-1)"></a>
    	<h1 class="heade_ft oran_color">找回交易密码</h1>
    </div>
	<div class="setup-prompt-copy">[短信验证码发送至手机：<span class="setup-prompt-copy_color">$!mobile</span>]</div>
    <form action="$!env.getWebURL('/micro2.0/profile/forget_trader_password')" method="post" class="generalForm" id="generalForm">
        <input type="hidden" value="$!mobile" name="mobile" id="mobile"/>
    	<div class="setup-former-pass">
        	<div class="setup-font">验证码</div>
        	<input class="setup-btn setup-placehold" type="tel" name="mobileCode" id="mobileCode" maxLength="4" placeholder="请输入验证码">
        	<div class="verification_code btn_error" count="60" id="sendCode">发送</div>
        </div>
        <div class="setup-new-password">
        	<div class="setup-new-pass">
        		<div class="setup-font">新交易密码</div>
        		<input class="setup-btn setup-placehold" type="text" name="password" id="payPassword" maxLength="16" placeholder="请输入交易密码" autocomplete="off" onfocus="this.type='password'">
        	</div>
        	<div class="setup-new-pass">
        		<div class="setup-font">确认新密码</div>
        		<input class="setup-btn setup-placehold" type="text" name="curPayPassword" id="curPayPassword" maxLength="16" placeholder="请确认新密码" autocomplete="off" onfocus="this.type='password'">
        	</div>
        </div>
		<div class="setup-pass-info">(密码需6-16位，建议使用字母和数字的组合)</div>
        <a href="javascript:void(0)" class="pass_ok btn_fail">确认修改</a>
    </form>
#LoadJS("resources/micro2.0/scripts/assets/zepto.min")
#LoadJS("resources/micro2.0/scripts/common/common")
#LoadJS("resources/micro2.0/scripts/assets/custom")
#LoadJS("resources/micro2.0/scripts/safe/safe_forget_trader_password")
</body>
#Html("end")