.body{background:#fe730c;}

.banner{width: 100%;height: 477px;margin:0 auto;background: url(../../../images/static/introductionSubject/banner.jpg) no-repeat center;}



.main-product{width:100%;min-height:100px;}
.product-top{width: 100%;height:806px;background: url(../../../images/static/introductionSubject/bannerbg.jpg) no-repeat center bottom;margin:-52px auto 0;}
.product-top-content{width: 1000px;height: 806px;margin:0 auto;}
.product-top-title{width: 1000px;height: 65px;margin:0 auto;background: url(../../../images/static/introductionSubject/title-bg.png) no-repeat center;background-size:1000px;font-size: 36px;color: #fff;text-align: center;line-height: 46px;}
.product-top-txt{width: 1000px;height: 741px;margin:0 auto;background: #fff;}
.product-top-text{width: 718px;height: 146px;margin:0 auto;font-size: 18px;color: #999;line-height: 30px;padding-top: 54px;}
.product-top-process{width: 100%;height: 474px;margin:0 auto;text-align: center;}
.product-center{width: 1000px;height: 1522px;background: url(../../../images/static/introductionSubject/bannerbg1.jpg) no-repeat top center;margin: 0 auto;padding-top: 34px;}
.product-center-title{width: 1000px;height: 65px;margin:0 auto;background: url(../../../images/static/introductionSubject/title-bg.png) no-repeat center;background-size:1000px;font-size: 36px;color: #fff;text-align: center;line-height: 46px;}
.product-center-txt{width: 1000px;height: 1458px;margin:0 auto;background: #fff;}
.product-center-textone{width: 100%;height: 150px;margin:0 auto;text-align: center;font-size: 28px;line-height: normal;padding-top: 66px;}
.product-center-texttitleone{color:#ffa51a ;margin-bottom: 30px;font-weight: 600;}
.product-center-texttitleone img{position: relative;top:5px;margin-right: 8px;}
.product-center-textone p{font-size:18px;color: #999;line-height: 28px;}
.product-center-processone{width: 100%;height: 512px;margin:0 auto;border-bottom: 1px dashed #999;}
.processone-title{width: 718px;height: 24px;margin:0 auto;line-height: 24px;font-size: 24px;color: #ffa51a;font-weight: 600;}
.processone-img{width: 100%;height: 328px;margin:0 auto;text-align: center;margin-top: 68px;}
.processone-user{width: 100%;text-align: center;height: 30px;line-height: 30px;font-size: 18px;color: #999;}
.processone-user img{position: relative;top: 4px;margin-right: 5px;}

.product-center-texttwo{width: 100%;height: 150px;margin:0 auto;text-align: center;font-size: 28px;line-height: normal;padding-top: 66px;}
.product-center-texttitletwo{color:#fa705a ;margin-bottom: 30px;font-weight: 600;}
.product-center-texttitletwo img{position: relative;top:5px;margin-right: 8px;}
.product-center-texttwo p{font-size:18px;color: #999;line-height: 28px;}
.product-center-processtwo{width: 100%;height: 512px;margin:0 auto;}
.processtwo-title{width: 718px;height: 24px;margin:0 auto;line-height: 24px;font-size: 24px;color: #fa705a;font-weight: 600;}
.processtwo-img{width: 100%;height: 328px;margin:0 auto;text-align: center;margin-top: 68px;}
.processtwo-user{width: 100%;text-align: center;height: 30px;line-height: 30px;font-size: 18px;color: #999;}
.processtwo-user img{position: relative;top: 4px;margin-right: 5px;}

.product-bottom{width: 1000px;height: 896px;margin: 0 auto 130px;padding-top: 34px;background: url(../../../images/static/introductionSubject/bannerbg2.jpg) no-repeat top center;}
.product-bottom-title{width: 1000px;height: 65px;margin:0 auto;background: url(../../../images/static/introductionSubject/title-bg.png) no-repeat center;background-size:1000px;font-size: 36px;color: #fff;text-align: center;line-height: 46px;}
.product-bottom-txt{width: 100%;height: 761px;margin:0 auto;background: #fff;padding-top: 70px;}
.product-bottom-nav{width: 718px;height: 80px;margin: 0 auto;}
.product-bottom-nav li{height:80px;float: left;line-height: 80px;text-align: center;color: #fff;font-size: 28px;cursor: pointer;position: relative;}
.product-bottom-nav li .b_img{position: absolute;top:0;left:0;display: none;display: none;}
.product-bottom-nav li .b_img_i,.b_img_span{position: absolute;}
.product-bottom-nav1{width: 242px;background: url(../../../images/static/introductionSubject/nav11.png) no-repeat;}
.product-bottom-nav2{width: 240px;background: url(../../../images/static/introductionSubject/nav12.png) no-repeat;}
.product-bottom-nav3{width: 234px;background: url(../../../images/static/introductionSubject/nav13.png) no-repeat;overflow: hidden;}
.product-bottom-nav li .b_img_i{font-weight: 600;left:60px;}
.product-bottom-nav li .b_img_span{left:106px;}
.product-bottom-content{width: 718px;height: 466px;margin:36px auto 0;background: #efefef;padding-top: 34px;}
.product-bottom-content div{width: 647px;height: 430px;margin:0 auto;background: #fff;display: none;}
.product-bottom-content div img{width: 647px;}
.footer-btn{width: 718px;height: 62px;margin:34px auto 0;line-height: 62px;text-align: center;font-size: 22px;}
.footer-btn .footer-btnleft{width: 340px;height: 62px;display: block;float: left;background:#0facee ;color: #fff;}
.footer-btn .footer-btnright{width: 340px;height: 62px;display: block;float: right;background:#ff681d ;color: #fff;}