.body{width: 100%;height: 100%;background: #ebf8f1;font-family: "微软雅黑";}
.banner{width: 100%;height: 770px;margin:0 auto;background: url(../../../images/static/fourSeasons/banner.jpg) no-repeat center;}

/*main*/
.season{width: 100%;height: auto;margin:0 auto;background: url(../../../images/static/fourSeasons/season_bg1.png) no-repeat center 378px;}
.season_content{width: 1140px;margin:0 auto;height:820px;position:relative;padding-top: 160px;}
.season_img{position: absolute;top: -30px;left: 50%;margin-left: -420.5px;}
.season_title{width: 100%;text-align: center;font-size: 44px;color: #fff;position: absolute;top: 66px;line-height: normal;}
.season_txt{width: 100%;text-align: center;font-size: 30px;color: #e0543c;}
.season_product{width: 100%;margin:78px auto 0;}
.season_product li{width: 550px;height: 284px;background: #dfdfdf;padding-top: 16px;float: left;margin: 0 auto 40px;line-height: normal;
-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;behavior: url(PIE.htc);}
.season_product_box{width: 520px;height: 270px;background: #fff;margin: 0 auto;position: relative;}
.season_product_img{position: absolute;right: 0;top: 0;}
.season_product_txt{font-size: 36px;color: #fff;width: 70px;line-height: 46px;position: absolute;right: 0;text-align: center;top: 50%;margin-top: -69px;}
.season_product_txt1{font-size: 36px;color: #fff;width: 70px;line-height: 46px;position: absolute;right: 0;text-align: center;top: 50%;margin-top: -92px;}
.season_product_title{width: 428px;text-align: center;font-size: 30px;color: #7f7f7f;padding: 56px 92px 0 0;position:relative;z-index: 1;}
.season_product_number{width: 428px;text-align: center;padding: 20px 92px 0 0;font-weight: 900;}
.season_product_number1{font-size: 44px;color: #4e3a34;position: relative;top: -16px;}
.season_product_number2{font-size: 87px;color: #4e3a34;}
.season_product_number3{font-size: 58px;color: #4e3a34;}
.season_product .season_product_margin{margin-left: 40px;}
.season_prompt{width: 1140px;height: 134px;background: #dfdfdf;padding-top: 16px;margin:0 auto;
-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;behavior: url(PIE.htc);}
.season_prompt_box{width: 1108px;height: 118px;margin:0 auto;background: #fff;position: relative;text-align: center;line-height: 118px;font-size: 30px;color: #4e3a34;}
.season_prompt_img1{position: absolute;top: 0;left: 0;}
.season_prompt_img2{position: absolute;top: 0;right: 0;}
.season_product_btn{width: 214px;height: 56px;background: url(../../../images/static/fourSeasons/Season_btn.png) no-repeat center;margin:50px auto 0;text-align: center;line-height: normal;}
.season_product_btn .season_product_btna{width: 100%;display: inline-block;padding: 8px 0;font-size: 24px;color: #e95256;}
.season_bg{width: 100%;height: 13px;background: url(../../../images/static/fourSeasons/season5.png) repeat-x center;margin:50px auto 0;}
.season_foot{width: 100%;height: 1346px;background: #b2f2d8;margin:0 auto -20px;padding-top: 90px;}
.season_foot_bg{width: 100%;height: 1346px;margin:0 auto;}
.season_zan{width: 1140px;padding:52px 0 44px;background: #f5fffa;margin: 0 auto;position:relative;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;behavior: url(PIE.htc);}
.season_zan_title{width: 100%;text-align: center;font-size: 34px;color: #3cb68d;font-weight: 600;padding:20px 0 60px;}
.season_zan_title1{font-size: 51px;position: relative;top: -3px;}
.season_zan_txt{width: 100%;text-align: center;font-size: 30px;color: #7a7e7d;padding:20px 0;}
.season_rule{width: 1140px;margin:110px auto 0;position: relative;padding-top: 170px;font-size: 30px;color: #7a7e7d;}
.season_bg3{position: absolute;left: -454px;bottom: 10px;}
.season_bg4{position: absolute;right: -465px;bottom: 64px;}
.season_rule .season_rule_txt{width:1010px;margin:0 auto;line-height: 64px;}
.spring_rule_number{display: inline-block;width: 40px;vertical-align: top;}
.spring_rule_text{display: inline-block;width: 940px;vertical-align: top;}
.season_footer{font-size: 30px;color: #3dac96;width: 100%;text-align: center;margin:0 auto;padding:54px 0 0;}











