#Html("begin")
#Head("begin")
#Title("币港湾理财官网_安心可靠互联网金融投资理财平台_品听资产_杭商资产_浙大网新_P2P网贷")
#Head("end")
<body>
<input type="hidden" id="APP_ROOT_PATH" name="APP_ROOT_PATH" value="$!env.getWebURL('')" />
<!-- website wrapper starts -->
<div class="websiteWrapper"> 
  
  <!-- header wrapper starts -->
  #Header("账户安全中心","","","micro/wealth/index")
  <!-- header wrapper ends --> 
  
  <!-- notification starts -->
  
  <!-- notification ends --> 
  
  <!--tab-s-->
  
  <div class="newrow">
    <ul id="pagenavi1" class="newtitle">
    </ul>
    <div class="newbox" id="slider1">
        <div class="box">
			<input type="hidden" id="isBindName" name="" value="$!isBindName" />
        <a href=
			#if($!isBindName)
				"$!env.getWebURL('')/micro/profile/authentication"
			#else 
				"javascript:drawToast('尚未实名认证，请添加银行卡完成认证！')"
			#end
			><div class="ll">实名认证
					<span style="color:
						#if($!isBindName)
							green">$!userName
						#else 
							red">未验证
						#end</span></div></a>
        <a href="$!env.getWebURL('')/micro/profile/urgent_user"><div class="ll">紧急联系人</div></a>
        </div>
        <div class="box">
        <a href="$!env.getWebURL('')/micro/profile/show_mobile"><div class="ll">绑定手机</div></a>
        <a href="$!env.getWebURL('')/micro/profile/bind_email"><div class="ll">绑定邮箱</div></a>
        </div>
        <div class="box">
        <a href="$!env.getWebURL('')/micro/profile/modify_login_password"><div class="ll">修改登录密码</div></a>
        <a href="$!env.getWebURL('')/micro/profile/modify_pay_password">
			
				#if($!isBindPayPassword)
						<span class="label1"></span>
			<div class="ll">	设置支付密码   
							<!--
							<span style='color:#ED0C10'>●</span>
							-->
							<span style="background: none repeat scroll 0 0 #f2f2f2;border-radius: 5px;color: #333;display: block;font-size: 14px;line-height: 10px;width:50px;float:right;height:10px;font-weight: lighter;padding:8px;margin-right: 10px;"> 
									未设置
								</span>
						#else 
						
			<div class="ll">	修改支付密码
						#end</div></a>
        </div>
		<a class="go_btn1" style="color:#fff;margin-bottom:50px;" href="$!env.getWebURL('')/micro/user/login/out">退出</a>

    </div>
  </div>
  
  <!--tab-e--> 
  
  

  
  
  
  <!-- page wrapper starts -->
  <!-- page wrapper ends --> 
  
  <!-- footer wrapper starts -->
	#Footer("4")
  <!-- footer wrapper ends --> 
  
</div>
 
<!-- website wrapper ends -->
	<!-- website wrapper ends -->
	#LoadJS("resources/micro/scripts/user/login")
</body>

#Html("end")