#Html("begin")
#Head("begin","意见反馈,币港湾,币港湾官网","币港湾官网，国资背景安心收益，为您提供互联网金融服务，是优质的互联网金融服务平台。")
#Title("意见反馈【币港湾官网】")
#WeChatShare()
#Head("end")
#LoadJS("resources/micro2.0/scripts/six")
#LoadCSS("resources/micro2.0/styles/default")
#LoadCSS("resources/micro2.0/styles/more/feedback.min")
<body>
    <div class="header">
    	<a class="header_arrow" href="javascript:history.go(-1)"></a>
    	<h1 class="heade_ft oran_color">意见反馈</h1>
    </div>
    ##<div class="feed_info">请填写您的宝贵意见</div>
    <form action="$!env.getWebURL('/micro2.0/wealth/found_feedback')" method="post" id="generalForm">
		<textarea name="info" id="info" class="feed_text" maxlength="500" autofocus placeholder="请在这里填写您宝贵的意见"></textarea>
    	<a class="i_reco_btn">提交</a> 
    </form>
#LoadJS("resources/micro2.0/scripts/assets/zepto.min")
#LoadJS("resources/micro2.0/scripts/assets/custom")
#LoadJS("resources/micro2.0/scripts/common/common")
#LoadJS("resources/micro2.0/scripts/more/feedback")
</body>
#Html("end")

