#foreach($!user in $!bsUserList)
    <li class="item item_top_border">
		<div class="item_small item-left">
			<i class="bank_bg"></i>
			<span class="font_left">$!string.left($!user.mobile,3)****$!string.right($!user.mobile, 4)</span>
		</div>
		<div class="item_small item_time">
			<i class="bank_bg"></i>
			<span class="font_left">$!date.formatDateTime($!user.registerTime,'yyyy-MM-dd HH:mm')</span>
		</div>
		<div class="item_small item-right">
			<i class="bank_bg"></i>
			<span class="font_left">#if($!user.firstBuyTime) <span class="oran_color_new">已投资</span> #else <span class="blue_color">暂未投资</span> #end</span>
		</div>
	</li>
#end