<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li class="line">line</li>
			<li><a  rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/productNum/index.htm')?type=1ActivityProductNum" class="edit"><span>1个月活动理财购买人数</span></a></li>
			<li class="line">line</li>
			<li><a  rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/productNum/index.htm')?type=1ProductNum" class="edit"><span>1个月理财购买人数</span></a></li>
			<li class="line">line</li>
			<li><a  rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/productNum/index.htm')?type=3ProductNum" class="edit"><span>3个月理财购买人数</span></a></li>
			<li class="line">line</li>
			<li><a   rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/productNum/index.htm')?type=6ProductNum" class="edit"><span>6个月理财购买人数</span></a></li>
			<li class="line">line</li>
			<li><a   rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/productNum/index.htm')?type=12ProductNum" class="edit"><span>12个月理财购买人数</span></a></li>
			<li class="line">line</li>
			<li><a   rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/productNum/index.htm')?type=ProductNumSum" class="edit"><span>全部理财购买总人数</span></a></li>
		</ul>
	</div>

				<td>	 #Highcharts($!nums,$!titletext,$!yAxistext,$!seriestext,$!startTime)</td>
			
		
    	
	
</div>