.clearfix:after{
    content: '';
    display: block;
    height:0;
    clear: both;
}
.ggle{
    background-color:#7655c2;
    background-image: linear-gradient(#7355c2 0%,#a153c2 100%);
}
.ggle_container{
    background: url(../../../../images/activity/2017/scratchCard/ggle_img_bg.png) top center;
    -webkit-background-size:100%;
    background-size:100%;
    padding: 0 40px 100px;
}
.ggle_banner img{
    width: 100%;
}
.ggle_tickets{
    max-width: 560px;
    margin: 20px auto 60px;
}
.tickets_wrap{
    position: relative;
    height: 365px;
}
.ggle_tickets_content{
    position: absolute;
    top:0;
    left: 0;
    width: 560px;
    height: 365px;
    z-index: 10;
    background: url(../../../../images/activity/2017/scratchCard/ggle_ticket.png) no-repeat center;
}
.ggle_tickets_content>h4{
    line-height: 365px;
    margin: 0;
    font-size: 51px;
    color: #333;
    text-align: center;
}
.ggle_tickets_result{
    position: relative;
    height: 365px;
    background: url(../../../../images/activity/2017/scratchCard/ggle_ticket_show.png) no-repeat center;
}
.ggle_tickets_text{
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -47px;
}
.ggle_tickets_text h5{
    color: #333;
    font-size:64px;
    margin: 0 auto 20px;
    line-height: 65px;
}
.ggle_tickets_text p{
    color: #333;
    font-size:36px;
    line-height: 40px;
    margin: 0;
}
.ggle_tickets_text p span{
    color: #ff6633;
}
.wrap_hide{
    display: none;
}
.ggle_btn{
    width: 365px;
    height: 66px;
    line-height: 60px;
    margin: 30px auto 0;
    background: url(../../../../images/activity/2017/scratchCard/ggle_btn.png) no-repeat center;
    text-align: center;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.ggle_btn a{
    color: #fff;
}
.btn_disabled{
    background: url(../../../../images/activity/2017/scratchCard/ggle_btn_disab.png) no-repeat center;
    cursor: auto;
}

.game_des{
    font-size: 24px;
    color: #43257d;
    line-height: 30px;
    text-align: center;
    width: 300px;
    margin: 20px auto;
}
.game_des img{
    width: 30px;
    margin-right: 10px;
    display: inline-block;
    float: left;
}
.winner_list{
    margin: 0 auto 120px;
}
.winner_title{
    height: 104px;
    background: url(../../../../images/activity/2017/scratchCard/ggle_winner_list.png) no-repeat center;
}
.list_warp_out{
    background: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 10px;
}
.list_warp{
    background: #fff2c5;
    border: solid 2px #e8d286;
    text-align: center;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    padding: 40px 0;
}
.winnerlist_title ul li{
    float: left;
    width: 35%;
    box-sizing: border-box;
    color: #f8931f;
    font-size: 30px;
    line-height: 60px;
}
.winnerlist_title ul li:nth-child(2){
    width: 30%;
}
.winnerlist_content ul .empty_list{
    font-size: 30px;
    text-align: center;
    color: #ec695a;
    line-height: 200px;
}
.winnerlist_content{
    height: 200px;
    overflow: hidden;
}
.winnerlist_content ul li span{
    color: #ec695a;
    font-size: 20px;
    display: block;
    float: left;
    width: 35%;
    line-height: 40px;
}
.winnerlist_content ul li span:nth-child(2){
    width: 30%;
}
.active_rule{
    width: 560px;
    margin: auto;
    height: 490px;
    background: url(../../../../images/activity/2017/scratchCard/ggle_rule.png) no-repeat center;
    padding: 90px 40px 0;
    box-sizing: border-box;
}
.active_rule ul,.active_rule li{
    list-style: decimal;
}
.active_rule ul{
    padding-left: 30px;
}
.active_rule li{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 5px;
    color: #fff;
}
.main_box {
    z-index: 5;
    position: absolute;
    top:0;
    left: 0;
    width: 560px;
    height: 365px;
}
.main_box .box {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.main_box .box .content {
    z-index: 10;
    position: relative;
    height: 365px;
}
#mask_img_bg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
#redux {
    position: absolute;
    width: 525px;
    height: 297px;
    display: block;
    top:35px;
    left: 18px;
}