#Html("begin")
#Head("begin")
#Title()
#LoadJS("/resources/micro2.0/scripts/six")
#LoadCSS("resources/micro2.0/styles/default")
#LoadCSS("/resources/micro2.0/styles/platform/news.min")
#WeChatShare()
#Head("end")
<body>
    <input type="hidden" id="APP_ROOT_PATH" value="$!env.getWebURL('')"/>
    <div class="main">
    	<div class="small-wrap">
    		<h1 class="news_title">$!details.subject</h1>
    		<h6 class="news_time">$!date.formatYYYYMMDD($!details.publishTime)</h6>
    		<div class="news_ft">
    			$!details.content
    		</div>
    		<div style="clear: both;"></div>
    	</div>
    </div>
</body>
#Html("end")