#Html("begin")
#Head("begin")
#Title()
#LoadJS("/resources/micro2.0/scripts/six")
#LoadCSS("resources/micro2.0/styles/default")
#LoadCSS("/resources/micro2.0/styles/platform/notice.min")
#WeChatShare()
#Head("end")
<body id="body">
    <input type="hidden" id="APP_ROOT_PATH" value="$!env.getWebURL('')"/>
    <input type="hidden" id="qianbao" name="qianbao" value="$!qianbao" />
    <input type="hidden" id="agentViewFlag" name="agentViewFlag" value="$!agentViewFlag">
    <!-- 头部 -->
    <div class="main main_padding">
        <div class="notice_ctitle">$!details.subject</div>
        <div class="notice_ctime">$!date.formatYYYYMMDD($!details.publishTime)</div>
        <div class="notice_ctxt">$!details.content</div>
        <div class="notice_cimg">
            <img class="notice_cimg_img" src="$!details.subjectImg"/>
        </div>
    </div>
#LoadJS("/resources/micro2.0/scripts/platform/gw_info")
</body>
#Html("end")