#foreach($!data in $!dataGrid)
	<div class="notice">
		<a class="notice_box" href="javascript:void(0)">
			<div class="notice_time">
				<span class="notice_year">$!data.publishTimeYM</span>
				<span class="notice_day">$!data.publishTimeD</span>
			</div>
			<div class="notice_content">
				<span class="notice_title">$!data.subject</span>
				<span class="notice_txt">$!data.summary</span>
			</div>
		</a>
		<div id="showmore"></div>
	</div>
#end
