<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li class="line">line</li>
			<li><a  rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/productNumDay/index.htm')?type=1ActivityProductNumDay" class="edit"><span>1个月活动理财日购买人数</span></a></li>
			<li class="line">line</li>
			<li><a  rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/productNumDay/index.htm')?type=1ProductNumDay" class="edit"><span>1个月理财日购买人数</span></a></li>
			<li class="line">line</li>
			<li><a  rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/productNumDay/index.htm')?type=3ProductNumDay" class="edit"><span>3个月理财日购买人数</span></a></li>
			<li class="line">line</li>
			<li><a   rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/productNumDay/index.htm')?type=6ProductNumDay" class="edit"><span>6个月理财日购买人数</span></a></li>
			<li class="line">line</li>
			<li><a   rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/productNumDay/index.htm')?type=12ProductNumDay" class="edit"><span>12个月理财日购买人数</span></a></li>
			<li class="line">line</li>
			<li><a   rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/productNumDay/index.htm')?type=ProductNumDaySum" class="edit"><span>全部理财日购买人数</span></a></li>
		</ul>
	</div>

				<td>	 #Highcharts($!nums,$!titletext,$!yAxistext,$!seriestext,$!startTime)</td>
			
		
    	
	
</div>