<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<div class="col-md-12">
       <div class="box box-primary">
       <div class="box-body">
       		<table id="table"
				   data-url="/financing/list"
				   data-sort-name="id"
				   data-sort-order="desc"
				   data-click-to-select="true"
				   data-pagination="true" 
				   data-side-pagination="server"
    			   data-page-list="[5, 10, 20, 50, 100, 200]">
	            <thead>
	            <tr>
	                <th data-field="id">编号</th>
	                <th data-field="customerId">客户编号</th>
	                <th data-field="payOrderNo">订单号</th>
	                <th data-field="payFinishTime">转帐完成时间</th>
	                <th data-field="amount">转账总金额</th>
	                <!--<th data-field="status">状态</th>-->
	                <th data-field="createTime">创建时间</th>
	                <th data-field="updateTime">更新时间</th>
	            </tr>
	            </thead>
	        </table>
       </div><!-- /.box-body -->
       </div><!-- /. box -->
   </div>
   
   <script>
    var API_URL = "/financing/",
		table;
		
	$(function(){
		//表格初始化
		table = $('#table').bootstrapTable();
	})
   </script>
</body>
</html>
