#Html("begin")
#GenHead("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadGenCSS("/resources/gen2.0/styles/activity/618_activity")
#LoadGenJS("/resources/gen2.0/scripts/activity/618_activity")
#LoadGenJS("/resources/gen2.0/scripts/activity/lottery")
#LoadGenJS("/resources/gen2.0/scripts/activity/jquery")
#LoadGenJS("/resources/gen2.0/scripts/activity/scroll")
#LoadGenJS("/resources/gen2.0/scripts/Custom")

#GenHead("end")
<body class="body">
	#Gen2Header("home")
	
	<!--banner-->
		<div class="banner"></div>
		<!--main-->
		<div class="main_activity">
			<div class="main_left">
				<div class="main_Ltop">获奖名单</div>
				<div class="main_Ltxt" >

					<ul >
						#foreach($lucky in $luckyList)
						<li>恭喜$!lucky.mobile获得$!lucky.awardContent</li>
						#end

					</ul>
                   
				</div>
			</div>
			<div class="main_right">
				<div class="main_rtop">
					<div class="main_rnum">当前<span class="rspan">$!luckyNum</span>人参与了抽奖</div>
					<div class="main_rbtn"><i class="ri">还剩<span class="rspan" id="afterTimes">$!userLuckyNum</span>次抽奖机会</i><a class="rbtn">我的奖品</a></div>
				</div>
				<div class="main_rcenter">
					<div id="lottery">
						<table border="0" cellpadding="0" cellspacing="0">
							<tr class="lottery-group">
								<td class="lottery-unit" style="background:url($!env.get('gen.server.web')/resources/gen2.0/images/activity/rbg1.png) no-repeat;">
									<h6>5元奖励金</h6>
									<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/j1.png" />
									<div></div>
								</td>
								<td class="lottery-unit" style="background:url($!env.get('gen.server.web')/resources/gen2.0/images/activity/rbg2.png) no-repeat;">
									<h6>iphone 6s 64G</h6>
									<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/j2.png" />
									<div></div>
								</td>
								<td class="lottery-unit" style="background:url($!env.get('gen.server.web')/resources/gen2.0/images/activity/rbg1.png) no-repeat;">
									<h6>300元话费/加油卡/<br/>超市卡</h6><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/j3.png" />
									<div></div>
								</td>
								<td class="lottery-unit" style="background:url($!env.get('gen.server.web')/resources/gen2.0/images/activity/rbg2.png) no-repeat;">
									<h6>艾美特<br/>FT47HR-W遥控塔扇</h6><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/j4.png" />
									<div></div>
								</td>
								<td class="lottery-unit" style="background:url($!env.get('gen.server.web')/resources/gen2.0/images/activity/rbg1.png) no-repeat;">
									<h6>10元奖励金</h6><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/j5.png" />
									<div></div>
								</td>
							</tr>
							<tr class="lottery-group">
								<td class="lottery-unit" style="background:url($!env.get('gen.server.web')/resources/gen2.0/images/activity/rbg2.png) no-repeat;">
									<h6>科沃斯S<br/>（CEN540-LG）扫地机</h6>
									<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/j12.png" />
									<div></div>
								</td>
								<td colspan="3">
									<a id="jiangbtn"  style="cursor:pointer;"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/jbtn.png"/></a>
								</td>
								<td class="lottery-unit" style="background:url($!env.get('gen.server.web')/resources/gen2.0/images/activity/rbg2.png) no-repeat;">
									<h6>泰昌足浴盆</h6>
									<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/j6.png" />
									<div></div>
								</td>
							</tr>

							<tr class="lottery-group">
								<td class="lottery-unit" style="background:url($!env.get('gen.server.web')/resources/gen2.0/images/activity/rbg1.png) no-repeat;">
									<h6>30元奖励金</h6>
									<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/j11.png" />
									<div></div>
								</td>
								<td class="lottery-unit" style="background:url($!env.get('gen.server.web')/resources/gen2.0/images/activity/rbg2.png) no-repeat;">
									<h6>红米note3</h6>
									<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/j10.png" />
									<div></div>
								</td>
								<td class="lottery-unit" style="background:url($!env.get('gen.server.web')/resources/gen2.0/images/activity/rbg1.png) no-repeat;">
									<h6>80元奖励金</h6>
									<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/j9.png" />
									<div></div>
								</td>
								<td class="lottery-unit" style="background:url($!env.get('gen.server.web')/resources/gen2.0/images/activity/rbg2.png) no-repeat;">
									<h6>Apple Watch/<br/>小米平衡车</h6>
									<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/j8.png" />
									<div></div>
								</td>
								<td class="lottery-unit" style="background:url($!env.get('gen.server.web')/resources/gen2.0/images/activity/rbg1.png) no-repeat;">
									<h6>50元奖励金</h6>
									<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/j7.png" />
									<div></div>
								</td>
							</tr>
						</table>
					</div>
				</div>

				<div class="main_rdown">
					<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/mdbg.png" class="mdimg" />
					<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/md_my.png" class="md_my" />
					<div class="mdtxt">
						<p>活动期间购买<span style="color:yellow;">安心投（90天）、稳定收（180天）、长安赢（365天）</span>任意计划大于等于5000元可获得一次抽奖机会</p>
						<p>新注册用户在购买新手标满20000元后可获得一次抽奖机会</p>
						<p>购买金额越大获得大奖的概率越大</p>
						<a href="$!env.get('gen.server.web')/gen2.0/regular/list" class="md_btn">点我去投资</a>
					</div>
				</div>
			</div>

		</div>
		<div class="rule">
			<div class="rule_txt">
				<h3 class="rule_h3">
						<div class="ruh3txt">活动规则<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/rule_h3.png" style="position:absolute;right:0;"/></div>
					</h3>
				<div class="ru_txt"><em>1</em>
					<p>活动时间：2016年6月17日-6月23日23:59:59；</p>
				</div>
				<div class="ru_txt"><em>2</em>
					<p>抽中实物奖品的用户请在截止日期（6月23日）前，将真实姓名、手机号码以及联系地址发送到“币港湾”微信公众号（bigangwanlicai），逾期即为放弃领奖资格；</p>
				</div>
				<div class="ru_txt"><em>3</em>
					<p>抽中实物奖品的用户，客服将于活动结束后5个工作日内，与获奖用户联系，请保持手机畅通，如因用户自身原因错过通知，则视为放弃奖励；</p>
					
				</div>
				<div class="ru_txt"><em>4</em>
					<p>奖励金将在抽奖完成后直接发放至用户账户：PC端：“我的账户—邀请好友”；APP及微信端：“我的资产—我的奖励”；</p>
				</div>
				<div class="ru_txt"><em>5</em>
					<p>奖励金可转出到余额后直接提现；</p>
				</div>
				<div class="ru_txt"><em>6</em>
					<p>本次活动不与平台其他活动叠加；</p>
				</div>
				<div class="ru_txt"><em>7</em>
					<p>新手标每天50万，售完即止。</p>
				</div>
			</div>
		</div>
		<div class="foot">
			<div class="f_top">本次活动的最终解释权归币港湾所有</div>
			<div class="foot_down">如有疑问可致电币港湾客服： <a href="tel:400-806-1230">400-806-1230</a></div>
		</div>
		<!--弹窗-->
		<div class="win_bg"></div>
		<!--我的奖品空-->
		<div class="prize_nothing">
			<h3 class="prize_nh3">我的奖品<a style="cursor:pointer;"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/close.png" class="closeimg"/></a></h3>
		</div>
		<!--我的奖品有-->
		<div class="prize_have">
			<h3 class="prize_nh3">我的奖品<a style="cursor:pointer;"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/close.png" class="closeimg"/></a></h3>
			<ul class="prize_title">
				<li>时间</li>
				<li>中奖情况</li>
			</ul>
			<div class="prize_txt">
				<ul class="prize_txtlong">
					#foreach($userLucky in $userLuckyList)
					<li><span>$!date.formatDateTime($!userLucky.userDrawTime,'yyyy-MM-dd HH:mm:ss')</span><i>获得$!userLucky.awardContent</i></li>
					#end
				</ul>
			</div>
		</div>
		<!--获奖-->
		<div class="Winning">
			<h3 class="Winning_h3">恭喜您<a style="cursor:pointer;" href="$!env.get('gen.server.web')/gen2.0/activity/activity618_index"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/close.png" class="closeimg"/></a>
				<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/hou.png" class="Winning_hou"/>
			</h3>
			<div class="Winning_title" id="showAwardContent"></div>
			<a class="Winning_btn" href="$!env.get('gen.server.web')/gen2.0/activity/activity618_index"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/cjbtn.png" /></a>
		</div>
		<!--抽奖次数-->
		<div class="prize_num">
			<h3 class="prize_numh3">温馨提示<a style="cursor:pointer;"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/close.png" class="closeimg"/></a></h3>
			<div class="prize_numtxt1">很抱歉您还有0次抽奖机会</div>
			<div class="prize_numtxt2">购买安心投、稳定收、长安赢任意一笔投资满</div>
			<div class="prize_numtxt3"><span style="color:#f13919;">5千元</span>可获得抽奖机会</div>
			<a class="prize_numbtn">我知道了</a>
		</div>
	</body>

#Html("end")