#Html("begin")
#Head("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadJS("resources/micro2.0/scripts/assets/six")
#LoadCSS("resources/micro2.0/styles/assets/default")
#LoadCSS("resources/micro2.0/styles/shake/shake_04")
#WeChatShare()
#Head("end")
<body class="shake_pack_bg">
<audio id="shake_voice" style="display:none">
    <source src="$env.getWebURL('')/resources/micro2.0/media/guide-bgm.ogg" type="audio/ogg">
    <source src="$env.getWebURL('')/resources/micro2.0/media/guide-bgm.mp3" type="audio/mpeg">
</audio>
<script >
    var audio = document.getElementById("shake_voice");
    audio.play();
</script>
<input type="hidden" id="APP_ROOT_PATH" value="$!env.getWebURL('')"/>
<form action="$!env.getWebURL('')/micro2.0/shake/shake" method="post" id="go2shake_form">
</form>
<div class="shake_title">
	<img class="img_win" src="$!env.getWebURL('')/resources/micro2.0/images/shake/shake_13.jpg" alt="">
</div>
 <div class="shake_z">
 	<div class="title_iten top_ft">想为财运加点分？财神爷送来一支转运神签，提升财运之法百试百灵！</div>
 </div>
<div class="foot_wp">
	<img class="foot_img" src="$!env.getWebURL('')/resources/micro2.0/images/shake/shake_14.jpg" alt="">
	<div class="shar_btn" style="margin-bottom: 75px;">我要抽签求好运</div>
</div>
<script >
	$('.shar_btn').click(function(){
		$('#go2shake_form').submit();
		var audio = document.getElementById("shake_voice");
		audio.pause();
	});
</script>
</body>
#Html("end")