#Html("begin")
#Head("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadJS("resources/micro2.0/scripts/assets/six")
#LoadJS("resources/micro2.0/scripts/common/common")
#LoadCSS("resources/micro2.0/styles/assets/default")
#LoadCSS("resources/micro2.0/styles/shake/shake_01")
#LoadJS("resources/micro2.0/scripts/shake/top_move")
#LoadJS("resources/micro2.0/scripts/shake/shake")
#LoadJS("resources/micro2.0/scripts/shake/shake_main")
#WeChatShare()
#Head("end")
<body>
<input type="hidden" name="APP_ROOT_PATH" id="APP_ROOT_PATH" value="$env.getWebURL('')" />
<audio id="shake_voice" style="display:none" preload="preload">
    <source src="$env.getWebURL('')/resources/micro2.0/media/shake_voice.ogg" type="audio/ogg">
    <source src="$env.getWebURL('')/resources/micro2.0/media/shake_voice.mp3" type="audio/mpeg">
</audio>
<div class="shake_title">
	<img class="img_win" src="$!env.getWebURL('')/resources/micro2.0/images/shake/shake_01.jpg" alt="">
</div>
<div class="shake_main">
	<div class="left">
		<img src="$!env.getWebURL('')/resources/micro2.0/images/shake/shake_05.png" alt="">
	</div>
	<div class="right">
		<img src="$!env.getWebURL('')/resources/micro2.0/images/shake/shake_06.png" alt="">
	</div>
	<div class="center">
		<img src="$!env.getWebURL('')/resources/micro2.0/images/shake/shake_02.png" alt="">
	</div>
	<div class="mott shake_mo">
		<img class="shake_t flow_move"  src="$!env.getWebURL('')/resources/micro2.0/images/shake/shake_03.png" alt="">
	</div>
</div> 
<div class="shake_footer">
	<img class="img_win" src="$!env.getWebURL('')/resources/micro2.0/images/shake/shake_04.png" alt="">
	<div class="foot_ft">摇一摇开始抽签</div>
</div>
<div class="fott_bg">
	<div class="move_ft">
		<ul class="ft_ul">
			<li class="item">忘记过往求得财神赐福88元转运红包，财运大涨</li>
			<li class="item">一生足矣求得财神赐福18元转运红包，财运大涨</li>
			<li class="item">拭呿の涙氺求得财神赐福68元转运红包，财运大涨</li>
			<li class="item">看淡一切╮求得财神赐福48元转运红包，财运大涨</li>
			<li class="item">淡定、情緒求得财神赐福66元转运红包，财运大涨</li>
			<li class="item">豁达求得财神赐福84元转运红包，财运大涨</li>
			<li class="item">愈归求得财神赐福90元转运红包，财运大涨</li>
			<li class="item">蜕变求得财神赐福110元转运红包，财运大涨</li>
			<li class="item">试着放弃丶求得财神赐福28元转运红包，财运大涨</li>
			<li class="item">淡忘求得财神赐福130元转运红包，财运大涨</li>
			<li class="item">戒浮戒躁求得财神赐福66元转运红包，财运大涨</li>
		</ul>
	</div>
	<div class="foot_boom">财神爷已替<span class="shake_number">$!count</span>位有缘之人转运祈福</div>
</div> 
 <!--  弹窗-->
<div class="toptip_phone fadeInUp draw_fail">
	<img class="phonr_right" src="$!env.getWebURL('')/resources/micro2.0/images/shake/shake_12.png" alt="">
	<div class="phone_title"></div>
	<div class="phone_info_white">
		<div class="info_ft">心诚则灵，不要放弃~</div>
	</div>
</div>

<div class="toptip_phone fadeInUp draw_succ">
	<img class="phonr_right" src="$!env.getWebURL('')/resources/micro2.0/images/shake/shake_12.png" alt="">
	<div class="phone_title"></div>
	<div class="phone_info_white">
		<div class="info_ft">天空一声巨响，一支神签从天而降...</div>
	</div>
</div>

<form id="success_submit" style="display:none;" method="post">
	<input type="hidden" name="sign" id="sign" />
</form>

</body>
#Html("end")