#Html("begin")
#Head("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadJS("resources/micro2.0/scripts/assets/six")
#LoadCSS("resources/micro2.0/styles/assets/default")
#LoadCSS("resources/micro2.0/styles/shake/shake_03")
#LoadCSS("resources/micro2.0/styles/shake/shake_02")
#LoadJS("resources/micro2.0/scripts/shake/shake_success")
#WeChatShare()
#Head("end")
<body class="shake_pack_bg">
<!-- 遮罩 -->
<div class="dialog"	style="z-index: 5; display:block;">
	<div class="sign" style="z-index: 5;">
		#if($!sign == 1)
			<img class="sign_center" src="$!env.getWebURL('')/resources/micro2.0/images/shake/sign1.png" alt="">
		#elseif($!sign == 2)
			<img class="sign_center" src="$!env.getWebURL('')/resources/micro2.0/images/shake/sign2.png" alt="">
		#elseif($!sign == 3)
			<img class="sign_center" src="$!env.getWebURL('')/resources/micro2.0/images/shake/sign3.png" alt="">
		#elseif($!sign == 4)
			<img class="sign_center" src="$!env.getWebURL('')/resources/micro2.0/images/shake/sign4.png" alt="">
		#elseif($!sign == 5)
			<img class="sign_center" src="$!env.getWebURL('')/resources/micro2.0/images/shake/sign5.png" alt="">
		#elseif($!sign == 6)
			<img class="sign_center" src="$!env.getWebURL('')/resources/micro2.0/images/shake/sign6.png" alt="">
		#elseif($!sign == 7)
			<img class="sign_center" src="$!env.getWebURL('')/resources/micro2.0/images/shake/sign7.png" alt="">
		#elseif($!sign == 8)
			<img class="sign_center" src="$!env.getWebURL('')/resources/micro2.0/images/shake/sign8.png" alt="">
		#elseif($!sign == 9)
			<img class="sign_center" src="$!env.getWebURL('')/resources/micro2.0/images/shake/sign9.png" alt="">
		#elseif($!sign == 10)
			<img class="sign_center" src="$!env.getWebURL('')/resources/micro2.0/images/shake/sign10.png" alt="">
		#elseif($!sign == 11)
			<img class="sign_center" src="$!env.getWebURL('')/resources/micro2.0/images/shake/sign11.png" alt="">
		#elseif($!sign == 12)
			<img class="sign_center" src="$!env.getWebURL('')/resources/micro2.0/images/shake/sign12.png" alt="">
		#end
		##<div class="sign_div"></div>
		<img class="sign_left" style="z-index: 5;" src="$!env.getWebURL('')/resources/micro2.0/images/shake/shake_16.png" alt="">
		<img class="sign_right" style="z-index: 5;" src="$!env.getWebURL('')/resources/micro2.0/images/shake/shake_15.png" alt="">
	</div>
</div>
<audio id="shake_succ" onplay="this.currentTime=2" autoplay preload="preload">
    <source src="$env.getWebURL('')/resources/micro2.0/media/shake-bgm.ogg" type="audio/ogg">
    <source src="$env.getWebURL('')/resources/micro2.0/media/shake-bgm.mp3" type="audio/mpeg">
</audio>
<input type="hidden" id="APP_ROOT_PATH" name="APP_ROOT_PATH" value="$!env.getWebURL('')" />
 <div class="shake_title">
 	<div class="title_iten top_ft">$!signTitle</div>
 	<div class="title_iten bottom_ft">$!signIntroduction</div>
 </div>
<div class="fott_bg">
	<div class="shake_packer">
		<div class="packer_wp">
			<img class="packe_win_img" src="$!env.getWebURL('')/resources/micro2.0/images/shake/shake_10.png" alt="">
			<div class="per_ftwp">
				<div class="packer_ft">天降大运！</div>
				<div class="packer_ft">币港湾送您<span class="ft_active">318元</span>大礼包，</div>
				<div class="packer_ft">还不速速领取~~</div>
			</div>
		</div>
	</div>
	<img class="img_win" src="$!env.getWebURL('')/resources/micro2.0/images/shake/shake_04.png" alt="">
	<input class="fott_tel mobile" type="tel" name="mobile" id="mobile" value="" placeholder="请输入手机号" oninput="checkNumber(this)">
	<div class="shar_btn get_red_packet" >领取红包</div>
	<div class="shar_btn share_lucky">为朋友带来好运</div>
</div>
<div class="toptip_phone toast_dialog" style="display:none;z-index:4">
	<img class="phonr_right" src="$!env.getWebURL('')/resources/micro2.0/images/shake/shake_12.png" alt="">
	<div class="phone_title">财神提醒您</div>
	<div class="phone_info_white">
		<div class="info_ft">亲，手机号太短了哦</div>
		<div class="info_btn">我再检查一下</div>
	</div>
</div>
<div class="fixed fc" style="display:none;z-index:4">
    <div class="top_firend">
    	<img src="$!env.getWebURL('')/resources/micro2.0/images/shake/shake_07.png" alt="">
    </div>
    <div class="bottom_img">
    	<img class="bot_img" src="$!env.getWebURL('')/resources/micro2.0/images/shake/shake_08.png" alt="">
    </div>
</div>
<form id="go2red_packet_form" method="post">
</form>
<form id="go2_regist_form" method="post">
	<input type="hidden" name="mobile" class="mobile" value="" />
	<input type="hidden" name="agentId" value="32" />
</form>


<script >
	$('.share_lucky').click(function(){
		$('.fc').show(100);
	});
	$('.fc').click(function(){
		$('.fc').hide();
	});
	$('.info_btn').click(function(){
		$('.toast_dialog').hide(100);
	});
</script>
</body>
#Html("end")