#body{width: 100%;height: 100%;background: #ecb384;font-family: "微软雅黑";}
/*banner*/
.banner{width: 100%;margin:0 auto;height: 974px;background: url(../../../images/activity/anniversary/banner.jpg) no-repeat center;}
/*main*/
.Two_year_content{width: 100%;min-height: 100px;margin:-216px auto 0;background: url(../../../images/activity/anniversary/body_bg1.png) no-repeat center 200px;}
/*主导航*/
.Two_year_nav{width: 1150px;height: 94px;margin:0 auto;position: relative;}
.Two_year_nav li{float: left;height: 94px;position: absolute;cursor: pointer;}
.Two_year_nav_btn{display: inline-block;width: 100%;height: 100%;}
.Two_year_nav .Two_year_nav1{width: 394px;background: url(../../../images/activity/anniversary/nav11.png) no-repeat center;}
.b_img{position: absolute;top:0;left: 0;}
.b_img_top{position: absolute;top: -44px;left: 80px;}
.Two_year_nav1img{position: absolute;left: 7px;top: -1px;}
.Two_year_nav1num{font-size: 24px;color: #fff;position: absolute;line-height: 94px;line-height: 100px\9;left: 62px;}
.Two_year_nav1title{width:234px;height: 89px;text-align:center;position:absolute;left:108px;line-height:44px;padding-top: 5px;color: #5d2e0f;}
.title_top{font-size: 24px;}
.title_bottom{font-size: 18px;}
.Two_year_nav .Two_year_nav2{width: 448px;background: url(../../../images/activity/anniversary/nav12.png) no-repeat center;left:350px;}
.b_img_top2{position: absolute;top: -60px;left: 148px;}
.Two_year_nav2img{position: absolute;left: 53px;top: -1px;}
.Two_year_nav2num{font-size: 24px;color: #fff;position: absolute;line-height: 94px;line-height: 100px\9;left: 106px;}
.Two_year_nav2title{width:234px;height: 89px;text-align:center;position:absolute;left:150px;line-height:44px;padding-top: 5px;color: #fff;}
.Two_year_nav .Two_year_nav3{width: 397px;background: url(../../../images/activity/anniversary/nav13.png) no-repeat center;right: 0px;}
.b_img_top3{position: absolute;top: -44px;left: 148px;}
.Two_year_nav3num{font-size: 24px;color: #fff;position: absolute;line-height: 94px;line-height: 100px\9;left: 106px;}
.Two_year_nav3title{width:234px;height: 89px;text-align:center;position:absolute;left:140px;line-height:44px;padding-top: 5px;color: #fff;}
/*内容*/
.Two_year_main{width: 1000px;height: auto;margin:0 auto;}
.Two_year_main1{width:100%;height:auto;margin:144px auto 0;display: none;}
/*一重礼*/
.one_gift{width: 988px;border:6px solid #dd985c;background: #ffd5b0;padding-bottom: 50px;margin: 0 auto 86px;}
.gift_title{width: 551px;height: 72px;background: url(../../../images/activity/anniversary/title_bg.png) no-repeat center;margin:-40px auto 0;position: relative;}
.gift_title_img{position: absolute;top: -14px;left: 28px;}
.gift_title_txt{width: 310px;height: 65px;position:absolute;right:15px;color: #fff;line-height: 30px;padding-top: 7px;}
.gift_title_txttop{font-size: 26px;}
.gift_title_txtbottom{font-size: 16px;}
.one_gift_txt{font-size: 20px;color: #b73b1c;width: 650px;margin:0 auto;line-height: 30px;text-align: left;padding: 30px 0;}
.one_gift_product{width: 734px;margin:0 auto;height: 184px;}
.one_gift_product_left{width: 327px;height: 184px;border: 6px solid #fdc594;border-radius: 4px;background: url(../../../images/activity/anniversary/main4.png) repeat center;float: left;position: relative;}
.one_gift_product_right{margin-right: 52px;}
.one_gift_left_tit{width: 100%;text-align: center;font-size: 24px;color: #93490a;line-height: normal;padding-top: 30px;}
.one_gift_left_num{width: 100%;text-align: center;font-size: 48px;color: #e43a06;line-height: normal;padding: 30px 0 16px;}
.one_gift_btn{width: 310px;height: 60px;margin:40px auto 0;}
.one_gift_btn .one_gift_btna{display: inline-block;width:100%;height:100%;line-height: 60px;text-align: center;font-size: 24px;color: #fff;background: url(../../../images/activity/anniversary/main3.png) no-repeat center;}
/*二重礼*/
.Two_gift_left_tit{width: 100%;text-align: center;font-size: 24px;color: #93490a;line-height: normal;height:190px;background: url(../../../images/activity/anniversary/main7.png) no-repeat center 30px;padding-top: 62px;}
.Two_gift_left_titimg{width: 124px;}
.one_gift_product2{width: 734px;margin:0 auto;height: 254px;}
.one_gift_product_left2{width: 327px;height: 254px;border: 6px solid #fdc594;border-radius: 4px;background: url(../../../images/activity/anniversary/main4.png) repeat center;float: left;position: relative;}
.one_gift_left_numi{font-size: 24px;color: #93490a;}
.one_gift_left_numicopy{font-size: 24px;color: #1a76cb;width: 100%;text-align: center;line-height: normal;padding: 46px 0 40px;cursor: pointer;text-decoration: underline;}
.one_gift_left_day{width: 100%;text-align: center;font-size: 16px;color: #8f8f8f;padding-top: 20px;position: absolute;bottom: 30px;}
.Two_gift_btn{width: 100%;text-align: center;padding-top: 40px;}
.Two_gift_btn .Two_gift_btna{font-size: 16px;color: #1573ca;}
.alertbtn{position: relative;left: 8px;top: 4px;}
.alertmouse{display:none;font-size:14px;color:#fff;padding:0 16px;line-height:24px;background:#5e5b59;position:absolute;top:40px;left:-22px;z-index:2;width: auto;border-radius: 6px;width: 350px;text-align: left;}
.alertbtn .alertimg{position:absolute;top:-7px;left:26px;z-index:3;}
.this_number{width:100%;text-align:center;}
/*总规则*/
.total_rule_title{width: 542px;height: 72px;background: url(../../../images/activity/anniversary/main8.png) no-repeat center;font-size: 30px;font-weight: 600;color: #fff;text-align: center;line-height: 64px;margin:-44px auto 0;}
.ru_txt{width:910px;min-height:20px;overflow: hidden;margin:18px 0 0 62px;}
.ru_txt em{display: block;width:20px;height:20px;background: url(../../../images/activity/anniversary/rule1.png) no-repeat;text-align: center;line-height: 20px;font-size: 14px;color:#fff;float: left;margin-top:2px;}
.ru_txt p{font-size: 18px;color: #b73b1c;line-height: 21px;width:880px;float: right;}
.footer_info{ font-size: 18px; color:#b73b1c;padding:0px 0px 47px;line-height: normal; width:100%; text-align: center;margin:-50px auto 0; }
/*rule_window*/
.window_bg{display:none;width: 100%;height: 100%;background: #000;filter: alpha(opacity=60);-moz-opacity: 0.6;-khtml-opacity: 0.6;opacity: 0.6;position: fixed;left:0;top:0;right: 0;bottom: 0;margin:0;}
.rule_window1{display:none;width: 850px;min-height: 100px;position: fixed;left: 50%;margin-left: -425px;top: 50%;margin-top:-285px;background: #ffd5b0;border-radius: 10px;}
.rule_window_title{width: 100%;height: 90px;font-size: 30px;font-weight: 600;color: #fff;text-align: center;line-height: 90px;background: #cf2c2c;border-top-left-radius: 10px;border-top-right-radius: 10px;}
.rule_window_close{position: absolute;top: 30px;right: 46px;cursor: pointer;}
.rule_window_txt{width: 610px;margin:0 auto;font-size: 18px;color: #555555;line-height: 40px;padding:40px 0;}
.p_padding{padding-left: 40px;}
/*提示弹窗*/
.Prompt_window{display:none;width: 530px;height: 320px;position: fixed;left: 50%;margin-left: -265px;top: 50%;margin-top:-160px;background: #ffd5b0;border-radius: 10px;}
.Prompt_window_title{width:100%;text-align:center;font-size: 24px;color: #555555;padding-top:30px;}
.Prompt_window_txt{width: 100%;text-align: center;font-size: 24px;color: #555555;line-height: 50px;padding-top: 35px;}
.Prompt_window_btn{width: 310px;height: 60px;position: absolute;bottom: 70px;left: 50%;margin-left: -155px;}
.Prompt_window_btn .Prompt_window_btna{display: inline-block;width:100%;height:100%;line-height: 60px;text-align: center;font-size: 24px;color: #fff;background: url(../../../images/activity/anniversary/main3.png) no-repeat center;}
