#Html("begin")
#Head("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadCSS("resources/micro2.0/styles/agent/default")
#LoadCSS("resources/micro2.0/styles/agent/reeor")
#LoadJS("resources/micro2.0/scripts/agent/agent_tongcheng")
#LoadJS("resources/micro2.0/scripts/agent/six")
#LoadJS("resources/micro2.0/scripts/common/common")
#WeChatShare()
#Head("end")
<body>
	<input type="hidden" value="$!env.getWebURL('')" id="APP_ROOT_PATH" />
	<form id="generalForm" action="$!env.getWebURL('/micro2.0/user/register_submit')">
		<input type="hidden" id="agentId" name="agentId" value="$!agent.id" />
		<input type="hidden" id="tc_token" name="tc_token" value="$!tc_token" />
		<input type="hidden" id="tc_type" name="tc_type" value="$!tc_type" />
		<input type="hidden" id="tc_Sign" name="tc_Sign" value="$!tc_Sign" />
        <div class="tc_img"></div>
        <h1 class="tc_info">最低100起投/年化收益高达12%/本息兑付保障/第三方资金托管</h1>
        <div class="former_pass">
        	<div class="pass_wp">
        		<div class="former_font">手机号</div>
        		<input class="former_btn inpt_left" maxlength="11" type="tel" name="mobile" id="mobile" placeholder="请输入手机号">
        	</div>
        	<div class="line"></div>
        	<div class="pass_wp">
        		<div class="former_font">验证码</div>
        		<input class="former_btn inpt_left" type="tel" id="mobileCode" name="mobileCode" maxlength="4" placeholder="请输入验证码">
        		<div class="verification_code btn_success" id="sendCode">发送验证码</div>
        	</div>
        </div>
        <div class="New_passworld">
        	<div class="New_pass">
        		<div class="former_font">密码</div>
        		<input class="former_btn placehold_ft" maxlength="16" type="password" name="password" id="password" placeholder="请输入密码">
        	</div>
        	<div class="line"></div>
        	<div class="New_pass">
        		<div class="former_font">确认密码</div>
        		<input class="former_btn" maxlength="16" type="password" name="password2" id="password2" placeholder="请再次输入密码">
        	</div>
        </div>
        <div class="pass_info">密码需6-16位，建议使用字母和数字的组合</div>
		<div class="pass_ok_wp">
			 <a href="javascript:void(0)" class="pass_ok ok_color">去领我的年终奖</a>
			 <div class="btn_login">
				<div class="lg_font">已有账号</div>
				<div class="lg_font lg_border"><a class="lg_a" href="$!env.getWebURL('/micro2.0/user/login/index')">点此登录</a></div>
			</div>
		</div>
		<div class="xy_info">
			<span class="xy_ft">点击即代表您同意</span>
			<a class="phone_a" href="$!env.getWebURL('micro2.0/agreement/registAccountServiceAgreement')">《注册协议》</a>
		</div>
        <div class="esq_phone"><a href="tel:4008061230" class="phone_a">客服电话：400-806-1230</a> </div>
	</form>
</body>

#Html("end")