#Html("begin")
#Head("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadJS("resources/micro2.0/scripts/agent/six")
#LoadCSS("resources/micro2.0/styles/agent/default")
#LoadCSS("resources/micro2.0/styles/agent/succ_ok")
#LoadJS("resources/micro2.0/scripts/agent/agent_register_succ")
#WeChatShare()
#Head("end")
<body>
<input type="hidden" id="APP_ROOT_PATH" value="$!env.getWebURL('')"/>
<div class="sucee_wp">
	<div class="succ_img">
		<img class="img_cla" src="$!env.getWebURL('/resources/micro2.0/images/success_ok.png')" alt="">
		<div class="succ_info">恭喜您注册成功!</div>
	</div>
	<div class="clip_img"></div>
</div>
<div class="succ_ft">
 	微信关注币港湾，看收益、投资、取现<br>
一步到位
 </div>
 <div class="wacht_wp">
 	<img class="wacht_img" src="$!env.getWebURL('/resources/micro2.0/images/wancht.png')" alt="">
 	<div class="wadv">
 		<span class="wxlink">微信搜索：</span>
 		<a class="link_img" href="http://mp.weixin.qq.com/s?__biz=MzAwNzIzMDYyMg==&mid=400973488&idx=1&sn=08633b791a24c211df10022daea09907&scene=1&srcid=1210O6QEHvV4B3rYCHZEAg6C#wechat_redirect">bigangwanlicai</a>
 	</div>
 </div>
 <div class="ree_ft">马上完成投资，享超高收益特权</div>
 <form class="bnt_form" action="reeor_submit" method="get" accept-charset="utf-8">
  	<input class="ree_btn" type="button" name="" value="立即购买"  id="buy_sub">
 </form> 
</body>
#Html("end")