.hike_banner{ width:100%; height:410px; background: #f32c11; text-align: center; position: relative;}
.banner_img{ width:100%;height:410px;}
.botom_ft{ position: absolute; left:0px; right:0px; margin:auto; bottom: 118px;font-size: 24px;line-height: normal; color:#e8f0f0;}
.hike_yello{padding:0px 0px 100px; width:100%; background:#fde000 url(../../images/main_big_bg.jpg) no-repeat center;}
.hike_video{ width:100%; }
.hike_wrap{ width:964px; margin:0 auto; }
.rgba_wp{ margin:auto;padding:22px; border-radius: 6px; background: #e9cd00; margin-bottom: 33px;}
.video{ width:927px; height:453px; background: black;}
.hike_item{width:926px; height:180px; position: relative; margin-bottom: 20px; background: url(../../images/pro_bg.png) no-repeat center; }
.hike_left_title{ position: absolute; left: 6px;top: 21px; width: 18px; color:white;font-size: 14px; }
.item_left{ width:79%; float: left;}
.left_title{ font-size: 17px; color:#ff6633;line-height: normal; padding:18px 0px 0px 38px;}
.left_main{width:100%; height:90px;}
.main_ul{ padding:10px 0px 0px 0px; }
.main_li{ float:left; text-align: center;}
.cent_win{ width:203px; margin-left: 8px;}
.small_win{ width:184px;}
.max_win{ width:312px; } 
.big_color{ font-size: 33px; color:#ff6633; line-height: normal; }
.gray_ft{ font-size: 13px; color:#666666; padding-top:14px;}
.dagou{ vertical-align:middle; }
.border{width:187px; height:35px; line-height: 35px; font-size: 18px; color:#5ca8fd; margin: 6px auto 0px; border: 1px solid #5ca8fd; border-radius: 6px; }
.three_ft{ padding-top:14px; display: block; font-size: 13px; color:#666666;}
.left_down{width:100%; height:30px;line-height: 30px; margin-top: 9px;margin-left:-10px;}
.down_li{ float: left; text-align: center; }
.down_li img{ vertical-align: middle; }
.ft_1,.ft_2,.ft_3,.ft_4{ font-size: 11px; color:#c9c9cb; }
.win1{padding-left:48px;}
.win2{padding-left:20px;}
.win3{padding-left:24px;}
.win4{padding-left:18px;}
.item_right_btn{float: right; text-align: center; width:174px; height:42px; line-height: 42px; color:white; border-radius: 6px; background: #ff6633; margin:57px 18px 0px 0px;}
.item_p_one{color:white;font: inherit;}
p.item_p_one a{
	color: #FFFFFF;
}
.margin_none{ margin:0px; }
.weicha{ width: 100%; height:260px; border-radius: 6px;overflow: hidden; position: relative;}
.weicha_img{ position: absolute; right: 36px;top: 72px;}
.footer_wp{ width:100%; height:520px;font-size: 18px; color:#500b0e;line-height: normal; background: #e9cd00; border-radius: 6px; margin-top:20px; }
.foot_title{ width: 100%; text-align: center;  padding-top: 18px; }
.foot_wrap{width:708px; margin:0 auto;}
.foot_cahas{padding: 12px 0px;}
.chas_two{ padding-left: 44px; }
.chas_item{ padding-bottom:6px; }
.foot_center_ft{text-align: center;}
.acti_bottom{ text-align: center;padding:15px 0px 20px; }
.ft_padding{ padding-top:10px; }