<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>管理后台</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <!-- bootstrap 3.0.2 -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- validationEngine -->
		<link href="/css/validation/validationEngine.jquery.css" rel="stylesheet" type="text/css" />
        <!-- font Awesome -->
        <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!-- Morris chart -->
        <link href="/css/morris/morris.css" rel="stylesheet" type="text/css" />
		<!-- bootstrap table -->
		<link href="/css/bootstrap-table/bootstrap-table.css" rel="stylesheet" type="text/css" />
        <!-- jvectormap -->
        <link href="/css/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
        <!-- Date Picker -->
        <link href="/css/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
        <!-- Daterange picker -->
        <link href="/css/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
        <!-- bootstrap wysihtml5 - text editor -->
        <link href="/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
		<!-- fullCalendar -->
		<link href="/css/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />
		<!-- jquery-raty -->
		<link href="/css/jquery-raty/jquery.raty.css" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="/css/AdminLTE.css" rel="stylesheet" type="text/css" />
        <link href="/css/global.css" rel="stylesheet" type="text/css" />

		
		<!-- jQuery 1.11.3 -->
        <script src="/script/jquery-1.11.3.min.js"></script>
        <!-- jQuery UI 1.10.3 -->
        <script src="/script/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
        <!-- Bootstrap -->
        <script src="/script/bootstrap.js" type="text/javascript"></script>
		<script src='/script/bootstrap-table.js' type="text/javascript"></script>
        <!-- notification  -->
        <!--<script src="/script/notification.js" type="text/javascript"></script>
         <script src="/script/loading.js" type="text/javascript"></script>-->
        <!-- validationEngine -->
	    <script src="/script/plugins/validation/jquery.validationEngine-zh-CN.js" type="text/javascript"></script>
	    <script src="/script/plugins/validation/jquery.validationEngine.min.js" type="text/javascript"></script>
		<!-- InputMask -->
		<script src="/script/plugins/input-mask/jquery.inputmask.js" type="text/javascript"></script>
        <script src="/script/plugins/input-mask/jquery.inputmask.date.extensions.js" type="text/javascript"></script>
        <script src="/script/plugins/input-mask/jquery.inputmask.extensions.js" type="text/javascript"></script>
        <!-- daterangepicker -->
        <script src="/script/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
        <!-- datepicker -->
        <script src="/script/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
        <!-- iCheck -->
        <script src="/script/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
		<!-- typeahead autocomplete -->
		<script src="/script/bootstrap-typeahead.js" type="text/javascript"></script>
		<!-- fullCalendar -->
        <script src="/script/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
		<!-- jquery-raty -->
		<script src="/script/plugins/jquery-raty/jquery.raty.js" type="text/javascript"></script>
        <!-- AdminLTE App -->
        <script src="/script/AdminLTE/app.js" type="text/javascript"></script>
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
		
    </head>
    <body class="skin-blue">
        <!-- header logo: style can be found in header.less -->
        <header class="header">
            <a href="/" class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                管理后台
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </nav>
        </header>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="/images/avatar3.png" class="img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info">
                            <p>您好，达飞管理员</p>
                        </div>
                    </div>
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="active treeview">
                            <a href="/">
                                <i class="fa fa-money"></i>
                                <span>理财管理</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li id="financing"><a href="/"><i class="fa fa-angle-double-right"></i>理财信息</a></li>
                                <li id="financing_detail"><a href="/financing_detail/index"><i class="fa fa-angle-double-right"></i>理财明细</a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        $!title
                    </h1>
                </section>

                <!-- Main content -->
                <section class="content">
                
                    $body

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

    </body>
</html>
