.clearfix:after{
	content:"";
	display:block;
	height:0;
	clear:both;
}
.gift_banner{
	height:700px;
	background-image:url(../../../images/static/gift_activity/gift_banner.jpg);
	background-position:center center;
	background-repeat:no-repeat;
}
.gift_container{
	background-image:url(../../../images/static/gift_activity/gift_bg.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	padding-bottom:60px;
}
.gift_wrap{
	background:#fff;
	border-radius:40px;
	-o-border-radius:40px;
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	border:solid 7px #82dce0;
	width:980px;
	box-sizing:border-box;
	padding:80px 3px 20px;
	margin:auto; 
	position:relative;
}
.gift_wrap_title{
	position:absolute;
	line-height:80px;
	top:-30px;left:0;right:0;
	text-align:center;
}
.gift_wrap_title span{
	display:inline-block;
	width:276px;
	border-radius:40px;
	-o-border-radius:40px;
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	background:#d5a269;
	background-image:linear-gradient(to bottom, #f7d399,#d5a269);
	font-size:30px;
	color:#32210f;
}
.gift_product_card{
	float:left;
	width:33.3%;
	text-align:center;
	padding:0 35px;
	box-sizing:border-box;
}
.gift_product_img,.gift_product_name{
	margin-bottom:10px;
}
.gift_product_name span{
	display:inline-block;
	line-height:40px;
	font-size:18px;
	color:#32210f;
	border-radius:20px;
	-o-border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	background:#d5a269;
	background-image:linear-gradient(to bottom, #f7d399,#d5a269);
	width:234px;
}
.gift_product_tips{
	font-size:14px;
	line-height:15px;
	color:#0689dd;
}
.gift_warmming{
	margin-top:30px;
	line-height:20px;
	font-size:14px;
	color:#999;
	text-align:center;
}
.gift_warmming:before,.gift_warmming:after{
	content:"";
	display:inline-block;
	width:40px;
	height:1px;
	background:#999;
	margin:0 20px;
	position:relative;
	top:-5px;
}
.gift_rule{
	margin:60px auto 90px;
	padding:50px 60px;
}
.gift_rule h5{
	font-size:24px;
	line-height:25px;
	margin-bottom:20px;
	color:#32210f;
}
.gift_rule ul,.gift_rule ul li{
	list-style:decimal;
}
.gift_rule ul{
	padding-left:20px;
}
.gift_rule ul li{
	font-size:16px;
	color:#32210f;
	margin-bottom:10px;
	line-height:25px;
}