#Html("begin")
#GenHead("begin","注册,币港湾,币港湾官网","欢迎注册币港湾!币港湾官网为您提供互联网金融服务，是优质的互联网金融服务平台。")
#Title("注册【币港湾官网】")
<!--#LoadGenCSS("/resources/gen/styles/touch")-->
#LoadGenCSS("/resources/gen178/styles/user/register_first_index")
#GenHead("end")
<body>
<!--header -s-->
##GenHeaderLogin()
	#LoadGenCSS("/resources/gen178/styles/login_header")
	#Gen178Header("home", "register")
<!--header -e-->
    #if($!banner)
    <div class="con" style="background-image:url($!env.get('gen.server.web')/$!banner.imgPath);padding-top: 0;">
    #else
    <div class="con" style="background-image:url($!env.get('gen.server.web')/resources/gen178/images/login/login_bg.jpg);padding-top: 0;">
    #end
    <input type="hidden" value="$!env.get('gen.server.web')/gen178/common/captcha/code?ts=" id="VALIDATE_PATH" />
    <input type="hidden" value="$!flagForQD" id="flagForQD" name="flagForQD">
    <div class="con_m" style="height: 520px;">
        <div class="con_m_wrap">
            <div class="right_title">
                <span>注册</span>
                已有账号，<a href="$!env.get('gen.server.web')/gen178/user/login/index">立即登录>></a>
            </div>
            <div class="con_mr">
                <ul  class="cul_2">
                    <li>
                        <label class="top_p">
                            <i class="Z_imgi Z_phone" ></i>
                            <span class="top_p_line"></span>
                            <span class="mobile_error error"></span>
                            <input type="tel" class="top_input" id="mobile" maxLength="11" name="mobile"  placeholder="请输入手机号">
                        </label>
                    </li>
                    <li>
                        <label class="top_p" style="width:190px;margin-right:5px;display:inline-block;">
                            <i class="Z_imgi Z_pic" ></i>
                            <span class="top_p_line"></span>
                            <span class="image_code_error error" style="width: 115px;"></span>
                            <input id="verCode" class="code top_input" name="verCode" type="text" size="5" maxlength="4" placeholder="图片验证码" style="width: 50%;"/>
                        </label>
                        <img id="validateImg" src="$!env.get('gen.server.web')/gen178/common/captcha/code?ts=" width="80" height="30" onclick="change()" alt="点击切换验证码">
                    </li>
                    <li>
                        <label style="width: 180px; float: left;" class="top_p">
                            <i class="Z_imgi Z_msg" ></i>
                            <span class="top_p_line"></span>
                            <span class="sms_code_error error" style="width: 105px;"></span>
                            <input type="text" id="mobileCode" class="top_input" name="mobileCode" maxlength="4" placeholder="短信验证码" style="width: 110px;">
                        </label>
                        <button id= "sendCode" count="60" style="width: 90px">获取验证码</button>
                    </li>
                    <li>
                        <label class="top_p">
                            <span class="pasword_interface"></span>
                            <i class="Z_imgi Z_password" ></i>
                            <span class="top_p_line"></span>
                            <span class="password_error error"></span>
                            <input  maxlength="16" class="top_input" type="password" name="password" id="password" placeholder="设置6-16位登录密码">
                        </label>
                    </li>
                    <li>
                        <label class="top_p">
                            <span class="pasword_interface"></span>
                            <i class="Z_imgi Z_password" ></i>
                            <span class="top_p_line"></span>
                            <span class="re_password_error error"></span>
                            <input  maxlength="16" class="top_input" type="password" name="password2" id="password2" placeholder="确认您的登录密码">
                        </label>
                    </li>
                    <li>
                        <label class="top_p">
                            <i class="Z_imgi Z_link" ></i>
                            <span class="top_p_line"></span>
                            <span class="recommend_error error"></span>
                            <span class="agentviewflag">$!agentView.getView($!agentViewFlag).get('PC_KEY_PARTNER_4REGISTER')</span>
                        </label>
                    </li>
                    <div class="bot1" style="position: relative;" id= "register">提交注册</div>

                </ul>
                <h2 class="clas">点击"提交注册"即表示您同意
                    <a name="agree_register_div">《注册账户服务协议》</a>
                </h2>
                <div class="bot3">
                    <img src="$!env.get('gen.server.web')/resources/gen178/images/login/safe.png" style="position:relative;top:-1px;">
                    您的信息已使用SSL加密技术，数据传输安全
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer -s-->
	#Gen178Footer()
<!--footer -e-->
	#LoadGenJS("/resources/gen178/scripts/echarts")
	#LoadGenJS("/resources/gen178/scripts/switchable")
	#LoadGenJS("/resources/gen178/scripts/textSlider")
	#LoadGenJS("/resources/gen178/scripts/index_style")
	#LoadGenJS("/resources/gen178/scripts/user/register_first_index")
	#parse("/regist_accountService_agreement.vm")
<script>
    $(document).ready(function clickme(){
        $('.wx').hover(function(){
            $('.imgs').fadeIn(100);
        },function(){
            $('.imgs').hide(100);
        });


        //输入框单击变黄 失去焦点变黑
        $('.top_input').focus(function(){
            $(this).parent('.top_p').addClass("label_focuse");
            $(this).siblings(".error").hide();
        });
        $('.top_input').blur(function(){
            $(this).parent('.top_p').removeClass("label_focuse");
        });

        //显示、隐藏密码
        $(".pasword_interface").click(function(){
            var password = $(this).siblings("input");
            if(password.attr("type") == "password"){
                password.attr("type","text");
                $(this).addClass("interface_show");
            }else{
                password.attr("type","password");
                $(this).removeClass("interface_show");
            }
        })
    })
</script>
</body>
#Html("end")
