body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:313px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:4px;
  top:10px;
  width:309px;
  height:500px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:500px;
}
#u1 {
  position:absolute;
  left:2px;
  top:242px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:112px;
  top:300px;
  width:108px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:128px;
  top:307px;
  width:53px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:16px;
  top:160px;
  width:284px;
  height:37px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:37px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:12px;
  top:73px;
  width:284px;
  height:37px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:37px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:28px;
  top:84px;
  width:118px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:175px;
  top:207px;
  width:125px;
  height:31px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:31px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:191px;
  top:214px;
  width:109px;
  height:16px;
  color:#CCCCCC;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:12px;
  top:250px;
  width:284px;
  height:34px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:34px;
}
#u17 {
  position:absolute;
  left:2px;
  top:9px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:285px;
  top:84px;
  width:13px;
  height:13px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:4px;
  top:196px;
  width:309px;
  height:46px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:46px;
}
#u21 {
  position:absolute;
  left:2px;
  top:15px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:28px;
  top:196px;
  width:163px;
  height:34px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:34px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:154px;
  width:313px;
  height:32px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:32px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:16px;
  top:160px;
  width:53px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:138px;
  top:162px;
  width:92px;
  height:16px;
  color:#CCCCCC;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
