body{background:#ffffff;}
.win_fo{width:962px;}
.tan_list{width:740px;min-height:100px;background:#fff;margin:4px auto 20px;}
.tan_list_h3{width:100%;height:23px;background:#f4f7f9;padding-top: 14px;}
.tan_list_h3 a{margin:0 0 0 934px;}

.tan_list_ul .tan_list_ulli_t{width:90px;}
.tan_list_ul .tan_list_ulli{width:120px;}
.tan_list_ul .tan_list_ulli_b{border-right:none;width:72px;padding-left: 10px;}

.tan_list_ul_table{margin:20px auto 20px;}
.tan_list_ul_table tr td{border:1px solid #666;height:38px;line-height:38px;padding:0 5px;width:150px;text-align:center;position:relative;}
.tan_list_ul_table1{position:relative;top:-30px;left:144px;}
.tan_list_ul_table1 tr td{height:38px;line-height:38px;padding:0 5px;width:150px;text-align:left;}
.man_ft-table{margin:20px auto 20px;}
.man_ft-table tr td{border:1px solid #666;height:38px;line-height:38px;padding:0 5px;}
.man_ft-tabletwo tr td{border:1px solid #666;height:38px;line-height:38px;padding:0 5px;}

.tan_msg{margin: 5px 0px 5px;line-height: 25px;}
.body_bg{opacity:0.5; filter: alpha(opacity=50); background-color: #000;top: 0;filter: alpha(opacity=50);opacity: 0.5;z-index: 1;position: fixed!important;position: absolute;z-index: 10; left: 0px;width:100%;height:100%;display:none;}

.tan_list_div{border-bottom: 1px solid #fff;width:100%;height:35px;background:#fff;border-bottom: 1px solid #e4e4e4;}
.tan_list_div div{float: left;height:35px;width:107px;font-size: 16px;color:#666;line-height: 35px;text-align: center;}
.tan_list_div .tan_list_divli_t{width:90px;}
.tan_list_div .tan_list_divli{width:120px;}
.tan_list_div .tan_list_divli_b{border-right:none;width:42px;padding-left: 40px;}
.tan_list_divli_b a{color:#ff6633;text-decoration: underline;}

.main_cr_fenye{height:32px;}
.main_cr_fenye_div{height:32px;font-size: 12px;margin:17px 0 0 797px;position: relative;line-height: 25px;text-align: center;}
.main_cr_fenye_left{float:left;display:block;width:25px;height:24px;border:1px solid #e4e4e4;background:#fff;margin-right: 4px;}
.main_cr_fenye_right{float:left;display:block;width:25px;height:24px;border:1px solid #e4e4e4;background:#fff;}
input.main_cr_fenye_input{float:left;width:43px;height:24px;border:1px solid #e4e4e4;text-align: left;background:#CAC4C4;padding-left: 4px;}
.main_cr_fenye_center{width:10px;height:19px;background:#e4e4e4;position:absolute;top:3px;left:66px;z-index: 2;line-height: 19px;}
.main_cr_fenye_aspan{display: block;float: left;font-size: 16px;color:#333;line-height: 26px;margin:0 4px 0 2px;}
.main_cr_fenye_cdiv{display:block;height:125px;width:46px;border:1px solid #e4e4e4;background:#fff;overflow-y: auto;overflow-x: hidden;position:absolute;top:-126px;left:31px;border-bottom: none;}
.main_cr_fenye_cdiv li {cursor: pointer;}
.one{background:#f85d54;color:#fff;}

.list_min{width:1000px;height:auto;margin:0 auto; z-index: 11; position: absolute;left: 0px;right: 0px;top: 15%;}
.list_min_h3{width:892px;height:24px;background:#f4f7f9;padding:13px 0 0 20px;}
.list_min_ul li{background:#e4e9ee;width:113px;height:39px;border-right: 1px solid #fff;float: left;text-align: center;line-height: 39px;font-size: 16px;color:#333;}
.list_min_div div{background:#fff;width:113px;height:36px;border-right: 1px solid #fff;float: left;text-align: center;line-height: 36px;font-size: 16px;color:#666;border-bottom: 1px solid #e4e4e4;}

.detail{    background: #fff;text-align: center;line-height: 46px;font-size: 16px;color: #333;}

.td_content{ position:absolute;top:50%;margin-top: -19px;left: 50%;margin-left: -32px  }


.fenye{width:196px;height:30px;background:#fff;margin:30px auto;border:1px solid #e4e4e4;line-height: 30px;margin-bottom: 69px;}
.fenye a{float: left;display: block;font-size: 12px;color:#666;}
.fy_l{width:34px;height:30px;border-right: 1px solid #e4e4e4;padding-left: 17px;}
.fy_ll{width:45px;height:30px;background:url(../../images/fenye_left.png) no-repeat 8px 11px;padding-left: 13px;}
.fenye .fy_c{width:28px;height:30px;border-left: 1px solid #e4e4e4;border-right: 1px solid #e4e4e4;background: #6699cc;color:#fff;text-align: center;}
.fy_rr{width:50px;height:30px;background:url(../../images/fenye_right.png) no-repeat 42px 11px;padding-left: 6px;}
.fy_r{width:35px;height:30px;border-left: 1px solid #e4e4e4;background:url(../../images/fenye_right.png) no-repeat 37px 11px;padding-left: 10px;}