#Html("begin")
#Head("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadCSS("resources/gen2.0/styles/agree/default")
#LoadCSS("resources/gen2.0/styles/agree/agree")
#LoadGenCSS("/resources/gen2.0/styles/match/tan_zan_loan_new")
#Head("end")
<body>
<div class="agess-copy" id="agree_entrust_div1" style="display:block;">
    <div class="agess_title-copy">
        <span class="agess_ft">协议内容</span>
    </div>
    <div class="agess_main-copy">
        <p class="top_no">编号：$!agreementNumberNew</p>
        <p class="top_no">签署地：杭州</p>
        <br/>
        <h1 class="main_title">借款协议</h1>
        <br/>
        <p class="man_ft">本借款协议（下称“本协议”）由以下各方于$!{signingTime}签署：</p>
        <br/>
        <p class="man_ft">甲方（出借人）：</p>
        <div class="tan_list">
            <table class="tan_list_ul_table">
                <tr>
                    <td>账户</td>
                    <td>姓名/身份证</td>
                    <td>出借金额</td>
                    <td>借款期限</td>
                    <td>计息方式</td>
                </tr>
                #set($index=1)
                #foreach($data in $!financialManagementData)
                    #if($data.userMobile.length()==11)
                        #set($strMobile=$!data.userMobile)
                        #set($strMobile=$strMobile.substring(0,3)+"****"+$strMobile.substring(7,11))
                    #else
                        #set($strMobile=$!data.userMobile)
                    #end

                    #if($data.userName.length()==2)
                        #set($strBorrowerName=$data.userName)
                        #set($strBorrowerName=$strBorrowerName.substring(0,1)+"*")
                    #elseif($data.userName.length()>2)
                        #set($strBorrowerName=$data.userName)
                        #set($strBorrowerName=$strBorrowerName.substring(0,1)+"**")
                    #end

                ##身份证号码：18位的隐藏掉中间10位，如123456**********78；15位隐藏中间8位，如123456********7
                    #set($strIdCard=$!data.idCard)
                    #if($strIdCard.length()>15)
                        #set($strIdCard=$strIdCard.substring(0,6)+"**********"+$strIdCard.substring(16,18))
                    #else
                        #set($strIdCard=$strIdCard.substring(0,6)+"********"+$strIdCard.substring(14,15))
                    #end

                    <tr>
                        <td>$!strMobile</td>
                        <td>$!strBorrowerName / $!strIdCard</td>
                        <td>$!money.format($!data.initAmount)</td>
                        <td>$!data.period期</td>

                        #set($size=$!financialManagementData.size()+1)
                        #if($index == 1)
                            <td class="td_content_previous" rowspan="$!{size}"><i class="td_content">等本等息</i></td>
                            #set($index = $index + 1)
                        #else
                        #end

                    </tr>
                #end
                <tr>
                    <td>总计</td>
                    <td></td>
                    <td>总额</td>
                    <td>$!money.format($!sumTotalAmount)</td>
                </tr>
            </table>
        </div>
        <p class="man_ft">注：本协议所称“甲方”特指全体出借人或任意一出借人。</p>
        <br/>
        <p class="man_ft">乙方（借款人）：$!loanUserName</p>
        <p class="man_ft">身份证号：$!loanIdCard</p>
        <p class="man_ft">居住地址：$!loanAddress</p>
        <p class="man_ft">电子邮箱：$!loanEmail</p>
        <p class="man_ft">币港湾账户：$!loanMobile</p>
        <br/>
        <p class="man_ft">丙方（居间服务方）：杭州币港湾科技有限公司</p>
        <p class="man_ft">地址：杭州市江干区四季青街道西子国际大厦C座2305</p>
        <p class="man_ft">联系方式：400-806-1230</p>
        <br/>
        <p class="man_ft"><strong>鉴于:</strong></p>
        <br/>
        <p class="man_ft">1. 甲方有出借要求，且已在丙方平台实名注册，同意以其自有合法资金进行出借。</p>
        <br/>
        <p class="man_ft">2. 乙方有借款需求，且已在丙方平台实名注册，并将其主体及借款需求信息提供予丙方并由丙方在币港湾平台上发布，推荐给丙方平台的甲方。</p>
        <br/>
        <p class="man_ft">3. 丙方系一家具有提供网络借贷信息中介服务资质并拥有币港湾网站（www.bigangwan.com）以及对应的移动客户端经营权的公司。</p>
        <br/>
        <p class="man_ft">现甲乙丙三方根据《合同法》《民法总则》等相关法律法规规定，经协商一致，达成如下协议，以资共同遵照履行。</p>
        <br/>

        <p class="man_ft"><strong>1. 借款基本信息</strong></p>
        <table width="740" border="1" class="man_ft-table">
            <tr>
                <td style="width:150px;" colspan="4"><strong>借款基本信息</strong></td>
            </tr>
            <tr>
                <td style="width:150px;text-align:center;">借款用途</td>
                <td colspan="3">$!{purpose}（仅可用于个人及家庭旅游、婚庆、教育装修等消费事宜，不可用于购买房屋和汽车，借款人不得将借款用于其他任何用途。）</td>
            </tr>
            <tr>
                <td style="width:150px;text-align:center;">借款金额</td>
                <td style="width:250px;">$!money.format($!loanAmount) 元</td>
                <td style="width:100px;">借款期限</td>
                <td>$!{loanTerm}个月</td>
            </tr>
            <tr>
                <td style="width:150px;text-align:center;">借款出借日</td>
                <td>$!loanDay</td>
                <td>借款到期日</td>
                <td>$!loanDueDateNew</td>
            </tr>
            <tr>
                <td style="width:150px;text-align:center;">还款方式</td>
                <td>等本等息还款</td>
                <td>每月还款额</td>
                <td>详见还款计划列表</td>
            </tr>
            <tr>
                <td style="width:150px;text-align:center;">借款年化利率</td>
                <td colspan="3">$!money.format($!agreementRate)%</td>
            </tr>
            <tr>
                <td style="width:150px;text-align:center;"><strong>居间服务方</strong></td>
                <td colspan="3">杭州币港湾科技有限公司</td>
            </tr>
            <tr>
                <td style="width:150px;text-align:center;">出借服务费</td>
                <td colspan="3">借款期内实际获得的出借利息-甲方预期年化收益利息（当计算结果小于等于0时，出借服务费为0，详见甲丙两方签订的《授权委托书》）</td>
            </tr>
        </table>
        <p class="man_ft">注：上述表格中借款期限、还款日均根据本协议生效之日确定。</p>
        <br/>
        <p class="man_ft"><strong>2. 本协议的订立</strong></p>
        <br/>
        <p class="man_ft">2.1 各方同意并确认，通过自行或授权其代理人根据币港湾平台有关规则和说明，点击币港湾网站或其移动客户端相关按钮的方式或使用CA数字证书及电子签名授权币港湾进行签署的方式来签署本协议。各方承诺不以此为由拒绝履行本协议项下的义务，也不得以签署本协议时合同其他当事人尚未确定为由申请撤销或变更本协议。</p>
        <br/>
        <p class="man_ft">2.2 各方在币港湾平台进行投标操作和借款申请操作之前，均需仔细阅读并确认同意本协议各条款以及同意本协议的签署。各方通过上述方式签署本协议且甲方同意出借资金总额达到乙方借款金额、丙方按照本协议的签署程序签署完毕时，本协议即成立并保存在币港湾平台，各方均有权查阅。 </p>
        <br/>
        <p class="man_ft"><strong>3. 各方权利和义务</strong></p>
        <br/>
        <p class="man_ft"><strong>3.1 甲方的权利和义务</strong></p>
        <br/>
        <p class="man_ft">3.1.1 甲方应保证其向币港湾平台提供的信息、资料均为合法、真实、有效，不存在任何虚假、遗漏和隐瞒；同时，甲方保证其所用于出借的资金来源合法且是该资金的合法所有人，并非任何非法活动所得，也非汇集他人之资金或甲方受托管理之财产；如果第三人对资金归属、合法性问题发生争议，由甲方负责解决并自行承担相关责任；在该等争议解决（以取得生效的判决、裁决或行政命令、通知为标志）之前，丙方有权根据政府机关、司法机关或仲裁机关出具且生效的命令、判决、裁定或其他法律文件拒绝向甲方支付丙方代其领受的相关款项。</p>
        <br/>
        <p class="man_ft">3.1.2 甲方依法享有利息收益权，并自行承担相关税费（如有）。甲方有权查阅出借明细。</p>
        <br/>
        <p class="man_ft">3.1.3 甲方确认已经了解资金出借的风险，确认具有相应的风险认知和承受能力，并自行承担借贷产生的本息损失。如乙方还款金额不足以涵盖其在本协议项下应付之全部款项的，甲方同意各自按照其借出款项比例收取还款。</p>
        <br/>
        <p class="man_ft">3.1.4 如乙方违反本协议项下对甲方负有的任何义务，甲方有权要求丙方提供其已获得的乙方信息和资料。</p>
        <br/>
        <p class="man_ft">3.1.5 甲方出借资产的继承或赠与，须由主张权利的继承人或受赠人向丙方出示经国家有权部门认证的继承或赠与权利归属证明文件，并经丙方确认后协助办理资产转移手续。由此产生的相关税费，由主张权利的继承人或受赠人负责和承担。</p>
        <br/>
        <p class="man_ft">3.1.6 甲方承诺对获得的乙方信息、资料予以保密，除用于本协议目的进行资金出借与合理催收外，不得向外转让或泄露。如甲方擅自、不恰当地向他人透露乙方的信息或丙方的商业秘密，由此造成乙方或丙方的损失，甲方须承担全部责任。</p>
        <br/>
        <p class="man_ft">3.1.7 甲方同意在收到乙方还本付息时应向丙方支付本次借款所得利息收入的一定比例作为出借服务费，此笔费用甲方授权丙方在乙方支付借款本息时从本息中直接扣除。</p>
        <br/>
        <p class="man_ft"><strong>3.2 乙方权利和义务</strong></p>
        <br/>
        <p class="man_ft">3.2.1 乙方保证其向丙方提供的信息、资料均为真实、合法、有效，且不存在任何虚假、遗漏和隐瞒，并对此承担责任。</p>
        <br/>
        <p class="man_ft">3.2.2 除按照本协议约定使用用途外，乙方不得将借款用于任何其他用途。乙方擅自改变借款用途将承担违约责任，甲方有权自行或委托丙方解除本协议，并要求乙方一次性偿还全部借款本息。乙方不得将所借款项用于任何违法活动（包括但不限于赌博、吸毒、贩毒、卖淫嫖娼等）及生产经营和消费以外的范畴（包括但不限于股票、基金、期货等金融产品的出借、房地产及房地产信托出借、二次借贷、彩票等）。否则，一经发现，甲方有权提前收回全部借款本息，并立即向公安等司法机关举报，追究乙方的法律责任。</p>
        <br/>
        <p class="man_ft">3.2.3 乙方应当按期足额向甲方归还本息，按期足额向丙方支付相关服务费用。乙方同意在借款成功后（借款划付至乙方银行存管账户/乙方持有的银行结算账户），根据借款类型的不同向丙方支付一定的费用作为借款服务费。借款服务费=还款月数*〔借款本金×借款服务月费率×(1＋借款服务月费率)＾还款月数〕÷〔(1＋借款服务月费率)＾还款月数-1〕-借款本金。借款服务月费率=$!{fixLoanServiceRate}%/12。乙方授权丙方直接从每期还款金额中划拨借款服务费。</p>
        <br/>
        <p class="man_ft">3.2.4 乙方的最后一期还款必须包含全部剩余借款本金、利息及其他费用等。</p>
        <br/>
        <p class="man_ft">3.2.5 乙方有权了解其在丙方的信用评审进度及结果，并保证在本协议履行过程中，及时向甲方、丙方如实报告影响或可能影响甲方权益的重大信息。</p>
        <br/>
        <p class="man_ft">3.2.6 除本协议另有约定，乙方不得将本协议项下的任何权利义务转让给任何其他方。</p>
        <br/>
        <p class="man_ft"><strong>3.3 丙方的权利和义务</strong></p>
        <br/>
        <p class="man_ft">3.3.1 丙方以诚实、信用、谨慎、有效管理的原则向甲方提供出借咨询与管理服务，全程协助甲方完成资金出借。在任何情形下，币港湾平台只是提供网络借贷交易的中介服务平台，对甲方的出借资金不承担保证责任。</p>
        <br/>
        <p class="man_ft">3.3.2 丙方根据谨慎、合理的原则核实乙方的借款申请和乙方的信息、资料的真实性。</p>
        <br/>
        <p class="man_ft">3.3.3 丙方有权根据乙方提供的各项信息及丙方独立获得的信息评定乙方的个人信用等级，并根据对乙方个人信息的评审结果，决定是否审核通过并将乙方的借款需求向甲方进行推荐。</p>
        <br/>
        <p class="man_ft">3.3.4 丙方有权就为本协议借款所提供的服务向甲方、乙方分别收取服务费。</p>
        <br/>
        <p class="man_ft">3.3.5 丙方向甲方展示出借明细，实际出借期间以“出借明细”为准。</p>
        <br/>
        <p class="man_ft">3.2.6 丙方有权采取措施防范欺诈行为，发现欺诈行为或其他损害甲方、丙方利益的情形的，丙方有权进行公告并终止乙方在币港湾平台的借贷活动。</p>
        <br/>
        <p class="man_ft"><strong>4. 委托授权</strong></p>
        <br/>
        <p class="man_ft">4.1 甲方在此同意并确认，授权丙方作为其代理人，代理其行使其在本协议项下之各项权利，包括但不限于代收乙方（或其他主体代乙方）偿还的借款本息、宣布乙方未偿本息全部到期、向乙方进行借款的违约提醒及催收工作（包括但不限于电话通知、上门通知、发律师函、对乙方提起诉讼等）。甲方同意丙方可以委托其他主体进行前述借款的违约提醒和催收工作。</p>
        <br/>
        <p class="man_ft">4.2 各方在此同意并确认，除本协议另有约定外，丙方对于乙方在本协议项下应付之任何款项均不承担任何偿还责任；当乙方发生违约时，甲方应当直接向乙方主张违约责任。</p>
        <br/>
        <p class="man_ft"><strong>5.借款发放</strong></p>
        <br/>
        <p class="man_ft">各方同意并认可的借款发放方式为：甲方在此授权丙方于本协议成立后向丙方合作的存管银行发出划扣指令，将出借资金划付至乙方的银行存管账户/乙方持有的银行结算账户，完成本协议项下资金的出借。成功划款当日及还款或者结算当日均计算利息及其他相关费用。</p>
        <br/>
        <p class="man_ft"><strong>6.还款</strong></p>
        <br/>
        <p class="man_ft">6.1 就每单笔借款金额，乙方向甲方偿还方式为：等本等息还款。</p>
        <br/>
        <p class="man_ft">6.2 乙方在单笔借款还款日向丙方发出通知，丙方在收到乙方通知后向存管银行发出指令从乙方的银行结算账户中扣收，直至所有借款本息、逾期违约金、服务费等费用清偿完毕为止。</p>
        <br/>
        <p class="man_ft">6.3 乙方应在每单笔借款到期日（还款日）当日15:00 之前将到期应还款项足额存入专用账户内；如还款日遇到法定节假日或公休日，还款日不顺延。</p>
        <br/>
        <p class="man_ft">6.4 乙方未按时偿还应还款的，按本协议第7条承担违约责任。</p>
        <br/>
        <p class="man_ft">6.5 乙方可在借款期限内申请于某一还款日提前偿还全部剩余借款本金，同时应支付所有期数的利息和其他费用（如有）。如乙方提前偿还借款，乙方与甲方已支付的服务费和管理费不可退还。</p>
        <br/>
        <p class="man_ft"><strong>7. 违约责任</strong></p>
        <br/>
        <p class="man_ft">7.1 若乙方未按本协议约定按时足额偿还每月/期应还款项的，视为违约，应支付逾期违约金。逾期违约金从每月/期应还款日的次日开始每日按照每单笔每月应还款项的0.5%计算。（每月单独计算）</p>
        <br/>
        <p class="man_ft">7.2 若乙方未按本协议约定在单笔借款到期日偿还全部款项的，亦视为违约，应支付逾期违约金。逾期违约金计算方法如下：每日按照剩余逾期款项的0.5%支付逾期违约金。（直至该笔借款应还款项全部结清之日止）</p>
        <br/>
        <p class="man_ft">7.3 若因乙方原因在最高借款额度内单笔借款逾期或未能在额度有效期届满日偿还全部款项的，且未按约支付本条第一款逾期违约金的，则按本条第7.1款、第7.2款合并执行。</p>
        <br/>
        <p class="man_ft">7.4 若乙方存在下列情形之一的，甲方、丙方有权随时终止本协议，并要求提前收回本协议项下全部应还及应支付款项（包括但不限于借款本金、利息、借款服务费、逾期违约金等），且有权要求乙方承担相当于借款金额30%的违约金。另，丙方有权代表甲方通过包括但不限于网络、报刊、电视、征信系统等方式向任何第三方披露乙方逾期还款事实，且乙方特别确认届时丙方可同时披露乙方所提供的或丙方自行获取的乙方个人信息；若乙方的行为涉嫌违法犯罪的，甲方、丙方将保留向有关机关举报的权利。</p>
        <br/>
        <p class="man_ft">（1）乙方每月应还款项超过应还款日后的第10日仍未偿还的；</p>
        <br/>
        <p class="man_ft">（2）乙方单笔借款应还款项自借款到期日后的第10日仍未偿还的；</p>
        <br/>
        <p class="man_ft">（3）乙方违反本协议约定的乙方声明与保证条款的。</p>
        <br/>
        <p class="man_ft">7.5 任何一方违约，违约方应承担因违约使得其他各方产生的费用和损失，包括但不限于调查费、诉讼费、律师费等。</p>
        <br/>
        <p class="man_ft"><strong>8. 法律适用及争议解决</strong></p>
        <br/>
        <p class="man_ft">8.1 本协议的签订、履行、终止、解释均适用中华人民共和国法律。</p>
        <br/>
        <p class="man_ft">8.2 本协议在履行过程中，如发生任何争执或纠纷，各方应友好协商解决;若协商不成，应向债权人所在地人民法院提起诉讼解决。如本协议项下的债权转让的，则依法向转让后的债权人所在地的人民法院提起诉讼解决。本条所述“债权人”是指本协议拟定的出借人或者债权转让后的受让人或者承担保证责任的保证人。</p>
        <br/>
        <p class="man_ft"><strong>9. 通知及送达</strong></p>
        <br/>
        <p class="man_ft">9.1 乙方同意以邮寄送达或电子送达方式接收甲方、丙方、法院、仲裁委员会、公证处等所有与在本平台上签订的借款协议的成立生效、履行变更、争议解决有关各方发送的各类纸质或电子数据通知、信函、法律文书等内容。乙方确认并同意，本协议（首部）所约定的乙方居住地址以及其向丙方所提供的身份证住址均为有效的邮寄送达地址；本协议（首部）所约定的乙方电子邮箱以及乙方在注册平台账户或申请业务时向丙方提交的手机号码、微信号、QQ号码以及乙方在平台注册账户站内消息中心均为有效的电子送达地址。</p>
        <br/>
        <p class="man_ft">9.2 甲方或丙方向乙方确认的邮寄送达地址邮寄送达有关通知、要求或其他函件等，乙方签收或乙方指定的代收人，同住的成年家属、朋友签收的视为送达，如因乙方提供或确认的送达地址不准确、拒不提供送达地址、送达地址变更未及时告知丙方，乙方本人或其指定的代收人拒绝签收的，导致上述通知、要求或其他函件等未能被乙方实际签收的，邮件退回之日视为送达之日。</p>
        <br/>
        <p class="man_ft">9.3 甲方、丙方向乙方确认的电子送达地址送达有关通知、要求或其他函件等，一经发送成功，即视为送达。电子送达的方式还包括甲方、丙方采用在平台公告、向乙方发送站内信形式，一经甲方或丙方在币港湾平台公告或者向乙方发出站内信，公告或发送当日即视为送达。</p>
        <br/>
        <p class="man_ft">9.4 为便于人民法院或其他裁决机构的诉讼（仲裁）文书及时送达，保证诉讼（仲裁）程序顺利进行，乙方确认，如进入诉讼（仲裁）程序，本协议中所列明的邮寄送达地址和电子送达地址，即作为人民法院或其他裁决机构诉讼（仲裁）文书的送达地址，乙方无需向人民法院或其他裁决机构另行确认送达地址，人民法院或其他裁决机构向上述地址以邮寄送达或者电子送达相关法律文书的，上述地址亦为有效的送达地址。此外乙方亦同意人民法院或其他裁决机构以电子送达方式送达相关法律文书，本条中诉讼（仲裁）程序，亦包括审理、裁决、执行等程序。</p>
        <br/>
        <p class="man_ft">9.5 乙方确认其所提供的邮寄送达地址和电子送达地址真实有效，若送达地址变更的，应及时书面通知丙方。如果乙方提供或确认的地址不准确，送达地址变更后未及时告知丙方，导致通知或其他法律文书无法送达或未及时送达的，乙方将自行承担由此可能产生的法律后果。</p>
        <br/>
        <p class="man_ft"><strong>10. 附则</strong></p>
        <br/>
        <p class="man_ft">10.1 证据：甲方、乙方确认并同意，委托丙方对本协议下的本金、利息、违约金等金额进行计算，丙方对本协议项下的任何金额的任何证明可作为该金额有关事项的有效证明。除非有确实且充分的相反证据，否则丙方内部生成的记账凭证或者与丙方合作的第三方支付机构出具的交易流水记录、法律文件是本合同项下借款发放及应付款项偿还情况的有效证据。</p>
        <br/>
        <p class="man_ft">10.2 在本协议履行过程中，甲方、乙方知晓并同意，如乙方逾期还款，第三方担保公司等机构承担担保等责任，代乙方向甲方偿还逾期应还款项的，该第三方机构即取得本协议项下原甲方对乙方的债权追偿权（包括但不限于收取本金、利息、逾期违约金等）。</p>
        <br/>
        <p class="man_ft">10.3 本协议各方同意通过使用CA数字证书及电子签名方式授权币港湾进行签署，并按照币港湾平台规定的程序签署完毕后，本协议成立。甲方向乙方成功出借资金时，本协议生效。</p>
        <br/>
        <p class="man_ft">10.4 本协议各方委托丙方保管所有与本协议有关的书面文件或电子信息（包括数字证书、电子签名、电子合同等）。</p>
        <br/>
        <p class="man_ft">10.5 本协议中的任何条款无论因何种原因部分或全部无效或不可执行，该无效或不可执行的条款并不影响本协议其他条款的效力，其他条款仍然有效，对协议各方均有约束力。</p>
        <br/>
        <br/><br/>
        <p class="man_ft">甲方（签章）：
        <table class="tan_list_ul_table1">
            #foreach($data in $!financialManagementData)
                #if($data.userName.length()==2)
                    #set($strBorrowerName=$data.userName)
                    #set($strBorrowerName=$strBorrowerName.substring(0,1)+"*")
                #elseif($data.userName.length()>2)
                    #set($strBorrowerName=$data.userName)
                    #set($strBorrowerName=$strBorrowerName.substring(0,1)+"**")
                #end
                <tr>
                    <td>$!strBorrowerName</td>
                </tr>
            #end
        </table>
        </p>
        <br/><br/><br/><br/>
        <p class="man_ft">乙方（签章）： $!loanUserName</p>
        <br/><br/><br/><br/>
        <p class="man_ft">丙方（签章）：杭州币港湾科技有限公司</p>
        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/bgw_gz.png" style="width:150px;position:absolute;margin: -95px 0 0 221px;"/>
        <br/><br/><br/><br/>
    </div>
    <div class="agess_foot">
        <div class="agess_btn" onclick="oprin()">打印协议</div>
        <div class="agess_btn close">关闭</div>
    </div>
</div>

    #LoadGenJS("/resources/gen2.0/scripts/common/jquery")
<script>
    $(function(){
        var close=$(".close");

        close.on("click",off);
        function off(){
            window.close();
            if(window){
                window.location.href="about:blank";
            }
        }
    });

    function oprin(){
        $(".agess_foot").hide();
        setTimeout(function(){$(".agess_foot").show();},600);
        window.print();
    }
</script>
</body>
#Html("end")