#Html("begin")
#Head("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadCSS("resources/gen2.0/styles/agree/default")
#LoadCSS("resources/gen2.0/styles/agree/agree")
#LoadGenCSS("/resources/gen2.0/styles/match/tan_zan_loan")
#Head("end")
<body>
	<div class="agess-copy" id="agree_entrust_div1" style="display:block;">
		<div class="agess_title-copy">
			<span class="agess_ft">协议内容</span>
		</div>
		<div class="agess_main-copy">
			<p class="top_no">协议编号：$!agreementNumber</p>
			<br/>
			<h1 class="main_title">债权转让协议</h1>
			<br/>

			<p class="man_ft">甲方（债权转让人）：$!outUserName</p>
			<p class="man_ft">身份证号/统一社会信用代码：$!outUserIdCardNo</p>
			<br/>
			<p class="man_ft">乙方（债权受让人）：$!inUserName</p>
			<p class="man_ft">身份证号/统一社会信用代码：$!inUserIdCardNo</p>
			<br/>
			<p class="man_ft">丙方（服务方）：杭州币港湾科技有限公司</p>
			<br/>
			<p class="man_ft">（上述甲、乙、丙三方以下可合称为“各方”，其中不特指的单独一方可称为“一方”或“任一方”。）</p>
			<p class="man_ft"><strong>甲乙双方已认真阅读本协议的全部内容，依据本协议的内容及币港湾公布的相关规则行使权利并履行义务。</strong></p>
			<br/>
			<p class="man_ft"><strong>鉴于:</strong></p>
    		<br/>
    		<p class="man_ft">1.甲方与丙方推荐的借款人发生了借贷交易，并与丙方、借款人签署了《授权委托书》、《借款协议》等相关电子协议（简称“借款协议”）。</p>
    		<br/>
    		<p class="man_ft">2.乙方愿意以自有合法资金受让甲方通过币港湾平台（简称“本平台”）与借款人、丙方签署并生效的的借款协议项下的全部或部分债权（简称“转让债权”）。 </p>
    		<br/>
    		<p class="man_ft">3.丙方是一家具有合法资质的公司，运营或被授权使用币港湾平台。</p>
    		<br/>
    		<p class="man_ft">甲乙双方经过友好协商，在丙方运营管理或授权使用的币港湾平台上，就甲方向乙方转让债权事宜，经协商一致达成如下协议：</p>
    		<br/>
            <p class="man_ft"><strong>1.转让债权信息</strong></p>
    		<br/>  
			<p class="man_ft">1.1本协议下拟转让的债权信息如下：</p>
    		<br/>			
			<div class="tan_list">
				<table class="tan_list_ul_table">
					<tr>
						<td>借款人姓名</td>
						<td>身份证号</td>
						<td>借款期限</td>
						<td>借款本金</td>
						<td>转让债权金额（人民币：元）</td>
						<td>转让价格（人民币：元）</td>
					</tr>
					<tr>
                        <td>$!borrowUserName</td>
                        <td>$!borrowUserIdCardNo</td>
                        <td>
							#if("$!partnerBusinessFlag" == "FIXED_INSTALLMENT" || "$!partnerBusinessFlag" == "FIXED_PRINCIPAL_INTEREST")
								$!{repayTerm}期
							#else
								90天
							#end
						</td>
                        <td>$!money.format($!approveAmount)</td>
                        <td>$!money.format($!transferCreditorAmount)</td>
                        <td>$!money.format($!transferPrice)</td>
					</tr>
				</table>					
			</div>
			<p class="man_ft">1.2甲方承诺上述转让的债权系合法有效且依法可转让的债权，同时乙方同意受让上述转让债权。</p>
			<br/>
			<p class="man_ft">1.3乙方不可撤销的同意及授权丙方通过存管银行，从乙方的恒丰银行存管账户中直接划拨等额于转让价格的资金（简称“债权转让费”）至甲方的恒丰银行存管账户中。</p>
			<br/>
			<p class="man_ft">1.4乙方向上述账户付款即为向甲方履行了本协议约定的付款义务，同时乙方获得了甲方项下对借款人的全部债权。无论是乙方按照借款协议的约定为借款人代偿了逾期利息，还是按照本协议约定支付了剩余债权转让费，则自付款之日起，根据借款协议发生的逾期违约金（若有）、罚息（若有）等其他违约金都统一归乙方所有。</p>
			<br/>
			<p class="man_ft"><strong>2.债权转让服务费</strong></p>
			<br/>
			<p class="man_ft">2.1债权转让服务费：鉴于丙方为甲方债权转让提供服务，依据按币港湾平台的相关规则，甲方同意向丙方支付债权转让所涉金额的0%作为债权转让服务费。</p>
			<br/>
			<p class="man_ft">2.2债权转让服务费支付方式：甲方不可撤销地同意并授权在本协议生效后，委托第三方支付机构从应支付给甲方的款项中一次性代为扣除并支付给丙方。</p>
			<br/>
			<p class="man_ft"><strong>3.债权转让成立生效</strong></p>
			<br/>
			<p class="man_ft">3.1甲乙双方使用CA数字证书及电子签名并根据本平台设置程序签署完毕本协议后，本协议立即成立；本协议在甲方债权转让需求全部得到满足，且对应的债权转让费已足额划转至甲方的恒丰银行存管账户时，立即生效。</p>
			<br/>
			<p class="man_ft">3.2本协议生效后，甲乙双方不可撤销的同意并委托丙方将债权的转让事项及有关信息通过站内信等形式通知债权转让人对应的借款人。站内信包括但不限于电子邮件、微信、QQ或者电话（录音）快递等方式。</p>
			<br/>
			<p class="man_ft">3.3甲乙双方已知悉并同意授权丙方使用其CA证书用于本协议及其他相关交易业务协议、资料文件的签署，并授权丙方保管已生效的协议。</p>
			<br/>
			<p class="man_ft"><strong>4.保证及承诺</strong></p>
			<br/>
			<p class="man_ft">4.1甲乙双方承诺通过币港湾平台使用其本人账户和密码的操作均视为本人的操作，甲乙双方对此各自承担责任。</p>
			<br/>
			<p class="man_ft">4.2甲方保证对本协议项下转让债权享有完全的所有权，甲方未在该转让债权上设定抵押权、质权、其他担保物权或任何第三方权利，该转让债权亦不存在被法院保全、查封等权利限制情况。</p>
			<br/>
			<p class="man_ft">4.3甲方保证在签署本协议之前，未就本协议项下转让债权与第三方签订债权转让协议，也未设置任何权利障碍。</p>
			<br/>
			<p class="man_ft">4.4甲方自本协议生效之日起，将下述权利、权益和利益均转让给乙方：（1）甲方对于转让债权的所有权及其相关的全部权益；（2）转让债权所产生的到期或即将到期的全部还款；（3）请求、起诉、收回、接受与转让债权相关的全部应偿付款项（不论是否应由借款协议项下借款人偿付）的权利；（4）与实现和执行转让债权相关的全部权利和法律救济。</p>
			<br/>
			<p class="man_ft">4.5甲方承诺，自本协议生效之日起10个工作日内，甲方需将转让债权有关的全部法律文件（如打款凭证、银行流水、付款凭证、授权协议、收款确认书等）移交给乙方和丙方。</p>
			<br/>
			<p class="man_ft">4.6甲方同意并承诺按本协议及币港湾平台的相关规则和说明向丙方支付债权转让服务费（若有）。</p>
			<br/>
			<p class="man_ft">4.7各方保证因本次债权转让获得的任一方信息及借款人个人信息，应依法予以保密。</p>
			<br/>
			<p class="man_ft"><strong>5.违约责任</strong></p>
			<br/>
			<p class="man_ft">5.1任何一方违反本协议约定，守约方有权要求赔偿因此而造成的损失，包括但不限于可期待利益、调查费用、诉讼费用及律师费用等。</p>
			<br/>
			<p class="man_ft"><strong>6.法律适用与管辖</strong></p>
			<br/>
			<p class="man_ft">6.1本协议适用中华人民共和国大陆地区有关法律。</p>
			<br/>
			<p class="man_ft">6.2如果协议各方在本协议履行过程中发生任何争执，应友好协商解决；如协商不成，则须向原告所在地人民法院提起诉讼。</p>
			<br/>
			<p class="man_ft"><strong>7.其他</strong></p>
			<br/>
			<p class="man_ft">7.1本协议一经生效即不可解除或终止，如乙方超过3个工作日未按本协议第1条约定向甲方全额支付债权转让费的，甲方有权终止本协议。</p>
			<br/>
			<p class="man_ft">7.2本协议未约定事宜，按照借款协议和本平台公布的规则或规定执行。本协议约定与借款协议、本平台规则相冲突的，以本协议为准。</p>
			<br/>
			<p class="man_ft">7.3本协议及其修改或补充通过币港湾平台以电子文本形式制成，并保存在币港湾平台为此设立的专用服务器上，各方均认可该形式的协议效力。</p>
			<br/>
			<p class="man_ft">（以下无正文）</p>
			<p class="man_ft">甲方（签字）：$!outUserName</p>
			<br/>
			<p class="man_ft">乙方（签字）：$!inUserName</p>
			<br/>
			<p class="man_ft">丙方（盖章）：杭州币港湾科技有限公司</p>
            <img src="$!env.get('gen.server.web')/resources/gen178/images/bgw_gz.png" style="width:150px;position:absolute;margin: -95px 0 0 150px;"/>
			<br/>
			<p class="man_ft">$!transferTime</p>
			<br/>
  		</div>
		<div class="agess_foot">
			<div class="agess_btn" onclick="oprin()">打印协议</div>
			<div class="agess_btn close">关闭</div>
		</div>
	</div>

	#LoadGenJS("/resources/gen178/scripts/common/jquery")
    <script>
        $(function(){
            var close=$(".close");

            close.on("click",off);
            function off(){
                window.close();
                if(window){
                    window.location.href="about:blank";
                }
            }
        });

        function oprin(){
            $(".agess_foot").hide();
            setTimeout(function(){$(".agess_foot").show();},600);
            window.print();
        }
    </script>

</body>
#Html("end")