#Html("begin")
#GenHead("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadGenCSS("/resources/gen178/styles/login_header")
##LoadGenCSS("/resources/gen/styles/touch")
#LoadGenJS("/resources/gen178/scripts/echarts")
#LoadGenJS("/resources/gen178/scripts/switchable")
#LoadGenJS("/resources/gen178/scripts/textSlider")
#LoadGenJS("/resources/gen178/scripts/index_style")
		<script>
			$(document).ready(function clickme(){
                $('.wx').hover(function(){
                	$('.imgs').fadeIn(100);
                },function(){
                	$('.imgs').hide(100);
                });
        
			
			 //输入框单击变黄 失去焦点变黑
                $('.top_input').focus(function(){
                	$(this).parent('.top_p').css('border','#FF681D solid 1px');
                });
                $('.top_input').blur(function(){
                	$(this).parent('.top_p').css('border','#dad9d9 solid 1px');
                });
           })
		</script>
#GenHead("end")
	<body>
	<!--header -s-->
	#Gen178HeaderLogin()
	<!--header -e-->
    <div class="naver_1">
    	<div class="nav_1">
            <div class="nav">
                <a href="$!env.get('gen.server.web')/gen178/index?agentViewFlag=$!agentViewFlag">
                    <div style="width: 300px;height: 64px;display: inline;">
                      <img src="$!env.get('gen.server.web')/resources/gen178/images/nav.png" style="width: 300px;margin-top: 12px;">
                    </div>
                </a>
                <a href="javascript:void(0)" style="color: #7D7D7D;font-size: 21px;position: relative;bottom: 14px;border-left: 1px solid #ddd;padding-left: 10px;margin-left: 10px;">
        				&nbsp
                </a>
            </div>
    	</div>
    </div>
		<!--<div class="content_fail">-->
			<div class="content_pay">
					<p>
						#if("$!reapalMessage" != "")
							<div style="position: relative;top: 300px;width: 240px;left: 360px;text-align: center;">$!reapalMessage</div>
						#elseif("$!reapalMessage" == "")
							<div style="position: relative;top: 300px;width: 240px;left: 360px;text-align: center;">系统处理异常</div>
						#end
					</p>
						<a href="$!env.get('gen.server.web')/gen178/regular/list?agentViewFlag=$!agentViewFlag">
                        <div class="payfail1">
							再试一次
						</div></a>
						
			</div>
			<!--</div>-->
			
	
		
	<!--浮动 -s-->
	#Gen178Share()
	<!--浮动 -e-->
	
	<!--footer -s-->
	#Gen178Footer()
	<!--footer -e-->
	</body>
#Html("end")