#Html("begin")
#Head("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadCSS("resources/micro2.0/styles/activity/default")
#LoadCSS("resources/micro2.0/styles/activity/girl2017/style")
#LoadJS("resources/micro2.0/scripts/common/common")
#LoadJS("resources/micro2.0/scripts/activity/six")
#LoadJS("resources/micro2.0/scripts/activity/girl2017/index")
#WeChatShare()
#Head("end")
<input type="hidden" id="APP_ROOT_PATH" value="$!env.getWebURL('')"/>
<input type="hidden" id="agentId" value="$!agentId"/>
<input type="hidden" id="is_address_page" value="yes"/>
<body id="body">
<div class="other_window">
    <img src="$!env.getWebURL('')/resources/micro2.0/images/activity/girl2017/addressbg.jpg" class="other_window_img" />
    <div class="other_window_box">
        <div class="other_dashed"></div>
        <img src="$!env.getWebURL('')/resources/micro2.0/images/activity/girl2017/tan7.png" class="other_window_img2"/>
        <div class="choice_window_content">
            <div class="other_window_prompt">还差一步，填写完收货地址奖品就快到手啦~</div>
            <ul class="other_window_bottom">
                <li class="other_window_name btn_input">
                    <span>收货人:</span><input type="text" name="consignee" id="consignee" value="" class="other_window_nameinput"  maxlength="20"/>
                </li>
                <li class="other_window_name btn_input">
                    <span>联系电话:</span><input type="tel" name="tel" id="tel" value="" class="other_window_phoneinput"  maxlength="11"/>
                </li>
                <li class="other_window_addresst btn_input">
                    <span>详情地址:</span><textarea name="address" id="address" value="" class="other_window_phoneinput" maxlength="150"></textarea>
                </li>
                <li class="other_window_txt">*注意核对收货信息，提交后不可修改</li>
            </ul>
            <div class="other_window_btn">
                <img src="$!env.getWebURL('')/resources/micro2.0/images/activity/girl2017/tan2.png" />
                <a href="javascript:void(0);" class="other_window_btna address_submit">提交</a>
            </div>
        </div>
    </div>
</div>









<div class="window_bg">
</div>
<div class="window_scroll">
    <!--领取成功-->
    <div class="success_window receive_success_modal">
        <div class="success_dashed"></div>
        <div class="choice_window_close"><img src="$!env.getWebURL('')/resources/micro2.0/images/activity/girl2017/tan6.png" /></div>
        <img src="$!env.getWebURL('')/resources/micro2.0/images/activity/girl2017/tan8.png" class="choice_window_img" />
        <div class="success_window_content">
            <div class="choice_window_title success_title">恭喜领取成功</div>
            <!--快递-->
            <div class="success_window_txt success_content">3月6日我们会将奖品寄出，<br/>请留意手机短信通知</div>
            <!--门店-->
            <!--<div class="success_window_txt">3月6日凭领取短信，到XXX门店兑换，<br/>请留意手机短信通知</div>-->
            <div class="success_window_btn">
                <img src="$!env.getWebURL('')/resources/micro2.0/images/activity/girl2017/tan2.png" />
                <a href="javascript:void(0);" class="success_window_btna receive_success_btn">我知道了</a>
            </div>
            <div class="share_window_btn">
                <img src="$!env.getWebURL('')/resources/micro2.0/images/activity/girl2017/tan2.png" />
                <a href="javascript:;" class="share_window_btna">分享给好友</a>
            </div>
        </div>
    </div>

    <!-- 没有分享的提示信息 -->
    <div class="success_window toast_modal">
        <div class="success_dashed"></div>
        <div class="choice_window_close"><img src="$!env.getWebURL('')/resources/micro2.0/images/activity/girl2017/tan6.png" /></div>
        <img src="$!env.getWebURL('')/resources/micro2.0/images/activity/girl2017/tan8.png" class="choice_window_img" />
        <div class="success_window_content">
            <div class="choice_window_title toast_title">恭喜领取成功</div>
            <!--快递-->
            <div class="success_window_txt toast_content">3月6日我们会将奖品寄出，<br/>请留意手机短信通知</div>
            <!--门店-->
            <!--<div class="success_window_txt">3月6日凭领取短信，到XXX门店兑换，<br/>请留意手机短信通知</div>-->
            <div class="success_window_btn">
                <img src="$!env.getWebURL('')/resources/micro2.0/images/activity/girl2017/tan2.png" />
                <a href="javascript:void(0);" class="success_window_btna toast_btn">我知道了</a>
            </div>
        </div>
    </div>

    <!-- 遮罩-分享朋友 -->
    <div class="shae_dialgo share_one">
        <div class="arrow"></div>
        <div class="shar_off"></div>
    </div>
</div>
</body>
#Html("end")