@charset "utf-8";

input:focus,select:focus,textarea:focus,button:focus{outline:none;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}/*-webkit-margin-before:0;-webkit-margin-after:0;-webkit-margin-start: 0px;-webkit-margin-end: 0px;-webkit-padding-start:0px;*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height: 1; }
ol, ul {list-style: none; }
blockquote, q {quotes: none; }
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none; }
table {border-collapse: collapse;border-spacing: 0;}
html,body {width:100%; height:100%;}
body {font:1rem/15px "Microsoft YaHei",SimHei,"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;color: #000;-webkit-text-size-adjust:100%; background:#e6e6e6; overflow-x:hidden;}

h1, h2, h3, h4, h5, h6 {font-weight: normal; font-size:1em;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {font-weight: inherit; }

em {font-style:normal; }
strong {font-weight: bold;}
small {font-size: 80%; }

a { text-decoration: none; -webkit-tap-highlight-color: rgba(0,0,0,0); cursor:pointer;}
a, a:visited { color: #1b1b1b; text-decoration: none; outline: 0; }
a:hover, a:focus { color: #000; }
p a, p a:visited { line-height: inherit; }

/*a, img {-webkit-touch-callout: none; }*//* 禁止长按链接与图片弹出菜单 */
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }

img.scale-with-grid {max-width: 100%; height: auto; }

.button,button,input[type="submit"],input[type="reset"],input[type="button"],input[type="number"] {-webkit-appearance:none;-moz-appearance:none;font-family: "Microsoft YaHei",SimHei,"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;}

button::-moz-focus-inner,input::-moz-focus-inner {border: 0;padding: 0;}
input:disabled{border: 1px solid #DDD;background-color: #F5F5F5;color:#ACA899;}


input[type="text"],input[type="date"],input[type="password"],input[type="email"],input[type="number"],textarea {border: 1px solid #a0a0a0; outline: none; font: 14px "Microsoft YaHei",SimHei,"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;color: #666; max-width: 100%;display:block;background: #fff; -webkit-appearance:none;-moz-appearance:none; -moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;}
select {border: 1px solid #a0a0a0; font: 14px "Microsoft YaHei",SimHei,"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;color: #666; max-width: 100%;display:block;background: #fff;}
input[type="text"]:focus,input[type="date"]:focus,input[type="password"]:focus,input[type="email"]:focus,textarea:focus {color: #333;}
textarea {min-height: 60px; }
label,legend {display: block;font-weight: normal;}
input[type="checkbox"] {display: inline;}
input.readonly,.readonly{background-color:#eee;}

.pr {position: relative;}
.pa {position: absolute;}


.fl {float:left;}
.fr {float:right;}
.clear {width:100%; clear:both; font-size:0px; height:0px; line-height:0px; margin:0;}
.imgb img {display:block;}
.main {width:100%; margin:0 auto;}
.main100 {width:100%; height:100%;}

.fl {float:left;}
.fr {float:right;}


body{
	/*text-align: center;*/
	font-family: "微软雅黑",arial, helvetica, sans-serif;
	background:#f5f5f5;
}
.header{
	width: 100%;
	height: 30px;
	background: #333333;
}
.wrap{ width:980px; margin:0 auto;}
.head{
	width: 980px;
	height: 30px;
	line-height: 30px;

}
.head_left{
	display: inline-block;
	zoom: 1;
	width:300px;
	height: 30px;
	font-size: 10px;
	float: left;
	color: #fff;
	margin-left: 10px;
}
.head_left em{
	color: #8c8c8c;
	font-style: inherit;
}
.head_main{
	display: inline-block;
	zoom: 1;
	width: 100px;
	height: 30px;
	float: left;

}
ul.h_ul{
	float: right;	
	margin-right:15px;
}

.head_main a{
	position: relative;
}
.head_main .wb{ 
	width: 22px;
	height: 22px;
	display: inline-block;
	background-image: url(../img/icon.png);
	background-position: -9px 0px;
    background-repeat: no-repeat;}
.head_main .wb:active{
	background-image: url(../img/icon1.png);
	background-position: -9px 0px;
    background-repeat: no-repeat;}
.head_main .wx{ 
	width: 22px;
	height: 22px;
	display: inline-block;
	background-image: url(../img/icon.png);
    background-position: -40px 0;
    margin-left: 8px;
    background-repeat: no-repeat;
    }
.head_main .wx:hover{
	background-image: url(../img/icon1.png);
	z-index: 20000;
	background-position: -40px 0;
    margin-left: 8px;
    background-repeat: no-repeat;
}
.imgs{
	  position:relative;
      z-index: 20000; 
      top:-5px;
      width: 185px; 
      height: 200px;  
      display: none;
      left: 26.3%;
      }
.head_main .kk{
	width: 22px;
	height: 22px;
	display: inline-block; 
 	margin-left: 8px;
 	}
.head_right{ 
	display: inline-block; 
	zoom:1; 
	width: 210px; 
	height: 30px; 
	float: right; 
	font-size: 10px; 
	color: #fff;
	}
.head_right a{ 
	display: inline-block;
	zoom: 1; 
	width: 55px; 
	height: 30px;
	}
.naver{
	width:100%;
	height: 64px;
	line-height: 64px;
	background: #fff;
}
.nav{
	width: 980px;
	height: 64px;
	line-height: 64px;
	margin: 0 auto;
}
.nav_left{
	width: 370px;
	height: 64px;
	background: url(../img/navnav.png) no-repeat; float: left;
}
.nav_right{
	width: 450px;
	height: 64px;
	float: right;
	position: relative;
}
.nav_right ul{
	width: 450px;
	height: 64px;
	list-style: none;
	overflow: visible;
	position: relative;
	z-index: 10000;
}
.nav_right ul li{
	float: left;
	width: 90px;
	height: 64px;
	line-height: 64px;
	text-align: center;	
	position: relative;
}
.nav_right ul li a{
	display: inline-block;
	color: #4e4e4e;
	text-decoration: none;
	width: 90px;
	height: 64px;
	line-height: 64px;
	position: relative;
	z-index: 1000;
	position: absolute;
	top: -3px;
	left: 0px;
}


.content{
	width: 100%;
	height: auto;
}
.con{
	width: 980px;
	height: 890px;
	padding-top: 30px;
	margin: 0 auto;
	text-align: center;
}
.con_left{
	width: 193px;
	height: 700px;
	border-radius: 8px;
	background: #fff;
	float: left;
	color: #656565;
}
.con_left dl,.con_left2 dl{
	width: 193px;
	overflow: hidden;
	
}
.con_left dl dt,.con_left2 dl dt{
	width: 195px;
	height: 46px;
	font-size: 14px;
	line-height: 46px;
	cursor: pointer;
}
.con_left p,.con_left2 p{
	width: 195px;
	height: 46px;
	line-height: 46px;
	color: #ff6634;
	background-image: url(../../images/help_bg.jpg);
	background-repeat: no-repeat;
	background-position: 0 -5px;
	border-radius: 8px;
	font-size: 18px;
	font-weight: bold;
}
.leftbg{
	background: #FF6634;
	color: #fff;
}
.con_right{
	border-radius: 8px;
	float: left;
	margin-left: 5px;
}
.con_right_nav,.con_right_nav li{
	width: 778px;
	height: auto;
	text-align: left;
}
.con_right_nav li .rig_1,
.con_right_nav li .rig_2,
.con_right_nav li .rig_3,
/*.con_right_nav li .rig_4,*/
.con_right_nav li .rig_5,
/*.con_right_nav li .rig_6,*/
.con_right_nav li .rig_7,
/*.con_right_nav li .rig_8,*/
.con_right_nav li .rig_9,
.con_right_nav li .rig_10,
.con_right_nav li .rig_11,
.con_right_nav li .rig_12{
	width: 778px;
	height: auto;
	background: #fff;
	color: #666;
	border: 1px solid #ccc;
	border-radius: 8px;
	margin-bottom: 20px;
}

.con_right_nav li div h3{
	width: 650px;
	height: 60px;
	line-height: 60px;
	color: #FF6634;
	margin: 0 auto;
	font-size: 18px;
	font-weight: bold;
	clear:both;
}

.con_right_nav li div h4{
	width: 650px;
	height: 60px;
	line-height: 60px;
	color: #FF6634;
	margin: 0 auto;
	font-size: 16px;
	clear:both;
}

.con_right_nav li .rig_1 p{
	width: 650px;
	height: auto;
	line-height: 28px;
	color: #666;
	margin: 0 auto;
	margin-bottom: 16px;
	font-size: 14px;
}
.con_right_nav li .rig_2{
	display: none;
}
.con_right_nav li .rig_2 h4{
	width: 650px;
	height: 50px;
	line-height: 45px;
	margin: 0 auto;
	color: #FF6634;
}
.con_right_nav li .rig_2 h4 em{
	font-size: 28px;
	color: #FF6634;
	margin-right: 6px;
}
.con_right_nav li .rig_2 p{
	width: 650px;
	height: auto;
	line-height: 28px;
	color: #666;
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 14px;
}
.con_right_nav li .rig_3{
	width: 778px;
    height: auto;
	
}
.rig_3{
	
}
.rig_3_1{
	font-size: 14px;
	color: #ff6633;
}

.rig_3_1 li p{
     margin-left: 40px;
     height: 23px;
	line-height: 25px;
     margin-bottom: 10px;
     font-size: 16px;
    font-weight: bold;
}
.rig_3_1 li h5{
	color: #666;
	height: 20px;
	line-height: 20px;
	margin-left: 38px;
}
.rig_3_1 li h4{
	margin-top: 20px;
	margin-left: 40px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
}
div.rig_3_map{
	clear: both !important;
	margin-left: 34px;
	margin-top: 20px;
    margin-bottom: 20px;
	
}

/*.rig_3_1 li h6{
	height: 25px;
	line-height: 25px;
	color: #666;
	margin-left: 38px;
}
div.rig_3_zijia{
	width: 70px;
	height: 150px;
	float: left;
	color: #666;
}
.rig_3_1 li b{
	color: #666;
	height: 25px;
	line-height: 25px;
}
.rig_3 ul{
	margin-bottom: 25px;
}*/





.con_right_nav li .rig_4{
	display: none;
}
.con_right_nav li .rig_4 h1{
	width: 650px;
	height: auto;
	line-height: 28px;
	color: #FF6634;
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 26px;
}
.con_right_nav li .rig_4 h4{
	width: 650px;
	height: auto;
	line-height: 28px;
	color: #FF6634;
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 16px;
}
.con_right_nav li .rig_4 p{
	width: 650px;
	height: auto;
	line-height: 28px;
	color: #666;
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 14px;
}
.con_right_nav li .rig_5{
	display: none;
}

.con_right_nav li .rig_5 p{
	width: 650px;
	height: auto;
	line-height: 28px;
	color: #666;
	margin: 0 auto;
	margin-bottom: 40px;
	font-size: 14px;
}
.con_right_nav li .rig_5 h5{
	margin-left: 64px;
    font-weight: bold;
    margin-bottom: 10px;
	font-size: 14px;
}

.con_right_nav li .rig_7{
	display: none;
}
.con_right_nav li .rig_7 p{
	width: 650px;
	height: auto;
	line-height: 28px;
	color: #666;
	margin: 0 auto;
	margin-bottom: 20px;
	font-size: 14px;
}
.con_right_nav li .rig_7 h5{
	margin-left: 64px;
    font-weight: bold;
    margin-bottom: 10px;
	font-size: 14px;
}

.con_right_nav li .rig_9{
	display: none;
}
.con_right_nav li .rig_9 h5{
	width: 650px;
	height: auto;
	line-height: 20px;
	color: #666;
	margin: 0 auto;
	font-size: 14px;
	padding-left:30px ;
	background: url(../../images/help_bg1.jpg) no-repeat left;
	background-position: 0 0px;
}
.con_right_nav li .rig_9 p{
	width: 650px;
	height: auto;
	line-height: 28px;
	color: #666;
	margin: 10px auto;
	font-size: 14px;
	padding-left:30px ;
	background: url(../../images/help_bg1.jpg) no-repeat left;
	background-position: 0 -20px;
	padding-bottom: 20px;
}


