#Html("begin")
#Head("begin")
#Title("财运大转盘")
#LoadJS("resources/micro2.0/scripts/six")
#LoadCSS("resources/micro2.0/styles/default")
#LoadCSS("resources/micro2.0/styles/user/forget_password.min")
#WeChatShare()
#Head("end")
<body>
    <input type="hidden" value="$!env.getWebURL('')" id="APP_ROOT_PATH" />
    <input type="hidden" value="$!env.getWebURL('')/micro2.0/common/captcha/code?ts=" id="VALIDATE_PATH" />
    <div class="header">
    	<a class="header_arrow" href="javascript:history.go(-1)"></a>
    	<h1 class="heade_ft">找回密码</h1>
    </div>
    <div class="register_logo"><img src="$!env.getWebURL('')/resources/micro2.0/images/regist/logo.png"/></div>
    <form method="post" class="generalForm" id="generalForm">
        <input type="hidden" id="mobileToken" name="mobileToken" value="$!mobileToken">
		<div class="register_box">
            <span class="register_icon icon1"></span>
            <input class="former_btn" type="tel" name="mobile" id="mobile" maxLength="11" placeholder="请输入手机号">
        </div>
		<div class="register_error"><span class="register_icon icon3"></span><span class="mobile_error"></span></div>
		<div class="register_box">
            <span class="register_icon icon2"></span>
            <input id="verCode" class="register_in" autocomplete="off" name="verCode" type="text" size="5" maxlength="4" placeholder="验证码"/>
            <span class="register_yzm"><img id="validateImg" src="$!env.getWebURL('')/micro2.0/common/captcha/code?ts=" onclick="change()" alt="点击切换验证码"></span>
        </div>
		<div class="register_error"><span class="register_icon icon3"></span><span class="code_error"></span></div>
    </form>
    <a href="javascript:void(0)" class="pass_ok btn_fail">下一步</a>
#LoadJS("resources/micro2.0/scripts/common/common")
#LoadJS("resources/micro2.0/scripts/zepto.min")
#LoadJS("resources/weixin/scripts/user/custom")
#LoadJS("resources/weixin/scripts/user/forget_password_first")
</body>
#Html("end")