#Html("begin")
#Head("begin")
#LoadJS("resources/micro2.0/scripts/assets/six")
#LoadCSS("/resources/micro2.0/styles/red_pack/default")
#LoadCSS("/resources/micro2.0/styles/red_pack/pack_welcome")
#Head("end")
</head>
<body>
	<div class="wel_banner">
		<img class="welcome_banner" src="$!env.getWebURL('resources/micro2.0/images/red_pack/welcome_banner.jpg')" alt="">
		<div class="wel_banner_txt">微信关注币港湾，<i class="wel_color1">看收益、加入产品、取现、</i><i class="wel_color2">一步到位</i></div>
	</div>
	<div class="main">
		<div class="welcome_box">
			<img class="welcome_em" src="$!env.getWebURL('resources/micro2.0/images/red_pack/welcome_em.jpg')" alt="">
		</div>
	</div>
	<a class="welcome_title" href="http://mp.weixin.qq.com/s?__biz=MzAwNzIzMDYyMg==&mid=413621093&idx=1&sn=9f2346edadf70e7fcac159f7a01f9d41&scene=1&srcid=0216QwGx7UojkueV5QHG4orw&from=singlemessage&isappinstalled=0#wechat_redirect">微信搜索：bigangwanlicai</a>
	#if("$!qianbao" == "qianbao")
	<a href="$!env.getWebURL('/micro2.0/index')?qianbao=qianbao&agentViewFlag=$!agentViewFlag" class="welcome_btn">
		<img class="" src="$!env.getWebURL('resources/micro2.0/images/red_pack/welcome_btn.png')" alt="">
		<span class="welcome_btn_txt">立即加入</span>
	</a>
	#else
	<a href="$!env.getWebURL('/micro2.0/regular/list')" class="welcome_btn">
		<img class="" src="$!env.getWebURL('resources/micro2.0/images/red_pack/welcome_btn.png')" alt="">
		<span class="welcome_btn_txt">立即加入</span>
	</a>
	#end
	<div class="welcome_title">马上加入产品项目，坐等收益</div>
</body>
#Html("end")