#body{width: 100%;height: 100%;background: #54bafd;font-family: "微软雅黑";}
.banner{width:100%;height:890px;background: url(../../../../images/activity/2017/618/banner.jpg) no-repeat center;margin:0 auto;text-align: center;}
.banner_box{width:499px;height: 285px;margin:0 auto;position: relative;padding: 120px 130px 0 0;text-align: right;}
.banner_img1{position: absolute;top:120px;left: 0;}
.banner_img2{margin-top:-14px;}
.content{width:100%;margin: -335px auto 0;min-height: 10px;}
.box_618{width:1030px;min-height:10px;margin:0 auto;text-align: center;padding-bottom: 42px;}
.title_618{width:100%;margin:0 auto;}
.text_618{width:100%;font-size: 22px;color: #fff;line-height: 30px;font-weight: 300;margin:24px auto 0;}
.text_color{color: #f2e244;font-weight: 400;}
.product_618{width:100%;margin:30px auto 0;height:242px;}
.product_618 li{float: left;width:257px;height: 242px;background: url(../../../../images/activity/2017/618/618_bg1.png) no-repeat center;text-align: center;line-height: normal;}
.product_title{width:100%;font-size: 20px;color: #fff;padding-top: 36px;}
.product_number{width:100%;font-size: 38px;color: #1487d3;padding-top: 44px;}
.product_text{width:100%;font-size: 20px;color: #a3a3a3;padding-top: 2px;}
.prompt_618{width:658px;height: 100px;background: #0d7cbe;margin:18px auto 0;border:2px solid #1db9e9;border-radius: 10px;font-size: 16px;color: #fff;text-align: left;line-height: 24px;padding:20px 0 0 22px;box-shadow:0 2px 30px 6px #5295e1;}
.money_618{width:1014px;margin:62px auto 0;height: 291px;}
.money_618 li{width: 338px;height: 291px;background: url(../../../../images/activity/2017/618/618_bg2.png) no-repeat center;float: left;margin:0 auto 0;line-height: normal;text-align: center;}
.money_number{width: 100%;font-size: 36px;color: #f6401d;padding-top: 58px;}
.money_title{width: 100%;font-size: 24px;color: #fff;padding-top: 52px;}
.money_text{width: 100%;font-size: 16px;color: #fff;padding-top:10px;line-height: 24px;}
.money_btn{width:350px;height: 96px;background: url(../../../../images/activity/2017/618/618_btn1.png) no-repeat center;margin:20px auto 0;}
.money_btn .money_btna{font-size: 24px;color: #1b78bc;display: block;width:100%;height: 58px;padding-top: 38px;}
.rule_618{width:920px;height: 317px;background: #0d7cbe;margin:30px auto 0;border:2px solid #1db9e9;border-radius: 10px;box-shadow:0 2px 30px 6px #5295e1;font-size: 18px;color: #fff;text-align: left;line-height: 30px;padding:30px 40px 0 40px;}

.animated {-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both}
@-webkit-keyframes bounceIn {
	0%,
	100%,
	20%,
	40%,
	60%,
	80% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3)
	}
	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1)
	}
	40% {
		-webkit-transform: scale3d(.9, .9, .9);
		transform: scale3d(.9, .9, .9)
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03)
	}
	80% {
		-webkit-transform: scale3d(.97, .97, .97);
		transform: scale3d(.97, .97, .97)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
}
@keyframes bounceIn {
	0%,
	100%,
	20%,
	40%,
	60%,
	80% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		-ms-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3)
	}
	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		-ms-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1)
	}
	40% {
		-webkit-transform: scale3d(.9, .9, .9);
		-ms-transform: scale3d(.9, .9, .9);
		transform: scale3d(.9, .9, .9)
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		-ms-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03)
	}
	80% {
		-webkit-transform: scale3d(.97, .97, .97);
		-ms-transform: scale3d(.97, .97, .97);
		transform: scale3d(.97, .97, .97)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
}
.bounceIn {-webkit-animation-name: bounceIn;animation-name: bounceIn;-webkit-animation-duration: .75s;animation-duration: .75s}

