<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<completeMenu name="微社区"
		url="http://bbs.insigmaedu.com/plugin.php?id=wechat:access">
		<subMenu>
			<name>移动互联网</name>
			<type>view</type>
			<url>http://bbs.insigmaedu.com/forum.php?mod=forumdisplay&amp;fid=2
			</url>
		</subMenu>
		<subMenu>
			<name>学员口水</name>
			<type>view</type>
			<url>http://bbs.insigmaedu.com/forum.php?mod=forumdisplay&amp;fid=37
			</url>
		</subMenu>
		<subMenu>
			<name>编程语言</name>
			<type>view</type>
			<url>http://bbs.insigmaedu.com/forum.php?mod=forumdisplay&amp;fid=38
			</url>
		</subMenu>
	</completeMenu>
	<completeMenu name="实训课程">
		<subMenu>
			<name>课程简介</name>
			<type>view</type>
			<url>http://www.qiuxueke.com/miracle/weixin/index.htm</url>
		</subMenu>
		<subMenu>
			<name>在线咨询</name>
			<type>view</type>
			<url>http://www.qiuxueke.com/miracle/weixin/online_chat.htm</url>
		</subMenu>
		<subMenu>
			<name>在线报名</name>
			<type>view</type>
			<url>http://www.qiuxueke.com/miracle/weixin/baoming.htm</url>
		</subMenu>
	</completeMenu>
	<completeMenu name="精品课堂">
		<subMenu>
			<name>微信开发</name>
			<type>view</type>
			<url>http://v.qq.com/page/z/m/7/z0133483wm7.html</url>
		</subMenu>
	</completeMenu>
</menu>