body {
	width: 100%;
	margin: 0 auto;
	font-family: "微软雅黑";
	background: #f5f5f5;
}

.exchangeMain {
	width: 1080px;
	margin: 0 auto 100px;
}

.exchangeBox {
	width: 100%;
	height: auto;
	background: #fff;
	margin: 20px auto 0;
	padding: 20px 0;
}

.exchangeTitle {
	width: 1040px;
	margin: 0 auto;
	height: 40px;
	background: #F5F5F5;
}

.exchangeTitleProduct,
.exchangeTitleCollectGoods,
.exchangeTitleDeliverGoods,
.exchangeTitleExpenditure,
.exchangeTitleState {
	float: left;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	color: #333;
	width: 16%;
}

.exchangeTitleProduct {
	width: 22%;
}

.exchangeTitleExpenditure {
	margin-left: 90px;
}

.exchangeNone {
	width: 100%;
	height: 664px;
	margin: 0 auto;
	padding-top: 330px;
}

.exchangeNoneImg {
	display: block;
	width: 220px;
	height: 220px;
	margin: 0 auto;
}

.exchangeNoneTxt {
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: #666;
	line-height: 16px;
	margin: 14px auto 0;
}

.exchangeHave {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding-top: 10px;
}

.exchangeHaveList {
	width: 1038px;
	height: 128px;
	margin: 20px auto 0;
	border: 1px solid #DEDEDE;
}

.exchangeHaveListTitle {
	width: 100%;
	height: 40px;
	background: #f5f5f5;
}

.exchangeHaveListTitleTxt {
	float: left;
	width: 230px;
	font-size: 14px;
	color: #333;
	line-height: 40px;
	padding-left: 20px;
}

.exchangeHaveListContent {
	width: 100%;
	height: 74px;
	margin: 0 auto;
	padding-top: 14px;
	font-size: 14px;
	color: #666;
}

.exchangeHaveListContentProduct,
.exchangeHaveListContentName,
.exchangeHaveListContentExpenditure,
.exchangeHaveListContentCollectGoods,
.exchangeHaveListContentState,
.exchangeHaveListContentDeliverGoods {
	float: left;
}

.exchangeHaveListContentProduct {
	width: 80px;
	height: 60px;
	margin-left: 10px;
}

.exchangeHaveListContentImg {
	display: block;
	width: 100%;
	height: 100%;
}

.exchangeHaveListContentName {
	width: 230px;
	height: 56px;
	margin-left: 16px;
	line-height: 24px;
	padding-top: 4px;
}

.exchangeHaveListContentExpenditure {
	width: 130px;
	text-align: center;
	height: 60px;
	line-height: 60px;
}

.exchangeHaveListContentCollectGoods {
	width: 220px;
	text-align: center;
	height: 60px;
	line-height: 60px;
	position: relative;
}

.exchangeHaveListContentCollectGoodsImg {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../../../images/exchange/exchange02.png) no-repeat center;
	position: relative;
	top: 2px;
	margin-left: 6px;
	cursor: pointer;
}
.exchangeHaveListContentCollectGoodsBox{
	position: absolute;
	top: 40%;
	margin-top: -64px;
	display:none;
}
.exchangeHaveListContentCollectGoods .exchangeHaveListContentCollectGoodsAddress {
	display: inline-block;
	font-size: 12px;
	color: #666;
	padding: 5px 16px;
	position: relative;
	min-width: 210px;
	height: auto;
	text-align: left;
	background: #fff;
	-moz-box-shadow:0px 0px 10px #ccc; 
	-webkit-box-shadow:0px 0px 10px #ccc; 
	box-shadow:0px 0px 10px #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	line-height: 20px;
	border:1px solid #ddd;
}

.exchangeHaveListContentCollectGoodsAddress:after {
	position: absolute;
	display: inline-block;
	bottom: -4px;
	left: 50%;
	margin-left: -3px;
	width: 0;
	height: 0px;
	content: '';
	border-style: dashed;
	border-width: 6px;
	border-color: #fff #fff transparent transparent;
	transform: rotate(135deg);
	box-shadow: 2px -2px 5px #ddd;
}
.exchangeHaveListContentState{
	width: 96px;
	text-align: center;
	height: 60px;
	line-height: 60px;
}
.StatusColor{
	color:#f63;
}
.exchangeHaveListContentDeliverGoods{
	width: 254px;
	text-align: center;
	height: 60px;
	line-height: 60px;
}
.StatusTxt{
	width: 154px;
	height: 56px;
    line-height: 24px;
    padding-top: 4px;
    margin-left:50px;
}



@charset "UTF-8";

/**
 * @version: v1.7
 * @author: xgc-whj
 * @date: 2018-05-25 21:40:00
 * @license: MIT license release
 * @jq22 address: http://www.jq22.com/jquery-info17548
 * @GitHub: https://github.com/w0624/jquery-pagination
 * @description: jQuery分页插件，可自定义样式，默认有五套样式，可自定义插件选项，简单方便，兼容IE8
 */

/*ccs-1*/
#pagination_3{
	text-align:center;
}
.whj_jqueryPaginationCss-1 {
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin:45px auto 25px;
}

.whj_jqueryPaginationCss-1 div {
    display: inline-block;
    vertical-align: bottom;
    height: 28px;
    line-height: 30px;
}

.whj_jqueryPaginationCss-1 .whj_padding {
    
}

.whj_jqueryPaginationCss-1 .whj_bgc {
    background-color: #fff;
    color: #999;
}

.whj_jqueryPaginationCss-1 .whj_border {
    border: 1px solid #e4e4e4;
    min-width:28px;
    height:28px;
    font-size:14px;
    text-align:center;
    cursor:pointer;
}

.whj_jqueryPaginationCss-1 .whj_color {
    color: #999;
}


.whj_jqueryPaginationCss-1 .whj_checked {
    background-color: #f63;
    color: #fff;
}

.whj_jqueryPaginationCss-1 .whj_hoverDisable {
    opacity: 1;
    filter: alpha(opacity=100);
}

.whj_jqueryPaginationCss-1 select {
    height: 28px;
    vertical-align: bottom;
    padding: 0px;
    outline: none;
}

.whj_jqueryPaginationCss-1 input {
    padding: 0px;
    height: 26px;
    outline: none;
    text-align: center;
    width: 60px;
    vertical-align: bottom;
}

.whj_jqueryPaginationCss-1 div, .whj_jqueryPaginationCss-1 input, .whj_jqueryPaginationCss-1 select {
    margin-right: 10px;
}

/*只有设置显示总页数时，该样式才生效*/
.whj_jqueryPaginationCss-1 .whj_totalSizeSingle {
    margin-left: -8px;
}


/*只有设置显示总页数时，该样式才生效*/
.whj_jqueryPaginationCss-5 .whj_totalSizeSingle {
    margin-left: -8px;
}
.fy_l{
	width:53px;
	float: left;
    line-height: 28px;
    display: inline-block;
    font-size: 14px;
    color: #999;
    background-color: #fff;
    background: url(../../../images/exchange/fenye_left.png) no-repeat 15px center;
    padding-left: 15px;
}
.fy_r{
	width:53px;
	float: left;
    line-height: 28px;
    display: inline-block;
    font-size: 14px;
    color: #999;
    background-color: #fff;
    background: url(../../../images/exchange/fenye_right.png) no-repeat 45px center;
    padding-right: 15px;
}