#Html("begin")
#Head("begin")
#Title("币港湾理财官网_安心可靠互联网金融投资理财平台_品听资产_杭商资产_浙大网新_P2P网贷")

<link href="$!env.getWebURL('')/resources/micro/styles/framework.css" rel="stylesheet" type="text/css" media="all" />
<link href="$!env.getWebURL('')/resources/micro/styles/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="$!env.getWebURL('')/resources/micro/styles/custom.css" rel="stylesheet" type="text/css" media="all" />
<link href="$!env.getWebURL('')/resources/micro/styles/touch.css" rel="stylesheet" type="text/css" media="all" />

#Head("end")
<body>
<input type="hidden" id="APP_ROOT_PATH" name="APP_ROOT_PATH" value="$!env.getWebURL('')" />
    <!-- website wrapper starts -->

       #Header("温馨提示","","")

      <!-- header wrapper ends --> 
      
      <!-- notification starts -->
      
      <!-- notification ends --> 
      
      <!--tab-s-->
      
      <div class="pageWrapper contactPageWrapper"> 
       
			<div class="cry222">
           <div class="cry22">
		   <p>此产品为电脑端专享</p>
		    <p>请在电脑端输入以下网址进行购买</p>
			 <p>www.bigangwan.com</p>
		   </div>
            
            </div>
		
		   		
	
		  
   	  </div>
          
          
        </div>

  
  <!--tab-e--> 
  
  <!-- page wrapper starts -->
  
  <!-- page wrapper ends --> 
  
  <!-- footer wrapper starts -->
      
      #Footer("1")

  <!-- footer wrapper ends --> 
  
</div>

</body>
</html>
