#Html("begin")
#Head("begin")
#Title("币港湾理财官网_安心可靠互联网金融投资理财平台_品听资产_杭商资产_浙大网新_P2P网贷")

#LoadCSS('/resources/micro/styles/framework')
#LoadCSS('/resources/micro/styles/style')
#LoadCSS('/resources/micro/styles/custom')
#LoadCSS('/resources/micro/styles/touch')

<!--首页图片切换css-->
#LoadCSS("/resources/micro/styles/index_banner")
#LoadCSS("/resources/micro/styles/index_banner_basic")
<!--首页图片切换css-->
#LoadJS("/resources/common/scripts/jquery-1.11.1.min")
<!--首页图片切换js-->
#LoadJS("/resources/micro/scripts/common/index_banner")
#LoadJS("/resources/micro/scripts/common/index_banner_2")
<style type="text/css">
a:link {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
a:active {
text-decoration: none;
}
</style>

#Head("end")
<body>
	
    <!-- website wrapper starts -->
    <div style="min-height: 57px;" class="websiteWrapper"> 
	  <!-- header wrapper starts -->
	  <input id="APP_ROOT_PATH" value="$!env.getWebURL('')" type="hidden">
		<!-- header wrapper ends --> 
      
      <!-- notification starts -->
      
      <!-- notification ends --> 
      
      <!--tab-s-->
      <div class="swiper-container" style="min-height:100px!important; max-width:100%!important;">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="$!env.getWebURL('')/micro/wealth/about">
        		<img class="top" src="$!env.getWebURL('')/resources/micro/images/banner11.png" alt="" />
        	  </a>
            </div>
            <div class="swiper-slide">
              <a href="$!env.getWebURL('')/micro/wealth/about#4">
        		<img class="top" src="$!env.getWebURL('')/resources/micro/images/banner21.png" alt="" />
        	  </a>
            </div>
          </div>
          <div class="pagination"></div>
       </div>
      <div class="pageWrapper contactPageWrapper"> 
          
       <div class="zhut">
           <div class="yaoz">
               <a href="$!env.getWebURL('/micro/wealth/share')"><div class="yaol"><span>邀</span> 邀请</div></a>
               <a href="$!env.getWebURL('/micro/user/regist/index')"><div class="zhuanr">注册<span>赚</span> </div></a>
           </div>  
		   <a href="$!env.getWebURL('/micro/regular/detail?id=')$!productId">
               <div class="lilv">
				   <p style="margin-top:35px;">年化收益</p>
				   <p style="line-height:75px;">
						<span style="font-size:60px;color:#ed6042;">
						#if("$!userType"=="PROMOT") 
							&nbsp;&nbsp;9+1
						#else 
							&nbsp;&nbsp;9
						#end
						</span>%
				   </p>
				   <p style="z-index:99;line-height:58px;">定期理财&nbsp;<span>1</span>个月</p>
               </div> 
		   </a>
           <div class="zuid" style="line-height:20px;top:-40px;padding-top:1px;padding-bottom:9px;">
				&nbsp;&nbsp;
				##本息保障&nbsp;&nbsp;100起投
				#if("$!userType"=="PROMOT") 
					<a href="$!env.getWebURL('/micro/regular/detail?id=11')" style="color: #cac9c7;">想买更多？</a>
				#else 
					<a href="$!env.getWebURL('/micro/regular/detail?id=15')" style="color: #cac9c7;">想买更多？</a>
				#end
				
		   </div>
           <div class="qiangg"><a href="$!env.getWebURL('/micro/regular/buy?id=')$!productId">立即抢购</a></div>
           <div class="safe"><a href="$!env.getWebURL('/micro/wealth/about#4')">安全在哪里？</a></div>
       </div>
             
            </div> 
        
        </div>


	  <!--tab-e-->

      
      <!-- footer wrapper starts -->
#Footer("1")
#WeiChatShare("币港湾安全理财平台，拥有杭商国资和著名上市集团公司浙大网新的丰厚背景，打造全国性互联网理财平台。","取名'币港湾'，'币'乃财富与钱币的象征，'港湾'即为资金避险、存留、投资的港湾。背靠国企、上市公司优质资源，为投资者提供优质的小微债权，注册推荐有惊喜！www.bigangwan.com","$!env.getWebURL('/resources/micro/images/bgw.jpg')","$!weichat.link",$!weichat.appid,$!weichat.timestamp,$!weichat.nonceStr,$!weichat.signature)
<!-- footer wrapper ends --> 
      
    
	<!-- website wrapper ends -->


</body></html>