.recharge{
    padding-top: 20px;
}
.recharge_content{
    width: 330px;
    margin: 0 auto 40px;
}
.recharge_rule h5{
    font-size: 16px;
    line-height: 20px;
}
.recharge_rule{
    border-top:solid 1px #e5e5e5;
    padding: 20px 0 0;
}
.recharge_rule ul,.recharge_rule ul li{
    list-style: square;
}
.recharge_rule ul{
    padding-left: 20px;
}
.recharge_rule ul li{
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}