.trade_wrap{
    width: 800px;
    margin: 30px auto 50px;
    background: #fff;
    border-top:solid 2px #FF6633;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.color_font{
    color: #ff6633;
}
.trade_wrap h2,.trade_wrap h3,.trade_wrap h4,.trade_wrap h5{
    line-height: normal;
    color: #333;
    margin: 0 0 15px;
}
.trade_wrap p{
    color: #666;
    font-size: 14px;
    margin: 0 0 10px;
    line-height: normal;
}
.trade_wrap ul,.trade_wrap li,.trade_wrap ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

.trade_data{
    color: #999;
    font-size: 14px;
    margin-bottom: 20px;
    padding-left: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.trade_input{
    height: 40px;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.trade_input>p{
    line-height: 40px;
    color: #999;
    font-size: 14px;
    float: left;
}
.trade_input .trade_data{
    float: left;
    line-height: 40px;
}
.trade_input form{
    float: left;
}
.trade_input input[type="text"], .trade_input input[type="date"], .trade_input input[type="password"], .trade_input input[type="email"],.trade_input input[type="number"],.trade_input input[type="tel"]{
    float: left;
    width: 260px;
    height: 40px;
    line-height: 38px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:solid 1px #e5e5e5;
    background: #f5f5f5;
    font-size: 14px;
    padding: 0 15px;
}
.trade_input_wrap{
    float: left;
    width: 260px;
    height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.trade_submit{
    height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.trade_submit button{
    width: 260px;
    background: #FF6633;
    border: none;
    color: #fff;
    float: right;
    font-size: 14px;
    line-height: 40px;
}
.trade_submit button:hover{
    background: #e55b2d;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:#c5c5c5;
}
　　:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#c5c5c5;
}
　　::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#c5c5c5;
}
　　:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#c5c5c5;
}

.trade_tips{
    font-size: 12px;
    color: #999;
}
.text_center{
    text-align: center;
}
.text_left{
    text-align: left;
}
.text_right{
    text-align: right;
}
.row{
    margin-left: -10px;
    margin-right: -10px;
}
.row:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
}


/*悬浮窗*/
.overwrap{
    position: fixed;
    z-index: 20;
    top:0;bottom: 0;
    left: 0;right: 0;
    background-color: rgba(0,0,0,.35);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c000000,endColorstr=#4c000000);
    display: none;
}
.overwrap_content{
    width: 500px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    display: none;
}
.overwrap_content h3{
    font-size: 16px;
    color: #FF6633;
    margin-bottom: 20px;
    text-align: center;
}
.overwrap_data{
    line-height: 20px;
    margin-bottom: 10px;
    height: 20px;
}
.overwrap_data .overwrap_data_left{
    float: left;
    text-align: right;
    font-size: 14px;
    color: #999;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.overwrap_data .overwrap_data_right{
    float: left;
    text-align: left;
    font-size: 14px;
    color: #999;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.overwrap_button{
    height: 40px;
    margin-top: 20px;
}
.overwrap_button_left,.overwrap_button_right{
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.overwrap_button_a{
    width: 140px;
    height: 40px;
    color: #fff;
    font-size: 14px;
    background: #FF6633;
    display: block;
    margin: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
}
.overwrap_button_left .overwrap_button_a{
    float: right;
    margin-right: 15px;
}
.overwrap_button_right .overwrap_button_a{
    float: left;
    margin-left: 15px;
}
.overwrap_button .overwrap_cancel{
    background: #fcfcfc;
    border: solid 1px #e5e5e5;
    color: #999;
}