#Html("begin")
#GenHead("begin","互联网金融平台，互联网金融，币港湾，币港湾官网","币港湾官网，国资背景安心收益，为您提供互联网金融服务，是优质的互联网金融服务平台。")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadGenCSS("/resources/mall/styles/common/default")
#LoadGenCSS("/resources/mall/styles/static/mall_landing_pagepc")
#GenHead("end")
<body>
   #Gen178Header("home")
   <div class="landingPageBanner"></div>
	<div class="landingPageCenter">
		<div class="landingPageCbox">
			<div class="landingPageCleft">
				<div class="landingPageIphone">
					<div class="landingPageWallpaper">
						<div class="landingPageName">
							<span class="landingPageNameText">微信公众号</span>
						</div>
						<div class="landingPageLine"></div>
						<div class="landingPageEm">
							#if($!agentViewFlag == "15")
								<img class="landingPageEmImg" src="$!env.get('gen.server.web')/resources/gen178/images/em.jpg" />
							#elseif($!agentViewFlag == "36")
								<img class="landingPageEmImg" src="$!env.get('gen.server.web')/resources/gen178/images/kq/em.jpg" />
							#elseif($!agentViewFlag == "46")
								<img class="landingPageEmImg" src="$!env.get('gen.server.web')/resources/gen178/images/haining/em.jpg" />
							#elseif($!agentViewFlag == "47")
								<img class="landingPageEmImg" src="$!env.get('gen.server.web')/resources/gen178/images/ruian/em.jpg" />
                            #elseif($!agentViewFlag == "54")
                                <img class="landingPageEmImg" src="$!env.get('gen.server.web')/resources/gen178/images/qhd/st/em.png" />
							#end
						</div>
					</div>
				</div>
			</div>
			<div class="landingPageCright">
				<div class="landingPageTitle">尊敬的币港湾用户：</div>
				<div class="landingPageTxt">您好！为了提供更优质的服务，给您一个更好的体验，平台已上线手机端积分商城兑换功能。</div>
				<img class="landingPagetimg" src="$!env.get('gen.server.web')/resources/mall/images/static/landingPage02PC.png" />
				#if($!agentViewFlag == "15")
					## 钱报
                    <div class="landingPageTxt">如您需要使用相关功能，请扫描左侧二维码或在微信搜索qb178lc公众号，关注微信公众号进币港湾微信端【更多—积分商城】进行体验。</div>
				#elseif($!agentViewFlag == "36")
                    ## 柯桥
                    <div class="landingPageTxt">如您需要使用相关功能，请扫描左侧二维码或在微信搜索sxtc0575公众号，关注微信公众号进币港湾微信端【更多—积分商城】进行体验。</div>
				#elseif($!agentViewFlag == "46")
					## 海宁
                    <div class="landingPageTxt">如您需要使用相关功能，请扫描左侧二维码或在微信搜索hainingrb公众号，关注微信公众号进币港湾微信端【更多—积分商城】进行体验。</div>
				#elseif($!agentViewFlag == "47")
					## 瑞安
                    <div class="landingPageTxt">如您需要使用相关功能，请扫描左侧二维码或在微信搜索瑞报财管家公众号，关注微信公众号进币港湾微信端【更多—积分商城】进行体验。</div>
				#end
				
			</div>
		</div>
	</div>
	<div class="landingPageBottom">
		<div class="landingPageBbox">
            <div class="landingPageBleft">
                <div class="landingPageBtitle"><span class="question"><img src="$!env.get('gen.server.web')/resources/mall/images/static/Q.png"></span>什么是积分？</div>
                <div class="landingPageBtext">
                    <span class="anwser">A:</span>
                    币港湾积分是币港湾推出的一种奖励体系，并非契约型固定收益产品，用户可通过积分任务或活动获得相应积分，并用于参与商品兑换等活动。
                </div>

                <div class="landingPageBtitle"><span class="question"><img src="$!env.get('gen.server.web')/resources/mall/images/static/Q.png"></span>如何获得积分？</div>
                <div class="landingPageBtext">
                    <span class="anwser">A:</span>
                    1、用户可通过成功注册、开通存管账户、完成风险测评、成功加入产品、签到等行为获得相应积分；<br>
                    2、成功加入产品积分规则：与用户每笔出借可获得的年化收益挂钩，比例关系为：<br>
                    ①2元年化收益=1积分（1积分=50%年化收益）<br>
                    举例：用户加入10000元的到期还本付息产品，预期年化为7%，期限90天，可获得的收益为172.6元，四舍五入，那么该用户可以获得的积分为86；<br>
                    ②若使用加息券举例：假设用户在上述基础上使用了1%的加息券，可获得的加息收益为24.66元，总收益为24.66元+172.6元=197.26元，四舍五入，那么该用户可以获得的积分为99；<br>
                    3、签到送积分规则：每天签到均可获得积分，以7天为一个循环，每连续签到7日可获得额外积分；<br>
                    4、后期参与活动也可获得相应积分，具体请关注币港湾活动。
                </div>
            </div>
            <div class="landingPageBright">
                <div class="landingPageBtitle"><span class="question"><img src="$!env.get('gen.server.web')/resources/mall/images/static/Q.png"></span>如何查询积分？</div>
                <div class="landingPageBtext">
                    <span class="anwser">A:</span>
                    获得的积分可在“积分商城-积分记录”中查看积分明细。
                </div>
                <div class="landingPageBtitle"><span class="question"><img src="$!env.get('gen.server.web')/resources/mall/images/static/Q.png"></span>如何使用积分？</div>
                <div class="landingPageBtext">
                    <span class="anwser">A:</span>
                    获得积分可在积分商城中兑换积分，或后期活动中使用积分，具体请关注币港湾活动。<br>
                    积分商城兑换方式如下：<br>
                    1、手机端进入积分商城，选择需要兑换的商品；<br>
                    2、点击兑换按钮，根据页面提示填写所需信息，提交订单；<br>
                    3、积分兑换的商品无法开具发票；网站商品图片仅供参考，以实物为准，币港湾有权以其他等值商品替换原商品；优惠券、话费等虚拟商品一经兑换，不可退换货；实物商品一经兑换，如遇质量问题可联系在线客服进行换货处理；<br>
                    4、兑换后，在我的兑换中查询订单状态；<br>
                    5、积分一经兑换，无法退回，请谨慎退换。
                </div>
                <div class="landingPageBtitle"><span class="question"><img src="$!env.get('gen.server.web')/resources/mall/images/static/Q.png"></span>积分声明</div>
                <div class="landingPageBtext">
                    <span class="anwser">A:</span>
                    币港湾平台将可能根据运营发展会对积分规则进行调整、修改或取消，具体以币港湾平台公示内容为准，对已经兑换使用的积分仍适用兑换发生时的公示规则。
                </div>
            </div>
            <div class="clearfix"></div>
		</div>
	</div>
   #Gen178Footer()
</body>
#Html("end")