html,body{background:#f5f5f5;}
.main{width:100%;_height:200px;min-height:200px;background: #f5f5f5;margin:0 auto;}
.main_top{width:1200px;height:41px;margin:0 auto;}
.mt_al,.mt_ar,.span{font-size: 12px;color:#333;line-height: 41px;}
.mt_al{padding-right: 8px;}
.mt_ar{padding-left: 8px;}
.main_center{width:1179px;height:95px;margin:0 auto;background:#fff;padding:14px 0 0 19px;}
.mc_top{width:100%;height:20px;line-height: 20px;font-size: 12px;margin: 1px 0;}
.mc_top .mctspan{float: left;color:#565658;}
.mc_top .mct_a{float: left;color:#565658;}
.mc_top .mc_at{float: left;color:#565658;}
.mc_top .mct_a,.mc_at{margin:0 12px 0 12px;display: block;padding:0 12px 0 12px;height:20px;text-align: center;line-height: 20px;border-radius: 10px;}
.mc_top .mc_at{color:#fff;background:#ff6633;margin:0 12px 0 12px;display: block;padding:0 12px 0 12px;height:20px;text-align: center;line-height: 20px;border-radius: 10px;}
.mc_top a:hover{color:#ff6633;}
.main_down{width:1200px;height:1044px;margin:0 auto;}
.clearfix{clear: both;height: 0;}

.md_ul{width:1230px;height:320px;margin-top:28px;}
.md_ul li{width:277px;height:318px;border:1px solid #e4e4e4;background:#fff;text-align: center;float: left;margin-right: 28px;position:relative;}
.md_ul .md_ulli{margin-right:0;}
.md_divone{font-size: 16px;color:#666;line-height: 16px;margin-top:30px;}
.md_divtwo{font-size: 12px;color:#999;line-height: 12px;margin-top:42px;}
.md_divthr{font-size: 36px;color:#ff6633;line-height: 44px;margin-top:12px;}
.md_divthr .md_thrspan{font-size: 18px;}
.md_divfou{font-size: 14px;color:#999;line-height: 14px;margin-top:42px;text-align: left;width:100%;height:14px;}
.md_divfou .md_fouspan{float: left;padding-left: 18px;}
.md_fouspani{float: right;padding-right: 16px;}
.md_divfiv{font-size: 18px;color:#000000;line-height: 25px;margin-top:4px;text-align: left;width:100%;height:25px;}
.md_divfiv .md_fivspan{float: left;padding-left: 18px;}
.md_divfiv .md_fivi{float:right;padding-right:16px;}
.md_divsix{width:258px;height:14px;line-height: 11px;padding-left:19px;margin-top:10px; clear:both;}
.md_divsix i{font-size: 14px;color:#999;margin-left: -15px;}
.md_six{width:208px;height:5px;background:#e4e4e4;border-radius:4px ;float: left;margin-top:4px;}
.md_six .md_sixspan{display: block;width:40%;height:5px;background:#6699cc;border-radius:4px ;}
.md_sev{font-size: 12px;color:#999;text-align: left;padding-left: 19px;line-height: 12px;}
.md_ul li .md_a{display: block;width:277px;height: 40px;background:#ff6633;color:#fff;font-size: 14px;line-height: 40px;margin-top:20px;}
.md_divfiv .md_fivspan1{float: left;padding-left: 18px;width:auto;height:25px;}
.md_divfiv .md_fivi1{float:right;height: 25px;width:auto;text-align:right;padding-right:19px;}
.md_divfiv .md_fivspan2{float: left;padding-left: 18px;width:auto;height:25px;}
.md_divfiv .md_fivi2{float:right;height: 25px;width:auto;text-align:right;padding-right:19px;}


.md_ulcopy .md_divthr{font-size: 36px;color:#666666;line-height: 44px;margin-top:12px;}
.md_ulcopy .md_divthr .md_thrspan{font-size: 18px;}
.md_ulcopy .md_six .md_sixspan{display: block;width:100%;height:5px;background:#6699cc;border-radius:4px ;}
.md_ulcopy .md_divsix i{font-size: 14px;color:#999;margin-left: -10px;}
.md_ulcopy li .md_a{background:#e8ecef;color:#666666;}

.fenye{height:30px;line-height: 30px;margin-bottom: 60px; text-align:center;margin-top:20px;}
.fenye a{
	float: left;
	line-height:28px;
	display: inline-block;
	font-size: 14px;
	color:#666;
	background-color:#fff;
	border:1px solid #e4e4e4;
}
.fy_l{width:70px;box-sizing:border-box;height:30px;background:url(../../images/fenye_left.png) no-repeat 15px 9px;padding-left: 15px;margin-right:10px;}
.fy_ll{width:30px;height:30px;box-sizing:border-box;background:url(../../images/fenye_left.png) no-repeat center;margin-right:10px;}
.fenye .fy_c{width:30px;height:30px;border-left: 1px solid #e4e4e4;border-right: 1px solid #e4e4e4;color:#999;text-align: center;margin-right:10px;box-sizing:border-box;}
.fy_rr{width:30px;height:30px;background:url(../../images/fenye_right.png) no-repeat center;box-sizing:border-box;margin-right:10px;}
.fy_r{width:70px;height:30px;background:url(../../images/fenye_right.png) no-repeat 49px 9px;padding-right: 15px;box-sizing:border-box;}




/* 2017.6.19 �������޸� */
.product_banner{
	height:300px;
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom:30px;
}
.main_center{
	padding: 0 20px;
	margin:30px auto 20px;
	height: auto;
	width:1080px;
	box-sizing:border-box;
}
.mc_top{
	
	height:49px;
	line-height:49px;
	border-bottom:dashed 1px #e5e5e5;
}
.main_center .mc_top:last-child{
	border-bottom:none;
}
.mc_top .mctspan{
	margin-right:20px;
	color:#666;
}
.mc_top .mct_a, .mc_at{
	display:inline-block;
	margin:15px 30px;
	margin-left:0;
	padding:0;
	color:#999999;
}
.mc_top .mc_at{
	margin:15px 30px;
	margin-left:0;
	padding:0;
	background:transparent;
	color:#ff6633;
}
.main_down{
	width:1100px;
	height:auto;
}
.md_ul{
	width:1100px;
	height:auto;
	margin-top:0;
}
.md_ul:after{
	content:"";
	display:block;
	height:0;
	clear:both;
}
.md_ul li{
	width:25%;
	box-sizing:border-box;
	padding:10px;
	margin-right:0;
	height:auto;
	border:none;
	background:transparent;
}
.md_ul li .md_card{
	background:white;
	position:relative;
	border-top:solid 2px #ff6633;
}
.md_ul li .pro_finish{
	border-color:#c5c5c5;
}
.md_divone{
	font-size: 16px;
    color: #333333;
    line-height: 50px;
    text-align: center;
    border-bottom: solid 1px #f0f0f0;
    margin:0;
}
.md_divthr{
	margin:20px 0 5px;
	line-height:44px;
}
.md_divtwo{
	margin-top:0;
	padding-bottom:19px;
	border-bottom: solid 1px #f0f0f0;
}
.md_divfiv{
	height:49px;
	margin:0;
	text-align:center;
	border-bottom: solid 1px #f0f0f0;
}
.md_divfiv .md_fivspan{
	float:left;
	width:49.5%;
	line-height:49px;
	padding:0;
	font-size:14px;
	color:#999;
}
.md_divfiv .md_fivspan:first-child{
	border-right: solid 1px #f0f0f0;
}
.md_divfiv .md_fivspan strong{
	color:#666;
}
.md_divsix{
	width:auto;
	padding:15px 20px 10px;
	margin:0;
	height:6px;
}
.md_six{
	width:100%;
	height:6px;
    border-radius: 3px;
    background-color: #e5e5e5;
    overflow: hidden;
    margin:0;
}
.md_six .md_bg{
	height: 100%;
    overflow: hidden;
    border-radius: 3px;
}
.md_six .md_bg .md_sixspan{
	background: #ff6633;
    height: 6px;
    width: 255px;
    background: linear-gradient( to right, #ffc33c 0, #ff5d3c 100%);
}
.md_sev{
	padding:0 20px 20px;
	border-bottom: solid 1px #f0f0f0;
}
.md_sev i{
	float:right;
}
.md_btn {
	padding:10px 20px;
}
.md_ul li .md_card .md_btn .md_a{
	display: block;
	width:100%;
	margin:0;
    height: 36px;
    line-height: 35px;
    border:solid 2px #ff6633;
    border-radius: 20px;
    color: #ff6633;
    font-size: 16px;
    transition:  .2s;
    text-align: center;
    background:transparent;
}
.md_ul li .md_card .md_btn .md_a:hover{
	background: #ff6633;
    color: #ffffff;
}
.md_ul li .md_card .md_finish_btn .md_a{
	border-color:#c5c5c5;
	color:#999;
}
.md_ul li .md_card .md_finish_btn .md_a:hover{
	background: #c5c5c5;
}

.fenye_wrap{
	display:inline-block;
}
.fenye .fenye_wrap .fy_atpage{
	background:#ff6633;
	border:solid 1px #ff6633;
	color:#fff;
}

/*
* 新增加息券展示
*/

.md_divthr_left{
	float: left;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 5px;
	text-align: right;
}
.md_divthr_right{
	float: left;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 5px;
	text-align: left;
}
.activity_tag{
	line-height: 24px;
	height: 24px;
	margin-bottom: 6px;
}
.activity_tag span{
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	border-radius:12px;
	background: #FFC33C;
	height: 24px;
	display: inline-block;
	font-size: 14px;
	color: #fff;
	padding: 0 10px;
	position: relative;
	top:-9px;
}
.redpack_tag{
	line-height: 14px;
	font-size: 14px;
	color: #ff6633;
}
.md_divthr_right .activity_tag_middle{
	padding: 10px 0;
	margin-bottom: 0;
}
.md_divthr_right .redpack_tag_middle{
	padding: 15px 0;
}
.pro_finish .activity_tag span{
	background: #999;
}
.pro_finish .redpack_tag{
	color: #999;
}