#Html("begin")
#Head("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadCSS("resources/micro2.0/styles/activity/default")
#LoadCSS("resources/micro2.0/styles/activity/lantern2017/Shake")
#LoadJS("resources/micro2.0/scripts/common/common")
#LoadJS("resources/micro2.0/scripts/activity/six")
#LoadJS("resources/micro2.0/scripts/activity/lantern2017/Shake")
#WeChatShare()
#Head("end")
<input type="hidden" value="$!env.getWebURL('')" id="APP_ROOT_PATH" />
<body class="shakeBg">
<div class="right_font_activity">活动规则</div>
<div class="topwin">
    <img src="$!env.getWebURL('')/resources/micro2.0/images/activity/lantern2017/01.png" alt="" class="winImg">
</div>
<div class="title_div">
    <img src="$!env.getWebURL('')/resources/micro2.0/images/activity/lantern2017/02.png" alt="" class="titleImg">
</div>
<div class="main_wrap">
    <img src="$!env.getWebURL('')/resources/micro2.0/images/activity/lantern2017/03.png" alt="" class="mainImg">
</div>

<!-- 信息提示框 -->
<div class="message_toast dialog_notice oneday alert_hide">
    <div class="oneday_white">
        <div class="onedat_title">一天一次，明天再来！</div>
        <img src="$!env.getWebURL('')/resources/micro2.0/images/activity/lantern2017/dialog01.jpg" alt="" class="onedayImg">
        <img src="$!env.getWebURL('')/resources/micro2.0/images/activity/lantern2017/close.png" alt="" class="close">
    </div>
</div>

<!-- 活动规则 -->
<div class="dialog_notice guize alert_hide">
    <div class="oneday_white">
        <div class="guize_titleImg">
            <img src="$!env.getWebURL('')/resources/micro2.0/images/activity/lantern2017/dialog02.jpg" alt="" class="title_guize">
            <ul class="rule_ul">
                <li class="rule_li">
                    <span class="rule_list">1.</span>
                    活动时间：2月9日-2月13日；
                </li>
                <li class="rule_li">
                    <span class="rule_list">2.</span>
                    活动参与对象：币港湾理财所有用户；
                </li>
                <li class="rule_li">
                    <span class="rule_list">3.</span>
                    活动期间每个用户每天有一次机会；
                </li>
                <li class="rule_li">
                    <span class="rule_list">4.</span>
                    奖品派送方式如下:
                    <div class="text_intents">
                        A获得投资红包的用户，可立即在【我的资产】-【我的红包】中查看；
                    </div>
                    <div class="text_intents">
                        B 获得奖励金的用户，可立即在【我的资产】-【我的奖励】中查看；
                    </div>
                </li>
            </ul>
        </div>
        <img src="$!env.getWebURL('')/resources/micro2.0/images/activity/lantern2017/close.png" alt="" class="close">
    </div>
</div>

<!-- 奖励 -->
<div class="award_toast dialog_notice jiangli alert_hide">
    <div class="jiangli_pack_wrap">
        <img src="$!env.getWebURL('')/resources/micro2.0/images/activity/lantern2017/dialog03.png" alt="" class="pack">
        <div class="pack_title">投资红包</div>
        <div class="pack_money">58</div>
        <div class="pack_font_actity">
            投资红包已放至您的账户，您可在【我的资产】-【我的红包】中查看
        </div>
        <img src="$!env.getWebURL('')/resources/micro2.0/images/activity/lantern2017/close.png" alt="" class="close">
    </div>
</div>
</body>
</html>