body{
    font-family: "微软雅黑";
}
.banner-content{
    width: 100%;
    height: 645px;
    min-width: 1000px;
    background: url('images/banner.jpg') top center no-repeat;
}
.sign-content{
    width: 421px;
    height: 538px;
    margin-top:75px;
    background: url('images/signbg.png') no-repeat;
}
.slogan {
    margin-left: 8px;
    position: relative;
    top: 4px;
}
.sign-btn{
    font-size: 18px;
    color: #2a2a2a;
}
.sign-btn a{
    color: #ff6700;
}
.sign-content .title{
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    font-size: 16px;
    color: #ffffff;
}
.sign-content .text{
    width: 295px;
    height: 40px;
    line-height: 40px;
}
.sign-content .text input{
    height: 39px;
    line-height: 39px;
    border-radius: 5px;
    width: 240px;
    font-size: 18px;
    padding-left: 10px;
    border: 1px #f05649 solid;
}
.sign-content .tab-content{
    margin: 0 auto;
    margin-top:3px;
    width: 288px;
    height:64px;
    margin-bottom: 25px;
    color: #697490;
    font-size: 18px;
    background: url('images/tab-bg.png') no-repeat;
}
.sign-content .tab-content .tab-mobile{
    position: absolute;
    height: 50px;
    line-height:50px;
    text-align: center;
    width: 138px;
    margin-left: 3px;
    margin-top: 1px;
    cursor: pointer;
    background: url('images/tab-mark.png') no-repeat;
}
.sign-content .tab-content .tab-email{
    position: absolute;
    height: 50px;
    line-height:50px;
    text-align: center;
    width: 138px;
    margin-top: 1px;
    margin-left: 141px;
    cursor: pointer;
}
.errortip{
    color: #ffffff;
    width: 275px;
    margin-left: 125px;
    height: 35px;
    line-height: 35px;
}
.sign-info .text .code-txt{
    width: 120px;
}
.sign-info .text .code-btn{
    width: 120px;
    margin-left: 5px;
    border: 0;
    background-color: #5bc635;
    color: #ffffff;
    height: 39px;
    font-size: 14px;
    border-radius: 5px;
}
.sign-info .agreement{
    width: 410px;
    text-align: center;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    color: #2a2b28;
}
.sign-info .agreement a{
    color: #139cff;
    padding: 0 3px;
}
.banner2-content{
    width: 100%;
    min-width: 320px;
    background-color: #4d99cb;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
}
.banner2-content1{
    width: 100%;
    min-width: 1000px;
    background-color: #fff;
    height: 569px;
    text-align: center;
}
.banner2-content .title-pk{
    width: 100%;
    text-align: center;
    height: 110px;
    color: #ff7b47;
    font-size: 36px;
    line-height: 110px;
    border-bottom: 1px #add7da solid;
}
.banner2-content .title-pk div{
    border-bottom: 3px #ff7b47 solid;
    width: 225px;
    margin: 0 auto;
    height: 107px;
}
.data-content{
    background-color: #52c88e;
    width: 100%;
	height:880px;
    min-width: 320px;
 
}

.data-content .data-title div{
	background:url('../images/bg2.png') no-repeat center top;
    width: 320px;
    margin: 0 auto;
    height: 50px;
	line-height:50px;
	font-size:24px;
	text-align:center;
	color:#fff;
	position:relative;
	top:-5px;
}

.data-content .data-info{
    min-width: 320px;
    height: 1000px;
    margin: 0 auto;

}
.data-info .data-day{
    width: 250px;
    text-align:center;
    height: 30px;
    font-size: 24px;
    color: #fff;
	margin:auto;
	padding-top:150px;
}

.data-info .data-cont{
    width: 300px;
    text-align:center;
    height: 30px;
    font-size: 24px;
    color: #fff;
    padding-top: 280px;
	margin:auto;

}
.data-info .data-earn{
    width: 300px;
    text-align:center;
    height: 30px;
    font-size: 24px;
    color: #fff;
	margin:auto;
    padding-top: 300px;

}

.utterance-content{
    width: 100%;
    min-width: 320px;
    height: 650px;
    background: #e2f5f6;
}
.utterance-title{
    width: 100%;
    text-align: center;
    height: 50px;
    color: #ffffff;
    font-size: 36px;


}
.utterance-title div{
	background:url(../images/bg4.png) no-repeat;
   width: 320px;
    margin: 0 auto;
    height: 50px;
	line-height:50px;
	font-size:24px;
	text-align:center;
	color:#fff;
	position:relative;
	top:-5px;

}


.utterance-info{
    min-width: 320px;
    height: 585px;
    margin: 0 auto;
  
}
.utterance-info2 {
    background: url("../images/bg6.jpg") no-repeat center top;
    height: 300px;
    margin: 0 auto;
    min-width: 320px;
}

.sumitbtn{
    position:absolute;
    width: 355px;
    height: 104px;
    margin-top: 340px;
    margin-left:320px;
    cursor: pointer;
    background: url('images/btn.png') no-repeat;
}
.advantage-content{
    width: 100%;
    min-width: 320px;

    background-color: #ff7d8d;
}
.advantage-title{
    width: 100%;
    text-align: center;
    height: 50px;
    color: #ffffff;
    font-size: 36px;

}
.advantage-title div{
   background:url(../images/bg5.png) no-repeat center top;
    width: 320px;
    margin: 0 auto;
    height: 50px;
	line-height:50px;
	font-size:24px;
	text-align:center;
	color:#fff;
	position:relative;
	top:-5px;
}
.sumitbtn-content{
    width: 1348px;
    height: 1173px;
    margin: 0 auto;
    background:url(../images/bg6.jpg) no-repeat center top;
}
.sumitbtn:hover{
    background: url('images/btn1.png') no-repeat;
}
.media-content{
    height: 400px;
    width: 100%;
    min-width: 320px;
    background-color: #f5f5f5;
}

.media-content .media-title{
    width: 100%;
    text-align: center;
    height: 50px;
    color: #fff;
    font-size: 36px;
    

}
.media-content .media-title div{
   background:url(../images/bg7.jpg) no-repeat #f5f5f5 center top;
    width: 320px;
    margin: 0 auto;
    height: 50px;
	line-height:35px;
	font-size:18px;
	text-align:center;
	color:#fff;
}
.media-content1{
    height: 650px;
    width: 100%;
    min-width: 1000px;
    background-color: #f1f3f2;
}
.media-content1 .media-title1{
    width: 100%;
    text-align: center;
    height: 121px;
    color: #e1a37e;
    font-size: 36px;
    line-height:90px;

}
.media-content1 .media-title1 div{
   background:url(../images/dp5.jpg) no-repeat #f1f3f2;;
    width: 1348px;
    margin: 0 auto;
    height: 121px;

}
.media-net{
    width:320px;
    height: 186px;
    margin: 0 auto;
    background: url('images/media.png') no-repeat;
}
.media-info1{
    width: 150px;
    height: 60px;
    position: absolute;
    margin-top: 70px;
    margin-left: 60px;
    display: block;
}
.media-info2{
    width: 150px;
    height: 60px;
    position: absolute;
    margin-top: 70px;
    margin-left: 242px;
    display: block;
}
.media-info3{
    width: 150px;
    height: 60px;
    position: absolute;
    margin-top: 70px;
    margin-left: 424px;
    display: block;
}
.media-info4{
    width: 150px;
    height: 60px;
    position: absolute;
    margin-top: 70px;
    margin-left: 604px;
    display: block;
}
.media-info5{
    width: 150px;
    height: 60px;
    position: absolute;
    margin-top: 70px;
    margin-left: 780px;
    display: block;
}


.nav{
	background-color:#fff;	
	height: 70px;
	margin-left:auto;
	margin-right:auto;
	width:1250px;
	margin: 0 auto;
}
.nav span{
	float:left;
	margin-left:-5px;
	width:504px;
	height:66px;
}
.nav ul{
	list-style:none;
}
.nav ul li{
	float:left;
	text-align:center;
	width:100px;
	line-height:70px;
	color:#000;
	font-size:18px;
	font-family:"微软雅黑";
}
.cp4{
	width:300px;
	margin: 20px auto auto;
}
.cp5{
	width:250px;
	margin:auto;
}
.wz14 p{
	font-size: 12px;
    margin-left: -170px;
    text-align: center;
}
.wz14{
	width:320px;
	margin:auto;
}
.wz14 span{
	float:left;
	width:98px;
	height:98px;
}
.wz15{
	padding-left: 15px;
}
.wz15 span{
   float: left;
    font-size: 12px;
    text-align: center;
	line-height: 20px;
	margin-top: 10px;
}
.wz16{
	width:250px;

	margin: auto;
}
.wz16 span{
	float:left;
	width:121px;
	height:121px;
	background: url("../images/index_bg.png") no-repeat scroll -248px 0 rgba(0, 0, 0, 0);
}
.wz17{
	color:#fff;
	font-size:20px;
	line-height:20px;
	text-align:center;
}
.wz17 span{
	 display: block;
    margin-left: 10px;
    margin-top: 10px;
}
.wz17 p{
	color:#fff;
	font-size:15px;
	text-align:center;
}
.kh1{
	margin-top:50px;
	margin-left:50px;
	color:#fff;
	font-size:24px;
}
.kh1 span{
	color:#62afe5;
	font-size:18px;
}
.media-net p{
	font-size:12px;
	
}
.th2 {
    background: none repeat scroll 0 0 #fff7d9;
    padding-bottom: 70px;
}

.inner {
    margin: 0 auto;
    width: 320px;
}

.th2 .th2_content {
    margin: 0 auto;
}



.th2 .th2_content dl dd {
    float: left;
}

.th2 .th2_content dl .detail {
   float: left;
    margin-left: 0;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 280px;
}

.th2 .th2_content dl .detail .title {
    color: #eb4256;
    font-size: 20px;
    margin-top: 10px;
    border-bottom: 1px solid #eb4256;
}

.th2 .th2_content dl .detail .t2 {
    color: #eb4256;
    font-size: 24px;
    margin-bottom:10px;
}

.th2 .th2_content dl .detail .w330 {
    color: #7f8583;
    font-size: 15px;
    line-height:25px;
    overflow: hidden;
    padding-bottom: 10px;
    text-align: justify;
    width: 280px;
	padding-top:0px;
}
 .quick_btn {
    background-color: #eb4256;
    border: 0 none;
    box-sizing: border-box;
    color: #fff;
    padding-left: 8px;
    cursor: pointer;
    display: inline-block;
    font-family: "微软雅黑";
    font-size: 18px;
    height: 55px;
    line-height: 55px;
    outline: 0 none;
    text-align: center;
    width: 240px;
	border-left:1px solid #fff;
}

.th2 .th2_content dl .detail .invite_block {
    display: none;
    text-align: center;
}
.btn{
	background-color:#eb4256;
	width:320px;
	margin:auto;
	height:55px;
	display:block;
}
.btn a{
	float:left;
	display:inherit;
	text-decoration:none;
}
.btn img{
	float:left;
	width:30px;
	height:30px;
	padding-left: 20px;
    padding-top: 10px;
    padding-right:20px;
    padding-bottom:20px;
    
}

.th2 .th2_content dl dd .second {
    background: url("../images/index_icon.png") no-repeat scroll 0 -64px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 64px;
    margin-left: 25px;
    margin-right: 10px;
    width: 85px;
}

.banner2-content2{
	background-color: #ff7d8d;
    min-width: 320px;
    text-align: center;
    width: 100%;
}
.banner2-content2 img{
	width:320px;
	height:262px;
	 margin: 0 auto;
}