body{
    margin:0;
    background: #f5f5f5;
}
ul,li,ol,p,h1,h2,h3,h5,h4{
    margin: 0;padding: 0;list-style: none;
}
.clearfix:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.con_right{
    width: 860px;
    margin-left: 20px;
    float: left;
}
.invest_data{
    background: #ffffff;
    padding: 20px;
    margin-bottom: 30px;
}
.data_label{
    height: 39px;
    border-bottom: solid 1px #e5e5e5;
}
.data_label ul li{
    height: 40px;
    line-height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: solid 1px #e5e5e5;
    float: left;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
    background: #fff;
    cursor: pointer;
}
.data_label .data_label_focuse{
    border:  solid 1px #e5e5e5;
    border-top: solid 2px #ff6633;
    border-bottom: none;
}
.data_label .data_label_focuse span{
    color: #ff6633;
}
.invest_regular,.invest_stages{
    display: none;
}
.invest_data .invest_show{
    display: block;
}
.data_content{
    padding: 30px 0;
    border-bottom:solid 1px #e5e5e5;
    margin-bottom: 30px;
}
.Investment .box_show{
    display: block;
}
.data_wrap{
    float: left;
    height: 60px;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}
.data_wrap:first-child{
    border-right:dashed 1px #e5e5e5;
}
.data_wrap p{
    font-size: 14px;
    color: #999;
    line-height: 15px;
}
.data_wrap .data_wrap_number{
    font-size: 18px;
    color: #ff6633;
    font-weight: bold;
    line-height: 20px;
    margin-top: 25px;
}
.product_filter{
    margin-bottom: 15px;
}
.product_filter ul li{
    float: left;
    padding-left: 25px;
    padding-right: 30px;
    font-size: 14px;
    color: #666666;
    position: relative;
    line-height: 15px;
    cursor: pointer;
}
.product_filter ul li span{
    color: #ff6633;
}
.product_filter ul li .product_filter_ico{
    border: solid 1px #c5c5c5;
    position: absolute;
    width: 15px;height: 15px;
    top: 0;
    left:0;
    padding: 2px;
    box-sizing: border-box;
}
.product_filter ul .product_filter_focuse .product_filter_ico i{
    display: block;
    height: 9px;width: 9px;
    background: #ff6633;
}
.product_list .product_card:last-child{
    border-bottom: solid 1px #e5e5e5;
}
.product_list_title ul li{
    float: left;
    width: 110px;
    line-height: 40px;
    text-align: center;
    color: #333;
    font-size: 14px;
    background: #f5f5f5;
}
.product_list_title .fenqi_col li{
    width: 80px;
}
.product_list_title .fenqi_col .fenqi_col_li01{
    width: 100px;
}

.product_list_title .fenqi_col .fenqi_col_li02,
.product_card .fenqi_col .fenqi_col_li02{
    width: 130px;
}
.product_list_title ul li img{
    position: relative;
    top: 5px;
}
.product_card  .fenqi_col li{
    width: 80px;
}
.product_card .fenqi_col .fenqi_col_li03{
    width: 100px;
}
.product_card ul li{
    width: 110px;
    height: 105px;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #666666;
    line-height: 15px;
    box-sizing: border-box;
    position: relative;
    padding-top: 52px;
}
.product_card ul li p{
    font-size: 14px;
    color: #666666;
    line-height: 15px;
    position: relative;
}
.product_card ul li a{
    display: block;
    color: #ff6633;
    line-height: 20px;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}
.product_card ul li a:hover{
    text-decoration: underline;
}
.product_list_title ul .fenqi_col_li04,
.product_card ul .fenqi_col_li04{
    width: 135px;
}
.product_card{
    height: 105px;
    box-sizing: border-box;
    border-bottom: dashed 1px #e5e5e5;
}
.product_card ul{
    height: 105px;
}
.bnt_orange{
    color: #FF6633;
    cursor: pointer;
}
.bnt_orange:hover{
    text-decoration: underline;
}
.product_card ul li>div{
    line-height: 20px;
    position: relative;
    margin-top: -10px;
}
.product_card ul li>.double_row{
    margin-top: -20px;
}
.product_card ul li>.trible_row{
    margin-top: -30px;
}
.product_list_tab{
    display: none;
}
/*!*分页*!*/
/*.paging_nav{width: 100%;text-align: center;height: 26px;margin:40px auto 0;}*/
/*.paging_navbtn{display: inline-block;padding:5px 9px;background: #e4e9ed;font-size: 12px;color: #333;cursor: pointer;margin-right: 6px;line-height: normal;border-radius: 6px;vertical-align:top;}*/
/*!*橘黄色*!*/
/*.paging_navcolor{background: #f0632f;color: #fff;}*/
/*!*无记录*!*/
/*.Investment_tr_title_null{width:100%;height:254px;text-align: center;padding-top: 46px;font-size: 14px;color: #999;line-height: 40px;}*/
/*.Investment_tr_title_null_zan_div,.Investment_tr_title_null_div{width: 100%;min-height: 1px;}*/
/*.Investment_tr_title_null>img{*/
/*display: block;*/
/*margin: auto;*/
/*}*/
/*.fontSize_12{font-size:12px;}*/





/*分页*/
.fenye{height:30px;line-height: 30px; text-align:center;margin-top:20px;}
.fenye a{float: left;display: inline-block;font-size: 14px;color:#666;background-color:#fff;border:1px solid #e4e4e4;}
.fy_l{width:70px;box-sizing:border-box;height:30px;background:url(../../images/fenye_left.png) no-repeat 15px 9px;padding-left: 15px;margin-right:10px;}
.fy_ll{width:30px;height:30px;box-sizing:border-box;background:url(../../images/fenye_left.png) no-repeat center;margin-right:10px;}
.fenye .fy_c{width:30px;height:30px;border-left: 1px solid #e4e4e4;border-right: 1px solid #e4e4e4;color:#999;text-align: center;margin-right:10px;box-sizing:border-box;}
.fy_rr{width:30px;height:30px;background:url(../../images/fenye_right.png) no-repeat center;box-sizing:border-box;margin-right:10px;}
.fy_r{width:70px;height:30px;background:url(../../images/fenye_right.png) no-repeat 49px 9px;padding-right: 15px;box-sizing:border-box;}

.fenye_wrap{
    display:inline-block;
}

.fenye .fenye_wrap .fy_atpage{
    background:#ff6633;
    border:none;
    color:#fff;
}
/*无记录*/
.Investment_tr_title_null{width:100%;height:254px;text-align: center;padding-top: 46px;font-size: 14px;color: #999;line-height: 40px;}
.Investment_tr_title_null_zan_div,.Investment_tr_title_null_div{width: 100%;min-height: 1px;display: block;}
.Investment_tr_title_null>img{
    display: block;
    margin: auto;
}

.invest_hide{ display: none; }
.invest_show{ display: block; }
.color_font{
    color: #FF6633!important;
}

/***************************************加息券新增***************************************************/


.Increase_help{
    display: none;
    text-align: left;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: solid 1px #e5e5e5;
    padding: 10px 15px;
    line-height: 15px;
    font-size: 12px;
    color: #999;
    width: 200px;
    left: -92px;
    bottom: 30px;
    background: #f5f5f5;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.Increase_mark{
    z-index: 4;
    background: #e5e5e5;
    color: #fff;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.Increase_mark:hover{
    background: #ffc33c;
}
.Increase_mark:hover .Increase_help{
    display: block;
}
.help_triangle{
    position: absolute;
    left: 50%;
    bottom: -8px;
    margin-left: -7px;
}