.int_warp{width:680px; margin:26px auto 0px;}
.int_friend{width:779px; height:auto; background:white; border:1px solid #eeeeee; margin-bottom: 20px;
border-radius: 8px; top:100px; left:100px;padding-bottom: 10px;}
.invite_tab_wp{ width:100%; height:auto;}
.tab_ul{ margin:0px;}
.int_warp li.tab_ul{ width:100%; height:39px;}
.int_warp li.tab_list{ width:108px; height:38px;line-height: 38px;font-size: 16px; text-align: center; float: left; color:white; cursor: pointer;}
.active{ background: #ff6633; color:white;}
.tab_line{height:1px; width:100%; background: #ff6633;margin-top: -1px;clear: both;}
.main_one{ display: block; opacity:1;}
.table{ width:100%;height:auto; border:1px solid #e5e5e5;clear: both; margin-top: 18px;}
.table li.ble_item{ height:35px;line-height:35px;font-size:16px;border-right:1px solid #e5e5e5;width:203px;text-align: center; display: inline-block; border-top:1px solid #e5e5e5;}
.table li.ble_gray{border-top:0px;}
.one_out{color:#3393ff;}
.table li.bor_none{border-right:0px;}
.one_cor{ width:248px; }
.table li.pack_width{ width:272px; }
.pack_ul_a, .pack_ul_b{margin:0px;}
.pack_ul_a{background: #eeeeee;}
.pack_ul_b{ /* height:300px; */overflow: auto; }
.no_datas{width:100%; text-align:center; line-height:normal; color:#666666;padding:10px 0px;}