.body{height: 100%;background: url(../../../images/activity/yearEndDraw2016/bodybg.jpg) no-repeat center;background-size: cover;overflow: hidden;}
.mainconter{width: 100%;height: 100%;margin:0 auto;}
.maincommon{width:100%;height: 100%;margin:0 auto;}
.main-txt{width:1044px;height: 100%;margin:0 auto;}
.main_ct1 {width: 100%;height: 100%;position: relative;z-index: 10;}
.bantitle{height: 12.7%;position: absolute;left: 0;top: 5.75%;width: 100%;text-align: center;}
.bantitleimg{max-height: 100%;_height: 100%;max-width: 100%;}
.maincommon-content{position:absolute;top: 24%;height: 64.5%;max-height:515px;margin:0 auto;width:100%;}
.maincontent{height: 100%;_height:100%;position: relative;text-align: center;}
.maincontentimg{max-height: 100%;_height:100%;position: relative;max-width: 100%;}
.mainluckyimg{max-height: 35.3%;_height: 35.3%;max-width: 100%;position: absolute;top:-11%;right: 2%;}
.maincontent-title{height: 16.3%;max-height:80px;position: absolute;left: 0;top: 16%;width: 100%;text-align: center;}
.maincontent-titleimg{max-height: 100%;_height: 100%;max-width: 100%;}
.main-number{width:65%;height: 36%;max-height:186px;position: absolute;top: 31%;left: 50%;margin-left: -30.25%;}
.main-number1{width: 100%;text-align: center;line-height: 186px;color: #ef2d01;font-size: 54px;}
.main-number2{width: 100%;text-align: center;line-height: 186px;color: #ef2d01;font-size: 54px;}
.main-number3{width: 100%;text-align: center;line-height: 186px;color: #ef2d01;font-size: 54px;}
.main-number4{width: 100%;text-align: center;line-height: 186px;color: #ef2d01;font-size: 54px;}
.main-number15{width: 100%;height: 29.5%;padding:32px 0 0 0;margin:0 auto;}
.main-number15ul{font-size: 18px;color: #ef2d01;width:100%;height: 100%;}
.main-number15ul li{width: 21%;line-height: 30px;float: left;padding:0 1.8%;}
.main-prize{font-size:33px;color: #fff;line-height: 36px;position: absolute;top:7%;width: 100%;}
.main-prizeing{font-size:18px;color: #ffd754;line-height: 22px;position: absolute;top:61%;width: 100%;}
.main-prize-btn{height:27.2%;max-height:136px;position: absolute;left: 0;top: 69%;width: 100%;text-align: center;}
.main-prize-btnimg{max-height: 100%;_height: 100%;max-width: 100%;}
.main-prize-btna{display:block;width: 34%;height:43%;margin:0 auto;position: absolute;top:56%;left: 50%;margin-left: -17%;border:0;background:none;cursor: pointer;}
.main-prize-btnaimg{max-height: 90%;_height: 90%;max-width: 100%;}	
.prize-nav li{font-size: 28px;line-height: 52px;}	


.bottom-prize{ width:100%;height:14%;position: absolute;z-index: 3;bottom: 0; }
.NavigatorBg{ position: absolute; left:0px; right:0px; top:0px; bottom:0px;-webkit-transition: all .5s;-o-transition: all .5s;transition: all .5s;:  }
.bottom-prize .prize-nav{ opacity: 0;filter: alpha(opacity=0); -webkit-transition: all .5s;-o-transition: all .5s;transition: all .5s;: }
.bottom-prize:hover .NavigatorBg{ background: #fae4b5;opacity:0;filter: alpha(opacity=0); }
.bottom-prize:hover .prize-nav{opacity: 1;filter: alpha(opacity=100);}
.prize-nav{ width: 100%; max-height:14%;_height:100%;margin:0 auto;    z-index: 2; padding-top: 2%;}
.prize-nav li{float: left;width: 12.76%;height: 56.3%;margin-right: 9%;text-align: center;font-size: 42px;line-height: 60px;position: relative;}
.prize-nav .li .lia{width: 100%;height: 100%;display: block;color: #ff8b22;}
.prize-nav .lihover .lia{width: 100%;height: 100%;display: block;color: #ff3800;}
.prize-nav .li,.lihover,li img{max-height: 100%;_height: 100%;max-width: 100%;}
.prize-nav .lia{position: absolute;top:0;}

#canvas-container{width: 100%;height:40%;position: relative;z-index: 1;}
#canvas-container canvas{width: 100%;height:100%;}


