#body{width: 100%;background: #45b5ff;height: 100%;font-family: "微软雅黑";}
.banner{width: 100%;text-align: center;margin:0 auto;position: relative;}
.banner_img{display: block;width:100%;}
.banner_img1{position: absolute;top: 44px;left: 50%;margin-left: -31%;width:62%;}
.banner_img2{position: absolute;top: 38px;right: 32.5%;}
.content{width:100%;margin:-50px auto 0;position: relative;}
.box_618{width:100%;margin:0 auto;text-align: center;padding-bottom: 28px;}
.title_618{width:100%;margin:0 auto;}
.text_618{width:100%;font-size: 22px;color: #fff;line-height: normal;font-weight: 300;margin:20px auto 0;}
.text_color{color: #f2e244;font-weight: 400;}
.product_618{width:100%;margin:18px auto 0;}
.product_618 li{display:inline-block;text-align: center;line-height: normal;position: relative;}
.product_title{width:100%;font-size: 20px;color: #fff;position: absolute;top: 36px;}
.product_number{width:100%;font-size: 38px;color: #1487d3;position: absolute;top: 106px;}
.product_text{width:100%;font-size: 20px;color: #a3a3a3;position: absolute;top: 158px;}
.prompt_618{width:70%;background: #0d7cbe;margin:18px auto 0;border:2px solid #1db9e9;border-radius: 10px;font-size: 16px;color: #fff;text-align: left;line-height: 24px;padding:20px 3%;box-shadow:0 2px 30px 6px #5295e1;}
.money_618{width:100%;margin:14px auto 0;}
.money_618 li{width: 75%;margin:0 auto 0;line-height: normal;text-align: center;position: relative;}
.money_number{font-size: 36px;color: #fff;position: absolute;display: inline-block;width:28%;left: 5%;top: 55px;}
.money_title{width: 58%;font-size: 26px;color: #ff6724;position: absolute;right: 0;top: 35px;text-align: left;}
.money_text{width: 58%;font-size: 20px;color: #858585;line-height: normal;position: absolute;right: 0;top: 74px;text-align: left;}
.money_btn{width:100%;margin:12px auto 0;text-align: center;position: relative;}
.money_btn .money_btna{font-size: 24px;color: #1b78bc;display: inline-block;width:52%;position: absolute;left: 50%;margin-left: -25.5%;padding: 38px 0;}
.rule_618{width:70%;background: #0d7cbe;margin:14px auto 0;border:2px solid #1db9e9;border-radius: 10px;box-shadow:0 2px 30px 6px #5295e1;font-size: 18px;color: #fff;text-align: left;line-height: normal;padding:20px 3%;}
.animated {-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both}
@-webkit-keyframes bounceIn {
	0%,
	100%,
	20%,
	40%,
	60%,
	80% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3)
	}
	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1)
	}
	40% {
		-webkit-transform: scale3d(.9, .9, .9);
		transform: scale3d(.9, .9, .9)
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03)
	}
	80% {
		-webkit-transform: scale3d(.97, .97, .97);
		transform: scale3d(.97, .97, .97)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
}
@keyframes bounceIn {
	0%,
	100%,
	20%,
	40%,
	60%,
	80% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		-ms-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3)
	}
	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		-ms-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1)
	}
	40% {
		-webkit-transform: scale3d(.9, .9, .9);
		-ms-transform: scale3d(.9, .9, .9);
		transform: scale3d(.9, .9, .9)
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		-ms-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03)
	}
	80% {
		-webkit-transform: scale3d(.97, .97, .97);
		-ms-transform: scale3d(.97, .97, .97);
		transform: scale3d(.97, .97, .97)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
}
.bounceIn {-webkit-animation-name: bounceIn;animation-name: bounceIn;-webkit-animation-duration: .75s;animation-duration: .75s}
.change{ -webkit-animation:change 3s linear infinite;}
@-webkit-keyframes change{
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes change{
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}
}
@-ms-keyframes change{
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}
}
@keyframes change{
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}
}




