ul,li,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
.lucky_lenders{
    background: url(../../../images/activity/lucky_lenders/lucky_leder_bg_h5.jpg);
}
.lucky_lenders_banner{
    background: url(../../../images/activity/lucky_lenders/lucky_leder_banner_h5.jpg) no-repeat center;
    height: 4.96rem;
    -webkit-background-size:100%;
    background-size:100%;
}
.lucky_lenders_container{
    margin: auto;
    padding: 0 0.3rem 0.5rem;
}
.lenders_bar{
    height: 1.7rem;
    background: #7524ed;
    margin-top: -0.65rem;
    margin-bottom: 0.5rem;
    box-shadow: 0px 3px 5px 0px rgba(57, 42, 154, 0.3);
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
}
.lenders_bar_left{
    float: left;
    width: 2.2rem;
    height: 1.7rem;
    position: relative;
}
.lenders_bar_left img{
    width: 100%;
}
.lenders_bar_right{
    float: left;
    width: 4.7rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.4rem 0.2rem 0.4rem;
}
.lenders_bar_left img{
    position: absolute;
    left: 0;
    bottom: 0;
}
.lenders_bar_right p{
    color: #e7d116;
    font-size: 0.22rem;
    line-height: 0.3rem;
}
.lenders_winnerlist{
    position: relative;
    padding: 0.8rem 0.25rem 0.4rem;
}
.lenders_wrap_pic{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 7rem;
}
.lenders_list_content{
    position: relative;
    z-index: 1;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
    background: #f9f4ff;
    margin-bottom: 0.65rem;
    overflow: hidden;
}
.lenders_list_btn{
    margin: 0 auto 0.2rem;
}
.lenders_list_btn a{
    -webkit-border-radius: 0.35rem;
    -moz-border-radius: 0.35rem;
    border-radius: 0.35rem;
    width: 5.4rem;
    height: 0.7rem;
    line-height: 0.7rem;
    color: #fff;
    font-size: 0.28rem;
    background: #6835ed;
    background-image: -moz-linear-gradient( 0deg, rgb(42,134,236) 0%, rgb(117,36,237) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(42,134,236) 0%, rgb(117,36,237) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(42,134,236) 0%, rgb(117,36,237) 100%);
    text-align: center;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 3px 5px 0px rgba(57, 42, 154, 0.3);
}

.lenders_rule{
    padding: 0.7rem 0.25rem 0.3rem;
    position: relative;
}
.lenders_rule_text{
    height: 4.5rem;
    padding: 0.4rem 0.4rem 0.2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #7524ed;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
    position: relative;
    z-index: 1;
}
.lenders_rule h5{
    font-size: 0.3rem;
    color: #fcdc2d;
    line-height: 0.4rem;
}
.lenders_rule p{
    font-size: 0.28rem;
    color: #fcdc2d;
    line-height: 0.35rem;
}

.lenders_list_content .list_null{
    padding-top: 0.5rem;
    padding-bottom: 0.4rem;
}
.lenders_list_content .list_null_img{
    margin-bottom: 0.4rem;
    text-align: center;
}
.lenders_list_content .list_null_img img{
    width: 2.5rem;
}
.lenders_list_content .list_null p{
    font-size: 0.28rem;
    text-align: center;
    line-height: 0.3rem;
    color: #333;
}
.lenders_list_content .list_from{
    background: #7524ed;
}
.lenders_list_content .list_from h5{
    color: #fcdc2d;
    font-size: 0.3rem;
    line-height: 0.6rem;
    height: 0.6rem;
    text-align: center;
}
.lenders_list_content .list_title{
    line-height: 0.6rem;
    height: 0.6rem;
}
.lenders_list_content .list_title .list_title_side{
    float: left;
    line-height: 0.6rem;
    height: 0.6rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    border:solid 1px #c8a7f8;
    text-align: center;
    font-size: 0.24rem;
    color: #fff;
}
.lenders_list_content .list_content{
    overflow: hidden;
}
.lenders_list_content .list_content li{
    height: 0.6rem;
    line-height: 0.6rem;
}
.lenders_list_content .list_content .list_content_odd{
    background: #ebe6f4;
}
.lenders_list_content .list_content .list_content_even{
    background: #fff;
}
.lenders_list_content .list_content li .list_content_side{
    float: left;
    line-height: 0.6rem;
    height: 0.6rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    text-align: center;
    font-size: 0.24rem;
    color: #333;
}