body {
  width: 100%;
  height: auto;
  font-family: "微软雅黑";
  background: #dd372b;
}
.gl_banner {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.gl_banner_img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.gl {
  width: 100%;
  margin: 0 auto;
  background: #dd372b;
  padding-bottom: 0.8rem;
}
.gl_title {
  width: 91%;
  margin: 0.3rem auto 0.06rem;
}
.gl_title_img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.gl_time {
  width: 100%;
  margin: 0 auto;
  font-size: 0.22rem;
  color: #f1c287;
  text-align: center;
  line-height: normal;
}
.gl_content {
  width: 93%;
  margin: 0.22rem auto 0;
  background: #fffaee;
  border-radius: 0.2rem;
  padding-bottom: 0.34rem;
}
.gl_ctitle {
  width: 100%;
  font-size: 0.24rem;
  color: #b66e29;
  text-align: center;
  line-height: normal;
  padding: 0.2rem 0;
  border-bottom: 0.02rem dashed #e2dcd0;
  position: relative;
}
.gl_prin1,
.gl_prin2,
.gl_prin3,
.gl_prin4 {
  background: url(../../../images/activity/redlucky/gl_poin.png) no-repeat center;
  position: absolute;
  bottom: -0.13rem;
  background-size: 0.99rem 0.92rem;
  width: 0.13rem;
  height: 0.26rem;
}
.gl_prin1 {
  background-position: -0.76rem -0.1rem;
  left: -0.02rem;
}
.gl_prin2 {
  background-position: -0.1rem -0.56rem;
  right: -0.02rem;
}
.gl_prin3 {
  background-position: -0.1rem -0.1rem;
  left: -0.02rem;
}
.gl_prin4 {
  background-position: -0.43rem -0.1rem;
  right: -0.02rem;
}
.gl_red {
  width: 100%;
  margin: 0 auto;
  padding: 0.24rem 0;
}
.gl_red_img {
  display: block;
  width: 94%;
  margin: 0 auto;
}
.gl_btn {
  width: 94%;
  height: 0.84rem;
  background: #ffe9ba;
  border-radius: 0.1rem;
  position: relative;
  font-size: 0.3rem;
  color: #b66e29;
  line-height: 0.84rem;
  text-align: center;
  box-shadow: 0 0.08rem 0rem #f6dda8;
  -moz-box-shadow: 0 0.08rem 0rem #f6dda8;
  margin: 0 auto;
}
.gl_btn_img {
  position: absolute;
  top: 0.1rem;
  left: 0.14rem;
  display: none;
  width: 1.18rem;
  height: 0.16rem;
}
.gl_rule {
  width: 93%;
  margin: 0.3rem auto 0;
  font-size: 0.24rem;
  color: #ffdc9d;
  line-height: 0.34rem;
}
.gl_rtitle {
  width: 100%;
}
.gl_rbox {
  width: 100%;
  margin: 0.2rem auto 0;
  position: relative;
}
.gl_num {
  display: inline-block;
  font-size: 0.2rem;
  width: 0.22rem;
  height: 0.22rem;
  border: 0.01rem solid #ffdc9d;
  text-align: center;
  line-height: 0.22rem;
  border-radius: 0.11rem;
  position: absolute;
  top: 0.05rem;
  left: 0;
}
.gl_txt {
  padding-left: 0.36rem;
}
.gl_bg {
  width: 100%;
  margin: 0.5rem auto 0;
  background: url(../../../images/activity/redlucky/gl_bg.png) no-repeat center top;
  background-size: 100%;
  padding-top: 0.9rem;
}
.gl_pack {
  width: 94%;
  margin: 0.2rem auto 0;
  
  border-radius: 0.2rem;
  position: relative;
  overflow: hidden;
}
.gl_pack_box {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #ff774e;
  
}
.gl_pack_content {
  width: 50%;
  padding: 0.18rem 0;
  position: relative;
}
.gl_pack_min {
  width: 90%;
  background: #d52715;
  border-radius: 0.2rem;
  margin: 0 auto;
  padding-bottom: 0.36rem;
}
.gl_pack_time {
  width: 100%;
  margin: 0 auto;
  height: 0.88rem;
  line-height: 0.88rem;
  font-size: 0.28rem;
  color: #feda32;
  text-align: center;
}
.gl_pack_number {
  width: 1.52rem;
  margin: 0 auto;
  height: 0.36rem;
  line-height: 0.36rem;
  font-size: 0.22rem;
  color: #fab074;
  text-align: center;
  background: #c41908;
  border-radius: 0.1rem;
}
.gl_pack_bg1,.gl_pack_bg3,.gl_pack_bg2,.gl_pack_bg4 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.gl_pack_img1 {
  width: 0.78rem;
  height: 0.81rem;
  position: absolute;
  left: -0.01rem;
  top: -0.01rem;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.gl_pack_img2 {
  width: 0.78rem;
  height: 0.81rem;
  position: absolute;
  left: -0.01rem;
  bottom: -0.01rem;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.gl_pack_img3 {
  width: 0.78rem;
  height: 0.81rem;
  position: absolute;
  right: -0.01rem;
  top: -0.01rem;
}
.gl_pack_img4 {
  width: 0.78rem;
  height: 0.81rem;
  position: absolute;
  right: -0.01rem;
  bottom: -0.01rem;
}
.gl_pack_btn {
  width: 1.34rem;
  height: 1.04rem;
  background: #f1d598;
  border: 0.22rem solid #ffe9ba;
  position: absolute;
  z-index: 1;
  border-radius: 0.89rem;
  top: 50%;
  left: 50%;
  margin: -0.89rem 0 0 -0.89rem;
  box-shadow: 0 0.1rem 0 #f6dda8;
  -moz-box-shadow: 0 0.1rem 0 #f6dda8;
  font-size: 0.3rem;
  color: #b66e29;
  text-align: center;
  line-height: normal;
  padding-top: 0.24rem;
}
.gl_pack_btn_img {
  width: 0.37rem;
  height: 0.39rem;
  position: absolute;
  bottom: -0.16rem;
  left: 50%;
  margin-left: -0.195rem;
  display: none;
}
.gl_exhibition {
  width: 93%;
  margin: 0.44rem auto 0;
}
.gl_bar_bg {
  width: 86%;
  margin: 0 auto;
  height: 0.24rem;
  background: #a10f00;
  border-radius: 0.12rem;
  overflow: hidden;
  position: relative;
}

.gl_bar_1000 {
  height: 100%;
  width: 34%;
  border-right: 0.03rem solid #fff;
  border-left: 0.03rem solid #fff;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -16.6666%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gl_bar {
  height: 100%;
  background: #fed731;
  background: -webkit-linear-gradient(#fed731, #fdbd2c);
  background: -o-linear-gradient(#fed731, #fdbd2c);
  background: -moz-linear-gradient(#fed731, #fdbd2c);
  background: linear-gradient(#fed731, #fdbd2c);
  border-radius: 0.12rem;
}
.gl_money_box {
  width: 95%;
  margin: 0.1rem auto 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}
.gl_zero {
  width: 25%;
  font-size: 0.24rem;
  color: #b66e29;
  text-align: center;
  line-height: normal;
}
.gl_subbar {
  width: 95%;
  margin: 0.26rem auto 0;
  font-size: 0.22rem;
  color: #666;
}
.gl_subbox {
  display: inline-block;
  width: 0.2rem;
  height: 0.2rem;
  position: relative;
  top: 0.02rem;
  border-radius: 0.04rem;
  margin-right: 0.1rem;
  background: #fed731;
  background: -webkit-linear-gradient(#fed731, #fdbd2c);
  background: -o-linear-gradient(#fed731, #fdbd2c);
  background: -moz-linear-gradient(#fed731, #fdbd2c);
  background: linear-gradient(#fed731, #fdbd2c);
}
.gl_table {
  width: 95%;
  margin: 0.4rem auto 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  font-size: 0.24rem;
  text-align: center;
  line-height: 0.88rem;
  border-radius: 0.2rem;
}
.gl_tdleft {
  width: 56%;
  border-right: 0.01rem solid #fffaee;
}
.gl_tdleft li {
  width: 100%;
  height: 0.88rem;
  color: #666;
  background: #f5f2eb;
  
}
.gl_tdleft .gl_tdtitle {
  background: #ffe9ba;
  color: #b66e29;
}
.gl_tdleft .gl_tr {
  background: #f1e9d8;
}
.gl_tdright {
  width: 43%;
}
.gl_tdright li {
  width: 100%;
  height: 0.88rem;
  color: #666;
  background: #f5f2eb;
}
.gl_tdright .gl_tdtitle {
  background: #ffe9ba;
  color: #b66e29;
}
.gl_tdright .gl_tr {
  background: #f1e9d8;
}
.gl_record {
  width: 95%;
  margin: 0.3rem auto 0.2rem;
  background: #f5f2eb;
  border-radius: 0.2rem;
  overflow: hidden;
  padding-bottom: 0.2rem;
}
.gl_record_title {
  width: 100%;
  text-align: center;
  height: 0.88rem;
  line-height: 0.88rem;
  font-size: 0.3rem;
  color: #b66e29;
  background: #ffe9ba;
}
.gl_record_subtitle {
  width: 100%;
  height: 0.74rem;
  line-height: 0.74rem;
  font-size: 0.24rem;
  color: #666;
  text-align: center;
}
.gl_record_number {
  width: 100%;
  height: 0.56rem;
  line-height: 0.56rem;
  font-weight: 600;
  text-align: center;
  font-size: 0.4rem;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#ff9f03), to(#f95b3c));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.active {
  background: #fdc52e;
  box-shadow: 0 0.1rem 0 #f08b24;
  -moz-box-shadow: 0 0.1rem 0 #f08b24;
}
.active_img {
  display: block;
}
.pack_active {
  background: #ffe361;
  border: 0.22rem solid #fed331;
  box-shadow: 0 0.1rem 0 #f08b24;
  -moz-box-shadow: 0 0.1rem 0 #f08b24;
}
.pack_active_img {
  display: block;
}
.pack_right {
  border-right: 0.03rem solid #f25135;
}
.pack_bottom {
  border-bottom: 0.03rem solid #e5432e;
}
.gl_window_bg {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: box;
  display: -webkit-box;
  box-pack: center;
  box-align: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  z-index: 2;
}
.gl_window {
  position: relative;
  width: 90%;
  border-radius: 0.2rem;
  background: #fff;
  text-align: center;
  line-height: normal;
  background: #dd372b;
  padding-bottom: 0.4rem;
}
.gl_window_title {
  width: 100%;
  font-size: 0.4rem;
  color: #ffdc9d;
  padding: 0.4rem 0;
}
.gl_window_txt {
  width: 100%;
  font-size: 0.24rem;
  color: #ffdc9d;
}
.gl_window_btn {
  width: 80%;
  height: 0.8rem;
  border-radius: 0.1rem;
  position: relative;
  font-size: 0.3rem;
  color: #b66e29;
  line-height: 0.8rem;
  text-align: center;
  background: #fdc52e;
  box-shadow: 0 0.1rem 0 #f08b24;
  -moz-box-shadow: 0 0.1rem 0 #f08b24;
  margin: 0.3rem auto 0;
}
.gl_window_btn_img {
  position: absolute;
  top: 0.1rem;
  left: 0.14rem;
  width: 1.18rem;
  height: 0.16rem;
}
.fl_cp {
  padding: 0.34rem 0;
}
.zero_left {
  text-align: left;
}
.zero_right {
  text-align: right;
}
.gl_tdleft .li_height {
	height: 0.75rem;
  line-height: 0.3rem;
  padding-top: 0.13rem;
}
.alert_hide {
  display: none;
}
.alert_show {
  display: box;
  display: -webkit-box;
}
