.redlucky{
    background: #ffad70;
    position: relative;
}
.redlucky_banner{
    background: url(../../../images/activity/2018/redLucky/redlucky_banner.jpg) no-repeat center;
    height: 522px;
}
.redlucky_content {
    width: 1080px;
    margin: auto;
    padding-bottom: 60px;
    position: relative;
    z-index: 2;
}
.redlucky_floatbg{
    height: 813px;
    background: url(../../../images/activity/2018/redLucky/redlucky_middlebg.png) center;
    position: absolute;
    left: 0;right:0;
    top:1160px;
    z-index: 0;
}
.redlucky_step01{
    background: #dd372b;
    padding: 60px 0;
    margin-bottom: 120px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.step_title{
    text-align: center;
    margin: 0 auto 30px;
}
.step_title p{
    font-size:16px;
    color: #f1c287;
    margin-top: 10px;
    line-height: 20px;
}
.step_content{
    width: 680px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #fff;
    box-shadow: inset 0 0 90px rgba(253,194,45,.4);
    margin: auto;
}
.step_top{
    position: relative;
    border-bottom:dashed 1px #e5e5e5;
    padding: 30px 0 ;
    text-align: center;
}
.step_content_ticket{
    position: absolute;
    width: 26px;height: 26px;
    background: #dd372b;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    bottom: -13px;
}
.step_bottom{
    min-height: 110px;
    padding: 30px 0;
    text-align: center;
}
.step_get_btn{
    margin-top: 30px;
}
.step01_btn_disable{
    display: block;
    width: 460px;
    margin: auto;
    height: 53px;
    line-height: 50px;
    font-size:18px;
    color: #b66e29;
    text-align: center;
    background: url(../../../images/activity/2018/redLucky/step01_btn_disable.png)no-repeat center;
}

.step01_btn_enable{
    display: block;
    width: 460px;
    margin: auto;
    height: 53px;
    line-height: 50px;
    font-size:18px;
    color: #b66e29;
    text-align: center;
    background: url(../../../images/activity/2018/redLucky/step01_btn_enable.png)no-repeat center;
    cursor: pointer;
}
.step02_content{
    background: #dd372b;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 60px;
}
.redlucky_step02_title{
    height: 240px;
    background: url(../../../images/activity/2018/redLucky/step02_title.png) no-repeat center;
    position: relative;
}
.redlucky_step02_title>p{
    font-size:16px;
    color: #f1c287;
    line-height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 15px;
}
.redpack_chuxi{
    width: 460px;
    margin: auto;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #ff774e;
    overflow: hidden;
    position: relative;
}
.clearfix{
    height: 0;
    clear: both;
}
.redpack_chuxi_card{
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-color: #e5432e;
    float: left;
    width: 50%;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.chuxi_card_content{
    background: #d52715;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-align: center;
    padding: 30px 0;
}
.chuxi_card_content h5{
    font-size: 18px;
    color: #feda32;
    line-height: 20px;
    margin-bottom: 20px;
}
.chuxi_card_content p{
    width: 110px;
    line-height: 30px;
    font-size: 14px;
    color: #fa8074;
    background: #c41908;
    margin: auto;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.chuxi_card_cover{
    background: #000;
    background: rgba(0,0,0,0.4);
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    position: absolute;
    left:0;bottom:0;top:0;right:0;
    z-index: 3;
}
.chuxi_card_cover_tips{
    position: absolute;
    z-index: 4;
}
.redpack_chuxi_btn{
    position: absolute;
    left: 50%;
    top:50%;
    background: url(../../../images/activity/2018/redLucky/step02_get_btn.png) no-repeat center;
    width: 116px;
    height: 120px;
    cursor: pointer;
    margin-left: -58px;
    margin-top: -60px;
    z-index: 4;
}
.redpack_chuxi_btn_disable{
    background: url(../../../images/activity/2018/redLucky/step02_end_btn.png) no-repeat center;
    cursor: default;
}
.redpack_chuxi_btn p{
    font-size: 18px;
    line-height: 24px;
    color: #b66e29;
    padding-top: 35px;
}
.redlucky_rule{
    margin: 30px auto 0;
    width: 680px;
    text-align: left;
}
.redlucky_rule p {
    font-size: 14px;
    color:#ffdc9d;
    line-height: 24px;
}
.redlucky_rule ul{
    margin: 0;
    padding: 0;
}
.redlucky_rule ul li{
    padding-left: 20px;
    font-size: 14px;
    color:#ffdc9d;
    position: relative;
    line-height: 24px;
}
.redlucky_rule ul li span{
    position: absolute;
    width: 14px;
    height: 14px;
    line-height: 13px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    left: 0;
    top:5px;
    border:solid 1px #ffdc9d;
    text-align: center;
    font-size: 12px;
}

.redlucky_step03{
    margin-top: 70px;
}
.step03_content{
    width: 600px;
    margin: auto;
    position: relative;
}
.step03_speed{
    position: relative;
}
.step03_speed_wrap{
    height: 24px;
    margin-bottom: 10px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    overflow: hidden;
    background: #a10f00;
}
.step03_speed_sub{
    position: absolute;
    top: 0;bottom: 0;
    left: 33%;
    right: 33%;
    border-left:solid 1px #e44d3e;
    border-right:solid 1px #e44d3e;
    z-index: 2;
}
.step03_speed_text{
    font-size: 14px;
    color: #b66e29;
    line-height: 20px;
    height: 20px;
    position: relative;
}
.step03_speed_text span{
    position: absolute;
}
.progress_bar{
    float: left;
    height: 24px;
    background: #fed130;
    background: url(../../../images/activity/2018/redLucky/speed_bg.jpg);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.step03_speed_des{
    height: 20px;
    line-height: 20px;
    width: 600px;
    margin: 20px auto;
}
.step03_speed_des p{
    float: left;
    margin-right: 30px;
    font-size: 14px;
    color: #666;
}
.step03_speed_des p span{
    display: block;
    float: left;
    margin-right: 10px;
}
.step03_table{
    width: 600px;
    margin: 0 auto;
}
.step03_table_row{
    margin-right: -15px;
    margin-left: -15px;
}
.step03_table_colum{
    float: left;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.step_table_wrap{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.table_row{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
}
.table_left{
    float: left;
    width: 60%;
    border-right:solid 1px #fffaee;
    text-align: center;
}
.table_right{
    float: left;
    width: 39%;
    text-align: center;
}
.table_title{
    background: #ffe9ba;
}
.table_row p {
    line-height: 50px;
    font-size: 14px;
    color: #666;
}
.table_title p{
    color: #b66e29;
}
.my_record{
    padding: 20px 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f5f2eb;
    height: 90px;
}
.my_record h5{
    font-size:14px;
    color: #666;
    line-height: 15px;
    margin-bottom: 10px;
}
.my_record p{
    font-size: 24px;
    line-height: 30px;
    color: #fdbe2c;
}
.step03_get_btn .step03_btn_enable{
    height: 53px;
    width: 212px;
    line-height: 50px;
    display: block;
    font-size: 18px;
    color: #b66e29;
    text-align: center;
    background: url(../../../images/activity/2018/redLucky/step03_btn_enable.png)no-repeat center;
    cursor: pointer;
}
.step03_get_btn .step03_btn_disable{
    height: 53px;
    width: 212px;
    line-height: 50px;
    display: block;
    font-size: 18px;
    color: #b66e29;
    text-align: center;
    background: url(../../../images/activity/2018/redLucky/step03_btn_disable.png)no-repeat center;
}

/*t弹窗*/
.cover_bg{
    opacity: 0.5;
    filter: alpha(opacity=50);
    background-color: #000;
    top: 0;
    z-index: 10;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.cover_wrap{
    width: 500px;
    height: 260px;
    position: fixed;
    top:50%;left: 50%;
    margin-left: -250px;
    margin-top: -130px;
    padding: 40px 0 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #dd372b;
    z-index: 12;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
}
.cover_wrap h5{
    font-size: 36px;
    color: #ffdc9d;
    line-height: 40px;
    margin-bottom: 20px;
}
.callback_ifo{
    height: 60px;
    margin-bottom: 20px;
}
.callback_ifo p{
    font-size: 14px;
    color: #ffdc9d;
    line-height: 20px;
}
.cover_btn{
    width: 330px;
    height: 53px;
    margin: auto;
    background: url(../../../images/activity/2018/redLucky/cover_btn.png)no-repeat;
    color:#b66e29;
    font-size:18px;
    cursor: pointer;
    line-height: 50px;
}