html,body{background:#f5f5f5;font-famliy:微软雅黑;}
input::-ms-clear { display: none; }
.main{width:100%;_height:200px;min-height:200px;background: #f5f5f5;margin:0 auto;overflow:hidden;}
.mt_al,.mt_ar,.span,.mt_arr{font-size: 12px;color:#333;line-height: 41px;}
.span{padding:0 10px 0 10px;}
.main_center{width:1080px;margin:30px auto 0;background:#fff;}
.clearfix:after{
    content: '';
    clear: both;
    height: 0;
    display: block;
}
.clearfix{height: auto!important;  clear: none!important;}
input[type="text"]:focus, input[type="date"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus{
    color: #999!important;
}
.main_c_left{
    width: 750px;
    padding: 20px;
    float: left;
    border-right:dashed 1px #e5e5e5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.main_c_right{
    width: 329px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    float: left;
}
.main_c_left .product_name{
    line-height:20px;
    text-align: right;
    margin-bottom: 20px;
    font-size: 14px;
    color: #666;
	height: 23px;
}
.surplusTime{
    color: #999;
}
.withtips{
    position: relative;
    cursor: pointer;
}
.withtips:hover .detail_tips{
    display: block;
}
.withtips>span{
    color: #FF6633;
}
.cutDown{
    width: 40px;
    line-height: 20px;
    margin-left:4px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    background: #f5f5f5;
    border-radius: 3px;
}
.product_name .cutDown:first-child{
    margin-left: 0;
}
.main_c_left .product_name h5{
    font-size: 16px;
    color: #333;
    float: left;
}
.main_c_left .product_name .calculator{
    float: left;
    position: relative;
    width: 16px;
    height: 19px;
    background-image: url(../../images/regular/regular_index/Calculator.png);
    margin-left: 20px;
}
.detail_tips{
    position: absolute;
    line-height: 30px;
    top: -40px;
    background:#999999;
    color:#fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    padding: 0 20px;
    display: none;
    font-size: 12px;
}
.detail_tips span{
    position: absolute;
    width: 11px;
    height: 6px;
    background-position: -109px 0;
    bottom: -6px;
    background-image: url(../../images/assets/assets_public/assets_icon.png);
    left: 50%;
}
.main_c_left .product_data{
    padding: 30px 0;
    border-top:solid 1px #e5e5e5;
    border-bottom:solid 1px #e5e5e5;
}
.product_data_wrap{
    float: left;
    border-right:dashed 1px #e5e5e5;
    width: 33%;
    text-align: center;
}
.product_data_wrap:last-child{
    border-right: none;
}
.main_c_left .product_data h5{
    font-size: 14px;
    color: #999999;
    margin-bottom: 15px;
}
.main_c_left .product_data p{
    font-size: 36px;
    line-height: 40px;
    color: #ff6633;
}
.main_c_left .product_data p span{
    font-size: 14px;
}
.main_c_right .plan_data{
    border-bottom:solid 1px #e5e5e5;
    padding-bottom: 20px;
    height: 20px;
}
.main_c_right .plan_data p{
    font-size: 14px;
    color: #666;
    float: left;
    line-height: 20px;
}
.main_c_right .plan_data p span{
    color: #ff6633;
}
.main_c_right .bank_limit{
    float: right;
    height: 20px;
    width: 20px;
    background: url(../../images/regular/regular_index/bank_limit.png) no-repeat center;
}
.newer_only{
    float: left;
    margin-left: 20px;
}
.newer_only p span{
	color:#ff6633;
}
.buy_ifo{
    padding-top: 20px;
}
.buy_ifo .buy_num>input{
    border: solid 1px #eee;
    background: #fafafa;
    height:40px;
    line-height: 40px;
    display: block;
    padding-left: 15px;
    font-size: 14px;
    color: #999;
    width: 100%;
    box-sizing: border-box;
}
.buy_tips{
    color: #999999;
    font-size: 12px;
    margin: 10px 0 10px;
}
.buy_tips span{
    color: #ff6633;
}
.rule_tips{
	color: #999999;
	font-size: 12px;
	margin: 10px 0 0;
}
.product_hide{
    line-height: 38px;
    border: solid 1px #eeeeee;
    background: #fafafa;
    color: #999999;
    text-align: center;
}

.main_cdleftul_copy{}
.main_cdleftul_copy li{
    float: left;
    font-size: 12px;
    color:#666;
    line-height: 15px;
    margin-top: 20px;
    margin-right: 20px;
}
.main_cdleftul_copy li:last-child{
    margin-right: 0;
}
.main_cdleftul_copy li img{
    float: left;
    margin-right: 5px;
}




.mian_cdrfou .mian_cdrfou_f{font-size:16px;display: block;width:100%;height:40px;background:#fafafa;text-align: center;line-height: 40px;color:#999;border:solid 1px #eee;}
.mian_cdrfou .mian_cdrfou_a{cursor:pointer;font-size:16px;display: block;width:100%;height:44px;background:#ff6633;text-align: center;line-height: 44px;color:#fff;}
.mian_cdrfou .mian_cdrfou_a1{font-size:12px;display: block;width:261px;height:40px;background:#e8ecef;text-align: center;line-height: 40px;color:#666;}

.main_cdrfive{font-size: 12px;color:#999;line-height: 14px;margin-top: 10px;}
.main_cdrfive .main_cdrfive_span{font-size: 18px;color:#ff6633;}
.main_cdrfive .main_cdrfive_span1{font-size: 18px;color:#666;margin:0 2px 0 2px;}

.main_down{width:1080px;padding:20px;background:#fff;margin:20px auto;box-sizing:border-box;}
.main_down_ul{border-bottom: 1px solid #e9e9e9;height:35px;margin-bottom:30px;}
.main_down_ul li{cursor:pointer;float: left;text-align: center;line-height:20px;padding-bottom:14px; margin-right:40px;}
.main_down_ul .selected{border-bottom:2px solid #ff6633;position:relative;}
.main_down_ul .selected span{
	width:6px;height:3px;
	background:url(../../images/regular/regular_index/interface_choice.png) no-repeat center;
	position:absolute;
	bottom:0;left:28px;
	display:inline-block;
}
.main_down_ul li a{font-size: 16px;color:#333;}

.main_down_div{display: none;}
.main_down_div_h3{
	height:35px;
}
.main_down_div_h3 p{
	float:left;
	width:120px;
	text-align:center;
	line-height:30px;
	position:relative;
	background:#ff6633;
	font-size:14px;
	color:#fff;
}
.main_down_div_h3 p span{
	position:absolute;
	left:0;bottom:-5px;
	background:url(../../images/regular/regular_index/title.png) no-repeat;
	width:5px;height:5px;
}

.main_down_div_one{
	margin-top: 10px;
	margin-bottom:30px;
}
.main_down_div_otop{
	height:40px;
	border-bottom:1px solid #e5e5e5 ;
	font-size: 12px;
	color:#333;
	line-height: 40px;
}
.color_font{
	color: #FF6633!important;
}
.main_down_div_one .main_down_div_otop:first-child{
	border-top:1px solid #e5e5e5 ;
}
.mdd_otone{
	width:15%;
	height:40px;
	border-right: 1px solid #e5e5e5;
	background:#fafafa;
	float:left;
	text-align: center;
	box-sizing:border-box;
	font-size:14px;
	color:#999;
}
.main_down_div_one .main_down_div_otop .mdd_otone:first-child{
	border-left: 1px solid #e5e5e5;
}
.mdd_ottwo{
	width:35%;
	height:40px;
	border-right: 1px solid #e5e5e5;
	background:#fff;
	float:left;
	box-sizing:border-box;
	padding-left:40px;
	font-size:14px;
	color:#666;
}

.mdd_otfou{
	height:40px;
	border-right: 1px solid #e5e5e5;
	background:#fff;
	float:left;
	padding-left: 40px;
	box-sizing:border-box;
	padding-left:40px;
	width:85%;
	font-size: 14px;
}
.main_down_div_two{
	font-size: 14px ;
	color:#666;
	line-height: 20px;
	margin-bottom:30px;
	margin-top:10px;
}
.main_down_div_two p{
	margin-bottom:10px;
}
.main_down_div_h32{
	margin-top:12px;
}
.main_down_div_thr{
	margin:0 auto 30px;
	padding-top: 15px;
	position:relative;
}
.mobile{ 
	position:relative
}
.mobile1，.mobile2，.mobile3{
	margin:0 auto;
	padding-top: 30px;
	position:relative;
}

.main_down_div_thr ul {
	margin-left:-10px;
	margin-right:-10px;
	padding:0px;
	list-style-type:none;
	height:350px;
	overflow:hidden;
}
.main_down_div_thr li {
	width:25%;
	box-sizing:border-box;
	float:left;
	cursor:pointer;
	height:350px;
	padding: 0 10px;
}
.but_left{cursor:pointer;width:50px;height:100px;position:absolute; top:160px;left:0;}
.but_right{cursor:pointer;width:50px;height:100px; position:absolute;top:160px;right:-10px;}
.but_left1{cursor:pointer;width:50px;height:100px;position:absolute; top:160px;left:0;}
.but_right1{cursor:pointer;width:50px;height:100px; position:absolute;top:160px;right:-10px;}
.but_left2{cursor:pointer;width:50px;height:100px;position:absolute; top:160px;left:0;}
.but_right2{cursor:pointer;width:50px;height:100px; position:absolute;top:160px;right:-10px;}
.but_left3{cursor:pointer;width:50px;height:100px;position:absolute; top:160px;left:0;}
.but_right3{cursor:pointer;width:50px;height:100px; position:absolute;top:160px;right:-10px;}
.main_down_div_thrD{width:270px;height:20px;margin:10px auto 0;text-align:center;}
.main_down_div_thrD a{cursor:pointer;width:10px;display:inline-block;height: 10px;}
.main_down_div_thrD1{width:270px;height:20px;margin:10px auto 0;text-align:center;}
.main_down_div_thrD1 a{cursor:pointer;width:10px;display:inline-block;height: 10px;}
.main_down_div_thrD2{width:270px;height:20px;margin:10px auto 0;text-align:center;}
.main_down_div_thrD2 a{cursor:pointer;width:10px;display:inline-block;height: 10px;}
.main_down_div_thrD3{width:270px;height:20px;margin:10px auto 0;text-align:center;}
.main_down_div_thrD3 a{cursor:pointer;width:10px;display:inline-block;height: 10px;}
.main_down_div_thrDo{border:1px solid #dbdbdb;background:#ccc;}
.main_down_div_thrDt{border:1px solid #eeeeee;background:#fff;}
.main_down_div_thrD11{border:1px solid #dbdbdb;background:#ccc;}
.main_down_div_thrD21{border:1px solid #eeeeee;background:#fff;}
.main_down_div_thrD12{border:1px solid #dbdbdb;background:#ccc;}
.main_down_div_thrD22{border:1px solid #eeeeee;background:#fff;}
.main_down_div_thrD13{border:1px solid #dbdbdb;background:#ccc;}
.main_down_div_thrD23{border:1px solid #eeeeee;background:#fff;}


#bg {width:100%;height:100%;position:fixed;left:0px;top:0px;background:#000;filter:alpha(opacity:50);opacity:0.5;display:none;}
#bottom {width:1000px;height:50px;position:fixed;left:15%;top:45%;margin:0 auto;padding:1px;z-index:9;display:none;}
#bottom ul {width:100%;height:100%;margin:0px;padding:0px;list-style-type:none;}
#bottom li {float:left;display:inline;margin:8px 0 0 18px;cursor:pointer;}
#bottom li.prev {width:30px;height:37px;background:url(../../images/regular/regular_index/planleft_de.png) no-repeat;position:fixed;left:20%;z-index:20;}
#bottom li.next {width:30px;height:37px;background:url(../../images/regular/regular_index/planright_de.png) no-repeat;position:fixed;right:20%;z-index:20;}
#bottom li.img {width:30px;height:33px;background-position:-106px 0;}
#bottom li.close {width:31px;height:33px;font-size: 40px;color:#fff;position:fixed ;top:10%;right: 20%;z-index:20;}
#frame {text-align:center;padding:3px;position:fixed;left: 0;top: 0;right: 0;bottom: 0;margin: auto;z-index:3;display:none;}

#bg1 {width:100%;height:100%;position:fixed;left:0px;top:0px;background:#000;filter:alpha(opacity:50);opacity:0.5;display:none;}
#bottom1 {width:1000px;height:50px;position:fixed;left:15%;top:45%;margin:0 auto;padding:1px;z-index:9;display:none;}
#bottom1 ul {width:100%;height:100%;margin:0px;padding:0px;list-style-type:none;}
#bottom1 li {float:left;display:inline;margin:8px 0 0 18px;cursor:pointer;}
#bottom1 li.prev1 {z-index:20;width:80px;height:83px;position:fixed;left:20%;background:url(../../images/regular/regular_index/planleft_de.png) no-repeat;margin-right: 750px;}
#bottom1 li.next1 {z-index:20;width:80px;height:83px;position:fixed;right:20%;background:url(../../images/regular/regular_index/planright_de.png) no-repeat;}
#bottom1 li.img1 {width:30px;height:33px;background-position:-106px 0;}
#bottom1 li.close1 {z-index:20;width:31px;height:33px;font-size: 40px;color:#fff;position:fixed ;top:10%;right: 20%;}
#frame1 {text-align:center;padding:3px;position:fixed;left: 0;top: 0;right: 0;bottom: 0;margin: auto;z-index:6;display:none;}

#bg2 {width:100%;height:100%;position:fixed;left:0px;top:0px;background:#000;filter:alpha(opacity:50);opacity:0.5;display:none;}
#bottom2 {width:1000px;height:50px;position:fixed;left:15%;top:45%;margin:0 auto;padding:1px;z-index:9;display:none;}
#bottom2 ul {width:100%;height:100%;margin:0px;padding:0px;list-style-type:none;}
#bottom2 li {float:left;display:inline;margin:8px 0 0 18px;cursor:pointer;}
#bottom2 li.prev2 {z-index:20;width:80px;height:83px;position:fixed;left:20%;background:url(../../images/regular/regular_index/planleft_de.png) no-repeat;margin-right: 750px;}
#bottom2 li.next2 {z-index:20;width:80px;height:83px;position:fixed;right:20%;background:url(../../images/regular/regular_index/planright_de.png) no-repeat;}
#bottom2 li.img2 {width:30px;height:33px;background-position:-106px 0;}
#bottom2 li.close2 {z-index:20;width:31px;height:33px;font-size: 40px;color:#fff;position:fixed ;top:10%;right: 20%;}
#frame2 {text-align:center;padding:3px;position:fixed;left: 0;top: 0;right: 0;bottom: 0;margin: auto;z-index:6;display:none;}


#bg3 {width:100%;height:100%;position:fixed;left:0px;top:0px;background:#000;filter:alpha(opacity:50);opacity:0.5;display:none;}
#bottom3 {width:1000px;height:50px;position:fixed;left:15%;top:45%;margin:0 auto;padding:1px;z-index:9;display:none;}
#bottom3 ul {width:100%;height:100%;margin:0px;padding:0px;list-style-type:none;}
#bottom3 li {float:left;display:inline;margin:8px 0 0 18px;cursor:pointer;}
#bottom3 li.prev3 {z-index:20;width:80px;height:83px;position:fixed;left:20%;background:url(../../images/regular/regular_index/planleft_de.png) no-repeat;margin-right: 750px;}
#bottom3 li.next3 {z-index:20;width:80px;height:83px;position:fixed;right:20%;background:url(../../images/regular/regular_index/planright_de.png) no-repeat;}
#bottom3 li.img3 {width:30px;height:33px;background-position:-106px 0;}
#bottom3 li.close3 {z-index:20;width:31px;height:33px;font-size: 40px;color:#fff;position:fixed ;top:10%;right: 20%;}
#frame3 {text-align:center;padding:3px;position:fixed;left: 0;top: 0;right: 0;bottom: 0;margin: auto;z-index:6;display:none;}
.bgcom{position:relative;z-index:2;}


.main_down_div1_div{margin:20px auto 0;text-align: center;}
.main_down_div1_divt{height:40px;background:#f2f2f2;line-height: 40px;font-size: 14px;color:#333;box-sizing:border-box;}
.main_down_div1_divt1{width:20%;height:40px;float: left;box-sizing:border-box;}
.main_down_div1_divt2{width:25%;height:40px;float: left;box-sizing:border-box;}
.main_down_div1_divt3{width:30%;height:40px;float: left;box-sizing:border-box;}
.main_down_div1_divc{
	height:54px;
	background:#fff;
	border-bottom: 1px dashed #e5e5e5;
	line-height: 54px;
	font-size: 14px;
	color:#666;
}
.main_down_div1_divc1{
	width:20%;
	height:54px;
	float: left;
	box-sizing:border-box;
}
.main_down_div1_divc2{
	width:25%;
	height:54px;
	float: left;
	box-sizing:border-box;
}
.main_down_div1_divc3{
	width:30%;
	height:54px;
	float: left;
	box-sizing:border-box;
}
.main_down_div1_divc_noinvest{width: 1052px;height: 42px;background: #fff;line-height: 42px;font-size: 15px;color: #333;margin-top: 55px;}

.fenye{height:30px;line-height: 30px;margin-bottom: 60px; text-align:center;margin-top:20px;}
.fenye a{float: left;display: inline-block;font-size: 14px;color:#666;background-color:#fff;border:1px solid #e4e4e4;}
.fy_l{width:70px;box-sizing:border-box;height:30px;background:url(../../images/fenye_left.png) no-repeat 15px 9px;padding-left: 15px;margin-right:10px;}
.fy_ll{width:30px;height:30px;box-sizing:border-box;background:url(../../images/fenye_left.png) no-repeat center;margin-right:10px;}
.fenye .fy_c{width:30px;height:30px;border-left: 1px solid #e4e4e4;border-right: 1px solid #e4e4e4;color:#999;text-align: center;margin-right:10px;box-sizing:border-box;}
.fy_rr{width:30px;height:30px;background:url(../../images/fenye_right.png) no-repeat center;box-sizing:border-box;margin-right:10px;}
.fy_r{width:70px;height:30px;background:url(../../images/fenye_right.png) no-repeat 49px 9px;padding-right: 15px;box-sizing:border-box;}
.fenye_wrap{
	display:inline-block;
}
.fenye .fenye_wrap .fy_atpage{
	background:#ff6633;
	border:none;
	color:#fff;
}


.bank_list_list{
	width:740px;
	height:530px;
	background:#fff;
	position: fixed;
	z-index: 20;
	display: none;
	left:0;top:0;right:0;bottom:0;
	margin:auto;
}
.bank_h3{
	height:50px;
	font-size: 16px;
	color:#666;
	line-height: 50px;
	text-align:center;
}
.bank_btn{
	float:right;
	margin-right:20px;
}
.bank_list_top{
	text-align:center;
	font-size: 14px;
	color:#999;
	padding:0 40px 20px;
	line-height: 20px;
	border-bottom:solid 1px #e5e5e5;
}
.bank_list_wrap{
	padding:0 40px 0;
}

.scr_con{
	height:390px;
	background:#fff;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	margin-top:20px;
}
/*#dv_scroll{position: absolute;overflow: hidden;height:365px;width:662px;}
#dv_scroll .Scroller-Container {width: 100%;}
#dv_scroll_bar {position: absolute;right: 0;top: 10px;width: 15px;height: 340px;border-left: 2px solid #999;}
#dv_scroll_bar .Scrollbar-Track {position: absolute;left: 0;top: 10px;width: 15px;height: 310px;}
#dv_scroll_bar .Scrollbar-Handle {position: absolute;left: -8px;top: 0;width: 15px;height: 29px;-overflow: hidden;background: #999;cursor: pointer;}
#dv_scroll_text {position: absolute;}*/

.deta_container{
	height:auto;
	margin:0 auto; 
	margin-right:-10px;
	margin-left:-10px
}
/*.deta_title1{ margin-bottom:30px; }*/
.t1_ft{ font-size: 16px; line-height: 16px;float: left;}
.tit_line{ height:1px; width:552px; background: #ff9933;margin-top: 12px;}
.ft_conu{ font-size: 16px; line-height: 16px; color:#999999;float: left; padding-top: 7px;}
.ban_list{
	float: left; 
	width:30px;
	height:30px; 
	margin: 10px 15px;
	border-radius:15px;
	background-size:cover!important;
	-o-background-size:cover!important;
	-moz-background-size:cover!important;
	-webkit-background-size:cover!important;
}
.ban_list_ICBC{background: url(../../images/ICBC.png) no-repeat center center; }
.ban_list_ABC{background: url(../../images/abc.png) no-repeat center center;}
.ban_list_CCB{background: url(../../images/CBC.png) no-repeat center center;}
.ban_list_BOC{background: url(../../images/BC.png) no-repeat center center;}
.ban_list_CMB{background: url(../../images/CMBC.png) no-repeat center center;}
.ban_list_POSTGC{background: url(../../images/PSBC.png) no-repeat center center;}
.ban_list_COMM{background: url(../../images/BCM.png) no-repeat center center;}
.ban_list_PAB{background: url(../../images/SZPA.png) no-repeat center center;}
.ban_list_CIB{background: url(../../images/IBCN.png) no-repeat center center;}
.ban_list_CEB{background: url(../../images/CEB.png) no-repeat center center;}
.ban_list_CMBC{background: url(../../images/CMSB.png) no-repeat center center;}
.ban_list_CITIC{background: url(../../images/CCB.png) no-repeat center center;}
.ban_list_GDB{background: url(../../images/GDB.png) no-repeat center center;}
.ban_list_HXB{background: url(../../images/HB.png) no-repeat center center;}
.ban_list_PSBC{background: url(../../images/PSBC.png) no-repeat center center;}
.ban_list_BCOM{background: url(../../images/BCM.png) no-repeat center center;}
.ban_list_SHB{background: url(../../images/SHB.png) no-repeat center center;}
.ban_list_SPDB{background: url(../../images/SPDB.png) no-repeat center center;}

.ban_list_1{background: url(../../images/ICBC.png) no-repeat center center; }
.ban_list_3{background: url(../../images/abc.png) no-repeat center center;}
.ban_list_6{background: url(../../images/CBC.png) no-repeat center center;}
.ban_list_5{background: url(../../images/BC.png) no-repeat center center;}
.ban_list_7{background: url(../../images/CMBC.png) no-repeat center center;}
.ban_list_15{background: url(../../images/PSBC.png) no-repeat center center;}
.ban_list_17{background: url(../../images/BCM.png) no-repeat center center;}
.ban_list_11{background: url(../../images/SZPA.png) no-repeat center center;}
.ban_list_2{background: url(../../images/IBCN.png) no-repeat center center;}
.ban_list_9{background: url(../../images/CEB.png) no-repeat center center;}
.ban_list_13{background: url(../../images/CMSB.png) no-repeat center center;}
.ban_list_18{background: url(../../images/CCB.png) no-repeat center center;}
.ban_list_10{background: url(../../images/GDB.png) no-repeat center center;}
.ban_list_12{background: url(../../images/HB.png) no-repeat center center;}
.ban_list_8{background: url(../../images/SPDB.png) no-repeat center center;}
.ban_list_14{background: url(../../images/SHB.png) no-repeat center center;}

.bank_list1{
	width:25%;
	box-sizing:border-box;
	padding:0 10px;
	margin-bottom:20px; 
	float: left;
}

.list_bankname{
	border:solid #e5e5e5 1px;
}
.list_sp{ 
	font-size: 16px; 
	color:#333;
	float: left;
	line-height:50px;
}
.list_right{ 
	font-size: 12px;
	color:#999999;
	margin-top:10px;
	text-align:center;
}

.body_bg_regular{opacity:0.5; filter: alpha(opacity=50); background-color: #000;top: 0;z-index: 15;position: fixed!important;position: absolute; left: 0;width:100%;height:100%;display:none;}

.login_list {
	width: 340px;
	background: #fff;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: none;
	z-index: 20;
	padding: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 350px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
}

.login_list_title {
	line-height: 20px;
	font-size: 16px;
	color: #333;
	padding-bottom: 10px;
	border-bottom: solid 1px #e5e5e5;
	height: 20px;
	margin-bottom: 20px;
}
.login_list_title span{
	float: left;
	display: block;
	padding-bottom: 9px;
	border-bottom: solid 2px #FF6633;
}
.login_input{
	margin-bottom: 20px;
}
.top_p {
	border: solid 1px #e5e5e5;
	height: 40px;
	padding: 9px 10px;
	box-sizing: border-box;
	transition: .3s;
	position: relative;
}
.top_p .Z_imgi {
	background-repeat: no-repeat;
	background-position: center center;
	margin-right: 0px;
	height: 20px;
	width: 20px;
	display: block;
	float: left;
	font-size: 16px;
	line-height: 32px;
}

.Z_name {
	background-image: url(../../images/login/user.png);
}
.Z_password {
	background-image: url(../../images/login/password.png);
}
.top_p .top_p_line {
	width: 1px;
	height: 14px;
	margin: 4px 10px;
	display: block;
	background: #e5e5e5;
	float: left;
}
.top_p input[type="text"], .top_p input[type="password"], .top_p input[type="tel"] {
	float: left;
	border: none;
	line-height: 20px;
	font-size: 14px;
	color: #666!important;
	display: block;
	box-sizing: border-box;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px white inset;
}
::-moz-placeholder { color: #999; }
::-webkit-input-placeholder { color:#999; }
:-ms-input-placeholder { color:#999; }
input::-ms-clear{display:none;}
input::-ms-reveal{display: none;}

.login_list_trabtn {
	cursor: pointer;
	font-size: 14px;
	color: #fff;
	display: block;
	height: 40px;
	background: #ff6633;
	text-align: center;
	line-height: 40px;
	margin-bottom: 10px;
}

.login_list_tratxt {
	font-size: 12px;
	color: #999;
	text-align: center;
	line-height: 15px;
}
.login_list_tra{
	height: 15px;
	font-size: 12px;
	text-align: center;
	line-height: 15px;
	margin-bottom: 5px;
	margin-top: -10px;
}
.login_list_interface{
	height: 20px;
	line-height: 20px;
	padding-bottom: 20px;
	border-bottom: solid 1px #e5e5e5;
	margin-bottom: 10px;
}
.login_list_interface_tright{
	float: right;
}
.login_list_interface_tleft{
	float: left;
	color: #999;
	font-size: 12px;
}
.login_list_trap{
	color: #FF6633!important;
	font-size: 12px;
}

.login_closed{
	position: absolute;
	width: 100%;
	bottom: -66px;
	left: 0;
}
.closed_line{
	width: 1px;
	margin: auto;
	height: 30px;
	background: #fff;
}
.closed_btn{
	width: 36px;
	height: 36px;
	margin: auto;
	background: url(../../images/regular/login_window_cancel.png) no-repeat center;
	cursor: pointer;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border:solid 1px #fff;
}
.msg{text-align: center;color:#ff6633;}

.top1 {

}
.error{
	position:absolute;
	background:#fff;
	left:50px;top:4px;
	height:30px;
	line-height:30px;
	width:205px;
	padding-left:21px;
	display:none;
	color:#ff6633;
	font-size:14px;
}
.error:before{
	content:"";
	position:absolute;
	width:16px;height:30px;
	left:0;top:0;
	background:url(../../images/login/input_error.png) no-repeat center;
}
input::-ms-clear{display:none;}
input::-ms-reveal{display: none;}

.top_p {
	border:solid 1px #e5e5e5;
	height:40px;
	padding: 9px 10px;
	box-sizing:border-box;
	transition:.3s;
	position:relative;
}
.top_p .Z_imgi{
	background-repeat:no-repeat;
	background-position: center center;
}
.pasword_interface{
	width:40px;
	height:40px;
	background:url(../../images/login/password_hide.png) center no-repeat;
	position:absolute;
	top:0px;right:0;
	cursor:pointer;
}
.interface_show{
	background:url(../../images/login/password_appear.png) center no-repeat;
}
.Z_name{
	background-image:url(../../images/login/user.png);
}
.Z_password{
	background-image:url(../../images/login/password.png);
}
.Z_phone{
	background-image:url(../../images/login/phone.png);
}
.Z_pic{
	background-image:url(../../images/login/pic.png);
}
.Z_msg{
	background-image:url(../../images/login/message.png);
}
.Z_link{
	background-image:url(../../images/login/recommend.png);
}
.label_focuse .Z_name{
	background-image:url(../../images/login/user_high.png);
}
.label_focuse .Z_password{
	background-image:url(../../images/login/lock_high.png);
}
.label_focuse .Z_phone{
	background-image:url(../../images/login/phone_high.png);
}
.label_focuse .Z_pic{
	background-image:url(../../images/login/pic_high.png);
}
.label_focuse .Z_msg{
	background-image:url(../../images/login/message_high.png);
}
.label_focuse .Z_link{
	background-image:url(../../images/login/recommend_high.png);
}
.top_p input[type="text"],.top_p input[type="password"],.top_p input[type="tel"] {
	float: left;
	border: none;
	line-height: 20px;
	font-size: 14px;
	color:#666!important;
	display:block;
	box-sizing:border-box;
}
input[type="text"].line_hg ,input[type="password"].line_hg{
}
.top_p input[type="text"]:focus {
	outline: none;
}
.label_focuse{
	border:solid 1px #ff6633;
}
.top_p i {
	display: block;
	float: left;
	font-size: 16px;
	height: 32px;
	line-height: 32px;
	margin-right: 15px;
}
.top_p .top_p_line{
	width:1px;
	height:14px;
	margin:4px 10px;
	display: block;
	background:#e5e5e5;
	float: left;
}
.top_p i.Z_imgi{
	margin-right:0px;
	height:20px;
	width:20px;
}

/* 产品详情-委托意向 */
.alertmouse_intention{display:none;box-shadow: 0 0 5px #ffbb76;font-size:12px;color:#dc8848;padding:8px 0 0 15px;line-height:18px;width:256px;height:30px;border:1px solid #ffbb76;background:#fffcef;position:absolute;top:30px;left:-26px;z-index:2;}
.alertbtn_intention{position:relative;color:#ff6633;}
.alertimg_intention{position:absolute;top:-7px;left:26px;z-index:3;}

/* 产品详情-委托冻结期 */
.alertmouse_entrust{display:none;box-shadow: 0 0 5px #ffbb76;font-size:12px;color:#dc8848;padding:8px 0 0 15px;line-height:18px;width:256px;height:30px;border:1px solid #ffbb76;background:#fffcef;position:absolute;top:30px;left:-26px;z-index:2;}
.alertbtn_entrust{position:relative;}
.alertbtn_entrust .alertimg_entrust{position:absolute;top:-7px;left:26px;z-index:3;}


.recharge_btn{cursor: pointer; color: #ff6633;display:inline-block;float:right;}
.login_btn{cursor: pointer; color: #FF6633;}


/*图片（合同）展示*/
.img_bg{
	position:fixed;
	top:0;left:0;
	height:100%;width:100%;
	background:rgba(0,0,0,.8);
	display:none;
	z-index:20;
}
.imgshow_container{
	margin:auto;
	text-align:center;
	padding-top:30px;
}
.imgshow_container img{
	max-width:900px;
}
.imgshow_close{
	position:absolute;
	right:0;top:0;
	width:50px;height:50px;
	background:url(../../images/regular/regular_index/imgshow_close.png) no-repeat;
	cursor:pointer;
}
.list_warp{
	position:absolute;
	bottom:30px;left:0;right:0;
	text-align:center;
}
.imgshow_list{
	margin:auto;
	display:inline-block;
}
.imgshow_list li{
	float:left;
	margin:0 10px;
	cursor:pointer;
}
.imgshow_list li.focuse img{
	border:solid 2px #ff6633;
	box-sizing:border-box;
}
.imgshow_list li img{
	height:70px;
}


/*########################################## 详情新增加息标签 #########################################*/

.product_data_wrap .product_data_interest{
	height: 49px;
}
.product_data_wrap .product_data_interest .product_data_interest_left{
	float: left;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 5px;
	text-align: right;
}
.product_data_wrap .product_data_interest .product_data_interest_right{
	float: left;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 5px;
	text-align: left;
}
.product_data_wrap .product_data_interest .product_data_interest_right .activity_tag{
	line-height: 24px;
	height: 24px;
	margin-bottom: 6px;
}
.product_data_wrap .product_data_interest .product_data_interest_right .activity_tag span{
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	border-radius:12px;
	background: #FFC33C;
	height: 24px;
	display: inline-block;
	font-size: 14px;
	color: #fff;
	padding: 0 10px;
	position: relative;
	top:-9px;
}
.product_data_wrap .product_data_interest .product_data_interest_right .redpack_tag{
	line-height: 14px;
	font-size: 14px;
	color: #ff6633;
}
.product_data_wrap .product_data_interest .product_data_interest_right  .activity_tag_middle{
	padding: 10px 0;
	margin-bottom: 0;
}
.product_data_wrap .product_data_interest .product_data_interest_right  .redpack_tag_middle{
	padding: 15px 0;
}