.body{width: 100%;height: 100%;background: #bc082d;}
/*banner*/
.banner{width: 100%;height:530px;margin:0 auto;background: url(../../../images/activity/openPolite2017/banner.jpg) no-repeat center;}
/*main*/
.main-content{width: 100%;min-height: 100px;margin:0 auto;background: #bc082d;padding-top: 30px;}
.main-content-top{width: 1010px;height: 158px;margin:0 auto;background: #940001;}
.main-content-bg{width: 100%;height: 158px;margin:0 auto;background: url(../../../images/activity/openPolite2017/main-c1.png) no-repeat center;}
.main-content-txt{width: 548px;height: 106px;float: left;font-size: 24px;color: #fee4b5;line-height: 30px;padding:52px 0 0 130px;}
.main-content-btn{width: 218px;height: 106px;float: left;padding-top: 52px;}
.main-content-btna{display: inline-block;position: relative;}
.main-title{width: 1010px;height: auto;text-align: center;margin:78px auto 40px;}
.main-product{width: 1008px;height: 374px;margin:0 auto 10px;background: #f3c18c;border:1px solid #b3824b;}
.main-product-title{width: 188px;float: left;height: 236px;background: url(../../../images/activity/openPolite2017/main-c7.png) no-repeat 16px center;text-align: center;padding-top: 138px;}
.main-product-list{width: 820px;float: right;height: 355px;padding-top: 19px;position: relative;}
.main-product-list li{width: 254px;height: 334px;border:1px solid #f8093a;background: #ffd9b0;float: left;margin-right: 17px;}
.main-product-list-img{width: 100%;height: 174px;text-align: center;padding-top: 52px;background: url(../../../images/activity/openPolite2017/main-c8.png) no-repeat center 168px;}
.main-product-list-title{width: 100%;height: 36px;line-height: 36px;background: #b10911;text-align: center;font-size: 18px;color: #fae096;}
.main-product-list-cont{width: 100%;height: 72px;background: #d0001c;}
.main-product-list-bg{width: 100%;height: 62px;background: url(../../../images/activity/openPolite2017/main-j9.png) no-repeat center bottom;text-align: center;line-height: 22px;padding-top: 10px;}
.main-product-list-cspan{font-size: 18px;color: #fae096;font-weight: 200;}
.main-product-list-ci{font-size: 20px;color: #fae096;}
.main-product-list-three{position: absolute;top:-14px;}
.main-rule{width: 1010px;height: 441px;margin:0 auto;background: url(../../../images/activity/openPolite2017/main-c11.png) no-repeat center;padding-top: 30px;}
.ru_txt{width:880px;min-height:20px;overflow: hidden;margin:0px 0 0 76px;}
.ru_txt em{display: block;width:24px;height:24px;text-align: center;line-height: 40px;font-size: 24px;color:#fae096;float: left;margin-top:2px;}
.ru_txt p{font-size: 24px;color: #fae096;line-height: 40px;width:856px;float: right;}
.main-footer{width: 1010px;height: 118px;line-height: 118px;text-align: center;margin:0 auto;font-size: 18px;color: #fae096;}
.bottomMove{ position: absolute;right:20px;top:22px; margin-left:-15px; opacity:0;
	-webkit-animation:bottomMove 1s linear infinite;
	-o-animation:bottomMove 1s linear infinite;
	animation:bottomMove 1s linear infinite;}
.bottomMove1{ position: absolute;right:20px;top:22px; margin-left:-15px; }
@-moz-keyframes bottomMove{
	100%{
		opacity: 1;
		right:10px;
	}
}
@-o-keyframes bottomMove{
	100%{
		opacity: 1;
		right:10px;
	}
}
@-webkit-keyframes bottomMove{
	100%{
		opacity: 1;
		right:10px;
	}
}
@keyframes bottomMove{
	100%{
		opacity: 1;
		right:10px;
	}
}

.tan-bg{display:none;width: 100%;height: 100%;position: fixed;top: 0;left: 0;background: #000;filter: alpha(opacity=50);-moz-opacity: 0.5;-khtml-opacity: 0.5;opacity: 0.5;z-index: 5;}
.alert_listthree{width:574px;_height:100px;min-height:100px;background:#fff;display: none;z-index: 11;padding-bottom: 20px;left: 50%;top: 50%;margin-left: -287px!important;margin-top: -116px!important;margin-top: 0px;position: fixed!important;overflow:hidden;}
.alert_listthree_h3{width:574px;height:47px;background:#f6f6f6;line-height: 47px;font-size: 16px;color:#666666;text-align: center;}
.alert_listthree_btn{margin-left: 81%;}
.alert_listthree .alert_listthree_txt{font-size: 16px;color:#333;width:480px;_height:50px;min-height:50px;overflow:hidden;line-height: 36px;padding:35px 46px 35px 46px;text-align:center;}
.alert_listthree_btnd{width:574px;height:46px;margin:0 auto;}
.alert_listthree_btnd .alert_listthree_btnl{width:180px;height:44px;background:#ff6633;display: block;text-align: center;line-height: 44px;color:#fff;margin:0 auto;}









