@charset "utf-8";
/* CSS Document */

#partition{
	color: #09c;
    font-weight: 700;
    line-height: 21px;
}

.tb {
    clear: both;
    margin-top: 8px;
    width: 100%;
	height: 25px;
    padding: 5px !important;
}

.td1{
	width:140px;
}

.td2{
	width:107px;
}

.td3{
	width:300px;
}

.addtr {
    
    color: #f60;
    line-height: 25px;
    padding-left: 17px;
}

.td4{
}

.txt {
    font-weight: 700;
}

.subnode{
	margin-left:40px;
}


.name{
	width:210px;
}

.url{
	width:250px;
}
	