#Html("begin")
#Head("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadJS("resources/micro2.0/scripts/assets/six")
#LoadCSS("resources/micro2.0/styles/agree/default")
#LoadCSS("resources/micro2.0/styles/agree/agree")
##WeChatShare()
#Head("end")

<body>

<div  class="agess_main">
				<div class="serial">
  					<p class="serial_main">甲方（应收账款受让方）：<span style="font-weight:bold;">$!userName</span></p>
  				</div>	
				<div class="serial">
  					<p class="serial_main">身份证号码：<span style="font-weight:bold;">#if($!IdCard)$!IdCard #else <span style="color:#fa5c5b"> 未实名认证 </span> #end</span></p>
  				</div>	
				<div class="serial">
  					<p class="serial_main">乙方（应收账款转让方）：深圳前海达飞金融服务有限公司</p>
  				</div>	
				<div class="serial">
  					<p class="serial_main">丙方（信息服务方）：浙江品听资产管理有限公司</p>
  				</div>	
				<div class="serial">
  					<p class="serial_main">甲、乙、丙三方就甲、乙双方通过丙方运营的“币港湾”网址为（www.bigangwan.com）进行应收账款转让，丙方通过自身运营的平台”币港湾”对甲、乙双方的应收账款转让提供信息中介服务的事宜，经过平等协商，达成以下协议：</p>
  				</div>	
  				<div class="serial">
  					<h3 class="h_title">1、应收账款转让与受让的基本情况</h3>
  					<p class="serial_main">1.1、甲、乙、丙三方同意，通过甲方在丙方运营的平台“币港湾”进行购买等操作方式确认签署本协议。</p>
					<p class="serial_main">1.2、背景说明：本项目为乙方推荐的优质债权项目，募集资金用于乙方小微借款业务，每个债务人均经过乙方的严格筛选，并由乙方承诺回购。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">1.3、受让明细</p>
					<table style="width:100%;" cellpadding="2" cellspacing="0" border="1" bordercolor="#666666">
                    	<tbody>
                    		<tr>
                    			<td colspan="1">
                    				<p class="MsoNormal">受让本金</p>
                    			</td>
                    			<td colspan="3" style="text-align:center;">
                    				<p class="MsoNormal">人民币 $!money.format($!amount) 元(大写：人民币 $!money.digitUppercase($!amount))</p>
                    			</td>
                    		</tr>
                    		<tr>
                    			<td style="text-align:center;">利率</td>
                    			<td>
                    				<p class="MsoNormal">$!rate%/年</p>
                    			</td>
                    			<td>
                    				<p class="MsoNormal">还款方式</p>
                    			</td>
                    			<td>
                    				<p class="MsoNormal">到期还本付息</p>
                    			</td>
                    		</tr>
                    		<tr>
                    			<td>
                    				<blockquote>
                    					<p class="MsoNormal">
                    						起息日
                    					</p>
                    				</blockquote>
                    			</td>
                    			<td class="MsoNormal">
                    			$!times
                    			</td>
                    			<td class="MsoNormal">
                    				<p class="MsoNormal">
                    					到期日
                    				</p>
                    			</td>
                    			<td class="MsoNormal">
                    				$!endTime
                    			</td>
                    		</tr>
                    		<tr>
                    			<td>
                    				<p class="MsoNormal">
                    					收益管理费
                    				</p>
                    			</td>
                    			<td class="MsoNormal" colspan="3">
									免收
                    			</td>
                    		</tr>
                    	</tbody>
                    </table>
  				</div>
				<div class="serial">
  					<h3 class="h_title">2、本次应收账款转让计划的具体内容和要求如下：</h3>
  					<p class="serial_main">2.1、名称： $!name  （上下文均称"本次计划"）。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">2.2、描述：乙方通过丙方平台转让本次计划约定的应收账款，甲方加入本次计划后，在锁定期内，加入计划的受让金额将被优先安排作为转让对价购买相关应收账款。乙方将根据甲方支付的受让金额，结合本次计划的应收账款情况，为甲方匹配相应的受让应收账款，并将有关应收账款债务信息通过“币港湾”进行展示。为避免争议，各方同意，甲方受让的相关应收账款信息以丙方上述展示平台的信息为准。当锁定期结束，且甲方受让的应收账款收回后，本次计划结束。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">2.3、应收账款转让范围：乙方平台的小微借款。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">2.4、受让金额要求：最低受让金额及限购金额等以具体产品页面展示为准。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">2.5、锁定期：自甲方委托的第三方机构扣款成功之日起至甲方受让的应收账款收回之日止。<strong class="font">锁定期内，甲方不得提前退出本服务。</strong></p>
  				</div>
				<div class="serial">
  					<p class="serial_main">2.6、开放期：自锁定期结束次日开始。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">2.7、退出：甲方受让的应收账款得以收回或被转让、垫付后，甲方自动退出本计划。如债务人无法全额或部分支付本金及收益时，乙方或丙方或其他第三人向甲方垫付本金及收益后，即取得甲方所有相应权利，包括但不限于主应收账款、要求回购的权利及要求保证人承担的担保权利等，甲方应对乙方或丙方或第三方行使追索权提供必要的协助。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">2.8、甲方收益及支付：甲方的收益将按其处分相关应收账款实际获取的收益确认。甲方收回其受让的应收账款或处分其受让的应收账款后，甲方委托丙方将其本金及收益提取至指定账户。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">2.9、甲方理解并同意，在包括但不限于下列情形下，甲方同意本服务计划提前终止，并按照甲方实际应收账款持有天数按日计算甲方本金及利息。</strong></p>
				</div>		
				<div class="serial">			
					<p class="serial_main"><strong class="font">2.9.1、债务人提前还款的；</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">2.9.2、乙方提前回购的；</strong></p>
  				</div>
				<div class="serial">
  					<p class="serial_main"><strong class="font">2.9.3、第三方提前代为履行还款或回购责任的；</strong></p>
  				</div>
				<div class="serial">
  					<p class="serial_main"><strong class="font">2.9.4、其他经乙方或币港湾判断认为有利于保障甲方利益的。</strong></p>
  				</div>
				<div class="serial">
  					<p class="serial_main"><strong class="font">3、应收账款收回方式</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">3.1、债务人到期还款；</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">3.2、乙方承诺回购；</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">3.3、币港湾平台风险保证金范围内承诺垫付；</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">3.4、太平洋财险对平台的债权履约信用进行保险。</p>
  				</div>
				<div class="serial">
  					<h3 class="h_title">4、意外事件</h3>
  					<p class="serial_main">如因司法机关或行政机关对甲方采取强制措施导致其本次计划金额对应的资金被全部或部分扣划，视为甲方就全部本金进行了提前支取，本协议自动终止。本协议因此而自动终止的，甲方将不再享有相应收益。</p>
  				</div>
				<div class="serial">
  					<h3 class="h_title">5、税费</h3>
  					<p class="serial_main">因参加本计划所获收益如涉及个人所得税及相关税费，由甲方自行申报及承担。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main"><strong class="font">6、各方的权利与义务</strong></p>
  				</div>
				<div class="serial">
  					<p class="serial_main">6.1、甲方的权利与义务</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">6.1.1、甲方有利用丙方提供的平台按约定价格受让相应应收账款额的权利。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">6.1.2、甲方有按照约定时间收回约定受让应收账款的权利。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">6.1.3、甲方保证所使用的资金为合法取得，且具有排他性的支配权。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main"><strong class="font">6.1.4、甲方有义务按照丙方平台要求向丙方提供真实的个人信息，因甲方提供虚假信息而造成的一切法律后果（包括但不限于民事赔偿，行政处罚等）均由甲方承担。</strong></p>
  				</div>
				<div class="serial">
  					<p class="serial_main"><strong class="font">6.1.5、甲方有义务按照丙方要求操作平台软件以及查收丙方发出的所有消息（包括但不限于站内通知、电子邮件、手机短信等）。因甲方个人操作不当以及疏于查收信息造成的损失由甲方自行承担。</strong></p>
  				</div>
				<div class="serial">
  					<p class="serial_main"><strong class="font">6.1.6、未经协议其他方一致同意，甲方不得在应收账款到期日前将受让的应收账款通过非丙方平台转让或赠与给本协议以外的任何人，或对应收账款进行任何形式的处分。</strong></p>
  				</div>
				<div class="serial">
  					<p class="serial_main">6.1.7、甲方同意，任何一方或第三方对于回购款项进行垫付的，垫付方取得甲方享有的所有相应权利，包括但不限于主应收账款、要求回购的权利及要求保证人承担的担保权利等。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">6.1.8、若甲方受让的应收账款存在抵押担保的，甲方有权就其受让的部分在到期未能收回时行使抵押权。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">6.1.9、在签署本协议书以前，乙方已就本协议书及有关交易文件的全部条款和内容向甲方进行了详细的说明和解释，甲方已认真阅读本协议有关条款，对有关条款不存在任何疑问或异议，并对协议双方的权利、义务、责任与风险有清楚和准确的理解。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">6.2、乙方的权利与义务</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">6.2.1、乙方拥有将其拥有的合法应收账款依法转让并获得转让款的权利。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">6.2.2、乙方有义务按照丙方平台要求向丙方提供真实、合法、有效及可转让的应收账款信息，因乙方提供虚假信息而造成的一切法律后果(包括但不限于民事赔偿，行政处罚等)均由乙方承担。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">6.2.3、乙方承诺，若债务人未能在应收账款到期日前向甲方偿还债务的，则乙方应在应收账款到期日无条件按应收账款转让价格及利息作为对价进行回购。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">6.2.4、乙方同意，乙方有义务向丙方支付平台服务费，平台服务费收费标准和方式由双方另行约定。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">6.3、丙方的权利与义务</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">6.3.1、丙方应当按照本协议的规定，恪尽职守，以诚实、守信、谨慎、有效管理的原则为甲方、乙方进行服务。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">6.3.2、丙方须对甲方、乙方的信息、资产情况及其他服务相关事务的具体情况和资料依法保密；当其中一方出现违约时，丙方有权在平台上公开披露违约方个人或企业的全部相关信息，对此甲方和乙方予以同意和认可，并放弃就丙方上述行为要求丙方承担任何责任或义务的权利。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">6.3.3、丙方有权对甲方、乙方的资格进行严格审查，以求保障在平台上交易方真实存在并取得相关资质。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">6.3.4、丙方有权按照本协议或与乙方的其他协议的约定向乙方收取相关费用，不因甲、乙双方任何纠纷受影响。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">6.3.5、丙方接受委托行为所产生的法律后果，由相应委托方承担。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main"><strong class="font">7、回购</strong></p>
  				</div>
				<div class="serial">
  					<p class="serial_main">7.1、乙方同意，当出现以下情况之一时，甲方有权要求乙方按应收账款转让价格回购应收账款及承担相应的应收账款收益：</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">7.1.1、乙方出让的应收账款不符合本协议第六条规定的；</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">7.1.2、出现除投资人及本协议以外的其他第三方对应收账款主张权利的情况；</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">7.1.3、乙方及该批次应收账款对应的债务人的资信状况、经营情况或者财务状况恶化的；</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">7.1.4、乙方与该批次应收账款对应的债务人发生纠纷的；</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">7.1.5、乙方或该批次应收账款对应的债务人涉及重大商业纠纷或重大诉讼的；</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">7.1.6、乙方或该批次应收账款对应的债务人提交的文件、单据或数据存在虚假情况的；</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">7.1.7、乙方向丙方提供虚假财务、经营数据或拒绝配合丙方对乙方进行尽职调查的；</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">7.1.8、乙方严重违反其他合同义务的。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">7.2、当本协议第7.1条约定的情况出现时，甲方在此不可撤销的委托丙方代甲方向乙方发出提前回购应收账款的通知，乙方应在收到应收账款回购通知之日起【3】日内向甲方支付应收账款回购款及相应的应收账款收益。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main"><strong class="font">8、委托</strong></p>
  				</div>
				<div class="serial">
  					<p class="serial_main"><strong class="font">8.1、甲方委托乙方处理下列事宜：</strong></p>
  				</div>
				<div class="serial">
  					<p class="serial_main"><strong class="font">8.1.1、对债务人进行管理，代为收取债务人偿还的款项；</strong></p>
  				</div>
				<div class="serial">
  					<p class="serial_main"><strong class="font">8.1.2、授权乙方将债务人偿还的款项转付给丙方；</strong></p>
  				</div>
				<div class="serial">
  					<p class="serial_main"><strong class="font">8.2、甲方委托丙方处理下列事宜：</strong></p>
  				</div>
				<div class="serial">
  					<p class="serial_main"><strong class="font">8.2.1、甲方不可撤销的授权丙方通过第三方支付平台将其受让资金直接划扣给乙方；</strong></p>
  				</div>
				<div class="serial">
  					<p class="serial_main"><strong class="font">8.2.2、甲方委托丙方代为收取乙方转付的债务人偿还的款项或乙方支付的回购款项，并按本协议约定进行分配；</strong></p>
  				</div>
				<div class="serial">
  					<p class="serial_main"><strong class="font">8.2.3、乙方出现任何违约情况时（包括出现提前回购的违约事项），甲方授权丙方作为甲方的代理人代为主张权利。丙方有权以甲方名义对乙方及债务人主张权利，主张权利的内容包括但不限于要求债务人还款、乙方提前回购，保证人承担保证责任、并承担相应违约责任。主张权利的形式包括但不限于向乙方、债务人及保证人提起诉讼，并收取款项，丙方收到有关款项后应于3个工作日内分配给甲方。</strong></p>
  				</div>
				<div class="serial">
  					<h3 class="h_title">9、风险提示</h3>
  					<p class="serial_main">理财有风险，投资需谨慎。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main"><strong class="font">10、其他</strong></p>
  				</div>
				<div class="serial">
  					<p class="serial_main"><strong class="font">10.1、甲方需要通过丙方运营的“币港湾”或丙方客服人员等方式了解相关信息。如未及时查询，或由于通讯故障、系统故障以及其他不可抗力等因素影响使甲方无法及时了解相关信息，由此产生的责任和风险由甲方自行承担。</strong></p>
  				</div>
				<div class="serial">
  					<p class="serial_main"><strong class="font">10.2、本次计划并非独立于甲方在注册、使用“币港湾”时需要遵守的相应规则和订立的相关协议。甲方必须遵守“币港湾”的相关规则和签署的相关协议，如违背的，将自行承担相应后果。</strong></p>
  				</div>
				<div class="serial">
  					<p class="serial_main"><strong class="font">10.3、由于地震、火灾、战争、黑客攻击、电信运营商的原因等不可抗力导致的交易中断、延误的，本协议各方双方互不追究责任。但应在条件允许的情况下，应采取一切必要的补救措施以减小不可抗力造成的损失。</strong></p>
  				</div>
				<div class="serial">
  					<p class="serial_main">10.4、本次计划内，如甲方追加服务计划金额，则在甲、乙、丙三方之间存在多份服务计划协议书情况下，应以最后订立协议书所约定的内容为准。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">10.5、本协议项下的产品期限、收益率、起息日、到期日均以产品页面所展示的为准；投资人受让本金金额以实际划扣的金额为准。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">10.6、本协议项下产生的纠纷，各方应先行协商解决，协商不成的，任何一方可向丙方所在地法院提起诉讼。</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">10.7、本协议采用电子文本形式制成，并永久保存在丙方为此设立的专用服务器上备查，各方均认可该形式的协议效力。</p>
  				</div>

  				<div class="serial">
  					<p class="serial_main">甲方（签字）：<span style="font-weight:bold;">$!userName</span></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">乙方（应收账款转让方）：深圳前海达飞金融服务有限公司</p>
  				</div>
				<div class="serial">
  					<p class="serial_main">丙方（盖章）：浙江品听资产管理有限公司</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">签订日期：<span style="font-weight:bold;">$!openTime</span></p>
  				</div>
  				<div class="serial ser_posi">
  					<p class="serial_main"></p>
					##<div class="ser_img"></div>
					<img class="ser_img_two" src="$!env.getWebURL('resources/micro2.0/images/ptzc_gz.png')">
					<img class="ser_img" src="$!env.getWebURL('resources/micro2.0/images/ptzc_gz_two.png')">
  				</div>
				
			</div>
</body>
#Html("end")