#Html("begin")
#Head("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadJS("resources/micro2.0/scripts/assets/six")
#LoadCSS("resources/micro2.0/styles/agree/default")
#LoadCSS("resources/micro2.0/styles/agree/agree_powerAttorney")
#Head("end")

<body>
<div class="agr_main">
    <div class="top_no">编号：$!financialNo</div>
    <div>本协议由以下双方于$!{openTime}签署</div>
    <div>甲方（出借人/委托方）：$!userName</div>
    <div>证件号码：#if($!IdCard)$!IdCard #else 未实名认证 #end</div>
    <div>币港湾账户：$!mobile</div>
    <div>乙方（平台运营方/受托方）：杭州币港湾科技有限公司</div>
    <div>地址：杭州市江干区西子国际C座2305</div>
    <p class="ft_top">注：乙方系一家具有提供网络借贷信息中介服务资质并拥有币港湾网站（www.bigangwan.com）以及对应的移动客户端经营权的公司。</p>
    <p class="ft_top">根据《中华人民共和国合同法》、《中华人民共和国民法总则》及相关法律法规的规定，就乙方为甲方提供出借咨询与管理的服务，甲方对乙方授权如下：</p>
    <p>1.甲方委托乙方寻找合格借款人并对借款人及借款条件进行筛选、评估及确认。</p>
    <p>2.甲方授权乙方代为申请和管理用于签署本协议及其他相关法律文件的数字证书及数字证书的更新。甲方授权乙方使用甲方数字证书以甲方名义与平台借款人签署协议。</p>
    <p>3.为便利、统一出借及收取本息，甲方授权并委托乙方及存管银行从甲方银行存管账户中代为划拨出借及收益款项，出借给借款人，并收取借款人偿还的款项。</p>
    <p>4.甲方授权委托出借的基本信息：</p>
    <p>
        <div class="border">
            <div class="bor_t1">
                <div class="bot_top">
                    <span>产品名称：$!name</span>
                </div>
                <div class="bot_top">
                    <span>出借金额：$!money.format($!openBalance)元（大写人民币：$!money.digitUppercase($!openBalance)）</span>
                </div>
                <div class="bot_top">
                    <span>预期年化收益率： $!number.format("0.00",$!rate)%</span>
                </div>
                <div class="bot_top">
                    <span class="t1_left">封 闭 期： $!dayNum 天</span>
                    <span class="t1_right">回收方式：到期还本付息</span>
                </div>
                <div class="bot_top">
                    <span class="t1_left"> 收益管理费：免收</span>
                    <span class="t1_right">存管服务费：免收</span>
                </div>
            </div>
        </div>
    </p>
    <p class="ft_top"><strong>甲方在此进一步承诺并保证甲方已经知悉、了解并同意：本协议所示预期年化收益率不代表甲方最终实际收益；甲方出借本金及利息存在不能够按期收回的风险；在甲方委托出借资金的实际年化收益率未达到预期年化收益率的情况下，甲方获得的出借收益以其实际收益为准，乙方不对甲方本息的收回、可获收益金额作任何承诺和保证。</strong></p>
    <p class="ft_top"><strong>在相应封闭期（即授权有效期）内甲方委托乙方将借款人偿还的借款本息进行新一次的出借。每次出借模式与首次选择模式保持一致，出借次数不限。</strong></p>
    <p>5.甲方加入的本期计划所对应的实际借款项目利息中超过本期计划预期年化收益以外的部分作为乙方的出借服务费。本期计划实际收益未超过预期年化收益的，乙方不收取任何出借服务费。预期年化收益仅为乙方向甲方收取出借服务费的基准和依据，不代表乙方对甲方加入本期计划可以取得的收益的任何预测，也不是乙方对甲方加入本期计划可以取得的收益的任何保证和承诺。出借服务费收取方式：按甲方每笔出借金额计算并收取。同时甲方授权存管银行直接向乙方进行划扣支付。</p>
    <p>6.在封闭期内甲方不能提前终止双方之间授权委托法律关系。如因司法机关或行政机关对甲方采取强制措施导致其本期计划对应的资金被全部或部分扣划，视为甲方提前退出本期计划，授权委托自动终止。授权委托因此而自动终止的，甲方将不再享有相应收益，但甲方仍应按照授权约定向乙方支付相关费用。</p>
    <p>7.甲方承诺，乙方在其授权范围内所采取的全部行为与法律后果均由其自行承担，与乙方无关。</p>
    <p>8.任何一方违反授权委托书的约定，使得约定内容全部或部分不能履行，均应承担违约责任，并赔偿对方因此遭受的损失（包括但不限于由此产生的诉讼费、律师费、评估费、保全及担保费、差旅费、调查费及其他实现债权所产生的费用）。</p>
    <p>9.本委托书通过使用CA数字证书及电子签名方式并按照币港湾平台规定的程序进行签署，签署后对双方当然发生法律效力，双方对其效力无异议。</p>
    <p>10.本授权委托书自双方盖章或签字之日起生效。</p>
    <br/><br/>
    <p>甲方（委托方）：$!userName</p>
    <p>签署日期：$!{openTime}</p>
    <p>乙方（受托方）：杭州币港湾科技有限公司</p>
    <div class="serial ser_posi">
        <img class="ser_img_powerAttorney" style="bottom: 60px;top:-120px;" src="$!env.getWebURL('resources/micro2.0/images/bgw_gz.png')">
    </div>
    <p>签署日期：$!{openTime}</p>
</div>
</body>
#Html("end")