#Html("begin")
#Head("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadJS("resources/micro2.0/scripts/regular/six")
#LoadCSS("resources/micro2.0/styles/regular/default")
#LoadCSS("resources/micro2.0/styles/regular/payment_failed")
#LoadJS("resources/micro2.0/scripts/zepto.min")
#LoadJS("resources/micro2.0/scripts/regular/custom")
#WeChatShare()
#Head("end")
<body>
<input type="hidden" id="APP_ROOT_PATH" value="$!env.getWebURL('')"/>
<input type="hidden" id="errorMsg" value="$!errorMsg" />
<input type="hidden" id="qianbao" name="qianbao" value="$!qianbao" />
<input type="hidden" id="agentViewFlag" name="agentViewFlag" value="$!agentViewFlag">
<div class="header">
	<h1 class="heade_ft oran_color">出借咨询与服务协议</h1>
</div>
<h2 class="result-title">当前用户不存在该加入记录</h2>
<div class="pay_img"></div>
	#if("$!qianbao"=="qianbao")
    	<a class="invite" href="$!env.getWebURL('micro2.0/assets/assets')?qianbao=qianbao&agentViewFlag=$!agentViewFlag" title="">返回重试</a>
	#else
    	<a class="invite" href="$!env.getWebURL('micro2.0/assets/assets')" title="">返回重试</a>
	#end
</body>
#Html("end")