
body{
	/*text-align: center;*/
	font-family: "微软雅黑",arial, helvetica, sans-serif;
	background:#f5f5f5;
}
.header{
	width: 100%;
	height: 30px;
	background: #ffffff;
}
.wrap{ width:1200px; margin:0 auto;}
.head{
	width: 1200px;
	height: 30px;
	line-height: 34px;

}
.head_left{
	display: inline-block;
	zoom: 1;
	width:386px;
	height: 30px;
	font-size: 10px;
	float: left;
	color: #222222;
	margin-left: 10px;
	font-size: 14px;
}
.head_left span{margin:0 20px 0 0px;}
.head_left em{
	color: #909090;
	font-style: inherit;
}
.head_main{
	display: inline-block;
	zoom: 1;
	width: 100px;
	height: 30px;
	float: left;

}
ul.h_ul{
	float: right;	
	margin-right:15px;
	
}
ul.h_ul li{
	float: left;
	color: #222222;
		font-size: 12px;
		margin-left: 15px;
		height: 30px;
	line-height: 34px;
}
ul.h_ul li a{
	color: #222222;
	font-size: 12px;
}
.h_ul_limg{position:relative;top:4px;}
ul.h_ul .h_ul_li{width:69px;height:20px;border:1px solid #ff6633;position:relative;top:6px;line-height:20px;text-align: center;}
ul.h_ul .h_ul_li .nav_appem{position: absolute;top:25px;left:-20px;z-index: 10010;background:#fff;width:113px;height:133px;display: none;}
ul.h_ul .h_ul_li2{position:relative;}
ul.h_ul .h_ul_li2 .nav_wxem{position: absolute;top:35px;left:-65px;z-index: 10010;background:#fff;width:113px;height:132px;display: none;}
ul.h_ul .h_ul_li a{color:#ff6633;}
.head_main a{
	position: relative;
}
.head_main .wb{ 
	width: 22px;
	height: 22px;
	display: inline-block;
	background-image: url(../../images/icon.png);
	background-position: -9px 0px;
    background-repeat: no-repeat;}
.head_main .wb:active{
	background-image: url(../../images/icon1.png);
	background-position: -9px 0px;
    background-repeat: no-repeat;}
.head_main .wx{ 
	width: 22px;
	height: 22px;
	display: inline-block;
	background-image: url(../../images/icon.png);
    background-position: -40px 0;
    margin-left: 8px;
    background-repeat: no-repeat;
    }
.head_main .wx:hover{
	background-image: url(../../images/icon1.png);
	z-index: 20000;
	background-position: -40px 0;
    margin-left: 8px;
    background-repeat: no-repeat;
}
.imgs{
	  position:relative;
      z-index: 20000; 
      top:-5px;
      width: 185px; 
      height: 200px;  
      display: none;
      left: 26.3%;
      }
.head_main .kk{
	width: 22px;
	height: 22px;
	display: inline-block; 
 	margin-left: 8px;
 	}
.head_right{ 
	display: inline-block; 
	zoom:1; 
	width: 210px; 
	height: 30px; 
	float: right; 
	font-size: 10px; 
	color: #fff;
	}
.head_right a{ 
	display: inline-block;
	zoom: 1; 
	width: 55px; 
	height: 30px;
	}
.naver{
	width:100%;
	height: 64px;
	line-height: 64px;
	background: #fff;
}
.nav{
	width: 1200px;
	height: 64px;
	line-height: 64px;
	margin: 0 auto;
	
}
.nav_left{
	width: 370px;
	height: 64px;
	background: url(../../images/navnav.png) no-repeat 5px 10px; float: left;
    margin-top: -10px;
}
.nav_right{
	width: 450px;
	height: 64px;
	float: right;
	position: relative;
}
.nav_right ul{
	width: 450px;
	height: 64px;
	list-style: none;
	overflow: visible;
	position: relative;
	z-index: 10000;
}
.nav_right ul li{
	float: left;
	width: 90px;
	height: 64px;
	line-height: 64px;
	text-align: center;	
	position: relative;
}
.nav_right ul li a{
	display: inline-block;
	color: #4e4e4e;
	text-decoration: none;
	width: 90px;
	height: 64px;
	line-height: 70px;
	position: relative;
	z-index: 1000;
	position: absolute;
	top: -3px;
	left: 0px;
}
.footer{width: 100%; height: 300px; background: #333;margin:0 auto;}
.footer_com{width:1200px;height:300px;margin:0 auto;}
.footer_top{width:1200px;height:220px;border-bottom: 1px solid #999999;}
.foot_left{width:476px;height:174px;float: left;padding-top: 46px;}
.fl_one{float:left;margin-right: 94px;}
.foot_left .fl_two{margin-right: 0;}
.fl_one h3{font-size: 16px;margin-bottom:16px ;color: #fff;}
.fl_one ul li a{font-size: 14px;line-height: 32px;color: #999;}
.foot_center{width:420px;height:220px;float: left;}
.fc_one{width:156px;height:195px;float:left;padding-top: 25px;text-align: center;margin-right: 14px;}
.fc_one img{width:156px;height:156px;}
.fc_oem{width:156px;height:146px;background:#fff;padding-top:10px;}
.fc_oem img{width:135px;height:135px;}
.fc_one h4{font-size: 16px;margin-bottom:6px ;color: #fff;}
.foot_right{width:304px;height:214px;float: right;font-size: 14px;line-height: 32px;padding-top:6px;}
.foot_right ul{color:#7d7d7d;}
.foot_right ul .fr_one{font-size: 24px;color:#fff;line-height: 20px;}
.foot_right ul li a{color:#7d7d7d;text-decoration: underline;}
.footer_down{width:1200px;height:79px;}
.foot_dleft{width:598px;height:58px;float:left;padding-top:21px;}
.foot_dleft img{float:left;margin-right:19px;}
.foot_dright{width:212px;height:71px;float: right;padding:8px 8px 0 0 ;}
.foot_dright p{font-size: 12px;color:#999999;text-align: right;line-height:22px;}
