.data_icon,
.icon1,
.icon2,
.icon3{width:20px; height:20px; background: url(../../images/data/data_icon.png); display: block; position: absolute;right:14px; top:7px;}
.icon1{ background-position: -1px 0px; }
.icon2{background-position: -20px 0px;}
.icon3{background-position: -45px 0px;}
.data_main{ width:780px;margin:30px auto 0px;    padding-bottom: 70px; height:auto; background:#ffffff;border-radius:8px; border: 1px solid #cccccc;}
.data_wrap{ width:736px; margin:0 auto;}
.data_title{font-size: 18px; color:#fc673d;padding-top: 17px;}
.data_center{ width:100%; text-align: center; font-size: 14px; color: #999999; padding-bottom: 12px; }
.data_item{width:282px; height:118px; background:#f7f7f7; border-radius: 8px; display: inline-block;margin-right: 10px;overflow: hidden;}
.item_title{width:100%; height:36px; line-height: 36px; background: #e7e6e6; position: relative;}
.itm_ft{ padding-left: 10px;color:#333333; font-size: 15px;}

.data_number{width:100%; text-align: center; padding:20px 0px; font-size: 30px;line-height: normal; color:#ff6633;}
.item_two{width:146px; height:116px;}
.item_three{ margin-right: -2px; }
.item_four,.item_six,.item_age{ width:362px; height:278px; margin-top:30px;margin-right: 8px;}
.item_five,.item_seven,.item_sex{width:362px; height:278px;margin-right: 0px;}

#data_one,#data_five,#data_six,#data_seven,#data_age,#data_sex{ width:362px;min-width:362px; height:245px; }
