
/*轮播图*/
.homepage_container{
    
}
.swiper-container {
    width: 100%;
    height: 410px;
}
.swiper-slide>a{
    display: block;
    height: 410px;
    -webkit-background-size:cover;
}
.pagination{
    text-align: center;
    position: absolute;
    left: 0;  right: 0; bottom: 10px;
    z-index: 50;
}
.pagination .swiper-btn{
    display: inline-block;
}
.swiper-pagination-switch{
    background: #666;
    background: rgba(0,0,0,.2);
    display: inline-block;
    width: 160px;
    height: 34px;
    line-height: 34px;
    color: rgba(255,255,255,.5);
    font-size: 14px;
    border-bottom: solid 2px #ffffff;
    border-radius: 0;
    position: relative;
}
.swiper-active-switch{
    background: rgba(0,0,0,.5);
    color: white;
}



/*轮播倒计时*/
.swiper-active-switch:before{
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    bottom: -2px;
    background: #ff6633;
    right: 0;
    animation: paginationBtn 5s;
    -moz-animation: paginationBtn 5s;
    -o-animation: paginationBtn 5s;
    -webkit-animation: paginationBtn 5s;
    animation-timing-function:linear ;
    -moz-animation-timing-function:linear ;
    -o-animation-timing-function:linear ;
    -webkit-animation-timing-function:linear ;
}
@keyframes paginationBtn {
    0%{
        right: 100%;
    }
    100%{
        right: 0;
    }
}

/*主要内容*/
.homepage_feature{
    background: #ffffff;
    border-bottom: solid 1px #e5e5e5;
}
.feature_list{
    width: 1080px;
    margin: auto;
    padding: 40px 0;
    min-height: 60px;
}
.feature_list:after{
    content:"";
    display: block;
    clear: both;
    height: 1px;
}
.feature_card{
    float: left;
    width: 25%;
}
.feature_ico{
    width: 52px;
    height: 60px;
    background-repeat:no-repeat;
    background-position: center center;
    display: inline-block;
    float: left;
}
.feature_content{
    display: inline-block;
    height: 40px;
    float: left;
    width: 170px;
    padding: 10px 20px;
}
.feature_content h5{
    font-size: 16px;
    font-weight:bold;
    margin-bottom: 20px;
}
.feature_content p{
    font-size: 14px;
    color: #999999;
}
.feature_card:nth-child(1) .feature_content h5{
    color: #ff6633;
}
.feature_card:nth-child(2) .feature_content h5{
    color: #ffc33c;
}
.feature_card:nth-child(3) .feature_content h5{
    color: #657bff;
}
.feature_card:nth-child(4) .feature_content h5{
    color: #c787ff;
}

.homepage_date{
    background: #f5f5f5;
    padding: 40px 0;
}
.date_list{
    width: 1080px;
    margin: auto;
    padding: 30px 0;
    min-height: 60px;
    background: #ffffff;
    cursor: pointer;
}
.date_list:after{
    content:"";
    display: block;
    clear: both;
    height: 1px;
}
.date_card{
    float: left;
    width: 24.9%;
    height: 60px;
    text-align: center;
    border-right:dashed 1px #e5e5e5;
}
.date_card:last-child{
    border-right: none;
}
.date_card p{
    font-size: 14px;
    color: #666666;
}
.date_card p.date_Num {
    margin-top: 15px;
    font-size: 24px;
    color: #ff6633;
    line-height: 30px;
}
.date_card p span{
    color: #ff6633;
}
.homepage_adversment{
    background: #fff;
    padding: 20px;
    height: 120px;
    width: 1040px;
    margin: 20px auto 0;
}
.adversment_frame{
    width: 330px;
    height: 120px;
    float: left;
}
.homepage_adversment .adversment_margin{
    margin: 0 25px;
}
.adversment_frame img{
    width: 100%;
    height: 100%;
}
.homepage_product{
    background: #ffffff;
    padding: 40px 0;
}
.product_rokies{
    width: 1080px;
    margin: auto;
    margin-bottom: 40px;
}
.homepage_product h3,.homepage_about h3{
    font-size: 24px;
    color: #666666;
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
}
.product_tips{
    font-size: 14px;
    color: #e5e5e5;
    line-height: 19px;
    border-top:solid 1px transparent;
    text-align: center;
    margin-bottom: 25px;
}
.product_tips span{
    display: inline-block;
    width: 85px;
    height: 1px;
    background: #e5e5e5;
    margin: 9px 20px 5px;
}
.rokie_plan{
    min-height: 140px;
    display: inline-block;
    cursor: pointer;
}
.rokie_plan:after{
    content:"";
    display: block;
    clear: both;
    height: 1px;
}
.rokie_plan_img{
    height: 140px;
    width: 255px;
    background: url(../../images/homepage/rokie_plan_img.png) no-repeat center;
    float: left;
    position: relative;
    text-align: center;
}
.rokie_plan_img h5{
    text-align: center;
    font-size: 24px;
    font-weight:bolder;
    color: #fff;
    line-height: 24px;
    margin: 40px 0 20px;
}
.rokie_plan_img span{
    display: inline-block;
    width: 100px;
    line-height: 24px;
    background: rgba(255,255,255,0.3);
    font-size: 14px;
    color: white;
    border-radius: 12px;
}
.rokie_plan_img img{
    position: absolute;
    top: -2px;
    left: -2px;
}
.rokie_plan_ifo{
    border:solid 1px #e5e5e5;
    min-height: 60px;
    width: 824px;
    border-left:none;
    float: left;
    padding: 39px 0;
}
.rokie_plan_ifo:after{
    content:"";
    display: block;
    clear: both;
    height: 1px;
}
.rokie_plan_ifo_card{
    width: 22%;
    border-right: dashed 1px #e5e5e5;
    height: 60px;
    text-align: center;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.rokie_plan_ifo_card:nth-child(2){
    text-align: left;
}
.rokie_plan_ifo_card:nth-child(2) p{
    padding-left: 30px;
}
.rokie_plan_ifo_card:last-child{
    border-right:none;
}
.rokie_plan_ifo_card p{
    font-size: 14px;
    color: #666666;
    line-height: 20px;
}
.rokie_plan_ifo_card p:first-child{
    margin-bottom: 20px;
}
.rokie_plan_ifo_card .rokie_plan_return{
    color: #ff6633;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 10px!important;
    height: 30px;
}
.rokie_plan_ifo_card .rokie_plan_return span{
    font-size: 36px;
    line-height: 36px;
    height: 36px;
    display: inline-block;
}
.rokie_plan_ifo_card a{
    height: 36px;
    width: 170px;
    border:solid 2px #ff6633;
    border-radius: 20px;
    display: inline-block;
    color: #ff6633;
    margin-top: 10px;
    font-size: 14px;
    line-height: 36px;
    transition: .2s;
}
.rokie_plan_ifo_card a:hover{
    background: #ff6633;
    color: #ffffff;
}
.rokie_plan_ifo_card .disabled,.plans_card .plans_card_btn .disabled{
    color: #999;
    border-color: #c5c5c5;
}
.rokie_plan_ifo_card .disabled:hover,.plans_card .plans_card_btn .disabled:hover{
    background: #c5c5c5;
    color: #ffffff;
}

.product_plans{
    width: 1100px;
    margin: auto;
    min-height: 345px;
}
.plans_list{
    min-height: 345px;
    width: 25%;
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
}
.product_plans:after{
    content:"";
    display: block;
    clear: both;
    height: 1px;
}
.plans_card{
    border:solid 1px #e5e5e5;
    border-top:solid 2px #ff6633;
    cursor: pointer;
    position: relative;
}
.plans_card h4{
    font-size: 16px;
    color: #333333;
    line-height: 50px;
    text-align: center;
    border-bottom: solid 1px #f0f0f0;
}
.plans_card .plans_card_ifo{
    border-bottom: solid 1px #f0f0f0;
    text-align: center;
    padding: 20px 0 20px;
    line-height: 44px;
}
.plans_card .plans_card_ifo p{
    font-size: 14px;
    color: #999999;
    line-height: 15px;
}
.plans_card .plans_card_ifo .card_ifo_expect{
    color: #ff6633;
    margin-bottom: 5px;
    font-size: 36px;
}
.plans_card .plans_card_ifo .card_ifo_expect .md_thrspan{
    font-size: 18px;
}
.plans_card .plans_card_standard:after{
    content: "";
    display: block;
    height: 0;
    background: transparent;
    clear: both;
}
.plans_card .plans_card_standard p{
    float: left;
    width: 49.5%;
    line-height: 50px;
    font-size: 14px;
    color: #999999;
    text-align: center;
    border-bottom: solid 1px #f0f0f0;
}
.plans_card .plans_card_standard p:nth-child(odd){
    border-right:solid 1px #f0f0f0;
}
.plans_card .plans_card_prog{
    border-bottom: solid 1px #f0f0f0;
    padding: 15px 0;
    min-height: 30px;
}

.plans_card_prog .plans_prog_speed{
    width: 215px;
    margin: 0 auto 10px;
    border-radius: 3px;
    height: 6px;
    background-color: #e5e5e5;
    overflow: hidden;
}

.plans_card_prog .plans_prog_speed .prog_speed_main{
    height: 100%;
    overflow: hidden;
    border-radius: 3px;
}
.plans_card_prog .plans_prog_speed .prog_speed_main .prog_speed_out{
    background: #ff6633;
    height: 6px;
    width: 215px;
    background: linear-gradient( to right, #ffc33c 0, #ff5d3c 100%);
}
.plans_card .plans_card_prog .plans_prog_ifo{
    height: 15px;
    padding: 0 20px;
}
.plans_card_prog .plans_prog_ifo p{
    font-size: 12px;
    color: #999999;
}
.plans_card_prog .plans_prog_ifo .prog_ifo_data{
    float: left;
}
.plans_card_prog .plans_prog_ifo .prog_ifo_data span{
    color: #ffc33c;
}
.plans_card_prog .plans_prog_ifo .pro_ifo_percent{
    float: right;
    color: #ffc33c;
}
.plans_card .plans_card_btn a{
    display: block;
    margin: 10px auto;
    width: 211px;
    height: 36px;
    line-height: 35px;
    border:solid 2px #ff6633;
    border-radius: 20px;
    color: #ff6633;
    font-size: 16px;
    transition:  .2s;
    text-align: center;
}
.plans_card .plans_card_btn a:hover{
    background: #ff6633;
    color: #ffffff;
}
.plans_card .plans_card_btn .btn_disabled{
    border-color: #c5c5c5;
    color: #999;
}
.plans_card .plans_card_btn .btn_disabled:hover{
    background: #c5c5c5;
    color: #fff;
}
/*平台相关*/
.homepage_about{
    padding: 40px 0;
    width: 1080px;
    margin: auto;
}
.about_ifo:after{
    content: "";
    display: block;
    height: 0;
    background: transparent;
    clear: both;
}
.about_ifo_left{
    float: left;
    width: 290px;
    margin-right: 20px;
}
.about_ifo_right{
    float: left;
}
.about_ifo_card{
    float: left;
    background: #ffffff;
    padding: 0 20px;
    box-sizing: border-box;
}
.about_ifo_card:first-child{
    margin-bottom: 20px;
}
.about_ifo .ifo_notice{
    width: 290px;
}
.about_ifo .ifo_reports{
    width: 290px;
    min-height: 208px;
}
.about_ifo_card .ifo_card_title{
    line-height: 45px;
    text-align: right;
    box-sizing: border-box;
    position: relative;
    border-bottom: solid 1px #e5e5e5;
}
.about_ifo_card .ifo_card_title h5{
    position: absolute;
    line-height: 45px;
    left: 0;top: 0;
    border-bottom: 2px solid #ff6633;
    font-size: 16px;
    color: #333333;
}
.about_ifo_card .ifo_card_title a{
    display: inline-block;
    color: #999999;
    font-size: 14px;
}
.about_ifo_card .ifo_card_title a:hover{
    color: #666666;
}
.about_ifo_card .notice_list{
    padding: 10px 0;
}
.about_ifo_card .notice_card{
    height: 35px;
    line-height: 35px;
}
.about_ifo_card .notice_card a{
    color: #666666;
    font-size: 14px;
    display: block;
    position: relative;
    padding-left: 10px;
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width:170px;
	float:left;
}
.about_ifo_card .notice_card a:before{
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 2px;
    display: inline-block;
    left: 0;
    top: 17px;
    background: #666666;
}
.about_ifo_card a:hover{
    text-decoration: underline;
}
.about_ifo_card .notice_card span{    
    font-size: 14px;
    float: right;
    display: inline-block;
    color: #c5c5c5;
}

.about_ifo .ifo_news{
    width: 770px;
    min-height: 435px;
    margin-right: 0;
    box-sizing: border-box;
}
.about_ifo_card .ifo_card_title ul{
    position: absolute;
    left: 0;top: 0;
}
.about_ifo_card .ifo_card_title ul:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.about_ifo_card .ifo_card_title ul li{
    line-height: 45px;
    font-size: 16px;
    color: #333333;
    float: left;
    margin-right: 30px;
    cursor: pointer;
}
.about_ifo_card .ifo_card_title ul li:hover{
    color: #ff6633;
}
.about_ifo_card .ifo_card_title ul .title_focuse{
    border-bottom: 2px solid #ff6633;
}
.reports_list:after,
.ifo_news_list:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
}
.reports_card{
    float: left;
    width: 49.5%;
    border-bottom: dashed 1px #e5e5e5;
    position: relative;
    box-sizing: border-box;
    padding-left: 20px;
}
.reports_list .reports_card:last-child,.reports_list .reports_card:nth-last-child(2){
    border-bottom: solid 1px transparent;
}
.reports_card a{
    display: inline-block;
    color: #666666;
    font-size: 14px;
    line-height: 50px;
}
.reports_card a:hover{
    color: #ffc33c;
}
.reports_card span{
    position: absolute;
    top: 16px;
    left: 0;
}
.ifo_news_text .hidden{
    display: none;
}
.ifo_news_text .ifo_news_wrap a{
    display: block;
}
.ifo_news_list{
    padding: 19px 0 18px;
    border-bottom: dashed 1px #e5e5e5;
}
.ifo_news_text .ifo_news_list:last-child{
    border-bottom: none;
}
.ifo_news_list .news_img{
    width: 180px;
    height: 90px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}
.ifo_news_list .news_img img{
    min-height: 100%;
    min-width: 100%;
    width: 100%;
}
.ifo_news_list .news_text{
    float: left;
    width: 530px;
}
.ifo_news_list .news_text:hover h5,.ifo_news_list .news_text:hover p{
    text-decoration: underline;
}
.ifo_news_list .news_text h5{
    font-size: 16px;
    color: #333333;
    line-height: 18px;
    height: 18px;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
}
.ifo_news_list .news_text p{
    font-size: 14px;
    color: #666666;
    line-height: 18px;
    height: 36px;
    letter-spacing: .05em;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break:break-all;
}
.ifo_news_list .news_text .news_date{
    color: #c5c5c5;
    margin-top: 10px;
    height: 18px;
}
.ifo_news_list .news_text .news_date span{
    color: #ffc33c;
}

/*合作伙伴*/
.homepage_partner{
    background: #ffffff;
    padding: 40px 0;
}
.homepage_partner h3{
    font-size: 24px;
    color: #666666;
    line-height: 25px;
    text-align: center;
}
.homepage_partner h3 span{
    display: inline-block;
    width: 85px;
    height: 1px;
    background: #e5e5e5;
    margin: 7px 20px;
}
.partner_show{
    width: 1080px;
    margin: 30px auto 0;
}
#featureContainer {  }
#feature {
    position: relative;
}
#feature .button {
    position: absolute;
    width: 840px;
    top: 72px;
}
#feature .prev {
    width: 30px;
    display: block;
    background: url(../../images/homepage/left_arrow_high.png) no-repeat center;
    height: 90px;
    position: absolute;
    top: 0;
    cursor:pointer ;
    left: 0;
    opacity: .5;
    transition: .2s;
    z-index: 50;
}
#feature .next {
    width: 30px;
    display: block;
    background: url(../../images/homepage/right_arrow_high.png) no-repeat center;
    height: 90px;
    position: absolute;
    top: 0;
    cursor:pointer ;
    right: 0;
    z-index: 50;
    opacity: .5;
    transition: .2s;
}
#feature .prev:hover,#feature .next:hover{
    opacity: 1;
}
.featureul {
    height:90px;
    width:2000%;
    position:absolute;
    top:0; left:0;
    cursor: pointer;
}
#botton-scroll {
    margin:0 auto;
    position:relative;
}
#block {
    position: relative;
    margin: 0 auto;
    height: 90px;
    overflow: hidden;
    width: 930px;
    left: 1px;
}
.featureBox{
    float: left;
    width:210px;
    height:90px;
    text-align: center;
    line-height: 64px;
    background:#fff;
    margin-right: 30px;
    box-sizing: border-box;
}
.featureBox img{
    width:100%;
    position: relative;
}

/*############################## 加息展示 ##################################*/


.card_ifo_expect_left{
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 5px;
    text-align: right;
    height: 44px;
    line-height: 44px;
}
.card_ifo_expect_right{
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    text-align: left;
    height: 44px;
}
.plans_card .plans_card_ifo .card_ifo_expect .activity_tag{
    line-height: 24px;
    height: 24px;
    margin-bottom: 6px;
}
.plans_card .plans_card_ifo .card_ifo_expect .activity_tag span{
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    border-radius:12px;
    background: #FFC33C;
    height: 24px;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    padding: 0 10px;
    position: relative;
}
.plans_card .plans_card_ifo .card_ifo_expect .redpack_tag{
    line-height: 14px;
    font-size: 14px;
    color: #ff6633;
}
.plans_card .plans_card_ifo .card_ifo_expect .card_ifo_expect_right .activity_tag_middle{
    padding: 10px 0;
    margin-bottom: 0;
}
.plans_card .plans_card_ifo .card_ifo_expect .card_ifo_expect_right .redpack_tag_middle{
    padding: 15px 0;
}
.pro_finish .activity_tag span{
    background: #999;
}
.pro_finish .redpack_tag{
    color: #999;
}
.clearfix{
    clear: both;
    height: 0;
}