.infolist{text-align:center;}  
 .infolist ul{margin:0;padding:0;}  
    .infolist ul li{list-style:none;height:28px;line-height:28px;font-size:16px; color:#999999;}  
 #content{
 	height:28px;
 	overflow:hidden;
 	background: #F9F9F9;
 	background-size: auto 36px;
 	border-bottom: 1px solid white;
 	position: relative;
 	width: 100%;
 }
 #ads_box {
	position: relative;
	display: -webkit-box;
	background: #FFF;
	border-bottom: 1px solid #ededed;
	box-shadow: 0 1px 1px #fff;
}
#ads_close {
	display: block;
	position: absolute;
    right: 20px;
    top:3px;
	text-indent: -9999px;
	background: url(../../images/close_message.png) no-repeat scroll 0 0 transparent;
	height: 22px;
	width: 24px;
}
#ads_close:hover {
	background: url(../../images/close_message.png) no-repeat scroll 0 -20px transparent;
}
.news_link{ display: inline-block; font-size:20px;color:#b1b1b1; margin-left: -18px;}
.news_left{ float:left; width:620px;padding-left: 10px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.news_timer{padding-left:6px;}
.news_more{color:#b1b1b1;}
/* 首页改变年化收益字体大小 */
.Z-number div.i_oness span b{ font-size:48px;}
/* 底部高度上升 */
div.foter_top{height:484px;}
.ft_float{ float:left;}