.body{background:#fff;}
.banner{width:100%;height:400px;margin:0 auto;background:url(../../images/home/banner_novice_standard.jpg) no-repeat center;}
.main_one{width:1200px;height:550px;margin:50px auto 0;}
.main_oneh3{width:1200px;height:72px;font-size: 36px;color:#666;line-height: 60px;}
.main_onespan{display: block;width:62px;height:72px;background:url(../../images/home/main_h3.png) no-repeat;float: left;color:#fff;font-size: 16px;text-align: center;margin-right: 12px;}
.main_onei{font-size: 20px;}
.main_onedown{width:1200px;height:310px;margin-top:34px;}
.mo_l{width:360px;height:310px;float: left;text-align: center;}
.mo_l1{width:100%;height:30px;font-size: 30px;line-height: 30px;color:#333;margin:12px 0 12px;}
.mo_l2{width:100%;height:14px;font-size: 14px;line-height: 14px;color:#666;}
.mo_lcopy{margin:0 60px 0 60px;}
.main_two{width:1200px;height:610px;margin:0 auto;}
.main_twodown{width:1200px;height:350px;margin-top:54px;}
.mt_l{width:400px;height:350px;background:url(../../images/home/maint1.png) no-repeat center;text-align: center;position:relative;float: left;margin-left: 136px;}
.mt_l1{width:100%;height:36px;font-size: 36px;color:#fb5048;line-height: 36px;position:absolute;top:32px;}
.mt_l2{width:100%;height:36px;font-size: 36px;color:#fb5048;line-height: 36px;position:absolute;top:100px;font-weight: 600;}
.mt_l3{width:100%;height:36px;font-size: 18px;color:#faf6ea;line-height: 36px;position:absolute;top:266px;}
.main_twospan{font-size: 36px;font-weight: 600;position:relative;top:2px;}
.main_three{width:1200px;height:886px;margin:0 auto;position:relative;}
.mth_ul{width:1200px;height:226px;margin-top:64px;}
.mth_ul li{float: left;width:220px;height:226px;cursor: pointer;position:relative;}
.mth_ul li .c_img,.b_img{position:absolute;top:37px;}

.mth_ul li .b_img{display: none;}
.mth_imgjiao1{position:absolute;top:203px;left:358px;}
.mth_imgjiao2{position:absolute;top:203px;left:788px;}
.mth_li1{float: left;width:220px;height:226px;margin:0 208px 0 56px ;cursor: pointer;background:url(../../images/home/mth2.png) no-repeat center;}

.mth_li2{float: left;width:220px;height:226px;cursor: pointer;background:url(../../images/home/mth3.png) no-repeat center;}

.mth_li3{float: left;width:220px;height:226px;margin-left:208px ;cursor: pointer;background:url(../../images/home/mth3.png) no-repeat center;}

.mth_down{width:1200px;height:440px;margin-top:84px;position:relative;text-align: center;}
.mth_btnleft{position:absolute;top:192px;left:95px;cursor: pointer;}
.mth_btnright{position:absolute;top:192px;left:1040px;cursor: pointer;}
.main_com{width:716px;height:440px;margin:0 auto;position:relative;}
.main_com div{width:716px;height:440px;margin:0 auto;filter: alpha(opacity: 100);opacity: 1;position: absolute;top:0;}

.foot{width:1200px;height:330px;margin:10px auto 0;}
.foot_txt{font-size: 16px;color:#666;text-align: center;line-height:16px;width:100%;height:16px;}
.foot_btn{width:675px;height:51px;margin:60px auto 0;}
.foot_btn .foot_btnleft{display: block;width:220px;height:51px;background:#ff6633;text-align: center;line-height: 51px;color:#fff;font-size: 18px;float: left;border-radius: 4px;margin:0 93px 0 51px;}
.foot_btn .foot_btnright{display: block;width:220px;height:51px;background:#ff6633;text-align: center;line-height: 51px;color:#fff;font-size: 18px;float: left;border-radius: 4px;}