body{background:#f5f5f5;}
.bannerarea{clear: both;width: 100%; height: 355px; position: relative;z-index: 1; cursor: pointer;}
#slide{position:relative; width:100%; height:100%; /*overflow:hidden;*/}
/*#slide div{display:block; position:absolute; width:100%; height:100%;}*/
.switchable-triggers{display: inline-block; height:30px; text-align:center; position: absolute; left: 45%; bottom: 20px; z-index: 100;}
.switchable-triggers li{display:inline-block; *display: inline; *zoom: 1; margin:0 20px; cursor:pointer; background-color: #fff; width: 10px;border-radius: 50%; height: 10px; font-size: 0; line-height: 0;}

.pagination {
  position: absolute;
  left: 0;
  z-index:2;
  text-align: center;
  bottom:5px;
  width: 100%;
  cursor:pointer;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #ffffff;
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #489BEB;
}
.swiper-slide{cursor: pointer;}
div.win{
	width: 280px;
	height: 280px;
	position: absolute;
	left:53%;
	top:33px;
	margin-left:270px;
	 cursor: default;
}
div.window{
	width: 280px;
	height: 280px;
	position: absolute;
	z-index: 103;	
	right:0px;
	
}
div.bj{
	width: 276px;
	height: 276px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
	background: #fff;
	
	filter:alpha(opacity=50);   
      -moz-opacity:0.5;   
      -khtml-opacity: 0.5;   
      opacity: 0.5;   
}
div.window h3{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 276px;
	height: 30px;
	
	margin-top: 50px;
	color: #222222;
	font-size: 24px;
}
div.window h3 span{color:#ff6633;font-size: 28px;}
div.window h2{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 276px;
	height: 30px;
	
	margin-top: 34px;
	color: #222222;
	font-size:24px;
	
}
div.window h2 span{color:#ff6633;font-size: 28px;}
div.window p{
	text-align: center;
	width: 240px;
	height: 85px;
	line-height: 85px;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}
div.window p a{
	font-size:20px;
	width: 240px;
	height: 45px;
	line-height: 45px;
	display: block;
	margin-top: 40px;
} 
p.window_p_1{
	position: absolute;
	left: 18px;
	top: 40px;
}
p.window_p_2{
	position: absolute;
	left: 18px;
	top: 100px;
}
p.window_p_2 a{
	color:#fa734a !important;
	border: 1px solid #ff6633;
}
p.window_p_2 a:hover{
	background: none;
}
div.window p.window_p_1 a{
	color: #FFFFFF;
	background: #ff6633;
}
div.window  .banner_down{position:absolute;top:230px;left:88px;}
div.window  .banner_down a{font-size:12px;color:#000;}
.copyright{width:100%;height:247px;margin:0 auto;background:#fff;}
.copyright_inner{width:1200px;height:197px;margin:0 auto;text-align: center;padding-top:50px;}
.copyright_inner h1{font-size: 26px;margin-bottom:6px;}
.u1{width:1194px;height:74px;border:1px solid #cccccc;margin-top:26px;}
.u1 li{float:left;width:198px;height:60px;border-right:1px solid #cccccc;text-align: center;padding-top:14px;}
.u1 .u1_li{border-right:0;}


.main{width:100%;_height:200px;min-height:200px;background: #f5f5f5;margin:0 auto;}
.main_one{width:1200px;height:182px;margin:20px auto 0;}
.main_oleft{width:836px;height:162px;float:left;background:#fff;padding:20px 0 0 40px;}
.main_ul li{width:190px;height:142px;text-align: center;float: left;margin-right: 24px;}
.main_ul h3{font-size: 20px;line-height:36px;font-weight: 600;color:#565658;}
.main_ul p{font-size: 14px;color:#808080;}
.main_one .ul1{margin-right:0;}
.main_oright{position:relative;width:290px;height:182px;background:#fff;float:right;border-left: 3px solid #fead5e;padding-left:12px ;}
.main_oright h3{width:280px;height:50px;border-bottom: 1px solid #e6e6e6;line-height:50px;font-size: 16px;}
.main_oright h3 span{color:#ff6633;margin:0 7px;}
.main_oright h3 a{color:#5a5a5a;margin-left:152px;}
.main_orul li{line-height: 37px;font-size: 15px;}
.main_orul li img{position:absolute;top:64px;}
.main_orul li span{float: right;margin-right: 10px; }
.main_thr{width:1200px;height:242px;margin:20px auto;}
.mt_left{width:264px;height:164px;float:left;background:url(../../images/home/mtlbg.png) no-repeat;text-align: center;padding-top: 78px;}
.mt_left h4{color:#fff;font-size: 36px;font-weight: 600;margin-bottom:18px;line-height:36px;}
.mt_left .mt_lp{color:#fff;font-size: 16px;line-height: 16px;}
.mt_center{width:612px;height:242px;float:left;background:#fff;}
.mc_top{width:566px;height:158px;background:url(../../images/home/mcbg.png) no-repeat bottom center;margin:0 auto;position:relative;}
.mc_t{width:94px;height:33px;background:url(../../images/home/mctbg.png) no-repeat;font-size: 24px;color:#ff6633;text-align: center;line-height: 33px;position:absolute;top:19px;left:0;}
.mc_ul{width:566px;height:158px;}
.mc_ul li{width:96px;height:78px;padding-top:80px;text-align: center;float:left;margin-right: 134px;}
.mc_ul li h3{font-size: 30px;color:#ff6633;line-height: 30px;}
.mc_ul li h3 span{font-size: 18px;line-height:18px;}
.mc_ul li p{font-size: 18px;color:#808080;line-height: 32px;}
.mc_ul .mc_ul_li{height:95px;padding-top:63px;text-align: center;}
.mc_ul .mc_ul_li h3{font-size: 48px;line-height:48px;}
.mc_ul .mc_ul_licopy{margin-right: 0;}

.main_down{width:566px;height:64px;margin:0 auto;padding-top:20px;}
.main_down .md_btn{margin:0 auto;display: block;width:174px;height:44px;background:url(../../images/home/mc_btn.png) no-repeat;font-size: 18px;color:#fff;line-height: 44px;text-align: center;}

.mm_r{width:305px;height:242px;float:right;position:relative;overflow: hidden;}
.mt_right{width:305px;height:242px;float:right;background:url(../../images/home/mrbg.png) no-repeat;text-align: center;position:absolute;left:0;top:0;}
.mt_rone{font-size: 16px;color:#fff;margin-top:34px;line-height:16px;}
.mt_rtwo{font-size: 36px;color:#fff;margin-top:14px;line-height:36px;}
.mt_rtwo span{font-size: 18px;}
.mt_rc{width:305px;height:242px;background:#489BEB;position:absolute;top:0;left:305px;}
.mt_rc_copy{width:305px;height:242px;position:absolute;top:0;left:0;z-index: 100;}

.main_for{width:1200px;height:132px;margin:0 auto;}
.mfor_left{float:left;width:264px;height:85px;float:left;background:url(../../images/home/mflbg.png) no-repeat;text-align: center;font-size: 36px;line-height:36px;color:#fff;font-weight: 600;padding-top:47px;}
.mfor_center{width:612px;height:132px;background:#fff;float:left;}
.mfor_ul li{width:148px;height:92px;background:url(../../images/home/mfjiao.png) no-repeat right center;text-align: center;padding-top:40px;float:left;margin-right:6px;}
.mfor_ul li h4{font-size: 30px;color:#565658;line-height:30px;}
.mfor_ul li p{font-size: 14px;color:#808080;line-height:14px;margin-top:10px;}
.mfor_ul li p span{color:#ff6633;}
.mfor_ul .mfor_ul_li{margin-right:0;background:none;}
.mfor_right{width:305px;height:132px;float:right;background:#ccf;}

.main_five{width:1200px;height:242px;background:#fff;margin:20px auto;}
.mfive_left{width:264px;height:164px;float:left;background:url(../../images/home/main_fivebg.png) no-repeat;text-align: center;padding-top: 78px;}
.mfive_left h4{color:#fff;font-size: 36px;font-weight: 600;margin-bottom:18px;line-height:36px;}
.mfive_left .mfive_lp{color:#fff;font-size: 16px;line-height: 16px;}
.mfive_right{width:915px;height:242px;float:right;padding-left: 21px;}
.mf_rone{width:270px;height:242px;float:left;margin-right:38px;position:relative;text-align: center;}
.mfive_ul{width:270px;height:129px;background:url(../../images/home/mfive_rbg.png) no-repeat center bottom;padding-top:30px;}
.mf_smore{width:63px;height:22px;background:url(../../images/home/mfive_r1.png) no-repeat;color:#ff6633;font-size: 14px;line-height: 22px;text-align: center;position:absolute;top:20px;left:0;}
.mfive_ul h3{font-size: 36px;color:#ff6633;line-height: 36px;}
.mfive_ul h3 span{font-size: 28px;}
.mfive_lione{font-size: 14px;color:#888888;line-height:14px;margin:10px 0 32px 0;}
.mfive_litwo{font-size: 14px;color:#888888;line-height:14px;}

.mfive_litwo i{font-size: 16px;line-height: 16px;color:#333333;}
.mfive_litwo i.mfive_li{margin-right:34px;}
.mfive_rdown{width:220px;height:62px;padding:21px 0 0 50px;}
.mfive_rdown a{display: block;width:174px;height:44px;background:url(../../images/home/mfive_btn.png) no-repeat;text-align: center;line-height: 44px;color:#fff;}
.mfive_right .mftwo{margin-right: 0;}

.main_six{width:1172px;height:404px;margin:0 auto;background:#fff;padding-left:28px;}
.ms_top{width:1140px;height:64px;border-bottom:1px solid #e6e6e6;line-height: 68px;}
.ms_top span{font-size: 18px;color:#666;}
.ms_top a{font-size: 14px;color:#666;margin-left:1024px;}
.ms_down{width:1140px;height:330px;padding-top:10px;}
.ms_dleft{width:804px;height:320px;border-right:1px solid #e6e6e6;float:left;}
.msl_ul li{float:left;width:372px;height:320px;text-align: left;margin-right:18px;}
.msl_ul li h3{font-size: 24px;color:#333;line-height: 24px;margin-top:14px;}
.msl_ul li p{font-size: 14px;color:#808080;line-height:20px;margin-top:8px;}
.ms_dright{width:315px;height:320px;float:right;padding-left:20px;}
.ms_dul li{width:299px;height:48px;background:url(../../images/home/msrdbg.png) no-repeat 11px center;border-bottom:1px dashed #e6e6e6;font-size: 12px;line-height:48px;}
.ms_dul li img{position:relative;top:48px;}
.ms_dul li a{color:#333333;padding:0 46px 0 24px;}
.ms_dul li span{color:#808080;}
.ms_dul .ms_ul_li{border-bottom:none;}
.main_six_copy{margin:20px auto;margin-bottom: 50px;}

.right_nav{width:50px;height:216px;position:fixed;top:50%;right:10px;z-index: 300;}
.right_nav ul li{width:50px;height:50px;background:#000;filter:alpha(opacity=20);-moz-opacity:0.2;-khtml-opacity: 0.2;opacity: 0.2; margin-bottom: 4px;  }
.f1{width:50px;height:50px;background:#000;filter:alpha(opacity=20);-moz-opacity:0.2;-khtml-opacity: 0.2;opacity: 0.2; margin-bottom: 4px;  }
.fimg{position:absolute;left:-110px;top:54px;width:110px;height:137px;display:none;}
.right_nav ul .right_nphone{display:none;text-align:center;width:100px;height:50px;position:absolute;top:108px;left:-100px;background:#ff6633;filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity: 1;opacity:1;}
.right_nphone h5{font-size: 16px;color:#fff;line-height:30px;}
.right_nphone p{font-size: 12px;color:#fff;}
.fapp{position:absolute;top:0;left:-110px;display: none;}


