body{background:#f5f5f5;}
.main{width:100%;_height:200px;min-height:200px;background: #f5f5f5;margin:0 auto;}
.main_center{width:1200px;height:804px;margin:0 auto;text-align: center;padding-top: 40px;}
.main_center h3{font-size: 60px;color:#222;line-height: 60px;}
.video{width:800px;height:676px;margin:0 auto;background:#ccf;margin-top:26px;}
