#body{width: 100%;height: 100%;background: #000;font-family: "微软雅黑";}
.banner{width:100%;margin:0 auto;text-align: center;}
.banner_img{display: block;}
.light_time{width: 100%;margin:0 auto;font-size: 24px;color: #f0d3ac;text-align: center;line-height: normal;padding-top: 10px;position: relative;z-index: 2;}
.light_icon{width: 100%;margin:0 auto;text-align: center;position: relative;top:-40px;}
.banner_img{width:100%;}
.light_btn{width:338px;height:98px;position: absolute;top: 540px;left: 50%;margin-left: -169px;text-align: center;line-height: normal;font-weight: 600;}
.light_btn .light_btn_child1{display: inline-block;width: 100%;padding:28px 0;font-size: 30px;color: #fff;background:url(../../../images/activity/lightUp/light1.png) no-repeat center;background-position: -240px 0;}
.light_btn .light_btn_child2{display: inline-block;width: 100%;padding:28px 0;font-size: 30px;color: #f55d38;text-shadow: #fff 0 1px 0;background:url(../../../images/activity/lightUp/light1.png) no-repeat center;background-position: -240px -126px;}
.light_nunmer{width: 100%;text-align: center;font-size: 26px;color: #fff;line-height: normal;position: absolute;top: 640px;}
.light_number_color{font-size: 30px;color: #ffaf3c;position:relative;top: 3px;;}
.light_prompt{width: 83%;margin:0 auto;border-bottom: 1px solid #232020;color: #fff;font-size: 20px;line-height: normal;padding-bottom: 20px;}
.light_box{width: 90%;padding:4px 0 0 10%;}
.light_title{font-size: 22px;color: #ffd48a;position: relative;padding-bottom: 8px;}
.light_titleimg{position: absolute;left: 10px;top: 50%;margin-top: -17px;}
.light_content{width: 88%;margin:34px auto 0;height:611px;background: url(../../../images/activity/lightUp/light_bg1.png) no-repeat center;text-align: center;padding-top: 40px;position: relative;}
/*进度条*/
.light_bar{width: 100%;margin: 166px auto 0;position: relative;}
.light_bar_before{width: 224px;height: 116px;color: #d99d46;background: url(../../../images/activity/lightUp/light1.png) no-repeat center;background-position:0 0;display: -webkit-box;display: -webkit-flex;display: flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;}
.light_bar_after{width: 224px;height: 116px;color: #a06907;background: url(../../../images/activity/lightUp/light1.png) no-repeat center;background-position:0 -126px;display: -webkit-box;display: -webkit-flex;display: flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;}
.light_bar1{position: absolute;top: -98px;left: 94px;}
.light_bar2{position: absolute;top: -104px;right: 6px;}
.light_bar3{position: absolute;top: 59px;right: 20px;}
.light_bar4{position: absolute;bottom: 62px;left: 33px;}
.light_bar5{position: absolute;bottom: 24px;right: 34px;}
.light_bar_money{display: inline-block;font-size: 20px;line-height: normal;vertical-align: top;width: 43%;margin-top: -24px;position: relative;}
.light_red{position: absolute;top: -38px;left: 50%;margin-left: -25px;display: none;}
.light_bar_people{display: inline-block;font-size: 16px;line-height: normal;vertical-align: top;width: 57%;margin-top: -18px;}
/*规则*/
.rule{padding-bottom: 100px;}
.light_rule{width: 88%;margin:34px auto 0;height:395px;background: url(../../../images/activity/lightUp/light_bg2.png) no-repeat center;text-align: center;padding-top: 40px;position: relative;}
.light_rule_txt{width: 88%;margin:0 auto;font-size: 18px;color: #fff;text-align: left;line-height: normal;padding:30px 0 0 4%;}
.rule_content{padding:2px 0;}
/*弹窗*/
.dialog_flex{width:100%;position: fixed;top:0px;left:0px;bottom:0px;right:0px;background: rgba(0,0,0,.8);-webkit-box-pack:center;-webkit-box-align: center;z-index: 4;display: none;}
.alert_info{display: block; width:566px; height:251px;position: relative; background:url(../../../images/activity/lightUp/light_bg3.png) no-repeat center;padding-top: 50px; }
.close{ width:45px; height:45px; position: absolute; right:8px; top:8px;background: url(../../../images/activity/lightUp/btn3.png) no-repeat center; }
.alert_content{width: 80%;font-size: 24px;color: #fff;line-height: normal;margin:0 auto;text-indent: 44px;}
.alert_btn{width:338px;height:98px;text-align: center;line-height: normal;font-weight: 600;margin:20px auto 0;}
.alert_btn .alert_btna{display: inline-block;width: 100%;padding:28px 0;font-size: 30px;color: #f55d38;text-shadow: #fff 0 1px 0;background:url(../../../images/activity/lightUp/light1.png) no-repeat center;background-position:-240px -126px ;}








