#Html("begin")
#GenHead("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadGenCSS("/resources/gen178/styles/login_header")
#LoadGenJS("/resources/gen178/scripts/echarts")
#LoadGenJS("/resources/gen178/scripts/switchable")
#LoadGenJS("/resources/gen178/scripts/textSlider")
#LoadGenJS("/resources/gen178/scripts/index_style")
#LoadGenCSS("/resources/gen178/styles/recharge/recharge_first")
#GenHead("end")
	<body>
		#Gen178Header('about')
		<div class="con_gmcg">
			<div class="con_gcg_fail">
				<div class="con_gcbuttom">
					<p>$!errMsg</p>
					<p style="height: 10px;"></p>
					<p><button style="cursor:pointer;" id="go_assets" url="$!env.get('gen.server.web')/gen178/$!url">返回重试</button></p>
				</div>
			</div>
		</div>
		<script >
			$("#go_assets").click(function(){
				location.href = $(this).attr('url');
			});
        </script>
		
		<!--footer-->

		<!--浮动-s-->
		<div class="fd">
			<dl>
				<dt class="f1"></dt>
				<dt class="f3"><a href="wtai://wp//mc;电话号码" style="width:50px; height:50px; display: block;"></a></dt>
				<dt class="f4" onclick="showScroll()"></dt>
			</dl>
			<img src="img/fd.jpg" class="fimg"/>
		</div>
		<!--固定微信显示-s-->
		<script>
			$(document).ready(function(){
                $('.f1').hover(function(){
                	$(this).css("background-color","#FF6633")
                	$('.fimg').fadeIn(100);
                	
                },function(){
                	$('.fimg').hide(100);
                	$(this).css("background-color","transparent")
                });
           })
		</script>
		<!--固定微信显示-e-->
		
		<!--回到顶部-s-->
		<script type="text/javascript">
		$(function(){	
				$('.f4').click(function(){
					$("html,body").animate({scrollTop:0},200);	
				});	
		})
		</script>
		<!--回到顶部-e-->
	</body>
#Gen178Footer()

<!--footer -e-->
#Html("end")