.act_body{ background: #ff202e; }
.warp{ width:1296px; margin:0px auto; position: relative;}
.header_img{width:100%; height:896px; background: url(../../images/act_header.jpg) no-repeat center center; position: relative;}
.head_list{position:absolute; bottom:173px; left:50%; width:870px; height:160px; margin-left:-430px; background:#ffd800;}
.item{ width:49.5%; height:140px; border-right:1px solid #fe9a13; margin-top:10px; display: inline-block;text-align: center;color:#ff202e;}
.item_none{ border:0px; }
.btn_yello,.btn_yello_two{ position:absolute;font-size:30px;line-height:30px;width:90%;padding-left: 52px; margin:0 auto; bottom:73px; text-align:center; left:20px;}
.btn_yello_two{ bottom:23px; font-size:23px;}
.bf_number{ font-size: 44px;line-height: 33px; margin-top:18px;}
.number_ft{ font-size: 18px; }
.number_info{ font-size: 15px; line-height: 15px; margin-top:12px;}
.number_bor{display: inline-block;width:auto; padding:5px 34px; font-size: 18px; line-height: 18px; border:3px solid #ff202e; margin-top:13px; color:#ff202e;}
.number_bor:hover{color:#ff202e; font-weight: 600;}
.btnwp{width:auto; position: absolute; bottom:115px; left:50%; margin-left:-232px;}
.heaed_btn{padding:10px 28px;font-size: 26px; line-height: 26px; color:white; border-radius: 6px; background: #ff202e; text-align: center; display: inline-block; margin:0px 23px;}
.heaed_btn:hover{background: #D70F1B;}
.heaed_btn:hover{ color:white; }
.content{ margin:30px 0px;}
.cont_min{ width:100%; height:193px; background: #ffffa7;margin-left: 10px;}
.cont_one{height:710px;}
.cont_one_title{ color:#ff202e;font-size:25px;line-height: 25px; text-shadow:0 2px 2px rgba(0,0,0,.2);text-align: center;padding-top:30px;}
.cont_one_small{ width:100%; text-align:center; font-size:16px;line-height:16px;padding-top:16px; color:#3a3a3a;}
.cont_one_main{ width:724px; margin:18px auto 0px; border:16px solid #feb407;}
.main_info_title{ width:100%; background:#ffd800; color:#5f5634;padding:12px 0px; line-height:16px;}
.info_ft{ width:32%;display: inline-block;text-align: center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.ct_bg_white,.ct_bg_gray{padding:12px 0px;}
.ct_bg_white{ background:white;}
.ct_bg_gray{background:#e6e4e4;}
.ct_one_footer{ width:756px; margin:25px auto 0px;}
.ct_footer_ul{ padding-left:50px;    padding-top: 10px;}
.footer_li{ padding:8px 0px;}

.left_img,.right_img{ position: absolute; top:-52px; width:16px; height:76px;}
.left_img{ background: url(../../images/left.png) no-repeat; left:170px; }
.right_img{  background: url(../../images/right.png) no-repeat; right:170px;}
.p_one{font-size: 16px;color:#3a3a3a; width:886px; margin:0px auto 60px; padding-top:40px; line-height: 34px;}
.con_main2{height:306px;}
.main2_p{ margin-bottom:20px;font-size: 14px;}
.erwm{ width:200px; height:102px; margin:0px auto;}
.foot_info{ text-align: center; }
.ft_one{ font-size: 18px; margin:18px 0px 24px;}
.ft_two{ font-size: 14px; }