/*版头轮播样式*/
.bannerarea{clear: both;width: 100%; height: 355px; position: relative;z-index: 1;}
#slide{position:relative; width:100%; height:100%; overflow:hidden;}
#slide div{display:block; position:absolute; width:100%; height:100%;}
.switchable-triggers{display: inline-block; height:30px; text-align:center; position: absolute; left: 45%; bottom: 20px; z-index: 100;}
.switchable-triggers li{display:inline-block; *display: inline; *zoom: 1; margin:0 20px; cursor:pointer; background-color: #fff; width: 10px;border-radius: 50%; height: 10px; font-size: 0; line-height: 0;}
.switchable-triggers li.current{background-color: #f96b09;}
div.win{
	width: 276px;
	height: 355px;
	position: absolute;
	left: 50%;
	z-index: 103;
	margin-left: 210px;

}
div.window{
	width: 276px;
	height: 276px;
	position: absolute;
	z-index: 103;
	top:39px;
	right:0px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	overflow:hidden;
}
div.bj{
	width: 276px;
	height: 276px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
	background: #fde3da;
	opacity: 0.9;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
}
div.window h3{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 276px;
	height: 30px;
	line-height: 30px;
	margin-top: 52px;
	color: #222222;
	font-size: 18px;
}
div.window h2{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 276px;
	height: 30px;
	line-height: 30px;
	margin-top: 9px;
	color: #222222;
	font-size:24px;
	font-family: 宋体;
}
div.window p{
	text-align: center;
	width: 240px;
	/*height: 85px;
	line-height: 85px;*/
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/*margin-left: auto;
	margin-right: auto;
	margin-top: 100px;*/
	opacity: 0;
	bottom:100%;
}
.login_wp{ margin-top:10px; position: relative; display: block;}
.login_sub{ width:242px; height:44px;line-height: 44px;text-align: center;margin:8px 0px 8px 17px;font-size: 18px; border-radius: 5px; cursor: pointer;}
.sub_one{ background: #ff6633; border:0px; color:white;}
.sub_two{ background: none; border:1px solid #ff6633; color:#ff6633;}
.ry_number{ width:100%; height:68px; margin:16px  auto 24px; text-align: center;}
.ry_item{ display: inline-block; width:33%;}
.ry_h3{ color:#999999; font-size: 18px;}
.ty_ul{ margin-top:13px; }
.ry_list{ display: inline-block; width:26px; height:34px; margin:0px 1px;}
div.window p a{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 240px;
	height: 45px;
	line-height: 45px;
	display: block;
	/*margin-top: 40px;*/
} 
p.window_p_1{
	position: absolute;
	left: 18px;
	/*top: 40px;*/
}
p.window_p_2{
	position: absolute;
	left: 18px;
	top: 100px;
}
p.window_p_2 a{
	color:#fa734a !important;
	border: 1px solid #ff6633;
}
p.window_p_2 a:hover{
	background: none;
}
div.window p.window_p_1 a{
	color: #FFFFFF;
	background: #ff6633;
}
div.i_content{
	width: 100%;
	height: 311px;
	background: #FFFFFF;
}
div.i_main_head{
	width:980px;
	/*height: 210px;*/
	margin:0 auto;
}
ul.i_main_head_ul{
	padding-top:30px;
	
}
ul.i_main_head_ul li{
	float: left;
	width: 245px;
	text-align: center;
}
ul.i_main_head_ul li img{
	margin-left: auto;
	margin-right: auto;
}
ul.i_main_head_ul li p{
	font-size: 18px;
	line-height: 18px;
	padding:6px 0px;
	color: #999999;
}
div.i_main_last{
	clear:both;
	width: 100%;
	height: 432px;
	background: #f5f5f5;
}
div.i_main_last_inner{
	margin: 0 auto;
	width: 980px;
	height: 360px;
	/*background: #FFFFFF;*/
}

div.inner_d{
	width: 980px;
	height: 58px;
	line-height: 58px;
	margin:23px 0px 22px;
	border:1px solid #e3e3e3;
	background: white;
	border-radius: 6px;
	clear: both;
}
ul.inner_d_one{
	float: left;
}
div.inner_i_oness{
	width: 980px;
	clear: both;
	height: 280px;
}
/*ul.inner_d_one li{
	float: left;
	color: #FFFFFF;
	height: 68px;
	margin-top: 20px;
	margin-left: 20px;
	font-size: 14px;
	line-height: 1.1;
}*/
.font_si{ font-size: 20px; color:#b1b1b1; }
.font_ft{ color:#ff6633; padding: 0px 30px;}
.olest{ vertical-align: sub; padding-right: 10px;  padding-bottom: 2px;}
ul.inner_d_one li b{
	font-size: 22px;
	margin: 0px;
	height: 20px;
	display: block;
	margin-bottom:-5px;
}
ul.inner_d_two{
	float: right;
	margin-right: 23px;
}
ul.inner_d_two li{
	width: auto;
	height: 30px;
	color:#a9a9a9;
	line-height: 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: left;
	margin:14px 20px;
	border: 1px solid #FFFFFF;
	text-align: center;
}
div.i_oness{
	width: 240px;
	margin: 0px;
	padding: 0px;
	margin-top: -10px;
	text-align: center;
	height: 280px;
	background: #FFFFFF;
    float: left;
    margin-right: 3px;
    position: relative;
    transition: all 0.5s;
}
div.i_oness:hover{
	z-index: 2;
	transform: scale(1.05);
	box-shadow: 3px 3px 3px 3px #ccc;
}
.oness{ position: absolute;display: block; width:30px; height:37px; left: -6px;top: 10px; background: url(../../images/oness_img.png) no-repeat;}
/*div.i_oness:hover{
	box-shadow: 0px 3px 3px 3px #ccc;
}*/
.info{ width:980px; height:134px; background: url(../../images/info_ft.jpg) no-repeat center; margin:0 auto;}
div.i_oness h4{
	margin-top: 40px;
	margin-bottom: 25px;
	font-size: 16px;
	color: #666666;
}
div.i_oness span{
	width: 200px;
	height: 53px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: #ff6633;
	font-weight: bolder;
}
div.i_oness span b{
	font-size: 30px;
	color: #ff6633;
	font-weight: bolder;
}
div.i_oness p{
	font-size: 18px;
}
div.i_oness p b{
	color: #ff6633;
}
p.p_one{
	width: 170px;
	margin-top: 20px;
	height: 45px;
	line-height: 45px;
	margin-left: auto;
	margin-right: auto;
	background: #ff6633;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}
p.p_one a{
	color: #FFFFFF;
	font-size: 18px;
}
div.copyright{
	width: 100%;
	height: 276px;
	background: #FFFFFF;
}
div.copyright_inner{
	width: 1200px;
	height: 276px;
	margin: 0 auto;
}
div.copyright_inner h1{
	width: 1200px;
	height: 74px;
	line-height: 74px;
	text-align: center;
	color: #222222;
	font-size: 22px;
	position: relative;
}
div.copyright_inner h1 img{
	position: absolute;
	left: 50%;
	top: 50px;
	margin-left: -45px;
}
div.copyright_inner ul{
	width: 980px;
	height: 66px;
	margin: 0 auto;
	clear: both;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
div.copyright_inner .u1{
	border-top:1px solid #cccccd;
	border-left:1px solid #cccccd;
	border-right:1px solid #cccccd;
	border-radius:5px 5px 0 0;
	border-bottom:1px solid #eeeeef;
}
div.copyright_inner .u2{
	border-bottom:1px solid #cccccd;
	border-left:1px solid #cccccd;
	border-right:1px solid #cccccd;
	border-radius:0 0 5px 5px;
}
div.copyright_inner ul li{
	width:162px;
	float: left;
	padding-left:0.5px;
}
div.copyright_inner ul li img{
	height:66px;
	border-left:1px solid #eeeeef;
	
}
div.i_last{
	width: 100%;
	height:100px;
}
div.i_last img{
	width: 100%;
	height: 100%;
}
div.icon_top{
	width: 980px;
	margin: 0 auto;
	border-bottom: 1px solid #ececec;
	color: #666;
}
div.icon_top p{
	line-height: 50px;
	text-align: center;
}
div.icon_top p em{
	color: #FF6633;
	margin: 0 10px;
}

/*理财 产品product开始*/
div.p_content{
	width: 100%;
	height: auto;
	margin-bottom: 60px;
}
div.p_top{
	width: 980px;
	height: auto;
	margin: 0 auto;
	margin-top: 33px;
}
div.p_top_left{
	width: 650px;
	height:384px ;
	float: left;
	background: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	position: relative;
}
img.p{
	position: absolute;
	left:-8px;
	top: 32px;
}
div.p_top_left h3{
	margin-left: 35px;
	margin-top: 35px;
	font-size: 18px;
	color: #666666;
}
div.p_top_left p{
	color: #5ca8fd;
	margin-top: 15px;
	margin-left: 40px;
}
div.p_top_left p img{
	vertical-align: middle;
}
div.p_top_left div{
	width: 573px;
	height: 95px;
	background: #fff7f4;
	margin-top: 20px;
	margin-left: 40px;
	border: 1px solid #FFF7F4;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
div.p_top_left div ul{
    width: 573px;
    height: 95px;
    background: url(../../images/wea.png) no-repeat;
    }
div.p_top_left div ul li{
	float: left;
	width: 285px;
	text-align: center;
	margin-top: 20px;
	color: #666666;
	line-height: 1.3;	
}
div.p_top_left p.p_one_1{
	color: #666666;
	margin-top: 15px;
}
p.p_one_1 b{
	color: #adadad;
}
div.p_top_left div ul li b{
	font-size: 36px;
}
div.p_top_right{
	float:right;
	margin-left: 12px;
	width:313px;
	height:384px;
	background: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	position: fixed;
    left: 666px;
    right: 0px;
    margin: auto;
}
div.p_top_right h1{
	color: #666666;
	font-size: 18px;
	margin-left: 20px;
	margin-top: 40px;
	margin-bottom: 10px;
}
div.p_top_right hr{
	color: #eee;
	border: 1px dashed #eee;
	width: 80%;
	margin-left: 7%;
}
div.p_top_right input{
	width: 256px;
	height: 40px;
	line-height: 40px;
	margin-left: 22px;
	margin-top: 20px;
	border: 1px solid #f63;
	padding-left:6px;
}
div.p_top_right p{
	margin-left: 26px;
	margin-top: 12px;
	color: #999;
}
.right_money{ color:#ff6633; }
p.p_once{
	/*width: 268px;
	height: 40px;*/
	line-height: 40px;
	/*border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;*/
	margin-top: 43px !important;
}
/*p.p_once a{
	width: 268px;
	height: 40px;
	line-height: 40px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	display: block;
	color: #FFF3EE;
	text-align: center;
	font-size: 18px;
	background: #f63;
}*/
p.p_last{
	width:268px;
	height: 40px;
	text-align: center;
	font-size: 14px;
	margin-top: 12px !important;
	line-height: 1.5;
}
p.p_last b{
	color: #87bffe;
}
div.p_bottom{
	clear:both;
	width: 590px;
	height: auto;
	padding:30px;
	background: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-border-radius: 5px;
	position: relative;
    top: 20px;
}
.p_bottom ul li{
	font-size: 18px;
	color: #f63;
	display: inline-block;
	zoom: 1;
	width:100%;
}
.p_bottom h3{
	float: left;
	font-size: 16px;
}
.line{ width:84%; height:1px; background:#ffe3aa; display: inline-block;position: relative;top: -4px;left: 14px;}
div.p_bottom p{
	margin-right: 40px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #666;
	padding: 10px 0;
	line-height: 30px;
	margin-top: 20px;
	margin-bottom: 5px;
}
/*银行卡列表*/
.bank_list{ margin:0 auto; line-height: 76px; border-top:1px solid #dbdbdb;}
.ban_top_none{ border:0px; }
.list_left{ display: inline-block; }
.list_sp{ font-size: 16px; color:#666666;}
.list_right{ float: right;font-size: 16px; color:#999999;}
.ban_list{display:inline-block; width:48px; height:48px;position: relative;top: 18px; margin: 0px 15px;}
.ban_list_01{background: url(../../images/ICBC.png) no-repeat center center; }
.ban_list_02{background: url(../../images/ABC.png) no-repeat center center;}
.ban_list_03{background: url(../../images/CBC.png) no-repeat center center;}
.ban_list_04{background: url(../../images/BC.png) no-repeat center center;}
.ban_list_05{background: url(../../images/CMBC.png) no-repeat center center;}
.ban_list_06{background: url(../../images/PSBC.png) no-repeat center center;}
.ban_list_07{background: url(../../images/BCM.png) no-repeat center center;}
.ban_list_08{background: url(../../images/SZPA.png) no-repeat center center;}
.ban_list_09{background: url(../../images/IBCN.png) no-repeat center center;}
.ban_list_10{background: url(../../images/CEB.png) no-repeat center center;}
.ban_list_11{background: url(../../images/CMSB.png) no-repeat center center;}
.ban_list_12{background: url(../../images/CCB.png) no-repeat center center;}
.ban_list_13{background: url(../../images/GDB.png) no-repeat center center;}
.ban_list_14{background: url(../../images/HB.png) no-repeat center center;}
.ban_list_15{background: url(../../images/SDB.png) no-repeat center center;}
.ban_list_16{background: url(../../images/SPDB.png) no-repeat center center;}

/*理财 产品product结束*/

 
/*理财产品wealth页面开始 */
.licai_day span{
	margin: 30px;
	font-size: 35px;
	color: #F63;
	float: left;
	position: relative;	
}
.licai_day span p{
	font-size: 14px;
	color: #c9c9cb;
	margin-top: 30px;
	text-align: center;
}
.licai_day span .benxi{
	font-family: "微软雅黑";
	font-size: 20px;
	color: #5ca8fd;
	padding: 5px;
	border: 2px solid #5ca8fd;
	border-radius: 5px;
	position: relative;	
}
.licai_dagou img{
	vertical-align: middle;
}
.licai_day hr{
	width: 1px;
	height: 80px;
	border: none;
	color:  #f0f0f0;
	border-left-style: solid;
	border-width: 1px;
	float: left;
}
.xuxian{
	margin: auto 0;
	width: 1px;
	height: 170px;
	border: none;
	color:  #f0f0f0;
	border-left-style: dashed;
	border-width: 1px;
}
/*理财产品wealth页面结束 */


/*登录页面开始*/
.naver_1{
	width:100%;
	height: 64px;
	line-height: 64px;
	background: #fff;
}
.nav_1{
	width: 980px;
	height: 64px;
	line-height: 64px;
	margin: 0 auto;
}
.nav_left_1{
	width: 370px;
	height: 64px;
}
.nav_left_1 img{
	float:left;
}
.nav_left_1 h2{
    float:left;
	margin:2px auto;
	font-size:24px;
    color:#7d7d7d;
}
.main_11{
	width:980px;
	height:40px;
	clear: both;
	
}
.main_right_1{
	width:160px;
	float:right;
	height: 40px;
}
.right1{
	font-size:14px;
    color:#bbb;
}
.right2{
	font-size:14px;
	color:#f63 !important;
}

.content{
	clear: both;
	width:100%;
	height:450px;
    margin-bottom: 50px;
}

.content_main{
	width:970px;
	height:440px;
	margin:0 auto;
	margin-top: 38px;
	background:#FFF;
	border:solid 10px #d8d8d8;
	}

.content_left{
	width:470px;
	height:440px;
	float:left;
	line-height: 440px;
}
.content_right{
	width:450px;
	float:right;
}
.right_top{
	width:400px;
	height:120px;
	margin-top:90px;
	margin-left:20px;
}
.top1{
	width:400px;
	height:50px;
}

.top1 span{display:block;float: left;font-size: 16px;height: 32px;line-height: 32px; margin-right: 30px;}
.top_p{
			border: 1px #dad9d9 solid;
			border-radius: 3px;
			width: 280px;
			height: 32px;
			line-height: 32px;
			float: left;
		}
.top_p input[type="text"],.top_p input[type="password"]{
			
			display: block;
			height: 32px;
			width: 247px;
			float:left;
			font-size: 14px;
			margin-left: 5px;
			border: none 0;
			margin:0;
			padding:0;		
		}
.top_p input[type="text"]:focus{outline: none;}

.top_p i{float: left; font-size: 18px; width:32px; height:32px;}

.right_bot{
	width:450px;
	height:220px;
}
.bot1{
	width:280px;
	height:50px;
	background:#ff681d;
	color:#FFF;
	font-size:22px;
	line-height: 50px;
	text-align: center;
	margin-left:85px;
	cursor: pointer;
}
.bot2{
	width:360px;
	text-align: right;
	color:#666;
	font-size:12px;
}
.bot3{
	width:450px;
	height:50px;
	line-height: 50px;
	margin-top:100px;
    text-align: center;
    font-size:14px;
    color:#bbb;
}
.bot3 img{
	vertical-align: middle;
	margin-right:5px;
	border:none;
}
/*登录页面结束*/



/*理财产品*/
.contaniner{
	width:100%;
	height:auto;
	margin-bottom:32px;
}
.con_top{
	width:980px;
	height:185px;
	margin:30px auto 0;
	background:url(../../images/bg.png) no-repeat;
	border-radius: 10px;
}
.con_left{
	width:750px;
	height:189px;
	position:relative;
	float:left;
}
.con_left h3{
	width:600px;
	height:40px;
	line-height: 40px;
	margin-left:40px;
	font-size:18px;
	color:#666;
	display: block;
	font-weight:normal;
}
.p{
	position: absolute;
    left: -8px;
    top: 8px;
}
.con_ul{
	width: 700px;
    height: 95px;
    margin-left:30px;
}
.con_ul ul{
	width:700px;
	height:95px;
}
.con_ul ul li{
	float: left;
    width: 200px;
    text-align: center;
    margin-top: 20px;
    color: #666;
    line-height: 1.3;
    font-size:12px;
}
.bxdb{padding-left: 50px;}
.con_ul ul li b{
	font-size:30px;
}

.con_ul ul li h6{font-size: 14px;color: #666;margin-top: 10px;}
.con_ul ul li h5{font-size: 14px;color: #666;margin-top: 15px;}
.con_ul ul li span{
    width:50px;
	height:30px;
	color: #5CA8FD;
	line-height: 35px;
    border:solid 1px #5CA8FD;
    border-radius: 5px;
    font-size:20px;
}
.con_ul ul li span img{
	vertical-align: middle;
}

.con_bot{
	width:700px;
	height:50px;
	line-height: 50px;
	margin-left:30px;
}
.con_bot ul{
	float:left;
}
.con_bot ul li{
	float:left;
	height:50px;
	line-height: 50px;
	font-size:12px;
    color:#c9c9cb;
    margin-left:25px;
}
.con_bot ul li img{
	vertical-align: middle;
	margin-right: 5px;
}
.con_right{
	float:right;
	width:230px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 0 5px 0;
		margin-top:30px !important;
}
/*.p_once{
	width: 190px!important;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	margin-left:25px;
	background: #f63;
}*/
p.p_once a {
  width: 261px;
  height: 40px;
  display: block;
  color: #FFF3EE;
  text-align: center;
  font-size: 18px;
  background: #f63;
  border-radius: 5px;
}
.right{
	width:180px;
	height:220px;
	position:fixed;
	background:#333;
	top:200px;
	right:300px;
}

/*注册页面开始*/
.nav_l{
	width: 146px;
	height: 64px;
	background: url(../../images/nav.png) no-repeat;
	float: left;
}
.nav_r{
	/*width: 50px;*/
	height: 33px;
	line-height: 33px;
	float: left;
	border-left: 1px solid #ddd;
	margin-top: 18px;
	margin-left: 10px;
	padding-left: 10px;
	font-size: 20px;
	color: #7d7d7d;
}
.con{
	width: 100%;
	height: auto;
}
.con p{
	width: 980px;
	height: 20px;
	margin: 0 auto;
	padding-top: 25px;
	text-align: right;
	font-size: 14px;
	color: #c7c7c7;
}
.con p a{
	color: #fe7e5a;
	font-size: 14px;
}
.con_m{
	width: 955px;
	height: 572px;
	margin: 0 auto;
	border: 10px solid #d8d8d8;
	background: #fff;
	margin-bottom: 50px;
}
.con_m .con_ml{
	width: 416px;
	height: 572px;
	float: left;
}
.con_m .con_ml p.imgss{ 
	margin-top: 35px !important;
	margin: 0 auto;
	width: 289px;
	height: 451px;
}
/*.con_m .con_ml p.imgss img{ 
	width: 100%;
	height: 100%;
}*/
.con_m .con_mr{
	width: 539px;
	height: 572px;
	float: left;
}
.cul_1{
	text-align: right;
	
}
.cul_1,.cul_2{
	float: left;
	margin-top: 60px;
	padding: 0;
}
.cul_2 p span,.cul_2 p span img{
	width: 35px;
	height: 40px;
	display: inline-block;
	float: left;
}
.cul_1 li{
	width: 97px;
	height: 42px;
	line-height: 42px;
	margin-bottom: 33px;
	padding-right: 20px;
}
.cul_2 li{
	width: 310px;
	height: 42px;
	margin-bottom: 33px;
	
}
.cul_2 li p{
	width: 310px;
	line-height: 42px;
	height: 42px;
	padding: 0;
	border: 1px solid #bbb;
}
.cul_2 li button{
	width: 124px;
	line-height: 42px;
	height: 42px;
	margin-left: 13px;
	float: left;
	background: #a3ccff;
	color: #fff;
	text-align: center;
	border-radius:8px ;
	border: none;
	cursor: pointer;
}

.cul_2 li input{
	float: left;
	margin: 0;
	padding: 0;
	width: 275px;
	height: 42px;
	border: none;
	line-height: 30px;
	font-size: 16px;
}
.buut{
	height: 50px;
	line-height: 50px;
	border-radius:5px;
	width: 310px;
	background: #ff681d;
	text-align: center;
	color: #fff;
	font-size: 20px;
	border: none;
	cursor: pointer;
}
.clas{
	height: 46px;
	line-height: 46px;
	color: #bbb;
}
.clas a{
	color: #69aeff;
}
.fhq{
	height: 40px;
	line-height: 40px;
	color: #bbb;
}
.fhq img{
	margin-right: 5px;
	vertical-align: middle;
}

/*注册页面结束*/


/*安全保障-s*/
.con_safe{
	margin-top: 30px;
	width: 100%;
	height: auto;
}
.scon_ul{
	margin: 0 auto;
	width: 980px;
	border-radius: 10px;
}
.scon_ul li{
	width: 980px;
	height: auto;
	background: #fff;
	margin: 0;
	padding: 0;
	border: none;
}
.scon_ul li img{
	width: 980px;
	height: 319px;
	margin: 0;
}
.scon_ul li span{
	display: block;
	width: 20px;
	height: 100%;
	background: #ff7d52;
	float: left;
}
.scon_ul li p{
	width: 893px;
	float: left;
	line-height: 30px;
	color: #adadad;
}
.scon_ul .sul_1{
	
	position: relative;
	height: 319px;
}
.gd{
	position: absolute;
	z-index: 3000;
	top: 0px;
	left: 50%;
	margin-left: -490px;
	width: 980px;
}
.sul_z{
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background: #000;
	opacity: 0.7;
	border-radius: 10px 10px 0 0;
}
.sul_dl{
	position: absolute;
	z-index: 4;
	top: 0;
	left: 0;
	width: 100%;
}
.sul_dl dt{
	width: 33.3%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	
}
.gd .safe_co{color: #fff;}
.scon_ul .sul_2{
	height: 293px;
}
.scon_ul .sul_p2{
	padding: 0 47px 0 20px;
	margin-top: 86px;	
}
.scon_ul .sul_3{
	height: 319px;
}
.scon_ul .sul_4{
	height: 300px;
}
.scon_ul .sul_p4{
	padding: 0 20px 0 47px;
	margin-top: 16px;
}
.scon_ul .sul_5{
	height: 319px;
}
.scon_ul .sul_6{
	height: 296px;
	border-radius:  0 0 10px 10px;
	margin-bottom: 30px;
}
.scon_ul .sul_p6{
	padding: 0 47px 0 20px;
	margin-top: 86px;
}
.scon_ul .sul_6 span{
	border-radius: 0 0 0 10px;
}


/*快捷支付-s*/
.con_zf{
	width: 100%;
	height: auto;
}
.con_z{
	margin: 30px auto;
	border-radius: 10px;
	width: 980px;
	height: 1000px;
	background: #fff;
	padding-top: 40px;
}
.zcon_top{
	width: 900px;
	height: 58px;
	line-height: 58px;
	margin: 0 auto;
	border: 1px solid #fc3;
	border-radius: 10px;
}
.zcon_top span{
	display: inline-block;
	margin: 0 48px;
}
.zcon_top span .spani{
	color: #f63;
}
.zcon_top span .spanem{
	color: #0c9;
}

.zcon_bottom{
	width: 960px;
	height: 720px;
	border: 1px solid #d7d7d7;
	border-top: none;
	margin: 0 auto;
	margin-top: 38px;
}
.zcon_bottom .zcon_bspanl{
	display: inline-block;
	width: 128px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	border-top: 2px solid #f63;
	float: left;
}
.zcon_bottom .zcon_bspanr{
	display: inline-block;
	width: 831px;
	height: 42px;
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	border-left: 1px solid #d7d7d7;
	float: left;
	background: #fafafa;
}
.zcon_main{
	clear: both;
	width: 913px;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ccc;
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
}
.zcon_maini{
	color: #F63;
}


.zcon_m{
	width: 960px;
	height: 572px;
	margin: 0 auto;
	background: #fff;
	margin-bottom: 50px;
}
.zcon_m .zcon_mr{
	width: 539px;
	height: 572px;
	margin: 0 auto;
}
.cul_2 li select,.cul_2 li select option{
	float: left;
	margin: 0;
	padding: 0;
	padding-left: 35px;
	width: 310px;
	height: 42px;
	border: none;
	line-height: 30px;
	font-size: 16px;
	outline: none;
	color: #222;
}
.cul_2 li select{
	color: #339bff;
}

/*充值-s*/
.con_zf{
	width: 100%;
	height: auto;
}
.con_z{
	margin: 30px auto;
	border-radius: 10px;
	width: 980px;
	height: 1000px;
	background: #fff;
	padding-top: 40px;
}
.zcon_top{
	width: 900px;
	height: 58px;
	line-height: 58px;
	margin: 0 auto;
	border: 1px solid #fc3;
	border-radius: 10px;
}
.zcon_top span{
	display: inline-block;
	margin: 0 48px;
}
.zcon_top span .spani{
	color: #f63;
}
.zcon_top span .spanem{
	color: #0c9;
}

.zcon_bottom{
	width: 960px;
	height: 720px;
	border: 1px solid #d7d7d7;
	border-top: none;
	margin: 0 auto;
	margin-top: 38px;
}
.zcon_bottom .zcon_bspanl{
	display: inline-block;
	width: 128px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	border-top: 2px solid #f63;
	float: left;
}
.zcon_bottom .zcon_bspanr{
	display: inline-block;
	width: 831px;
	height: 42px;
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	border-left: 1px solid #d7d7d7;
	float: left;
	background: #fafafa;
}
.zcon_main{
	clear: both;
	width: 913px;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ccc;
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
}
.zcon_maini{
	color: #F63;
}


.zcon_m{
	width: 960px;
	height: 572px;
	margin: 0 auto;
	background: #fff;
	margin-bottom: 50px;
}
.zcon_m .zcon_mr{
	width: 539px;
	height: 572px;
	margin: 0 auto;
}
.cul_2 li select,.cul_2 li select option{
	float: left;
	margin: 0;
	padding: 0;
	padding-left: 35px;
	width: 310px;
	height: 42px;
	border: none;
	line-height: 30px;
	font-size: 16px;
	outline: none;
	color: #222;
}
.cul_2 li select{
	color: #339bff;
}

/*购买-s*/
.con_gm{
	width: 100%;
	height: auto;
}
.con_g{
	margin: 30px auto;
	width: 980px;
	height:860px;
	background: #fff;
	padding-top: 40px;
	border: 10px solid #d8d8d8;
}
.gcon_top{
	width: 900px;
	height: 58px;
	line-height: 58px;
	margin: 0 auto;
	border: 1px solid #fc3;
	border-radius: 10px;
}
.gcon_top span{
	display: inline-block;
	margin: 0 48px;
}
.gcon_top span .spani{
	color: #f63;
}
.gcon_top span .spanem{
	color: #77b4fd;
}

.gcon_bottom{
	width: 960px;
	height: 720px;
	border: 1px solid #d7d7d7;
	border-top: none;
	margin: 0 auto;
	margin-top: 38px;
}
.gcon_bottom .gcon_bspanl{
	display: inline-block;
	width: 128px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	border-top: 2px solid #f63;
	float: left;
}
.gcon_bottom .gcon_bspanr{
	display: inline-block;
	width: 821px;
	height: 42px;
	line-height: 42px;
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	border-left: 1px solid #d7d7d7;
	padding-right: 10px;
	float: left;
	background: #fafafa;
	text-align: right;
	margin-bottom: 22px;
}
.gcon_bottom .gcon_bspanr a{
	color: #f63;
}
.gcon_main{
	clear: both;
	width: 705px;
	height: 44px;
	line-height: 44px;
	margin: 0 auto;
	text-align: center;
	background: #ffe0d6;
}
.gcon_maini{
	color: #F63;
}
.gcon_m{
	width: 960px;
	height: 572px;
	margin: 0 auto;
	background: #fff;
	margin-bottom: 50px;
}
.gcon_m .gcon_mr{
	width: 539px;
	height: 572px;
	margin: 0 auto;
}
.cul_2 li select,.cul_2 li select option{
	float: left;
	margin: 0;
	padding: 0;
	padding-left: 35px;
	width: 310px;
	height: 42px;
	border: none;
	line-height: 30px;
	font-size: 16px;
	outline: none;
	color: #222;
}
.cul_2 li select{
	color: #339bff;
}

/*申请成功-s*/
.con_gmcg{
	width: 100%;
	height: auto;
}
.con_gcg{
	margin: 30px auto;
	width: 960px;
	height:460px;
	background: #fff;
	background: url(../../images/successbg.png) 100% 100%;
	border: 10px solid #d8d8d8;
}
.con_gcbuttom{
	width: 310px;
	margin: 0 auto;
	text-align: center;
	margin-top: 310px;
}
.con_gcbuttom p{
	font-weight: bold;
}
.con_gcbuttom p button{
	width: 310px;
	height: 42px;
	display: block;
	background: #ff681d;
	border: none;
	border-radius: 3px;
	color: #fff;
	font-size: 18px;
	margin-top: 30px;
}


/*支付 zf2*/
.con_zf2{
	width: 100%;
	height: auto;
}
.con_z2{
	margin: 30px auto;
	border-radius: 10px;
	width: 980px;
	height: 1000px;
	background: #fff;
	padding-top: 40px;
}
.z2con_top{
	width: 900px;
	height: 58px;
	line-height: 58px;
	margin: 0 auto;
	border: 1px solid #fc3;
	border-radius: 10px;
}
.z2con_top span{
	display: inline-block;
	margin: 0 48px;
}
.z2con_top span .spani{
	color: #f63;
}
.z2con_top span .spanem{
	color: #0c9;
}

.z2con_bottom{
	width: 960px;
	height: 720px;
	border: 1px solid #d7d7d7;
	border-top: none;
	margin: 0 auto;
	margin-top: 38px;
}
.z2con_bottom .z2con_bspanl{
	display: inline-block;
	width: 128px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	border-top: 2px solid #f63;
	float: left;
}
.z2con_bspanl1{
	display: inline-block;
	width: 128px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	background: #fafafa;
	float: left;
	border-bottom: 1px solid #d7d7d7;
	border-top: 1px solid #d7d7d7;
}
.z2con_bspanm{
	display: inline-block;
	width: 128px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	background: #fafafa;
	float: left;
	border-left: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	border-top: 1px solid #d7d7d7;
	border-right: 1px solid #fafafa;
}
.z2con_bspanm1{
	display: inline-block;
	width: 128px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	background: #fff;
	border-top: 2px solid #f63;
	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
	float: left;
	margin-bottom: 80px;
	cursor: pointer;
}
.z2con_bottom .z2con_bspanr{
	display: inline-block;
	width: 702px;
	height: 42px;
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	float: left;
	background: #fafafa;
}
.z2con_main{
	clear: both;
	width: 913px;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ccc;
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
}
.z2con_maini{
	color: #F63;
}


.z2con_m{
	width: 960px;
	height: 572px;
	margin: 0 auto;
	background: #fff;
	margin-bottom: 50px;
}
.z2con_m .z2con_mr{
	width: 539px;
	height: 572px;
	margin: 0 auto;
}
.cul_2 li select,.cul_2 li select option{
	float: left;
	margin: 0;
	padding: 0;
	padding-left: 35px;
	width: 310px;
	height: 42px;
	border: none;
	line-height: 30px;
	font-size: 16px;
	outline: none;
	color: #222;
}
.cul_2 li select{
	color: #339bff;
}
.z2con_bspanlr{
	display: none;
	width: 935px;
	height: 300px;
}
.cul_z2{
	clear: both;
	width: 100%;
	height: auto;
	margin-top: 80px;
}
.cul_z2 li{
	clear: both;
	width: 100%;
	height: 52px;
	line-height: 52px;
	margin-bottom: 20px;
}
.cul_z2 li span{
	display: inline-block;
	width: 187px;
	height: 54;
	margin-left: 40px;
	border: 1px solid #ececec;
}
.circle,.active_circle{ width:17px; height:17px;display: inline-block;*display:inline;*zoom:1; background: url(../../images/bank_circle.png) no-repeat center center;position: relative;top: 5px;left: 9px; cursor: pointer;}
.active_circle{ background: url(../../images/active_circle.png) no-repeat center center; }
.cul_z2 li span img{
	vertical-align: middle;
}
.z2_buut{
	margin: 0 auto;
	margin-left: 310px;
}
.z2_h{ text-align: center;}


/*zf4 遮罩*/
.result{color:#010101;font-size:16px;font-family:微软雅黑;padding-left:20px;float:left;}
.zftop{margin-top:10px;border-bottom:1px solid #eee;padding-bottom:30px;}
.butom-iput{width: 170px; float: left; position: relative; z-index: 2; left: 350px; top: -30px; color: #5ca8fd; cursor: pointer;}
.tck{background:url(../../images/icon-24.png) no-repeat; background-position:-2px -216px;display:block;width:20px;height:20px;float:right;margin-right:20px;cursor:pointer;}
.box-mask{position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.5;filter:alpha(opacity=50);z-index:99;display:none;}
.box{position:absolute;width:515px;height:252px;border:3px solid #595959;background:#fff;z-index:101;display:none;}
.zfbuttom{ width: 100%; }
.zfbuttom li{ width: 100%; height: 66px; line-height: 66px; text-align: center; border-bottom: 1px solid #ececec;}
.zfbuttom li img{ vertical-align: middle; width: 20px; height: 20px; margin-right: 10px;}
/*.zf4li3 { width: 146px; height: 45px; border: none; border-radius: 10px; background: #fc673d; color: #fff; font-size: 18px; margin-top: 30px;}
.zf4li1{margin-top: 20px;}
.zf4li2{ color: #666;}*/






















