@charset "UTF-8";
.succed_wp{width:100%; height:100%; background: rgba(0,0,0,.6); position:fixed; left:0px; top:0px;}
.succ_bg{  width:492px; height:677px; position: absolute;left:50%; top:40%; margin:-338px 0px 0px -246px;text-align: center;}
.user_bg{ z-index:0; margin-top: -100px;}

.info_dialog{ position:absolute;width:477px;margin:0px; border:2px solid #5f2502; padding:4% 0px;text-align: center; background: #ffd600; border-radius: 16px;}
.piaodai{ position:absolute; top:-44px;left: 17%;}
.piao_title{ text-align: center;font-size: 30px;line-height: 30px;color: white;position: absolute;top: -34px;left: 36%;display: block;width: 128px;}
.succ_close{ position:absolute; cursor:pointer;    right: -18px;top: -27px; }
.succ_main{ padding:0px;margin-top:9%;}
.main_title{ font-size: 35px;line-height: 35px; color:#5f2502; margin-bottom: 20px;}
.main_ft{ width:60%;margin:0 auto; padding:15px 30px; background: white; text-align: center; margin-top:12px; font-size: 30px; line-height: 30px;color:black;  border-radius: 6px;}
input.main_ft{ border-radius: 6px;font-size: 30px;padding:11px 30px; border:0px; line-height: normal;}
.register_btn{ width:50%; margin:0 auto;cursor:pointer;  padding:3% 10%; font-size: 30px; line-height: 30px; color:white; border:2px solid #5f2502; background:#f33529; border-radius: 6px; margin-top:30px;}
.monkey{ position: absolute; left: 190px;top: -26pxz-index: 0;}

.yz{ position: relative;}
.yz .main_ft{ width:30%;display: inline-block;}
.btn_yz{display: inline-block; width:26%;margin-left:3%; text-align: center; font-size: 30px; line-height: 30px; color:#5f2502; border-radius: 10px; border:2px solid #5f2502; background: #f33529; padding:11px 0px;vertical-align: sub;}