body,p,h5,a,table,td,tr,h1,h2,h3,h4,ul,li,input{
    padding: 0;
    border: none;

    margin: 0;text-decoration: none;
}
body{
    position: relative;
}
.actcunguan{
    background-color: #e95146;
    background-image: url(../../../images/activity/answer_team/active_cunguan_banner_bg.jpg);
    background-repeat: no-repeat;
    /* background-position: center 124px;
    padding-top: 124px; */
    background-position: center top;
    padding-bottom: 200px;
}
.actcunguan_banner{
    height: 538px;
    position: relative;
    text-align: center;
}
.actcunguan_banner .banner_content{
	position:absolute;
	top:52%;
	left:50%;
	margin-left: -320px;
	margin-top: -215px;
}
.actcunguan_banner .actcunguan_banner_date{
    font-size: 18px;
    color: #74220f;
    text-align: center;
    font-weight: bold;
    position: absolute;
    bottom: 30px;
    left: 0;right: 0;
}

.screen{
    width: 1080px;
    background: #ffb37b;
    border-radius: 20px;
    margin: 0 auto 60px;
    padding: 15px 36px 60px;
    box-sizing: border-box;
    overflow: hidden;
}
.screen h5,.screen h5{
    margin-bottom: 17px;
}
.scratch{
    height: 3px;
    background: #ff9b66;
    border-bottom: solid 3px #ffc39f;
    position: relative;
}
.scratch span{
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background: #e95146;
    display: inline-block;
    position: absolute;
    top: -9px;
}
.scratch .scratch_left{
    left: -48px;
}
.scratch .scratch_right{
    right: -48px;
}
.screen_main{
    margin-top: 30px;
}
.screen_main>p{
    font-size: 24px;
    color: white;
    margin-bottom: 25px;
    text-align: center;
}
.screen_main>p>span{
    color: #e85a4f;
}
.main_question{
    display: none;
}
.screen_main .main_wrap{
    width: 552px;
    height: 598px;
    margin: auto;
    margin-bottom: 25px;
    background: url(../../../images/activity/answer_team/actcunguan_main_img.jpg) no-repeat center;
    position: relative;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}
.screen_show{
    display: block;
}
.screen_main .main_wrap_ready{
    background: url(../../../images/activity/answer_team/actcunguan_main_img_ready.jpg) no-repeat center;
}
.screen_main .main_wrap .main_wrap_content{
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 15px;
    background: #f59764;
    height: 300px;
    box-sizing: border-box;
}
.screen_main .main_wrap_ready .main_wrap_content{
    display: none;
}
.content_top{
    height: 230px;
    border-bottom: solid 2px #ec8953;
    padding: 15px 20px 0;
    box-sizing: border-box;
}
.content_bottom{
    border-top:solid 2px #ffb891;
    height: 70px;
    padding: 10px 20px 0;
    box-sizing: border-box;
    display: none;
}
.screen_main .main_wrap .main_wrap_content .content_bottom>p{
    font-size:14px;
    color: #b65826;
    font-weight: bold;
    line-height: 25px;
    margin: 0;
    display: none;
}
.screen_main .main_wrap .main_wrap_content h5{
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}
.screen_main .main_wrap .main_wrap_content p,.screen_main .main_wrap .main_wrap_content label{
    font-size: 18px;
    color: white;
    display: block;
    line-height: 30px;
}
.screen_main .main_wrap .main_wrap_content p{
    margin-bottom: 10px;
}
.screen_main .main_wrap .main_wrap_content label{
    padding-left: 35px;
    position: relative;
    cursor: pointer;
}
.screen_main .main_wrap .main_wrap_content label.label_focus span{
    background-image: url(../../../images/activity/answer_team/chose_focuse.jpg);
}
.screen_main .main_wrap .main_wrap_content label span.chose_right{
    background-image: url(../../../images/activity/answer_team/chose_right.jpg);
}
.screen_main .main_wrap .main_wrap_content label span.chose_wrong{
    background-image: url(../../../images/activity/answer_team/chose_wrong.jpg);
}
.screen_main .main_wrap .main_wrap_content label span{
    display: inline-block;
    width: 30px;height: 30px;
    position: absolute;
    background: url(../../../images/activity/answer_team/chose_ico.jpg) center no-repeat;
    top: 1px;left: 0;
}
.screen_main .main_wrap .main_wrap_content label input{
    display: none;
}
.screen_main .question_result .main_wrap .main_wrap_content p{
    margin: 0;
    line-height: 30px;
    font-size: 18px;
}
.question_result .asr_result{
    position: absolute;
    left: 0;right: 0;
    top:50%;
    margin-top: -30px;
}
.screen_main .question_result .main_wrap .main_wrap_content p span{
    color: #ff4106;
    margin: 0 5px;
}
.main_btn{
    text-align: center;
    margin-bottom: 30px;
}
.main_btn a ,.main_btn input{
    font-size: 36px;
    width: 408px;
    height: 98px;
    line-height: 88px;
    color: white;
    background: url(../../../images/activity/answer_team/actcunguan_btn.jpg) no-repeat center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    display: none;
    cursor: pointer;
}
.main_btn input:focus{
    border: none;
}
.main_btn a.btn_disabled{
    background: url(../../../images/activity/answer_team/actcunguan_btn_disabled.png) no-repeat center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    cursor: default;
}
.main_btn .show{
    display: inline-block;
}
.main_rule{
    margin-top: 30px;
}
.main_rule .rule_title{
    font-size: 22px;
    color: #e85a4f;
    margin-bottom: 20px;
    font-weight: bold;
}
.rule_table table{
    width: 100%;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}
.rule_table table tr td{
    line-height: 63px;
    font-size: 18px;
    background: #f59764;
    border: solid 1px #ffbc9b;
    color: #fed6c2;
    width: 18%;
    box-sizing: border-box;
}
.rule_table table tr td:first-child{
    background: #e85a4f;
    border-left: none;
    width: 28%;
}
.rule_table table tr td:last-child{
    border-right:none;
}
.rule_table table tr:first-child td{
    border-top: none;
}
.rule_table table tr:last-child td{
    border-bottom: none;
}
.rule_table table tr:nth-child(2) td{
    color: #e85a4f;
}
.rule_table table tr:nth-child(2) td:first-child{
    color: #fed6c2;
}
.team_list{
    text-align: center;
}
.team_card{
    display: inline-block;
    margin-bottom: 30px;
    width: 316px;
    text-align: center;
    background: #ffd7ba;
    border-radius: 20px;
    overflow: hidden;
}
.team_card_top{
    padding: 10px 15px;
    border-bottom: solid 2px #fec499;
}
.team_card_title{
    background: #f59764;
    text-align: center;
    color: #fff;
    height: 46px;
    line-height: 46px;
    border-radius: 10px;
}
.team_card_bottom{
    border-top:solid 3px #ffeadb;
    padding: 20px 15px 0;
}
.team_card_bottom h4,.team_card_bottom p{
    color: #dd8251;
}
.team_card_bottom h4{
    font-size: 24px;
    margin-bottom: 10px;
}
.team_card_bottom h4 span{
    color: #e85a4f;
}
.team_card_bottom>p{
    margin-bottom: 20px;
}
.team_card_ticket{
    background: #fff5dd;
    border-radius: 15px;
    height: 120px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.card_ticket_left{
    float: left;
    line-height: 120px;
    width: 110px;
    background: #ffb37b;
    font-size: 18px;
    color: #fff;
}
.ticket_left_color{
    background-image: linear-gradient(-45deg, #974fe8 0% ,  #e84f73 100%);
}
.card_ticket_left span{
    font-size: 36px;
    font-weight: bold;
}
.card_ticket_right{
    float: left;
    width: 176px;
    height: 120px;
    padding-left: 15px;
    padding-top: 40px;
    box-sizing: border-box;
}
.card_ticket_right p{
    font-size: 14px;
    color: #e85a4f;
    text-align: left;
    font-weight: bold;
    line-height:18px;
}
.card_ticket_dot{
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #ffd7ba;
    left: 100px;
}
.team_card_ticket .dot_top{
    top: -10px;
}
.team_card_ticket .dot_bottom{
    bottom: -10px;
}
.team_card_btn{
    margin-right: -15px;
    margin-left: -15px;
}
.team_card_btn a{
    display: block;
    line-height: 60px;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    background: #f59764;
    cursor: not-allowed;
}
.team_card_btn .gradient{
    background-image: linear-gradient(90deg , #ff8925 0%, #f85b15 100%);
    cursor: pointer;
}
.act_tips{
    height: 210px;
    margin-top: 30px;
}
.act_tips .tips_wrap{
    float: left;
    width: 489px;
    background: #f59764;
    height: 210px;
    border-radius: 20px;
    padding: 0 60px;
    box-sizing: border-box;
}
.act_tips .tips_wrap h5{
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 30px;
}
.act_tips .tips_wrap p{
    line-height: 30px;
    font-size: 16px;
    color: #fff;
}
.tips_qr{
    width: 110px;
    height: 110px;
    margin: 20px auto 10px;
    border-radius: 10px;
    background: #fff;
}
.tips_qr img{
    width: 100%;
}
.text_center{
    text-align: center;
}
.act_share{
    width: 360px;
    margin: 0 auto;
    background: #ffd7ba;
    border-radius: 15px;
    padding: 10px 0;
}
.act_share h4{
    color: #e95146;
    font-size: 18px;
    font-weight:bold;
}
.act_share .share_qr{
    width: 280px;
    height: 280px;
    margin: 10px auto;
    background: #fff;
    border-radius: 20px;
}
.act_share p{
    font-size: 12px;
    color: #e95146;
    line-height: 20px;
}
.act_share h5{
    font-size: 20px;
    margin-bottom: 10px;
    color: #e95146;
}
.act_rule{
    background: #dc4338;
    margin: 60px auto 0;
    width: 1080px;
    padding: 40px 140px;
    box-sizing: border-box;
    border-radius: 20px;
}
.act_rule h5{
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
}
.act_rule ul{
    list-style: decimal;
    padding-left: 20px;
}
.act_rule ul li{
    font-size: 16px;
    line-height: 30px;
    color: #fff;
}
.popup_join{
    position: fixed;
    background: rgba(0,0,0,.2);
    top: 0;left: 0;right: 0;bottom: 0;
    text-align: center;
    z-index: 999;
    display: none;
}
.popup_wrap{
    width: 420px;
    height: 230px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -115px;
    margin-left: -210px;
    background: #f59764;
    border-radius: 15px;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,.3);
    box-sizing: border-box;
    padding-top: 60px;
    display: none;
}
.popup_close{
    background-image: url(../../../images/activity/answer_team/popup_close.jpg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
.popup_wrap p{
    line-height: 30px;
    font-size: 16px;
    color: #ffffff;
}
.popup_wrap .popup_btn{
    display: inline-block;
    cursor: pointer;
    color: white;
    height: 46px;
    width: 192px;
    font-size: 18px;
    line-height: 42px;
    background: url(../../../images/activity/answer_team/actcunguan_btn_small.png) no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    margin-top: 30px;
}

.hidden_lg{
    display: none;
}
.hidden_sm{
    display: block;
}
.team_list_01 .team_card:last-child{
    margin-left: 25px;
}
.team_list_02 .team_card:nth-child(2){
    margin:0 25px 30px
}
.team_list_02{
    margin-bottom: 30px;
}

.tips_wrap_01{
    margin-right: 30px;
}
@media (max-width: 750px) {
    .actcunguan{
        background-image: none;
        padding: 0 15px 30px;
    }
    .actcunguan_banner{
        height: auto;
        background: url(../../../images/activity/answer_team/h5_active_cunguan_banner.jpg) top center no-repeat ;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        margin-left: -15px;
        margin-right: -15px;
    }
    .actcunguan_banner img{
        display: block;
        width: 100%;
    }
    .actcunguan_banner .bgw_logo{
        width: 20%;
        position: absolute;
        left: 20px;
        top: 20px;
    }
    .actcunguan_banner .actcunguan_banner_date{
        bottom: 8%;
        font-size: .6em;
    }
    .screen{
        width: 100%;
        padding: 4px 10px 20px;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    .hidden_lg{
        display: block;
    }
    .hidden_sm{
        display: none;
    }
    .screen h5, .screen h5{
        margin-bottom: 8px;
    }
    .screen h5, .screen h5 .hidden_lg{
        width: 100%;
    }
    .scratch span{
        width: 10px;height: 10px;
        top: -2px;
    }
    .scratch .scratch_left{
        left: -15px;
    }
    .scratch .scratch_right {
        right: -15px;
    }
    .screen_main{
        margin-top: 15px;
    }
    .screen_main>p {
        font-size: .8em;
        font-weight:bold;
        margin-bottom: 15px;
    }
    .screen_main .main_wrap {
        width: auto;
        height: auto;
        margin: auto;
        margin-bottom: 15px;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        border-radius: 15px;
    }
    .screen_main .main_wrap .main_wrap_content{
        height: auto;
        bottom: 10px;left: 10px;right: 10px;
        padding: 0;
    }
    .content_top{
        height: auto;
        padding: 10px 10px 0;
        box-sizing: border-box;
    }
    .screen_main .main_wrap .main_wrap_content h5{
        font-size: 1em;
        margin-bottom: 5px;
    }
    .screen_main .main_wrap .main_wrap_content p, .screen_main .main_wrap .main_wrap_content label{
        font-size: .9em;
        margin-bottom: 5px;
        line-height: 1.6em;
    }
    .screen_main .main_wrap .main_wrap_content label{
        font-size: .8em;
        line-height: 1.6em;
        padding-left: 1.3em;
    }
    .screen_main .main_wrap .main_wrap_content label span{
        width: .8em;
        height: .8em;
        top: 0.3em;
        background-position: center center;
        background-size: 100%;
        -moz-background-size: 100%;
        -webkit-background-size: 100%;
        -o-background-size: 100%;
    }
    .content_bottom{
        display: block;
        padding: 5px 10px;
        height: 2.4em;
        border-top: none;
        box-sizing: border-box;
    }
    .screen_main .main_wrap .main_wrap_content .content_bottom>p{
        font-size: .6em;
        line-height: 1.2em;
    }
    .screen_main .question_result .main_wrap .main_wrap_content{
        top: 50%;
    }
    .question_result .asr_result{
        margin-top: 0;
        transform: translateY(-50%);
    }
    .screen_main .question_result .main_wrap .main_wrap_content p {
        margin: 0;
        line-height: 1.5em;
        font-size: .8em;
    }
    .main_btn a, .main_btn input{
        width: 65%;
        position: relative;
        height: auto;
        font-size: 1em;
        line-height: 80%;
    }
    .main_btn a span{
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%,-50%);
        display: inline-block;
    }
    .main_btn{
        margin-bottom: 15px;
    }
    .main_rule {
        margin-top: 15px;
    }
    .main_rule .rule_title{
        font-size: 1em;
        margin-bottom: 10px;
    }
    .rule_table table{
        border-radius: 10px;
    }
    .rule_table table tr td{
        font-size: .6em;
        line-height: 3.4em;
        width: 17%;
    }
    .rule_table table tr td:first-child{
        width: 32%;
    }
    .team_card{
        display: block;
        width: 100%;
        margin-bottom: 15px;
        border-radius: 10px;
    }
    .team_list_01 .team_card:last-child{
        margin-left: 0;
    }
    .team_list_02 .team_card:nth-child(2){
        margin:0 0 30px ;
    }
    .team_card_title{
        float: left;
        width: 35%;
        line-height: 3.5em;
        height: auto;
        font-size: .8em;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .team_card_top:after,.sm_card_ticket:after{
        content: "";
        height: 0;
        display: block;
        clear: both;
    }
    .team_card_yaoqiu{
        float: left;
        width: 65%;
        line-height: 3.5em;
        height: auto;
        font-size: .8em;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        background: #f46d49;
        color: #fff;
        white-space:nowrap;
    }
    .team_card_top {
        padding: 10px 7px;
    }
    .team_card_bottom_sm{
        border-top: solid 2px #ffeadb;
        padding: 10px 7px;
    }
    .card_ticket_dot{
        width: 10px;height: 10px;
        left: 33%;
    }
    .sm_card_ticket .dot_bottom{
        bottom: -5px;
    }
    .sm_card_ticket .dot_top{
        top: -5px;
    }
    .sm_card_ticket{
        position: relative;
        border-radius: 8px;
        overflow: hidden;
    }
    .sm_card_ticket>div{
        float: left;
        height: 80px;
        background: #fff5dd;
    }
    .sm_ticket_left{
        width: 35%;
        box-sizing: border-box;
        border-right: dashed 1px #e2d5b5;
        line-height: 80px;
        position: relative;
    }
    .sm_ticket_left p{
        font-size: 2.5em;
        font-weight: bold;
        color: #f59764;
        position: relative;
        display: inline-block;
        padding-left: .5em;
    }
    .sm_ticket_left span{
        font-size: .5em;
        position: absolute;
        line-height: .5em;
        top: 51%;left: .1em;
    }
    .sm_ticket_middle{
        width: 50%;
        position: relative;
    }
    .sm_ticket_middle p{
        position: absolute;
        left: 0;
        right:0;
        top:50%;
        transform: translateY(-50%);
        color: #f59764;
        font-size: .8em;
        line-height: 1.5em;
        text-align: left;
        padding-left: 6%;
    }
    .team_card_bottom_sm .sm_ticket_right{
        width: 15%;
        position: relative;
        background: #f59764;
    }
    .sm_ticket_right a{
        color: white;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1em;
        writing-mode: horizontal-tb;
        width: 100%;
        line-height: 1em;
    }
    .allowed .team_card_bottom_sm .sm_ticket_right{
        background-image: linear-gradient(-45deg, #974fe8 0% ,  #e84f73 100%);
    }
    .popup_wrap{
        width: 90%;
        margin: 0;
        left: 50%;
        transform: translate(-50%,-50%);
        height: auto;
        padding: 30px 15px;
    }
    .popup_wrap p {
        line-height: 1.5em;
        font-size: .8em;
    }
    .popup_wrap .popup_btn{
        width: 70%;
        height: auto;
        position: relative;
    }
    .popup_wrap .popup_btn span{
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%,-50%);
        display: inline-block;
    }
    .team_list_02{
        margin-bottom: 15px;
    }
    .act_tips{
        height: auto;
        margin-top: 15px;
    }
    .tips_wrap_01{
        margin-right: 0;
    }
    .act_tips .tips_wrap{
        width: 100%;
        float: none;
        height: auto;
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 10px;
    }
    .act_tips .tips_wrap h5{
        font-size: .9em;
        margin: 0 0 10px;
    }
    .act_tips .tips_wrap p{
        font-size: .8em;
        line-height: 1.5em;
    }
    .tips_qr{
        margin: 0 auto 10px;
    }
    .act_share{
        width: 60%;
    }
    .act_share h4{
        font-size: .7em;
    }
    .act_share .share_qr{
        width: 128px;
        height: 128px;
        border-radius: 10px;
    }
    .act_share p{
        font-size: .7em;
        line-height: 1.5em;
    }
    .act_share h5{
        font-size: .8em;
    }
    .act_rule{
        width: 100%;
        margin: 30px auto 0;
        padding: 20px 15px;
        border-radius: 10px;
    }
    .act_rule h5{
        font-size: 1em;
    }
    .act_rule ul li{
        font-size: .8em;
        line-height: 1.5em;
    }
}
/* banner¶¯»­ */
.animated {-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both}
@-webkit-keyframes bounceIn {
	0%,
	100%,
	20%,
	40%,
	60%,
	80% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3)
	}
	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1)
	}
	40% {
		-webkit-transform: scale3d(.9, .9, .9);
		transform: scale3d(.9, .9, .9)
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03)
	}
	80% {
		-webkit-transform: scale3d(.97, .97, .97);
		transform: scale3d(.97, .97, .97)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
}
@keyframes bounceIn {
	0%,
	100%,
	20%,
	40%,
	60%,
	80% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		-ms-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3)
	}
	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		-ms-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1)
	}
	40% {
		-webkit-transform: scale3d(.9, .9, .9);
		-ms-transform: scale3d(.9, .9, .9);
		transform: scale3d(.9, .9, .9)
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		-ms-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03)
	}
	80% {
		-webkit-transform: scale3d(.97, .97, .97);
		-ms-transform: scale3d(.97, .97, .97);
		transform: scale3d(.97, .97, .97)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
}
.bounceIn {-webkit-animation-name: bounceIn;animation-name: bounceIn;-webkit-animation-duration: .75s;animation-duration: .75s;animation-delay:.2s;}