body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:352px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:2px;
  top:0px;
  width:350px;
  height:552px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:552px;
}
#u1 {
  position:absolute;
  left:2px;
  top:268px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:2px;
  top:97px;
  width:158px;
  height:53px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:53px;
}
#u3 {
  position:absolute;
  left:2px;
  top:18px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
