#** -------------------------------
 * Function: <Html></Html>。
 *
 * @author
 * @date
 *
 * @param  (String) path  文件全路径
 * ------------------------------- **#
#macro(Html $flag)
    #if("$!{flag}" == "begin")
    <!DOCTYPE html>
    #elseif("$!{flag}" == "end")
    <!--
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?0c35208b5351832f4e593830720077e7";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>-->
    </html>
    #end
#end

#** -------------------------------
 * Function: <Head></Head>。
 *
 * @author
 * @date
 *
 * @param  (String) path  文件全路径
 * ------------------------------- **#
#macro(Head $flag $keywords $description)
    #if("$!{flag}" == "begin")
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    ##<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <meta name="format-detection" content="telephone=no" />
        <meta name="HandheldFriendly" content="true">
        <meta name="x5-orientation" content="portrait">
        <meta name="renderer" content="webkit">
        #if(!$keywords)
            <meta name="keywords" content="互联网金融平台，互联网金融，币港湾，币港湾官网"/>
        #else
            <meta name="keywords" content="$keywords"/>
        #end
        #if(!$description)
            <meta name="description" content="币港湾官网，国资背景安心收益，为您提供互联网金融服务，是优质的互联网金融服务平台。"/>
        #else
            <meta name="description" content="$description"/>
        #end
        <link rel="shortcut icon" href="$!env.getWebURL('')/resources/micro2.0/images/common/bgw_logo.png">
        <script type="text/javascript" src="$!env.getWebURL('resources/common/scripts/jquery-1.11.1.min.js?v=2.8.26')" charset="UTF-8"></script>
        <script type="text/javascript" src="$!env.getWebURL('resources/common/scripts/jquery.rotate.min.js')" charset="UTF-8"></script>

        <input  type = "hidden" value="$!growing_user_id" id="growing_user_id"/>
        <input  type = "hidden" value="$!growing_user_is_login" id="growing_user_is_login"  />
        <input  type = "hidden" value="$!growing_agent_id" id="growing_agent_id"  />
        <input  type = "hidden" value="$!growing_project_id" id="growing_project_id"  />

        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?469f32fceb225ac809a0d3588b1ed7f0";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();


            $(function(){
                var _vds = _vds || [];
                window._vds = _vds;
                (function(){
                    var  growing_project_id = $!("#growing_project_id").val();
                    _vds.push(['setAccountId', growing_project_id]);
                    var  growing_user_id = $!("#growing_user_id").val();
                    var  growing_agent_id = $!("#growing_agent_id").val();
                    if($!("#growing_user_is_login").val() == 'yes'){
                        _vds.push(['setCS1', 'user_id', growing_user_id]);
                        if(growing_agent_id != null && growing_agent_id !=''){
                            _vds.push(['setCS2', 'agent', '渠道'+growing_agent_id]);
                        }
                    }
                    (function() {
                        var vds = document.createElement('script');
                        vds.type='text/javascript';
                        vds.async = true;
                        vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(vds, s);
                    })();
                })();
            });

        </script>
        <!--
            <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-52172818-1', 'auto');
          ga('send', 'pageview');

        </script>
        -->
    #elseif("$!{flag}" == "end")
    </head>
    #end
#end


#** -------------------------------
 * Function: <Head></Head>。
 *
 * @author
 * @date
 *
 * @param  (String) path  文件全路径
 * ------------------------------- **#
#macro(GenHead $flag $keywords $description)
    #if("$!{flag}" == "begin")
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    ##<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <meta name="format-detection" content="telephone=no" />
        <meta name="HandheldFriendly" content="true">
        <meta name="x5-orientation" content="portrait">
        <meta name="renderer" content="webkit">
        #if(!$keywords)
            <meta name="keywords" content="互联网金融平台，互联网金融，币港湾，币港湾官网"/>
        #else
            <meta name="keywords" content="$keywords"/>
        #end
        #if(!$description)
            <meta name="description" content="币港湾官网，国资背景安心收益，为您提供互联网金融服务，是优质的互联网金融服务平台。"/>
        #else
            <meta name="description" content="$description"/>
        #end
        <link rel="shortcut icon" href="$!env.get('gen.server.web')/resources/gen2.0/images/common/bgw_logo.png">
    ##<script type="text/javascript" src="$!env.get('gen.server.web')/resources/common/scripts/jquery-1.11.1.min.js?v=2.8.26" charset="UTF-8"></script>
        #LoadGenJS("/resources/common/scripts/jquery-1.11.1.min")

        <input  type = "hidden" value="$!growing_user_id" id="growing_user_id"/>
        <input  type = "hidden" value="$!growing_user_is_login" id="growing_user_is_login"  />
        <input  type = "hidden" value="$!growing_agent_id" id="growing_agent_id"  />
        <input  type = "hidden" value="$!growing_project_id" id="growing_project_id"  />

        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?0c35208b5351832f4e593830720077e7";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();

            $(function(){
                var _vds = _vds || [];
                window._vds = _vds;
                (function(){
                    var  growing_project_id = $!("#growing_project_id").val();
                    _vds.push(['setAccountId', growing_project_id]);
                    var  growing_user_id = $!("#growing_user_id").val();
                    var  growing_agent_id = $!("#growing_agent_id").val();
                    if($!("#growing_user_is_login").val() == 'yes'){
                        _vds.push(['setCS1', 'user_id', growing_user_id]);
                        if(growing_agent_id != null && growing_agent_id !=''){
                            _vds.push(['setCS2', 'agent', '渠道'+growing_agent_id]);
                        }
                    }
                    (function() {
                        var vds = document.createElement('script');
                        vds.type='text/javascript';
                        vds.async = true;
                        vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(vds, s);
                    })();
                })();
            });


        </script>

        <!--
            <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-52172818-1', 'auto');
          ga('send', 'pageview');

        </script>
        -->
    #elseif("$!{flag}" == "end")
    </head>
    #end
#end

#** -------------------------------
 * Function: <title></title>。
 *
 * @author
 * @date
 *
 * @param  (String) path  文件全路径
 * ------------------------------- **#
#macro(Title $title)
<title>
    #if($!title)
        $!esc.htmlEscape($!{title})
    #else
       	【币港湾官网】国资背景互联网金融服务平台
    #end
</title>
#end

#** -------------------------------
 * Function: 载入静态资源服务器上的JS文件。
 *
 * @author
 * @date
 *
 * @param  (String) path  文件全路径
 * ------------------------------- **#
#macro(LoadJS $path)
    #set($suffix=".js?v=3.0.32")
    <script type="text/javascript" src="$!env.getWebURL($!esc.htmlEscape($!{path}))$suffix" charset="UTF-8"></script>
#end

#** -------------------------------
 * Function: 载入静态资源服务器上的CSS文件。
 *
 * @author
 * @date
 *
 * @param  (String) path  文件全路径
 * ------------------------------- **#
#macro(LoadCSS $path)
	#set($suffix=".css?v=3.0.32")
    #if("$!path" == "default")
        <link rel="stylesheet" type="text/css" href="$!env.getWebURL($!esc.htmlEscape('css'))$suffix" charset="UTF-8"></link>
    #else
        <link rel="stylesheet" type="text/css" href="$!env.getWebURL($!esc.htmlEscape($!{path}))$suffix" charset="UTF-8"></link>
    #end
#end

#** -------------------------------
 * Function: 载入静态资源服务器上的JS文件。
 *
 * @author
 * @date
 *
 * @param  (String) path  文件全路径
 * ------------------------------- **#
#macro(LoadGenJS $path)
	#set($suffix=".js?v=3.0.32")
    <script type="text/javascript" src="$!env.get('gen.server.web')$!esc.htmlEscape($!{path})$suffix" charset="UTF-8"></script>
#end

#** -------------------------------
 * Function: 载入静态资源服务器上的CSS文件。
 *
 * @author
 * @date
 *
 * @param  (String) path  文件全路径
 * ------------------------------- **#
#macro(LoadGenCSS $path)
	#set($suffix=".css?v=3.0.32")
    #if("$!path" == "default")
        <link rel="stylesheet" type="text/css" href="$!env.get('gen.server.web')$!esc.htmlEscape('css')$suffix" charset="UTF-8"></link>
    #else
        <link rel="stylesheet" type="text/css" href="$!env.get('gen.server.web')$!esc.htmlEscape($!{path})$suffix" charset="UTF-8"></link>
    #end
#end



#** -------------------------------
 * Function: pc端头部
 *
 * @author
 * @date
 *
 * @param  (String)
 * ------------------------------- **#
#macro(GenHeader)
    #LoadGenCSS("/resources/gen2.0/styles/common")
    #LoadGenCSS("/resources/gen2.0/styles/default")
    #LoadGenJS("/resources/gen2.0/scripts/common/jquery.cookie")
    #LoadGenJS("/resources/gen2.0/scripts/common/common")
    #LoadGenJS("/resources/gen2.0/scripts/fix")
<!--<script type="text/javascript" src="$!env.get('gen.server.web')/resources/gen2.0/scripts/common/jquery.cookie.js?v=2.8.26" charset="UTF-8"></script>
<script type="text/javascript" src="$!env.get('gen.server.web')/resources/gen2.0/scripts/common/common.js?v=2.8.26" charset="UTF-8"></script>
<script type="text/javascript" src="$!env.get('gen.server.web')/resources/gen2.0/scripts/fix.js?v=2.8.26" charset="UTF-8"></script>
<link rel="stylesheet" type="text/css" href="$!env.get('gen.server.web')/resources/gen2.0/styles/common.css?v=2.8.26')" charset="UTF-8"></link>
<link rel="stylesheet" type="text/css" href="$!env.get('gen.server.web')/resources/gen2.0/styles/default.css?v=2.8.26')" charset="UTF-8"></link>
<link rel="stylesheet" type="text/css" href="$!env.get('gen.server.web')/resources/gen2.0/styles/main.css?v=2.8.26')" charset="UTF-8"></link>-->

<!-- header wrapper starts -->
<input type="hidden" id="APP_ROOT_PATH_GEN" value="$!env.get('gen.server.web')"/>
<div class="header">
    <div class="wrap">
        <div class="head">
            <span class="head_left" style="width: 300px;">客服电话400-806-1230<em>（周一至周五9：00-18：00）</em></span>
                <span class="head_main">
                    <a href="javascript:void(0);" class="wx"></a>
                    <!--<a class="APP_img" href="javascript:void(0);">
                        APP
                        <div class="APP_wp">
                            <img class="App_icon" src="$!env.get('gen.server.web')/resources/gen2.0/images/APP_weichat.png">
                        </div>
                    </a>-->
                </span>
            <ul class="h_ul" id="inick">
                <li>hi,欢迎来到币港湾</li>
                <li><a href="$!env.get('gen.server.web')/gen2.0/user/login/index">登录</a></li>
                <li><a href="$!env.get('gen.server.web')/gen2.0/user/register_first_new_index">注册</a></li>
            </ul>
        </div>
        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/2wm.png" class="imgs">
    </div>
</div>
<div class="naver">
    <div class="nav">
        <div class="nav_left"></div>
        <div class="nav_right">
            <ul>
                <li><a href="$!env.get('gen.server.web')">首页</a></li>
                <li><a href="$!env.get('gen.server.web')/gen2.0/regular/list" target="_blank">产品列表</a></li>
                <li><a href="$!env.get('gen.server.web')/gen2.0/platform/about/platform_profile/index">平台简介</a></li>
                <li><a href="$!env.get('gen.server.web')/gen2.0/home/safe">安全保障</a></li>
                <li><a href="$!env.get('gen.server.web')/gen2.0/platform/help/common_problem/index">帮助中心</a></li>
                <span style="background: url($!env.get('gen.server.web')/resources/gen2.0/images/tuoyuan.png) no-repeat; display: block; width: 90px; height: 5px; position: absolute; left:360px; top:-3px;" id="tuoyuan"></span>
            </ul>
        </div>
    </div>
</div>
<!-- header wrapper ends -->

<script>
    $(document).ready(function clickme(){
        $('.nav_left').on('click',function(){
            location.href="$!env.get('gen.server.web')";
        })

    })

</script>
#end

#macro(Gen2Header $flag $flag_1)
    #LoadGenJS("/resources/gen2.0/scripts/common/common")
    #LoadGenCSS("/resources/gen2.0/styles/default")
    #LoadGenCSS("/resources/gen2.0/styles/common/head")
    #LoadGenJS("/resources/gen2.0/scripts/Custom")
<input type="hidden" id="APP_ROOT_PATH_GEN" value="$!env.get('gen.server.web')"/>
<script>
    function go_help_center(page) {
        var url = $('#APP_ROOT_PATH_GEN').val() + '/gen2.0/platform/help/common_problem/index';
        sessionStorage.page = page;
        location.href = url;
    }
</script>
<div class="header">
    <div class="nav_top">
        <div class="nav_top_left">
            <span style="padding-left: 0">客服电话：<strong>400-806-1230</strong>（周一至周五9:00-18:00）</span>
            <span><a href="http://hzbgw.114ct.cn/udesktop/imCus_WebSocket/page/chatMini.html?param=" target="_blank">在线客服</a></span>
            <span><a href="javascript:void(0)" onclick="go_help_center('1')">帮助中心</a></span>
            <span style="border-right: none;"><a href="$!env.get('gen.server.web')/pc/mall/homeIndex" >积分商城</a></span>
        </div>
        <div class="nav_top_right">
            <ul>
                <!--登录后用户手机号 -->
                #if("$!user_is_login" == "yes")
                    <input type="hidden" id="user_mobile" value="$!user_mobile"/>
                    <li class="users_login">
                        <a href="$!env.get('gen.server.web')/gen2.0/assets/assets" class="nav_usertel">$!user_mobile</a>
                        <a href="javascript:user_out()">退出</a>
                    </li>
                #end
                <li>
                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/homepage/ic_wechat.png" alt="mobile">
                    微信
                    <div class="nav_top_qr">
                        <span></span>
                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/bigangwan_wx.png" alt="app">
                    </div>
                </li>
                <li>
                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/homepage/ic_mobile.png" alt="mobile">
                    手机APP
                    <div class="nav_top_qr">
                        <span></span>
                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/bigangwan_app.png" alt="app">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="nav_bottom">
        <div class="header_main">
            <h1>
                <a href="$!env.get('gen.server.web')">
                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/homepage/logo.png" alt="安心投资理财【币港湾官网】">
                </a>
            </h1>
            <div class="header_main_nav">
                <ul>
                    <li><a href="$!env.get('gen.server.web')" #if("$flag" == "home") class="li_atpage" #end>首页</a></li>
                    <li><a href="$!env.get('gen.server.web')/gen2.0/regular/list" #if("$flag" == "product") class="li_atpage" #end>产品列表</a>
                        <span class="nav_hot">
                            <img src="$!env.get('gen.server.web')/resources/gen2.0/images/homepage/nav_hot.png" ondragstart="return false;">
                        </span>
                    </li>
                    <li><a href="$!env.get('gen.server.web')/gen2.0/home/safe" #if("$flag" == "safe") class="li_atpage" #end>安全保障</a></li>
                    <li id="head_nav_ifo">
                        <a href="$!env.get('gen.server.web')/gen2.0/static/CNH_information" #if("$flag" == "info") class="li_atpage" #end>信息披露</a>
                        <div class="subNav_ifo ifo_disclosure">
                            <ul>
                                <li><span></span><a href="$!env.get('gen.server.web')/gen2.0/static/CNH_information">承诺函</a></li>
                                <li><span></span><a href="$!env.get('gen.server.web')/gen2.0/static/BA_information">监管信息</a></li>
                                <li><span></span><a href="$!env.get('gen.server.web')/gen2.0/platform/info/notice/index">平台实况</a></li>
                                <li style="border-bottom-color: transparent;"><span></span><a href="$!env.get('gen.server.web')/gen2.0/platform/about/company_dynamics/index">港湾资讯</a></li>
                                <li class="subNav_topico" style="left: 55px"></li>
                            </ul>
                        </div>
                    </li>
                    <li id="head_nav_about">
                        <a href="$!env.get('gen.server.web')/gen2.0/platform/about/platform_profile/index" #if("$flag" == "about") class="li_atpage" #end>关于我们</a>
                        <div class="subNav_ifo">
                            <ul>
                                <li><span></span><a href="$!env.get('gen.server.web')/gen2.0/platform/about/platform_profile/index">平台简介</a></li>
                                <li><span></span><a href="$!env.get('gen.server.web')/gen2.0/platform/about/partner/index">合作伙伴</a></li>
                                <li><span></span><a href="$!env.get('gen.server.web')/gen2.0/platform/about/development_history/index">发展历程</a></li>
                                <li><span></span><a href="$!env.get('gen.server.web')/gen2.0/platform/about/contact_us/index">联系我们</a></li>
                                <li style="border-bottom-color: transparent;"><span></span><a href="$!env.get('gen.server.web')/gen2.0/platform/about/honor/index">荣誉资质</a></li>
                                <li style="border-bottom-color: transparent;"><span></span><a href="javascript:void(0)" onclick="go_help_center('1')">帮助中心</a></li>
                                <li class="subNav_topico"></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="header_main_btn">
                #if("$!user_is_login" == "yes")
                    <ul class="nav_users_login">
                        <li>
                            <a href="$!env.get('gen.server.web')/gen2.0/assets/assets"><i></i>我的账户</a>
                            <div class="subNav_ifo">
                                <ul>
                                    <li><span></span><a href="$!env.get('gen.server.web')/gen2.0/assets/assets">账户总览</a></li>
                                    <li><span></span><a href="$!env.get('gen.server.web')/gen2.0/assets/assets?redPacket=redPacket">优惠券</a></li>
                                    <li><span></span><a href="$!env.get('gen.server.web')/gen2.0/assets/assets?investManage=investManage">计划管理</a></li>
                                    <li><span></span><a href="$!env.get('gen.server.web')/gen2.0/assets/assets?invite=invite">邀请好友</a></li>
                                    <li><span></span><a href="$!env.get('gen.server.web')/gen2.0/assets/assets?repayPlan=repayPlan">回款计划</a></li>
                                    <li><span></span><a href="$!env.get('gen.server.web')/gen2.0/assets/assets?selfbank=selfbank">银行卡</a></li>
                                    <li style="border-bottom-color: transparent;"><span></span><a href="$!env.get('gen.server.web')/gen2.0/assets/assets?transactionDetails=transactionDetails">交易明细</a></li>
                                    <li style="border-bottom-color: transparent;"><span></span><a href="$!env.get('gen.server.web')/gen2.0/assets/assets?securityCenter=securityCenter">安全中心</a></li>
                                    <li class="subNav_topico"></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                #else
                    <ul class="nav_users_logout">
                        <li><a href="$!env.get('gen.server.web')/gen2.0/user/login/index" class="main_btn_login">登录</a></li>
                        <li>
                            <a href="$!env.get('gen.server.web')/gen2.0/user/register_first_new_index" class="main_btn_rigester">
                                #if($!totalRedPacketAmount <= 0)
                                    注册
                                #else
                                    注册送$!number.format("0", $!totalRedPacketAmount)
                                #end
                            </a>
                        </li>
                    </ul>
                #end
            </div>
        </div>
    </div>
</div>
#end


#macro(Mall2Header $flag $flag_1)
    #LoadGenJS("/resources/gen2.0/scripts/common/common")
    #LoadGenCSS("/resources/gen2.0/styles/default")
    #LoadGenCSS("/resources/gen2.0/styles/common/head")
    #LoadGenJS("/resources/gen2.0/scripts/Custom")
<input type="hidden" id="APP_ROOT_PATH_GEN" value="$!env.get('gen.server.web')"/>
<script>
    function go_help_center(page) {
        var url = $('#APP_ROOT_PATH_GEN').val() + '/gen2.0/platform/help/common_problem/index';
        sessionStorage.page = page;
        location.href = url;
    }
</script>
<div class="header">
    <div class="nav_top">
        <div class="nav_top_left">
            <span style="padding-left: 0">客服电话：<strong>400-806-1230</strong>（周一至周五9:00-18:00）</span>
            <span><a href="http://hzbgw.114ct.cn/udesktop/imCus_WebSocket/page/chatMini.html?param=" target="_blank">在线客服</a></span>
            <span><a href="javascript:void(0)" onclick="go_help_center('1')">帮助中心</a></span>
            <span style="border-right: none;"><a href="$!env.get('gen.server.web')/pc/mall/homeIndex">积分商城</a></span>
        </div>
        <div class="nav_top_right">
            <ul>
                <!--登录后用户手机号 -->
                #if("$!user_is_login" == "yes")
                    <input type="hidden" id="user_mobile" value="$!user_mobile"/>
                    <li class="users_login">
                        <a href="$!env.get('gen.server.web')/gen2.0/assets/assets" class="nav_usertel">$!user_mobile</a>
                        <a href="javascript:user_out()">退出</a>
                    </li>
                #end
                <li>
                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/homepage/ic_wechat.png" alt="mobile">
                    微信
                    <div class="nav_top_qr">
                        <span></span>
                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/bigangwan_wx.png" alt="app">
                    </div>
                </li>
                <li>
                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/homepage/ic_mobile.png" alt="mobile">
                    手机APP
                    <div class="nav_top_qr">
                        <span></span>
                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/bigangwan_app.png" alt="app">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="nav_bottom">
        <div class="header_main">
            <h1>
                <a href="$!env.get('gen.server.web')">
                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/homepage/logo.png" alt="安心投资理财【币港湾官网】">
                </a>
            </h1>
            <div class="header_main_nav">
                <ul>
                    <li><a href="$!env.get('gen.server.web')/pc/mall/homeIndex" #if("$flag" == "mall") class="li_atpage" #end>积分商城</a></li>
                    <li><a href="$!env.get('gen.server.web')/pc/mallPoints/pointsRecord" #if("$flag" == "integral") class="li_atpage" #end>积分记录</a></li>
                    <li><a href="$!env.get('gen.server.web')/pc/mallExchange/myExchangeList" #if("$flag" == "exchange") class="li_atpage" #end>我的兑换</a></li>
                </ul>
            </div>
            <div class="mall_back_btn">
                <a href="$!env.get('gen.server.web')">返回首页</a>
            </div>
        </div>
    </div>
</div>
#end

#** -------------------------------
 * Function: pc 关于我们  侧边导航栏
 *
 * @author
 * @date
 *
 * @param  (String)
 * ------------------------------- **#
#macro(Gen2AboutSubNav)
    #LoadGenCSS("/resources/gen2.0/styles/platform/about/about_public")
<div class="main_cleft">
    <h3 class="main_cl_h31"><a class="title">关于我们</a></h3>
    <div class="main_cl_ul" style="display: block;">
        <!-- <li class="main_clul_litwo"><a href="$!env.get(
            'gen.server.web')/gen2.0/platform/about/platform_profile/index">关于我们</a></li>-->
        <a href="$!env.get('gen.server.web')/gen2.0/platform/about/platform_profile/index"><img src="$!env.get(
            'gen.server.web')/resources/gen2.0/images/platform/main_ulbg.png"/><span>平台简介</span></a>
        <a href="$!env.get('gen.server.web')/gen2.0/platform/about/development_history/index"><img src="$!env.get(
            'gen.server.web')/resources/gen2.0/images/platform/main_ulbg.png"/><span>发展历程</span></a>
    #*<a href="$!env.get('gen.server.web')/gen2.0/platform/about/company_dynamics/index"><img src="$!env.get(
        'gen.server.web')/resources/gen2.0/images/platform/main_ulbg.png"/><span>公司动态</span></a>
    <a href="$!env.get('gen.server.web')/gen2.0/platform/about/media/index"><img src="$!env.get(
        'gen.server.web')/resources/gen2.0/images/platform/main_ulbg.png"/><span>媒体报道</span></a>
    <a href="$!env.get('gen.server.web')/gen2.0/platform/about/wfans_activity/index"><img src="$!env.get(
        'gen.server.web')/resources/gen2.0/images/platform/main_ulbg.png"/><span>湾粉活动</span></a>*#
        <a href="$!env.get('gen.server.web')/gen2.0/platform/about/honor/index"><img src="$!env.get(
            'gen.server.web')/resources/gen2.0/images/platform/main_ulbg.png"/><span>荣誉资质</span></a>
        <a href="$!env.get('gen.server.web')/gen2.0/platform/about/partner/index"><img src="$!env.get(
            'gen.server.web')/resources/gen2.0/images/platform/main_ulbg.png"/><span>合作伙伴</span></a>
        <a href="$!env.get('gen.server.web')/gen2.0/platform/about/contact_us/index"><img src="$!env.get(
            'gen.server.web')/resources/gen2.0/images/platform/main_ulbg.png"/><span>联系我们</span></a>
        <a href="$!env.get('gen.server.web')/gen2.0/platform/help/common_problem/index"><img src="$!env.get(
            'gen.server.web')/resources/gen2.0/images/platform/main_ulbg.png" /><span>帮助中心</span></a>
    </div>
</div>
#end



#** -------------------------------
 * Function: pc 关于我们  侧边导航栏
 *
 * @author
 * @date
 *
 * @param  (String)
 * ------------------------------- **#
#macro(Gen2InfoSubNav)
    #LoadGenCSS("/resources/gen2.0/styles/platform/about/about_public")
    #LoadGenJS("/resources/gen2.0/scripts/platform/subnav")
<div class="main_cleft">
    <h3 class="main_cl_h31"><a class="title" href="$!env.get('gen.server.web')/gen2.0/static/CNH_information">承诺函</a></h3>
    <h3 class="main_cl_h31 compliance"><a class="title">监管信息<span></span></a></h3>
    <div class="main_cl_ul" id="compliance">
        <a href="$!env.get('gen.server.web')/gen2.0/static/BA_information">
            <img src="$!env.get('gen.server.web')/resources/gen2.0/images/platform/main_ulbg.png"/>
            <span>备案信息</span>
        </a>
        <a href="$!env.get('gen.server.web')/gen2.0/static/GS_information">
            <img src="$!env.get('gen.server.web')/resources/gen2.0/images/platform/main_ulbg.png"/>
            <span>工商信息</span>
        </a>
        <a href="$!env.get('gen.server.web')/gen2.0/static/GD_information">
            <img src="$!env.get('gen.server.web')/resources/gen2.0/images/platform/main_ulbg.png"/>
            <span>股东信息</span>
        </a>
        <a href="$!env.get('gen.server.web')/gen2.0/platform/info/organization/index">
            <img src="$!env.get('gen.server.web')/resources/gen2.0/images/platform/main_ulbg.png"/>
            <span>组织构架</span>
        </a>
        <a href="$!env.get('gen.server.web')/gen2.0/static/FZ_information">
            <img src="$!env.get('gen.server.web')/resources/gen2.0/images/platform/main_ulbg.png"/>
            <span>分支机构</span>
        </a>
        <a href="$!env.get('gen.server.web')/gen2.0/static/QD_information">
            <img src="$!env.get('gen.server.web')/resources/gen2.0/images/platform/main_ulbg.png"/>
            <span>渠道信息</span>
        </a>
        <a href="$!env.get('gen.server.web')/gen2.0/static/SH_information">
            <img src="$!env.get('gen.server.web')/resources/gen2.0/images/platform/main_ulbg.png"/>
            <span>审核信息</span>
        </a>
        <a href="$!env.get('gen.server.web')/gen2.0/static/SX_information">
            <img src="$!env.get('gen.server.web')/resources/gen2.0/images/platform/main_ulbg.png"/>
            <span>重大事项</span>
        </a>
        <a href="$!env.get('gen.server.web')/gen2.0/static/LAW_imformation">
            <img src="$!env.get('gen.server.web')/resources/gen2.0/images/platform/main_ulbg.png"/>
            <span>法律法规</span>
        </a>
        <a href="$!env.get('gen.server.web')/gen2.0/static/BZ_information">
            <img src="$!env.get('gen.server.web')/resources/gen2.0/images/platform/main_ulbg.png"/>
            <span>收费标准</span>
        </a>
    </div>
    <h3 class="main_cl_h31 ifo_live"><a class="title">平台实况<span></span></a></h3>
    <div class="main_cl_ul" id="ifo_live">
        <a href="$!env.get('gen.server.web')/gen2.0/platform/info/notice/index"><img src="$!env.get(
            'gen.server.web')/resources/gen2.0/images/platform/main_ulbg.png"/><span>平台公告</span></a>
        <a href="$!env.get('gen.server.web')/gen2.0/platform/info/platform_data/index"><img src="$!env.get(
            'gen.server.web')/resources/gen2.0/images/platform/main_ulbg.png"/><span>平台数据</span></a>
        <a href="$!env.get('gen.server.web')/gen2.0/platform/info/report/index"><img src="$!env.get(
            'gen.server.web')/resources/gen2.0/images/platform/main_ulbg.png"/><span>运营报告</span></a>
    </div>
    <h3 class="main_cl_h31 information"><a class="title">港湾资讯<span></span></a></h3>
    <div class="main_cl_ul" id="information">
        <a href="$!env.get('gen.server.web')/gen2.0/platform/about/company_dynamics/index"><img src="$!env.get(
            'gen.server.web')/resources/gen2.0/images/platform/main_ulbg.png"/><span>公司动态</span></a>
        <a href="$!env.get('gen.server.web')/gen2.0/platform/about/media/index"><img src="$!env.get(
            'gen.server.web')/resources/gen2.0/images/platform/main_ulbg.png"/><span>媒体报道</span></a>
        <a href="$!env.get('gen.server.web')/gen2.0/platform/about/wfans_activity/index"><img src="$!env.get(
            'gen.server.web')/resources/gen2.0/images/platform/main_ulbg.png"/><span>湾粉活动</span></a>
    </div>
</div>
#end


#** -------------------------------
 * Function: pc 关于我们  侧边导航栏
 *
 * @author
 * @date
 *
 * @param  (String)
 * ------------------------------- **#
#macro(Gen178AboutSubNav)
    #LoadGenCSS("/resources/gen178/styles/platform/about/about_public")
<div class="main_cleft">
    <h3 class="main_cl_h31"><a class="title">关于我们</a></h3>
    <div class="main_cl_ul" style="display: block;">
        <!-- <li class="main_clul_litwo"><a href="$!env.get(
            'gen.server.web')/gen178/platform/about/platform_profile/index">关于我们</a></li>-->
        <a href="$!env.get('gen.server.web')/gen178/platform/about/platform_profile/index?agentViewFlag=$!agentViewFlag"><img src="$!env.get(
            'gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/><span>平台简介</span></a>
        <a href="$!env.get('gen.server.web')/gen178/platform/about/development_history/index?agentViewFlag=$!agentViewFlag"><img src="$!env.get(
            'gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/><span>发展历程</span></a>

    #*<a href="$!env.get('gen.server.web')/gen178/platform/about/company_dynamics/index"><img src="$!env.get(
        'gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/><span>公司动态</span></a>
    <a href="$!env.get('gen.server.web')/gen178/platform/about/media/index"><img src="$!env.get(
        'gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/><span>媒体报道</span></a>
    <a href="$!env.get('gen.server.web')/gen178/platform/about/wfans_activity/index"><img src="$!env.get(
        'gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/><span>湾粉活动</span></a>*#
        <a href="$!env.get('gen.server.web')/gen178/platform/about/honor/index?agentViewFlag=$!agentViewFlag"><img src="$!env.get(
            'gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/><span>荣誉资质</span></a>
        <a href="$!env.get('gen.server.web')/gen178/platform/about/partner/index?agentViewFlag=$!agentViewFlag"><img src="$!env.get(
            'gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/><span>合作伙伴</span></a>
        <a href="$!env.get('gen.server.web')/gen178/platform/about/contact_us/index?agentViewFlag=$!agentViewFlag"><img src="$!env.get(
            'gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/><span>联系我们</span></a>
        <a href="javascript:void(0)" onclick="go_help_center('1')"><img src="$!env.get(
            'gen.server.web')/resources/gen178/images/platform/main_ulbg.png" /><span>帮助中心</span></a>
    </div>
</div>
#end



#** -------------------------------
 * Function: pc 关于我们  侧边导航栏
 *
 * @author
 * @date
 *
 * @param  (String)
 * ------------------------------- **#
#macro(Gen178InfoSubNav)
    #LoadGenCSS("/resources/gen178/styles/platform/about/about_public")
    #LoadGenJS("/resources/gen178/scripts/platform/subnav")
<div class="main_cleft">
    <h3 class="main_cl_h31"><a class="title" href="$!env.get('gen.server.web')/gen178/static/CNH_information?agentViewFlag=$!agentViewFlag">承诺函</a></h3>
    <h3 class="main_cl_h31 compliance"><a class="title">监管信息<span></span></a></h3>
    <div class="main_cl_ul" id="compliance">
        <a href="$!env.get('gen.server.web')/gen178/static/BA_information?agentViewFlag=$!agentViewFlag">
            <img src="$!env.get('gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/>
            <span>备案信息</span>
        </a>
        <a href="$!env.get('gen.server.web')/gen178/static/GS_information?agentViewFlag=$!agentViewFlag">
            <img src="$!env.get('gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/>
            <span>工商信息</span>
        </a>
        <a href="$!env.get('gen.server.web')/gen178/static/GD_information?agentViewFlag=$!agentViewFlag">
            <img src="$!env.get('gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/>
            <span>股东信息</span>
        </a>
        <a href="$!env.get('gen.server.web')/gen178/platform/info/organization/index?agentViewFlag=$!agentViewFlag">
            <img src="$!env.get('gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/>
            <span>组织构架</span>
        </a>
        <a href="$!env.get('gen.server.web')/gen178/static/FZ_information?agentViewFlag=$!agentViewFlag">
            <img src="$!env.get('gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/>
            <span>分支机构</span>
        </a>
        <a href="$!env.get('gen.server.web')/gen178/static/QD_information?agentViewFlag=$!agentViewFlag">
            <img src="$!env.get('gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/>
            <span>渠道信息</span>
        </a>
        <a href="$!env.get('gen.server.web')/gen178/static/SH_information?agentViewFlag=$!agentViewFlag">
            <img src="$!env.get('gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/>
            <span>审核信息</span>
        </a>
        <a href="$!env.get('gen.server.web')/gen178/static/SX_information?agentViewFlag=$!agentViewFlag">
            <img src="$!env.get('gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/>
            <span>重大事项</span>
        </a>
        <a href="$!env.get('gen.server.web')/gen178/static/LAW_imformation?agentViewFlag=$!agentViewFlag">
            <img src="$!env.get('gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/>
            <span>法律法规</span>
        </a>
        <a href="$!env.get('gen.server.web')/gen178/static/BZ_information?agentViewFlag=$!agentViewFlag">
            <img src="$!env.get('gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/>
            <span>收费标准</span>
        </a>
    </div>
    <h3 class="main_cl_h31 ifo_live"><a class="title">平台实况<span></span></a></h3>
    <div class="main_cl_ul" id="ifo_live">
        <a href="$!env.get('gen.server.web')/gen178/platform/info/notice/index?agentViewFlag=$!agentViewFlag"><img src="$!env.get(
            'gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/><span>平台公告</span></a>
        <a href="$!env.get('gen.server.web')/gen178/platform/info/platform_data/index?agentViewFlag=$!agentViewFlag"><img src="$!env.get(
            'gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/><span>平台数据</span></a>
        <a href="$!env.get('gen.server.web')/gen178/platform/info/report/index?agentViewFlag=$!agentViewFlag"><img src="$!env.get(
            'gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/><span>运营报告</span></a>
    </div>
    <h3 class="main_cl_h31 information"><a class="title">港湾资讯<span></span></a></h3>
    <div class="main_cl_ul" id="information">
        <a href="$!env.get('gen.server.web')/gen178/platform/about/company_dynamics/index?agentViewFlag=$!agentViewFlag"><img src="$!env.get(
            'gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/><span>公司动态</span></a>
        <a href="$!env.get('gen.server.web')/gen178/platform/about/media/index?agentViewFlag=$!agentViewFlag"><img src="$!env.get(
            'gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/><span>媒体报道</span></a>
        <a href="$!env.get('gen.server.web')/gen178/platform/about/wfans_activity/index?agentViewFlag=$!agentViewFlag"><img src="$!env.get(
            'gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/><span>湾粉活动</span></a>
    </div>
</div>
#end


#** -------------------------------
 * Function: pc端头部   登录注册部分
 *
 * @author
 * @date
 *
 * @param  (String)
 * ------------------------------- **#
#macro(GenHeaderLogin)

    #LoadGenCSS("/resources/gen2.0/styles/common")
    #LoadGenCSS("/resources/gen2.0/styles/default")
    #LoadGenCSS("/resources/gen2.0/styles/login_header")
    #LoadGenJS("/resources/gen2.0/scripts/common/jquery.cookie")
    #LoadGenJS("/resources/gen2.0/scripts/common/common")
    #LoadGenJS("/resources/gen2.0/scripts/fix")
<!--
<script type="text/javascript" src="$!env.get('gen.server.web')/resources/gen2.0/scripts/common/jquery.cookie.js?v=2.8.26" charset="UTF-8"></script>
<script type="text/javascript" src="$!env.get('gen.server.web')/resources/gen2.0/scripts/common/common.js?v=2.8.26" charset="UTF-8"></script>
<script type="text/javascript" src="$!env.get('gen.server.web')/resources/gen2.0/scripts/fix.js?v=2.8.26" charset="UTF-8"></script>
<link rel="stylesheet" type="text/css" href="$!env.get('gen.server.web')/resources/gen2.0/styles/common.css?v=2.8.26" charset="UTF-8"></link>
<link rel="stylesheet" type="text/css" href="$!env.get('gen.server.web')/resources/gen2.0/styles/default.css?v=2.8.26" charset="UTF-8"></link>
<link rel="stylesheet" type="text/css" href="$!env.get('gen.server.web')/resources/gen2.0/styles/login_header.css?v=2.8.26" charset="UTF-8"></link>
 -->
<!-- header wrapper starts -->
<input type="hidden" id="APP_ROOT_PATH_GEN" value="$!env.get('gen.server.web')"/>
<div class="header">
    <div class="wrap">
        <div class="head">
            <span class="head_left" style="width: 340px;">客服电话400-806-1230<em>（周一至周五9：00-18：00）</em></span>
            <span class="head_main"><a href="javascript:void(0);" class="wx"></a><a class="kk"></a></span>
            <ul class="h_ul"  id="inick">
                <li>hi,欢迎来到币港湾</li>
                <li><a href="$!env.get('gen.server.web')/gen2.0/user/login/index">登录</a></li>
                <li><a href="$!env.get('gen.server.web')/gen2.0/user/register_first_new_index">注册</a></li>
            </ul>
        </div>
        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/2wm.png" class="imgs">
    </div>
</div>
<!-- header wrapper ends -->
#end


#** -------------------------------
 * Function: pc端脚本
 *
 * @author
 * @date
 *
 * @param  (String)
 * ------------------------------- **#
#macro(GenFooter)
<!-- footer wrapper starts -->
<div class="footer">
    <div class="foot">
        <div class="foot_top">
            <ul class="foot_ul">
                <li>
                    <dl>
                        <h3>关于币港湾</h3>
                        <dt><a href="$!env.get('gen.server.web')/gen2.0/platform/index" target="_blank">平台简介</a></dt>
                        <dt><a href="$!env.get('gen.server.web')/gen2.0/platform/index" target="_blank">股东介绍</a></dt>
                        <dt><a href="$!env.get('gen.server.web')/gen2.0/platform/team/index" target="_blank">管理团队</a></dt>
                    </dl>
                </li>
                <li>
                    <dl>
                        <h3>产品服务</h3>
                        <dt><a href="$!env.get('gen.server.web')/gen2.0/platform/service/index" target="_blank">服务协议</a></dt>
                        <dt><a href="$!env.get('gen.server.web')/gen2.0/platform/privacy/index" target="_blank">隐私条例</a></dt>
                        <dt><a href="$!env.get('gen.server.web')/gen2.0/home/safe" target="_blank">安全保障</a></dt>
                    </dl>
                </li>
                <li>
                    <dl>
                        <h3>帮助中心</h3>
                        <dt><a href="$!env.get('gen.server.web')/gen2.0/platform/help/common_problem/index" target="_blank">常见问题</a></dt>
                        <dt><a href="$!env.get('gen.server.web')/gen2.0/platform/contact/index" target="_blank">联系我们</a></dt>
                    </dl>
                </li>
                <li class="li4">
                    <dl class="dl4">
                        <h3>联系我们</h3>
                        <dt style="width: 320px;"><a >客服电话：400-806-1230（周一至周五9:00-18:00）</a></dt>
                        <dt><a >关注微信：bigangwanlicai</a></dt>
                        <dt><a >公司地址：杭州市，江干区，西子国际C座2305室</a></dt>
                    </dl>
                </li>
            </ul>
                    <span class="foot_span" style="margin-left: 10px;">
                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/2wm.jpg" />
                    </span>
        </div>
        <div class="foot_bot">
            <!--<div class="foot_left"></div>-->
            <ul class="info_img">
                <li class="foot_item">
                    <img class="foor_info" src="$!env.get('gen.server.web')/resources/gen2.0/images/foot_in1.jpg" alt="">
                </li>
                <li class="foot_item">
                    <a href="http://webscan.360.cn/index/checkwebsite/url/bigangwan.com" target="_blank">
                        <!--<img class="foor_info" src="$!env.get('gen.server.web')/resources/gen2.0/images/foot_in1.jpg" alt="">-->
                        <img class="foor_info" src="$!env.get('gen.server.web')/resources/gen2.0/images/foot_in2.jpg" alt="">
                    </a>
                </li>
                <li class="foot_item">
                    <img class="foor_info" src="$!env.get('gen.server.web')/resources/gen2.0/images/foot_in3.jpg" alt="">
                </li>
                <li class="foot_item">
                    <a id='___szfw_logo___' href='https://credit.szfw.org/CX20151212012688200192.html' target='_blank'>
                        <img class="foor_info" src="$!env.get('gen.server.web')/resources/gen2.0/images/foot_in4.png" alt="">
                    </a>
                    <script type='text/javascript'>(function(){document.getElementById('___szfw_logo___').oncontextmenu = function(){return false;}})();</script>
                </li>
                <li class="foot_item">
                    <a  key ="566e566befbfb07fa5f90f55" target="_blank"  logo_size="124x47"  logo_type="realname"  href="http://www.anquan.org/authenticate/cert/?site=$!env.get('gen.server.web')&at=realname" >
                        <img class="foor_info" src="$!env.get('gen.server.web')/resources/gen2.0/images/foot_in5.png" alt="">
                        <!--<script src="http://static.anquan.org/static/outer/js/aq_auth.js"></script>-->
                    </a>
                </li>
                <!--
                        <li class="foot_item">
                            <a target="_blank" logo_size="124x47"  logo_type="realname"  href="http://www.itrust.org.cn/Home/Index/itrust_certifi?wm=141953926Y" >
                                <img class="foor_info" src="$!env.get('gen.server.web')/resources/gen2.0/images/foot_in6.png" style="width: 124px;" alt="">
                            </a>
                        </li>
                        -->
            </ul>
            <div class="foot_right">
                <p >杭州币港湾科技有限公司 版权所有</p>
                <p >浙ICP备15004803号-1</p>

            </div>
        </div>
    </div>
</div>

<!-- footer wrapper ends -->
#end

#** -------------------------------
 * Function 导入尾部元素
 * @author
 * @date  2016-04-06
 * ------------------------------- **#
#macro(Gen2Footer)
<!--footer-->
<div class="footer">
    <div class="footer_top">
        <div class="footer_top_wrap">
            <div class="footer_link">
                <ul>
                    <li>信息披露</li>
                    <li>
                        <a href="$!env.get('gen.server.web')/gen2.0/platform/info/notice/index">平台公告</a>
                    </li>
                    <li>
                        <a href="$!env.get('gen.server.web')/gen2.0/platform/info/platform_data/index">平台数据</a>
                    </li>
                    <li>
                        <a href="$!env.get('gen.server.web')/gen2.0/platform/info/report/index">运营报告</a>
                    </li>
                </ul>
                <ul>
                    <li>关于我们</li>
                    <li>
                        <a href="$!env.get('gen.server.web')/gen2.0/platform/about/platform_profile/index">平台简介</a>
                    </li>
                    <li>
                        <a href="$!env.get('gen.server.web')/gen2.0/platform/info/organization/index">组织构架</a>
                    </li>
                    <li>
                        <a href="$!env.get('gen.server.web')/gen2.0/platform/about/honor/index">荣誉资质</a>
                    </li>
                    <li>
                        <a href="$!env.get('gen.server.web')/gen2.0/platform/about/partner/index">合作伙伴</a>
                    </li>
                </ul>
                <ul>
                    <li>帮助中心</li>
                    <li>
                        <a href="javascript:void(0)" onclick="go_help_center('1')">注册与登录</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="go_help_center('2')">充值与提现</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="go_help_center('3')">产品与协议</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="go_help_center('4')">安全与密码</a>
                    </li>
                </ul>
            </div>
            <div class="footer_contact">
                <h2>400-806-1230</h2>
                <p>（周一至周五9:00~18:00）</p>
                <p>杭州市江干区四季青街道西子国际C座2305室</p>
                <a href="$!env.get('gen.server.web')/gen2.0/platform/about/contact_us/index"><i></i>查看地图</a>
            </div>
            <div class="footer_qr">
                <div class="footer_app">
                    <div class="footer_qr_img"></div>
                    <p>app下载</p>
                </div>
                <div class="footer_wechat">
                    <div class="footer_qr_img"></div>
                    <p>微信关注币港湾</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_btm">
        <div class="footer_btm_wrap">
            <p>温馨提示：市场有风险，用户需谨慎。</p>
            <p>杭州币港湾科技有限公司版权所有&nbsp;&nbsp;&nbsp;&nbsp;浙ICP备15004803号-1&nbsp;&nbsp;&nbsp;&nbsp;浙ICP证B2-20160720&nbsp;&nbsp;&nbsp;&nbsp;浙公网安备33010402002677号</p>
            <div class="footer_btm_img">
                <a href="http://webscan.360.cn/index/checkwebsite/url/bigangwan.com" target="_blank">
                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/homepage/foot_logo/footer1.png" alt="360">
                </a>
                <a id='___szfw_logo___' href="https://credit.szfw.org/CX20151212012688200192.html" target="_blank">
                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/homepage/foot_logo/Bitmap.png" alt="Bitmap">
                </a>
                <a href="http://www.testin.cn/" target="_blank">
                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/homepage/foot_logo/footer3.png" alt="yuncloud">
                </a>
                <a href="https://v.anquan.org/cert/site/?site=$!env.get('gen.server.web')&at=realname" target="_blank">
                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/homepage/foot_logo/footer4.png" alt="360">
                </a>
                <a href="$!env.get('gen.server.web')/gen2.0/home/businessLicense" target="_blank">
                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/homepage/foot_logo/footer5.png" alt="360">
                </a>
                <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010402002677&site=$!env.get('gen.server.web')&at=realname" target="_blank">
                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/homepage/foot_logo/footer6.png" alt="360">
                </a>
                <script type='text/javascript'>(function(){document.getElementById('___szfw_logo___').oncontextmenu = function(){return false;}})();</script>
            </div>
        </div>
    </div>
</div>
<div class="right_nav">
    <ul>
        <li style="background-image: url($!env.get('gen.server.web')/resources/gen2.0/images/homepage/right_nav/right_nav_qr.png)">
            <div class="right_nav_frame" style="left: -130px;">
                <div class="right_nav_content">
                    <div class="right_nav_qr">
                        <p>APP下载</p>
                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/bigangwan_app.png">
                    </div>
                    <div class="right_nav_line"></div>
                    <div class="right_nav_qr">
                        <p>微信关注币港湾</p>
                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/bigangwan_wx.png">
                    </div>
                </div>
            </div>
        </li>
        <li style="background-image: url($!env.get('gen.server.web')/resources/gen2.0/images/homepage/right_nav/right_nav_tel.png)">
            <div class="right_nav_frame" style="left: -210px;width: 200px">
                <div class="right_nav_content">
                    <p class="right_nav_tel"><strong>400-806-1230</strong></p>
                    <p>（周一至周五9:00到18:00）</p>
                </div>
            </div>
        </li>
        <li style="background-image: url($!env.get('gen.server.web')/resources/gen2.0/images/homepage/right_nav/right_nav_service.png)">
            <a href="http://hzbgw.114ct.cn/udesktop/imCus_WebSocket/page/chatMini.html?param=" target="_blank"></a>
        </li>
        <li style="background-image: url($!env.get('gen.server.web')/resources/gen2.0/images/homepage/right_nav/right_nav_top.png)">
            <a id="right_nav_top"></a>
        </li>
    </ul>
</div>
#end


#** -------------------------------
 * Function: 导入头文件
 *
 * @author
 * @date
 *
 * @param  (String)
 * ------------------------------- **#
#macro(Header $title $rightMenu $rightUrl $leftUrl)

    #LoadCSS("/resources/micro/styles/framework")
    #LoadCSS("/resources/micro/styles/style")
    #LoadCSS("/resources/micro/styles/custom")
    #LoadCSS("/resources/micro/styles/touch")
<!--首页图片切换css-->

    #LoadJS("/resources/common/scripts/jquery-1.11.1.min")
    #LoadJS("/resources/micro/scripts/common/effects.jquery-ui.min")
    #LoadJS("/resources/micro/scripts/common/jquery.nivo-slider.min")
    #LoadJS("/resources/micro/scripts/common/jquery.colorbox.min")
    #LoadJS("/resources/micro/scripts/common/form")
    #LoadJS("/resources/micro/scripts/common/form-validate")
    #LoadJS("/resources/micro/scripts/common/touchslider")
    #LoadJS("/resources/micro/scripts/common/common")
<!-- header wrapper starts -->
<input type="hidden" id="APP_ROOT_PATH" value="$!env.getWebURL('')"/>
<div class="headerOuterWrapper">
    <div class="headerWrapper1">
        #if(!$!leftUrl)
        <a href="javascript:history.go(-1);">
        #else
        <a href="$!env.getWebURL('')/$!leftUrl">
        #end
        <!-- <img src="$!env.getWebURL('')/resources/micro/images/arrow.png"> --></a><span>$!title</span>
        <span style="float:right; color:#CCC; font-size:16px;"><a href="$!rightUrl">$!rightMenu</a></span>
    </div>
    <p>
        <!-- main menu wrapper starts -->
    </p>

    <!-- main menu wrapper ends -->
</div>
<!-- header wrapper ends -->
#end
#** -------------------------------
 * Function: 币港弯网站分享
 *
 * @author
 * @date
 *
 * @param  (String)
 * ------------------------------- **#
#macro(GenShare)
<!--浮动-s-->
<div class="fd">
    <dl>
        <!--<dt class="f5">
                <span class="f5_ft">APP</span>
                <div class="f5_left">
                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/APP_weichat.png"/>
                </div>
            </dt>-->
        <dt class="f1"></dt>
        <dt class="f3">
            <a href="javascript:;" class="f3_cur">
                <div class="f3cur_ft">
                    <div class="ft1">客服热线</div>
                    <div class="ft2">400-806-1230</div>
                </div>
            </a>
        </dt>
        <dt class="f4"></dt>
    </dl>
    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/fd.jpg" class="fimg"/>
</div>

<!--<script>
    $(function(){
        //固定微信显示
        $('.f1').hover(function(){
            $(this).css("background-color","#FF6633")
            $('.fimg').fadeIn(100);

        },function(){
            $('.fimg').hide(100);
            $(this).css("background-color","transparent")
        });

        //回到顶部
        $('.f4').click(function(){
            $("html,body").animate({scrollTop:0},200);
        });
   })
</script>-->
#end

#** -------------------------------
 * Function: 导入页脚
 *
 * @author
 * @date
 *
 * @param  (String)
 * ------------------------------- **#
#macro(Footer $index)
<!-- footer wrapper starts -->
<div class="botNav clearfix">
    <a href="$!env.getWebURL('')/micro/index" class="botNav-item #if($index == '1')active#end" index="1" style="text-decoration: none;">
        #if($index != '1') <img src="$!env.getWebURL('')/resources/micro/images/5.png" class="navImg"><br>币港湾  #end
        #if($index == '1') <img src="$!env.getWebURL('')/resources/micro/images/55.png" class="navImg"><br>币港湾 #end

    </a>
    <a href="$!env.getWebURL('')/micro/regular/detail" class="botNav-item #if($index == '2')active#end" index="2" style="text-decoration: none;">
        #if($index != '2') <img src="$!env.getWebURL('')/resources/micro/images/6.png" class="navImg"><br>定期理财 #end
        #if($index == '2') <img src="$!env.getWebURL('')/resources/micro/images/66.png" class="navImg"><br>定期理财 #end
    </a>
    <a href="$!env.getWebURL('')/micro/wealth/help_index" class="botNav-item #if($index == '3')active#end" index="3" style="text-decoration: none;">
        #if($index != '3') <img src="$!env.getWebURL('')/resources/micro/images/7.png" class="navImg"><br>帮助中心#end
        #if($index == '3') <img src="$!env.getWebURL('')/resources/micro/images/77.png" class="navImg"><br>帮助中心 #end
    </a>
    <a href="$!env.getWebURL('')/micro/wealth/index" class="botNav-item  #if($index == '4')active#end" index="4" style="text-decoration: none;">
        #if($index != '4') <img src="$!env.getWebURL('')/resources/micro/images/8.png" class="navImg"><br>我的港湾 #end
        #if($index == '4') <img src="$!env.getWebURL('')/resources/micro/images/88.png" class="navImg"><br>我的港湾 #end
    </a>
</div>
<!-- footer wrapper ends -->
#end

#** -------------------------------
 * Function: 导入页脚（2.0）
 *
 * @author
 * @date
 *
 * @param  (String)
 * ------------------------------- **#
#macro(Footer2 $index)
<!-- footer starts -->

<div class="footer">
    <ul>
        <li class="foot_li">
            <a class="foot_a" href="$!env.getWebURL('')">
                <div class="foot_img1 #if($index == '1') active_img1 #end"></div>
                <span class="foot_caption #if($index == '1') color_bg #end">首页</span>
            </a>
        </li>
        <li class="foot_li">
            <a class="foot_a" href="$!env.getWebURL('')/micro2.0/regular/list">
                <div class="foot_img2 #if($index == '2') active_img2 #end"></div>
                <span class="foot_caption #if($index == '2') color_bg #end">产品列表</span>
            </a>
        </li>
        <li class="foot_li">
            <a class="foot_a" href="$!env.getWebURL('')/micro2.0/assets/assets">
                <div class="foot_img3 #if($index == '3') active_img3 #end"></div>
                <span class="foot_caption #if($index == '3') color_bg #end">我的资产</span>
            </a>
        </li>
        <li class="foot_li">
            <a class="foot_a" href="$!env.getWebURL('')/micro2.0/more/more">
                <div class="foot_img4 #if($index == '4') active_img4 #end"></div>
                <span class="foot_caption #if($index == '4') color_bg #end">更多</span>
            </a>
        </li>
    </ul>
</div>
<!-- footer ends -->
#end
<!-- footer 钱报 -->
#macro(FooterQianBao $index)
<div class="footer">
    <ul>
        <li class="foot_li">
            <a class="foot_a" href="javascript:;" onclick="qianbao('/micro2.0/index')">
                <div class="foot_img2 #if($index == '1') active_img2 #end"></div>
                <span class="foot_caption #if($index == '1') color_bg #end">产品列表</span>
            </a>
        </li>
        <li class="foot_li">
            <a class="foot_a" href="javascript:;" onclick="qianbao('/micro2.0/assets/assets')">
                <div class="foot_img3 #if($index == '2') active_img3 #end"></div>
                <span class="foot_caption #if($index == '2') color_bg #end">我的资产</span>
            </a>
        </li>
        <li class="foot_li">
            <a class="foot_a" href="javascript:;" onclick="qianbao('/micro2.0/more/more')">
                <div class="foot_img4 #if($index == '3') active_img4 #end" ></div>
                <span class="foot_caption #if($index == '3') color_bg #end">更多</span>
            </a>
        </li>
    </ul>
</div>
<!-- footer 钱报 -->
#end
#** -------------------------------
 * Function: 微信分享
 *
 * @author
 * @date
 *
 * @param  (String)
 * ------------------------------- **#
#macro(WeiChatShare $title $desc $imgUrl $link $appid $timestamp $nonceStr $signature)
<input type="hidden" value="$title" id="title"/>
<input type="hidden" value="$desc" id="desc"/>
<input type="hidden" value="$imgUrl" id="imgUrl"/>
<input type="hidden" value="$link" id="link"/>
<input type="hidden" value="$thanksgivingConstant" id="thanksgivingConstant"/>
<input type="hidden" id="app_root_path_share" value="$!env.getWebURL('')"/>
    #LoadJS("/resources/micro/scripts/common/weixinShare")
<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    wx.config({
        debug: false,
        appId: '$!appid',
        timestamp: '$!timestamp',
        nonceStr: '$!nonceStr',
        signature: '$!signature',
        jsApiList: [
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareWeibo',
            'showMenuItems',
            'showAllNonBaseMenuItem',
            'chooseImage',
            'uploadImage'
        ]
    });
</script>
#end

#** -------------------------------
 * Function: 支持国际化。
 *
 * @author
 * @date
 *
 * @param  (String) path  文件全路径
 * --------------!----------------- **#
#macro(Label $title)
    #springMessage($title)
#end


#** -------------------------------
 * Function: 微网分享宏定义
 *
 * @author
 * @date
 *
 * --------------!----------------- **#
#macro(WeChatShare)
    #if("$!qianbao" == "qianbao")
    <input type="hidden" id="agentViewFlag" name="agentViewFlag" value="$!agentViewFlag">

        #if("$!source" == "product_detail") ## 产品详情
            #WeiChatShare("币港湾互联网金融服务平台，凭借“国资背景+银行存管+超强风控+透明资金走向”的优势。是您实现财富增值的理想家园。","币港湾是由杭商资产管理有限公司发起的国资系的互联网金融服务平台，恒丰银行存管，平台对接海量优质小微借款，拥有完善的风控体系，让用户安心收益。","$!env.getWebURL('/resources/micro/images/bgw.jpg')","$!weichat.link",$!weichat.appId,$!weichat.timestamp,$!weichat.nonceStr,$!weichat.signature)
        #elseif("$!activity" == "activity") ## 运营工具活动页
            #WeiChatShare("快来围观！币港湾送我的金蛋里蹦出个iPhone 6s。","俺老孙受币港湾之托送礼来了！金箍棒砸蛋，会有什么神奇礼物呢？快试一试吧！","$!env.getWebURL('/resources/micro/images/activity_bgw.jpg')","$!weichat.link",$!weichat.appId,$!weichat.timestamp,$!weichat.nonceStr,$!weichat.signature)
        #elseif("$!source" == "all")    ## 分享页面
            #WeiChatShare("$!weichat.share_title","$!weichat.share_content","$!weichat.share_logo","$!weichat.link",$!weichat.appId,$!weichat.timestamp,$!weichat.nonceStr,$!weichat.signature)
        #else
            #if("$!weichat" == "")
            #else
                #WeiChatShare("币港湾互联网金融服务平台，凭借“国资背景+银行存管+超强风控+透明资金走向”的优势。是您实现财富增值的理想家园。","币港湾是由杭商资产管理有限公司发起的国资系的互联网金融服务平台，恒丰银行存管，平台对接海量优质小微借款，拥有完善的风控体系，让用户安心收益。","$!env.getWebURL('/resources/micro/images/bgw.jpg')","$!env.getWebURL('')/micro2.0/index?qianbao=qianbao",$!weichat.appId,$!weichat.timestamp,$!weichat.nonceStr,$!weichat.signature)
            #end
        #end
    #else
        #if("$!source" == "share")  ## 分享页面
            #WeiChatShare("好友邀请你来赚奖励金啦，加入好友邀请，最高享预期年化收益+0.5%","苟富贵，一起赚！加入币港湾，你一份我一份，和我一起赚奖励金！","$!env.getWebURL('/resources/micro/images/bgw.jpg')","$!weichat.link",$!weichat.appId,$!weichat.timestamp,$!weichat.nonceStr,$!weichat.signature)
        #elseif("$!source" == "product_detail") ## 产品详情
            #WeiChatShare("币港湾互联网金融服务平台，凭借“国资背景+银行存管+超强风控+透明资金走向”的优势。是您实现财富增值的理想家园。","币港湾是由杭商资产管理有限公司发起的国资系的互联网金融服务平台，恒丰银行存管，平台对接海量优质小微借款，拥有完善的风控体系，让用户安心收益。","$!env.getWebURL('/resources/micro/images/bgw.jpg')","$!weichat.link",$!weichat.appId,$!weichat.timestamp,$!weichat.nonceStr,$!weichat.signature)
        #elseif("$!activity" == "activity") ## 运营工具活动页
            #WeiChatShare("快来围观！币港湾送我的金蛋里蹦出个iPhone 6s。","俺老孙受币港湾之托送礼来了！金箍棒砸蛋，会有什么神奇礼物呢？快试一试吧！","$!env.getWebURL('/resources/micro/images/activity_bgw.jpg')","$!weichat.link",$!weichat.appId,$!weichat.timestamp,$!weichat.nonceStr,$!weichat.signature)
        #elseif("$!source" == "shake") ## 摇一摇
            #if("$!shareTitle" != "")
                #WeiChatShare("$!shareTitle","$!shareContent","$!env.getWebURL('/resources/micro2.0/images/share/share_shake.jpg')","$!weichat.link",$!weichat.appId,$!weichat.timestamp,$!weichat.nonceStr,$!weichat.signature)
            #else
                #WeiChatShare("币港湾互联网金融服务平台，凭借“国资背景+银行存管+超强风控+透明资金走向”的优势。是您实现财富增值的理想家园。","币港湾是由杭商资产管理有限公司发起的国资系的互联网金融服务平台，恒丰银行存管，平台对接海量优质小微借款，拥有完善的风控体系，让用户安心收益。","$!env.getWebURL('/resources/micro/images/bgw.jpg')","$!weichat.link",$!weichat.appId,$!weichat.timestamp,$!weichat.nonceStr,$!weichat.signature)
            #end
        #elseif("$!source" == "318_activity")   ## 318活动
            #WeiChatShare("币港湾周年庆加息标，新手注册即加息3%！","亲人，快来帮我抢币港湾周年庆加息标，发财致富就靠你啦，新手注册即加息3%！","$!env.getWebURL('/resources/micro2.0/images/share/share_318.jpg')","$!weichat.link",$!weichat.appId,$!weichat.timestamp,$!weichat.nonceStr,$!weichat.signature)
        #elseif("$!source" == "activity_528")   ## 328活动
            #WeiChatShare("币港湾新手壕礼再升级，不差钱的土豪别来戳！","【立即注册】新人专享12.88%高收益，还有318元红包等你领！","$!env.getWebURL('/resources/micro/images/bgw.jpg')","$!weichat.link",$!weichat.appId,$!weichat.timestamp,$!weichat.nonceStr,$!weichat.signature)
        #elseif("$!source" == "all")    ## 分享页面
            #WeiChatShare("$!weichat.share_title","$!weichat.share_content","$!weichat.share_logo","$!weichat.link",$!weichat.appId,$!weichat.timestamp,$!weichat.nonceStr,$!weichat.signature)
        #else
            #if("$!weichat" == "")
            #else
                #WeiChatShare("币港湾互联网金融服务平台，凭借“国资背景+银行存管+超强风控+透明资金走向”的优势。是您实现财富增值的理想家园。","币港湾是由杭商资产管理有限公司发起的国资系的互联网金融服务平台，恒丰银行存管，平台对接海量优质小微借款，拥有完善的风控体系，让用户安心收益。","$!env.getWebURL('/resources/micro/images/bgw.jpg')","$!env.getWebURL('')/micro2.0/index",$!weichat.appId,$!weichat.timestamp,$!weichat.nonceStr,$!weichat.signature)
            #end
        #end
    #end
#end


#macro(Gen178Header $flag $flag_1)
    #LoadGenJS("/resources/gen178/scripts/common/common")
    #LoadGenCSS("/resources/gen178/styles/default")
    #LoadGenCSS("/resources/gen178/styles/common/head")
    #LoadGenJS("/resources/gen178/scripts/Custom")
<input type="hidden" id="APP_ROOT_PATH_GEN" value="$!env.get('gen.server.web')"/>
<input type="hidden" id="agentViewFlag" value="$!agentViewFlag"/>
<script>
    function go_help_center(page) {
        var agentViewFlag = $('#agentViewFlag').val();
        var url = $('#APP_ROOT_PATH_GEN').val() + '/gen178/platform/help/common_problem/index?agentViewFlag='+agentViewFlag;
        sessionStorage.page = page;
        location.href = url;
    }
</script>
<div class="header">
    <div class="nav_top">
        <div class="nav_top_left">
            <span style="padding-left: 0">客服电话：<strong>400-806-1230</strong>（周一至周五9:00-18:00）</span>
            <span><a href="http://hzbgw.114ct.cn/udesktop/imCus_WebSocket/page/chatMini.html?param=" target="_blank">在线客服</a></span>
            <span><a href="javascript:void(0)" onclick="go_help_center('1')">帮助中心</a></span>
            <span style="border-right: none;"><a href="$!env.get('gen.server.web')/pc_a/mall/homeIndex?agentViewFlag=$!agentViewFlag" >积分商城</a></span>
        </div>
        <div class="nav_top_right">
            <ul>
                <!--登录后用户手机号 -->
                #if("$!user_is_login" == "yes")
                    <input type="hidden" id="user_mobile" value="$!user_mobile"/>
                    <li class="users_login">
                        <a href="$!env.get('gen.server.web')/gen178/assets/assets?agentViewFlag=$!agentViewFlag" class="nav_usertel">$!user_mobile</a>
                        <a href="javascript:user_out()">退出</a>
                    </li>
                #end
                <li>
                    <img src="$!env.get('gen.server.web')/resources/gen178/images/homepage/ic_wechat.png" alt="mobile">
                    微信
                    <div class="nav_top_qr">
                        <span></span>
                        #if($!agentViewFlag == "15")
                            <img src="$!env.get('gen.server.web')/resources/gen178/images/2wm.png" alt="app">
                        #elseif($!agentViewFlag == "36")
                            <img src="$!env.get('gen.server.web')/resources/gen178/images/kq/2wm.png" alt="app">
                        #elseif($!agentViewFlag == "46")
                            <img src="$!env.get('gen.server.web')/resources/gen178/images/haining/2wm.png" alt="app">
                        #elseif($!agentViewFlag == "47")
                            <img src="$!env.get('gen.server.web')/resources/gen178/images/ruian/2wm.png" alt="app">
                        #elseif($!agentViewFlag == "54")
                            <img src="$!env.get('gen.server.web')/resources/gen178/images/qhd/st/2wm.png" alt="app">
                        #end
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="nav_bottom">
        <div class="header_main">
            <h1>
                <a href="$!env.get('gen.server.web')/gen178/index?agentViewFlag=$!agentViewFlag">
                    <img src="$!env.get('gen.server.web')$!agentView.getView($!agentViewFlag).get('PC_KEY_LOGO_IMG_400_54')" style="width: 350px;">
                </a>
            </h1>
            <div class="header_main_nav">
                <ul>
                    <li><a href="$!env.get('gen.server.web')/gen178/index?agentViewFlag=$!agentViewFlag" #if("$flag" == "home") class="li_atpage" #end>首页</a></li>
                    <li><a href="$!env.get('gen.server.web')/gen178/regular/list?agentViewFlag=$!agentViewFlag" #if("$flag" == "product") class="li_atpage" #end>产品列表</a>
                        <span class="nav_hot">
                            <img src="$!env.get('gen.server.web')/resources/gen178/images/homepage/nav_hot.png" ondragstart="return false;">
                        </span>
                    </li>
                    <li><a href="$!env.get('gen.server.web')/gen178/home/safe?agentViewFlag=$!agentViewFlag" #if("$flag" == "safe") class="li_atpage" #end>安全保障</a></li>
                    <li id="head_nav_ifo">
                        <a href="$!env.get('gen.server.web')/gen178/static/CNH_information?agentViewFlag=$!agentViewFlag" #if("$flag" == "info") class="li_atpage" #end>信息披露</a>
                        <div class="subNav_ifo ifo_disclosure">
                            <ul>
                                <li><span></span><a href="$!env.get('gen.server.web')/gen178/static/CNH_information?agentViewFlag=$!agentViewFlag">承诺函</a></li>
                                <li><span></span><a href="$!env.get('gen.server.web')/gen178/static/BA_information?agentViewFlag=$!agentViewFlag">监管信息</a></li>
                                <li><span></span><a href="$!env.get('gen.server.web')/gen178/platform/info/notice/index?agentViewFlag=$!agentViewFlag">平台实况</a></li>
                                <li style="border-bottom-color: transparent;"><span></span><a href="$!env.get('gen.server.web')/gen178/platform/about/company_dynamics/index?agentViewFlag=$!agentViewFlag">港湾资讯</a></li>
                                <li style="left: 55px;" class="subNav_topico"></li>
                            </ul>
                        </div>
                    </li>
                    <li id="head_nav_about">
                        <a href="$!env.get('gen.server.web')/gen178/platform/about/platform_profile/index?agentViewFlag=$!agentViewFlag" #if("$flag" == "about") class="li_atpage" #end>关于我们</a>
                        <div class="subNav_ifo">
                            <ul>
                                <li><span></span><a href="$!env.get('gen.server.web')/gen178/platform/about/platform_profile/index?agentViewFlag=$!agentViewFlag">平台简介</a></li>
                                <li><span></span><a href="$!env.get('gen.server.web')/gen178/platform/about/partner/index?agentViewFlag=$!agentViewFlag">合作伙伴</a></li>
                                <li><span></span><a href="$!env.get('gen.server.web')/gen178/platform/about/development_history/index?agentViewFlag=$!agentViewFlag">发展历程</a></li>
                                <li><span></span><a href="$!env.get('gen.server.web')/gen178/platform/about/contact_us/index?agentViewFlag=$!agentViewFlag">联系我们</a></li>
                                <li><span></span><a href="$!env.get('gen.server.web')/gen178/platform/about/honor/index?agentViewFlag=$!agentViewFlag">荣誉资质</a></li>
                                <li><span></span><a href="javascript:void(0)" onclick="go_help_center('1')">帮助中心</a></li>
                                <li class="subNav_topico"></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="header_main_btn">
                #if("$!user_is_login" == "yes")
                    <ul class="nav_users_login">
                        <li>
                            <a href="$!env.get('gen.server.web')/gen178/assets/assets?agentViewFlag=$!agentViewFlag"><i></i>我的账户</a>
                            <div class="subNav_ifo">
                                <ul>
                                    <li><span></span><a href="$!env.get('gen.server.web')/gen178/assets/assets?agentViewFlag=$!agentViewFlag">账户总览</a></li>
                                    <li><span></span><a href="$!env.get('gen.server.web')/gen178/assets/assets?redPacket=redPacket&agentViewFlag=$!agentViewFlag">优惠券</a></li>
                                    <li><span></span><a href="$!env.get('gen.server.web')/gen178/assets/assets?investManage=investManage&agentViewFlag=$!agentViewFlag">计划管理</a></li>
                                    <li><span></span><a href="$!env.get('gen.server.web')/gen178/assets/assets?selfbank=selfbank&agentViewFlag=$!agentViewFlag">银行卡</a></li>
                                    <li><span></span><a href="$!env.get('gen.server.web')/gen178/assets/assets?repayPlan=repayPlan&agentViewFlag=$!agentViewFlag">回款计划</a></li>
                                    <li><span></span><a href="$!env.get('gen.server.web')/gen178/assets/assets?securityCenter=securityCenter&agentViewFlag=$!agentViewFlag">安全中心</a></li>
                                    <li><span></span><a href="$!env.get('gen.server.web')/gen178/assets/assets?transactionDetails=transactionDetails&agentViewFlag=$!agentViewFlag">交易明细</a></li>
                                    <li class="subNav_topico"></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                #else
                    <ul class="nav_users_logout">
                        <li><a href="$!env.get('gen.server.web')/gen178/user/login/index?agentViewFlag=$!agentViewFlag" class="main_btn_login">登录</a></li>
                        <li>
                            <a href="$!env.get('gen.server.web')/gen178/user/register_first_new_index?agentViewFlag=$!agentViewFlag" class="main_btn_rigester">
                                #if($!totalRedPacketAmount <= 0)
                                    注册
                                #else
                                    注册送$!number.format("0", $!totalRedPacketAmount)
                                #end
                            </a>
                        </li>
                    </ul>
                #end
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

#end

#macro(Mall178Header $flag $flag_1)
    #LoadGenJS("/resources/gen178/scripts/common/common")
    #LoadGenCSS("/resources/gen178/styles/default")
    #LoadGenCSS("/resources/gen178/styles/common/head")
    #LoadGenJS("/resources/gen178/scripts/Custom")
<input type="hidden" id="APP_ROOT_PATH_GEN" value="$!env.get('gen.server.web')"/>
<input type="hidden" id="agentViewFlag" value="$!agentViewFlag"/>
<script>
    function go_help_center(page) {
        var agentViewFlag = $('#agentViewFlag').val();
        var url = $('#APP_ROOT_PATH_GEN').val() + '/gen178/platform/help/common_problem/index?agentViewFlag='+agentViewFlag;
        sessionStorage.page = page;
        location.href = url;
    }
</script>
<div class="header">
    <div class="nav_top">
        <div class="nav_top_left">
            <span style="padding-left: 0">客服电话：<strong>400-806-1230</strong>（周一至周五9:00-18:00）</span>
            <span><a href="http://hzbgw.114ct.cn/udesktop/imCus_WebSocket/page/chatMini.html?param=" target="_blank">在线客服</a></span>
            <span><a href="javascript:void(0)" onclick="go_help_center('1')">帮助中心</a></span>
            <span style="border-right: none;"><a href="$!env.get('gen.server.web')/pc_a/mall/homeIndex?agentViewFlag=$!agentViewFlag" >积分商城</a></span>
        </div>
        <div class="nav_top_right">
            <ul>
                <!--登录后用户手机号 -->
                #if("$!user_is_login" == "yes")
                    <input type="hidden" id="user_mobile" value="$!user_mobile"/>
                    <li class="users_login">
                        <a href="$!env.get('gen.server.web')/gen178/assets/assets?agentViewFlag=$!agentViewFlag" class="nav_usertel">$!user_mobile</a>
                        <a href="javascript:user_out()">退出</a>
                    </li>
                #end
                <li>
                    <img src="$!env.get('gen.server.web')/resources/gen178/images/homepage/ic_wechat.png" alt="mobile">
                    微信
                    <div class="nav_top_qr">
                        <span></span>
                        #if($!agentViewFlag == "15")
                            <img src="$!env.get('gen.server.web')/resources/gen178/images/2wm.png" alt="app">
                        #elseif($!agentViewFlag == "36")
                            <img src="$!env.get('gen.server.web')/resources/gen178/images/kq/2wm.png" alt="app">
                        #elseif($!agentViewFlag == "46")
                            <img src="$!env.get('gen.server.web')/resources/gen178/images/haining/2wm.png" alt="app">
                        #elseif($!agentViewFlag == "47")
                            <img src="$!env.get('gen.server.web')/resources/gen178/images/ruian/2wm.png" alt="app">
                        #elseif($!agentViewFlag == "54")
                            <img src="$!env.get('gen.server.web')/resources/gen178/images/qhd/st/2wm.png" alt="app">
                        #end
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="nav_bottom">
        <div class="header_main">
            <h1>
                <a href="$!env.get('gen.server.web')/gen178/index?agentViewFlag=$!agentViewFlag">
                    <img src="$!env.get('gen.server.web')$!agentView.getView($!agentViewFlag).get('PC_KEY_LOGO_IMG_400_54')" style="width: 350px;">
                </a>
            </h1>
            <div class="header_main_nav">
                <ul>
                    <li><a href="$!env.get('gen.server.web')/pc_a/mall/homeIndex?agentViewFlag=$!agentViewFlag" #if("$flag" == "mall") class="li_atpage" #end>积分商城</a></li>
                    <li><a href="$!env.get('gen.server.web')/pc_a/mallPoints/pointsRecord?agentViewFlag=$!agentViewFlag" #if("$flag" == "integral") class="li_atpage" #end>积分记录</a></li>
                    <li><a href="$!env.get('gen.server.web')/pc_a/mallExchange/myExchangeList?agentViewFlag=$!agentViewFlag" #if("$flag" == "exchange") class="li_atpage" #end>我的兑换</a></li>
                </ul>
            </div>
            <div class="mall_back_btn">
                <a href="$!env.get('gen.server.web')/gen178/index?agentViewFlag=$!agentViewFlag">返回首页</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

#end

#** -------------------------------
 * Function: pc端头部   登录注册部分
 *
 * @author
 * @date
 *
 * @param  (String)
 * ------------------------------- **#
#macro(Gen178HeaderLogin)

    #LoadGenCSS("/resources/gen178/styles/common")
    #LoadGenCSS("/resources/gen178/styles/default")
    #LoadGenCSS("/resources/gen178/styles/login_header")
    #LoadGenJS("/resources/gen178/scripts/common/jquery.cookie")
    #LoadGenJS("/resources/gen178/scripts/common/common")
    #LoadGenJS("/resources/gen178/scripts/fix")
<!--
<script type="text/javascript" src="$!env.getWebURL('resources/gen178/scripts/common/jquery.cookie.js?v=2.8.26')" charset="UTF-8"></script>
<script type="text/javascript" src="$!env.getWebURL('resources/gen178/scripts/common/common.js?v=2.8.26')" charset="UTF-8"></script>
<script type="text/javascript" src="$!env.getWebURL('resources/gen178/scripts/fix.js?v=2.8.26')" charset="UTF-8"></script>
<link rel="stylesheet" type="text/css" href="$!env.getWebURL('resources/gen178/styles/common.css?v=2.8.26')" charset="UTF-8"></link>
<link rel="stylesheet" type="text/css" href="$!env.getWebURL('resources/gen178/styles/default.css?v=2.8.26')" charset="UTF-8"></link>
<link rel="stylesheet" type="text/css" href="$!env.getWebURL('resources/gen178/styles/login_header.css?v=2.8.26')" charset="UTF-8"></link>
 -->
<!-- header wrapper starts -->
<input type="hidden" id="APP_ROOT_PATH_GEN" value="$!env.get('gen.server.web')"/>
<input type="hidden" id="agentViewFlag" name="agentViewFlag" value="$!agentViewFlag">
<div class="header">
    <div class="wrap">
        <div class="head">
            <span class="head_left" style="width: 340px;">客服电话400-806-1230<em>（周一至周五9：00-18：00）</em></span>
            <span class="head_main"><a href="javascript:void(0);" class="wx"></a><a class="kk"></a></span>
            <ul class="h_ul"  id="inick">
                <li>hi,欢迎来到币港湾</li>
                <li><a href="$!env.get('gen.server.web')/gen178/user/login/index?agentViewFlag=$!agentViewFlag">登录</a></li>
                <li><a href="$!env.get('gen.server.web')/gen178/user/register_first_new_index?agentViewFlag=$!agentViewFlag">注册</a></li>
            </ul>
        </div>
        <img src="$!env.get('gen.server.web')/resources/gen178/images/2wm.png" class="imgs">
    </div>
</div>
<!-- header wrapper ends -->
#end


#** -------------------------------
 * Function: pc端脚本
 *
 * @author
 * @date
 *
 * @param  (String)
 * ------------------------------- **#
#macro(Gen178Footer)
<div class="footer">
    <div class="footer_top">
        <div class="footer_top_wrap">
            <div class="footer_link">
                <ul>
                    <li>信息披露</li>
                    <li>
                        <a href="$!env.get('gen.server.web')/gen178/platform/info/notice/index?agentViewFlag=$!agentViewFlag">平台公告</a>
                    </li>
                    <li>
                        <a href="$!env.get('gen.server.web')/gen178/platform/info/platform_data/index?agentViewFlag=$!agentViewFlag">平台数据</a>
                    </li>
                    <li>
                        <a href="$!env.get('gen.server.web')/gen178/platform/info/report/index?agentViewFlag=$!agentViewFlag">运营报告</a>
                    </li>
                </ul>
                <ul>
                    <li>关于我们</li>
                    <li>
                        <a href="$!env.get('gen.server.web')/gen178/platform/about/platform_profile/index?agentViewFlag=$!agentViewFlag">平台简介</a>
                    </li>
                    <li>
                        <a href="$!env.get('gen.server.web')/gen178/platform/info/organization/index?agentViewFlag=$!agentViewFlag">组织构架</a>
                    </li>
                    <li>
                        <a href="$!env.get('gen.server.web')/gen178/platform/about/honor/index?agentViewFlag=$!agentViewFlag">荣誉资质</a>
                    </li>
                    <li>
                        <a href="$!env.get('gen.server.web')/gen178/platform/about/partner/index?agentViewFlag=$!agentViewFlag">合作伙伴</a>
                    </li>
                </ul>
                <ul>
                    <li>帮助中心</li>
                    <li>
                        <a href="javascript:void(0)" onclick="go_help_center('1')">注册与登录</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="go_help_center('2')">充值与提现</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="go_help_center('3')">产品与协议</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="go_help_center('4')">安全与密码</a>
                    </li>
                </ul>
            </div>
            <div class="footer_contact">
                <h2>400-806-1230</h2>
                <p>（周一至周五9:00~18:00）</p>
                <p>杭州市江干区四季青街道西子国际C座2305室</p>
                <a href="$!env.get('gen.server.web')/gen178/platform/about/contact_us/index?agentViewFlag=$!agentViewFlag"><i></i>查看地图</a>
            </div>
            <div class="footer_qr">
                <div class="footer_wechat">
##                    <div class="footer_qr_img"></div>
##                    <p>微信关注钱报</p>
                    <img src="$!env.get('gen.server.web')$!agentView.getView($!agentViewFlag).get('PC_KEY_BOTTOM_QR_IMG_118_118')" style="width: 106px; height: 106px;" />
                    <h4 style="color: #fefefe; font-size: 14px; margin-bottom: 6px; line-height: 22px;">$!agentView.getView($!agentViewFlag).get('PC_BOTTOM_QR_TEXT')</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_btm">
        <div class="footer_btm_wrap">
            <p>温馨提示：市场有风险，用户需谨慎。</p>
            <p>杭州币港湾科技有限公司版权所有&nbsp;&nbsp;&nbsp;&nbsp;浙ICP备15004803号-1&nbsp;&nbsp;&nbsp;&nbsp;浙ICP证B2-20160720&nbsp;&nbsp;&nbsp;&nbsp;浙公网安备33010402002677号</p>
            <div class="footer_btm_img">
                <a href="http://webscan.360.cn/index/checkwebsite/url/bigangwan.com" target="_blank">
                    <img src="$!env.get('gen.server.web')/resources/gen178/images/homepage/foot_logo/footer1.png" alt="360">
                </a>
                <a id='___szfw_logo___' href="https://credit.szfw.org/CX20151212012688200192.html" target="_blank">
                    <img src="$!env.get('gen.server.web')/resources/gen178/images/homepage/foot_logo/Bitmap.png" alt="Bitmap">
                </a>
                <a href="http://www.testin.cn/" target="_blank">
                    <img src="$!env.get('gen.server.web')/resources/gen178/images/homepage/foot_logo/footer3.png" alt="yuncloud">
                </a>
                <a href="https://v.anquan.org/cert/site/?site=$!env.get('gen.server.web')&at=realname" target="_blank">
                    <img src="$!env.get('gen.server.web')/resources/gen178/images/homepage/foot_logo/footer4.png" alt="360">
                </a>
                <a href="$!env.get('gen.server.web')/gen178/home/businessLicense?agentViewFlag=$!agentViewFlag" target="_blank">
                    <img src="$!env.get('gen.server.web')/resources/gen178/images/homepage/foot_logo/footer5.png" alt="360">
                </a>
                <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010402002677&site=$!env.get('gen.server.web')&at=realname" target="_blank">
                    <img src="$!env.get('gen.server.web')/resources/gen178/images/homepage/foot_logo/footer6.png" alt="360">
                </a>
                <script type='text/javascript'>(function(){document.getElementById('___szfw_logo___').oncontextmenu = function(){return false;}})();</script>
            </div>
        </div>
    </div>
</div>
<div class="right_nav">
    <ul>
        <li style="background-image: url($!env.get('gen.server.web')/resources/gen178/images/homepage/right_nav/right_nav_qr.png)">
            <div class="right_nav_frame" style="left: -130px;">
                <div class="right_nav_content">
                    <div class="right_nav_qr">
                        <p>$!agentView.getView($!agentViewFlag).get('PC_BOTTOM_QR_TEXT')</p>
                        <img src="$!env.get('gen.server.web')$!agentView.getView($!agentViewFlag).get('PC_KEY_BOTTOM_QR_IMG_118_118')" style="width: 100px;" />
                    </div>
                </div>
            </div>
        </li>
        <li style="background-image: url($!env.get('gen.server.web')/resources/gen178/images/homepage/right_nav/right_nav_tel.png)">
            <div class="right_nav_frame" style="left: -210px;width: 200px">
                <div class="right_nav_content">
                    <p class="right_nav_tel"><strong>400-806-1230</strong></p>
                    <p>（周一至周五9:00到18:00）</p>
                </div>
            </div>
        </li>
        <li style="background-image: url($!env.get('gen.server.web')/resources/gen178/images/homepage/right_nav/right_nav_service.png)">
            <a href="http://hzbgw.114ct.cn/udesktop/imCus_WebSocket/page/chatMini.html?param=" target="_blank"></a>
        </li>
        <li style="background-image: url($!env.get('gen.server.web')/resources/gen178/images/homepage/right_nav/right_nav_top.png)">
            <a id="right_nav_top"></a>
        </li>
    </ul>
</div>
#end


#** -------------------------------
 * Function: 币港弯网站分享
 *
 * @author
 * @date
 *
 * @param  (String)
 * ------------------------------- **#
#macro(Gen178Share)
<!--浮动-s-->
<div class="fd">
    <dl>
        <dt class="f1"></dt>
        <dt class="f3">
            <a href="javascript:;" class="f3_cur">
                <div class="f3cur_ft">
                    <div class="ft1">客服热线</div>
                    <div class="ft2">400-806-1230</div>
                </div>
            </a>
        </dt>
        <dt class="f4"></dt>
    </dl>
    <img src="$!env.get('gen.server.web')/resources/gen178/images/fd.jpg" class="fimg"/>
</div>

<!--<script>
    $(function(){
        //固定微信显示
        $('.f1').hover(function(){
            $(this).css("background-color","#FF6633")
            $('.fimg').fadeIn(100);

        },function(){
            $('.fimg').hide(100);
            $(this).css("background-color","transparent")
        });

        //回到顶部
        $('.f4').click(function(){
            $("html,body").animate({scrollTop:0},200);
        });
   })
</script>-->
#end



