.main_banner {
    background: url(../../../images/platform/main_banner_01.jpg) no-repeat center!important;
}
.main_cr_top {
    height: 360px;
    background: #fff;
    position: relative;
    background: url(../../../images/platform/organization_op.png) no-repeat center;
    margin-bottom: 30px;
}
.main_cr_title h4{
    float: left;
    line-height: 30px;
    background: #FF6633;
    color: #fff;
    font-size: 16px;
    padding: 0 10px;
}
.main_cr_title{
    position: relative;
    margin-bottom: 20px;
    height: 30px;
}
.main_cr_title span{
    position: absolute;
    width: 5px;height: 5px;
    bottom:-5px;left: 0;
    background: url(../../../images/regular/regular_index/title.png);
}
.subtitle{
    font-size: 14px;
    line-height: 15px;
    color: #999;
    text-align: center;
    margin-bottom: 30px;
}
.subtitle span{
    color: #FF6633;
}
.main_cr_middle h5{
    font-size:16px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}
.middle_content{
    text-align: center;
}
.main_cr_down {
    background: #fff;
    margin-top: 30px;
}
.main_cr_down_t {
    padding: 20px 0;
    border-bottom: dashed 1px #e5e5e5;
}
.main_cr_down_t .t_left{
    float: left;
    width: 100px;
    height: 100px;
}
.main_cr_down_t .t_right{
    float: left;
    width: 690px;
    padding: 0 30px;
}
.main_cr_down_t h4 {
    font-size: 16px;
    color: #333;
    line-height: 20px;
    margin-bottom: 10px;
}

.main_cr_down_t h4 i {
    font-size: 14px;
    color: #FF6633;
    margin-left: 10px;
}

.main_cr_down_txt {
    font-size: 14px;
    color: #666;
    line-height: 18px;
}

.clearfix{
    height: 0;
    clear: both;
}
.distribution{
    margin-top: 30px;
}
.distribution_left{
    float: left;
    width: 50%;
    text-align: center;
}
.distribution_right{
    float: right;
    width: 50%;
    text-align: center;
}
.distribution_col{
    display: inline-block;

}
.distribution_col p{
    color: #666;
    line-height: 15px;
    font-size:14px;
}
.distribution_col .distribution_title{
    color: #999;
    margin-bottom: 10px;
}
.distribution_col .distribution_title img{
    margin-right: 5px;
}











