html,body{background:#f5f5f5;}
.main{width:100%;_height:200px;min-height:200px;background: #f5f5f5;margin:0 auto;}
.main_banner{width:100%;height:191px;margin:0 auto;}
.main_center{width:1200px;height:966px;margin:44px auto 52px;}
.main_cleft{width:220px;height:100%;float: left;}
.main_cl_h3{height:89px;width:100%;background: #ff6633;text-align: center;line-height: 89px;font-size: 22px;color:#fff;}
.main_cl_ul{background: #fff;}
.main_cl_ul li{width:100%;height:46px;border-bottom: 1px solid #f2f2f2;}
.main_cl_ul li img{position: relative;left: 85px;top:-2px;}
.main_cl_ul li a{font-size: 14px;color:#666;line-height: 46px;margin-left: 87px;}
.main_cl_ul .main_clul_lione{width:217px;border-left: 3px solid #ff6633;border-bottom: #fff;background:#ffdebf;}
.main_cl_ul .main_clul_lione img{position: relative;left: 82px;top:-2px;}
.main_cl_ul .main_clul_lione a{font-size: 14px;color:#333;line-height: 46px;margin-left: 84px;}
.main_cl_ul .main_clul_litwo{height:90px;}
.main_cl_ul .main_clul_litwo a{font-size: 22px;color:#666;line-height: 90px;margin-left: 67px;}
.title{color:#fff;}



.main_cright{width:960px;height:100%;float: right;}
.main_cr_h3{width:948px;height:48px;border:1px solid #e4e4e4;background: #fff;line-height: 48px;padding-left: 10px;}
.main_cr_h3 a{font-size: 14px;color: #666;padding:0 10px 0;}
.main_cr_top{width:958px;height:274px;border:1px solid #e4e4e4;margin-top:20px;background: #fff;}
.main_cr_top_h3{width:916;height:66px;background: url(../../../images/platform/main_rtopbg.png) no-repeat bottom;font-size: 22px;color:#333;line-height: 66px;padding-left: 42px;}
.main_cr_top_txt{height:205px;width:868px;font-size: 14px;color:#666;line-height: 28px;padding:14px 50px 0 40px;}

.main_cr_center{width:958px;height:410px;border:1px solid #e4e4e4;margin-top:20px;background: #fff;}
.main_cr_center_h3{width:916;height:66px;background: url(../../../images/platform/main_rtopbg.png) no-repeat bottom;font-size: 22px;color:#333;line-height: 66px;padding-left: 42px;}
.main_cr_center_txt{height:331px;width:868px;font-size: 14px;color:#666;line-height: 28px;padding:14px 50px 0 40px;}

.main_cr_down{width:958px;height:166px;border:1px solid #e4e4e4;margin-top:20px;background: #fff;}
.main_cr_down_h3{width:916;height:66px;background: url(../../../images/platform/main_rtopbg.png) no-repeat bottom;font-size: 22px;color:#333;line-height: 66px;padding-left: 42px;}
.main_cr_down_txt{height:88px;width:868px;font-size: 14px;color:#666;line-height: 28px;padding:14px 50px 0 40px;}



























