#foreach($grid in $!recordList)
	#if($!grid.points > 0)
		<li class="recordHaveTableList">
			<div class="recordHaveTableListScene">$!grid.transName</div>
			<div class="recordHaveTableListTime">$!date.formatDateTime($!grid.transTime,'yyyy-MM-dd HH:mm')</div>
			<div class="recordHaveTableListRecord">+$!money.format($!grid.points).replace(".00","")</div>
		</li>
	#else
		<li class="recordHaveTableList">
			<div class="recordHaveTableListScene">$!grid.transName</div>
			<div class="recordHaveTableListTime">$!date.formatDateTime($!grid.transTime,'yyyy-MM-dd HH:mm')</div>
			<div class="recordHaveTableListRecordGreen">$!money.format($!grid.points).replace(".00","")</div>
		</li>
	#end
#end