body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:-94px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:1327px;
  width:356px;
  height:613px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:613px;
}
#u1 {
  position:absolute;
  left:2px;
  top:298px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:1467px;
  width:350px;
  height:123px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:123px;
}
#u3 {
  position:absolute;
  left:2px;
  top:54px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:1540px;
  width:350px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:123px;
  top:1556px;
  width:147px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#6699FF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:48px;
  top:1480px;
  width:79px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:-480px;
  top:620px;
  width:376px;
  height:60px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:11px;
  top:24px;
  width:369px;
  height:656px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:656px;
}
#u13 {
  position:absolute;
  left:2px;
  top:320px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:141px;
  top:57px;
  width:130px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:146px;
  top:58px;
  width:101px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:25px;
  top:419px;
  width:342px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:167px;
  top:359px;
  width:58px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:130px;
  top:364px;
  width:119px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:18px;
  color:#0000FF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:24px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:11px;
  top:621px;
  width:369px;
  height:59px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:59px;
}
#u25 {
  position:absolute;
  left:2px;
  top:22px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:25px;
  top:129px;
  width:236px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:25px;
  top:143px;
  width:40px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:109px;
  top:143px;
  width:131px;
  height:16px;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
