<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title></title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="css/default.css">
<link href="css/activity.css" type="text/css" rel="stylesheet">
#LoadGenCSS("/resources/gen178/styles/default")
#LoadGenCSS("/resources/gen178/styles/activity/activity")
</head>
<body class="act_body">
<div class="header_img">
	<div class="head_list">
		<ul class="list_ul">
			<li class="item">
				<p class="bf_number">6.5%~7.5%</p>
				<p class="number_info">180天投资期限</p>
				<a class="number_bor"href="$!env.get('gen.server.web')/gen178/index?agentViewFlag=$!agentViewFlag" title="">新用户认购</a>
			</li>
			<li class="item item_none">
				<p class="bf_number">6.5%~8.0%</p>
				<p class="number_info">365天投资期限</p>
				<a class="number_bor"href="$!env.get('gen.server.web')/gen178/index?agentViewFlag=$!agentViewFlag" title="">老用户认购</a>
			</li>
		</ul>
	</div>
	<div class="btnwp">
		<a class="heaed_btn" href="$!env.get('gen.server.web')/gen178/user/register_first_new_index?agentViewFlag=$!agentViewFlag" title="">新用户认购</a>
		<a class="heaed_btn" href="$!env.get('gen.server.web')/gen178/index?agentViewFlag=$!agentViewFlag" title="">老用户认购</a>
	</div>
	##<div class="btn_yello">现在购买币港湾产品还有2016年的钱江晚报相送！</div>
	##<div class="btn_yello_two">活动截止时间12月30日</div>
</div>
<div class="content">
	<div class="warp">
		<div class="left_img"></div>
		<div class="right_img"></div>
		<div class="cont_min cont_one">
			<h3 class="cont_one_title">币港湾周年庆典，携手钱报178理财俱乐部为您献上大礼！</h3>
			<div class="cont_one_small">3月1日-3月17日之间，投资币港湾理财，丰富奖品即刻到手 :</div>
			<div class="cont_one_main">
				<div class="main_info_title">
					<span class="info_ft">单笔投资金额</span>
					<span class="info_ft">投资周期</span>
					<span class="info_ft">奖品</span>
				</div>
				<ul class="ct_one_ul">
					<li class="ct_li ct_bg_white">
						<span class="info_ft">100万元及以上</span>
    					<span class="info_ft">365天</span>
    					<span class="info_ft">iPhone 6s</span>
					</li>
					<li class="ct_li ct_bg_gray">
						<span class="info_ft">100万元及以上</span>
    					<span class="info_ft">180天</span>
    					<span class="info_ft">iPad mini 4</span>
					</li>
					<li class="ct_li ct_bg_white">
						<span class="info_ft">50万元及以上</span>
    					<span class="info_ft">365天</span>
    					<span class="info_ft">iPad mini 4</span>
					</li>
					<li class="ct_li ct_bg_gray">
						<span class="info_ft">50万元及以上</span>
    					<span class="info_ft">180天</span>
    					<span class="info_ft">1000元购物卡</span>
					</li>
					<li class="ct_li ct_bg_white">
						<span class="info_ft">20万元及以上</span>
    					<span class="info_ft">365天</span>
    					<span class="info_ft">1000元购物卡</span>
					</li>
					<li class="ct_li ct_bg_gray">
						<span class="info_ft">20万元及以上</span>
    					<span class="info_ft">180天</span>
    					<span class="info_ft">500元购物卡</span>
					</li>
					<li class="ct_li ct_bg_white">
						<span class="info_ft">5万元及以上</span>
    					<span class="info_ft">365天</span>
    					<span class="info_ft">200元购物卡</span>
					</li>
					<li class="ct_li ct_bg_gray">
						<span class="info_ft">5万元及以上</span>
    					<span class="info_ft">180天</span>
    					<span class="info_ft">100元购物卡</span>
					</li>
				</ul>
			</div>
			<div class="ct_one_footer">
				<div class="footer_tltle">活动事项：</div>
				<ul class="ct_footer_ul">
					<li class="footer_li">1.购买产品后可以在钱报178理财俱乐部门店直接领取奖品。</li>
					<li class="footer_li">2.不方便上门领取奖品的客户，将由客服主动联系，并于3月23日统一发放。</li>
					<li class="footer_li">3.本次活动为钱报178理财俱乐部会员专享，仅限“涌金”系列和“跨虹”系列产品。</li>
					<li class="footer_li">4.钱报178理财俱乐部对本次活动拥有最终解释权。</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="warp">
		<div class="left_img"></div>
		<div class="right_img"></div>
		<div class="cont_min">
			<p class="p_one">币港湾理财的产品由币港湾科技有限公司负责研发、由杭商资产管理有限公司和泓淳（杭州）科技有限公司联合运营的国资系理财产品。币港湾以安全为前提，所募集资金主要用于收购达飞金融的小微借款，期限分为半年和1年期，起投金额为5万元，预计年化收益率在6.5%-8.0%之间。</p>
		</div>
	</div>
</div>
<div class="content">
	<div class="warp">
		<div class="left_img"></div>
		<div class="right_img"></div>
		<div class="cont_min con_main2">
			<p class="p_one main2_p">温馨提示：1、只面向钱报 178 理财俱乐部会员销售，2、已登录过钱报有礼平台并预约注册过的客户，已在俱乐部名单里，可直接购买。</p>
			<div class="erwm">
				<img src="$!env.get('gen.server.web')/resources/gen178/images/178_erwm.png" alt="">
			</div>
			<div class="foot_info ft_one">请有意向者加入钱报 178 理财俱乐部</div>
			<div class="foot_info ft_two">会员服务电话：96068-0</div>
		</div>
	</div>
</div>
</body>
</html>

