#Hidden("APP_ROOT_PATH",$env.getWebURL(''))
#LoadJS("/resources/js/process2error")
##<form id="financeForm" method="post" action="$env.getWebURL('/account/order/index.htm')" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone)">
	<input type="hidden" name="ROOT" id="ROOT" value="$!env.getWebURL('')"/>
	<input type="hidden" name="orderNo" id="orderNo_text" value="$!orderNo"/>
	确认处理？
	<input type="text" name="errorText" id="errorText" value="通讯超时，对账处理"/>
	<div class="formBar">
		<ul>
            <li ><div class="buttonActive"><div class="buttonContent"><button type="button" id="subtn">确认</button></div></div></li>
			<li>
				<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
			</li>
		</ul>
	</div>
##</form>

