<form id="pagerForm" method="post" action="#rel#">
    <input type="hidden" name="pageNum" value="$!pageNum" />
    <input type="hidden" name="numPerPage" value="$!numPerPage" />
</form>

<div class="pageHeader">
    <form rel="pagerForm" id="myform" class="pageForm required-validate" onsubmit="return navTabSearch(this);"  action="$env.getWebURL('/depFinanceStatistics/baofooWithdrawal.htm')" method="post">
        <input type="hidden" name="numPerPage" value="$!numPerPage" />
        <input type="hidden" id="APP_ROOT_PATH" value="$!env.getWebURL('')"/>
        <input type="hidden" name="pageNum" value="$!pageNum" />
        <input type="hidden" name="totalRows" value="$!totalRows" />
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        姓名：<input id="userName" type="text" name="userName" maxlength="20" value="$!userName" class="clear"/>
                    </td>
                    <td >充值时间：<input name="startTime" type="text" id="startTime" class=" date textInput readonly" readonly="true" value="$!startTime" dateFmt="yyyy-MM-dd" maxdate="{%y}-%M-{%d-1}"/></td >
                    <td>到  &nbsp;&nbsp;&nbsp;&nbsp;
                        <input name="endTime" type="text" id="endTime" class=" date textInput readonly" readonly="true" value="$!endTime" dateFmt="yyyy-MM-dd" maxdate="{%y}-%M-{%d-1}"/>
                    </td>
					<td >
						<select name="transType" >
							<option value="" #if("$!transType"=="") selected  #end>全部</option>
							<option value="BALANCE_WITHDRAW" #if("$!transType"=="BALANCE_WITHDRAW") selected  #end>账户余额</option>
							<option value="BONUS_WITHDRAW" #if("$!transType"=="BONUS_WITHDRAW") selected  #end>奖励金</option>
                    	</select>
                    </td>
                    <td>
                        <button  onclick="func()" type="button">查询</button>
                        <button  onclick="exp()" type="button">导出excel</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li>
				<span style="margin-left:10px;">
    				<font color="red">支取总金额：#if(!$!takeTotalAmount)0.00 #else $!money.format($!takeTotalAmount) #end 元</font>
                </span>
                <span style="margin-left:10px;">
    				<font color="red">手续费总额：#if(!$!totalFee)0.00 #else $!money.format($!totalFee) #end 元</font>
                </span>
            </li>

        </ul>
    </div>
    <table class="table" width="1396" layoutH="120">
        <thead>
        <tr>
            <th width="10%">序号</th>
            <th width="10%">单据编号</th>
            <th width="10%">客户代码</th>
            <th width="10%">客户名称</th>
            <th width="10%">支取金额</th>
            <th width="10%">提现手续费</th>
            <th width="10%">客户实际到账</th>
            <th width="10%">支取平台</th>
            <th width="10%">支取类型</th>
            <th width="10%">支取时间</th>
        </tr>
        </thead>
        <tbody>
            #set($prefix="180")
            #foreach($user in $userWithdrawalList)
            <tr>
                <td>$!user.rowno</td>
                <td>$prefix$!user.orderNo</td>
                <td>$!user.customerCode</td>
                <td>$!user.userName</td>
                <td>$!money.format($!user.amount)</td>
                <td>$!money.format($!user.doneFee)</td>
                <td>$!money.format($!user.revenueAmount)</td>
                <td>
                    #if($!user.channel == "BAOFOO")
                        宝付
                    #end
                </td>
                <td>
                    #if($!user.transType == "BONUS_WITHDRAW")
                        奖励金
                    #else
                        账户余额
                    #end
                </td>
                <td>$!date.formatYYYYMMDD($!user.updateTime)</td>
            </tr>
            #end
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({pageNum:1,numPerPage:this.value})">
                <option #if("$!numPerPage" == "20") selected #end value="20">20</option>
                <option #if("$!numPerPage" == "50") selected #end value="50">50</option>
                <option #if("$!numPerPage" == "100") selected #end value="100">100</option>
                <option #if("$!numPerPage" == "200") selected #end value="200">200</option>
            </select>
            <span>条，共$!totalRows条</span>
        </div>
        <div class="pagination" targetType="navTab" totalCount="$!totalRows" numPerPage="$!numPerPage" currentPage="$!pageNum"></div>
    </div>
</div>
#LoadJS("/resources/js/global_validate")
<script>

    function func(){
        var beginTime = $("#startTime").val();
        var endTime = $("#endTime").val();
        if(!beginTime) {
            alertMsg.warn("开始时间不能为空！");
            return;
        }
        if(!endTime) {
            alertMsg.warn("结束时间不能为空！");
            return;
        }
        var result = Date.parse(endTime.replace(/-/g,"/"))- Date.parse(beginTime.replace(/-/g,"/"));
        if(result < 0){
            alertMsg.warn("开始时间不能在结束时间之后！");
            return;
        }

        var url = $("#APP_ROOT_PATH").val() + "/depFinanceStatistics/baofooWithdrawal.htm";
        $("#myform").attr("action",url);
        $("#myform").attr("onsubmit","return navTabSearch(this);");
        $("#myform").submit();
    }

    function exp(){
        var beginTime = $("#startTime").val();
        var endTime = $("#endTime").val();
        if(!beginTime) {
            alertMsg.warn("开始时间不能为空！");
            return;
        }
        if(!endTime) {
            alertMsg.warn("结束时间不能为空！");
            return;
        }
        var result = Date.parse(endTime.replace(/-/g,"/"))- Date.parse(beginTime.replace(/-/g,"/"));
        if(result < 0){
            alertMsg.warn("开始时间不能在结束时间之后！");
            return;
        }

        var url = $("#APP_ROOT_PATH").val() + "/depFinanceStatistics/exportBaofooWithdrawal.htm";
        $("#myform").attr("action",url);
        $("#myform").attr("onsubmit","");
        $("#myform").submit();
    }
</script>