body{ font: 0rem/15px "Microsoft YaHei";}
html, body{width:640px;margin:0 auto;background:#e94239;}
.sucee_wp{ position: relative;width:100%; height:293px; background: url(../../images/static/banner.jpg) no-repeat center center;}
.main{width:100%;display: inline-block;}
.main_top{width:100%;height:180px;text-align: center;margin-bottom: 20px;overflow:hidden;font-size:0;}
.main_left{background:url(../../images/static/main_bg1.png) repeat-y left ;padding-left: 5px;display: inline-block;vertical-align:top;margin-left:-1px;}
.main_tl{padding:6px 0 6px 8px;background:#fff;}
.main_L{ padding:24px 52px 20px 54px; height:122px;border:1px solid #ebebeb;border-right: 1px dashed #ebebeb;}
.main_tl span{display:block;font-size: 60px;color: #f33535;line-height: 60px;font-weight: bolder;}

.main_right{background:url(../../images/static/main_bg2.png) repeat-y right ;padding-right: 5px;display: inline-block;vertical-align:top;}
.main_tr{background:#fff;padding:6px 8px 6px 0;}
.main_R{padding:15px 0 10px 0;height:141px;width:404px;border:1px solid #ebebeb;border-left:none;}
.main_Rone span{font-size: 100px;color:#f33535;line-height: 110px;font-weight: bold;}
.main_Rone i{font-size: 50px;color:#f33535;line-height: 50px;position: relative;top: -4px;left:2px;}
.main_Rtwo span{font-size: 26px;color:#cccccc;line-height: 26px;}

.btn{display:block;text-align: center;background:#ffda10;padding:20px 210px 20px 210px;border-radius:10px ;margin:0 22px 0;box-shadow:0px 10px 6px #ff8a03;}
.main_txt{width:100%;text-align: center;padding-top: 22px;display: inline-block;}
.main_txt span{padding:0 0px 20px 0px;border-bottom: 1px solid #f8bb94;font-size: 24px;color:#ffffcc;line-height: normal;display: block;
width: 80%;
margin: 0 auto;}


.maincont{padding:0px 42px 35px 80px;position: relative;}
.cont_h3{font-size: 30px;color:#ffffcc;text-align: center;line-height: normal;width:100%;margin-top: 23px;}
.mb_ul li{font-size: 24px;color:#ffffcc;line-height: 36px;margin-top:16px;}
.mb_ul span{position:absolute;left:40px;margin-top:-2px;font-size: 24px;padding:5px;color:#ffffcc;line-height:normal;text-align: center;}

.logo{text-align: center;padding-top:14px; }
.foot{text-align: center;padding-bottom: 30px;width: 100%;}
.foot_top{font-size: 22px;color:#ffffcc;line-height: normal;margin-top: 14px;display: inline-block;width: 100%;}
.foot_down{font-size: 22px;color:#ffffcc;line-height: normal;margin-top: 18px;display: inline-block;width: 100%;}









