#Html("begin")
#Head("begin")
#Title("币港湾官网_国资系互联网金融服务平台_品听资产_杭商资产_浙大网新_P2P网贷")
<script type="text/javascript">
	var phoneWidth = parseInt(window.screen.width);
    var phoneScale = phoneWidth/640;
    
    document.write('<meta name="viewport" content="width=640,initial-scale=2.0, minimum-scale = '+phoneScale+', maximum-scale = '+phoneScale+',user-scalable=no, target-densitydpi=device-dpi">');
    
    //微信去掉下方刷新栏
    if(RegExp("MicroMessenger").test(navigator.userAgent)){
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
            WeixinJSBridge.call('hideToolbar');
        });
    }
</script>
#Head("end")

##LoadJS("resources/micro2.0/scripts/assets/six")
#LoadCSS("resources/micro2.0/styles/more/default")
#LoadCSS("resources/micro2.0/styles/more/aboutApp")

##LoadJS("resources/micro2.0/scripts/common/common")
##LoadJS("resources/micro2.0/scripts/assets/zepto.min")
##LoadJS("resources/micro2.0/scripts/assets/custom")

##LoadJS("resources/micro2.0/scripts/more/about")
##LoadJS("resources/micro2.0/scripts/more/scale")
##LoadJS("resources/micro2.0/scripts/more/jquery")
<body>
	<!-- 头部 -->
	<!-- <div class="header">
		<a class="header_arrow" href="#"></a>
		<h1 class="heade_ft color_bg">关于我们</h1>
	</div> -->
	<div class="placeholder_header"></div> 
	<nav class="header_flex">
		<ul class="header_ul">
			<li class="header_li " onclick="selectTab(1,this)">
				平台简介
			</li>
			<li class="header_li" onclick="selectTab(2,this)">
				管理团队
			</li>
			<li class="header_li" onclick="selectTab(3,this)">
				荣誉资质
			</li>
			<li class="header_li header_active" onclick="selectTab(4,this)">
				关注港湾
			</li>
		</ul>
	</nav>
	<!-- main -->
	<div class="main1 main" style="display:none;">
		
		<div class="banner">
			<img class="banner_img" src="$!env.getWebURL('resources/micro2.0/images/about_01.jpg')" alt="">
		</div>
		<div class="about_main">
			<p class="about_ft">币港湾是由杭商资产管理有限公司发起的国资系的互联网金融服务平台，现由杭州币港湾科技有限公司负责线上线下的运营。平台对接海量优质小微借款，拥有完善的风控体系，充分保障投资者的资金安全，是您实现财富增值的理想家园。</p>
			<p class="about_ft">“币”即钱币，“港湾”寓意安全、稳固。作为一家国资系上市公司背景的互联网金融服务平台，币港湾就是要为投资人提供一个能让资金稳健增值的家园。</p>
			<div class="about_ceo">CEO致辞</div>
			<p class="about_ft">面对异常复杂的外部经济环境，公司凭借“国资背景+超强风控+透明资金走向”等优势，始终坚持“诚信、安全、稳定”的金融服务理念，秉承“珍视所托之财，专业资产管理”的企业经营理念，攻坚克难、砥砺奋进，在高手如云的市场经济浪潮中披荆斩浪，独树一帜，使币港湾在短短不到一年的时间里，便迅速成为广大普通投资者信赖的资金避险港湾。截止年末，币港湾累计投资交易额已超过2亿元，人均投资额超过15万元，累计注册用户达万余人，微信关注粉丝达数千人，所有项目本金及收益均按期足额兑付。</p>
			<p class="about_ft">币港湾自推广运营以来，技术产品研发，风险流程监控等在核心领域均处于行业领先水平，尤其是风控控制系统，甚至达到国际领先水平。致力打造让百姓安心的理财投资服务平台是币港湾不懈的追求。2015年12月，亚洲金融理财协会授予我们“2015年度最佳理财奖”和“2015年度最佳风控奖”；同年，中国电子商务协会数字服务中心为我们颁发“诚信认证示范单位”证书。这些荣誉的取得，离不开币港湾团队的不懈努力和卓越创造，更离不开广大客户一如既往的信任和支持。</p>
			<p class="about_ft">2016年，是经济转型和金融深化改革的关键年，互联网金融面临的考验将更加严峻。但我们坚信，在新一轮的经济发展浪潮中，我们能抓住机遇，实现新的突破。新的一年，我们将紧跟时代形势，强化创新创业意识，围绕国家“普惠金融”服务理念，专注消费金融、小微借款资产端优势，为广大投资商客提供最专业、优质、便捷、安全的金融服务。新的一年，我们将以认真严谨的工作态度建设好平台，以创新前卫的思维管理好平台，以行业领先的技术保障好平台，以科学高效的策略规范好平台，力争把币港湾打造成为客户最信赖的互联网金融服务平台。新的一年，我们要充分整合社会资源，展现更多的社会责任，为大学生助学、留守儿童资助等公益项目提供自己力所能及的帮助，积极举办、参与社会公益活动，以实际行动走出一条价值创造与社会责任融合的发展之路。</p>
			<p class="about_ft">机遇蕴含精彩，创新成就伟业。新的一年开启新的希望，新的历程承载新的梦想。2016年，正是我们扬帆远航、谱写华章的关键一年！我们将立足杭州、扎根浙江，辐射长三角，把币港湾建设成为长三角具有影响力的普惠金融理财服务平台。</p>
		</div>
		<div class="about_journey">
			<div class="journey">发展历程</div>
			<div class="jour_positi">
				<div class="journey_wp">
					<div class="journey_top">2016</div>
					<div class="journey_line"></div>
					<div class="journey_bottom">开始</div>
				</div>
				<ul class="journey_ul">
					<li class="journey_li right_jour jour_01">
						<span class="jour_time">$!now</span>
						<div class="ciroe"></div>
						<div class="jour_evet">今天的币港湾，你我共同创造</div>
					</li>
					<li class="journey_li left_jour jour_02">
						<span class="jour_time">2016-03-07</span>
						<div class="ciroe"></div>
						<div class="jour_evet">平台投资额突破3亿</div>
					</li>
					<li class="journey_li right_jour jour_03">
						<span class="jour_time">2016-01-29</span>
						<div class="ciroe"></div>
						<div class="jour_evet">首次举办线下用户交流会，获得空前成功</div>
					</li>
					<li class="journey_li left_jour jour_04">
						<span class="jour_time">2015-12-28</span>
						<div class="ciroe"></div>
						<div class="jour_evet">平台投资额突破1亿</div>
					</li>
					<li class="journey_li right_jour jour_05">
						<span class="jour_time">2015-12-22</span>
						<div class="ciroe"></div>
						<div class="jour_evet">币港湾进行大规模推广</div>
					</li>
					<li class="journey_li left_jour jour_06">
						<span class="jour_time">2015-12-01</span>
						<div class="ciroe"></div>
						<div class="jour_evet">币港湾正式运营</div>
					</li>
					<li class="journey_li right_jour jour_07">
						<span class="jour_time">2015-11-10</span>
						<div class="ciroe"></div>
						<div class="jour_evet">与达飞财富达成战略合作</div>
					</li>
					<li class="journey_li left_jour jour_08">
						<span class="jour_time">2015-09-30</span>
						<div class="ciroe"></div>
						<div class="jour_evet">币港湾封闭式测试
							<br>完成</div>
					</li>
					<li class="journey_li right_jour jour_09">
						<span class="jour_time">2015-03-18</span>
						<div class="ciroe"></div>
						<div class="jour_evet">币港湾成立</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<br/><br/><br/><br/><br/>
	<!--main2-->
	<div class="main2 main">
		<div class="placeholder_header"></div>
		<ul class="team_main">
			<li class="team_li">
				<div class="team_box">
					<h3 class="team_h3">周炜彤 创始人</h3>
					<div class="team_txt">
						浙江大学经济学学士、计算机工学硕士，具有中国注册会计师资格。曾任职于中国工商银行、上海浦发银行、浙大网新科技股份有限公司、浙大网新集团，拥有丰富的信贷经验、上市公司及上市公司控股股东的资本运作经验。历任浙大网新资产营运中心总经理、总裁助理，网新集团资金总监、副总裁，主持投融资管理，现任杭商资产管理（杭州）有限公司总裁。
					</div>
				</div>
			</li>
			<li class="team_li li_copy">
				<div class="team_box">
					<h3 class="team_h3">王晶 首席执行官</h3>
					<div class="team_txt">
						先后担任过上海银行、民生银行、浦发银行、光大银行等多家股份制商业银行高管。近20年的金融从业经历，具有专业的风控和信贷管理经验、熟悉投行业务，对互联网金融的商业运营有其深刻的认识和独特的见解。
					</div>
				</div>
			</li>
			<li class="team_li">
				<div class="team_box">
					<h3 class="team_h3">张庆 首席技术官</h3>
					<p class="team_p">12年软件、互联网软件设计、研发经验。</p>
					<div class="team_txt">
						曾就职于浙大网新(创新研究部技术总监)，恒生电子(银行事业部技术经理)，信雅达等知名上市科技公司，主导设计并实施多个金融相关的软件产品和项目。 代表项目包括移动互联网O2O报名吧，公益基金梦想盒子--梦想银行，批量联机交易处理平台，银行业务综合管理平台，商业银行支付宝卡通等。
					</div>
				</div>
			</li>
			<li class="team_li li_copy">
				<div class="team_box">
					<h3 class="team_h3">王莹 首席营销官</h3>
					<div class="team_txt">
						中科院心理研究所研究生，十余年互联网经验，曾在百度等多家互联网公司担任市场部高级职位，主要方向为互联网电商以及互联网金融服务平台。任职互联网金融产品支付通先花花市场总监期间，用户数从0增至50万注册用户，交易额近亿元。
					</div>
				</div>
			</li>
			<li class="team_li">
				<div class="team_box">
					<h3 class="team_h3">张军锋 产品总监</h3>
					<div class="team_txt">
						西安交大管理学学士，上海社会科学院经济学硕士，12年互联网产品管理经验。户外旅行网络杂志黑孩子联合创始人，ZOHO中国首席产品设计师，前后担任超星网、东方网力、365好老师等多个公司产品总监。
					</div>
				</div>
			</li>
		</ul>
	</div>
	##<br/><br/><br/>
	<!--main3-->
	<div class="main3 main">
		<div class="placeholder_header main3_place"></div>
		<div class="placeholder_header"></div>
		<div class="pic_main">
			<div class="pic"><img src="$!env.getWebURL('resources/micro2.0/images/pic1.jpg')"/></div>
			<div class="pic_txt">2015年度最佳风控奖</div>
		</div>
		<div class="pic_main">
			<div class="pic"><img src="$!env.getWebURL('resources/micro2.0/images/pic2.jpg')"/></div>
			<div class="pic_txt">2015年度最佳理财奖</div>
		</div>
		<div class="pic_main">
			<div class="pic"><img src="$!env.getWebURL('resources/micro2.0/images/pic3.jpg')"/></div>
			<div class="pic_txt">安全联盟信誉企业</div>
		</div>
		<div class="pic_main">
			<div class="pic"><img src="$!env.getWebURL('resources/micro2.0/images/pic5.jpg')"/></div>
			<div class="pic_txt">诚信认证示范单位</div>
		</div>
		<div class="pic_main">
			<div class="pic"><img src="$!env.getWebURL('resources/micro2.0/images/pic4.jpg')"/></div>
			<div class="pic_txt">企业信用评级A级信用企业</div>
		</div>
	</div>
	<!--main4-->
	<!-- <div class="main4 main">
		<div class="placeholder_header"></div>
		<img class="main4_weicha" src="$!env.getWebURL('resources/micro2.0/images/succ_img.jpg')" alt="">
		<div class="banner">
			<img class="banner_img" src="$!env.getWebURL('resources/micro2.0/images/about_02.jpg')" alt="">
		</div>
		<div class="follow_main">
			<p class="follow_p">方法1. 搜索微信公众号：币港湾</p>
			<p class="follow_p">方法2. 搜索微信公众号ID：bigangwanlicai</p>
			<p class="follow_p">方法3. 长按保存下方图片，进入微信扫一扫，</p>
			<p class="follow_p follow_pcopy">选择从相册选取二维码即可进入公众号</p>
		</div>
	</div> -->
	
	<div class="main4 main" style="display:block;">
		<!-- <div class="placeholder_header main4_place"></div> -->
		<div class="banner">
			<img class="banner_img" src="$!env.getWebURL('resources/micro2.0/images/about_02.jpg')" alt="">
		</div>
		<div class="follow_main">
			<p class="follow_p">方法1. 搜索微信公众号：币港湾</p>
			<p class="follow_p z-index-ft">方法2. 搜索微信公众号ID：bigangwanlicai</p>
			<p class="follow_p">方法3. 长按保存下方图片，进入微信扫一扫，</p>
			<p class="follow_p follow_pcopy">选择从相册选取二维码即可进入公众号</p>
		</div>
		##<img class="main4_weicha" src="$!env.getWebURL('resources/micro2.0/images/succ_img.jpg')" alt="">
			<div class="main4_weicha_wp">
        		<img class="main4_weicha "  src="$!env.getWebURL('resources/micro2.0/images/succ_img.jpg')" alt="">
				<img class="main4_weicha cha2" src="$!env.getWebURL('resources/micro2.0/images/succ_img.jpg')" alt="" ontouchstart="touchStart()" ontouchmove="touchMove()" ontouchend="touchEnd()">
				<img class="main4_weicha " src="$!env.getWebURL('resources/micro2.0/images/succ_img.jpg')" alt="">
        	</div>
			<img class="cha1" src="$!env.getWebURL('resources/micro2.0/images/succ_img.jpg')" alt="" ontouchstart="touchStart()" ontouchmove="touchMove()" ontouchend="touchEnd()">
			<input type="hidden" id="client" value="$!client"/>
	</div>
	
</body>
<script type="text/javascript">
	var time = 0; //定时器
	function touchStart(){
		time = setTimeout("press()",1000);
	}
	function touchMove(){
		clearTimeout(time);
	}
	function touchEnd(){
		clearTimeout(time);
	}
	function press(){
		var client = document.getElementById("client").value;
		var json = "{'press':'save'}";
		if(client == "ios") {
			toiOSPage(json);
		}
		if(client == "android") {
			toAndroidPage(json);
		}
	}
	function toiOSPage(json) {
		
	}
	function toAndroidPage(json) {
		javascript:coinharbour.toAndroidPage(json);
	}
	
	function selectTab(level,obj) {
		var tabs = document.getElementsByClassName("header_li");
		for(var i=0;i<tabs.length;i++) {
			tabs[i].setAttribute("class", "header_li");
		}
		obj.setAttribute("class", "header_li header_active");
		
		var contents = document.getElementsByClassName("main");
		for(var j=0;j<contents.length;j++) {
			contents[j].style.cssText = "display:none";
		}
		document.getElementsByClassName("main"+level+" main")[0].style.cssText = "display:block";
	}
</script>
#Html("end")

