#Html("begin")
#Head("begin")

#Title("币港湾官网_国资系互联网金融服务平台_品听资产_杭商资产_浙大网新_P2P网贷")
#LoadCSS("resources/micro2.0/styles/user/default")
#LoadCSS("/resources/micro2.0/styles/static/averageCapitalPlusInterestIntro/average_capital_plus_interest_intro")
#LoadJS("/resources/micro2.0/scripts/static/averageCapitalPlusInterestIntro/average_capital_plus_interest_intro")

#Head("end")
<body>
	
	
<input type="hidden" id="APP_ROOT_PATH" value="$!env.getWebURL('')"/>
<input type="hidden" id="userIsLogin" value="$!user_is_login"/>
	


<div class="header">
	<img src="$!env.getWebURL('resources/micro2.0/images/static/averageCapitalPlusInterestIntro/header.jpg')" alt="">
</div>
<div class="centerFont">什么是等额本息计划？</div>
<div class="FontInfo">等额本息，也称定期付息，即借款人每月按相等的金额偿还借款本息，其中每月借款利息按月初剩余借款本金计算并逐月结清。把借款的本金总额与利息总额相加，然后平均分摊到还款期限的每个月中。作为出借人，每个月可回收的固定金额，可以更加灵活合理安排资金。</div>
<div class="centerFont">选择投资哪种计划呢？</div>
<div class="padding_main">
	<img src="$!env.getWebURL('resources/micro2.0/images/static/averageCapitalPlusInterestIntro/2.jpg')" alt="">
	<img class="top3" src="$!env.getWebURL('resources/micro2.0/images/static/averageCapitalPlusInterestIntro/3.jpg')" alt="">
	<div class="footer cenFt">如有疑问可致电币港湾客服(工作时间 9:00-18:00)</div>
	<div class="footer_phone cenFt"><a href="tel:400-806-1230">400-806-1230</a></div>
</div>

</body>
#Html("end")