#Html("begin")
#Head("begin")
#Title("币港湾官网_国资系互联网金融服务平台_品听资产_杭商资产_浙大网新_P2P网贷")

#LoadCSS("resources/micro2.0/styles/static/fourSeasons/fourSeasons")
#LoadCSS("resources/micro2.0/styles/user/default")
#LoadJS("resources/micro2.0/scripts/channel/six")

#Head("end")

<body class="body">
<input type="hidden" id="APP_ROOT_PATH" value="$!env.getWebURL('')"/>

<!--banner-->
<div class="banner"><img src="$!env.getWebURL('resources/micro2.0/images/static/fourSeasons/banner.jpg')" class="banner_img" /></div>
<div class="season_time">活动时间：2017年4月7日-4月14日</div>
<!--main-->
<div class="season_content">
    <div class="season_title">
        <img src="$!env.getWebURL('resources/micro2.0/images/static/fourSeasons/season_title.png')" />
        <div class="season_title_txt">01 四季加息，生生不息</div>
        <div class="season_title_introduce">活动期间赞分期系列所有产品加息。</div>
    </div>
    <ul class="season_product_one">
        <li>
            <img src="$!env.getWebURL('resources/micro2.0/images/static/fourSeasons/season1.png')" class="season_product_img" />
            <span class="season_product_txt">加息<img src="$!env.getWebURL('resources/micro2.0/images/static/fourSeasons/season2.png')" /></span>
            <span class="season_product_title">赞分期春系列：3个月</span>
            <span class="season_product_number"><i class="season_product_number1">+</i><i class="season_product_number2">0.3</i><i class="season_product_number3">%</i></span>
        </li>
        <li class="season_product_margin">
            <img src="$!env.getWebURL('resources/micro2.0/images/static/fourSeasons/season1.png')" class="season_product_img" />
            <span class="season_product_txt">加息<img src="$!env.getWebURL('resources/micro2.0/images/static/fourSeasons/season2.png')" /></span>
            <span class="season_product_title">赞分期夏系列：6个月</span>
            <span class="season_product_number"><i class="season_product_number1">+</i><i class="season_product_number2">0.4</i><i class="season_product_number3">%</i></span>
        </li>
        <li>
            <img src="$!env.getWebURL('resources/micro2.0/images/static/fourSeasons/season1.png')" class="season_product_img" />
            <span class="season_product_txt">加息<img src="$!env.getWebURL('resources/micro2.0/images/static/fourSeasons/season2.png')" /></span>
            <span class="season_product_title">赞分期秋系列：9个月</span>
            <span class="season_product_number"><i class="season_product_number1">+</i><i class="season_product_number2">0.5</i><i class="season_product_number3">%</i></span>
        </li>
        <li class="season_product_margin">
            <img src="$!env.getWebURL('resources/micro2.0/images/static/fourSeasons/season1.png')" class="season_product_img" />
            <span class="season_product_txt">加息<img src="$!env.getWebURL('resources/micro2.0/images/static/fourSeasons/season2.png')" /></span>
            <span class="season_product_title">赞分期冬系列：12个月</span>
            <span class="season_product_number"><i class="season_product_number1">+</i><i class="season_product_number2">0.6</i><i class="season_product_number3">%</i></span>
        </li>
    </ul>
    <div class="season_title">
        <img src="$!env.getWebURL('resources/micro2.0/images/static/fourSeasons/season_title.png')" />
        <div class="season_title_txt">02 四季有钱，生财有道</div>
        <div class="season_title_introduce">
            <p>活动期间用户投资赞分期系列产品，</p>
            <p>可根据投资的期限获得奖励金。</p>
        </div>
    </div>
    <ul class="season_product_two">
        <li>
            <img src="$!env.getWebURL('resources/micro2.0/images/static/fourSeasons/season1.png')" class="season_product_img" />
            <span class="season_product_txt1">奖励率<img src="$!env.getWebURL('resources/micro2.0/images/static/fourSeasons/season2.png')" /></span>
            <span class="season_product_title">赞分期春系列：3个月</span>
            <span class="season_product_number"><i class="season_product_number1">X</i><i class="season_product_number2">0.05</i><i class="season_product_number3">%</i></span>
        </li>
        <li class="season_product_margin">
            <img src="$!env.getWebURL('resources/micro2.0/images/static/fourSeasons/season1.png')" class="season_product_img" />
            <span class="season_product_txt1">奖励率<img src="$!env.getWebURL('resources/micro2.0/images/static/fourSeasons/season2.png')" /></span>
            <span class="season_product_title">赞分期夏系列：6个月</span>
            <span class="season_product_number"><i class="season_product_number1">X</i><i class="season_product_number2">0.1</i><i class="season_product_number3">%</i></span>
        </li>
        <li>
            <img src="$!env.getWebURL('resources/micro2.0/images/static/fourSeasons/season1.png')" class="season_product_img" />
            <span class="season_product_txt1">奖励率<img src="$!env.getWebURL('resources/micro2.0/images/static/fourSeasons/season2.png')" /></span>
            <span class="season_product_title">赞分期秋系列：9个月</span>
            <span class="season_product_number"><i class="season_product_number1">X</i><i class="season_product_number2">0.15</i><i class="season_product_number3">%</i></span>
        </li>
        <li class="season_product_margin">
            <img src="$!env.getWebURL('resources/micro2.0/images/static/fourSeasons/season1.png')" class="season_product_img" />
            <span class="season_product_txt1">奖励率<img src="$!env.getWebURL('resources/micro2.0/images/static/fourSeasons/season2.png')" /></span>
            <span class="season_product_title">赞分期冬系列：12个月</span>
            <span class="season_product_number"><i class="season_product_number1">X</i><i class="season_product_number2">0.2</i><i class="season_product_number3">%</i></span>
        </li>
    </ul>
    <div class="season_text">
        <img src="$!env.getWebURL('resources/micro2.0/images/static/fourSeasons/season4.png')" class="season_product_img" />
        <div class="season_text_content">
            <p>用户可得奖励金 = </p>
            <p>用户活动期间有效投资额 * 对应期限奖励率。</p>
        </div>
    </div>
    <div class="season_product_btn">
        <img src="$!env.getWebURL('resources/micro2.0/images/static/fourSeasons/season_btn.png')">
        <a onclick="clickZanProductList();" class="season_product_btna">立即参与活动</a>
    </div>
</div>
<div class="season_bg"></div>
<div class="season_foot">
    <div class="season_foot_bg">
        <div class="season_zan1">
            <div class="season_zan_title">什么是<span class="season_zan_title1">赞分期</span>？什么是<span class="season_zan_title1">等额本息</span>？</div>
            <div class="season_zan_txt">赞分期系列产品是平台根据市场需求推出的一款等额本息产品。</div>
            <div class="season_zan_txt">等额本息是指用户每月按相等的金额得到投资本息。</div>
            <div class="season_product_btn">
                <img src="$!env.getWebURL('resources/micro2.0/images/static/fourSeasons/season_btn.png')">
                <a onclick="clickProductDetails();" class="season_product_btna">点击了解更多</a>
            </div>
        </div>
        <div class="season_rule">
            <div class="season_title">
                <img src="$!env.getWebURL('resources/micro2.0/images/static/fourSeasons/season_title.png')" />
                <div class="season_title_txt">活动规则</div>
            </div>
            <div class="season_zan2">
                <div class="season_rule_txt"><span class="spring_rule_number">1.</span><span class="spring_rule_text">活动时间：2017年4月7日-4月14日；</span></div>
                <div class="season_rule_txt"><span class="spring_rule_number">2.</span><span class="spring_rule_text">本活动仅限参与赞分期系列产品且匹配成功的用户；</span></div>
                <div class="season_rule_txt"><span class="spring_rule_number">3.</span><span class="spring_rule_text">用户可得奖励金=用户活动期间有效投资额*对应期限奖励率，奖励金将精确小数点后两位；</span></div>
                <div class="season_rule_txt"><span class="spring_rule_number">4.</span><span class="spring_rule_text">用户所得奖励金将于活动结束后的10个工作日内发放至用户的币港湾账户内，可进入【我的账户】-【我的奖励】查看。</span></div>
            </div>
        </div>
        <div class="season_footer">本次活动的最终解释权归币港湾所有</div>
    </div>
</div>

<script>
    function clickZanProductList(){
        location.href = $("#APP_ROOT_PATH").val() + "/micro2.0/regular/list?zanProductFlag=ZANPRODUCTFLAG";
    }

    function clickProductDetails(){
        location.href = $("#APP_ROOT_PATH").val() + "/micro2.0/static/zan_product_details";
    }

</script>

</body>

#Html("end")