#Html("begin")
#Head("begin","币港湾,币港湾官网","币港湾官网，国资背景安心收益，为您提供互联网金融服务，是优质的互联网金融服务平台。")
#Title("我的资产【币港湾官网】")
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
#LoadJS("resources/micro2.0/scripts/activity/rem_750")
#LoadCSS("/resources/micro2.0/styles/default")
#LoadCSS("/resources/micro2.0/styles/red_pack/interes_ticket")
#WeChatShare()
#Head("end")
<body>
	<div class="ticket_banner">
		<img class="banner_img" src="$!{env.getWebURL('')}/resources/micro2.0/images/red_pack/ticket_banner.jpg" alt="">
	</div>
	<div class="ticket_box">
		<img class="ticket_img" src="$!{env.getWebURL('')}/resources/micro2.0/images/red_pack/ticket_01.png" alt="">
	</div>
	<div class="ticket_box">
		<div class="slide1_tt"><span class="pr_tline"></span>什么是加息券？</div>
		<div class="ticket_txt">加息券是币港湾平台给用户的利息奖励券。用户投资使用加息券后，在原有产品的预期年化收益率基础上额外增加利率收益，返还用户预期加息收益的一种方式。</div>
	</div>
	<div class="ticket_box">
		<div class="slide1_tt"><span class="pr_tline"></span>如何获得加息券？</div>
		<div class="ticket_txt">可以通过参与平台活动获得加息券。或者一些其他途径获得。在“账户中心-优惠券-加息券”中可以看到获得的加息券。</div>
	</div>
	<div class="ticket_box">
		<div class="slide1_tt"><span class="pr_tline"></span>加息券有没有使用限制或一些特殊使用情况？</div>
		<div class="ticket_txt">加息券不可以和红包同时使用。单笔加入计划仅限使用一张优惠券。</div>
	</div>
	<div class="ticket_box">
		<div class="slide1_tt"><span class="pr_tline"></span>如何使用加息券？</div>
		<div class="ticket_txt">用户在选择加入产品时，计划满足支持加息券，加息券满足产品期限、单笔加入金额、产品限制、加息券未过期条件方可使用加息券。</div>
	</div>
	<div class="ticket_box">
		<div class="slide1_tt"><span class="pr_tline"></span>如何查看加息券的使用记录？</div>
		<div class="ticket_txt">可以在“账户中心-优惠券-加息券-已使用加息券”里查看记录。可以在“账户中心-计划管理”查看使用加息券后的预期加息收益。</div>
	</div>
	<div class="ticket_box">
		<div class="slide1_tt"><span class="pr_tline"></span>使用加息券的预期加息收益以什么形式发放？什么时候发放？</div>
		<div class="ticket_txt">以奖励金的形式发放。会在加入的产品到期后发放，发放后可提现至银行卡。发放后可在奖励金记录查询加息收益详情。</div>
	</div>
</body>
#Html("end")

