#Html("begin")
#Head("begin")
#Title("币港湾官网_国资系互联网金融服务平台_品听资产_杭商资产_浙大网新_P2P网贷")
#LoadCSS("resources/micro2.0/styles/activity/default")
#LoadCSS("resources/micro2.0/styles/activity/laborday")
#LoadJS("resources/micro2.0/scripts/common/common")
#LoadJS("resources/micro2.0/scripts/activity/six")

#WeChatShare()
#Head("end")
<body>
    <input type="hidden" value="$!env.getWebURL('')" id="APP_ROOT_PATH" />
	<input type="hidden" value="$!request.getParameter('client')" id="client" />
<!-- 头部 -->
<div class="header">
	<img class="ban_img" src="$!env.getWebURL('resources/micro2.0/images/activity/banner.jpg')" alt="">
</div>
<!-- main -->
<div class="main_padding">
	<div class="aci_list" style="height:auto;">
		<div class="list_title">投资5万</div>
		<div class="flex_wp">
			<div class="flex_box">
				<div class="flex_title">30天期限产品</div>
				<div class="flex_img">
					<img class="center_img" src="$!env.getWebURL('resources/micro2.0/images/activity/icon_1.jpg')" alt="">
				</div>
				<div class="img_info">优酷会员1个月</div>
			</div>
			<div class="flex_box">
				<div class="flex_title">90天期限产品</div>
				<div class="flex_img">
					<img class="center_img" src="$!env.getWebURL('resources/micro2.0/images/activity/icon_2.jpg')" alt="">
				</div>
				<div class="img_info">小米移动电源</div>
			</div>
			<div class="flex_box">
				<div class="flex_title">180天及以上产品</div>
				<div class="flex_img">
					<img class="center_img" src="$!env.getWebURL('resources/micro2.0/images/activity/icon_3.jpg')" alt="">
				</div>
				<div class="img_info">小米智能体重秤</div>
			</div>
		</div>
		<!-- <a href="javascript:;" onclick="transfer()">
		<div class="aci_btn">点我投资</div>
		        </a> -->
	</div>
	
	<div class="aci_list" style="height:auto;">
		<div class="list_title">投资20万</div>
		<div class="flex_wp">
			<div class="flex_box">
				<div class="flex_title">30天期限产品</div>
				<div class="flex_img">
					<img class="center_img" src="$!env.getWebURL('resources/micro2.0/images/activity/icon_4.jpg')" alt="">
				</div>
				<div class="img_info">品茶忆友茶具</div>
			</div>
			<div class="flex_box">
				<div class="flex_title">90天期限产品</div>
				<div class="flex_img">
					<img class="center_img" src="$!env.getWebURL('resources/micro2.0/images/activity/icon_5.jpg')" alt="">
				</div>
				<div class="img_info">膳魔师保温杯</div>
			</div>
			<div class="flex_box">
				<div class="flex_title">180天及以上产品</div>
				<div class="flex_img">
					<img class="center_img" src="$!env.getWebURL('resources/micro2.0/images/activity/icon_6.jpg')" alt="">
				</div>
				<div class="img_info">外交官拉杆箱</div>
			</div>
		</div>
		<!-- <a href="javascript:;" onclick="transfer()">
		<div class="aci_btn">点我投资</div>
		        </a> -->
	</div>

	<div class="footer_wp">
		<div class="small_footer">
			<div class="footer_title">活动规则：</div>
			<ul class="foot_ul">
				<li class="footer_li">
					<span class="int">1、</span>
					<div class="ft_info">凡在活动期间购买币港湾指定的产品，达到一定金额和期限（见上述奖品列表）的，即可参加本活动；</div>
				</li>
				<li class="footer_li">
					<span class="int">2、</span>
					<div class="ft_info">如何领取奖品：符合兑奖的购买记录由系统自动计算，获得的奖品将在活动结束后5个工作日内，由币港湾客服与客户取得联系发放奖品；</div>
				</li>
				<li class="footer_li">
					<span class="int">3、</span>
					<div class="ft_info">活动期间每位用户只能获得2次奖励，以活动中投资金额最大期限最长的两笔为准；</div>
				</li>
				<li class="footer_li">
					<span class="int">4、</span>
					<div class="ft_info">币港湾对本次活动拥有最终解释权。</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">	
	//H5跳转到app内页(不能写到单独的js里面)
	function transfer() {
		var client = document.getElementById("client").value;
		var json = '{"appActive":{"page":"b"}}';
		
		if(client == "ios") {
			toiOSPage(json);
		}
		if(client == "android") {
			toAndroidPage(json);
		}
	}
	function toiOSPage(json) {
		
	}
	function toAndroidPage(json) {
		javascript:coinharbour.toAndroidPage(json);
	}
</script>
<!--尾部  -->
</body>
</html>