#Html("begin")
#Head("begin")
#Title("币港湾官网_国资系互联网金融服务平台_品听资产_杭商资产_浙大网新_P2P网贷")
#LoadJS("resources/micro2.0/scripts/activity/six_new")
#LoadCSS("resources/micro2.0/styles/activity/default")
#LoadCSS("resources/micro2.0/styles/activity/2017/thanksgiven/thanksgiven")
#LoadJS("resources/micro2.0/scripts/activity/2017/thanksgiven/thanksgiven")
#WeChatShare()
#Head("end")
<body>
	<div class="T-second">
		<div class="T-first-title">
			<div class="T-first-title-txt">感恩第二步：够诚意！</div>
		</div>
		<div class="T-index-title">
			<img src="$!env.getWebURL('resources/micro2.0/images/activity/2017/thanksgiven/title1.png')" alt="" />
			<div class="T-index-title-txt">
				<h3 class="T-index-mtitle">达标兑礼你来选！</h3>
				<div class="T-index-stitle">礼品有限，先兑先得！</div>
			</div>
		</div>
		<div class="T-first-red">
			<div class="T-first-red-box">
				<div class="T-second-red-top">
					<div class="T-second-red-top-gift-box T-second-red-gift-margin">
    					<div class="T-second-red-gift">
    						<div class="T-second-red-gift-title">毛巾礼盒</div>
    						<img src="$!env.getWebURL('resources/micro2.0/images/activity/2017/thanksgiven/gift1.jpg')" />
    						<p>投资港湾计划短期乐</p>
    						<p>≥5万元</p>
    						<span class="T-second-red-gift-number">礼品仅剩：XX份</span>
    					</div>
						##不可点击
						<a href="javascript:;" class="T-second-red-immediately T-second-red-gift-margin">已兑礼品</a>
						##可点击
						<!--<a href="javascript:;" class="T-second-red-exchange T-second-red-gift-margin">立即兑换</a>-->
					</div>
					<div class="T-second-red-top-gift-box">
    					<div class="T-second-red-gift">
    						<div class="T-second-red-gift-title">毛巾礼盒</div>
    						<img src="$!env.getWebURL('resources/micro2.0/images/activity/2017/thanksgiven/gift2.jpg')" />
    						<p>投资港湾计划短期乐</p>
    						<p>≥5万元</p>
    						<span class="T-second-red-gift-number">礼品仅剩：XX份</span>
    					</div>					
    					<!--<a href="javascript:;" class="T-second-red-immediately">已兑礼品</a>-->
    					<a href="javascript:;" class="T-second-red-exchange">立即兑换</a>
					</div>
					<div class="T-second-red-top-gift-box T-second-red-gift-margin">
    					<div class="T-second-red-gift">
    						<div class="T-second-red-gift-title">毛巾礼盒</div>
    						<img src="$!env.getWebURL('resources/micro2.0/images/activity/2017/thanksgiven/gift3.jpg')" />
    						<p>投资港湾计划短期乐</p>
    						<p>≥5万元</p>
    						<span class="T-second-red-gift-number">礼品仅剩：XX份</span>
    					</div>
						<a href="javascript:;" class="T-second-red-immediately T-second-red-gift-margin">已兑礼品</a>
						<!--<a href="javascript:;" class="T-second-red-exchange T-second-red-gift-margin">立即兑换</a>-->
					</div>
					<div class="T-second-red-top-gift-box">
    					<div class="T-second-red-gift">
    						<div class="T-second-red-gift-title">毛巾礼盒</div>
    						<img src="$!env.getWebURL('resources/micro2.0/images/activity/2017/thanksgiven/gift4.jpg')" />
    						<p>投资港湾计划短期乐</p>
    						<p>≥5万元</p>
    						<span class="T-second-red-gift-number">礼品仅剩：XX份</span>
    					</div>					
    					<!--<a href="javascript:;" class="T-second-red-immediately">已兑礼品</a>-->
    					<a href="javascript:;" class="T-second-red-exchange">立即兑换</a>
					</div>
					<!--<a href="javascript:;" class="T-second-red-btn-stop">活动未开始</a>-->
					<a href="javascript:;" class="T-second-red-btn-start">立即登录</a>
				</div>
				<div class="T-second-red-bottom">
					<div class="T-second-red-rule">
						<div class="T-first-red-rule-title">活动规则：</div>
						<div class="T-first-red-rule-content">
							<i>①</i>活动期间，单个用户累计购买指定标的达到指定金额即有机会兑换好礼，礼品数量有限，兑完即止，先兑先得；
						</div>
						<div class="T-first-red-rule-content">
							<i>②</i>活动期间，每位用户仅可兑换两份礼品，每个品类礼品仅可兑换一次；
						</div>
						<div class="T-first-red-rule-content">
							<i>③</i>符合兑奖的用户，请您在2017年11月23日23:59:59前完成兑换，否则兑换礼品资格将自动作废；
						</div>
						<div class="T-first-red-rule-content">
							<i>④</i>平台客服将在活动结束后的5个工作日内与成功兑换礼品的用户取得联系，与您核实收件信息后，安排发放事宜。
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="T-second-bottom-txt">（礼品图片仅供参考，具体以实物为准）</div>
	</div>
	<!--弹窗-->
	<div class="T-second-windows-first windows-hide">
		<!--第一次弹窗-->
		<div class="T-second-windows-box">
			<img src="$!env.getWebURL('resources/micro2.0/images/activity/2017/thanksgiven/bg1.png')" />
			<div class="T-second-windows-put">
				<div class="T-second-windows-title">请填写收货地址（地址填写后不可修改）</div>
				<div class="T-second-windows-name">
					<i>收货人：</i><input type="text" name="" id="" value="" />
				</div>
				<div class="T-second-windows-name">
					<i>手机号码：</i><input type="text" name="" id="" value="" class="phone" />
				</div>
				<div class="T-second-windows-address">
					<i>详细地址：</i><textarea name="" rows="" cols=""></textarea>
				</div>
				<div class="T-second-windows-btn" id="determinefirst">确定</div>
				<div class="T-second-windows-txt">礼品将于活动结束后统一安排发放，请您耐心等待！</div>
			</div>
		</div>
	</div>
	<div class="T-second-windows-second windows-hide">
		<!--第二次弹窗-->
		<div class="T-second-windows-copy">
			<img src="$!env.getWebURL('resources/micro2.0/images/activity/2017/thanksgiven/bg2.png')" />
			<div class="T-second-windows-title-txt">尊敬的用户您好，检测到您已兑换了礼品，<br />但尚未填写收货地址。</div>
			<div class="T-second-windows-put">
				<div class="T-second-windows-title">请填写收货地址（地址填写后不可修改）</div>
				<div class="T-second-windows-name">
					<i>收货人：</i><input type="text" name="" id="" value="" />
				</div>
				<div class="T-second-windows-name">
					<i>手机号码：</i><input type="text" name="" id="" value="" class="phone" />
				</div>
				<div class="T-second-windows-address">
					<i>详细地址：</i><textarea name="" rows="" cols=""></textarea>
				</div>
				<div class="T-second-windows-btn">确定</div>
			</div>
		</div>
	</div>
	<div class="T-second-windows-third windows-hide">
		<!--兑换成功-->
		<div class="T-second-windows-success">
			<div class="T-second-windows-success-title">恭喜您兑换成功！</div>
			<div class="T-second-windows-success-txt">礼品将于活动结束后统一安排发放，请您耐心等待！</div>
			<div class="T-second-windows-btn" id="determinethird">确定</div>
		</div>
	</div>
</body>
#Html("end")