#Html("begin")
#Head("begin")
#Title("币港湾官网_国资系互联网金融服务平台_品听资产_杭商资产_浙大网新_P2P网贷")
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
#LoadJS("resources/micro2.0/scripts/rem")
#LoadCSS("resources/micro2.0/styles/default")
#LoadCSS("resources/micro2.0/styles/static/zanProductDetails/zan_product_details_app")
#Head("end")
<body>
    <input type="hidden" id="APP_ROOT_PATH" value="$!env.getWebURL('')"/>
    <input type="hidden" id="client" value="$!client"/>
    <script>
        function clickZanProduct() {
            var client = $('#client').val();
            var json = '{"appActive" : {"page": "b"}}';
            if(client == "android") {
                toAndroidPage(json);
            }
            if(client == "ios") {
                toiOSPage(json);
            }
        }
    
        function toiOSPage(json) {
        }
    
        function toAndroidPage(json) {
            javascript:coinharbour.toAndroidPage(json);
        }
    </script>
    <div class="zan_app">
			<div class="plan_banner">
				<img class="plan_banner_img" src="$!env.getWebURL('resources/micro2.0/images/static/zanProductDetails/zan_banner.jpg')" />
			</div>
			<div class="zan_app_box">
				<div class="zan_app_title">
					<img class="zan_app_title_img" src="$!env.getWebURL('resources/micro2.0/images/static/zanProductDetails/zan_title.png')" />
				</div>
				<img class="zan_app_icon" src="$!env.getWebURL('resources/micro2.0/images/static/zanProductDetails/zan_icon1.png')"/>
				<div class="zan_app_txt">
					<p>赞分期系列产品是平台根据市场需求推出的一款<br>等额本息产品。</p>
				</div>
			</div>
			<div class="zan_app_box zan_margin">
				<div class="zan_app_title">
					<img class="zan_app_title_img" src="$!env.getWebURL('resources/micro2.0/images/static/zanProductDetails/zan_title2.png')" />
				</div>
				<img class="zan_app_icon" src="$!env.getWebURL('resources/micro2.0/images/static/zanProductDetails/zan_icon2.png')"/>				
				<div class="zan_app_txt">
					<p>等额本息是指用户每月按相等的金额得到回款<br>本息。</p>
				</div>
				<div class="zan_app_line"></div>
				<div class="zan_app_txt zan_color">
					<p>即把借款的本金总额与利息总额相加，然后平均<br>分摊到还款期限的每个月中。</p>
				</div>
			</div>
			<div class="zan_app_box zan_app_bac zan_margin">
				<ul class="zan_app_ul">
					<li class="zan_app_ul_li"><span class="plan_box_zan_ulicon1 icon"></span><i class="plan_box_zan_ultxt1">资金流动性高</i></li>
					<li class="zan_app_ul_li"><span class="plan_box_zan_ulicon2 icon"></span><i class="plan_box_zan_ultxt1">收益较稳</i></li>
					<li class="zan_app_ul_li"><span class="plan_box_zan_ulicon3 icon"></span><i class="plan_box_zan_ultxt1">资金压力小</i></li>
				</ul>
			</div>
			<div class="zan_app_box zan_margin">
				<div class="zan_app_title">
					<img class="zan_app_title_img2" src="$!env.getWebURL('resources/micro2.0/images/static/zanProductDetails/zan_title3.png')" />
				</div>
				<div class="plan_box_bgw_txt">
					<span class="plan_box_bgw_icon icon"></span>
					<p>预期年化为8.5%，期限6个月的赞分期标的，加入10000元；</p>
					<p>采用等额本息的还款方式，每个月可拿到回款约1708.23元。</p>
				</div>
			</div>
			<div class="zan_app_box zan_app_width">
				<ul class="zan_app_table_title">
					<li>回款计划表</li>
					<li class="li_right">单位：元</li>
				</ul>
				<div class="plan_zan_table">
					<div class="plan_zan_tr">
						<span class="plan_zan_td_title_copy">期次</span>
						<span class="plan_zan_td_title">月收本息</span>
						<span class="plan_zan_td_title">月收本金</span>
						<span class="plan_zan_td_title">月收利息</span>
						<span class="plan_zan_td_title zan_txt_box_border">剩余本金</span>
					</div>
					<div class="plan_zan_tr_copy">
						<span class="plan_zan_td_title_copy">1</span>
						<span class="plan_zan_td_title">1708.23</span>
						<span class="plan_zan_td_title">1637.4</span>
						<span class="plan_zan_td_title">70.83</span>
						<span class="plan_zan_td_title zan_txt_box_border">8362.6</span>
					</div>
					<div class="plan_zan_tr_copy">
						<span class="plan_zan_td_title_copy">2</span>
						<span class="plan_zan_td_title">1708.23</span>
						<span class="plan_zan_td_title">1648.99</span>
						<span class="plan_zan_td_title">59.24</span>
						<span class="plan_zan_td_title zan_txt_box_border">6713.61</span>
					</div>
					<div class="plan_zan_tr_copy">
						<span class="plan_zan_td_title_copy">3</span>
						<span class="plan_zan_td_title">1708.23</span>
						<span class="plan_zan_td_title">1660.67</span>
						<span class="plan_zan_td_title">47.56</span>
						<span class="plan_zan_td_title zan_txt_box_border">5052.94</span>
					</div>
					<div class="plan_zan_tr_copy">
						<span class="plan_zan_td_title_copy">4</span>
						<span class="plan_zan_td_title">1708.23</span>
						<span class="plan_zan_td_title">1672.44</span>
						<span class="plan_zan_td_title">35.79</span>
						<span class="plan_zan_td_title zan_txt_box_border">3380.50</span>
					</div>
					<div class="plan_zan_tr_copy">
						<span class="plan_zan_td_title_copy">5</span>
						<span class="plan_zan_td_title">1708.23</span>
						<span class="plan_zan_td_title">1684.49</span>
						<span class="plan_zan_td_title">23.95</span>
						<span class="plan_zan_td_title zan_txt_box_border">1696.22</span>
					</div>
					<div class="plan_zan_tr_copy">
						<span class="plan_zan_td_title_copy">6</span>
						<span class="plan_zan_td_title">1708.23</span>
						<span class="plan_zan_td_title">1696.57</span>
						<span class="plan_zan_td_title">12.01</span>
						<span class="plan_zan_td_title zan_txt_box_border">0.00</span>
					</div>
					<div class="plan_zan_tr_copy  zan_txt_box_border">
						<span class="plan_zan_td_title_copy">合计：</span>
						<span class="plan_zan_td_title_color">10249.38</span>
						<span class="plan_zan_td_title_color">10000</span>
						<span class="plan_zan_td_title_color">249.38</span>
						<span class="plan_zan_td_title zan_txt_box_border"></span>
					</div>
				</div>
				<div class="plan_zan_prompt">实际以加入的产品为准，上表计算可能存在误差</div>
			</div>
			<div class="plan_box">
				<div class="plan_zan_bottom">如上图所示，等额本息还款方式每月拿到的本息和是一样的，本金逐月递增，利息逐月递减。</div>				
			</div>
		</div>
</body>
#Html("end")