
.loading_banner{
    height: 410px;
    background: url(../../images/red_pack/increase_Onload_banner.jpg) no-repeat center;
}
.loading_img{
    height: 250px;
    background: url(../../images/red_pack/increase_Onload_ico.jpg) no-repeat center;
    background-color: #fff;
    border-top: 20px solid #f5f5f5;
}
.loading_content{
    background: #f5f5f5;
    padding: 50px 0 20px;
    border-bottom: solid 50px #fff;
}
.container{
    width: 1080px;
    margin: auto;
}
.row{
    margin-right: -50px;
    margin-left: -50px;
    margin-bottom: 30px;
}
.col-6{
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 50px;
}
.loading_content h4{
    font-size: 18px;
    font-weight:600;
    color: #FF6633;
    line-height: 20px;
    margin-bottom: 20px;
}
.loading_content p{
    color: #999;
    font-size: 16px;
    line-height: 20px;
}
.clearfix{
    height: 0;
    clear: both;
}