#Html("begin")
#Head("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadCSS("resources/micro2.0/styles/activity/default")
#LoadCSS("resources/micro2.0/styles/activity/518_activity")
#LoadJS("resources/micro2.0/scripts/common/common")
#LoadJS("resources/micro2.0/scripts/activity/scale")
#LoadJS("resources/micro2.0/scripts/activity/518_activity")
#WeChatShare()
#Head("end")
<body>
<input type="hidden" value="$!env.getWebURL('')" id="APP_ROOT_PATH" />
<input type="hidden" class="term"/>
<header class="banner">
	<img class="banner_img" src="$!env.getWebURL('')/resources/micro2.0/images/activity/518/header.jpg" alt="">
</header>
<div class="mian_wp">
	<div class="small_wp">
		<div class="secl_wp">
			<div class="main_secl_wp">
				<div class="secl_ft">1、选择投资期限</div>
				<div class="line_secl">
					<div class="line_xuze" term="12">
						<div class="seclet">
							<img src="$!env.getWebURL('')/resources/micro2.0/images/activity/518/selec_arrow.png" alt="" class="no_choose_img">
						</div>
						<div class="seclet_btn">365天</div>
					</div>
					<div class="line_xuze" term="6">
						<div class="seclet">
							<img src="$!env.getWebURL('')/resources/micro2.0/images/activity/518/selec_arrow.png" alt="" class="no_choose_img">
						</div>
						<div class="seclet_btn">180天</div>
					</div>
				</div>
				<div class="line_secl">
					<div class="line_xuze" term="3">
						<div class="seclet">
							<img src="$!env.getWebURL('')/resources/micro2.0/images/activity/518/selec_arrow.png" alt="" class="no_choose_img">
						</div>
						<div class="seclet_btn">90天</div>
					</div>
					<div class="line_xuze" term="1">
						<div class="seclet">
							<img src="$!env.getWebURL('')/resources/micro2.0/images/activity/518/selec_arrow.png" alt="" class="no_choose_img">
						</div>
						<div class="seclet_btn">30天</div>
					</div>
				</div>
				<div class="secl_ft">2、计划投资金额</div>
				<input class="sec_input amount_text" type="tel" name="amount" maxLength="11" placeholder="输入大于5000的金额">
			</div>
		</div>
		<div class="pack">
			<div class="pack_info show_red_packet"></div>
			<div class="pack_btn draw_red_packet"></div>
			<div class="pack_bottom_info">
				#if($!count)
					当前还有<span class="ft_color">$count</span>次领取机会
				#else
					当前还有<span class="ft_color">5</span>次领取机会
				#end
			</div>
		</div>
	</div>
</div>
<footer class="foor_info">
	<ul class="foor_ul">
		<li class="foor_li">活动规则：</li>
		<li class="foor_li">1、活动时间：<span class="list_color">2016年5月18日-2016年5月20日</span>；</li>
		<li class="foor_li">2、红包有效期：<span class="list_color">2016年5月31日止</span>；</li>
		<li class="foor_li">3、每个用户有<span class="list_color">5次</span>红包领取机会；</li>
		<li class="foor_li">4、此次活动的红包与平台<span class="list_color">其他活动不叠加使用</span>；</li>
		<li class="foor_li">5、红包可在投资时抵扣本金；</li>
		<li class="foor_li">6、红包立即到账，可在“我的资产—我的红包”中查看；</li>
		<li class="foor_li">7、本次活动的最终解释权归币港湾理财所有。</li>
	</ul>
	<div class="foot_center_ft">如有疑问可致电币港湾客服：<a class="phone" href="tel:400-806-1230">400-806-1230</a></div>	
</footer>

<!-- 弹窗 -->
<div class="dialog_alert" style="display:none;">
	<div class="alert_img">
		<div class="alert_info">
			<div class="alert_title">红包领取成功</div>
			<div class="alert_title lin_tm">当前还有<span class="alert_ft_color">$count</span>次领取机会</div>
		</div>
		<div class="btn btn1 continue_btn">继续领红包</div>
		<div class="btn btn2 use_red_packet">使用红包</div>
	</div>
</div>

</body>
#Html("end")