#Html("begin")
#Head("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadCSS("resources/micro2.0/styles/activity/default")
#LoadCSS("resources/micro2.0/styles/activity/528_actity")
#LoadJS("resources/micro2.0/scripts/common/common")
#LoadJS("resources/micro2.0/scripts/activity/scale")
#LoadJS("resources/micro2.0/scripts/activity/528_activity")
#WeChatShare()
#Head("end")
<body>
<input type="hidden" value="$!env.getWebURL('')" id="APP_ROOT_PATH" />
<input type="hidden" value="$!product.id" id="id" name="id"/>
<input type="hidden" value="$!product.name" id="name" name="name"/>
<input type="hidden" value="$!product.baseRate" id="rate" name="rate"/>
<input type="hidden" value="$!product.term" id="term" name="term"/>
<input type="hidden" value="$!product.minInvestAmount" id="minInvestAmount" name="minInvestAmount"/>
<input type="hidden" id="mobileToken" name="mobileToken" value="$!mobileToken">
<div class="header">
	<img class="header_img" src="$!env.getWebURL('')/resources/micro2.0/images/activity/528/header.jpg" alt="">
</div>
<div class="yellow_wp">
	<div class="piaodai">注册立送318元红包</div>
	<div class="pack">
		<div class="pack_number">318<span class="small_ft">元</span></div>
		<div class="pack_bottom">红包在投资(新手标除外)时使用</div>
	</div>
	<div class="btn red_packet_btn">立即领取</div>
	<div class="piaodai">12.88%专享高收益</div>
	<div class="pack_two_wp">
		<div class="ft1">7天快速收益</div>
		<div class="ft2">12.88%</div>
		<div class="ft3">年化收益</div>
		<div class="ft4">仅限首次加入 限购2万</div>
	</div>
	<div class="btn btn_bottom_none new_buyer_btn">立即投资</div>
</div>
<div class="yellow_two">
	<div class="foor_info">
		<ul class="foor_ul">
			<li class="foor_li">活动规则：</li>
			<li class="foor_li">1、活动时间：开始时间为2016年6月1日起，具体结束时间以活动公告为准；</li>
			<li class="foor_li">2、活动对象：币港湾新用户（各客户端均可参与）；</li>
			<li class="foor_li">3、红包有效期为30天，以领取日开始计算；</li>
			<li class="foor_li">4、红包在注册完成后立即到账，可在“我的账户—我的红包”中查看；</li>
			<li class="foor_li">5、新手标仅限未投资用户参与，限购一次限额2万元。</li>
		</ul>
	</div>
	<ul class="ground_ul">
		<li class="ground_li">
			<div class="li_left_img left_img1"></div>
			<div class="img_info">
				<div class="info_title">国资背景</div>
				<div class="info_main">杭商资产与浙大网新联合创办</div>
			</div>
		</li>
		<li class="ground_li">
			<div class="li_left_img left_img2"></div>
			<div class="img_info">
				<div class="info_title">资金托管</div>
				<div class="info_main">宝付支付 联合托管</div>
			</div>
		</li>
		<li class="ground_li">
			<div class="li_left_img left_img3"></div>
			<div class="img_info">
				<div class="info_title">安全透明</div>
				<div class="info_main">银行级信息安全平台数据透明</div>
			</div>
		</li>
		<li class="ground_li">
			<div class="li_left_img left_img4"></div>
			<div class="img_info">
				<div class="info_title">灵活可靠</div>
				<div class="info_main">百元起投次日起息</div>
			</div>
		</li>
	</ul>
	<div class="foor_center">本次活动的最终解释权归币港湾所有。</div>
	<div class="foor_center">如有疑问可致电币港湾客服：<a href="tel:400-806-1230">400-806-1230</a></div>
</div>
</body>
#Html("end")