#Html("begin")
#Head("begin", "币港湾平台活动,币港湾,币港湾官网", "关注币港湾,活动不停歇!币港湾官网为您提供互联网金融服务，是优质的互联网金融服务平台。")
#Title("周周乐【币港湾官网】")
#LoadJS("/resources/micro2.0/scripts/activity/six")
#LoadCSS("/resources/micro2.0/styles/activity/default")
#LoadCSS("/resources/micro2.0/styles/activity/weekhay")
#WeChatShare()
#Head("end")
<body class="body01">
	<div class="barrage_banner">
		<img src="$!env.getWebURL('')/resources/micro2.0/images/activity/weekhay/barrage_banner.jpg" class="barrage_banner_img"/>
	</div>
	<div class="barrage_main">
		<div class="barrage">
			<img src="$!env.getWebURL('')/resources/micro2.0/images/activity/weekhay/bg1.png"/>
			<div id="div1">
    			<ul>
    				<li><img src="$!env.getWebURL('')/resources/micro2.0/images/activity/weekhay/barrage1.png"/></li>
    				<li><img src="$!env.getWebURL('')/resources/micro2.0/images/activity/weekhay/barrage2.png"/></li>
    				<li><img src="$!env.getWebURL('')/resources/micro2.0/images/activity/weekhay/barrage4.png"/></li>
    			</ul>			
			</div>
		</div>
		<div class="barrage_main_btn">
			<img src="$!env.getWebURL('')/resources/micro2.0/images/activity/weekhay/barrage3.png" class="barrage_img"/>
			<div class="title">周四见分晓</div>
			<div class="txt">币港湾每周活动，敬请锁定周四！</div>
		</div>
	</div>
	<script>
	window.onload=function(){
    	var odiv = document.getElementById('div1');
    	var oul = odiv.getElementsByTagName('ul')[0];
    	var ali = oul.getElementsByTagName('li');
    	var spa = -2;				
    	oul.innerHTML=oul.innerHTML+oul.innerHTML;
    	oul.style.width=ali[0].offsetWidth*ali.length+'px';
    	function move(){
    		if(oul.offsetLeft<-oul.offsetWidth/2){
    			oul.style.left='0';
    		}
    		if(oul.offsetLeft>0){
    			oul.style.left=-oul.offsetWidth/2+'px'
    		}
    			oul.style.left=oul.offsetLeft+spa+'px';
    		}
    		var timer = setInterval(move,30)	
	}
	</script>
</body>
#Html("end")