<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinting.business.dao.BsAppMessageMapper" >
  <resultMap id="BaseResultMap" type="com.pinting.business.model.BsAppMessage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="release_part" property="releasePart" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="push_char" property="pushChar" jdbcType="VARCHAR" />
    <result column="push_abstract" property="pushAbstract" jdbcType="VARCHAR" />
    <result column="push_type" property="pushType" jdbcType="INTEGER" />
    <result column="app_page" property="appPage" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="is_send" property="isSend" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="push_time" property="pushTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, release_part, name, title, push_char, push_abstract, push_type, app_page, content, 
    is_send, create_time, push_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinting.business.model.BsAppMessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bs_app_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bs_app_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bs_app_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinting.business.model.BsAppMessageExample" >
    delete from bs_app_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinting.business.model.BsAppMessage" >
    insert into bs_app_message (id, release_part, name, 
      title, push_char, push_abstract, 
      push_type, app_page, content, 
      is_send, create_time, push_time
      )
    values (#{id,jdbcType=INTEGER}, #{releasePart,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{pushChar,jdbcType=VARCHAR}, #{pushAbstract,jdbcType=VARCHAR}, 
      #{pushType,jdbcType=INTEGER}, #{appPage,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{isSend,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{pushTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinting.business.model.BsAppMessage" keyProperty="id" useGeneratedKeys="true">
    insert into bs_app_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="releasePart != null" >
        release_part,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="pushChar != null" >
        push_char,
      </if>
      <if test="pushAbstract != null" >
        push_abstract,
      </if>
      <if test="pushType != null" >
        push_type,
      </if>
      <if test="appPage != null" >
        app_page,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="isSend != null" >
        is_send,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="pushTime != null" >
        push_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="releasePart != null" >
        #{releasePart,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="pushChar != null" >
        #{pushChar,jdbcType=VARCHAR},
      </if>
      <if test="pushAbstract != null" >
        #{pushAbstract,jdbcType=VARCHAR},
      </if>
      <if test="pushType != null" >
        #{pushType,jdbcType=INTEGER},
      </if>
      <if test="appPage != null" >
        #{appPage,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="isSend != null" >
        #{isSend,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pushTime != null" >
        #{pushTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinting.business.model.BsAppMessageExample" resultType="java.lang.Integer" >
    select count(*) from bs_app_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bs_app_message
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.releasePart != null" >
        release_part = #{record.releasePart,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.pushChar != null" >
        push_char = #{record.pushChar,jdbcType=VARCHAR},
      </if>
      <if test="record.pushAbstract != null" >
        push_abstract = #{record.pushAbstract,jdbcType=VARCHAR},
      </if>
      <if test="record.pushType != null" >
        push_type = #{record.pushType,jdbcType=INTEGER},
      </if>
      <if test="record.appPage != null" >
        app_page = #{record.appPage,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.isSend != null" >
        is_send = #{record.isSend,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pushTime != null" >
        push_time = #{record.pushTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bs_app_message
    set id = #{record.id,jdbcType=INTEGER},
      release_part = #{record.releasePart,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      push_char = #{record.pushChar,jdbcType=VARCHAR},
      push_abstract = #{record.pushAbstract,jdbcType=VARCHAR},
      push_type = #{record.pushType,jdbcType=INTEGER},
      app_page = #{record.appPage,jdbcType=INTEGER},
      content = #{record.content,jdbcType=VARCHAR},
      is_send = #{record.isSend,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      push_time = #{record.pushTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinting.business.model.BsAppMessage" >
    update bs_app_message
    <set >
      <if test="releasePart != null" >
        release_part = #{releasePart,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="pushChar != null" >
        push_char = #{pushChar,jdbcType=VARCHAR},
      </if>
      <if test="pushAbstract != null" >
        push_abstract = #{pushAbstract,jdbcType=VARCHAR},
      </if>
      <if test="pushType != null" >
        push_type = #{pushType,jdbcType=INTEGER},
      </if>
      <if test="appPage != null" >
        app_page = #{appPage,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="isSend != null" >
        is_send = #{isSend,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pushTime != null" >
        push_time = #{pushTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinting.business.model.BsAppMessage" >
    update bs_app_message
    set release_part = #{releasePart,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      push_char = #{pushChar,jdbcType=VARCHAR},
      push_abstract = #{pushAbstract,jdbcType=VARCHAR},
      push_type = #{pushType,jdbcType=INTEGER},
      app_page = #{appPage,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      is_send = #{isSend,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      push_time = #{pushTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
   <!-- 
		- 查询所有app通知列表
		- @auth yanwl
		- @date 2016-02-23
	 -->
	<select id="selectAppMessage" parameterType="com.pinting.business.model.BsAppMessage" resultMap="BaseResultMap">
		select 
	    <include refid="Base_Column_List" />
	    from bs_app_message am
	    where 1=1
	    <if test="name != null">
	    	and am.name like concat(concat('%',#{name}),'%')
	    </if>
	    <if test="title != null">
	    	and am.title like concat(concat('%',#{title}),'%')
	    </if>
	    <if test="releasePart != null">
	    	and am.release_part = #{releasePart}
	    </if>
	    <if test="isSend != null and isSend > 0">
	    	and am.is_send = #{isSend}
	    </if>
	   	order by am.is_send desc,am.create_time desc
	   	<include refid="sql-global.pagination"/>
	</select>
   
   <!-- 
		- 查询所有app通知总数
		- @auth yanwl
		- @date 2016-02-23
	 -->
	<select id="selectAllAppNoticeCount" parameterType="com.pinting.business.model.BsAppMessage" resultType="java.lang.Integer">
		select count(*) from bs_app_message am
	    where 1=1
	    <if test="name != null">
	    	and am.name like concat(concat('%',#{name}),'%')
	    </if>
	    <if test="title != null">
	    	and am.title like concat(concat('%',#{title}),'%')
	    </if>
	    <if test="releasePart != null">
	    	and am.release_part = #{releasePart}
	    </if>
	    <if test="isSend != null and isSend > 0">
	    	and am.is_send = #{isSend}
	    </if>
	</select>
   
   
   <!-- 
		- 根据不同条件查询app通知列表
		- @auth yanwl
		- @date 2016-02-23
	 -->
	<select id="selectNoticeByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
		select 
	    <include refid="Base_Column_List" />
	    from bs_app_message am
	    where 1=1
	    <if test="name != null">
	    	and am.name = #{name}
	    </if>
	    <if test="isSend != null">
	    	and am.is_send = #{isSend}
	    </if>
	</select>
	
  <select id="findMessageList" resultMap="BaseResultMap">
  	SELECT
		m.id,m.title,m.push_type,m.app_page,m.content,m.push_abstract,p.create_time push_time
	FROM
		bs_app_message m,
		bs_app_pushed_message p
	WHERE
		p.user_id = #{userId}
	AND p.message_id = m.id
	AND m.is_send = 1
	ORDER BY
		p.create_time DESC
	LIMIT #{start},#{position}
  </select>
  
  <select id="findMessageListCount" resultType="java.lang.Integer">
  	SELECT
		count(*)
	FROM
		bs_app_message m,
		bs_app_pushed_message p
	WHERE
		p.user_id = #{userId}
	AND p.message_id = m.id
	AND m.is_send = 1
  </select>
</mapper>