<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinting.business.dao.BsCheckErrorJnlMapper" >
  <resultMap id="BaseResultMap" type="com.pinting.business.model.BsCheckErrorJnl" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="trans_jnl_id" property="transJnlId" jdbcType="INTEGER" />
    <result column="check_jnl_id" property="checkJnlId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="sys_status" property="sysStatus" jdbcType="INTEGER" />
    <result column="check_file_status" property="checkFileStatus" jdbcType="INTEGER" />
    <result column="is_deal" property="isDeal" jdbcType="INTEGER" />
    <result column="deal_user_id" property="dealUserId" jdbcType="INTEGER" />
    <result column="check_file_id" property="checkFileId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="deal_time" property="dealTime" jdbcType="TIMESTAMP" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, trans_jnl_id, check_jnl_id, user_id, sys_status, check_file_status, is_deal, 
    deal_user_id, check_file_id, create_time, deal_time, info, note
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinting.business.model.BsCheckErrorJnlExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bs_check_error_jnl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bs_check_error_jnl
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bs_check_error_jnl
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinting.business.model.BsCheckErrorJnlExample" >
    delete from bs_check_error_jnl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinting.business.model.BsCheckErrorJnl" >
    insert into bs_check_error_jnl (id, trans_jnl_id, check_jnl_id, 
      user_id, sys_status, check_file_status, 
      is_deal, deal_user_id, check_file_id, 
      create_time, deal_time, info, 
      note)
    values (#{id,jdbcType=INTEGER}, #{transJnlId,jdbcType=INTEGER}, #{checkJnlId,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{sysStatus,jdbcType=INTEGER}, #{checkFileStatus,jdbcType=INTEGER}, 
      #{isDeal,jdbcType=INTEGER}, #{dealUserId,jdbcType=INTEGER}, #{checkFileId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{dealTime,jdbcType=TIMESTAMP}, #{info,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinting.business.model.BsCheckErrorJnl" >
    insert into bs_check_error_jnl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="transJnlId != null" >
        trans_jnl_id,
      </if>
      <if test="checkJnlId != null" >
        check_jnl_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="sysStatus != null" >
        sys_status,
      </if>
      <if test="checkFileStatus != null" >
        check_file_status,
      </if>
      <if test="isDeal != null" >
        is_deal,
      </if>
      <if test="dealUserId != null" >
        deal_user_id,
      </if>
      <if test="checkFileId != null" >
        check_file_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="dealTime != null" >
        deal_time,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="note != null" >
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="transJnlId != null" >
        #{transJnlId,jdbcType=INTEGER},
      </if>
      <if test="checkJnlId != null" >
        #{checkJnlId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="sysStatus != null" >
        #{sysStatus,jdbcType=INTEGER},
      </if>
      <if test="checkFileStatus != null" >
        #{checkFileStatus,jdbcType=INTEGER},
      </if>
      <if test="isDeal != null" >
        #{isDeal,jdbcType=INTEGER},
      </if>
      <if test="dealUserId != null" >
        #{dealUserId,jdbcType=INTEGER},
      </if>
      <if test="checkFileId != null" >
        #{checkFileId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealTime != null" >
        #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinting.business.model.BsCheckErrorJnlExample" resultType="java.lang.Integer" >
    select count(*) from bs_check_error_jnl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bs_check_error_jnl
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.transJnlId != null" >
        trans_jnl_id = #{record.transJnlId,jdbcType=INTEGER},
      </if>
      <if test="record.checkJnlId != null" >
        check_jnl_id = #{record.checkJnlId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.sysStatus != null" >
        sys_status = #{record.sysStatus,jdbcType=INTEGER},
      </if>
      <if test="record.checkFileStatus != null" >
        check_file_status = #{record.checkFileStatus,jdbcType=INTEGER},
      </if>
      <if test="record.isDeal != null" >
        is_deal = #{record.isDeal,jdbcType=INTEGER},
      </if>
      <if test="record.dealUserId != null" >
        deal_user_id = #{record.dealUserId,jdbcType=INTEGER},
      </if>
      <if test="record.checkFileId != null" >
        check_file_id = #{record.checkFileId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dealTime != null" >
        deal_time = #{record.dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.info != null" >
        info = #{record.info,jdbcType=VARCHAR},
      </if>
      <if test="record.note != null" >
        note = #{record.note,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bs_check_error_jnl
    set id = #{record.id,jdbcType=INTEGER},
      trans_jnl_id = #{record.transJnlId,jdbcType=INTEGER},
      check_jnl_id = #{record.checkJnlId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      sys_status = #{record.sysStatus,jdbcType=INTEGER},
      check_file_status = #{record.checkFileStatus,jdbcType=INTEGER},
      is_deal = #{record.isDeal,jdbcType=INTEGER},
      deal_user_id = #{record.dealUserId,jdbcType=INTEGER},
      check_file_id = #{record.checkFileId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      deal_time = #{record.dealTime,jdbcType=TIMESTAMP},
      info = #{record.info,jdbcType=VARCHAR},
      note = #{record.note,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinting.business.model.BsCheckErrorJnl" >
    update bs_check_error_jnl
    <set >
      <if test="transJnlId != null" >
        trans_jnl_id = #{transJnlId,jdbcType=INTEGER},
      </if>
      <if test="checkJnlId != null" >
        check_jnl_id = #{checkJnlId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="sysStatus != null" >
        sys_status = #{sysStatus,jdbcType=INTEGER},
      </if>
      <if test="checkFileStatus != null" >
        check_file_status = #{checkFileStatus,jdbcType=INTEGER},
      </if>
      <if test="isDeal != null" >
        is_deal = #{isDeal,jdbcType=INTEGER},
      </if>
      <if test="dealUserId != null" >
        deal_user_id = #{dealUserId,jdbcType=INTEGER},
      </if>
      <if test="checkFileId != null" >
        check_file_id = #{checkFileId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealTime != null" >
        deal_time = #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinting.business.model.BsCheckErrorJnl" >
    update bs_check_error_jnl
    set trans_jnl_id = #{transJnlId,jdbcType=INTEGER},
      check_jnl_id = #{checkJnlId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      sys_status = #{sysStatus,jdbcType=INTEGER},
      check_file_status = #{checkFileStatus,jdbcType=INTEGER},
      is_deal = #{isDeal,jdbcType=INTEGER},
      deal_user_id = #{dealUserId,jdbcType=INTEGER},
      check_file_id = #{checkFileId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      deal_time = #{dealTime,jdbcType=TIMESTAMP},
      info = #{info,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <resultMap type="com.pinting.business.model.vo.BsCheckErrorJnlVO" id="VoReusltMap" extends="BaseResultMap">
  		<result column="bsUserName" property="bsUserName" jdbcType="VARCHAR" />
  		<result column="mUserName" property="mUserName" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="selectCheckErrorJnlListPageInfo" parameterType="com.pinting.business.model.vo.BsCheckErrorJnlVO" resultMap="VoReusltMap">
  		select 
			c.id,
			c.trans_jnl_id,
			c.check_jnl_id,
			c.user_id,
			bu.user_name bsUserName,
			c.sys_status,
			c.check_file_status,
			c.is_deal,
			mu.`name` mUserName,
			c.deal_user_id,
			c.check_file_id,
			c.deal_time,
			c.info,
			c.note
			
		from bs_check_error_jnl c 
		LEFT JOIN m_user mu on c.deal_user_id = mu.id 
		LEFT JOIN bs_user bu on c.user_id = bu.id

  		<where>
  			<if test="beginTime != null and overTime != null and beginTime != '' and overTime!= '' ">
				and c.create_time between #{beginTime} and #{overTime}
			</if>
  		</where>
  		order by c.is_deal
  		<include refid="sql-global.pagination"/>
  	
  </select>
</mapper>