<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinting.business.dao.BsCustomerReceiveMoneyMapper" >
  <resultMap id="BaseResultMap" type="com.pinting.business.model.BsCustomerReceiveMoney" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="card_no" property="cardNo" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="bank_no" property="bankNo" jdbcType="VARCHAR" />
    <result column="amount_base" property="amountBase" jdbcType="DOUBLE" />
    <result column="amount_interest" property="amountInterest" jdbcType="DOUBLE" />
    <result column="success_time" property="successTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, card_no, customer_name, bank_no, amount_base, amount_interest, success_time, 
    status, order_no, product_code, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinting.business.model.BsCustomerReceiveMoneyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bs_customer_receive_money
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bs_customer_receive_money
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bs_customer_receive_money
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinting.business.model.BsCustomerReceiveMoneyExample" >
    delete from bs_customer_receive_money
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinting.business.model.BsCustomerReceiveMoney" >
    insert into bs_customer_receive_money (id, card_no, customer_name, 
      bank_no, amount_base, amount_interest, 
      success_time, status, order_no, 
      product_code, create_time)
    values (#{id,jdbcType=INTEGER}, #{cardNo,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR}, 
      #{bankNo,jdbcType=VARCHAR}, #{amountBase,jdbcType=DOUBLE}, #{amountInterest,jdbcType=DOUBLE}, 
      #{successTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, 
      #{productCode,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pinting.business.model.BsCustomerReceiveMoney" >
    insert into bs_customer_receive_money
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cardNo != null" >
        card_no,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="bankNo != null" >
        bank_no,
      </if>
      <if test="amountBase != null" >
        amount_base,
      </if>
      <if test="amountInterest != null" >
        amount_interest,
      </if>
      <if test="successTime != null" >
        success_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="productCode != null" >
        product_code,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cardNo != null" >
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="bankNo != null" >
        #{bankNo,jdbcType=VARCHAR},
      </if>
      <if test="amountBase != null" >
        #{amountBase,jdbcType=DOUBLE},
      </if>
      <if test="amountInterest != null" >
        #{amountInterest,jdbcType=DOUBLE},
      </if>
      <if test="successTime != null" >
        #{successTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinting.business.model.BsCustomerReceiveMoneyExample" resultType="java.lang.Integer" >
    select count(*) from bs_customer_receive_money
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bs_customer_receive_money
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cardNo != null" >
        card_no = #{record.cardNo,jdbcType=VARCHAR},
      </if>
      <if test="record.customerName != null" >
        customer_name = #{record.customerName,jdbcType=VARCHAR},
      </if>
      <if test="record.bankNo != null" >
        bank_no = #{record.bankNo,jdbcType=VARCHAR},
      </if>
      <if test="record.amountBase != null" >
        amount_base = #{record.amountBase,jdbcType=DOUBLE},
      </if>
      <if test="record.amountInterest != null" >
        amount_interest = #{record.amountInterest,jdbcType=DOUBLE},
      </if>
      <if test="record.successTime != null" >
        success_time = #{record.successTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.orderNo != null" >
        order_no = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.productCode != null" >
        product_code = #{record.productCode,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bs_customer_receive_money
    set id = #{record.id,jdbcType=INTEGER},
      card_no = #{record.cardNo,jdbcType=VARCHAR},
      customer_name = #{record.customerName,jdbcType=VARCHAR},
      bank_no = #{record.bankNo,jdbcType=VARCHAR},
      amount_base = #{record.amountBase,jdbcType=DOUBLE},
      amount_interest = #{record.amountInterest,jdbcType=DOUBLE},
      success_time = #{record.successTime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER},
      order_no = #{record.orderNo,jdbcType=VARCHAR},
      product_code = #{record.productCode,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinting.business.model.BsCustomerReceiveMoney" >
    update bs_customer_receive_money
    <set >
      <if test="cardNo != null" >
        card_no = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="bankNo != null" >
        bank_no = #{bankNo,jdbcType=VARCHAR},
      </if>
      <if test="amountBase != null" >
        amount_base = #{amountBase,jdbcType=DOUBLE},
      </if>
      <if test="amountInterest != null" >
        amount_interest = #{amountInterest,jdbcType=DOUBLE},
      </if>
      <if test="successTime != null" >
        success_time = #{successTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinting.business.model.BsCustomerReceiveMoney" >
    update bs_customer_receive_money
    set card_no = #{cardNo,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      bank_no = #{bankNo,jdbcType=VARCHAR},
      amount_base = #{amountBase,jdbcType=DOUBLE},
      amount_interest = #{amountInterest,jdbcType=DOUBLE},
      success_time = #{successTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=VARCHAR},
      product_code = #{productCode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>