<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinting.business.dao.BsRepayJnlMapper" >
  <resultMap id="BaseResultMap" type="com.pinting.business.model.BsRepayJnl" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
    <result column="borrow_no" property="borrowNo" jdbcType="VARCHAR" />
    <result column="repayer_name" property="repayerName" jdbcType="VARCHAR" />
    <result column="repayer_id_card" property="repayerIdCard" jdbcType="VARCHAR" />
    <result column="repay_time" property="repayTime" jdbcType="TIMESTAMP" />
    <result column="repay_principal" property="repayPrincipal" jdbcType="DOUBLE" />
    <result column="repay_trans_no" property="repayTransNo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, customer_id, borrow_no, repayer_name, repayer_id_card, repay_time, repay_principal, 
    repay_trans_no, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinting.business.model.BsRepayJnlExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bs_repay_jnl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bs_repay_jnl
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bs_repay_jnl
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinting.business.model.BsRepayJnlExample" >
    delete from bs_repay_jnl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinting.business.model.BsRepayJnl" >
    insert into bs_repay_jnl (id, customer_id, borrow_no, 
      repayer_name, repayer_id_card, repay_time, 
      repay_principal, repay_trans_no, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{customerId,jdbcType=VARCHAR}, #{borrowNo,jdbcType=VARCHAR}, 
      #{repayerName,jdbcType=VARCHAR}, #{repayerIdCard,jdbcType=VARCHAR}, #{repayTime,jdbcType=TIMESTAMP}, 
      #{repayPrincipal,jdbcType=DOUBLE}, #{repayTransNo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pinting.business.model.BsRepayJnl" >
    insert into bs_repay_jnl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="borrowNo != null" >
        borrow_no,
      </if>
      <if test="repayerName != null" >
        repayer_name,
      </if>
      <if test="repayerIdCard != null" >
        repayer_id_card,
      </if>
      <if test="repayTime != null" >
        repay_time,
      </if>
      <if test="repayPrincipal != null" >
        repay_principal,
      </if>
      <if test="repayTransNo != null" >
        repay_trans_no,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="borrowNo != null" >
        #{borrowNo,jdbcType=VARCHAR},
      </if>
      <if test="repayerName != null" >
        #{repayerName,jdbcType=VARCHAR},
      </if>
      <if test="repayerIdCard != null" >
        #{repayerIdCard,jdbcType=VARCHAR},
      </if>
      <if test="repayTime != null" >
        #{repayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="repayPrincipal != null" >
        #{repayPrincipal,jdbcType=DOUBLE},
      </if>
      <if test="repayTransNo != null" >
        #{repayTransNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinting.business.model.BsRepayJnlExample" resultType="java.lang.Integer" >
    select count(*) from bs_repay_jnl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bs_repay_jnl
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.customerId != null" >
        customer_id = #{record.customerId,jdbcType=VARCHAR},
      </if>
      <if test="record.borrowNo != null" >
        borrow_no = #{record.borrowNo,jdbcType=VARCHAR},
      </if>
      <if test="record.repayerName != null" >
        repayer_name = #{record.repayerName,jdbcType=VARCHAR},
      </if>
      <if test="record.repayerIdCard != null" >
        repayer_id_card = #{record.repayerIdCard,jdbcType=VARCHAR},
      </if>
      <if test="record.repayTime != null" >
        repay_time = #{record.repayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.repayPrincipal != null" >
        repay_principal = #{record.repayPrincipal,jdbcType=DOUBLE},
      </if>
      <if test="record.repayTransNo != null" >
        repay_trans_no = #{record.repayTransNo,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bs_repay_jnl
    set id = #{record.id,jdbcType=INTEGER},
      customer_id = #{record.customerId,jdbcType=VARCHAR},
      borrow_no = #{record.borrowNo,jdbcType=VARCHAR},
      repayer_name = #{record.repayerName,jdbcType=VARCHAR},
      repayer_id_card = #{record.repayerIdCard,jdbcType=VARCHAR},
      repay_time = #{record.repayTime,jdbcType=TIMESTAMP},
      repay_principal = #{record.repayPrincipal,jdbcType=DOUBLE},
      repay_trans_no = #{record.repayTransNo,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinting.business.model.BsRepayJnl" >
    update bs_repay_jnl
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="borrowNo != null" >
        borrow_no = #{borrowNo,jdbcType=VARCHAR},
      </if>
      <if test="repayerName != null" >
        repayer_name = #{repayerName,jdbcType=VARCHAR},
      </if>
      <if test="repayerIdCard != null" >
        repayer_id_card = #{repayerIdCard,jdbcType=VARCHAR},
      </if>
      <if test="repayTime != null" >
        repay_time = #{repayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="repayPrincipal != null" >
        repay_principal = #{repayPrincipal,jdbcType=DOUBLE},
      </if>
      <if test="repayTransNo != null" >
        repay_trans_no = #{repayTransNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinting.business.model.BsRepayJnl" >
    update bs_repay_jnl
    set customer_id = #{customerId,jdbcType=VARCHAR},
      borrow_no = #{borrowNo,jdbcType=VARCHAR},
      repayer_name = #{repayerName,jdbcType=VARCHAR},
      repayer_id_card = #{repayerIdCard,jdbcType=VARCHAR},
      repay_time = #{repayTime,jdbcType=TIMESTAMP},
      repay_principal = #{repayPrincipal,jdbcType=DOUBLE},
      repay_trans_no = #{repayTransNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>