<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinting.business.dao.BsSmsRecordMapper" >
  <resultMap id="BaseResultMap" type="com.pinting.business.model.BsSmsRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="last_content" property="lastContent" jdbcType="VARCHAR" />
    <result column="last_send_time" property="lastSendTime" jdbcType="TIMESTAMP" />
    <result column="total_num" property="totalNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, mobile, last_content, last_send_time, total_num
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinting.business.model.BsSmsRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bs_sms_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bs_sms_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByPk4Lock" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bs_sms_record
    where id = #{id,jdbcType=VARCHAR} for update
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bs_sms_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinting.business.model.BsSmsRecordExample" >
    delete from bs_sms_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinting.business.model.BsSmsRecord" >
    insert into bs_sms_record (id, mobile, last_content, 
      last_send_time, total_num)
    values (#{id,jdbcType=INTEGER}, #{mobile,jdbcType=VARCHAR}, #{lastContent,jdbcType=VARCHAR}, 
      #{lastSendTime,jdbcType=TIMESTAMP}, #{totalNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pinting.business.model.BsSmsRecord" >
    insert into bs_sms_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="lastContent != null" >
        last_content,
      </if>
      <if test="lastSendTime != null" >
        last_send_time,
      </if>
      <if test="totalNum != null" >
        total_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="lastContent != null" >
        #{lastContent,jdbcType=VARCHAR},
      </if>
      <if test="lastSendTime != null" >
        #{lastSendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalNum != null" >
        #{totalNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinting.business.model.BsSmsRecordExample" resultType="java.lang.Integer" >
    select count(*) from bs_sms_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bs_sms_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.lastContent != null" >
        last_content = #{record.lastContent,jdbcType=VARCHAR},
      </if>
      <if test="record.lastSendTime != null" >
        last_send_time = #{record.lastSendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.totalNum != null" >
        total_num = #{record.totalNum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bs_sms_record
    set id = #{record.id,jdbcType=INTEGER},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      last_content = #{record.lastContent,jdbcType=VARCHAR},
      last_send_time = #{record.lastSendTime,jdbcType=TIMESTAMP},
      total_num = #{record.totalNum,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinting.business.model.BsSmsRecord" >
    update bs_sms_record
    <set >
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="lastContent != null" >
        last_content = #{lastContent,jdbcType=VARCHAR},
      </if>
      <if test="lastSendTime != null" >
        last_send_time = #{lastSendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalNum != null" >
        total_num = #{totalNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
   <update id="updateByIncrement" parameterType="com.pinting.business.model.BsSmsRecord" >
    update bs_sms_record
    <set >
      <if test="lastContent != null" >
        last_content = #{lastContent,jdbcType=VARCHAR},
      </if>
      <if test="lastSendTime != null" >
        last_send_time = #{lastSendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalNum != null" >
        total_num = total_num+#{totalNum},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.pinting.business.model.BsSmsRecord" >
    update bs_sms_record
    set mobile = #{mobile,jdbcType=VARCHAR},
      last_content = #{lastContent,jdbcType=VARCHAR},
      last_send_time = #{lastSendTime,jdbcType=TIMESTAMP},
      total_num = #{totalNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>