<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinting.business.dao.BsSubAccountPairMapper" >
  <resultMap id="BaseResultMap" type="com.pinting.business.model.BsSubAccountPair" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="auth_account_id" property="authAccountId" jdbcType="INTEGER" />
    <result column="reg_d_account_id" property="regDAccountId" jdbcType="INTEGER" />
    <result column="red_account_id" property="redAccountId" jdbcType="INTEGER" />
    <result column="diff_account_id" property="diffAccountId" jdbcType="INTEGER" />
    <result column="term" property="term" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, auth_account_id, reg_d_account_id, red_account_id, diff_account_id, term, create_time, 
    update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinting.business.model.BsSubAccountPairExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bs_sub_account_pair
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bs_sub_account_pair
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bs_sub_account_pair
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinting.business.model.BsSubAccountPairExample" >
    delete from bs_sub_account_pair
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinting.business.model.BsSubAccountPair" >
    insert into bs_sub_account_pair (id, auth_account_id, reg_d_account_id, 
      red_account_id, diff_account_id, term, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{authAccountId,jdbcType=INTEGER}, #{regDAccountId,jdbcType=INTEGER}, 
      #{redAccountId,jdbcType=INTEGER}, #{diffAccountId,jdbcType=INTEGER}, #{term,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pinting.business.model.BsSubAccountPair" >
    insert into bs_sub_account_pair
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="authAccountId != null" >
        auth_account_id,
      </if>
      <if test="regDAccountId != null" >
        reg_d_account_id,
      </if>
      <if test="redAccountId != null" >
        red_account_id,
      </if>
      <if test="diffAccountId != null" >
        diff_account_id,
      </if>
      <if test="term != null" >
        term,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="authAccountId != null" >
        #{authAccountId,jdbcType=INTEGER},
      </if>
      <if test="regDAccountId != null" >
        #{regDAccountId,jdbcType=INTEGER},
      </if>
      <if test="redAccountId != null" >
        #{redAccountId,jdbcType=INTEGER},
      </if>
      <if test="diffAccountId != null" >
        #{diffAccountId,jdbcType=INTEGER},
      </if>
      <if test="term != null" >
        #{term,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinting.business.model.BsSubAccountPairExample" resultType="java.lang.Integer" >
    select count(*) from bs_sub_account_pair
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bs_sub_account_pair
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.authAccountId != null" >
        auth_account_id = #{record.authAccountId,jdbcType=INTEGER},
      </if>
      <if test="record.regDAccountId != null" >
        reg_d_account_id = #{record.regDAccountId,jdbcType=INTEGER},
      </if>
      <if test="record.redAccountId != null" >
        red_account_id = #{record.redAccountId,jdbcType=INTEGER},
      </if>
      <if test="record.diffAccountId != null" >
        diff_account_id = #{record.diffAccountId,jdbcType=INTEGER},
      </if>
      <if test="record.term != null" >
        term = #{record.term,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bs_sub_account_pair
    set id = #{record.id,jdbcType=INTEGER},
      auth_account_id = #{record.authAccountId,jdbcType=INTEGER},
      reg_d_account_id = #{record.regDAccountId,jdbcType=INTEGER},
      red_account_id = #{record.redAccountId,jdbcType=INTEGER},
      diff_account_id = #{record.diffAccountId,jdbcType=INTEGER},
      term = #{record.term,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinting.business.model.BsSubAccountPair" >
    update bs_sub_account_pair
    <set >
      <if test="authAccountId != null" >
        auth_account_id = #{authAccountId,jdbcType=INTEGER},
      </if>
      <if test="regDAccountId != null" >
        reg_d_account_id = #{regDAccountId,jdbcType=INTEGER},
      </if>
      <if test="redAccountId != null" >
        red_account_id = #{redAccountId,jdbcType=INTEGER},
      </if>
      <if test="diffAccountId != null" >
        diff_account_id = #{diffAccountId,jdbcType=INTEGER},
      </if>
      <if test="term != null" >
        term = #{term,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinting.business.model.BsSubAccountPair" >
    update bs_sub_account_pair
    set auth_account_id = #{authAccountId,jdbcType=INTEGER},
      reg_d_account_id = #{regDAccountId,jdbcType=INTEGER},
      red_account_id = #{redAccountId,jdbcType=INTEGER},
      diff_account_id = #{diffAccountId,jdbcType=INTEGER},
      term = #{term,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectDiffActByLoanRelationId" resultType="com.pinting.business.model.BsSubAccount" parameterType="java.lang.Integer">
    SELECT c.*
    FROM ln_loan_relation a, bs_sub_account_pair b, bs_sub_account c
    WHERE a.bs_sub_account_id = b.auth_account_id AND b.diff_account_id = c.id AND a.id=#{loanRelationId}
  </select>
</mapper>