<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinting.business.dao.BsSysConfigMapper" >
  <resultMap id="BaseResultMap" type="com.pinting.business.model.BsSysConfig" >
    <id column="conf_key" property="confKey" jdbcType="VARCHAR" />
    <result column="conf_value" property="confValue" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    conf_key, conf_value, name, note
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinting.business.model.BsSysConfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bs_sys_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bs_sys_config
    where conf_key = #{confKey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bs_sys_config
    where conf_key = #{confKey,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinting.business.model.BsSysConfigExample" >
    delete from bs_sys_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinting.business.model.BsSysConfig" >
    insert into bs_sys_config (conf_key, conf_value, name, 
      note)
    values (#{confKey,jdbcType=VARCHAR}, #{confValue,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinting.business.model.BsSysConfig" >
    insert into bs_sys_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="confKey != null" >
        conf_key,
      </if>
      <if test="confValue != null" >
        conf_value,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="note != null" >
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="confKey != null" >
        #{confKey,jdbcType=VARCHAR},
      </if>
      <if test="confValue != null" >
        #{confValue,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinting.business.model.BsSysConfigExample" resultType="java.lang.Integer" >
    select count(*) from bs_sys_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bs_sys_config
    <set >
      <if test="record.confKey != null" >
        conf_key = #{record.confKey,jdbcType=VARCHAR},
      </if>
      <if test="record.confValue != null" >
        conf_value = #{record.confValue,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.note != null" >
        note = #{record.note,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bs_sys_config
    set conf_key = #{record.confKey,jdbcType=VARCHAR},
      conf_value = #{record.confValue,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      note = #{record.note,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinting.business.model.BsSysConfig" >
    update bs_sys_config
    <set >
      <if test="confValue != null" >
        conf_value = #{confValue,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where conf_key = #{confKey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinting.business.model.BsSysConfig" >
    update bs_sys_config
    set conf_value = #{confValue,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR}
    where conf_key = #{confKey,jdbcType=VARCHAR}
  </update>
  
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="com.pinting.business.model.BsSysConfig" >
    select 
    <include refid="Base_Column_List" />
    from bs_sys_config
	<include refid="sql-global.pagination"/>
  </select>

  <select id="selectByConfKeys" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from bs_sys_config
    where
      conf_key in
    <foreach collection="confKeys" item="confKey" index="index"
             open="(" close=")" separator=",">
      #{confKey}
    </foreach>
  </select>
</mapper>