<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinting.business.dao.BsTagMapper" >
  <resultMap id="BaseResultMap" type="com.pinting.business.model.BsTag" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="serial_id" property="serialId" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <resultMap id="BaseResultMapVO" type="com.pinting.business.model.vo.BsTagVO" extends="BaseResultMap" >
    <result column="m_id" property="mid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="count_tag" property="countTag" jdbcType="INTEGER"/>
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, content, serial_id, creator, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinting.business.model.BsTagExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bs_tag
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bs_tag
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bs_tag
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinting.business.model.BsTagExample" >
    delete from bs_tag
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinting.business.model.BsTag" >
    insert into bs_tag (id, content, serial_id, 
      creator, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{serialId,jdbcType=INTEGER}, 
      #{creator,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinting.business.model.BsTag" >
    insert into bs_tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="serialId != null" >
        serial_id,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="serialId != null" >
        #{serialId,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinting.business.model.BsTagExample" resultType="java.lang.Integer" >
    select count(*) from bs_tag
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bs_tag
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.serialId != null" >
        serial_id = #{record.serialId,jdbcType=INTEGER},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bs_tag
    set id = #{record.id,jdbcType=INTEGER},
      content = #{record.content,jdbcType=VARCHAR},
      serial_id = #{record.serialId,jdbcType=INTEGER},
      creator = #{record.creator,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinting.business.model.BsTag" >
    update bs_tag
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="serialId != null" >
        serial_id = #{serialId,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinting.business.model.BsTag" >
    update bs_tag
    set content = #{content,jdbcType=VARCHAR},
      serial_id = #{serialId,jdbcType=INTEGER},
      creator = #{creator,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectBsTagInfo" resultMap="BaseResultMapVO" parameterType="com.pinting.business.model.vo.BsTagVO" >
	SELECT t.id, t.content, t.serial_id, t.creator, t.create_time, u.name, u.id m_id, f.count_tag 
	  FROM m_user u,
	  bs_tag t LEFT JOIN (select count(user_id) as count_tag,tag_id from bs_user_tags GROUP BY tag_id) f ON f.tag_id = id
	  WHERE u.id = t.creator
	  <if test="content != null and content != '' " >
	   	 and t.content like concat(concat('%', #{content,jdbcType=VARCHAR}),'%')
	  </if>
	  ORDER BY 
	  <if test="orderDirection!=null and orderDirection != ''  and orderField != ''  and orderField!=null ">   
    	 ${orderField} ${orderDirection},
      </if>
	  t.serial_id DESC
	  <include refid="sql-global.pagination" />
  </select>
  <!-- 用户标签统计 -->
  <select id="selectCountBsTag" resultType="java.lang.Integer" parameterType="com.pinting.business.model.BsTag" >
  	  SELECT COUNT(*) FROM bs_tag 
  	  WHERE 1 = 1
  	  <if test="content != null and content != '' " >
	   	 and content like concat(concat('%', #{content,jdbcType=VARCHAR}),'%')
	  </if>
  </select>
  <!-- 查询用户标签内容是否已存在 -->
  <select id="selectBsTag" resultMap="BaseResultMap" parameterType="com.pinting.business.model.BsTag" >
	 SELECT
		<include refid="Base_Column_List" />
	 FROM bs_tag 
	 WHERE 1 = 1 
	 <if test="id != null and id != 0" >
        and id = #{id,jdbcType=INTEGER}
     </if>
     <if test="content != null and content != '' " >
	   	 and content = #{content,jdbcType=VARCHAR}
	  </if>
	 LIMIT 0,1
  </select>
  <!-- 查询 bs_tag表中是否有数据 -->
  <select id="selectCountOfTag" resultType="java.lang.Integer" parameterType="com.pinting.business.model.BsTag">
  	 select count(*) from bs_tag
  </select>
  <!-- 查找 serial_id的最大值 -->
  <select id="selectMaxSerialId" resultMap="BaseResultMap" parameterType="com.pinting.business.model.BsTag" >
     select MAX(t.serial_id) as serial_id, t.id, t.content, t.creator, t.create_time from bs_tag t 
  </select>
  <!-- 查找所有标签根据serial_id排序 -->
  <select id="selectAllTagList" resultMap="BaseResultMap" parameterType="com.pinting.business.model.BsTag" >
  	 select * from bs_tag ORDER BY serial_id desc
  </select>
  
</mapper>