<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinting.business.dao.BsUserBalanceDailyRecordMapper" >
  <resultMap id="BaseResultMap" type="com.pinting.business.model.BsUserBalanceDailyRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="hf_user_id" property="hfUserId" jdbcType="VARCHAR" />
    <result column="paycheck_date" property="paycheckDate" jdbcType="DATE" />
    <result column="balance" property="balance" jdbcType="DOUBLE" />
    <result column="dep_jsh_balance" property="depJshBalance" jdbcType="DOUBLE" />
    <result column="zan_auth_balance" property="zanAuthBalance" jdbcType="DOUBLE" />
    <result column="yun_auth_balance" property="yunAuthBalance" jdbcType="DOUBLE" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, hf_user_id, paycheck_date, balance, dep_jsh_balance, zan_auth_balance, 
    yun_auth_balance, note, update_time, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinting.business.model.BsUserBalanceDailyRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bs_user_balance_daily_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bs_user_balance_daily_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bs_user_balance_daily_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinting.business.model.BsUserBalanceDailyRecordExample" >
    delete from bs_user_balance_daily_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinting.business.model.BsUserBalanceDailyRecord" >
    insert into bs_user_balance_daily_record (id, user_id, hf_user_id, 
      paycheck_date, balance, dep_jsh_balance, 
      zan_auth_balance, yun_auth_balance, note, 
      update_time, create_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{hfUserId,jdbcType=VARCHAR}, 
      #{paycheckDate,jdbcType=DATE}, #{balance,jdbcType=DOUBLE}, #{depJshBalance,jdbcType=DOUBLE}, 
      #{zanAuthBalance,jdbcType=DOUBLE}, #{yunAuthBalance,jdbcType=DOUBLE}, #{note,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pinting.business.model.BsUserBalanceDailyRecord" >
    insert into bs_user_balance_daily_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="hfUserId != null" >
        hf_user_id,
      </if>
      <if test="paycheckDate != null" >
        paycheck_date,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="depJshBalance != null" >
        dep_jsh_balance,
      </if>
      <if test="zanAuthBalance != null" >
        zan_auth_balance,
      </if>
      <if test="yunAuthBalance != null" >
        yun_auth_balance,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="hfUserId != null" >
        #{hfUserId,jdbcType=VARCHAR},
      </if>
      <if test="paycheckDate != null" >
        #{paycheckDate,jdbcType=DATE},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DOUBLE},
      </if>
      <if test="depJshBalance != null" >
        #{depJshBalance,jdbcType=DOUBLE},
      </if>
      <if test="zanAuthBalance != null" >
        #{zanAuthBalance,jdbcType=DOUBLE},
      </if>
      <if test="yunAuthBalance != null" >
        #{yunAuthBalance,jdbcType=DOUBLE},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinting.business.model.BsUserBalanceDailyRecordExample" resultType="java.lang.Integer" >
    select count(*) from bs_user_balance_daily_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bs_user_balance_daily_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.hfUserId != null" >
        hf_user_id = #{record.hfUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.paycheckDate != null" >
        paycheck_date = #{record.paycheckDate,jdbcType=DATE},
      </if>
      <if test="record.balance != null" >
        balance = #{record.balance,jdbcType=DOUBLE},
      </if>
      <if test="record.depJshBalance != null" >
        dep_jsh_balance = #{record.depJshBalance,jdbcType=DOUBLE},
      </if>
      <if test="record.zanAuthBalance != null" >
        zan_auth_balance = #{record.zanAuthBalance,jdbcType=DOUBLE},
      </if>
      <if test="record.yunAuthBalance != null" >
        yun_auth_balance = #{record.yunAuthBalance,jdbcType=DOUBLE},
      </if>
      <if test="record.note != null" >
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bs_user_balance_daily_record
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      hf_user_id = #{record.hfUserId,jdbcType=VARCHAR},
      paycheck_date = #{record.paycheckDate,jdbcType=DATE},
      balance = #{record.balance,jdbcType=DOUBLE},
      dep_jsh_balance = #{record.depJshBalance,jdbcType=DOUBLE},
      zan_auth_balance = #{record.zanAuthBalance,jdbcType=DOUBLE},
      yun_auth_balance = #{record.yunAuthBalance,jdbcType=DOUBLE},
      note = #{record.note,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinting.business.model.BsUserBalanceDailyRecord" >
    update bs_user_balance_daily_record
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="hfUserId != null" >
        hf_user_id = #{hfUserId,jdbcType=VARCHAR},
      </if>
      <if test="paycheckDate != null" >
        paycheck_date = #{paycheckDate,jdbcType=DATE},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=DOUBLE},
      </if>
      <if test="depJshBalance != null" >
        dep_jsh_balance = #{depJshBalance,jdbcType=DOUBLE},
      </if>
      <if test="zanAuthBalance != null" >
        zan_auth_balance = #{zanAuthBalance,jdbcType=DOUBLE},
      </if>
      <if test="yunAuthBalance != null" >
        yun_auth_balance = #{yunAuthBalance,jdbcType=DOUBLE},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinting.business.model.BsUserBalanceDailyRecord" >
    update bs_user_balance_daily_record
    set user_id = #{userId,jdbcType=INTEGER},
      hf_user_id = #{hfUserId,jdbcType=VARCHAR},
      paycheck_date = #{paycheckDate,jdbcType=DATE},
      balance = #{balance,jdbcType=DOUBLE},
      dep_jsh_balance = #{depJshBalance,jdbcType=DOUBLE},
      zan_auth_balance = #{zanAuthBalance,jdbcType=DOUBLE},
      yun_auth_balance = #{yunAuthBalance,jdbcType=DOUBLE},
      note = #{note,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>