<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinting.business.dao.DafyUserExtMapper" >
  <resultMap id="BaseResultMap" type="com.pinting.business.model.DafyUserExt" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="dafy_user_id" property="dafyUserId" jdbcType="VARCHAR" />
    <result column="dafy_register_time" property="dafyRegisterTime" jdbcType="TIMESTAMP" />
    <result column="dafy_bind_card_time" property="dafyBindCardTime" jdbcType="TIMESTAMP" />
    <result column="bank_card" property="bankCard" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="bind_fail_reson" property="bindFailReson" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, dafy_user_id, dafy_register_time, dafy_bind_card_time, bank_card, status, 
    create_time, bind_fail_reson
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinting.business.model.DafyUserExtExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dafy_user_ext
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dafy_user_ext
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dafy_user_ext
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinting.business.model.DafyUserExtExample" >
    delete from dafy_user_ext
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinting.business.model.DafyUserExt" >
    insert into dafy_user_ext (id, user_id, dafy_user_id, 
      dafy_register_time, dafy_bind_card_time, 
      bank_card, status, create_time, 
      bind_fail_reson)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{dafyUserId,jdbcType=VARCHAR}, 
      #{dafyRegisterTime,jdbcType=TIMESTAMP}, #{dafyBindCardTime,jdbcType=TIMESTAMP}, 
      #{bankCard,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{bindFailReson,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinting.business.model.DafyUserExt" >
    insert into dafy_user_ext
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="dafyUserId != null" >
        dafy_user_id,
      </if>
      <if test="dafyRegisterTime != null" >
        dafy_register_time,
      </if>
      <if test="dafyBindCardTime != null" >
        dafy_bind_card_time,
      </if>
      <if test="bankCard != null" >
        bank_card,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="bindFailReson != null" >
        bind_fail_reson,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="dafyUserId != null" >
        #{dafyUserId,jdbcType=VARCHAR},
      </if>
      <if test="dafyRegisterTime != null" >
        #{dafyRegisterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dafyBindCardTime != null" >
        #{dafyBindCardTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bankCard != null" >
        #{bankCard,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bindFailReson != null" >
        #{bindFailReson,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinting.business.model.DafyUserExtExample" resultType="java.lang.Integer" >
    select count(*) from dafy_user_ext
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dafy_user_ext
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.dafyUserId != null" >
        dafy_user_id = #{record.dafyUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.dafyRegisterTime != null" >
        dafy_register_time = #{record.dafyRegisterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dafyBindCardTime != null" >
        dafy_bind_card_time = #{record.dafyBindCardTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bankCard != null" >
        bank_card = #{record.bankCard,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bindFailReson != null" >
        bind_fail_reson = #{record.bindFailReson,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dafy_user_ext
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      dafy_user_id = #{record.dafyUserId,jdbcType=VARCHAR},
      dafy_register_time = #{record.dafyRegisterTime,jdbcType=TIMESTAMP},
      dafy_bind_card_time = #{record.dafyBindCardTime,jdbcType=TIMESTAMP},
      bank_card = #{record.bankCard,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      bind_fail_reson = #{record.bindFailReson,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinting.business.model.DafyUserExt" >
    update dafy_user_ext
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="dafyUserId != null" >
        dafy_user_id = #{dafyUserId,jdbcType=VARCHAR},
      </if>
      <if test="dafyRegisterTime != null" >
        dafy_register_time = #{dafyRegisterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dafyBindCardTime != null" >
        dafy_bind_card_time = #{dafyBindCardTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bankCard != null" >
        bank_card = #{bankCard,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bindFailReson != null" >
        bind_fail_reson = #{bindFailReson,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinting.business.model.DafyUserExt" >
    update dafy_user_ext
    set user_id = #{userId,jdbcType=INTEGER},
      dafy_user_id = #{dafyUserId,jdbcType=VARCHAR},
      dafy_register_time = #{dafyRegisterTime,jdbcType=TIMESTAMP},
      dafy_bind_card_time = #{dafyBindCardTime,jdbcType=TIMESTAMP},
      bank_card = #{bankCard,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      bind_fail_reson = #{bindFailReson,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>