<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinting.business.dao.FdNetMapper" >
  <resultMap id="BaseResultMap" type="com.pinting.business.model.FdNet" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fund_id" property="fundId" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="net" property="net" jdbcType="DOUBLE" />
    <result column="note" property="note" jdbcType="VARCHAR" />
  </resultMap>
   <resultMap id="ResultMap" type="com.pinting.business.model.vo.FdNetVO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fund_id" property="fundId" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="net" property="net" jdbcType="DOUBLE" />
    <result column="note" property="note" jdbcType="VARCHAR" />
     <result column="name" property="fundName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, fund_id, date, net, note
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinting.business.model.FdNetExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fd_net
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fd_net
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fd_net
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinting.business.model.FdNetExample" >
    delete from fd_net
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinting.business.model.FdNet" >
    insert into fd_net (id, fund_id, date, 
      net, note)
    values (#{id,jdbcType=INTEGER}, #{fundId,jdbcType=INTEGER}, #{date,jdbcType=DATE}, 
      #{net,jdbcType=DOUBLE}, #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinting.business.model.FdNet" >
    insert into fd_net
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fundId != null" >
        fund_id,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="net != null" >
        net,
      </if>
      <if test="note != null" >
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fundId != null" >
        #{fundId,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        #{date,jdbcType=DATE},
      </if>
      <if test="net != null" >
        #{net,jdbcType=DOUBLE},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinting.business.model.FdNetExample" resultType="java.lang.Integer" >
    select count(*) from fd_net
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fd_net
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.fundId != null" >
        fund_id = #{record.fundId,jdbcType=INTEGER},
      </if>
      <if test="record.date != null" >
        date = #{record.date,jdbcType=DATE},
      </if>
      <if test="record.net != null" >
        net = #{record.net,jdbcType=DOUBLE},
      </if>
      <if test="record.note != null" >
        note = #{record.note,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fd_net
    set id = #{record.id,jdbcType=INTEGER},
      fund_id = #{record.fundId,jdbcType=INTEGER},
      date = #{record.date,jdbcType=DATE},
      net = #{record.net,jdbcType=DOUBLE},
      note = #{record.note,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinting.business.model.FdNet" >
    update fd_net
    <set >
      <if test="fundId != null" >
        fund_id = #{fundId,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=DATE},
      </if>
      <if test="net != null" >
        net = #{net,jdbcType=DOUBLE},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinting.business.model.FdNet" >
    update fd_net
    set fund_id = #{fundId,jdbcType=INTEGER},
      date = #{date,jdbcType=DATE},
      net = #{net,jdbcType=DOUBLE},
      note = #{note,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectMFdNetInfoList" resultMap="ResultMap" parameterType="com.pinting.business.model.vo.FdNetVO">
  
  		select 
  			a.id,a.fund_id,a.date,a.net,a.note ,b.name
  		from fd_net a, fd_info b where a.fund_id = b.id order by a.date desc
  		
  		<include refid="sql-global.pagination"/>
  
  </select>
</mapper>