<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinting.business.dao.LnMarketGrantRecordMapper">
  <resultMap id="BaseResultMap" type="com.pinting.business.model.LnMarketGrantRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="partner_code" jdbcType="VARCHAR" property="partnerCode" />
    <result column="partner_order_no" jdbcType="VARCHAR" property="partnerOrderNo" />
    <result column="grant_item" jdbcType="VARCHAR" property="grantItem" />
    <result column="partner_user_id" jdbcType="VARCHAR" property="partnerUserId" />
    <result column="bgw_bind_id" jdbcType="VARCHAR" property="bgwBindId" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="inform_status" jdbcType="VARCHAR" property="informStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <resultMap id="MarketingVOMap" type="com.pinting.business.model.vo.MarketingForCheckVO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="partner_code" jdbcType="VARCHAR" property="partnerCode" />
    <result column="partner_order_no" jdbcType="VARCHAR" property="partnerOrderNo" />
    <result column="grant_item" jdbcType="VARCHAR" property="grantItem" />
    <result column="partner_user_id" jdbcType="VARCHAR" property="partnerUserId" />
    <result column="bgw_bind_id" jdbcType="VARCHAR" property="bgwBindId" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="inform_status" jdbcType="VARCHAR" property="informStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="return_msg" jdbcType="VARCHAR" property="errorReason"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, partner_code, partner_order_no, grant_item, partner_user_id, bgw_bind_id, amount, 
    order_no, finish_time, status, inform_status, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.pinting.business.model.LnMarketGrantRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ln_market_grant_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ln_market_grant_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ln_market_grant_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinting.business.model.LnMarketGrantRecordExample">
    delete from ln_market_grant_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinting.business.model.LnMarketGrantRecord">
    insert into ln_market_grant_record (id, partner_code, partner_order_no, 
      grant_item, partner_user_id, bgw_bind_id, 
      amount, order_no, finish_time, 
      status, inform_status, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{partnerCode,jdbcType=VARCHAR}, #{partnerOrderNo,jdbcType=VARCHAR}, 
      #{grantItem,jdbcType=VARCHAR}, #{partnerUserId,jdbcType=VARCHAR}, #{bgwBindId,jdbcType=VARCHAR}, 
      #{amount,jdbcType=DOUBLE}, #{orderNo,jdbcType=VARCHAR}, #{finishTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR}, #{informStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pinting.business.model.LnMarketGrantRecord" useGeneratedKeys="true" keyProperty="id">
    insert into ln_market_grant_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="partnerCode != null">
        partner_code,
      </if>
      <if test="partnerOrderNo != null">
        partner_order_no,
      </if>
      <if test="grantItem != null">
        grant_item,
      </if>
      <if test="partnerUserId != null">
        partner_user_id,
      </if>
      <if test="bgwBindId != null">
        bgw_bind_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="finishTime != null">
        finish_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="informStatus != null">
        inform_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="partnerCode != null">
        #{partnerCode,jdbcType=VARCHAR},
      </if>
      <if test="partnerOrderNo != null">
        #{partnerOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="grantItem != null">
        #{grantItem,jdbcType=VARCHAR},
      </if>
      <if test="partnerUserId != null">
        #{partnerUserId,jdbcType=VARCHAR},
      </if>
      <if test="bgwBindId != null">
        #{bgwBindId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null">
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="informStatus != null">
        #{informStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinting.business.model.LnMarketGrantRecordExample" resultType="java.lang.Long">
    select count(*) from ln_market_grant_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ln_market_grant_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.partnerCode != null">
        partner_code = #{record.partnerCode,jdbcType=VARCHAR},
      </if>
      <if test="record.partnerOrderNo != null">
        partner_order_no = #{record.partnerOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.grantItem != null">
        grant_item = #{record.grantItem,jdbcType=VARCHAR},
      </if>
      <if test="record.partnerUserId != null">
        partner_user_id = #{record.partnerUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.bgwBindId != null">
        bgw_bind_id = #{record.bgwBindId,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=DOUBLE},
      </if>
      <if test="record.orderNo != null">
        order_no = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.finishTime != null">
        finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.informStatus != null">
        inform_status = #{record.informStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ln_market_grant_record
    set id = #{record.id,jdbcType=INTEGER},
      partner_code = #{record.partnerCode,jdbcType=VARCHAR},
      partner_order_no = #{record.partnerOrderNo,jdbcType=VARCHAR},
      grant_item = #{record.grantItem,jdbcType=VARCHAR},
      partner_user_id = #{record.partnerUserId,jdbcType=VARCHAR},
      bgw_bind_id = #{record.bgwBindId,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=DOUBLE},
      order_no = #{record.orderNo,jdbcType=VARCHAR},
      finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=VARCHAR},
      inform_status = #{record.informStatus,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinting.business.model.LnMarketGrantRecord">
    update ln_market_grant_record
    <set>
      <if test="partnerCode != null">
        partner_code = #{partnerCode,jdbcType=VARCHAR},
      </if>
      <if test="partnerOrderNo != null">
        partner_order_no = #{partnerOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="grantItem != null">
        grant_item = #{grantItem,jdbcType=VARCHAR},
      </if>
      <if test="partnerUserId != null">
        partner_user_id = #{partnerUserId,jdbcType=VARCHAR},
      </if>
      <if test="bgwBindId != null">
        bgw_bind_id = #{bgwBindId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null">
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="informStatus != null">
        inform_status = #{informStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinting.business.model.LnMarketGrantRecord">
    update ln_market_grant_record
    set partner_code = #{partnerCode,jdbcType=VARCHAR},
      partner_order_no = #{partnerOrderNo,jdbcType=VARCHAR},
      grant_item = #{grantItem,jdbcType=VARCHAR},
      partner_user_id = #{partnerUserId,jdbcType=VARCHAR},
      bgw_bind_id = #{bgwBindId,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DOUBLE},
      order_no = #{orderNo,jdbcType=VARCHAR},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      inform_status = #{informStatus,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectMarketingForCheck" resultMap="MarketingVOMap">

      SELECT
      r.partner_order_no,
      r.partner_user_id,
      r.amount,
      r.create_time,
      r.finish_time,
      r.status,
      o.return_msg
      FROM  ln_market_grant_record r
      LEFT JOIN ln_pay_orders o ON r.order_no=o.order_no
      WHERE DATE(DATE_ADD(r.finish_time,INTERVAL 1 day)) = DATE(NOW())
  </select>
</mapper>