<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinting.business.dao.SimFinancingDetailMapper" >
  <resultMap id="BaseResultMap" type="com.pinting.business.model.SimFinancingDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="total_id" property="totalId" jdbcType="INTEGER" />
    <result column="product_order_no" property="productOrderNo" jdbcType="VARCHAR" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="product_amount" property="productAmount" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, total_id, product_order_no, product_code, product_amount
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinting.business.model.SimFinancingDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sim_financing_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sim_financing_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sim_financing_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinting.business.model.SimFinancingDetailExample" >
    delete from sim_financing_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinting.business.model.SimFinancingDetail" >
    insert into sim_financing_detail (id, total_id, product_order_no, 
      product_code, product_amount)
    values (#{id,jdbcType=INTEGER}, #{totalId,jdbcType=INTEGER}, #{productOrderNo,jdbcType=VARCHAR}, 
      #{productCode,jdbcType=VARCHAR}, #{productAmount,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.pinting.business.model.SimFinancingDetail" >
    insert into sim_financing_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="totalId != null" >
        total_id,
      </if>
      <if test="productOrderNo != null" >
        product_order_no,
      </if>
      <if test="productCode != null" >
        product_code,
      </if>
      <if test="productAmount != null" >
        product_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="totalId != null" >
        #{totalId,jdbcType=INTEGER},
      </if>
      <if test="productOrderNo != null" >
        #{productOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productAmount != null" >
        #{productAmount,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinting.business.model.SimFinancingDetailExample" resultType="java.lang.Integer" >
    select count(*) from sim_financing_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sim_financing_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.totalId != null" >
        total_id = #{record.totalId,jdbcType=INTEGER},
      </if>
      <if test="record.productOrderNo != null" >
        product_order_no = #{record.productOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.productCode != null" >
        product_code = #{record.productCode,jdbcType=VARCHAR},
      </if>
      <if test="record.productAmount != null" >
        product_amount = #{record.productAmount,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sim_financing_detail
    set id = #{record.id,jdbcType=INTEGER},
      total_id = #{record.totalId,jdbcType=INTEGER},
      product_order_no = #{record.productOrderNo,jdbcType=VARCHAR},
      product_code = #{record.productCode,jdbcType=VARCHAR},
      product_amount = #{record.productAmount,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinting.business.model.SimFinancingDetail" >
    update sim_financing_detail
    <set >
      <if test="totalId != null" >
        total_id = #{totalId,jdbcType=INTEGER},
      </if>
      <if test="productOrderNo != null" >
        product_order_no = #{productOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productAmount != null" >
        product_amount = #{productAmount,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinting.business.model.SimFinancingDetail" >
    update sim_financing_detail
    set total_id = #{totalId,jdbcType=INTEGER},
      product_order_no = #{productOrderNo,jdbcType=VARCHAR},
      product_code = #{productCode,jdbcType=VARCHAR},
      product_amount = #{productAmount,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>