.body{background:#fec901;}
.banner{width:100%;height:642px;margin:0 auto;background:url(../../../images/activity/ecup2016/banner.jpg) no-repeat center;}
.main_cont{width:100%;min-height:100px;margin:0 auto;}
.main_Premium{width:100%;height:690px;margin:0 auto;position:relative;padding-top:25px;}
.main_preimg1{position:absolute;top:-64px;left:42px;}
.main_preimg2{position:absolute;top:-40px;left:206px;}
.main_prezone1{width:1300px;height:350px;margin:-40px auto 0;background:url(../../../images/activity/ecup2016/main_Premium3.png) no-repeat center bottom;}
.main_prezone2{width:1300px;height:350px;margin:0 auto;background:url(../../../images/activity/ecup2016/main_Premium4.png) no-repeat center 66px;margin-top: 42px;}
.main_pre1{width:894px;height:338px;margin:0 auto;}
.main_pretop{width:550px;height:116px;background:url(../../../images/activity/ecup2016/main_Premium5.png) no-repeat center;margin:0 auto;line-height:116px ;text-align: center;}
.main_preimg3{position: relative;top:18px;}
.main_prespan1{font-size: 60px;color:#0e821f;font-weight: 600;margin-left: 8px;}
.main_precenter{width:878px;height:207px;background:#0e821f;position:relative;z-index: 2;
				-webkit-border-radius: 15px;
				/*webkit内核， Chrome*/
				-moz-border-radius: 15px;
				/*mozilla内核 Firefox*/
				border-radius: 15px;
				/*IE*/
				/*一定不要忘记behavior属性*/
				behavior: url(ecup2016/PIE.htc);	
				padding:13px 0 0 16px;}

.main_preleft{width:456px;height:194px;background:url(../../../images/activity/ecup2016/main_Premium11.png) no-repeat center;float: left;}
.main_preraise{height:52px;font-size: 30px;color:#fff;width:auto;line-height: 52px;width:256px;margin:36px 0 0 92px;}
.main_preraise1{height:52px;font-size: 30px;color:#fff;width:auto;line-height: 54px;width:406px;margin:36px 0 0 24px;}
.main_preopacity{
	filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    background:#000;
    height:52px;
}
.main_preraisespan{position:relative;top:-109px;display:block;width:100%;height:100%;text-align:center;}
.main_preraisespan1{position:relative;top:-54px;display:block;width:100%;height:100%;text-align:center;}
.main_preraiseimg{position:relative;top:15px;}
.main_prerates{width:100%;height: 50px;text-align: center;line-height: 50px;font-size: 48px;margin-top:20px;}
.main_preratesi{color: #fff;}
.main_preratesspan{color: #fff701;}
.main_preright{width:408px;height:194px;background:url(../../../images/activity/ecup2016/main_Premium7.png) no-repeat center;float: left;margin-left: -1px;}
.main_prerimg{width:100%;height:44px;background:url(../../../images/activity/ecup2016/main_Premium9.png) no-repeat center;}
.main_closetime{width:100%;height:30px;font-size: 30px;line-height: 30px;color:#0e821f;text-align: center;font-weight: 600;}
/*倒计时*/
.main_byebtn{width:100%;height:76px;text-align: center;margin-top:22px;}
.main_byebtna{display: block;width:270px;height:62px;background:url(../../../images/activity/ecup2016/main_Premium10.png) no-repeat center;margin:0 auto;padding-top:14px;}
.main_byetxt{width:100%;height: 18px;line-height: 18px;font-size: 18px;color:#fff;text-align: center;margin:0 0 6px 0;}
.main_byetime{width:100%;height: 24px;line-height: 24px;font-size: 24px;color:#fff;text-align: center;}
.main_byebtna1{display: block;width:270px;height:62px;background:url(../../../images/activity/ecup2016/main_Premium101.png) no-repeat center;margin:0 auto;padding-top:14px;}
.main_byebtna2{display: block;width:270px;height:62px;background:url(../../../images/activity/ecup2016/main_Premium102.png) no-repeat center;margin:0 auto;padding-top:14px;}

.guessing{width:100%;height:3192px;background:url(../../../images/activity/ecup2016/guessing.png) no-repeat center top;margin:-60px auto 0;padding-top:250px;}
.guess_c{width:1200px;height:3400px;margin:0 auto;position:relative;z-index: 2;}
.guess_ch3{width:667px;height:136px;margin:0 auto;}
.guess_top{width:1098px;height:2479px;background:#0e821f;margin:0 auto;position: relative;padding-top:29px;
				-webkit-border-radius: 15px;
				/*webkit内核， Chrome*/
				-moz-border-radius: 15px;
				/*mozilla内核 Firefox*/
				border-radius: 15px;
				/*IE*/
				/*一定不要忘记behavior属性*/
				behavior: url(ecup2016/PIE.htc);	
				margin-top:10px;
}
.guess_top1{width:1012px;height:1109px;margin:0 auto;background:url(../../../images/activity/ecup2016/guessing2.png) no-repeat center;border:3px solid #0f8d22;}
.guess_top1li{width:426px;height:170px;float: left;margin:46px 62px 54px 27px;}
.guess_top1licopy{margin-right:0;}
.guess_topyuan{width:154px;height:154px;background:#fff;border:8px solid #14b92c;position: relative;float: left;text-align: center;
				-webkit-border-radius: 50%;
				/*webkit内核， Chrome*/
				-moz-border-radius: 50%;
				/*mozilla内核 Firefox*/
				border-radius: 50%;
				/*IE*/
				/*一定不要忘记behavior属性*/
				behavior: url(ecup2016/PIE.htc);	
}

.guess_toptxt{width:244px;height:142px;float: right;padding-top:28px;}
.guess_toptxt1{font-size: 24px;color: #fff;line-height: 28px;}
.guess_toptxt2{font-size: 12px;color: #fff;line-height: 14px;margin-top:4px;}

.guess_top2{width: 1018px;height:438px;margin:50px auto;background: #14b92c;position: relative;
				-webkit-border-radius: 20px;
				/*webkit内核， Chrome*/
				-moz-border-radius: 20px;
				/*mozilla内核 Firefox*/
				border-radius: 20px;
				/*IE*/
				/*一定不要忘记behavior属性*/
				behavior: url(ecup2016/PIE.htc);}
				.front{display: none;}
				.back{display: block;}
.guess_flag{width: 1018px;height:338px;margin:0 auto;}
.guess_flagleft{width:509px;height:338px;float: left;}
.guess_flaglefth4{width:345px;height:40px;margin:34px auto 0;}
.guess_flaglefti{font-size: 24px;color:#fff701;line-height: 40px;display: block;width:130px;height:40px;float: left;}
.guess_flagleftspan{width:177px;height:37px;border:1px solid #c6c6c6;background:#fff;color:#999;display: block;font-size: 18px;text-align: center;line-height: 37px;float: left;}
.guess_flagleftul{width:509px;height:214px;margin:50px 0 0 15px;}
.guess_flagleftul li{float: left;width:80px;height:76px;text-align: center;color:#fff;font-size: 12px;line-height: 20px;margin:0 -14px 20px 40px;cursor: pointer;}
.guess_flagleftulcopy{width:509px;height:214px;margin:50px 0 0 15px;}
.guess_flagleftulcopy li{float: left;width:80px;height:76px;text-align: center;color:#fff;font-size: 12px;line-height: 20px;margin:0 -14px 20px 40px;cursor: pointer;}
.guess_flagleftspancopy{width:177px;height:37px;border:1px solid #c6c6c6;background:#fff;color:#999;display: block;font-size: 18px;text-align: center;line-height: 37px;float: left;}
.guess_flagleftul li img{width:80px;height:46px;}
.guess_flagleftulcopy li img{width:80px;height:46px;}
.guess_flagright{width:509px;height:338px;float: right;}
.guess_top2 .flag_btna{position:relative;cursor:pointer;display:block;width:208px;height:64px;margin:0 auto;font-size: 24px;color: #077016;;}
.guess_top2 .flag_btnaimg{position:absolute;top:0;left:0;}
.guess_top2 .flag_btnaspan{position:absolute;z-index:2;left:42px;top:20px;}
/*back*/
.back_top{width:100%;height: 231px;background:url(../../../images/activity/ecup2016/back1.png) no-repeat center bottom;}
.back_l{width:509px;height:195px;float: left;padding-top: 36px;text-align: center;}
.back_r{width:509px;height:195px;float: right;padding-top: 36px;text-align: center;}
.back_l h5{font-size: 24px;color: #fff701;width:100%;height:24px;text-align: center;line-height: 24px;}
.back_r h5{font-size: 24px;color: #fff701;width:100%;height:24px;text-align: center;line-height: 24px;}
.back_more{margin:14px auto 0;width:192px;height: 8px;background: #0b6418;
-webkit-border-radius: 30px;
				/*webkit内核， Chrome*/
				-moz-border-radius: 30px;
				/*mozilla内核 Firefox*/
				border-radius: 30px;
				/*IE*/
				/*一定不要忘记behavior属性*/
				behavior: url(ecup2016/PIE.htc);}
.back_morespan{display: block;height:100%;background:#24f242;
-webkit-border-radius: 30px;
				/*webkit内核， Chrome*/
				-moz-border-radius: 30px;
				/*mozilla内核 Firefox*/
				border-radius: 30px;
				/*IE*/
				/*一定不要忘记behavior属性*/
				behavior: url(ecup2016/PIE.htc);}
.back_morep{font-size: 18px;color: #fff;line-height: 18px;margin-top:12px;}
.back_bottom{width:100%;height:207px;margin:0 auto;}
.back_bl{width:474px;height:175px;float: left;padding-top: 32px;}
.back_br{width:544px;height:163px;float: right;padding-top: 44px;}
.back_btxt1{font-size: 24px;color:#fff;width:auto;height:24px;line-height: 24px;margin-left: 10px;}
.back_btxt1 span{font-size: 36px;color: #fff701;}
.back_btxt2{font-size: 14px;color:#fff;width:auto;height:14px;line-height: 14px;margin:14px 0;}
.back_br .back_btxt3{cursor:pointer;display: block;width:208px;height:56px;background: url(../../../images/activity/ecup2016/back_btn.png) no-repeat center;text-align: center;line-height: 56px;color:#fff;font-size: 24px;margin-left: 54px;}
.guess_top3{width: 1018px;height:786px;margin:50px auto;background: #14b92c;position: relative;
				-webkit-border-radius: 20px;
				/*webkit内核， Chrome*/
				-moz-border-radius: 20px;
				/*mozilla内核 Firefox*/
				border-radius: 20px;
				/*IE*/
				/*一定不要忘记behavior属性*/
				behavior: url(ecup2016/PIE.htc);}
.prize_h4{width:100%;height: 134px;background: url(../../../images/activity/ecup2016/prize1.png) no-repeat center;}
.prize{width:952px;height: 612px;background: url(../../../images/activity/ecup2016/prize2.png) no-repeat center;margin:0 auto;font-size: 30px;color:#fff;}
.prize_left{width:386px;height:612px;float: left;text-align: center;}
.l_table1{width:386px;height:82px;line-height: 82px;}
.l_table2{width:386px;height:339px;padding-top:44px;}
.l_table2txt{margin:0 0 20px 0;}
.l_table3{width:386px;height:77px;line-height: 77px;}
.l_table4{width:386px;height:70px;line-height: 70px;}
.prize_center{width:282px;height:612px;float: left;text-align: center;}
.prize_right{width:284px;height:612px;float: right;text-align: center;}
.c_table1{width:282px;height:82px;line-height: 82px;}
.c_table3{width:282px;height:77px;line-height: 77px;}
.c_table4{width:282px;height:70px;line-height: 70px;}
.r_table1{width:284px;height:82px;line-height: 82px;}
.r_table3{width:284px;height:77px;line-height: 77px;}
.r_table4{width:284px;height:70px;line-height: 70px;}


.rule{width:1098px;height: 592px;margin:20px auto 0;background: url(../../../images/activity/ecup2016/rule.png) no-repeat center;}
.rule_left{width:240px;height:452px;float: left;font-size: 48px;color:#fff701;line-height: 262px;padding-left: 36px;padding-top:140px;}
.rule_right{width:822px;height:542px;float: right;font-size: 18px;color:#fff;line-height: 36px;padding-top:50px;}
.rule_right p{width:100%;min-height:22px;overflow: hidden;}
.rule_ri{display: block;float:left;width:754px;}
.rule_rspan{display: block;float: left;margin-right: 10px;}
.rule_ricopy{color:#fff701;}
.rule_rispan{color:#fff701;}
.foot_bottom{width:100%;min-height:10px;text-align:center;line-height:28px;color:#5e4d0b;font-size:18px;margin-top:22px;}
/*<!--遮盖层-->*/
.bg{display:none;width:100%;height:100%;position:fixed;top:0;left:0;background:#000;filter:alpha(opacity=50);  -moz-opacity:0.5;  -khtml-opacity: 0.5;  opacity: 0.5;z-index: 4;}
/*<!--弹窗1-->*/
.window1{text-align:center;width: 502px;height:308px;background:url(../../../images/activity/ecup2016/tanbg.png) no-repeat center;position:fixed;left:0;top:0;right:0;bottom:0;margin:auto;z-index: 6;display: block;padding-top:126px;}
.window2{text-align:center;width: 502px;height:308px;background:url(../../../images/activity/ecup2016/tanbg.png) no-repeat center;position:fixed;left:0;top:0;right:0;bottom:0;margin:auto;z-index: 6;display: block;padding-top:126px;}
.window3{text-align:center;width: 502px;height:308px;background:url(../../../images/activity/ecup2016/tanbg.png) no-repeat center;position:fixed;left:0;top:0;right:0;bottom:0;margin:auto;z-index: 6;display: block;padding-top:126px;}
.window1img{width:100%;height:18px;font-size: 18px;line-height: 18px;color:#fff;margin-top:16px;}
.window1 .window1btn{margin:30px auto 0;display: block;width:311px;height:69px;background:url(../../../images/activity/ecup2016/win2.png) no-repeat center;line-height:68px;text-align: center;font-size: 36px;color: #63492b;}
.window1 .window1close{margin:70px auto 0;display: block;width:54px;height:54px;}
/*弹窗2*/
.window1img2{width:100%;height:24px;font-size: 24px;line-height: 24px;color:#fff;margin-top:76px;}
.window2 .window1close2{margin:166px auto 0;display: block;width:54px;height:54px;cursor: pointer;}
.window3 .window1close2{margin:166px auto 0;display: block;width:54px;height:54px;cursor: pointer;}
/* 弹窗4*/
.prize_have{width:420px;height:492px;background:#14b92c;position:fixed;left:0;top:0;right:0;bottom:0;margin:auto;z-index: 6;}
.prize_title{width:420px;height:47px;}
.prize_title li{float: left;width:287px;height:47px;text-align: center;line-height: 52px;font-size: 24px;color:#a3450f;}
.prize_txt{width:354px;height:410px;background: #fff;margin:0 auto;overflow-y: auto;overflow-x:hidden;}
.prize_txtlong{width:354px;min-height:30px;overflow:hidden;background:#11a126;}
.prize_txtlong li{font-size: 18px;color:#666;line-height: 30px;width:354px;height:30px;}
.prize_txtlong li span{width:140px;height:100%;display: block;float: left;font-size: 18px;color: #fff;}
.prize_txtlong li b{display: block;width:44px;height:18px;background: url(../../../images/activity/ecup2016/win4.png) no-repeat center;float: left;text-align: center;line-height:18px ;font-size: 14px;color:#11a126;margin:7px 6px 0 18px;}

.prize_txtlong li i{width:120px;height:auto;display: block;float: right;font-size: 18px;color: #eef106;padding-left: 16px;}
.prize_nh3{width:420px;height: 60px;text-align: center;line-height: 60px;font-size: 30px;color:#eef106;font-weight: 600;position:relative;}
.closeimg{position:absolute;top:-1px;right:3px;cursor: pointer;}
.alert_window{
	text-align: center;
       width: 502px;
       height: 308px;
       background: url(../../../images/activity/ecup2016/tanbg.png) no-repeat center;
       position: fixed;
       left: 0;
       top: 0;
       right: 0;
       bottom: 0;
       margin: auto;
       z-index: 6;
       display: block;
       padding-top: 126px;
}
.alert_text{
    width: 100%;
       height: 24px;
       font-size: 24px;
       line-height: 24px;
       color: #fff;
       margin-top: 76px;
}
.alert_close {
    margin: 166px auto 0;
       display: block;
       width: 54px;
       height: 54px;
       cursor: pointer;
}
