#Html("begin")
#Head("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadJS("resources/micro2.0/scripts/assets/six")
#LoadCSS("resources/micro2.0/styles/assets/default")
#LoadCSS("resources/micro2.0/styles/activity/national-lottery")
#LoadJS("resources/common/scripts/jquery-1.11.1.min")
#LoadJS("resources/micro2.0/scripts/common/common")
#LoadJS("resources/micro2.0/scripts/activity/jQueryRotate.2.2")
#LoadJS("resources/micro2.0/scripts/activity/national-lottery")
#WeChatShare()
#Head("end")

<body>
	<input type="hidden" id="APP_ROOT_PATH" value="$!env.getWebURL('')"/>
	<input type="hidden" id="VALIDATE_PATH" value="$env.get('site.validate.code.path')"/>
	<input type="hidden" id="agentViewFlag" value="$!agentId"/>
	<div class="header">
		<img class="headerImg" src="$!env.getWebURL('resources/micro2.0/images/activity/17_0123/header.png')" alt="">
		<div class="header_time">活动时间：2017.01.23-01.27</div>
		
	</div>
	<div class="contain-list">
		<div class="list-name">
			<div class="namemove">
				<ul class="nameUl">
					#foreach($lucky in $!userLuckyList)
					<li class="name-li">$lucky.mobile抽中$lucky.awardContent</li>
					#end
				</ul>
			</div>
			<div class="lottery">
				<div class="lottery-prize">
					<img src="$!env.getWebURL('resources/micro2.0/images/activity/17_0123/Cj01.png')" alt="" class="prizeBg">
					<img id="lotteryBtn" src="$!env.getWebURL('resources/micro2.0/images/activity/17_0123/Cj02.png')" alt="" class="arrowprize">
				</div>
				<div class="form-btn prize-btn">我的奖品</div>
			</div>
		</div>
		
	</div>
	<div class="contain-list tabTop">

		<ul class="tabul-Name">
			<li class="tabli tabliner tabActive">
				<img src="$!env.getWebURL('resources/micro2.0/images/activity/17_0123/tab01.png')" alt="" class="tabactiveLeftImg">
				活动奖品
				<img src="$!env.getWebURL('resources/micro2.0/images/activity/17_0123/tab02.png')" alt="" class="tabactiveRightImg">
			</li>
			<li class="tabli">
				<img src="$!env.getWebURL('resources/micro2.0/images/activity/17_0123/tab01.png')" alt="" class="tabactiveLeftImg">
				活动细则
				<img src="$!env.getWebURL('resources/micro2.0/images/activity/17_0123/tab02.png')" alt="" class="tabactiveRightImg">
			</li>
		</ul>
		<div class="tabmain">
			<div class="tab-container">
				<ul class="tabone">
					<li class="oneli">
						<div class="wrapli">
							<div class="wrapLeft">
								<img src="$!env.getWebURL('resources/micro2.0/images/activity/17_0123/lotter01.png')" alt="">
							</div>
							<div class="wrapRight">苹果7plus128g颜色随机</div>
						</div>
					</li>
					<li class="oneli">
						<div class="wrapli">
							<div class="wrapLeft">
								<img src="$!env.getWebURL('resources/micro2.0/images/activity/17_0123/lotter02.png')" alt="">
							</div>
							<div class="wrapRight">10元奖励金</div>
						</div>
					</li>
					<li class="oneli">
						<div class="wrapli">
							<div class="wrapLeft">
								<img src="$!env.getWebURL('resources/micro2.0/images/activity/17_0123/lotter03.png')" alt="">
							</div>
							<div class="wrapRight">300M流量</div>
						</div>
					</li>
					<li class="oneli">
						<div class="wrapli">
							<div class="wrapLeft">
								<img src="$!env.getWebURL('resources/micro2.0/images/activity/17_0123/lotter04.png')" alt="">
							</div>
							<div class="wrapRight">100M流量</div>
						</div>
					</li>
					<li class="oneli">
						<div class="wrapli">
							<div class="wrapLeft">
								<img src="$!env.getWebURL('resources/micro2.0/images/activity/17_0123/lotter05.png')" alt="">
							</div>
							<div class="wrapRight">88元红包</div>
						</div>
					</li>
					<li class="oneli">
						<div class="wrapli">
							<div class="wrapLeft">
								<img src="$!env.getWebURL('resources/micro2.0/images/activity/17_0123/lotter06.png')" alt="">
							</div>
							<div class="wrapRight">58元红包</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="tab-container tabTwo">
				<ul class="tabContainer-ul">
					<li class="tabContainer-li">
						<span class="Tindx">1、</span>
						活动时间：2017.01.23-01.27；
					</li>
					<li class="tabContainer-li">
						<span class="Tindx">2、</span>
						活动期间，每个手机号限参与一次；
					</li>
					<li class="tabContainer-li">
						<span class="Tindx">3、</span>
						活动期间，本次活动不与其它活动叠加；
					</li>
					<li class="tabContainer-li">
						<span class="Tindx">4、</span>
						奖品派送方式如下：
						<div class="tabcontanerFive">
							<ul class="five-ul">
								<li class="five-li">A获得投资红包的用户，我们将在活动结束后的五个工作日内（2月9日前）发放至用户账户，用户可在【我的资产】-【我的红包】中查看；</li>
								<li class="five-li">B获得奖励金的用户，我们将在活动结束后的五个工作日内（2月9日前）发放至用户账户，用户可在【我的资产】-【我的奖励】中查看；</li>
								<li class="five-li">C获得流量包的用户，我们将在活动结束后的五个工作日内（2月9日前）充值至获奖手机号（流量包仅限当月有效），请保持手机畅通，注意查收；</li>
								<li class="five-li">D获得实物奖励的用户，客服将在活动结束后五个工作日内（2月9日前）与您联系，登记奖品寄送地址等事宜并尽快寄出，请保持手机畅通。如因您自身原因错过通知，则视为放弃奖励；</li>
							</ul>
						</div>
					</li>
					<li class="tabContainer-li">
						<span class="Tindx">5、</span>
						手机流量包不受运营商限制，中国移动、中国联通、中国电信皆可使用。
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="footer-info">
		#if($!agentId == 15)
			本次活动最终解释权归钱报178理财俱乐部所有
		#elseif($!agentId == 36)
			本次活动最终解释权归柯桥日报理财俱乐部所有
		#elseif($!agentId == 46)
			本次活动最终解释权归海宁日报818理财俱乐部所有
		#elseif($!agentId == 47)
			本次活动最终解释权归瑞报财管家所有
		#end
	</div>

	<!-- 我的奖品-弹窗 -->
	<div id="my-lotter_dialog" class="dialog_notice alert_hide">
		<div class="my-lotter">
			<img src="$!env.getWebURL('resources/micro2.0/images/activity/17_0123/dialog01.png')" alt="" class="my-titleimg">
			<img src="$!env.getWebURL('resources/micro2.0/images/activity/17_0123/dialog02.png')" alt="" class="my-close">
			<div class="my-lotter-container">
				<div class="bgloter">
					<img class="bgattrImg" src="$!env.getWebURL('resources/micro2.0/images/activity/17_0123/lotter06.png')" alt="">
				</div>
				<div class="address_1" id="address_award_note">
				</div>
				<div class="address" id="awardText">
				</div>
				<div class="mylotter-btn to-share">喊好友来抽奖</div>
				<div class="mylotter-btn care-about">关注我们</div>
			</div>	
		</div>
	</div>
	
	<div id="stateInfo" class="dialog_notice alert_hide">
		<div class="defaInfo">
			<img src="$!env.getWebURL('resources/micro2.0/images/activity/17_0123/dialog04.png')" alt="" class="eggtop">
			<img src="$!env.getWebURL('resources/micro2.0/images/activity/17_0123/state-close.png')" alt="" class="state-close">
			<div class="info_one">您已经参与过抽奖</div>
			<div class="info_two">请在“我的奖品”中查看中奖纪录</div>
			<div class="state-btn" id="btn_id">
				我知道了
			</div>
		</div>
	</div>
	
	<div id="get-lotter_dialog" class="dialog_notice Congratulations alert_hide">
    	<div class="my-lotter">
    		<img src="$!env.getWebURL('resources/micro2.0/images/activity/17_0123/dialog05.png')" alt="" class="my-titleimg">
    		<img src="$!env.getWebURL('resources/micro2.0/images/activity/17_0123/dialog02.png')" alt="" class="my-close-1">
    		<div class="defaInfo">
    			<div class="info_one" id="getAwardText">获得</div>
    			<div class="info_two">详情请前往“我的奖品”查看</div>
    			<div class="state-btn-1">
    				我知道了
    			</div>
    		</div>	
    	</div>
    </div>
	
	
	<!-- 遮罩-分享朋友 -->
    <div class="shae_dialgo share_one">
    	<div class="arrow"></div>
    	<div class="shar_off"></div>
    </div>
</body>
#Html("end")