.body{background:#fb2f4a;}
.banner{width:100%;height:488px;margin:0 auto;background:url(../../images/activity/banner1.jpg) no-repeat center;}
.main_activity{width:1142px;height:700px;margin:-70px auto 0;padding-left: 58px;}
.main_left{width:228px;height:700px;float: left;}
.main_Ltop{width:228px;height:58px;font-size: 24px;color:#fee123;line-height:58px;}
.main_Ltxt{width:228px;height:620px;overflow: hidden;}
.main_Ltxt ul li{font-size: 14px;color:#fff;line-height: 27px;}
.main_right{width:876px;height:700px;float:right;}
.main_rtop{width:876px;height:58px;}
.main_rnum{width:auto;height:58px;float: left;font-size: 14px;color:#fff;line-height: 64px;}
.rspan{color:#fee123;}
.main_rbtn{width:auto;height:58px;float: right;font-size: 14px;color:#fff;}
.ri{font-size: 12px;display: block;width:auto;height:58px;float: left;line-height: 30px;}
.main_rbtn .rbtn{cursor:pointer;font-size: 12px;display: block;width:96px;height:30px;float: right;background: url(../../images/activity/rbtn.png) no-repeat;color:#aa0008;text-align: center;line-height: 25px;font-weight: 600;margin:0 46px 0 6px;}
.main_rcenter{width:830px;height:424px;}

#lottery{width:830px;height:424px;}
#lottery table{width:830px;height:424px;}
#lottery table td{width:165px;height:140px;position:relative;text-align: center;vertical-align:middle;word-break:break-all;word-wrap:break-word;overflow: hidden; }
#lottery table td div{width:165px;height:140px;background:#000;position:absolute;top:0;left:0;display: none;filter:alpha(opacity=20);  -moz-opacity:0.2;  -khtml-opacity: 0.2;  opacity: 0.2;border-radius: 5px;}
#lottery table td a{width:297px;height:140px;background:#fcf;display: block;text-decoration: none; }
#lottery table td.active{background-color:#ea0000;}
#lottery table td h6{width:100%;height:auto;text-align: center;font-size: 14px;color:#d92835;line-height: 20px;}


.main_rdown{width:835px;height: 173px;border:1px solid #bd0100;background:#d70c23;margin-top:20px;position:relative;}
.mdimg{position:absolute;top:0;left:0;}
.mdtxt{width:678px;height:auto;position:absolute;z-index: 1;left:72px;font-size: 18px;color:#fffeec;line-height: 30px;top:14px;}
.mdtxt .md_btn{width:150px;height:45px;display: block;background:url(../../images/activity/md_btn.png) no-repeat center;text-align: center;line-height: 45px;font-size: 18px;color:#d20f25;font-weight: 600;margin:10px auto 0;}
.md_my{position:absolute;top:115px;right:-35px;}

.rule{width:1142px;height:468px;margin:4px auto 0;padding-left: 58px;}
.rule_txt{width:1098px;height:468px;background:#fff7cc;}
.rule_h3{width:1059px;height:51px;padding:17px 0 0 39px;}
.ruh3txt{width:99px;height:34px;border-left:8px solid #ff7301;background:#ff9900;position:relative;font-size: 20px;color:#fff7cc;line-height:34px;padding-left:12px;}
.ru_txt{width:970px;min-height:20px;overflow: hidden;margin:18px 0 0 62px;}
.ru_txt em{display: block;width:18px;height:18px;background: url(../../images/activity/yuan.png) no-repeat;text-align: center;line-height: 18px;font-size: 14px;color:#fff7cc;float: left;margin-top:2px;}
.ru_txt p{font-size: 14px;color: #666;line-height: 21px;width:942px;float: right;}
.foot{width:1200px;height:222px;margin:0 auto;text-align: center;font-size: 14px;color:#fff7cc;line-height: 22px;padding-top:12px;}

/*弹窗*/
.win_bg{display:none;width:100%;height:100%;position:fixed;top:0;left:0;background:#c9e5e8;filter:alpha(opacity=50);  -moz-opacity:0.5;  -khtml-opacity: 0.5;  opacity: 0.5;z-index: 4;}
/*我的奖品空*/
.prize_nothing{width:574px;height:334px;background:#fff0c5;border-radius: 10px;position:fixed;left:0;top:0;right:0;bottom:0;margin:auto;z-index: 6;display: none;}
.prize_nh3{width:574px;height: 60px;text-align: center;line-height: 60px;font-size: 30px;color:#b4462e;font-weight: 600;position:relative;}
.closeimg{position:absolute;top:14px;right:18px;}
/*我的奖品有*/
.prize_have{width:574px;height:334px;background:#fff0c5;border-radius: 10px;position:fixed;left:0;top:0;right:0;bottom:0;margin:auto;z-index: 6;display: none;}
.prize_title{width:574px;height:47px;}
.prize_title li{float: left;width:287px;height:47px;text-align: center;line-height: 52px;font-size: 24px;color:#a3450f;}
.prize_txt{width:518px;height:204px;background: #fff;margin:0 auto;overflow-y: auto;overflow-x:hidden;}
.prize_txtlong{width:458px;min-height:30px;overflow:hidden;padding:0 30px 0 30px;}
.prize_txtlong li{font-size: 18px;color:#666;line-height: 30px;width:auto;min-height:30px;overflow: hidden;position:relative;}
.prize_txtlong li span{width:186px;height:100%;display: block;float: left;position: absolute;}
.prize_txtlong li i{width:220px;height:auto;display: block;float: right;}

/*中奖*/
.Winning{width:574px;height:300px;background:#fff0c5;border-radius: 10px;position:fixed;left:0;top:0;right:0;bottom:0;margin:auto;z-index: 6;display: none;}
.Winning_h3{font-size: 48px;color:#b4462e;font-weight: 600;height:88px;line-height:88px;text-align: center;width:574px;position:relative;}
.Winning_title{width:574px;height:54px;line-height: 54px;font-size: 30px;color:#b4462e;text-align: center;}
.Winning_btn{display: block;height:67px;width: 288px;margin:54px auto 0;cursor:pointer;}
.Winning_hou{position:absolute;top:-123px;left:203px;}

/*抽奖次数*/
.prize_num{width:574px;height:334px;background:#fff0c5;border-radius: 10px;position:fixed;left:0;top:0;right:0;bottom:0;margin:auto;z-index: 6;display: none;}
.prize_numh3{width:562px;height: 44px;padding-left:12px;border-radius:10px 10px 0 0;line-height: 44px;font-size: 16px;color:#fff0c5;position:relative;background:#ff960e;}
.prize_numtxt1{width:562px;height:34px;line-height:34px;font-size: 24px;text-align: center;color: #a3450f;margin-top: 40px;}
.prize_numtxt2{width:562px;height:34px;line-height:34px;font-size: 24px;text-align: center;color: #a3450f;margin-top: 32px;}
.prize_numtxt3{width:562px;height:34px;line-height:34px;font-size: 24px;text-align: center;color: #a3450f;}
.prize_num .prize_numbtn{cursor:pointer;width:146px;height:45px;display: block;font-size: 18px;color:#fff;background:#ef8702;border-radius: 4px;margin:42px auto 0;line-height: 45px;text-align: center;}
























