.banner{width:100%;height:623px;margin:0 auto;background:url(../../images/activity/banner.jpg) no-repeat center;}
.banner_center{width:1200px;height:625px;margin:0 auto;position: relative;background: url(../../images/activity/wenan.png) no-repeat center 87px;}
.ban_btn{display: block;width:108px;height:106px;background:url(../../images/activity/ban_btn.png) no-repeat;position: absolute;left: 300px;top:36px;font-size: 32px;color: #000;line-height: 36px;font-weight: 600;padding:26px 0 0 20px;}
.maincont{width:100%;height:686px;margin:0 auto 0;background:#fef0be;}
.main_center{width:1304px;height:686px;margin:0 auto;position: relative;top:-36px;}
.main_left{width:618px;height:615px;float: left;background:url(../../images/activity/main_left.png) no-repeat;position:relative;}
.left_yuan{width:223px;height:72px;background:url(../../images/activity/left_yuan1.png) no-repeat;position: absolute;text-align: center;line-height: 72px;top:172px;left:408px;padding-left: 10px;}
.left_yuan span{font-size: 40px;color:#cf0924;font-weight: 600;}
.left_yuan i{font-size: 28px;color:#cf0924;position: relative;top:-4px;left:4px;font-weight: 600;}
.left_txt{width:100%;height:24px;font-size: 24px;line-height: 24px;text-align: center;color:#6d1618;position:absolute;top:444px;}
.left_btn{text-align:center;width:220px;height:54px;display: block;background: url(../../images/activity/left_ntn.png) no-repeat;position:absolute;left:202px;top:490px;font-size: 30px;color:#fdedb4;}
.left_btn:hover{color:#fdedb4;}
.left_btn span{position: relative;top: -16px;margin-right: 8px;}
.main_right{width:618px;height:615px;float: right;background:url(../../images/activity/main_right.png) no-repeat;margin-top:20px;position:relative;}
.right_yuan{width:213px;height:72px;background:url(../../images/activity/left_yuan1.png) no-repeat;position: absolute;text-align: center;line-height: 72px;top:85px;left:270px;padding-left: 20px;}
.right_yuan span{font-size:28px;color:#cf0924;font-weight: 600;}
.right_txt{width:100%;height:24px;font-size: 24px;line-height: 24px;text-align: center;color:#6d1618;position:absolute;top:424px;}
.right_txt i{margin-right: 14px;}
.right_btn{text-align:center;width:220px;height:54px;display: block;background: url(../../images/activity/left_ntn.png) no-repeat;position:absolute;left:202px;top:470px;font-size: 30px;color:#fdedb4;}
.right_btn:hover{color:#fdedb4;}
.right_btn span{position: relative;top: -16px;margin-right: 8px;}
.bg1{width:100%;height:30px;margin:0 auto;background:url(../../images/activity/bg1.jpg) repeat-x;}
.maintxt{width:100%;height:552px;background:#fee792;margin:0 auto;}
.txt_center{width:1200px;height:490px;margin:0 auto;background:url(../../images/activity/txtbg.png) no-repeat center 152px;padding-top: 62px;}
.txt_h3{width:438px;height:72px;background:url(../../images/activity/txth3.png) no-repeat;margin:0 auto;text-align: center;line-height: 56px;font-size: 36px;color:#fdedb4;}
.txt1{font-weight:600;width:674px;min-height:180px;margin:54px auto 0;overflow: hidden;}
.txt1 span{width:22px;height:22px;background: url(../../images/activity/dian.png) no-repeat;display: block;float: left;text-align: center;line-height: 22px;color:#fee792;font-size: 16px;margin-bottom: 23px;}
.txt1 i{width:634px;height:22px;display: block;float: right;color:#ab1e1b;line-height: 22px;font-size: 18px;margin-bottom: 23px;padding-left: 10px;}
.txt2{font-size: 18px;color:#d4612e;height:24px;width:636px;margin:0 auto;padding-left: 38px;font-weight:600;}
.bg2{width:100%;height:30px;margin:0 auto;background:url(../../images/activity/bg2.jpg) repeat-x;}
.bottom{width:100%;height:348px;background:#ffd564;}
.b_center{width:1200px;height:280px;margin: 0 auto;padding-top:68px;}

.main_ul li{width:234px;height:190px;text-align: center;float: left;margin-right: 10px;margin-left: 48px;}
.main_ul h3{font-size: 28px;line-height:36px;font-weight: 600;color:#6d1618;margin-top:8px;}
.main_ul p{font-size: 18px;color:#6d1618;margin-top:8px;}
.main_one .ul1{margin-right:0;}




.login_list{width:438px;height:500px;background:#fff;position: fixed;left:0;top:0;right:0;bottom:0;margin:auto;display: none;z-index: 11;}
.login_list_h3{width:423;height:51px;background:#f6f6f6;line-height: 51px;font-size: 16px;color:#666666;padding-left: 15px;}
.login_list_btn{margin-left: 364px;}
.login_list_top{width:392px;height:67px;padding-left: 46px;text-align: center;line-height: 67px;}
.login_list_tleft{width:175px;height:64px;border-bottom: 3px solid #ff6633;float: left;color:#fc782e;font-size: 22px;}
.login_list_tright{width:175px;height:64px;border-bottom: 3px solid #f5f5f5;float: left;font-size: 16px;color:#666;}
.login_list_trighta{color:#34b9ff;}
.login_list_trform .login_list_trtxt{width:335px;height:52px;border:1px solid #e4e4e4;font-size: 16px;color:#666;padding-left: 11px;margin: 47px auto 0;line-height: 52px;}
.login_list_trform .login_list_trpwd{width:335px;height:52px;border:1px solid #e4e4e4;font-size: 16px;color:#666;padding-left: 11px;margin:29px auto 0;line-height: 52px;position:relative;}
.login_list_trimg{position: absolute;left:350px;top:102px;}
.login_list_trpwdspan{position:absolute;top:105px;left:57px;color:#666;font-family:微软雅黑;}
.login_list_trform{position: relative;}
.login_list_tra{width:438px;height:54px;line-height: 54px;}
.login_list_trap{font-size: 16px;color:#34b9ff;margin-left:318px;}
.login_list_trabtn{cursor: pointer;font-size: 22px;color:#fff;display: block;width:348px;height: 54px;background:#ff6633;text-align: center;line-height: 54px;margin: 0 auto;}
.login_list_tratxt{font-size: 14px;color:#666;text-align: center;line-height: 32px;margin-top: 5px;}

.login_listtwo{width:574px;_height:100px;min-height:100px;background:#fff;left: 40%;top: 50%;margin-left: -150px!important;margin-top: -60px!important;margin-top: 0px;position: fixed!important;overflow:hidden;display: none;z-index: 11;padding-bottom: 20px;}
.login_listtwo_h3{width:560px;height:47px;background:#f6f6f6;line-height: 47px;font-size: 16px;color:#666666;padding-left: 14px;}
.login_listtwo_btn{margin-left: 466px;}
.login_listtwo .login_listtwo_txt{font-size: 16px;color:#333;width:480px;_height:50px;min-height:50px;line-height: 32px;padding:35px 46px;}
.login_listtwo_btnd{width:574px;height:46px;}
.login_listtwo_btnl{width:146px;height:46px;background:#ff6633;display: block;text-align: center;line-height: 46px;color:#fff;float:left;margin:0 10px 0 136px;}
.login_listtwo_btnr{width:144px;height:44px;background:#f8fafc;display: block;text-align: center;line-height: 46px;color:#333;border:1px solid #e4e4e4;float:left;}

.login_listthree{width:574px;_height:100px;min-height:100px;background:#fff;display: none;z-index: 11;padding-bottom: 20px;left: 40%;top: 50%;margin-left: -150px!important;margin-top: -60px!important;margin-top: 0px;position: fixed!important;overflow:hidden;}
.login_listthree_h3{width:560px;height:47px;background:#f6f6f6;line-height: 47px;font-size: 16px;color:#666666;padding-left: 14px;}
.login_listthree_btn{margin-left: 466px;}
.login_listthree .login_listthree_txt{font-size: 16px;color:#333;width:480px;_height:50px;min-height:50px;line-height: 32px;padding:35px 46px;}
.login_listthree_btnd{width:574px;height:46px;}
.login_listthree_btnl{width:146px;height:46px;background:#ff6633;display: block;text-align: center;line-height: 46px;color:#fff;float:left;margin-left:214px;}
.login_listthree_btnr{width:144px;height:44px;background:#f8fafc;display: block;text-align: center;line-height: 46px;color:#333;border:1px solid #e4e4e4;float:left;}
.msg{text-align: center;color:#ff6633;margin-top:-27px;}





.div_login{position: fixed; top: 0px;opacity:0.5; filter: alpha(opacity=50); background-color: #c9e5e8;z-index: 1; left: 0px;width:100%;height:100%;display:none;}
.hike_login_copy{text-align:center;width:340px;height:auto;background:#fddf99;border-radius: 3%;position:fixed;top:50%;left:50%;margin:-175px 0 0 -170px;overflow:hidden;display: none;z-index:1;padding-bottom:20px;}
.hike_close{ position:absolute; right: 15px;top: 7px;}
.hike_login_copy .hike_txt_copy{font-size: 22px;font-weight: 700;color:#540403;margin-top:28px;}
.hike_login_copy .hike_txt_copy span{color:#FF1111;font-size: 26px;position:relative;top:3px;padding:0 3px;}
.hike_login_copy .txt_copy{width:230px;height:30px;line-height:30px;border-radius:4px;border:1px solid #E9B375;margin:10px auto 0;padding-left:10px;}
.hike_login_copy .pwd_copy{width:230px;height:30px;line-height:30px;border-radius:4px;border:1px solid #E9B375;margin:10px auto 0;padding-left:10px;}
.hike_login_copy .pwd_btn_copy{display:block;width:14px;height:12px;background:url(../../images/landing_page/eye.png) no-repeat;border:none;position:absolute;right:60px;top:110px;}
.hike_login_copy .pwd_txt_copy{position:absolute;font-size:12px;width:100%;text-align:center;top:136px;}
.hike_login_copy .phone{width:150px;height:30px;line-height:30px;border-radius:4px;border:1px solid #E9B375;margin:10px auto 0;padding-left:10px;display:inline-block;}
.hike_login_copy .phone_btn{display:inline-block;width:72px;height:32px;background:#65AFEB;color:#fff;border: none;margin:10px auto 0;font-size:12px;line-height:32px;text-align:center;border-radius:4px;}
.hike_login_copy .box{position:absolute;top:268px;border:none;border:1px solid #E9B375;}
.hike_login_copy .chechbox {font-size:12px;width:100%;}
.hike_login_copy .check_safe_copy{font-size:12px;}
.hike_login_copy .check_safe_copy img{position:relative;top:6px;margin-right:3px;}

.hike_login_copy .input{width:150px;height:30px;line-height:30px;border-radius:4px;border:1px solid #E9B375;display:inline-block;padding-left:10px; margin-top: 25px;}
.banner-btn{width:72px;height:32px;display:inline-block;position:relative;top:10px;}
.hike_login_copy .chechbox .check_txt{color:#66afec;}
.hike_login_copy .login_btn {width:240px;height:32px;background:#ff6633;border:none;color:#fff;margin:10px auto;}












