@charset "UTF-8";
.succed_wp{width:100%; height:100%; background: rgba(0,0,0,.6); position:fixed; left:0px; top:0px;background:black\0;filter:alpha(opacity=90);}
.succ_bg{ width:610px; height:652px;position: absolute; left:50%; top:50%; margin:-376px 0px 0px -305px;position:relative\0;z-index:999\0;}
.info_dialog{ position:absolute;width:477px; top:23%;margin:0px 40px; border:2px solid #5f2502; padding: 4% ;/* left: -20px;right: -20px; */ text-align: center; background: #ffd600; border-radius: 16px;}
.piaodai{ position:absolute; top:-44px;left: 17%;}
.piao_title{ text-align: center;font-size: 30px;line-height: 30px;color: white;position: absolute;top: -34px;left: 34%;display: block;width: 150px;}
.succ_close{ position:absolute; cursor:pointer;    right: -18px;top: -27px; }
.succ_main{ padding:0px;margin-top:9%;}
.main_title,.main_ft{ font-size: 35px;line-height: 35px; color:#5f2502; }
.main_ft{ line-height: 56px; }
.btn_result{ width:50%; margin:0 auto;cursor:pointer; cursor:pointer; padding:3% 10%; font-size: 30px; line-height: 30px; color:white; border:2px solid #5f2502; background:#f33529; border-radius: 6px; margin-top:30px;}
.monkey_result{ position: absolute; right: -47px;bottom: -163px; }