ul,li,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
.lucky_lenders{
    background: url(../../images/activity/2018/lucky_lenders/lucky_leder_bg.jpg);
}
.lucky_lenders_banner{
    background: url(../../images/activity/2018/lucky_lenders/lucky_leder_banner.jpg) no-repeat center;
    height: 658px;
}
.lucky_lenders_container{
    width: 1080px;
    margin: auto;
    padding-bottom: 50px;
}
.lenders_bar{
    height: 150px;
    background: #7524ed;
    margin-top: -110px;
    margin-bottom: 60px;
    box-shadow: 0px 3px 5px 0px rgba(57, 42, 154, 0.3);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.lenders_bar_left{
    float: left;
    width: 220px;
    height: 150px;
    position: relative;
}
.lenders_bar_right{
    float: left;
    width: 860px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 45px 30px;
}
.lenders_bar_left img{
    position: absolute;
    left: 0;
    bottom: 0;
}
.lenders_bar_right p{
    color: #e7d116;
    font-size: 18px;
    line-height: 25px;
}
.lenders_winnerlist{
    position: relative;
    padding: 80px 25px 40px;
}
.lenders_wrap_pic{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}
.lenders_list_content{
    position: relative;
    z-index: 1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #f9f4ff;
    margin-bottom: 65px;
    overflow: hidden;
}
.lenders_list_btn{
    margin: 0 auto 20px;
}
.lenders_list_btn a{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 600px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    background: #6835ed;
    background-image: -moz-linear-gradient( 0deg, rgb(42,134,236) 0%, rgb(117,36,237) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(42,134,236) 0%, rgb(117,36,237) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(42,134,236) 0%, rgb(117,36,237) 100%);
    text-align: center;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 3px 5px 0px rgba(57, 42, 154, 0.3);
}

.lenders_rule{
    padding: 80px 25px 30px;
    position: relative;
}
.lenders_rule_text{
    height: 230px;
    padding: 40px 40px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #7524ed;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.lenders_rule h5{
    font-size: 24px;
    color: #fcdc2d;
    line-height: 25px;
    margin-bottom: 20px;
}
.lenders_rule p{
    font-size: 14px;
    color: #fcdc2d;
    line-height: 15px;
    margin-bottom: 10px;
}

.lenders_list_content .list_null{
    padding-top: 50px;
    height: 370px;
}
.lenders_list_content .list_null_img{
    margin-bottom: 60px;
    text-align: center;
}
.lenders_list_content .list_null p{
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    color: #333;
}
.lenders_list_content .list_from{
    background: #7524ed;
}
.lenders_list_content .list_from h5{
    color: #fcdc2d;
    font-size: 24px;
    line-height: 60px;
    height: 60px;
    text-align: center;
}
.lenders_list_content .list_title{
    line-height: 60px;
    height: 60px;
}
.lenders_list_content .list_title .list_title_side{
    float: left;
    line-height: 60px;
    height: 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    border:solid 1px #c8a7f8;
    text-align: center;
    font-size: 24px;
    color: #fff;
}
.lenders_list_content .list_content{
    overflow: hidden;
}
.lenders_list_content .list_content li{
    height: 60px;
    line-height: 60px;
}
.lenders_list_content .list_content .list_content_odd{
    background: #ebe6f4;
}
.lenders_list_content .list_content .list_content_even{
    background: #fff;
}
.lenders_list_content .list_content li .list_content_side{
    float: left;
    line-height: 60px;
    height: 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    text-align: center;
    font-size: 18px;
    color: #333;
}