/*大弹窗*/
.body_bg{opacity:0.5; filter: alpha(opacity=50); background-color: #000;z-index: 1;position: fixed; left: 0px;top:0;right:0;bottom:0;width:100%;height:100%;display:none;}
.egg{width: 352px;text-align: center;position: fixed;z-index: 2;top: 50%;margin-top: -213px;left: 50%;margin-left: -176px;}
.egg_img2{position: absolute;right: 23px;top: -68px;}
.egg_img3{position: absolute;left: 0;top: 98px;}
.egg_img1{}
.cursor{width: 100%;height: 100%;cursor-size:128px; background:#000;opacity:0;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);position: absolute;top:0;left:0;z-index: 2;}
.egg_click{width: 402px;height:344px;text-align: center;position: fixed;z-index: 2;top: 50%;margin-top: -172px;left: 50%;margin-left: -201px;display: none;}
.egg_img5{position: absolute;bottom: 8px;left: 0;}
.egg_img4{width: 0;position: absolute;bottom: 120px;left: 50%;}

.egg_red{width: 414px;height: 527px;background: url(../../images/activity/treble_gift/egg6.png) no-repeat center;position: absolute;z-index: 2;top: 50%;left: 50%;margin-left: -207px;margin-top: -288px;}
.egg_red_txt{width: 100%;text-align: center;font-size: 24px;color: #fced4a;line-height: 50px;height: 237px;padding-top: 270px;position: relative;}
.close{position: absolute;top: 80px;right: 30px;cursor: pointer;}
.egg_red_btn1{width: 243px;height: 57px;margin:54px auto 0;}
.egg_red_btn1 .egg_red_btna{display: block;width: 100%;height: 100%;color: #ff2d4b;}
.egg_red_btn2{width: 243px;height: 57px;margin:15px auto 0;}
.egg_red_btn2 .egg_red_btna{display: block;width: 100%;height: 100%;color: #ff2d4b;}