
#body{background: #ffeccc;}
.banner{width: 100%;height: 766px;background: url(../../images/activity/treble_gift/banner.jpg) no-repeat center;}
.main_gift1{width: 100%;height: 678px;background: url(../../images/activity/treble_gift/gift4.png) no-repeat center;margin:70px auto 0;}
.main_gift_title{width: 100%;height: 96px;text-align: center;padding-top: 42px;margin:0 auto;}
.main_gift_title1{width: 100%;height: 98px;text-align: center;padding-top: 20px;margin:0 auto;}
.main_gift_time{width: 100%;font-size: 24px;line-height: 100px;text-align: center;color: #ed3c36;}
.main_gift_txt{width: 100%;height: 200px;background: url(../../images/activity/treble_gift/gift6.png) no-repeat center;padding-top: 38px;}
.main_gift_txtmoney{width: 100%;text-align: center;font-size: 24px;color: #ed3c36;line-height: normal;}

.main_gift2{width: 100%;min-height:100px;background: #ed3c36;}
.main_gift2_bg{width: 100%;height: 1368px;background: url(../../images/activity/treble_gift/gift7.png) repeat center;}
.main_gift2_box{width: 1184px;height: 810px;margin:36px auto 0;}
.main_gift2_box .main_gift2_box_left{width: 568px;height: 100%;background: #ffeccc;border-radius: 10px;border:3px solid #a01510;float:left;}
.main_gift2_Company{width: 476px;font-size: 18px;color: #ed3c36;line-height: normal;padding: 10px 56px 0 37px;}
.gift_gift2_table{width: 508px;min-height: 270px;background: #ed3c36;border-radius: 10px;margin:0 auto 0;padding:0 0 2px 2px;overflow: hidden;}
.gift_gift2_table .gift_gift2_table_title{width: 508px;height: 60px;line-height: 60px;font-size: 24px;color: #ffeccc;}
.gift_gift2_table_box{width:49%;display: inline-block;text-align: center;}
.gift_gift2_table_box1{width:31%;display: inline-block;text-align: left;}
.gift_gift2_table_box2{width:52%;display: inline-block;text-align: right;}
.gift_gift2_table_com{width: 506px;height: 208px;background: #ffeccc;border-radius: 10px;}
.gift_gift2_table_com .gift_gift2_table_comli{width: 100%;height: 69px;text-align: left;font-size: 18px;color: #ed3c36;}
.gift_gift2_table_combox{width: 198px;height: 57px;border-right: 2px solid #ed3c36;display: block;padding: 12px 20px 0 30px;float: left;line-height: 24px;}
.gift_gift2_table_combox2{width: 220px;height: 57px;display: block;padding: 12px 0 0 30px;float: right;line-height: 50px;}
.gift_gift2_btn{width: 283px;height: 71px;margin:140px auto 0;text-align: center;line-height:60px ;}
.gift_gift2_btn .gift_gift2_btna{display: inline-block;width: 100%;height: 100%;background: url(../../images/activity/treble_gift/gift_Popup1.png) no-repeat center;font-size: 36px;color: #ffeccc;}
.main_gift2_nostart{width: 385px;height: 363px;background: url(../../images/activity/treble_gift/gift9.png) no-repeat center;margin: 222px auto 0;}
.main_gift2_nostart_txt{width: 224px;font-size: 20px;color: #ed3c36;line-height: 36px;padding-top: 80px;margin:0 auto;}
.gift_gift2_combtn{width: 283px;height: 71px;margin:74px auto 0;text-align: center;line-height:60px ;}
.gift_gift2_combtn .gift_gift2_combtna{display: inline-block;width: 100%;height: 100%;background: url(../../images/activity/treble_gift/gift10.png) no-repeat center;font-size: 36px;color: #ed3c36;}
.gift_gift2_box{background: #ffeccc;width:504px;border-radius: 10px;line-height: 40px;color:#ed3c36 ;font-size: 18px;}
.gift_gift2_table_com1{width: 82%;height: 40px;padding-left:18%;border-radius: 10px;}

.main_gift3{width: 100%;height: 1214px;margin:0 auto;background: url(../../images/activity/treble_gift/gift12.png) no-repeat center;position: relative;}
.bottom{width: 100%;height: 60px;text-align: center;line-height: 60px;font-size: 24px;color: #ffeccc;background: #ed3c36;position: absolute;bottom:0;}
.main_gift3_blur{width: 1388px;height:699px;margin:0 auto;}
.main_gift3_bg{width:100%;height:730px;background:url(../../images/activity/treble_gift/banner1.jpg) no-repeat center;position: absolute;top: 0;}
.main_gift3_bbox{width: 376px;height: 144px;background: #ffeccc;border:3px solid #ed3c36;margin:160px auto 0;text-align: center;font-size: 24px;color: #ed3c36;line-height: normal;padding-top: 28px;}

/*弹窗*/
.body_bg{opacity:0.5; filter: alpha(opacity=50); background-color: #000;top: 0;filter: alpha(opacity=50);opacity: 0.5;z-index: 1;position: fixed!important;position: absolute;z-index: 1; left: 0px;width:100%;height:100%;display:none;}
.gift_Popup1{width: 570px;height: 254px;margin:auto;display: block;}
.gift_Popup1_money{width: 100%;text-align: center;font-size: 36px;color: #ed3c36;line-height: normal;padding-top: 10px;}
.gift_Popup1_Company{width: 100%;text-align: center;font-size: 18px;color: #ed3c36;line-height: normal;padding-top: 10px;}
.gift_Popup1_btn{width: 283px;height: 71px;margin:34px auto 0;text-align: center;line-height:60px ;}
.gift_Popup1_btn .gift_Popup1_btna{display: inline-block;width: 100%;height: 100%;background: url(../../images/activity/treble_gift/gift_Popup1.png) no-repeat center;font-size: 36px;color: #ffeccc;}

.gift_Popup2{width: 570px;height: 567px;background: #ffeccc;border:3px solid #a01510;position: fixed!important;margin:auto;top:0;left:0;right:0;bottom:0;z-index: 2;border-radius: 10px;display: none;}
.gift_Popup2_btn{position: absolute;right: 17px;top: 17px;}
.gift_Popup2_title{width: 514px;height: 86px;line-height: 86px;background: url(../../images/activity/treble_gift/gift_Popup3.png) no-repeat 37px center;font-size: 30px;color: #ed3c36;padding-left: 56px;}
.gift_Popup2_time{width: 471px;font-size: 24px;color: #ed3c36;padding-left: 37px;line-height: normal;}
.gift_Popup2_table{width: 506px;background: #ed3c36;border-radius: 10px;margin:20px auto 0;padding-left: 2px;padding-bottom: 2px;}
.gift_Popup2_table .gift_Popup2_table_title{width: 470px;height: 60px;line-height: 60px;padding-left: 38px;font-size: 24px;color: #ffeccc;}
.gift_Popup2_table_box{display: inline-block;height: 60px;padding:0 21px;}
.gift_Popup2_table_boxi{font-size: 18px;}
.gift_Popup2_roll{width: 560px;height: 433px;overflow-y:auto ;}
.gift_Popup2_box{background: #ffeccc;width:504px;border-radius: 10px;}

.gift_Popup2_table_com1{width: 454px;height: 40px;line-height: 40px;font-size: 18px;color: #ed3c36;padding-left: 50px;border-radius: 10px;}
.gift_Popup2_table_box1{width:114px ;display: block;float: left;text-align:left;}
.gift_Popup2_table_box2{width: 156px;display:block;float: left;text-align:right;}
.gift_Popup2_table_box3{width: 150px;display:block;float: left;text-align:right;}
.gift_Popup2_hide{width: 100%;text-align: center;padding-top: 100px;}

.gift_Popup3{width: 570px;height: 525px;background: #ffeccc;border:3px solid #a01510;position: fixed!important;margin:auto;top:0;left:0;right:0;bottom:0;z-index: 2;border-radius: 10px;display: none;}
.gift_Popup3_table{width: 458px;height: 334px;border:2px solid #ed3c36;border-radius: 10px;margin:20px auto 0;padding: 22px 24px;font-size: 18px;color: #ed3c36;line-height: 24px;font-weight: 600;}
.gift_Popup3_table p{margin-bottom: 20px;}
.gift_Popup4_table{width: 458px;height: 334px;border:2px solid #ed3c36;border-radius: 10px;margin:20px auto 0;padding: 22px 24px;font-size: 18px;color: #ed3c36;line-height: 24px;font-weight: 600;}
.gift_Popup4_table p{margin-bottom: 30px;}









