body,p,h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}
ol,ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.weekly_banner{
    height: 685px;
    background-image: url(../../images/activity/weekhay/pc_banner_bg.jpg);
    background-position:center center;
}
.weekly_banner_dot{
	height: 685px;
	background-image: url(../../images/activity/weekhay/bg_repeat.png);
}
.banner_text{
    height: 590px;
    background: url(../../images/activity/weekhay/pc_banner_text.png) no-repeat;
    width: 1080px;
    margin: auto;
}
.weekly_content{
    background: #ff6536;
    background-image: url(../../images/activity/weekhay/bg_repeat.png);
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.weekly_content_bgico{
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    background: url(../../images/activity/weekhay/pc_bg_ico.png) no-repeat center;
    height: 716px ;
    z-index: 1;
}
.weekly_content_text{
    position: relative;
    width: 1080px;
    margin: auto;
    z-index: 2;
}
.weekly_content_text h2{
    font-size: 48px;
    color:#fff;
    color: rgba(255,255,255,0.6);
    line-height: 110px;
    text-align: center;
}
.weekly_content_text h2>span{
    color: #fcd107;
}
.weekly_text_wrap{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 900px;
    margin: 0 auto 60px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 18px 24px 6px rgba(0, 0, 0, 0.1);
}
.weekly_text__title{
    height: 70px;
    background-color: #ff800b;
    background-image: linear-gradient(to left,#ff800b , #f4b01f);
    line-height: 70px;
    text-align: center;
    color: #fff;
    font-size: 36px;
}
.clearfix:after{
    content: '';
    clear: both;
    height: 0;
    display: block;
}
.weekly_project{
    width: 33.33%;
    float: left;
    text-align: center;
    margin: 50px 0 30px;
}
.weekly_project_time{
    background: no-repeat center ;
    height: 40px;
    margin-bottom: 50px;
}
.weekly_project .weekly_project_btn{
    width: 170px;
    height: 44px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    color: #fff;
    background: #ff5825;
    display: inline-block;
    font-size: 18px;
    line-height: 44px;
    text-decoration: none;
    cursor: pointer;
}
.weekly_project .finished{
    background: #ababab;
    cursor: auto;
}
.weekly_project .ready{
    background: #ffb609;
    cursor: auto;
}
.weekly_project_ico{
    height: 100px;
    background: url(../../images/activity/weekhay/pc_time_ico.jpg) no-repeat center;
    margin-bottom: 30px;
}
.send_message{
    margin-bottom: 60px;
    text-align: center;
}
.send_message a{
    display: inline-block;
    width: 480px;
    height: 90px;
    line-height: 90px;
    font-size: 48px;
    color: #fff;
    background: #fe9d0f;
    text-decoration: none;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    box-shadow: 0 18px 24px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.weekly_project_btn:hover,.weekly_project_btn:visited,.weekly_project_btn:focuse,.send_message a:hover,.weekly_cover .cover_wrap .cover_btn:hover{
	color:#fff;
}
.weekly_rule{
    margin: 10px;
    padding: 50px 30px;
    border: solid 4px #fe9d0f;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.weekly_rule h5{
    font-size: 24px;
    color: #fe5d43;
    line-height: 25px;
    margin-bottom: 30px;
}
.weekly_rule p{
    color: #fe5d43;
    font-size: 18px;
    margin-bottom: 20px;
}
.weekly_cover{
	position:fixed;
	top:0;left:0;right:0;bottom:0;
	background:rgba(0,0,0,.6);
	display:none;
}
.weekly_cover .cover_wrap{
	width:700px;
	background:#fff;
	border-radius:30px;
	margin:100px auto 0;
	text-align:center;
	box-sizing:border-box;
	padding:0 60px;
	height:540px;
}
.weekly_cover .cover_wrap .cover_content{
	position:relative;
	top:-80px;
}
.weekly_cover .cover_wrap .cover_text{
	font-size:24px;
	color:#999;
	line-height:30px;
	margin-bottom:30px;
}
.weekly_cover .cover_wrap .cover_btn{
	width:400px;
	display:inline-block;
	line-height:66px;
	background:#fe9d0f;
	font-size:36px;
	font-weight:bold;
	color:#fff;
    text-decoration: none;
    border-radius:33px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    cursor: pointer;
}
@media (min-width:0px){
	.weekly_cover .cover_wrap{
		margin:50vh auto 0;
		transform:translateY(-50%);
	}
}

/*周五至周二展示页*/
.show_banner{
    height: 583px;
    background:url(../../images/activity/weekhay/pc_weekly_show_banner.jpg) center no-repeat;
}
.show_content{
    background: #ff6436 center no-repeat;
    background-image: url(../../images/activity/weekhay/pc_weekly_show_bg.png);
}
.show_screen{
    width: 1080px;
    height: 690px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #ffffff;
    overflow: hidden;
    margin: auto;
    position: relative;
    top: -100px;
    text-align: center;
}
.show_screen_top{
    height: 580px;
    background: url(../../images/activity/weekhay/pc_weekly_show_screen_bg.png) no-repeat center;
    position: relative;
}
.show_screen_danmu{
    height: 580px;
    position: relative;
}
.show_screen_danmu_text{
    background: url(../../images/activity/weekhay/pc_weekly_show_screen_danmu.png) center no-repeat;
    height: 580px;
    width: 1290px;
    position: absolute;
    top:0;
    left: 0;
    -webkit-animation:danmu01 linear infinite 20s;
    -o-animation:danmu01 linear infinite 20s;
    animation:danmu01 linear infinite 20s;
}
.show_screen_danmu_text1{
    background: url(../../images/activity/weekhay/pc_weekly_show_screen_danmu.png) center no-repeat;
    height: 580px;
    width: 1290px;
    position: absolute;
    top:0;
    left: 0;
    -webkit-animation:danmu01 linear infinite 20s;
    -o-animation:danmu01 linear infinite 20s;
    animation:danmu01 linear infinite 20s;
}
.show_screen_bottom{
    background-color: #f7ac1b;
    height: 110px;
    padding: 10px 0;
    position: relative;
}
@media(min-width:0){
	.show_screen_danmu_text{
	left:1080px;
	}
}
.show_screen_bottom h3{
    font-size: 36px;
    line-height: 50px;
    color: #fff;
    font-weight: normal;
}
.show_screen_bottom p{
    font-size: 24px;
    line-height: 40px;
    color: #fff;
}
.show_screen_bottom .show_screen_ico{
    display: inline-block;
    width: 180px;height: 145px;
    position: absolute;
    background: url(../../images/activity/weekhay/pc_weekly_show_screenico.png) center no-repeat;
    left: 220px;
    top:-80px;
}
.danmu_animate02{
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    -o-animation-delay: 10s;
    animation-delay: 10s;
}

@keyframes danmu01 {
    from{
        left: 1080px;
    }
    to{
        left: -1290px;
    }
}
