body {
	width: 100%;
	margin: 0 auto;
	font-family: "微软雅黑";
	background: #f5f5f5;
}

.recordMain {
	width: 1080px;
	margin: 0 auto 100px;
}

.recordMainBanner {
	width: 100%;
	height: 194px;
	margin: 0 auto;
	background: url(../../images/exchange/record01.png) no-repeat center;
	padding-top: 60px;
}

.recordTxt {
	width: 100%;
	text-align: center;
	font-size: 24px;
	color: #fff;
	line-height: 24px;
}

.recordNum {
	width: 100%;
	text-align: center;
	font-size: 36px;
	color: #fff;
	line-height: 36px;
	margin: 16px auto 32px;
}

.recordBtn {
	width: 140px;
	height: 40px;
	background: url(../../images/exchange/record02.png) no-repeat center;
	margin: 0 auto;
	cursor: pointer;
}

.recordNone {
	width: 100%;
	height: 581px;
	background: #fff;
	margin: 0 auto;
	padding-top: 194px;
}

.recordNoneImg {
	display: block;
	width: 220px;
	height: 220px;
	margin: 0 auto;
}

.recordNoneTxt {
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: #666;
	line-height: 16px;
	margin: 14px auto 0;
}

.recordHave {
	width: 100%;
	height: auto;
	background: #fff;
	margin: 0 auto;
	padding: 20px 0 0;
	overflow: hidden;
}

.recordHaveTitle {
	width: 1040px;
	height: 40px;
	margin: 0 auto;
	background: #f5f5f5;
}

.recordHaveTitleList {
	width: 33.33%;
	float: left;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	color: #333;
}

.recordHaveTable {
	width: 1040px;
	margin: 0 auto;
}

.recordHaveTableList {
	width: 100%;
	height: 53px;
	line-height: 54px;
	border-bottom: 1px dashed #e5e5e5;
	text-align: center;
}

.recordHaveTableListScene,
.recordHaveTableListTime,
.recordHaveTableListRecord,
.recordHaveTableListRecordGreen {
	width: 33.33%;
	float: left;
	font-size: 14px;
	color: #666;
}

.recordHaveTableListRecord {
	color: #f63;
}

.recordHaveTableListRecordGreen {
	color: #58CA9B;
}












@charset "UTF-8";

/**
 * @version: v1.7
 * @author: xgc-whj
 * @date: 2018-05-25 21:40:00
 * @license: MIT license release
 * @jq22 address: http://www.jq22.com/jquery-info17548
 * @GitHub: https://github.com/w0624/jquery-pagination
 * @description: jQuery分页插件，可自定义样式，默认有五套样式，可自定义插件选项，简单方便，兼容IE8
 */

/*ccs-1*/
#pagination_3{
	text-align:center;
}
.whj_jqueryPaginationCss-1 {
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin:45px auto 45px;
}

.whj_jqueryPaginationCss-1 div {
    display: inline-block;
    vertical-align: bottom;
    height: 28px;
    line-height: 30px;
}

.whj_jqueryPaginationCss-1 .whj_padding {
    
}

.whj_jqueryPaginationCss-1 .whj_bgc {
    background-color: #fff;
    color: #999;
}

.whj_jqueryPaginationCss-1 .whj_border {
    border: 1px solid #e4e4e4;
    min-width:28px;
    height:28px;
    font-size:14px;
    text-align:center;
    cursor:pointer;
}

.whj_jqueryPaginationCss-1 .whj_color {
    color: #999;
}


.whj_jqueryPaginationCss-1 .whj_checked {
    background-color: #f63;
    color: #fff;
}

.whj_jqueryPaginationCss-1 .whj_hoverDisable {
    opacity: 1;
    filter: alpha(opacity=100);
}

.whj_jqueryPaginationCss-1 select {
    height: 28px;
    vertical-align: bottom;
    padding: 0px;
    outline: none;
}

.whj_jqueryPaginationCss-1 input {
    padding: 0px;
    height: 26px;
    outline: none;
    text-align: center;
    width: 60px;
    vertical-align: bottom;
}

.whj_jqueryPaginationCss-1 div, .whj_jqueryPaginationCss-1 input, .whj_jqueryPaginationCss-1 select {
    margin-right: 10px;
}

/*只有设置显示总页数时，该样式才生效*/
.whj_jqueryPaginationCss-1 .whj_totalSizeSingle {
    margin-left: -8px;
}


/*只有设置显示总页数时，该样式才生效*/
.whj_jqueryPaginationCss-5 .whj_totalSizeSingle {
    margin-left: -8px;
}
.fy_l{
	width:53px;
	float: left;
    line-height: 28px;
    display: inline-block;
    font-size: 14px;
    color: #999;
    background-color: #fff;
    background: url(../../images/exchange/fenye_left.png) no-repeat 15px center;
    padding-left: 15px;
}
.fy_r{
	width:53px;
	float: left;
    line-height: 28px;
    display: inline-block;
    font-size: 14px;
    color: #999;
    background-color: #fff;
    background: url(../../images/exchange/fenye_right.png) no-repeat 45px center;
    padding-right: 15px;
}