#Html("begin")
#Head("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadJS("resources/micro2.0/scripts/channel/six")
#LoadCSS("/resources/micro2.0/styles/red_pack/default")
#LoadCSS("/resources/micro2.0/styles/red_pack/channel_register_cucc_redpakt")
#LoadJS("resources/micro2.0/scripts/channel/channel_register_succ")
#WeChatShare()
#Head("end")
<body>
    <input type="hidden" id="APP_ROOT_PATH" value="$!env.getWebURL('')"/>
	<img class="pk_img_b" src="$!env.getWebURL('resources/micro2.0/images/red_pack/weicha_b.png')" alt="">
    <img class="pk_img_a" src="$!env.getWebURL('resources/micro2.0/images/red_pack/weicha_a.png')" alt="">    
    <div class="welcome_title">恭喜您获得<span class="tite_number">$!amount元</span>新手红包！</div>
    <div class="pack_info_wrap">
		<img class="pack_info_bg" src="$!env.getWebURL('resources/micro2.0/images/red_pack/weicha_bg.png')" alt="">
			<div class="pack_info_btn"><input class="lg_btn dl_btn" type="button" name="" value="立即使用红包" id="buy_sub"></div>
    	</div>
    </div>
	<div class="login_fixed"><input class="lg_btn zc_btn" type="button" name="" value="稍后使用红包" id="to_index"></div>
    <div class="pack_info_wrap two_weichat">
		<div class="welcome_info">关注<i class="welcome_info_color">币港湾</i>，马上获得更多优惠</div>
		<div class="wel_txt wel_txt_left">国资平台 安心理财</div>
		<div class="wel_txt wel_txt_right">长按指纹识别关注</div>
    </div>
    <div class="placeholed_height"></div>
</body>
#Html("end")