<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SpringMVC</display-name>
  <!--
       - ===============================================
       - 首页路径
       - @author yanwl
       - @date 2015-11-19
       - ===============================================
    -->
  <welcome-file-list>
    <welcome-file>/</welcome-file>
  </welcome-file-list>
  
  <!--
       - ===============================================
       - 错误处理
       - @author yanwl
       - @date 2015-11-19
       - ===============================================
    -->
  <!-- <error-page>  
    <exception-type>java.lang.Throwable</exception-type>  
    <location>/errors/500.vm</location>  
	</error-page>  
	<error-page>  
	    <error-code>500</error-code>  
	    <location>/errors/500.vm</location>  
	</error-page>  
	<error-page>  
	    <error-code>404</error-code>  
	    <location>/errors/404.vm</location>  
	</error-page> -->
 
    <!--
       - ===============================================
       - Spring 框架配置
       - @author yanwl
       - @date 2015-11-19
       - ===============================================
    -->
    <listener>
  		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>classpath:com/dafy/config/spring-common-config.xml</param-value>
	</context-param>
	
	<!--
       - ===============================================
       - SpringMVC 配置
       - @author yanwl
       - @date 2015-11-19
       - ===============================================
    -->
   <servlet>
  	<servlet-name>springmvc</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>   
		<param-name>contextConfigLocation</param-name>   
		<param-value>classpath:com/dafy/config/spring-action-config.xml</param-value>   
	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>springmvc</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <!--
       - ===============================================
       - shiro 配置 这里filter-name必须对应spring-shiro-config.xml中定义的
		<beanid="shiroFilter"/>
       - @author yanwl
       - @date 2015-09-21
       - ===============================================
    -->
  <!-- <context-param>
       <param-name>contextConfigLocation</param-name>
       <param-value>classpath:com/dafy/config/spring-shiro-config.xml</param-value>
    </context-param> -->
    <!-- <filter>
       <filter-name>shiroFilter</filter-name>
       <filter-class>
           org.springframework.web.filter.DelegatingFilterProxy
       </filter-class>
       <init-param>
            该值缺省为false,表示生命周期由SpringApplicationContext管理,设置为true则表示由ServletContainer管理
           <param-name>targetFilterLifecycle</param-name>
           <param-value>true</param-value>
       </init-param>
    </filter>
    <filter-mapping>
       <filter-name>shiroFilter</filter-name>
       <url-pattern>/*</url-pattern>
       <dispatcher>REQUEST</dispatcher>
       <dispatcher>FORWARD</dispatcher>
    </filter-mapping> -->
  
  
  <!--
       - ===============================================
       - Sitemesh配置
       - @author yanwl
       - @date 2015-11-19
       - ===============================================
    -->
	<filter>
		<filter-name>site-mesh</filter-name>
		<filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>site-mesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	

  <!--
       - ===============================================
       - sitemesh velocity 配置
       - @author yanwl
       - @date 2015-11-19
       - ===============================================
    -->
   <servlet>
		<servlet-name>site-mesh-velocity</servlet-name>
		<servlet-class>com.opensymphony.module.sitemesh.velocity.VelocityDecoratorServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
   <servlet-mapping>
		<servlet-name>site-mesh-velocity</servlet-name>
		<url-pattern>*.vm</url-pattern>
	</servlet-mapping>
	
	<!--
       - ===============================================
       - 乱码过滤器配置
       - @author yanwl
       - @date 2015-11-19
       - ===============================================
    -->
	 <filter>    
	    <filter-name>Character Encoding</filter-name>    
	    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>    
	    <init-param>    
	        <param-name>encoding</param-name>    
	        <param-value>UTF-8</param-value>    
	    </init-param>    
	    <init-param>  
            <param-name>forceEncoding</param-name>  
            <param-value>true</param-value>  
        </init-param>
	</filter>    
	<filter-mapping>    
	    <filter-name>Character Encoding</filter-name>    
	    <url-pattern>/*</url-pattern>    
	</filter-mapping>
	
	
	<!--
       - ===============================================
       - 分页过滤器
       - @author yanwl
       - @date 2015-11-19
       - ===============================================
    -->
	 <filter>
		<filter-name>PageFilter</filter-name>
		<filter-class>com.dafy.core.filter.PageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PageFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
  <!--
       - ===============================================
       - Spring logback配置
       - @author yanwl
       - @date 2015-11-19
       - ===============================================
    -->
  <context-param>
    <param-name>logbackConfigLocation</param-name>
    <param-value>classpath:com/dafy/config/spring-logback-config.xml</param-value>
	</context-param>
	<listener>
	    <listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>
	</listener>
	
	<!--
      - ===============================================
      - 防止缓冲泄露
      - @author yanwl
      - @date 2015-11-19
      - ===============================================
	-->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	
	<!--
      - ===============================================
      - 浏览器不支持put,delete等method,由该filter将/blog?_method=delete转换为标准的http　delete方法　
      - @author yanwl
      - @date 2015-11-19
      - ===============================================
	-->
	<filter>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<servlet-name>springmvc</servlet-name>
	</filter-mapping>

	<!--
      - ===============================================
      - 解决SpringMVC 使用put方法 接受不到参数
      - @author yanwl
      - @date 2015-11-19
      - ===============================================
	-->
	<filter>
		<filter-name>HttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HttpPutFormContentFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HttpMethodFilter</filter-name>
		<servlet-name>springmvc</servlet-name>
	</filter-mapping>
</web-app>