#body{width: 100%;background: #f3f5f7;height: 100%;font-family: "微软雅黑";}
.header{ width:100%; height:80px; line-height: 80px; background:white; text-align: center; position: relative;}
.header_arrow{ display:block; position:absolute; left:10px; top:50%; margin-top: -15px; width:34px; height:30px;  background: url(../../../images/acc_arrow.png) no-repeat;}
.heade_ft{ font-size: 34px;}
.banner{width: 100%;text-align: center;margin:0 auto;}
.banner_img{display: block;}
.notice-content{width:94%;margin:40px auto 0;}
.notice-txt{width:100%;margin: 0 auto;font-size:22px;color: #333;line-height: normal;padding-bottom: 40px;border-bottom: 1px solid #ccc;}
.notice-txt-dent{text-indent:42px;}
.notice-margin{padding-top: 40px;}
.notice-txt-name{text-align: right;}
.notice-txt-title{width:100%;font-size: 30px;padding:20px 0;}
.notice-TV{width:100%;margin:38px auto 0;}
.notice-TV-box{width:100%;text-align:center;}
.TV{width:100%;height:338px;}
.notice-img-name{width:100%;text-align: center;font-size: 30px;color: #333;padding:20px 0 60px;}
.border-none{border-bottom:0;}
.TV-img{display:block;}




