


	
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li class="line">line</li>
			<li><a  rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/regNum/index.htm')?type=DayRegNum" class="add"><span>每日注册人数</span></a></li>
			<li class="line">line</li>
			<li><a  rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/regNum/index.htm')?type=DayRegNum" class="add"><span>每日注册人数</span></a></li>
			<li class="line">line</li>
			<li><a   rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/regNum/index.htm')?type=SumRegNum" class="edit"><span>总计注册人数</span></a></li>
			<li class="line">line</li>
			<li><a  rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/regNum/index.htm')?type=DayCardNum" class="add"><span>每日实名绑卡人数</span></a></li>
			<li class="line">line</li>
			<li><a   rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/regNum/index.htm')?type=SumCardNum" class="edit"><span>总计实名绑卡人数</span></a></li>

		</ul>
	</div>

				<td>	 #Highcharts($!nums,$!titletext,$!yAxistext,$!seriestext,$!startTime)</td>
			
		
    	
	
</div>
    



 