#Html("begin")
#Head("begin","币港湾,币港湾官网","币港湾官网，国资背景安心收益，为您提供互联网金融服务，是优质的互联网金融服务平台。")
#Title("我的资产【币港湾官网】")
#LoadJS("resources/micro2.0/scripts/six_new")
#LoadCSS("/resources/micro2.0/styles/default")
#LoadCSS("/resources/micro2.0/styles/red_pack/info.min")
#WeChatShare()
#Head("end")
<body>
    <input type="hidden" id="APP_ROOT_PATH" value="$!env.getWebURL('')"/>
    <input type="hidden" id="qianbao" value="$!qianbao"/>
    <input type="hidden" id="agentViewFlag" name="agentViewFlag" value="$!agentViewFlag">
    <input type="hidden" id="initPageNum" name="initPageNum" value="$!initPageNum">
    <input type="hidden" id="overPageNum" name="overPageNum" value="$!overPageNum">
    <input type="hidden" id="usedPageNum" name="usedPageNum" value="$!usedPageNum">
    <input type="hidden" id="initTotalPages" name="initTotalPages" value="$!initTotalPages">
    <input type="hidden" id="overTotalPages" name="overTotalPages" value="$!overTotalPages">
    <input type="hidden" id="usedTotalPages" name="usedTotalPages" value="$!usedTotalPages">
    <input type="hidden" id="status" value="OVERt"/>
    <body id="body">
    <!--头部导航-->
    <div class="header">
        <a class="header_arrow" href="javascript:history.go(-1)">
        </a>
        <h1 class="heade_ft oran_color">已过期加息券</h1>
    </div>
    <div class="null_box">        
       <!--已过期-->
        #if($!result.dataList.size() > 0)
            <div class="null_img" style="display:block;">
                <ul class="Acc_img overt_ul">
                    #foreach($!grid in $!result.dataList)
                        <li class="red_pack over_li">
							<img class="pack_img" src="$!{env.getWebURL('')}/resources/micro2.0/images/red_pack/Increase_bg02.png" alt="">
								<div class="orange1">
								<div class="pack_money">
                                    <span class="money_small">+</span>$!money.format($!grid.rate)%
                                </div>
								<div class="gray_full inc_full">$!grid.serialName</div>
								<div class="red_money1 ticket_btn"> 	
        							#if($money.subtract("$!grid.full", "10000") >= 0)
    									<i class="pack_spot1"></i><span class="ticker_txt">限$!grid.termLimit天产品使用，单笔加入满$!number.format("0。00", $money.divide("$!grid.full", "10000"))万元启用</span>
    								#else
    									<i class="pack_spot1"></i><span class="ticker_txt">限$!grid.termLimit天产品使用，单笔加入满$!number.format("0.00", $!grid.full)元启用</span>
    								#end
        							<span class="increase_img1"></span>
        							<input type="hidden" id="productLimit" name="productLimit" value="$!grid.productLimit" />
                				</div>
								<div class="alert_info">
                					<div class="alert_title">提示</div>
                					<div class="alert_ul">
                						#if($money.subtract("$!grid.full", "10000") >= 0)
                						$!money.format($!grid.rate)%$!grid.serialName，限$!grid.termLimit天产品使用，单笔加入满$!number.format("0.00", $money.divide("$!grid.full", "10000"))万元启用，<span class="bgw_name"></span>产品适用。加息收益将会在加入的产品到期后以奖励金的形式发放。
										#else
										$!money.format($!grid.rate)%$!grid.serialName，限$!grid.termLimit天产品使用，单笔加入满$!number.format("0.00", $!grid.full)元启用，<span class="bgw_name"></span>产品适用。加息收益将会在加入的产品到期后以奖励金的形式发放。
										#end
                					</div>
                					<div class="btn_group">
                						<div class="top_line close_btn">我知道了</div>
                					</div>
                				</div>
								<span class="pace_time inc_time"><i class="pack_spot1"></i>$!date.formatYYYYMMDD($!grid.useTimeStart)至$!date.formatYYYYMMDD($!grid.useTimeEnd)</span>
							</div>                           
                        </li>
                    #end
                </ul>
                <div class="ACC_null_title show_text_over pdaaing_bottom" style="display: none;"><i class="line-used1"></i><i class="yuan-used1"></i>仅显示最近90天内的加息券<i class="yuan-used2"></i><i class="line-used2"></i></div>
                <div id="show_more_over" style="display: none"></div>
            </div>
        #else
            <div class="null_img" style="display:block;">
                <div class="Acc_null_img1 ticket_over_bg"></div>
                <h2 class="ACC_null_title1 pdaaing_bottom">仅显示最近<i class="fy_dlclick">90天内</i>的加息券</h2>
            </div>
        #end    
	</div>
	<div class="dialog_notice alert_hide"></div>
#LoadJS("/resources/micro2.0/scripts/common/common")
#LoadJS("/resources/micro2.0/scripts/red_pack/red_pack")
</body>
#Html("end")