body{ position: relative;  font: 0rem/15px "Microsoft YaHei";background:#fff;}
/*推荐首页*/
.recom_index_bg{width:100%; position: relative;}
.rem_index_bg{width:100%; height:100%;}
.btn_index_alert{display: block;width:160px;height:42px;position:absolute;top: 33%; left: 50%;margin-left:-80px;background:url(../../images/share/share_btn.png) no-repeat center;}
.form_bg{ width:98%; margin:0 auto; position: absolute; top:40.5%;left:50%; margin-left:-49%;}
.rem_index_form{ width:100%; height:100%; }
.form_wp{ position: absolute; top:20px;width:84%;left: 8%; }
.form_ul{width:100%; margin:0 auto;padding-top:20px;}
.form_li{ position: relative;overflow: hidden;height:90px;border-bottom:1px solid #e5e5e5;background:#fff;}
.sma_win{position: absolute;background:url(../../images/share/share_icon.png) no-repeat center;left:0;top:50%;}
.sma_mobile{width:34px;height:38px;background-position:-10px -10px;margin-top:-19px;}
.sma_verCode{width:34px;height:28px;background-position:-10px -68px;margin-top:-14px;}
.sma_mobileCode{width:34px;height:26px;background-position:-64px -68px;margin-top:-13px;}
.sma_password{width:34px;height:32px;background-position:-119px -10px;margin-top:-16px;}
.sma_recommendId{width:35px;height:35px;background-position:-64px -10px;margin-top:-17.5px;}
.validateImg{width:116px;height:46px;border:2px solid #e5e5e5;position:absolute;right:0;top:50%;margin-top:-25px;}
input.inp_log{width:65%; border:0px; padding:0 20px 0 60px; font-size: 24px;height:40px;line-height:40px;position:absolute;left:0;top:50%;margin-top:-20px;background:none;}
input.sma_inp{ width:34%; border-radius: 8px;}
.btn_yz{position:absolute; right:0px; top:50%;margin-top:-25px;height:46px; border-radius: 25px;border:2px solid #ff6633; font-size: 24px; line-height:48px; color:#f63; text-align: center; padding:0 20px;}
.ceck_wp{ margin-top:15px;width:100%; }
input.inp_check{ width:30px; height:30px; background: white; display: inline-block;}
.check_ft{ display: inline-block; font-size: 20px; line-height: 20px; color:#999;vertical-align: super;padding-left: 10px;}
.btn_xy{ color:#f63; }
.login_btn_wp{ width:100%; margin-top:20px;}
.login_btn{display: inline-block; width:100%; text-align: center; height:80px;line-height:80px; background: #ff6633; border-radius: 8px; color:white; font-size: 34px;}
.log_zz{ display: inline-block; width:100%; font-size: 24px; color:#999;line-height: 25px;padding:0 0 30px;text-align:center;}
.log_zz_btn{color:#f63;text-decoration:underline;}
/*二维码推荐页面*/
.header{ width:100%; height:80px; line-height: 80px; background:white; text-align: center; position: relative;}
.header_arrow{ display:block; position:absolute; left:10px; top:50%; margin-top: -15px; width:34px; height:30px;  background: url(../../images/share/Acc_arrow.png) no-repeat;}
.heade_ft{ font-size: 34px;}
.oran_color {color: #ff6633;}
.recom_bg{ width:100%;height:100%; position: relative;}
.rem_bg{ width:100%; height:100%; }
.reco_number_wp{position:absolute;width:52%;top:32%;left:50%; margin-left:-25%;  text-align: center;}
.reco_number{ width:100%;font-size: 30px;line-height: 30px;margin-left: -17px; text-align: center; padding:18px 0px; color:#69050d;background: #ffc208; border-radius: 20px;}
.btn_alert{display: block;font-size: 24px;line-height: 24px; color:#0066ff; margin-top:20px;position: absolute;z-index: 15;width: 100%;}
.wecht_wp{width: 305px;height: 312px; position: absolute;    top: 0px;z-index:10; }
.wechat_img{width: 255px;height: 262px; z-index: 11;  padding-top:211px;}
.btn{position:absolute;width:90%;bottom:20px;left: 6%;height: 100px;}
.btn_img{ width:100%; height: 100%; }
.cor_ft{ color:#ff6633; }

/* 推荐文字页面 */
.ft_dialog{width:100%; height:100%;/*  background: rgba(0,0,0,0.8); position: fixed; */ left:0px; right:0px; top:0px; bottom:0px;}
.ft_wp{ width: 90%;margin: 60px auto 20px;color:#666666; position:relative;}
.dia_h3{font-size:30px;line-height: 30px;}
.ft_ul{ display: block; }
.ft_li{width:90%; padding-left:40px;font-size: 24px;line-height: 34px; position: relative;margin-top:12px;}
.li_list{position: absolute; left:0px;width:20px;}
.close_btn{display: block;color:#666666; width:60%; margin:11% auto 0px; font-size:30px; line-height: 30px; padding:10px 0px; text-align: center;border:1px solid #666666; border-radius: 8px;}

/*遮罩*/
.shae_dialgo{z-index: 15;width:100%; height:100%; position: fixed; left:0px; top:0px; background: rgba(0,0,0,.6); display: none;}
.arrow{width:428px; height:322px; position: absolute; right:18px;top:0px; background: url(../../images/dialog_arrow.png) no-repeat; }
.shar_off{ width:49px; height:49px;position: absolute; bottom:100px; left:50%; margin:0px 0px 0px -24px; background: url(../../images/dialog_off.png) no-repeat;}
/* .two_dimension{ width:594px; height:566px;  position: absolute; left:50%; top:50%; margin:-347px 0px 0px -297px;} */
.two_wrap{}
.two_die_img{position: relative;top: 50%;left: 50%;margin:122px 0px 0px -200px;}
.two_p{top:50%; font-size:38px;line-height:38px; color:white;text-align: center;    padding: 16px 0px;padding: 16px 0px;}
.p1{ font-size:42px;padding-top: 50px;}
.p2{ font-size:32px;}
.p3{ font-size:32px;}
.firends{ width:355px; height:232px; position: absolute;right:17px; background: url(../../images/share_firends.png) no-repeat;}
/*.share_three{ display: block }*/






