#Html("begin")
#Head("begin","实时监控,平台实况,币港湾,币港湾官网","币港湾官网，国资背景安心收益，为您提供互联网金融服务，是优质的互联网金融服务平台。")
#Title("实时监控_平台实况【币港湾官网】")
#LoadGenCSS("/resources/gen2.0/styles/platform/info/real_time")
#Head("end")
<body>
	<!-- header -->
	#Gen2Header("info")

	<!-- main -->
	<div class="main">
		<div class="main_banner"></div>
		<div class="main_center">
		#**
		 * subnav
		 **#
			#Gen2InfoSubNav()

            <div class="main_cright">
				<div class="main_cr_down">
					<div class="main_cr_top_txt">
						<div class="main_cr_top_ttop">
							<p>公司工作时间为周一至周五 9:00-18:00，节假日安排依从政府相关规定</p>
							 <p>办公地址：杭州市江干区四季青街道西子国际C座2305室</p>
						</div>
						<div class="main_cr_top_tcenter">
							<div class="main_cr_top_tcleft" id="camera1">
								<div class="main_cr_top_tcbox"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/platform/real_time/foreground.jpg"/></div>
								<div class="main_cr_top_tca">前台</div>
							</div>
							<div class="main_cr_top_tcleft" id="camera2">
								<div class="main_cr_top_tcbox"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/platform/real_time/office.jpg" /></div>
								<div class="main_cr_top_tca">办公区域</div>
							</div>
							<div class="main_cr_top_tcleft" id="camera3">
								<div class="main_cr_top_tcbox"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/platform/real_time/dafy_foreground.jpg"/></div>
								<div class="main_cr_top_tca">达飞金融前台</div>
							</div>
							<div class="main_cr_top_tcleft" id="camera4">
								<div class="main_cr_top_tcbox"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/platform/real_time/dafy_office.jpg"/></div>
								<div class="main_cr_top_tca">达飞风控中心</div>
							</div>
						</div>
						<div class="main_cr_top_tdown">
							<div class="ab-essay" style="text-align:center;position:relative;">
								<iframe id="dataLink" name="iframeVideo" frameborder="0" border="0" marginwidth="0" marginheight="0" scrolling="no" height="500" width="100%" allowtransparency="true" src="http://www.iermu.com/svideo/cf3b37d653eecd7e8e66d20fbb4fa728/178422" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
	#Gen2Footer()
<script>

    $(document).ready(function () {
        var subNav = $("#ifo_live").children("a");
        var subTitle = $(".main_cleft").children(".main_cl_h31");
        $("#ifo_live").show();
        $(subNav[3]).addClass("main_clul_lione");
        $(subTitle[2]).addClass("main_cl_hfo");
    })
	$(function(){
		/*$('#camera1').on('click',function(){
			var url = "http://www.iermu.com/svideo/cf3b37d653eecd7e8e66d20fbb4fa728/178422";
			if ($(this).hasClass("box_focuse")){}else {
                $('#dataLink').attr('src',url);
			}
		})
		
		$('#camera2').on('click',function(){
			var url = "http://www.iermu.com/svideo/cd2ca9a390a22fba9136d06c740d4037/178422";
            if ($(this).hasClass("box_focuse")){}else {
                $('#dataLink').attr('src',url);
            }
		})
		// 达飞金融前台：
		$('#camera3').on('click',function(){
			var url = "http://www.iermu.com/svideo/57db550bfbc654c1a4edbf5edeff60a8/186477";
            if ($(this).hasClass("box_focuse")){}else {
                $('#dataLink').attr('src',url);
            }
		})
		// 达飞金融xxx：
		$('#camera4').on('click',function(){
			var url = "http://www.iermu.com/svideo/25288bc67eb05bbf4a05ed1907ef6488/186477";
            if ($(this).hasClass("box_focuse")){}else {
                $('#dataLink').attr('src',url);
            }
		})*/
		$(".main_cr_top_tcleft").on('click',function(){
			var vidioUrl = ["http://www.iermu.com/svideo/cf3b37d653eecd7e8e66d20fbb4fa728/178422","http://www.iermu.com/svideo/cd2ca9a390a22fba9136d06c740d4037/178422","http://www.iermu.com/svideo/57db550bfbc654c1a4edbf5edeff60a8/186477","http://www.iermu.com/svideo/25288bc67eb05bbf4a05ed1907ef6488/186477"]
			// 币港湾前台   币港湾办公区域   达飞金融前台   达飞金融风控中心
			var boxNum = $(this).index();
            if ($(this).hasClass("box_focuse")){}else {
                $(".main_cr_top_tcleft").removeClass("box_focuse");
                $(this).addClass("box_focuse");
                $('#dataLink').attr('src',vidioUrl[boxNum]);
			}

		})
	})
</script>
</body>
#Html("end")
