#Html("begin")
#Head("begin","币港湾，币港湾官网","")
#set($strTitle="$!{details.subject}-币港湾官网")
#Title("$!strTitle")
#LoadGenCSS("/resources/gen2.0/styles/platform/info/website_notice")
#Head("end")
<body>
<!-- header -->
    #Gen2Header("info")
<!-- main -->
<div class="main">
    <div class="main_banner"></div>
    <div class="main_center">
    #**
     * subnav
     **#
        #Gen2InfoSubNav()

        <div class="main_cright">
            <div class="main_cr_down1">
                <h3 class="main_cr_center_h31">$!details.subject</h3>
                <div class="main_cr_center_txt1">
                    $!details.content
                    <div style="margin-left:70%">
                        <p style="padding-left: 29px;">发布者：币港湾运营部</p>
                        <p style="padding-left: 69px;">$!date.formatDateTime($!details.publishTime,"yyyy年MM月dd日")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
    #Gen2Footer()
<script>
    $(document).ready(function () {
        var subNav = $($(".main_cl_ul1")[0]).children("a");
        $(subNav[0]).addClass("main_clul_lione");
    })
</script>
</body>
#Html("end")
