body{ background: white; }
.header{ width:100%; height:80px; line-height: 80px; background:white; text-align: center; position: relative;}
.header_arrow{ display:block; position:absolute; left:10px; top:50%; margin-top: -15px; width:34px; height:30px;  background: url(../../../images/acc_arrow.png) no-repeat;}
.heade_ft{ font-size: 34px;}
.color_bg {color: #ff6633;}
.banner{width: 100%;height: 373px;margin:0 auto;background: url(../../../images/static/introductionSubject/header.jpg) no-repeat center;}
.main-content{width: 100%;height: 395px;margin:0 auto;background: url(../../../images/static/introductionSubject/bg.png) no-repeat center;}
.centerFont{width:100%; text-align: center; line-height: normal;font-size: 36px; color:#fff; padding:16px 0px 15px;}
.centerFontcopy{width:100%; text-align: center; line-height: normal;font-size: 36px; color:#666; padding:50px 0px 40px;}
.FontInfo{ font-size: 26px; color:#fff;line-height: 45px; width:92%; margin:0 auto;    display: table; }
.padding_main{ padding-bottom: 20px; text-align: center;}
.top3{margin-top:40px;}
.cenFt{ width:100%; text-align: center; color:#666666;line-height: normal;height: 100%;}
.cenFt_tel{ width:100%; text-align: center; color:#ff6633;line-height: normal;height: 100%;}
.footer{ font-size: 24px; }
.footer_phone{ font-size: 36px;  }