.bg_cor{ background: #8e0402; }
.header_wrap{ position: relative; }
.header_img{ width:100%; }
.lantern_time{ position: absolute; top:214px; right:6px;font-weight: 500;font-size: 24px; line-height: normal; color:#ffe663;-webkit-transform: rotateZ(90deg);transform: rotateZ(90deg);}
.main_bg{ background: #c43a20; width:100%; min-height: 370px;     margin-top: -6px;}
.mainnumbenr{ font-size: 24px; color:#f5e2ac; line-height: normal; width: 100%; text-align: center;    padding-top: 6px; }
.num{font-size: 36px;padding:0px 20px;}
.money_wrap{ width:100%; text-align: center;padding-top:30px;font-size: 24px; color:#f5e2ac;}
.inline_wrap{ display: inline-block; vertical-align: middle;}
.number_money{padding:0px 6px;}
.money_list{width:54px; height:54px;line-height: 54px; background: #ffffff; border-radius: 5px; text-align: center;color:#e74928; font-size: 48px; float: left; margin:0px 6px; }
.btn_ru{ width: 364px;text-indent: 105px;padding:13px 0px; font-size: 30px;line-height: normal; color: #c05f02;margin:66px auto 0px;border-radius: 8px;font-weight: bold; background:#fdcf13;position: relative;clear: both;}
.ru_Img{ position: absolute; right:98px; top:16px; }
.main_two_bg{ margin-top:44px; }
.two_img{ width:100%; }
.two_margin_wrap{ width:540px; margin:0 auto; }
.two_font{ width:100%; font-size: 24px; color:#f5e2ac; height: 100%; line-height: normal;padding-top: 40px; }
.lanter_bg{ padding-bottom: 75px; }
.two_lanter{ position: relative;top: 12px; }
.lanter_container{ position: absolute;left:0px; right:0px; top:0px; bottom:0px; }
.left_lanter{ padding:74px 0px 67px;width:234px; float: left;text-align: center; }
.right_lanter{width:306px; float: right; }
.right_title{ font-size: 24px; color:#f5e2ac;line-height: normal;padding-top:38px; }
.right_lanter .money_list:first-child{ margin-left: -6px; }
.right_lanter .money_list{ width:47px; height: 47px;line-height: 47px;margin:0px 5px;font-size: 36px; }
.twolanter_inline{ padding-top:14px; }
.two_lanter_btn{ text-align: center; text-indent: 0px; }
.huojiang_guize{ padding-top:35px;  text-align: center; width:100%;font-size: 22px;color:#ffee43;}
.bottom_linear{ border-bottom: 1px solid #ffee43; }
.footer{ position: relative; }
.footer_fonts{ width:100%;font-size: 24px; color:#fbe2aa;text-align: center;padding:50px 0px 140px; }
.footImg{ width:100%;    position: absolute;
    bottom: 0px; }

/*弹窗*/
.dialog_notice {
    width:100%;position: fixed; top:0px; left:0px;bottom:0px;right:0px; background: rgba(0,0,0,.8);
    display: box;
    display: -webkit-box;
    box-pack:center;
    box-align: center;
    -webkit-box-pack:center;
    -webkit-box-align: center;
}
.dialog_notice2 {
    width:100%;position: fixed; top:0px; left:0px;bottom:0px;right:0px; background: rgba(0,0,0,.8);
    display: box;
    display: -webkit-box;
    box-pack:center;
    box-align: center;
    -webkit-box-pack:center;
    -webkit-box-align: center;
}
.close{ position: absolute; left:0px; right:0px; margin:auto; bottom:-140px; }
.close_wrap{ position: relative;top:-50px; }
.dialog_kaun{width:525px; min-height: 397px; background: #ffffff;border-radius: 50px;overflow: hidden;}
.dialog_tab_header{  display: -webkit-box;display: box;-webkit-box-pack:justify;-webkit-box-align: center; }
.tab_li{width:50%; height: 92px; line-height: 92px; background: #faf5ef; text-align: center; font-size: 24px; color:#725e4d; }
.tab_active{ color:#ffffff;background: #e93b33; }
.nonejiang{ line-height: 300px; font-size: 36px; color:#e93b33; text-align: center; }
.jianping_ul{ padding-bottom: 57px;    height: 562px;overflow: scroll; }
.jianping_li{ font-size: 24px; color:#e93b33; line-height: normal; text-align: center; padding-top:50px;}
.left_dl,.center_dl,.right_dl{ display: inline-block; }
.center_dl,.right_dl{ text-align: left; }
.left_dl{ margin-right: 38px; }
.center_dl{ width:200px; }
.contain_two{ display: none; }
.game_info{width:84%;margin:0 auto;color:#e93b33;font-size: 22px; line-height: 40px;padding:65px 0px 72px;}
.li_info{}


.alert_open{display: box;
    display: -webkit-box;}
.alert_hide{
    display: none;
}

.alert_info {
    position: relative;
    width: 90%;
    border-radius: 6px;
    background: white;
    font-size: 26px;
    color: #333333;
    text-align: center;
    line-height: normal;
}
.close2 {
    position: absolute;
    right: 20px;
    top: 20px;
}
.alert_title {
    font-size: 34px;
    padding: 16px 0px;
    width: 100%;
    background: #f0efef;
}
.alert_ul {
    width: 76%;
    margin: 0 auto;
    padding: 40px 0px 46px;
    border-bottom: 1px solid #d6d6d8;
    text-align: left;
}

.top_line {
    width: 100%;
    text-align: center;
    line-height: 80px;
    font-size: 34px;
    color: white;
    background: #ff6633;
    border-radius: 0px 0px 6px 6px;
}