.shakeBg{background: url(../../../images/activity/lantern2017/bg.png); position: relative;}
.right_font_activity{ position: absolute;right:33px; width:140px; text-align: center;color:#e63531;font-size: 24px;line-height: normal; background: #ffe663;padding:10px 0px 15px; border-radius: 0px 0px 25px 25px; border-bottom: 3px solid #f9a93b; }
.topwin,.winImg{ width:100%; }
.title_div{ width:100%; text-align: center; margin: -38px 0px 30px;}
.main_wrap{ width:100%; text-align: center;}
.rotateshare{animation:rotateshare 1s 2 linear; }
@-webkit-keyframes rotateshare{
    30%{
        -webkit-transform:rotateZ(-30deg);
    }60%{
         -webkit-transform:rotateZ(30deg);
    }
    100%{
        -webkit-transform:rotateZ(0deg);
    }
}
@keyframes rotateshare{
    30%{
        transform: rotateZ(-30deg);
    }60%{
        transform: rotateZ(30deg);
    }
    100%{
         transform: rotateZ(0deg);
    }
}




/*弹窗*/
.dialog_notice {
    width:100%;position: fixed; top:0px; left:0px;bottom:0px;right:0px; background: rgba(0,0,0,.8);
    /*display: box;*/
    display: -webkit-box;
    box-pack:center;
    box-align: center;
    -webkit-box-pack:center;
    -webkit-box-align: center;
}
.close{ position: absolute; left:0px; right:0px; margin:auto; bottom:-140px; }
.oneday_white{width:450px; min-height:537px; background: #ffffff; border-radius: 50px;/* overflow: hidden;  */text-align: center; position: relative;}
.onedat_title{ font-size: 30px;line-height: normal; color:#521d0f; padding:100px 0px 76px; width:80%; margin:0 auto; }

/*活动规则*/
.guize_titleImg{padding-top:20px;}
.title_guize{ padding-bottom: 30px; }
.rule_ul{width:84%; margin:0 auto; box-sizing: border-box;padding-left:30px;text-align: left;}
.indialogTitle{ padding-bottom: 30px; }
.rule_li{ position: relative; font-size: 24px;line-height: normal; color:#e93b33;padding-bottom: 10px; }
.rule_list{ position: absolute; left:-26px; }
.text_intents{ text-indent: 2em; }
.guize .oneday_white{ height: auto;padding-bottom: 60px; }

/*奖励*/
.jiangli_pack_wrap{ position: relative; }
.pack_title{ position: absolute;top:112px;font-size: 32px; color:#f03838;text-align: center; left:0px; right:0px; margin: auto;line-height: normal; transform: rotateZ(-4deg)}
.pack_money{position: absolute;top:152px;left:130px;width: 187px;
    text-align: center;   line-height: 169px;overflow: hidden;
    height: 140px; font-size: 160px; color:#e3b46e;}

.pack_font_actity{ position: absolute; bottom:92px; left:60px; right:36px; margin:auto; font-size: 24px; color:#ffffff; line-height: normal; }



.alert_open{
    /*display: box;*/
    display: -webkit-box;}
.alert_hide{
    display: none;
}