.body{width: 100%;height: 100%;background: #f5f5f5;font-family: "微软雅黑";}
.banner{width:100%;height: 355px;background: url(../../../images/static/custody_transfer/banner.jpg) no-repeat center;margin:0 auto;}
.notice-content{width:1198px;min-height: 100px;background: #fff;margin:18px auto;border:1px solid #e4e4e4;}
.notice-title{width:1154px;height:66px;margin:0 auto;font-size: 22px;color: #333;line-height: 66px;background: url(../../../images/static/custody_transfer/notice-bg.png) no-repeat center bottom;padding-left: 44px;}
.notice-txt{width:860px;min-height: 100px;margin: 0 auto;font-size: 18px;color: #333;line-height: 24px;padding:30px 0 80px;}
.notice-txt-dent{text-indent:42px;}
.notice-margin{margin-bottom: 18px;}
.notice-txt-name{text-align: right;}
.monitor-txt{width:1154px;margin:0 auto;font-size: 18px;color: #333;line-height: 24px;padding:10px 0 0 44px;}
.notice-box{width:1036px;margin:30px auto 0;min-height: 10px;overflow: hidden;border-bottom:1px solid #e4e4e4;}
.notice-box li{width:218px;float: left;margin-right: 54px;cursor: pointer;}
.notice-box .notice-margin{margin-right: 0;}
.notice-img{width:216px;height: 138px;border:1px solid #e4e4e4;}
.notice-img img{width:216px;height: 138px;}
.notice-img-name{width:100%;text-align: center;font-size: 16px;color: #666;padding: 20px 0;}
.notice-TV{width:1036px;height: 577px;margin:30px auto;}
.notice-TV-box{text-align:center;position:relative;width:1034px;height: 575px;border:1px solid #E4E4E4;}
.TV{width:1034px;height:576px;}
