<form id="pagerForm" method="post" action="#rel#">
	<input type="hidden" name="pageNum" value="$!pageNum" />
	<input type="hidden" name="numPerPage" value="$!numPerPage" />
	<input type="hidden" name="orderField" value="$!{orderField}" />
	<input type="hidden" name="orderDirection" value="$!{orderDirection}" />
</form>
<div class="pageHeader">
	<form id="myform" rel="pagerForm" method="post" action="$env.getWebURL('/statistics/agentUser/performance.htm')" onsubmit="return navTabSearch(this);">
	<input type="hidden" id="APP_ROOT_PATH" value="$!env.getWebURL('')"/>
	<input type="hidden" name="pageNum" value="$!pageNum" />
	<input type="hidden" name="numPerPage" value="$!numPerPage" />
	<input type="hidden" id="queryDefaultPageFlag" name="queryDefaultPageFlag" value="DEFAULTPAGE" />
	<div class="searchBar">
		<table class="searchContent">
				<tr>
					<td>
						投资时间：
						<input name="beginTime"  maxdate="{%y}-%M-{%d}"  type="text" id="beginTime" class="date textInput readonly" readonly="true" size="15"  value="$!date.formatYYYYMMDD($!req.beginTime)" /> 
						到 <input name="overTime" maxdate="{%y}-%M-{%d}"  type="text" id="overTime" class="date textInput readonly" readonly="true" size="15"  value="$!date.formatYYYYMMDD($!req.overTime)"  />
						部门：
						<select name="dept" >
							<option value="" #if("$!req.dept"=="") selected #end>全部</option>
							#foreach($agent in $!agents)
							<option value="$!agent.dept" #if("$!req.dept"=="$!agent.dept") selected #end>$!agent.dept</option>
							#end
        				</select>
						
						终端：
                        <select name="terminal" >
                            <option value="" #if("$!req.terminal"=="") selected #end>全部</option>
                            <option value="BGW" #if("$!req.terminal"=="BGW") selected #end>币港湾(pc、app、h5)</option>
                            <option value="QB" #if("$!req.terminal"=="QB") selected  #end>钱报系列(pc、h5)</option>
                            <option value="QD" #if("$!req.terminal"=="QD") selected  #end>七店(h5)</option>
                            <option value="QHD" #if("$!req.terminal"=="QHD") selected  #end>秦皇岛(pc、h5)</option>
                        </select>
                    
						<span style="margin-left:20px;">
						<span style="margin-left:20px;">
							<button onclick="func()" type="button">查询</button>
                        </span>
						<span style="margin-left:10px;">
							<font color="red">年化交易额合计：#if("$!proceedsBalanceTotal" != "") $!money.format($!proceedsBalanceTotal) 元#else 0.00 元 #end</font>
                        </span>
					</td>	
                </tr>
		</table>
	</div>
	</form>
</div>
<div class="pageContent">
	<table class="table" width="1396" layoutH="138" >
		<thead>
			<tr>
				<th width="5%">部门</th>
				##<th orderfield="dept"  class=#if("$!dept" != "") $!dept #else "asc" #end width="5%">部门</th>
				<th width="5%">渠道名称</th>
				<th width="5%">渠道浏览量</th>
				<th width="4%">注册用户数</th>
				<th width="4%">投资用户数</th>
				<th width="8%">交易总笔数</th>
				<th width="8%">交易总金额</th>
				<th orderfield="proceedsBalance" class=#if("$!proceedsBalance" != "") $!proceedsBalance #else "asc" #end width="8.5%">年化交易额</th>
				<th width="8.5%">7天产品购买额</th>
				<th width="8.5%">30天产品购买额</th>
				<th width="8.5%">90天产品购买额</th>
				<th width="8.5%">180天产品购买额</th>
				<th width="8.5%">365天产品购买额</th>
				<th width="10%">渠道创建日期</th>
			</tr>
		</thead>
	
		<tbody>
			#foreach($grid in $agentPerformanceList)
				<tr target="sid_user" rel="1">
    				<td>#if($!grid.dept)$!grid.dept
						#else 无
						#end
					</td>
    				<td>#if($!grid.agentName)$!grid.agentName
						#else 非渠道用户
						#end
					</td>
    				<td>#if($!grid.pageViewTimes)$!grid.pageViewTimes
					    #else 无
						#end
					</td>
    				<td>#if("$!grid.registUserCount"=="") 0 #else $!grid.registUserCount #end</td>
    				<td>#if("$!grid.investUserCount"=="") 0 #else $!grid.investUserCount #end</td>
    				<td>#if("$!grid.transItemCount"=="") 0 #else $!grid.transItemCount #end</td>
    				<td>#if("$!grid.transAmountCount"=="") 0 #else $!money.format($!grid.transAmountCount) #end</td>
					##1个月产品购买金额合计 oneMonthBalance
        		    ##3个月产品购买金额合计 threeMonthBalance
        		    ##6个月产品购买金额合计 sixMonthBalance
        		    ##12个月产品购买金额合计 twelveMonthBalance
        		    ##年化交易金额 (1、3、6、12产品年化收益总计) proceedsBalance
					<td><div class="gridCol">#if("$!grid.proceedsBalance"=="") 0.00 #else $!money.format($!grid.proceedsBalance) #end</div></td>
					<td>#if("$!grid.sevenDayBalance"=="") 0.00 #else $!money.format($!grid.sevenDayBalance) #end</td>
					<td>#if("$!grid.oneMonthBalance"=="") 0.00 #else $!money.format($!grid.oneMonthBalance) #end</td>
					<td>#if("$!grid.threeMonthBalance"=="") 0.00 #else $!money.format($!grid.threeMonthBalance) #end</td>
					<td>#if("$!grid.sixMonthBalance"=="") 0.00 #else $!money.format($!grid.sixMonthBalance) #end</td>
					<td>#if("$!grid.twelveMonthBalance"=="") 0.00 #else $!money.format($!grid.twelveMonthBalance) #end</td>
					<td>#if($!date.format($!grid.createTime))$!date.format($!grid.createTime)
					    #else 无
						#end
					</td>
    			</tr>
			#end
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage" onchange="navTabPageBreak({pageNum:1,numPerPage:this.value})">
				<option #if("$!numPerPage" == "20") selected #end value="20">20</option>
				<option #if("$!numPerPage" == "50") selected #end value="50">50</option>
				<option #if("$!numPerPage" == "100") selected #end value="100">100</option>
				<option #if("$!numPerPage" == "200") selected #end value="200">200</option>
			</select>
			<span>条，共$!totalRows条</span>
		</div>
		
		<div class="pagination" targetType="navTab" totalCount="$!totalRows" numPerPage="$!numPerPage" currentPage="$!pageNum"></div>

	</div>
</div>
<script>

function func(){
	var beginTime = $("#beginTime").val();
	var overTime = $("#overTime").val();
	
	if(beginTime != "" && overTime == ""){
		alert("请输入结束时间！");
		return false;
	}
	
	if(beginTime == "" && overTime != ""){
		alert("请输入开始时间！");
		return false;
	}
	
	if(beginTime != "" && overTime != ""){
		var result = Date.parse(overTime.replace(/-/g,"/"))- Date.parse(beginTime.replace(/-/g,"/"));
		if(result < 0){
			alert("开始时间不能在结束时间之后！！");
			return false;
		}
	}
	
	var url = $("#APP_ROOT_PATH").val() + "/statistics/agentUser/performance.htm";
	$("#myform").attr("action",url);
	$("#myform").attr("onsubmit","return navTabSearch(this);");
	$("#myform").submit();
}

</script>