body{
    background: #fff;
}
.borrower_wrap{
    padding:30px;
    margin-bottom: 30px;
}
h4{
    font-size:20px;
    color: #333;
    padding-bottom: 10px;
    border-bottom: solid 1px #e5e5e5;
    margin-bottom: 20px;
    font-weight: 200;
}
.borrower_ifo{
    line-height: 30px;
    font-size:16px;
    color: #666;
    min-height: 30px;
    font-weight: 200;
}
.borrower_ifo .ifo_title{
    float: left;
    width: 280px;
    font-weight: 200;
    color: #999;
}