<div class="pageHeader">
	<input type="hidden" name="pageNum" value="$!pageNum" />
	<input type="hidden" name="numPerPage" value="$!numPerPage" />
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td><font color="red">总金额：$!money.format($!allBonus) 元</font>
				</td>
			</tr>
		</table>
	</div> 
</div>
<div class="pageContent">
	<table class="table" width="1396" layoutH="138">
		<thead>
			<tr>
				<th width="140">操作类型</th>
				<th width="174">推荐人姓名</th>
				<th width="174">推荐人手机号</th>
				<th width="174">投资人姓名</th>
				<th width="174">投资人手机号</th>
				<th width="174">奖励金额</th>
				<th width="174">奖励发放时间</th>
				<th width="178">投资金额</th>
				<th width="140">投资期限</th>
			    <th width="174">投资时间</th>
			</tr>
		</thead>
		<tbody>
			#foreach($bsDailyBonus in $bsDailyBonusList)
			<tr>
				<td>#if($!bsDailyBonus.bonus>0) 获得奖励金
					#else 奖励金转余额#end
				</td>
				<td> $!bsDailyBonus.generalName $!bsDailyBonus.salesName  $!bsDailyBonus.managerName </td>
				<td> $!bsDailyBonus.generalMobile $!bsDailyBonus.salesMobile  $!bsDailyBonus.managerMobile </td>
				<td>$!bsDailyBonus.byName</td>
				<td>$!bsDailyBonus.byMobile</td>
				<td>$!bsDailyBonus.bonus</td>
				<td>$!date.format($!bsDailyBonus.time)</td>
				<td>$!bsDailyBonus.balance</td>
				<td>#set($Integer = 0)
					#if($!bsDailyBonus.term == 0) 
						&nbsp; 
					#else
                        #if(0 > $Integer.parseInt("$!bsDailyBonus.term"))
							#set($termNum = $Integer.parseInt("$!bsDailyBonus.term")*-1 ) $!termNum 天
                        #else
							$!bsDailyBonus.term 个月
                        #end
					#end
				</td>
				<td>$!date.format($!bsDailyBonus.buyTime)</td>
			</tr>
			#end
		</tbody>
	</table>
	
</div>
