html,body{ width:640px; margin: 0 auto; }
body{ background: #fff0f0; }
/*头部*/
.banner{ width:100%; text-align: center; }
/*main*/

.mian_wp{width:100%; height:auto; background: #fcde83; padding-top:18px; margin-top: -3px;padding-bottom: 20px;}
.small_wp{ width:94.375%; margin: 0 auto;}
.secl_wp{box-sizing:border-box; width:100%; border: 3px solid #fccb60; padding:16px 0px 24px 0px;}
.main_secl_wp{width:81.925%; margin:0 auto; }
.secl_ft{ text-align: center; width:100%; font-size: 24px;line-height: normal; color:#333333; padding-bottom: 20px;}
.line_secl{padding-bottom: 20px;
	display: -webkit-box;
	display: box;
	-webkit-box-pack:justify;
	-webkit-box-align:justify;
	box-pack:center;
	box-align:center;
}
.no_choose_img{display:none;}
.choose_img{display:block;}
.line_xuze{-webkit-appearance: none;outline: none; -webkit-tap-highlight-color:rgba(0,0,0,0); }
.seclet{ width:38px; height:38px; border-radius: 6px; background: #ffffff; border:1px solid #fccb60;display: inline-block; vertical-align: middle; }
.seclet_btn{ width:146px; height:47px; line-height: 47px;display:inline-block;vertical-align:middle;font-size: 24px; color:#333333; text-align: center; background: url(../../images/activity/518/selec_btn.png) no-repeat center center; margin-left: 27px;}
input.sec_input{ width:100%; border:1px solid #fccb60;-webkit-tap-highlight-color:rgba(0,0,0,0); text-align:center;border-radius: 10px;box-sizing:border-box; font-size: 30px; color:#cccccc; padding: 13px 10px;}
input.sec_input:focus{ text-align:center;}
input.sec_input::-webkit-input-placeholder{text-align:center;}
.pack{ position: relative;width:604px; height:383px;margin-top:23px; background: url(../../images/activity/518/pack.png) no-repeat center center;}
.pack_info{ font-size: 30px; color:#ffffff; line-height: 0px; position: absolute; top:70px;left:0px; right:0px; text-align: center;}
.big_ft{ font-size: 80px; }
.pack_btn{ width:500px; height:78px; margin:0 auto;position: absolute; left:0px; right:0px;top:191px; background: url(../../images/activity/518/pack_btn.png) no-repeat center center; }
.pack_bottom_info{ position: absolute; left:0px; right:0px; text-align: center; font-size: 30px; color:#ecde58; bottom:50px; }
.ft_color{ color: #ffffff; }

.foor_info{width:100%; box-sizing:border-box; padding:44px 20px 66px; font-size: 24px; color:#666666;background: #fccb60;line-height: normal; }
.foor_ul{ height:100%; }
.foor_li{padding-bottom: 10px;}
.list_color{color:#ff0000;}
.foot_center_ft{ width:100%; text-align: center; padding-top:55px;}
.phone{ color:#188fda; }
/*弹窗*/
.dialog_alert{display: block; width:100%; height:100%; position: fixed; top:0px; left:0px; background:rgba(0,0,0,.8); z-index:3;}
.alert_img{position: absolute;margin:0 auto;left:0px;right:0px;top:176px; width:388px; height:546px; background: url(../../images/activity/518/alert_pack.png) no-repeat center center; }
.alert_info{position: absolute;top:222px;left:0px;right:0px;margin:0 auto;text-align: center;}
.alert_title{ font-size: 32px; line-height: 32px; color:#fbda30;}
.lin_tm{margin-top:22px;}
.alert_ft_color{ color:#ffffff; }
.btn{ position: absolute;left:0px;right:0px; text-align: center; font-size: 29.71px;    line-height: 29px; color:#663300;}
.btn1{bottom:156px;}
.btn2{ bottom:63px;}