body{ width:640px; margin: 0 auto; }
.header{ width:100%; }
.yellow_wp{ width:100%; background: #fee792;padding:6px 0px 52px 0px; margin-top: -4px;}
.piaodai{ width:93.75%; margin:0 auto; height:108px; background: url(../../images/activity/528/piaodai.png) no-repeat center center; font-size: 36px; color:#7c371c; font-weight: bold; text-align: center;    line-height: 77px; margin-bottom: 20px;}
.pack{width:93.75%;height:368px;position: relative; margin:0 auto;text-align: center; background: url(../../images/activity/528/pack.png) no-repeat center center;margin-bottom: 6px;}
.pack_number{position: absolute;left:0px;right:0px; margin:auto;top:127px; font-size: 112px; line-height: 67px; color:#feef00;}
.small_ft{ font-size: 61px; }
.pack_bottom{position: absolute;left:102px; bottom:75px;font-size: 27px; color:#feef00;}
.btn{width:74.6875%;height:106px; margin:0 auto; background: url(../../images/activity/528/btn.png) no-repeat center center;font-size: 48px; color:#f3f5f7; text-align: center; font-weight: bold;line-height: 87px; margin-bottom: 54px;}
.pack_two_wp{position: relative; width:93.75%; margin:0 auto;height: 348px; background: url(../../images/activity/528/pack_two.png) no-repeat center center;margin-top:35px;margin-bottom: 10px;}
.ft1,.ft2,.ft3,.ft4{ position: absolute; color:#feef00;}
.ft1{top:39px;left:232px;font-size: 30px;}
.ft2{top:104px; left:170px; font-size: 84px; line-height: 70px;}
.ft3{bottom:120px; left:255px; font-size: 30px;}
.ft4{bottom:40px;left:138px;font-size: 30px; color:#ffffff;}
.btn_bottom_none{ margin-bottom: 0px; }

.yellow_two{ width:100%;padding: 52px 0px 36px 0px; background: #fcca33; }
.foor_info{width:100%; box-sizing:border-box; padding:0px 20px 0px; font-size: 24px; color:#7c371c;line-height: 40px; }
.foor_ul{ height:100%;margin:0px;}
.foor_li{padding-bottom: 10px;}
.list_color{color:#ff0000;}
.foot_center_ft{ width:100%; text-align: center; padding-top:55px;}
.phone{ color:#188fda; }

.ground_ul{width:100%; box-sizing:border-box;padding:48px 20px;}
.ground_li{margin: 0 auto 30px;width:490px;}
.li_left_img,
.left_img1,
.left_img2,
.left_img3,
.left_img4,
.left_img5,
.left_img6{width:108px; height:108px;vertical-align: middle;display: inline-block; background: url(../../images/activity/528/icon3.png) no-repeat;}
.left_img1{background-position: 0px 0px;}
.left_img2{background-position: 0px -110px;}
.left_img3{background-position: 0px -220px;}
.left_img4{background-position: 0px -329px;}
.img_info{ display: inline-block; vertical-align: middle; padding-left: 46px;}
.info_title{ font-size: 36px; color:#9e7a0b;line-height: normal; padding-bottom: 12px;}
.info_main{ font-size: 24px; color:#9e7a0b; line-height: normal;}
.line{ width:100%; height:2px; background: #c6a639; }
.footer{ width:100%; box-sizing:border-box;padding: 55px 22px; font-size: 22px; color:#666666; line-height: normal;}
.foor_center{ width:100%; text-align: center; font-size: 22px; color:#9e7a0b; line-height: 30px; }