body{ background: #f3f5f7; }
/*头部*/
.header{ width:100%; height:89px;left:0px; line-height: 89px; background:white; text-align: center; border: 1px solid #e5e5e5; position: fixed;top:0px;z-index: 10;}
.header_arrow{ display:block; position:absolute; left:20px; top:50%; margin-top: -15px; width:34px; height:30px;  background: url(../../images/acc_arrow.png) no-repeat;}
.heade_ft{ font-size: 34px;}
.color_bg{ color:#ff6633; }
.palace_holder{ width:100%; height: 90px; }

table{margin: 22px auto 0px; width:90%;border:2px solid #e3e3e3;}
tbody,tr,td{ border:2px solid #e3e3e3; text-align:center}
td{ width:50%; padding:12px 0px;}
tr{ font-size:24px; color:#666666; line-height: normal;  }
.bg_gray{ background: #f2f2f2; }
.bg_white{ background: #ffffff; }

div.i_last{
	width: 100%;
	height: 30px;
line-height: 30px;
text-align: center;
margin-top: 20px;
font-size:24px;
color: #999999;
}