html,body{ background: #fb642f; margin: 0 auto;}
/*头部*/
.header{width:100%;}
.header_img{ width:100%; }

/*main*/
.main_padding{ padding-bottom:25px; }
.lott_times{ width:100%; text-align:center;line-height:30px;padding-bottom:15px;; font-size:30px; color:#ffffff;}
.times_num{ font-size:35px;}
.main{ position: relative; width:608px;height:608px; margin:0 auto; background: url(../../images/activity/618/icon2.jpg) no-repeat center center;}

.bg_mvoe{width:90%; height:260px; position: absolute;left:0px;right:0px;margin:auto; top:30px;background: url("../../images/activity/618/icon4.png") no-repeat center center;
	-webkit-animation:bg_move .6s linear infinite;
			animation:bg_move .6s linear infinite;
}
@-webkit-keyframes bg_move{
	from{
		opacity:.6;
	}
	to{
		background: url(../../images/activity/618/icon5.png) no-repeat center center;
		opacity:1;
	}
}
@keyframes bg_move{
	from{
		opacity:.6;
	}
	to{
		background: url(../../images/activity/618/icon5.png) no-repeat center center;
		opacity:1;
	}
}


.lotter_wp{width:69.4078%;height:189px; position: absolute;top:69px; left:0px; right:0px; margin: 0 auto;
display: box;
display: -webkit-box;
box-pack:justify;
-webkit-box-pack:justify;
}
.num{ width:137px;height:189px;border-radius: 20px;overflow: hidden; background:#ffffff url(../../images/activity/618/num_bg.png) 0px 0px repeat-y; }
.btn_lotter{ width:266px; position: absolute;left:0px; right:0px;margin:0 auto;text-align: center;line-height: normal; font-weight: bold; top:312px; font-size:38px; color:#ffffff; padding: 0px 0px 35px;/* transform: rotateX(48deg);-webkit-transform: rotateX(48deg); */}
.name_lotter{width:88.4868421%; height:70px;margin: 0 auto;position: absolute;left:0px;right:0px; bottom:100px; line-height: 70px; background: rgba(0,0,0,.05);box-shadow: 1px 0px 50px rgba(0,0,0,.16) inset; border-radius: 10px; color:#ffffff;padding:0px 14px;overflow: hidden; box-sizing:border-box;font-size:26px;}
.name_over{ width:100%; margin:0 auto; overflow: hidden; }
.name_ul{ position: relative; left:0px; }
.name_li{width:auto;float: left; padding-right:50px;}

.my_lotter{width:200px;height:66px; line-height: 70px; text-align: center; font-size:30px; padding: 0px 0px 0px 45px; color:#6a1e29; position: absolute; bottom:20px;left:190px; }
.main_ft{width:100%; text-align:center;line-height: normal; padding:15px 0px;font-size:24px; color:#ffffff;}
.bg_lotter_ft{width:93.4375%; margin:0 auto 12px; background: rgba(0,0,0,.1); }
.small_wrap{width: 89.9665%; margin: 0 auto;}
.lotter_title{ width:100%; text-align: center; font-size:30px; color:#ffffff; line-height: normal; padding:20px 0px; }
.lotter_info_ft{ line-height: normal; font-size:24px; color:#ffffff; height:100%;}
.btn{ width:285px; height:74px;margin: 14px auto 0px; line-height: 74px; text-align: center; font-size: 30px; color:#6a1e29; background: url(../../images/activity/618/btn.png) no-repeat center center;font-weight: bold;}
.info_center{width:100%; margin-top:14px; line-height: normal; font-size:20px; color:#ffffff; text-align: center; padding-bottom: 17px;}
.lotter_info_ul{ font-size:24px; color:#ffffff;line-height: normal; height:100%; padding-bottom: 58px;}
.ft_color{ color:#fef502; }
.footer_ft{ width:100%; text-align: center; font-size:22px; color:#6a1e29; line-height: normal; padding-bottom: 13px;}
.pad-top{ padding-top: 30px; }



/*弹窗*/
.dialog_flex{width:100%;position: fixed; top:0px; left:0px;bottom:0px;right:0px; background: rgba(0,0,0,.8);z-index: 999; 
display: box;
display: -webkit-box;
box-pack:center;
box-align: center;
-webkit-box-pack:center;
-webkit-box-align: center;
display:none;
}
.alert_info{display: none; width:580px; height:422px;position: relative; background: url(../../images/activity/618/dialog_bg1.png) no-repeat center center; }
.alert_title,.alert_main,.alert_btn{ position: absolute; left: 79px; right: 54px;line-height: normal; text-align: center; font-size:36px; color:#ff1b35;}
.alert_title{top:142px;}
.alert_main{ top:205px; }
.alert_btn{bottom:74px;}
.btn_win{    padding: 14px 0px; left: 154px; right: 139px; color:#6a1e29;}
.close{ width:45px; height:45px; position: absolute; right:26px; top:24px; }


.alertTwo_info{display:none;width:460px; height:350px; background: url(../../images/activity/618/dialog_bg2.png) no-repeat center;}
.alertTwo_info .close{right: -12px;top: -20px;}
.alertTwo_main{position: absolute;left:0px; right:0px; text-align: center; font-size:24px; color:#333333; line-height: normal; top:152px;}
.alert_btn_ft{ position: absolute; bottom:28px;left: 78px;right: 98px;    padding: 10px 0px;font-size: 32px; color:#6a1e29; text-align: center; line-height: normal; }