@charset "UTF-8";
.entrance{width:100%; height:100%; background: rgba(0,0,0,.6); position:fixed; left:0px; top:0px;z-index: 5;}
.entrance_warp{position: absolute;top: 10%;width: 100%;text-align: center;}
.ent_img{ width:100%; height:100%; }
.entrance_close{ position: absolute;right: 6%;top: 0px;}
.entrance_btn{width:60%;margin:40px auto;font-size: 26px;line-height:26px;color:#5e2508; border-radius: 6px; border:2px solid #5e2508; padding:20px 0px; text-align: center; background: #ffd600;position: relative; bottom:-80%; }



/*活动助手弹窗  */
.dialog_tip{width:100%; height:100%; position: fixed; left:0px; top:0px; background: rgba(0,0,0,.8);z-index: 4;display:none;}
.tip_info{ width:90%; margin:0 auto; border-radius: 8px; position: absolute;top:30%;left: 0px;right: 0px; border: 1px solid #ffffff;overflow: hidden;}
.tip_close{ position:absolute;right: 40px;top: 16px;}
.tip_title{ font-size: 3rem;line-height: normal;color:#ffffff; background: #cccccc; padding:10px 0px 10px 56px; }
.tip_main{ padding:30px 54px; background: white; font-size: 2.6rem;line-height: normal;color:#999999;}
.tip_btn{ width:90%; margin:0 auto; font-size: 3rem;line-height: normal;padding:9px 0px; text-align: center; color: #ffffff; background: #ff6633;margin-top: 26px; border-radius: 6px;}