html,body{ margin: 0 auto;}
table{margin: 22px auto 0px; width:100%;}
tbody,tr,td{ border:2px solid #57d24d; text-align:center;vertical-align: middle;}
td{padding:12px 0px; background: #196d16; color:#ffffff;}
td.table_title{ background: #175815; color:#eff206;}
tr{ font-size:24px; color:#666666; line-height: normal;  }
.bg_gray{ background: #f2f2f2; }
.bg_white{ background: #ffffff; }
/*头部*/
.header{width:100%;}
.header_img{ width:100%; }
/*main*/
.main_padding{width:100%; margin-top: -3px;padding-top: 58px; background: url(../../images/activity/ecup2016/main_bg.jpg) repeat-y center center; background-size: 100%;}
.list{ width:472px; height:250px; border:1px solid white;margin:40px auto 70px; position: relative; background: rgba(0,0,0,.4); border-radius: 10px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; }
.title_img{ position: absolute;width:410px; height:58px; top:-31px; left:0px; right:0px;    margin: auto;display: block; background: url(../../images/activity/ecup2016/list_title.png) no-repeat center center; }
.sm_wp{ width:410px; margin: 0 auto;    padding-top: 48px }
.left,.right{ width:48%; }
.left{ float: left; }
.right{ float: right; }
.info_img{ vertical-align: middle; }
.left_info{ font-size: 25px; color: #fafc06; vertical-align: middle;}
.ft_white_null{ width:100%;clear: both;  line-height: normal; text-align: center; color:#ffffff;  font-size: 22px; padding:26px 0px 12px;}
.ft_white{ width:100%;clear: both;  line-height: normal; text-align: center; color:#ffffff;  font-size: 22px; padding:26px 0px 12px;}
.btn{ width:320px; height:70px; border:1px solid #57d24d; border-radius: 6px; background: #13850c; text-align: center;margin: 0 auto;}
.strat_time,.time_end{ color:#ffffff;display: block;line-height: 34px;}
.strat_time{ font-size: 18px; }
.time_end{ font-size: 24px; }
.ft_white_1{ width:100%;clear: both;  line-height: normal; text-align: center; color:#ffffff;  font-size: 22px; padding:26px 0px 12px;}
.btn_1{ width:320px; height:70px; border:1px solid #57d24d; border-radius: 6px; background: #13850c; text-align: center;margin: 0 auto;}
.strat_time_1,.time_end_1{ color:#ffffff;display: block;line-height: 34px;}
.strat_time_1{ font-size: 18px; }
.time_end_1{ font-size: 24px; }

.btn3{ background: rgba(87,210,77,.4); font-size: 32px; color:#ffffff; line-height: 70px;}
.btn4{ background: rgba(160,160,160,.4);font-size: 32px; color:#ffffff; line-height: 70px; border:0px;}
.list_two{ height: 270px;}
.list_two .sm_wp{padding-top: 38px;}
.list_two .title_img{ background: url(../../images/activity/ecup2016/list_title_two.png) no-repeat center center; }
.list_two .left,.list_two .right{ float: none; width:100%;  text-align: center; line-height: 25px;}
.list_two .ft_white{ padding:26px 0px 14px; }
.Championship{ width:556px;height:auto;    padding-bottom: 30px; border:2px solid #417a35;border-radius:6px;margin: 0 auto 43px; position: relative;background: rgba(0,0,0,.4);}
.Championship .title_img{ background: url(../../images/activity/ecup2016/list_title_three.png) no-repeat center center; }
.cham_wrap{ width: 474px; margin:0 auto; }
.cham_top{ width:100%;margin-top: 48px;margin-bottom: 32px;}
.cham_tu,.cham_ft,.cham_ipt{ vertical-align: middle; }
.cham_ft{ font-size: 28px; color:#fafc06; }
input.cham_ipt{ width:41.5%;padding:13px 20px; border-radius: 6px; float: right; font-size: 20px; color:#333333;    -webkit-tap-highlight-color: rgba(255,255,255,0);  background:white;  vertical-align: middle; }
.national_ul{width:100%;margin-bottom: 22px;
display: box;
display: -webkit-box;
box-pack:center;
box-align: center;
-webkit-box-pack:justify;
-webkit-box-align: center;
}
.national_li{ width: 100px; height:auto; border-radius: 48px;position: relative; text-align: center;}
.national_cirle{width: 95px; height:95px; border-radius: 48px; background: #1a5a18;
display: -webkit-box;
-webkit-box-pack: center;
-webkit-box-align: center;
}
.national_img{display: block;}
.name{font-size: 24px; line-height: 24px; color:#ffffff; padding: 12px 0px;}
.approval{ font-size: 20px;line-height: 20px; color:#eef206; }
.liner{ width:100%; height:2px; background: #417a35; }
.half_bottom_title{ margin:28px 0px 28px; }
.cham_btn{ width:320px; height:70px; line-height: 70px; margin:0 auto; border:1px solid #57d24d; background: #13850c; text-align: center; border-radius: 6px; font-size: 30px; color: #ffffff;margin-top: 30px; }
.cham_btn_null{ width:320px; height:70px; line-height: 70px; margin:0 auto; border:1px solid #57d24d; background: rgba(87,210,77,.4); text-align: center; border-radius: 6px; font-size: 30px; color: #ffffff;margin-top: 34px; }
.champion_support{position: relative;}
.champion_support .national_cirle{margin-left: 98px;}
.touch_support{position: absolute; right:100px;top:16px; width:230px; height:66px; line-height: 66px; text-align: center; background: #dfaa3f; border-radius: 6px; font-size: 20px; color:#fffffe; }
.support_img{ vertical-align: sub; }
.support{ padding:0px 0px 0px 12px; }
.prize .title_img{ background: url(../../images/activity/ecup2016/list_title_four.png) no-repeat center center; }
/*第二状态*/
.my_champion{ width:100%; text-align: center; font-size: 28px; line-height: 28px; color:#e9eb07; padding:50px 0px 26px;    height: 100%;}
.ranking{ text-align: center; font-size: 28px; color:#e9eb07; padding:50px 0px 46px; }
.support_one,.support_two{display: inline-block; margin-top:0px;}
.support_one{ width:204px; margin:0px 18px 0px 34px;}
.support_two{ width:260px;}
.support_info{width:330px; margin: 0 auto; padding-top:33px; font-size: 22px; color:#ffffff; line-height: 26px; text-align: center;}

.prize_ft{ font-size: 24px; line-height: 28px; color:#ffffff; padding: 50px 0px 18px 0px; }
.foot_ber{ position: relative; width:100%; height:auto; background: rgba(0,0,0,.4); }
.small_footer{ width:84%; margin:0 auto; color:#a9d1a7; font-size: 24px; line-height: normal; padding-top: 20px;}
.footer_ul{height:100%;}
.footer_li{height:100%;}
.footer_bottom{ padding-bottom:30px;    padding-top: 70px; text-align: center;}
.foor_info{color:#3a7a38; height:100%;}
a.phone:link{color:#3a7a38;}
a.phone:visited{color:#3a7a38;}

/*弹窗*/
.xz_info{width:320px; height:180px; position: fixed; left:0px; right:0px;top:50%; margin:-90px auto; background: rgba(0,0,0,.8); font-size: 22px; color:#ffffff; text-align: center; line-height: 180px;display: none;}
.dialog_flex{width:100%;height: 100%;position: fixed; top:0px; left:0px;bottom:0px;right:0px;z-index:10; background: rgba(0,0,0,.8); 
display: box;
display: -webkit-box;
box-pack:center;
box-align: center;
-webkit-box-pack:center;
-webkit-box-align: center;
display: none;
}
.alert_info{width:470px; height:248px; border:1px solid #81c165; margin:0 auto; background: #2f5910; position: relative;border-radius: 6px;display:none;}
.infofive_img{ position: absolute; top:-30px;left:0px; right:0px; margin:auto; }
.alert_ft{ width:90%; margin:0 auto; text-align: center; line-height: normal; padding: 54px 0px 33px; font-size: 22px; color:#ffffff;}
.alert_btn_one,.alert_btn_two{ width:180px; height:70px;line-height: 70px; background: #13850c; border:1px solid #57d24d; font-size: 22px; color:#e9eb07; text-align: center; display: inline-block; border-radius: 6px;}
.alert_btn_one{ margin: 0px 13px 0px 45px; }

/*弹窗*/
.ranking_alert{ width:466px; height:auto; border:2px solid #81c165; position: relative; padding:53px 0px; background: #2f5910;}
.rankin_close{width:50px; height:50px; position:absolute;right:-26px;top:-26px; background:url(../../images/activity/ecup2016/football_close.png) no-repeat center center;}
.ranking_top{ position: absolute; top:-32px; left:0px; right:0px; margin:auto; }
.ranking_main{ width:84%; height:406px; margin: 0 auto; overflow-y:scroll;overflow-x:hidden;-webkit-overflow-scrolling: touch;}

.ranking_name_ul{ font-size: 24px; color:#ffffff; }
.ranking_name_li{ line-height: normal; padding-bottom: 20px;}
.ranking_left{ width:48%;}
.ranking_right{ width:33%; float: right; text-align: right;    margin-right: 26px;}

div.i_last{
	width: 100%;
	height: 30px;
line-height: 30px;
text-align: center;
margin-top: 20px;
font-size:22px;
color: #999999;
}


/*分享页*/
.share_cham{ margin-bottom: 0px; }
.share_padding{ padding-bottom: 66px; }
.share_ft1{ font-size: 22px; color:#ffffff; padding:34px 0px 2px; }
.share_ft2{ padding:30px 0px;}
.share_bg{width:244px; height: 74px; position: relative; background: url(../../images/activity/ecup2016/share.png)  no-repeat center  center; margin:0 auto; font-size: 24px; color:#13850c;}
.share_bg_ft{ position: absolute;left:66px; top:13px;line-height: normal; }
.share_jia_ul{width:56%; margin:28px auto 0px; font-size: 24px; color:#ffffff;line-height: normal;}
.share_jia_li{ padding-bottom: 18px; }
.share_left{ width:50%;  }
.share_right{ width:40%; float: right; text-align: right;}
/*文案*/
.color_red{color:#fff701;}

/*遮罩*/
.shae_dialgo{z-index: 15;width:100%; height:100%; position: fixed; left:0px; top:0px; background: rgba(0,0,0,.6); display: none;}
.arrow{width:428px; height:322px; position: absolute; right:18px;top:0px; background: url(../../images/dialog_arrow.png) no-repeat; }
.shar_off{ width:49px; height:49px;position: absolute; bottom:100px; left:50%; margin:0px 0px 0px -24px; background: url(../../images/dialog_off.png) no-repeat;}