body{ position: relative; background: #fffecf;}

.recom_bg{ width:100%; height:383px; background: url(../../images/activity/lotter_header.jpg) no-repeat center center;}
.recom_wrap01, .recom_wrap02{margin:0px 40px 7px; height:auto; background: #fed201; border-radius:6px; padding:19px;border:2px solid #69050d;}
/*.recom_wrap02{ height:262px; }*/
.dotted{height:auto; border-radius:6px; padding:0px; color:#69050d;}
.recom_fp{opacity: 0;}
/*.recom_wrap02 .dotted{ height:200px; }*/
.recom_title{ text-align: center; font-size: 42px; line-height: 42px; color:white; padding-top:30px;}
.title_sp{ color:#ffd900; }
.main_info{ font-size: 28px; line-height: 43px; padding:17px 0px;}
.share{ margin:0px 20px;height:auto; position: relative;margin-top: 50px;}
.share_ul{display:-webkit-box;display: -moz-box;display: box;-webkit-box-pack:justify;-moz-box-pack:justify;box-pack:justify;}
.share_icon{position: relative;  -moz-box-flex:1;-webkit-box-flex:1;box-flex:1;text-align: center;}
.qiao{ position:absolute; top:0px; left:0px; top: -69px;left: -48px;}
.recom_btn{margin:24px 40px; height:55px; line-height: 55px; background: #fed201; text-align: center; font-size: 36px; color:#69050d; border-radius: 6px; margin-bottom:16px;border:2px solid #69050d;}
.recom_wrap02{ display: none;}
.warp02_title{ font-size: 28px;  line-height: 28px; padding-top:29px;font-weight: bold;}
.recom_item{ font-size: 24px; padding:10px 0px 10px 45px;font-weight: 200; line-height: 41px;font-weight: bold;}
.left_ftpadding{width: 55%;display: inline-block;vertical-align: top;color:#ff3300;}
.left_mar{ margin-left:65px;}
.reco_list{ display: inline-block;margin-left: -45px;}
.oran_color{ color:#ff6633; }

/*lottery*/
.monkey{ position: absolute; right: 0px;top: -214px;}
.in_lot_top{margin-top: -34px;}
.pb_egg, .egg_number{ width:52%;padding: 12px 24px; border-radius: 6px; font-size: 24px;line-height: 26px;margin:10px auto; color:#69050d; border:2px solid #69050d; background:#fed201;}
.egg_number{border: 0px;background: transparent;font-size: 24px;font-weight: 600; width: 100%; padding: 12px 0px;}
.lott_main{ border:2px solid #69050d; margin: 0px 40px; border-radius: 6px;}
.lott_ul{ font-size: 24px; color:#69050d; }
.lott_item{ border-top:1px solid #69050d; }
.item{ display: inline-block; width:49%; text-align: center; line-height: 30px;padding: 15px 0px;}
.item_right{ border-right: 1px solid #69050d; }
.item_width{ width:100%;}
.my_lott{ margin-top:20px;}
.lott_title{padding:10px 216px; background:#fed201; font-size: 30px; line-height: 30px; color:#69050d;}
.ft_title{ font-size: 30px; margin:20px 0px; font-weight: bold;}
.main_p{display: inline-block; margin:12px 0px;font-size: 24px;line-height: 36px;font-weight: 200;}
.ft_time{display: inline-block;font-size: 24px; margin:15px 0px;/* font-weight: 200; */}
.ft_main{ border-radius:10px;width:100%;height:auto;overflow: hidden;}
.ft_num{text-align:center;margin-top: -1px;}
.num_left,.num_right{display:inline-block;height:70px;vertical-align: middle; line-height:70px;width:49%;font-size:24px;color:#69050d;padding: 6px 0px;}
.num_left{ border-right:1px solid #cccccc;}
.two_height{line-height:normal;}
.bg_gray{ background:#eeeeee;}
.bg_white{ background:white;}
