/*头部*/
.header{ width:100%; }
.ban_img{ width:100%;}
/*main*/
.main_padding{ padding:0px; background: #f9cf59;    position: relative;top: -8px;}
.aci_list{ width:95.3125%; height:422px; margin: 0 auto 20px; background: rgba(255,255,255,1);}
.list_title{ width:100%;background: #f3f2f2; font-size: 24px; line-height: normal; padding: 7px 0px; text-align: center; color:#333333; font-weight: 700;}
.flex_wp{width:94.69%;margin:0 auto; padding:22px 0px; font-size: 18px; color:#333333; line-height: normal;text-align: center;
display: flex;
display: box;
display: -webkit-flex;
display: -webkit-box;
box-pack:justify;
justify-content: space-between;
-webkit-box-pack:justify;
-webkit-justify-content: space-between;
}
.flex_box{ width:168px; padding:8px; background: #f3f2f2;}
.flex_title{ width:100%; padding-bottom: 6px;}
.flex_img{ width:100%;height:164px; background: rgba(255,255,255,1);
display: flex;
display: box;
display: -webkit-flex;
display: -webkit-box;
box-align:center;
align-items:center;
-webkit-box-align:center;
-webkit-align-items:center;
}
.center_img{ display: block; margin: 0 auto;}
.img_info{ width:100%; padding-top: 6px; }
.aci_btn{width:94.69%;margin:0 auto; font-size: 30px; line-height: normal;padding: 10px 0px; text-align: center; background: #ff6633; border-radius: 6px; color:#ffffff;}
/*尾部*/
.footer_wp{ background:#eebc39; width:100%;}
.small_footer{width:93.75%;height:100%; margin:0 auto;font-size: 20px;line-height: normal; color:#ffffff; padding:32px 0px 84px;}
.footer_title{padding-bottom: 24px;}
.footer_li{padding-bottom: 15px; position: relative;}
.int{ width:34px;position: absolute;left:0px;}
.ft_info{width:84.4%;margin: 0 auto;}
