html,body{ width:640px; margin: 0 auto; }
body{ background: #fff9cd; }
/*头部*/
.banner{ width:100%; text-align: center; }
/*main*/
.cen_img{ width:100%;height:65px;line-height: 42px;margin-top:20px; background: url(../../images/activity/title_ft.png) no-repeat center center; }
.cen_info{width:100%; text-align: center; font-size: 22px; color:#ffffff; }
.info_color{ color:#fae153; }
.mian_wp{ width:94.21875%; margin: 26px auto 0px;}
.tab_ul{display: box;
display: -webkit-box;
display: flex;
display: -webkit-flex;
-webkit-box-pack:justify;
justify-content: space-between;}
.tab_li,.star{width:194px; height:60px;padding: 12px 0px; display: inline-block; text-align: center; background: url(../../images/activity/tab_list.png) no-repeat center;position: relative; z-index:2;opacity: .5;}
.active{border:4px solid #ffe1e5;padding:12px 0px 14px;opacity:1; background: #ffffff url(../../images/activity/tab_list.png) no-repeat center; border-bottom: 0px;}
.active .star{ display: none; }
.tab1{ background-position: 7px 14px; }
.tab2{ background-position: 7px -61px; }
.tab3{ background-position: 7px -135px; }
.star{opacity:1;position: absolute; right: 7px;top: -13px;z-index:2;width:34px; height:34px; overflow: hidden; background-position:-194px -35px;}
.tab_main{width:100%; box-sizing:border-box;-webkit-box-sizing:border-box; border:;border:4px solid #ffe1e5; background:#ffffff;position: relative;top: -4px;}
.list_one{ font-size: 20px; line-height: normal; color:#666666; text-indent: 19px; width:100%; padding: 17px 0px 14px;}
.one_li{padding-bottom: 10px;}
.list_color{ color:#ff0000; }
.pack1{ display: block; }
.pack2,.pack3{ display: none; }
.red_pack_line{
	display: box;
	padding-bottom: 15px;
	display: flex;
	display: -webkit-flex;
	display: -webkit-box;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-webkit-box-pack: justify;
}
.pack_wp{width:92.869%; margin:0 auto; padding-bottom: 55px;}
.pack{ position: relative;;width:170px; height:220px;color:#ffcc00;text-align: center;  background: url(../../images/activity/pack.png) no-repeat center center;}
.pack_money{ position: absolute; top:22px; width:100%;  line-height: 33px;}
.money{ font-size: 48px;}
.money_last{ font-size: 36px; }
.money_bottom{font-size: 20px;line-height: normal;bottom:36px; position: absolute; left:0px; right:0px;}

.foor_info{ padding:32px 0px 72px;  }
.foor_info{ font-size: 20px; color:#666666; line-height: normal;  text-indent: 20px;}
.foor_ul{ height:100%; }
.foor_li{padding-bottom: 10px; clear:both; position:reltive;}
.li_st{ position:absolute;left:0px;}
.right_foor{width:83%; margin: 0 auto;text-indent: 0px;}
.right_win{ width:94%; line-height: 34px;}
.foor_center_info{ text-align:center;    margin-top: 60px;line-height: 48px;}
/*弹窗*/
.dialog_alert{display: block; width:100%; height:100%; position: fixed; top:0px; left:0px; background:rgba(0,0,0,.8); z-index:3;}
.alert_img{position: absolute;margin:0 auto;left:0px;right:0px;top:176px; width:388px; height:546px; background: url(../../images/activity/alert_pack.png) no-repeat center center; }
.alert_title{position: absolute;margin:0 auto;left:0px;right:0px; font-size: 44.57px;    line-height: 44px; color:#fbda30;text-align: center;top:250px;}
.btn{ position: absolute;left:0px;right:0px; text-align: center; font-size: 29.71px;    line-height: 29px; color:#663300;}
.btn1{bottom:156px;}
.btn2{ bottom:63px;}
