body{background: #e72920;}
.header{ width:100%; position: relative;z-index: 2; }
.headerImg{ width:100%;position: relative;z-index: 2;  }
.header_time{ position: absolute;    z-index: 2; left:-30px; right:0px;text-align: center;top:300px; margin:auto; font-size: 22px; line-height: normal;color:#a31105; }
.contain-list{ width:93.90%;height:auto; margin:-44px auto 0px; background:#fbedb6 url(../../images/activity/17_0123/01.jpg);box-shadow: 0px 6px 10px 3px rgba(0,0,0,.3); }
.list-name{     padding-top: 48px;padding-bottom: 40px; }
.namemove{width:85.03%; margin:0 auto;white-space: nowrap;overflow: hidden;font-size:22px;color:#f34031;line-height:normal;border-top:1px solid #ef755c;border-bottom:1px solid #ef755c;padding:12px 0px;}
.nameUl{position: relative;left: 50%;}
.name-li{ display: inline;margin-right:45px;}

.formWrap{width:530px; /* width:88.03%; */margin:34px auto 0px; }
input.ipt-default{display: inline-block;padding: 25px 0px 25px 17.54%;font-size: 24px;line-height: normal;border: 0px;box-sizing:border-box;color:#e96e24;}
input.ipt-default:focus{
	color: #e96e24;
}
input.ipt-default::-webkit-input-placeholder{
	color: #f2a66f;
}
input.phoneipt{ width:99%;margin: 0 auto; background: url(../../images/activity/17_0123/form01.png) no-repeat center center;}
.imageYz{ width:100%;margin-top:26px;position: relative;}
input.Yzipt{width: 70%; background: url(../../images/activity/17_0123/form02.png) no-repeat; }
.rightImageYz{ position: absolute;top: 0px;height: 100%;right: 0px;width:31%;background: url(../../images/activity/17_0123/form03.png) no-repeat;
	display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;}
.Yz{font-size: 24px;text-align: center;display: block;}
.validateImg{cursor:pointer;width:90%;}
input.phoneinfo{width: 70%; background: url(../../images/activity/17_0123/form04.png) no-repeat;}
.rightphoneinfo{ background: url(../../images/activity/17_0123/form05.png) no-repeat; color:#fbf6cc; }
.rightphoneinfo_1{ background: url(../../images/activity/17_0123/form05_1.png) no-repeat; color:#fbf6cc; }
.form-btn{width:100%; border-radius: 38px;font-size: 36px;color:#ffffff; text-align: center; background: #ef2536;padding:22px 0px; line-height: 36px;margin-top:30px; box-shadow: -6px -10px 3px #e51521 inset;text-shadow: 3px 6px 6px rgba(0,0,0,.2);}
.click_font{ color:#f1283a; font-size: 18px; line-height: normal; text-align: center;padding-top:12px;}
.fontHref,.fontHref:hover,.fontHref:focus,.fontHref:visited{color:#f1283a; }

.lottery{ padding-top: 22px;text-align: center; }
.lottery-prize{ position: relative; }
.arrowprize{ position: absolute;top: 50%;left: 50%;    margin: -164px 0px 0px -160px;}
.prize-btn{ width:530px;margin:0 auto; }


.tabTop{ margin-top:20px; }
.tabul-Name{width: 96%;margin: 0 auto; display: -webkit-box; text-align: center; font-size: 30px;line-height: normal; color:#74372c; padding:14px 0px; border-bottom: 1px solid #ef775d;}
.tabli{-webkit-box-flex:1; padding:14px 0px; position: relative;}
.tabliner{ border-right: 1px solid #ef775d; }
.tabactiveLeftImg,.tabactiveRightImg{ position: absolute;display: none; }
.tabactiveLeftImg{ left:55px; top:2px; }
.tabactiveRightImg{ right: 55px; bottom:2px; }

.tabActive{ color:#f1283a; }
.tabActive .tabactiveLeftImg,.tabActive .tabactiveRightImg{ display: block; }

.tabone{ margin-top: 50px; }
.oneli{width:100%;height:112px;font-size: 30px;color:#f1293b; line-height: normal;border-bottom: 1px solid #fad3a3;}
.wrapli{width:500px;    height: 100%; margin:0 auto; display: -webkit-box;    -webkit-box-pack: center;
    -webkit-box-align: center;}
.fairstlinear{  }
.wrapLeft{ vertical-align: middle; width:100px; text-align: center; }
.wrapRight{-webkit-box-flex:1;    text-align: right;}

.tabTwo{ display: none; }
.tabContainer-ul{width:90%;margin:0 auto; padding-bottom: 40px;font-size: 24px;line-height: normal; color:#f1293b;}
.tabContainer-li{width:100%;padding-top: 40px; width:100%;display: inline-block;    height: 100%;}
.tabcontanerFive{ padding-left: 18px; }
.five-li{text-indent: 46px;}
.footer-info{ width:100%; text-align: center;font-size: 24px; color:#fdeab5; line-height: normal;padding: 20px 0px 20px 0px; }


.Congratulations .defaInfo{margin: 0 auto; min-height: auto;}


/*弹窗-我的奖品*/
.dialog_notice {
    width:100%;position: fixed;    z-index: 3; top:0px; left:0px;bottom:0px;right:0px; background: rgba(0,0,0,.8);
    display: box;
    display: -webkit-box;
    box-pack:center;
    box-align: center;
    -webkit-box-pack:center;
    -webkit-box-align: center;
}

.my-lotter{ width:96%;min-height: 300px;border-radius: 40px; margin:0 auto; background: #ffffff;position: relative;padding-bottom: 20px;}
.my-titleimg{ position: absolute; top:-64px; left:0px; right:0px; margin:auto; }
.my-close{ position: absolute; right:0px; top:-94px; }
.my-close-1{ position: absolute; right:0px; top:-94px; }
.my-lotter-container{width:344px; margin:0 auto;}
.bgloter{ width:193px; height:193px;margin:66px auto 0px; background: url(../../images/activity/17_0123/dialog03.png) no-repeat center center; 
	display: -webkit-box;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
.address{ width:100%; font-size: 24px; color:#fa4149; line-height: normal; }
.address_1{font-size: 24px;text-align: center;line-height: normal;margin-top: -5px;color: #fa4149;font-weight: bold;padding-bottom: 10px;}
.mylotter-btn{ width:100%; background: #fa4149; font-size: 24px;line-height: normal;color:#ffffff; text-align: center; padding:15px 0px;margin-top:20px; border-radius: 5px; box-shadow: -5px -5px 3px #e51521 inset; }

/*状态弹窗*/
.defaInfo{ width:468px; min-height:282px; position: relative; background: #ffffff; border-radius: 6px;}
.eggtop{position: absolute;left:0px; right:0px; top: -62px; margin:auto;}
.info_one,.info_two{ width:90%;margin:0 auto;  text-align: center; font-size: 30px; color:#454543;line-height: normal; }
.info_one{margin:0px auto 0px; padding-top:80px;}
.state-btn{ width:254px;margin:30px auto 0px;font-size: 30px;line-height: normal; text-align: center; background: #fa4149;color:#ffffff;border-radius: 6px; height: 65px; line-height: 65px; }
.state-btn-1{ width:254px;margin:30px auto 0px;font-size: 30px;line-height: normal; text-align: center; background: #fa4149;color:#ffffff;border-radius: 6px; height: 65px; line-height: 65px; }
.state-close{ position: absolute;right:10px; top:10px; }


.alert_open{display: box;
    display: -webkit-box;}
.alert_hide{
    display: none;
}


/*遮罩*/
.shae_dialgo{z-index: 15;width:100%; height:100%; position: fixed; left:0px; top:0px; background: rgba(0,0,0,.6); display: none;}
.arrow{width:428px; height:322px; position: absolute; right:18px;top:0px; background: url(../../images/dialog_arrow.png) no-repeat; }
.shar_off{ width:49px; height:49px;position: absolute; bottom:100px; left:50%; margin:0px 0px 0px -24px; background: url(../../images/dialog_off.png) no-repeat;}


.five-ul{margin: 4px 0 5px 0px;font-size: 90%;}

