.Vsmain{ width: 100%; }
.headerImg{ width:100%; }
.Vs_One{width: 100%; position: relative; }
.TitleTime{color:#515151;font-size:22px; line-height: normal;position: absolute;left:0px; right:0px;top:2px;  width:100%; text-align: center; margin:0 auto;}
.wrap{ width:92.656%; margin:0 auto; }
.Vs_Two{margin-top: -6px;padding-bottom: 58px; 
background: #002498;
  background: -webkit-linear-gradient(#002498, #015bbe); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#002498, #015bbe); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#002498, #015bbe); /* Firefox 3.6 - 15 */
  background: linear-gradient(#002498, #015bbe); 
	 }
.proNameWidth{width:100%;height:36px;position: absolute;top:20px;}
.proLeft,.proRight{ width:40%}
.proLeft{ float:left;margin-left:18px;}
.proRight{ float:right;margin-right:18px;text-align: right;}
.propass{ position: relative; padding-top: 64px;}
.Right-win{ padding-right:16px;}
.proLeftImg{ padding-left:18px; }
.proRightImg{ padding-right:22px; }

.Bgpropass{width:98%; margin:0 auto; height:52px;line-height: 52px; border-radius: 15px; background: rgba(0,0,0,.28);position: relative;
	display: box;
display: -webkit-box;
box-pack:center;
box-align: center;
-webkit-box-pack:justify;
-webkit-box-align: center;}
.Winft{ position: absolute;width:100%; text-align: center;color:#ffffff;font-size: 24px; }
.centerWinpro{ width:50%;height: 52px;position: relative;/* display: inline-block; */}
.proLeftWin,.proRightWin{ position: absolute;border-radius: 15px;font-size:26px;top:2px; bottom:2px;margin:auto;box-sizing: border-box;color:white; overflow: hidden;}
.proLeftWin{  left:2px;text-align: right;padding-right:0px; background:#1ac1f8 url(../../images/activity/pk1213/Vs4.png) repeat -10px;}
.proRightWin{ right:2px; text-indent: 10px;  background: yellow; background:#ef2177 url(../../images/activity/pk1213/Vs6.png) repeat;}
.proCenter{ position: absolute;top:-16px; left:0; right:0;margin:auto; z-index: 2;}
.TopBottom{margin-top:38px; position: relative;}
.BgVs{ width:100%;}
.TopProjet,.BottomProjet{ position: absolute;width:100%; }
.TopProjet{ top:0px;bottom:50%; }
.BottomProjet{ top:49.6%; bottom:0px; }
.TopleftTitle{ position: absolute;left:10px; top:27px;font-size: 20px;color:#ffffff; }
.ProMain{ color:#ffffff;text-align: center; }
.titleYear{ width:100%;  font-size: 24px; color:#ffffff; padding-top: 30px;}
.samsharp{ font-size: 49px; }
.NumerYear{font-size:79px;line-height: 71px; text-indent: 21px;padding:18px 0px 0px;font-weight: 900;}
.total{font-size: 24px;line-height: normal;}
.Ranking_list,.VsTopBtn{ border:2px solid #ffffff; width:240px;height:40px;line-height: 40px;margin:0 auto;font-size: 24px;margin-top:20px; border-radius: 5px;}
.VsTopBtn{ background: #fce44b url(../../images/activity/pk1213/Vs8.png) no-repeat; color:#f3264c; border:0px; width:320px; height:55px; line-height: 55px;font-size: 30px;text-align: center; }

.BottomProjet .ProMain{ margin-top:50px; }
.welfareInfo{ width:254px; height:72px;line-height: 72px; text-align: center;color:#ffffff;font-size:32px;margin:34px auto 0px; background: url(../../images/activity/pk1213/Vs9.png) no-repeat; }
.welfareInfoMain{ margin:52px auto 0;width:462px;position: relative;}
.Vs10_img{ padding:0px 0px 28px; }
.welfareUl{ position: absolute;width:400px; top:-16px; left:72px;font-size: 24px;line-height: normal;color:#ffffff;}
.welfareLi{ position: relative; }
.Rightwelfare{ position: absolute;top:-6px; left:93px; }
.welMarginTop{ margin-top:58px; }
.yellowft{ color:#fffc05; }
.Reward_description{ position: relative;width:100%;padding:88px 0px 18px;    margin-top: 62px; }
.RewTitle{ position: absolute;left:50px;  top:12px;right:0px; text-align: center;color:#1acbf7; font-size: 33px; line-height: normal;font-weight: bold;}
.ReTop,.ReBottom{ position: absolute; }
.ReTop{ top:0px; }
.ReBottom{bottom:0px;}
.RewardInfo{width:81.53%; margin:0 auto; color:#1acbf7; }
.vetorty{ line-height: normal; font-size: 26px;padding-bottom: 12px;}
.infoLI{ line-height: normal; display: table;font-size: 22px;    padding-bottom: 7px; }
.RewardInfo>.vetorty~.vetUL{ margin-bottom: 10px; }
.Vs_Three{ width:100%; background: #162a8d;padding-top: 1px;margin-top:-2px;padding-bottom: 94px; }
.Vs_Three .RewTitle{ color:#ec146e; }
.Vs_Three .RewardInfo{ color:#ff9fc3; }
.Vs_Three .infoLI{ font-size: 24px; }
/*弹窗*/
.dialog_flex{width:100%;position: fixed; top:0px; left:0px;bottom:0px;right:0px; background: rgba(0,0,0,.8);z-index: 999; 
display: box;
display: -webkit-box;
box-pack:center;
box-align: center;
-webkit-box-pack:center;
-webkit-box-align: center;
}
.dialog_hide{ display: none; }
.dialog_show{ display: -webkit-box; }
.alert_info{width:510px;height:678px; background: #ffffff; border-radius: 10px; position: relative;}
.closeDia{ position: absolute;right:-20px; top:-20px; }
.alertHeader{ width:100%; height: 100px; line-height: 100px; text-align: center; }
.alertHeaderImg{ vertical-align: middle; }
.headerTitle{color:#84012b; font-size: 24px;vertical-align: middle;padding-left: 12px;}
.alertRanking{ width:100%; height:52px;position: relative; background: #f2f2f2; }
.RankingName{ position: absolute; top:18px;font-size: 18px; color:#3d3d3d; }
.alertLeft{ left:158px; }
.alertRight{ right:90px; }
.OverHin{width:100%;height: 526px;overflow-y:auto;}
.alertWrap{width:84.44%;  margin:0 auto;}
.alertLi{width:100%; height:62px; line-height: 62px;font-size: 18px; border-bottom: 2px solid #f2f2f2;}
.OderLeft{ width:68px;display: inline-block;text-align: center; }
.OrderNumber{ vertical-align: middle;}
.NameList,.RightMenory{ display: inline-block; }
.NameList{ width:142px;height: 26px; line-height: 26px;vertical-align:middle;border-right: 2px solid #f2f2f2;margin-left: 46px; }
.RightMenory{ color:#f4554d;text-indent: 22px; }
.Orderitem{ color:#3d3d3d;font-size: 18px;}

.Vs_alert_One .headerTitle{color:#033b76;}


/* 提示框 */
.dialog_notice {
    width:100%;position: fixed; top:0px; left:0px;bottom:0px;right:0px; background: rgba(0,0,0,.8);
    display: box;
    display: -webkit-box;
    box-pack:center;
    box-align: center;
    -webkit-box-pack:center;
    -webkit-box-align: center;
    z-index: 3;
}
.alert_info_notice{ position: relative; width:90%;    border-radius: 6px; background: white; font-size: 26px;color:#333333; text-align: center; line-height: normal; }
.alert_title{font-size: 34px;padding:16px 0px; width:100%; background: #f0efef;}
.close{ position: absolute; right:20px; top:20px; }
.alert_ul{width:76%; margin:0 auto; padding: 40px 0px 46px; border-bottom: 1px solid #d6d6d8; text-align: left;}
.top_line{width:100%; text-align: center;line-height: 80px;font-size: 34px; color:white; background: #ff6633; border-radius:0px 0px 6px 6px;}
.btn_bgNO{ background: #ff6633;}

.weight_dark{font-weight: bold;}
.alert_btn{ display: inline-block; width:49%; padding: 14px 0px;margin: 9px 0px; }
.left_bor{ border-left: 1px solid #cccccc }

.dialog_notice_hide{ display: none; }
.dialog_notice_show{ display: -webkit-box; }
