/*大弹窗*/
.body_bg{opacity:0.5; filter: alpha(opacity=50); background-color: #000;z-index: 2;position: fixed;left: 0px;top:0;right:0;bottom:0;width:100%;height:100%;display:none;}
.egg{width:70%;text-align: center;position: fixed;z-index: 4;top: 50%;margin-top: -265px;left: 50%;margin-left: -35%;}
.egg_img1{position:absolute;left: 5px;}
.egg_img2{position: absolute;right: -57px;top: -100px;}
.egg_img3{position: absolute;left: 0;top: 155px;}
.egg_img9{position: absolute;top: -42px;right: 150px;}
.shake {
	-webkit-animation:shake .3s 0s infinite;
	-o-animation:shake .3s 0s infinite;
	animation:shake .3s 0s infinite;
}
@-moz-keyframes shake{
	0%,100%{
		left:-10px;
	}
	50%{
		left:10px;
	}
}
@-o-keyframes shake{
	0%,100%{
		left:-10px;
	}
	50%{
		left:10px;
	}
}
@-webkit-keyframes shake{
	0%,100%{
		left:-10px;
	}
	50%{
		left:10px;
	}
}
@keyframes shake{
	0%,100%{
		left:-10px;
	}
	50%{
		left:10px;
	}
}
.cursor-img{width: 100%;height: 70%;background:#000;opacity:0; filter: alpha(opacity=0);position: fixed;top:50%;margin-top:-60%;z-index: 10;}

.egg_click{width:86.7%;height:52.44%;text-align: center;position: fixed;z-index:12;top: 50%;margin-top: -38%;left: 50%;margin-left: -39%;}
.egg_img5{position: absolute;bottom: 8px;left: 0;}
.egg_img4{width: 0%;position: absolute;bottom: 162px;left: 50%;}

.egg_red{width: 80%;position: fixed;z-index: 12;top: 50%;left: 50%;margin-left: -40%;margin-top: -372.5px;}
.egg_red_txt{width: 100%;text-align: center;font-size: 32px;color: #fced4a;line-height: 50px;position: absolute;top: 52%;}
.egg_red_btn1{width: 100%;margin:64px auto 0;text-align: center;}
.egg_red_btn1 .egg_red_btna{display: block;width: 100%;height: 100%;color: #ff2d4b;}
.egg_red_btn2{width: 100%;margin:25px auto 0;text-align: center;}
.egg_red_btn2 .egg_red_btna{display: block;width: 100%;height: 100%;color: #ff2d4b;}
.egg_red_btn3{width: 100%;margin:25px auto 0;text-align: center;}
.egg_red_btn3 .egg_red_btna{display: block;width: 100%;height: 100%;color: #ff2d4b;}
.close-btn{position: absolute;top:124px;right: 10px;cursor: pointer;}