#body{background: #ffeccc;}
.banner{width: 100%;margin:0 auto;}
.banner img{display: block;}
.main_gift1{width: 100%;position: relative;text-align: center;padding-bottom: 74px;}
.main_gift1_img1{margin: 74px 0 16px 0;}
.main_gift1_img2{width: 94%;}
.main_gift1_img3{height: 190px;width: 94%;position: absolute;top: 244px;left: 50%;margin-left: -47%;}
.main_gift_title{width: 100%;text-align: center;position: absolute;top: 54px;}
.main_gift_time{width: 100%;font-size: 20px;line-height: normal;text-align: center;color: #ed3c36;position: absolute;top: 180px;}
.main_gift_txt{width: 100%;text-align: center;position: absolute;top: 264px;}
.main_gift_txtmoney{width: 80%;text-align: center;font-size: 20px;color: #ed3c36;line-height: normal;margin:0 auto;}
.main_gift_txtmoney1{width: 80%;text-align: left;font-size: 20px;color: #ed3c36;line-height: normal;margin:10px auto;}
.btn4{position: absolute;top: 482px;left: 50%;margin-left:-115px ;}

.main_gift2{width: 100%;background: #ed3c36;position: relative;padding: 250px 0 76px;}
.main_gift2_box{width: 93%;margin:0 auto 0;}
.main_gift2_box_left{width:100%;background: #ffeccc;border-radius: 10px;border:1px solid #a01510;padding-bottom: 36px;margin-bottom: 20px;}
.main_gift2_Company{width:88%;font-size: 20px;color: #ed3c36;line-height: normal;padding:0 6% 0;}
.gift_gift2_table{width: 85%;background: #ed3c36;border-radius: 10px;margin: 0 auto 16px;padding-bottom: 2px;}
.gift_gift2_table_title{width:100%;line-height: normal;font-size: 24px;color: #ffeccc;padding:14px 0 14px;}
.gift_gift2_table_box{width:49%;display: inline-block;text-align: center;}
.gift_gift2_table_box1{width:36%;display: inline-block;text-align: left;}
.gift_gift2_table_box2{width:46%;display: inline-block;text-align: right;}
.gift_gift2_table_com{width:99%;background: #ffeccc;border-radius: 10px;margin: 0 auto;}
.gift_gift2_table_comli{width: 100%;text-align: left;font-size: 20px;color: #ed3c36;}
.gift_gift2_table_combox{width: 39%;border-right: 2px solid #ed3c36;display:inline-block;line-height: normal;padding: 12px 4% 12px 6%;}
.gift_gift2_table_combox2{width: 39%;border-right: 2px solid #ffeccc;display:inline-block;line-height: normal;padding: 12px 4% 12px 6%;}
.gift_gift2_btn{width: 91.6%;padding:56px 0 0 8.4%;}
.gift_gift2_btn .gift_gift2_btna1{display: inline-block;width: 230px;height: 60px;background: url(../../images/activity/treble_gift/btn1.png) no-repeat center;font-size: 30px;color: #ffeccc;line-height: 54px;text-align: center;margin-right: 5%;}
.gift_gift2_btn .gift_gift2_btna2{display: inline-block;width: 230px;height: 60px;background: url(../../images/activity/treble_gift/btn2.png) no-repeat center;font-size: 30px;color: #ed3c36;line-height: 54px;text-align: center;}
.gift_gift2_table_com1{width: 82%;font-size: 20px;color: #ed3c36;padding:10px 0 10px 18%;}
.main_gift2_nostart{width: 100%;text-align: center;position: relative;}
.main_gift2_nostartimg{margin-top: 60px;}
.main_gift2_nostart_txt{width: 40%;font-size: 20px;color: #ed3c36;line-height: 36px;position: absolute;top: 0;padding:150px 30% 0;}

.main_gift3{width: 100%;margin:0 auto;position: relative;}
.bottom{width: 100%;height: 60px;text-align: center;line-height: 60px;font-size: 24px;color: #ffeccc;background: #ed3c36;position: absolute;bottom:0;}
.main_gift3_blur{width: 1388px;height:699px;margin:0 auto;}
.main_gift3_bg {width: 100%;height: 600px;position: absolute;  top: 0;overflow: hidden;z-index:1;box-sizing: border-box;}               
.main_gift3_bg::before {content: "";position: absolute;top: 0px;left: 0px;right: 0px;bottom: 0px;-webkit-filter: blur(20px);filter: blur(20px);background: url(../../images/activity/treble_gift/banner1.jpg) no-repeat center;  background-size: cover;}  
.main_gift3_bbox{width:60%;height: 144px;background: #ffeccc;border:3px solid #ed3c36;margin:200px auto 0;text-align: center;font-size: 24px;color: #ed3c36;line-height: normal;padding-top: 28px;position: relative;z-index: 2;}
.gift_Popup1_btn3{width: 230px;height: 60px;position:absolute;top:482px;left:50%;margin-left:-115px;text-align: center;line-height:54px ;}
.gift_Popup1_btn3 .gift_Popup1_btna{display: inline-block;width: 100%;height: 100%;background: url(../../images/activity/treble_gift/btn1.png) no-repeat center;font-size: 30px;color: #ffeccc;}
.main_gift3_bg_title{width: 100%;text-align: center;position: absolute;top: 50px;}


/*弹窗*/
.body_bg{opacity:0.7; filter: alpha(opacity=70); background-color: #000;position: fixed!important;z-index: 1; left: 0px;top:0;right:0;bottom:0;width:100%;height:100%;display:none;}
.gift_Popup1{width: 54.37%;height: 254px;margin:auto;display: block;}
.gift_Popup1_money{width: 100%;text-align: center;font-size: 36px;color: #ed3c36;line-height: normal;padding-top: 34px;}
.gift_Popup1_Company{width: 100%;text-align: center;font-size: 20px;color: #ed3c36;line-height: normal;padding-top: 10px;}
.gift_Popup1_btn{width: 230px;height: 60px;margin:34px auto 0;text-align: center;line-height:54px ;}
.gift_Popup1_btn .gift_Popup1_btna{display: inline-block;width: 100%;height: 100%;background: url(../../images/activity/treble_gift/btn1.png) no-repeat center;font-size: 30px;color: #ffeccc;}

.gift_Popup2{width: 90%;height:566px;background: #ffeccc;border:3px solid #a01510;position: fixed!important;margin:auto;top:0;left:0;right:0;bottom:0;z-index: 2;border-radius: 10px;display: none;}
.gift_Popup2_btn{position: absolute;right: 17px;top: 17px;}
.gift_Popup2_title{width: 94%;line-height:normal;font-size: 24px;color: #ed3c36;padding:28px 0 18px 6%;}
.gift_Popup2_time{width:80%;font-size: 24px;color: #ed3c36;padding-left: 37px;line-height: normal;}
.gift_Popup2_table{width: 88%;background: #ed3c36;border-radius: 10px;margin: 15px auto 16px;padding-bottom: 2px;}
.gift_Popup2_table_com{width:99%;background: #ffeccc;border-radius: 10px;margin: 0 auto;}
.gift_Popup2_table_title{width: 100%;line-height: normal;font-size: 24px;color: #ffeccc;padding:14px 0 14px;display: -webkit-box;display: -webkit-flex;display: flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;}
.gift_Popup2_table_box{display: inline-block;width: 33.28%;text-align: center;}
.gift_Popup2_table_box1{display: inline-block;width: 22.28%;text-align: left;}
.gift_Popup2_table_box2{display: inline-block;width: 35.28%;text-align: right;}
.gift_Popup2_table_box3{display: inline-block;width: 36.28%;text-align: right;}
.gift_Popup2_table_boxi{font-size: 18px;}
.gift_Popup2_roll{width: 100%;height: 443px;overflow-y:auto ;border-radius: 10px;}
.gift_Popup2_table_com1{width:91%;line-height: normal;font-size: 18px;color: #ed3c36;text-align: center;padding: 8px 0;display: -webkit-box;display: -webkit-flex;display: flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;
padding-left: 9%;}
.gift_Popup2_hide{width: 100%;text-align: center;padding-top: 100px;}

.gift_Popup3{width: 90%;height:566px;background: #ffeccc;border:3px solid #a01510;position: fixed!important;margin:auto;top:0;left:0;right:0;bottom:0;z-index: 2;border-radius: 10px;display: none;}
.gift_Popup3_table{width: 82%;border:2px solid #ed3c36;border-radius: 10px;margin:20px auto 0;padding: 22px 24px;font-size: 18px;color: #ed3c36;line-height: 24px;font-weight: 600;}
.gift_Popup3_table p{margin-bottom: 20px;}
.gift_Popup4_table{width:82%;border:2px solid #ed3c36;border-radius: 10px;margin:20px auto 0;padding: 22px 24px;font-size: 18px;color: #ed3c36;line-height: 24px;font-weight: 600;}
.gift_Popup4_table p{margin-bottom: 30px;}









