body{width: 100%;margin:0 auto;font-family: "微软雅黑";}
#body{background:url(../../images/activity/weekhay/body_bg.png) repeat;}
*{-webkit-backface-visibility: hidden;}
.banner{width:100%;margin:0 auto;position: relative;}
.banner_img{display: block;width: 100%;}
.banner_title{width: 100%;margin:0 auto;position: absolute;font-size: 32px;text-align: center;color: #fff;bottom: 40px;}
.banner_topacity{opacity:0.6;}
.banner_titleCorlor{color:#fcd107 ;margin-left:1px;}
.main{width: 100%;margin:0 auto;background: url(../../images/activity/weekhay/body_bg.png) repeat;}
.main_bg{width: 100%;margin:0 auto;background: url(../../images/activity/weekhay/body_bg1.png) no-repeat center 266px;line-height: normal;padding-bottom: 50px;}
.main_center{width: 92%;margin:0 auto;border-radius: 20px;background: #fff;}
.main_title{width:100%;font-size: 36px;color: #fff;text-align: center;border-top-left-radius: 20px;border-top-right-radius: 20px;padding: 12px 0;
background: #f5ac1d;
background: -webkit-linear-gradient(left, #f7b31c , #ff840b);
background: -o-linear-gradient(right,  #f7b31c, #ff840b);
background: -moz-linear-gradient(right,  #f7b31c, #ff840b);
background: linear-gradient(to right,  #f7b31c , #ff840b);}
.main_box{width:100%;display: -webkit-box;display: -webkit-flex;display: flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;overflow: hidden;}
.main_child{width: 33.28%;position: relative;text-align: center;}
.main_time{display: block;margin: 58px auto;}
.main_btn{display:inline-block;width: 80%;margin:0 auto;border-radius: 22px; padding:8px 0;font-size: 22px;color: #fff;}
.isover{display: inline-block;width: 100%;padding:8px 0;font-size: 22px;color: #fff;}
/*已结束*/
.main_btn_Isover{background: #ababab;}
/*未开始*/
.main_btn_Notbegin{background: #ffb608;}
/*查看秒杀标的*/
.main_btn_start{background: #ff5924;}
.main_img{width: 100%;margin: 0 auto;text-align:center ;padding:32px 0;}
.message{width:73%;margin:40px auto;font-size: 40px;color: #fff;background: #fe9d0f;text-align: center;padding: 16px 0;border-radius: 42px;}
.rule_box{width: 92%;margin:0 auto;border-radius: 20px;background: #fff;padding:15px 0;}
.rule{width:94%;border:4px solid #fe9d0f;margin:0 auto;border-radius: 20px;padding:20px 0 40px;}
.rule_title{font-size: 24px;color: #fe5d43;width:92%;margin:0 auto;padding:20px 0 6px;}
.rule_txt{font-size: 20px;color: #fe5d43;width:92%;margin:10px auto 0;}
/*弹窗-我的奖品*/
.dialog_notice {width:100%;position: fixed;z-index: 3; top:0px; left:0px;bottom:0px;right:0px; background: rgba(0,0,0,.8);
    display: box;
    display: -webkit-box;
    box-pack:center;
    box-align: center;
    -webkit-box-pack:center;
    -webkit-box-align: center;}
.defaInfo{ width:84%; position: relative; background: #ffffff; border-radius: 20px;text-align: center;padding-bottom: 50px;}
.eggtop{margin-top: -62px;}
.info_one,.info_two{ width:96%;margin:0 auto;text-align: center; font-size: 26px; color:#a6a6a6;line-height: normal; }
.info_one{margin:20px auto 0px;}
.state-btn{ width:280px;margin:30px auto 0px;font-size: 34px;line-height: normal; text-align: center; background: #fe9d0f;color:#ffffff;border-radius: 30px; padding:10px 0;}
.alert_open{display: box;display: -webkit-box;}
.alert_hide{display: none;}
/*barrage*/
.body01{background:#ff603e;}
.barrage_banner{width:100%;text-align: center;margin:0 auto;}
.barrage_banner_img{display: block;width: 100%;}
.barrage_main{width: 100%;margin:0 auto;background: url(../../images/activity/weekhay/bg.png) no-repeat center;padding-bottom:80px;}
.barrage{width: 88%;margin:0 auto;text-align: center;position: relative;background: #fff;border-top-left-radius: 20px;border-top-right-radius: 20px;overflow: hidden;}
.barrage_main_btn{width: 88%;margin:0 auto;line-height: normal;padding:20px 0;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;position:relative;
background: #f7ad1b;
background: -webkit-linear-gradient(left, #f7ad1b , #ff850b);
background: -o-linear-gradient(right,  #f7ad1b, #ff850b);
background: -moz-linear-gradient(right,  #f7ad1b, #ff850b);
background: linear-gradient(to right,  #f7ad1b , #ff850b);}
.barrage_img{position:absolute;top:-88px;left:20px;}
.title{width: 100%;text-align: center;font-size: 32px;color: #fff;}
.txt{width: 100%;text-align: center;font-size: 22px;color: #fff;}
#div1{ width:100%;position:absolute;top:0;left:0;overflow: hidden;padding-top:80px;}
#div1 ul { position: relative;overflow:hidden; }
#div1 ul li { display:inline-block;float: left; }
#div1 ul li img {display: inline-block;}






