@charset "UTF-8";
.lotter{width:100%; height:100%; background: rgba(0,0,0,.6); position:fixed; left:0px; top:0px;}
.lotter_egg_warp{ position: relative; width:100%;height:100%; overflow: hidden;}
.WuKong{width:206px; height:222px; background:url(../../images/activity/monkey.png) no-repeat;position: absolute;z-index:2;/* perspective:1000px;-webkit-transform-style:preserve-3d;transform-style:preserve-3d; */-webkit-transform: translate3d(660px,0,0); transform: translate3d(660px,0,0); }
.stick{position:absolute; width:108px; height:181px;top: 0px;left:-20px;background: url(../../images/activity/monkey_stick.png) no-repeat;}
.lotter_zz_egg{position: absolute; width:100%;height:603px;top:45%;margin-top:-301px; text-align: center;background: url(../../images/activity/zz_egg.png) no-repeat center center;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}
.WuKong_move{
-webkit-animation: leftDown 2s ease-in-out;
animation: leftDown 2s ease-in-out;
-webkit-transform: translate3d(440px,396px,0);
transform: translate3d(440px,355px,0);
}
.WuKong_move .stick{top:6px;
-webkit-animation: rote 0.5s ease-in-out 1.5s;
animation: rote 0.5s ease-in-out 1.5s;
-webkit-transform:rotate3d(0,0,1,-583deg) ;
transform:rotate3d(0,0,1,-583deg) ;
}
.lotter_zz_egg_bgDown{
	opacity: 1;
	-webkit-animation:zz_egg_down 1s linear 2.5s;
	animation:zz_egg_down 1s linear 2.5s;
}
.lotter_zz_egg_bg{background: url(../../images/activity/zz_egg_down.png) no-repeat center center;}
@-webkit-keyframes leftDown{
	0%{-webkit-transform: translate3d(650px,0,300px) scale3d(0,0,0);}
	50%{-webkit-transform: translate3d(150px,200px,200px) scale3d(0.5,0.5,0.5);}
	80%{-webkit-transform: translate3d(550px,355px,100px) scale3d(0.8,0.8,0.8);}
	100%{-webkit-transform: translate3d(440px,355px,0) scale3d(1,1,1);}
}
@keyframes leftDown{
	0%{transform: translate3d(650px,0,300px) scale3d(0,0,0);}
	50%{transform: translate3d(150px,200px,200px) scale3d(0.5,0.5,0.5);}
	80%{transform: translate3d(550px,355px,100px) scale3d(0.8,0.8,0.8);}
	100%{transform: translate3d(440px,355px,0) scale3d(1,1,1);}
}
@-webkit-keyframes rote{
	0%{
		-webkit-transform:rotate3d(0,0,1,0deg); 	
	}
	100%{
		-webkit-transform:rotate3d(0,0,1,-583deg); 
	}
}
@keyframes rote{
	0%{
		transform:rotate3d(0,0,1,180deg); 	
	}
	100%{
		transform:rotate3d(0,0,1,-583deg); 
	}
}
@-webkit-keyframes zz_egg_down{
	0%{background: url(../../images/activity/zz_egg.png) no-repeat center center;}
	80%{background: url(../../images/activity/zz_egg.png) no-repeat center center; opacity: 0.5;-webkit-transform:scale3d(1.3,1.3,1.3);}
	100%{background: url(../../images/activity/zz_egg_down.png) no-repeat center center; opacity: 1;-webkit-transform:scale3d(1,1,1);}
}
@keyframes zz_egg_down{
	0%{background: url(../../images/activity/zz_egg.png) no-repeat center center;}
	100%{background: url(../../images/activity/zz_egg.png) no-repeat center center; opacity: 0.5;transform:scale3d(1.3,1.3,1.3);}
	/* 100%{background: url(../../images/activity/pb_egg_down.png) no-repeat center center; opacity: 1;transform:scale3d(1,1,1);}
	 */}

.btn{margin:0px 20px;font-size: 30px;line-height:30px;color:#5e2508; border-radius: 6px; border:2px solid #5e2508; padding:16px 0px; text-align: center; background: #ffd600;position: relative; bottom:-80%;}
.btn_two{ bottom:-82%; }