@charset "utf-8";
body {
	width:100%;
	margin:0 auto;
	font-family: "STHeiti,Arial", Microsoft YaHei;
	background:#fcf9f7;
}

.top {
    display: block;
    width: 100%;
    position:relative;
}
.name_wrap,.input-icon1,.input-icon2,.tubiao1,.tubiao2,.tubiao3,.tubiao4,.tubiao5{background:url(../../images/login/activity_icon.png) no-repeat center;}
.name_phone{position:absolute;width:100%; bottom: -0.34rem;height: 1.24rem;}
.name_wrap{width:1.24rem; height:1.24rem;background-position:-0.1rem -0.1rem;background-size:2.82rem 2.64rem;position:absolute;left:0.23rem;bottom:0;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.clath{background-position:-1.48rem -0.1rem;background-size:2.82rem 2.64rem;}
.name_mobile{display:none;position:absolute;left:1.60rem;top:50%;margin-top:-0.3rem;border-radius:0.3rem;height:0.58rem;line-height:0.58rem;font-size:0.24rem;padding:0 0.4rem; color:#333; background:#fff;border:0.01rem solid #f63;}



/*输入手机号参与活动*/

#fake-search {
    margin:0 auto 0;
    padding:0.5rem 0;
    width: 100%;
    background:#fff;
    border-bottom:0.01rem solid #e5e5e5;
}
.input-group {
    border-collapse: separate;
    display: table;
    position: relative;
    width:88%;
    border-bottom:1px solid #e5e5e5;
    height:0.9rem;
    overflow:hidden;
    margin:0 auto;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.input-group .input-icon1{
	display:inline-block;
	width:0.34rem;
	height:0.38rem;
	background-position:-0.7rem -2.14rem;
	background-size:2.82rem 2.64rem;
	position:absolute;
	left:0.1rem;
	top:50%;
	margin-top:-0.19rem;
}
.input-group .input-icon2{
	display:inline-block;
	width:0.34rem;
	height:0.28rem;
	background-position:-1.24rem -2.14rem;
	background-size:2.82rem 2.64rem;
	position:absolute;
	left:0.1rem;
	top:50%;
	margin-top:-0.14rem;
}
.input-group input.form-control {
    background: none;
    border:none;
    color: #666;
    display: block;
    font-size: 0.28rem;
    height: 100%;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 60%;
    position:absolute;
    left:0.64rem;
    top:0;
}

#validateImg{
	dosplay:block;
	width:1.16rem;
	height:0.46rem;
	border:0.01rem solid #e5e5e5;
	position:absolute;
	right:0;
	top:50%;
	margin-top:-0.24rem;
}
.hint_txt2 {
    color: #999;
    font-size: 0.2rem;
    margin: 0 auto;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 88%;
    padding:0.1rem 0;
}
.input-group-addon, .input-group-btn {
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;
}
.btn-danger {
    background-color: #f63;
    color: #fff;
    font-size:0.34rem;
    margin:0.2rem auto 0;
}
.btn {
    -moz-user-select: none;
    border: 1px solid transparent;
    border-radius:0.08rem;
    cursor: pointer;
    display: block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width:88%;
    height:0.8rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.login_txt{
	width:100%;
	margin:0.3rem auto 0;
	font-size:0.24rem;
	color:#999;
	text-align:center;
}
#agent_login{
	color:#f63;
	border-bottom:0.01rem solid #f63;
}
.lodin_box{
	width:100%;
	margin:0 auto;
	padding-bottom:0.3rem;
}
.time {
    color: #666;
    font-size:0.24rem;
    height: 0.40rem;
    line-height: 0.40rem;
    width: 88%;
    margin: 0.24rem auto 0;
    position:relative;
}
.tubiao1{
	display:inline-block;
    width:0.5rem;
    height:0.5rem;
    background-position:-0.05rem -2.09rem;
    background-size:2.82rem 2.64rem;
    position:absolute;
    left:-0.05rem;top:50%;margin-top:-0.25rem;
}
.tubiao2{
	display:inline-block;
    width:0.5rem;
    height:0.5rem;
    background-position:-0.05rem -1.49rem;
    background-size:2.82rem 2.64rem;
    position:absolute;
    left:-0.05rem;top:50%;margin-top:-0.25rem;
}
.tubiao3{
	display:inline-block;
    width:0.5rem;
    height:0.5rem;
    background-position:-0.65rem -1.49rem;
    background-size:2.82rem 2.64rem;
    position:absolute;
    left:-0.05rem;top:50%;margin-top:-0.25rem;
}

.tubiao4{
	display:inline-block;
    width:0.5rem;
    height:0.5rem;
    background-position:-1.25rem -1.49rem;
    background-size:2.82rem 2.64rem;
    position:absolute;
    left:-0.05rem;top:50%;margin-top:-0.25rem;
}
.tubiao5{
	display:inline-block;
    width:0.5rem;
    height:0.5rem;
    background-position:-1.85rem -1.49rem;
    background-size:2.82rem 2.64rem;
    position:absolute;
    left:-0.05rem;top:50%;margin-top:-0.25rem;
}
.biao_ft{text-align:left;padding-left:0.68rem;}
.time_color{
	color:#f63;
}


.formValidationError {
	display: none;
	height: 0.36rem;
	line-height: 0.36rem;
	margin-left: 0;
	color: #cc0000;
	float: left; 
}








.hideshow{top:auto; bottom:0px;}
.list_bmf {
    border-bottom: 1px solid #f2f2f2;
    color: #8c8c8c;
    height: 50px;
    line-height: 50px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    background-color: #fff;
}
.time input[type="text"] {
   background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #8c8c8c;
    float: left;
    font-family: "微软雅黑";
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    margin-top: 0;
    padding-left: 10px;
    width: 72%;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}
.glyphicon {
    display: inline-block;
    font-family: "yahei";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: relative;
    top: 1px;
}
