#Html("begin")
#GenHead("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadGenCSS("/resources/gen178/styles/assets/questionnaire")
#GenHead("end")
<body>
<!--header -s-->
    #Gen178Header("assets")
<!--header -e-->
    <div class="question">
        <h2>风险承受能力测评</h2>
        <div class="question-des">
            <p class="des-title">尊敬的客户：</p>
            <p>为了便于您了解自身的风险承受能力，选择合适的产品和服务，请您填写以下风险承受能力测评。风险承受能力测评能够帮助用户准确的对自我风险承受能力，理念、性格等进行专业的认知测试，综合评估您的风险承受能力高低，是您进行选择产品之前重要的准备工作。本风险承受能力测评仅作为本公司客户适当性服务的依据。实际选择产品时请慎重选择， 本公司不对用户据此选择产品所产生的风险承担责任。为了及时了解您的风险承受能力，我们建议您持续做好动态评估。</p>
            <p>风险提示：选择产品需承担各类风险，可能遭受资金损失。市场有风险，用户需谨慎。</p>
            <p>测评需知：在风险承受能力测试过程中，您提供的全部信息、资料是真实、准确和完整的，测试结果真实、准确地反映了您的风险承受程度。我们承诺对您的所有个人资料保密。请您认真作答，感谢您的配合！（每个问题请选择唯一选项，不可多选）</p>
        </div>
        <form  name="question" method="post" id="riskTest" onsubmit="return totalScore()" action="$!env.get('gen.server.web')/gen178/assets/questionnaireResult">
            <input type="hidden" name="assessType" value="risk_assess">
            <input type="hidden" name="score" value="1">
            <div class="question-list">

                <div class="question-frame" style="padding-top: 50px">
                    <h5>1、您的年龄是？</h5>
                    <label><span></span><input type="radio" name="ages" value=-2">18-30岁</label>
                    <label><span></span><input type="radio" name="ages" value="0">31-50岁</label>
                    <label><span></span><input type="radio" name="ages" value="-4">51-60岁</label>
                    <label><span></span><input type="radio" name="ages" value="-10">高于60岁</label>
                </div>

                <div class="question-frame">
                    <h5>2、您的家庭年收入为（折合人民币）？</h5>
                    <label><span></span><input type="radio" name="income" value="2">5万元以下</label>
                    <label><span></span><input type="radio" name="income" value="2">5-20万元</label>
                    <label><span></span><input type="radio" name="income" value="6">20-50万元</label>
                    <label><span></span><input type="radio" name="income" value="8">50-100万元</label>
                    <label><span></span><input type="radio" name="income" value="10">100万元以上</label>
                </div>

                <div class="question-frame">
                    <h5>3、在您每年的家庭收入中，可用于参与金融产品（储蓄存款除外）的比例为？</h5>
                    <label><span></span><input type="radio" name="investment" value="2">小于10%</label>
                    <label><span></span><input type="radio" name="investment" value="4">10%至25%</label>
                    <label><span></span><input type="radio" name="investment" value="8">25%至50%</label>
                    <label><span></span><input type="radio" name="investment" value="10">大于50%</label>
                </div>

                <div class="question-frame">
                    <h5>4、以下哪项最能说明您参与金融产品的经验？</h5>
                    <label><span></span><input type="radio" name="exprience" value="0">除存款、国债外，我几乎不参与其他金融产品</label>
                    <label><span></span><input type="radio" name="exprience" value="2">大部分参与存款、国债等，较少参与于股票、基金等风险产品</label>
                    <label><span></span><input type="radio" name="exprience" value="6">资产均衡地分布于存款、国债、银行产品、信托产品、股票、基金等</label>
                    <label><span></span><input type="radio" name="exprience" value="10">大部分参与股票、基金、外汇等高风险产品，较少参与于存款、国债</label>
                </div>

                <div class="question-frame">
                    <h5>5、您有多少年参与股票、基金、外汇、金融衍生产品等风险产品的经验？</h5>
                    <label><span></span><input type="radio" name="times" value="0">没有经验</label>
                    <label><span></span><input type="radio" name="times" value="2">少于2年</label>
                    <label><span></span><input type="radio" name="times" value="6">2至5年</label>
                    <label><span></span><input type="radio" name="times" value="8">5至8年</label>
                    <label><span></span><input type="radio" name="times" value="10">8年以上</label>
                </div>

                <div class="question-frame">
                    <h5>6、以下哪项描述最符合您的本金收益态度？</h5>
                    <label><span></span><input type="radio" name="attitude" value="0">厌恶风险，不希望本金损失，希望获得稳定回报</label>
                    <label><span></span><input type="radio" name="attitude" value="4">保守参与，不希望本金损失，愿意承担一定幅度的收益波动</label>
                    <label><span></span><input type="radio" name="attitude" value="8">寻求资金的较高收益和成长性，愿意为此承担有限本金损失</label>
                    <label><span></span><input type="radio" name="attitude" value="10">希望赚取高回报，愿意为此承担较大本金损失</label>
                </div>

                <div class="question-frame">
                    <h5>7、假如您有100万元，现在有一个项目，有80%的可能性盈利高达200%，但也有80%的可能性出现血本无归。您会加入多少本金？</h5>
                    <label><span></span><input type="radio" name="newprjt" value="0">0-20万元</label>
                    <label><span></span><input type="radio" name="newprjt" value="4">20-50万元</label>
                    <label><span></span><input type="radio" name="newprjt" value="6">50-80万元</label>
                    <label><span></span><input type="radio" name="newprjt" value="10">100万元</label>
                </div>

                <div class="question-frame">
                    <h5>8、您计划参与的产品期限是多久？</h5>
                    <label><span></span><input type="radio" name="term" value="4">1年以下</label>
                    <label><span></span><input type="radio" name="term" value="6">1－3年</label>
                    <label><span></span><input type="radio" name="term" value="8">3－5年</label>
                    <label><span></span><input type="radio" name="term" value="10">5年以上</label>
                </div>

                <div class="question-frame">
                    <h5>9、您选择产品加入的是为了让资产怎样一个状态？</h5>
                    <label><span></span><input type="radio" name="objective" value="2">资产保值</label>
                    <label><span></span><input type="radio" name="objective" value="6">资产稳健增长</label>
                    <label><span></span><input type="radio" name="objective" value="10">资产迅速增长</label>
                </div>

                <div class="question-frame" style="padding-bottom: 50px">
                    <h5>10、您的本金出现何种程度的波动时，您会呈现明显的焦虑？</h5>
                    <label><span></span><input type="radio" name="anxious" value="-5">本金无损失，但收益未达预期</label>
                    <label><span></span><input type="radio" name="anxious" value="5">出现轻微本金损失</label>
                    <label><span></span><input type="radio" name="anxious" value="10">本金10％以内的损失</label>
                    <label><span></span><input type="radio" name="anxious" value="15">本金20-50％的损失</label>
                    <label><span></span><input type="radio" name="anxious" value="20">本金50％以上损失</label>
                </div>

                <div class="question-btn">
                    <input type="submit" value="提交" id="submitResult">
                </div>
            </div>
        </form>
    </div>
<!--footer -s-->
    #Gen178Footer()
<!--footer -e-->
    #LoadGenJS("/resources/gen178/scripts/assets/questionnaire")
</body>
#Html("end")