#Html("begin")
#Head("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadJS("resources/micro2.0/scripts/six")
#LoadCSS("resources/micro2.0/styles/default")
#LoadCSS("resources/micro2.0/styles/regular/payment_failed.min")
#WeChatShare()
#Head("end")
<body>
    <div class="header">
        <a class="header_arrow" href="javascript:history.go(-1)"></a>
        <h1 class="heade_ft oran_color">提现结果</h1>
    </div>
    <h2 class="result-title">
        <span class="okfo_main">币港湾已收到您的提现申请，正在处理中
            #if($!isNeedCheck == 'true')
                ，预计到账时间为$!time 之前
            #else
                <br />
            #end
            （结果将以短信通知）
        </span>
    </h2>
    <div class="result-img"></div>
        #if("$!qianbao" == "qianbao")
            <a class="invite" href="$!env.getWebURL('micro2.0/assets/my_bonus')?qianbao=qianbao&agentViewFlag=$!agentViewFlag" title="">完成</a>
        #else
            <a class="invite" href="$!env.getWebURL('micro2.0/assets/my_bonus')?withdrawFlag=1" title="">完成</a>
        #end
    <div class="dep_service">
        <p class="service_info">如您对此次交易有疑问</p>
        <p class="service_info_number">请联系客服：<span><a class="ser_color" href="tel:4008061230">400-806-1230</a></span></p>
    </div>
#LoadJS("resources/micro2.0/scripts/assets/custom")
</body>
#Html("end")