.main_center .main_cright{
    background: transparent;
    padding: 0;
}

.main_cr_top_txt {
    font-size: 14px;
    color: #666;
    padding: 20px;
    margin-bottom: 20px;
    background: #fff;
}

.data_center {
    margin-right: -20px;
    margin-left: -20px;
    margin-top: -20px;
    height: 200px;
    background: url(../../../images/platform/data/figure.png) no-repeat center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 40px;
    text-align: center;
}
.data_center h3{
    font-size: 24px;
    color: #fff;
    line-height: 25px;
    position: relative;
    margin-bottom: 20px;
}
.data_center h3 span{
    display: inline-block;
    height: 1px;
    width: 40px;
    margin: 12px 20px;
    position: relative;
    top: 4px;
    background: #fff;
}
.data_currtime{
    font-size:12px;
    line-height: 28px;
    color: #fff;
}
.data_currtime span{
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 26px;
    border:solid 1px #ffeeda;
    padding: 0 5px;
    margin: 0 2px;
    font-size: 16px;
    color: #fff;
}
.data_name{
    height: 35px;
    line-height: 30px;
    font-size: 14px;
    color: #666;
    text-align: left;
}
.data_name p{
    float: left;
    line-height: 30px;
    font-size:14px;
    color: #fff;
    background: #FF6633;
    padding: 0 10px;
    position: relative;
    margin-right: 20px;
}
.data_name p span{
    position: absolute;
    bottom: -5px;
    background: url(../../../images/regular/regular_index/title.png) no-repeat;
    width: 5px;
    height: 5px;
    left: 0;
}
.data_small_wp {
    padding: 30px 0 0;
}
.data_text_wrap{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 70px 20px 0;
}
.data_text_left{
    float: left;
    width: 60%;
    margin-bottom: 30px;
}
.data_text_col_3{
    float: left;
    width: 33%;
    margin-bottom: 30px;
}
.data_text_col_2{
    float: left;
    width: 50%;
    margin-bottom: 30px;
}
.data_main .send_wrap{
    height: auto;
}
.data_main .send_wrap h5{
    text-align: center;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    margin-bottom: 10px;
}
.data_main .send_wrap .data_text_wrap{
    padding: 20px 0 0;
}
.data_text_right{
    float: left;
    width: 40%;
    margin-bottom: 30px;
}
.data_text_title{
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 10px;
    color: #999;
}
.data_text_content{
    font-size: 14px;
    line-height: 20px;
    color: #666;
    font-weight: bold;
}
.data_list {
    float: left;
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.main_cr_top_txt .main_cr_down{
    min-height: 0;
}
.clearfix{
    height: 0;
    clear: both;
}
.data_row{
    margin-left:-20px;
    margin-right: -20px;
    padding: 20px 0;
}
.data_col_4{
    width: 25%;
    height: 45px;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-right:dashed 1px #e5e5e5;
    float: left;
}
.data_ico{
    text-align: center;
    margin-bottom: 10px;
}
.flex_div {
    width: 60%;
    box-sizing: border-box;
    height: 60px;
    float: left;
}

.list_win {
    width: 50%;
    float: left;
    box-sizing: border-box;
    text-align: center;
}

.data_title {
    font-size: 12px;
    text-align: center;
    line-height: 15px;
    color: #999; /*padding-bottom: 17px;padding-top: 8px;*/
    margin-bottom: 10px;
}
.data_title span{
    color: #FF6633;
}

.data_title_number {
    color: #666;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}
.data_wrap:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
}

.data_wrap1, .data_wrap2, .data_wrap3, .data_wrap4, .data_wrap5, .data_wrap6 {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    height: 480px;
    padding: 20px 20px 0;
}

.data_wrap1 {
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.data_wrap2 {
    border-bottom: 1px solid #e5e5e5;
}

.data_wrap3 {
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.data_wrap4 {
    border-bottom: 1px solid #e5e5e5;
}

.data_wrap5 {
    border-right: 1px solid #e5e5e5;
}

/*
#data_one {
    width: 361px;
    height: 380px;
}

#data_six {
    height: 372px;
    width: 380px;
}

#data_age {
    height: 325px;
}

#data_sex {
    height: 198px;
}

#data_five {
    height: 355px;
    width: 361px;
}

#data_seven {
    height: 368px;
    width: 316px;
}
*/