
.main_cr_down {
    overflow: hidden;
    padding: 0 50px 0;
}
.main_cr_year{
    height: 30px;
    padding-bottom: 20px;
}
.main_cr_year>p{
    font-size: 14px;
    color: #666;
    line-height: 30px;
    float: left;
}
.main_cr_year .select_interface{
    height: 30px;
    width: 100px;
    border: solid 1px #e5e5e5;
    background: #f5f5f5;
    position: relative;
    float: left;
    cursor: pointer;
}
.main_cr_year .select_interface p{
    padding-left: 15px;
    font-size: 14px;
    color: #FF6633;
    line-height: 30px;
    position: relative;
}
.main_cr_year .select_interface p span{
    width: 10px;
    display: block;
    height: 6px;
    position: absolute;
    top:11px;
    right: 10px;
    background: url(../../../images/platform/list_arrow.png) no-repeat;
}
.main_cr_year .select_interface .slidehide{
    display: none;
}
.main_cr_year .select_interface .slidehide span{
    background: url(../../../images/platform/list_arrow_up.png) no-repeat;
}
.main_cr_year .select_interface .select_list{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100px;
    top:30px;
    left: -1px;
    border: solid 1px #e5e5e5;
    border-top: 0;
    background: #fff;
    display: none;
}
.main_cr_year .select_interface .select_list li{
    color: #999;
    line-height: 20px;
    padding-left: 15px;
    font-size: 14px;
    cursor: pointer;
}
.main_cr_year .select_interface .select_list li:hover{
    background: #FF6633;
    color: #fff;
}
.main_cr_year select option{
    text-align: center;
    color: #999;
}
.main_cr_year select span{
    width: 15px;
    display: block;
    height: 7px;
    position: absolute;
    background: url(../../../images/assets/money1.png) no-repeat center;
}
.main_cr_top_txt {
    font-size: 14px;
    color: #666;
    line-height: 28px;
    padding-top: 30px;
    border-top: solid 1px #e5e5e5;
    min-height: 300px;
}
.main_cr_top_txt:after{
    content: '';
    display: block;
    height:0;
    clear: both;
}
.main_cr_report{
    display: block;
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
    height: 390px;
}
.a_cancle_color{

}
.main_cr_top_tbox {
    border: 10px solid #f5f5f5;
    background: #ffffff;
    width: 330px;
    height: 360px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.main_cr_top_tbox:hover{
    border-color: #fcdcd2;
}
.main_cr_report:nth-child(odd) .main_cr_top_tbox,.main_cr_report:nth-child(odd) .main_cr_top_tbd  {
    float: left;
}
.main_cr_report:nth-child(even) .main_cr_top_tbox,.main_cr_report:nth-child(even) .main_cr_top_tbd{
    float: right;
}

.main_cr_top_tbd {
    width: 330px;
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    line-height: 15px;
    color: #666;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.a_cancle_color:hover .main_cr_top_tbd{
    color: #FF6633;
}

.main_cr_top_tbc {
    height: 100%;
}


/*分页*/
.main_cr_fenye {
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
}

.main_cr_fenye a {
    float: left;
    display: inline-block;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    border: 1px solid #e4e4e4;
}

.main_cr_fenye_all {
    width: 70px;
    box-sizing: border-box;
    height: 30px;
    background: url(../../../images/fenye_left.png) no-repeat 15px 9px;
    padding-left: 15px;
    margin-right: 10px;
}

.main_cr_fenye_al {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    background: url(../../../images/fenye_left.png) no-repeat center;
    margin-right: 10px;
}

.main_cr_fenye_ac {
    width: 30px;
    height: 30px;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    color: #999;
    text-align: center;
    margin-right: 10px;
    box-sizing: border-box;
}

.main_cr_fenye_ar {
    width: 30px;
    height: 30px;
    background: url(../../../images/fenye_right.png) no-repeat center;
    box-sizing: border-box;
    margin-right: 10px;
}

.main_cr_fenye_arr {
    width: 70px;
    height: 30px;
    background: url(../../../images/fenye_right.png) no-repeat 49px 9px;
    padding-right: 15px;
    box-sizing: border-box;
}

.main_cr_fenye_div{
    display:inline-block;
}

.main_cr_fenye_div .main_cr_fenye_achover{
    background:#ff6633;
    border:none;
    color:#fff;
    width: 30px;
    box-sizing: border-box;
    margin-right: 10px;
    height: 30px;
}