
.main_cr_ullione {
    height: 35px;
    border-bottom: 1px dashed #e5e5e5;
    font-size: 14px;
    line-height: 35px;
    overflow: hidden;
}

.main_cr_ullione .main_cr_ullionea {
    display: block;
    height: 35px;
    float: left;
    padding-left: 38px;
    color: #666;
}

.main_cr_ullione .main_cr_ullionespan {
    display: block;
    float: right;
    height: 35px;
    text-align: right;
    padding-right: 10px;
    color: #666;
}
.main_cr_ul{
    margin-top: -30px;
}
.main_cr_ul li {
    height: 55px;
    border-bottom: 1px dashed #e5e5e5;
    font-size: 12px;
    line-height: 55px;
}
.main_cr_ul li:last-child{
    border-bottom: solid 1px #e5e5e5;
}

.main_cr_ul li a {
    display: block;
    height: 44px;
    color: #666;
}
.main_cr_ul li:hover a{
    text-decoration: underline;
    color: #FF6633;
}
.notice_title{
    float: left;
    max-width: 650px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main_cr_ul li a img{
    position: relative;
    top: 18px;
    float: left;
    margin-left: 5px;
}
.main_cr_ul a span {
    color: #999;
    float: right;
}

/*分页*/
.main_cr_fenye {
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
}

.main_cr_fenye a {
    float: left;
    display: inline-block;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    border: 1px solid #e4e4e4;
}

.main_cr_fenye_all {
    width: 70px;
    box-sizing: border-box;
    height: 30px;
    background: url(../../../images/fenye_left.png) no-repeat 15px 9px;
    padding-left: 15px;
    margin-right: 10px;
}

.main_cr_fenye_al {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    background: url(../../../images/fenye_left.png) no-repeat center;
    margin-right: 10px;
}

.main_cr_fenye_ac {
    width: 30px;
    height: 30px;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    color: #999;
    text-align: center;
    margin-right: 10px;
    box-sizing: border-box;
}

.main_cr_fenye_ar {
    width: 30px;
    height: 30px;
    background: url(../../../images/fenye_right.png) no-repeat center;
    box-sizing: border-box;
    margin-right: 10px;
}

.main_cr_fenye_arr {
    width: 70px;
    height: 30px;
    background: url(../../../images/fenye_right.png) no-repeat 49px 9px;
    padding-right: 15px;
    box-sizing: border-box;
}

.main_cr_fenye_div{
    display:inline-block;
}

.main_cr_fenye_div .main_cr_fenye_achover{
    background:#ff6633;
    border:none;
    color:#fff;
    width: 30px;
    box-sizing: border-box;
    margin-right: 10px;
    height: 30px;
}

.points {
    display: block;
    float: left;
    width: 15px;
    text-align: center;
    line-height: 26px;
}

/*子页面*/
.main_cr_center_h31 {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
    line-height: 20px;
    text-align: center;
    word-wrap: break-word;
    margin-bottom: 30px;
}

.main_cr_center_txt1 {
    font-size: 14px;
    color: #666;
    line-height: 30px;
    word-wrap: break-word;
}
.main_cr_center_trtxta1{
    font-size: 12px;
    text-align: right;
    color: #FF6633;
    margin-top: 30px;
    word-wrap: break-word;
}
