/*弹窗*/
.body_bg{opacity:0.5; filter: alpha(opacity=50); background-color: #000;top: 0;filter: alpha(opacity=50);opacity: 0.5;z-index: 1;position: fixed!important;position: absolute;z-index: 10; left: 0px;width:100%;height:100%;display:block;}
.alert_listthree{width:574px;_height:100px;min-height:100px;background:#fff;display: none;z-index: 11;padding-bottom: 20px;left: 40%;top: 50%;margin-left: -150px!important;margin-top: -190px!important;margin-top: 0px;position: fixed!important;overflow:hidden;}
.alert_listthree_h3{width:560px;height:47px;background:#f6f6f6;line-height: 47px;font-size: 16px;color:#666666;padding-left: 14px;}
.alert_listthree_btn{margin-left: 81%;}
.alert_listthree .alert_listthree_txt{font-size: 16px;color:#333;width:480px;_height:50px;min-height:50px;overflow:hidden;line-height: 36px;padding:35px 46px 35px 46px;}
.alert_listthree_contitle img{position: relative;top:4px;margin-right: 6px;}
.alert_listthree_contitle{text-align:center;}
.alert_listthree_content .alert_listthree_contentspan,.alert_listthree_contenti{display: block;height: 36px;float: left;}
.alert_listthree_contentspan{width:214px;text-align: right;margin-left: 42px;}
.alert_listthree_contenti{width: auto;}
.alert_listthree_btnd{width:574px;height:46px;margin:0 auto;}
.alert_listthree_btnd .alert_listthree_btnl{width:180px;height:44px;background:#ff6633;display: block;text-align: center;line-height: 44px;color:#fff;margin:0 auto;border-radius: 4px;}
.alert_listthree_success{width:100%;text-align: center;}
.cpm_put {width: 394px;margin: 20px auto 0;}
.put_wrp input.put_text {margin-top: 10px;font-size: 16px;width: 156px;padding-left: 6px;border: 0px;border-right: 1px solid #bbbbbb;}
.retransmission {color: #5ca8fd;font-size: 14px;cursor: pointer;position: absolute;right: 12px;top: 5px;}

