.top_txt{width:1396px;min-height:10px;overflow:hidden;margin:10px 0 10px;}
.top_l{width:510px;height:50px;float:left;padding-left:20px;}
.top_r{width:510px;height:50px;float:left;padding-left:20px;}
.top_lh3{line-height:24px;width:auto;height:24px;margin-left:180px;}
.top_rtxt{margin:0 10px 0;}
.cenbutton{margin:60px 0 0 7px;}

.center_txt{width:1376px;min-height:10px;overflow:hidden;padding-left:20px;}
.right_button{position:relative;top:380px;left:20px;}
.down_txt{width:1376px;min-height:150px;overflow:hidden;line-height:100px;padding-left:20px;}
.span_txt{margin:0 10px 0 10px;}
.input_txt1{margin-left:10px;}