html,body{
	width: 100%;
	font-family: "微软雅黑";
	background: #6cbdfc;
}
.banner {
	width: 100%;
	height: 522px;
	margin: 0 auto;
	background: url(../../../../images/activity/2017/youfu/banner.jpg) no-repeat center;
}
.new-main {
	width: 100%;
	height: auto;
	margin: 0 auto;
	background: #6cbdfc;
	padding: 60px 0 100px;
}
.new-content {
	width: 1200px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	background: url(../../../../images/activity/2017/youfu/new-bg.png) no-repeat center 82px;
}
.new-title {
	width:100%;
	text-align: center;
	margin:0 auto;
}
.new-subtitle{
	width:100%;
	margin:12px auto 0;
	text-align: center;
	font-size: 22px;
	color: #175ac0;
	line-height: normal;
	padding:10px 0;
}
.new-ranking{
	width: 968px;
	height: 303px;
	margin:0 auto;
	padding-top: 35px;
	background:#4597fc ;
	box-shadow: inset 0 1px 61px 4px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 1px 61px 4px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 0 1px 61px 4px rgba(0, 0, 0, 0.15);	
    -webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	behavior: url(PIE.htc);
    position: relative;
}
.new-ran-img{
	position: absolute;
	top: -6px;
	right: -7px;
}
.new-ran-title{
	width:904px;	
	height: 51px;
	line-height: 50px;
	font-size: 16px;
	font-weight: 600;
	text-align: center;	
	margin:0 auto;
}
.new-ran-title li{
	height:50px;	
	float: left;
	width:198px;
	color: #2e4e76;
	background: #83b7f8;
	border-right: 1px solid #4597fc;
	border-top: 1px solid #4597fc;
}
.new-ran-title .new-ran-name{
	border-top-left-radius: 20px;
}
.new-ran-title .new-ran-reward{
	border-top-right-radius: 20px;
	width: 302px;
	border-right:none;
	line-height: 36px;
}
.new-ran-p{
	font-size: 12px;
	line-height: 12px;
	margin-top: -4px;
}
.gold li{
	height:50px;
	float: left;
	width:198px;
	color: #3582f7;
	background: #9cc9ff;
	border-right: 1px solid #4597fc;
	border-top: 1px solid #4597fc;
}
.gold .new-ran-gold{
	width: 302px;
	border-right:none;
}
.silver li{
	height:50px;	
	float: left;
	width:198px;
	color: #3582f7;
	background: #add2ff;
	border-right: 1px solid #4597fc;
	border-top: 1px solid #4597fc;
}
.silver .new-ran-silver{
	width: 302px;
	border-right:none;
}
.gold .new-ran-copper{
	width: 302px;
	border-right:none;
	border-bottom-right-radius: 20px;
}
.gold .new-gold-name{
	border-bottom-left-radius: 20px;
}
.new-ran-txt{
	width:900px;
	margin: 16px auto 0;
	font-size: 16px;
	color: #fff;
	line-height: 24px;
}
.new-ran-color{
	color: #fee346;
}
.new-recommend{
	width:1084px;
	margin:48px auto 0;
	height: 448px;
}
.new-rec-left{
	width: 644px;
	height: 400px;
	float: left;
	padding-top: 48px;
	position: relative;
	background:#4293fb ;
	box-shadow: inset 0 1px 61px 4px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 1px 61px 4px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 0 1px 61px 4px rgba(0, 0, 0, 0.15);	
    -webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	behavior: url(PIE.htc);
}
.new-rec-title{
	padding:0 42px;
	height: 50px;
	color: #fee346;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	background: #2473db;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	behavior: url(PIE.htc);
	position: absolute;
	top: -18px;
	left: 50%;margin-left: -122px;
}
.rec-left{
	margin-left: -82px;
}
.new-rec-lbox{
	width:574px;
	height: 363px;
	margin:0 auto;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	background: #9cc9ff;
}
.new-rec-name{
	width: 100%;
	height: 50px;
	background: #83b7f8;
	font-size: 16px;
	color: #2e4e76;
}
.new-rec-name li{
	float: left;
	height: 50px;
	width: 143px;
	text-align: center;
	line-height: 50px;
}
.new-rec-img{
	padding-top: 14px;
}
.new-rec-none-img{
	margin-left:92px;
}
.new-rec-number{
	width: 100%;
}
.new-rec-number li{
	height: 52px;
}
.new-rec-number li i{
	display: block;
	float: left;
	height: 52px;
	width: 143px;
	text-align: center;
	line-height: 52px;
	font-size: 16px;
	color: #3582f7;
}
.new-rec-right{
	width: 360px;
	height: 388px;
	float: left;
	padding-top: 60px;
	margin-left: 32px;
	position: relative;
	background:#4293fb ;
	box-shadow: inset 0 1px 61px 4px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 1px 61px 4px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 0 1px 61px 4px rgba(0, 0, 0, 0.15);	
    -webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	behavior: url(PIE.htc);
	text-align: center;
}
.new-rec-rbox{
	width: 284px;
	height: 156px;
	background: #add2ff;
	border-radius: 20px;
	margin:22px auto 0;
	font-size: 14px;
	color: #2e4e76;
	overflow: hidden;
}
.new-rec-rbox li{
	width: 260px;
	height: 52px;
	line-height: 52px;
	padding:0 12px;
}
.new-rec-my{
	background:#83b7f8;
}
.new-rec-num{
	background: #9cc9ff;
}
.new-rec-rbox i{
	width:160px;
	display: block;
	text-align: left;
	float: left;
}
.new-rec-rbox span{
	width:100px;
	display: block;
	text-align: right;
	float: right;
}
.new-rec-not i{
	width: 80px;
}
.new-rec-not span{
	width: 170px;
	font-size: 12px;
	color: #2e4e76;
}
.new-people{
	font-size: 20px;
	font-weight: 600;
	background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#2475fc), to(#9c53ff));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.new-rec-none{
	font-size: 20px;
	color: #2e4e76;
	line-height: 156px;
}
.mylist_null{
	font-size: 20px;
	color: #2e4e76;
	line-height: 156px;
}
.new-btn-none{
	width: 284px;
	height: 55px;
	position:relative;
	background: #83b7f8;
	margin:30px auto;
	font-size: 20px;
	color: #2e4e76;
	line-height: 55px;
	-webkit-border-radius: 55px;
	-moz-border-radius: 55px;
	border-radius: 55px;
	behavior: url(PIE.htc);
}
.new-btn-start{
	width: 284px;
	height: 55px;
	background: #fee346;
	margin:30px auto;
	position:relative;
	font-size: 20px;
	color: #2e4e76;
	line-height: 55px;
	cursor: pointer;
	-webkit-border-radius: 55px;
	-moz-border-radius: 55px;
	border-radius: 55px;
	behavior: url(PIE.htc);
}
.new-rule{
	width: 1084px;
	height: 382px;
	margin:164px auto 0;
}
.new-tule-box{
	width:1026px;
	float: right;
	padding: 40px 0 30px;
	position: relative;
	background:#4293fb ;
	box-shadow: inset 0 1px 61px 4px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 1px 61px 4px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 0 1px 61px 4px rgba(0, 0, 0, 0.15);	
    -webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	behavior: url(PIE.htc);
}
.new-rule-txt{
	width: 932px;
	padding-left:34px;
	margin:0 auto 10px;
	font-size: 16px;
	color: #fff;
	line-height: 24px;
	position:relative;
}
.new-rule-number{
	display: inline-block;
	width:24px;
	height:24px;
	position:absolute;
	left:0px;top:0;
	background: #2473db;
	text-align: center;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	behavior: url(PIE.htc);
}






