<style>
    .pageContent {
        width: 100%;
    }

    .page_tday {
        width: 100%;
        height: auto;
        margin: 10px 0px;
    }

    .hf_page_tday {
        width: 100%;
        height: auto;
        margin: 10px 0px;
    }

    .tady_bor {
        width: auto;
        height: auto;
        display: inline-block;
        margin: 10px;
        border-radius: 6px;
    }
    .tady_color{
        background: #ff9900;
        box-shadow: 0 0px 13px #CDCDCD;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        overflow: hidden;
    }
    .tady_border{
        border-top:1px solid #ededed;
    }
    .tady_title {
        font-size: 18px;
        width:190px;
        height:130px;
        line-height:130px;
        float:left;
        display: block;
        position: relative;
        z-index: 2;
        text-align: center;
        color: white;
        border-right:1px solid #ededed;
    }

    .con_num {
        float:right;
        text-align: center;
        height:130px;
        line-height:130px;
        font-size: 28px;
        color: white;
        font-weight:600;
    }
    .con_num_copy {
        text-align: center;
        padding:18px 0;
    }
    /*.con_num_button{ text-align:center;padding:12px 6px 10px; background:#0097ff;    border-radius: 0px 0px 6px 6px;}*/

    .con_num_button_baofoo {
        text-align: center;
        padding: 12px 6px 10px;
        background: #0097ff;
        border-radius: 0px 0px 6px 6px;
    }

    .con_num_button_hfBank {
        text-align: center;
        padding: 12px 6px 10px;
        background: #0097ff;
        border-radius: 0px 0px 6px 6px;
    }

    .num_big {
        font-size: 28px;
        color: white;
        font-weight:600;
        padding:0 12px;
    }

    .num_small {
        font-size: 22px;
        padding-left: 10px;
    }

    .total_num {
        text-align: center;
        padding: 10px;
        border-top: 1px solid #999999;
    }

    .total_big {
        font-size: 19px;
    }

    .total_small {
        font-size: 20px;
    }

    .page_yday {
        width: 100%;
        height: auto;
        margin: 10px 0px;
    }


    /*第二*/

    .tady_two_bg {
        background: #ff5454;
        color: white;
        border-radius: 0px;
    }

    .border_bottom {
        border-radius: 0px 0px 6px 6px;
    }

    .border_top {
        border-radius: 6px 6px 0px 0px;
    }


    /* 第三 */

    .thr_bg {
        background: #4c8dee;
        color: white;
    }

    .tabsPage .tabsPageContent {
        overflow: scroll;
    }

    .four_bg {
        background: #ff9899;
        color: white;
    }

    .five_bg {
        background: #00cc65;
        color: white;
    }
</style>

<div class="pageContent">
    <div class="tady_bor">
        <div class="tady_bor tady_color">
            <h3 class="tady_title">自有子账户可用余额</h3>
            <div class="con_num">
                <span class="num_big">$money.format($!balance_01)</span>
            </div>
        </div>
    </div>
    <div class="tady_bor">
        <div class="tady_bor tady_color">
            <h3 class="tady_title">垫付金账户余额</h3>
            <div class="con_num">
                <div class="con_num_copy">
                    <span class="num_big">现金 $money.format($!balance_10)</span>
                </div>
                <div class="con_num_copy tady_border">
                    <span class="num_big">在途 $money.format($!balance_transit_11)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="tady_bor">
        <div class="tady_bor tady_color">
            <h3 class="tady_title">抵用金账户余额</h3>
            <div class="con_num">
                <span class="num_big">$money.format($!balance_05)</span>
            </div>
        </div>
    </div>
    <div class="tady_bor">
        <div class="tady_bor tady_color">
            <h3 class="tady_title">手续费账户余额</h3>
            <div class="con_num">
                <div class="con_num_copy">
                    <span class="num_big">现金 $money.format($!balance_03)</span>
                </div>
                <div class="con_num_copy  tady_border">
                    <span class="num_big">在途 $money.format($!balance_transit_34)</span>
                </div>
            </div>
        </div>
    </div>
</div>