body{
    padding-top: 124px !important;
    box-sizing: border-box;
}
.header{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 5;
    background: #f5f5f5;
    border-bottom: solid 1px #e5e5e5;
}
/*顶部客服栏*/
.nav_top{
    line-height: 34px;
    background: #f5f5f5;
    width: 1080px;
    margin: auto;
    height: 34px;
    transition: .2s;
}
.nav_top_left{
    float: left;
}
.nav_top_left span{
    display: inline-block;
    height: 12px;
    line-height: 12px;
    border-right: solid 1px #c5c5c5;
    padding: 0 10px;
    font-size: 12px;
    color: #666;
}
.nav_top_left span a{
    color: #666;
}
.nav_top_left span a:hover{
    color: #FF6633;
}
.nav_top_left span strong{
    font-size: 12px;
    color: #ff6633;
}
.nav_top_right{
    float: right;
}
.nav_top_right ul{
    height: 18px;
    padding: 8px 0;
}
.nav_top_right ul li{
    float: right;
    border-right: solid 1px #c5c5c5;
    line-height: 20px;
    height: 20px;
    margin-left: 10px;
    position: relative;
    padding-right: 10px;
    font-size: 12px;
    color: #666666;
    cursor: pointer;
}
.nav_top_right ul li:first-child{
    border-right: none;
    padding-right: 0;
}
.nav_top_right ul li>img{
    margin-right: 5px;
    position: relative;
    top: 2px;
}
.nav_top_right ul li .nav_top_qr{
    background: #ffffff;
    position: absolute;
    padding: 5px;
    z-index: 6;
    top: 34px;
    left: -10px;
    display: none;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
.nav_top_right ul li:focus .nav_top_qr,.nav_top_right ul li:hover .nav_top_qr{
    display: inline-block;
}
.nav_top_right ul li .nav_top_qr span{
    height: 5px;
    width: 9px;
    background: url(../../images/homepage/bg_traingle.png) no-repeat;
    position: absolute;
    top: -5px;
    left: 40px;
}
.users_login a{
    display: inline-block;
    line-height: 18px;
    color: #666666;
}
.users_login .nav_usertel{
    color: #ff6633;
    margin-right: 10px;
    font-weight:bold;
}
.users_login .nav_usertel:hover{
    text-decoration: underline;
}

#service{padding-left: 10px;  border-left:solid 1px #e5e5e5;cursor: pointer;}
#utryImImg{
    cursor: pointer;
}
/*主导航栏*/
.nav_bottom{
    height: 50px;
    background: #ffffff;
    padding: 20px 0;
    transition: .2s;
}
.header_main{
    width: 1080px;
    margin: auto;
}
.header_main h1{
    float: left;
    margin-right: 60px;
}
.header_main_nav{
    float: left;
    transition: .2s;
}
.header_main_nav>ul {
    height: 50px;
}
.header_main_nav>ul>li{
    float: left;
    margin-right: 40px;
    position: relative;
}
.header_main_nav>ul>li>.nav_hot{
    position: absolute;
    top: 3px;
    right: -10px;
}
.header_main_nav>ul>li>a{
    font-size: 16px;
    color: #333333;
    line-height: 50px;
    display: inline-block;
    transition: color .2s;
}
.header_main_nav>ul>li>a:hover{
    color: #ff6633;
}
.header_main_nav>ul>li>.li_atpage{
    color: #ff6633;
}
.subNav_ifo ul,.subNav_ifo li{
    padding: 0;
    margin: 0;
}
.header_main_nav .subNav_ifo,.nav_users_login .subNav_ifo{
    position: absolute;
    padding-top: 40px;
    display: none;
}
.header_main_nav #head_nav_ifo .subNav_ifo{
    left: -20px;
    bottom: -250px;
}
.header_main_nav #head_nav_about .subNav_ifo{
    left: -70px;
    bottom: -195px;
}
.header_main_btn .nav_users_login .subNav_ifo{
    bottom: -255px;
    left: -50px;
}
.subNav_ifo>ul{
    position: relative;
    background: #ffffff;
    box-shadow: 0 1px 4px 1px rgba(0,0,0,.2);
    width: 180px;
    padding: 0 15px;
}
.ifo_disclosure>ul{
    width: 90px;
}
.header_main_nav ul>li:hover .subNav_ifo,.header_main_btn .nav_users_login>li:hover .subNav_ifo{
    display: block;
}
.subNav_ifo li{
    float: left;
    width: 70px;
    padding: 17px 10px ;
    border-bottom: dashed 1px #e5e5e5;
    position: relative;
    min-height: 20px;
}
.ifo_disclosure li{
    float: none;
    width: auto;
    text-align: center;
}
.subNav_ifo li span{
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 2px;
    background: #999;
    top: 26px;
    left: 5px;
}
.subNav_ifo li a{
    display: inline-block;
    color: #666666;
    line-height: 20px;
    transition: .3s;
    white-space:nowrap;
}
.subNav_ifo li a:hover{
    color: #ff6633;
}
.subNav_ifo .subNav_topico{
    height: 5px;
    width: 9px;
    background: url(../../images/homepage/bg_traingle.png) no-repeat;
    position: absolute;
    top: -5px;
    left: 100px;
    border-bottom: none;
    padding: 0;
}
.subNav_ifo>ul:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.header_main_btn{
    float: right;
}
.header_main_btn>ul{
    height: 30px;
    padding: 10px 0;
}
.header_main_btn>ul>li{
    float: left;
}
.header_main_btn>ul>li>a{
    color: #ffffff;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    transition: background .3s;
}
.main_btn_login{
    background: #ff6633;
    width: 70px;
    margin-right: 20px;
}
.main_btn_login:hover{
    background: #e55b2d;
}
.main_btn_rigester{
    background: #ffc33c;
    width: 90px;
}
.main_btn_rigester:hover{
    background: #e5af35;
}
.header_main_btn .nav_users_login{
    padding: 5px 0;
}
.header_main_btn .nav_users_login>li{
    position: relative;
}
.header_main_btn .nav_users_login>li>a{
    height: 38px;
    line-height: 38px;
    width: 73px;
    border:solid 1px #e5e5e5;
    border-radius: 3px;
    display: inline-block;
    color: #ff6633;
    font-size: 14px;
    position: relative;
    padding-left: 35px;
    text-align: left;
    background: #fcfcfc;
}
.header_main_btn .nav_users_login>li>a>i{
    display: inline-block;
    width: 14px;
    height: 38px;
    background: url(../../images/homepage/nav_users_ico.png) no-repeat center;
    position: absolute;
    left: 15px;
}
.mall_back_btn{
    float: right;
    padding: 10px 0;
}
.mall_back_btn a{
    display: block;
    color: #fff;
    height: 30px;
    line-height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #ffc33c;
    width: 90px;
    font-size: 14px;
    text-align: center;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.mall_back_btn a:hover{
    color: #fff;
    background: #E5AF35;
}

/*footer*/
.footer{
}
.footer_top{
    background: #444;
    height: 240px;
    padding-top: 40px;
    box-sizing: border-box;
}
.footer_top_wrap{
    width: 1080px;
    margin: auto;
    height: 200px;
    text-align: center;
}
.footer_top_wrap .footer_link{
    float: left;
}
.footer_top_wrap .footer_qr{
    float: right;
}
.footer_top_wrap .footer_contact{
    display: inline-block;
    text-align: left;
    position: relative;
    left: -20px;
}
.footer_top_wrap .footer_link ul{
    float: left;
    width: 100px;
    margin-right: 20px;
    text-align: left;
}
.footer_top_wrap .footer_link ul li{
    font-size: 16px;
    color: #ffffff;
    line-height: 20px;
    margin-bottom: 10px;
}
.footer_top_wrap .footer_link ul li a{
    color: #999999;
    font-size: 14px;
}
.footer_top_wrap .footer_link ul li a:hover{
    color: #ffffff;
}
.footer_contact h2{
    font-size: 24px;
    font-weight:bold;
    color: #ffffff;
    line-height: 25px;
    margin-bottom: 15px;
}
.footer_top p{
    font-size: 14px;
    color: #999999;
    line-height: 15px;
    margin-bottom: 15px;
}
.footer_contact a{
    color: #ffffff;
    font-size: 14px;
    display: block;
    position: relative;
    padding-left: 15px;
}

.footer_top_wrap .footer_contact a:hover{
    text-decoration: underline;
}
.footer_contact a i{
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 14px;
    background: url(../../images/homepage/foot_position.png) no-repeat;
    left: 0;
    top: 1px;
}
.footer_qr>div{
    float: left;
}
.footer_qr>div:first-child{
    margin-right: 40px;
}
.footer_qr .footer_qr_img{
    width: 100px;
    height: 100px;
    background: #ffffff;
    background-repeat:no-repeat;
    margin-bottom: 8px;
}
.footer_qr .footer_app .footer_qr_img{
    background-image: url(../../images/bigangwan_app.png);
}
.footer_qr .footer_wechat .footer_qr_img{
    background-image: url(../../images/bigangwan_wx.png);
}
.footer_btm{
    background: #333333;
}
.footer_btm_wrap{
    width: 1080px;
    margin: auto;
    padding: 15px 0;
    text-align: center;
}
.footer_btm_wrap p{
    font-size: 14px;
    color: #999999;
    text-align: center;
    line-height: 18px;
    margin-bottom: 10px;
}
.footer_btm_wrap p a {
    font-size: 14px;
    color: #999999;
}
.footer_btm_wrap p a:hover,.footer_btm_wrap p a:focus{
    font-size: 14px;
    color: #999999;
    text-decoration: underline;
}
.footer_btm_img a{
    padding: 0 5px;
    display: inline-block;
}
.btn-disabled{
    border-color: #e5e5e5!important;
    color: #999999!important;
}
.btn-disabled:hover{
    background: transparent!important;
}


/*右侧导航栏*/
.right_nav{
    position: fixed;
    right: 10px;
    bottom: 200px;
    z-index: 5;
}
.right_nav ul{
    height: 164px;
}
.right_nav ul li{
    width: 40px;
    height: 40px;
    margin-bottom: 1px;
    background: #666666;
    background-color: rgba(0,0,0,0.3);
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .3s;
}
.right_nav ul li:hover{
    background-color: rgba(0,0,0,0.6);
}
.right_nav ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.right_nav .right_nav_frame{
    position: absolute;
    top: 0;
    padding-right: 10px;
    display: none;
}
.right_nav ul li:hover .right_nav_frame{
    display: block;
}
.right_nav .right_nav_content{
    background: #666666;
    background: rgba(0,0,0,0.6);
    text-align: center;
    padding: 10px;
}
.right_nav .right_nav_content p{
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 10px;
}
.right_nav .right_nav_content .right_nav_line{
    height: 1px;
    border-bottom: dashed 1px #ffffff;
    margin: 14px 0 15px;
}
.right_nav .right_nav_content p.right_nav_tel{
    font-size: 14px;
    margin-top: 10px;
}


.drawdiv_ico{
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 0 auto 20px;
    border-radius: 25px;
    background: url(../../images/common/drawdiv_icon.png);
}
.color_font{
    color: #ff6633!important;
}