.meeting{
    background: url(../../../images/activity/2017/meeting_2017/meeting_bg.jpg) no-repeat center;
    background-size: cover;
}
.container{
    width: 1120px;
    margin:auto;
    padding: 20px 0 0;
}
.container h2{
    text-align: center;
}
.counter:after{
    content: '';
    clear: both;
    height: 0;
    display: block;
}
.counter_inside{
    float: left;
}
.counter_left{
    width: 270px;
}
.board_list{
    max-height: 210px;
    overflow: hidden;
}
.board_list::-webkit-scrollbar {
    display: none;
}
.counter_middle{
    background-color: #ee4f08;
    height: 508px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 550px;
    background-image: url(../../../images/activity/2017/meeting_2017/meeting_frame_light.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border:solid 3px #fff;
    -webkit-box-shadow: 0 0 5px #fff;
    -moz-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
    margin: 0 15px;
    padding: 28px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
}
.counter_right{
    width: 268px;
    height: 508px;
    background: url(../../../images/activity/2017/meeting_2017/meeting_right.png) no-repeat;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:solid 3px #d33751;
    position: relative;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
}
.prize_list{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:solid 3px #d33751;
    position: relative;
    margin-bottom: 40px;
    -webkit-border-radius:22px;
    -moz-border-radius:22px;
    border-radius:22px;
    cursor: pointer;
    width: 270px;
    height: 97px;
}
.prize_list:before{
    content: '';
    display: block;
    height: 3px;
    background: #d33751;
    width: 15px;
    position: absolute;
    right: -18px;
    top: 20px;
}
.prize_list:after{
    content: '';
    display: block;
    height: 3px;
    background: #d33751;
    width: 15px;
    position: absolute;
    right: -18px;
    bottom: 20px;
}
.counter_right:before{
    content: '';
    display: block;
    height: 3px;
    background: #fff;
    width: 15px;
    position: absolute;
    left: -18px;
    top: 20px;
    -webkit-box-shadow: 0 0 5px #fff;
    -moz-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
}
.counter_right:after{
    content: '';
    display: block;
    height: 3px;
    background: #fff;
    width: 15px;
    position: absolute;
    left: -18px;
    bottom: 20px;
    -webkit-box-shadow: 0 0 5px #fff;
    -moz-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
}
.counter .data_null_right:after,.counter .data_null_right:before{
    background: #d33751;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.counter .data_null_right{
    background: url(../../../images/activity/2017/meeting_2017/meeting_null_right.png) no-repeat;
}
.prize_focuse:after,.prize_focuse:before{
    background: #fff;
    -webkit-box-shadow: 0 0 5px #fff;
    -moz-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
}
.prize_list img{
    width: 100%;
}
.light_img{
    display: none;
}
.prize_focuse .disabled_img{
    display: none;
}
.prize_focuse .light_img{
    display: block;
}
.prize_focuse{
    border-color: #fff;
    -webkit-box-shadow: 0 0 5px #fff;
    -moz-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
}
.prize_board{
    height: 100%;
    background: #a00821;
    text-align: center;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    position: relative;
}
.right_light{
    position: absolute;
    top: -18px;
    left: -9px;
}
.winner_list{
    position: absolute;
    top:90px;
    bottom: 22px;
    left: 24px;
    right:20px;
    background: #a00821;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    padding: 20px;
    overflow: hidden;
}
.data_null_right .right_light{
    display: none;
}
.winner_list>ul{
    overflow: hidden;
    padding: 0 5px;
}
.winner_list_account{
    line-height: 40px;
    text-align: left;
    font-size: 14px;
    color: #fff;
}
.winner_list_account>span{
    float: left;
    margin-right: 15px;
    width: 30px;
    height: 40px;
    position: relative;
}
.winner_list_ul>.first>span{
    background: url(../../../images/activity/2017/meeting_2017/first.png) no-repeat center;
}
.winner_list_ul>.second>span{
    background: url(../../../images/activity/2017/meeting_2017/second.png) no-repeat center;
}
.winner_list_ul>.third>span{
    background: url(../../../images/activity/2017/meeting_2017/third.png) no-repeat center;
}
.winner_list_ul>.lucky>span{
    background: url(../../../images/activity/2017/meeting_2017/lucky.png) no-repeat center;
    width: 40px;
    left: -5px;
    margin-right: 10px;
}

.start_btn{
    width: 200px;
    height: 200px;
    background: url(../../../images/activity/2017/meeting_2017/start_btn.png) no-repeat center;
    position: absolute;
    left: 50%;top: 50%;
    margin-left: -100px;
    margin-top: -100px;
    cursor: pointer;
}
.board_content{
    padding: 10px 20px;
    position: relative;
    display: none;
}
.board_content h3{
    text-align: center;
    margin-bottom: 20px;
}
.board_list ul{
    display: none;
}
.board_list ul:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.board_list ul li{
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    float: left;
    width: 33%;
}
.board_list ul li.less_list{
    line-height: 70px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    float: none;
    width: 100%;
}
.meeting_interface{
    position: absolute;
    left: 0;
    right:0;
    bottom: 20px;
    text-align: center;
    display: none;
}
.start_btn_small{
    width: 148px;
    height: 148px;
    display: inline-block;
    background: url(../../../images/activity/2017/meeting_2017/start_btn_small.png) no-repeat center;
    cursor: pointer;
    position: relative;
}
.meeting_interface .isStart{
    background: url(../../../images/activity/2017/meeting_2017/stop_btn.png) no-repeat center;
}
.meeting_interface .startAdd{
    background: url(../../../images/activity/2017/meeting_2017/make_btn_stop.png) no-repeat center;
}
.make_btn{
    position: absolute;
    width: 62px;
    height: 62px;
    background: url(../../../images/activity/2017/meeting_2017/make_btn.png) no-repeat center;
    right:20px;
    bottom: 20px;
    cursor: pointer;
    opacity:0;
    transition: .3s;
}
.make_btn:hover{
    opacity:1;
}
.meeting_interface_btn{
    display: none;
}