#Html("begin")
#GenHead("begin","备案信息,信息披露,币港湾,币港湾官网","币港湾官网，国资背景安心收益，为您提供互联网金融服务，是优质的互联网金融服务平台。")
#Title("备案信息_信息披露【币港湾官网】")
#LoadGenCSS("/resources/gen178/styles/static/informationNew/BA_information")
#GenHead("end")
	<body>
		#Gen178Header("info")
		<div class="main">
    		<div class="main_banner"></div>
    		<div class="main_center">
    		#**
    		 * subnav
    		 **#
    			#Gen178InfoSubNav()
				<div class="main_cright">
    				<div class="main_cr_top"></div>
    				<div class="main_cr_down">
						#*<h3 class="main_down_div_h31 main_down_div_h3 ">
							<p>备案登记信息<span></span></p>
						</h3>
						<ul class="keep_table">
							<li class="keep_even">
								<span class="keep_name">备案登记地方金融监管部门</span><i class="keep_content">积极申请中</i>
							</li>
							<li class="keep_odd">
								<span class="keep_name">备案登记时间</span><i class="keep_content">积极申请中</i>
							</li>
							<li class="keep_even">
								<span class="keep_name">备案登记编号</span><i class="keep_content">积极申请中</i>
							</li>
						</ul>*#
						<h3 class="main_down_div_h31 main_down_div_h3 ">
							<p>电信业务经营许可信息<span></span></p>
						</h3>
						<ul class="keep_table">
							<li class="keep_even">
								<span class="keep_name">经营许可证编号</span><i class="keep_content">浙B2-20160720</i>
							</li>
							<li class="keep_odd">
								<span class="keep_name">发证机关</span><i class="keep_content">浙江省通信管理局</i>
							</li>
							<li class="keep_even">
								<span class="keep_name">增值电信业务经营许可证</span><i class="keep_content"><a class="keep_pdf" href="$!env.get('gen.server.web')/gen178/home/businessLicense?agentViewFlag=$!agentViewFlag" target="_blank">点击查看></a></i>
							</li>
						</ul>
						<h3 class="main_down_div_h31 main_down_div_h3 ">
							<p>资金存管信息<span></span></p>
						</h3>
						<ul class="keep_table">
							<li class="keep_even">
								<span class="keep_name">资金存管银行</span><i class="keep_content">恒丰银行<a class="keep_pdf" style="margin-left:30px;" href="$!env.get('gen.server.web')/gen178/static/depository_project?agentViewFlag=$!agentViewFlag">了解更多></a></i>
							</li>
							<li class="keep_odd">
								<span class="keep_name">签约时间</span><i class="keep_content">2017年4月5日</i>
							</li>
							<li class="keep_even">
								<span class="keep_name">存管业务上线时间</span><i class="keep_content">2017年9月21日</i>
							</li>
							<li class="keep_odd">
								<span class="keep_name">全量业务上线时间</span><i class="keep_content">2018年1月11日</i>
							</li>
						</ul>
						<h3 class="main_down_div_h31 main_down_div_h3 ">
							<p>网站备案图标及编号<span></span></p>
						</h3>
						<ul class="keep_table">
							<li class="keep_odd">
								<span class="keep_name">公安机关出具的网站备案编号</span><i class="keep_content"><span class="keep_pdf">33010402002677<a class="keep_pdf" style="margin-left:30px;" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010402002677&site=https://www.bigangwan.com&at=realname" target="_blank">点击查看></a></span></i>
							</li>
						</ul>
						<h3 class="main_down_div_h31 main_down_div_h3 ">
							<p>信息安全测评认证<span></span></p>
						</h3>
						<ul class="keep_box">
							<li class="keep_li">
								<a class="___szfw_logo___" id='___szfw_logo___' href="https://credit.szfw.org/CX20151212012688200192.html" target="_blank">
									<img src="$!env.get('gen.server.web')/resources/gen178/images/homepage/foot_logo/Bitmap.png" alt="Bitmap">
								</a>
								<i class="___szfw_txt___">诚信网站认证</i>
							</li>
							<li>								
								<a class="___szfw_logo___" href="http://webscan.360.cn/index/checkwebsite/url/bigangwan.com" target="_blank">
									<img src="$!env.get('gen.server.web')/resources/gen178/images/homepage/foot_logo/footer1.png" alt="360">
								</a>
								<i class="___szfw_txt___">360网站安全检测</i>
							</li>
							<li>
								<a class="___szfw_logo___" href="https://v.anquan.org/cert/site/?site=$!env.get('gen.server.web')&at=realname" target="_blank">
									<img src="$!env.get('gen.server.web')/resources/gen178/images/homepage/foot_logo/footer4.png" alt="360">
                				</a>
								<i class="___szfw_txt___">安全联盟实名验证</i>
							</li>
							<li>
								<a class="___szfw_logo___" href="http://www.testin.cn/" target="_blank">
									<img src="$!env.get('gen.server.web')/resources/gen178/images/homepage/foot_logo/footer3.png" alt="yuncloud">
                				</a>
								<i class="___szfw_txt___">testin云测认证</i>
							</li>
						</ul>
						#*<h3 class="main_down_div_h31 main_down_div_h3 ">
							<p>风险管理<span></span></p>
						</h3>
						<ul class="keep_table">
							<li class="keep_even">
								<span class="keep_name keep_border">相关内容待提供</span>
							</li>
						</ul>*#
					</div>
				</div>
    		</div>
		</div>
	</body>
<script>
    $(document).ready(function () {
        var subNav = $("#compliance").children("a");
        var subTitle = $(".main_cleft").children(".main_cl_h31");
        $("#compliance").show();
        $(subNav[0]).addClass("main_clul_lione");
        $(subTitle[1]).addClass("main_cl_hfo");
    })
</script>
<!--footer -s-->
#Gen178Footer()
<!--footer -e-->
#Html("end")