#Html("begin")
#GenHead("begin")
#Title("币港湾官网_国资系互联网金融服务平台_品听资产_杭商资产_浙大网新_P2P网贷")
#LoadGenCSS("/resources/gen178/styles/index/default")
#LoadGenCSS("/resources/gen178/styles/static/custody_transfer/custody_transfer")
#LoadGenJS("/resources/gen178/scripts/jquery-1.11.1.min")


#Gen178Header("home")

<body class="body">
<div class="banner"></div>
<div class="notice-content">
    <div class="notice-title">关于银行存管预上线工作的停服通知</div>
    <div class="notice-txt">
        <div class="notice-txt-title notice-margin">尊敬的币港湾用户：</div>
        <div class="notice-txt-dent notice-margin">为积极响应监管政策，保障平台用户资金安全，币港湾与恒丰银行签订了资金存管协议，经过数月紧张的对接开发后，恒丰银行资金存管系统即将正式上线！为保障存管系统平稳上线，币港湾将于9月19日正式启动存管预上线工作，具体相关事宜如下：</div>
        <div class="notice-margin">1、存管预上线工作自2017年9月19日9:00开始，预计2017年9月21日24:00结束，具体结束时间以平台存管实际上线时间为准；</div>
        <div class="notice-margin">2、存管预上线期间，每日收益仍正常计算，产品到期仍正常回款（回款至账户余额，用户可在存管正式上线后提现）；</div>
        <div class="notice-margin">3、存管预上线期间，将暂停币港湾官网和手机端服务，届时将无法访问除公告页之外的其他页面，用户将暂时无法进行购买、充值、提现、奖励金转出等操作；</div>
        <div class="notice-margin">4、存管预上线期间，系统将为姓名、身份证号、银行卡号、银行卡预留手机号等信息齐全的用户自动开通银行存管账户，存管系统上线完成后，用户根据指引激活存管账户即可，资料不齐全的用户请在存管系统上线完成后，根据相关指引自行开通银行存管账户；</div>
        <div class="notice-margin">5、为了给湾粉一个良好的投资体验，从本周开始，“币港湾周周乐”活动将暂停一段时间，重新开展时间待平台决定以后再另行通知。</div>
        <div class="notice-margin">6、存管预上线期间，用户可在公告页中，通过实时监控视频查看币港湾团队工作情况。</div>
        <div class="notice-txt-dent">由此给您带来的不便，还请谅解！升级完成后，平台一切功能即可恢复正常，您的资金安全将得到进一步保障。</div>
        <div class="notice-txt-dent notice-margin">合规向前，始终相伴！感谢您一直以来对币港湾的信任与支持，币港湾会始终坚持“诚信、安全、稳定”的金融服务理念，继续为您提供更安全、优质、贴心的服务！</div>
        <div class="notice-txt-name">币港湾团队</div>
        <div class="notice-txt-name">2017年9月13日</div>
    </div>
</div>
    #Gen178Footer()
</body>

#Html("end")