#Html("begin")
#GenHead("begin")
#Title("币港湾官网_国资系互联网金融服务平台_品听资产_杭商资产_浙大网新_P2P网贷")
#LoadGenCSS("/resources/gen2.0/styles/index/default")
#LoadGenCSS("/resources/gen2.0/styles/static/gift_activity/gift_activity")


#Gen178Header("home")

<body>
    <div class="gift_banner"></div>
    <div class="gift_container">
        <div class="gift_wrap">
            <div class="gift_wrap_title"><span>180天清凉奖励</span></div>
            <div class="gift_product_list clearfix">
                <div class="gift_product_card">
                    <div class="gift_product_img">
						<img src="$!env.get('gen.server.web')/resources/gen2.0/images/static/gift_activity/gift_bean.jpg">
					</div>
                    <div class="gift_product_name"><span>红豆绿豆健康礼包</span></div>
                    <div class="gift_product_tips">单笔投资5万~20万（不含）</div>
				</div>
				<div class="gift_product_card">
                    <div class="gift_product_img">
						<img src="$!env.get('gen.server.web')/resources/gen2.0/images/static/gift_activity/gift_mat.jpg">
					</div>
                    <div class="gift_product_name"><span>恒源祥凉席</span></div>
                    <div class="gift_product_tips">单笔投资20万~100万（不含）</div>
				</div>
				<div class="gift_product_card">
                    <div class="gift_product_img">
						<img src="$!env.get('gen.server.web')/resources/gen2.0/images/static/gift_activity/gift_fan.jpg">
					</div>
                    <div class="gift_product_name"><span>美的塔扇</span></div>
                    <div class="gift_product_tips">单笔投资100万以上</div>
				</div>
			</div>
            <div class="gift_warmming">图片仅供参考，请以实物为准</div>
		</div>
		
		<div class="gift_wrap" style="margin-top:90px;">
            <div class="gift_wrap_title"><span>365天清凉奖励</span></div>
            <div class="gift_product_list clearfix">
                <div class="gift_product_card">
                    <div class="gift_product_img">
						<img src="$!env.get('gen.server.web')/resources/gen2.0/images/static/gift_activity/gift_drink.jpg">
					</div>
                    <div class="gift_product_name"><span>王老吉/雪花</span></div>
                    <div class="gift_product_tips">单笔投资5万~20万（不含）</div>
				</div>
				<div class="gift_product_card">
                    <div class="gift_product_img">
						<img src="$!env.get('gen.server.web')/resources/gen2.0/images/static/gift_activity/gift_quilt.jpg">
					</div>
                    <div class="gift_product_name"><span>水星家纺空调被</span></div>
                    <div class="gift_product_tips">单笔投资20万~100万（不含）</div>
				</div>
				<div class="gift_product_card">
                    <div class="gift_product_img">
						<img src="$!env.get('gen.server.web')/resources/gen2.0/images/static/gift_activity/gift_quilt02.jpg">
					</div>
                    <div class="gift_product_name"><span>恒源祥蚕丝被</span></div>
                    <div class="gift_product_tips">单笔投资100万以上</div>
				</div>
			</div>
            <div class="gift_warmming">图片仅供参考，请以实物为准</div>
		</div>
		
		<div class="gift_wrap gift_rule">
            <h5>活动规则：</h5>
            <ul>
                <li>仅限币港湾“涌金”、“跨虹”系列产品，且仅限178渠道会员；</li>
                <li>活动结束后，平台客服将于5个工作日内与客户取得联系，商讨礼品发放事宜；</li>
                <li>获得红豆绿豆礼包或者王老吉或者雪花礼品的会员可在钱报178理财俱乐部旗舰店（体育场路182号）直接领取奖品（注：他人不得代领，且最晚于活动结束后15个工作日内领奖，否则过时无效！）；</li>
                <li>活动期间，单个账户仅限一次领奖机会，如多笔投资，按单笔投资金额最高额为准；</li>
                <li>活动细则详询钱报178理财俱乐部0571-85310000。</li>
			</ul>
		</div>
	</div>
</body>

#Html("end")