#Html("begin")
#GenHead("begin","渠道信息,信息披露,币港湾,币港湾官网","币港湾官网，国资背景安心收益，为您提供互联网金融服务，是优质的互联网金融服务平台。")
#Title("渠道信息_信息披露【币港湾官网】")
#LoadGenCSS("/resources/gen178/styles/static/informationNew/BA_information")
#parse("/regist_accountService_agreement.vm")
#GenHead("end")
	<body>
		#Gen178Header("info")
		<div class="main">
    		<div class="main_banner"></div>
    		<div class="main_center">
    		#**
    		 * subnav
    		 **#
    			#Gen178InfoSubNav()
				<div class="main_cright">
    				<div class="main_cr_top"></div>
    				<div class="main_cr_down">
						<h3 class="main_down_div_h31 main_down_div_h3 ">
							<p>官方渠道<span></span></p>
						</h3>
						<ul class="keep_table">
							<li class="keep_even">
								<span class="keep_name">渠道名称</span><i class="keep_content">币港湾官网</i>
							</li>
							<li class="keep_odd">
								<span class="keep_name">域名</span><i class="keep_content">https://www.bigangwan.com/</i>
							</li>
							<li class="keep_even">
								<span class="keep_name">上线时间</span><i class="keep_content">成立时间：2015年3月18日，正式运营：2015年12月1日</i>
							</li>
							<li class="keep_odd">
								<span class="keep_name">咨询电话</span><i class="keep_content">400-806-1230</i>
							</li>
							<li class="keep_even">
								<span class="keep_name">投诉、举报电话</span><i class="keep_content">0571-85341222-8081</i>
							</li>
							<li class="keep_odd">
								<span class="keep_name">电子邮件</span><i class="keep_content">jubao@bigangwan.com</i>
							</li>
							<li class="keep_even">
								<span class="keep_name">通讯地址</span><i class="keep_content">浙江省杭州市江干区四季青街道西子国际C座2305室</i>
							</li>
							<li class="keep_odd">
								<span class="keep_name">注册协议模板</span><i class="keep_content"><a class="keep_pdf" name="agree_register_div">查看更多></a></i>
							</li>
							<li class="keep_even">
								<span class="keep_name">APP名称</span><i class="keep_content">币港湾</i>
							</li>
							<li class="keep_odd">
								<span class="keep_name">微信服务号</span><i class="keep_content">bigangwanlicai<a id="QD_embgw_service" class="keep_pdf" style="margin-left:30px;" href="javascript:;">查看二维码></a></i>
							</li>
							<li class="keep_even">
								<span class="keep_name">微信订阅号</span><i class="keep_content">bigangwanjingxuan<a id="QD_embgw_subscribe" class="keep_pdf" style="margin-left:30px;" href="javascript:;">查看二维码></a></i>
							</li>
							<li class="keep_odd">
								<span class="keep_name">微博链接</span><i class="keep_content">weibo.com/bigangwan</i>
							</li>
						</ul>
						<h3 class="main_down_div_h31 main_down_div_h3 ">
							<p>合作渠道<span></span></p>
						</h3>
						<ul class="keep_table">
							<li class="keep_even">
								<span class="keep_name">渠道名称</span><i class="keep_content">178俱乐部</i>
							</li>
							<li class="keep_odd">
								<span class="keep_name">域名</span><i class="keep_content">https://www.bigangwan.com/gen178/index?agentViewFlag=15</i>
							</li>
							<li class="keep_even">
								<span class="keep_name">APP名称</span><i class="keep_content">钱报178</i>
							</li>
							<li class="keep_odd">
								<span class="keep_name">微信订阅号</span><i class="keep_content">qb178lc</i>
							</li>
						</ul>
						<ul class="keep_table">
							<li class="keep_even">
								<span class="keep_name">渠道名称</span><i class="keep_content">柯桥日报俱乐部</i>
							</li>
							<li class="keep_odd">
								<span class="keep_name">域名</span><i class="keep_content">https://www.bigangwan.com/gen178/index?agentViewFlag=36</i>
							</li>
							<li class="keep_even">
								<span class="keep_name">微信订阅号</span><i class="keep_content">sxtc0575</i>
							</li>
						</ul>	
						<ul class="keep_table">
							<li class="keep_even">
								<span class="keep_name">渠道名称</span><i class="keep_content">海宁日报818俱乐部</i>
							</li>
							<li class="keep_odd">
								<span class="keep_name">域名</span><i class="keep_content">https://www.bigangwan.com/gen178/index?agentViewFlag=46</i>
							</li>
							<li class="keep_even">
								<span class="keep_name">微信订阅号</span><i class="keep_content">hainingrb</i>
							</li>
						</ul>	
						<ul class="keep_table">
							<li class="keep_even">
								<span class="keep_name">渠道名称</span><i class="keep_content">瑞安日报</i>
							</li>
							<li class="keep_odd">
								<span class="keep_name">域名</span><i class="keep_content">https://www.bigangwan.com/gen178/index?agentViewFlag=47</i>
							</li>
							<li class="keep_even">
								<span class="keep_name">微信订阅号</span><i class="keep_content">瑞报财管家</i>
							</li>
						</ul>
                        <ul class="keep_table">
                            <li class="keep_even">
                                <span class="keep_name">渠道名称</span><i class="keep_content">七店</i>
                            </li>
                            <li class="keep_odd">
                                <span class="keep_name">微信订阅号</span><i class="keep_content">qdkj_77</i>
                            </li>
                        </ul>
					</div>
				</div>
    		</div>
		</div>
		<div class="QD_bg"></div>
		<div class="QD_bgwem">
			<h3 class="QD_title">微信服务号</h3><span class="QD_close"></span>
			<div class="QD_em"><img class="QD_em_img" src="$!env.get('gen.server.web')/resources/gen178/images/static/informationNew/bgw_fw.jpg" alt=""/></div>
		</div>
		<script>
            $(document).ready(function () {
                var subNav = $("#compliance").children("a");
                var subTitle = $(".main_cleft").children(".main_cl_h31");
                $("#compliance").show();
                $(subNav[5]).addClass("main_clul_lione");
                $(subTitle[1]).addClass("main_cl_hfo");
            })
			//跳转网站注册协议
			$("a[name='agree_register_div']").click(function(){
				$("#agree_register_div").show();
			});
			em("#QD_embgw_service","微信服务号","$!env.get('gen.server.web')/resources/gen178/images/static/informationNew/bgw_fw.jpg")
			em("#QD_embgw_subscribe","微信订阅号","$!env.get('gen.server.web')/resources/gen178/images/static/informationNew/bgw_dy.jpg")
			//em
			function em(click,txt,emimg){
				$(click).click(function(){
    				$(".QD_bg").stop().show();
    				$(".QD_bgwem").stop().show();
    				$(".QD_title").html(txt);
    				$(".QD_em_img").attr("src",emimg)
    			})
			}
			$(".QD_close").click(function(){
				$(this).parent().stop().hide();
				$(".QD_bg").stop().hide();
			})
		</script>
	</body>

<!--footer -s-->
#Gen178Footer()
<!--footer -e-->
#Html("end")