#Html("begin")
#Head("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadCSS("resources/gen2.0/styles/agree/default")
#LoadCSS("resources/gen2.0/styles/agree/agree")
#LoadGenCSS("/resources/gen178/styles/match/tan_zan_claims")

#Head("end")
<script  type="text/javascript">
    function agreeEntrustClose(){
        $("#agree_entrust_div").hide();
        $("#agree_entrust_div1").hide();
    }
</script>

<body>
<div class="agess-copy" id="agree_entrust_div1" style="display:block;">
    <div class="agess_title-copy">
        <span class="agess_ft">协议内容</span>
    </div>
    <div class="agess_main-copy">
        <h1 class="main_title">债权转让协议</h1>
        <p class="top_no">协议编号：$!agreementNumber </p>
    ##<p class="top_no">资金出借及回收方式：$!productName </p>
        <br/>
        <p class="man_ft">尊敬的 $!inUserName 先生/女士：</p>
        <br/><br/>
        <p class="man_ft">您好！</p>

        <p class="man_ft">1、本协议各方同意受让人取代转让人成为《借款协议》的一方。</p>
        <br/>
        <p class="man_ft">2、受让人保证具有履行本协议及《借款协议》所需相关资质和条件。</p>
        <br/>
        <p class="man_ft">3、转让人应当保证转让债权在转让交易完成前处于正常履行状态，正常履行状态系指转让债权处于正常付款及/或付款宽限期内。转让方应当确保转让债权及基础合同的真实存在及合法有效性。</p>
        <br/>
        <p class="man_ft">4、转让方在本协议生效前基于履行《借款协议》所享有的权利和承担的义务分别由受让方享有和承担。</p>
        <br/>
        <p class="man_ft">5、本协议生效后，受让方按照《借款协议》的约定享受权利和承担义务。</p>
        <br/>
        <p class="man_ft">通过币港湾的信用评估与筛选，推荐您 $!signingTime 通过受让他人既有的个人借贷合同的方式，出借资金给如下借款人，详见《债权列表》。</p>
        <br/>
        <h3 class="main_title">债权列表</h3>
        <div class="tan_list">
            <table class="tan_list_Creditortable">
                <tr>
                    <td>转让人（原债权人）：</td>
                    <td>受让人（新债权人）： </td>
                </tr>
                <tr>
                    <td>账户名： $!outUserMobile </td>
                    <td>账户名： $!inUserMobile </td>
                </tr>
                <tr>
                    <td>姓  名： $!outUserName </td>
                    <td>姓  名： $!inUserName </td>
                </tr>
                <tr>
                    <td>身份证号： $!outUserIdCardNo </td>
                    <td>身份证号： $!inUserIdCardNo </td>
                </tr>
                <tr>
                    <td>债权转让明细：（如下） </td>
                    <td>货币单位：人民币（元） </td>
                </tr>
            </table>
            <table class="tan_list_Creditortablecopy">
                <tr>
                    <td colspan=5>债权基本信息</td>
                    <td colspan=5>借款人如约还款情况下债权收益信息 </td>

                </tr>
                <tr>
                    <td style="width:50px;">序号</td>
                    <td>借款人姓名</td>
                    <td>借款人身份证号码 </td>
                    <td>本次转让债权价值 </td>
                    <td>每月应收本息 </td>
                    <td>还款起始日</td>
                    <td>还款期限（月） </td>
                    <td>剩余还款月数 </td>
                    <td>预计债权年化收益 </td>
                </tr>
                <tr>
                    <td>$!creditTransferId</td>
                    <td>$!borrowUserName</td>
                    <td>$!borrowUserIdCardNo</td>
                    <td>$!money.format($!inAmount)</td>
                    <td>$!money.format($!repayAmount4Month)</td>
                    <td>$!firstRepayDate</td>
                    <td>$!term</td>
                    <td>$!leftTerm</td>
                    <td>$!money.format($!repayAmount4All)</td>
                </tr>
            </table>
        </div>
        <h3 class="main_title">转让人声明</h3>
        <p class="man_ft">本人自愿将上述债权转让给受让人，如果受让人对上述债权转让没有异议须于  $!transferTime  将上述对价共计人民币（大写）  $!capitalAmount     （人民币小写￥   $!money.format($!amount)   ）从币港湾平台账户内直接划付到本人指定账户。本人授权币港湾平台将借款人的还款划付至受让人的账户。</p>
        <br/>
        <p class="man_ft">自款项到账次日起，上述债权转让即生效，债权转让生效后，署有本人签章的本文件即代表受让人对上述债权的所有权。受让人收取因本协议而获得并享有的转让债权项下的本金和利息收益。</p>
        <br/>
        <p class="man_ft">转让人委托见证人于本协议生效后3个工作日内，以信件、邮件或短信等任何书面形式通知债务人。</p>
        <br/>
        <p class="man_ft">本协议采用电子文本形式制成，并在币港湾平台保留存档，协议各方均认可该形式生成及存档协议的法律效力，并受其约束。</p>
        <br/>
        <p class="man_ft">本人特此签章声明。</p>
        <br/>

        <div class="tan_list">
            <table class="tan_list_Creditortable">
                <tr>
                    <td>转让人账户名： $!outUserMobile</td>
                    <td>受让人账户名： $!inUserMobile</td>
                </tr>
                <tr>
                    <td>签章： $!outUserName</td>
                    <td>签章： $!inUserName</td>
                </tr>
                <tr>
                    <td>日期： $!signingTime</td>
                    <td>日期： $!signingTime</td>
                </tr>
            </table>
        </div>
        <br/><br/><br/>

        <p class="man_ft">见证人（平台运营方）：</p>
        <br/>
        <p class="man_ft">签章：杭州币港湾科技有限公司</p>
        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/bgw_gz.png" style="width:150px;position:absolute;margin: -95px 0 0 59px;"/>
        <br/>
        <p class="man_ft">日期：$!signingTime</p>
        <br/><br/><br/>

        <p class="man_ft">币港湾提示：</p>
        <br/>
        <p class="man_ft">转让人发布的债权转让要约自发布之日起14日内未达成转让协议的，视为该次债权转让要约失败。币港湾有权直接删除或/及取消已发布的转让债权要约。</p>
        <br/>


    </div>
    <div class="agess_foot">
        <div class="agess_btn" onclick="oprin()">打印协议</div>
        <div class="agess_btn close">关闭</div>
    </div>
</div>

    #LoadGenJS("/resources/gen2.0/scripts/common/jquery")
<script>
    $(function(){
        var close=$(".close");

        close.on("click",off);
        function off(){
            window.close();
            if(window){
                window.location.href="about:blank";
            }
        }
    });

    function oprin(){
        $(".agess_foot").hide();
        setTimeout(function(){$(".agess_foot").show();},600);
        window.print();
    }
</script>
</body>
#Html("end")