#Html("begin")
#Head("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadCSS("resources/gen2.0/styles/agree/default")
#LoadCSS("resources/gen2.0/styles/agree/agree")

#Head("end")
<script  type="text/javascript">
    function agreeEntrustClose(){
        $("#agree_entrust_div").hide();
        $("#agree_entrust_div1").hide();
    }
</script>

<body>
## <div class="agree_bg" id="agree_entrust_div" #if($!DISPLAYPROTOCOL)style="display:block;" #else style="display:none;" #end></div>
<div class="agess-copy" id="agree_entrust_div1" #if($!DISPLAYPROTOCOL)style="display:block;" #else style="display:none;" #end>
    <div class="agess_title-copy">
        <span class="agess_ft">协议内容</span>
	##<i class="agess_off" onclick="agreeEntrustClose();"></i>
    </div>
    <div class="agess_main-copy">
        <h1 class="main_title">自动出借计划协议</h1>
        <p class="man_ft">协议编号：$!agreementNumber</p>
        <p class="man_ft">尊敬的出借客户：任何出借均有风险，为了维护您的自身权益、防范出借风险，请在出借前仔细阅读本协议各条款、以及与本产品相关的全部产品规则，特别是加粗字体条款，以充分知悉、了解币港湾自动出借计划产品的运作规则、出借范围以及协议双方的权利、义务和责任。一旦加入本出借计划即视为对本协议全部条款及相关业务规则已充分理解并完全接受。 在乙方充分了解并清楚知晓本产品出借风险的前提下，本《自动出借计划协议》（以下简称“本协议”）由以下双方于$!signingTime签订：</p>
        <p class="man_ft">甲方：杭州币港湾科技有限公司</p>
        <p class="man_ft">注：甲方具有提供互联网信息服务的资质并拥有币港湾网站（www.bigangwan.com）的经营权。</p>
        <p class="man_ft">住所：浙江省杭州市江干区四季青街道百大绿城西子国际C座2305</p>
        <p class="man_ft">乙方：$!userRealName</p>
        <p class="man_ft">币港湾用户名：$!userMobile</p>
        <p class="man_ft">身份证号码：$!userIdCard</p>
        <p class="man_ft">甲乙双方经友好协商，本着平等自愿、诚实信用的原则，就币港湾网站提供的自动出借服务计划的相关事项订立有效合约，达成如下协议：</p>
        <p class="man_ft">释义：</p>
        <p class="man_ft">除非本协议另有规定，以下词语在本协议中定义如下：</p>
        <p class="man_ft">1. 币港湾：指由甲方运营和管理的网站（www.bigangwan.com），以及对应的手机客户端和微信公众号。</p>
        <p class="man_ft">2. 出借人（乙方）：指通过币港湾成功注册出借人账户的实名制会员，且为具有完全民事权利/行为能力的自然人。</p>
        <p class="man_ft">3. 合作机构：指与甲方建立合作关系的机构，包括但不限于银行、小额贷款公司、融资性担保公司、保理公司、 融资租赁公司、第三方支付机构等。</p>
        <p class="man_ft">4. 借款客户：指有一定的融资需求，经过甲方合作机构推荐币港湾平台的、具有完全民事权利/行为能力的自然人或法人。</p>
        <p class="man_ft">5. 借款：出借人拟向借款客户提供的资金。</p>
        <p class="man_ft">6. 币港湾账户：指出借人或借款客户以自身名义在币港湾网站注册后系统自动产生的虚拟账户，可通过第三方支付机构及/或其他通道进行充值或提现。</p>
        <p class="man_ft">7. 《币港湾借款合同》：指通过币港湾平台完成撮合的借款的所对应的借款合同</p>
        <p class="man_ft">8. 债权：指乙方通过向借款客户出借本金而在《币港湾借款合同》项下享有的所有权利。</p>
        <p class="man_ft">9. 风险准备金：指为保障出借人利益，借款项目适用币港湾的风险准备金制度。当借款客户逾期还款致使乙方不能获得预期收益时，甲方将以风险准备金为限对乙方进行赔付。</p>
        <div class="serial">
            <p class="serial_number">一、主要内容</p>
            <p class="serial_main">1.1 自动出借计划：是币港湾推出的对借款项目进行自动优先出借及按月还款的出借计划，可通过系统实现自动化的分散出借。乙方期初出借本金以及获得的收益将在出借期限内每月回收等额的本金和利息，并返还至乙方币港湾账户。</p>
        </div>
        <div class="serial">
            <p class="serial_main">1.2 额度：本期自动出借计划的总额度为 $!money.format($!maxTotalAmount) 元人民币。</p>
        </div>
        <div class="serial">
            <p class="serial_main">1.3 预期收益：乙方知悉、了解并同意，本协议项下涉及的任何收益均为预期收益，并不代表乙方最终实际收益，甲方未以任何方式对本金及预期收益进行承诺或担保，乙方出借本金存在不能够按期收回的风险，同时，在实际收益未达到预期收益的情况下，乙方仅能收取其期初出借本金数额所对应的实际收益。</p>
            <p class="serial_main">在乙方充分了解上述风险的前提下，乙方同意通过币港湾加入本期自动出借计划，具体如下：</p>

            <table width="740" border="1">
                <tr>
                    <td>计划名称</td>
                    <td>$!projectTitle</td>
                    <td>预期年化收益率</td>
                    <td>$!money.format($!rateOfReturn) %</td>
                </tr>
                <tr>
                    <td>期初待出借本金数额</td>
                    <td>$!money.format($!principalAmount)</td>
                    <td>锁定期</td>
                    <td>$!lockupPeriod 个月</td>
                </tr>
                <tr>
                    <td>期末预期收益数额</td>
                    <td>$!money.format($!expectedReturn)</td>
                    <td>出借范围</td>
                    <td>$!loanRange 个月以内借款</td>
                </tr>
                <tr>
                    <td>加入时间</td>
                    <td>$!joinTime</td>
                    <td>还款方式</td>
                    <td>$!repayment</td>
                </tr>
                <tr>
                    <td>收益管理费</td>
                    <td>免收</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="serial">
            <p class="serial_main">1.4 出借资金来源保证：乙方保证其所用于出借的资金来源合法，乙方是该资金的合法所有人，如果第三方对资金归属、合法性问题提出异议，由乙方自行解决。如未能解决，则乙方承诺放弃享有其所出借资金带来的利息等收益并自行承担全部损失。</p>
        </div>
        <div class="serial">
            <p class="serial_number">二、本协议的成立</p>
            <p class="serial_main">2.1 本协议成立：乙方按照币港湾的规则，通过在币港湾上点击“确认购买”按钮确认后，即视为乙方与甲方已达成《自动出借计划协议》并同意接受本协议的全部约定以及币港湾网站及手机客户端所包含的其他与本协议有关的各项规则的规定。</p>
        </div>
        <div class="serial">
            <p class="serial_main">2.2 出借本金冻结：乙方点击“确认购买”按钮并输入支付验证码后，即视为乙方已经向甲方发出不可撤销的授权指令，授权甲方委托相应的第三方支付机构及/或银行等合作机构，在乙方币港湾账户中，冻结金额等同于本协议第 1.3 款所列的“ 期初待出借本金数额”的资金。上述冻结在本协议生效时或本协议确定失效时解除。</p>
        </div>
        <div class="serial">
            <p class="serial_main">2.3 资金划转：</p>
        </div>
        <div class="serial">
            <p class="serial_main">2.3.1 本期自动出借计划所对应的出借本金全部冻结，且甲方系统完成所有资金的自动出借后，根据本期自动出借计划所投特定项目的《币港湾借款合同》的相关约定，乙方及上述特定项目的借款客户即不可撤销地授权甲方委托相应的第三方支付机构及/或银行等合作机构，将金额等同于本协议 1.3 款所列的“ 期初出借本金数额” 的资金，逐笔按照《币港湾借款合同》第 1 条所列的“ 借款本金数额”，划转至相应的借款客户的指定银行账户，划转完毕即视为借款发放成功。</p>
        </div>
        <div class="serial">
            <p class="serial_main">2.3.2 甲方将在本期自动出借计划所对应的出借本金全部冻结后的5个工作日内完成本期自动出借计划资金的统一出借及划转。 如5个工作日未完成上述操作， 则甲方将冻结资金退回乙方的币港湾账户，资金冻结期间不计收益。</p>
        </div>
        <div class="serial">
            <p class="serial_main">2.4 本协议生效：本协议于甲方完成本期自动出借计划所对应的资金划转之日（“生效日”），立即生效，此时乙方与借款客户的借款合同也立即生效，收益及相关费用自借款合同生效之日起开始计算。</p>
        </div>
        <div class="serial">
            <p class="serial_number">三、出借管理</p>
            <p class="serial_main">3.1 乙方全权委托甲方按照本协议的约定，对等同于本协议 1.3 款所列的“ 期初待出借本金” 进行自动优先出借， 将资金出借给符合本协议所列的出借范围约定的借款客户；同时，乙方授权甲方在完成上述自动优先出借后以乙方名义代为签署相应的《币港湾借款合同》 。</p>
        </div>
        <div class="serial">
            <p class="serial_main">3.2 出借金额与期限：具体请详见本协议1.3款的“期初待出借本金数额”及“锁定期”。</p>
        </div>
        <div class="serial">
            <p class="serial_main">3.3 后续管理：在本期自动出借计划的存续期限内，乙方全权委托甲方对本期自动出借计划的所选择的借款项目的后续回款进行如下处理， 并以乙方名义代为签署相应的《币港湾借款合同》</p>
        </div>
        <div class="serial">
            <p class="serial_main">3.3.1 甲方将把本期自动出借计划所选择的借款项目返还的本金再退还至乙方的币港湾账户。</p>
        </div>
        <div class="serial">
            <p class="serial_main">3.3.2 对于自动出借计划所出借借款项目产生的收益，返还至乙方的币港湾账户。</p>
        </div>
        <div class="serial">
            <p class="serial_main">3.4 逾期项目：若甲方按本协议约定为乙方出借的借款项目，在乙方持有该借款项目期间出现逾期还款 未能足额还款的情况， 则此借款项目将自动退出本出借计划，并以借款项目的形式显示在乙方币港湾账户中，乙方应自行承担风险，并将按该借款项目的剩余金额、还款方式及剩余还款期限，获得相应的回款（如有）直至该借款项目完成全部还款。</p>
        </div>
        <div class="serial">
            <p class="serial_number">四、收益及费用</p>
            <p class="serial_main">4.1 收益来源：乙方委托甲方通过自动优先出借的方式将本金出借给币港湾平台合作方的借款客户后，借款项目产生的利息在扣除管理费用和/或提前退出费用后的剩余部分将作为自动出借计划的收益支付给乙方（若借款项目产生的利息不足以扣除提前退出费用的，则自出借本金中予以扣除）。</p>
        </div>
        <div class="serial">
            <p class="serial_main">4.2 收益起算时间：自乙方与借款客户的合同生效之日起开始计算收益。</p>
        </div>
        <div class="serial">
            <p class="serial_main">4.3 收益分配方式：按月返还等额本息。</p>
        </div>
        <div class="serial">
            <p class="serial_main">4.4 自动出借计划费用种类：自动出借计划费用包括甲方管理费用。</p>
        </div>
        <div class="serial">
            <p class="serial_main">4.5 管理费用来源：本协议项下管理费用来源于乙方加入的本期自动出借计划所对应的借款项目利息中超过自动出借计划预期年化收益以外的部分（本期自动出借计划预期年化收益率参见本协议第 1.3 款）。 本期自动出借计划实际收益未超过预期年化收益的，甲方不收取管理费用。</p>
        </div>
        <div class="serial">
            <p class="serial_main">4.6 管理费用收取方式：管理费用按乙方每笔出借金额计算并收取。</p>
        </div>
        <div class="serial">
            <p class="serial_number">五、提前还款</p>
            <p class="serial_main">5.1 乙方确认，每笔出借本金将出借至一个或多个借款项目。若其中的某一借款项目或多个借款项目的借款客户或合作机构提前偿还全部剩余本金时（“ 提前还款” ），则乙方将收到：</p>
        </div>
        <div class="serial">
            <p class="serial_main">5.1.1 当笔出借本金中，出借到该提前还款的借款项目上的所有本金。</p>
        </div>
        <div class="serial">
            <p class="serial_main">5.1.2 当笔出借本金中，出借到该提前还款的借款项目上所有本金所产生的尚未结算的收益；即自当期自动出借计划上一次结算日起已经产生但尚未结算的收益（精确到日）。</p>
        </div>
        <div class="serial">
            <p class="serial_main">5.2 出现 5.1 款所述情形时，甲方将于 3 个工作日内（含 3 个工作日）返还该笔借款项目所对应的款项（具体标准详见5.1 款）至乙方币港湾账户。</p>
        </div>
        <div class="serial">
            <p class="serial_main">5.3 提前还款的借款项目若包含补偿金或罚息，则乙方在收到该借款项目对应的本金及收益的前提下，该补偿金/罚息将作为管理费用由甲方收取。</p>
        </div>
        <div class="serial">
            <p class="serial_main">5.4 某一借款项目发生提前还款的，乙方当笔出借本金出借的其他借款项目不受影响，其他借款项目相关收益的计算仍参照本协议约定的计算规则继续执行。</p>
        </div>
        <div class="serial">
            <p class="serial_main">5.5 若当笔出借本金出借的全部借款项目均发生提前还款，则乙方的当笔自动出借计划于最后一笔借款项目被提前还款时期限届满。</p>
        </div>
        <div class="serial">
            <p class="serial_number">六、税费</p>
            <p class="serial_main">乙方知悉和认可，因本协议项下的资金出借、债权转让过程中所产生的相关税费，应由乙方自行向其主管税务机关进行申报和缴纳，甲方不负责处理该等事宜。</p>
        </div>
        <div class="serial">
            <p class="serial_number">七、 本协议的修改及终止</p>
            <p class="serial_main">7.1 本协议的任何修改、补充均须以币港湾平台电子文本形式作出。</p>
        </div>
        <div class="serial">
            <p class="serial_main">7.2 双方均确认，本协议的签订、生效和履行以不违反法律为前提。如果本协议中的任何一条或多条被司法部门认定为违反所须适用的法律，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。</p>
        </div>
        <div class="serial">
            <p class="serial_main">7.3 乙方同意甲方有权根据国家法律法规、监管政策、自律规定、市场变化等对本协议及与本协议相关的规则进行调整，甚至终止本出借出借计划。</p>
        </div>
        <div class="serial">
            <p class="serial_main">7.4 调整或修改后的协议内容及相关业务规则将在币港湾 （包括但不限于官网公告、站内信、手机短信等方式） 进行公布并立即生效，无需另行通知乙方。如果乙方不接受修改，可立即以退出本出借计划中全部出借本金的方式终止本服务；如乙方继续使用本出借计划即被视为接受修改，并受修改后的协议及相关业务规则约束。</p>
        </div>
        <div class="serial">
            <p class="serial_main">7.5 乙方同意，在甲方终止本协议时，乙方持有的本出借计划项下的借款项目将以借款项目的形式显示在乙方币港湾账户中，乙方将按该借款项目的还款方式及剩余还款期限，获得相应的本金及/或利息回款直至该借款项目完成全部还款。</p>
        </div>
        <div class="serial">
            <p class="serial_number">八、出借人承诺</p>
            <p class="serial_main">8.1 出借人点击确认本协议前应已仔细阅读本协议，甲方已将本协议及币港湾的相关风险提示、规则、声明、协议等向出借人作出提示，出借人同意本协议的所有条款及条件，且对前述内容不存在任何疑问。</p>
        </div>
        <div class="serial">
            <p class="serial_main">8.2 出借人承诺出借人账户资金为合法取得，且具有排他性的支配权。</p>
        </div>
        <div class="serial">
            <p class="serial_main">8.3 出借人承诺其向币港湾提供的所有信息、资料等均真实、合法、有效。</p>
        </div>
        <div class="serial">
            <p class="serial_main">8.4 币港湾有权追究出借人承诺内容不实导致币港湾所遭受全部损失的赔偿责任。</p>
        </div>
        <div class="serial">
            <p class="serial_number">九、其他</p>
            <p class="serial_main">9.1 如因相关国家机关对出资人采取强制措施而导致出资人账户内资金被全部或部分冻结、划扣，则本规则约定的服务提前终止。</p>
        </div>
        <div class="serial">
            <p class="serial_main">9.2 由于地震、风暴、水灾或其他自然灾害、瘟疫、战争、暴乱、敌对行动、公共骚乱、公共敌人的行为、政府或公共机关禁止、黑客攻击、计算机病毒发作、银行和电信部门技术调整等不可抗力导致的一方未能按照本协议的约定提供服务的，任何一方互不追究对方责任，但发生不可抗力的一方应采取必要的补救措施以减小不可抗力造成的损失。</p>
        </div>
        <div class="serial">
            <p class="serial_main">9.3 币港湾对于本规则有最终解释权，如本规则未涉及的其他内容应以币港湾平台公布的各个项目描述中披露的具体信息为准。</p>
        </div>
        <div class="serial">
            <p class="serial_main">9.4 因本协议项下的服务引发的任何争议，应友好协商解决；协商不成的，任何一方均有权起诉至杭州市江干区人民法院。本协议的签订、履行、终止等相关争议均适用中华人民共和国法律法规。</p>
        </div>
        <div class="serial">
            <p class="serial_main">9.5 若您对以上条款存有任何异议，请立即停止开通申请。若您不同意变更后协议内容，请在满足本协议约定前提下立即关闭实时匹配交易系统功能。</p>
        </div>
        <div class="serial">
            <p class="serial_main">双方均已阅读本协议所有条款，充分了解并知晓相应权利义务，愿意承担相关风险，签署本协议。</p>
        </div>
        <br/><br/>
        <p class="man_ft">甲方：杭州币港湾科技有限公司</p>
        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/bgw_gz.png" style="width:150px;position:absolute;margin: -95px 0 0 59px;"/>
        <br/><br/>
        <p class="man_ft">乙方：$!userRealName</p>
    </div>
    <div class="agess_foot">
        <div class="agess_btn" onclick="oprin()">打印协议</div>
        <div class="agess_btn close">关闭</div>
    </div>
</div>

	#LoadGenJS("/resources/gen2.0/scripts/common/jquery")
<script>
    $(function(){
        var close=$(".close");

        close.on("click",off);
        function off(){
            window.close();
            if(window){
                window.location.href="about:blank";
            }
        }
    });

    function oprin(){
        $(".agess_foot").hide();
        setTimeout(function(){$(".agess_foot").show();},600);
        window.print();
    }
</script>
</body>
#Html("end")