#Html("begin")
#GenHead("begin")
###Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadGenCSS("/resources/gen2.0/styles/agree/agree-print")
#GenHead("end")
	
<body>
	 <div class="">
  		<div class="agess" id="agree_content">
			<!--startprint1-->
  			<div class="agess_title">
  				<span class="agess_ft">出借咨询与服务协议</span>
  				<i class="agess_off close"></i>
  			</div>
  			<div  class="agess_main">
  				<div class="serial">	
  					<p class="serial_main">当前用户不存在该加入记录</p>
  				</div>
				
			</div>
  		</div>
  </div>  
#LoadGenJS("/resources/gen2.0/scripts/common/jquery")
<script>
$(function(){
	var close=$(".close");
	
	close.on("click",off);
	function off(){
		window.close();
	}
});

function oprin(){
	$(".agess_foot").hide();
	setTimeout(function(){$(".agess_foot").show();},600);
	window.print();
}


</script>
</body>
#Html("end")