#Html("begin")
#Head("begin","币港湾活动,大礼包,币港湾,币港湾官网","币港湾官网，国资背景安心收益，为您提供互联网金融服务，是优质的互联网金融服务平台。")
#Title("双旦同台港湾献利-币港湾官网")

#LoadGenCSS("/resources/gen2.0/styles/regular/activity00_product")
#LoadGenJS("/resources/gen2.0/scripts/regular/activity00_product")
		<!--[if lte IE 8]> 
			#LoadGenJS("/resources/gen2.0/scripts/regular/PIE")
		<![endif]-->
		<script type="text/javascript">
			$(function() {
				if(window.PIE) {
					$('.rounded').each(function() {
						PIE.attach(this);
					});
				}
			});
		</script>

#GenHead("end")
<body class="body">
	#Gen2Header("home")
		<!--banner-->
		<div class="banner"></div>
		<!--main-->
		<div class="main-content">
			<div class="main-product">
				<div class="main-productbg">
					<div class="main-product-top"></div>
					<div class="main-product-Christmas">
						<div class="main-product-Christmastxt">
							#if($!maxRate == 0.8)
								<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity00product/main14_1.png" />
							#else
								<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity00product/main14.png" />
							#end
						</div>
					</div>
					<div class="main-product-content">
						<div class="main-product-ctitle">
							<p>港湾系列</p>
							<p>产品加息</p>
						</div>
						<div class="main-product-introduce">
							#if($!isEndOrNoStart == 'isEnd' || $!isEndOrNoStart == 'noStart')
							<div class="main-product-cnum">
								<div class="main-product-cnum1">预期年化收益率</div>
								<div class="main-product-cnum2">7.0<i class="main-product-cnum2i">%</i>
									<span class="main-product-cnum2span">
										<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity00product/main15.png" class="main-product-cnum2spanimg"/><b class="main-product-cnum2spanb">+0.1%</b>
									</span>
								</div>
								<ul class="main-product-cnum3">
									<li class="main-product-cnum3li">投资期限：<i class="main-product-cnum3i">30</i> 天</li>
									<li>起投金额：<i class="main-product-cnum3i">100</i> 元</li>
								</ul>
								<div class="main-product-cnum4"></div>
								<div class="main-product-cnum5">
									#if($!isEndOrNoStart == 'isEnd')
										<a href="javascript:;" class="main-product-cnum5end isEnd">已结束</a>
									#elseif($ $!isEndOrNoStart == 'noStart')
										<a href="javascript:;" class="main-product-cnum5purchase noStart">即将开始</a>
									#end
								</div>
							</div>
							<div class="main-product-cnum">
								<div class="main-product-cnum1">预期年化收益率</div>
								<div class="main-product-cnum2">8.0<i class="main-product-cnum2i">%</i>
									<span class="main-product-cnum2span">
										<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity00product/main15.png" class="main-product-cnum2spanimg"/><b class="main-product-cnum2spanb">+0.3%</b>
									</span>
								</div>
								<ul class="main-product-cnum3">
									<li class="main-product-cnum3li">投资期限：<i class="main-product-cnum3i">90</i> 天</li>
									<li>起投金额：<i class="main-product-cnum3i">100</i> 元</li>
								</ul>
								<div class="main-product-cnum4"></div>
								<div class="main-product-cnum5">
									#if($!isEndOrNoStart == 'isEnd')
										<a href="javascript:;" class="main-product-cnum5end isEnd">已结束</a>
									#elseif($ $!isEndOrNoStart == 'noStart')
										<a href="javascript:;" class="main-product-cnum5purchase noStart">即将开始</a>
									#end
								</div>
							</div>
							<div class="main-product-cnum">
								<div class="main-product-cnum1">预期年化收益率</div>
								<div class="main-product-cnum2">9.0<i class="main-product-cnum2i">%</i>
									<span class="main-product-cnum2span">
										<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity00product/main15.png" class="main-product-cnum2spanimg"/><b class="main-product-cnum2spanb">+0.5%</b>
									</span>
								</div>
								<ul class="main-product-cnum3">
									<li class="main-product-cnum3li">投资期限：<i class="main-product-cnum3i">180</i> 天</li>
									<li>起投金额：<i class="main-product-cnum3i">100</i> 元</li>
								</ul>
								<div class="main-product-cnum4"></div>
								<div class="main-product-cnum5">
									#if($!isEndOrNoStart == 'isEnd')
										<a href="javascript:;" class="main-product-cnum5end isEnd">已结束</a>
									#elseif($ $!isEndOrNoStart == 'noStart')
										<a href="javascript:;" class="main-product-cnum5purchase noStart">即将开始</a>
									#end
								</div>
							</div>
							<div class="main-product-cnum" style="margin-right: 0;">
								<div class="main-product-cnum1">预期年化收益率</div>
								<div class="main-product-cnum2">10.5<i class="main-product-cnum2i">%</i>
									<span class="main-product-cnum2span">
										<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity00product/main15.png" class="main-product-cnum2spanimg"/><b class="main-product-cnum2spanb">+0.7%</b>
									</span>
								</div>
								<ul class="main-product-cnum3">
									<li class="main-product-cnum3li">投资期限：<i class="main-product-cnum3i">365</i> 天</li>
									<li>起投金额：<i class="main-product-cnum3i">100</i> 元</li>
								</ul>
								<div class="main-product-cnum4"></div>
								<div class="main-product-cnum5">
									#if($!isEndOrNoStart == 'isEnd')
										<a href="javascript:;" class="main-product-cnum5end isEnd">已结束</a>
									#elseif($ $!isEndOrNoStart == 'noStart')
										<a href="javascript:;" class="main-product-cnum5purchase noStart">即将开始</a>
									#end
								</div>
							</div>
							#else
								#foreach($!pro in $!productList)
									<div class="main-product-cnum" style="margin-right: 0;">
								<div class="main-product-cnum1">预期年化收益率</div>
								<div class="main-product-cnum2">
									#if($!pro.term == 1)
											7.0 
										#elseif($!pro.term == 3)
											8.0
										#elseif($!pro.term == 6)
											9.0
										#elseif($!pro.term == 12)
											10.5 
										#end
									<i class="main-product-cnum2i">%</i>
									<span class="main-product-cnum2span">
										<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity00product/main15.png" class="main-product-cnum2spanimg"/>
										<b class="main-product-cnum2spanb">
											#if($!pro.term == 1)
    											+$!number.format("0.0",$!money.subtract($!pro.baseRate,7.0))%
    										#elseif($!pro.term == 3)
    											+$!number.format("0.0",$!money.subtract($!pro.baseRate,8.0))%
    										#elseif($!pro.term == 6)
    											+$!number.format("0.0",$!money.subtract($!pro.baseRate,9.0))%
    										#elseif($!pro.term == 12)
    											+$!number.format("0.0",$!money.subtract($!pro.baseRate,10.5))%
    										#end </b>
									</span>
								</div>
								<ul class="main-product-cnum3">
									<li class="main-product-cnum3li">投资期限：
										<i class="main-product-cnum3i">
											#if($!pro.term == 1)
    											30
    										#elseif($!pro.term == 3)
    											90
    										#elseif($!pro.term == 6)
    											180
    										#elseif($!pro.term == 12)
    											365
    										#end
										</i> 天
									</li>
									<li>起投金额：<i class="main-product-cnum3i">100</i> 元</li>
								</ul>
								<div class="main-product-cnum4"></div>
								<div class="main-product-cnum5">
									<a href="$!env.get('gen.server.web')/gen2.0/regular/index?id=$!pro.id" class="main-product-cnum5purchase">立即购买</a>
								</div>
							</div>
								#end
							#end
						</div>
						<div class="main-product-bottom"></div>
					</div>
				</div>
			</div>
			<!--规则-->
			<div class="main-rule">
				<div class="main-rulebg">
					<div class="main-product-Christmas">
						<div class="main-product-Christmastxt"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity00product/main10.png" /></div>
					</div>
					<div class="main-rule-content">
						<div class="main-rule-ctitle">
							活动规则
						</div>
						<div class="main-rule-txt">
							<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity00product/main18.png" class="main-rule-txtimg" />
							<div class="main-rule-text">
								<p>1、活动时间：2016年12月21日-2017年1月2日；</p>
								<p>2、<i class="main-rule-texti">12月25日（圣诞节当天）与12月31日（2016年最后一天）将推出特殊加息标，具体加息详情请留意当天网站标的信息；</i></p>
								<p>3、用户在活动期间内完成投资，即可享受所投标的加息福利，期限越长加息越高；</p>
								<p>4、用户享受的加息奖励，将与本金及应得利息在所投标的到期时一次性返还至用户账户内；</p>
								<p>5、本次活动只限于购买港湾计划系列产品；</p>
								<p>6、如发现用户恶意作弊行为，币港湾将取消该用户奖励资格。</p>
							</div>
						</div>
					</div>
					<div class="bottom-txt">本次活动的最终解释权归币港湾所有</div>
					
				</div>
			</div>
		</div>
		<!--遮罩层-->
		<div class="tan-bg"></div>
		<!--提示弹窗-->
		<div id="alert_listthree_one" class="alert_listthree">
			<h3 class="alert_listthree_h3">
        		<span class="title">温馨提示</span>
        		<a class="alert_listthree_btn" href="javascript:;" title="" onclick="">
            		<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity00product/close_right.png">
        		</a>
    		</h3>
			<!--活动未开始-->
			<div class="alert_listthree_txt">您来早了，活动还没开始哟，请稍后再来~</div>
			<!--活动已结束-->
			<div class="alert_listthree_txt" style="display: none;">您来晚了，活动已经结束了哟，谢谢您的关注~</div>
			<div class="alert_listthree_btnd">
				<a class="alert_listthree_btnl" href="javascript:;">知道了</a>
			</div>
		</div>
		
	</body>
#Html("end")