#Html("begin")
#GenHead("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadGenCSS("/resources/gen2.0/styles/index/default")
#LoadGenCSS("/resources/gen2.0/styles/common/head")
#LoadGenCSS("/resources/gen2.0/styles/errors/fag")
#GenHead("end")
<body>
    #Gen2Header("home")

    <div class="main">
        <div class="main_center">
            <div class="main_child">
                <div class="main_ctop">$!error_reason_info</div>
                <div class="main_ctop">$!description_info</div>
                <div class="main_ccenter">我们依然竭力为您提供最好的服务</div>
                <div class="main_ccenter">欢迎您致电客服热线：400-806-1230（工作日9:00-18:00），</div>
                <div class="main_ccenter">向我们提出您的建议</div>
                <div class="main_cdown">
                    <a href=" " onclick="javascript:history.back(-1);">返回上一页</a><a href="$!env.get('gen.server.web')">返回首页</a>
                </div>
            </div>
        </div>
    </div>

    #Gen2Footer()
</body>

#Html("end")

