
.main_cr_title h4{
    float: left;
    line-height: 30px;
    background: #FF6633;
    color: #fff;
    font-size: 16px;
    padding: 0 10px;
}
.main_cr_title{
    position: relative;
    margin-bottom: 20px;
    height: 30px;
}
.main_cr_title span{
    position: absolute;
    width: 5px;height: 5px;
    bottom:-5px;left: 0;
    background: url(../../../images/regular/regular_index/title.png);
}
.law_list ul li{
    color: #666;
    font-size: 14px;
    line-height: 20px;
    border-bottom:dashed 1px #e5e5e5;
    padding: 20px 0;
}
.law_list ul li a{
    color: inherit;
    font:inherit;
}
.law_list ul li:hover{
    color: #FF6633;
    cursor: pointer;
}