body{ position: relative; background: #f3f5f7;}
.header{ width:100%; height:80px; line-height: 80px; background:white; text-align: center; position: relative;}
.header_arrow{ display:block; position:absolute; left:10px; top:50%; margin-top: -15px; width:34px; height:30px;  background: url(../../images/acc_arrow.png) no-repeat;}
.heade_ft{ font-size: 34px;}
.Zee_main{ width:100%; height:auto; }
.Zeek_info{ margin:20px 20px 0px; height:358px; background: white; border-radius: 6px; overflow: hidden;}
.Zeek_title{ width:100%; height:64px; line-height: 64px; }
.Zk_img{ width:27px;height:28px; display: inline-block; background: url(../images/Zeek_title.png) no-repeat; vertical-align: top;margin:20px 16px 0px 30px;}
.ZK_money{ font-size: 26px; }
.rotate{width:95px; background: #ff6633; font-size: 20px; color:white; float: right; -webkit-transform: rotate3d(0,0,1,48deg) translate3d(18px, -27px, 0px);
-ms-transform: rotate3d(0,0,1,48deg) translate3d(18px, -27px, 0px);
-o-transform: rotate3d(0,0,1,48deg) translate3d(18px, -27px, 0px);
transform: rotate3d(0,0,1,48deg) translate3d(18px, -27px, 0px);text-align: center;height:44px;}
.line{ height:1px; width:89%; margin:0 auto; background: #f0f0f0; }
.Zee_container{ width:100%; height:auto; padding:0px 20px;}
.contar_left, .contar_right{ width:45%;display: inline-block; }

.left_li{ margin-top:17px; position: relative;}
.left_li:before{content:""; position: absolute; width:10px; height:10px; border-radius: 50%; background:#ffb299;top:6px; left:6px; }
.time_Tz, .tz_min{ padding-left:33px;}
.time_Tz{ font-size: 22px;line-height: 22px;}
.tz_min{ font-size: 24px; line-height: 24px;  margin-top:20px;}
.coulmn_lin{ width:1px; height:189px; background: #e3e3e3;display: inline-block; }
.contar_right{ float: right;  text-align: center;padding-right: 52px;}
.right_js{ font-size: 24px; line-height: 24px; margin:33px 0px; color:#999999;}
.z_right_number{ font-size: 44px; line-height: 44px; }
.Zeek_btn{ display: block; width:160px; height:52px; margin:30px auto 18px; line-height: 52px; font-size: 26px; background: #ff6633; color:white; text-align: center; border-radius: 6px;}
.Zeek_two_btn{ background: #5ca8fd; }
.Zeek_list{ font-size: 20px; line-height: 20px; color:#5ca8fd; }
.oran_color{ color:#ff6633; }

/*无投资页面*/
.zeek_null{ width:60%; height:460px; margin:134px auto 0px; background:url(../../images/zeek_null.png) no-repeat;}
