<form id="pagerForm" method="post" action="#rel#">
	<input type="hidden" name="pageNum" value="$!record.pageNum" />
	<input type="hidden" name="numPerPage" value="$!record.numPerPage" />
</form>
<div class="pageHeader">
	<form id="myform" method="post"  rel="pagerForm" action="$env.getWebURL('/banner/banner_index.htm')" onsubmit="return navTabSearch(this);">
	<input type="hidden" name="pageNum" value="$!record.pageNum" />
	<input type="hidden" name="numPerPage" value="$!record.numPerPage" />
	<input type="hidden" name="newChannel"id="newChannel" value="$!newChannel" />
    <input type="hidden" name="deleteFlag" id="deleteFlag" value="DELETEFLAG" />
	<div class="searchBar">
		<table class="searchContent">
			<tbody>
            <tr>
				<td>
					#if($!newChannel == 'MICRO')
					<button id="MICRO" type="button"style="margin-right: 30px;background-color:#5cb85c;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">币港湾微信</button>
					#else
						<button id="MICRO" type="button"style="margin-right: 30px;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">币港湾微信</button>
					#end
					#if($!newChannel == 'MICRO178')
					<button id="MICRO178" type="button"style="margin-right: 30px;background-color:#5cb85c;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">钱报微信</button>
					#else
						<button id="MICRO178" type="button"style="margin-right: 30px;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">钱报微信</button>
					#end
					#if($!newChannel == 'MICROKQ')
                        <button id="MICROKQ" type="button" style="margin-right: 30px;background-color:#5cb85c;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">柯桥日报微信</button>
					#else
                        <button id="MICROKQ" type="button" style="margin-right: 30px;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">柯桥日报微信</button>
					#end
					#if($!newChannel == 'MICROHN')
                        <button id="MICROHN" type="button"style="margin-right: 30px;background-color:#5cb85c;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">海宁日报微信</button>
					#else
                        <button id="MICROHN" type="button"style="margin-right: 30px;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">海宁日报微信</button>
					#end
					
					#if($!newChannel == 'MICRORUIAN')
                        <button id="MICRORUIAN" type="button"style="margin-right: 30px;background-color:#5cb85c;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">瑞安日报微信</button>
					#else
                        <button id="MICRORUIAN" type="button"style="margin-right: 30px;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">瑞安日报微信</button>
					#end

					#if($!newChannel == 'MICROQD')
                        <button id="MICROQD" type="button"style="margin-right: 30px;background-color:#5cb85c;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">七店微信</button>
					#else
                        <button id="MICROQD" type="button"style="margin-right: 30px;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">七店微信</button>
					#end
					
					#if($!newChannel == 'MICROJT')
                        <button id="MICROJT" type="button"style="margin-right: 30px;background-color:#5cb85c;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">秦皇岛交通广播微信</button>
					#else
                        <button id="MICROJT" type="button"style="margin-right: 30px;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">秦皇岛交通广播微信</button>
					#end
					
					#if($!newChannel == 'MICROXW') 
                        <button id="MICROXW" type="button"style="margin-right: 30px;background-color:#5cb85c;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">秦皇岛新闻891微信</button>
					#else
                        <button id="MICROXW" type="button"style="margin-right: 30px;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">秦皇岛新闻891微信</button>
					#end
					
					#if($!newChannel == 'MICROTV')
                        <button id="MICROTV" type="button"style="margin-right: 30px;background-color:#5cb85c;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">秦皇岛电视台今日报道微信</button>
					#else
                        <button id="MICROTV" type="button"style="margin-right: 30px;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">秦皇岛电视台今日报道微信</button>
					#end
					
				</td>
			</tr>
			<tr>
                <td></td><td></td><td></td>
            </tr>
			<tr>
				<td>
				
					#if($!newChannel == 'MICROSTZY')
                        <button id="MICROSTZY" type="button"style="margin-right: 30px;background-color:#5cb85c;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">视听之友微信</button>
					#else
                        <button id="MICROSTZY" type="button"style="margin-right: 30px;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">视听之友微信</button>
					#end
					
					#if($!newChannel == 'MICROSJC')
                        <button id="MICROSJC" type="button"style="margin-right: 30px;background-color:#5cb85c;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">1038私家车广播微信</button>
					#else
                        <button id="MICROSJC" type="button"style="margin-right: 30px;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">1038私家车广播微信</button>
					#end
					
					#if($!newChannel == 'GEN')
					<button id="GEN" type="button"style="margin-right: 30px;background-color:#5cb85c;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">币港湾电脑</button>
					#else
						<button id="GEN" type="button"style="margin-right: 30px;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">币港湾电脑</button>
					#end
					
					#if($!newChannel == 'GENFINANCE')
					<button id="GENFINANCE" type="button"style="margin-right: 30px;background-color:#5cb85c;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">币港湾电脑理财计划</button>
					#else
					<button id="GENFINANCE" type="button"style="margin-right: 30px;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">币港湾电脑理财计划</button>
					#end
					
					#if($!newChannel == 'GEN178')
					<button id="GEN178" type="button"style="margin-right: 30px;background-color:#5cb85c;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">钱报电脑</button>
					#else
						<button id="GEN178" type="button"style="margin-right: 30px;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">钱报电脑</button>
					#end
					#if($!newChannel == 'GENKQ')
                        <button id="GENKQ" type="button"style="margin-right: 30px;background-color:#5cb85c;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">柯桥日报电脑</button>
					#else
                        <button id="GENKQ" type="button"style="margin-right: 30px;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">柯桥日报电脑</button>
					#end
					#if($!newChannel == 'GENHN')
                        <button id="GENHN" type="button"style="margin-right: 30px;background-color:#5cb85c;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">海宁日报电脑</button>
					#else
                        <button id="GENHN" type="button"style="margin-right: 30px;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">海宁日报电脑</button>
					#end 
					#if($!newChannel == 'GENRUIAN')
                        <button id="GENRUIAN" type="button"style="margin-right: 30px;background-color:#5cb85c;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">瑞安日报电脑</button>
					#else
                        <button id="GENRUIAN" type="button"style="margin-right: 30px;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">瑞安日报电脑</button>
					#end
					
					#if($!newChannel == 'GENSTZY')
                        <button id="GENSTZY" type="button"style="margin-right: 30px;background-color:#5cb85c;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">视听之友电脑</button>
					#else
                        <button id="GENSTZY" type="button"style="margin-right: 30px;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">视听之友电脑</button>
					#end
					#if($!newChannel == 'APP')
					<button id="APP" type="button"style="margin-right: 30px;background-color:#5cb85c;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">APP</button>
					#else
						<button id="APP" type="button"style="margin-right: 30px;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">APP</button>
					#end
				</td>
			
			</tr>
            <tr>
                <td></td><td></td><td></td>
            </tr>
			<tr>
                <td>
					#if($!newChannel == 'APP_START')
                        <button id="APP_START" type="button"style="margin-right: 30px;background-color:#5cb85c;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">app启动页管理</button>
					#else
                        <button id="APP_START" type="button"style="margin-right: 30px;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">app启动页管理</button>
					#end
                </td>
			</tr>
			<tr>
                <td></td><td></td><td></td>
            </tr>
			<tr>
				<td>
					名称：<input  id="subject" type="text" name="subject" value="$!req.subject" size="15" maxlength="10"/>
                	&nbsp;&nbsp;&nbsp;&nbsp;
                	#if($!newChannel == "APP_START")
					#else
                        	状态：
                        <select name="status" class="valid">
                            <option value="" #if("$!req.status"=="") selected  #end>全部</option>
                            <option value="SHOW" #if("$!req.status"=="SHOW") selected  #end>显示</option>
                            <option value="HIDE" #if("$!req.status"=="HIDE") selected  #end>隐藏</option>
                        </select>
					#end
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="button" id="search" onclick="func()" value="查询"/>
                </td>
			
			</tr>
		</tbody></table>
	</div>
	</form>
</div>
<div class="pageContent">
	#if($!addButton == "HIDDEN")

	#else
        <div class="panelBar">
            <ul class="toolBar">
                <li><a class="add" href="$env.getWebURL('/banner/detail.htm?type=add&newChannel=')$!newChannel" target="navtab" mask="true" width="1000" height="770"rel="createBack" ><span>新增</span></a></li>
            </ul>
        </div>
	#end

	<table class="table" width="1346" layoutH="245">
		<thead>
			<tr>
				<th width="5%">顺序</th>
				<th width="15%">名称</th>
                <th width="5%">图片</th>
				<th width="20%">链接</th>
				<th width="10%">上传时间</th>
				<th width="10%">修改时间</th>
				<th width="10%">操作人员</th>
				<th width="10%">状态</th>
				<th width="15%">操作</th>
			</tr>
		</thead>
		<tbody>
			#foreach($ban in $list)
			<tr target="sid_user" rel="1" style="height:30px;">
                <td>
					#if($!ban.priority != -1 && $!addButton != "HIDDEN")
						第$!ban.priority 幕
					#elseif($!addButton == "HIDDEN")
                        第1 幕
					#end
				</td>
				<td>$!ban.subject</td>
                <td><a href=$!mUrl$!ban.imgPath target="view_window">查看</a></td>
				<td class="td_url" url='$!ban.url'></td>
				<td>$!date.format($!ban.createTime)</td>
				<td>$!date.format($!ban.updateTime)</td>
				<td>$!ban.mUser</td>
				<td>#if($!ban.status == 'SHOW') 显示 #elseif($!ban.status == 'HIDE') 隐藏#end</td>
				<td>
					<a class="" href="$env.getWebURL('/banner/detail.htm?type=update&bannerId=')$!ban.id&newChannel=$!ban.channel" target="navtab" mask="true" rel="createBack" style="margin-left:20px;margin-right:20px;"><span>编辑</span></a>
					#if($!ban.priority != -1 || $!ban.priority == "")
						<a title="删除" class='pass_a' onclick="click_a(this)" banner_id="$!ban.id" banner_channer ="$!ban.channel" href="javascript:void(0)" mask="true" url="$env.getWebURL('/banner/addOrUpdate.htm?deleteFlag=DELETEFLAG')">删除</a>
					#end
				</td>
			</tr>
			#end
            <script>
				setTimeout(function(){ // dwz渲染好了 再填入url
					$(".td_url").each(function(){
    					$(this).html($(this).attr('url'));
    				});
				}, 100);
			</script>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage" onchange="navTabPageBreak({pageNum:0,numPerPage:this.value})">
				<option #if("$!record.numPerPage" == "20") selected #end value="20">20</option>
				<option #if("$!record.numPerPage" == "50") selected #end value="50">50</option>
				<option #if("$!record.numPerPage" == "100") selected #end value="100">100</option>
				<option #if("$!record.numPerPage" == "200") selected #end value="200">200</option>
			</select>
			<span>条，共$!record.totalRows条</span>
		</div>
		
		<div class="pagination" targetType="navTab" totalCount="$!record.totalRows" numPerPage="$!record.numPerPage" currentPage="$!record.pageNum"></div>

	</div>
</div>
		
<script>
function navTabAjaxDone(json) {
		var channel=$("#newChannel").val();
		if (json.statusCode == 200) {
			navTab.closeCurrentTab();
			navTab.reload("$env.getWebURL('/banner/banner_index.htm?cc=')"+channel);
		} else {
			if(json.message){
				alertMsg.error(json.message);
			}else{
				alertMsg.error('操作失败!');
			}
		}
	}


function func(){	
	$("#myform").submit();
}
function click_a(obj){
	var channel=$("#newChannel").val();
	var $this = $(obj);
	var title = $this.attr("title");
	alertMsg.confirm(title, {
		okCall: function(){
			jQuery.ajax({
    			url:$this.attr("url"),
    			data:{
					type : "update",
    				id : $this.attr('banner_id'),
					priority : -1,
					newChannel: $this.attr('banner_channer')
    			},
    			type:'post',
    			success: function(data){
        			if(data.statusCode == '200'){
        				alertMsg.correct('操作成功！');
						navTab.closeCurrentTab();
        				navTab.reload("$env.getWebURL('banner/banner_index.htm?cc=')"+channel);
        			}else{
        				alertMsg.error('操作失败!');
        				navTab.reload("$env.getWebURL('banner/banner_index.htm?cc=')"+channel);
        			}
				}
			});
		}
	});
}	

$("#MICRO").click(function(){
		navTab.reload("$env.getWebURL('banner/banner_index.htm?cc=MICRO')");
	});
	
$("#MICRO178").click(function(){
		navTab.reload("$env.getWebURL('banner/banner_index.htm?cc=MICRO178')");
	});

$("#MICROKQ").click(function(){
    navTab.reload("$env.getWebURL('banner/banner_index.htm?cc=MICROKQ')");
});

$("#MICROHN").click(function(){
    navTab.reload("$env.getWebURL('banner/banner_index.htm?cc=MICROHN')");
});

$("#MICRORUIAN").click(function(){
    navTab.reload("$env.getWebURL('banner/banner_index.htm?cc=MICRORUIAN')");
});

$("#MICROQD").click(function(){
    navTab.reload("$env.getWebURL('banner/banner_index.htm?cc=MICROQD')");
});

$("#MICROJT").click(function(){
    navTab.reload("$env.getWebURL('banner/banner_index.htm?cc=MICROJT')");
});
$("#MICROXW").click(function(){
    navTab.reload("$env.getWebURL('banner/banner_index.htm?cc=MICROXW')");
});
$("#MICROTV").click(function(){
    navTab.reload("$env.getWebURL('banner/banner_index.htm?cc=MICROTV')");
});
$("#MICROSTZY").click(function(){
    navTab.reload("$env.getWebURL('banner/banner_index.htm?cc=MICROSTZY')");
});
$("#MICROSJC").click(function(){
    navTab.reload("$env.getWebURL('banner/banner_index.htm?cc=MICROSJC')");
});


$("#GEN").click(function(){
		navTab.reload("$env.getWebURL('banner/banner_index.htm?cc=GEN')");
	});
	
$("#GENFINANCE").click(function(){
		navTab.reload("$env.getWebURL('banner/banner_index.htm?cc=GENFINANCE')");
	});
		
$("#GEN178").click(function(){
		navTab.reload("$env.getWebURL('banner/banner_index.htm?cc=GEN178')");
	});

$("#GENKQ").click(function(){
    navTab.reload("$env.getWebURL('banner/banner_index.htm?cc=GENKQ')");
});

$("#GENHN").click(function(){
    navTab.reload("$env.getWebURL('banner/banner_index.htm?cc=GENHN')");
});

$("#GENRUIAN").click(function(){
    navTab.reload("$env.getWebURL('banner/banner_index.htm?cc=GENRUIAN')");
});
$("#GENSTZY").click(function(){
    navTab.reload("$env.getWebURL('banner/banner_index.htm?cc=GENSTZY')");
});

$("#APP").click(function(){
		navTab.reload("$env.getWebURL('banner/banner_index.htm?cc=APP')");
	});
$("#APP_START").click(function(){
    navTab.reload("$env.getWebURL('banner/banner_index.htm?cc=APP_START')");
});

</script>