<form id="pagerForm" method="post" action="#rel#">
	<input type="hidden" name="pageNum" value="$!record.pageNum" />
	<input type="hidden" name="numPerPage" value="$!record.numPerPage" />
</form>
<div class="pageHeader">
	<form id="myform" method="post"  rel="pagerForm" action="$env.getWebURL('/banner/website_picture.htm')" onsubmit="return navTabSearch(this);">
	<input type="hidden" name="pageNum" value="$!record.pageNum" />
	<input type="hidden" name="numPerPage" value="$!record.numPerPage" />
	<input type="hidden" name="newShowPageLabel" id="newShowPageLabel" value="$!newShowPageLabel" />
    <input type="hidden" name="deleteFlag" id="deleteFlag" value="DELETEFLAG" />
	<div class="searchBar">
		<table class="searchContent">
			<tbody>
            <tr>
				<td>
					#if($!newShowPageLabel == 'INVEST')
						<button id="INVEST" type="button" style="margin-right: 30px;background-color:#5cb85c;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">我要投资</button>
					#else
						<button id="INVEST" type="button" style="margin-right: 30px;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">我要投资</button>
					#end
					#if($!newShowPageLabel == 'USERENTRY')
						<button id="USERENTRY" type="button" style="margin-right: 30px;background-color:#5cb85c;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">注册/登录/忘记密码</button>
					#else
						<button id="USERENTRY" type="button" style="margin-right: 30px;color:#000;cursor: pointer;border: 0;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">注册/登录/忘记密码</button>
					#end
				</td>
			</tr>
            <tr>
                <td></td>
            </tr>
			
			<tr>
				<td>
					备注：<input  id="subject" type="text" name="subject" value="$!req.subject" size="15" maxlength="10"/>
                </td>
                <td>
                    	状态：
                    <select name="status" class="valid">
                        <option value="" #if("$!req.status"=="") selected  #end>全部</option>
                        <option value="SHOW" #if("$!req.status"=="SHOW") selected  #end>显示</option>
                        <option value="HIDE" #if("$!req.status"=="HIDE") selected  #end>隐藏</option>
                    </select>
                </td>
				<td>
					<input type="button" id="search" onclick="func()" value="查询"/>
                </td>
			</tr>
		</tbody></table>
	</div>
	</form>
</div>
<div class="pageContent">
	
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="$env.getWebURL('/banner/website_picture_detail.htm?type=add&newShowPageLabel=')$!newShowPageLabel" target="navtab" mask="true" width="1000" height="770"rel="createBack" ><span>新增</span></a></li>
        </ul>
    </div>

	<table class="table" width="1346" layoutH="180">
		<thead>
			<tr>
				<th width="10%">位置</th>
				<th width="5%">顺序</th>
				<th width="10%">备注</th>
                <th width="10%">图片</th>
				<th width="15%">链接</th>
				<th width="5%">渠道</th>
				<th width="10%">上传时间</th>
				<th width="10%">修改时间</th>
				<th width="10%">操作人员</th>
				<th width="5%">状态</th>
				<th width="10%">操作</th>
			</tr>
		</thead>
		<tbody>
			#foreach($ban in $list)
			<tr target="sid_user" rel="1" style="height:30px;">
				<td>#if($!ban.showPage == 'REGISTER')
						注册页面
					#elseif($!ban.showPage == 'LOGIN')
						登录页面
					#elseif($!ban.showPage == 'FORGET_PASSWORD')
						忘记密码页面
					#elseif($!ban.showPage == 'DEPSUBJECT')
						存管专题
					#elseif($!ban.showPage == 'ESTUARYPLAN')
						港湾计划
					#elseif($!ban.showPage == 'ZANSTAGES')
						赞分期
					#end
				</td>
                <td>
					#if($!ban.priority != -1)
						第1 幕
					#elseif($!addButton == "HIDDEN")
                        	第1 幕
					#end
				</td>
				<td>$!ban.subject</td>
                <td><a href=$!mUrl$!ban.imgPath target="view_window">查看</a></td>
				<td class="td_url" url='$!ban.url'></td>
				<td>
				#if($!ban.channel=='MICRO'||$!ban.channel=='GEN'||$!ban.channel=='GENFINANCE')
					币港湾					
				#elseif($!ban.channel=='MICRO178' || $!ban.channel=='GEN178')
					钱报
				#elseif($!ban.channel=='GENRUIAN' || $!ban.channel=='MICRORUIAN')	
					瑞安日报 
				#elseif($!ban.channel=='GENHN' || $!ban.channel=='MICROHN')	
					海宁日报
				#elseif($!ban.channel=='GENKQ' || $!ban.channel=='MICROKQ')		
					柯桥日报
				#elseif($!ban.channel=='GENSTZY' || $!ban.channel=='MICROSTZY')		
					视听之友	
				#end
				</td>
				<td>$!date.format($!ban.createTime)</td>
				<td>$!date.format($!ban.updateTime)</td>
				<td>$!ban.mUser</td>
				<td>#if($!ban.status == 'SHOW') 显示 #elseif($!ban.status == 'HIDE') 隐藏#end</td>
				<td>
					<a class="edit" href="$env.getWebURL('/banner/website_picture_detail.htm?type=update&bannerId=')$!ban.id&newShowPageLabel=$!newShowPageLabel" target="navtab" mask="true" rel="createBack" style="margin-left:20px;margin-right:20px;"><span>编辑</span></a>
					#if($!ban.priority != -1 || $!ban.priority == "")
						<a title="删除" class='pass_a' onclick="click_a(this)" banner_id="$!ban.id" banner_channer ="$!ban.channel" href="javascript:void(0)" mask="true" url="$env.getWebURL('/banner/website/addOrUpdate.htm?deleteFlag=DELETEFLAG')">删除</a>
					#end
				</td>
			</tr>
			#end
            <script>
				setTimeout(function(){ // dwz渲染好了 再填入url
					$(".td_url").each(function(){
    					$(this).html($(this).attr('url'));
    				});
				}, 100);
			</script>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage" onchange="navTabPageBreak({pageNum:0,numPerPage:this.value})">
				<option #if("$!record.numPerPage" == "20") selected #end value="20">20</option>
				<option #if("$!record.numPerPage" == "50") selected #end value="50">50</option>
				<option #if("$!record.numPerPage" == "100") selected #end value="100">100</option>
				<option #if("$!record.numPerPage" == "200") selected #end value="200">200</option>
			</select>
			<span>条，共$!record.totalRows条</span>
		</div>
		
		<div class="pagination" targetType="navTab" totalCount="$!record.totalRows" numPerPage="$!record.numPerPage" currentPage="$!record.pageNum"></div>

	</div>
</div>
		
<script>

function navTabAjaxDone(json) {
		var channel=$("#newShowPageLabel").val();
		if (json.statusCode == 200) {
			navTab.closeCurrentTab();
			navTab.reload("$env.getWebURL('/banner/website_picture.htm?cc=')"+channel);
		} else {
			if(json.message){
				alertMsg.error(json.message);
			}else{
				alertMsg.error('操作失败!');
			}
		}
	}


function func(){	
	$("#myform").submit();
}
function click_a(obj){
	var channel=$("#newShowPageLabel").val();
	var $this = $(obj);
	var title = $this.attr("title");
	alertMsg.confirm(title, {
		okCall: function(){
			jQuery.ajax({
    			url:$this.attr("url"),
    			data:{
					type : "update",
    				id : $this.attr('banner_id'),
					priority : -1,
					newShowPageLabel: $this.attr('banner_channer')
    			},
    			type:'post',
    			success: function(data){
        			if(data.statusCode == '200'){
        				alertMsg.correct('操作成功！');
						navTab.closeCurrentTab();
        				navTab.reload("$env.getWebURL('banner/website_picture.htm?cc=')"+channel);
        			}else{
        				alertMsg.error('操作失败!');
        				navTab.reload("$env.getWebURL('banner/website_picture.htm?cc=')"+channel);
        			}
				}
			});
		}
	});
}	

// 我要投资
$("#INVEST").click(function(){
		navTab.reload("$env.getWebURL('banner/website_picture.htm?cc=INVEST')");
	});

// 注册/登录/忘记密码	
$("#USERENTRY").click(function(){
		navTab.reload("$env.getWebURL('banner/website_picture.htm?cc=USERENTRY')");
	});
		
</script>