<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li class="line">line</li>
			<li><a  rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/productDayAvgSum/index.htm')?type=1ActivityProductDayAvg" class="edit"><span>1个月活动理财平均每人购买交易额</span></a></li>
			<li class="line">line</li>
			<li><a  rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/productDayAvgSum/index.htm')?type=1ProductDayAvg" class="edit"><span>1个月理财平均每人购买交易额</span></a></li>
			<li class="line">line</li>
			<li><a  rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/productDayAvgSum/index.htm')?type=3ProductDayAvg" class="edit"><span>3个月理财平均每人购买交易额</span></a></li>
			<li class="line">line</li>
			<li><a   rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/productDayAvgSum/index.htm')?type=6ProductDayAvg" class="edit"><span>6个月理财平均每人购买交易额</span></a></li>
			<li class="line">line</li>
			<li><a   rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/productDayAvgSum/index.htm')?type=12ProductDayAvg" class="edit"><span>12个月理财平均每人购买交易额</span></a></li>
			<li class="line">line</li>
			<li><a   rel="main"  target="navTab"  postType="string" href="$env.getWebURL('/statistics/productDayAvgSum/index.htm')?type=ProductDayAvgSum" class="edit"><span>全部理财平均每人购买交易额</span></a></li>
		</ul>
	</div>

				<td>	 #Highcharts($!nums,$!titletext,$!yAxistext,$!seriestext,$!startTime)</td>
			
	
    	
	
</div>