/* 清除默认样式 */
ul,li,ol,p,h1,h2,h3,h4,h5{
	margin:0;
	padding:0;
	list-style:none;
}

/* 设置默认样式 */
#body{width:100%;margin:0 auto;font-family:"微软雅黑"}
.content {width: 100%;}
.con {width: 1080px;min-height:100px;margin: 20px auto 0;text-align: center;}
.con:after{content:"";height:0;display:block;clear:both;}
.clearfix:after{
	content:"";
	display:block;
	height:0;
	clear:both;
}
/*左侧导航*/
.con_left2 {
	width: 200px;
	float: left;
	color: #656565;
	text-align: left;
	margin-bottom: 100px;
}

.con_title {
	width: 135px;
	height: 50px;
	background: #fcfcfc;
	font-size: 16px;
	color: #999;
	line-height: 50px;
	padding-left: 65px;
	position: relative;
}

.assets_icon {
	background: url(../../images/assets/assets_public/assets_icon.png) no-repeat;
	position: absolute;
}

.assets_icon1 {
	display: inline-block;
	width: 20px;
	height: 16px;
	background-position: 0 0;
	left: 35px;
	top: 50%;
	margin-top: -8px;
}

.assets_icon2 {
	display: inline-block;
	width: 18px;
	height: 24px;
	background-position: -27px 0;
	left: 37px;
	top: 50%;
	margin-top: -12px;
}

.con_hot {
	display: inline-block;
	width: 28px;
	height: 14px;
	background-position: -51px 0;
	left: 70px;
	top: 50%;
	margin-top: -7px;
}

.con_left_nav {
	width: 135px;
	font-size: 16px;
	padding-left: 65px;
	line-height: 50px;
	cursor: pointer;
	background: #fff;
	margin-bottom: 20px;
}

.con_left_nav li {
	width: 135px;
	height: 50px;
	position: relative;
	color: #333;
}

.con_left_nav li.li_style_index {
	color: #ff6633;
}

.li_style_index {
	background: #fff;
	color: #ff6633;
}

.con_style {
	display: inline-block;
	width: 4px;
	height: 4px;
	background: #999;
	position: absolute;
	left: -14px;
	top: 50%;
	margin-top: -2px;
}

.li_style_index .con_style {
	display: inline-block;
	width: 4px;
	height: 4px;
	background: #ff6633;
	position: absolute;
	left: -14px;
	top: 50%;
	margin-top: -2px;
}

.ceping_none {
	display: inline-block;
	height: 6px;
	width: 6px;
	border-radius: 3px;
	background: #ff6633;
	margin-left: 10px;
	position: relative;
	top: -3px;
}

/*右侧*/
.con_right {
	float: left;
	width: 860px;
	margin-left: 20px;
}

.con_right_nav {
	width: 100%;
}

.con_right_nav li .rig2_1 {
	display: block;
}

/*账户概览*/
.con_right_nav li .rig2_top {
	width: 100%;
	height: auto;
	background: #fff;
}

.overview_title {
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
	text-align: left;
}

.overview_icon {
	background: url(../../images/assets/assets_public/assets_icon.png) no-repeat;
}

.con_phone {
	display: inline-block;
	width: 16px;
	height: 22px;
	background-position: -87px 0;
	position: relative;
	margin-left: 20px;
	top: 24px;
}

.phone_number {
	font-size: 16px;
	color: #333;
	display: inline-block;
	height: 20px;
	border-right: 1px solid #e5e5e5;
	line-height: 20px;
	padding: 0 20px 0 10px;
	position: relative;
	top: 19px;
}

.con_icon {
	display: inline-block;
	cursor: pointer;
	margin: 0;
	position: relative;
	top: 24px;
	margin-left: 18px;
}

.con_icon1 {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-position: 0px -29px;
	margin-right: 10px;
	position: relative;
}

.con_icon1_index {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-position: 0px -58px;
	margin-right: 10px;
	position: relative;
}

.con_icon2 {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-position: -32px -29px;
	margin-right: 10px;
	position: relative;
}

.con_icon2_index {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-position: -32px -58px;
	margin-right: 10px;
	position: relative;
}

.con_icon3 {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-position: -65px -29px;
	margin-right: 10px;
	position: relative;
}

.con_icon3_index {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-position: -65px -58px;
	margin-right: 10px;
	position: relative;
}

.con_icon4 {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-position: -95px -29px;
	position: relative;
}

.con_icon4_index {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-position: -95px -58px;
	position: relative;
}

.con_bar_box {
	display: inline-block;
	font-size: 14px;
	color: #999;
	margin-left: 18px;
	position: relative;
	top: 17px;
}

.con_bar {
	display: inline-block;
	padding: 1px;
	width: 88px;
	border: 1px solid #e5e5e5;
	height: 16px;
	position: relative;
	top: 3px;
	margin-right: 10px;
}

.con_barline {
	display: inline-block;
	background: #ff6633;
	height: 16px;
}

.con_btn {
	float: right;
	margin-top: 20px;
	font-size: 16px;
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -15px;
}

.recharge {
	border: none;
	width: 70px;
	height: 30px;
	border-radius: 3px;
	color: #fff;
	background: #ff6633;
	cursor: pointer;
	margin-right: 20px;
}

.withdraw {
	border: none;
	width: 70px;
	height: 30px;
	border-radius: 3px;
	color: #fff;
	background: #ffc33c;
	cursor: pointer;
}

.click_icon {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.assets-hello {
	font-size: 12px;
	position: absolute;
	background: #999999;
	color: #fff;
	width: 200px;
	text-align: center;
	border-radius: 3px;
	height: 28px;
	line-height: 28px;
	top: -38px;
	left: -90px;
	z-index: 2;
	display: none;
}

.assets-hello_jiao {
	display: inline-block;
	width: 11px;
	height: 6px;
	background-position: -109px 0;
	position: absolute;
	top: 27px;
	left: 96px;
}

.assets-hello-btn {
	color: #5ca8fd;
}

.assets-hello-btn {
	color: #5ca8fd;
}

.con_wenjuan {
	font-size: 12px;
	color: #fff;
}

.con_wenjuan img {
	position: relative;
	top: 3px;
	margin-right: 5px;
}

.con_account_line {
	width: 820px;
	margin: 0 auto;
	border-bottom: 1px dashed #e5e5e5;
	padding: 24px 0;
	min-height: 10px;
	height: 60px;
}

.con_account {
	width: 820px;
	margin: 0 auto;
	border-bottom: none;
	padding: 24px 0;
	min-height: 10px;
	overflow: hidden;
}

.con_account_one {
	width: 272px;
	height: 60px;
	border-right: 1px dashed #e5e5e5;
	text-align: center;
	line-height: normal;
	float: left;
}

.con_account_two {
	width: 272px;
	height: 60px;
	border-right: none;
	text-align: center;
	line-height: normal;
	float: left;
}

.con_account_three {
	width: 409px;
	height: 60px;
	border-right: 1px dashed #e5e5e5;
	text-align: center;
	line-height: normal;
	float: left;
}

.con_account_four {
	width: 409px;
	height: 60px;
	border-right: none;
	text-align: center;
	line-height: normal;
	float: left;
}

.con_account_title {
	width: 100%;
	font-size: 14px;
	color: #999;
	position: relative;
}
.help_ifo{
	cursor: pointer;
}
.help_text{
	display: none;
	font-size: 12px;
	position: absolute;
	background: #999999;
	color: #fff;
	width: 300px;
	text-align: center;
	border-radius: 3px;
	line-height: 18px;
	padding: 5px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	top: -90px;
	left: -25px;
	z-index: 2;
}
.help_ifo:hover .help_text{
	display: block;
}

.help_text .assets-hello_jiao{
	display: inline-block;
	width: 11px;
	height: 6px;
	background-position: -109px 0;
	position: absolute;
	bottom: -5px;
	left: 146px;
	top: auto;
}
.help_text .assets_detail{
	margin: 0;
	padding: 0;
}
.assets_help{
	width: 16px;
	height: 16px;
	background: #FFC33C;
	color: #fff;
	display: inline-block;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	line-height: 16px;
	font-size: 12px;
}
.con_account_money {
	width: 100%;
	font-size: 18px;
	color: #ff6633;
	font-weight: bold;
	padding-top: 18px;
}

.con_right_title {
	width: 100%;
	height: 36px;
	padding-top: 10px;
	font-size: 16px;
	color: #333;
	line-height: 36px;
	text-align: left;
}

.con_right_titleline {
	display: inline-block;
	width: 4px;
	height: 16px;
	background: #ff6633;
	position: relative;
	top: 2px;
	margin-right: 10px;
}

.rig2_bottom {
	width: 100%;
	background: #fff;
	height: 220px;
}

.rig2_butb {
	width: 100%;
	position: relative;
	z-index:1;
}

#chartS {
	width: 220px;
	height: 220px;
	position: relative;
	float: left;
}

.chart_txt {
	width: 460px;
	text-align: left;
	line-height: normal;
	float: left;
	margin: 0 0 0 20px;
}

.chart_txt li {
	padding: 30px 0 0;
	width: 436px;
	cursor: pointer;
	border-bottom: 1px dashed #e5e5e5;
	height: 78px;
	position: relative;
	padding-left: 24px;
}

.chart_txt .no_border {
	border-bottom: none;
}

.chart_color1, .chart_color2, .chart_plan, .chart_money, .chart_number {
	display: inline-block;
	font-size: 14px;
	color: #999;
}

.chart_color1 {
	width: 14px;
	height: 8px;
	background: #ffce5c;
	position: absolute;
	left: 0px;
	top: 36px;
}

.chart_color2 {
	width: 14px;
	height: 8px;
	background: #ff8359;
	position: absolute;
	left: 0px;
	top: 36px;
}

.chart_plan {
	width: 142px;
}

.txt_color {
	color: #ff6633;
}

.txt_padding {
	display: inline-block;
	width: 100%;
	font-size: 18px;
	color: #333;
	padding-top: 12px;
}

.rig2_butp_padding {
	float: right;
	width: 124px;
	padding: 84px 20px 0 0;
}

.chart_btn {
	box-sizing: border-box;
	display: inline-block;
	width: 120px;
	height: 40px;
	border-radius: 20px;
	border: 2px solid #ff6633;
	font-size: 16px;
	color: #ff6633;
	text-align: center;
	line-height: 36px;
	transition: .3s;
}
.chart_btn:hover{
	background: #FF6633;
	color: #fff;
}
/*提示开通恒丰银行*/
.HF-bank {
	width: 333px;
	min-height: 10px;
	background: #fff;
	display: block;
	z-index: 11;
	left: 50%;
	top: 50%;
	margin-left: -166.5px;
	margin-top: -116px;
	position: fixed;
	border-radius: 10px;
	padding: 70px 0 30px;
}

.HF-close {
	position: absolute;
	top: 10px;
	right: 15px;
	cursor: pointer;
}

.HF-txt {
	font-size: 18px;
	color: #333;
	width: 100%;
	text-align: center;
	line-height: normal;
}

.HF-btnbox {
	width: 158px;
	height: 44px;
	background: #ff6633;
	margin: 40px auto 0;
	border-radius: 5px;
	text-align: center;
	line-height: 44px;
	font-size: 24px;
	color: #fff;
	cursor: pointer;
}

.HF-btnbox .HF-btn {
	font-size: 24px;
	color: #fff;
	display: block;
	width: 100%;
	height: 100%;
}

.HF-assets-bank {
	width: 500px;
	min-height: 10px;
	background: #fff;
	display: none;
	z-index: 11;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -116px;
	position: fixed;
	border-radius: 10px;
	padding: 70px 0 30px;
}

.HF-assets-btnbox {
	width: 158px;
	height: 44px;
	background: #ff6633;
	margin: 40px auto 0;
	border-radius: 5px;
	text-align: center;
	line-height: 44px;
	font-size: 24px;
	color: #fff;
	cursor: pointer;
}

/*弹窗*/
.body_bg {
	background-color: #000;
	top: 0;
	filter: alpha(opacity=50);
	opacity: 0.5;
	position: fixed;
	z-index: 10;
	left: 0px;
	width: 100%;
	height: 100%;
	display: block;
}

.alert_listthree {
	width: 574px;
	_height: 100px;
	min-height: 100px;
	background: #fff;
	display: none;
	z-index: 11;
	padding-bottom: 20px;
	left: 40%;
	top: 50%;
	margin-left: -150px;
	margin-top: -190px;
	margin-top: 0px;
	position: fixed;
	overflow: hidden;
}

.alert_listthree_h3 {
	width: 560px;
	height: 47px;
	background: #f6f6f6;
	line-height: 47px;
	font-size: 16px;
	color: #666666;
	padding-left: 14px;
}

.alert_listthree_btn {
	margin-left: 81%;
}

.alert_listthree .alert_listthree_txt {
	font-size: 16px;
	color: #333;
	width: 480px;
	_height: 50px;
	min-height: 50px;
	overflow: hidden;
	line-height: 36px;
	padding: 35px 46px 35px 46px;
}

.alert_listthree_contitle img {
	position: relative;
	top: 4px;
	margin-right: 6px;
}

.alert_listthree_contitle {
	text-align: center;
}

.alert_listthree_content .alert_listthree_contentspan, .alert_listthree_contenti {
	display: block;
	height: 36px;
	float: left;
}

.alert_listthree_contentspan {
	width: 214px;
	text-align: right;
	margin-left: 42px;
}

.alert_listthree_contenti {
	width: auto;
}

.alert_listthree_btnd {
	width: 574px;
	height: 46px;
	margin: 0 auto;
}

.alert_listthree_btnd .alert_listthree_btnl {
	width: 180px;
	height: 44px;
	background: #ff6633;
	display: block;
	text-align: center;
	line-height: 44px;
	color: #fff;
	margin: 0 auto;
	border-radius: 4px;
}

.alert_listthree_success {
	width: 100%;
	text-align: center;
}

.cpm_put {
	width: 394px;
	margin: 20px auto 0;
}

.put_wrp input.put_text {
	margin-top: 10px;
	font-size: 16px;
	width: 156px;
	padding-left: 6px;
	border: 0px;
	border-right: 1px solid #bbbbbb;
}

.retransmission {
	color: #5ca8fd;
	font-size: 14px;
	cursor: pointer;
	position: absolute;
	right: 12px;
	top: 5px;
}

.my_red_packet_number {
	padding: 2px 3px;
	border-radius: 4px;
	font-size: 14px;
}



