.bankcard{
    padding: 20px;
    background: #ffffff;
}
.tickets_title{
    height: 39px;
    border-bottom: solid 1px #e5e5e5;
    margin-bottom: 30px;
}
.tickets_title ul li{
    height: 40px;
    line-height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: solid 1px #e5e5e5;
    float: left;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
    background: #fff;
    cursor: pointer;
}
.tickets_title .tickets_title_focuse{
    border:  solid 1px #e5e5e5;
    border-top: solid 2px #ff6633;
    border-bottom: none;
}

.bankcard_list{
    margin-bottom: 160px;
}
.bankcard_card{
    width: 280px;
    height: 140px;
    border:solid 1px #e5e5e5;
    position: relative;
    padding: 25px 0;
    box-sizing: border-box;
}
.bankcard_list .card_none{
    border:dashed 1px #e5e5e5;
    padding: 35px 0;
    box-sizing: border-box;
    cursor:pointer;
}
.bankcard_card .card_ifo{
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
    padding-left:30px;
}
.bankcard_card .card_ifo img{
	float:left;
}
.bankcard_card .card_ifo span{
    display: block;
    line-height: 48px;
    margin-left: 10px;
	float:left;
}
.addcard{
    margin-bottom: 20px;
    height: 30px;
}
.bankcard_card{
    font-size: 18px;
    color: #333333;
}
.card_none p{
    text-align: center;
    font-size: 14px;
    color: #666666;
}
.safe_card{
    position: absolute;
    top: -5px;
    right: 10px;
}
.bankcard_des{
    border-top:solid 1px #e5e5e5;
    padding-top: 20px;
    text-align:left;
}
.bankcard_des h5{
    font-size: 16px;
    color: #333333;
    margin-bottom: 15px;
}
.bankcard_des p{
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}
.bankcard_step{
    float: left;
}
.bankcard_step img{
    margin-bottom: 10px;
    display: block;
}
.bankcard_step p{
    width: 140px;
    font-size: 14px;
    color: #666666;
}
