.invite_friends{

}
.invite_step , .invite_ifo{
    padding: 20px;
    background: #ffffff;
    margin-bottom: 20px;
    min-height: 200px;
}
.invite_step_title{
    font-size: 20px;
    line-height: 25px;
    color: #ff6633;
    text-align: center;
    font-weight: normal;
    margin-bottom: 15px;
}
.invite_name{
    font-size: 16px;
    color: #333;
    line-height: 20px;
    margin-bottom: 15px;
}
.invite_step_title span{
    display: inline-block;
    position: relative;
}
.invite_step_title span:before{
    content: '';
    height: 25px;width: 15px;
    position: absolute;
    left: -20px;
    background: url(../../images/assets/invite/title_left.png) center no-repeat;
}
.invite_step_title span:after{
    content: '';
    height: 20px;width: 15px;
    position: absolute;
    right: -20px;
    background: url(../../images/assets/invite/title_right.png) center no-repeat;
}
.invite_step_wrap{
    width: 220px;
    height: 220px;
    border: solid 1px #e5e5e5;
    box-sizing: border-box;
    padding: 20px 0;
}
.invite_step_ico{
    margin-bottom: 10px;
    box-sizing: border-box;
}
.invite_step_ico .invite_step_img{
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;
    border-radius: 30px;
    border: solid 1px #e5e5e5;
    background: #ffffff no-repeat center;
    box-sizing: border-box;
    position: relative;
}
.invite_step_ico .invite_step_img:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}
.invite_step_ico .invite_step_img .invite_step_mask{
    position: absolute;
    background-color: #999999;
    padding: 5px;
    border-radius: 4px;
    display: none;
    left: 50%;
    -webkit-transform: translate(-50%,-110%);
    -moz-transform: translate(-50%,-110%);
    -ms-transform: translate(-50%,-110%);
    -o-transform: translate(-50%,-110%);
    transform: translate(-50%,-110%);
    white-space: nowrap;
    z-index: 10;
}
.invite_step_ico .invite_step_img:hover .invite_step_mask{
    display: block;
}
.invite_step_ico .invite_step_img .invite_step_mask i{
    display: block;
    position: absolute;
    height: 6px;
    background: url(../../images/assets/invite/triangle.png) center no-repeat;
    left: 0;right: 0;
    bottom: -5px;
}
.invite_step_ico .invite_step_img .invite_step_mask img{
    margin: 0;
    display: inline-block;
}
.invite_step_ico p{
    line-height: 15px;
    font-size: 14px;
    color: #999;
}
.invite_step_ico p a{
    color: #999;
    text-decoration: none;
}
.invite_step_ico .invite_step_img .invite_step_mask p{
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    padding: 0 15px;
}
.invite_step_center{
    position: relative;
}
.invite_step_center:before{
    display: block;
    position: absolute;
    content: '';
    width: 20px;
    top: 0;
    bottom: 0;
    left: -20px;
    background: url(../../images/assets/invite/arrowleft.png) no-repeat center;
}
.invite_step_center:after{
    display: block;
    position: absolute;
    content: '';
    width: 20px;
    top: 0;
    bottom: 0;
    right: -20px;
    background: url(../../images/assets/invite/arrowleft.png) no-repeat center;
    clear: both;
}
.invite_step_des{
    width: 220px;
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

.invite_ifo_label{
    height: 39px;
    border-bottom: solid 1px #e5e5e5;
}
.invite_ifo_label ul li{
    height: 40px;
    line-height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: solid 1px #e5e5e5;
    float: left;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
    background: #fff;
    cursor: pointer;
}
.invite_ifo_label .ifo_label_focuse{
    border:  solid 1px #e5e5e5;
    border-top: solid 2px #ff6633;
    border-bottom: none;
}
.invite_ifo_label .ifo_label_focuse span{
    color: #ff6633;
}
.invite_bonus{
    font-size: 20px;
    color: #666666;
    margin: 20px 0 15px;
    line-height: 40px;
}
.invite_bonus span{
    color: #ff6633;
}
.invite_bonus input[type="button"]{
    border:solid 2px #ff6633;
    border-radius: 20px;
    display: block;
    float: right;
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 16px;
    color: #ff6633;
    line-height: 36px;
    background: transparent;
    transition: .3s;
}
.invite_bonus input[type="button"].btn_disabled{
    color: #999;
    border-color: #e5e5e5;
}
.invite_bonus input[type="button"]:hover{
    background: #ff6633;
    color: white;
    cursor: pointer;
}
.invite_bonus input[type="button"].btn_disabled:hover{
    cursor: default;
    color: #999;
    border-color: #e5e5e5;
    background: #fff;
}
.invite_ifo_list{
    margin-bottom: 20px;
}
.invite_ifo_list .invite_ifo_card>ul{
    border-bottom: dashed 1px #e5e5e5;
}
.invite_ifo_list .invite_ifo_card:last-child>ul{
    border-bottom: solid 1px #e5e5e5;
}
.invite_ifo_list .invite_ifo_list_title>ul>li{
    float: left;
    width: 33.33%;
    text-align: center;
    font-size: 16px;
    color: #333;
    background: #f2f2f2;
    line-height: 40px;
}
.invite_ifo_list .invite_ifo_card>ul>li{
    float: left;
    width: 33.33%;
    text-align: center;
    font-size: 14px;
    color: #666;
    line-height: 50px;
}
.invite_ifo_list .invite_ifo_card>ul>li.output{
    color: #ffc33f;
}
.invite_ifo_list .invite_ifo_card>ul>li.income{
    color: #ff6633;
}
.invite_ifo_content{
    display: none;
}
.invite_ifo .list_show{
    display: block;
}

.invite_ifo_list .invite_ifo_card>ul>.invite_amount,.invite_ifo_list .invite_ifo_list_title>ul>.invite_amount{
    padding-left: 110px;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.invite_ifo_rule,.invite_ifo_rule>li{
    text-align: left;
}
.invite_ifo_rule{
    padding: 0 20px;
    margin-top: 30px;
}
.invite_ifo_rule li,.invite_ifo_rule_des{
    font-size: 14px;
    color: #666666;
    margin-bottom: 20px;
    text-align: left;
    position: relative;
    line-height: 20px;
}
.invite_ifo_rule>li .invite_ifo_subrule{
    margin-top: 20px;
    padding-left: 15px;
}
.invite_ifo_rule li>span,.invite_ifo_rule_des span{
    color: #ff6633;
}
.invite_ifo_rule li h3{
    float: left;
    width: 140px;
    text-align: center;
    line-height: 30px;
    position: relative;
    background: #ff6633;
    font-size: 14px;
    color: #fff;
}
.invite_ifo_rule>li>h3 span{
    position: absolute;
    left: 0;
    bottom: -5px;
    background: url(../../images/regular/regular_index/title.png) no-repeat;
    width: 5px;
    height: 5px;
}
.invite_ifo_rule li .zan_calculator{
    float: right;
    line-height: 30px;
    width: 170px;
    background: #FFC33C;
    color: #fff;
    font-size:14px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    text-align: center;
    cursor: pointer;
}
.invite_ifo_rule li .zan_calculator .calculator_ico{
    width: 30px;
    height: 30px;
    background: url(../../images/assets/invite/zan_calculator.png) no-repeat center;
    float: left;
}
.no_content{
    padding-top: 50px;
    text-align: center;
    font-size: 14px;
    color: #999;
}

/*提现奖励金弹窗*/
.popup_bg{background-color: #000;top: 0;filter: alpha(opacity=50);opacity: 0.5;position: fixed;z-index: 10; left: 0px;width:100%;height:100%;display:none;}
.popup-bank{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 500px;
    padding: 60px 40px;
    background: #fff;
    display: none;
    z-index: 11;
    left: 50%;
    top: 50%;
    margin-left: -272px;
    margin-top: -222.5px;
    position: fixed;
}

.popup-bank-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.popup-bank-btnbox {
    width: 352px;
    height: 40px;
    line-height: 40px;
}

.popup-bank-btnbox .popup-bank-btn {
    font-size: 16px;
    background: #ff6633;
    color: #fff;
    display: block;
    float: right;
    width: 240px;
}

.popup-bank_ul {

}

.popup-bank_ul .popup-bank_li {
    height: 42px;
    margin-bottom: 20px;
    line-height: 40px;
}

.popup-bank_ul .popup-bank_li_margin {
    margin-bottom: 0;
}

.popup-bank_left {
    width: 110px;
    height: 42px;
    line-height: 42px;
    float: left;
    text-align: right;
    font-size: 14px;
    color: #999;
}

.popup-bank_right {
    width: 242px;
    height: 42px;
    float: left;
}
.popup-bank_right .popup-bank_rightinput {
    width: 210px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    color: #999;
    background: #f5f5f5;
    padding: 0 15px;
    line-height: 40px;
    height:40px;
}

.popup-bank_right .popup-bank_rightinputcopy {
    width: 150px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    color: #999;
    padding: 0 15px;
    float: left;
}

.popup-bank_balancespan {
    display: block;
    width: auto;
    height: 30px;
    float: left;
    color: #999;
}

.popup-bank_li .popup-bank_balancea {
    display: block;
    width: auto;
    height: 30px;
    float: right;
    color: #FF6633;
}

.popup-bank_li .forget_pwd_a {
    display: block;
    width: auto;
    height: 30px;
    float: left;
    color: #FF6633;
}

.rig2_3_rule {
    width: 680px;
    height: 146px;
    margin: 20px auto 0;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.rig2_3_title {
    width: 100%;
    font-size: 16px;
    color: #333;
    line-height: 28px;
}

.rig2_3_content {
    width: 100%;
    font-size: 12px;
    color: #666;
    line-height: 20px;
}

.HF-draw_select {
    width: 240px;
    height: 42px;
    float: left;
}

.HF-selec_img {
    width: 210px;
    border: 1px solid #e5e5e5;
    height: 30px;
    font-size: 14px;
    color: #999;
    padding: 5px 15px;
    background: #f5f5f5;
}
.HF-selec_img span{
    font-size: 14px;
    color: #666;
    line-height: 30px;
    float: left;
}

.HF-sec_img {
    float: left;
    width: 30px;
    margin-right: 15px;
}

.popup-bank-bottomtxt {
    padding-left: 110px;
    text-align: left;
    font-size: 14px;
    color: #999;
    padding-top: 10px;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #f5f5f5 inset;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
    -webkit-box-shadow: 0 0 0 1000px #f5f5f5 inset;
}

/*分页*/
.fenye{height:30px;line-height: 30px; text-align:center;margin-top:20px;}
.fenye a{float: left;display: inline-block;font-size: 14px;color:#666;background-color:#fff;border:1px solid #e4e4e4;}
.fy_l{width:70px;box-sizing:border-box;height:30px;background:url(../../images/fenye_left.png) no-repeat 15px 9px;padding-left: 15px;margin-right:10px;}
.fy_ll{width:30px;height:30px;box-sizing:border-box;background:url(../../images/fenye_left.png) no-repeat center;margin-right:10px;}
.fenye .fy_c{width:30px;height:30px;border-left: 1px solid #e4e4e4;border-right: 1px solid #e4e4e4;color:#999;text-align: center;margin-right:10px;box-sizing:border-box;}
.fy_rr{width:30px;height:30px;background:url(../../images/fenye_right.png) no-repeat center;box-sizing:border-box;margin-right:10px;}
.fy_r{width:70px;height:30px;background:url(../../images/fenye_right.png) no-repeat 49px 9px;padding-right: 15px;box-sizing:border-box;}

.fenye_wrap{
    display:inline-block;
}

.fenye .fenye_wrap .fy_atpage{
    background:#ff6633;
    border:none;
    color:#fff;
}

/*无记录*/
.Investment_tr_title_null{width:100%;height:254px;text-align: center;padding-top: 46px;font-size: 14px;color: #999;line-height: 40px;}
.Investment_tr_title_null_zan_div,.Investment_tr_title_null_div{width: 100%;min-height: 1px;display: block;}
.Investment_tr_title_null>img{
    display: block;
    margin: auto;
}

/*赞分期奖励金计算器*/
.zan_calculator_bg{
    position: fixed;
    top:0;bottom: 0;
    left:0;
    right:0;
    display: none;
    z-index: 15;
    overflow-y:scroll;
}
.zan_calculator_wrap{
    width: 660px;
    position: absolute;
    z-index: 15;
    background: #fff;
    left: 50%;
    margin-left: -370px;
    top:100px;
    padding: 0 40px 40px;
    margin-bottom: 100px;
}
.zan_calculator_close{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.zan_calculator_wrap h4{
    line-height: 60px;
    font-size:18px;
    color: #333;
    text-align: center;
    border-bottom:dashed 1px #e5e5e5;
    margin-bottom: 30px;
}
.zan_data{
    height: 40px;
    margin-top: 20px;
    line-height: 40px;
}
.zan_data .zan_data_left{
    float: left;
    text-align: right;
    font-size:14px;
    color: #999;
    width: 190px;
}
.zan_data .zan_data_input{
    float: left;height: 40px;
    line-height: 40px;
    width: 470px;
    text-align: left;
    font-size: 14px;
    color: #999;
    position: relative;
}
.zan_data .zan_data_input input,.zan_data .zan_data_input .zan_data_chosen{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    line-height: 38px;
    border:solid 1px #e5e5e5;
    background: #f5f5f5;
    padding: 0 15px;
    width: 280px;
    margin-right: 10px;
    float: left;
}
.zan_data .zan_data_input .zan_data_chosen{
    margin-top: 0;
    line-height: 40px;
    color: #666;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}
.zan_data .zan_data_input .zan_data_chosen span{
    width: 15px;
    height: 7px;
    background: url(../../images/assets/bankcard/quick1.png) center no-repeat;
    position: absolute;
    right: 10px;
    top: 15px;
}
.zan_data .zan_data_input .data_chosen_focuse span{
    background: url(../../images/assets/bankcard/quick2.png) center no-repeat;
}
.zan_data .zan_data_input .zan_data_times{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    position: absolute;
    top:39px;
    z-index: 16;
    width: 280px;
    max-height: 164px;
    overflow-y: scroll;
    border: solid 1px #e5e5e5;
    border-top:none;
}
.zan_data .zan_data_input .zan_data_times li{
    line-height: 40px;
    background: #f5f5f5;
    color: #666;
    font-size: 14px;
    border-bottom: dashed 1px #e5e5e5;
    padding-left: 15px;
    cursor: pointer;
}
.zan_data .zan_data_input .zan_data_times li:hover{
    color: #FF6633;
}
.zan_data .zan_data_input .zan_data_times li:last-child{
    border-bottom: none;
}
.zan_data .zan_data_input select option:hover{
    color: #FF6633;
}
.zan_data .zan_data_input p{
    margin-top: 10px;
    font-size: 12px;
    color: #999;
    float: left;
    width: 100%;
    line-height: 15px;
}
.color_font{
    color: #FF6633!important;
}
.zan_btn{
    margin-top: 20px;
}
.zan_btn a{
    display: block;
    height: 40px;
    line-height: 40px;
    width: 280px;
    background: #FF6633;
    color: #fff;
    margin: 0 auto 10px;
    font-size: 14px;
    text-align: center;
}
.zan_btn p{
    font-size: 12px;
    color: #999;
}
.zan_calculate_result{
    border-top:solid 1px #e5e5e5;
    margin-top: 30px;
    padding-top: 30px;
    display: none;
}
.zan_calculate_result h5{
    color: #333;
    font-size:18px;
    margin-bottom: 10px;
    line-height: 20px;
    text-align: center;
}
.result_tips{
    height: 15px;
    margin-bottom: 20px;
}
.result_tips p{
    font-size:12px;
    color: #999;
    line-height: 15px;
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
}
.result_list{
    border: solid 1px #e5e5e5;
    overflow-y:scroll;
    max-height: 245px;
}
.result_list_title{
    height: 40px;
    line-height: 40px;
    background: #f5f5f5;
}
.result_list_title p{
    float: left;
    width: 50%;
    text-align: center;
    font-size: 14px;
    color: #333;
    line-height: 40px;
}
.result_list_card{
    height: 50px;
    line-height: 50px;
    border-bottom: dashed 1px #e5e5e5;
}
.result_list .result_list_card:last-child{
    border-bottom:none;
}
.result_list_card p{
    line-height: 50px;
    float: left;
    width: 50%;
    font-size: 14px;
    color: #666;
    text-align: center;
}


/***************************************加息券新增***************************************************/


.Increase_help{
    display: none;
    text-align: left;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: solid 1px #e5e5e5;
    padding: 10px 15px;
    line-height: 15px;
    font-size: 12px;
    color: #999;
    width: 200px;
    left: -92px;
    bottom: 30px;
    background: #f5f5f5;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.Increase_mark{
    z-index: 4;
    background: #e5e5e5;
    color: #fff;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.Increase_mark:hover{
    background: #ffc33c;
}
.Increase_mark:hover .Increase_help{
    display: block;
}
.help_triangle{
    position: absolute;
    left: 50%;
    bottom: -8px;
    margin-left: -7px;
}