.int_warp{width:680px; margin:26px auto 0px;}
.int_friend{width:779px;margin-bottom: 20px; background:white; border:1px solid #eeeeee; border-radius: 8px; /* position: relative; top:100px; left:100px; */padding-bottom: 10px;}
.int_friend_frame{
    border:solid 1px #cccccc;
    border-top-color:transparent;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.int_header{ width:100%; height:99px;text-align: center;border-radius: 8px 8px 0px 0px; background: url(../../images/int_head.jpg) no-repeat; position: relative;}
.int_eve{display: inline-block;font-size: 18px;color:white; margin-top:70px;}
.weichat_hei{ height:20px;line-height:20px;}
.weichat{ width:auto;float:left;height:auto; border-left:3px solid #ff6633; text-align: center; font-size: 18px; color:#222222; padding-left:12px;}
.weichat_link{float: right; margin-right:215px;}
.int_er_wp{float:left; text-align: center; width:178px; height:161px; margin:28px 0px 30px 82px; }
.er_info{ margin-top:19px; font-size: 16px; color:#666666;}
.int_link_wp{ width:327px; height:163px; float: right; margin:28px 0px 0px 0px;}
input.link_bor{ display:block; margin:0 auto; font-size: 16px; color:#969696; width:319px; height:43px; line-height: 43px; border:1px solid #cfcfcf; text-align: center;}
.link_btn_wp{ width:324px; height:73px;border-radius: 6px;  background: #eeeeee; position: relative; margin-top:43px;}
.link_btn_wp:after{content: ""; position: absolute;bottom: 100%;left:50%;margin-left:-20px; border-bottom:22px solid #eeeeee;border-left:20px solid transparent;border-right:20px solid transparent;}
.link_btn{ width:135px; height: 43px; font-size: 16px; color:white; line-height: 43px; text-align: center; display: inline-block; border-radius: 6px; margin:17px 12px; cursor: pointer;}
.btn_one{ background: #ff6633;}
.btn_two{background: #ff9900;}
.link_weibo{vertical-align: middle;position: relative;left: -5px; font-size: 16px;}
.invite_tab_wp{ width:100%; height:auto;clear:both;}
.tab_ul{ width:100%; height:39px; margin: 0px;}
.tab_ul .tab_list{ width:108px; height:38px;line-height: 38px;font-size: 16px; text-align: center; float: left; color:black; cursor: pointer;}
.tab_ul .active{ background: #ff6633; color:white;}
.tab_line{height:1px;clear: both; width:100%; background: #ff6633;margin-top: -1px;}
.one_h3{float:left; font-size: 24px; line-height: 24px; color:black; padding-left:88px; padding-top:27px;display: inline-block;}
.one_cor{ color:#ff6633; }
.content_wp{ height:51px;}
.main_one .one_btn{float: right; width:197px; height:43px; line-height: 43px; text-align: center; background: #ff6633; border-radius: 6px; color:white; margin:17px 30px 0px; font-size: 16px;}
.main_one .one_gray{background:#a3a3a3;}
.one_btn:hover{ color:white; }
.one_btn:visited{color:white; }
.one_h4{font-size: 12px;clear: both;padding-top: 10px;text-align: center;}
.one_title{background: #eeeeee;}
.one_ul{ max-height:340px; overflow:auto;min-height:1px;}
.two_ul{max-height:340px; overflow:auto;min-height:1px;}
.no_content{text-align:center;padding: 10px 0;font-size: 15px;}
.table{ width:100%;height:auto; border:1px solid #e5e5e5;clear: both; margin-top: 18px;}
.table .ble_item{width:33.2%; height:35px;line-height:35px;font-size:16px;border-right:1px solid #e5e5e5;text-align: center; display: inline-block; border-top:1px solid #e5e5e5;}
.table .ble_gray{/* background: #eeeeee; */border-top:0px;width:226px;}
.one_out{color:#3393ff;}
.table .bor_none{border-right:0px;}
.tab_main ul{ margin:0px;}
.main_one{ display: block; opacity:1;}
.main_two{ display: none; opacity:0;}
.main_three{display: none; opacity:0;}
.main_two .table{ margin-top:37px; }
.three_ul{padding:26px 0px;}
.three_item{ font-size: 14px; color:#666666; line-height: 14px; margin-bottom: 10px;padding-left: 22px;}
.three_p{margin-top:10px;}
.three_sal{padding-right:20px; }

/*申请提现弹窗*/
.popup_bg{background-color: #000;top: 0;filter: alpha(opacity=50);opacity: 0.5;position: fixed;z-index: 10; left: 0px;width:100%;height:100%;display:none;}
.popup-bank{width:544px;min-height:10px;background:#fff;display:none;z-index: 11;left: 50%;top: 50%;margin-left: -272px;margin-top: -222.5px;position: fixed;border-radius:10px;padding:70px 0 30px;}
.popup-bank-close{position:absolute;top:20px;right:20px;cursor:pointer;}
.popup-bank-btnbox{width:260px;height:40px;background:#ff6633;margin:40px auto 0;border-radius:5px;text-align:center;line-height:40px;}
.popup-bank-btnbox .popup-bank-btn{font-size:16px;color:#fff;display:block;width:100%;height:100%;}
.popup-bank_ul{width:450px;margin:0 auto;}
.popup-bank_ul .popup-bank_li{width:100%;height: 40px;margin-bottom: 20px;line-height: 40px;}
.popup-bank_ul .popup-bank_li_margin{margin-bottom:0;}
.popup-bank_left{width:110px;height:40px;float: left;text-align: right;font-size: 14px;color: #666;}
.popup-bank_right{width:320px;height:40px;float: left;padding-left:20px;}
.popup-bank_right .popup-bank_rightinput{width:290px;border:1px solid #e4e4e4;font-size: 14px;color: #999;padding:10px 0 10px 10px;}
.popup-bank_right .popup-bank_rightinputcopy{width:150px;border:1px solid #e4e4e4;font-size: 14px;color: #999;padding:10px 0 10px 10px;float: left;}
.popup-bank_balancespan{display:block;width:auto;height:30px;float: left;color: #999;}
.popup-bank_li .popup-bank_balancea{display:block;width:auto;height:30px;float: right;color: #2da3de;margin-right:18px;}
.popup-bank_li .forget_pwd_a{display:block;width:auto;height:30px;float: right;color: #2da3de;margin-right:18px;}
.rig2_3_rule{width:680px;height:146px;margin:20px auto 0;border-top:1px solid #ccc;padding-top:10px;}
.rig2_3_title{width:100%;font-size: 16px;color: #333;line-height: 28px;}
.rig2_3_content{width: 100%;font-size: 12px;color: #666;line-height: 20px;}
.HF-draw_select{width:320px;height:40px;float: left;padding-left:20px;}
.HF-selec_img{width:300px;border:1px solid #e4e4e4;font-size: 14px;color: #999;}
.HF-sec_img {float: left;width: 30px;margin: 4px 9px 0 9px;}
.popup-bank-bottomtxt{width:100%;text-align:center;font-size:14px;color:#999;padding-top:10px;}
.rig2_3_rule table,.rig2_3_rule td,.rig2_3_rule tr{
    vertical-align: middle;
    border:solid 1px #cccccc;
}
.rig2_3_rule td{
    padding: 5px 0;
}

