.body{
	width: 100%;
	height: 100%;
	background: #f5f5f5;
	font-family: "微软雅黑";
}
.Investment_warp{
	width:100%; 
}
.money_play_box {
	margin-bottom:60px;
}
.swiper-container {
	width: 100%;
	overflow:hidden;
}
.swiper-wrapper{
	padding:20px;
	background:#fff;
}
ul ul, ul ol, ol ol, ol ul {
    margin: 0;
}
/*回款*/
.money_play1{
	position:relative;
}
.money_play2{
	
}
.money_play_tab{
	height: 39px;
    border-bottom: solid 1px #e5e5e5;
    margin-bottom: 20px;
}
.money_play_tab_btn{
	
}
.money_play_tab_btn li.money_play_tab_btn_list{
	height: 40px;
    line-height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: solid 1px #e5e5e5;
    float: left;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
    background: #fff;
    cursor: pointer;
}
.money_play_tab_btn li.focuse{
	border: solid 1px #e5e5e5;
    border-top: solid 2px #ff6633;
    border-bottom: none;
}

.money_play_red{
	text-align:left;
}
.money_play_tr_tips{
	font-size:14px;
	color:#666;
	margin-bottom:15px;
}
.money_play_tr_title_txt .money_play_tr_title_span{
	float: left;
    width: 20%;
    line-height: 40px;
    text-align: center;
    color: #333;
    font-size: 14px;
    background: #f5f5f5;
    box-sizing:border-box;
    position:relative;
}
.money_play_tr_title_num{
	
}
.money_play_tr_title_num .money_play_tr_title_li{
	border-bottom:dashed 1px #e5e5e5;
	height: 70px;
}
.money_play_tr_title_num .money_play_tr_title_li .money_play_td{
	width: 20%;
    height: 70px;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #666666;
    line-height: 30px;
    padding-top: 20px;
    box-sizing: border-box;
    padding:20px 0;
}
.money_play_tr_title_num .money_play_tr_title_li .money_play_color{
	color:#ff6633;
}
.money_play_tr_title_li .money_play_td span{
	padding: 0 15px;
	display:block
}
.money_play_tr_title_li .money_play_tr_title_spanbtn{
	line-height:30px;
	height:30px;
	width:70px;
	display:inline-block;
	font-size:14px;
	color:#fff;
	background:#ff6633;
	border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
}
.money_play_tr_title_li .money_play_btn_after{
	
}
.money_play_tr_title_spanselect{
	
}
.select_img{
	
}
.money_play_tr_title_span .money_play_select{
	position:relative;
	display:inline-block;
	width:100px;
	line-height:30px;
	box-sizing:border-box;
	border:solid 1px #e5e5e5;
	background:#fff;
	font-size:14px;
	color:#ff6633;
	padding: 0 20px;
	text-align:left;
	cursor:pointer;
}
.money_play_tr_title_span .money_play_select:after{
	content:"";
	position:absolute;
	right:0;top:0;bottom:0;
	width:20px;
	background:url(../../images/assets/paymentPlant/select.png) center no-repeat;
}
.money_play_selectchild{
	position:absolute;
	bottom:-55px;
	left:32px;
	border:solid 1px #e5e5e5;
	border-top:none;
	box-sizing:border-box;
	display:none;
}
.money_play_selectchild li{
	line-height:30px;
	box-sizing:border-box;
	background:#fff;
	width:98px;
	cursor:pointer;
}
.money_play_selectchild .liclick{
	
}
.money_play_detail_top{
	text-align:left;
	margin-bottom:15px;
}
.money_play_detail_top .money_play_child_spanbtn{
	float:right;
	font-size:14px;
	color:#ff6633;
}
@media screen and (min-width: 0px){
	
}

/*无记录*/
.money_play_tr_title_null {
	height: 300px;
	text-align: center;
	padding-top: 60px;
}
.payment_plant_null_img{
	height: 220px;
	background: url(../../images/assets/investManage/null_bg.png) no-repeat center;
	margin-bottom: 20px;
}
.money_play_tr_title_null p,.money_tr_title_null p,.money_past_tr_title_null p{
	color: #999;
	font-size: 16px;
	text-align: center;
}
.money_past_tr_title_null {
	height: 300px;
	text-align: center;
	padding-top: 60px;
}

.money_tr_title_null {
	height: 300px;
	text-align: center;
	padding-top: 60px;
}

/*子页面*/
.money_play_child_color {
	color: #ff6633;
}
.fenye{height:30px;line-height: 30px; text-align:center;margin-top:20px;}
.fenye a{float: left;display: inline-block;font-size: 14px;color:#666;background-color:#fff;border:1px solid #e4e4e4;}
.fy_l{width:70px;box-sizing:border-box;height:30px;background:url(../../images/fenye_left.png) no-repeat 15px 9px;padding-left: 15px;margin-right:10px;}
.fy_ll{width:30px;height:30px;box-sizing:border-box;background:url(../../images/fenye_left.png) no-repeat center;margin-right:10px;}
.fenye .fy_c{width:30px;height:30px;border-left: 1px solid #e4e4e4;border-right: 1px solid #e4e4e4;color:#999;text-align: center;margin-right:10px;box-sizing:border-box;}
.fy_rr{width:30px;height:30px;background:url(../../images/fenye_right.png) no-repeat center;box-sizing:border-box;margin-right:10px;}
.fy_r{width:70px;height:30px;background:url(../../images/fenye_right.png) no-repeat 49px 9px;padding-right: 15px;box-sizing:border-box;}

.fenye_wrap{
	display:inline-block;
}

.fenye .fenye_wrap .fy_atpage{
	background:#ff6633;
	border:none;
	color:#fff;
}