.question{
    width: 1080px;
    background: white;
    padding: 50px 0;
    margin: 50px auto 140px;
}
.question h2{
    font-size: 24px;
    color: #ff6633;
    font-weight:bold;
    text-align: center;
    margin-bottom: 50px;
}
.question-des{
    padding: 0 40px 30px;
    text-indent:2em;
    border-bottom:dashed 1px #e5e5e5;
}
.question-des p{
    font-size: 14px;
    color: #666666;
    line-height: 20px;
    margin-bottom: 20px;
}
.question-des .des-title,.question-frame h5{
    font-size: 16px;
    color: #444;
    font-weight:bold;
    line-height: 25px;
    text-indent:0;
}
.question-list{
    padding: 0;
}
.question-frame{
    padding: 30px 40px;
    border-bottom:dashed 1px #e5e5e5;
}
.question-frame {
    font-size: 16px;
    color: #444;
}
.question-frame h5{
    margin-bottom: 20px;
}
.question-frame label{
    line-height: 36px;
    font-size: 14px;
    color:#666;
    padding-left: 30px;
    position: relative;
}

input[type="radio"] {
    -webkit-appearance: none; /* remove default */
    display: inline-block;
    margin: 0;
    margin-right: 15px;
    width: 16px;
    height: 16px;
    position: relative;
    top: -2px;
    border-radius: 8px;
    cursor: pointer;
    vertical-align: middle;
    border:solid 1px #dcdcdc;
    background-color: #fafafa;
    background-repeat: no-repeat;
}
input[type="radio"]:checked{
    background: url(../../images/assets/questionnaire/checked_dot.png) 60% no-repeat;
    background-position: 50%, 50%;
}

.question-frame label:hover{
    background: #f9f9f9;
    cursor: pointer;
}
.question-frame label span{
    position: absolute;
    top: 10px;  left: 0;
    width: 16px;
    height: 16px;
    background: url(../../images/assets/questionnaire/radio_style.png) no-repeat;
    z-index: 2;
    background-position: 50%, 50%;
}
.question-frame .label-focus{
    color: #ff6633;
    font-weight:bold;
    position: relative;
}
.question-frame input{
    display: none;
    position: absolute;
}
.question-frame .label-focus span{
    background: url(../../images/assets/questionnaire/checked_dot.png) no-repeat;
}
.question-btn{
    text-align: center;
    padding-top: 50px;
}
.question-btn input{
    line-height: 36px;
    display: inline-block;
    width: 116px;
    border:solid 2px #ff6633;
    background: transparent;
    font-size: 16px;
    color: #ff6633;
    border-radius: 20px;
    padding: 0;
    box-sizing: content-box;
    cursor: pointer;
    transition: .5s background , .5s color;
}
.question-btn input:hover{
    color: #fff;
    background: #ff6633;
    border: none;
    line-height: 40px;
    width: 120px;
}

.question-frame .error-color{
    color: #f83030;
}

/*评测结果*/
.result{
    width: 1080px;
    background: white;
    margin: 50px auto 140px;
}
.assest_result{
	background: white;
	margin-bottom:60px;
}
.question-result{
    height: 300px;
    position: relative;
}
.result-content{
    position: absolute;
    top:0;  left:0;bottom: 0;right: 0;
    text-align: center;
}
.result-content-main{
    margin-top: 50px;
}

.result-title{
    width: 180px;
    background: rgba(255,255,255,.2);
    line-height: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: white;
    font-size: 14px;
    margin: 30px auto;
}
.result-content-main p{
    color: white;
    font-size: 16px;
}
.result-des{
    padding: 30px 40px 70px;
}
.result-destext{
    line-height: 30px;
    min-height: 90px;
    font-size: 16px;
    color: #444444;
    margin-bottom: 20px;
    padding-left: 10px;
    position: relative;
    text-align:left;
}
.result-destext:before{
    content: "*";
    color: #FF6633;
    font-size: 16px;
    position: absolute;
    top: 5px;
    left: 0;
    line-height: 20px;
}
.result-btn{
    margin-bottom: 20px;
    text-align: center;
}
.result-btn a{
    line-height: 36px;
    display: inline-block;
    width: 116px;
    border:solid 2px #ff6633;
    background: transparent;
    font-size: 16px;
    color: #ff6633;
    border-radius: 20px;
    padding: 0;
    box-sizing: content-box;
    cursor: pointer;
    transition: .5s background , .5s color;
}
.result-btn a:hover{
    color: #fff;
    background: #ff6633;
    border: none;
    line-height: 40px;
    width: 120px;
}
.result-tips{
    color: #c5c5c5;
    font-size: 14px;
    text-align: center;
    line-height: 15px;
}
.result-none{
    line-height: 70px;
    font-size: 60px;
    color: white;
    letter-spacing: .2em;
}
.result_null{
	line-height: 30px;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    position: relative;
    margin-top:70px;
}
.isexpire{
    margin-top: -20px;
    text-align: center;
}