.trade_detail{
	background:#fff;
	padding: 20px 20px 40px;
}
.detail_title{
	background: #f5f5f5;
}
.detail_title>ul>li{
	box-sizing: border-box;
	line-height: 40px;
	width: 20%;
	float: left;
	font-size: 14px;
	color: #666;
}
.detail_card .detail_color{
	color: #ff6633;
}
.detail_card>ul>li{
	box-sizing: border-box;
	line-height: 50px;
	width: 20%;
	float: left;
	font-size: 14px;
	color: #666;
}
.detail_card>ul{
	border-bottom: dashed 1px #e5e5e5;
}
.detail_card_details{
	border:solid 1px #e5e5e5;
	background: #f5f5f5;
	position: relative;
	top: -1px;
	display: none;
}
.detail_card_details_card>ul>li{
	box-sizing: border-box;
	line-height: 50px;
	width: 33.333%;
	float: left;
	font-size: 14px;
	color: #666;
}
.detail_card_btn{
	display: none;
	position: relative;
	font-size: 14px;
	color: #c5c5c5;
}


.detail_card>ul>li .detail_card_btn:first-child:after{
	background: none;
}
.detail_card_btn:after{
	content: "";
	position: absolute;
	right: -20px;
	width: 20px;
	top:0;bottom: 0;
}
.detail_card>ul>li.detail_color .detail_card_btn:after{
	background: url(../../images/assets/arrowup_able.png) center no-repeat;
}
.detail_card>ul>li.detail_color .detail_card_btn:first-child:after{
	background: url(../../images/assets/arrowdown_able.png) center no-repeat;
}
.detail_card .btn_show{
	display: inline-block;
}
.detail_card .detail_color .btn_show{
	cursor: pointer;
	color: #ff6633;
}

/*分页*/
.fenye{height:30px;line-height: 30px; text-align:center;margin-top:20px;}
.fenye a{float: left;display: inline-block;font-size: 14px;color:#666;background-color:#fff;border:1px solid #e4e4e4;}
.fy_l{width:70px;box-sizing:border-box;height:30px;background:url(../../images/fenye_left.png) no-repeat 15px 9px;padding-left: 15px;margin-right:10px;}
.fy_ll{width:30px;height:30px;box-sizing:border-box;background:url(../../images/fenye_left.png) no-repeat center;margin-right:10px;}
.fenye .fy_c{width:30px;height:30px;border-left: 1px solid #e4e4e4;border-right: 1px solid #e4e4e4;color:#999;text-align: center;margin-right:10px;box-sizing:border-box;}
.fy_rr{width:30px;height:30px;background:url(../../images/fenye_right.png) no-repeat center;box-sizing:border-box;margin-right:10px;}
.fy_r{width:70px;height:30px;background:url(../../images/fenye_right.png) no-repeat 49px 9px;padding-right: 15px;box-sizing:border-box;}

.fenye_wrap{
	display:inline-block;
}

.fenye .fenye_wrap .fy_atpage{
	background:#ff6633;
	border:none;
	color:#fff;
}
/*无记录*/
.Investment_tr_title_null{width:100%;height:254px;text-align: center;padding-top: 46px;font-size: 14px;color: #999;line-height: 40px;}
.Investment_tr_title_null_zan_div,.Investment_tr_title_null_div{width: 100%;min-height: 1px;display: block;}
.Investment_tr_title_null>img{
	display: block;
	margin: auto;
}