

.draw_bank_card{
    width: 380px;
    margin: 20px auto 40px;
}
.withdraw_bank{
    width: 260px;
    height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f5f5f5;
    border: solid 1px #e5e5e5;
    line-height: 38px;
    color: #666;
    font-size:14px;
    float: left;
}
.withdraw_bank img{
    width: 30px;
    margin: 4px 10px;
    float: left;
}
.withdraw_bank span{
    float: left;
}
.withdraw .trade_input>p{
    width: 110px;
    text-align: right;
}
.withdraw .trade_input .trade_data{
    width: 260px;
    float: left;
    line-height: 40px;
    height: 40px;
    margin-bottom: 10px;
}
.cad_mest{
    width: 260px;
    float: left;
    padding-left: 5px;
}
.cad_mest label{
    float: left;
    font-size: 14px;
    color: #999;
    line-height: 40px;
    height: 40px;
    width: 50%;
    cursor: pointer;
}
.cad_mest label>input[type = "radio"]{
    position: absolute;
    display: none;
}
.cad_mest_dot{
    width: 20px;
    height: 20px;
    float: left;
    margin: 10px;
    margin-left: 0;
    background: url(../../images/assets/unchecked.png);
}
.clearaccount{
    display: block!important;
    height: 0!important;
    width: 0!important;
    border: none!important;
    margin: 0!important;
    padding: 0!important;
}
.cad_mest .label_focuse{
    color: #FF6633;
}
.label_focuse .cad_mest_dot{
    background: url(../../images/assets/selected.png);
}
.withdraw_all{
    position: absolute;
    line-height: 20px;
    right: 0;
    top:10px;
    padding: 0 10px;
    border-left: solid 1px #e5e5e5;
    font-size: 14px;
    color: #FF6633;
    cursor: pointer;
}
.forget_pwd_a{
    display: block;
    margin-left: 115px;
    font-size: 12px;
    color: #FF6633;
    margin-top: 10px;
    float: left;
    cursor: pointer;
}
.sub_apply_withdraw{
    display: block;
    width: 260px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #FF6633;
    font-size: 14px;
    text-align: center;
}
#show_text{
    font-size: 12px;
    color: #999;
}
.trade_rule{
    border-top:solid 1px #e5e5e5;
    padding-top: 20px;
}
.trade_rule table{
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: #666;
    width: 100%;
}
.trade_rule table tr td{
    border: solid 1px #e5e5e5;
    vertical-align: middle;
    text-align: center;
}
.trade_rule ul {
    padding-left: 20px;
}
.trade_rule ul li {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}
.trade_rule ul, .trade_rule ul li {
    list-style: square;
}

.overwrap .withdraw_sure{
    margin-top: -90px;
}