body {
	width: 100%;
	margin: 0 auto;
	font-family: "微软雅黑";
	background: #f5f5f5;
}

.detailsMain {
	width: 1048px;
	margin: 20px auto 100px;
	background: #fff;
	padding: 16px 16px 60px;
}

.detailsBox {
	width: 100%;
	margin: 0 auto;
	height: 260px;
	border-bottom: 1px solid #e5e5e5;
}

.detailsIndex {
	width: 320px;
	height: 221px;
	float: left;
}

.detailsIndexImg {
	display: block;
	width: 100%;
	height: 100%;
}

.detailsTitle {
	width: 680px;
	float: right;
	height: 199px;
	padding-top: 22px;
}

.detailsTitleName {
	width: 346px;
	font-size: 20px;
	color: #333;
	line-height: 30px;
	height:60px;
	font-weight:600;
}

.detailsTitleNum {
	width: 100%;
	font-size: 14px;
	color: #999;
	line-height: 18px;
	margin: 14px auto 26px;
}

.detailsTitleNumTxt {
	font-size: 18px;
	color: #f63;
	position:relative;
	top:1px;
}

.detailsTitleBtn {
	width: 280px;
	height: 40px;
	background: url(../../images/commodity/details01.png) no-repeat center;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
}
.detailsTitleBtnNone{
	width: 280px;
	height: 40px;
	background: url(../../images/commodity/details07.png) no-repeat center;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
}
.detailsRule {
	width: 100%;
	margin: 0 auto;
}

.detailsRuleTitle {
	width: 1035px;
	height: 30px;
	line-height: 30px;
	font-size: 24px;
	color: #333;
	position: relative;
	padding-left: 13px;
	margin: 34px auto 9px;
}

.detailsRuleTitleIcon {
	display: inline-block;
	width: 4px;
	height: 30px;
	background: #f63;
	position: absolute;
	left: 0;
	top: 0;
}

.detailsRuleTxt {
	width: 1003px;
	padding: 0 16px;
	font-size: 14px;
	color: #666;
	line-height: 28px;
}

.detailsRuleTxt img {
	width: 900px;
	display: block;
	margin: 24px auto;
}

.detailsBg {
	opacity: 0.5;
	filter: alpha(opacity=50);
	background-color: #000;
	top: 0;
	filter: alpha(opacity=50);
	opacity: 0.5;
	z-index: 1;
	position: fixed!important;
	position: absolute;
	z-index: 10;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.detailsAlert {
	width: 500px;
	_height: 100px;
	min-height: 100px;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: none;
	z-index: 11;
	left: 50%;
	top: 50%;
	margin-left: -250px !important;
	margin-top: -190px !important;
	position: fixed !important;
}
#insufficient{
	margin-top: -138px !important;
}
#fictitious{
	margin-top: -138.5px !important;
}
#entity{
	margin-top: -216.5px !important;
}
.detailsAlertTitle {
	width: 470px;
	height: 59px;
	line-height: 60px;
	font-size: 14px;
	color: #FF6633;
	position: relative;
	text-align: left;
	margin: 0 auto;
	border-bottom: 1px dashed #e5e5e5;
	padding-left: 10px;
}

.detailsAlertClose {
	position: absolute;
	display: block;
	width: 58px;
	height: 58px;
	background: url(../../images/commodity/details02.png) no-repeat center;
	right: -10px;
	top: 0;
	cursor: pointer;
}

.detailsAlertTxt01 {
	font-size: 14px;
	color: #999;
	line-height: 14px;
	width: 100%;
	text-align: center;
	padding: 60px 0;
}

.detailsAlertTxt02 {
	font-size: 14px;
	color: #999;
	line-height: 14px;
	width: 392px;
	text-align: left;
	padding: 43px 0 14px 108px;
}

.detailsAlertTxt02mobile {
	color: #f63;
}

.detailsAlertTxt03 {
	font-size: 14px;
	color: #999;
	line-height: 14px;
	width: 392px;
	text-align: left;
	padding: 0 0 50px 108px;
}

.detailsAlertTxt04 {
	font-size: 14px;
	color: #999;
	height: 40px;
	line-height: 40px;
	width: 500px;
	text-align: left;
	margin-top: 20px;
	position:relative;
}

.detailsAlertTxt04Left {
	width: 143px;
	float: left;
	height: 100%;
	text-align: right;
}

.detailsAlertTxt04Right {
	width: 280px;
	height: 100%;
	float: left;
	margin-left: 4px;
}

.detailsAlertTxt04Right input.detailsAlertTxt04Input {
	border:none;
	outline:medium;
	border:1px solid #e5e5e5;
	border-radius: 2px;
	width: 268px;
	height: 38px;
	padding-left: 10px;
	background: #F5F5F5;
	line-height:40px;
}
.detailsAlertTxt04Btn{
	border:1px solid #e5e5e5;
	border-radius: 2px;
	width: 268px;
	height: 38px;
	cursor: pointer;
	position: relative;
	padding-left:10px;
}
.detailsAlertTxt04Right input.alert_big{
	border:none;
	outline:medium;
	display:inline-block;
	width:85%;
	overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
cursor: pointer;
position: absolute;
    top: 50%;
    margin-top: -9px;
}
.detailsAlertTxt04BtnIcon{
	display: inline-block;
	width: 14px;
	height: 19px;
	background: url(../../images/commodity/details05.png) no-repeat center;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -9.5px;
}
.detailsAlertTxt05 {
	font-size: 14px;
	color: #999;
	height: 60px;
	line-height: 60px;
	width: 500px;
	text-align: left;
	margin: 20px 0 30px;
}
.detailsAlertTxt05 input.detailsAlertTxt05Input {
	border:none;
	outline:medium;
	border:1px solid #e5e5e5;
	border-radius: 2px;
	width: 258px;
	min-height: 38px;
	padding: 0 10px 20px 10px;
	background: #F5F5F5;
	resize:none;
	line-height:40px;
}
textarea.detailsAlertTxt05Input {
	border:none;
	outline:medium;
	border:1px solid #e5e5e5;
	border-radius: 2px;
	width: 258px;
	min-height: 40px;
	padding: 10px;
	background: #F5F5F5;
	resize:none;
	overflow-y:auto;
}
::-webkit-input-placeholder { /* WebKit browsers */ 
color: #c5c5c5; 
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #c5c5c5; 
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #c5c5c5; 
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #c5c5c5; 
} 
.detailsAlertBtn {
	width: 326px;
	height: 43px;
	margin: 0 auto;
	padding-bottom: 40px;
}

.detailsAlertBtnCancel,
.detailsAlertBtnJoin {
	float: left;
	width: 142px;
	height: 43px;
	background: url(../../images/commodity/details03.png) no-repeat center;
	text-align: center;
	line-height: 44px;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
}

.detailsAlertBtnCancel {
	background: url(../../images/commodity/details04.png) no-repeat center;
	color: #f63;
	margin-right: 40px;
}

::-ms-clear,
 ::-ms-reveal {
	display: none;
}
.success{
	width:100%;
	margin:0 auto;
	padding-top:60px;
}
.successImg{
	width:141px;
	height:137px;
	margin:0 auto;
	display:block;
}
.successTxt {
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: #999;
	line-height: 16px;
	margin: 16px auto 28px;
}
.successBtn{
	width: 142px;
	height: 43px;
	background: url(../../images/commodity/details03.png) no-repeat center;
	text-align: center;
	line-height: 44px;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
	margin:0 auto;
}

.alert_box {
	width: 96%;
	margin: 0 auto;
	border-top: 0.01rem solid #eaeaea;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	overflow: hidden;
	text-align: left;
	height: 0.81rem;
	position: relative;
	padding-left: 4%;
}

.alert_address{
	width: 100%;
	font-size: 0.28rem;
	color: #333;
	height: 0.8rem;
	line-height: 0.8rem;
}

/*选择地区弹层*/
.layBox{
	width: 100%;
	height: 205px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	overflow: hidden;
	display: none;
}
.express-area-box {
	width: 100%;
	font-size: 14px;
	height: 205px;
	overflow-x: hidden;
	overflow-y: scroll;
	display: none;
	border-top: 0.01rem solid #eaeaea;
	background: #f5f5f5;
	
}
.area-list li {
	height: 40px;
	border-bottom: 1px dashed #e2e2e2;
	text-align: justify;
	line-height: 40px;
	width: 250px;
	margin: 0 auto;
	padding-left:10px;
}



