#LoadCSS("resources/dwz/resource/css/statistics_business")
##, "screen"
<div class="pageContent">
    <div class="page_tday">
        <!--<div class="tady_bor">
			<h3 class="tady_title">今日关注用户</h3>
			<div class="con_num">
				<span class="num_big">$!tAttentionUserCount</span>
				<span class="num_small">14%</span>
			</div>
		</div>-->
        <div class="tady_bor">
            <h3 class="tady_title">今日注册用户</h3>
            <div class="con_num">
                <span class="num_big">$!tRegisterUserCount</span>
                <!--<span class="num_small">14%</span>-->
            </div>
        </div>
        <div class="tady_bor">
            <h3 class="tady_title">今日投资用户</h3>
            <div class="con_num">
                <span class="num_big">$!tInvestUserCount</span>
                <!--<span class="num_small">14%</span>-->
            </div>
        </div>
        <div class="tady_bor">
            <h3 class="tady_title">今日投资金额</h3>
            <div class="con_num">
                <span class="num_big money1">#if(!$!tInvestAmount)0.00 #else $!tInvestAmount #end</span>
                <!--<span class="num_small">14%</span>-->
            </div>
        </div>
        <div class="tady_bor">
            <h3 class="tady_title">今日成交笔数</h3>
            <div class="con_num">
                <span class="num_big">$!tDealCount</span>
                <!--<span class="num_small">14%</span>-->
            </div>
        </div>
    </div>

    <div class="page_yday">
        <!--<div class="tady_bor">
			<h3 class="tady_title">昨日关注用户</h3>
			<div class="con_num">
				<span class="num_big">$!yAttentionUserCount</span>
				<span class="num_small">14%</span>
			</div>
			<div class="total_num">
				<span class="total_big">累计：</span>
				<span class="total_small">$!totalAttentionUserCount</span>
			</div>
		</div>-->
        <div class="tady_bor">
            <h3 class="tady_title tady_two_bg border_top">昨日注册用户</h3>
            <div class="con_num tady_two_bg">
                <span class="num_big">$!yRegisterUserCount</span>
                <!--<span class="num_small">14%</span>-->
            </div>
            <div class="total_num tady_two_bg border_bottom">
                <span class="total_big">累计：</span>
                <span class="total_small">$!totalRegisterUserCount</span>
            </div>
        </div>
        <div class="tady_bor">
            <h3 class="tady_title tady_two_bg border_top">昨日投资用户</h3>
            <div class="con_num tady_two_bg">
                <span class="num_big">$!yInvestUserCount</span>
                <!--<span class="num_small">14%</span>-->
            </div>
            <div class="total_num tady_two_bg border_bottom">
                <span class="total_big">累计：</span>
                <span class="total_small">$!totalInvestUserCount</span>
            </div>
        </div>
        <div class="tady_bor">
            <h3 class="tady_title tady_two_bg border_top">昨日投资金额</h3>
            <div class="con_num tady_two_bg">
                <span class="num_big money2">#if(!$!yInvestAmount)0.00 #else $!yInvestAmount #end</span>
                <!--<span class="num_small">14%</span>-->
            </div>
            <div class="total_num tady_two_bg border_bottom">
                <span class="total_big">累计：</span>
                <span class="total_small money22">$!totalInvestAmount</span>
            </div>
        </div>
        <div class="tady_bor">
            <h3 class="tady_title tady_two_bg border_top">昨日成交笔数</h3>
            <div class="con_num tady_two_bg">
                <span class="num_big">$!yDealCount</span>
                <!--<span class="num_small">14%</span>-->
            </div>
            <div class="total_num tady_two_bg border_bottom">
                <span class="total_big">累计：</span>
                <span class="total_small">$!totalDealCount</span>
            </div>
        </div>
    </div >
    
    
    
    <div class="page_tday">云贷产品计划
    </div>
    <div class="page_tday">
        <div class="tady_bor">
            <h3 class="tady_title thr_bg">今日7天投资额</h3>
            <div class="con_num thr_bg">
                <span class="num_big money10">#if(!$!t7DayAuthAmount)0.00 #else $!t7DayAuthAmount #end</span>
                <!--<span class="num_small">14%</span>-->
            </div>
        </div>
        <div class="tady_bor">
            <h3 class="tady_title thr_bg">今日30天投资额</h3>
            <div class="con_num thr_bg">
                <span class="num_big money11">#if(!$!t1MonthAuthAmount)0.00 #else $!t1MonthAuthAmount #end</span>
                <!--<span class="num_small">14%</span>-->
            </div>
        </div>
        <div class="tady_bor">
            <h3 class="tady_title thr_bg">今日90天投资额</h3>
            <div class="con_num thr_bg">
                <span class="num_big money12">#if(!$!t3MonthAuthAmount)0.00 #else $!t3MonthAuthAmount #end</span>
                <!--<span class="num_small">14%</span>-->
            </div>
        </div>
        <div class="tady_bor">
            <h3 class="tady_title thr_bg">今日180天投资额</h3>
            <div class="con_num thr_bg">
                <span class="num_big money13">#if(!$!t6MonthAuthAmount)0.00 #else $!t6MonthAuthAmount #end</span>
                <!--<span class="num_small">14%</span>-->
            </div>
        </div>
        <div class="tady_bor">
            <h3 class="tady_title thr_bg">今日365天投资额</h3>
            <div class="con_num thr_bg">
                <span class="num_big money14">#if(!$!t1YearAuthAmount)0.00 #else $!t1YearAuthAmount #end</span>
                <!--<span class="num_small">14%</span>-->
            </div>
        </div>
        <div class="tady_bor">
            <h3 class="tady_title thr_bg">今日年化投资额</h3>
            <div class="con_num thr_bg">
                <span class="num_big money15">#if(!$!tYearAllAuthAmount)0.00 #else $!tYearAllAuthAmount #end</span>
                <!--<span class="num_small">14%</span>-->
            </div>
        </div>
        <div class="tady_bor">
            <h3 class="tady_title thr_bg">今日投资总额</h3>
            <div class="con_num thr_bg">
                <span class="num_big money16">#if(!$!tAllAuthAmountYundai)0.00 #else $!tAllAuthAmountYundai #end</span>
            </div>
        </div>
    </div>
    
	<div class="page_tday">7贷产品计划
    </div>
    	<div class="tady_bor">
            <h3 class="tady_title seven_bg">今日7天投资额</h3>
            <div class="con_num seven_bg">
                <span class="num_big money31">#if(!$!t7DayAuthAmount7dai)0.00 #else $!t7DayAuthAmount7dai #end</span>
                <!--<span class="num_small">14%</span>-->
            </div>
        </div>
        <div class="tady_bor">
            <h3 class="tady_title seven_bg">今日30天投资额</h3>
            <div class="con_num seven_bg">
                <span class="num_big money32">#if(!$!t1MonthAuthAmount7dai)0.00 #else $!t1MonthAuthAmount7dai #end</span>
                <!--<span class="num_small">14%</span>-->
            </div>
        </div>
        <div class="tady_bor">
            <h3 class="tady_title seven_bg">今日90天投资额</h3>
            <div class="con_num seven_bg">
                <span class="num_big money33">#if(!$!t3MonthAuthAmount7dai)0.00 #else $!t3MonthAuthAmount7dai #end</span>
                <!--<span class="num_small">14%</span>-->
            </div>
        </div>
         
        <div class="tady_bor">
            <h3 class="tady_title seven_bg">今日180天投资额</h3>
            <div class="con_num seven_bg">
                <span class="num_big money34">#if(!$!t6MonthAuthAmount7dai)0.00 #else $!t6MonthAuthAmount7dai #end</span>
                <!--<span class="num_small">14%</span>-->
            </div>
        </div>
        <div class="tady_bor">
            <h3 class="tady_title seven_bg">今日365天投资额</h3>
            <div class="con_num seven_bg">
                <span class="num_big money35">#if(!$!t1YearAuthAmount7dai)0.00 #else $!t1YearAuthAmount7dai #end</span>
                <!--<span class="num_small">14%</span>-->
            </div>
        </div>
        <div class="tady_bor">
            <h3 class="tady_title seven_bg">今日年化投资额</h3>
            <div class="con_num seven_bg">
                <span class="num_big money36">#if(!$!tYearAllAuthAmount7dai)0.00 #else $!tYearAllAuthAmount7dai #end</span>
                <!--<span class="num_small">14%</span>-->
            </div>
        </div>
        <div class="tady_bor">
            <h3 class="tady_title seven_bg">今日投资总额</h3>
            <div class="con_num seven_bg">
                <span class="num_big money37">#if(!$!tAllAuthAmount7dai)0.00 #else $!tAllAuthAmount7dai #end</span>
            </div>
        </div>
    </div>

	<!-- 赞分期、赞时贷数据，上线自由站岗户时删除 -->
	<div class="page_tday">自由产品计划
    </div>
    	<div class="tady_bor">
            <h3 class="tady_title six_bg">今日7天投资额</h3>
            <div class="con_num six_bg">
                <span class="num_big money41">#if(!$!t7DayAuthAmount4Free)0.00 #else $!t7DayAuthAmount4Free #end</span>
                <!--<span class="num_small">14%</span>-->
            </div>
        </div>
        <div class="tady_bor">
            <h3 class="tady_title six_bg">今日30天投资额</h3>
            <div class="con_num six_bg">
                <span class="num_big money42">#if(!$!t1MonthAuthAmount4Free)0.00 #else $!t1MonthAuthAmount4Free #end</span>
                <!--<span class="num_small">14%</span>-->
            </div>
        </div>
        <div class="tady_bor">
            <h3 class="tady_title six_bg">今日90天投资额</h3>
            <div class="con_num six_bg">
                <span class="num_big money43">#if(!$!t3MonthAuthAmount4Free)0.00 #else $!t3MonthAuthAmount4Free #end</span>
                <!--<span class="num_small">14%</span>-->
            </div>
        </div>
         
        <div class="tady_bor">
            <h3 class="tady_title six_bg">今日180天投资额</h3>
            <div class="con_num six_bg">
                <span class="num_big money44">#if(!$!t6MonthAuthAmount4Free)0.00 #else $!t6MonthAuthAmount4Free #end</span>
                <!--<span class="num_small">14%</span>-->
            </div>
        </div>
        <div class="tady_bor">
            <h3 class="tady_title six_bg">今日365天投资额</h3>
            <div class="con_num six_bg">
                <span class="num_big money45">#if(!$!t1YearAuthAmount4Free)0.00 #else $!t1YearAuthAmount4Free #end</span>
                <!--<span class="num_small">14%</span>-->
            </div>
        </div>
        <div class="tady_bor">
            <h3 class="tady_title six_bg">今日年化投资额</h3>
            <div class="con_num six_bg">
                <span class="num_big money46">#if(!$!tYearAllAuthAmount4Free)0.00 #else $!tYearAllAuthAmount4Free #end</span>
                <!--<span class="num_small">14%</span>-->
            </div>
        </div>
        <div class="tady_bor">
            <h3 class="tady_title six_bg">今日投资总额</h3>
            <div class="con_num six_bg">
                <span class="num_big money47">#if(!$!tAllAuthAmount4Free)0.00 #else $!tAllAuthAmount4Free #end</span>
            </div>
        </div>
    </div>
    
</div>
<script>
    /**
     *
     * @param money			金额
     * @param places		小数点几位
     * @param thousand		,分隔符
     * @param decimal		小数点
     * @returns {string}
     */
    var formatMoney = function(money, places, thousand, decimal) {
        places = !isNaN(places = Math.abs(places)) ? places : 2;
        thousand = thousand || ",";
        decimal = decimal || ".";
        var number = money, negative = number < 0 ? "-" : "", i = parseInt(
                        number = Math.abs(+number || 0).toFixed(places), 10)
                + "", j = (j = i.length) > 3 ? j % 3 : 0;
        return negative
                + (j ? i.substr(0, j) + thousand : "")
                + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousand)
                + (places ? decimal + Math.abs(number - i).toFixed(places).slice(2)
                        : "");
    }
	for(var i = 1; i <= 47; i++) {
        var money = $('.money'+i).text();
        $('.money'+i).text(formatMoney(money,2));
	}

</script>