.body {
    background: #f5f5f5;
}

.main {
    width: 1200px;
    min-height: 100px;
}

.main_content {
    width: 1040px;
    background: #fff;
    margin: 30px auto 100px;
    border-top:solid 2px #FF6633;;
    padding: 30px 20px 20px;
}
.payment_confirmation_content {
    margin: 0 auto;
}
.paymentCon_topcontent {
    margin: 0 auto;
    padding-bottom: 10px;
}
.paymentCon_topcontent:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.paymentCon_topcontent_li {
    float: left;
    width: 50%;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 15px;
}
.product_name{
    font-size: 16px;
    color: #333;
    width: 100%;
}
.paymentCon_topcontent_span {
    color: #999;
    float: left;
}

.paymentCon_topcontent_i {
    color: #FF6633;
}
.paymentCon_middlecontent{
    padding: 30px 0;
}
.paymentCon_middlecontent:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
}

.Use_red_left {
    height: 40px;
    float: left;
    line-height: 40px;
    font-size: 14px;
    color: #999;
}

.Use_red_right {
    height: 40px;
    float: right;
}

.

    /*下拉框*/
#divselect {
    width: 260px;
    position: relative;
    z-index: 1;
    background: #f5f5f5;
}

#divselect cite {
    width: 260px;
    height: 42px;
    box-sizing: border-box;
    line-height: 40px;
    display: block;
    color: #666;
    cursor: pointer;
    font-size: 14px;
    padding-left: 10px;
    border: 1px solid #e5e5e5;
    background: url(../../images/regular/balance_buy/bind_triangle.png) no-repeat 240px center;
}
#divselect cite span{
    color: #FF6633;
}
#text_red_packet{
    background: #fff5f2;
    border: solid 1px #ffcccc;
    color: #FF6633;
}

#divselect ul {
    width: 260px;
    border: 1px solid #e5e5e5;
    border-top: none;
    background-color: #fff;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    margin-top: -1px;
    display: none;
}

#divselect ul li {
    height: 40px;
    line-height: 40px;
}

#divselect ul li a {
    display: block;
    height: 40px;
    color: #666;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}
#divselect ul li a span {
    color: #ff6633;
}
#divselect ul li a:hover {
    background-color: #ffcccc;
}

.no_usered {
    width: 260px;
    position: relative;
    z-index: 1;
    background: #f2f2f2;
    height: 44px;
    line-height: 44px;
    padding-left: 11px;
    font-size: 16px;
    color: #666;
}

.paymentCon_middlecontent_balance{
    font-size: 16px;
    color: #333;
    line-height: 20px;
}
.paymentCon_middlecontent_balance span{
    color: #FF6633;
}
.paymentCon_middlecontent_num{
    font-size:14px;
    margin-top: 15px;
    color: #999;
}
.paymentCon_middlecontent_num span{
    color: #FF6633;
}
.Use_redbtn {
    margin: 30px auto 0;
}

.Use_redbtn .Use_redbtn_a {
    width: 260px;
    height: 40px;
    display: block;
    background: #ff6633;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
}

.Use_redbtn_txt {
    width: 100%;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
    color: #999999;
    margin: 10px 0 ;
}

.Use_redbtn_txt .Use_redbtn_txta {
    color: #FF6633;
}

/*弹窗*/
.body_bg {
    opacity: 0.5;
    filter: alpha(opacity=50);
    background-color: #000;
    top: 0;
    filter: alpha(opacity=50);
    opacity: 0.5;
    z-index: 1;
    position: fixed !important;
    position: absolute;
    z-index: 10;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.alert_listthree {
    display: none;
    z-index: 11;
    left: 0;right: 0;
    top: 50%;    position: fixed !important;
    overflow: hidden;
    margin-top: -135px;
}
.alert_listwrap{
    width: 480px;
    min-height: 100px;
    margin: auto;
    background: #fff;
    padding: 20px;
}
.alert_listthree_h3 {
    line-height: 20px;
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}
.alert_listthree_btn {
    position: absolute;
    right:10px;
}
.alert_listthree .alert_listthree_txt {
    font-size: 14px;
    color: #999;
    overflow: hidden;
    line-height: 20px;
    margin-bottom: 30px;
}
.alert_listthree_contitle img {
    position: relative;
    top: 4px;
    margin-right: 6px;
}

.alert_listthree_contitle {
    text-align: center;
    margin-bottom: 10px;
}
.alert_listthree_content{
    height: 20px;
}
.alert_listthree_content .alert_listthree_contentspan, .alert_listthree_contenti {
    display: block;
    line-height: 20px;
    float: left;
}

.alert_listthree_contentspan {
    width: 50%;
    text-align: right;
}

.alert_listthree_contenti {
    width: 50%;
    text-align: left;
    color: #FF6633;
}

.alert_listthree_btnd {
    margin: 0 auto;
}

.alert_listthree_btnd .alert_listthree_btnl {
    width: 140px;
    height: 40px;
    background: #ff6633;
    display: block;
    text-align: center;
    line-height: 40px;
    color: #fff;
    margin: 0 auto;
    font-size: 14px;
}

.alert_listthree_success {
    text-align: center;
    margin-bottom: 10px;
}
.alert_listthree_success span{
    font-size: 18px;
    color: #FF6633;
    margin: 0 5px;
}
.cpm_put {
    width: 350px;
    margin: 20px auto 0;
    position: relative;
}
.put_left{
    float: left;
    line-height: 40px;
    color: #999;
    font-size: 14px;
    width: 80px;
}
.put_wrp{
    float: left;
    width: 260px;
}
.put_wrp{
    float: left;
    border: 1px solid #e5e5e5;
    display: inline-block;
    height: 40px;
    position: relative;
    width: 260px;
}
.put_wrp input.put_text {
    font-size: 14px;
    width: 170px;
    float: left;
    height: 40px;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    line-height: 40px;
}

.withtips{
    position: relative;
    cursor: pointer;
}
.withtips:hover .detail_tips{
    display: block;
}
.withtips>span{
    color: #FF6633;
}

.detail_tips{
    position: absolute;
    line-height: 30px;
    top: -40px;
    background:#999999;
    color:#fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    padding: 0 20px;
    display: none;
    font-size: 12px;
}
.detail_tips span{
    position: absolute;
    width: 11px;
    height: 6px;
    background-position: -109px 0;
    bottom: -6px;
    background-image: url(../../images/assets/assets_public/assets_icon.png);
    left: 50%;
}
.withtips:hover .detail_tips{
    display: block;
}
.retransmission {
    color: #fff;
    background: #FF6633;
    font-size: 14px;
    cursor: pointer;
    width: 90px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    float: left;
}

/*============================================ 加息券新增 ===================================================*/
.tickets_choose{
    padding: 30px 0;
    border-bottom: solid 1px #e5e5e5;
    border-top: dashed 1px #e5e5e5;
}
.tickets_filter {
    margin-bottom: 20px;
}
.tickets_filter>ul{
    float: left;
}
.tickets_filter>p{
    float: right;
    font-size: 12px;
    color: #999;
    line-height: 16px;
}
.tickets_filter>p>span{
    color: #FF6633;
}
.tickets_filter>ul>li {
    float: left;
    padding-right: 30px;
    font-size: 14px;
    color: #666;
    line-height: 16px;
    cursor: pointer;
}
.tickets_filter>ul>li .filter_dot {
    float: left;
    border: solid 1px #e5e5e5;
    width: 16px;
    height: 16px;
    padding: 3px;
    box-sizing: border-box;
    margin-right: 10px;
}
.tickets_filter>ul>li .filter_dot span {
    display: block;
    height: 8px;
}
.tickets_filter>ul>li.focuse .filter_dot span {
    background: #ff6633;
}
.clearfix{
    clear: both;
    float: none!important;
    display: block;
    height: 0;
}
.paymentCon_middlecontent_des{
    font-size: 16px;
    color: #333;
    line-height: 20px;
    margin-bottom: 15px;
}

.tickets_red_card{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    background: #f5f5f5;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.card_abled {
    background: #FF8F33;
    background-image: linear-gradient(to bottom,#FF8F33,#ff6633);
    cursor: pointer;
}
.card_abled .tickets_lines {
    background-image: url(../../images/red_pack/tickets_card_able_bg.png);
}
.tickets_lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../images/red_pack/tickets_card_dis_bg.png);
    z-index: 1;
}
.tickets_card_gap {
    position: absolute;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #ffffff;
    border: solid 1px #e5e5e5;
    box-sizing: border-box;
}
.tickets_red_top {
    background: #ffffff;
    line-height: 40px;
    font-size: 14px;
    padding: 20px 30px;
    position: relative;
    border: solid 1px #e5e5e5;
    color: #999;
    font-weight: bold;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    z-index: 2;
}
.tickets_red_amount{
    color: #999;
    height: 40px;
    font-size: 24px;
}
.tickets_red_amount span{
    font-weight: bold;
    font-size: 30px;
}
.tickets_red_bottom {
    padding: 20px 30px 5px;
    border: solid 1px #e5e5e5;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.tickets_red_bottom h5 {
    font-size: 16px;
    color: #999;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: left;
}
.tickets_rule,.tickets_rule li {
    list-style: square;
    padding-left: 15px;
    box-sizing: border-box;
    text-align: left;
}
.tickets_red_bottom ul>li.tickets_rule_li,.tickets_increase_bottom ul>li.tickets_rule_li {
    color: #999;
    font-size: 12px;
    margin-bottom: 15px;
    padding-left: 0;
}

.tickets_list{
    margin-left: -12px;
    margin-right: -12px;
    display: none;
}
.list_show{
    display: block!important;
}
.col_4{
    width: 33.33%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 12px;
    float: left;
}
.card_abled .tickets_red_top {
    background: transparent;
    border:none;
    border-bottom: dashed 1px #ffffff;
    color: #fff;
}
.card_abled .tickets_red_top .tickets_red_amount,.card_abled .tickets_red_bottom h5,.card_abled .tickets_red_bottom ul>li {
    color: #fff;
}
.card_abled .tickets_red_bottom {
    border: none;
}
.card_abled .tickets_card_gap {
    position: absolute;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #ffffff;
    border: none;
}
.gap_wrap{
    position: absolute;
    width: 9px;
    height: 18px;
    overflow: hidden;
    bottom: -9px;
    z-index: 1;
}
.gap_wrap_left{
    left: 0;
}
.gap_wrap_left .tickets_card_gap{
    left: -9px;
}
.gap_wrap_right{
    right: 0;
}
.gap_wrap_right .tickets_card_gap{
    right: -9px;
}
.Increase_help{
    display: none;
    text-align: left;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: solid 1px #e5e5e5;
    padding: 10px 15px;
    line-height: 15px;
    font-size: 12px;
    color: #999;
    width: 200px;
    left: -92px;
    bottom:30px;
    background: #f5f5f5;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 2;
}
.Increase_mark{
    background: #e5e5e5;
    color: #fff;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.Increase_mark:hover{
    background: #ffc33c;
}
.Increase_mark:hover .Increase_help{
    display: block;
}
.help_triangle{
    position: absolute;
    left: 50%;
    bottom: -8px;
    margin-left: -7px;
}

.tickets_increase_card{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.tickets_increase_top{
    background: url(../../images/red_pack/increase_disable_bg.png);
    line-height: 36px;
    font-size: 14px;
    padding: 19px 30px;
    position: relative;
    color: #999;
    font-weight: bold;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.tickets_increase_bottom{
    padding: 20px 30px 10px;
    border: solid 1px #e5e5e5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
}
.tickets_increase_bottom h5{
    font-size: 16px;
    font-weight: bold;
    color: #666;
    margin-bottom: 10px;
    line-height: 20px;
}
.increase_abled{
    cursor: pointer;
}
.increase_abled .tickets_increase_top{
    background: url(../../images/red_pack/increase_bg.png);
}
.increase_abled .tickets_increase_top .tickets_red_amount{
    color: #fff;
}
#tickets_used{
    color: #FF6633;
}
.tickets_card_focuse{
    width: 26px;
    height: 26px;
    position: absolute;
    background: url(../../images/red_pack/chose_disable.png) no-repeat center;
    right: 20px;
    top:26px;
    z-index: 1;
}
.redpack_chosed .tickets_card_focuse{
    background: url(../../images/red_pack/chosed.png) no-repeat center;
}

.tickets_abnormal{
    height: 110px;
}
.tickets_abnormal p{
    color: inherit;
    text-align: center;
    font-size: 16px;
    line-height: 110px;
    height: 110px;
}
.tickets_abnormal_none_increase{
    background: url(../../images/red_pack/none_increase.png) no-repeat center;
    color: #666;
}
.tickets_abnormal_none_redpack{
    background: url(../../images/red_pack/none_redpack.png) no-repeat center;
    color: #666;
}
.tickets_abnormal_nonsupport_increase{
    background: url(../../images/red_pack/nonsupport_increase.png) no-repeat center;
    color: #fff;
}
.tickets_abnormal_nonsupport_redpack{
    background: url(../../images/red_pack/nonsupport_redpack.png) no-repeat center;
    color: #fff;
}

/*######################## 分页 ############################*/

.tickets_list_page{height:30px;line-height: 30px; text-align:center;margin-top:20px;}
.tickets_list_page a{float: left;display: inline-block;font-size: 14px;color:#666;background-color:#fff;border:1px solid #e4e4e4;}
.pagination_l{width:70px;box-sizing:border-box;height:30px;background:url(../../images/fenye_left.png) no-repeat 15px 9px;padding-left: 15px;margin-right:10px;}
.pagination_ll{width:30px;height:30px;box-sizing:border-box;background:url(../../images/fenye_left.png) no-repeat center;margin-right:10px;}
.tickets_list_page .pagination_c{width:30px;height:30px;border-left: 1px solid #e4e4e4;border-right: 1px solid #e4e4e4;color:#999;text-align: center;margin-right:10px;box-sizing:border-box;}
.pagination_rr{width:30px;height:30px;background:url(../../images/fenye_right.png) no-repeat center;box-sizing:border-box;margin-right:10px;}
.pagination_r{width:70px;height:30px;background:url(../../images/fenye_right.png) no-repeat 49px 9px;padding-right: 15px;box-sizing:border-box;}

.tickets_list_page_wrap{
    display:inline-block;
}

.tickets_list_page .tickets_list_page_wrap .pagination_atpage{
    background:#ff6633;
    border:none;
    color:#fff;
}
