<style>
#p_hin p{ height:auto;}
</style>
<div class="pageContent">
	<form method="post">
		<div class="pageFormContent" id="p_hin" layoutH="60">
			<p>
				<label style="width:110px;">编号:</label>
				<input type="text" size="40" value="$!accountJnl.id" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">账务时间：</label>
				<input type="text" size="40" value="$!date.format($!accountJnl.transTime)" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">交易代码：</label>
				<input type="text" size="40" value="$!accountJnl.transCode" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">交易类型：</label>
				<input type="text" size="40" value="$!accountJnl.transType" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">交易名称：</label>
				<input type="text" size="40" value="$!accountJnl.transName" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">交易金额：</label>
				<input type="text" size="40" value="$!accountJnl.transAmount" readonly="readonly"/>
			</p>
			
			<p>
				<label style="width:110px;">系统时间:</label>
				<input type="text" size="40" value="$!date.format($!accountJnl.sysTime)" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">渠道时间：</label>
				<input type="text" size="40" value="$!date.format($!accountJnl.channelTime)" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">渠道流水号：</label>
				<input type="text" size="40" value="$!accountJnl.channelJnlNo" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">借贷标识1：</label>
				<input type="text" size="40" value="$!accountJnl.cdFlag1" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">用户编号1：</label>
				<input type="text" size="40" value="$!accountJnl.userId1" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">账户编号1：</label>
				<input type="text" size="40" value="$!accountJnl.accountId1" readonly="readonly"/>
			</p>
			
			<p>
				<label style="width:110px;">账户名1:</label>
				<input type="text" size="40" value="$!accountJnl.accountName1" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">子账户编号1：</label>
				<input type="text" size="40" value="$!accountJnl.subAccountId1" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">子账户编码1：</label>
				<input type="text" size="40" value="$!accountJnl.subAccountCode1" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">交易前余额1：</label>
				<input type="text" size="40" value="$!accountJnl.beforeBalance1" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">交易后余额1：</label>
				<input type="text" size="40" value="$!accountJnl.afterBalance1" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">交易前可用余额1：</label>
				<input type="text" size="40" value="$!accountJnl.beforeAvialableBalance1" readonly="readonly"/>
			</p>
			
			<p>
				<label style="width:110px;">交易后可用余额1:</label>
				<input type="text" size="40" value="$!accountJnl.afterAvialableBalance1" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">交易前冻结余额1：</label>
				<input type="text" size="40" value="$!accountJnl.beforeFreezeBalance1" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">交易后冻结余额1：</label>
				<input type="text" size="40" value="$!accountJnl.afterFreezeBalance1" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">借贷标识2：</label>
				<input type="text" size="40" value="$!accountJnl.cdFlag2" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">用户编号2：</label>
				<input type="text" size="40" value="$!accountJnl.userId2" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">账户编号2：</label>
				<input type="text" size="40" value="$!accountJnl.accountId2" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">账户名2：</label>
				<input type="text" size="40" value="$!accountJnl.accountName2" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">子账户编号2：</label>
				<input type="text" size="40" value="$!accountJnl.subAccountId2" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">子账户编码2：</label>
				<input type="text" size="40" value="$!accountJnl.subAccountCode2" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">交易前余额2：</label>
				<input type="text" size="40" value="$!accountJnl.beforeBalance2" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">交易后余额2：</label>
				<input type="text" size="40" value="$!accountJnl.afterBalance2" readonly="readonly"/>
			</p>
			
			
			<p>
				<label style="width:110px;">交易前可用余额2：</label>
				<input type="text" size="40" value="$!accountJnl.beforeAvialableBalance2" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">交易后可用余额2：</label>
				<input type="text" size="40" value="$!accountJnl.afterAvialableBalance2" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">交易前冻结余额2：</label>
				<input type="text" size="40" value="$!accountJnl.beforeFreezeBalance2" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">交易后冻结余额2：</label>
				<input type="text" size="40" value="$!accountJnl.afterFreezeBalance2" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">手续费：</label>
				<input type="text" size="40" value="$!accountJnl.fee" readonly="readonly"/>
			</p>
			
			<p>
				<label style="width:110px;">系统状态：</label>
				<input type="text" size="40" value="$!accountJnl.status" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">对账状态：</label>
				<input type="text" size="40" value="$!accountJnl.checkStatus" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">是否对账：</label>
				<input type="text" size="40" value="$!accountJnl.isCheck" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">响应码：</label>
				<input type="text" size="40" value="$!accountJnl.respCode" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">响应信息：</label>
				<input type="text" size="40" value="$!accountJnl.respMsg" readonly="readonly"/>
			</p>
			<p>
				<label style="width:110px;">备注：</label>
				<input type="text" size="40" value="$!accountJnl.note" readonly="readonly"/>
			</p>
			#Hidden("id","$!accountJnl.id")
			
		</div>
		<div class="formBar">
			<ul>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">返回</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>
