body {
	width: 100%;
	background: #2c6eff;
	height: 100%;
	font-family: "微软雅黑"
}
.payIncreaseBanner{
	width: 100%;
	margin: 0 auto;
}
.payIncreaseBannerImg{
	display: block;
	width: 100%;
}
.payIncreaseTitle{
	width: 95%;
	margin:0.34rem auto 0;
	height: 1.35rem;
	background: url(../../../../images/activity/2018/SalaryIncreasePlan/AIP_title.png) no-repeat center;
	background-size: 7.15rem 1.35rem;
	font-size: 0.36rem;
	color: #fff;
	text-align: center;
	line-height: 1.10rem;
}
.payIncreaseExample {
	width: 90%;
	background: url(../../../../images/activity/2018/SalaryIncreasePlan/AIP_example.png) no-repeat top left;
	background-size: 0.25rem 0.23rem;
	margin: 0 auto 0;
	font-size: 0.24rem;
	color: #fff;
	padding-top: 0.06rem;
}

.payIncreaseExampleMax {
	font-size: 0.32rem;
	padding-left: 0.28rem;
}

.payIncreaseExampleP {
	border-bottom: 0.09rem solid #d39460;
	line-height: 0.16rem;
	display: inline-block;
}
.payIncreaseExampleM{
	padding-top: 0.2rem;
	display: inline-block;
}

.payIncreaseProduct {
	width: 94%;
	margin: 0.6rem auto 0;
	height: 6.04rem;
	position: relative;
}

.payIncreaseProduct li {
	display: inline-block;
	width: 48%;
	height: 100%;
	background: url(../../../../images/activity/2018/SalaryIncreasePlan/AIP_bg.png) no-repeat center;
	background-size:3.41rem 6.04rem;
	position: absolute;
	top: 0;
	
}
.payIncreaseProduct .payIncreasefirst{
	left: 0;
}
.payIncreaseProduct .payIncreaseSecond {
	right: 0;
}
.payIncreaseTitleMin {
	width: 100%;
	height: 0.80rem;
	margin: 0 auto;
	text-align: center;
	font-size: 0.3rem;
	color: #fff;
	line-height: 0.36rem;
	padding-top: 0.16rem;
	text-shadow: #0caebe 0 0.03rem 0.03rem;
}

.payIncreasePercentage {
	width: 100%;
	text-align: center;
	height: 2.08rem;
	margin: 0.16rem auto 0;
	background: url(../../../../images/activity/2018/SalaryIncreasePlan/AIP_bg01.png) no-repeat center;
	background-size: 3rem 2.08rem;
}

.payIncreaseDay {
	width: 100%;
	height: 0.49rem;
	padding-top: 0.02rem;
	font-size: 0.24rem;
	color: #2cacf1;
	background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#91dcfa), to(#0b90ea));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	line-height: 0.49rem;
	font-weight: 600;
}

.payIncreaseNum {
	width: 100%;
	height: 1.02rem;
	font-size: 0.94rem;
	color: #ff3a46;
	background: linear-gradient(to right, #ff9731, #ff254b);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	line-height: 1.02rem;
	font-weight: 500;
}

.payIncreaseZero {
	background: linear-gradient(to right, #ff9731, #ff713a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.payIncreaseNumber {
	background: linear-gradient(to right, #ff613d, #ff244b);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.payIncreaseNumMin {
	font-size: 0.3rem;
}
.payIncreaseTxt {
	width: 100%;
	font-size: 0.22rem;
	color: #888;
}
.payIncreaseRecord {
	width: 100%;
	height: 1.43rem;
	margin: 0.08rem auto 0;
	background: url(../../../../images/activity/2018/SalaryIncreasePlan/AIP_bg02.png) no-repeat center;
	background-size: 3.16rem 1.73rem;
	font-size: 0.22rem;
	color: #089aec;
	text-align: center;
	padding-top: 0.3rem;
}
.payIncreaseRecordNoneImg{
	width: 0.55rem;
	height: 0.7rem;
}
.payIncreaseRecordNone {
	width: 100%;
}

.payIncreaseRecordNoneTxt {
	width: 100%;
	font-size: 0.22rem;
	color: #b4e1f9;
	padding-top: 0.1rem;
}
.payIncreaseScroll{
	width: 100%;
	height: 1.14rem;
	overflow: hidden;
}
.payIncreaseBox {
	width: 100%;
	
}

.payIncreaseBoxLine {
	width: 100%;
	line-height: 0.38rem;
	letter-spacing:-0.5px;
}

.payIncreaseQuota {
	font-size: 0.22rem;
	color: #089aec;
	text-align: center;
	line-height: 0.4rem;
}

.payIncreaseQuotaColor {
	color: #ff224b;
	font-weight: 600;
}
.payIncreaseBtnBg{
	width: 88%;
	margin:0 auto;
	position: relative;
}
.payIncreaseBtnBgImg{
	display: block;
	width: 100%;
	margin:0 auto;
}
.payIncreaseStart {
	width: 72%;
	height: 0.85rem;
	background: url(../../../../images/activity/2018/SalaryIncreasePlan/AIP_btn01.png) no-repeat center;
	background-size: 4.73rem 0.85rem;
	font-size: 0.36rem;
	color: #fff;
	text-align: center;
	line-height: 0.8rem;
	position: absolute;
	top: 0.65rem;
	left: 50%;
	margin-left:-36%;
}

.payIncreaseNot {
	width: 74%;
    height: 0.99rem;
    background: url(../../../../images/activity/2018/SalaryIncreasePlan/AIP_btn02.png) no-repeat center;
    background-size: 4.8rem 0.99rem;
    font-size: 0.36rem;
    color: #fff;
    text-align: center;
    line-height: 0.9rem;
    position: absolute;
    top: 0.60rem;
    left: 50%;
    margin-left: -37%;
}
.payIncreaseRuleBtn{
	width: 72%;
	height: 0.85rem;
	background: url(../../../../images/activity/2018/SalaryIncreasePlan/AIP_rule.png) no-repeat center;
	background-size: 4.73rem 0.85rem;
	margin: 0.4rem auto 0;
	font-size: 0.36rem;
	color: #fff;
	text-align: center;
	line-height: 0.8rem;
}

.dialog_flex {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  display: box;
  display: -webkit-box;
  box-pack: center;
  box-align: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  z-index:10;
}
.alert_info {
  position: relative;
  width: 80%;
  
  font-size: 0.22rem;
  color: #666;
  line-height: normal;
}
.rule_bg{
	width:100%;
	background:#fff;
	padding-top:0.34rem;
	border-bottom-left-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
}
.payIncreaseRuleTitle{
	width: 100%;
	margin:0 auto;
}
.payIncreaseRuleTitleImg{
	display: block;
	width: 100%;
}
.close {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  margin:0.5rem auto 0;
  background: url(../../../../images/activity/2018/SalaryIncreasePlan/AIP_close.png) no-repeat center;
  background-size: 0.8rem 0.8rem;
}

.rule_ul {
  width: 90%;
  margin: 0 auto 0;
  background: url(../../../../images/activity/2018/SalaryIncreasePlan/AIP_rulebg.png) no-repeat top center;
  background-size: 5.45rem 6.67rem;
  padding-bottom:0.5rem;
}
.rule_li {
  position: relative;
  line-height: 0.34rem;
  padding-bottom: 0.2rem;
  background: url(../../../../images/activity/2018/SalaryIncreasePlan/AIP_ruleNum.png) no-repeat top left;
  background-size: 0.68rem 0.31rem;
}

.rule_num {
  font-size: 0.28rem;
  color: #236cff;
  line-height: 0.3rem;
  padding-left: 0.12rem;
}

.alert_hide {
  display: none;
}
.alert_open {
  display: box;
  display: -webkit-box;
}
.height{
	width: 100%;
	height: 0.7rem;
	margin: 0 auto;
}
