body,html{background:#fff7e0;width:100%;height:100%;
}
.banner{margin：0 auto;width:100%; height:516px; background:url(../../images/landing_page/banner.jpg) center; text-align: center; }
.hike_banner{width:1074px;height:516px;-background:#1FCD49;margin:0 auto;position: relative;}
.hike_login{width:340px;height: 328px;background:#fddf99;border-radius: 3%;position:absolute;left:752px;top:30px;}
.hike_txt{font-size: 22px;font-weight: 700;color:#540403;margin-top:28px;}
.hike_txt span{color:#FF1111;font-size: 26px;position:relative;top:3px;padding:0 3px;}
.hike_login .txt{width:230px;height:30px;line-height:30px;border-radius:4px;border:1px solid #E9B375;position:absolute;top:70px;left:50px;padding-left:10px;}
.hike_login .pwd{width:230px;height:30px;line-height:30px;border-radius:4px;border:1px solid #E9B375;position:absolute;top:115px;left:50px;padding-left:10px;}
.hike_login .pwd_btn{display:block;width:14px;height:12px;background:url(../../images/landing_page/eye.png) no-repeat;border:none;position:absolute;top:127px;left:266px;}
.hike_login .pwd_txt{position:absolute;top:157px;font-size:12px;left:56px;}
.hike_login .phone{width:150px;height:30px;line-height:30px;border-radius:4px;border:1px solid #E9B375;position:absolute;top:180px;left:50px;padding-left:10px;}
.hike_login .phone_btn{display:block;width:72px;height:32px;background:#65AFEB;color:#fff;border: none;position: absolute;top:181px;left:220px;font-size:12px;line-height:32px;text-align:center;border-radius:4px;}
.hike_login .box{position:absolute;top:220px;border:none;border:1px solid #E9B375;}
.hike_login .chechbox {position:absolute;top:268px;font-size:12px;left:35px;}
.hike_login .chechbox .check_txt{color:#66afec;}
.hike_login .login_btn {width:240px;height:32px;background:#ff6633;border:none;position: absolute;top:225px;color:#fff;left:50px;}
.hike_login .check_safe{position:absolute;top:282px;font-size:12px;left:40px;}
.hike_login .check_safe img{position:relative;top:6px;margin-right:3px;}

.main{width:100%;_height:200px;min-height:200px; background:#fff7e0;margin:0 auto;}
.main_top{width:1032px;height:264px;position:relative;top:-54px;margin:0 auto;padding-left:42px;}
.main_top dl{width:214px;height:264px;float:left;margin-right:48px;text-align: center;}
.main_top .main_tfor{margin-right:0;}
.main_top dl dt{width:182px;height:108px;padding-left:54px;}
.main_top dl dt img{display:block;}
.main_top dl dd{width:214px;height:131px;padding-top:43px;}
.main_top dl dd h4{font-size: 30px;color:#323232;font-weight: 100;}
.main_top .main_tone dd p{font-size: 18px;color:#323232;line-height:80px;}
.main_top .main_tone dd i{font-size: 21px;color:#FB6B60;}
.main_top .main_ttwo dd p{font-size: 18px;color:#323232;line-height:80px;}
.main_top .main_ttwo dd i{font-size: 21px;color:#F9E276;padding:0 3px;line-height:80px;}
.main_top .main_tthr dd p{font-size: 21px;color:#1FCD49;line-height:80px;font-weight: 500;}
.main_top .main_tthr dd .main_tpone{margin-top:-50px;}
.main_top .main_tfor dd p{font-size: 18px;color:#323232;line-height:80px;}
.main_top .main_tfor dd .main_tptwo{margin:-50px 0 0 -14px ;}
.main_top .main_tfor dd i{font-size: 21px;color:#49CDDF;padding-right:5px;}


.main_center{width:1074px;margin:0 auto;height:384px;position:relative;}
.main_center img{position:absolute;left:40px;top:0;}
.main_center .main_h3{font-size: 30px;color:#863E24;position:absolute;top:0px;left:86px;line-height:52px;font-weight:600;}
.mainer_center{width:100%;height:242px;position: absolute;top:98px;padding-left:41px;}
.mainer_center dl{float:left;width:193px;height:217px;background:url(../../images/landing_page/mainer_hongbao.png) no-repeat;text-align: center;padding-top:35px;position:relative;margin-right:5px;}
.mainer_center dl dt h5{font-size: 30px;color:#fff;margin-bottom: 20px;}
.mainer_center dl dt p{font-size: 15px;color:#fff;line-height:23px;}
.mainer_center dl dt b{font-size: 17px;color:#ffcc00;padding:0 4px;}
.mainer_center dl dd a{display:block;width:64px;height:50px;background:url(../../images/landing_page/mainer_yuan.png) no-repeat;border-radius: 50%;text-align: center;color:#c70000;font-weight:600;position: absolute;top:136px;left:64px;padding-top:14px;line-height:18px;} 


.main_down{width:1074px;height:428px;position:relative;margin:88px auto;}
.main_down img{position:absolute;top:0;left:40px;}
.main_down h3{font-size: 30px;color:#863E24;position:absolute ;top:0px;left:86px;line-height:52px;font-weight:600;}
.mainer_down{width:1030px;height:280px;padding-left:42px;margin:0 auto;position:absolute;top:96px;left:0;}
.mainer_down li{float:left;margin-right:7px;text-align:center;width:242px;height:278px;background:url(../../images/landing_page/mainer_down_bg.png) no-repeat;}
.mainer_down li div{width:238px;}
.mainer_down_txt{font-size: 18px;color:#934713;height:67px;line-height:67px;margin-top:8px;}
.mainer_down_num {height:64px;line-height:64px;}
.mainer_down_num span{font-size: 54px;color:#211b1b;font-weight:500;}
.mainer_down_num b{font-size: 26px;color:#211b1b;}
.mainer_down_txt i{color:#211b1b;}
.mainer_down_shop a{margin-left:32px;color:#fff;display:block;width:174px;height:54px;background:url(../../images/landing_page/main_down_btn.png) no-repeat;border-radius: 8px;line-height: 44px;}


.footer_cont{width:100%;height:365px;background:url(../../images/landing_page/footer_bg.png) repeat-x;}
.footer_center{width:1074px;margin:0 auto;height:365px;text-align: center;}
.footer_txt{width:1074px;height:104px;line-height:104px;font-size:28px;color:#cc372c;}
.footer_num{width:1074px;font-size: 58px;color:#cc372c;font-weight: 700;height:104px;line-height:104px;}
.footer_shop{width:1074px;height:92px;padding-top:20px;}
.footer_shop a{margin-left:390px;display:block;width:281px;height:69px;background:url(../../images/landing_page/footer_down.png) no-repeat;font-size: 30px;text-align: center;line-height: 65px;color:#cc372c;}

.div_login{position: fixed; top: 0px;opacity:0.5; filter: alpha(opacity=50); background-color: #c9e5e8;z-index: 1; left: 0px;width:100%;height:100%;display:none;}
.hike_login_copy{text-align:center;width:340px;height: 328px;background:#fddf99;border-radius: 3%;position:fixed;top:35%;left:43%;marguin:auto;overflow:hidden;display: none;z-index:1;}
.hike_close{ position:absolute; right: 15px;top: 7px;}
.hike_login_copy .hike_txt_copy{font-size: 22px;font-weight: 700;color:#540403;margin-top:28px;}
.hike_login_copy .hike_txt_copy span{color:#FF1111;font-size: 26px;position:relative;top:3px;padding:0 3px;}
.hike_login_copy .txt_copy{width:230px;height:30px;line-height:30px;border-radius:4px;border:1px solid #E9B375;position:absolute;top:70px;left:50px;padding-left:10px;}
.hike_login_copy .pwd_copy{width:230px;height:30px;line-height:30px;border-radius:4px;border:1px solid #E9B375;position:absolute;top:115px;left:50px;padding-left:10px;}
.hike_login_copy .pwd_btn_copy{display:block;width:14px;height:12px;background:url(../../images/landing_page/eye.png) no-repeat;border:none;position:absolute;top:127px;left:266px;}
.hike_login_copy .pwd_txt_copy{position:absolute;top:157px;font-size:12px;left:56px;}
.hike_login_copy .phone{width:150px;height:30px;line-height:30px;border-radius:4px;border:1px solid #E9B375;position:absolute;top:180px;left:50px;padding-left:10px;}
.hike_login_copy .phone_btn{display:block;width:72px;height:32px;background:#65AFEB;color:#fff;border: none;position: absolute;top:181px;left:220px;font-size:12px;line-height:32px;text-align:center;border-radius:4px;}
.hike_login_copy .box{position:absolute;top:268px;border:none;border:1px solid #E9B375;}
.hike_login_copy .chechbox {position:absolute;top:268px;font-size:12px;left:35px;}
.hike_login_copy .check_safe_copy{position:absolute;top:282px;font-size:12px;left:40px;}
.hike_login_copy .check_safe_copy img{position:relative;top:6px;margin-right:3px;}

.hike_login_copy .chechbox .check_txt{color:#66afec;}
.hike_login_copy .login_btn {width:240px;height:32px;background:#ff6633;border:none;position: absolute;top:225px;color:#fff;left:50px;}

.mainer_down_jian1{width:30px;height:36px;background:url(../../images/landing_page/jian.png) no-repeat;position:absolute;top:10px;left:37px;}
.mainer_down_jian1 i{position:absolute;left:6px;top:5px;color:#fff;}
.mainer_down_jian2{width:30px;height:36px;background:url(../../images/landing_page/jian.png) no-repeat;position:absolute;top:10px;left:784px;}
.mainer_down_jian2 i{position:absolute;left:6px;top:5px;color:#fff;}




