.clearfix{
    clear: both;
    height: 0;
}
.container{
    width: 1080px;
    margin: auto;
    padding: 20px 0 100px;
}
.store_personal{
    background: #fff;
    margin-bottom: 50px;
}
.store_personal_top{
    height: 380px;
}
.store_personal_left{
    float: left;
    width: 760px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.store_personal_right{
    float: left;
    width: 320px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.store_banner{
    background: url(../../../images/mall_index/banner.png) center no-repeat;
    height: 380px;
}
.store_personal_bottom{
    height: 130px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.store_des{
    float: left;
    width: 25%;
}
.store_des_ico{
    float: left;
    margin-right: 5px;
    height: 60px;
}
.store_des_ico img{
    display: block;
    height: 100%;
}
.store_des_text{
    float: left;
}
.store_des_text .title{
    font-size: 18px;
    font-weight:bold;
    line-height: 25px;
    margin-bottom: 15px;
}
.store_des_text .text{
    font-size: 14px;
    color: #999;
    line-height:15px;
}
.store_help{
    background: url(../../../images/mall_index/help.png) no-repeat center;
    height: 130px;
}
.store_help_text{
    padding-left: 125px;
    padding-top: 35px;
}
.store_help_text .store_help_title{
    font-size: 18px;
    font-weight:bold;
    color: #ff6184;
    line-height:25px;
    margin-bottom: 10px;
}
.store_help_text .store_help_link{
    display: inline-block;
    line-height:24px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding: 0 10px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    background: #FFC33C;
}
.personal_center{
    padding-top: 80px;
}
.integral_title{
    font-size: 24px;
    line-height:30px;
    color: #666;
    text-align: center;
    margin-bottom: 30px;
}
.integral_num{
    font-size: 36px;
    text-align: center;
    line-height:50px;
    color: #ff6633;
    margin-bottom: 40px;
}
.integral_button{
    background: #ff6633;
    background-image: linear-gradient(90deg,#ff9f62,#ff6633);
    width: 220px;
    display: block;
    margin: auto;
    height: 40px;
    line-height:40px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.integral_button:hover{
    background-image: linear-gradient(90deg,#dd8b59,#da5630);
    color:#fff;
}
.personal_button .already_sigin{
    background-image: linear-gradient(90deg,#E4E4E4,#c5c5c5);
    cursor: default;
}
.personal_button .personal_tips{
    font-size: 14px;
    color: #999;
    margin-top: 15px;
    text-align: center;
}

.stores{
    background: #fff;
    padding: 25px 15px 15px;
}
.store_category{
}
.store_category_title{
    border-left:solid 4px #FF6633;
    padding-left: 10px;
    font-size: 24px;
    color: #333;
    line-height:30px;
    margin-bottom: 30px;
}
.store_list{
    margin-left: -5px;
    margin-right: -5px;
}
.store_card{
    width: 25%;
    padding: 0 5px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.store_card_frame{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.store_card_frame:hover{
    -webkit-box-shadow:  0 0 5px 0 rgba(255,102,51,1);
    -moz-box-shadow:  0 0 5px 0 rgba(255,102,51,1);
    box-shadow:  0 0 5px 0 rgba(255,102,51,1);
    cursor: pointer;
}

.store_card_img{
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #e5e5e5;
    height: 178px;
}
.store_card_img img{
    width: 100%;
    height: 100%;
}
.store_card_text{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:solid 1px #e5e5e5;
    border-top:none;
    padding: 5px;
    height: 70px;
}
.store_card_frame:hover .store_card_text{
    border:none;
    padding: 5px 6px;
}
.store_card_des{
    line-height:20px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}
.store_card_coast{
    font-size: 18px;
    color: #FF6633;
    line-height:25px;
}
.list_null{
    padding: 50px ;
    text-align: center;
}
.list_null p{
    font-size: 14px;
    color: #999;
}
.cover_bg{
    background-color: #000;
    top: 0;
    filter: alpha(opacity=50);
    opacity: 0.5;
    position: fixed;
    z-index: 10;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.diolog{
    top: 0;
    position: fixed;
    z-index: 11;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.diolog_sigin{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 280px;
    margin-left: -250px;
    margin-top: -140px;
    background: #fff;
}
.diolog_top{
    height: 120px;
    background: url(../../../images/mall_index/diolog_Bg.png) no-repeat center;
}
.diolog_integral{
    line-height: 120px;
    text-align: center;
    vertical-align:middle;
    color: #666;
    font-size:24px;
}
.diolog_integral span{
    color: #ff6633;
    font-size: 36px;
}
.diolog_content{
    padding: 20px;
    text-align: center;
}
.diolog_text{
    color: #999;
    font-size:14px;
    line-height: 20px;
    text-align: center;
}
.diolog_text span{
    color: #ff6633;
}
.diolog_button{
    margin-top: 25px;
}
.diolog_button .diolog_close{
    display: block;
    width: 220px;
    height: 40px;
    line-height: 40px;
    background: #ff6633;
    color: #fff;
    background-image: linear-gradient(90deg,#ff9f62, #ff6633);
    margin: auto;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.diolog_top .diolog_close{
    position: absolute;
    top:20px;
    right:20px;
    cursor: pointer;
}