#body{width: 100%;font-family: "微软雅黑";background: #f9f0d8;}
/*banner*/
.banner{width: 100%;text-align: center;margin:0 auto;}
.banner_img{display: block;}
.main_content{width: 100%;margin:0 auto; background: #f9f0d8;padding-top: 22px;}
/*introduce*/
.introduce{width: 90%;margin:0px auto 0;background: #fff;border-radius: 20px;-height: 340px;padding: 8px 0;position:relative;
-webkit-box-shadow:inset 0 -10px 40px #ccc;  
  -moz-box-shadow:inset 0 -10px 40px #ccc;  
  box-shadow:inset 0 -10px 40px #ccc;}
.introduce_border{width: 97%;-height: 96%;padding:28px 0;border:1px dashed #774121;border-radius: 20px;margin:0 auto 0;background: url(../../../images/activity/water/water1.png) no-repeat center 5px;font-size: 24px;line-height:48px;color: #9a5a13;}
.introduce_txt{width: 84%;margin:0 auto;text-indent:50px;}
.introduce_border1{width: 97%;-height: 96%;padding:28px 0;border:1px dashed #774121;border-radius: 20px;margin:0 auto 0;background: url(../../../images/activity/water/water1.png) no-repeat center 5px;font-size: 24px;line-height:48px;color: #9a5a13;}
.introduce_txt1{width: 84%;margin:0 auto;}
.introduce_img{position: absolute;bottom: 40px;right: 20px;}
/*progress_bar*/
.progress_bar_btn{width: 100%;text-align: center;margin:10px auto 0;}
.progress_bar_btna{display: inline-block;position: relative;}
.progress_bar_btntxt{font-size: 40px;color: #fff;position: absolute;display: inline-block;width: 100%;left: 0;padding:30px 0;top:0;}
.progress_bar_btntxt1{font-size: 24px;color: #fff;position: absolute;display: inline-block;width: 100%;left: 0;padding:34px 0;top:0;}
/*vote*/
.vote_btn{width: 90%;margin:12px auto 22px;}
.vote_txt{width: 82%;margin:0 auto;}
.vote_content{width: 88%;margin:40px auto 36px;padding-left:2%;}
.vote_content .vote_nameput{display: inline-block;width: 61%;vertical-align: top;padding:17px 0 21px;border:none;border-radius: 10px;padding-left: 2%;font-size: 26px;color: #222;line-height: normal;}
.vote_content .search_btna{display: inline-block;position: relative;text-align: center;vertical-align: top;width: 30.6%;margin:6px 0 0 3%;}
.vote_content .search_btntxt{font-size: 24px;color: #fff;position: absolute;display: inline-block;width: 100%;left: 0;padding:18px 0;top:0;}
.vote_list{width: 90%;margin: 0 auto;padding-bottom: 1px;}
.vote_list li{width: 100%;border-radius: 20px;margin:0 auto 64px;background: #fff;position: relative;}
.vote_list_number{padding:14px 16px;font-size: 24px;color: #9a5a13;background: #ffcc66;position: absolute;top: 0;right: 30px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;text-align: center;}
.vote_list_txt{width: 78%;margin:0 auto;padding:46px 0 20px;line-height: 46px;font-size: 24px;color: #9a5a13;}
.vote_list_content{height:82px;margin: 0 auto;background: #fce7ac;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;position: relative;
-webkit-box-shadow:inset 0 -6px 20px #cfbd8d;  
  -moz-box-shadow:inset 0 -6px 20px #cfbd8d;  
  box-shadow:inset 0 -6px 20px #cfbd8d;}
.vote_list_btn{width:34%;height: 100%;background: #fd8735;display: inline-block;border-bottom-right-radius: 20px;position: absolute;right: 0;top: 0;
-webkit-box-shadow:inset 0 -6px 20px #d7732d;  
  -moz-box-shadow:inset 0 -6px 20px #d7732d;  
  box-shadow:inset 0 -6px 20px #d7732d;}
.vote_list_btn .vote_list_btna{width:100%;display: inline-block;font-size: 30px;color: #fff;text-align: center;padding:32px 0;}
.vote_list_one{width:65%;display: inline-block;position: absolute;top: 0;left: 0;text-align: center;font-size: 20px;color: #9a5a13;padding:18px 0 8px;}
.vote_list_name{width: auto;display: inline-block;margin-right: 20px;}
.vote_list_tel{width: auto;display: inline-block;}
.vote_list_money{display: inline-block;width:65%;font-size: 20px;color: #9a5a13;text-align: center;position: absolute;left: 0;bottom: 20px;}



/**/
.popup_bg {
  width:100%;position: fixed; top:0px; left:0px;bottom:0px;right:0px; background: rgba(0,0,0,.8);
  display: box;
  display: -webkit-box;
  box-pack:center;
  box-align: center;
  -webkit-box-pack:center;
  -webkit-box-align: center;
  z-index: 100;
}
.alert_open{display: box;display: -webkit-box;}
.alert_hide{display: none;}
.popup_box{ width:100%;margin:0 auto; overflow: hidden; }
.introduce_popup{width: 100%;text-align: center;margin:0 auto;}
.introduce_popup_txt{padding-bottom: 40px;width: 60%;margin:0 auto;}
.progress_popup_btntxt{font-size: 25px;color: #fff;position: absolute;display: inline-block;width: 100%;left: 0;padding:3px 0;top:0;}
.introduce_popup_box{width: 100%;}
.progress_popup_btna{display: inline-block;position: relative;padding:0 3%;}


