#body{width: 100%;font-family: "微软雅黑";background: #fee2a0;}
/*banner*/
.banner{width: 100%;text-align: center;margin:0 auto;}
.banner_img{display: block;}
.main_content{width: 100%;margin:0 auto; background: #f9f0d8;padding-top: 22px;
background: -webkit-linear-gradient(#f9f0d8, #faf1d8);
  background: -o-linear-gradient(#f9f0d8, #faf1d8); 
  background: -moz-linear-gradient(#f9f0d8, #faf1d8); 
  background: linear-gradient(#f9f0d8, #faf1d8);}
/*introduce*/
.introduce{width: 90%;margin:0px auto 0;background: #fff;border-radius: 20px;-height: 340px;padding: 8px 0;position:relative;
-webkit-box-shadow:inset 0 -10px 40px #ccc;  
  -moz-box-shadow:inset 0 -10px 40px #ccc;  
  box-shadow:inset 0 -10px 40px #ccc;}
.introduce_border{width: 97%;-height: 96%;padding:28px 0;border:1px dashed #774121;border-radius: 20px;margin:0 auto 0;background: url(../../../images/activity/water/water1.png) no-repeat center 5px;font-size: 24px;line-height:48px;color: #9a5a13;}
.introduce_txt{width: 84%;margin:0 auto;text-indent:50px;}
.introduce_border1{width: 97%;-height: 96%;padding:28px 0;border:1px dashed #774121;border-radius: 20px;margin:0 auto 0;background: url(../../../images/activity/water/water1.png) no-repeat center 5px;font-size: 24px;line-height:48px;color: #9a5a13;}
.introduce_txt1{width: 84%;margin:0 auto;}
/*progress_bar*/
.progress_bar{width: 90%;margin:10px auto 0;}
.progress_bar_box{ width:100%; display: -webkit-box;display: -webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;overflow: hidden;}
.progress_bar_txt1{ width:33.33%; position: relative; text-align: left;  padding: 32px 0px;font-size:30px;color:#9a5a13;}
.progress_bar_txt2{ width:33.33%; position: relative; text-align: center;  padding: 32px 0px;font-size:30px;color:#9a5a13;}
.progress_bar_txt3{ width:33.33%; position: relative; text-align: right;  padding: 32px 0px;font-size:30px;color:#9a5a13;}
.progress_bar_color{width: 100%;text-align: center; }
.progress_bar_size{font-size: 24px;}
.progress_bar_btn{width: 100%;text-align: center;margin:10px auto 0;}
.progress_bar_btna{display: inline-block;position: relative;}
.progress_bar_btntxt{font-size: 40px;color: #fff;position: absolute;display: inline-block;width: 100%;left: 0;padding:30px 0;top:0;}

.prize{width: 100%;background: #fee2a0;margin:38px auto 0;padding: 50px 0 70px;}
.prize_title{width: 100%;text-align: center;margin:0 auto;}
.prize_content{width: 100%;margin:0 auto;}
.prize_content_bg1,.prize_content_bg2,.prize_content_bg3,.prize_content_bg4{width: 90%;border-radius: 100px;position: relative;height:130px;margin:34px auto 0;text-align: center;}
.prize_content_bg1{background: #ff6500;}
.prize_content_bg2{background: #fd8936;}
.prize_content_bg3{background: #fdb036;}
.prize_content_bg4{background: #fdc736;}
.prize_content_box{width: 74%;margin-left: 22%;}
.prize_content_name{font-size: 60px;color: #fff;padding:35px 0;font-weight: 600;}
.prize_content_money{font-size: 24px;color: #fff;padding:10px 0;}
.prize_content_img{position: absolute;left: 0;top: -10px;}
.prize_text{width: 100%;text-align: center;line-height: normal;font-size: 24px;color: #9a5a13;padding: 48px 0;}


/*data*/
.introduce_img{position: absolute;bottom: 40px;right: 20px;}
.introduce_data{width: 90%;margin:0px auto 0;background: #fff8e8;border-radius: 20px;-height: 340px;padding: 8px 0;}
.introduce_border_data{width: 97%;padding:28px 0;border:1px dashed #774121;border-radius: 20px;margin:0 auto 0;}
.introduce_border_dataul{margin:0 auto 36px;}
.introduce_border_dataul li{width: 100%;margin-bottom: 12px;}
.introduce_border_dataul .introduce_data_name{display: inline-block;width: 26%;vertical-align: top;text-align: right;padding:20px 0;margin-right:15px;color: #9a5a13;font-size: 26px;}
.introduce_border_dataul .introduce_data_pic{display: inline-block;width: 47%;vertical-align: top;text-align: right;padding:20px 0;margin-right:15px;color: #9a5a13;font-size: 26px;}
.introduce_border_dataul .introduce_data_nameput{display: inline-block;width: 65%;vertical-align: top;padding:9px 0;border:none;border:1px solid #e7bd5c;border-radius: 10px;padding-left: 2%;font-size: 26px;}
.introduce_border_dataul .introduce_data_img{display: inline-block;width: 67%;vertical-align: top;border:1px solid #e7bd5c;border-radius: 10px;overflow: hidden;}
.introduce_border_dataul .introduce_data_img img{display: block;width: 100%;height: 244px;}
.introduce_border_dataul .introduce_data_picput{display: inline-block;width: 46%;vertical-align: top;padding:20px 0;border-radius: 10px;text-align:center;font-size: 26px;color: #fff;background: #fda135;}
.introduce_border_dataul .introduce_data_nameputarea{display: inline-block;resize:none;width: 65%;vertical-align: top;padding:9px 0;border:none;border:1px solid #e7bd5c;border-radius: 10px;padding-left: 2%;font-size: 26px;height: 308px;}
.introduce_border_dataul .introduce_data_picputewidth{width: 67%;}
.Notice{width: 100%;background: #fff8e8;margin:46px auto 0;padding:36px 0 60px;}



/*审核*/
.introduce_examine{width: 100%;margin:0px auto 0;background: #fff;border-radius: 20px;-height: 340px;padding: 8px 0;position: relative;
  -webkit-box-shadow:inset 0 -10px 40px #ccc;
  -moz-box-shadow:inset 0 -10px 40px #ccc;
  box-shadow:inset 0 -10px 40px #ccc;}
.introduce_border_examine1{width: 97%;-height: 96%;padding:80px 0;border:1px dashed #774121;border-radius: 20px;margin:0 auto 0;background: url(../../../images/activity/water/water1.png) no-repeat center 5px;font-size: 24px;color: #9a5a13;}
.introduce_border_examine2{width: 97%;-height: 96%;padding:44px 0;border:1px dashed #774121;border-radius: 20px;margin:0 auto 0;background: url(../../../images/activity/water/water1.png) no-repeat center 5px;font-size: 24px;color: #9a5a13;}
.introduce_txt_examine{width: 100%;text-align: center;}
.introduce_txt_margin{padding:14px;}
.progress_examine_btntxt{font-size: 32px;color: #fff;position: absolute;display: inline-block;width: 100%;left: 0;padding:24px 0;top:0;}
.introduce_txt_margin1{padding:14px 0 30px;}


/**/
.popup_bg {
  width:100%;position: fixed; top:0px; left:0px;bottom:0px;right:0px; background: rgba(0,0,0,.8);
  display: box;
  display: -webkit-box;
  box-pack:center;
  box-align: center;
  -webkit-box-pack:center;
  -webkit-box-align: center;
  z-index: 100;
}
.alert_open{display: box;display: -webkit-box;}
.alert_hide{display: none;}
.popup_box{ width:100%;margin:0 auto; overflow: hidden; }
.introduce_popup{width: 100%;text-align: center;margin:0 auto;}
.introduce_popup_txt{padding-bottom: 40px;width: 60%;margin:0 auto;}
.progress_popup_btntxt{font-size: 25px;color: #fff;position: absolute;display: inline-block;width: 100%;left: 0;padding:3px 0;top:0;}
.introduce_popup_box{width: 100%;}
.progress_popup_btna{display: inline-block;position: relative;padding:0 3%;}
