* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px/1.8 "Microsoft Yahei", verdana;
    background: #fff!important;
}
ul,li,ol{
    padding: 0;
    margin: 0;
}

/*第一屏*/
.safe_banner {
    height: 360px;
    background: url(../../images/safe/safe_banner.jpg) center no-repeat;
}
.safe_power,.safe_risk,.safe_technical,.safe_operation{
    padding-top: 70px;
    width: 1080px;
    margin: 0 auto 50px;
}
.safe_wrap_title{
    margin-bottom: 50px;
    text-align: center;
    font-size: 24px;
    line-height: 25px;
    color: #333;
}
.safe_wrap_title p{
    font-size: 14px;
    color: #c5c5c5;
    margin-top: 10px;
    line-height: 15px;
}
.safe_wrap_title p span{
    width: 75px;
    margin: 5px 15px;
    display: inline-block;
    height: 1px;
    background: #c5c5c5;
}
.row{
    margin-left: -20px;
    margin-right: -20px;
}
.safe_power .row,.safe_technical .row{
    margin-left: -30px;
    margin-right: -30px;
}
.row:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.col-3,.col-4,.col-6{
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
.safe_power .col-4,.safe_technical .col-4{
    padding-left: 30px;
    padding-right: 30px;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-6{
    width: 50%;
}
.safe_list{
    -webkit-box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, .1);
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, .1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.safe_power_list_img img{
    width: 100%;
}
.safe_power_des{
    background: #fff;
    padding:  20px;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    text-align: center;
}
.safe_power_des span{
    color: #FF6633;
}
.safe_risk_row{
    padding-bottom: 50px;
}
.risk_row_img img{

}
.text_center{
    text-align: center;
}
.risk_row_img p{
    font-size: 30px;
    color: #FF6633;
    text-align: right;
    line-height: 40px;
}
.safe_risk_row h5{
    font-size: 18px;
    color: #FF6633;
    margin-bottom: 15px;
    line-height: 30px;
    font-weight:bold;
}
.safe_risk_row p{
    font-size: 14px;
    color: #999;
    line-height: 20px;
}
.safe_risk_row p span{
    color: #FF6633;
}
.dom_left{
    float: left;
    margin-right: 20px;
    width: 240px;
}
.dom_right{
    float: left;
    text-align: left;
    padding-top: 50px;
    width: 260px;
}

.credit_process{
    position: relative;
    height: 250px;
    background: url(../../images/safe/safe_process.png) no-repeat center;
}
.process_step{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right:0;
}
.process_step li{
    position: absolute;
    cursor: pointer;
}
.process_step li>span{
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border: solid 2px #c7e0fe;
    background: #74b2ff;
    font-size: 14px;
    color: #fff;
    display: block;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.process_step li p{
    position: absolute;
    font-size:12px;
    color: #999;
    width: 65px;
    text-align: center;
    line-height: 15px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    left: 50%;
    margin-left: -32px;
}
.process_step li.step2 p{
    bottom: -53px;
}
.process_step li.step1 p{
    top: -53px;
}
.process_step .step_focuse span{
    background: #ff6633;
    border-color: #fdd8cb;
}
.process_step .step_focuse p{
    color: #FF6633;
}
.process_des{
    filter:alpha(opacity=0);   
      -moz-opacity:0;   
      -khtml-opacity: 0;   
      opacity: 0;   
    font-size: 12px;
    color: #fff;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #FF6633;
    position: absolute;
    left: 50%;
    text-align: center;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.process_step li.step1 .process_des{
    width: 160px;
    margin-left: -90px;
}
.process_step li.step2 .process_des{
    width: 100px;
    margin-left: -60px;
}
.process_step li.step1 .process_des span{
    width: 20px;
    height: 12px;
    position: absolute;
    top: -11px;
    left: 50%;
    margin-left: -10px;
    display: block;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
    background: url(../../images/safe/triangle_bottom.png) no-repeat center;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.process_step li.step2 .process_des span{
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    width: 20px;
    height: 12px;
    position: absolute;
    bottom: -11px;
    left: 50%;
    margin-left: -10px;
    display: block;
    background: url(../../images/safe/triangle_top.png) no-repeat center;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.step_focuse .process_des,.process_step .step_focuse .process_des span{
    filter:alpha(opacity=100)!important;
      -moz-opacity:1!important;
      -khtml-opacity: 1!important;
      opacity: 1!important;
}
.technical_wrap{
    padding: 30px;
    -webkit-box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, .1);
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, .1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 50px;
}
.technical_ico{
    margin-bottom: 20px;
}
.technical_wrap h5{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}
.technical_wrap p{
    font-size: 12px;
    color: #999999;
    height: 45px;
}
.operation_wrap{
    margin-bottom: 40px;
    -webkit-box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, .1);
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, .1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.operation_wrap .operation_des{
    height: 90px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    background: #f5f5f5;
    font-size: 14px;
    color: #999999;
    line-height: 18px;
}
.operation_wrap h5{
    line-height: 50px;
    padding-left: 30px;
    font-size: 16px;
    color: #FF6633;
    font-weight:bold;
}
@media (min-width: 0) {

}
@media (min-width: 1920px) {
    .safe_banner {
        -webkit-background-size:cover;
        background-size:cover;
    }
}











