/*中文 */
/* 主体样式 */
/*重置样式 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
figcaption,
figure,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1 Lucida Grande, 'Microsoft YaHei', "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
h1 {
  font-size: 18px;
  font-weight: normal;
}
h2 {
  font-size: 16px;
  font-weight: normal;
}
h3 {
  font-size: 14px;
  font-weight: normal;
}
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
abbr[title],
acronym[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
q:before,
q:after {
  content: '';
}
legend {
  color: #000;
}
fieldset,
img {
  border: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  border: none;
  height: 1px;
}
* {
  -ms-word-break: break-all;
  word-break: break-all;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*风格及mixin定义，编译完应为空 */
.back-to-index,
.back-to-map {
  position: fixed;
  left: 5px;
  top: 30px;
  z-index: 3;
  height: 20px;
  padding: 0 10px;
  line-height: 20px;
  color: #ffe981;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}
.back-to-index i,
.back-to-map i {
  font-style: normal;
  margin-right: 5px;
}
body {
  color: #000000;
  background-color: #fff;
}
button {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}
button:active {
  -moz-transform: translate(1px, 1px);
  -ms-transform: translate(1px, 1px);
  -o-transform: translate(1px, 1px);
  -webkit-transform: translate(1px, 1px);
  transform: translate(1px, 1px);
}
html,
body {
  height: 100%;
}
body {
  background: url(../img/back_16.png) left top no-repeat;
  background-size: cover;
}
.header {
  position: relative;
  z-index: 100;
  width: 320px;
  -webkit-transform-origin: left top;
}
.banner {
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 200;
  width: 320px;
  height: 80px;
  background: url(../img/back_19.png) left top;
  background-size: 320px auto;
}
.banner .header-1 {
  position: absolute;
  left: 20px;
  top: 28px;
  font-size: 25px;
  color: #fff300;
  font-weight: bold;
}
.banner .drum {
  position: absolute;
  left: 50%;
  top: 17px;
  width: 47px;
  margin-left: -23px;
  height: 53px;
  background-color: #fff;
}
.banner .drum:after {
  content: '';
  position: absolute;
  left: -4px;
  top: -12px;
  width: 55px;
  height: 69px;
  z-index: 210;
  background: url(../img/drum.png) left top no-repeat;
  background-size: 55px auto;
}
.banner .drum-liquid {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  padding-top: 5px;
  overflow: hidden;
  -webkit-animation: grow-up linear 2s 1;
}
.banner .drum-liquid:after {
  display: block;
  content: '';
  height: 100px;
  width: 100%;
  background-color: #fc7101;
}
.banner .drum-liquid-level {
  position: absolute;
  left: 0;
  top: 1px;
  z-index: 209;
  width: 297px;
  height: 5px;
  background: url(../img/wave.png) repeat-x;
  background-size: 250px 5px;
  -webkit-animation: wave linear 5s infinite;
}
.banner .count-down {
  position: absolute;
  left: 205px;
  top: 29px;
  color: #fff300;
}
.banner .num-wheel {
  float: left;
  width: 15px;
  height: 24px;
  line-height: 24px;
  font-size: 24px;
}
.banner .num-wheel .num-wheel-inner {
  -webkit-transform-origin: center center -38px;
  transition-duration: 10s;
}
.banner .num-wheel .num-wheel-single {
  -webkit-transform-origin: center center -38px;
}
.banner .num-wheel-0 .num-wheel-inner {
  transition-duration: 0.5s;
  -webkit-transform: rotateX(36deg);
}
.banner .colon {
  float: left;
  width: 12px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  font-size: 24px;
}
.gas {
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 80px;
  width: 150px;
  height: 65px;
  background-color: #e80000;
  color: #fff300;
  font-size: 0;
  font-weight: bold;
  text-align: center;
  margin-left: -75px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.7);
}
.gas .plus {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  width: 16px;
  height: 24px;
  vertical-align: middle;
}
.gas .num-wheel {
  display: inline-block;
  font-size: 24px;
  width: 16px;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
}
.gas .num-wheel .num-wheel-inner {
  -webkit-transform-origin: center center -38px;
  transition-duration: 1s;
}
.gas .num-wheel .num-wheel-single {
  -webkit-transform-origin: center center -38px;
}
.gas .unit {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  width: 32px;
  height: 24px;
  vertical-align: middle;
}
.no-num-wheel .num-wheel .num-wheel-inner {
  -webkit-transform: none;
}
.gas-inner {
  -webkit-transform-origin: center;
  margin-top: 25px;
}
.package {
  position: absolute;
  left: 265px;
  top: 110px;
  color: #fff300;
  font-size: 15px;
}
.package i {
  position: absolute;
  left: -17px;
  top: 3px;
  width: 14px;
  height: 10px;
  background: url(../img/back_20.png) left top no-repeat;
  background-size: 14px auto;
}
.package .count {
  display: inline;
}
.num-wheel {
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
}
.num-wheel-inner {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transform-origin: center center;
  transition: all linear 2s;
  -webkit-transform: rotateX(0deg);
}
.num-wheel-inner.step-in {
  transition-duration: 0 !important;
}
.num-wheel-single {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 100%;
  text-align: center;
  -webkit-transform-origin: center center;
  -webkit-backface-visibility: hidden;
}
.num-wheel-single-0 {
  -webkit-transform: rotateX(0deg);
}
.num-wheel-single-1 {
  -webkit-transform: rotateX(-36deg);
}
.num-wheel-single-2 {
  -webkit-transform: rotateX(-72deg);
}
.num-wheel-single-3 {
  -webkit-transform: rotateX(-108deg);
}
.num-wheel-single-4 {
  -webkit-transform: rotateX(-144deg);
}
.num-wheel-single-5 {
  -webkit-transform: rotateX(-180deg);
}
.num-wheel-single-6 {
  -webkit-transform: rotateX(-216deg);
}
.num-wheel-single-7 {
  -webkit-transform: rotateX(-252deg);
}
.num-wheel-single-8 {
  -webkit-transform: rotateX(-288deg);
}
.num-wheel-single-9 {
  -webkit-transform: rotateX(-324deg);
}
.bag {
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 210px;
  margin-left: -105px;
  height: 215px;
  background: url(../img/back_22.png) left bottom no-repeat;
  background-size: 210px auto;
  z-index: 20;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.7);
}
.main {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 15;
  width: 100%;
  -webkit-transform-origin: center bottom;
}
.cards {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.cards:after {
  position: absolute;
  content: '';
  left: 50%;
  bottom: 5px;
  width: 180px;
  margin-left: -90px;
  height: 245px;
  background: url(../img/back_23.png) left top no-repeat;
  background-size: 180px auto;
}
.cards .card {
  position: absolute;
  left: 50%;
  bottom: 17px;
  z-index: 16;
  width: 158px;
  margin-left: -86px;
  height: 226px;
  background: url(../img/back_28.png) left bottom;
  background-size: 158px auto;
  transition: all ease-out 0.4s;
}
.cards .card.step-in {
  transition-duration: 0s !important;
}
.cards .card span {
  display: block;
  margin: 55px 40px 0;
  font-size: 34px;
  color: #fff300;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
}
.cards.bubbling .card {
  -webkit-animation: card-bubble ease-in-out 1.5s infinite alternate-reverse;
}
.how-tip {
  position: absolute;
  left: 50%;
  bottom: 265px;
  z-index: 20;
  -webkit-transform: translateX(-50%);
  height: 25px;
  padding: 0 10px;
  line-height: 25px;
  background-color: rgba(210, 45, 39, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 3px 1px #fff300;
  color: #fff300;
  font-size: 10px;
  white-space: nowrap;
}
.how-tip .arrs {
  position: absolute;
  left: 50%;
  bottom: 30px;
  width: 17px;
  margin-left: -8px;
}
.how-tip .arrs div {
  width: 17px;
  height: 10px;
  background: url(../img/back_21.png) left top;
  background-size: 17px auto;
  -webkit-animation: arr-bubble ease-in-out 1.5s alternate-reverse infinite;
}
.how-tip .arrs .arr-1 {
  margin-top: -2px;
  -webkit-animation-delay: 0.2s;
}
.falling-cards {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}
.falling-cards .card {
  position: absolute;
  left: 0;
  top: 0;
  transition: linear all 3s;
}
.falling-cards .card .card-inner {
  -webkit-animation: card-swing linear 1.5s alternate 2;
  -webkit-transform: rotateZ(-20deg);
}
.falling-cards .card .card-inner span {
  color: #fff300;
}
.falling-cards .card.fade-out {
  transition-duration: 0.5s;
}
.falling-cards .card-0 .card-inner {
  -webkit-transform-origin: center -60px 0;
}
.falling-cards .card-0 .card-inner .card-inner-inner {
  width: 85px;
  height: 72px;
  background: url(../img/back_24.png) left top no-repeat;
  background-size: 85px auto;
  -webkit-transform: rotateZ(36deg);
}
.falling-cards .card-0 .card-inner span {
  position: absolute;
  left: 32px;
  top: 18px;
  width: 25px;
  font-size: 10px;
  -webkit-transform: rotateZ(45deg);
  line-height: 11px;
  text-align: center;
}
.falling-cards .card-1 {
  -webkit-transform-origin: center -40px 0;
}
.falling-cards .card-1 .card-inner {
  -webkit-transform-origin: center -40px 0;
}
.falling-cards .card-1 .card-inner .card-inner-inner {
  width: 58px;
  height: 49px;
  background: url(../img/back_25.png) left top no-repeat;
  background-size: 58px;
  -webkit-transform: rotateZ(36deg);
}
.falling-cards .card-1 .card-inner span {
  position: absolute;
  left: 19px;
  top: 5px;
  width: 25px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  -webkit-transform: rotateZ(40deg) scale3d(0.7, 0.7, 1);
}
.falling-cards .card-2 .card-inner {
  -webkit-transform-origin: center -55px 0;
}
.falling-cards .card-2 .card-inner .card-inner-inner {
  width: 80px;
  height: 67px;
  background: url(../img/back_26.png) left top no-repeat;
  background-size: 80px auto;
  -webkit-transform: rotateZ(0);
}
.falling-cards .card-2 .card-inner span {
  position: absolute;
  left: 21px;
  top: 15px;
  width: 25px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  -webkit-transform: rotateZ(78deg) scale3d(0.9, 0.9, 1);
}
.oils {
  position: fixed;
  left: 0;
  top: 150px;
  width: 100%;
  height: 0;
  z-index: 300;
}
.oils .oil {
  position: absolute;
  left: 50%;
  top: 0;
  width: 26px;
  height: 36px;
  margin: 0 auto;
  background: url(../img/back_27.png) left top;
  background-size: cover;
  transition: all 0.5s linear;
}
.layer-bg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: all linear 0.25s;
  pointer-events: none;
}
.layer-bg.show {
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: all;
}
.layer-normal {
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: 1010;
  width: 297px;
  height: 152px;
  margin-left: -149px;
  margin-top: -76px;
  background: url(../img/back_29.png) left top;
  background-size: 297px auto;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  pointer-events: none;
  -moz-transition: ease-out 0.3s all;
  -o-transition: ease-out 0.3s all;
  -webkit-transition: ease-out 0.3s all;
  transition: ease-out 0.3s all;
  box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.6);
}
.layer-normal.show {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition: cubic-bezier(0.69, 0.16, 0.46, 1.36) 0.3s all;
  -o-transition: cubic-bezier(0.69, 0.16, 0.46, 1.36) 0.3s all;
  -webkit-transition: cubic-bezier(0.69, 0.16, 0.46, 1.36) 0.3s all;
  transition: cubic-bezier(0.69, 0.16, 0.46, 1.36) 0.3s all;
  pointer-events: auto;
}
.layer-normal .close {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 21px;
  height: 21px;
}
.layer-cont {
  margin-top: 75px;
}
.layer-cont .words {
  height: 40px;
  text-align: center;
}
.layer-cont .p-0 {
  font-size: 14px;
  color: #8f5904;
  line-height: 30px;
}
.layer-cont .p-1 {
  font-size: 12px;
  color: #8f5904;
  line-height: 12px;
}
.layer-cont .p-2 {
  font-size: 15px;
  color: #fc7101;
  line-height: 30px;
}
.layer-cont .buttons {
  text-align: center;
}
.layer-cont .buttons button {
  width: 130px;
  height: 24px;
  line-height: 24px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  background-color: #e80000;
  border-radius: 5px;
  box-shadow: 1px 4px 2px 0 #a40303;
  margin: 0 5px;
}
.layer-share {
  position: absolute;
  right: 20px;
  top: 30px;
  width: 242px;
  height: 263px;
  background: url(../img/back_31.png) left top no-repeat;
  background-size: 242px auto;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  pointer-events: none;
  -moz-transition: ease-out 0.3s all;
  -o-transition: ease-out 0.3s all;
  -webkit-transition: ease-out 0.3s all;
  transition: ease-out 0.3s all;
}
.layer-share.show {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition: cubic-bezier(0.69, 0.16, 0.46, 1.36) 0.3s all;
  -o-transition: cubic-bezier(0.69, 0.16, 0.46, 1.36) 0.3s all;
  -webkit-transition: cubic-bezier(0.69, 0.16, 0.46, 1.36) 0.3s all;
  transition: cubic-bezier(0.69, 0.16, 0.46, 1.36) 0.3s all;
  pointer-events: auto;
}
#loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.01);
  z-index: 10000;
}
@-webkit-keyframes wave {
  from {
    -webkit-transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-250px);
  }
}
@-webkit-keyframes card-bubble {
  from {
    -webkit-transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-40px);
  }
}
@-webkit-keyframes arr-bubble {
  from {
    -webkit-transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-4px);
  }
}
@-webkit-keyframes card-swing {
  from {
    -webkit-transform: rotateZ(-20deg);
  }
  to {
    -webkit-transform: rotateZ(20deg);
  }
}
@media (max-height: 440px) {
  .bag,
  .cards {
    -webkit-transform: scale(0.7);
    -webkit-transform-origin: center bottom;
  }
  .how-tip {
    bottom: 180px;
  }
  .header {
    margin-top: -20px;
  }
}