#Html("begin")
#Head("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadCSS("resources/micro2.0/styles/activity/default")
#LoadCSS("resources/micro2.0/styles/activity/new_year_2017")

#LoadJS("resources/micro2.0/scripts/activity/six")
#LoadJS("resources/micro2.0/scripts/common/jquery-1.11.1.min")
#LoadJS("resources/micro2.0/scripts/activity/new_year_2017")
#WeChatShare()
#Head("end")
<body>
<input type="hidden" id="APP_ROOT_PATH" value="$!env.getWebURL('')">
<input type="hidden" id="sys_time" value=""/>
<!-- 头部 -->
<!--banner-->
##$!env.getWebURL('')/resources/micro2.0/$!env.getWebURL('')/resources/micro2.0/images/activity/openPolite2017/activity/openPolite2017/
<div class="banner">
	<img src="$!env.getWebURL('')/resources/micro2.0/images/activity/openPolite2017/banner.jpg" alt="">
</div>
<!--main-->
<div class="main-content">
	<div class="main-content-top">
		<div class="main-content-bg">
			<div class="main-content-txt">
				<p>活动期间，单笔投资满足下列活动要求即可</p>
				<p>获得下列对应的奖品；仅限港湾系列产品。</p>
			</div>
			<!--购买按钮-->
			<div class="main-content-btn">
				<a href="javascript:;" class="main-content-btna" onclick="clickMe()"><img src="$!env.getWebURL('')/resources/micro2.0/images/activity/openPolite2017/main-c2.png" /><img src="$!env.getWebURL('')/resources/micro2.0/images/activity/openPolite2017/main-c22.png" class="bottomMove" /></a>
			</div>
		</div>
	</div>
	<h3 class="main-title"><img src="$!env.getWebURL('')/resources/micro2.0/images/activity/openPolite2017/main-c3.png"/></h3>
	<div class="main-product sec1">
		<img src="$!env.getWebURL('')/resources/micro2.0/images/activity/openPolite2017/main-c7.png" class="main-product-bg" />
		<div class="main-product-title"><img src="$!env.getWebURL('')/resources/micro2.0/images/activity/openPolite2017/main-c4.png" /></div>
		<div class="main-product-list">
			<div class="main-product-listli">
				<div class="main-product-list-img"><img src="$!env.getWebURL('')/resources/micro2.0/images/activity/openPolite2017/main-j1.png" class="anim_scal" /></div>
				<div class="main-product-list-title">
					<p>单笔投资金额≥100万</p>
					<p>12个月即送</p>
					<p><span class="main-product-list-span">2000</span><i class="main-product-list-i">元 中石化油卡</i></p>
				</div>
			</div>
			<div class="main-product-listli">
				<div class="main-product-list-img"><img src="$!env.getWebURL('')/resources/micro2.0/images/activity/openPolite2017/main-j2.png" class="anim_scal" /></div>
				<div class="main-product-list-title">
					<p>单笔投资金额≥80万</p>
					<p>12个月即送</p>
					<p><span class="main-product-list-span">1500</span><i class="main-product-list-i">元 中石化油卡</i></p>
				</div>
			</div>
			<div class="main-product-listli bordernone">
				<div class="main-product-list-img"><img src="$!env.getWebURL('')/resources/micro2.0/images/activity/openPolite2017/main-j3.png" class="anim_scal" /></div>
				<div class="main-product-list-title">
					<p>单笔投资金额≥50万</p>
					<p>6个月及以上即送</p>
					<p><span class="main-product-list-span">1000</span><i class="main-product-list-i">元 中石化油卡</i></p>
				</div>
			</div>
		</div>
	</div>
	<div class="main-product  sec2">
		<img src="$!env.getWebURL('')/resources/micro2.0/images/activity/openPolite2017/main-c8.png" class="main-product-bg" />
		<div class="main-product-title"><img src="$!env.getWebURL('')/resources/micro2.0/images/activity/openPolite2017/main-c5.png" /></div>
		<div class="main-product-list">

			<div class="main-product-listli">
				<div class="main-product-list-img"><img src="$!env.getWebURL('')/resources/micro2.0/images/activity/openPolite2017/main-j4.png" class="anim_scal" /></div>
				<div class="main-product-list-title">
					<p>单笔投资金额≥35万</p>
					<p>6个月及以上即送</p>
					<p><span class="main-product-list-span">800</span><i class="main-product-list-i">元 京东卡</i></p>
				</div>
			</div>
			<div class="main-product-listli bordernone">
				<div class="main-product-list-img"><img src="$!env.getWebURL('')/resources/micro2.0/images/activity/openPolite2017/main-j5.png" class="anim_scal" /></div>
				<div class="main-product-list-title">
					<p>单笔投资金额≥25万</p>
					<p>6个月及以上即送</p>
					<p><span class="main-product-list-span">600</span><i class="main-product-list-i">元 京东卡</i></p>
				</div>
			</div>
		</div>
	</div>
	<div class="main-product sec3">
		<img src="$!env.getWebURL('')/resources/micro2.0/images/activity/openPolite2017/main-c7.png" class="main-product-bg" />
		<div class="main-product-title"><img src="$!env.getWebURL('')/resources/micro2.0/images/activity/openPolite2017/main-c6.png" /></div>
		<div class="main-product-list">

			<div class="main-product-listli">
				<div class="main-product-list-img"><img src="$!env.getWebURL('')/resources/micro2.0/images/activity/openPolite2017/main-j6.png" class="anim_scal" /></div>
				<div class="main-product-list-title">
					<p>单笔投资金额≥12万</p>
					<p>6个月及以上即送</p>
					<p><span class="main-product-list-span">500</span><i class="main-product-list-i">元 世纪联华超市卡</i></p>
				</div>
			</div>
			<div class="main-product-listli">
				<div class="main-product-list-img"><img src="$!env.getWebURL('')/resources/micro2.0/images/activity/openPolite2017/main-j7.png" class="anim_scal" /></div>
				<div class="main-product-list-title">
					<p>单笔投资金额≥8万</p>
					<p>3个月及以上即送</p>
					<p><span class="main-product-list-span">200</span><i class="main-product-list-i">元 世纪联华超市卡</i></p>
				</div>
			</div>
			<div class="main-product-listli bordernone">
				<div class="main-product-list-img"><img src="$!env.getWebURL('')/resources/micro2.0/images/activity/openPolite2017/main-j8.png" class="anim_scal" /></div>
				<div class="main-product-list-title">
					<p>单笔投资金额≥5万</p>
					<p>3个月及以上即送</p>
					<p><span class="main-product-list-span">100</span><i class="main-product-list-i">元 世纪联华超市卡</i></p>
				</div>
			</div>
		</div>
	</div>
	<h3 class="main-title"><img src="$!env.getWebURL('')/resources/micro2.0/images/activity/openPolite2017/main-c9.png"/></h3>
	<div class="main-rule">
		<img src="$!env.getWebURL('')/resources/micro2.0/images/activity/openPolite2017/main-c11.png" />
		<div class="main-rule-con">
			<div class="ru_txt"><em>1.</em>
				<p>活动时间：2017年1月9日-1月13日；</p>
			</div>
			<div class="ru_txt"><em>2.</em>
				<p>活动期间单笔投资港湾系列产品，满足金额及相应投资期限即可免费获得对应奖品，奖品不限量；</p>
			</div>
			<div class="ru_txt"><em>3.</em>
				<p>活动期间每位用户仅限参与一次，若参与两次及以上则系统将以该用户投资的最高一笔金额为准；</p>
			</div>
			<div class="ru_txt"><em>4.</em>
				<p>用户完成一次投资目标可获得与之对应的一项奖品，不叠加获得其他档奖品；</p>
			</div>
			<div class="ru_txt"><em>5.</em>
				<p>获得实物奖励的用户，客服将在活动结束后5个工作日内与您取得联系，请保持手机畅通。如因您自身原因错过通知，则视为放弃奖励；</p>
			</div>
			<div class="ru_txt"><em>6.</em>
				<p>获得世纪联华超市卡和京东卡的用户可自主选择其一，以与客服登记为准；</p>
			</div>
			<div class="ru_txt"><em>7.</em>
				<p>活动结束后，我们将通过币港湾微信公众号公布获奖名单，请及时关注。</p>
			</div>
		</div>
	</div>
	<div class="main-footer">本次活动的最终解释权归币港湾所有</div>
</div>
<!--弹窗-->
<div class="dialog_notice have_fee_dialog" style="display: none;">
	<div class="alert_info">
		<i class="close close_btn">
        <img src="$!env.getWebURL('')/resources/micro2.0/images/activity/openPolite2017/close.png" alt="">
    </i>
		<div class="alert_title">提示</div>
		<ul class="alert_ul">
			<li class="alert_list fee_show_text">您来晚了，活动已经结束了哟，谢谢您的关注~</li>
		</ul>
		<div class="btn_group">
			<div class="top_line close_btn know_this">知道了</div>
		</div>
	</div>
</div>

</body>

#Html("end")