#Html("begin")
#Head("begin")
#Title("币港湾理财官网_安心可靠互联网金融投资理财平台_品听资产_杭商资产_浙大网新_P2P网贷")
#Head("end")


</head>
<body>
<!-- website wrapper starts -->
<div class="websiteWrapper"> 
   #Header("转让购买","","","micro/index")
  </div>

<div class="newrow">
  <ul id="pagenavi1" class="newtitle">
  </ul>
  <div class="newbox" id="slider1">
	<!--转让区详情S-->
   <div class="transfer_con"> 
        <div class="cp_tit"> <span>$!transfer.id 转</span> </div>
		<form method="post" action="$!env.getWebURL('micro/regular/buyPayment')" id="myForm">
			<input type="hidden" name="productId" id="productId" value="$!transfer.productId"/>
			<input type="hidden" name="amount" id="amnount" value="$!transfer.price"/>
			<input type="hidden" name="transferId" id="transferId" value="$!transfer.id"/>
        </form>
        <p> <span>购买价格</span> <span>转让收益率</span> <span>剩余期限</span> </p>
        <p> <span style="color:#F60">¥$!transfer.price</span> <span> <strong>$!transfer.realRate%</strong> </span> <span> $!transfer.surplusTime天 </span> </p>
        <p> <span  style="color:#44b549;"> 比原收益率多#set($b = $!transfer.realRate - $!transfer.oldRate) $!b% </span>
         <input value="立即购买" name="" #if($!myself=="true")onclick="drawToast('无法购买自己的转让产品');" #else onclick="$('#myForm').submit()" #end type="button">
        </p>
    </div>
	<!--转让区详情E-->
    <div class="js2">
      <div class="m_tit">
        <h2 class="long"> 收益计息 </h2>
      </div>
      <div class="postExcerptWrapper">
        <p>活期通采用等级利率计息，根据存入时间分为：</p>
        <p>转入1-3个月，计息年化收益8.0%； </p>
        <p>转入6-9个月，计息年化收益9.0%; </p>
        <p>转入9个月以上，计息年化收益13.2%； </p>
      </div>
    </div>
    <div class="js2">
      <div class="m_tit">
        <h2 class="long"  style="padding-left: 10px;"> 充值和提现</h2>
      </div>
      <div class="postExcerptWrapper">
        <p>每次充值100元起，每天充值限制3次；</p>
        <p>账户必须赎回后方可提现，投资活期通30天后
          
          可以申请赎回，当天T+1日赎回结算，T+3-5日
          
          提现到账，每日最高赎回5万元； </p>
      </div>
    </div>
    <div class="js2">
      <div class="m_tit">
        <h2 class="long"> 投资去向 </h2>
      </div>
      <div class="postExcerptWrapper">
        <p> 活期通和优质的小贷公司进行合作，转让优质
          
          的小额贷款债权，每1笔债权都由活期通平台根
          
          据5道风控体系进行筛选评分，最终匹配给投资
          
          者，活期通对每1笔投资款都分别分割到多笔小
          
          额贷款中，以保证资金本息安全。 </p>
      </div>
    </div>
    <div class="js2">
      <div class="m_tit">
        <h2 class="long"> 本息保障 </h2>
      </div>
      <div class="postExcerptWrapper">
        <p> 活期通每1笔投资款都由担保公司承保，承诺
          
          一旦发生预期还款即由担保公司垫付资金，
          
          优先兑付给投资者，同时币港湾平台也将根据
          
          经营状况设置足够兑付的风险资本金，以保证
          
          投资者资金到期赎回的兑付； </p>
      </div>
    </div>
 
    <div class="js2">
      <div class="m_tit">
        <h2 class="long" style="padding-left: 10px;"> 银行卡额度 </h2>
      </div>
      <div class="postExcerptWrapper">
        <p> 由于各银行卡对充值限额不同的规定，请参考一下银行充值限额 </p>
        <table>
      <thead>
        <tr>
          <th>银行</th>
          <th>单笔限额</th>
          <th>每日限额</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>农业银行</td>
          <td>50万/笔</td>
          <td>100万/天</td>
        </tr>
        <tr>
          <td>工商银行</td>
          <td>50万/笔</td>
          <td>100万/天</td>
        </tr>
        <tr>
          <td>招商银行</td>
          <td>50万/笔</td>
          <td>100万/天</td>
        </tr>
        <tr>
          <td>中国银行</td>
          <td>50万/笔</td>
          <td>100万/天</td>
           </tr>
        <tr>
          <td>建设银行</td>
          <td>50万/笔</td>
          <td>100万/天</td>
           </tr>
        <tr>
          <td>广大银行</td>
          <td>50万/笔</td>
          <td>100万/天</td>
          </tr>
        <tr>
          <td>华夏银行</td>
          <td>50万/笔</td>
          <td>100万/天</td>
           </tr>
        <tr>
          <td>浦发银行</td>
          <td>5万/笔（可在银行自行设置）</td>
          <td>100万/天</td>
          </tr>
        
        
      </tbody>
    </table>
      </div>
    </div>
    

  </div>
  <div class="wz4" style="margin-bottom:50px; padding-top:20px;"> 
	<input id="payment"  class="go_btn3" type="button"  value="立即购买" #if($!myself=="true")onclick="drawToast('无法购买自己的转让产品');" #else onclick="$('#myForm').submit()" #end style="color:#fff;margin-top:20px;"> 
  </div>
  
  <!-- page wrapper ends --> 
  #WeiChatShare("币港湾安全理财平台，拥有杭商国资和著名上市集团公司浙大网新的丰厚背景，打造全国性互联网理财平台。","安全、稳健的移动互联网投资产品，3个月短期、6个月中期、1年中长期投资，预期收益率分别为：8%，9%，13.2%；注册有惊喜！www.bigangwan.com ","$!env.getWebURL('/resources/micro/images/bgw.jpg')","$!weichat.link",$!weichat.appid,$!weichat.timestamp,$!weichat.nonceStr,$!weichat.signature)
  <!-- footer wrapper starts -->
#Footer("2")
  <!-- footer wrapper ends --> 
  
</div>
</div>
<!-- website wrapper ends -->
</body>
</html>
