body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:748px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:510px;
  width:321px;
  height:58px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:58px;
}
#u3 {
  position:absolute;
  left:2px;
  top:21px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:80px;
  width:321px;
  height:300px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:300px;
}
#u5 {
  position:absolute;
  left:2px;
  top:142px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:96px;
  width:321px;
  height:41px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:41px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:18px;
  top:109px;
  width:79px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:297px;
  top:100px;
  width:19px;
  height:29px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:29px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:139px;
  width:321px;
  height:41px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:41px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:18px;
  top:152px;
  width:53px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:297px;
  top:127px;
  width:19px;
  height:29px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:29px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:243px;
  top:108px;
  width:66px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:245px;
  top:150px;
  width:56px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:291px;
  top:73px;
  width:13px;
  height:13px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:370px;
  top:80px;
  width:378px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  white-space:nowrap;
}
