body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:9px;
  top:30px;
  width:401px;
  height:706px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:706px;
}
#u1 {
  position:absolute;
  left:2px;
  top:345px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:9px;
  top:690px;
  width:411px;
  height:46px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:170px;
  width:79px;
  height:37px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:37px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:180px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:180px;
  top:111px;
  width:100px;
  height:23px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:180px;
  top:111px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:20px;
  top:170px;
  width:370px;
  height:450px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:450px;
}
#u13 {
  position:absolute;
  left:2px;
  top:217px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:396px;
  top:152px;
  width:24px;
  height:477px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:477px;
}
#u15 {
  position:absolute;
  left:2px;
  top:230px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:22px;
  top:630px;
  width:374px;
  height:52px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:52px;
}
#u17 {
  position:absolute;
  left:2px;
  top:18px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:42px;
  top:188px;
  width:369px;
  height:114px;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:114px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:42px;
  top:330px;
  width:93px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:163px;
  top:330px;
  width:93px;
  height:40px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:287px;
  top:330px;
  width:93px;
  height:40px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
