html, body {
    background: #f5f5f5;
}

.main {
    background: #f5f5f5;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 50px;
}

.main_banner {
    width: 100%;
    height: 180px;
    margin: 0 auto;
    background: url(../../../images/platform/main_banner_01.jpg) no-repeat center!important;
}

.main_center {
    width: 1080px;
    min-height: 200px;
    margin: 30px auto 0;
}

.main_cright {
    width: 890px;
    height: 100%;
    float: right;
}

.main_cr_h3 {
    width: 948px;
    height: 48px;
    border: 1px solid #e4e4e4;
    background: #fff;
    line-height: 48px;
    padding-left: 10px;
}

.main_cr_h3 a {
    font-size: 14px;
    color: #666;
    padding: 0 10px 0;
}

.main_cr_down {
    min-height: 200px;
    background: #fff;
    padding-bottom: 60px;
}

.main_cr_center_h3 {
    width: 916px;
    height: 66px;
    background: url(../../../images/platform/main_rtopbg.png) no-repeat bottom;
    font-size: 22px;
    color: #333;
    line-height: 66px;
    padding-left: 42px;
}

.main_cr_downtxt {
    min-height: 50px;
}

.main_cr_downh4 {
    font-size: 16px;
    color: #ff6633;
    height: 16px;
    line-height: 16px;
    margin: 40px 0 0 70px;
}

.main_cr_dQ {
    font-size: 14px;
    color: #666;
    min-height: 19px;
    overflow: hidden;
    line-height: 27px;
}

.main_cr_dQ span {
    display: block;
    float: left;
    width: 19px;
    height: 19px;
    background: #ff6633;
    color: #fff;
    text-align: center;
    line-height: 19px;
    margin: 23px 6px 0 60px;
}

.main_cr_dQ i {
    display: block;
    float: left;
    width: 812px;
    min-height: 19px;
    margin-top: 18px;
}

.main_cr_dA {
    font-size: 14px;
    color: #666;
    line-height: 27px;
}

.main_cr_dA span {
    display: block;
    float: left;
    width: 19px;
    height: 19px;
    background: #ffc33c;
    color: #fff !important;
    text-align: center;
    line-height: 19px;
    margin: 10px 6px 0 60px;
}

.main_cr_dA i {
    display: block;
    float: left;
    width: 812px;
    min-height: 19px;
    margin-top: 6px;
}

.AFontMain {
    padding-left: 60px;
    list-style: decimal;
}

.AFontMain > li {
    white-space: normal;
    word-wrap: break-word;
    max-width: 750px;
}

/*2017.4.25 QA修改*/
.main_cr_tags {
    height: 54px;
    border-bottom: solid 1px #e5e5e5;
}

.main_cr_tags:after {
    content: "";
    height: 0;
    display: block;
    clear: both;
}

.main_cr_tags > li {
    float: left;
    line-height: 55px;
    cursor: pointer;
    color: #333;
    font-size: 16px;
    position: relative;
    box-sizing: border-box;
    height: 55px;
    padding: 0 15px;
}

.main_cr_tags > li:last-child {
    border-right: none;
}

.main_cr_tags > li.active {
    color: #ff6633;
    border-bottom: solid 2px #FF6633;
}
.main_cr_tags > li.active span{
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    bottom:0;left: 0;
    background: url(../../../images/platform/help_triangle.png) no-repeat center;
}
.main_cr_content {
}

.main_cr_downtxt {
    padding: 15px 0;
    border-bottom: dashed 1px #e4e4e4;
    width: auto;
}

.main_cr_dQ span {
    margin: 0 15px 0 0;
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.main_cr_dQ i {
    margin: 0;
    line-height: 24px;
    width: auto;
}

.main_cr_dQ {
    position: relative;
    padding: 15px;
    cursor: pointer;
}

.main_cr_dQ > i {
    max-width: 750px;
    display: inline-block;
}

.tx_ellipsis {
    overflow: hidden;
    height: 24px;
    text-overflow: ellipsis;
}

.main_cr_dQ:hover {
    background: #F2F2F2;
}

.main_cr_dQ_arrow {
    height: 26px;
    width: 26px;
    float: right;
    margin-left: 30px;
    background: no-repeat center;
    background-image: url(../../../images/platform/help_arrowdown.png);
}

.main_cr_dQ > .arrow_down {
    background-image: url(../../../images/platform/help_arrowdown.png);
}

.main_cr_dQ > .arrow_up {
    background-image: url(../../../images/platform/help_arrowup.png);
}

.main_cr_dA {
    padding: 15px;
    white-space: nowrap;
}

.main_cr_dA:after {
    content: "";
    height: 0;
    display: block;
    clear: both;
}

.main_cr_dA span {
    width: 24px;
    height: 24px;
    margin: 0 15px 0 0;
    line-height: 24px;
}

.main_cr_dA > i {
    color: #999999;
    line-height: 24px;
    margin-top: 0;
    white-space: normal;
    width: 740px;
}

.main_cr_dA > i:hover {
    color: #FF6633;
}

.main_cr_dA:hover {
    color: #FF6633;
}
.main_cr_dA > i a{
    color: #FF6633;
}
.main_cr_dA_withdraw {
    list-style: decimal;
    float: left;
    padding-left: 20px;
    color: #999999;
}

.main_cr_dA_withdraw p, .main_cr_dA_withdraw li {
}

.main_cr_dA_withdraw table, .main_cr_dA_withdraw td, .main_cr_dA_withdraw tr {
    vertical-align: middle;
    border: solid 1px #cccccc;
}

.main_cr_dA_withdraw td {
    padding: 5px 0;
}

.main_cr_dA_withdraw:hover {
    color: #FF6633;
}
