.body {
    background: #f5f5f5;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:#999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#999;
}
.main {
    width: 1200px;
    min-height: 100px;
}

.main_content {
    width: 800px;
    background: #fff;
    margin: 30px auto;
    border-top: solid 2px #FF6633;
    padding: 0 20px;
}

/*.main_content_titleimg{display:inline-block;width: 35px;height: 17px;background: url(../../../images/assets/bankcard/quick.png) no-repeat center;font-size: 12px;color: #fff;line-height: 17px;text-align: center;position: relative;top:-2px;}*/
.payment_method_money {
    height: 46px;
    margin: 30px auto 0;
    line-height: 46px;
    text-align: center;
    color: #333;
    font-size: 30px;
}

.card_bind {
    min-height: 100px;
    margin: 40px auto 0;
}

.card_bind_ul {
    width: 450px;
    margin: 0 0 0 150px;
}

.card_bind_li {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    line-height: 40px;
}

.card_bind_li_margin {
    margin-bottom: 0;
}

.card_bind_left {
    width: 110px;
    height: 40px;
    float: left;
    text-align: right;
    font-size: 14px;
    color: #666;
}

.card_bind_right {
    width: 340px;
    height: 40px;
    float: left;
}

.card_bind_right .card_bind_rightinput {
    width: 290px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    color: #999;
    padding: 10px 0 10px 10px;
    background-color: #f2f2f2;
}
.card_bind_right .card_bind_rightinput:focus{
    border-color: #FF6633;
}

.card_bind_right .card_bind_rightinputcopy {
    width: 150px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    color: #999;
    padding: 10px 0 10px 10px;
    float: left;
}

/*下拉框*/
#divselect {
    width: 300px;
    position: relative;
    z-index: 1;
    background: #f2f2f2;
}

#divselect cite {
    width: 288px;
    height: 38px;
    line-height: 38px;
    display: block;
    color: #666;
    cursor: pointer;
    font-size: 14px;
    padding-left: 11px;
    border: 1px solid #e5e5e5;
    background: url(../../../images/assets/bankcard/quick1.png) no-repeat 260px center;
}

#divselect ul {
    width: 299px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    margin-top: -1px;
    display: none;
    left: -30px;
    font-size: 14px;
    height: 230px;
    overflow-y: auto;
}

#divselect ul li {
    height: 38px;
    line-height: 38px;
}

#divselect ul li a {
    display: block;
    height: 38px;
    color: #999;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

#divselect ul li a:hover {
    background-color: #ccc;
}

.card_bind_rightspan {
    display: inline-block;
    width: 122px;
    height: 40px;
    background: #ff6633;
    color: #fff;
    baseline-shift: 40px;
    text-align: center;
    font-size: 14px;
    float: left;
    margin-left: 18px;
    cursor: pointer;
}

.card_bind_btntxt {
    line-height: 34px;
    overflow: hidden;
}

.card_bind_btn_left {
    width: 110px;
    height: 34px;
    float: left;
    text-align: right;
    font-size: 14px;
    color: #666;
}

.card_bind_btn_right {
    width: 340px;
    height: 24px;
    float: left;
    font-size: 12px;
    text-align: center;
    margin-left: -20px;
    color: #999;
}

.show_notice {
    width: 340px;
    line-height: 34px;
    color: #999;
    float: left;
    font-size: 12px;
    text-align: center;
    margin-left: 90px;
}

.card_bind_btn {
    width: 100%;
    height: 46px;
    line-height: 34px;
}

.card_bind_btnl {
    width: 110px;
    height: 46px;
    float: left;
    text-align: right;
    font-size: 14px;
    color: #666;
}

.card_bind_btnr {
    width: 340px;
    height: 46px;
    float: left;
    font-size: 14px;
}

.card_bind_btnr .card_bind_btnra {
    width: 302px;
    height: 46px;
    display: block;
    background: #ff6633;
    text-align: center;
    line-height: 46px;
    color: #fff;
    font-size: 16px;
}

.payment_Quick {
    min-height: 30px;
    margin: 0 auto 0;
    overflow: hidden;
    border-top: 1px solid #e5e5e5;
}

.payment_Quick_title {
    height: 20px;
    line-height: 20px;
    margin: 20px 0 15px;
    font-size: 16px;
    color: #333;
    clear: both;
}
.row{
    margin-left: -10px;
    margin-right: -10px;
}
.row:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.payment_Quick_card {
    width: 25%;
    height: 50px;
    line-height: 50px;
    float: left;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 0 10px;
    box-sizing: border-box;
}

.payment_Qcleft {
    height: 50px;
    float: left;
    background: url(../../../images/cardfalse.png) no-repeat center;
}

.payment_Qcleftclick {
    width: 26px;
    height: 50px;
    float: left;
    background: url(../../../images/cardtrue.png) no-repeat center;
    cursor: pointer;
}

.payment_Qcright {
    height: 48px;
    border: 1px solid #e5e5e5;
}

.payment_Qcrightclick {
    height: 50px;
    float: left;
    border: 1px solid #ffc2ae;
}

.payment_Qcright_conimg1 {
    width: 30px;
    position: absolute;
    top: 4px;
    left: 9px;
}

.payment_Qcright_conspan1 {
    font-size: 12px;
    color: #333;
    margin-right: 10px;
}

.payment_Qcright_conimg2 {
    display: inline-block;
    width: 35px;
    height: 17px;
    background: url(../../../images/assets/bankcard/quick.png) no-repeat center;
    font-size: 12px;
    color: #fff;
    line-height: 17px;
    text-align: center;
    position: relative;
    top: -2px;
}

.payment_Qcright_conspan2 {
    font-size: 12px;
    color: #999;
    position: absolute;
    right: 10px;
}

.payment_Qcright_coni {
    color: #ff6633;
}

.payment_Qcrightcopy {
    height: 38px;
    float: left;
    text-align: center;
}

.payment_cardimg {
    position: relative;
    height: 48px;
}

.payment_Quick_btn {
    width: 892px;
    height: 90px;
    margin: 48px auto 0;
    text-align: center;
}

.payment_Quick_btn .payment_Quick_btna {
    display: block;
    width: 302px;
    height: 50px;
    border-radius: 4px;
    background: #ff6633;
    line-height: 50px;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
}

.payment_Quick_btntxt {
    width: 892px;
    margin: 0 auto;
    line-height: 30px;
    font-size: 14px;
    color: #666;
}

.payment_Quick_btnspan {
    color: #2da3de;
}

.ban_list_ICBC {
    background: url(../../../images/ICBC.png) no-repeat center center;
}

.ban_list_ABC {
    background: url(../../../images/ABC.png) no-repeat center center;
}

.ban_list_CCB {
    background: url(../../../images/CBC.png) no-repeat center center;
}

.ban_list_BOC {
    background: url(../../../images/BC.png) no-repeat center center;
}

.ban_list_CMB {
    background: url(../../../images/CMBC.png) no-repeat center center;
}

.ban_list_POSTGC {
    background: url(../../../images/PSBC.png) no-repeat center center;
}

.ban_list_COMM {
    background: url(../../../images/BCM.png) no-repeat center center;
}

.ban_list_PAB {
    background: url(../../../images/SZPA.png) no-repeat center center;
}

.ban_list_CIB {
    background: url(../../../images/IBCN.png) no-repeat center center;
}

.ban_list_CEB {
    background: url(../../../images/CEB.png) no-repeat center center;
}

.ban_list_CMBC {
    background: url(../../../images/CMSB.png) no-repeat center center;
}

.ban_list_CITIC {
    background: url(../../../images/CCB.png) no-repeat center center;
}

.ban_list_GDB {
    background: url(../../../images/GDB.png) no-repeat center center;
}

.ban_list_HXB {
    background: url(../../../images/HB.png) no-repeat center center;
}

.ban_list_SPDB {
    background: url(../../../images/SPDB.png) no-repeat center center;
}

.ban_list_1 {
    background: url(../../../images/ICBC.png) no-repeat center center;
}

.ban_list_3 {
    background: url(../../../images/abc.png) no-repeat center center;
}

.ban_list_6 {
    background: url(../../../images/CBC.png) no-repeat center center;
}

.ban_list_5 {
    background: url(../../../images/BC.png) no-repeat center center;
}

.ban_list_7 {
    background: url(../../../images/CMBC.png) no-repeat center center;
}

.ban_list_15 {
    background: url(../../../images/PSBC.png) no-repeat center center;
}

.ban_list_17 {
    background: url(../../../images/BCM.png) no-repeat center center;
}

.ban_list_11 {
    background: url(../../../images/SZPA.png) no-repeat center center;
}

.ban_list_2 {
    background: url(../../../images/IBCN.png) no-repeat center center;
}

.ban_list_9 {
    background: url(../../../images/CEB.png) no-repeat center center;
}

.ban_list_13 {
    background: url(../../../images/CMSB.png) no-repeat center center;
}

.ban_list_18 {
    background: url(../../../images/CCB.png) no-repeat center center;
}

.ban_list_10 {
    background: url(../../../images/GDB.png) no-repeat center center;
}

.ban_list_12 {
    background: url(../../../images/HB.png) no-repeat center center;
}

.ban_list_8 {
    background: url(../../../images/SPDB.png) no-repeat center center;
}

.ban_list_14 {
    background: url(../../../images/SHB.png) no-repeat center center;
}

.HF-content {
    border: 1px solid #e5e5e5;
    margin: 20px 20px 20px;
    padding: 20px 50px;
}

.HF-content-txt {
    font-size: 12px;
    color: #999;
    line-height: 15px;
    margin: 0 auto;
}

.HF-content-color {
    color: #ff6600;
}

.HF-security {
    width: 380px;
    text-align: center;
    line-height: normal;
    margin: 20px auto 40px;
    height: 19px;
}
.HF-security p{
    float: left;
    font-size: 12px;
    color: #999;
    line-height: 19px;
}
.HF-security-img {
    position: relative;
    top: 2px;
    margin-right: 10px;
    float: left;
}
.HF-security span{
    height: 1px;
    margin: 9px 15px;
    width: 30px;
    background: #e5e5e5;
    display: inline-block;
    position: relative;
    float: left;
}















