#body{background: #3f2a40;height: 100%;width: 100%;}
.banner{width: 100%;margin:0 auto;}
.banner img{display: block;}
/*main*/
/*.main-content{width:100%;margin:-20px auto 0;position: relative;text-align: center;}*/
.main-content{margin:-20px auto 0;position: relative;text-align: center;background: #fff8e8;border-radius: 20px;padding:6px 0;width: 89.84%;}
.flower_dashed{width:96.5%;height: 456px;border:3px dashed #774121;border-radius: 20px;margin:0 auto;}
.flower_bgimg{position: absolute;top: -14px;left: -26px;}
.flower_content{width: 100%;margin:0 auto;position: absolute;top: 0;z-index: 1;}
.flower_title{width: 100%;text-align: center;font-size: 26px;color: #f15374;line-height: normal;padding-top: 32px;font-weight: 600;}
.flower_img{width:100%;text-align: center;padding-top: 14px;}
.flower_btn{width: 217px;margin:-10px auto 0;text-align: center;position: relative;}
.flower_btn .flower_btna{font-size: 28px;color: #fff;display: inline-block;width:100%;position: absolute;top: 0;left: 0;padding:20px 0 ;}
.flower_txt{width: 100%;text-align: center;font-size: 20px;color: #ff3333;line-height: normal;}
.endflower_txt{width: 100%;text-align: center;font-size: 30px;color: #f70335;height: auto;line-height: normal;padding-bottom:4px ;}
.endflower_num{width: 100%;text-align: center;font-size: 20px;color: #7b4f2c;padding-top: 10px;height: auto;line-height: normal;}
/*rule*/
.rule{width: 100%;background: #de5e78;margin:40px auto 0;padding-top: 36px;text-align: center;position: relative;}
.flower_rule{position: relative;text-align: center;background: #fff8e8;border-radius: 20px;padding:6px 0;width: 89.84%;margin:0 auto;}
.rule_dashed{width:96.5%;min-height: 100px;border:3px dashed #774121;border-radius: 20px;margin:0 auto;padding-bottom: 14px;}
.flower_rule_bgimg{position: absolute;top: -14px;right: -14px;}
.flower_rule_title{width: 100%;text-align: center;font-size: 26px;color: #f15374;line-height: normal;padding-top: 20px;font-weight: 600;}
.flower_rule_txt{width:88%;font-size: 20px;color: #7e4781;line-height: 36px;padding-left:12%;margin:0 auto;text-align: left;}
.flower_rule_padding{padding-left:3%;}
.bottom_txt{width: 100%;text-align: center;line-height: normal;font-size: 22px;color: #fff;padding:30px 0 ;}
/*弹窗*/
.window_bg{display:none;width:100%;height: 100%;background: #000;filter: alpha(opacity=60);-moz-opacity: 0.6;-khtml-opacity: 0.6;opacity: 0.6;position: fixed;left:0;top:0;right: 0;bottom: 0;margin:0;z-index: 4;}
.window_scroll{display:none;width:100%;height: 100%;position: fixed;left:0;top:0;right: 0;bottom: 0;margin:0;z-index: 5;overflow-y: scroll;}
.choice_window{display:none;width:86.87%;position: relative;left:50%;top:50%;margin-left:-43.8%;margin-top:-221.5px;z-index: 6;text-align: center;padding:6px 0;background: #fff8e8;border-radius: 20px;}
.choice_dashed{width:96.5%;height: 430px;border:3px dashed #774121;border-radius: 20px;margin:0 auto;}
.choice_window_img{position: absolute;top: -14px;right: -14px;}
.choice_window_close{position: absolute;top: 25px;right:25px;cursor: pointer;z-index: 1;}
.choice_window_content{width: 100%;position: absolute;top: 0;}
.choice_window_title{width: 100%;text-align: center;font-size:26px;color: #f15374;line-height: normal;padding-top: 22px;}
.choice_window_titlecopy{padding-top: 32px;}
.choice_window_one{width: 63.7%;margin:18px auto 0;cursor: pointer;position: relative;}
.choice_window_one_box{width: 100%;position: absolute;top: 0;padding-top: 28px;}
.choice_window_oneleft{width: 65%;line-height: normal;display: inline-block;vertical-align: top;text-align: left;}
.choice_window_oneright{width: 24%;display: inline-block;vertical-align: top;}
.choice_window_onemax{font-size: 24px;color: #bc4824;padding-left: 8.5%;}
.choice_window_onemin{font-size: 20px;color: #d5692e;padding:10px 0 0 16%;}
.choice_window_btn{width: 217px;margin:15px auto 0;text-align: center;position: relative;}
.choice_window_btn .choice_window_btna{font-size: 28px;color: #fff;display: inline-block;width:100%;position: absolute;top: 0;left: 0;padding:20px 0 ;}
/*领取成功*/
.success_window{display:none;width:86.87%;position: relative;left:50%;top:50%;margin-left:-43.8%;margin-top:-162px;z-index: 6;border-radius: 20px;padding:6px 0;background: #fff8e8;}
.success_dashed{width:96.5%;height: 312px;border:3px dashed #774121;border-radius: 20px;margin:0 auto;}
.success_window_content{width: 100%;position: absolute;top: 0;}
.success_window_contentcopy{height:100%;}
.success_window_txt{width: 76%;margin: 30px auto 0;font-size: 24px;color: #bc4824;line-height: 38px;text-align: center;}
.success_window_btn{width: 217px;margin:15px auto 0;text-align: center;position: relative;}
.success_window_btncopy{position:absolute;bottom:50px;left:50%;margin-left:-108.5px;}
.success_window_btn .success_window_btna{font-size: 28px;color: #fff;display: inline-block;width:100%;position: absolute;top: 0;left: 0;padding:20px 0 ;}
.share_window_btn{width: 217px;margin:15px auto 0;text-align: center;position: relative;}
.share_window_btn .share_window_btna{font-size: 28px;color: #fff;display: inline-block;width:100%;position: absolute;top: 0;left: 0;padding:20px 0 ;}
/*地址页面*/
.other_window{width:100%;height: 100%;overflow: hidden;}
.other_window_img{width: 100%;height: 100%;}
.other_window_box{width: 91.56%;position: absolute;top: 50%;margin-top: -335px;left: 50%;margin-left: -45.78%;border-radius: 20px;padding:6px 0;background: #fff8e8;}
.other_dashed{width:96.5%;height: 591px;border:3px dashed #774121;border-radius: 20px;margin:0 auto;}
.other_window_img2{position: absolute;top: -14px;right: -14px;}
.other_window_prompt{width: 100%;text-align: center;font-size: 23px;color: #9b7256;line-height: normal;padding-top: 40px;}
.other_window_bottom{width: 76.56%;margin:0 auto 0;position: relative;padding-top: 28px;}
.other_window_name{width:98%;background: #fff;margin:0 auto 10px;position: relative;font-size: 22px;line-height:normal;color: #8a8a8a;padding:16px 0 16px 2%;border:2px solid #efd18b;}
.other_window_name .other_window_nameinput{background:none;width: 81.63%;padding:14px 0 16px;border:none;position: absolute;top: 0;right: 0;line-height: normal;font-size: 22px;color: #8a8a8a;}
.other_window_name .other_window_phoneinput{background:none;width: 76%;padding:16px 0;border:none;position: absolute;top: 0;right: 0;line-height: normal;font-size: 22px;color: #8a8a8a;}
.other_window_addresst{width: 98%;height:194px;background: #fff;margin:0 auto;position: relative;line-height: normal;font-size: 22px;color: #8a8a8a;border:2px solid #efd18b;padding: 16px 0 0 2%;}
.other_window_addresst .other_window_phoneinput{background:none;width: 76%;height:84%;border:none;position: absolute;top: 0;right: 0;line-height: normal;font-size: 22px;color: #8a8a8a;resize: none;padding-top: 16px;}
.other_window_txt{width: 100%;font-size: 21px;color:#ff3333;margin:10px auto;line-height: normal;}
.other_window_btn{width: 217px;margin:10px auto 0;text-align: center;position: relative;}
.other_window_btn .other_window_btna{font-size: 28px;color: #fff;display: inline-block;width:100%;position: absolute;top: 0;left: 0;padding:20px 0 ;}
/*遮罩*/
.shae_dialgo{z-index: 15;width:100%; height:100%; position: fixed; left:0px; top:0px; background: rgba(0,0,0,.6); display: none;}
.arrow{width:428px; height:322px; position: absolute; right:18px;top:0px; background: url(../../../images/activity/girl2017/dialog_arrow.png) no-repeat; }
.shar_off{ width:49px; height:49px;position: absolute; bottom:100px; left:50%; margin:0px 0px 0px -24px; background: url(../../../images/activity/girl2017/dialog_off.png) no-repeat;}