.body{width: 100%;height: 100%;background: #fff;font-family: "微软雅黑";}
.banner{width:100%;height: 457px;background: url(../../../images/static/zanProductDetails/banner.jpg) no-repeat center;margin:0 auto;}
.zan_content{width: 1090px;margin:0 auto;}
.zan_introduce{width: 100%;margin:0 auto;padding-top: 82px;min-height: 10px;overflow: hidden;}
.zan_introduce_box{width: 492px;height: 238px;border:2px solid #f2dcbd;float: left;line-height: normal;text-align: center;}
.zan_introduce_title{display:inline-block;background: #fff;text-align: center;font-size: 32px;color: #ffb952;padding:4px 20px;margin:0 auto;position: relative;top: -30px;font-weight: 600;}
.zan_introduce_txt{width: 400px;font-size: 20px;color: #333;line-height: 30px;margin:10px auto;text-align: left;}
.zan_introduce_left{margin-left: 90px;}
.zan_introduce_top{margin-top: 30px;}
.zan_introduce_icon{width: 1040px;margin:0 auto;min-height: 10px;line-height: normal;padding-top: 58px;padding-left: 50px;overflow: hidden;}
.zan_icon_content{width: 200px;text-align: center;float: left;margin-left: 100px;}
.zan_icon_txt{font-size: 20px;color: #333;padding-top: 18px;}
.zan_introduce_one{width: 1086px;border:2px solid #f2dcbd;min-height: 100px;text-align: center;line-height: normal;margin:70px auto 0;}
.zan_one_title{width: 670px;}
.zan_one_title_txt{width:670px;margin:0 auto;line-height: 30px;font-size: 20px;color: #333;}
.zan_one_chart{width: 100%;text-align: center;margin:46px auto 0;}
.zan_one_txt{width: 670px;text-align: left;font-size: 20px;color: #333;margin:22px auto 52px;}
.zan_one_title_number{display: inline-block;width:110px;vertical-align: top;}
.zan_one_title_text{display: inline-block;width: 555px;vertical-align: top;text-align: left;}
.zan_one_title_color{color: #c78e42;}
.zan_tab{width: 100%;min-height: 100px;margin:0 auto;}
.zan_child{width: 709px;height: 412px;margin:0 auto;background: url(../../../images/static/zanProductDetails/macbook.png) no-repeat center;position: relative;display: none;}
.zan_child_img1{position: absolute;top: 15px;right: 8px;}
.zan_child_img2{position: absolute;top: 19px;left: 9px;}
.zan_child_img3{position: absolute;top: 19px;right: -6px;}
.zan_tab_btn{width: 754px;height: 68px;margin:78px auto 32px;}
.zan_tab_btn li{width: 180px;height: 68px;background: url(../../../images/static/zanProductDetails/zan5.png) no-repeat center;cursor: pointer;font-size: 20px;color: #ffb952;text-align: center;line-height: 68px;float: left;margin-left: 54px;}
.zan_tab_btn .zan_tab_hover{background: url(../../../images/static/zanProductDetails/zan4.png) no-repeat center;color: #fff;}
.zan_foot{width: 100%;height: 281px;margin:25px auto 80px;background: url(../../../images/static/zanProductDetails/zan_bg.jpg) no-repeat center;line-height: normal;}
.zan_foot_title1{width: 100%;text-align: center;font-size: 36px;color: #fff;padding-top: 40px;font-weight: 300;}
.zan_foot_title2{width: 100%;text-align: center;font-size: 48px;color: #fff;font-weight: 600;}
.zan_foot_english{width: 100%;text-align: center;font-size:14px;color: #cfc4b1;font-weight: 300;padding-top: 10px;}
.zan_foot_btn{width: 324px;height: 48px;background: url(../../../images/static/zanProductDetails/zan7.png) no-repeat center;text-align: center;line-height: 48px;margin:26px auto 0;}
.zan_foot_btn .zan_foot_btna{display: block;width: 100%;height: 100%;font-size: 24px;color: #b7854d;font-weight: 300;}




