#Html("begin")
#GenHead("begin","币港湾活动，大礼包，币港湾，币港湾官网","币港湾官网，国资背景安心收益，为您提供互联网金融服务，是优质的互联网金融服务平台。")
#Title("新手壕礼升级-币港湾官网")
#LoadGenCSS("/resources/gen2.0/styles/activity/default")
#LoadGenCSS("/resources/gen2.0/styles/activity/anniversary/Two_years2")
#LoadGenJS("/resources/gen2.0/scripts/activity/anniversary/common")
#LoadGenJS("/resources/gen2.0/scripts/activity/anniversary/Two_years")
#LoadGenJS("/resources/gen2.0/scripts/activity/anniversary/anniversary_second")
#GenHead("end")
<body id="body">
#Gen2Header("home")
    <input type="hidden" id="APP_ROOT_PATH_GEN" value="$!env.get('gen.server.web')"/>
    <input type="hidden" id="isStartThird" value="$!secondPageInfo.isStartThird"/>
    <input type="hidden" id="isStartFourth" value="$!secondPageInfo.isStartFourth"/>
    <!--banner-->
    <div class="banner"></div>
    <!--main-->
    <div class="Two_year_content">
        <ul class="Two_year_nav">
            <li class="Two_year_nav1">
                <a href="javascript:void(0);" class="Two_year_nav_btn go_activity_page">
                    #if($!entryInfo.statusFirst == "not_start")
                        <!--未开始-->
                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/anniversary/nav6.png" class="Two_year_nav1img" />
                    #elseif($!entryInfo.statusFirst == "pre")
                        <!--预热中-->
                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/anniversary/nav5.png" class="Two_year_nav1img" />
                    #elseif($!entryInfo.statusFirst == "start")
                        <!--进行中-->
                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/anniversary/nav4.png" class="Two_year_nav1img" />
                    #elseif($!entryInfo.statusFirst == "end")
                        <!--已结束-->
                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/anniversary/nav14.png" class="Two_year_nav1img" />
                    #end
                    <i class="Two_year_nav1num">1期</i>
                    <div class="Two_year_nav1title Two_year_navtitle">
                        <p class="title_top">加息元宝随你领</p>
                        <p class="title_bottom">开放时间 3月10日</p>
                    </div>
                </a>
            </li>
            <li class="Two_year_nav2">
                <a href="javascript:void(0);" class="Two_year_nav_btn go_activity_page">
                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/anniversary/nav2.png" class="b_img" />
                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/anniversary/nav8.png" class="b_img_top2 b_img_top" />
                    #if($!entryInfo.statusSecond == "not_start")
                        <!--未开始-->
                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/anniversary/nav6.png" class="Two_year_nav2img" />
                    #elseif($!entryInfo.statusSecond == "pre")
                        <!--预热中-->
                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/anniversary/nav5.png" class="Two_year_nav2img" />
                    #elseif($!entryInfo.statusSecond == "start")
                        <!--进行中-->
                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/anniversary/nav4.png" class="Two_year_nav2img" />
                    #elseif($!entryInfo.statusSecond == "end")
                        <!--已结束-->
                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/anniversary/nav14.png" class="Two_year_nav2img" />
                    #end
                    <i class="Two_year_nav2num">2期</i>
                    <div class="Two_year_nav2title Two_year_navtitle">
                        <p class="title_top">大奖心意币都有</p>
                        <p class="title_bottom">开放时间 3月14日</p>
                    </div>
                </a>
            </li>
            <li class="Two_year_nav3">
                <a href="javascript:void(0);" class="Two_year_nav_btn go_activity_page">
                    #if($!entryInfo.statusThird == "not_start")
                        <!--未开始-->
                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/anniversary/nav6.png" class="Two_year_nav2img" />
                    #elseif($!entryInfo.statusThird == "pre")
                        <!--预热中-->
                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/anniversary/nav5.png" class="Two_year_nav2img" />
                    #elseif($!entryInfo.statusThird == "start")
                        <!--进行中-->
                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/anniversary/nav4.png" class="Two_year_nav2img" />
                    #elseif($!entryInfo.statusThird == "end")
                        <!--已结束-->
                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/anniversary/nav14.png" class="Two_year_nav2img" />
                    #end
                    <i class="Two_year_nav3num">3期</i>
                    <div class="Two_year_nav3title Two_year_navtitle">
                        <p class="title_top">有钱任性还等啥</p>
                        <p class="title_bottom">开放时间 3月18日</p>
                    </div>
                </a>
            </li>
        </ul>
        <!--内容-->
        <div class="Two_year_main">
            <!--第二期-->
            <div class="Two_year_main1">
                <!--3重礼-->
                <div class="one_gift">
                    <h3 class="gift_title">
                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/anniversary/title3.png" class="gift_title_img" />
                        <div class="gift_title_txt">
                            <p class="gift_title_txttop">送周年贺词，得周年礼包</p>
                            <p class="gift_title_txtbottom"> 3月14日-3月17日</p>
                        </div>
                    </h3>
                    <div class="one_gift_txt">活动说明：活动期间，用户可进入活动页面发送对币港湾的2周年祝福。币港湾将于3月18日抽取100名幸运用户奖励周年庆礼包（奖励金），具体获奖名单将于3月18日在币港湾公众号（bigangwanlicai）中公布。</div>
                    <div class="Three_TV">
                        <div class="Three_TV_box" id="boxDom">

                        </div>
                    </div>
                    <div class="three_gift_btn">
                        <a href="javascript:void(0);" class="three_gift_btna">祝福赢礼包</a>
                    </div>
                    <div class="three_gift_rule">
                        <a href="javascript:void(0);" class="three_gift_rulea">活动规则</a>
                    </div>
                </div>
                <!--4重礼-->
                <div class="one_gift">
                    <h3 class="gift_title">
                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/anniversary/title4.png" class="gift_title_img" />
                        <div class="gift_title_txt">
                            <p class="gift_title_txttop">冲峰得桂冠，金主赢大礼</p>
                            <p class="gift_title_txtbottom"> 3月14日-3月24日</p>
                        </div>
                    </h3>
                    <div class="one_gift_txt">活动说明：根据用户活动期间内累计年化投资金额进行排名！大奖这么丰厚，最后花落谁家？</div>
                    <div class="for_gift_img">
                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/anniversary/main14.png" />
                        <div class="for_gift_txt">活动期间累计年化投资额前4-10名，可获得200元现金奖励（奖励金）</div>
                    </div>
                    <div class="for_gift_Ranking">
                        <div class="for_gift_Ranking_title">累计年化投资额实时排行榜</div>
                        <div class="popup-catalog">
                            <div class="popup-catalog-num">排名</div>
                            <div class="popup-catalog-money">年化投资额</div>
                        </div>
                        <div class="popup-content">
                            <ul class="popup-content-box" id="block2">
                                #foreach($!investUser in $!secondPageInfo.investUserList)
                                    <li>
                                        <div class="popup-content-ranking">
                                            <span class="popup-content-rankingimg">
                                                #if($!investUser.rank == 1)
                                                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/anniversary/panking1.png">
                                                #elseif($!investUser.rank == 2)
                                                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/anniversary/panking2.png">
                                                #elseif($!investUser.rank == 3)
                                                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/anniversary/panking3.png">
                                                #else
                                                    $!investUser.rank
                                                #end
                                            </span>
                                            <i class="popup-content-rankingname">$!{investUser.userName}</i>
                                        </div>
                                        <div class="popup-content-money">
                                            #if($!{investUser.amount} == "----")
                                                ----元
                                            #else
                                                $!money.format($!{investUser.amount})元
                                            #end
                                        </div>
                                    </li>
                                #end
                            </ul>
                        </div>
                    </div>
                    <div class="one_gift_btn">
                        <a href="javascript:void(0);" class="one_gift_btna go_product_list">立即投资</a>
                    </div>
                    <div class="for_gift_rule">
                        <a href="javascript:void(0);" class="for_gift_rulea">活动规则</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--rule-->
    <div class="one_gift">
        <div class="total_rule_title">活动总规则</div>
        <div class="ru_txt"><em>1</em>
            <p>活动时间：2017年3月10日-3月24日；</p>
        </div>
        <div class="ru_txt"><em>2</em>
            <p>投资活动奖励仅限参与投资为港湾计划系列及赞分期系列产品，新手标不可参与此活动；</p>
        </div>
        <div class="ru_txt"><em>3</em>
            <p>若用户获得实物奖励，客服将于活动结束的5个工作日内持续联系用户确认收货地址，请留意自己的手机来电，若客服5个工作日内未联系到用户，则视用户自动放弃奖励资格；</p>
        </div>
        <div class="ru_txt"><em>4</em>
            <p>用户获得投资红包、奖励金将由系统发放至用户的币港湾账户内，具体奖励发放时间见活动详细规则；</p>
        </div>
        <div class="ru_txt"><em>5</em>
            <p>如发现用户恶意刷奖等行为，币港湾有权取消该用户获奖资格。</p>
        </div>
    </div>
    <div class="footer_info">
                         本次活动的最终解释权归币港湾所有
    </div>
    <!--弹窗-->
    <!--bg-->
    <div class="window_bg window_benison_bg"></div>
    <!--提示弹窗-->
    <div class="Prompt_window">
        <div class="rule_window_close"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/anniversary/main22.png" /></div>
        <div class="Prompt_window_title prompt_title">温馨提示</div>
        <div class="Prompt_window_txt">
            <p class="prompt_content">亲~活动已经结束，您可以关注其他活动喔~么么哒~</p>
        </div>
        <div class="Prompt_window_btn">
            <a href="javascript:void(0);" class="Prompt_window_btna btn_text">提交</a>
        </div>
    </div>
    <!--3重礼-->
    <div class="rule_window2">
        <div class="rule_window_close"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/anniversary/main10.png" /></div>
        <h3 class="rule_window_title">3重礼 活动规则 </h3>
        <div class="rule_window_txt">
            <p>1.活动时间：2017年3月14日-3月17日；</p>
            <p>2.参与用户为活动期间内，成功发送祝福的用户；</p>
            <p>3.获奖用户为3月18日，币港湾服务号（bigangwanlicai）发送的周年庆文章中公布的用户；</p>
            <p>4.用户获得的奖励将以奖励金的形式于活动结束后的5个工作日内发放至用户币港湾账户内。</p>
        </div>
    </div>
    <!--4重礼-->
    <div class="rule_window3">
        <div class="rule_window_close"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/anniversary/main10.png" /></div>
        <h3 class="rule_window_title">4重礼 活动规则 </h3>
        <div class="rule_window_txt">
            <p>1.活动时间：2017年3月14日-3月24日；</p>
            <p>2.本活动有效投资额为年化投资额，年化投资额计算公式：</p>
            <p class="p_padding">港湾系列，年化投资额 = 投资金额 * 投资期限（天数）/ 365，</p>
            <p class="p_padding">赞分期系列，年化投资额 = 投资金额 * 投资期限（月）/ 12 / 2；</p>
            <p>3.若出现投资额相同的情况下，按投资时间先后排名。投资时间以平台显示时间为准；</p>
            <p>4.若用户获得的现金奖励以奖励金形式发放，将于活动结束（3月24日）后的5个工作日内发放至用户的币港湾账户内。</p>
        </div>
    </div>
    <!--祝福赢礼包-->
    <div class="rule_window4 benison_window">
        <div class="rule_window_close"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/anniversary/main10.png" /></div>
        <h3 class="rule_window_title">祝福赢礼包 </h3>
        <div class="rule_window4_input">
            <textarea class="rule_window4_text benison" placeholder="送祝福给你别样的惊喜~" name="status" id="status" maxlength="120" onpropertychange="if(this.value.length>120){this.value=this.value.substr(0,120)}"></textarea>
            <div class="textarea-pop js-show-length"><i class="js-num" id="counter">0</i>/120</div>
        </div>
        <div class="rule_window4_rule">
            <p>杜绝黄色、暴力、反动言论，一经发现立刻删除并取消活动资格。</p>
            <p>每个帐户号限每天一次祝福。</p>
        </div>
        <div class="rule_window4_btn">
            <a href="javascript:void(0);" class="rule_window4_btna">提交</a>
        </div>
    </div>
    #foreach($!benison in $!secondPageInfo.benisonList)
        <input type="hidden" class="benison_list" value="$!benison.content">
    #end
</body>
#Html("end")