.img_win{ width:100%; height:100%; }
.shake_title{ width:100%; height:30%;text-align: center;}
.shake_main{ height:35%; background:#fef6dc; margin-top: -3px; position:relative;}
.left,.right{position:absolute; bottom: 10px;z-index: 2;}
.left{left:6%;}
.right{ right:6%; }
.center{position:absolute; top:30%; text-align: center;left: 0;right: 0;}
.shake_mo{ position: absolute; bottom: -65px; text-align: center;left: 0;right: 0;}
.shake_t{ box-shadow: 0 41px 12px -33px rgba(0,0,0,.4);width:37%}
.flow_move{
	-webkit-animation: wobble 4s linear infinite; 
        	animation: wobble 4s linear infinite;}
.fast_move{
	-webkit-animation: wobble 1s linear infinite;
          	animation: wobble 1s linear infinite;
}

.shake_footer{height:16%; background:#fef6dc; margin-top: -3px;}
.fott_bg{ background:#ffcc33;height:20%;margin-top: -3px;text-align: center;}
.foot_ft{ font-size: 3rem;line-height:normal;color:#500b0e; text-align: center; margin-top:-60px;}
.move_ft{ padding:12px; border-radius: 6px;font-size: 2.4rem; color:#500b0e; display: inline-block; background: #ffda03; box-shadow:-1px 4px 8px -4px #000000;}
.ft_ul{ width:auto;height:60px; border-radius: 6px; box-shadow: 0 0 2px 2px #f8aa1d inset;display: inline-block; background: #ffbc1e;overflow: hidden;    padding: 0px 6px;}
.item{width:auto; height: 60px;line-height: 60px;position:relative;top:0px;text-align: center;}
.foot_boom{ font-size: 2.4rem; line-height: normal;color:#500b0e; margin-top: 26px; }
/*弹窗*/
.toptip_phone{width:69%;height:auto;display: none; background: -webkit-linear-gradient(#ffc62e, #ffc62e); background: -o-linear-gradient(#ffc62e, #ffc62e); background: linear-gradient(#ffc62e, #ffc62e); position: absolute;top:25%;left:0px;right:0px;margin: auto; border-radius: 6px;padding-bottom: 12px;opacity: 1;
  -webkit-animation: fadeInUp 1s linear;
          animation: fadeInUp 1s linear;
}
.phonr_right{width: 28%; position: absolute; right:0px;left:0px; top: -48px;margin:0 auto;}
.phone_title{ width:100%; text-align: center; padding: 21px 0px; font-size: 2.8rem; line-height: normal;color:#7f2d00;}
.phone_info_white{ width: 94%; background: white; margin:0 auto;}
.info_ft{ width:100%; font-size: 3rem; color:#7f2d00;text-align: center; line-height: normal;padding: 35px 0px 30px;}

@-webkit-keyframes wobble {
  from {
    -webkit-transform: none;
    transform: none;
  }

  15% {
    -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  30% {
    -webkit-transform: translate3d(15%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(15%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  45% {
    -webkit-transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -2deg);
    transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -2deg);
  }

  60% {
    -webkit-transform: translate3d(5%, 0, 0) rotate3d(0, 0, 1, 1deg);
    transform: translate3d(5%, 0, 0) rotate3d(0, 0, 1, 1deg);
  }

  75% {
    -webkit-transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes wobble {
  from {
    -webkit-transform: none;
    transform: none;
  }

  15% {
    -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  30% {
    -webkit-transform: translate3d(15%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(15%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  45% {
    -webkit-transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -2deg);
    transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -2deg);
  }

  60% {
    -webkit-transform: translate3d(5%, 0, 0) rotate3d(0, 0, 1, 1deg);
    transform: translate3d(5%, 0, 0) rotate3d(0, 0, 1, 1deg);
  }

  75% {
    -webkit-transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
} 
