<input type="hidden" id="APP_ROOT_PATH" name="APP_ROOT_PATH" value="$env.getWebURL('')" />
<form id="pagerForm" method="post" action="#rel#">
	<input type="hidden" name="pageNum" value="$!req.pageNum" />
	<input type="hidden" name="numPerPage" value="$!req.numPerPage" />
</form>
<div class="page unitBox">
	<div class="pageHeader">
    	<form rel="pagerForm" onsubmit="return navTabSearch(this);" action="$env.getWebURL('/financial/statistics/company_customer/index.htm')" id="customer_myform" method="post">
        	<div class="searchBar">
                <table class="searchContent">
        			<tr>
						<td >
        				<label>客户代码：</label>
						 <input type="text" name="customerCode" maxlength="20" value="$!req.customerCode" style="float:left;width:100px;" class="clear"/>
						 
						 <label>客户名称：</label>
						 <input type="text" name="customerName" maxlength="20" value="$!req.customerName" style="float:left;width:100px;"  class="clear"/>
						 
						</td>

    					<td >创建日期：<input name="startTime" type="text" id="startTime" class=" date textInput readonly" readonly="true" value="$!startTime" dateFmt="yyyy-MM-dd" maxdate="{%y}-%M-{%d-1}"/>
							&nbsp;&nbsp; 到  &nbsp;&nbsp;
    						<input name="endTime" type="text" id="endTime" class=" date textInput readonly" readonly="true" value="$!endTime" dateFmt="yyyy-MM-dd" maxdate="{%y}-%M-{%d-1}"/>
    					</td>
						
        				<td >
        						<button  onclick="searchFunction()" type="button">查询</button>
								<button  onclick="exp()" type="button">导出excel</button>
        				 </td>
				 </tr>
				 <tr >
						 <td >
        						<button  onclick="searchBusinessFunction()" type="button">业务增量客户查询</button>
								<button  onclick="businessExp()" type="button">业务增量客户导出excel</button>
        				 </td>
                    </tr>
        		</table>
        	</div>
    	</form>
    </div>
    <div class="pageContent">
    	<div class="panelBar">
    		<ul class="toolBar">
    			<li><a class="add" href="$env.getWebURL('/financial/statistics/company_customer/detail.htm?detailFlag=add')" target="navtab" mask="true" rel="createBack" ><span>新增</span></a></li>
    		</ul>
        </div>
    	<table class="table" width="1396" layoutH="150">
    		<thead>
    			<tr>
					<th width="12.5%">客户代码</th>
					<th width="12.5%">客户名称</th>
    				<th width="12.5%">上级用户</th>
					<th width="12.5%">用户ID</th>
					<th width="12.5%">创建时间</th>
					<th width="12.5%">更新时间</th>
					<th width="25%">操作</th>
    			</tr>
    		</thead>
    		<tbody>
    			#foreach($grid in $dataGrid)
    			<tr target="sid_user" rel="1">
    				<td>$!grid.customerCode</td>
					<td>$!grid.customerName </td>
					<td>$!grid.parentName</td>
					<td>$!grid.userId</td>
					<td>$!date.format($!grid.createTime)</td>
					<td>$!date.format($!grid.updateTime)</td>
					<td>
						#if($!string.substring("$!grid.customerCode",0,2) == "3.")
						&nbsp
						#else
						## <a title="删除后不可恢复，确定删除吗?" target="ajaxTodo" href="$env.getWebURL('/financial/statistics/company_customer/delete.htm')?id=$!grid.id" class="btnDel">删除</a>&nbsp&nbsp&nbsp 
						<a title="编辑" target="navTab" rel="createBack" href="$env.getWebURL('/financial/statistics/company_customer/detail.htm?id=')$!grid.id" mask="true">编辑</a> 
						#end
					</td>
    			</tr>
    			#end
    		</tbody>
    	</table>
		<div class="panelBar">
    	<div class="pages">
    		<span>显示</span>
    		<select class="combox" name="numPerPage" onchange="navTabPageBreak({pageNum:1,numPerPage:this.value})">
    			<option #if("$!req.numPerPage" == "20") selected #end value="20">20</option>
    			<option #if("$!req.numPerPage" == "50") selected #end value="50">50</option>
    			<option #if("$!req.numPerPage" == "100") selected #end value="100">100</option>
    			<option #if("$!req.numPerPage" == "200") selected #end value="200">200</option>
    		</select>
    		<span>条，共$!count条</span>
    	</div>
    	<div class="pagination" targetType="navTab" totalCount="$!count" numPerPage="$!req.numPerPage" currentPage="$!req.pageNum"></div>
    </div>
    </div>
	
</div>
#LoadJS("/resources/js/global_validate")	
<script>  
	
	function navTabAjaxDone(json) {

		 if (json.statusCode == "200") {
					var url = $("#APP_ROOT_PATH").val() + "/financial/statistics/company_customer/index.htm";
            	$("#customer_myform").attr("action",url);
            	$("#customer_myform").attr("onsubmit","return navTabSearch(this);");
            	$("#customer_myform").submit();
		} else {
			if(json.message){
				alertMsg.error(json.message);
			}else{
				alertMsg.error('操作失败!');
			}
		}
	}
	
	function searchFunction(){
		var beginTime = $("#startTime").val();
    	var endTime = $("#endTime").val();
    	if(beginTime && endTime) {
     			var result = Date.parse(endTime.replace(/-/g,"/"))- Date.parse(beginTime.replace(/-/g,"/"));
            	if(result < 0){
            		alertMsg.warn("开始时间不能在结束时间之后！");
            		return;
            	}
    	}
		var url = $("#APP_ROOT_PATH").val() + "/financial/statistics/company_customer/index.htm";
    	$("#customer_myform").attr("action",url);
    	$("#customer_myform").attr("onsubmit","return navTabSearch(this);");
    	$("#customer_myform").submit();
    }
	
	function exp(){
    	var beginTime = $("#startTime").val();
    	var endTime = $("#endTime").val();
    	if(beginTime && endTime) {
     			var result = Date.parse(endTime.replace(/-/g,"/"))- Date.parse(beginTime.replace(/-/g,"/"));
            	if(result < 0){
            		alertMsg.warn("开始时间不能在结束时间之后！");
            		return;
            	}
    	}
    
    	var url = $("#APP_ROOT_PATH").val() + "/financial/statistics/company_customer/export.htm";
    	$("#customer_myform").attr("action",url);
    	$("#customer_myform").attr("onsubmit","");
    	$("#customer_myform").submit();
	}
	
	
	function searchBusinessFunction(){
		var beginTime = $("#startTime").val();
    	var endTime = $("#endTime").val();
    	if(beginTime && endTime) {
     			var result = Date.parse(endTime.replace(/-/g,"/"))- Date.parse(beginTime.replace(/-/g,"/"));
            	if(result < 0){
            		alertMsg.warn("开始时间不能在结束时间之后！");
            		return;
            	}
    	}
		var url = $("#APP_ROOT_PATH").val() + "/financial/statistics/company_customer/index.htm?flag=business";
    	$("#customer_myform").attr("action",url);
    	$("#customer_myform").attr("onsubmit","return navTabSearch(this);");
    	$("#customer_myform").submit();
    }
	
	function businessExp(){
    	var beginTime = $("#startTime").val();
    	var endTime = $("#endTime").val();
    	if(beginTime && endTime) {
     			var result = Date.parse(endTime.replace(/-/g,"/"))- Date.parse(beginTime.replace(/-/g,"/"));
            	if(result < 0){
            		alertMsg.warn("开始时间不能在结束时间之后！");
            		return;
            	}
    	}
    
    	var url = $("#APP_ROOT_PATH").val() + "/financial/statistics/company_customer/export.htm?flag=business";
    	$("#customer_myform").attr("action",url);
    	$("#customer_myform").attr("onsubmit","");
    	$("#customer_myform").submit();
	}
</script> 