#Html("begin")
#Head("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadCSS("resources/gen2.0/styles/agree/default")
#LoadCSS("resources/gen2.0/styles/agree/agree")
#Head("end")
<script  type="text/javascript">
	function agreeRegisterClose(){
		$("#agree_register_div").hide();
	}
</script>

<body>
  <div class="agree_bg" id="agree_register_div" style="display:none;">
  		<div class="agess">
  			<div class="agess_title">
  				<span class="agess_ft">协议内容</span>
  				<i class="agess_off" onclick="agreeRegisterClose();"></i>
  			</div>
  			<div class="agess_main">
  				<h1 class="main_title">注册服务协议</h1>
  				<div class="serial">
  					<p class="serial_main">本网站(指币港湾官方网站www.bigangwan.com)由币港湾科技有限公司负责运营或授权合法使用（以下本网站均指币港湾官方网站及币港湾科技有限公司）。<strong class="font">在您注册成为本网站用户前请务必仔细阅读本协议以下条款，充分理解各条款内容后再选择是否接受，特别是其中所涉及的免除、限制本网站责任的条款，对您权利限制的条款、风险提示条款及争议解决条款等。若您一旦成功注册为本网站用户时，则视为您接受本网站提供的所有服务并受以下条款的约束。若您不接受以下条款，请您停止注册本网站。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">本协议内容包括但不限于以下条款及本网站已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的一部分，与本协议正文具有同等法律效力。本协议是由您与本网站共同签订的，适用于您在本网站的全部活动。在您注册成为本网站用户时，您已经阅读、理解并接受本协议的全部条款及各类规则，并承诺遵守中华人民共和国现行的法律、法规、规章及其他政府规范性文件，如有违反而导致任何法律后果的发生，您将以自己的名义独立承担所有相应的法律责任。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">本网站有权根据需要不时地制定、修改本协议或各类规则，如本协议及规则有任何变更，一切变更以本网站最新公布内容为准。</strong>经修订的协议、规则一经在本网站公布，即自动生效或在该等协议、规则指定的时间生效。您应不时地注意本协议及附属规则地变更，若您不同意相关变更，应当在本协议及附属规则变更后30日内按照本网站公开的联系方式提出异议，逾期未提出异议的视为您接收变更。如果您对相关变更提出异议，应立即停止使用本网站服务，本网站有权不经任何告知终止或中止与您达成的本协议或者限制您进入本网站的全部或者部分板块且不承担任何法律责任。但该终止、中止或限制行为并不能豁免您此前在本网站已经进行的交易下所应承担的责任与义务。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">您只要在本网站注册页面点击“下一步”并按照本网站规定的注册程序成功注册为用户，即表示您同意并签署了本协议，本协议一经签署即在您和本网站之间产生法律效力。本协议不涉及您与本网站的其他用户之间因网上交易而产生的法律关系及法律纠纷，但您在此同意将全面接受和履行与本网站其他用户在本网站签订的任何电子法律文本，并承诺按该法律文本享有和/或放弃相应的权利、承担和/或豁免相应的义务。</p>
  				</div>
  				<div class="serial">
  					<h3 class="h_title">一、使用限制</h3>
  					<p class="serial_main">1、本网站只接受持有中国大陆有效身份证的（不包括香港特区、澳门特区及台湾地区）18周岁以上的具有完全民事行为能力的自然人成为本网站用户。[请自行确认。]如您不符合前述资格，请勿注册，本网站将保留随时中止或终止您用户资格的权利，并要求您的监护人承担相应的责任。您在此向本网站保证，您已符合年龄和国籍条件，如因您向本网站提供虚假信息或承诺而导致本网站蒙受任何损失，您将承担全部责任并赔偿相关损失。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">2、您注册成功后，不得将本网站的用户名和登录密码转让、赠与或授权给第三方使用。您确认，您用您的用户名和密码登录本网站后在本网站的一切行为均代表您本身作出的行为及真实的意思表示并由您承担相应的法律后果。任何利用您的用户名以及密码登录本网站并从事交易等行为均将被视为您的行为。因此，您有义务非常谨慎的保管自己的用户名以及密码。您在此向本网站承诺，将妥善保管自己的用户名、密码或与用户名、密码相关的信息，同意如有遗失或泄露、发现第三人冒/盗用您的信息或其他任何未经合法授权的情形，应立即以有效方式通知本网站，并同意本网站暂停您使用本网站服务并在合理的期限内采取有效的防范措施。本网站在采取实际措施之前，对第三人使用您的登陆用户名及密码已发生的交易，除非可证明本网站为故意或重大过失，否则本网站将不承担任何责任。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">3、本网站托管账户收到的任何来自您在本网站关联的个人银行账户（含网银、第三方支付账户等，下同）的资金均被视为您自有资金。本网站托管账户支付到您在本网站关联的个人银行账户均视为已经向您完成支付。您有义务非常谨慎地保管自己的银行账户。本网站对您的银行账户被盗用所产生的后果不承担任何责任。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">4、您有义务在注册时按照本网站的要求提供自己的真实资料和信息，包括但不限于电子邮件、联系电话、联系地址、邮政编码等信息，并保证上述信息内容的有效性及安全性。如您因网上交易与其他用户产生诉讼的，其他用户有权通过司法部门要求本网站提供与您相关的资料。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">5、若您向本公司提供的各项资料和信息发生变更时，应自变更之日起3日内向本网站提出更新您的资料和信息。因您未及时更新资料和信息导致本网站无法向您提供服务或服务指向、服务内容发生错误，由此产生的法律责任和后果由您自行承担。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">6、您通过本网站进行的投资服务等交易的相关款项支付事宜，您不可撤销的授权本网站及本网站合作方根据本网站的服务规则、本协议及您签署的相关协议（包括但不限于《币港湾理财出借咨询与服务协议》、《币港湾账户服务协议》等）的具体内容，指示第三方支付机构为您提供包括但不限于出借资金划扣、充值、提现等服务;或您根据本网站服务规则、本协议及您签署的相关协议，自主授权第三支付机构进行款项划扣。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">7、本网站中的全部内容的著作权、版权及其他知识产权均属于本网站所有，该等内容包括但不限于文本、数据、文章、设计、源代码、软件、图片、照片及其他全部信息（以下称“网站内容”）。网站内容受中华人民共和国著作权法及各国际版权公约的保护。未经本网站事先书面同意，您承诺不以任何方式、不以任何形式复制、模仿、传播、出版、公布、展示网站内容，包括但不限于电子的、机械的、复印的、录音录像的方式和形式等。您承认网站内容是属于本网站的财产。未经本网站书面同意，您亦不得将本网站包含的资料等任何内容镜像到任何其他网站或者服务器。任何未经授权对网站内容的使用均属于违法行为，本网站将保留追究您法律责任的权利。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">8、您承诺合法使用本网站提供的服务及网站内容。禁止在本网站从事任何可能违反中华人民共和国现行的法律、法规、规章和政府规范性文件的行为或者任何未经授权使用本网站的行为，如擅自进入本网站的未公开的系统、不正当的使用密码和网站的任何内容、窃取他人的账号和密码、窃取他人的个人隐私信息等。</p>
  				</div>
  				<div class="serial">
  					<h3 class="h_title">二、服务内容说明</h3>
  					<p class="serial_main">1、您在本网站按照本网站服务规则进行的相关操作或所确认的交易状态，将成为本网站为您进行相关交易或操作（包括但不限于向第三支付机构发出扣划指令、订立合同等）的明确指令。您在此确认，您在本网站上已确认的相关操作或交易状态，一经作出即不可撤销。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">2、通过本网站服务平台以及其他渠道和方式向您提供以下服务中的一项或多项：（1）促成您与其他用户之间达成交易的居间服务；（2）投资信息咨询、催收还款等服务；（3）其他相关服务。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">3、本网站提供的所有服务内容以最终本网站呈现为准。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">4、您注册使用本网站服务的，本网站有权向您收取服务费、咨询费等费用，具体费用以本网站公告或具体签署的协议为准。您承诺按照相关具体的协议或其他形式的约定向本网站支付相关费用，并同意本网站有权自其有关账户中直接扣划相关费用。您通过本网站与其他方签订协议的，您应按照签署的协议约定向其他方支付费用。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">5、任何时候本网站会将您使用本网站服务时暂留的资金，绝对独立于本网站营运资金之外，不会将您的资金用于非您指示的用途上。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">6、您在本网站服务平台上的投资（出借）、收益等交易中产生的相关税收缴纳义务，您应根据中国法律的规定，自行向相关主管税务机关申报、缴纳，本网站不承担任何代扣代缴的义务及责任。</p>
  				</div>
  				<div class="serial">
  					<h3 class="h_title">三、电子合同管理</h3>
  					<p class="serial_main">1.您在本网站交易需订立的法律文件（包含本协议）均采用CA数字证书及电子签名的方式订立。通过前述方式订立的每一份电子法律文件可以有多份副本，并且每份副本均具有同等法律效力。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">2.任何人通过登录账户登录到本网站服务平台，并根据有关协议及本网站服务规则，在本网站服务平台上使用用户CA数字证书及电子签名签署的电子文件，均视为用户本人的行为及用户本人的真实意思表示，一经成立生效即不可撤销，且对用户具有法律约束力并产生强制执行效力。用户承诺将不会因为采用电子文件、数据电文的形式或其他理由而否定相应电子法律文件的法律效力。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">3.您根据本协议，采用CA数字证书及电子签名方式签署的相应法律文件，将保存在本网站为此设立的专用服务器上。本网站可为您提供该等法律文件的查询、核对等服务。</p>
  				</div>
  				<div class="serial">
  					<h3 class="h_title">四、涉及第三方网站</h3>
  					<p class="serial_main">本网站的网站内容可能涉及由第三方所有、控制或者运营的其他网站的内容或链接（以下称“第三方网站”）。本网站不能保证也没有义务保证第三方网站上的信息的真实性和有效性。对于该等内容或链接，您确认按照第三方网站的使用协议确定相关权利义务，而不是按照本协议。第三方网站的内容、产品、广告和其他任何信息均由您自行判断并承担风险，而与本网站无关。</p>
  				</div>
  				<div class="serial">
  					<h3 class="h_title">五、风险提示</h3>
  					<p class="serial_main">除非本网站或其合作方在特定投资交易成立后的电子协议书中明示承担责任外，本网站提供的服务中不带有对本网站中的任何用户、任何交易的任何保证，因此本网站及其股东、创建人、高级职员、董事、代理人、关联公司、母公司、子公司和雇员（以下称“本网站方”）不保证由其他用户或机构提供的信息内容的真实性、充分性、及时性、可靠性、完整性和有效性，并且不承担任何由此引起的法律责任。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">本网站在此郑重提醒您与广大投资者，以下各条款均为风险提示与免责条款，本网站网上交易系统不承担与此相关的任何损失和法律责任，请您特别注意阅读：</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">1、本网站为您提供的理财服务产品属于风险性投资。对于在本网站募集资金的借款人的信用情况，除本网站公开提供的信息外，本网站不提供任何担保。您在本网站与其他用户进行的交易存在本金无法按时收回的风险。本网站所做的推荐仅供您参考，您应根据自身风险承受能力选择理财服务产品，自主判断投资价值，自主做出投资决策，自行承担投资风险。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">2、对于本网站所给您提供的理财投资服务，目前我国尚没有制定专门的法律制度。如果未来国家出台相应的法律制度，本网站为您提供的服务以及您与本网站其他用户的交易可能应根据相应的法律制度进行调整。这种调整可能给您带来一定的不便或损失。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">3、您通过本网站进行的投资服务等交易的相关款项支付服务，均由第三方支付机构提供，您亦应遵循第三方支付机构的服务规则，并采取合理的措施（比如妥善保管银行卡账户及密码）保护自身资产安全，本网站无法保证提供款项支付服务的第三方支付机构的服务内容和质量。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">1）如因您未遵从相关服务规则、未尽到审慎保管义务或第三方支付机构原因造成交易不能实现甚至资产损失，本网站不承担任何责任，由相关责任方承担。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">2）如因您未遵从本网站服务规则及第三方支付机构服务规则的操作指示导致交易不能实现甚至资产损失的，由您自行承担。若发生上述状况而款项已先行划入您的账户，本网站保留通过向第三方支付机构发出指令直接自用户的账户余额中扣回相应款项的权利。此款项若已汇入您的银行账户，您同意本网站有向您事后索回的权利，由此产生的追索费用由您承担。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">4、您应合理使用第三方支付机构提供的支付服务，不得从事任何违反法律、法规等具有约束力的规范性文件的行为，您知晓并同意：</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">1）第三方支付机构并非银行或其它金融机构，提供支付服务相关的资金移转均通过银行来实现，您理解并同意您的资金在流转途中存在的合理时间。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">2）为控制可能存在的风险，第三方支付机构在有合理理由怀疑您的资料错误、虚假、过期、不完整或怀疑用户涉及可疑交易、非法交易、高风险交易之虞时，有权暂停或停止向您提供相关支付服务。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">3）为控制可能存在的风险，第三方支付机构有权对您每天支付最高限额以及每笔支付最高限额进行了限制，并保留对限制种类和限制限额进行无需预告地调整的权利；</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">4）在法律允许的情况下，第三方支付机构对于其提供的支付服务引起的任何间接的、派生的损失（包括收益损失、利润损失或其他经济利益的损失），均不承担任何责任。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">5、互联网是全球公共网络，并不受任何一个机构所控制。数据在互联网上传输的途径不是完全确定的，可能会受到非法干扰或侵入。在互联网上传输的数据有可能被某些未经许可的个人、团体或机构通过某种渠道获得或篡改。互联网上的数据传输可能因通信繁忙出现延迟，或因其他原因出现中断、停顿或数据不完全、数据错误等情况，从而使交易出现错误、延迟、中断或停顿。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">6、因地震、火灾、台风及其他各种不可抗力因素引起的停电、网络系统故障、电脑故障等原因可能造成服务中断或者给您造成经济损失。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">7、互联网上发布的各种信息（包括但不限于分析、预测性的参考资料）可能出现错误并误导您。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">8、您的网上交易身份可能会被泄露、仿冒或因您自身疏忽造成账号或密码泄露，可能给您造成损失。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">9、您使用的计算机可能因存在性能缺陷、质量问题、计算机病毒、硬件故障及其他原因，而对您的交易登录、交易时间或交易数据产生影响，给您造成损失。上述风险所导致的损失或责任，均应由您自行承担，本网站对此不承担任何责任。您一经在本网站注册，即视为您已经完全了解并理解在本网站进行交易的风险，并且能够承担可能带来的风险或损失。尽管如此，本着对用户负责的态度，本网站将采取先进的网络产品和技术措施，最大限度地保护用户资料和交易活动的安全。</p>
  				</div>
  				<div class="serial">
  					<h3 class="h_title">六、责任限制</h3>
  					<p class="serial_main">在任何情况下，本网站方对您使用本网站服务而产生的任何形式的直接或间接损失均不承担法律责任，包括但不限于资金损失、利润损失、营业中断损失等。因为本网站或者涉及的第三方网站的设备、系统问题或者因为计算机病毒造成的损失，本网站均不负责赔偿，您的补救措施只能是与本网站终止本协议并停止使用本网站服务。但是，中华人民共和国现行法律、法规另有规定的除外。</p>
  				</div>
  				<div class="serial">
  					<h3 class="h_title">七、网站内容监测</h3>
  					<p class="serial_main">本网站没有义务监测网站内容，但是您确认并同意本网站有权不时地根据法律、法规、政府要求透露、修改、屏蔽或者删除必要的、合适的信息，以便更好地运营本网站并保护本网站的用户的合法权益。</p>
  				</div>
  				<div class="serial">
  					<h3 class="h_title">八、个人信息的使用与披露</h3>
  					<p class="serial_main">1、本网站对于您提供的、自行收集到的、经认证的个人信息将按照本协议以及本网站的隐私条款予以保护、使用或者披露。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">2、您同意本网站可以在业务运营中收集和储存您个人资料和信息，包括但不限于您自行提供的资料和信息，以及本网站自行收集、取得的您在本网站的交易记录和使用信息等。本网站可利用前述资料和信息进行有关本网站用户的人口统计、兴趣及行为的内部研究，以便向您和其他用户提供更好的服务。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">3、您同意本网站可以自行或通过合作的第三方机构对您提交或本网站搜集的您的资料和信息（包括但不限于您的身份证等）进行核实，并对获得的核实结果根据本协议及有关文件进行查看、使用和留存等操作。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">4、您同意本网站可以使用您的资料和信息以改进本网站的推广和促销工作、分析使用率、改善本网站的内容和推广形式，并使本网站的版面内容、设计和服务更能符合用户的要求，从而使用户在使用本网站服务时得到更为顺利、有效、安全及度身订造的交易体验。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">5、您同意本网站可利用您的资料和信息通过邮件、短信、电话等方式与您本人联络并（在某些情况下）向您提供本网站及本网站关联方、合作伙伴的商品、服务或推广活动。您接受本协议即视为同意收取这些资料。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">6、您同意本公司有权将您个人资料和信息1）提供给依法设立的征信机构和个人信用数据库，以供有关单位和个人依法查询和使用；2）提供给本网站的关联方、合作伙伴，以为用户提供更完善便捷的服务。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">7、经国家生效法律文书或行政处罚决定确认您存在违法行为，或者本网站有足够事实依据可以认定您存在违法或违反与本网站签订的包括但不限于本协议的有关协议的行为，或者您违反与本网站其他用户签订的协议，借款逾期未还的，本网站有权在本网站及互联网络、报刊、电视等媒体上披露您的违法、违约行为，并有权将该内容记入任何与您相关的信用资料和档案，有权将您提交或本网站自行收集的您的个人资料和信息与任何第三方进行数据共享，以便对您的其他申请进行审核等使用。<strong class="font"> 提醒注意：</strong>上述披露可能会公开您的部分个人信息，例如姓名、部分号位身份证号码。您签署本协议即视为您知悉此等披露、记录、共享造成的负面评价和后果，理解并接受上述措施，永久性不可撤销地授权本网站在上述情形发生时披露您的相关个人信息。</p>
  				</div>
  				<div class="serial">
  					<h3 class="h_title">九、补偿</h3>
  					<p class="serial_main">就任何第三方提出的，由于您违反本协议及纳入本协议的条款和规则或您违反任何法律、法规或侵害第三方的权利而产生或引起的每一种类和性质的任何索赔、要求、诉讼、损失和损害（实际的、特别的及有后果的），无论是已知或未知的，包括合理的律师费，您同意就此对本网站和本网站的母公司、 子公司、关联公司、高级职员、董事、代理人和雇员（如适用）进行补偿并使其免受损害。</p>
  				</div>
  				<div class="serial">
  					<h3 class="h_title">十、服务的中止或终止</h3>
  					<p class="serial_main">1、除非本网站终止本协议或者您申请终止本协议及注销相应用户账户且经本网站同意，否则本协议始终有效。在您违反了本协议、相关规则，或在相关法律法规、政府部门的要求下，本网站有权通过电子邮件告知方式终止本协议、关闭您的账户或者限制您使用本网站。但本网站的终止行为不能免除您根据本协议或在本网站生成的其他协议项下的还未履行完毕的义务。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">2、发生下列情形之一的，本网站有权随时中止或终止向您提供服务：</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（1）对于网络设备进行必要的保养及施工时；</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（2）出现突发性的网络设备故障时；</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（3）本网站所使用的网络通信设备由于不明原因停止，无法提供服务时；</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（4）由于不可抗力因素致使本网站无法提供线上服务时；</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（5）相关政府机构的要求。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">3、发生下列情形之一的，本网站有权随时中止或终止向您提供服务而无需通知您：</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（1）您提供的个人资料不准确，不真实，不合法有效；</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（2）您使用任何第三方程序进行登录或使用服务；</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（3）您滥用所享受的权利；</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（4）您有损害本网站与其他用户的行为；</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（5）您有违背社会风俗和社会道德的行为；</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（6）本网站发现异常交易、有疑义或有违法之虞时；</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（7）本网站认为登录账户涉嫌洗钱、套现、传销、被冒用或其他本网站认为有风险的情形；</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（8）您有违反本协议或本网站服务规则的行为。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（9）其他本网站认为应当中止或终止提供服务的情形。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">4、如因系统维护或升级的需要而需暂停网络服务，本网站将尽可能事先进行通告。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">5、终止服务后，您使用本网站服务的权利立即终止。从终止服务即刻起，本网站不再对您承担任何责任和义务。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">6、服务的暂停、中止或终止不代表您责任的终止，您仍应对使用本网站服务期间的行为承担可能的违约或损害赔偿责任，同时本网站仍可留存您的相关资料和信息。</p>
  				</div>
  				<div class="serial">
  					<h3 class="h_title">十一、适用法律和管辖</h3>
  					<p class="serial_main">因本网站提供服务所产生的争议均适用中华人民共和国法律，并由币港湾科技有限公司住所地的人民法院管辖。</p>
  				</div>
  				<div class="serial">
  					<h3 class="h_title">十二、附加条款</h3>
  					<p class="serial_main">在本网站的某些部分或页面中、或者您使用本网站相关服务产品的过程中，可能存在除本协议以外的单独的附加服务条款或协议，当这些服务条款或协议与本协议条款及规则存在冲突时，则前述本协议条款和规则以外的单独附件服务条款或协议将优先适用。</p>
  				</div>
  				<div class="serial">
  					<h3 class="h_title">十三、条款的独立性</h3>
  					<p class="serial_main">若本协议的部分条款被认定为无效或者无法实施时，本协议中的其他条款仍然有效。</p>
  				</div>
  				<div class="serial">
  					<h3 class="h_title">十四、对应账户</h3>
  					<p class="serial_main">您在本网站注册成功后，将由本网站向您分配一个固定的普通账户并与您的用户名相绑定。该账户将与本网站以您名义在指定第三方支付机构或银行开立的托管账户相对应。您可以通过向托管账户充值的方式，增加本网站普通账户上的余额。与本网站相关的所有资金的往来、划转均实际通过该托管账户进行。您在此特不可撤销地授权本网站按照本协议、附属规则及所有服务产品的具体使用协议及规则管理和划扣您普通账户余额对应于托管账户中的资金。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">在您将资金汇入其在本网站托管账户但并未使用之前，本网站对于您的资金有保管义务，本网站保证您的资金安全。在此期间资金产生的孳息归属于本网站。该普通账户将在您在本网站注册的账户注销后自动关闭，关闭时普通账户余额对应的资金将进行退还。</p>
  				</div>
  				
  			

  			</div>
  			<div class="agess_foot">
  				<div class="agess_btn" onclick="agreeRegisterClose();" id="agree_close">关闭</div>
  			</div>
  		</div>
  </div>  
</body>
</html>