#Html("begin")
#Head("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadCSS("resources/gen2.0/styles/agree/default")
#LoadCSS("resources/gen2.0/styles/agree/agree")
#Head("end")
<script  type="text/javascript"> 
	function agreeAgreementClose(){
		$("#agree_account_div").hide();
        $("#agree_account_div1").hide();
	}
</script>

<body>
  <div class="agree_bg" id="agree_account_div" style="display:none;"></div>
  		<div class="agess" id="agree_account_div1" style="display:none;">
  			<div class="agess_title">
  				<span class="agess_ft">协议内容</span>
  				<i class="agess_off" onclick="agreeAgreementClose();"></i>
  			</div>
  			<div class="agess_main">
  				<h1 class="main_title">账户服务协议</h1>
  				<p class="man_ft">本协议约定的服务（以下简称本服务）是由币港湾科技有限公司（以下简称“本公司”）向其运营管理的网页服务平台（以下简称“币港湾平台”）用户（以下简称“您”）提供的币港湾软件系统（以下简称“本系统”）及附随的充值、提现、代收/代付等服务。 本协议由您和本公司签订。</p>
  				<div class="serial">
  					<p class="serial_number"><strong class="font">重要提示：</strong></p>
  					<p class="serial_main"><strong class="font">本协议已对与您的权益有或可能具有重大关系的条款，及对本公司具有或可能具有免责或限制责任的条款用粗体字予以标注，请您注意。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_number">一、声明与承诺</p>
  					<p class="serial_main">（一）您确认，在您注册成为币港湾用户以接受本服务，或您以其他本公司允许的方式实际使用本服务前，您已充分阅读、理解并接受本协议的全部内容，一旦您使用本服务，即表示您同意遵循本协议之所有约定。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（二）<strong class="font">您同意，本公司有权随时对本协议内容进行单方面的变更，并以在币港湾平台公告的方式予以公布，无需另行单独通知您；</strong>若您在本协议内容公告变更后继续使用本服务的，表示您已充分阅读、理解并接受修改后的协议内容，也将遵循修改后的协议内容使用本服务；若您不同意修改后的协议内容，您应停止使用本服务。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（三）您保证，在您同意接受本协议并注册成为币港湾用户时，您已经年满18周岁，本协议内容不受您所属国家或地区法律的排斥。不具备前述条件的，您应立即终止注册或停止使用本服务。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_number">二、定义及解释</p>
  					<p class="serial_main">（一）币港湾账户：是本公司向您提供的唯一编号。您可自行为该账户设置密码，并用以查询或计量您的预付、应收或应付款。您需使用本公司指定的方式注册、登录该账户。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（二）币港湾平台：除本协议另有规定外，指币港湾官方网站<strong class="font">（www.bigangwan.com）</strong>及相关币港湾app软件。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（三）冻结：指本协议第四（二）7条规定的有权机关要求的冻结。被冻结资金为不可用状态，被冻结账户不可充值、提现、交易，但是可以回款。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（四）关联手机：指您通过您注册时作为该账户名称或者与该账户绑定的手机或其他专属于您的通讯工具的统称。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（五）绑定：指您的币港湾账户与其他硬件、终端、软件、代号、编码、代码、其他账户名等有形体或无形体存在对应的关联关系，这种关联关系使得币港湾账户服务的某些服务功能得以实现，且这种关联关系有时使得这些有形体或无形体能够作为本系统对您的币港湾账户的识别和认定依据。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_number">三、币港湾账户服务</p>
  					<p class="serial_main">（一）币港湾账户服务：指本条第（二）项至第（七）项所列服务， 及您实际使用的本公司或本公司接受您的委托为您不时提供的服务以及提供的其他服务。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（二）银行卡认证：为使用本公司或本公司委托的第三方机构提供的充值、取现、代扣等服务，您应按照币港湾平台规定的流程提交以您本人名义登记的有效银行借记卡（不支持信用卡）等信息，经由审核通过后，本公司会将您的币港湾账户与前述银行账户进行绑定。如您未按照币港湾平台规定提交相关信息或提交的信息错误、虚假、过时或不完整，或者本公司有合理的理由怀疑您提交的信息为错误、虚假、过时或不完整，本公司有权拒绝为您提供银行卡认证服务，您因此未能使用充值、取现、代扣等服务而产生的损失自行承担。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（三）充值：在符合本公司规定或产品规则的情况下， 您委托本公司将上述银行卡内的资金充值到币港湾账户。<strong class="font"> 每个币港湾账户每日充值次数不得超过50次，充值金额以相对应的银行卡的额度限制为准。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（四）充值退回：在符合本公司规定或产品规则的情况下， 您可以请求本公司将您充值到您币港湾账户内的资金退回原充值账户。若您充值失败，充值资金预计将于3个工作日内退回原充值账户，具体退回时限以银行或第三方支付公司的规定为准。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（五）提现：在符合本公司规定或产品规则的情况下，您可以请求本公司将您币港湾账户中的资金提取到您名下的有效中国大陆银行账户内， 该银行账户开户名需与您的姓名或名称一致且按本条第（二）项进行了认证。除被止付或限制款项外， 本公司将于收到提现指令后的一至五个工作日内， 将相应款项汇入该银行账户。您理解， 根据您提供的账户所属银行不同， 会有到账时间差异。此外， 我们可能会对提现进行风险审查， 因此可能导致提现延迟。<strong class="font">您理解并同意您最终收到款项的服务是由您提供的银行账户对应的银行提供的， 您需向该银行请求查证。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（六）代收/代付：币港湾平台按照其当时向您开放的功能提供代收/代付服务，自行或委托第三方机构代为收取第三方向您的币港湾账户支付的本金、收益、利息等各类款项，或者，将您币港湾账户里的款项支付给您指定的其他方。<strong class="font">您同意， 本公司进行代收/代付后， 非经法律程序或者非依本协议之约定， 该服务是不可撤销的。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（七）查询：本公司将对您在币港湾账户的所有操作进行记录，不论该操作之目的最终是否实现。您可以通过币港湾账户实时查询您账户名下的交易记录。<strong class="font">您理解并同意您最终收到款项的服务是由您经过认证的银行卡对应的银行提供的，需向该银行请求查证。您理解并同意通过币港湾账户查询的任何信息仅作为参考，不作为相关操作或交易的证据或依据。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（八）您了解并确认，上述充值、充值退回、提现、代收/代付服务涉及本公司与银行及（或）第三方支付机构等第三方的合作。您同意：(a) 受银行、第三方支付机构等第三方仅在工作日进行资金代扣及划转的现状等各种原因所限，<strong class="font"> 本公司不对前述服务的资金到账时间做任何承诺，也不承担与此相关的责任，包括但不限于由此产生的利息、货币贬值等损失；</strong>(b) 一旦您使用前述服务，即表示您不可撤销地授权本公司进行相关操作，且该等操作是不可逆转的，您不能以任何理由拒绝付款或要求取消交易。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_number">四、币港湾账户</p>
  					<p class="serial_main">（一）注册相关</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">除本协议另有规定或相关产品另有规则外，您须在币港湾平台注册并取得本公司提供给您的币港湾账户，并且按照本公司要求提供相关信息完成激活后方可使用本服务。您同意：</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">1、按照币港湾平台要求准确提供并在取得该账户后及时更新您正确、最新及完整的身份信息及相关资料。<strong class="font">若本公司有合理理由怀疑您提供的身份信息及相关资料错误、不实、过时或不完整的，本公司有权暂停或终止向您提供部分或全部服务。本公司对此不承担任何责任，您将承担因此产生的任何直接或间接支出。</strong>若因国家法律法规、部门规章或监管机构的要求，本公司需要您补充提供任何相关资料时，如您不能及时配合提供，本公司有权暂停或终止向您提供部分或全部服务。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">2、<strong class="font">您应当准确提供并及时更新您提供的电子邮件地址、联系电话、联系地址、邮政编码等联系方式，以便本公司与您进行及时、有效联系。您应完全独自承担因通过这些联系方式无法与您取得联系而导致的您在使用本服务过程中遭受的任何损失或增加任何费用等不利后果。</strong>您理解并同意，您有义务保持您提供的联系方式的有效性，如有变更需要更新的，您应按本公司的要求进行操作。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">3、<strong class="font">您应及时更新资料（包括但不限于身份证、户口本、护照等证件或其他身份证明文件、联系方式、作为币港湾账户登录名的邮箱或手机号码、与币港湾账户绑定的邮箱、手机号码等），否则本公司有权将币港湾账户登录名、币港湾账户绑定的邮箱、手机号码开放给其他用户注册或使用。因您未及时更新资料导致的一切后果，均应由您自行承担，该后果包括但不限于导致本服务无法提供或提供时发生任何错误、账户及账户内资金被别人盗用，您不得将此作为取消交易、拒绝付款的理由。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_number">（二）账户安全</p>
  					<p class="serial_main">您将对使用该账户及密码、校验码进行的一切操作及言论负完全的责任，您同意：</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">1、本公司通过您的币港湾账户登录名和密码识别您的指示，您应当妥善保管您的币港湾账户登录名和密码及身份信息，对于因密码泄露、身份信息泄露所致的损失，由您自行承担。您保证不向其他任何人泄露您的币港湾账户登录名及密码以及身份信息，亦不使用其他任何人的币港湾账户登录名及密码。<strong class="font">本公司亦可能通过本服务应用您使用的其他产品或设备识别您的指示，您应当妥善保管处于您或应当处于您掌控下的这些产品或设备，对于这些产品或设备遗失所致的任何损失，由您自行承担。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">2、基于计算机端、手机端以及使用其他电子设备的用户使用习惯，我们可能在您使用具体产品时设置不同的账户登录模式及采取不同的措施识别您的身份。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">3、您同意，（a）如您发现有他人冒用或盗用您的币港湾账户登录名及密码或任何其他未经合法授权之情形，或发生与币港湾账户关联的手机或其他设备遗失或其他可能危及到币港湾账户资金安全情形时，应立即以有效方式通知本公司，向本公司申请暂停相关服务，以保障您的合法权益；及（b）确保您在持续登录币港湾平台时，以正确步骤离开币港湾平台。本公司不能也不会对因您未能遵守本款约定而发生的任何损失、损毁及其他不利后果负责。<strong class="font">您理解本公司对您的请求采取行动需要合理期限，在此之前，本公司对已执行的指令及(或)所导致的您的损失不承担任何责任。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">4、您确认，您应自行对您的币港湾账户负责，只有您本人方可使用该账户。该账户不可转让、不可赠与、不可继承，但账户内的相关财产权益可被依法转让、赠与或继承。在您决定不再使用该账户时，您应将该账户内的可用款项全部提现或者转账到其他账户，并按本公司规定流程向本公司申请注销该账户。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">5、您使用本服务时同意并认可，可能由于银行本身系统问题、银行相关作业网络连线问题或其他不可抗拒因素，造成本服务无法提供，对此本公司不承担任何责任。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">6、<strong class="font">您同意，基于运行和交易安全的需要，本公司可以暂时停止提供或者限制本服务部分功能、或提供新的功能，在任何功能减少、增加或者变化时，只要您仍然使用本服务，表示您 仍然同意本协议或者变更后的协议。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">7、<strong class="font">您同意，本公司有权应国家法律或行政法规所赋予权力的有权机关的要求对您的个人信息以及在币港湾账户内的资金、交易等进行查询、冻结或扣划。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_number">(三) 注销相关</p>
  					<p class="serial_main"></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">在需要终止使用本服务时，您可以申请注销您的币港湾账户，您同意：</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">2、币港湾账户注销将导致本公司终止为您提供本服务，本协议约定的双方的权利义务终止（依本协议其他条款另行约定不得终止的或依其性质不能终止的除外），同时还可能对于该账户产生如下结果：</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">A、任何兑换代码都将作废；如您不愿将该部分兑换代码消耗掉或将其作废，则您不能申请注销币港湾账户。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">B、任何银行卡将不能适用该账户内的支付或提现服务。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">3、您可以通过自助或者人工的方式申请注销币港湾账户，但如果您使用了本公司提供的安全产品，应当在该安全产品环境下申请注销。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">4、您申请注销的币港湾账户应当处于正常状态，即您的币港湾账户的账户信息和用户信息是最新、完整、正确的，且该账户可以使用所有币港湾平台服务功能的状态。账户信息或用户信息过时、缺失、不正确的账户或被暂停或终止提供服务的账户不能被申请注销。如您申请注销的账户有关联账户或子账户的，在该关联账户或子账户被注销前，该账户不得被注销。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">5、您申请注销的币港湾账户，应当不存在任何由于该账户被注销而导致的未了结的合同关系与其他基于该账户的存在而产生或维持的权利义务，及本公司认为注销该账户会由此产生未了结的权利义务而产生纠纷的情况。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">6、如果您申请注销的币港湾账户一旦注销成功，将不再予以恢复。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">7、<strong class="font">您理解并同意，如您连续12个月未使用您的币港湾账户登录名或本公司认可的其他方式登录过币港湾平台，本公司有权注销您名下的全部或部分币港湾账户登录名及币港湾账户，您将不能再通过该登录名登录币港湾平台或使用相关币港湾账户；</strong>如该相关币港湾账户内有余额，您可按照币港湾平台相关流程将其转到您的同名银行账户。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_number">五、账户使用规则</p>
  					<p class="serial_main">为有效保障您使用本服务时的合法权益，您理解并同意接受以下规则：</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（一）一旦您使用本服务，您即授权本公司代理您在您及（或）您指定人符合指定条件或状态时，支付款项给您指定人，或收取您指定人支付给您的款项。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（二）<strong class="font">您理解并同意，您在币港湾平台或其他可使用本服务的网站或软件上通过以您的币港湾账户名及密码或数字证书等安全产品登录币港湾账户并依照本服务预设流程所修改或确认的交易状态或指令，都不可撤回或撤销，且成为本公司代理您支付或收取款项或进行其他账户操作的唯一指令，视为您本人的指令，您应当自己对本公司忠实执行上述指令产生的任何结果承担责任。</strong>除本协议另有规定外，您与第三方发生交易纠纷时，您授权本公司自行判断并决定将争议款项的全部或部分支付给交易一方或双方。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（三）您在使用本服务过程中，本协议内容、平台上出现的关于交易操作的提示或本公司发送到关联手机的信息（短信或电话等）内容是您使用本服务的相关规则，您使用本服务即表示您同意接受本服务的相关规则。您了解并同意本公司有权单方修改服务的相关规则，而无须征得您的同意，服务规则应以您使用服务时的页面提示（或发送到关联手机的短信或电话等）为准 ，您同意并遵照服务规则是您使用本服务的前提。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（四）<strong class="font">本公司会以电子邮件（或发送到关联手机的短信或电话等）方式通知您交易进展情况以及提示您进行下一步的操作，但本公司不保证您能够收到或者及时收到该邮件（或发送到 关联手机的短信或电话等），且不对此承担任何后果，因此，在交易过程中您应当及时登录到币港湾平台查看和进行交易操作。因您没有及时查看和对交易状态进行修改或确认或未能提交相关申请而导致的任何纠纷或损失，本公司不负任何责任。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（五）<strong class="font">本公司对您所交易的标的物不提供任何形式的鉴定、证明的服务。</strong>除本协议另有规定外，如您与交易对方发生交易纠纷，您授权由本公司根据本协议及币港湾平台上载明的各项规则进行处理。您为解决纠纷而支出的通讯费、文件复印费、鉴定费等均由您自行承担。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（六）您应按照币港湾平台的要求完善您的身份信息以最终达到实名，否则您可能会受到收款、提现或支付的限制，且本公司有权对您的资金进行止付，直至您达到实名。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（七）本公司会将您委托本公司或第三方机构代收或代付的款项，严格按照法律法规或有权机关的监管要求进行管理；除本协议另有规定外，不作任何其他非您指示的用途。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（八）本公司及其合作的第三方支付机构并非银行或其它金融机构，本服务也非金融业务，本协议项下的资金移转均通过银行来实现，您理解并同意您的资金于流转途中的合理时间。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（九）您不得将本服务用于非本公司许可的其他用途。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main">（十）因您的过错导致的任何损失由您自行承担，该过错包括但不限于：不按照交易、支付提示操作，未及时进行交易操作，遗忘或泄漏密码，密码被他人破解，您使用的计算机被他人侵入。</p>
  				</div>
  				
  				
  				<div class="serial">
  					<p class="serial_number">六、账户服务使用限制</p>
  					<p class="serial_main"><strong class="font">（一）您在使用本服务时应遵守中华人民共和国相关法律法规、您所在国家或地区之法令及相关国际惯例，不将本服务用于任何非法目的，也不以任何非法方式使用本服务。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">（二）您不得利用本服务从事侵害他人合法权益之行为，否则本公司有权拒绝提供本服务，且您应承担所有相关法律责任，因此导致本公司或本公司雇员受损的，您应承担赔偿责任。上述行为包括但不限于：</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">1、侵害他人名誉权、隐私权、商业秘密、商标权、著作权、专利权等合法权益。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">2、违反依法定或约定之保密义务。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">3、冒用他人名义使用本服务。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">4、从事不法交易行为，如洗钱、恐怖融资等其他本公司认为不得使用本服务进行的交易。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">5、非法使用他人银行账户或无效银行账号交易。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">6、违反《银行卡业务管理办法》使用银行卡，或利用信用卡套取现金（以下简称套现）。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">7、进行与您或交易对方宣称的交易内容不符的交易，或不真实的交易。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">8、从事任何可能含有电脑病毒或是可能侵害本服务系统、资料之行为。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">9、其他本公司有正当理由认为不适当之行为。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">（三）您理解并同意，本公司不对因下述任一情况导致的任何损害赔偿承担责任，包括但不限于利润、名誉、使用、数据等方面的损失或其他无形损失的损害赔偿 (无论本公司是否已被告知该等损害赔偿的可能性)：</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">1、本公司有权基于单方判断，包含但不限于本公司认为您已经违反本协议的明文规定及精神，对您的名下的全部或部分币港湾账户暂停、中断或终止向您提供本服务或其任何部分，并移除您的资料。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">2、本公司在发现异常交易或合理怀疑交易有疑义或有违反法律规定或本协议约定之虞时，有权不经通知先行暂停或终止您名下全部或部分币港湾账户的使用（包括但不限于对这些账户名下的款项和在途交易采取取消交易、调账等限制措施），并拒绝您使用本服务之部分或全部功能，并通过邮件或站内信或客户端通知等方式通知您，您应及时予以关注。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">3、您理解并同意，存在如下情形时，本公司有权对您名下币港湾账户暂停或终止提供全部或部分服务，或对资金的全部或部分进行止付，且有权限制您所使用的产品或服务的部分或全部功能（包括但不限于对这些账户名下的款项和在途交易采取取消交易、调账等限制措施），并通过邮件或站内信或者客户端通知等方式通知您， 您应及时予以关注：</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">1）根据本协议的约定；</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">2）根据法律法规及法律文书的规定；</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">3）根据有权机关的要求；</strong></p>
  				</div>
  				
  				<div class="serial">
  					<p class="serial_main"><strong class="font">4）您使用币港湾账户服务的行为涉嫌违反国家法律法规及行政规定的；</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">5）本公司基于单方面合理判断认为账户操作、资金进出等存在异常时；</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">6）本公司依据自行合理判断认为可能产生风险的；</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">7）他人向您账户错误汇入资金等导致您可能存在不当得利的；</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">8）您遭到他人投诉，且对方已经提供了一定证据的；</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">9）您可能错误地将他人账户进行了实名制或实名认证的。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">如您申请恢复服务、解除上述止付或限制，您应按本公司要求如实提供相关资料及您的身份证明以及本公司要求的其他信息或文件，以便本公司进行核实，且本公司有权依照自行判断来决定是否同意您的申请。您应充分理解您的申请并不必然被允许。您拒绝如实提供相关资料及身份证明的，或未通过本公司审核的，则您确认本公司有权长期对该等账户停止提供服务且长期限制该等产品或者服务的部分或全部功能。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">在本公司认为该等异常已经得到合理解释或有效证据支持或未违反国家相关法律法规及部门规章的情况下，最晚将于止付款项或暂停执行指令之日起的30天内解除止付或限制 。但本公司有进一步理由相信该等异常仍可能对您或其他用户或本公司造成损失的情形除外，包括但不限于：</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">1）收到针对该等异常的投诉；</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">2）您已经实质性违反了本协议或另行签署的协议，且我们基于保护各方利益的需要必须继续止付款项或暂停执行指令；</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">3）在本公司合理认为有必要时，本公司无需事先通知即可终止提供本服务，并暂停、关闭或删除您名下全部或部分币港湾账户及这些账户中所有相关资料及档案，并将您滞留在这些账户的全部合法资金退回到您的银行账户。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">（四）如您需要注销您的币港湾账户，应按本公司有关规定办理销户手续。本公司注销该账户，即表明本公司与您之间的协议已终止，但您仍应对您使用本服务期间的行为承担可能的违约或损害赔偿责任，同时本公司仍可保有您的相关信息。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_number">七、隐私权保护</p>
  					<p class="serial_main">本公司承诺，仅因提供本协议约定之服务而使用您的身份资料和其他特定资料，除应国家司法机关、行政机关等有权机关要求及其他相关协议约定可披露的情形外，本公司不会向任何第三方泄露您的身份资料和其他特定资料。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_number">八、系统中断或故障</p>
  					<p class="serial_main"><strong class="font">本公司系统因下列状况无法正常运作，使您无法使用各项服务时，本公司不承担损害赔偿责任，该状况包括但不限于：</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">（一）本公司在币港湾平台公告之系统停机维护期间。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">（二）电信设备出现故障不能进行数据传输的。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">（三）因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成本公司系统障碍不能执行业务的。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">（四）由于黑客攻击、电信部门技术调整或故障、网站升级、银行或第三方支付方面的问题等原因而造成的服务中断或者延迟。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_number">九、责任范围及责任限制</p>
  					<p class="serial_main"><strong class="font">（一）本公司仅对本协议中列明的责任承担范围负责。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">（二）您明确因交易所产生的任何风险应由您与交易对方承担。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">（三）币港湾平台用户信息是由用户本人自行提供的，本公司无法保证该信息之准确、及时和完整，您应对您的判断承担全部责任。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">（四）本公司不对交易标的及本服务提供任何形式的保证，包括但不限于以下事项：</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">1、本服务符合您的需求。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">2、本服务不受干扰、及时提供或免于出错。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">3、您经由本服务购买或取得之任何产品、服务、资讯或其他资料符合您的期望。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">（五）本服务之合作单位，所提供之服务品质及内容由该合作单位自行负责。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">（六）您经由本服务之使用下载或取得任何资料，应由您自行考量且自负风险，因资料之下载而导致您电脑系统之任何损坏或资料流失，您应负完全责任。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">（七）您自本公司及本公司工作人员或经由本服务取得之建议和资讯，无论其为书面或口头形式，均不构成本公司对本服务之保证。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">（八）在法律允许的情况下，本公司对于与本协议有关或由本协议引起的任何间接的、惩罚性的、特殊的、派生的损失（包括业务损失、收益损失、利润损失、名誉损失、使用数据或其他经济利益的损失），不论是如何产生的，也不论是由对本协议的违约还是由侵权造成的，均不负有任何责任，即使事先已被告知此等损失的可能性。另外即使本协议规定的排他性救济没有达到其基本目的，也应排除本公司对上述损失的责任。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">（九）除本协议另有规定或本公司另行同意外，您对本公司的委托及向本公司发出的指令均不可撤销。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_number">十、商标、知识产权的保护</p>
  					<p class="serial_main">（一）币港湾平台上所有内容，包括但不限于著作、图片、档案、资讯、资料、网站架构、网站画面的安排、网页设计，均由本公司或本公司关联企业依法拥有其知识产权，包括但不限于商标权 、专利权、著作权、商业秘密等。</p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">（二）非经本公司或本公司关联企业书面同意，任何人不得擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表币港湾平台程序或内容。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font">（三）尊重知识产权是您应尽的义务，如有违反，您应承担损害赔偿责任。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_number">十一、法律适用与管辖</p>
  					<p class="serial_main">本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律，没有相关法律规定的，参照通用国际商业惯例和（或）行业惯例。因本协议产生之争议，均应依照中华人民共和国法律予以处理，<strong class="font">并以本公司住所地人民法院为第一审管辖法院。</strong></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"><strong class="font"></strong></p>
  				</div>
  				
  				<div class="serial">
  					<p class="serial_main"></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"></p>
  				</div>
  				<div class="serial">
  					<p class="serial_main"></p>
  				</div>
  				
  				
  				
  				
  			

  			</div>
  			<div class="agess_foot">
  				<div class="agess_btn" onclick="agreeAgreementClose();">关闭</div>
  			</div>
  		</div>
    
</body>
</html>