#Html("begin")
#Head("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadCSS("resources/gen2.0/styles/agree/default")
#LoadCSS("resources/gen2.0/styles/agree/agree")
#Head("end")
<script>
    function hfCustodyClose(){
        $("#hfCustody_account_service").hide();
        $("#hfCustody_account_service1").hide();
    }
</script>

<body>
<div class="agree_bg" id="hfCustody_account_service" style="display:none;"></div>
<div class="agess" id="hfCustody_account_service1" style="display:none;">
    <div class="agess_title">
        <span class="agess_ft">协议内容</span>
        <i class="agess_off" onclick="hfCustodyClose();"></i>
    </div>
    <div class="agess_main">
        <p class="man_ft">网络交易资金存管账户服务协议</p></br></br>
        <p class="man_ft">协议编号：</p></br>
        <p class="man_ft">甲方：在乙方平台已注册用户</p></br>
        <p class="man_ft">甲方声明：</p></br>

        <p class="man_ft">兹声明甲方在申请办理客户交易结算资金存管业务前已仔细阅读并理解《网络交易资金存管账户服务协议》，甲方已明确知晓恒丰银行仅负责网络交易资金存管，即恒丰银行按照甲方申请或指令办理充值、转账、提现等资金划转业务；恒丰银行不负责审核乙方所提供融资人和融资项目的真实性和合法性、不保障融资人和融资项目必然还款、也不保障甲方能够获得乙方融资项目下的本金和预期收益。甲方完全同意和接受本协议的全部条款和内容，愿意履行和承担本协议中约定的权利和义务。</p></br>
        <p class="man_ft">乙方(网络交易平台)：杭州币港湾科技有限公司</p></br>
        <p class="man_ft">鉴于：</p></br>

        <p class="man_ft">恒丰银行是依法设立的商业银行，在严格遵循国家有关法律、法规以及规章的前提下，能够履行客户交易结算资金的资金划转和存管职责，办理乙方的客户交易结算资金存管业务。恒丰银行仅按照本协议条款规定的内容承担资金划转和存管职责。恒丰银行不负责对甲方进行身份识别，不负责审核甲方资金来源的合法合规性。恒丰银行通过网络交易平台资金存管系统能够为甲方的交易结算资金提供相关的服务。恒丰银行不负责审核乙方所提供融资人和融资项目的真实性和合法性、也不保障融资人和融资项目必然还款。</p></br>
        <p class="man_ft">甲方为在乙方运营之平台币港湾（https://www.bigangwan.com/）成功注册的用户，乙方和恒丰银行连通网络交易平台资金存管系统，乙方和恒丰银行已签订编号为HFYH-JG2016-022的《网络借贷专用账户存管服务协议》（以下称“《服务协议》”）。</p></br>
        <p class="man_ft">为此，甲、乙双方依据《中华人民共和国商业银行法》、《中华人民共和国合同法》、乙方交易及结算规则、恒丰银行账户管理及结算规则和其他有关法律、法规、规章以及相关规定，就甲方在乙方进行网络借贷交易，恒丰银行存管乙方客户交易结算资金，及其他相关事宜达成《网络交易资金存管账户服务协议》（以下称“本协议”），供双方共同遵守。</p></br>

        <div class="serial">
            <p class="serial_number">第一章 双方声明</p>
        </div>

        <div class="serial">
            <p class="serial_number">第一条 甲方声明如下：</p>
            <p class="serial_main">（一）甲方具有相应合法的投资或融资等资格，不存在法律、法规、规章、其他规范性文件和乙方交易规则禁止或限制其在乙方进行网络借贷交易的情形，甲方的角色包括但不限于投资人、融资人、担保人、渠道方及其他与本借贷项目相关的主体等。</p>
        </div>
        <div class="serial">
            <p class="serial_main">（二）甲方保证其向乙方、恒丰银行提供的所有证件、资料均合法、真实、准确、完整和有效。甲方资料发生变化时，甲方必须按照约定的要求，及时通知乙方和恒丰银行。</p>
        </div>
        <div class="serial">
            <p class="serial_main">（三）甲方保证其资金来源合法合规、且允许进行投资性交易。</p>
        </div>
        <div class="serial">
            <p class="serial_main">（四）乙方已向甲方清楚揭示网络借贷交易风险，甲方已明确知晓并愿意承担网络借贷交易风险。甲方的指令一经发出即不可撤销。</p>
        </div>
        <div class="serial">
            <p class="serial_main">（五）甲方已明确知晓恒丰银行仅负责网络借贷交易资金存管，即按照甲方或乙方申请或指令办理账户开立、绑卡、解绑卡、充值、转账、提现等业务；恒丰银行不负责审核乙方所提供融资人和融资项目的真实性和合法性、不保障融资人和融资项目必然还款、也不保障甲方能够获得乙方承诺的项目本金和预期收益。</p>
        </div>
        <div class="serial">
            <p class="serial_main">（六）甲方同意遵守有关的法律、法规及乙方交易规则。</p>
        </div>
        <div class="serial">
            <p class="serial_main">（七）甲方不可撤销地承诺并保证，恒丰银行仅根据甲方或乙方的申请或指令进行资金划转及冻结等操作，恒丰银行进行的该等操作均视为已取得甲方的合法有效授权，对甲方具有法律效力。</p>
        </div>
        <div class="serial">
            <p class="serial_main">（八）甲方知晓并同意，恒丰银行将根据乙方传输的甲方身份信息（包括但不限于姓名、身份证号、银行卡号、手机号等）对甲方进行身份识别，该行为已获得甲方合法有效授权，对甲方具有法律效力。</p>
        </div>
        <div class="serial">
            <p class="serial_main">（九）甲方确认知晓用户号和密码的重要性。任何使用甲方密码进行的交易委托或资金划转均视为甲方本人所为和有效的甲方指令。由于甲方未尽到防范风险的义务造成其用户号及密码失密及其他非乙方、恒丰银行原因而导致的甲方损失，乙方、恒丰银行不承担任何责任。</p>
        </div>
        <div class="serial">
            <p class="serial_main">（十）甲方已详细阅读本协议所有条款，准确理解其含义，特别是其中有关乙方、恒丰银行的责任条款，并同意本协议所有条款。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第二条 乙方声明如下：</p>
            <p class="serial_main">（一）乙方是依法设立的网络借贷平台币港湾（https://www.bigangwan.com/）的运营商，具有相应的资格开展网络借贷相关业务。</p>
        </div>
        <div class="serial">
            <p class="serial_main">（二）乙方承诺其服务平台注册的投资人、融资人和融资项目的真实性和合法性，不存在任何虚假融资人和融资项目，不存在为融资人虚构融资项目、故意隐瞒融资项目重大瑕疵等损害投资者合法权益的情形，并承担由此而可能引发的经济及法律责任。乙方负责对甲方进行身份识别，对甲方资金来源进行合法合规性审核。</p>
        </div>
        <div class="serial">
            <p class="serial_main">（三）乙方承诺其通过自身服务系统向恒丰银行系统所提交的任何支付指令和推送的任何数据的真实性、完整性、准确性、合法性且均为乙方平台的注册用户提交的指令或提供的数据；如因该类指令或数据信息不准确、不真实、不完整、不合法而可能导致甲方等相关方损失的，乙方承诺承担过错责任。</p>
        </div>
        <div class="serial">
            <p class="serial_main">（四）乙方遵守有关的法律、法规及交易和结算规则。</p>
        </div>
        <div class="serial">
            <p class="serial_main">（五）乙方已详细阅读本协议所有条款，准确理解其含义，特别是其中有关恒丰银行的责任条款，并同意本协议所有条款。</p>
        </div>
        <div class="serial">
            <p class="serial_main">（六）乙方依据国家法律法规负责承担反洗钱的职责，根据人民银行相关规定做好客户身份识别、资料保存及其他相关工作。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第二章 释义</p>
        </div>
        <div class="serial">
            <p class="serial_number">第三条</p>
            <p class="serial_main">“网络交易平台资金存管系统”是恒丰银行针对网络借贷交易资金存管业务开发的系统，主要功能包括账户开立、绑卡、解绑卡、查询、充值、转账、提现、清算对账、资金存管等。系统对接后，恒丰银行将为甲方分别单独开立并管理其客户存管账户，对客户的交易结算资金进行明细核对和总分核对。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第四条</p>
            <p class="serial_main">账户开立是指甲方与乙方签署本协议，授权乙方通过其提供的服务渠道在恒丰银行为甲方开立客户存管账户。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第五条</p>
            <p class="serial_main">绑卡是指甲方通过乙方提供的服务渠道将甲方本人名下银行结算账户与其客户存管账户建立绑定关系，绑定后即可通过该银行结算账户办理充值及提现。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第六条</p>
            <p class="serial_main">解绑卡是指甲方在线下向乙方提交解绑或换卡申请，通过乙方提供的服务渠道将甲方本人名下银行结算账户与其客户存管账户解除绑定关系，解绑后不能再通过该银行结算账户办理充值及提现。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第七条</p>
            <p class="serial_main">查询是指甲方通过乙方提供的服务渠道查询交易账户信息、交易明细信息等。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第八条</p>
            <p class="serial_main">充值是指甲方授权乙方通过其支付通道将资金划入其在汇总账户项下的客户存管账户。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第九条</p>
            <p class="serial_main">转账是指在恒丰银行的交易资金存管账户体系内，乙方平台各客户开立的存管账户之间的资金划转行为，包括交易成功后资金从甲方（如作为投资人）客户存管账户转到甲方交易对手的客户存管账户，或是在产品（资产）兑付、还款、赎回时，从甲方（如作为付款义务人）客户存管账户转到投资人客户存管账户，或其他转账行为（包括但不限于甲方主动授权转账、除投资人之外的其他项目参与方之间的互转等）。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第十条</p>
            <p class="serial_main">提现是指甲方授权乙方通过其支付通道将资金从客户存管账户划回已绑定的银行结算账户。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第三章 账户开立</p>
        </div>
        <div class="serial">
            <p class="serial_number">第十一条</p>
            <p class="serial_main">为实现为甲方提供客户交易结算资金存管业务，甲方应为在乙方平台注册的用户，授权乙方将甲方个人信息资料提交至恒丰银行，并且完成客户存管账户的开立，且以恒丰银行返回至乙方的结果为准。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第十二条</p>
            <p class="serial_main">客户存管账户指甲方在乙方开立的专门用于交易用途的账户。乙方通过该账户对甲方的网络借贷交易进行前端控制，记载客户交易结算资金的变动明细，并进行清算交收和计付利息等。具体计付利息事宜由甲乙双方自行约定，恒丰银行对此不承担任何责任。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第十三条</p>
            <p class="serial_main">客户银行结算账户指甲方在商业银行开立的，用于银行资金往来结算的人民币活期账户。若甲方为个人客户，该银行结算账户必须为客户同名借记账户。具体账户信息以甲方通过乙方服务渠道绑定的银行账户信息为准。</p>
        </div>
        <div class="serial">
            <p class="serial_main">甲方充值时可以选择代扣或网银网关方式，当选择代扣方式进行充值时，甲方应先将交易结算资金存入已绑定的银行结算账户，之后才能从已绑定的银行结算账户充值转入客户存管账户。甲方从客户存管账户提取的客户交易结算资金，只能通过提现划转回到已绑定的银行结算账户。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第十四条</p>
            <p class="serial_main">甲方申请办理网络借贷业务前，需先在乙方开立交易账户。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第十五条</p>
            <p class="serial_main">甲方在向乙方申请开设交易账户时，应按照乙方的要求提供合法有效的证件，并按乙方要求签署相关的网络借贷交易协议书。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第十六条</p>
            <p class="serial_main">在甲方绑卡环节，如甲方为个人客户，仅允许绑定借记账户。校验通过后，乙方系统变更相应的绑卡信息。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第十七条</p>
            <p class="serial_main">除甲方已经在乙方登记的与其本人客户存管账户建立绑定关系的银行结算账户外，本协议下的其他任何账户均不具有客户交易结算资金的提现功能。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第十八条</p>
            <p class="serial_main">甲方可在乙方进行交易资金账户和存管资金变化情况的查询。若甲方对其客户交易结算资金清算明细或余额有异议，应向乙方查询并核实。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第四章 资金存取</p>
            <p class="serial_main"></p>
        </div>
        <div class="serial">
            <p class="serial_number">第十九条</p>
            <p class="serial_main">甲方通过乙方渠道进行充值、提现、转账等各类交易时，必须输入正确的已经在乙方设置的客户存管账户交易密码。</p>
        </div>
        <div class="serial">
            <p class="serial_main">特别的：</p>
        </div>
        <div class="serial">
            <p class="serial_main">（1）甲方作为还款人时，甲方授权乙方办理从甲方客户存管账户中扣划资金的手续用于向投资人还款、缴纳借款费用等。</p>
        </div>
        <div class="serial">
            <p class="serial_main">（2）同一借贷项目项下，甲方授权乙方办理的，除投资人之外的其他项目参与方之间的转账行为。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第二十条</p>
            <p class="serial_main">甲方可通过乙方网站或手机APP等服务渠道（具体由乙方安排）办理充值业务，充值时可选择网银网关充值、或是由乙方的支付通道进行代扣充值。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第二十一条</p>
            <p class="serial_main">在甲方作为投资人进行投标环节，甲方应确保其客户存管账户中具有充足的可投资金，如因甲方客户存管账户可投资金不足而使得投标不成功的，乙方不承担任何责任。如甲方投标时，乙方需进行审核的，因乙方审核不通过而使得投标不成功的，乙方不承担任何责任。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第二十二条</p>
            <p class="serial_main">在投标资金冻结环节，恒丰银行系统支持在募集期内冻结多个投资人交易结算管理账户资金，待乙方审核通过确认投资交易成功后解冻投资人资金并自动将实际成交资金划转到融资人客户存管账户。因乙方审核未通过，而导致甲方投资不成功的，乙方不承担任何责任。在投标环节中，存在投标资金冻结但因投标资金总额超出或未达到交易项目拟交易总金额而导致甲方交易不成功的情况，届时恒丰银行将解除对应资金冻结，且甲方在此承诺并确认，对于该等情况已完全知悉、了解并认可，不会因为投标不成功而向乙方提出任何主张、要求，包括但不限于资金被冻结期间的利息损失。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第二十三条</p>
            <p class="serial_main">在还款环节，甲方（如甲方作为还款人）授权乙方根据借贷项目实际情况办理从甲方客户存管账户还款到投资人客户存管账户的资金划转手续。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第二十四条</p>
            <p class="serial_main">甲方交易结算资金的支取，只能通过乙方网站或手机APP等服务渠道（具体由乙方安排）通过提现的方式转入甲方已经绑定的银行结算账户。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第二十五条</p>
            <p class="serial_main">甲方授权乙方办理同一借贷项目项下的除投资人之外的其他项目参与方之间的转账行为。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第二十六条</p>
            <p class="serial_main">乙方承诺不得将自有财产与甲方客户存管账户内客户资金进行混同，甲方客户存管账户内客户资金不属于乙方的固有财产。乙方因依法解散、被撤销或被宣告破产等原因进行清算的，客户存管账户内客户资金不属于清算财产。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第五章 信息变更</p>
        </div>
        <div class="serial">
            <p class="serial_number">第二十七条</p>
            <p class="serial_main">当甲方需要变更在乙方开立的交易账户户名、证件号码、地址、联系电话、客户存管账户交易密码等重要信息，在符合相关法律法规的情况下应在乙方网站或手机APP等服务渠道（具体由乙方安排）申请办理，并按乙方要求在线下签署相关文件。</p>
        </div>
        <div class="serial">
            <p class="serial_main">甲方办理以上所列变更事项无需与乙方重新签署协议，本协议继续有效。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第二十八条</p>
            <p class="serial_main">有下列情形之一的，乙方可要求甲方限期纠正，甲方不能按期纠正或拒不纠正的，经乙方发现，可单方面终止本协议：</p>
        </div>
        <div class="serial">
            <p class="serial_main">（一）乙方或恒丰银行发现甲方向其提供的资料、证件严重失实；</p>
        </div>
        <div class="serial">
            <p class="serial_main">（二）甲方有严重损害乙方合法权益、影响其正常经营秩序的行为；</p>
        </div>
        <div class="serial">
            <p class="serial_main">（三）甲方的资金来源不合法；</p>
        </div>
        <div class="serial">
            <p class="serial_main">（四）为非法目的使用资金存管系统；</p>
        </div>
        <div class="serial">
            <p class="serial_main">（五）利用资金存管系统传输任何骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或者其他任何非法的信息资料；</p>
        </div>
        <div class="serial">
            <p class="serial_main">（六）不遵守所有与系统服务有关的协议、规定和程序；</p>
        </div>
        <div class="serial">
            <p class="serial_main">（七）监管机构认定的其他情形。</p>
        </div>
        <div class="serial">
            <p class="serial_main">乙方单方面终止本协议时，应通过乙方服务渠道向甲方发送协议终止通知，并自协议终止通知发布之时起，乙方不再接受甲方的资金转账指令。本协议终止，不影响乙方依法追究甲方违约责任的权利。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第二十九条</p>
            <p class="serial_main">乙方如单方变更或注销甲方交易账户，应及时通知甲方、恒丰银行。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第六章 双方的责任条款</p>
        </div>
        <div class="serial">
            <p class="serial_number">第三十条</p>
            <p class="serial_main">乙方因未有效履行甲方投融资资产的管理主体、清算交收义务，所导致的甲方投融资资产损失或甲方交易无法正常进行的，由乙方承担赔偿责任。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第三十一条</p>
            <p class="serial_main">如因乙方故意或重大过失导致的交易账户差错使甲方交易无法正常进行或交易结算资金无法正常转账支取的，由乙方根据有关规定承担相应的责任。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第三十二条</p>
            <p class="serial_main">因甲方交易结算资金存取造成的差错事故，以恒丰银行数据为准，由乙方向恒丰银行提请相关要求并调账。因甲方投资交易造成的差错事故，以乙方交易数据为准，由乙方负责查明原因并调账。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第三十三条</p>
            <p class="serial_main">乙方未如实执行甲方下达的交易委托指令，导致甲方损失的，由乙方承担赔偿责任，如乙方遇到不可抗力的情况除外。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第三十四条</p>
            <p class="serial_main">乙方郑重提醒甲方注意用户号和密码的保密。任何通过登录甲方账户并使用甲方密码进行的交易委托或资金划转均视为甲方本人所为和有效的甲方指令。由于甲方未尽到防范风险的义务造成其用户号及密码失密及其他非乙方原因而导致的甲方损失，乙方不承担任何责任。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第三十五条</p>
            <p class="serial_main">乙方对甲方的开户资料、委托事项、交易记录等资料负有保密义务，除法律法规或监管机构另有规定；或向政府授权的信用联合征信机构提供；或因审计需要向审计机构提供；或因其他原因向司法机关、法律服务机构提供；或甲方指示外，不得向第三人透露。乙方承担因其擅自泄露甲方资料给甲方造成的直接损失。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第三十六条</p>
            <p class="serial_main">甲方应妥善保管其交易账户信息及个人银行借记账户信息或机构客户银行账户信息。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第三十七条</p>
            <p class="serial_main">若甲方遗失交易账户信息、身份证件，应及时向乙方办理挂失，在挂失生效前已经发生的资金账户损失由甲方承担。甲方如遗失银行借记账户信息，应及时向其开户银行办理挂失，在挂失生效前已发生的转账业务所产生的损失及其他损失由甲方承担。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第三十八条</p>
            <p class="serial_main">因地震、台风、水灾、火灾、战争及其他不可抗力因素导致的甲方损失，乙方不承担任何赔偿责任。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第三十九条</p>
            <p class="serial_main">因乙方不可预测或无法控制的系统故障、设备故障、通讯故障、停电等突发事故，给甲方造成的损失，乙方不承担任何赔偿责任。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第四十条</p>
            <p class="serial_main">因互联网上传输原因，交易和转账指令出现中断、停顿、延迟、数据错误等情况以及乙方不可预测或不可控制因素而造成甲方不能正常交易和转账，乙方不承担责任，但乙方保证尽快采取其他方式使交易正常运行。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第四十一条</p>
            <p class="serial_main">甲方为进行网络借贷交易使用的网站或软件必须是乙方指定站点公示或下载的。甲方使用其他途径获得的网站或软件，由此产生的后果由甲方自行承担。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第四十二条</p>
            <p class="serial_main">当第三十九条、第四十条所述事件发生后，乙方应当及时采取措施防止甲方损失可能的进一步扩大。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第四十三条</p>
            <p class="serial_main">乙方应本着勤勉尽责的精神忠实地向甲方提供信息、资料。乙方向甲方提供的各种信息及资料，仅作为投资参考，甲方应自行承担据此进行投资所产生的风险。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第四十四条</p>
            <p class="serial_main">甲方在签署本协议前已经在乙方办理的任何交易均与恒丰银行无关，恒丰银行仅依据乙方提供的数据办理存量客户迁移工作。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第四十五条</p>
            <p class="serial_main">甲、乙双方各自依照相关法律与本协议承担违约责任，任何一方不对其他方的行为承担责任。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第四十六条</p>
            <p class="serial_main">因法律法规变化、监管部门的监管要求等，导致恒丰银行不能履行存管义务的，乙方有权解除本协议，不承担任何责任。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第四十七条</p>
            <p class="serial_main">如发生乙方与恒丰银行签署的《服务协议》项下合同解除的事宜，本协议自动解除。甲方承诺不追究乙方责任。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第七章 争议的解决</p>
        </div>
        <div class="serial">
            <p class="serial_number">第四十八条</p>
            <p class="serial_main">因本协议引起的或与本协议有关的任何争议，由协议签订各方协商解决；协商不成的，应向乙方所在地法院起诉。争议期间，各方仍应履行未涉争议的条款。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第八章 附 则</p>
        </div>
        <div class="serial">
            <p class="serial_number">第四十九条</p>
            <p class="serial_main">乙方按照有关法律法规及乙方交易规则的规定向甲方收取手续费、交易产生税费由有交易各方自行缴纳。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第五十条</p>
            <p class="serial_main">甲方的交易委托凭证和资金存取凭证是指其在乙方渠道所形成的乙方系统记录资料。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第五十一条</p>
            <p class="serial_main">乙方必须根据法律法规规定的方式和期限保存甲方的交易委托凭证和资金存取凭证等资料。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第五十二条</p>
            <p class="serial_main">本协议由甲方通过乙方服务渠道提供的 界面操作，各方在该服务界面进行的任何形式的确认，包括但不限于数字证书、密码、点击确认等形式均视为各方的可靠电子签名。本协议经（1）甲方通过上述方式确认同意签署本协议，且（2）乙方提示交易成功后，于系统记录的签约日期之日起发生法律效力。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第五十三条</p>
            <p class="serial_main">本协议生效后，若有关法律法规、规章制度出台或修订，相关条款按新出台或修订的法律法规、规章制度办理；本协议中如有与未来出台或修订的法律法规、规章制度存在冲突或不一致的条款，自相关法律法规、规章制度生效之日起即可确认此类条款自始无效。但本协议其他条款继续有效。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第五十四条</p>
            <p class="serial_main">本协议根据法律法规规章和监管机构、乙方业务规章等的规定如需修改或增补，修改或增补的内容将由乙方以公告形式通知甲方，若甲方在七日内不提出异议，公告内容即成为本协议组成部分。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第五十五条</p>
            <p class="serial_main">本协议所指的通知方式除上述条款中已有约定外，可以是书面送达通知或公告通知。公告通知自公告在乙方经营场所、网站或APP等渠道发布之日起生效。</p>
        </div>
        <div class="serial">
            <p class="serial_number">第五十六条</p>
            <p class="serial_main">本协议生效后，至下列任一事件发生时终止：</p>
        </div>
        <div class="serial">
            <p class="serial_main">（一）乙方根据本协议第二十八条的规定终止本协议；</p>
        </div>
        <div class="serial">
            <p class="serial_main">（二）乙方与恒丰银行签署的《服务协议》终止。</p>
        </div>
        <div class="serial">
            <p class="serial_main">（以下无正文）</p>
        </div>
        <p class="serial_main"></p>
    </div>

    <div class="agess_foot">
        <div class="agess_btn" onclick="hfCustodyClose();" id="hfCustody_agree_close">关闭</div>
    </div>
</div>

</body>
#Html("end")