body{ background: #f3f5f7; }
.bg_wp{ width:249px; height:225px; text-align: center; margin:0 auto; padding-top:120px;padding-bottom: 62px;}
.main_ft{ font-size: 3.4rem;font-weight: 600; color:#fb7c4b; line-height: normal;  text-align: center; width:100%;}
.ft_bottom{ padding-bottom: 20px; }
.btn{ width:69.6%; padding:22px 0px; text-align: center; font-size: 3.6rem; color:#ffffff; background: #ff6633; line-height: normal;display: block; border-radius: 8px; margin: 106px auto 0px;}
.info_wrap{ padding-top:54px; }
.info_ft{ font-size:2.4rem; color:#b3b0b0; line-height: normal;padding-bottom: 6px; width:100%; text-align: center; }