

/*理财产品*/
.fp_header{ height:82px; background: #ff9933; text-align: center; position: relative;}
.fn_icon1,.fn_icon2,.fn_icon3{ display: inline-block; width:27px; height:36px;vertical-align: middle; margin: 0px 10px;}
.fn_icon1{ background: url(../../images/fin_icon01.png) no-repeat 0px 2px; }
.fn_icon2{ background: url(../../images/fin_icon02.png) no-repeat 0px 0px; }
.fn_icon3{ background: url(../../images/fin_icon03.png) no-repeat 0px 2px; }
.fp_cor{border-radius:6px; display: inline-block; color: white; font-size:26px; line-height: 26px; font-weight: 200; margin:23px;}
.mian{ position: absolute;  width:100%;}
.product{ margin:12px 14px; position: relative;}
.label{ position:absolute;width:30px; height:36px; background: url(../../images/footer.png) no-repeat -196px -2px; top:8px; left:-5px;}
.main_product{ height:185px;  width:72%; background:white; border:1px solid #cccccc; border-radius:6px 6px 0px 6px;}
.product_time{ font-size: 2rem; padding:18px 0px 0px 40px; color:#999999;}
.earnings_wrap{/*width:188px; text-align: center;*/ margin-top:23px;height:66px; line-height: 66px; display: inline-block; text-align: center;}
.earnings, .ear_font{display:block;}
.earnings{text-align: center;width:206px;font-size: 4.8rem; border-right:1px solid #f0f0f0;color:#ff6633;}
.easr_one{ width:270px;}
.easr_two{ width:156px;}
.ear_font{color:#a7a7a7; font-size: 1.8rem; line-height: 46px;}
.fate .earnings{border:0px;/* padding-left:48px;*/ color:#ff9933;}
.dotted{ position: absolute; height:185px;width:24px; background:url(../../images/fp_icon1.png) no-repeat; display: inline-block;top: 0px;right: 150px;z-index: 2}
.purchase{width:25%;height:185px; position: absolute;top:0px; right:0px; border-radius:6px 6px 6px 6px; display: inline-block; background: white;border:1px solid #cccccc; overflow: hidden;}
.pur_img1, .pur_img2, .pur_img3, .pur_img4{display: inline-block;width:67px; height:72px;margin: 60px 0px 0px 10px;}
.pur_img4{ background: url(../../images/fin_icon04.png) no-repeat 0px 0px;}
.pur_img3{ background: url(../../images/fin_icon05.png) no-repeat 0px 18px; }
.pur_img2{ background: url(../../images/fin_icon06.png) no-repeat 0px 18px; }
.pur_img1{ background: url(../../images/fin_icon07.png) no-repeat 0px 18px; }
.purchase_bg{ width:40%; height:100%; background: #ff6633; float:right;position: relative;}
.purchase_font{display: block; width:2.4rem; font-size: 2.4rem; line-height: 30px;position: absolute; left:50%; margin-left: -1.2rem; top:32px; color:white;}
.fp_foot_img1{background-position:-3px -1px;}
.fp_foot_img2{background-position:-50px -55px;}


/*w我的资产*/
.asstes{ width:100%;height:auto; background:#ff7b1e; text-align: center;}
.ass_total{font-size: 2.8rem; color:white; padding:30px 0px;}
.ass_money{ font-size: 2.4rem; color:white; margin-bottom:43px;}
.money_font{ font-size: 1.2rem; }