/*头部*/
.header{ width:100%; height:80px; line-height: 80px; background:white; text-align: center; position: relative;border-bottom: 2px solid #eae7e7;}
.header_arrow{ display:block; position:absolute; left:10px; top:50%; margin-top: -15px; width:34px; height:30px;  background: url(../../images/acc_arrow.png) no-repeat;}
.heade_ft{ font-size: 34px;}
.headerInfo{ position:absolute; right:0px; top:0px; bottom:0px;left:84%}
.InfoImg{ vertical-align:middle;}
/* tab */
.tab_wrap{ width:100%;background:white;display:box;display:-webkit-box; }
.tab_btn{ width:50%; box-sizing:border-box; font-size:26px; color:#333333; padding:12px 0px; text-align:center; line-height:normal;position: relative;}
.tab_active{  color:#63a2f1;}
.tab_active:before{content:""; position:absolute; left:0px; right:0px;top:100%; height:4px;  background:#63a2f1;}

.swiper-box{width:100%;overflow-x: hidden;}
.swiper-wrapper{width:200%;}
.swiper-slide{width:50%;float:left;position:relative;}
/*main*/
.main{ padding-top:20px; }
.manage_main{width:598px; height:204px;margin: 0 auto 20px; border: 1px solid #e1e3e5; background: rgba(255,255,255,1); border-radius: 3px;}
.manage_title{    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;height:55px; line-height: 55px; font-size: 24px; color:#666666; text-indent: 13px; border-bottom: 1px solid #e1e3e5;}
.manage_list{ width:200px; height:63px; text-align: center;margin-top:41px; display: inline-block; margin-left:-4px;}
.number_num{color:#ff6633; position: relative;top:-3px;    height: 28px;}
.num{ font-size: 44.46px;/*line-height: normal;*/ display: inline-block;}
.num_pt{ font-size: 38.49px; display: inline-block;}
.number_info{ font-size: 22px;line-height: normal; color:#999999; position: relative; top:12px;}
.list_two{ width:198px; border-left:1px solid #f0f0f0; border-right:1px solid #f0f0f0; }
.list_three{ margin-top: 0px;display: inline-block; float: right; position: relative;top:30px; right:30px;}
.list_two .number_num{color:#999999;}
.list_two .num{ font-size: 44px; }
.list_two .num_pt{font-size: 30px;}
.number_btn{ width:137px; height:76px; line-height: 76px; text-align: center; border-radius: 3px; font-size: 27px; color:#ffffff; background: #ff6633; }
.purchase_btn{ line-height: 22px; font-size: 22px; }
.today{padding-top:16px;}
.end_color .number_num{ color:#999999; }
.end_color .number_btn{ background: #cccccc; color: #ffffff;}
/*尾部*/
.placeholder{ width:100%; height:100px;}

body {
    background: #f3f5f7;
}

.new_btn {
    width: 144px;
    height: 95px;
    position: relative;
    background: url(../../images/home/new_btn.png) no-repeat center center;
}
.new_btn_ft {
    position: absolute;
    top: 15px;
    color: #ffffff;
    text-align: center;
    line-height: 24px;
    width: 100%;
}
.new_ft1 {
    font-size: 24px;
}
.new_ft2 {
    font-size: 18px;
}
.small_title {
    font-size: 18px;
    color: #a0a0a0;
    vertical-align: middle;
    display: inline-block;
}