/*首页*/
body{ position: absolute; width:100%; height:100%; background: #F3F5F7;}
.index_banner .swiper-pagination{ bottom:37px; }
.wrapper{ position: absolute; height:100%; }
.swiper-container {width: 100%;height: 238px;}
.swiper_info{ position: absolute; bottom:0px; /*line-height:28px;*/width:100%; background: #ffcc00; color:white;z-index: 2;}
.info_move{display: inline-block; overflow: hidden; width:88%; white-space: nowrap;}
.broadcast{ width:29px; height:29px; background: url(../../images/brow.png) no-repeat; display: inline-block;margin: 0px 20px;position: relative;top: 3px;}
.move_ul{ position: relative;display: inline-block; left:95%;}
.move_item{ font-size: 25px; line-height: 28px; white-space: nowrap;display: inline-block; margin:0px 0px 0px 10px;}
.heder{ height:194px;width:100%; background:white;}

.slide1{ background:url(../../images/banner1.jpg) no-repeat; }
.slide2{ background:url(../../images/banner2.jpg) no-repeat;}
.slide3{ background:url(../../images/banner3.jpg) no-repeat;}
.slide4{ background:url(../../images/banner178_4.jpg) no-repeat;}
.slide3_a{ width:100%; height:208px; display:block;}
.slide1,.slide2{width:100%; height:208px; background-size:cover;}
.platform{ width:100%; text-align: center; font-size: 2.6rem; padding-top:20px; margin-bottom:20px; height:2.6rem; line-height: 2.6rem;}
.platform_icon{ width:116px; height:52px;line-height: 52px; margin-bottom:8px;}
.platform_dl{ display: inline-block; text-align: center; margin: 0px 20px;}
.ft_default{font-size: 1.8rem;height:1.8rem; line-height: 1.8rem; font-weight: bold;  color:#999999;}
.platform_icon+.ft_default{ margin-bottom:5px; }
/*理财产品*/
.fp_header{ height:82px; background: #ff9933; text-align: center; position: relative;}
.fn_icon1,.fn_icon2,.fn_icon3{ display: inline-block; width:27px; height:36px;vertical-align: middle; margin: 0px 10px;}
.fn_icon1{ background: url(../../images/fin_icon01.png) no-repeat 0px 2px; }
.fn_icon2{ background: url(../../images/fin_icon02.png) no-repeat 0px 0px; }
.fn_icon3{ background: url(../../images/fin_icon03.png) no-repeat 0px 2px; }
.fp_cor{border-radius:6px; display: inline-block; color: white; font-size:26px; line-height: 26px; font-weight: 200; margin:23px;}
.mian{ position: absolute;  width:100%;}
.product{ margin:12px 14px; position: relative;}
.label{ position:absolute;width:30px; height:36px; background: url(../../images/footer.png) no-repeat -196px -2px; top:8px; left:-5px;}
.main_product{ height:185px;  width:72%; background:white; border:1px solid #cccccc; border-radius:6px 6px 0px 6px;}
.product_time{ font-size: 2rem; padding:18px 0px 0px 40px; color:#ff8f69;}
.pra_orange{ color:#ff9933; }
.pra_blue{ color:#63c8f4; }
.pra_gray{ color:#999999; }
.earnings_wrap{/*width:188px; text-align: center;*/ margin-top:23px;height:66px; line-height: 66px; display: inline-block; text-align: center;}
.earnings, .ear_font{display:block;}
.earnings{text-align: center;width:206px;font-size: 4.8rem; border-right:1px solid #f0f0f0;color:#ff6633;}
.ear_font{color:#a7a7a7; font-size: 1.8rem; line-height: 46px;}
.fate .earnings{border:0px;/* padding-left:48px;*/ color:#ff9933;}
.dotted{ position: absolute; height:185px;width:24px; background:url(../../images/fp_icon1.png) no-repeat; display: inline-block;top: 0px;right: 150px;z-index: 2}
.purchase{width:25%;height:185px; position: absolute;top:0px; right:0px; border-radius:6px 6px 6px 6px; display: inline-block; background: white;border:1px solid #cccccc; overflow: hidden;}
.pur_img1, .pur_img2, .pur_img3, .pur_img4{display: inline-block;width:67px; height:72px;margin: 60px 0px 0px 10px;}
.pur_img1{ background: url(../../images/fin_icon04.png) no-repeat 0px 0px;}
.pur_img2{ background: url(../../images/fin_icon05.png) no-repeat 0px 18px; }
.pur_img3{ background: url(../../images/fin_icon06.png) no-repeat 0px 18px; }
.pur_img4{ background: url(../../images/fin_icon07.png) no-repeat 0px 18px; }
.purchase_bg{ width:40%; height:100%; background: #ff6633; float:right;position: relative;}
.purchase_font{display: block; width:2.4rem; font-size: 2.4rem; line-height: 30px;position: absolute; left:50%; margin-left: -1.2rem; top:32px; color:white;}
.fp_foot_img1{background-position:-3px -1px;}
.fp_foot_img2{background-position:-50px -55px;}
.login_wap{width:100%; height:100px;background:white; position: fixed;left:0px; bottom:0px;z-index: 4; text-align: center; display: none;}
.login_fixed{ position:absolute;left:0px;right:0px; margin:auto;z-index:5;}
.lg_btn{ width:290px; height:80px; font-size: 36px; margin:10px 15px; border-radius: 6px;float: left;}
.zc_btn{ border:1px solid #ff6633; color:#ff6633; background: white;}
.dl_btn{ background:#ff6633; color:white; border:0px;}
.placehold{ height:97px; }

