body{ position: relative; }
.header{ width:100%; height:80px; line-height: 80px; background:white; text-align: center; position: relative;}
.header_arrow{ display:block; position:absolute; left:10px; top:50%; margin-top: -15px; width:34px; height:30px;  background: url(../../images/acc_arrow.png) no-repeat;}
.heade_ft{ font-size: 34px;}
.main{ margin-top:30px; margin-bottom:0px;}
.item{ width:100%; /*height:73px;*/ line-height: 73px; background: white; /* transform: rotateY(-1deg); */}
.item_top_border{border-top:1px solid #ececec;}
.item_small{ width:93%; margin:0 auto; font-size: 26px; border-bottom:1px solid #ececec;}
.item_bottom{ border:0px; }
.a_seteeing, .font_right{ /*float: right;*/width:100%;position: relative;}
.ft_setting{ padding-right: 10px; color:#5ca8fd;}
.rech_main{ margin:0px; }
.rech_win{ width:auto; }
.rech_tw_a{line-height: 73px;display: inline-block;width: 100%;color:#5ca8fd;}
input.rech_money{display:inline-block;vertical-align:middle; width:60%; font-size: 26px; border:0px; margin-left:20px;}
.rech_bank,.rech_tw_bank{ font-size: 22px; line-height: 22px; color:#666666; padding-left:22px; margin:23px 0px 6px;}
.btn_dialog{display:inline-block;    padding-left: 20px; color:blue;}
.rech_tw_bank{ margin:11px 0px 55px;}
.rech_phone{ margin-bottom: 56px; }
.Acc_arrow{ display: inline-block; width:17px; height:26px; background: url(../../images/right_arrow.png) no-repeat;position: absolute;top:26px;right:0px;}
.Exit_login{ display: block; width:90%; height:36px; line-height: 36px; padding:20px 0px; margin:0 auto; background:#ff6633; color:white; text-align: center; border-radius: 6px; font-size: 36px;}
.rech_th_main{ margin-bottom: 60px; }
.rech_yes{ text-align: center; font-size: 24px; line-height: 45px; color:#bbbbbb; padding-top:30px;padding-bottom:100px;}

/*新状态*/
.regu_color{ color:#bbbbbb; font-size: 22px; text-align:left;}
.regu_sp1{ padding-left: 0; }
.number{ padding-left: 12px; }
.reg_man{ margin-top:60px; }

.rech_ok{ color:#98c4fb; }
.rech_bg{background: #ff6633;}
.oran_color{ color:#ff6633; }
.bor_none{ border:0px; }

.ACC_null_title{ font-size: 30px; line-height: 30px; margin-top:52px;text-align: center;}
.dep_null_img{ width:100%; height: 421px; background: url(../../images/dep_null.png) no-repeat center center; margin-top:74px; }
.invite{ display: block; margin:72px 30px 0px;height:80px; line-height: 80px; color:white; background:#ff6633; border-radius:6px; font-size: 36px; text-align: center;}
.dep_service{margin:154px 0px 36px; bottom:40px; font-size: 24px; color:#999999; text-align: center; width:100%; line-height: 34px;}
.ser_color{ color:#5ca8fd; }

.select_warp{ position: fixed;width:100%; height:100%; top:0px; left:0px; background: rgba(0,0,0,.6);display:-webkit-box;display:-moz-box; display:flex;-webkit-box-pack:center; -moz-box-pack:center; -webkit-box-align:center; -moz-box-align:center; justify-content:center;align-items: center;}
.select{ position: relative;/*margin:-50% 50px;*/ height:auto; border-radius: 6px; background: white; /*top:50%;*/ padding:0px 20px;}
.select_title{ text-align: center; font-size: 34px; line-height: 34px;white-space: nowrap; padding:28px 148px;border-bottom:1px solid #b1b1b1;}
.select_off{ position: absolute;right:17px; top:17px; width:49px; height:49px; background: url(../../images/off.png)  no-repeat;}
.card{ line-height: 77px; font-size: 28px;position: relative;border-bottom:1px solid #ececec;}
.card_color{ color:#999999;display: block;}
.limt_casd{ color:#666666; }
.card_line{ line-height: 77px; }
.limit_money{ color:#adadad; font-size: 24px; line-height: 24px;display: block; padding-bottom: 12px;}
.Acc_arrow{ display: inline-block; width:17px; height:26px; background: url(../../images/right_arrow.png) no-repeat;position: absolute;top: 28px;right: 0px;}
.red_packet{color: #999;}


/*弹窗*/
.dialog_wrap{ position: fixed; left:0px; top:0px; width:100%; height:100%; background:rgba(0,0,0,.6);display: none;}
.deposit_dialog{ position: relative; /*top:50%; margin:-198px 50px 0px;*/ height:396px; background: white; border-radius: 6px; display: block;}
.deposit_info_title,.dep_cent{ text-align: center;font-size: 34px; line-height: 34px; line-height: 34px;}
.deposit_info_title{padding:48px 0px 35px; }
.dep_cent{color:#a1a1a1; line-height: 42px;font-weight: 200;padding: 0px 30px;}
.top_line{width:100%; text-align: center;line-height: 80px;font-size: 34px; color:white; background: #bbbbbb; border-radius:0px 0px 6px 6px;}
.down_ok{color:white;position: absolute;bottom: 0px; width:100%;}
.dep_img{ display: block; position:absolute; right:24px; top:24px; width:34px; height:34px; background: url(../../images/pass_dep.png) no-repeat; }
.yz_warp{ width:100%; border-top:1px solid #ececec;border-bottom:1px solid #ececec; margin:30px 0px;}
.yz_ft{ font-size: 24px; padding-left: 26px; color:#666666; }
input.pass_input{width:50%;display: inline-block; height:68px; border:0px; padding-left:20px; line-height: normal;font-size: 24px; }
.phone_time{ float:right;width:90px; height:50px;line-height: 50px; color:white; font-size: 20px; border-radius:6px; background: #ececec; text-align: center;margin: 10px 25px 0px 0px;}
.yz_info{ text-align: center; font-size: 30px;line-height:38px; color:#b8b8b8;}

.p1,.p2{ font-size: 28px; line-height: 34px; color:#999999; padding:0px 45px;padding-top:46px; display: inline-block;}
.p2{ padding-bottom:36px; }
.five_img{ width:100%; text-align: center; }
.five_invite{ margin-bottom:120px; }
.reg_diameny{left:100%;}
.reg_phone{ left:100%; }

.reg_beyond{left:100%;}
.reg_beyond .select{ padding:0px; }
.beyond_ft{ font-size: 30px; line-height: 40px; color:#999999; padding:20px 79px 56px; text-align: center;}
.reg_beyond .select_title{ border:0px; }
.off_beyong{background: url(../../images/pass_dep.png) no-repeat 10px;}
.beyong_btn{display: inline-block; border-radius: 0px 0px 6px 6px; width:100%;height:80px; line-height: 80px; background: #ff6633; color:white; text-align: center; font-size: 36px;}

.right_title {position: absolute;width: 54px;height: 45px;line-height: 23px;font-size: 20px;color: #ff6633;right: 30px;top: 10px;}
.money_info{ margin-top:17px; width:100%; height:25px; position: relative;}
.info_left,.info_right{position: absolute;  font-size: 22px;width: 56%;}
.info_left{left:0px; text-align: left;}
.info_right{right: 30px;text-align: right;}
.ft_gray{  color:#bbbbbb; margin-left: 10px;}
.ft_orange{ color:#ff6633; padding-left: 12px;}

.card_wp{background: white; border-top:1px solid #ececec;border-bottom:1px solid #ececec;}
.card_money{ position: relative;}
.card_ti{font-size: 26px;line-height: 26px;padding: 24px 0px 20px; text-indent: 30px; color:#5ca8fd;}
.card_limit{text-indent: 30px;  font-size: 20px; color:#999999; line-height: normal; }
.limit_left{float: left;width:130px;}
.limit_ul{ margin-left: 128px; text-indent: 0px;text-align: left;}
.limit_li{ margin-bottom: 10px; }
.select_active{ position: absolute;right:42px; width:24px; height:24px; border:2px solid #aca899; border-radius: 3px; }
.sect_one{ top:55px; }
.sect_two{ top:24px; }
.select_img{position: absolute; top:-2px;}
.balance{ position: relative; background: white; border-top:1px solid #ececec;}
.balance_number{ font-size: 26px; line-height: 26px; padding: 23px 0px; color:#333333; text-indent: 30px; display: inline-block; }
.off_color{ color:#333333; }
.three_sty .card_ti{ color:#333333; }
.three_sty .card_limit{ padding: 0px 30px 13px;text-indent: 0px; word-break: break-all;}
.three_sty .limit_left{ float: none; line-height: normal; font-size: 20px; color:#999999;}