@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}
body {
	margin: auto;
    max-width: 600px;
	padding: 0;
	font-family: "STHeiti,Arial", Microsoft YaHei;
	text-align: center; 
	background:#fff;
	min-width:320px;
}
div, ul, li, ol, h1, h2, h3, h4, h5, h6, p, input, dl, dt, dd, table, th, tr, td, span, form, bdo, em, select, i, kbd, textarea, pre, form, fieldset {
	margin: 0;
	padding: 0;
	list-style: none;
}
img {
	border: none;
}
.clear {
	clear: both;
}
i {
	font-style: normal;
}
a{
	text-decoration:none;
}
a:visited{
	text-decoration: none;
	color:#716e7f;
	border:none;
}
a:hover {
	text-decoration: none;
}
a:active{
	text-decoration: none;
	color:#666;
	border:none;
	text-decoration: none;
}
/*headerS*/
.header {
    background-color: #21292c;
    border-bottom: 1px solid #eceded;
    color: #606060;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    width: 100%;
    z-index: 99999;
    text-align:center;
}
.headerl{
	color: #606060;
    float: left;
    font-size: 16px;
    /*
    line-height: 40px;
    */
    margin-left: 10px;
    text-align: left;
    width:15%;
}
.headerl span img{
	display: inline-block;
    float: left;
    margin-top: 12px;
	margin-right:3px;
}
.headerm{
	color: #fff;
    float: left;
    font-size: 18px;
    margin: auto;
    /*overflow: hidden;*/
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:65%;
}

.headerr {
display: inline-block;
    float: right;
    font-size: 14px;
    line-height: 40px;
    margin-right: 7px;
    text-align: right;
    width:14%;
}
.headerr a{
    color: #222;
    display: inline;
    font-size: 15px;
    text-decoration: none;

}

.ask-help11 {
    border-bottom: 1px solid #f9f9f9;
    float: right;
    margin-bottom: 0;
    position: relative;
    width: 100%;
}
.headerr a:hover{
    color: #222;
    display: inline;
    font-size: 15px;
    text-decoration: none;

}
.headerl a{
    color: #fff;
    display: inline;
    font-size: 15px;
    text-decoration: none;
}
.headerr img{
	float: right;
    margin-top: 15px;
    width: 40%;
}
/*headerE*/


#toast{
  background-color: #000;
    position: absolute;
	width:200px;
	height:150px;
	text-align:center;
	font-size:14px;
	opacity: 0.7; 
	 color:#fff;
	 line-height:20px;
	 border-radius:5px;
	 z-index:99999999;

}
/*底部E*/
/* CSS Document */
.botNav {
   background: #FFF;
    border-top: 1px solid #e5e2d5;
    bottom: 0;
    height: 45px;
    margin: auto;
    max-width: 600px;
    padding: 2px 0 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.botNav li {
    color: #606060;
    float: left;
    font-size: 11px;
    line-height: 11px;
    width: 33%;
}

/* 二维码显示 */
.subscribe_mask {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999999;
}
.subscribe_mask .realmask {
    background: none repeat scroll 0 0 #000;
    display: block;
    height: 100%;
    opacity: 0.7;
    width: 100%;
}
.subscribe_mask .center {
    text-align: center;
}


.subscribe_mask .code {
    color: #fff;
    height: 100%;
    left: 0;
    padding-top: 10%;
    position: absolute;
    top: 10%;
    width: 100%;
}
.subscribe_mask .imgcode {
    height: 172px;
    width: 172px;
     margin: auto;
}
.subscribe_mask .intro {
    display: inline-block;
    padding-top: 5%;
    height: 30%;
}
.subscribe_mask .intro .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
}
.subscribe_mask .intro .detail {
    font-size: 13px;
    line-height: 24px;
}
.subscribe_mask .intro .highlight {
    color: #f66a65;
    font-weight: 700;
}
.subscribe_mask .imgclose {
    height: 32px;
    left: 45%;
    position: absolute;
    width: 32px;
}
.navi_mask {
    background: none repeat scroll 0 0 #000;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}
.navi_mask .sharecontent {
    position: fixed;
    right: 10px;
    top: 60px;
}
.navi_mask .sharecontent p {
    color: #fff;
    font-size: 30px;
    padding: 3px 0;
    text-align: center;
}
.navi_mask .arrow {
    position: fixed;
    right: 15px;
    top: 5px;
    width: 40px;
}
.navi_mask a {
    background-color: #fff;
    border-radius: 5px;
    color: #83898d;
    font-size: 28px;
    height: 30px;
    padding: 6px 65px;
    right: 0;
    width: 80px;
}
.navi_mask .imgclose {
    bottom: 15%;
    height: 40px;
    left: 44%;
    position: absolute;
    width: 40px;
}
.dian5 {
    background-color: #f00;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 9px;
    height: 13px;
    line-height: 15px;
    position: absolute;
    right: -6px;
    text-align: center;
    width: 13px;
}
.bot{
	background-color: #fe9900;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 18px;
    line-height: 39px;
    margin: 20px auto auto;
    width: 90%;
}

