@charset "utf-8";


.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.p-wrap {
    margin: 20px auto 10px;
    padding-bottom: 0px;
    position: relative;
    width: 70%;
}
.mod-news-block {

}
.mod-news-time, .mod-news-content {
    float: left;
}
.mod-news-time {
    height: 20px;
    position: relative;
    width: 28px;
}
.icon-dot-blue {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #fa5c5b;
    border-radius: 100px;
    color: red;
    display: block;
    font-size: 14px;
    height: 20px;
    left: 18px;
    position: absolute;
    top: 0;
    width: 20px;
    z-index: 999999;
}
.news-title {
    padding-bottom: 10px;
    word-break: break-all;
    word-wrap: break-word;
}
.news-title span {
    color: #858585;
    display: block;
    font: 400 16px/22px "microsoft yahei";
    margin-left: 20px;
}
.mod-news-content {
    border-bottom: 0 solid #dcdcdc;
    border-left: 1px dashed #fa5c5b;
    height: 50px;
    position: relative;
    text-align: left;
    width: 85%;
}
.news-con .info {
    word-break: break-all;
    word-wrap: break-word;
}
.news-con .info {
    color: #757575;
    font: 14px/24px "yahei";
    padding-bottom: 20px;
    word-break: break-all;
    word-wrap: break-word;
}
.button_return {
    background-color: #fa5c5b;
    border: 0 solid #fff;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    line-height: 25px;
    margin: auto auto 10px;
    padding: 10px;
    width:80%;
}
.news-con1 .info {
    color: #757575;
    font: 16px/24px "yahei";
    padding-bottom: 20px;
    word-break: break-all;
    word-wrap: break-word;
}

.hint_txt {
    color: #666;
    font-size: 14px;
    line-height: 25px;
    margin: 20px auto 30px;
    text-align: left;
    width: 80%;
}



.hint_txt2 {
    color: #545454;
    float: left;
    font-size: 14px;
    line-height: 25px;
    margin: 10px auto;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.hint_txt3 {
    background: #f15352;
    color: #fff;
    float: left;
	line-height: 26px;
    font-size: 16px;
    margin: 0 auto 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}


.hint_txt22 {
    color: #545454;
    float: left;
    font-size: 14px;
    margin:0px auto;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.hint_img {
    color: #3fb838;
    margin: 50px 0 0px;
}

.hint_txt25 {
    color: #ff8384;
    float: left;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}