@charset "UTF-8";
/**
 * 叮叮打工
 * @authors yanwl
 * @date    2015-11-09
 * @for *.html
 * @version $1.0$
 */
html{ background-color: #fff; color:#333; min-width: 320px;-webkit-tap-highlight-color: transparent;-webkit-touch-callout: none;-webkit-user-select: none;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,
button,input,select,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:14px/1.4 "Microsoft YaHei", arial; -webkit-text-size-adjust: none;}
address,cite,em,var,i{font-style:normal;}
ul,ol{list-style:none;}
img{border:0;}
input,textarea,button,select{font-size:100%; outline:none; resize:none; border-radius: 0; -webkit-appearance: none;}
input[type=number]::-webkit-inner-spin-button{display:none}

table{border-collapse:collapse; border-spacing:0;}

h1,h2,h3,h4,h5{font-weight: 400; font-size: 100%;}

a, a:visited{text-decoration:none;}

.cle:after{visibility:hidden; display:block; font-size:0; content:'\20'; clear:both; height:0;}

::selection {background:#00B7E4; color:#fff;}
::-webkit-input-placeholder { color: #fff; }
::-moz-placeholder { color: #fff; }
:-moz-placeholder { color: #fff; }
:-ms-input-placeholder { color: #fff; }

.red{color: #f70;}
.green{color: #05c481;}
.blue{color: #09f;}
.display_none{display:none;}
.clear { clear: both; height: 0; font-size: 0; line-height: 0; overflow: hidden; }
.cle:after, .clearfix:after, .clear_f:after, .cle_float:after { visibility: hidden; display: block; font-size: 0; content: '\20'; clear: both; height: 0; }
.cle, .clearfix, .clear_f, .cle_float { *zoom: 1 }
.fcle:before, .fcle:after { display: table; content: ""; line-height: 0; }
.fcle:after { clear: both; }
.fl { float: left; }
.fr { float: right; }
.float_right { float: right }
.float_left { float: left }
.clearfix { clear: both; }
/* *{tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: rgba(0,0,0,0);-ms-tap-highlight-color: rgba(0,0,0,0);}*/
/*字体图标*/
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1437713747_9638858.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1437713747_9638858.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1437713747_9638858.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1437713747_9638858.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1437713747_9638858.svg#iconfont') format('svg'); /* iOS 4.1- */
}
    
.iconfont{font-family:"iconfont"; font-size:100%; font-style: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0;}

.load{background:url(/tbswap/images/loading_nala.gif?2014) center center no-repeat;}

/* table布局 */
.table { display: table; }
.row { display: table-row; }
.cell { display: table-cell; }
/* 伸缩容器布局 */
.flexbox { 
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: box;
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between; 
}
.flexeq {
    -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1; /* OLD - Firefox 19- */
    box-flex:1;

    -ms-flex: 1; /* IE 10 */
    -webkit-flex: 1; 
    flex: 1; 
}
.flexsm { 
    -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1; /* OLD - Firefox 19- */
    box-flex: 1;
    -ms-flex: 1; /* IE 10 */
    -webkit-flex: 1; 
    flex: 1; 
}
.flexbg { 
    -webkit-box-flex: 1.3; /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1.3; /* OLD - Firefox 19- */
    box-flex: 1.3;
    -ms-flex: 1.3; /* IE 10 */
    -webkit-flex: 1.3; 
    flex: 1.3; 
}
/*按钮*/
.btn,.btn:visited,
.graybtn,.graybtn:visited{display: inline-block; padding: 5px 12px 4px; height: 16px; line-height: 16px; -webkit-border-radius: 4px; border-radius: 4px; font-size: 100%; color: #fff; background-color:#f70; vertical-align: middle;-webkit-tap-highlight-color: rgba(0,0,0,0);}
.btn img{vertical-align: -2px;}
.btn:active{background-color:#f50;}

.btn-off,.btn-off:visited{color: #aaa; background: #ddd; border-color: #ccc; text-shadow: none; box-shadow: none; cursor: default;}
.btn-off:active{background-color:#ddd;}

.graybtn{background-color:#9ca4af;}
.graybtn:active{background-color:#888;}

.bgblur {
    background-color: #3EABEE!important;
}
.bgblur:active {
    background-color: #0571B7!important;
}


/*信息弹窗*/
#dg-tip{position: fixed; z-index: 9999; top: 40%; left: 10%; width: 80%; padding: 15px 0; text-align: center; color: #fff; display: none; background:rgba(0, 0, 0, 0.8); box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); line-height: 22px;}

/*confirm 弹窗*/
#dg-confirm{position: fixed; z-index: 9998; top: 0; left: 0; width: 100%; height: 100%; background:rgba(0, 0, 0, 0.2); display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-pack: center; }
#dg-confirm .dg_body{width: 260px; padding: 1px; margin:-60px auto 0; overflow: hidden; background:#fff; text-align: center; -webkit-border-radius: 2px; border-radius: 2px; box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);}
#dg-confirm .dg_body .dg_box{padding: 25px 15px 30px;}
#dg-confirm .dg_body .dg_box .iconfont{font-size: 26px; vertical-align: middle; margin-right: 10px;}
#dg-confirm .dg_body .btm{display: -webkit-box;}
#dg-confirm .dg_body .btm a{padding: 10px 0 8px; -webkit-border-radius: 0; border-radius: 0; -webkit-box-flex:1; display: block;}
#dg-confirm .dg_body .btm a.graybtn{border-right: 1px solid #fff;}

#dg-confirm.pop_in .dg_body{ -webkit-animation: pop_in .5s;}
#dg-confirm.pop_out .dg_body{ -webkit-animation: pop_out .3s;opacity:0}
@-webkit-keyframes pop_in {
    0%{-webkit-transform:scale(0.6);opacity:0}
    50%{-webkit-transform:scale(1.05);opacity:1}
    100%{-webkit-transform:scale(1);opacity:1}
}
@-webkit-keyframes pop_out {
    0%{-webkit-transform:scale(1);opacity:1}
    50%{-webkit-transform:scale(1.05);opacity:1}
    100%{-webkit-transform:scale(0.6);opacity:0}
}

/*loading弹窗*/
#dg-loading{position: fixed; z-index: 9999; top: 0; left: 0; width: 100%; height: 100%; background:rgba(0, 0, 0, 0.2); display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-pack: center; }
#dg-loading .bd{width: 100px; height: 95px; margin:-60px auto 0; overflow: hidden; background:rgba(0, 0, 0, 0.8);  color: #f70; -webkit-border-radius: 10px; border-radius: 10px; text-align: center;}
#dg-loading .bd p{width: 50px; height: 50px; line-height: 50px; margin: 10px auto 0; -webkit-animation: loading 1.3s linear infinite; }
#dg-loading .bd i{font-size: 50px;}
#dg-loading .bd h4{padding-top: 5px;}
@-webkit-keyframes loading {
    100% {-webkit-transform:rotate(-360deg);}
}

/* 中间内容部分 */
.ctmain { min-width: 300px; max-width: 640px; margin: 0 auto; }
img{  vertical-align: bottom;}