body{background-color: #eee;padding:0 10px;height:100%;}
::-webkit-input-placeholder { color: #a6a6a6; }
::-moz-placeholder { color: #a6a6a6; }
:-moz-placeholder { color: #a6a6a6; }
:-ms-input-placeholder { color: #a6a6a6; }
.provider{line-height: 35px;color: #6a6a6a;}
.btn_sub,input{font-size: 16px;border:none;display:block;border-radius:5px;background:#fff;height:44px;margin-bottom:10px;  -webkit-appearance: textfield;  padding-left: 10px;width:100%;  box-sizing: border-box;}
.valid{  position:relative;box-sizing: border-box;padding-right: 110px;}
.v_btn{width:100px;display:block;border-radius:5px;background:#dbdbdb;height:44px;text-align:center;line-height:44px;color:#fff;position:absolute;right:0;top:0;font-size:16px;}
.agree_line{margin:20px 0 10px;color:#6a6a6a;font-size: 16px;}
.agreecheck{  background: url(../mtbsimages/uncheck.png) center center no-repeat;background-size: 100%;display: inline-block;width: 18px;height: 18px;margin-right: 10px;  vertical-align: middle;  margin-top: -2px;}
.agreecheck.agree{background-image:url(../mtbsimages/checked.png);}
.agree_line .agree_con{color: #e31a3a;}
.btn_sub{text-align:center;line-height:44px;color:#fff;background:#dbdbdb;font-size:18px;}
.v_btn.send,.sub_ok{background: #3ED674;}
#code_img{width:100px;height:44px;position: absolute;right: 0;top: 0;}
@media ( max-width: 640px ) and ( orientation:landscape ) {
	body{padding:0 15px;}
	.btn_sub,input{margin-bottom:15px;padding-left: 15px;}
	.agree_line{margin:30px 0 15px;}
}
@media ( min-width: 600px ) {
	body{padding:0 8px;}
	.btn_sub,input{margin-bottom:8px;padding-left: 8px;}
	.agree_line{margin:16px 0 8px;}
}
@media ( max-width: 320px ) {
	body{padding:0 8px;}
	.btn_sub,input{margin-bottom:8px;padding-left: 8px;}
	.agree_line{margin:16px 0 8px;}
}