body {
	position: relative;
	background: #f3f5f7;
}

.header {
	width: 100%;
	padding: 4% 0px; background : white;
	text-align: center;
	position: relative;
	background: white;
}

.header_arrow {
	width: 5%;
	height: 50%;
	display: block;
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -10px;
	background: url(../../images/acc_arrow.png) no-repeat;
	background-size:cover;
}

.heade_ft {
	font-size: 2.125em;
}

.ifram_warp {
	width: 300px;
	height: 260px;
	margin: 0 auto;
	padding-top: 20px;
}

.i_recofo {
	font-size: 24px;
	line-height: 24px;
	color: #999999;
	text-align: center;
	padding-top: 42px;
}

.i_reco_btn {
	display: block;
	margin: 60px 30px;
	color: white;
	border-radius: 6px;
	height: 80px;
	line-height: 80px;
	font-size: 36px;
	background: #ff6633;
	text-align: center;
}

.oran_color {
	color: #ff6633;
}

.address_img {
	height: 292px;
	margin: 46px 30px 88px;
	background: url(../../images/address.jpg) no-repeat center center;
}

.address_info {
	width: 100%;
	text-align: center;
	color: #666666;
	font-size: 1.625em;
	margin-top: 30px;
	line-height: 38px;
}

.ti1_color {
	color: #5ca8fd;
}