body{ /* background: #ffd900; */ background:#e73626;}
.header{ width:100%; height:80px; line-height: 80px; background:white; text-align: center; position: relative;}
.header_arrow{ display:block; position:absolute; left:10px; top:50%; margin-top: -15px; width:34px; height:30px;  background: url(../../images/acc_arrow.png) no-repeat;}
.heade_ft{ font-size: 34px;}
.recom_bg{ width:100%; height:432px; background:#ff5244 url(../../images/recom_bg.jpg) no-repeat center center;/* position: relative;top: -35px;z-index: -1; */}
.recom_bl{ height:10px; width:100%; background:url(../../images/recom_bl.jpg) repeat-x;position: relative;top: -8px;}
.recom_wrap01, .recom_wrap02{margin:20px 40px 7px; height:auto; background: #fbf4d7; border-radius:6px; padding:19px;/* position: relative;top: -94px; */}
/*.recom_wrap02{ height:262px; }*/
.dotted{height:auto; border:1px dotted white; border-radius:6px; padding:0px 22px; }
.dotted_wp{ text-align:center;}
.recom_fp{opacity: 0;}
/*.recom_wrap02 .dotted{ height:200px; }*/
.recom_title{display: inline-block;padding:18px 45px; border-radius:6px; box-shadow:6px 6px 2px 3px #906e56;line-height:54px; background:#f9c701; margin:0 auto; text-align: center; font-size: 34px; color:#754c36;}
.title_sp{ color:#754c36; }
.main_info{ font-size: 28px; line-height: 43px; padding:17px 0px;color:#754c36;}
.ft_red{color:#e73626;}
.share{ margin:14px 40px;height:124px;/* position: relative;top: -94px; */}
.share_ul{display:-webkit-box;display: -moz-box;display: box;-webkit-box-pack:justify;-moz-box-pack:justify;box-pack:justify;}
.share_icon{  -moz-box-flex:1;-webkit-box-flex:1;box-flex:1;text-align: center;}
.recom_btn{margin:0px 40px; height:80px; line-height: 80px; background: #fbf4d7; text-align: center; /* position: relative; top:-94px; */ font-size: 36px; color:#754c36; border-radius: 6px; margin-bottom:16px;}
.recom_wrap02{ display: none;}
.warp02_title{ font-size: 28px;  line-height: 28px; padding-top:29px; color:#754c36;}
.recom_item{ font-size: 28px; padding:0px 0px 0px 45px;font-weight: 200; line-height: 41px;}
.reco_list{ float: left;margin-left: -45px;}
.oran_color{ color:#ff6633; }


/*遮罩*/
.shae_dialgo{ width:100%; height:100%; position: fixed; left:0px; top:0px; background: rgba(0,0,0,.6); display: none;}
.arrow{width:428px; height:322px; position: absolute; right:18px;top:0px; background: url(../../images/dialog_arrow.png) no-repeat; }
.shar_off{ width:49px; height:49px;position: absolute; bottom:100px; left:50%; margin:0px 0px 0px -24px; background: url(../../images/dialog_off.png) no-repeat;}
/* .two_dimension{ width:594px; height:566px;  position: absolute; left:50%; top:50%; margin:-347px 0px 0px -297px;} */
.two_wrap{}
.two_die_img{position: relative;top: 50%;left: 50%;margin:122px 0px 0px -200px;}
.two_p{top:50%; font-size:38px;line-height:38px; color:white;text-align: center;    padding: 16px 0px;padding: 16px 0px;}
.p1{ font-size:42px;padding-top: 50px;}
.p2{ font-size:32px;}
.p3{ font-size:32px;}
.firends{ width:355px; height:232px; position: absolute;right:17px; background: url(../../images/share_firends.png) no-repeat;}
/*.share_three{ display: block }*/

/* 弹窗 */
.mal {
	width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
}

.dialog {
    padding: 36px 73px 80px;
    /* width: 238px; */
    line-height: 28px;
    color: white;
    font-size: 20px;
    position: absolute;
    background: rgba(255, 255, 255, 1);
    top: 50%;
    /* left: 50%; */
    margin: -89px 0px 0px -160px;
    text-align: center;
    border-radius: 10px;
    display: block;
    color: black;
    margin: -100px 80px 0px;
    height: 152px;
}
.dialog_title{
    font-size: 40px;
    line-height: 40px;
}

.settign_ft {
	padding-top: 28px;
    color: #999999;
    font-size: 24px;
    /* width: 276px; */
}

.yesor_no {
    width: 100%;
    line-height: 33px;
    border-top: 1px solid #ececec;
    position: absolute;
    left: 0px;
    /* margin-top: 49px; */
    bottom: 9px;
    height: 64px;
}

.yes,.no {
	display: inline-block;
    width: 48.9%;
    padding: 20px 0px;
    /* line-height: 17px; */
}

.no {
	border-right: 1px solid #ececec;
}