body{ position: relative; height:auto; padding-bottom:30px;}
.header{ width:100%; height:80px; line-height: 80px; background:white; text-align: center; position: relative;}
.header_arrow{ display:block; position:absolute; left:10px; top:50%; margin-top: -15px; width:34px; height:30px;  background: url(../../images/acc_arrow.png) no-repeat;}
.heade_ft{ font-size: 34px;}
.about_warp{ height:auto; margin:0px 30px 30px;background: #ffffff; border-radius: 6px; margin-top:30px;}
.safe_border{ border:1px solid #cccccc; }
.about_title{ width:100%; height:80px; line-height: 80px; background:white; border-radius: 6px; position: relative;z-index:2; border-bottom:1px solid #ff6633;}
.tit_img{width:40px; height:40px;display: inline-block; vertical-align:middle;position: absolute;top: 20px;left: 12px;}
.title_img1{ background: url(../../images/safe-01.png) no-repeat center center; }
.title_img2{ background: url(../../images/safe-02.png) no-repeat center center; }
.title_img3{ background: url(../../images/safe-03.png) no-repeat center center; }
.tit_sp{ font-size: 28px; color:#ff6633; padding-left:58px;}
.arrow_down,.arrow_top{display: inline-block;width:26px; height:12px; position: absolute; right: 23px;top: 31px;}
.arrow_top{ background: url(../../images/arrow_top.png) no-repeat center center;transition:all 0.5s;}
.introduce{margin:20px; font-size: 24px;line-height: 31px;font-weight: 200; color:#b4b4b4; padding-bottom: 20px; display: none;}
.introduce_p{font-size: 24px; -webkit-transform: translate3d(0px,-200px, 0px);
-ms-transform: translate3d(0px,-200px, 0px);
-o-transform: translate3d(0px,-200px, 0px);
transform: translate3d(0px,-200px, 0px);transition:all 0.5s;z-index:-1; opacity:0;}
.int_disp{ display: block; }
.text_in{ text-indent: 2em; color:#666666;}
.touch_down .arrow_top{ background: url(../../images/arrow_down.png) no-repeat center center; -webkit-transform: rotate3d(0,0,1,360deg);
-ms-transform: rotate3d(0,0,1,180deg);
-o-transform: rotate3d(0,0,1,180deg);
transform: rotate3d(0,0,1,180deg);}
/*.touch_down .about_title{ background:#ff6633;}*/
/*.touch_down .tit_sp{ color:white; }*/
.touch_down .introduce_p{-webkit-transform: translate3d(0px,0px,0px);
-ms-transform: translate3d(0px,0px,0px);
-o-transform: translate3d(0px,0px,0px);
transform: translate3d(0px,0px,0px); opacity:1;}




.oran_color{ color:#ff6633; }