body {
	background: #ffffff;
	width:100%;
	margin: 0 auto;
	font-family: "微软雅黑";
}
/*头部*/
.header {
	width: 100%;
	height: 80px;
	left: 0px;
	line-height: 80px;
	background: white;
	text-align: center;
	position: relative;
	top: 0px;
	z-index: 10;
}
.header_arrow{
	display:block;
	position:absolute;
	left:0;top:50%;
	margin-top:-40px;
	width:80px;height:80px;
	background:url(../../images/back_arrow.png) no-repeat 25px center;
}
.heade_ft {
	font-size: 34px;
}
.color_bg {
	color: #333;
}
.header_height{
	width:100%;
	height:80px;
	margin:0 auto;
}
/*banner*/
.banner{
	width:100%;
	margin:0 auto;
	text-align:center;
}
.banner_img{
	display:block;
	width:100%;
}
/*main*/
.main{
	width:100%;
	margin:0 auto;
	line-height:normal;
	padding-bottom:80px;
}
.safe_title{
	width:100%;
	margin:0 auto;
	font-size:50px;
	color:#fd9800;
	text-align:center;
	padding:30px 0;
	background:url(../../images/safe/safe_title.png) no-repeat center;
}
.copy{
	background:url(../../images/safe/safe6.png) no-repeat center;
	margin:80px auto 0;
}
/*safe_platform_strength*/
.safe_platform_strength{
	width:100%;
	margin:0 auto;
}
.safe_ps_box{
	width:90%;
	margin:0 auto 30px;
	position:relative;
	text-align:center;
	-webkit-box-shadow: #ccc 0px 5px 20px;
	-moz-box-shadow: #ccc 0px 5px 20px;
	box-shadow: #ccc 0px 5px 20px;
}
.safe_ps_bg{
	width:100%;
	background:#f4f4f4;
	height:202px;
	overflow:hidden;
}
.safe_ps_padding1{
	padding-top:46px;
	height:156px;
}
.safe_ps_padding2{
	padding-top:76px;
	height:126px;
}
.safe_ps_txt{
	width:95%;
	font-size:25px;
	padding:24px 0 24px 5%;
	color:#fd9800;
	text-align:left;
}
.safe_ps_color{
	color:#3a3a3a;
}
/*safe_wind_control*/
.safe_wind_control{
	width:100%;
	margin:0 auto;
}
.safe_wc_title{
	width:100%;
	margin:0 auto;
	text-align:center;
	font-size:32px;
	color:#fd9800;
	padding-bottom:20px;
}
.safe_wc_padding{
	padding-top:60px;
}
.safe_wc_box{
	position: relative;
	margin:30px auto 0;
	width:405px;
	height:422px;
	background: url(../../images/safe/safe2.png) no-repeat center center;
}
.safe_wc_img1{
	position: absolute;
	left: -26px;
	top: -27px;
	width: 113%;
	animation: sec_rotate 4s infinite;
	-webkit-animation: sec_rotate 4s infinite;
}
@keyframes sec_rotate{

	to{
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg);

	}
}
@-webkit-keyframes sec_rotate{
	to{
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg);

	}
}
.safe_wc_content1{
	width:60%;
	margin:0 auto;
}
.safe_wc_content2{
	width:83%;
	margin:0 auto;
}
.safe_wc_img2{
	display:block;
	width:100%;
}
.safe_wc_txt{
	width:100%;
	text-align:center;
	font-size:26px;
	color:#3a3a3a;
}
.safe_wc_color{
	color:#fd9800;
}
.safe_wc_content3{
	width: 385px;
	height:384px;
	margin: 50px auto 0;
	background: url(../../images/safe/safe5.png) no-repeat center;
	position: relative;
}
.safe_wc_center{
	width:198px;
	height:198px;
	line-height: normal;
	margin:0px auto;
	position: relative;
	top:93px;
	border-radius: 99px;
	background: #82b9ff;
	font-size: 26px;
	color:#fff;
	text-align:center;z-index:10;
	display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
	display:none;}
.safe_wc_center_show{
	display: -webkit-box;
}

.sotate_li{
	position: absolute;
	color:#ffffff;
	opacity:1;}
.sotate_li .rel_number{
	display:inline-block;
	width:22px;
	height:22px;
	line-height: 20px;
	border-radius:13px;
	border:2px solid #c7e0fe;
	background:#74b2ff;
	text-align: center;
	font-size: 20px;color:#fff;}
.sotate_li .rel_number_copy{
	display:inline-block;
	width:22px;
	height:22px;
	line-height: 20px;
	border-radius:13px;
	border:2px solid #c7e0fe;
	background:#74b2ff;
	text-align: center;
	font-size: 20px;color:#fff;
	animation: scal 2s  infinite alternate;
	-webkit-animation: scal 2s ease-in-out infinite alternate;}
.ft{width:160px; color:#666666;position: absolute; font-size: 22px;text-align: center; line-height: normal;}
.ft_copy{color:#f63;}
.te1{top:0px;left:178px;}
.te2{top:34px;left:74px;}
.te3{top:124px;left:10px;}
.te4{top:233px;left:10px;}
.te5{top:320px;left:74px;}
.te6{top:354px;left:180px;}
.te7{top:324px;left:280px;}
.te8{top:233px;left:347px;}
.te9{top:123px;left:347px;}
.te10{top:31px;left:285px;}
.te1_ft{ top:-40px; left:-60px; }
.te2_ft{ top:-40px; right:0px; }
.te3_ft{ top:-40px; right:0px; }
.te4_ft{ top:27px; right:0px; }
.te5_ft{ top:26px; right:0px; }
.te6_ft{ top:40px; left:-60px; }
.te7_ft{ top:33px; left:0px; }
.te8_ft{ top:33px; left:-10px; }
.te9_ft{ top:-30px; left:-7px; }
.te10_ft{ top:-35px; left:0px;}
@keyframes scal{
	to{
		transform: scale3d(1.5,1.5,1.5);
		-webkit-transform: scale3d(1.5,1.5,1.5);
		background: #fd9800;
	}
}
@-webkit-keyframes scal{
	to{
		transform: scale3d(1.5,1.5,1.5);
		-webkit-transform: scale3d(1.5,1.5,1.5);
		background: #fd9800;
	}
}
.safety_guarantee{
	width:100%;
	margin:0 auto;
	line-height:normal;
}
.safe_sq_padding{
	padding-top:18px;
}
.safe_sq_icon{
	width:81px;
	height:81px;
	margin:0 auto;
	background:url(../../images/safe/safe7.png) no-repeat center;
}
.safe_sq1{background-position:-112px -112px;}
.safe_sq2{background-position:-213px -11px;}
.safe_sq3{background-position:-213px -112px;}
.safe_sq4{background-position:-11px -11px;}
.safe_sq5{background-position:-112px -11px;}
.safe_sq6{background-position:-11px -112px;}
.safe_sq_title{
	width:100%;
	font-size:24px;
	color:#fd9800;
	text-align:center;
	padding:10px 0;
}
.safe_sq_txt{
	width:88%;
	font-size:22px;
	color:#3a3a3a;
	text-align:left;
	margin:0 auto;
	padding:10px 0 28px;
}
/*safe_lawful_operation*/
.safe_lawful_operation{
	width:100%;
	margin:0 auto;
}
.safe_lo_top{
	width:88%;
	font-size:22px;
	color:3a3a3a;
	padding:20px 6%;
	text-align:left;
	height:auto;
}







