#Html("begin")
#Head("begin")
#Title("币港湾理财官网_安心可靠互联网金融投资理财平台_品听资产_杭商资产_浙大网新_P2P网贷")
#Head("end")

<body style="background-color:#fff;">
<!-- website wrapper starts -->
<div style="min-height: 57px;" class="websiteWrapper">
  #Header("基金产品","","","micro/index")
  #LoadCSS("resources/micro/styles/popularize")
  <!-- header wrapper ends --> 
</div>
<div class="newrow">
  <div style="background:#e2f5f6">
	<div style="background:#4d99cb">
    <ul class="newtitle3" id="pagenavi1"  style="background:#4d99cb">
      <li style="background:none"><span><a class="curnewbtn"  href="#" style="text-decoration: none;">股+债（涌金）基金</a></span></li>
      <li style="background:none"><span><a class="curnewbtn-normal" href="#" class="" style="text-decoration: none;">固定收益（东浦）基金</a></span></li>
    </ul>
  </div>
  <div style="overflow: hidden; visibility: visible; list-style: outside none none; position: relative;" class="newbox" id="slider1"> 
    <!--banner切换s--> 
    
    <!--banner切换e-->
    
    <ul class="bigbox">
      <li class="li_list3">
	
         <div class="banner2-content">
    
    <img src="$!env.getWebURL('')/resources/micro/images/jjcp_yj_banner.png" style="margin: auto;width:90%;">
</div>
<div class="utterance-content">
    <div class="utterance-title">
        <div>产品优势 </div>
    </div>
    <div class="utterance-info">
    <div class="cp4">
    <div class="wz14"><span style="background:url($!env.getWebURL('')/resources/micro/images/index_icon.png) no-repeat scroll -960px -203px ;margin-left:30px;"></span>
     <span style=" background:url($!env.getWebURL('')/resources/micro/images/index_icon.png) no-repeat scroll -863px -203px; margin-left:50px;"></span>
     </div>
     <div class="wz15">
    
    <span><b>管理人实力雄厚</b><br />国有金融背景+<br />上市公司高校科技产业资源</span>
   
     
    <span style="margin-left:25px;">
		<b>资金安全无风险</b><br />
    工商银行托管+
    <br />
    多层次风控措施</span>
    </div>
    <div class="wz14"><span style="background:url($!env.getWebURL('')/resources/micro/images/index_icon.png) no-repeat scroll -1059px -301px ;margin-left:30px;margin-top:20px;"></span>
     <span style=" background:url($!env.getWebURL('')/resources/micro/images/index_icon.png) no-repeat scroll -1059px -203px; margin-left:50px;margin-top:20px;"></span>
     </div>
    <div class="wz15">
     <span style=" margin-left:25px;"><b>管理专业</b><br />资深团队运作+<br />投资决策严谨</span>
      <span style=" margin-left:60px;"><b>设计创新</b><br />股票和债权间调<br />仓，获取最佳收益</span></div>
      <div class="wz14"><span style="background:url($!env.getWebURL('')/resources/micro/images/index_icon.png) no-repeat scroll -863px -301px ;margin-left:30px;margin-top:20px;"></span>
     </div>
    <div class="wz15">
    <span style=" margin-left:30px;"><b>收益丰厚</b><br />回报上限<br />可达20%以上</span>
    </div>
    </div>
    
    
    </div>
</div>
<div class="data-content">
    <div class="data-title">
        <div>投资策略 </div>
    </div>
    <div class="cp5">
   
 <div class="wz16"><span style="margin-left:65px;margin-top:20px;"></span>
     </div>
   
    <div class="wz17">
    <span>股+债组合投资</span>
    <p>多元化投资策略
<br>
顺势而为，有效把握多元化机会</p>
    </div>
    
     <div class="wz16"><span style="margin-left:65px;margin-top:20px;background-position: -252px -126px;"></span>
    </div>
   
    <div class="wz17">
    <span> 投资主题</span>
    <p>专注优质债权略
<br>
以优质债权作为基本配置，<br>保障基础收益
<br>股票：价+势
<br>在价值投资基础上守正出奇</p>
    </div>
    
     <div class="wz16"><span style="margin-left:65px;margin-top:20px;background-position: -252px -251px;"></span>
    </div>
 
    <div class="wz17">
    <span>灵活调仓</span>
    <p>结构调仓
<br>
股债比例实时调整
<br>股票跟踪
<br>实时调仓，机会抓
<br>取，风险的预防和应变</p>
    </div>    
        
        
  </div>

</div>

<div class="advantage-content">
    <div class="advantage-title">
        <div>风控策略 </div>
    </div>
   <div class="banner2-content2">
    
    <img src="$!env.getWebURL('')/resources/micro/images/bg6.jpg">
</div>
</div>
<div class="th2">
  <div class="inner">
    <div class="th2_content">
      <dl>
        <!--
        <dt class="pic_detail"></dt>
        -->
      
        <dd class="detail">
          <p class="title">认购指南</p>
          <p class="t2"><span class="big_icon"></span>杭商资产，专业财富管理</p>
          <p class="w330">请认购上述资产管理计划产品的客户提供下述资料，并联系我们获取募集账号和开户行信息，将认购资金划至募集账户。
            自然人委托人须提供的资料：<br>
            1、自然人委托人证件主要为身份证，请将身份证正反面复印在一张纸上，并签字。<br>
            2、受益账户银行卡或存折复印件（注：本产品认购账户与受益账户须一致）<br>
            3、认购资金的付款凭证或银行回单复印件<br>
            机构委托人须提供的资料：<br>
            营业执照复印件、组织机构代码证复印件、法定代表人身份证明复印件、同意认购本产品的决议，以上材料均须加盖公章。</p>
          <a class="quick_btn" href="$env.getWebURL('')/resources/micro/images/杭商涌金基金20150209.pdf">下载PDF产品说明书</a>
         
        
           </dd>
      </dl>
    </div>
  </div>
</div>
		
		<!--表格新布局s
		 <table class="t1" width="300" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="txt_jjcp"><b>资产管理计划名称</b></td>
          </tr>
		  <tr>
		    <td style="color:#716e7f; background-color:#fff" align="left" >杭商资产·股+债混合型多策略高收益（涌金）资产管理计划</td>
		  </tr>
          <tr>
            <td class="txt_jjcp"><b>投资标的</b></td>
          </tr>
		  <tr>
		    <td class="t2" align="left" style="background-color:#fff">股票、个人小微债权资产包、公司债权等</td>
		  </tr>
          <tr>
            <td class="txt_jjcp"><b>资产管理人</b></td>
          </tr>
		  <tr>
		    <td class="t2" align="left" style="background-color:#fcfaf9">杭商资产管理（杭州）有限公司</td>
		  </tr>
          <tr>
            <td class="txt_jjcp"><b>预期收益率</b></td>
          </tr>
		  <tr>
		    <td class="t2" align="left" style="background-color:#fff">6%-26%【核心收益率为（18%-22%）】</td>
		  </tr>
          <tr>
            <td class="txt_jjcp"><b>收益分配方式</b></td>
          </tr>
		  <tr>
		    <td class="t2" align="left" style="background-color:#fcfaf9">客户收益6%以上，投资人与资产管理人7：3分成</td>
		  </tr>
          <tr>
            <td class="txt_jjcp"><b>产品规模</b></td>
          </tr>
		  <tr>
		    <td class="t2" align="left" style="background-color:#fff">1亿（以实际募集金额为准）</td>
		  </tr>
          <tr>
            <td class="txt_jjcp"><b>产品期限</b></td>
          </tr>
		  <tr>
		    <td class="t2" align="left" style="background-color:#fcfaf9">一年</td>
		  </tr>
          <tr>
            <td class="txt_jjcp"><b>投资人数</b></td>
          </tr>
		  <tr>
		    <td class="t2" align="left" style="background-color:#fff">不超过200人</td>
		  </tr>
          <tr>
            <td class="txt_jjcp"><b>组织形式</b></td>
          </tr>
		  <tr>
		    <td class="t2" align="left" style="background-color:#fcfaf9">资管专户（契约型基金）</td>
		  </tr>
          <tr>
            <td class="txt_jjcp"><b>托管银行</b></td>
          </tr>
		   <tr>
		    <td class="t2" align="left" style="background-color:#fff">中国工商银行浙江省分行</td>
		   </tr>
          <tr>
            <td class="txt_jjcp"><b>认购起点</b></td>
          </tr>
		  <tr>
		    <td class="t2" align="left" style="background-color:#fcfaf9">100万，以1万的整数倍增加</td>
		  </tr>
          <tr>
            <td class="txt_jjcp"><b>管理费</b></td>
          </tr>
		  <tr>
		    <td class="t2" align="left" style="background-color:#fff">1%/年（若未达6%，管理费予以退还）</td>
		  </tr>
        </table>
		<!--表格新布局e-->
        
      
 </li>
 
 
 
 
 
 
   <li class="li_list3">
	
        <div class="banner2-content">
    
    <img src="$!env.getWebURL('')/resources/micro/images/jjcp_dp_banner.png" style="margin: auto;width:90%;">
</div>
<div class="utterance-content">
    <div class="utterance-title">
        <div>产品优势 </div>
    </div>
    <div class="utterance-info">
    <div class="cp4">
    <div class="wz14"><span style="background:url($!env.getWebURL('')/resources/micro/images/6.png) no-repeat ;margin-left:30px;"></span>
     <span style=" background:url($!env.getWebURL('')/resources/micro/images/4.png) no-repeat scroll ; margin-left:50px;"></span>
     </div>
     <div class="wz15">
    
    <span>国有金融背景+<br />上市公司高校科技产业资源</span>
   
     
    <span style="margin-left:25px;">
		
    工商银行托管+
    <br />
    多层次风控措施</span>
    </div>
    <div class="wz14"><span style="background:url($!env.getWebURL('')/resources/micro/images/3.png) no-repeat scroll  ;margin-left:30px;margin-top:20px;"></span>
     <span style=" background:url($!env.getWebURL('')/resources/micro/images/1.png) no-repeat scroll; margin-left:50px;margin-top:20px;"></span>
     </div>
    <div class="wz15">
     <span style=" margin-left:25px;">资深团队运作+<br />投资决策严谨</span>
      <span style=" margin-left:70px;">项目安全可靠</span></div>
      <div class="wz14"><span style="background:url($!env.getWebURL('')/resources/micro/images/2.png) no-repeat scroll;margin-left:30px;margin-top:20px;"></span>
     </div>
    <div class="wz15">
    <span style=" margin-left:15px;">优质小微债权包<br />循环资金投资<br />效率最佳
<br /></span>
    </div>
    </div>
    
    
    </div>
</div>


<div class="advantage-content">
    <div class="advantage-title">
        <div>风控策略 </div>
    </div>
   <div class="banner2-content2">
    
    <img src="$!env.getWebURL('')/resources/micro/images/bg6.jpg">
</div>
</div>
	<div class="th2">
  <div class="inner">
    <div class="th2_content">
      <dl>
        <!--
        <dt class="pic_detail"></dt>
        -->
        <dd class="detail">
          <p class="title">认购指南</p>
          <p class="t2"><span class="big_icon"></span>杭商资产，专业财富管理</p>
          <p class="w330">请认购上述资产管理计划产品的客户提供下述资料，并联系我们获取募集账号和开户行信息，将认购资金划至募集账户。
            自然人委托人须提供的资料：<br>
            1、自然人委托人证件主要为身份证，请将身份证正反面复印在一张纸上，并签字。<br>
            2、受益账户银行卡或存折复印件（注：本产品认购账户与受益账户须一致）<br>
            3、认购资金的付款凭证或银行回单复印件<br>
            机构委托人须提供的资料：<br>
            营业执照复印件、组织机构代码证复印件、法定代表人身份证明复印件、同意认购本产品的决议，以上材料均须加盖公章。</p>
          <a class="quick_btn" href="$env.getWebURL('')/resources/micro/images/杭商固定收益（东浦）资产管理计划20150210.pdf">下载PDF产品说明书</a>
         
        
           </dd>
      </dl>
    </div>
  </div>
</div>
		 
 </li>

 
 
 
 
 
 
    </ul>
<div style="width:100%; background-color:#eb4256;bottom: 0px;left: 0;position: fixed;z-index: 100;">
<div class="btn">
<a href="$env.getWebURL('')/micro/index"><img src="$!env.getWebURL('')/resources/micro/images/zy.png" width="54" height="54">
</a>
<a href="$env.getWebURL('')/micro/fund/appoint" class="quick_btn">立即预约（400-806-1230）</a>
</div>
</div>
    <!-- back to top btn ends --> 
    
    <!-- copyright wrapper ends --> 
  </div>
  <!-- footer wrapper starts -->
  
  <!-- footer wrapper ends --> 
  <!-- footer wrapper ends --> 
  
</div>
#WeiChatShare("杭商资产，杭州市金融投资集团和浙大网新集团强强联合打造的专业资产管理金融机构。","股+债混合型（涌金）基金和优质债权（东浦基金）正在发售，前者预期核心年化收益率18%-22%，后者年化收益率为12%。www.hangshangcapital.com ","$!env.getWebURL('/resources/micro/images/hszc.jpg')","",$!weichat.appid,$!weichat.timestamp,$!weichat.nonceStr,$!weichat.signature)

<script type="text/javascript">
    for (n = 1; n <= 1; n++) {
        var page = 'pagenavi' + n;
        var mslide = 'slider' + n;
        var as = document.getElementById(page).getElementsByTagName('a');
        var tt = new TouchSlider({id: mslide, 'auto': '-1', fx: 'ease-out', direction: 'left', speed: 600, timeout: 5000, 'before': function(index) {
                var as = document.getElementById(this.page).getElementsByTagName('a');
                as[this.p].className = 'curnewbtn-normal';
                as[index].className = 'curnewbtn';
                this.p = index;
				if(index=='0'){
					$(".data-content").css("position", "relative").css("height", "880px");
				}else if(index=='1'){
					$(".data-content").css("position", "fixed").css("height", "0px");
				}
                $("#" + this.page).parent().find('.go_btn').hide();
                $("#" + this.page).parent().find('.go_btn').eq(index).show();
				
				
            }});
        tt.page = page;
        tt.p = 0;
        for (var i = 0; i < as.length; i++) {
            (function() {
                var j = i;
                as[j].tt = tt;
                as[j].onclick = function() {
					if(as[j].className=='curnewbtn'){
						$(".data-content").css("position", "relative").css("height", "880px");
					}else{
						$(".data-content").css("position", "fixed").css("height", "0px");
					}
                    this.tt.slide(j);
                    return false;
                }
            })();
        }
    }
</script> 
<!-- website wrapper ends -->

</body>
</html>