#Html("begin")
#Head("begin")
#Title("币港湾理财官网_安心可靠互联网金融投资理财平台_品听资产_杭商资产_浙大网新_P2P网贷")
#Head("end")
	
<body>
	
    <!-- website wrapper starts -->
    <div class="websiteWrapper"> 
      
      #Header("基金净值","","")
      
      <!-- notification starts -->
      
      <!-- notification ends --> 
      
      <!-- page wrapper starts -->
	  <div class="newrow">
    
    <div style="overflow: hidden; visibility: visible; list-style: outside none none; position: relative;" class="newbox" id="slider1"> 
      <!--banner切换s-->
      
      
      <!--banner切换e-->
      <div id="mainContent">
		#foreach($!fdNet in $!result )
		<div class="jdt">
			<i style="width:${fdNet.percent}%;">&nbsp;&nbsp;$!date.formatDateTime($!fdNet.date,"yyyy.MM")<span>$!fdNet.net&nbsp;&nbsp;</span></i>
		</div>
		#end
      </div>
		  
      </ul>
	  </div>
		
	 
      <!-- back to top btn ends --> 
    
    <!-- copyright wrapper ends --> 
  </div>
      <!-- page wrapper ends --> 
     
      #Footer("4")
      
    </div>
	<!-- website wrapper ends -->
</body>

#Html("end")