.bg{background: #fde000;}
.shark_title{ width:100%; text-align: center; position: relative;}
.hike_top{position: absolute; width: 97px; height:53px; background: url(../../images/hike_top.png) no-repeat center; text-align: center;right: 26px}
.top_index_ft{ font-size: 2.6rem;line-height: normal; color:#fe4628; }
.img_win{ width: 100%; height:100%; }
.product_title{position: absolute; left:0px; right:0px; margin:auto; bottom:0px;font-size: 3.6rem; line-height: normal; color: #fe4628;}

.pack_info_wrap{ width:90%; margin: 10px auto 0px; padding:15px; background: #e9cd00;border-radius: 8px;}
.product{ margin:16px 0px; position: relative;}
.label{ position:absolute;width:30px; height:36px; background: url(../../images/footer.png) no-repeat -196px -2px; top:8px; left:-5px;    z-index: 2;}
.main_product{ height:185px;  width:72%;    position: relative; background:white; border:1px solid #cccccc; border-radius:8px 14px 9px 8px;}
.product_time{ font-size: 2rem; padding:12px 0px 0px 40px; color:#ff6633;line-height: normal;}
.earnings_wrap{/*width:188px; text-align: center;*/ margin-top:23px;height:66px; line-height: 66px; display: inline-block; text-align: center;}
.earnings, .ear_font{display:block;}
.earnings{text-align: center;width:206px;font-size: 4.8rem; border-right:1px solid #f0f0f0;color:#ff6633;}
.easr_one{ width:240px;}
.easr_two{ width:156px;}
.ear_font{color:#a7a7a7; font-size: 1.8rem; line-height: 46px;}
.fate .earnings{border:0px;/* padding-left:48px;*/ color:#ff9933;}
.ear_font{color:#a7a7a7; font-size: 1.8rem; line-height: 46px;}
.fate .earnings{border:0px;/* padding-left:48px;*/ color:#ff9933;}
.dotted{ position: absolute; height:185px;width:24px; background:url(../../images/fp_icon1.png) no-repeat; display: inline-block;top: 0px;right: -15px;z-index: 2}
.purchase{width:27%;height:185px; position: absolute;top:0px; right:0px; border-radius:14px 8px 8px 11px; display: inline-block; background: white;border:1px solid #cccccc; overflow: hidden;}
.pur_img1, .pur_img2, .pur_img3, .pur_img4{display: inline-block;width:80px; height:72px;margin: 60px 0px 0px 6px;}
.pur_img4{ background: url(../../images/fin_icon04.png) no-repeat 0px 0px;}
.pur_img3{ background: url(../../images/fin_icon05.png) no-repeat 0px 18px; }
.pur_img2{ background: url(../../images/fin_icon06.png) no-repeat 0px 18px; }
.pur_img1{ background: url(../../images/fin_icon05.png) no-repeat 3px 18px; }
.purchase_bg{ width:40%; height:100%; background: #ff6633;position: absolute; height: 100%; right: 0px;top: 0px;}
.purchase_font{display: block; width:2.4rem; font-size: 2.4rem; line-height: 30px;position: absolute; left:50%; margin-left: -1.2rem; top:32px; color:white;}

.banner{ width: 94.5%; margin:14px auto;}
.banner_vert{ width:100%; height:100%; border-radius: 6px; overflow: hidden; }

.activity_title{font-size: 3rem; color:#500b0e; text-align: center; margin-top:22px;    line-height: normal;}
.arrow_down{display: inline-block; width:24px; height:16px; background: url(../../images/arrow_down_1.png) no-repeat center; }
.activity_main{width: 84%; margin:14px auto; background: #e9cd00; font-size: 1.6rem; color: #500b0e; line-height: normal; padding:0px 33px 30px 30px; border-radius: 6px;display: none; opacity: 0;}
.toggle{display: block;}
.activity_Newbie{ padding:35px 0px 20px; }
.main_ul{ padding-top:8px; }
.main_li{ padding:5px 0px 5px 0px; position: relative;}
.serial_number{ position: absolute; left:0px;    font-size: 2.4rem;}
.veteran{ padding:45px 0px 10px; }
.acti_bottom{ text-align: center;padding:60px 0px 20px; }