@charset "UTF-8";

/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-11-21 12:02:56
 * @version $Id$
 */

#whiteBlock {
	opacity: 0;
}

.agree_bg {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: black;
	filter: alpha(opacity=60);
	background: rgba(0, 0, 0, .6);
}

.agess {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -341px 0px 0px -370px;
	width: 740px;
	height: 682px;
	background: white;
	border-radius: 5px;
	font-weight: 200;
}

.agess_title {
	height: 55px;
	line-height: 55px;
	width: 100%;
	border-bottom: 1px solid #DDDDDD;
}

.agess_ft {
	font-size: 18px;
	color: #666666;
	padding-left: 20px;
}

.agess_off {
	position: absolute;
	right: 8px;
	top: 8px;
	width: 40px;
	height: 40px;
	background: url(../image/off.png) no-repeat center center;
}

.agess_main {
	clear: both;
	padding: 0px 23px;
	height: auto;
	overflow: auto;
}

.main_title {
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	padding: 10px 0px;
}

.man_ft {
	font-size: 18px;
	line-height: 36px;
	margin: 20px 15px;
}

.serial {
	width: 96%;
	margin: 15px auto;
}

.serial_number {
	width: 100%;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 17px;
}

.serial_number_other {
	width: 100%;
	font-size: 30px;
	line-height: 18px;
	margin-bottom: 17px;
}

.serial_number_other_title {
	width: 100%;
	font-size: 30px;
	line-height: 18px;
	margin-bottom: 17px;
	text-align: center;
}

.h_title {
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 17px;
	font-weight: bold;
}

.serial_main {
	width: 100%;
	font-size: 22px;
	line-height: 25px;
	line-height: 28px;
	display: inline-block;
	height: 100%;
}

.font {
	font-weight: 510;
}

.agess_foot {
	width: 100%;
	height: 70px;
	border-top: 1px solid #DDDDDD;
}

.agess_btn {
	width: 214px;
	height: 50px;
	line-height: 50px;
	border-radius: 3px;
	cursor: pointer;
	margin: 0 auto;
	background: #DDDDDD;
	text-align: center;
	margin-top: 10px;
}

.header {
	width: 100%;
	height: 80px;
	line-height: 80px;
	background: white;
	text-align: center;
	position: relative;
}

.header_arrow{display:block;position:absolute;left:0;top:50%;margin-top:-40px;width:80px;height:80px;background:url(../../images/back_arrow.png) no-repeat 25px center}

.heade_ft {
	font-size: 34px;
}

.ser_posi {
	position: relative;
}

.ser_img,
.ser_img_two {
	position: absolute;
	bottom: 0px;
	left: 50px;
	width: 150px;
	height: 150px;
	/* background: url(../../images/ptzc_gz.png) no-repeat center center; */
}

.ser_img_two {
	bottom: 40px;
	left: 200px;
}

.MsoNormal {
	text-align: center;
}

table,
tr,
td,
tbody {
	padding: 20px;
	margin: 10px 0px;
	border: 2px solid #666666;
	vertical-align: middle;
	text-align: left;
	word-break: break-all;
}

.lett {
	letter-spacing: -3px;
}

table.win_fo {
	width: 99%;
	margin: 10px auto;
}

table.win_fo1 {
	position: relative;
	top: -50px;
	left: 169px;
}

table.win_fo1 tr td {
	border: 2px solid #e6e6e6;
	padding: 10px;
}

.marginCenter {
	width: 96%;
	paddding: 2px;
	margin: 0 auto;
}

table#oneTable {
	width: 95%
}

table.table_border_none,
.table_border_none tbody,
.table_border_none tr,
.table_border_none td {
	border: none;
	text-align: left;
	padding: 5px 8px;
}

table.table_border_none td {
	width: 50%;
	vertical-align: top;
}

table.padd_win td {
	padding: 8px;
}

table.padd_win .padd_sml_win td {
	padding: 17px;
}

table.ebtruset_table,
.ebtruset_table tr,
.ebtruset_table td,
.ebtruset_table tbody {
	border: 2px solid #666666;
}

.agr_main {
	padding: 20px 10px;
	font-size: 22px;
	line-height: normal;
	height: 100%;
}

.bor_bot {
	border-bottom: 1px solid #000000;
	padding: 0px 10px;
}

.bor_bot1 {
	border-bottom: 1px solid #000000;
	padding: 0px 30px;
}

.agr_main div {
	padding: 5px 0px;
}

.agr_main p {
	display: inline-table;
	padding: 0px 0px 20px 0px;
	width: 100%;
}

p.ft_top {
	padding-top: 30px;
	text-indent: 7%;
}

p.t_left {
	font-size: 30px;
	color: #000000;
	text-indent: 0em;
}

.border {
	border: 2px solid #000000;
	padding: 10px;
}

.bot_top {
	height: 25px;
	line-height: 25px;
}

div.bor_t1 {
	padding: 10px;
}

.t1_left,
.t1_right {
	width: 48%;
	float: left;
}

.red_color {
	color: red;
}

.center {
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.line {
	margin-bottom: 50px;
}

.top_no {
	text-align: right;
	margin-right: 50px;
	margin-top: 8px;
}

.top_no_have_buy {
	text-align: right;
	margin-right: 10px;
	margin-top: 8px;
}


/*盖章  */

.img_wrap {
	position: relative;
}

.posi_img {
	position: absolute;
	left: 0px;
	top: -150px;
}

.posi_img_zan {
	position: absolute;
	left: 203px;
	top: -136px;
}

.posi_img_zan1 {
	position: absolute;
	left: 320px;
	top: -150px;
}


/*圆点*/

.circleImg {
	font-size: 60px;
	font-weight: bolder;
	line-height: 5px;
}