#Html("begin")
#Head("begin","发展历程,币港湾,币港湾官网","欢迎来到币港湾，币港湾官网为您提供互联网金融服务，是优质的互联网金融服务平台。")
#Title("发展历程_关于我们【币港湾官网】")
#LoadGenCSS("/resources/gen2.0/styles/platform/about/platform_profile")
#Head("end")
<body>
<!-- header -->
    #Gen2Header("about")
<!-- main -->
<div class="main">
    <div class="main_banner"></div>
    <div class="main_center">
    #**
     * subnav
     **#
        #Gen2AboutSubNav()


        <div class="main_cright">
            <div class="main_crdown">
                <div class="main_crd_top">
                    <ul class="main_crd_top-title">
                        <li class="li"><span>2015年</span><i></i></li>
                        <li class="li"><span>2016年</span><i></i></li>
                        <li class="li"><span>2017年</span><i></i></li>
                        <li class="lihover"><span>2018年</span><i></i></li>
                    </ul>
                </div>
                <div class="main_crd_bottom">
                    <div class="main_crd_bottom_box" style="display: none;">
                        <div class="main_crd_left">
                            <span class="conter-back"></span>
                            <div class="main_crd_ll">
                                <div class="main_crd_l4">12-28<span><i></i></span></div>
                                <div class="main_crd_l5">12-05<span><i></i></span></div>
                                <div class="main_crd_l6">12-01<span><i></i></span></div>
                                <div class="main_crd_l7">11-10<span><i></i></span></div>
                                <div class="main_crd_l8">09-30<span><i></i></span></div>
                                <div class="main_crd_l9">03-18<span><i></i></span></div>
                            </div>
                        </div>
                        <div class="main_crd_right">
                            <div class="main_crd_rr">
                                <div class="main_crd_r4"><i></i><span>平台累计成交额突破1亿</span></div>
                                <div class="main_crd_r5"><i></i><span>币港湾与钱江晚报达成战略合作</span></div>
                                <div class="main_crd_r6"><i></i><span>币港湾正式运营</span></div>
                                <div class="main_crd_r7"><i></i><span>与达飞财富达成战略合作</span></div>
                                <div class="main_crd_r8"><i></i><span>币港湾项目封闭式测试完成</span></div>
                                <div class="main_crd_r9"><i></i><span>浙江品听资产管理有限公司，“币港湾”项目组成立</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="main_crd_bottom_box" style="display: none;">
                        <div class="main_crd_left">
                            <span class="conter-back"></span>
                            <div class="main_crd_ll">
                                <div class="main_crd_l1">12-02<span><i></i></span></div>
                                <div class="main_crd_l2">11-13<span><i></i></span></div>
                                <div class="main_crd_l3">11-13<span><i></i></span></div>
                                <div class="main_crd_l4">11-05<span><i></i></span></div>
                                <div class="main_crd_l5">09-19<span><i></i></span></div>
                                <div class="main_crd_l6">07-15<span><i></i></span></div>
                                <div class="main_crd_l7">05-05<span><i></i></span></div>
                                <div class="main_crd_l8">05-04<span><i></i></span></div>
                                <div class="main_crd_l9">02-17<span><i></i></span></div>
                                <div class="main_crd_l10">01-26<span><i></i></span></div>
                            </div>
                        </div>
                        <div class="main_crd_right">
                            <div class="main_crd_rr">
                                <div class="main_crd_r1"><i></i><span>钱江晚报币港湾慈善基金会成立</span></div>
                                <div class="main_crd_r2"><i></i><span>币港湾独家赞助“美丽浙江 美丽骑行”骑行大赛</span></div>
                                <div class="main_crd_r3"><i></i><span>平台累计成交额突破10亿</span></div>
                                <div class="main_crd_r4"><i></i><span>币港湾与合肥论坛达成战略合作</span></div>
                                <div class="main_crd_r5"><i></i><span>币港湾合规先行，获得ICP经营许可证</span></div>
                                <div class="main_crd_r6"><i></i><span>币港湾和7贷金融达成战略合作</span></div>
                                <div class="main_crd_r7"><i></i><span>平台累计成交额突破5亿</span></div>
                                <div class="main_crd_r8"><i></i><span>币港湾科技有限公司正式成立</span></div>
                                <div class="main_crd_r9"><i></i><span>币港湾app正式上线</span></div>
                                <div class="main_crd_r10"><i></i><span>首次举办线下用户交流会，获得空前成功</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="main_crd_bottom_box" style="display: none;">
                        <div class="main_crd_left">
                            <span class="conter-back"></span>
                            <div class="main_crd_ll">
                                <div class="main_crd_l9">12-24<span><i></i></span></div>
                                <div class="main_crd_l9">12-20<span><i></i></span></div>
                                <div class="main_crd_l9">12-08<span><i></i></span></div>
                                <div class="main_crd_l9">11-30<span><i></i></span></div>
                                <div class="main_crd_l9">09-21<span><i></i></span></div>
                                <div class="main_crd_l9">09-06<span><i></i></span></div>
                                <div class="main_crd_l9">08-10<span><i></i></span></div>
                                <div class="main_crd_l8">06-28<span><i></i></span></div>
                                <div class="main_crd_l7">06-24<span><i></i></span></div>
                                <div class="main_crd_l6">06-08<span><i></i></span></div>
                                <div class="main_crd_l5">05-25<span><i></i></span></div>
                                <div class="main_crd_l4">05-24<span><i></i></span></div>
                                <div class="main_crd_l9">03-24<span><i></i></span></div>
                                <div class="main_crd_l9">03-19<span><i></i></span></div>
                                <div class="main_crd_l8">03-18<span><i></i></span></div>
                                <div class="main_crd_l7">01-25<span><i></i></span></div>
                                <div class="main_crd_l6">01-24<span><i></i></span></div>
                                <div class="main_crd_l5">01-14<span><i></i></span></div>
                                <div class="main_crd_l4">01-11<span><i></i></span></div>
                            </div>
                        </div>
                        <div class="main_crd_right">
                            <div class="main_crd_rr">
                                <div class="main_crd_r8"><i></i><span>币港湾在杭州凯悦酒店召开：2017年币港湾业务总结大会</span></div>
                                <div class="main_crd_r8"><i></i><span>币港湾荣获“2017年度中国互联网金融行业优秀示范企业”称号</span></div>
                                <div class="main_crd_r8"><i></i><span>币港湾举办“币港湾 & 华东医药冬令滋补品特惠福利专享会”</span></div>
                                <div class="main_crd_r8"><i></i><span>平台累计成交额突破35亿</span></div>
                                <div class="main_crd_r9"><i></i><span>币港湾—恒丰银行存管系统成功上线，进入试运营阶段</span></div>
                                <div class="main_crd_r8"><i></i><span>平台累计成交额突破30亿</span></div>
                                <div class="main_crd_r9"><i></i><span>币港湾组织员工进行3天的培训</span></div>
                                <div class="main_crd_r8"><i></i><span>钱报币港湾慈善基金会通过兰溪杭州商会向兰溪受灾群众捐款10万</span></div>
                                <div class="main_crd_r7"><i></i><span>币港湾组织湾粉进行体检和参加健康养生讲座</span></div>
                                <div class="main_crd_r6"><i></i><span>平台累计成交额突破25亿</span></div>
                                <div class="main_crd_r5"><i></i><span>钱江晚报对币港湾的大数据分析技术进行深度报道</span></div>
                                <div class="main_crd_r4"><i></i><span>币港湾收到浙江民政局正式颁发的慈善基金会法人登记证书</span></div>
                                <div class="main_crd_r8"><i></i><span>平台累计成交额突破20亿</span></div>
                                <div class="main_crd_r9"><i></i><span>币港湾在合肥举办第二次专场讲座</span></div>
                                <div class="main_crd_r8"><i></i><span>币港湾2周年庆，送出6重大礼</span></div>
                                <div class="main_crd_r7"><i></i><span>平台单日成交额首次突破3千万</span></div>
                                <div class="main_crd_r6"><i></i><span>平台累计成交额突破15亿</span></div>
                                <div class="main_crd_r5"><i></i><span>币港湾在合肥举办第一次专场讲座</span></div>
                                <div class="main_crd_r4"><i></i><span>币港湾的合作伙伴达飞集团与浙江大学签署战略合作协议</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="main_crd_bottom_box" style="display: none;">
                        <div class="main_crd_left">
                            <span class="conter-back"></span>
                            <div class="main_crd_ll">
                                <div class="main_crd_l5">04-03<span><i></i></span></div>
                                <div class="main_crd_l5">03-16<span><i></i></span></div>
                                <div class="main_crd_l5">02-02<span><i></i></span></div>
                                <div class="main_crd_l5">01-13<span><i></i></span></div>
                                <div class="main_crd_l4">01-12<span><i></i></span></div>
                            </div>
                        </div>
                        <div class="main_crd_right">
                            <div class="main_crd_rr">
                                <div class="main_crd_r5"><i></i><span>币港湾文化流餐饮直营“福灵巷8号”面馆开始营业</span></div>
                                <div class="main_crd_r5"><i></i><span>币港湾举办三周年庆生会</span></div>
                                <div class="main_crd_r5"><i></i><span>币港湾平台累计成交额突破40亿</span></div>
                                <div class="main_crd_r5"><i></i><span>币港湾携手叶埠桥社区举办“舞动社区乐享生活”文娱演出活动</span></div>
                                <div class="main_crd_r4"><i></i><span>钱报币港湾慈善基金会慰问温州永嘉溪下乡贫困山区家庭</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
    #Gen2Footer()

<script>
    $(document).ready(function () {
        //左侧菜单栏定位
        var subNav = $(".main_cl_ul").children("a");
        $(subNav[1]).addClass("main_clul_lione");

        //事件交互
        var years = $(".main_crd_top-title li");
        var nowYear = years[years.length - 1];
        var development = $(".main_crd_bottom_box");
        $(nowYear).addClass("lihover");
        $(development[development.length - 1]).show();
        $(years).on("click",function () {
            var yearsNum = $(this).index();
            $(years).removeClass("lihover");
            $(years[yearsNum]).addClass("lihover");
            $(development).hide();
            $(development[yearsNum]).show();
        })
    })
</script>
</body>
#Html("end")