body {
  width: 100%;
  margin: 0px auto 0;
  font-family: "微软雅黑";
  background: #e75954;
}
/*首页*/
.banner {
  width: 100%;
  margin: 0px auto 0;
}
.banner_img {
  display: block;
  width: 100%;
}
.T-index {
  width: 100%;
  margin: 0px auto 0;
  padding-bottom: 36px;
}
.T-index-title {
  width: 100%;
  margin: 18px auto 0;
  text-align: center;
  position: relative;
}
.T-index-title-txt {
  width: 100%;
  position: absolute;
  line-height: normal;
  top: 0;
}
.T-index-mtitle {
  width: 100%;
  font-size: 30px;
  color: #fff;
}
.T-index-stitle {
  width: 100%;
  font-size: 22px;
  color: #fff;
}
.T-index-red {
  width: 94%;
  margin: 20px auto 0;
  background: #fefaed;
  padding: 12px 0;
  border-radius: 20px;
  text-align: center;
}
.T-index-red-box {
  width: 96%;
  margin: 0px auto 0;
  border: 1px solid #f7c888;
  padding: 12px 0;
  border-radius: 20px;
}
.T-index-red-top {
  width: 100%;
  margin: 0px auto 0;
}
.T-index-red-collar,
.T-index-red-choose {
  width: 316px;
  display: inline-block;
  position: relative;
}
.T-index-red-collar .T-index-red-cimg,
.T-index-red-choose .T-index-red-cimg {
  position: absolute;
  left: 50%;
}
.T-index-red-collar {
  margin-right: 20px;
}
.T-index-red-btn {
  width: 300px;
  height: 80px;
  background: url(../../../../images/activity/2017/thanksgiven/bg3.png) no-repeat center;
  position: absolute;
  bottom: 0;
  right: -14px;
  color: #b17744;
  line-height: normal;
  padding: 10px 0 0 30px;
  text-align: left;
}
.T-index-red-btn .T-index-red-mtitle {
  width: 100%;
  display: inline-block;
  font-size: 26px;
}
.T-index-red-btn .T-index-red-stitle {
  width: 100%;
  display: inline-block;
  font-size: 26px;
}
.T-index-red .T-btn-copy1 {
  background: url(../../../../images/activity/2017/thanksgiven/bg4.png) no-repeat center;
}
.T-index-red .T-btn-copy2 {
  background: url(../../../../images/activity/2017/thanksgiven/bg5.png) no-repeat center;
}
.T-index-red-bottom {
  display: block;
  width: 97%;
  margin: 24px auto 0;
  position: relative;
}
.T-index-red-bottom .T-index-red-cimg {
  position: absolute;
  left: 30px;
  top: 26px;
}
.T-index-red-bottom .T-index-btn-copy2 {
  background: url(../../../../images/activity/2017/thanksgiven/bg5.png) no-repeat center;
}
/*第一个*/
.T-first {
  width: 100%;
  margin: 0px auto 0;
  padding: 66px 0 20px 0;
}
.T-first-title {
  width: 60%;
  background: #fefaed;
  margin: 0px auto 0;
  border-radius: 40px;
  padding: 10px 0;
  text-align: center;
}
.T-first-title-txt {
  width: 95%;
  border: 1px solid #f7c888;
  font-size: 36px;
  line-height: normal;
  margin: 0px auto 0;
  border-radius: 40px;
  color: #d6a15c;
  padding: 5px 0;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#edc16f), to(#d09857));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.T-first-red {
  width: 94%;
  margin: 20px auto 0;
  background: #fefaed;
  padding: 12px 0;
  border-radius: 20px;
  text-align: center;
}
.T-first-red-box {
  width: 96%;
  margin: 0px auto 0;
  border: 1px solid #f7c888;
  padding: 24px 0;
  border-radius: 20px;
}
.T-first-red-top {
  width: 100%;
  margin: 0px auto 0;
  position: relative;
  font-size: 30px;
}
.T-first-red-top .T-first-red-btn-stop {
  display: block;
  width: 58%;
  border: 1px solid #b17744;
  border-radius: 10px;
  line-height: normal;
  position: absolute;
  bottom: 26px;
  left: 50%;
  margin-left: -29%;
  padding: 19px 0;
  color: #b17744;
}
.T-first-red-top .T-first-red-btn-start {
  display: block;
  width: 58%;
  background: #f2c957;
  border-radius: 10px;
  line-height: normal;
  position: absolute;
  bottom: 26px;
  left: 50%;
  margin-left: -29%;
  padding: 19px 0;
  color: #b17744;
}
.T-first-red-bottom {
  width: 100%;
  margin: 30px auto 0;
  position: relative;
}
.T-first-red-rule {
  width: 92%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -46%;
  font-size: 24px;
  color: #666;
  line-height: normal;
  text-align: left;
}
.T-first-red-rule-title {
  padding: 18px 0 18px 16px;
}
.T-first-red-rule-content {
  padding-left: 58px;
  margin-bottom: 30px;
  position: relative;
}
.T-first-red-rule-content i {
  position: absolute;
  left: 16px;
}
.T-first-windows {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.5);
  display: box;
  display: -webkit-box;
  box-pack: center;
  box-align: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
.T-first-windows-box {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  line-height: normal;
}
.T-first-windows-top {
  width: 100%;
  text-align: center;
}
.T-first-windows-tbtn {
  width: 166px;
  height: 226px;
  display: inline-block;
  position: relative;
  background: url(../../../../images/activity/2017/thanksgiven/weixin2.png) no-repeat center 38px;
}
.T-first-windows-tbtn span {
  font-size: 24px;
  color: #999;
  position: absolute;
  display: inline-block;
  width: 100%;
  line-height: normal;
  left: 0;
  bottom: 38px;
}
.T-first-windows-tbtn-copy {
  background: url(../../../../images/activity/2017/thanksgiven/weixin1.png) no-repeat center 38px;
}
.T-first-windows-bottom {
  width: 100%;
  font-size: 32px;
  color: #999;
  text-align: center;
  border-top: 3px solid #e9e9e9;
  padding: 26px 0;
}
/*第二*/
.T-second {
  width: 100%;
  margin: 0px auto 0;
  padding: 66px 0 20px 0;
}
.T-second-red-top {
  width: 92%;
  background: #fff1c9;
  border-radius: 10px;
  margin: 0px auto 0;
  -moz-box-shadow: 5px 5px 5px #faeabd inset;
  -webkit-box-shadow: 5px 5px 5px #faeabd inset;
  box-shadow: 5px 5px 5px #faeabd inset;
  padding-bottom: 30px;
}
.T-second-red-top .T-second-red-btn-stop {
  display: block;
  width: 58%;
  border: 1px solid #b17744;
  border-radius: 10px;
  line-height: normal;
  padding: 19px 0;
  color: #b17744;
  font-size: 30px;
  margin: 30px auto 0;
}
.T-second-red-top .T-second-red-btn-start {
  display: block;
  width: 58%;
  background: #f2c957;
  border: 1px solid #f2c957;
  border-radius: 10px;
  line-height: normal;
  padding: 19px 0;
  color: #b17744;
  font-size: 30px;
  margin: 30px auto 0;
}
.T-second-red-top .T-second-red-exchange {
  width: 276px;
  display: inline-block;
  vertical-align: top;
  color: #b17744;
  font-size: 30px;
  line-height: normal;
  padding: 19px 0;
  background: #f2c957;
  border: 1px solid #f2c957;
  border-radius: 10px;
}
.T-second-red-top .T-second-red-immediately {
  width: 276px;
  display: inline-block;
  vertical-align: top;
  color: #b17744;
  font-size: 30px;
  line-height: normal;
  padding: 19px 0;
  border: 1px solid #b17744;
  border-radius: 10px;
}
.T-second-red-top-gift-box {
  width: 278px;
  display: inline-block;
  vertical-align: top;
  border-radius: 10px;
  line-height: normal;
  position: relative;
  margin-top: 24px;
}
.T-second-red-gift {
  width: 100%;
  display: inline-block;
  border-radius: 10px;
  background: #fff;
  line-height: normal;
  position: relative;
  padding-bottom: 60px;
}
.T-second-red-gift-title {
  width: 100%;
  font-size: 24px;
  background: #f2cb5b;
  color: #b17744;
  padding: 10px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.T-second-red-gift p {
  font-size: 24px;
  color: #b17744;
  padding-left: 28px;
  text-align: left;
  margin-top: 8px;
}
.T-second-red-gift-number {
  display: inline-block;
  width: 185px;
  font-size: 22px;
  color: #b17744;
  background: #fbdc85;
  padding: 4px 0;
  border-radius: 19px;
  position: absolute;
  right: 8px;
  bottom: 15px;
}
.T-second-red-gift-margin {
  margin-right: 24px;
}
.T-second-red-bottom {
  width: 92%;
  background: #fff1c9;
  border-radius: 10px;
  margin: 30px auto 0;
  -moz-box-shadow: 5px 5px 5px #faeabd inset;
  -webkit-box-shadow: 5px 5px 5px #faeabd inset;
  box-shadow: 5px 5px 5px #faeabd inset;
  padding-bottom: 30px;
}
.T-second-red-rule {
  width: 92%;
  font-size: 24px;
  color: #666;
  line-height: normal;
  text-align: left;
}
.T-second-bottom-txt {
  width: 100%;
  text-align: center;
  font-size: 22px;
  color: #ffb8ae;
  line-height: normal;
  padding: 30px 0;
}
.T-second-windows-first {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.5);
  display: box;
  display: -webkit-box;
  box-pack: center;
  box-align: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
.T-second-windows-second {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.5);
  display: box;
  display: -webkit-box;
  box-pack: center;
  box-align: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
.T-second-windows-third {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.5);
  display: box;
  display: -webkit-box;
  box-pack: center;
  box-align: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
.T-second-windows-box {
  position: relative;
  width: 90%;
  font-size: 26px;
  text-align: center;
  line-height: normal;
  background: #e56351;
  border-radius: 10px;
}
.T-second-windows-box-btn{
	width:72px;
	height:72px;
	background:url(../../../../images/activity/2017/thanksgiven/btn.png) no-repeat center;
	position:absolute;
	right:0;
	top:0;
}
.T-second-windows-copy {
  position: relative;
  width: 90%;
  font-size: 26px;
  text-align: center;
  line-height: normal;
  background: #e56351;
  border-radius: 10px;
}
.T-second-windows-success {
  position: relative;
  width: 90%;
  font-size: 26px;
  text-align: center;
  line-height: normal;
  background: #e56351;
  padding: 53px 0;
  border-radius: 10px;
}
.T-second-windows-success-title {
  width: 100%;
  font-size: 30px;
  color: #fff;
}
.T-second-windows-success-txt {
  width: 100%;
  font-size: 22px;
  color: #ffb8ae;
  margin: 14px auto 40px;
}
.T-second-windows-put {
  width: 82%;
  position: absolute;
  top: 180px;
  left: 50%;
  margin-left: -41%;
}
.T-second-windows-title {
  text-align: left;
  line-height: normal;
  color: #b17744;
  font-size: 24px;
  padding: 11px 0;
}
.T-second-windows-name {
  width: 82%;
  margin: 34px auto 0;
  border-bottom: 1px solid #999;
  text-align: left;
  padding: 5px 0;
  position: relative;
}
.T-second-windows-name i {
  font-size: 24px;
  color: #666;
}
.T-second-windows-name input {
  position: absolute;
  height: 32px;
  width: 340px;
  right: 0;
  top: 4px;
  font-size: 24px;
  border: 0;
  background: none;
}
.T-second-windows-name .phone {
  width: 320px;
}
.T-second-windows-address {
  width: 82%;
  height: 115px;
  margin: 30px auto 0;
  border: 1px solid #999;
  text-align: left;
  padding: 5px 0 5px 5px;
  position: relative;
}
.T-second-windows-address i {
  font-size: 24px;
  color: #666;
}
.T-second-windows-address textarea {
  width: 320px;
  height: 110px;
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 24px;
  border: 0;
  resize: none;
  background: none;
}
.T-second-windows-btn {
  width: 50%;
  font-size: 30px;
  color: #b17744;
  margin: 30px auto 0;
  padding: 20px 0;
  background: #deb36a;
  background: -webkit-linear-gradient(left, #deb36a, #fed685);
  background: -o-linear-gradient(right, #deb36a, #fed685);
  background: -moz-linear-gradient(right, #deb36a, #fed685);
  background: linear-gradient(to right, #deb36a, #fed685);
  border-radius: 10px;
}
.T-second-windows-txt {
  width: 100%;
  font-size: 20px;
  color: #ffb8ae;
  margin: 100px auto 0;
}
.T-second-windows-title-txt {
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 58px;
  width: 100%;
}
/*d第三*/
.T-third {
  width: 100%;
  margin: 0px auto 0;
  padding: 66px 0 20px 0;
}
.T-third-red-top {
  width: 92%;
  background: #fff1c9;
  border-radius: 10px;
  margin: 0px auto 0;
  -moz-box-shadow: 5px 5px 5px #faeabd inset;
  -webkit-box-shadow: 5px 5px 5px #faeabd inset;
  box-shadow: 5px 5px 5px #faeabd inset;
  padding: 30px 0;
}
.T-third-red-top-box {
  width: 92%;
  margin: 0px auto 0;
  text-align: center;
  line-height: normal;
}
.T-third-red-top-title {
  width: 100%;
  font-size: 24px;
  color: #b17744;
  padding: 10px 0;
  background: #f2c957;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.T-third-red-top-date {
  font-size: 24px;
  color: #666;
  text-align: left;
  background: #efefef;
  padding: 10px 0;
}
.T-third-red-top-date-img {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../../../../images/activity/2017/thanksgiven/date.png) no-repeat center;
  position: relative;
  top: 2px;
  margin: 0 8px 0 20px;
}
.T-third-red-top-date-numtxt {
  font-size: 22px;
  color: #b17744;
  margin-left: 140px;
}
.T-third-red-top-num {
  width: 100%;
  padding: 22px 0;
  background: #fff;
}
.T-third-red-top-number {
  width: 92px;
  height: 92px;
  background: url(../../../../images/activity/2017/thanksgiven/bg6.png) no-repeat center;
  display: inline-block;
  font-size: 42px;
  color: #fff;
  line-height: 92px;
}
.T-third-red-top-table {
  width: 100%;
  font-size: 24px;
  line-height: normal;
  background: #b17744;
  padding: 10px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 30px auto 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}
.T-third-red-top-table li {
  display: inline-block;
  vertical-align: top;
  color: #fff;
}
.T-third-red-top-table .T-third-red-top-table-date {
  width: 98px;
}
.T-third-red-top-table .T-third-red-top-table-number {
  width: 164px;
}
.T-third-red-top-table .T-third-red-top-table-lucky {
  width: 130px;
}
.T-third-red-top-table .T-third-red-top-table-user {
  width: 177px;
}
.T-third-red-top-tbody {
  border-bottom: 1px solid #b17744;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.T-third-red-top-tbody li {
  width: 100%;
  font-size: 24px;
  line-height: normal;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  background: #fff;
}
.T-third-red-top-tbody i {
  display: inline-block;
  vertical-align: top;
  height: 72px;
  line-height: 72px;
}
.T-third-red-top-tbody .T-third-red-top-table-date {
  width: 98px;
  border-left: 1px solid #b17744;
  border-right: 1px solid #e3e3e3;
}
.T-third-red-top-tbody .T-third-red-top-table-number {
  width: 164px;
  border-right: 1px solid #e3e3e3;
}
.T-third-red-top-tbody .T-third-red-top-table-lucky {
  width: 130px;
  border-right: 1px solid #e3e3e3;
}
.T-third-red-top-tbody .color-lucky {
  color: #b17744;
}
.T-third-red-top-tbody .T-third-red-top-table-user {
  width: 177px;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #b17744;
}
.T-third-red-top .T-second-red-btn-start {
  display: block;
  width: 58%;
  background: #f2c957;
  border: 1px solid #f2c957;
  border-radius: 10px;
  line-height: normal;
  padding: 19px 0;
  color: #b17744;
  font-size: 30px;
  margin: 30px auto 0;
}
.windows-hide {
  display: none;
}
.windows-show {
  display: block;
}
.windows-box {
  display: box;
  display: -webkit-box;
}
.app-box{
	width:310px;
	height:310px;
	padding:18px;
	position:absolute;
	background:#fff;
	left:50%;
	top:60px;
	margin-left:-173px;
	border-radius:20px;
}
.app-em{
	width:310px;
	height:310px;
	background:#cdcdcd;
	border-radius:20px;
	overflow:hidden;
}
.app-em-img{
	width:100%;
	height:100%;
	display:block;
}
.app-txt{
	width:100%;
	font-size:24px;
	line-height:normal;
	color:#b17744;
	position:absolute;
	bottom:34px;
}
.app-color{
	color:#e75954;
}
