.body{width: 100%;height: 100%;background: #002497;}
/*banner*/
.banner{width: 100%;height: 485px;margin:0 auto;background: url(../../../images/activity/pk1213/banner.jpg) no-repeat center;}
.main-content{width: 100%;min-height: 100px;padding-bottom: 72px;
	background: #002497;
	/*渐变*/
	/* Webkit: Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0 0, 0 top, from(#002498), to(#015bbe));
    /* Webkit: Safari 5.1+, Chrome 10+ */ 
    background: -webkit-linear-gradient(top, #002498 , #015bbe);
    background: linear-gradient(to bottom, #002498 , #015bbe);
    /* Firefox 3.6+ */ 
    background: -moz-linear-gradient(top, #002498, #015bbe); 
    /* Opera 11.10+ */ 
    background: -o-linear-gradient(top, #002498, #015bbe); 
    /* IE 10 */ 
    background: -ms-linear-gradient(top, #002498, #015bbe);
    /* IE < 10 */ 
/* 注意：这一行必须写在最后 */ 
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#002498,endColorStr=#015bbe);}
.main-percentage{width: 1200px;height: 198px;margin:0 auto;position: relative;}
.main-percentage-img{position: absolute;top:84px;left: 50%;margin-left: -61px;z-index: 3;}
.main-percentage-content{width: 1066px;height: 198px;margin:0 auto;}
.main-percentage-reality{width: 533px;height: 198px;float: left;}
.main-realityname{width: 100%;height: 70px;padding-top: 32px;}
.main-realityimg1{margin-right: 32px;}
.main-realitymore{width: 100%;height: 96px;}
.main-realitybg{width: 525px;height: 56px;background: #001d77;padding:4px;position: relative;overflow: hidden;
				-webkit-border-radius: 64px;
				/*webkit内核， Chrome*/
				-moz-border-radius: 64px;
				/*mozilla内核 Firefox*/
				border-radius: 64px;
				/*IE*/
				/*一定不要忘记behavior属性*/
				behavior: url(../pk1213/PIE.htc);}
.main-realitynum{height: 56px;background: url(../../../images/activity/pk1213/main7.png) repeat-x center;position: relative;padding-left: 10%;
				-webkit-border-radius: 56px;
				/*webkit内核， Chrome*/
				-moz-border-radius: 56px;
				/*mozilla内核 Firefox*/
				border-radius: 56px;
				/*IE*/
				/*一定不要忘记behavior属性*/
				behavior: url(../pk1213/PIE.htc);}
.main-realitynumspan{position: absolute;font-size: 24px;color: #fff;line-height: 56px;z-index: 1;text-align: center;width: 100%;}
.main-percentage-contentment{width: 533px;height: 198px;float: right;}
.main-contentmentname{width: 100%;height: 70px;padding-top: 32px;text-align: right;}
.main-contentmentimg2{margin-left: 32px;}
.main-contentmentmore{width: 100%;height: 96px;}
.main-contentmentbg{width: 525px;height: 56px;background: #001d77;padding:4px;position: relative;text-align: center;
				-webkit-border-radius: 64px;
				/*webkit内核， Chrome*/
				-moz-border-radius: 64px;
				/*mozilla内核 Firefox*/
				border-radius: 64px;
				/*IE*/
				/*一定不要忘记behavior属性*/
				behavior: url(../pk1213/PIE.htc);}
.main-contentmentnum{height: 56px;float:right;background: url(../../../images/activity/pk1213/main8.png) repeat-x center;font-size: 24px;color: #fff;line-height: 56px;position: relative;padding-left: 10%;
				-webkit-border-radius: 56px;
				/*webkit内核， Chrome*/
				-moz-border-radius: 56px;
				/*mozilla内核 Firefox*/
				border-radius: 56px;
				/*IE*/
				/*一定不要忘记behavior属性*/
				behavior: url(../pk1213/PIE.htc);}
.main-contentmentnumspan{position: absolute;left:0;font-size: 24px;color: #fff;line-height: 56px;z-index: 1;text-align: center;width: 100%;}



.main-product{width: 1200px;height: 365px;margin:10px auto 32px;}
.main-product-content{width: 1066px;height: 365px;margin:0 auto;background: url(../../../images/activity/pk1213/main10.png) no-repeat center;}
.main-product-reality{width: 465px;height: 315px;float: left;padding-top: 50px;}
.main-product-realitytit{width: 100%;text-align: center;font-size: 18px;color: #fff;line-height: 18px;}
.main-product-realitynum{width: 100%;text-align: center;color: #fff;line-height: 50px;margin: 28px 0 16px 0;}
.main-product-realitynumi{font-size: 54px;font-weight: 600;}
.main-product-realitynumspan{font-size: 24px;}
.main-product-realitybtn{width: 108px;height: 28px;position: relative;background: #18afe1;color: #fff;cursor: pointer;text-align: center;line-height: 28px;font-size: 14px;margin:18px auto 36px;
				-webkit-border-radius: 28px;
				/*webkit内核， Chrome*/
				-moz-border-radius: 28px;
				/*mozilla内核 Firefox*/
				border-radius: 28px;
				/*IE*/
				/*一定不要忘记behavior属性*/
				behavior: url(../pk1213/PIE.htc);}
.main-product-realitybtn-img{position: relative;top:3px;margin-left: 10px;}
.main-product-realitybtn2{width: 379px;height: 68px;margin:0 auto;background: url(../../../images/activity/pk1213/main12.png) no-repeat center;text-align: center;}
.main-product-realitybtn2copy{background: url(../../../images/activity/pk1213/main14.png) no-repeat center;}
.main-product-realitybtn2-span{font-size: 24px;color: #fff;line-height: 68px;margin-right: 58px;}
.main-product-realitybtn2 .main-product-realitybtn2-btn{font-size: 18px;color: #f3264c;display: inline-block;width: 116px;height: 36px;background: url(../../../images/activity/pk1213/main15.png) no-repeat center;line-height: 36px;text-align: center;}
.main-product-contentment{width: 465px;height: 315px;float: right;padding-top: 50px;}
.main-product-contentmentbtn{width: 108px;height: 28px;position: relative;background: #c7165f;color: #fff;cursor: pointer;text-align: center;line-height: 28px;font-size: 14px;margin:18px auto 36px;
				-webkit-border-radius: 28px;
				/*webkit内核， Chrome*/
				-moz-border-radius: 28px;
				/*mozilla内核 Firefox*/
				border-radius: 28px;
				/*IE*/
				/*一定不要忘记behavior属性*/
				behavior: url(../pk1213/PIE.htc);}
/*投资说明*/
.main-description{width: 1200px;height: 278px;margin:0 auto;}
.main-description-title{width: 293px;height: 83px;margin:0 auto;background: url(../../../images/activity/pk1213/main16.png) no-repeat center;color: #fff;line-height: 83px;text-align: center;font-size: 36px;font-weight: 600;}
.main-description-bg{width: 1200px;height: auto;margin:22px auto 24px;text-align: center;}
.main-description-txt{width: 1200px;height: 64px;margin:0 auto;}
.main-description-tcon{width: 320px;height: 64px;float: left;margin-left: 66px;}
.main-description-tconi{float:left;width: 78px;height: 64px;font-size: 70px;color: #fff;font-weight: 900;line-height: 64px;}
.main-description-tconspan{float:right;width: 230px;height: 64px;font-size: 18px;color: #fff;line-height: 32px;padding-left: 12px;}
.main-descriptionb{color: #fffc05;}
/*奖励说明*/
.main-reward{width: 1200px;height:539px ;background: url(../../../images/activity/pk1213/main18.png) no-repeat center right;margin:0 auto;position: relative;}
.main-reward-img{position: absolute;left: -18px;top: 228px;}
.main-reward-title{width: 300px;font-size: 60px;color: #1acbf7;font-weight: 900;text-align: right;height: 126px;line-height: 126px;margin: 0 auto;}
.main-reward-content{width: 652px;min-height: 100px;margin:64px auto 0;overflow:hidden;}
.main-reward-tconi{width: 136px;font-size: 48px;color: #1acbf7;line-height: 60px;float: left;font-weight: 600;}
.main-reward-tconspan{float:left;width: 510px;height: auto;font-size: 18px;color: #1acbf7;line-height: 36px;}
/*活动规则*/
.activity-rule{width: 100%;min-height: 100px;margin:0 auto;background: #162a8d;padding:70px 0 286px 0;}
.activity-rule-content{width: 1200px;height: 817px;background: url(../../../images/activity/pk1213/rule1.png) no-repeat 16px center;margin:0 auto;position: relative;}
.activity-rule-img1{position: absolute;left: -52px;top: 556px;}
.activity-rule-img2{position: absolute;right: -32px;top:395px;}
.activity-rule-title{width: 300px;font-size: 60px;color: #ec146e;font-weight: 900;text-align: right;height: 126px;line-height: 126px;margin: 0 auto;}
.activity-rule-txt{width: 675px;min-height: 100px;margin:70px auto 0;font-size: 24px;color: #ff9fc3;line-height: 44px;padding-left: 34px;}

/*遮罩层*/
.tan-bg{display:none;width: 100%;height: 100%;position: fixed;top: 0;left: 0;background: #000;filter: alpha(opacity=50);-moz-opacity: 0.5;-khtml-opacity: 0.5;opacity: 0.5;z-index: 5;}
.popup-window{display:none;width: 420px;height:480px;position: fixed;top: 0;left: 0;bottom:0;right:0;margin:auto;background: #fff;z-index: 6;
				-webkit-border-radius: 10px;
				/*webkit内核， Chrome*/
				-moz-border-radius: 10px;
				/*mozilla内核 Firefox*/
				border-radius: 10px;
				/*IE*/
				/*一定不要忘记behavior属性*/
				behavior: url(../pk1213/PIE.htc);}
.popup-title{width: 100%;height: 100px;font-size: 24px;color: #84012b;text-align: center;line-height: 116px;font-weight: 600;}
.popup-close{width: 48px;height: 37px;text-align: center;border-radius: 50%;background: #f4554d;cursor: pointer;text-align: center;padding-top: 11px;position: absolute;top:-20px;right: -20px;}
.popup-titleimg{position: relative;top:12px;margin-right: 12px;}
.popup-catalog{width: 100%;height: 52px;background: #f2f2f2;margin:0 auto;text-align: center;font-size: 18px;color: #3d3d3d;line-height: 52px;}
.popup-catalog-num{width: 220px;height: 100%;float: left;margin-left: 35px;}
.popup-catalog-money{width: 142px;height: 100%;float: left;}
.popup-content{width: 100%;height: 320px;overflow-y:auto ;margin:0 auto;}
.popup-content-box{width: 364px;min-height: 10px;margin-left: 35px;}
.popup-content-box li{width: 100%;height: 60px;border-bottom: 1px solid #f2f2f2;margin:0 auto;text-align: center;font-size: 18px;}
.popup-content-ranking{width: 220px;height: 100%;float: left;position: relative;color: #3d3d3d;}
.popup-content-rankingimg{position: absolute;top:14px;left: 37px;display: inline-block;width: 25px;height: 31px;line-height: 31px;}
.popup-content-rankingimg img{display: inline-block;}
.popup-content-rankingname{line-height: 60px;}
.popup-content-money{width: 142px;height: 100%;float: left;color: #f4554d;line-height: 60px;}

/*提示框*/
.alert_listthree{width:574px;_height:100px;min-height:100px;background:#fff;display: none;z-index: 11;padding-bottom: 20px;left: 50%;top: 50%;margin-left: -287px!important;margin-top: -116px!important;margin-top: 0px;position: fixed!important;overflow:hidden;}
.alert_listthree_h3{width:574px;height:47px;background:#f6f6f6;line-height: 47px;font-size: 16px;color:#666666;text-align: center;}
.alert_listthree_btn{margin-left: 81%;}
.alert_listthree .alert_listthree_txt{font-size: 16px;color:#333;width:480px;_height:50px;min-height:50px;overflow:hidden;line-height: 36px;padding:35px 46px 35px 46px;text-align:center;}
.alert_listthree_btnd{width:574px;height:46px;margin:0 auto;}
.alert_listthree_btnd .alert_listthree_btnl{width:180px;height:44px;background:#ff6633;display: block;text-align: center;line-height: 44px;color:#fff;margin:0 auto;border-radius: 4px;}






