#Html("begin")
#GenHead("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadGenCSS("/resources/gen2.0/styles/login_header")
#LoadGenJS("/resources/gen2.0/scripts/echarts")
#LoadGenJS("/resources/gen2.0/scripts/switchable")
#LoadGenJS("/resources/gen2.0/scripts/textSlider")
#LoadGenJS("/resources/gen2.0/scripts/index_style")
#LoadGenCSS("/resources/gen2.0/styles/recharge/recharge_first")
#GenHead("end")
	<body>
		<!--header -s-->
		#Gen2Header("assets")
		<div class="con_gmcg">
			<div class="con_gcg_fail">
				<div class="con_gcbuttom">
					<p>奖励金转余额未成功!</p>
					<p style="height: 10px;"></p>
					<p>
						#if("$!errorMsg" != "")
							<li >$!errorMsg</li>
						#elseif("$!errorMsg" == "")
							<li >系统励金转余额处理异常</li>
						#end
					</p>
					<p><button style="cursor:pointer;" id="go_assets" url="$!env.get('gen.server.web')/gen2.0/assets/assets">完成</button></p>
				</div>
			</div>
		</div>
		<script >
			$("#go_assets").click(function(){
				location.href = $(this).attr('url');
			});
        </script>
		
		<!--footer-->

<!--footer -s-->
#Gen2Footer()
<!--footer -e-->
#Html("end")