<input type="hidden" id="totalPast" name="totalPast" value="$!totalPast">
#foreach($paymentPlant in $!resMsgPaymentPlant.paymentPlantPastList)
<li class="money_play_tr_title_li clearfix">
    <div class="money_play_td"><span>$!paymentPlant.planDate</span></div>
    <div class="money_play_td"><span>$!money.format($!paymentPlant.repayScheduleTotalAmount)</span></div>
    <div class="money_play_td money_play_color"><span>$!money.format($!paymentPlant.planTotalRepaied)</span></div>
    <div class="money_play_td"><span>$!money.format($!paymentPlant.receivableAmount)</span></div>
    <div class="money_play_td" onclick ="details(this)" dataTime="$!paymentPlant.planDate"><a href="javascript:;" class="money_play_tr_title_spanbtn">详情</a></div>
</li>
#end