#LoadGenJS("/resources/gen2.0/scripts/assets/return_path")
<div class="rig2_6" id="return_path_div">
	<p class="rig2_p6">回款路径</p>
	<div class="rig2_6top">
	<ul>
		#if($!returnPath == "2")
		<li class="rig2_6li1 return_path_li" card_id="" bankName="账户余额" card_no="">
			<span><img src="$!env.get('gen.server.web')/resources/gen2.0/images/help_zhye.png"></span>
				账户余额<em>回款至余额，方便随时投资</em><b>
					<span class="yuan"></span></b>
		</li>
		#if("$!bankName" != "")
		<li class="rig2_6li2 return_path_li" card_id="" bankName="账户余额" card_no="">
			<span><img src="$!env.get('gen.server.web')/resources/gen2.0/images/abc.png"></span>
				$!bankName<em>**** **** **** $!string.right($!cardNo, 4)</em><b>已选择
					<span class="yuan" style="border-color: rgb(255, 255, 255); background: url($!env.get('gen.server.web')/resources/gen2.0/images/duih.png) no-repeat;"></span></b>
		</li>
		#end
		#else
		<li class="rig2_6li1 return_path_li" card_id="$!cardId" bankName="$!bankName" card_no="$!string.right($!cardNo, 4)">
			<span><img src="$!env.get('gen.server.web')/resources/gen2.0/images/help_zhye.png"></span>
				账户余额<em>回款至余额，方便随时投资</em><b>已选择
					<span class="yuan" style="border-color: rgb(255, 255, 255); background: url($!env.get('gen.server.web')/resources/gen2.0/images/duih.png) no-repeat;"></span></b>
		</li>
		#if("$!bankName" != "")
		<li class="rig2_6li2 return_path_li" card_id="$!cardId" bankName="$!bankName" card_no="$!string.right($!cardNo, 4)">
			<span><img src="$!env.get('gen.server.web')/resources/gen2.0/images/abc.png"></span>
				$!bankName<em>**** **** **** $!string.right($!cardNo, 4)</em><b><span class="yuan"></span></b>
		</li>
		#end
		#end
	</ul>
	</div>
	<div class="rig2_6bottom">
		<p class="rig2_p6bot">回款路径说明：</p>
		<dl class="rig2_6dl">
			<dt class="rig2_6dt1">1、回款说明及规则<br/>设置回款路径后，资金将自动回款至安全卡或账户余额</dt>
			<dt>2、回款至账户余额<br/>设置完成后，投资到期后资金将于1天-3天内回款至账户余额<br/>注：您可以将账户余额提现至回款银行卡，或再次购买理财产品</dt>
			<dt>3、回款至安全卡<br/>设置完成后，投资到期后资金将回款至安全卡，预计将1天-3天内到账</dt>
		</dl>
	</div>
</div>