#Html("begin")
#GenHead("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadGenCSS("/resources/gen2.0/styles/login_header")
#LoadGenJS("/resources/gen2.0/scripts/echarts")
#LoadGenJS("/resources/gen2.0/scripts/switchable")
#LoadGenJS("/resources/gen2.0/scripts/textSlider")
#LoadGenJS("/resources/gen2.0/scripts/index_style")
#LoadGenCSS("/resources/gen2.0/styles/recharge/recharge_first")
#LoadGenJS("/resources/gen2.0/scripts/recharge/recharge_first")
#GenHead("end")
<body>
<!--header -s-->
	#Gen2Header("assets")
<div class="trade_result">
    <div class="trade_result_bg"></div>
    <div class="trade_result_content">
        <p>提现未成功!</p>
        <p class="color_font">$!resMsg</p>
        <div class="trade_result_btn">
            <button style="cursor:pointer;" id="go_assets" url="$!env.get('gen.server.web')/gen2.0/assets/assets">返回重试</button>
        </div>
    </div>
</div>
<script >
    $("#go_assets").click(function(){
        location.href = $(this).attr('url');
    });
</script>

	#Gen2Footer()
</body>

#Html("end")