.pageContent{width:100%;}
.page_tday{ width:100%; height:auto;margin:10px 0px;}
.hf_page_tday{ width:100%; height:auto;margin:10px 0px;}
.tady_bor{ width:auto;height:auto;display:inline-block; margin:10px; border-radius:6px;}
.tady_title{ font-size:18px; display: block;padding: 6px 20px; border-radius: 6px 6px 0px 0px; box-shadow:0 0px 13px #CDCDCD;position: relative;
    z-index: 2; text-align:center;padding-top:10px;background:#ff9900; color:white;}
.con_num{ text-align:center;padding:24px 12px 20px; background:#ff9900;    border-radius: 0px 0px 6px 6px;}
/*.con_num_button{ text-align:center;padding:12px 6px 10px; background:#0097ff;    border-radius: 0px 0px 6px 6px;}*/
.con_num_button_baofoo{ text-align:center;padding:12px 6px 10px; background:#0097ff;    border-radius: 0px 0px 6px 6px;cursor:pointer;}
.con_num_button_hfBank{ text-align:center;padding:12px 6px 10px; background:#D3D3D3;    border-radius: 0px 0px 6px 6px;cursor:pointer;}
.num_big{font-size:48px; color:white;}
.num_small{font-size:22px;padding-left:10px;}
.total_num{text-align:center;padding: 10px; border-top:1px solid #999999;}
.total_big{font-size:19px;}
.total_small{font-size:20px;}
.page_yday{ width:100%; height:auto;margin:10px 0px;}
/*第二*/
.tady_two_bg{ background:#ff5454; color:white;border-radius: 0px;}
.border_bottom{ border-radius:0px 0px 6px 6px;}
.border_top{ border-radius:6px 6px 0px 0px;}
/* 第三 */
.thr_bg{background:#4c8dee;color:white;}
.tabsPage .tabsPageContent{overflow:scroll;}

.four_bg{background:#ff9899;color:white;}
.five_bg{background:#00cc65;color:white;}

.six_bg{background:#CFB53B;color:white;}

.seven_bg{background:#FF00FF;color:white;}

.free_bg{background:#3CB371;color:white;}

