.tickets{
    background: #ffffff;
    padding: 20px;
    margin-bottom: 60px;
}
.tickets_title{
    height: 39px;
    border-bottom: solid 1px #e5e5e5;
    margin-bottom: 30px;
    position: relative;
}
.tickets_title ul li{
    height: 40px;
    line-height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: solid 1px #e5e5e5;
    float: left;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
    background: #fff;
    cursor: pointer;
}
.tickets_title .tickets_title_focuse{
    border:  solid 1px #e5e5e5;
    border-top: solid 2px #ff6633;
    border-bottom: none;
}
.tickets_filter{
    padding-bottom: 15px;
    border-bottom: solid 1px #e5e5e5;
    margin-bottom: 20px;
}
.tickets_filter>ul>li{
    float: left;
    padding-right: 30px;
    font-size: 14px;
    color: #666;
    line-height: 16px;
    cursor: pointer;
}
.tickets_filter>ul>li .filter_dot{
    float: left;
    border: solid 1px #e5e5e5;
    width: 16px;height: 16px;
    padding: 3px;
    box-sizing: border-box;
    margin-right: 10px;
}
.tickets_filter>ul>li .filter_dot span{
    display: block;
    height: 8px;
}
.tickets_filter>ul>li.focuse .filter_dot span{
    background: #ff6633;
}
.tickets_list{
    display: none;
}
.tickets_list .col-6{
    padding: 0 10px;
}
.tickets_card{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    background: #f5f5f5;
    box-sizing: border-box;
}
.card_abled{
	background:#FF8F33;
    background-image: linear-gradient(to bottom,#FF8F33,#ff6633);
}
.list_show{
    display: block;
}
.tickets_card_top{
    background: #ffffff;
    line-height: 40px;
    height: 40px;
    font-size: 14px;
    padding: 20px 30px;
    position: relative;
    border:solid 1px #e5e5e5;
    border-bottom: dashed 1px #e5e5e5;
    color: #999;
    font-weight:bold;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.card_abled .tickets_card_top{
    background: transparent;
    border: none;
    border-bottom: dashed 1px #ffffff;
    color: #fff;
}
.tickets_lines{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-image: url(../../images/red_pack/tickets_card_dis_bg.png);
    z-index: 0;
}
.card_abled .tickets_lines{
    background-image: url(../../images/red_pack/tickets_card_able_bg.png);
}
.tickets_card_top .tickets_card_gap{
     position: absolute;
     width: 16px;height: 16px;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     border-radius: 8px;
     bottom: -8px;
     background: #ffffff;
     border: solid 1px #e5e5e5;
     box-sizing: border-box;
 }
.card_abled .tickets_card_top .tickets_card_gap{
    position: absolute;
    width: 16px;height: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    bottom: -8px;
    background: #ffffff;
    border: none;
}
.tickets_card_top .tickets_card_num{
    float: left;
    color: #999;
    height: 40px;
    font-size: 24px;
}
.card_abled .tickets_card_top .tickets_card_num{
    color: #fff;
}
.card_abled .tickets_card_top .tickets_card_num strong{
    font-size: 36px;
    display: inline-block;
    line-height: 40px;
}
.tickets_card_bottom{
    padding: 20px 30px 10px;
    border: solid 1px #e5e5e5;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.card_abled .tickets_card_bottom{
    border: none;
}
.tickets_card_bottom h5{
    font-size: 16px;
    color: #999;
    font-weight:bold;
    margin-bottom: 15px;
    text-align: left;
}
.card_abled .tickets_card_bottom h5{
    color: #ffffff;
}
.tickets_card_bottom .tickets_rule,.tickets_card_bottom .tickets_rule li{
    list-style: square;
    padding-left: 15px;
    box-sizing: border-box;
    text-align: left;
}
.tickets_card_bottom ul>li.tickets_rule_li{
    float: left;
    width: 54%;
    color: #999;
    font-size: 12px;
    margin-bottom: 15px;
    padding-left: 0;
}
.tickets_card_bottom ul>li.tickets_rule_licopy{
    float: left;
    width: 46%;
    color: #999;
    font-size: 12px;
    margin-bottom: 15px;
    padding-left: 0;
}
.card_abled .tickets_card_bottom ul>li{
    color: #ffffff;
}
.packet_tips{
    line-height: 20px;
    margin: 20px 0;
    width: 100%;
    font-size:14px;
    color: #999;
    text-align: center;
    float: left;
}
.packet_tips>span{
    position: relative;
    margin: 0 15px;
    width: 30px;
    height: 1px;
    display: inline-block;
    top:-5px;
    background: #999;
}

/*分页相关*/
.main_cr_fenye{width:100%;margin-top: 0}
.main_cr_fenye_div{width:100%;text-align:center;}
.paging_navbtn {display: inline-block;
    padding: 5px 9px;
    background: #e4e9ed;
    font-size: 12px;
    color: #333;
    cursor: pointer;
    margin-right: 6px;
    line-height: normal;
    border-radius: 6px;
}
.paging_navcolor {
    background: #f0632f;
    color: #fff;
}
.show_text {
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin: 0 0 25px 0;
    color: gray;
}
.show_text_over {
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin: 0 0 25px 0;
    color: gray;
}

.null_redpack{width:100%;text-align:center;font-size:16px;color:#999;line-height:50px;padding:70px 0;}


/**************************************新增加息券********************************************/
.increase_detail{
    position: absolute;
    right: 0;
    bottom: 8px;
    height: 20px;
}
.increase_detail a{
    font-size: 16px;
    color: #666;
}
.increase_detail a:hover{
    font-size: 16px;
    color: #FF6633;
}
.tickets_categroy .tickets_show{
    display: block;
}
.tickets_container{
    display: none;
}
.Increase_card{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.Increase_card>.Increase_card_gap{
    width: 14px;
    height: 14px;
    top: 70px;
    z-index: 5;
}
.Increase_card_top{
    background: url(../../images/red_pack/increase_disable_bg.png);
    line-height: 36px;
    height: 36px;
    font-size: 14px;
    padding: 20px 30px;
    position: relative;
    color: #999;
    font-weight: bold;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.Increase_card_top .Increase_card_num{
    font-size: 24px;
    line-height: 36px;
    float: left;
    height: 36px;
}
.Increase_abled .Increase_card_top{
    color: #fff;
}
.Increase_abled .Increase_card_top{
    background: url(../../images/red_pack/increase_bg.png);
}
.Increase_card_gap{
    position: absolute;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    bottom: -8px;
    background: #ffffff;
    border: none;
}
.Increase_card_bottom{
    padding: 20px 30px 10px;
    border: solid 1px #e5e5e5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
}
.Increase_card_bottom h5{
    font-size: 16px;
    font-weight: bold;
    color: #666;
    margin-bottom: 10px;
    line-height: 20px;
}
.Increase_rule, .Increase_rule_li{
    list-style: square;
    padding-left: 15px;
    box-sizing: border-box;
    text-align: left;
}
.Increase_rule .Increase_rule_li{
    font-size: 12px;
    color: #999;
    margin-bottom: 10px;
    padding-left: 0;
}
.Increase_help{
    display: none;
    text-align: left;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: solid 1px #e5e5e5;
    padding: 10px 15px;
    line-height: 15px;
    font-size: 12px;
    color: #999;
    width: 200px;
    left: -92px;
    bottom:30px;
    background: #f5f5f5;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.Increase_mark{
    background: #e5e5e5;
    color: #fff;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 2;
}
.Increase_mark:hover{
    background: #ffc33c;
}
.Increase_mark:hover .Increase_help{
    display: block;
}
.Increase_abled .Increase_card_top a{
    color: #fff;
}
.Increase_abled .Increase_card_top a:hover{
    color: #fff;
}
.help_triangle{
    position: absolute;
    left: 50%;
    bottom: -8px;
    margin-left: -7px;
}

.gap_wrap{
    position: absolute;
    width: 9px;
    height: 18px;
    overflow: hidden;
    bottom: -9px;
    z-index: 1;
}
.gap_wrap_left{
    left: 0;
}
.gap_wrap_left .tickets_card_gap{
    left: -9px;
}
.gap_wrap_right{
    right: 0;
}
.gap_wrap_right .tickets_card_gap{
    right: -9px;
}
.tickets_card_gap {
    position: absolute;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #ffffff;
    border: solid 1px #e5e5e5;
    box-sizing: border-box;
}
.card_abled .tickets_card_top a{
    color: #fff;
}
.card_abled .tickets_card_top a:hover{
    color: #fff;
}

    /*分页*/
.fenye{height:30px;line-height: 30px; text-align:center;margin-top:20px;}
.fenye a{float: left;display: inline-block;font-size: 14px;color:#666;background-color:#fff;border:1px solid #e4e4e4;}
.fy_l{width:70px;box-sizing:border-box;height:30px;background:url(../../images/fenye_left.png) no-repeat 15px 9px;padding-left: 15px;margin-right:10px;}
.fy_ll{width:30px;height:30px;box-sizing:border-box;background:url(../../images/fenye_left.png) no-repeat center;margin-right:10px;}
.fenye .fy_c{width:30px;height:30px;border-left: 1px solid #e4e4e4;border-right: 1px solid #e4e4e4;color:#999;text-align: center;margin-right:10px;box-sizing:border-box;}
.fy_rr{width:30px;height:30px;background:url(../../images/fenye_right.png) no-repeat center;box-sizing:border-box;margin-right:10px;}
.fy_r{width:70px;height:30px;background:url(../../images/fenye_right.png) no-repeat 49px 9px;padding-right: 15px;box-sizing:border-box;}

.fenye_wrap{
    display:inline-block;
}

.fenye .fenye_wrap .fy_atpage{
    background:#ff6633;
    border:none;
    color:#fff;
}
