#Html("begin")
#GenHead("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadGenCSS("/resources/gen2.0/styles/login_header")
#LoadGenJS("/resources/gen2.0/scripts/echarts")
#LoadGenJS("/resources/gen2.0/scripts/switchable")
#LoadGenJS("/resources/gen2.0/scripts/textSlider")
#LoadGenJS("/resources/gen2.0/scripts/index_style")
#LoadGenJS("/resources/gen2.0/scripts/fix")
#GenHead("end")
	<body>
	<!--header -s-->
	#Gen2Header('safe')
	<!--header -e-->
		<!--</div>-->
		
		<div class="con_safe">
			<ul class="scon_ul">
				<li class="sul_1" id="sul_1">
					<img src="$!env.get('gen.server.web')/resources/gen2.0/images/safe1.jpg">
					<div class="gd">
						<div class="sul_z"></div>
						<dl class="sul_dl">
							<dt><a class="safe_co" href="#sul_1" title="">规范的资金托管</a></dt>
							<dt><a class="safe_co" href="#sul_2" title="">强大的风险模型</a></dt>
							<dt><a class="safe_co" href="#sul_3" title="">极致的催收保障</a></dt>
						</dl>
					</div>
				</li>
				<li class="sul_2"><span></span>
					<p class="sul_p2">北京一九付支付科技有限公司为币港湾提供资金托管服务，通过控制资金的使用权限和调拨流程，使币港湾的信息流与资金流完全分离开，再由一九付独立的风控人员，通过定制的风控建模系统，对币港湾的资金调拨情况进行风险评级和风险告警，为广大投资人的资金安全提供第一道防火墙。<br />目前币港湾正在与中信银行进行托管账户的系统测试，测试完成后将会对账户及资金进行全业务的托管及清算。</p>
				</li>
				<li class="sul_3" id="sul_2"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/safe2.jpg"></li>
				<li class="sul_4">
					<p class="sul_p4">币港湾对接达飞财富等各大公司的优质债权，这些债权的风控既有线下面签、地面催收的传统优势，又对接有“前海征信、同盾科技、星云大数据风控系统、鹏元征信、FICO”等知名的反欺诈及征信大数据系统，具备互联网金融在大数据方面的强大风控优势：<br />一方面币港湾的背后拥有海量用户数据（这些数据包括电商大数据、信用卡大数据、社交网站大数据、小额贷款大数据、第三方支付大数据以及生活服务类大数据等）；另一方面，通过合作方十数年的强大IT技术积累，能在这些大数据的基础上为目标客户人群建立信用评级体系；利用这些体系的交叉核对，可对目标客户的行为习惯、生活习惯、消费习惯进行分析，快速排斥高风险用户、甄别优质信用客户；而针对疑点用户，合作方则通过利用人工面签的信审方式，通过用户的访谈沟通，来进行信息的二次核对。以上自动信审和人工信审的双重保障，数据整合、大数据分析相结合的方式，能在保证用户信息精准性和可追踪性的同时，大幅提升用户违约成本、有效防范和降低借款风险。</p><span></span>
				</li>
				<li class="sul_5" id="sul_3"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/safe3.jpg"></li>
				<li class="sul_6"><span></span>
					<p class="sul_p6">作为风险管理的最后一环，币港湾执行不良资产预警催收一体化的处理模式。通过数据分析目标客户的属性，提前预测逾期用户的范围，配置对应、高效的催收策略，实现快速响应逾期用户的催收工作；同时，基于大数据的分析基础，结合风控决策引擎变量，通过对逾期用户的个人变量属性进行分群，配合各个分群的最优化催收规则集组合，迅速锁定逾期用户痛点，并合理采用循序渐进的线上、线下相结合催收方式，实现逾期用户的客制化催收，高效解决不良资产带来的坏账风险。</p>
				</li>
			</ul>	
		</div>
	
	<!--footer -s-->
	#Gen2Footer()
	<!--footer -e-->
	</body>
#Html("end")
