body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:14px;
  top:30px;
  width:356px;
  height:515px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:515px;
}
#u1 {
  position:absolute;
  left:2px;
  top:250px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:142px;
  top:59px;
  width:112px;
  height:31px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:31px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:153px;
  top:63px;
  width:127px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:26px;
  top:125px;
  width:328px;
  height:35px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:35px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:34px;
  top:134px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:141px;
  top:138px;
  width:67px;
  height:16px;
  color:#CCCCCC;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:15px;
  top:230px;
  width:355px;
  height:120px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:120px;
}
#u13 {
  position:absolute;
  left:2px;
  top:52px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:174px;
  top:364px;
  width:41px;
  height:23px;
  font-family:'黑体 Regular', '黑体';
  font-size:20px;
  color:#3594FE;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:15px;
  top:170px;
  width:355px;
  height:280px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:280px;
}
#u17 {
  position:absolute;
  left:2px;
  top:132px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:16px;
  top:220px;
  width:354px;
  height:50px;
  font-size:18px;
  color:#FF0000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:14px;
  width:350px;
  word-wrap:break-word;
}
