<form id="pagerForm" method="post" action="#rel#">
	<input type="hidden" name="userId" value="$!req.userId" />
	<input type="hidden" name="pageNum" value="$!req.pageNum" />
	<input type="hidden" name="numPerPage" value="$!req.numPerPage" />
	<input type="hidden" name="orderField" value="$!req.orderField" />
	<input type="hidden" name="orderDirection" value="$!req.orderDirection" />
</form>

<div class="pageHeader">
	<form rel="pagerForm" id="myform" class="pageForm required-validate" onsubmit="return navTabSearch(this);" action="$env.getWebURL('/bsuserRegister/index.htm')" method="post">
		<input type="hidden" name="numPerPage" value="$!req.numPerPage" />
		<input type="hidden" id="APP_ROOT_PATH" value="$!env.getWebURL('')"/>
		<input type="hidden" name="pageNum" value="$!req.pageNum" />
		<input type="hidden" name="totalRows" value="$!totalRows" />
	<div class="searchBar">
			<table class="searchContent">
				<tr>
					<td>
					         注册日期：<input name="SregistTime" maxdate="{%y}-%M-{%d}"   type="text"  id="SregistTime" class=" date textInput readonly" readonly="true"   value="$!date.formatYYYYMMDD($!req.sregistTime)" /> 到
							 <input name="EregistTime" maxdate="{%y}-%M-{%d}"  type="text"id="EregistTime" class=" date textInput readonly" readonly="true"   value="$!date.formatYYYYMMDD($!req.eregistTime)" />
						绑卡状态：
						<select name="bankStatus" >
                        	<option value="" #if("$!req.bankStatus"=="") selected #end>全部</option>
							<option value=-1 #if("$!req.bankStatus"==-1) selected #end>未绑定</option>
    						<option value="1" #if("$!req.bankStatus"=="1") selected #end>正常</option>
    						<option value="2" #if("$!req.bankStatus"=="2") selected #end>禁用</option>
    						<option value="3" #if("$!req.bankStatus"=="3") selected #end>绑定中</option>
							<option value="4" #if("$!req.bankStatus"=="4") selected #end>绑定失败</option>
							<option value="5" #if("$!req.bankStatus"=="5") selected #end>已解绑</option>
                        </select>
						<a class="add" href="$env.getWebURL('/agent/agent_list.htm')" target="dialog" mask="true" rel="createBack" height="390" width="600"><span><button type="button">选择渠道</button></span></a>
                        <input type="hidden" id="agentTotal" name="agentTotal" value="$!agentTotal"/>
                        <input type="hidden" id="agentIds" name="agentIds" value="$!req.agentIds"/>
                        <input type="hidden" id="nonAgentId" name="nonAgentId" value="$!req.nonAgentId"/>
						<span style="margin-left:20px;">
							<button onclick="func()" type="button">查询</button>
							<button  onclick="exp()" type="button">导出excel</button>
						</span>
						
					</td>
				</tr>
				
			</table>
	
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
		</ul>
	</div>
	<table class="table" width="1396" layoutH="188">
		<thead>
			<tr>
				<th width="8%">回访记录</th>
				<th width="4%">姓名</th>
				<th width="4%">手机号</th>
				<th width="8%">渠道来源</th>
				<th orderfield="register_time"  class=#if("$!register_time" != "") $!register_time #else "asc" #end width="10%">注册日期</th>
				<th width="5%">银行名称</th>
				<th width="5%">绑卡状态</th>
				<th width="4%">投资次数</th>
				<th width="3%">年龄</th>
				<th width="3%">性别</th>
				<th orderfield="recent_buyTime"  class=#if("$!recent_buyTime" != "") $!recent_buyTime #else "asc" #end width="10%">最近一次投资时间</th>
				<th orderfield="first_buy_time"  class=#if("$!first_buy_time" != "") $!first_buy_time #else "asc" #end width="10%">首次投资时间</th>
				<th width="8%">近3个月投资次数</th>
				##<th orderfield="total_balance"  class=#if("$!total_balance" != "") $!total_balance #else "asc" #end width="6%">账户余额</th>
						
				<th orderfield="account_balance"  class=#if("$!account_balance" != "") $!account_balance #else "asc" #end width="6%">账户余额</th>
			</tr>
		</thead>
		<tbody>
			#foreach($grid in $users)
			<tr target="sid_user" rel="1">
				<td>
					<a title="查看" target="navtab" href="$env.getWebURL('/bsuser/checkRecord.htm?userId=')$grid.id" class="btnLook">编辑</a>
					<div class="panelBar">	
                		<ul class="toolBar">
                			<li><a class="add" href="$env.getWebURL('/bsuser/addRecord.htm')?userId=$!grid.id&userName=$!grid.userName" target="dialog" mask="true" rel="createBack" height="665" width="720"><span>新增</span></a></li>
                			<li class="line">line</li>
                		</ul>
                	</div>
				</td>
				<td>$!grid.name</td>
				<td>$!grid.mobile</td>
				<td>$!grid.agentName</td>
				<td>$!date.format($!grid.registTime)</td>
				<td>#if("$!grid.bankName" != "") $!grid.bankName#end</td>
				<td>
					#if("$!grid.bankStatus" == 1)
						 正常
					#elseif("$!grid.bankStatus" == 2)
						禁用
					#elseif("$!grid.bankStatus" == 3)
						绑定中
					#elseif("$!grid.bankStatus" == 4) 
						绑定失败
					#elseif("$!grid.bankStatus" == 5)
					          已解绑
					#else
						未绑定
					#end
				</td>
				<td width="70">$grid.investmentTimes</td>
				<td width="70">
					#if($!grid.age == 0)
					#else $!grid.age
				    #end
				</td>
				<td width="70">$!grid.gender</td>
				<td width="70">$!date.format($grid.recentBuyTime)</td>
				<td>$!date.format($!grid.firstBuyTime)</td>
				<td width="70">$!grid.threeInvestmentTimes</td>
				<td ><div class="gridCol">$!money.format($!grid.accountBalance)</div></td>
			</tr>
			#end
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage" onchange="navTabPageBreak({pageNum:1,numPerPage:this.value})">
				<option #if("$!req.numPerPage" == "20") selected #end value="20">20</option>
				<option #if("$!req.numPerPage" == "50") selected #end value="50">50</option>
				<option #if("$!req.numPerPage" == "100") selected #end value="100">100</option>
				<option #if("$!req.numPerPage" == "200") selected #end value="200">200</option>
			</select>
			<span>条，共$!totalRows条</span>
		</div>
		
		<div class="pagination" targetType="navTab" totalCount="$!totalRows" numPerPage="$!req.numPerPage" currentPage="$!req.pageNum"></div>

	</div>
</div>
#LoadJS("/resources/js/global_validate")
<script>
function func(){
	var beginTime = $("#SregistTime").val();
	var overTime = $("#EregistTime").val();
	if(beginTime != "" && overTime == ""){
		alert("请输入结束时间！");
		return false;
	}
	if(beginTime == "" && overTime != ""){
		alert("请输入开始时间！");
		return false;
	}
	if(beginTime != "" && overTime != ""){
		var result = Date.parse(overTime.replace(/-/g,"/"))- Date.parse(beginTime.replace(/-/g,"/"));
		if(result < 0){
			alert("开始时间不能在结束时间之后！！");
			return false;
		}
		if(result/86400000 > 30){
			alertMsg.warn("结束时间和开始时间间隔不能超过30天！");
			return;
		}
	}
	var url = $("#APP_ROOT_PATH").val() + "/bsuserRegister/index.htm";
	$("#myform").attr("action",url);
	$("#myform").attr("onsubmit","return navTabSearch(this);");
	$("#myform").submit();
}

function exp(){
	var beginTime = $("#SregistTime").val();
	var overTime = $("#EregistTime").val();
	if(beginTime != "" && overTime == ""){
		alert("请输入结束时间！");
		return false;
	}
	if(beginTime == "" && overTime != ""){
		alert("请输入开始时间！");
		return false;
	}
	if(beginTime != "" && overTime != ""){
		var result = Date.parse(overTime.replace(/-/g,"/"))- Date.parse(beginTime.replace(/-/g,"/"));
		if(result < 0){
			alert("开始时间不能在结束时间之后！！");
			return false;
		}
		if(result/86400000 > 30){
			alertMsg.warn("结束时间和开始时间间隔不能超过30天！");
			return;
		}
	}
	var url = $("#APP_ROOT_PATH").val() + "/bsuserRegister/exportXls.htm";
	$("#myform").attr("action",url);
	$("#myform").attr("onsubmit","");
	$("#myform").submit();
}
</script>