#Html("begin")
#GenHead("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadGenCSS("/resources/gen2.0/styles/activity/default")
#LoadGenCSS("/resources/gen2.0/styles/activity/yearEndDraw2016/meeting")

#LoadGenJS("/resources/gen2.0/scripts/common/jquery")
#LoadGenJS("/resources/gen2.0/scripts/activity/yearEndDraw2016/index")
#LoadGenJS("/resources/gen2.0/scripts/activity/yearEndDraw2016/meeting")

##GenHead("end")
<body class="body">
	##Gen2Header("home")
    <input type="hidden" id="APP_ROOT_PATH_GEN" value="$!env.get('gen.server.web')"/>
	<input type="hidden" id="scrollLlist" value="$!scrollLlist"/>
	
		<!--banner-->
		<div class="banner"></div>
		<!--main-->
		<div class="main_cont"></div>
		<body class="body">
		<div class="maincommon">
			<div class="mainconter">
				<div class="main-txt">
					<div class="main_ct1">
						<div class="bantitle"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/title.png" class="bantitleimg" /></div>
                       
						<div class="maincommon-content">
                            <!--幸运奖-->
                            <div class="maincontent" style="display: block;">
                                <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/maincontentbg.png" class="maincontentimg" />
                                <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/lucky1.gif" class="mainluckyimg" />
                                <h3 class="maincontent-title">
                                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/contenttitle.png" class="maincontent-titleimg"/>
                                    <div class="main-prize">幸运奖</div>
                                    <div class="main-prizeing">准备抽奖</div>
                                </h3>
                                <div class="main-number">
                                    <!--幸运奖-->
                                    <div class="main-number15  main-numbert">
                                        <ul class="main-number15ul main-numberc" id="box">
                                        </ul>
                                     </div>
                                </div>
                                <div class="main-prize-btn">
                                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/btnbg2.png" class="main-prize-btnimg" />
                                    ##<a href="javascript:;" class="main-prize-btna" id="start"></a>
                                    <button href="javascript:;" class="main-prize-btna" id="start"></button>
                                </div>
                             </div>
                             <!--三等奖-->
                            <div class="maincontent" style="display: none;">
                                <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/maincontentbg.png" class="maincontentimg" />
                                <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/lucky1.gif" class="mainluckyimg" />
                                <h3 class="maincontent-title">
                                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/contenttitle.png" class="maincontent-titleimg"/>
                                    <div class="main-prize">三等奖</div>
                                    <div class="main-prizeing">准备抽奖</div>
                                </h3>
                                <div class="main-number main-numbert">                                    
                                    <!--三等奖-->
                                    <div class="main-number1 main-numberc" id="first">
									</div>                                    
                                </div>
                                <div class="main-prize-btn">
                                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/btnbg2.png" class="main-prize-btnimg" />
                                    ##<a href="javascript:;" class="main-prize-btna" id="start_third"></a>
                                    <button href="javascript:;" class="main-prize-btna" id="start_third" value="" name="agreeb"></button>
                                </div>
                            </div>
                            <!--二等奖-->
                            <div class="maincontent" style="display:none">
                                <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/maincontentbg.png" class="maincontentimg" />
                                <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/lucky1.gif" class="mainluckyimg" />
                                <h3 class="maincontent-title">
                                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/contenttitle.png" class="maincontent-titleimg"/>
                                    <div class="main-prize">二等奖</div>
                                    <div class="main-prizeing">准备抽奖</div>
                                </h3>
                                <div class="main-number main-numbert">                                    
                                    <!--二等奖-->
                                    <div class="main-number2 main-numberc" id="first">
									</div>                                   
                                </div>
                                <div class="main-prize-btn">
                                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/btnbg2.png" class="main-prize-btnimg" />
                                    ##<a href="javascript:;" class="main-prize-btna" id="start_second"></a>
                                    <button href="javascript:;" class="main-prize-btna" id="start_second"></button>
                                </div>
                            </div>
                            <!--一等奖-->
                            <div class="maincontent" style="display:none">
                                <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/maincontentbg.png" class="maincontentimg" />
                                <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/lucky1.gif" class="mainluckyimg" />
                                <h3 class="maincontent-title">
                                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/contenttitle.png" class="maincontent-titleimg"/>
                                    <div class="main-prize">一等奖</div>
                                    <div class="main-prizeing">准备抽奖</div>
                                </h3>
                                <div class="main-number main-numbert">                                                                     
                                    <!--一等奖-->
                                    <div class="main-number3 main-numberc" id="first">
									</div>
                                    
                                </div>
                                <div class="main-prize-btn">
                                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/btnbg2.png" class="main-prize-btnimg" />
                                    ##<a href="javascript:;" class="main-prize-btna" id="start_first"></a>
                                    <button href="javascript:;" class="main-prize-btna" id="start_first"></button>
                                </div>
                            </div>
                            <!--特等奖-->
                            <div class="maincontent" style="display:none">
                                <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/maincontentbg.png" class="maincontentimg" />
                                <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/lucky1.gif" class="mainluckyimg" />
                                <h3 class="maincontent-title">
                                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/contenttitle.png" class="maincontent-titleimg"/>
                                    <div class="main-prize">特等奖</div>
                                    <div class="main-prizeing">准备抽奖</div>
                                </h3>
                                <div class="main-number main-numbert">
                                    <!--特等奖-->
                                    <div class="main-number4 main-numberc" id="first">
									</div>
                                </div>
                                <div class="main-prize-btn">
                                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/btnbg2.png" class="main-prize-btnimg" />
                                    ##<a href="javascript:;" class="main-prize-btna" id="start_grand"></a>
                                     <button href="javascript:;" class="main-prize-btna" id="start_grand"></button>
                                </div>
                            </div>
                       
                    </div>
						<!--<div class="bottom-prizecopy"></div>-->
						<div class="bottom-prize">
							<div class="NavigatorBg"></div>
							<ul class="prize-nav">
								<li class="lihover">
									<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/bottombg2.png" />
									<a href="javascript:;" class="lia">幸运奖</a>
								</li>
								<li class="li">
									<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/bottombg1.png" />
									<a href="javascript:;" class="lia">三等奖</a>
								</li>
								<li class="li">
									<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/bottombg1.png" />
									<a href="javascript:;" class="lia">二等奖</a>
								</li>
								<li class="li">
									<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/bottombg1.png" />
									<a href="javascript:;" class="lia">一等奖</a>
								</li>
								<li class="li" style="margin-right: 0;">
									<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/yearEndDraw2016/bottombg1.png" />
									<a href="javascript:;" class="lia">特等奖</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="canvas-container" style="position: absolute;top:0;"></div>
</body>
#Html("end")