<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration> 
	<typeAliases>
		<package name="com.dafy.model.pojo"/>
		<!-- <package name="com.dafy.model.vo"/> -->
	</typeAliases>
	<plugins>
		<plugin interceptor="com.dafy.core.helper.page.MybatisInterceptor"></plugin>
	</plugins>
</configuration>
