
@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-11-21 12:02:56
 * @version $Id$
 */
 .agree_bg{ position: fixed; left:0px; top:0px; width:100%; height:100%; background: black;filter: alpha(opacity=60); z-index: 101;background: rgba(0,0,0,.6);}
.agess{position: fixed; left:0px; top:0; right:0; bottom:0;margin:auto;z-index:120;  width:740px;height:600px; background: white; border-radius: 5px;font-weight: 200;}
.agess-copy{margin:auto; width:100%; background: white; border-radius: 5px;font-weight: 200;}
.agess_title{height:55px; line-height: 55px; width:100%; border-bottom:1px solid #DDDDDD; position:relative;}
.agess_title-copy{height:55px; line-height: 55px; width:740px; border-bottom:1px solid #DDDDDD; margin:0 auto;}
.agess_ft{ font-size: 18px; color:#666666; padding-left:20px;}
.agess_off{ position: absolute; right: 8px;top: 8px;width: 40px;height: 40px;cursor:pointer;background: url(../../images/off.png) no-repeat center center;}
 .agess_main{clear: both;padding:0px 23px; height:470px;overflow: auto; }
 .agess_main-copy{clear: both;padding:0px 23px 50px; min-height:470px;width:740px;margin:0 auto;}
 
 


.agess_foot{ width: 100%; height:70px; border-top: 1px solid #DDDDDD; position:relative;text-align: center;}
.agess_btn{ width:214px; height:50px;display:inline-block; line-height: 50px;border-radius: 3px;cursor: pointer; margin:0 auto; background: #DDDDDD; text-align: center;margin: 10px;}
.ser_posi{position:relative;}
.main_title{ font-size: 20px; line-height: 20px; text-align: center; padding:10px 0px;}
.man_ft{ font-size: 18px; line-height: 22px; }
.man_ft_other{ font-size: 23px; line-height: 22px; text-align: center;}
.serial{ margin:15px 0px; }
.serial_number{ font-size: 18px; line-height: 18px; margin-bottom:17px;}
.h_title{ font-size: 18px; line-height: 18px; margin-bottom:17px; font-weight: bold;}
.serial_main{font-size: 18px; line-height: 22px;}
.font{font-weight: 510;}
.agess_foot{ width: 100%; height:70px; border-top: 1px solid #DDDDDD; position:relative;text-align: center;}
.agess_btn{ width:214px; height:50px;display:inline-block; line-height: 50px;border-radius: 3px;cursor: pointer; margin:0 auto; background: #DDDDDD; text-align: center;margin: 10px;}
.ser_posi{position:relative;}
.ser_img,.ser_img_two{position:absolute; bottom: 0px;left: 50px;width:150px; height:150px;/* background: url(../../images/ptzc_gz.png) no-repeat center center; */}
.ser_img_two{left:200px; bottom:40px;}
.serial table, .serial tr, .serial td, .serial tbody {
    padding: 20px;
    margin: 10px 0px;
    border: 1px solid #666666;}
.serial_tab table, .serial_tab tr, .serial_tab td, .serial_tab tbody {
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #666666;}
.ser_table{ border:1px solid #666666;}
.MsoNormal{text-align:center;}
.lett{letter-spacing: -3px;}

 .agr_main{ clear: both;padding:0px 23px; height:470px;overflow: auto;font-size: 16px;  line-height:normal; }
.bor_bot{ border-bottom: 1px solid #000000; padding:0px 10px;}
.bor_bot1{border-bottom: 1px solid #000000;padding: 0px 30px;}
.agr_main div{ padding:5px 0px; }
.agr_main p{display: inline-table; padding:0px 0px 20px 0px; width:100%;}
p.ft_top{ padding-top: 30px; text-indent: 2em;}
p.t_left{ font-size: 23px; color:#000000; text-indent: 0em;}
.border{ border:2px solid #000000; padding:10px;}
.bot_top{ height:25px; line-height: 25px;}
div.bor_t1{ padding:10px;}
.t1_left,.t1_right{width:48%;float: left;}
.red_color{ color:red; }
.center{font-weight: bold; text-align: center; width:100%;}

.line{margin-bottom: 50px;}


.top_no{text-align: right; margin-right: 50px;margin-top: 8px;}
.top_no_have_buy{text-align: right; margin-right: 10px;margin-top: 8px;}