.safe_center_index{
    padding: 60px 90px;
    background: #ffffff;
}
.safe_wrap{
    padding: 30px 0;
    border-bottom:solid 1px #e5e5e5;
    position: relative;
}
.safe_center .safe_wrap:last-child{
    border-bottom: none;
}
.safe_warp_title{
    height: 22px;
    line-height: 22px;
}
.safe_warp_title img{
    float: left;
    margin-right: 10px;
}
.safe_wrap_name{
    font-size: 16px;
    color: #999999;
    margin-right: 40px;
    float: left;
}
.safe_wrap_text{
    font-size: 16px;
    color: #666;
    float: left;
}
.safe_wrap_btn{
    float: right;
    display: block;
    font-size: 16px;
    color: #ff6633;
}
.safe_wrap_btn:hover{
    text-decoration: underline;
    cursor: pointer;
}
.safe_wrap_btn a,.safe_wrap_btn a:hover{
    color: #999;
}
.safe_warp_title .passed{
    cursor: auto;
    text-decoration: none!important;
}
.safe_wrap_text span{
    margin-right: 30px;
}
.safe_wrap_slidedown{
    padding-top: 30px;
    text-align:left;
}
.safe_wrap_slidedown label{
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    display: block;
    font-size: 14px;
    color: #666666;
}
.safe_wrap_slidedown label span{
    display: block;
    float: left;
    width: 111px;
    text-align: right;
    font-size: 14px;
    color: #999999;
    margin-right: 26px;
    white-space: nowrap;
}
.safe_wrap_slidedown label input{
    height: 40px;
    width: 240px;
    line-height: 40px;
    background: #f5f5f5;
    border:solid 1px #e5e5e5;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
}
.safe_wrap_slidedown label input:focus{
    border-color: #FF6633;
}
::-webkit-input-placeholder {
    color:#c5c5c5;
}
:-moz-placeholder {
    color:#c5c5c5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#c5c5c5;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#c5c5c5;
}
.safe_wrap_slidedown .safe_form_btn{
    border: none;
    background: #ff6633;
    color: #ffffff;
    height: 40px;
    width: 240px;
    margin-left: 137px;
    padding: 0;
    cursor: pointer;
    box-sizing: border-box;
}
.safe_message a{
    border: none;
    background: #ff6633;
    color: #ffffff;
    height: 40px;
    width: 90px;
    margin-left: 10px;
    padding: 0;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
    display: block;
    float: left;
    text-align: center;
}