body{ position: relative;}
/*推荐首页*/
.recom_index_bg{width:100%;position: relative; top: -6px; background: #fdcb44;}
.new_header{ width:100%; }
.header_img{ width:100%; }
.form_bg{ width:90%; margin:0 auto; position: relative; background: #f1b705; border-radius: 8px; padding:43px 0px 21px;}
.form_wp{ position: relative;width:90%;    margin: 0 auto; }
.form_ul{width:100%; margin:0 auto;}
.form_li{ position: relative; border-radius: 8px;overflow: hidden;margin-bottom: 4%;}
.sma_win{position: absolute;width:21%;height:70px;line-height:70px; text-align:center;padding: 4px 16px;color:#69050d; background: #ff922a;font-size: 24px; top:0px;left: -1px;}
input.inp_log{width:68%; border:0px; padding:20px 20px 20px 156px; font-size: 24px;line-height: normal;}
input.sma_inp{ width:34%; border-radius: 8px;}
.btn_yz{ width:27%; position:absolute; right:0px; top:0px; border-radius: 8px; background: #ff6633; font-size: 24px; line-height: 24px; color:white; text-align: center; padding:22px 0px;}
.ceck_wp{ margin-top:15px; }
input.inp_check{ width:30px; height:30px; background: white; display: inline-block;}
.input_position{ position:relative; }
.input_position .inp_log{width:58%;padding:17px 65px 17px 156px;}
.input_pass_img{ position:absolute; right:15px;top:23px; width:46px; height:27px; }
.pass_show{background:url(../../images/landing_page/inpt_pass_show.png) no-repeat center;}
.pass_hide{background:url(../../images/landing_page/inpt_pass_hide.png) no-repeat center;}
.check_ft{ display: inline-block; font-size: 20px;line-height: normal; color:white;vertical-align: super;}
.ft_img{padding-right: 12px;    vertical-align: middle;}
.login_btn_wp{ width:100%; margin-top:10px;}
.login_btn{display: inline-block; width:100%; text-align: center; padding:20px 0px; background: #ff6633; border-radius: 8px; color:white; font-size: 30px; line-height: 30px;}
.ft_cent{ text-align: center; }
.link_btn{ color:#0b65e1; }
.pack_wp{ width:90%; margin: 63px auto 12px; position:relative;}
.red_pack{ width:100%; }
.pack_title{ position: absolute;top:36px; left: 0px;right: 0px;margin: 0 auto;text-align: center;font-size: 4.4rem; line-height: normal; color:#fff000; }
.pack_main_ft{position: absolute;font-size: 3.6rem; line-height: normal; color:#540403; left:0px; right:25px; margin:0 auto; text-align: center; bottom:160px;}
.new_info_main{position: relative; width:90%; margin: 100px auto 0px; background: #f1b705; padding:98px 0px 34px; border-radius: 8px;}
.tem_title{position: absolute;    top: -85px;left: 0px;right: 0px;margin: 0 auto;text-align: center;}
.one_ft{position: absolute; bottom:36px;left: 0px;right: 0px; text-align: center;display: block; font-size: 2.8rem; line-height: normal;     color:#842c2b;}
.tem{ width:84%; margin: 0 auto 16px; background: #fed977;border-radius: 8px;padding: 29px 0px 26px;}
.left_info,.right_info{ display: inline-block; }
.left_info{ width:29%; text-align: right;}
.right_info{ width:70%; color:#842c2b;}
.right_info_title, .right_info_ft{ width:100%; text-align: center; line-height: normal;}
.right_info_title{ font-size:3rem;    margin-bottom: 12px; }
.right_info_ft{font-size: 2rem;margin-top: 5px;}
.login_width{ width:84%; margin:28px auto 0px; }
.foot_info{ width:84%;margin:0 auto; padding-bottom: 45px; text-align: center; font-size: 2rem; line-height: normal; color:white;}
.phone{ margin-top:20px; }
.phone_color{ color:#0b65e1; }
.company_name,.address{ margin-top:10px; }
#validateImg{height: 60px;
    width: 27%;
    position: absolute;
    right: 0px;
    top: 5px;
    border-radius: 8px;
    font-size: 24px;
    line-height: 24px;
    color: white;
    text-align: center;
}