body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:355px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:479px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:479px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:100px;
  width:100px;
  height:33px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:80px;
  top:150px;
  width:130px;
  height:33px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:33px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
