<div class="pageContent" style="height: 127px;">
	#Hidden("APP_ROOT_PATH",$env.getWebURL(''))
			<p style="margin: 11px 0 0 10px;">
				<lable>
					用户姓名：
                </lable>
				<lable >
					$!userName
                </lable>
			</p>
			<p style="margin: 11px 0 0 10px;">
				<lable>
					手机号码：
                </lable>
				<lable >
					$!mobile
                </lable>
			</p>

		</div>
		<div class="formBar">
			<ul>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">确定</button></div></div>
				</li>
			</ul>
		</div>
</div>
