<div class="pageContent">
    #Hidden("APP_ROOT_PATH",$env.getWebURL(''))
    #Hidden("serverToken",$!serverToken)
    <form id="financeForm" method="post" action="$env.getWebURL('/financial/advanceTransferAccount.htm')" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone)">
        <div class="pageFormContent nowrap" layoutH="97" >
            <dl>
                <dt >计划总额：</dt>
                <dd style="width:0px;">
                    <input type="text" id="amount" name="amount" maxlength="12" style="width:245px; height:16px" />元
                </dd>
            </dl>
            <dl>
                <dt >转出账户：</dt>
                <dd style="width:0px;">
                    <input type="text" id="sourceAccount" name="sourceAccount" value="自有子账户" disabled="disabled" style="width:245px; height:16px" />元
                </dd>
            </dl>
            <dl>
                <dt >转入账户：</dt>
                <dd style="width:0px;">
                    <input type="text" id="destAccount" name="destAccount"  value="垫付金子账户" disabled="disabled" style="width:245px; height:16px" />元
                </dd>
            </dl>
            <dl>
                <dt >
                    备注：
                </dt>
                <dd style="width:100px;">
                    <input type="text" id="note" name="note" maxlength="100" style="width:245px; height:16px" />
                </dd>
            </dl>
        </div>
        <div class="formBar">
            <ul>
                <li ><div class="buttonActive"><div class="buttonContent"><button type="button" onclick="submit_financeForm()">提交</button></div></div></li>
                <li>
                    <div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
                </li>
            </ul>
        </div>
    </form>
</div>
<script>
    function submit_financeForm(){
        var amount = $.trim($("#amount").val());
        var note = $.trim($("#note").val());
        var regAmount = /^(?!0+(?:\.0+)?$)(?:[1-9]\d*|0)(?:\.\d{1,2})?$/;
        var serverToken = $.trim($("#serverToken").val());
        if((amount == null || amount == "")){
            alertMsg.warn("调账金额不能为空！");
            return false;
        }
        if(!regAmount.test(amount)) {
            alertMsg.warn("调账金额必须是正整数或者小数点后保留两位！");
            return false;
        }

        jQuery.ajax({
            url: $('#APP_ROOT_PATH').val() + '/financial/advanceTransferAccount.htm',
            data:{
                amount: amount,
                note: note,
                token: serverToken
            },
            type:'post',
            success: function(data){
                if (data.statusCode == "300") {
                    alertMsg.warn('调账失败!');
                    $.pdialog.closeCurrent();
                    $("#serverToken").val(data.serverToken);
                    navTab.reload("$env.getWebURL('/financial/advanceTransferOrderIndex.htm')");
                }else if (data.statusCode == "301") {
                    $("#serverToken").val(data.serverToken);
                    alertMsg.warn('系统账户余额不足!');
                }else if (data.statusCode == "302") {
                    $("#serverToken").val(data.serverToken);
                    alertMsg.warn(data.message);
                }else if (data.statusCode == "200") {
                    alertMsg.correct('调账成功!');
                    $.pdialog.closeCurrent();
                    $("#serverToken").val(data.serverToken);
                    navTab.reload("$env.getWebURL('/financial/advanceTransferOrderIndex.htm')");
                }else if (data.statusCode == "305") {
                    $("#serverToken").val(data.serverToken);
                    alertMsg.warn('请勿重复提交!');
                }else {
                    $("#serverToken").val(data.serverToken);
                    alertMsg.error('操作失败!');
                }

            }
        });

    }

</script>