<form id="pagerForm" method="post" action="#rel#">
    <input type="hidden" name="pageNum" value="$!pageNum" />
    <input type="hidden" name="numPerPage" value="$!numPerPage" />
</form>
<div class="pageHeader">
    <form id="myform" rel="pagerForm" method="post" action="$env.getWebURL('/financial/partnerOfflineRepayment.htm')" onsubmit="return navTabSearch(this);">
        <input type="hidden" id="APP_ROOT_PATH" value="$!env.getWebURL('')"/>
        <input type="hidden" name="pageNum" value="$!pageNum" />
        <input type="hidden" name="numPerPage" value="$!numPerPage" />
        <input type="hidden" name="totalRows" value="$!totalRows" />
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        <label>资产方： </label>
                        <select name="partnerCode">
                            <option value="" #if("$!partnerCode"=="-1") selected #end>全部</option>
                            <option value="ZAN" #if("$!partnerCode"=="ZAN") selected  #end>赞分期</option>
                            <option value="ZSD" #if("$!partnerCode"=="ZSD") selected #end>赞时贷</option>
                        </select>
                    </td>
                    <td>
                        申请时间： <input name="startTime"  maxdate="{%y}-%M-{%d}"  type="text" id="startTime" class="date textInput readonly" readonly="true" size="15"  value="$!startTime" />
                        到 <input name="endTime" maxdate="{%y}-%M-{%d}"  type="text" id="endTime" class="date textInput readonly" readonly="true" size="15"  value="$!endTime" />
                    </td>
                    <td>
                        <button onclick="func()" type="button">查询</button>&nbsp&nbsp&nbsp
                        <button  onclick="exp()" type="button">导出</button>
                    </td>
                </tr>

            </table>
        </div>
    </form>
</div>
<div class="pageContent">
    <table class="table" width="1396" layoutH="98">
        <thead>
        <tr>
            <th width="15%">还款订单号</th>
            <th width="15%">支付订单号</th>
            <th width="20%">资产方</th>
            <th width="20%">申请时间</th>
            <th width="15%">还款总额</th>
            <th width="15%">返回状态</th>
        </tr>
        </thead>
        <tbody>
            #foreach($grid in $list)
                <tr target="sid_user" rel="1" >
                    <td>$!grid.partnerOrderNo</td>
                    <td>$!grid.payOrderNo</td>
                    <td>
                        #if($!grid.partnerCode == "ZAN")
                            赞分期
                        #elseif($!grid.partnerCode == "ZSD")
                            赞时贷
                        #end
                    </td>
                    <td> $!date.format($!grid.createTime)</td>
                    <td>$!money.format($!grid.doneTotal)</td>
                    <td>
                        #if($!grid.status == "INIT")
                            初始状态
                        #elseif($!grid.status == "REPAYING")
                            还款中
                        #elseif($!grid.status == "REPAIED")
                            还款成功
                        #else
                            还款失败
                        #end
                    </td>
                </tr>
            #end
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({pageNum:1,numPerPage:this.value})">
                <option #if("$!numPerPage" == "20") selected #end value="20">20</option>
                <option #if("$!numPerPage" == "50") selected #end value="50">50</option>
                <option #if("$!numPerPage" == "100") selected #end value="100">100</option>
                <option #if("$!numPerPage" == "200") selected #end value="200">200</option>
            </select>
            <span>条，共$!totalRows条</span>
        </div>
        <div class="pagination" targetType="navTab" totalCount="$!totalRows" numPerPage="$!numPerPage" currentPage="$!pageNum"></div>
    </div>
</div>

<script>
    function func(){
        var startTime = $("#startTime").val();
        var endTime = $("#endTime").val();
        if(startTime != "" && endTime == ""){
            alert("请输入结束时间！");
            return false;
        }
        if(startTime == "" && endTime != ""){
            alert("请输入开始时间！");
            return false;
        }
        if(startTime != "" && endTime != ""){
            var result = Date.parse(endTime.replace(/-/g,"/"))- Date.parse(startTime.replace(/-/g,"/"));
            if(result < 0){
                alert("开始时间不能在结束时间之后！！");
                return false;
            }
        }
        var url = $("#APP_ROOT_PATH").val() + "/financial/partnerOfflineRepayment.htm";
        $("#myform").attr("action",url);
        $("#myform").attr("onsubmit","return navTabSearch(this);");
        $("#myform").submit();
    }

    function exp(){
        var startTime = $("#startTime").val();
        var endTime = $("#endTime").val();
        if(startTime != "" && endTime == ""){
            alert("请输入结束时间！");
            return false;
        }
        if(startTime == "" && endTime != ""){
            alert("请输入开始时间！");
            return false;
        }
        if(startTime != "" && endTime != ""){
            var result = Date.parse(endTime.replace(/-/g,"/"))- Date.parse(startTime.replace(/-/g,"/"));
            if(result < 0){
                alert("开始时间不能在结束时间之后！！");
                return false;
            }
        }
        var url = $("#APP_ROOT_PATH").val() + "/financial/exportXls.htm";
        $("#myform").attr("action",url);
        $("#myform").attr("onsubmit","");
        $("#myform").submit();
    }

</script>