<input type="hidden" id="APP_ROOT_PATH" name="APP_ROOT_PATH" value="$env.getWebURL('')" />
<form id="pagerForm" method="post" action="#rel#">
	<input type="hidden" name="pageNum" value="$!req.pageNum" />
	<input type="hidden" name="numPerPage" value="$!req.numPerPage" />
	<input type="hidden" name="time" value="$!req.time" />
	<input type="hidden" name="type" value="$!req.type" />
</form>
<div class="page unitBox">
	<div class="pageHeader">
    	<form rel="pagerForm" onsubmit="return navTabSearch(this);" action="$env.getWebURL('financialAccount/saleReceivable.htm')" id="myform" method="post">
        	<div class="searchBar">
                <table class="searchContent">
        			<tr>
							<td>
            					<label id="date_text">开始时间：</label>
            					<input type="text" id="startTime" name="startTime" value="$!req.startTime" class="date" dateFmt="yyyy-MM-dd" readonly/>
            				</td>
							<td>
            					<label id="date_text">结束时间：</label>
            					<input type="text" id="endTime" name="endTime" value="$!req.endTime" class="date" dateFmt="yyyy-MM-dd" readonly/>
            				</td>

        				<td>
        					<div class="buttonActive">
        						<div class="buttonContent">
        							<button onclick="searchFunction()" type="button">查询</button>
        						</div>
        					</div>
        				</td>
                    </tr>
        		</table>
        	</div>
    	</form>
    </div>
    <div class="pageContent">
    	<table class="table" width="100%" layoutH="90">
    		<thead>
    			<tr>
					<th width="3%">手机号</th>
    				<th width="3%">姓名</th>
					<th width="2%">期限</th>
					<th width="5%">计息天数</th>
    				<th width="3%">利率</th>
					<th width="5%">购买金额</th>
    				<th width="5%">产品状态</th>
    				<th width="4%">购买日期</th>
    				<th width="4%">起息日期</th>
    				<th width="4%">到期提现日</th>
					<th width="4%">渠道来源</th>
					<th width="4%">总服务费24%(7天20%)</th>
					<th width="4%">用户利息（实际购买时利息）</th>
					<th width="4%">奖励金</th>
    			</tr>
    		</thead>
    		<tbody>
				#set($Integer = 0)
    			#foreach($grid in $dataGrid)
    			<tr target="sid_user" rel="1">
    				<td>$!grid.mobile</td>
    				<td>$!grid.userName</td>
    				<td>
                        #if(0 > $Integer.parseInt("$!grid.term"))
							#set($termNum = $Integer.parseInt("$!grid.term")*-1 ) $!termNum 天
                        #else
							$!grid.term 个月
                        #end
					</td>
					<td>$!grid.interestDays 天</td>
    				<td>$!grid.baseRate %</td>
    				<td>$!number.format("0.00", $!grid.balance)</td>
					<td>$!grid.status</td>
					<td>$!date.formatYYYYMMDD($!grid.openTime)</td>
					<td>$!date.formatYYYYMMDD($!grid.interestBeginDate)</td>
					<td>$!date.formatYYYYMMDD($!grid.lastFinishInterestDate)</td>
					<td>$!grid.agentName</td>
					<td>$!number.format("0.00", $!grid.totalInterestAmount) </td>
					<td>$!number.format("0.00", $!grid.userInterestAmount)</td>
					<td>$!number.format("0.00", $!grid.userBonusBalance)</td>
    			</tr>
    			#end
    		</tbody>
    	</table>
		<div class="panelBar">
    	<div class="pages">
    		<span>显示</span>
    		<select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
    			<option #if("$!req.numPerPage" == "20") selected #end value="20">20</option>
    			<option #if("$!req.numPerPage" == "50") selected #end value="50">50</option>
    			<option #if("$!req.numPerPage" == "100") selected #end value="100">100</option>
    			<option #if("$!req.numPerPage" == "200") selected #end value="200">200</option>
    		</select>
    		<span>条，共$!count条</span>
    	</div>
    	<div class="pagination" targetType="navTab" totalCount="$!count" numPerPage="$!req.numPerPage" currentPage="$!req.pageNum"></div>
    </div>
    </div>
</div>
<script>  
	function searchFunction(){
	var startTime = $("#startTime").val();
	var endTime = $("#endTime").val();
	
	
	if(!startTime){
		alertMsg.error("请选择开始时间！");
		return false;
	}
	if(!endTime){
		alertMsg.error("请选择结束时间！");
		return false;
	}
	
	if(startTime>endTime){
		alertMsg.error("开始时间不能晚于结束时间！");
		return false;
	}

	$("#myform").submit();
}
</script> 
