<div class="pageContent">
	<div class="pageFormContent" layoutH="80">
<table class="table" width="100%">
	<tr  >
		<td width="5%">序号</td>
		<td width="10%">理财人登录名</td>
		<td width="10%">理财人姓名</td>
        <td width="20%">理财产品</td>
		<td width="10%">投资金额</td>
		<td width="5%">期限 </td>
		<td width="10%">今日收益金额</td>
		<td width="10%">收益回收日期</td>
		<td width="10%">当前期（天）</td>
		<td width="10%">当前收益</td>
    </tr>
		<tr>
			<td>$!userInvestDetail.rowno</td>
			<td>$!userInvestDetail.mobile</td>
			<td>$!userInvestDetail.userName</td>
			<td>
				$!userInvestDetail.productName
			</td>
			<td>$!money.format($!userInvestDetail.balance)</td>
			<td>
				$!userInvestDetail.term
				
			</td>
			<td>$!money.format($!userInvestDetail.todayIncome)</td>
			<td>
    			$!date.formatYYYYMMDD($!userInvestDetail.returnDay)
			</td>
			<td>
    			$!userInvestDetail.dayNum
			</td>
			<td >$!money.format($!userInvestDetail.accumulationInerest)</div>
    </tr>
</table>
</div>
</div>