<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinting.mall.dao.MallConsigneeAddressInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pinting.mall.model.MallConsigneeAddressInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="rec_name" property="recName" jdbcType="VARCHAR" />
    <result column="rec_adress" property="recAdress" jdbcType="VARCHAR" />
    <result column="rec_adress_detail" property="recAdressDetail" jdbcType="VARCHAR" />
    <result column="rec_mobile" property="recMobile" jdbcType="VARCHAR" />
    <result column="is_default" property="isDefault" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, rec_name, rec_adress, rec_adress_detail, rec_mobile, is_default, is_delete, 
    create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinting.mall.model.MallConsigneeAddressInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mall_consignee_address_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mall_consignee_address_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mall_consignee_address_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinting.mall.model.MallConsigneeAddressInfoExample" >
    delete from mall_consignee_address_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinting.mall.model.MallConsigneeAddressInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mall_consignee_address_info (id, user_id, rec_name, 
      rec_adress, rec_adress_detail, rec_mobile, 
      is_default, is_delete, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{recName,jdbcType=VARCHAR}, 
      #{recAdress,jdbcType=VARCHAR}, #{recAdressDetail,jdbcType=VARCHAR}, #{recMobile,jdbcType=VARCHAR}, 
      #{isDefault,jdbcType=INTEGER}, #{isDelete,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pinting.mall.model.MallConsigneeAddressInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mall_consignee_address_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="recName != null" >
        rec_name,
      </if>
      <if test="recAdress != null" >
        rec_adress,
      </if>
      <if test="recAdressDetail != null" >
        rec_adress_detail,
      </if>
      <if test="recMobile != null" >
        rec_mobile,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="recName != null" >
        #{recName,jdbcType=VARCHAR},
      </if>
      <if test="recAdress != null" >
        #{recAdress,jdbcType=VARCHAR},
      </if>
      <if test="recAdressDetail != null" >
        #{recAdressDetail,jdbcType=VARCHAR},
      </if>
      <if test="recMobile != null" >
        #{recMobile,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinting.mall.model.MallConsigneeAddressInfoExample" resultType="java.lang.Integer" >
    select count(*) from mall_consignee_address_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mall_consignee_address_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.recName != null" >
        rec_name = #{record.recName,jdbcType=VARCHAR},
      </if>
      <if test="record.recAdress != null" >
        rec_adress = #{record.recAdress,jdbcType=VARCHAR},
      </if>
      <if test="record.recAdressDetail != null" >
        rec_adress_detail = #{record.recAdressDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.recMobile != null" >
        rec_mobile = #{record.recMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.isDefault != null" >
        is_default = #{record.isDefault,jdbcType=INTEGER},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mall_consignee_address_info
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      rec_name = #{record.recName,jdbcType=VARCHAR},
      rec_adress = #{record.recAdress,jdbcType=VARCHAR},
      rec_adress_detail = #{record.recAdressDetail,jdbcType=VARCHAR},
      rec_mobile = #{record.recMobile,jdbcType=VARCHAR},
      is_default = #{record.isDefault,jdbcType=INTEGER},
      is_delete = #{record.isDelete,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinting.mall.model.MallConsigneeAddressInfo" >
    update mall_consignee_address_info
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="recName != null" >
        rec_name = #{recName,jdbcType=VARCHAR},
      </if>
      <if test="recAdress != null" >
        rec_adress = #{recAdress,jdbcType=VARCHAR},
      </if>
      <if test="recAdressDetail != null" >
        rec_adress_detail = #{recAdressDetail,jdbcType=VARCHAR},
      </if>
      <if test="recMobile != null" >
        rec_mobile = #{recMobile,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinting.mall.model.MallConsigneeAddressInfo" >
    update mall_consignee_address_info
    set user_id = #{userId,jdbcType=INTEGER},
      rec_name = #{recName,jdbcType=VARCHAR},
      rec_adress = #{recAdress,jdbcType=VARCHAR},
      rec_adress_detail = #{recAdressDetail,jdbcType=VARCHAR},
      rec_mobile = #{recMobile,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>