
<div class="pageContent">
    #Hidden("APP_ROOT_PATH",$env.getWebURL(''))
    #Hidden("serverToken",$!serverToken)
    <form id="financeForm" method="post" action="$env.getWebURL('/financeStatistics/exportSysDailyCheckGacha.htm')" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone)">
        <div class="pageFormContent nowrap" layoutH="0" >
                <p style="padding-left:15px;float:none;">
                    	账务日期：（业务发生的日期）
                </p>
                <label style="padding-left:15px;margin-bottom:15px;float:none;display:block;">
                    <input name="checkDate" type="text" id="checkDate" class=" date textInput readonly" readonly="true" style="width:165px; height:26px;float:none;" value="$!checkDate" dateFmt="yyyy-MM-dd" maxdate="{%y}-%M-{%d}"/>
                </label>
                <label style="padding-left:15px;float:none;display:block;">
                	<button  onclick="expo()" type="button" style="float:none;">导出</button>
                </label>
        </div>
    </form>
</div>
#LoadJS("/resources/js/global_validate")
<script>
  function expo(){
	var checkDate = $("#checkDate").val();
	if(checkDate == null || checkDate == "") {
		alertMsg.warn("账务日期不能为空！");
		return;
	}

	var url = $("#APP_ROOT_PATH").val() + "/financeStatistics/exportSysDailyCheckGacha.htm?checkDate="+checkDate;
	$("#myform").attr("action",url);
	$("#myform").attr("onsubmit","");
	$("#myform").submit();
}
</script>

