<form id="pagerForm" method="post" action="#rel#">
	<input type="hidden" name="pageNum" value="$!pageNum" />
	<input type="hidden" name="numPerPage" value="$!numPerPage" />
	<input type="hidden" name="orderField" value="$!{orderField}" />
	<input type="hidden" name="orderDirection" value="$!{orderDirection}" />
</form>

<div class="pageHeader">
	<form rel="pagerForm" id="myform" class="pageForm required-validate" onsubmit="return TabnavTabAjaxDone(this);" action="$env.getWebURL('/financeStatistics/queryHfCheckError.htm')" method="post">
		<input type="hidden" name="numPerPage" value="$!numPerPage" />
		<input type="hidden" id="APP_ROOT_PATH" value="$!env.getWebURL('')"/>
		<input type="hidden" name="pageNum" value="$!pageNum" />
		<input type="hidden" name="totalRows" value="$!totalRows" />
	<div class="searchBar">
			<table class="searchContent">
				<tr>
					<td>
						订单号：<input id="orderNo" type="text" name="orderNo" maxlength="50" value="$!orderNo" class="clear"/>
					</td>
					
					<td >对账日期：<input name="startTime" type="text" id="startTime" class=" date textInput readonly" readonly="true" value="$!startTime" dateFmt="yyyy-MM-dd" maxdate="{%y}-%M-{%d}"/>
						&nbsp;&nbsp; 到  &nbsp;&nbsp;
						<input name="endTime" type="text" id="endTime" class=" date textInput readonly" readonly="true" value="$!endTime" dateFmt="yyyy-MM-dd" maxdate="{%y}-%M-{%d}"/>
					</td>
					<td>
					业务对象：
						<select name="partnerCode" >
							<option value="" #if("$!partnerCode"=="") selected #end>全部</option>
							<option value="BGW" #if("$!partnerCode"=="BGW") selected  #end>币港湾</option>
							<option value="YUN_DAI_SELF" #if("$!partnerCode"=="YUN_DAI_SELF") selected  #end>云贷</option>
							<option value="7_DAI_SELF" #if("$!partnerCode"=="7_DAI_SELF") selected  #end>7贷</option>
						</select>
						&nbsp;&nbsp;
					业务类型：
						<select name="businessType" >
							<option value="" #if("$!businessType"=="") selected #end>全部</option>
							<option value="HFBANK_FINANCIAL_WITHDRAW" #if("$!businessType"=="HFBANK_FINANCIAL_WITHDRAW") selected  #end>出金(投资人提现)</option>
							<option value="HFBANK_PLATFORM_WITHDRAW" #if("$!businessType"=="HFBANK_PLATFORM_WITHDRAW") selected  #end>出金(平台提现)</option>
							<option value="HFBANK_YUN_LOAN" #if("$!businessType"=="HFBANK_YUN_LOAN") selected  #end>出金(云贷放款)</option>
							<option value="HFBANK_SEVEN_LOAN" #if("$!businessType"=="HFBANK_SEVEN_LOAN") selected  #end>出金(7贷放款)</option>
							<option value="HFBANK_FINANCIAL_TOP_UP" #if("$!businessType"=="HFBANK_FINANCIAL_TOP_UP") selected  #end>入金(投资人充值)</option>
							<option value="HFBANK_PLATFORM_TOP_UP" #if("$!businessType"=="HFBANK_PLATFORM_TOP_UP") selected  #end>入金(平台充值)</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
					账户类型：
						<select name="channel" >
							<option value="HFBANK" #if("$!channel"=="HFBANK") selected  #end>存管户</option>
						</select>
					</td>
					<td>
						<button  onclick="func()" type="button">查询</button>
						<button  onclick="exp()" type="button">导出异常订单</button>
					</td>	
				</tr>
			</table>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="$env.getWebURL('/financeStatistics/exportHfDailyCheckGachaIndex.htm')" target="dialog" mask="true" rel="createBackExport" height="240" width="500"><span>导出对账结果表</span></a></li>
		</ul>
	</div>
	<table class="table" width="1506" layoutH="168">
		<thead>
			<tr>
				<th width="6%">账户类型</th>
				<th width="6%">业务对象</th>
				<th width="10%">业务类型</th>
				<th width="10%">本地订单编号</th>
				<th width="10%">恒丰订单编号</th>
				<th width="6%">本地订单状态</th>
				<th width="6%">恒丰订单状态</th>
				<th width="8%">本地金额</th>
				<th width="8%">恒丰金额</th>
				<th width="18%">对账结果</th>
				<th width="12%">对账日期</th>
			</tr>
		</thead>
		<tbody>
			#foreach($user in $checkList)
			<tr>
				<td>存管户</td>
				<td>$!user.partnerCode</td>
				<td>
					#if("$!user.businessType" !="" )
						#if($!user.businessType == "HFBANK_FINANCIAL_WITHDRAW")
							出金(投资人提现)
						#elseif($!user.businessType == "HFBANK_PLATFORM_WITHDRAW")
							出金(平台提现)
						#elseif($!user.businessType == "HFBANK_YUN_LOAN")
							出金(云贷放款)
						#elseif($!user.businessType == "HFBANK_SEVEN_LOAN")
							出金(7贷放款)
						#elseif($!user.businessType == "HFBANK_FINANCIAL_TOP_UP")
							入金(投资人充值)
						#elseif($!user.businessType == "HFBANK_PLATFORM_TOP_UP")
							入金(平台充值)
						#else
							未知的业务类型	
						#end
					#end
				</td>
				<td>$!user.orderNo</td>
				<td>$!user.bfOrderNo</td>
				<td>
					#if("$!user.transStatus" !="" )
						#if($!user.transStatus == "5")
							处理中
						#elseif($!user.transStatus == "6")
							成功
						#elseif($!user.transStatus == "7")
							失败
						#elseif($!user.transStatus == "3")
							预下单成功
						#elseif($!user.transStatus == "4")
							预下单失败
						#elseif($!user.transStatus == "无")
							
						#elseif($!user.transStatus == "SUCC")
							成功
						#elseif($!user.transStatus == "FAIL")
							失败
						#elseif($!user.transStatus == "INIT")
							未处理
						#end
					#else
						数据库为null或者空字符串
					#end
				</td>
				<td>	
						#if($!user.hostSysStatus == "1")
							成功
						#elseif($!user.hostSysStatus == "SUCCESS")
							成功	
						#else
							$!user.hostSysStatus
						#end	
				</td>
				<td>
						$!money.format($!user.sysAmount)   
				</td>
				<td>
						$!money.format($!user.doneAmount)  
				</td>				
				<td title="$!user.info">
					#if("$!user.info" !="" )
						$!user.info
					#end
				</td>
				<td>$!date.format($!user.settleDate)</td>
			</tr>
			#end
		</tbody>
	</table>
	
	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage" onchange="navTabPageBreak({pageNum:1,numPerPage:this.value})">
				<option #if("$!numPerPage" == "20") selected #end value="20">20</option>
				<option #if("$!numPerPage" == "50") selected #end value="50">50</option>
				<option #if("$!numPerPage" == "100") selected #end value="100">100</option>
				<option #if("$!numPerPage" == "200") selected #end value="200">200</option>
			</select>
			<span>条，共$!totalRows条</span>
		</div>
		<div class="pagination" targetType="navTab" totalCount="$!totalRows" numPerPage="$!numPerPage" currentPage="$!pageNum"></div>
	</div>
</div>
#LoadJS("/resources/js/global_validate")
<script>

function func(){
	var beginTime = $("#startTime").val();
	var endTime = $("#endTime").val();
	if(!beginTime && endTime) {
		alertMsg.warn("开始时间不能为空！");
		return;
	}
	if(!endTime && beginTime) {
		alertMsg.warn("结束时间不能为空！");
		return;
	}
	if(beginTime && endTime){
	    var result = Date.parse(endTime.replace(/-/g,"/"))- Date.parse(beginTime.replace(/-/g,"/"));
    	if(result < 0){
    		alertMsg.warn("开始时间不能在结束时间之后！");
    		return;
    	}
	}

	var url = $("#APP_ROOT_PATH").val() + "/financeStatistics/queryHfCheckError.htm";
	$("#myform").attr("action",url);
	$("#myform").attr("onsubmit","return navTabSearch(this);");
	$("#myform").submit();
}


function exp(){
	var beginTime = $("#startTime").val();
	var endTime = $("#endTime").val();
	
	
	if(!beginTime && endTime) {
		alertMsg.warn("开始时间不能为空！");
		return;
	}
	if(!endTime && beginTime) {
		alertMsg.warn("结束时间不能为空！");
		return;
	}
	if(beginTime && endTime){
	    var result = Date.parse(endTime.replace(/-/g,"/"))- Date.parse(beginTime.replace(/-/g,"/"));
    	if(result < 0){
    		alertMsg.warn("开始时间不能在结束时间之后！");
    		return;
    	}
	}

	var url = $("#APP_ROOT_PATH").val() + "/financeStatistics/hfCheckErrorReport.htm";
	$("#myform").attr("action",url);
	$("#myform").attr("onsubmit","");
	$("#myform").submit();
}

</script>