.body{width: 100%;height: 100%;background: #76d070;font-family: "微软雅黑";}
.banner{width: 100%;margin:0 auto;text-align: center;}
.banner_img{display: block;}
/*introduce*/
.spring_introduce{width: 100%;margin:0 auto;position: relative;text-align: center;padding-top: 40px;}
.spring_introduce_img1{position: absolute;top: -21px;left: 50%;margin-left: -280px;z-index: 1;}
.spring_introduce_img2{position: absolute;top: 11px;left: 50%;margin-left: -97.5px;z-index: 1;}
.spring_introduce_content{width: 99%;position: relative;margin:0 auto;}
.spring_introduce_bgimg1{position: absolute;left: 0;top: -8px;}
.spring_introduce_bgimg2{position: absolute;right: 0;top: -8px;}
.spring_introduce_bg1{width: 95%;margin:0 auto;background: #128c37;padding:16px 0;border-radius: 20px;}
.spring_introduce_bg2{width: 95%;margin:0 auto;background: #0c5329;padding: 11px 0;border-radius: 20px;}
.spring_introduce_txt{font-size: 24px;color: #fffd2e;width: 96%;background: #078847;border-radius: 20px;padding:28px 0;margin:0 auto;}
.spring_introduce_list{width: 96%;margin:0 auto;}
.spring_introduce_list li{width: 100%;position: relative;height: 127px;background: #45a213;border-radius: 20px;margin:17px auto 0;}
.spring_introduce_listimg{position: absolute;left: 17%;top: 26px;}
.spring_introduce_listtitle{font-size: 32px;color: #fff;position: absolute;top: 36px;left: 32%;}
.spring_introduce_listtxt{font-size: 24px;color: #fcfd2d;position: absolute;top: 72px;left: 32%;}
/*one*/
.spring_One{width: 100%;margin:60px auto 0;text-align: center;position: relative;}
.spring_One_img{position: relative;top: -64px;}
.spring_one_bg_img{position:relative;top:-28px;z-index:-1;}
.spring_One_title{width: 100%;text-align: center;margin:-28px auto 0;position: relative;}
.spring_One_title_txt{position: absolute;top: -4px;width: 100%;z-index: 1;font-size: 24px;color: #fff;}
.spring_One_bg{width:99%;margin:0 auto 0;position:relative;}
.spring_One_bgimg1{position: absolute;top: -8px;left: 0;}
.spring_One_bgimg2{position: absolute;top: -8px;right: 0;}
.spring_One_content{width: 95%;border:2px solid #59e65c;background: #0b752b;border-radius: 20px;margin:24px auto 0;padding: 36px 0;}
.spring_One_content li{width:66%;line-height: normal;text-align: center;cursor: pointer;overflow: hidden;margin:0 auto 14px;background:#fff;border-radius:20px ;padding:0 0 10px;}
.spring_One_btn{width: 100%;margin:0 auto;position: relative;text-align: center;top: -23px;}
.spring_One_btn .spring_One_btna{display: block;width: 27%;font-size: 24px;color: #8c4300;margin:-49px auto 0;}
.spring_One_contbox1{width:100%;height:100%;background: url(../../../images/activity/spring/spring_bg3.png) no-repeat left top;position: relative;}
.spring_One_contbox2{width:100%;height:100%;background: url(../../../images/activity/spring/spring_bg4.png) no-repeat left top;position: relative;}
.spring_One_divone{font-size: 22px;color:#666;padding-top:40px;}
.spring_One_divtwo{font-size: 17px;color:#999;margin-top:56px;}
.spring_One_divthr{font-size: 50px;color:#f64777;}
.spring_One_divthr .spring_One_thrspan{font-size: 26px;}
.spring_One_divfou{font-size: 20px;color:#999;margin-top:30px;text-align: left;width:100%;}
.spring_One_fouspan{padding-left: 7%;display: inline-block;width: 42%;vertical-align: top;}
.spring_One_fouspani{padding-right: 7%;display: inline-block;width: 42%;text-align: right;vertical-align: top;}
.spring_One_divfiv{font-size: 26px;color:#000000;margin:4px 0 6px 0;text-align: left;width:100%;}
.spring_One_fivspan{padding-left: 7%;display: inline-block;width: 41.5%;vertical-align: top;}
.spring_One_fivi{padding-right:7%;display: inline-block;width: 42%;text-align: right;vertical-align: top;}
.spring_One_divsix{width:93%;padding-left:7%;margin-top:20px;position: relative; }
.spring_One_divsix i{font-size: 20px;color:#999;margin-left: -15px;display: inline-block;vertical-align: top;width: auto;position: absolute;right: 7%;top: -9px;}

.spring_One_divthr1{font-size: 50px;color:#A0A0A0;}
.spring_One_divthr1 .spring_One_thrspan{font-size: 26px;}
.spring_One_divfiv1{font-size: 26px;color:#A0A0A0;margin:4px 0 6px 0;text-align: left;width:100%;}
.spring_One_divfiv1 .spring_One_fivspan{padding-left: 7%;display: inline-block;width: 41.5%;vertical-align: top;}
.spring_One_divfiv1 .spring_One_fivi{padding-right:7%;display: inline-block;width: 42%;text-align: right;vertical-align: top;}
.spring_One_six{width:75%;height:8px;background:#e4e4e4;border-radius:4px ;margin-top:4px;}
.spring_One_sixspan{display: block;height:7px;background:#f64777;border-radius:4px ;}
.spring_One_sixspan1{display: block;height:7px;background:#A0A0A0;border-radius:4px ;}
.spring_One_sev{font-size: 16px;color:#999;text-align: left;padding:4px 0 6px 28px;}
.spring_One_notstart{width: 100%;font-size: 18px;color: #f64777;padding: 26px 0 10px;}
.not_haveimg{position: absolute;bottom: -8px;right: -34px;z-index: 1;}

/*two*/
.spring_Two_title_txt{position: absolute;top: -6px;width: 100%;z-index: 1;font-size: 24px;color: #fff;}
.spring_Two_title_txt p{padding:10px 0;}
.spring_Two_title_txt .spring_Two_title_btn{display: inline-block;width: 29%;background: #f2dc60;font-size: 24px;color: #734012;padding: 20px 0;border-radius: 20px;margin:6px auto 0;}
.spring_two_icon{width: 100%;margin:52px auto 0;position:relative;}
.spring_two_icon .spring_two_iconspan{font-size: 22px;color: #e48b39;position: relative;margin-left: 64px;display: inline-block;}
.spring_two_iconspan i{position: absolute;display: inline-block;width: 74%;left: 2px;top: 3px;padding:9px 12% 0 8px;line-height: 24px;}
.money_propup{font-size:18px;color:#fbef6e;width:auto;bottom:-36px;position:absolute;right:2%;}
.spring_Two_bar{width:92%;height: 38px;margin:8px auto 0;border:2px solid #59e65c;background: #0b752b;padding:1px;border-radius: 21px;}
.spring_Two_bar_color{height: 38px;background:url(../../../images/activity/spring/spring11.png) repeat-x center ;border-radius: 19px;position: relative;}
.spring_Two_windmill{position: absolute;top: 5px;right: 7px;}
.spring_Two_bar_txt{width:89%;font-size: 24px;text-align: left;margin:6px auto 10px;padding-left:3%;}
.spring_Two_bar_txti{color: #fefc73;display: inline-block;width: 136px;text-align: center;position: relative;top: -30px;}
.spring_Two_bar_txti1{color: #fefc73;display: inline-block;width: 136px;text-align: center;line-height: normal;}
.spring_Two_bar_login{padding-bottom: 20px;}
.spring_Two_bar_txta{color: #fefc73;text-decoration: underline;font-size: 24px;}
.spring_Two_bar_txtspan{color: #fff;display: inline-block;text-align: center;font-size: 24px;}
.spring_Two_ranking_content{width: 91%;background: #fff;border-radius: 20px;border:2px solid #fffd2e;margin:0 auto 0;position: relative;padding-top: 14px;}
.spring_Two_ranking_content li{width: 100%;text-align: left;height: auto;font-size: 26px;color: #333;line-height: 64px;text-align: center;}
.spring_Two_ranking_content-ranking{width: 27%;position: relative;text-align: center;display: inline-block;vertical-align: top;}
.spring_Two_ranking_content-rankingimg{position: absolute;left:6px;display: inline-block;width: 34px;height: 43px;line-height: 43px;top: 12px; }
.spring_Two_ranking_content-rankingimg img{display: inline-block;}
.spring_Two_ranking_content-money{width: 34%;display: inline-block;vertical-align: top;}
.spring_Two_ranking_content-pank{width: 37%;display: inline-block;vertical-align: top;}
.spring_Two_ranking_img{position: absolute;top: -21px;left: 50%;margin-left: -114.5px;}
.spring_Two_ranking_title{width:95%;text-align: center;font-size: 24px;color: #fffd2e;position: absolute;top: -4px;}
.spring_Two_ranking_title .spring_Two_ranking_titlea{font-size: 16px;text-decoration: underline;color: #fffd2e;}
.pankimg_none_money_img{position:relative;top:1px;}
/*three*/
.spring_Three_img{margin:28px auto 0;}
.spring_Three_txt{width: 100%;font-size: 24px;color: #0b752b;line-height: normal;margin:10px auto 80px;}
.spring_Three_txt li{display: inline-block;vertical-align: top;}
.spring_Three_txt .spring_Three_txt1{width: 27%;}
.spring_Three_txt .spring_Three_txt2{width:43%;}
.spring_Three_txt .spring_Three_txt3{width: 27%;}
.spring_Three_txt3 .spring_Three_txt3a{text-decoration: underline;color: #ff052b;}
.spring_Three_ranking_img{position: absolute;top: -46px;left: 50%;margin-left: -143px;}
.spring_Three_ranking_title{width:95%;text-align: center;font-size: 24px;color: #fffd2e;position: absolute;top: -4px;}
.spring_Three_me{width: 93%;height: 574px;margin:0 auto;overflow-y: scroll;overflow-x: hidden;border-radius: 20px;position: relative;}
.spring_Three_me li{width: 100%;border-bottom: 1px solid #7bca3c;margin:0 auto;font-size: 22px;color: #333;text-align: center;}
.spring_Three_ranking_content{width: 91%;background: #fff;border-radius: 20px;border:2px solid #fffd2e;margin:0 auto 0;position: relative;padding-top: 14px;}
.spring_Three_content{width: 95%;border:2px solid #59e65c;background: #0b752b;border-radius: 20px;margin:24px auto 0;padding: 36px 0;}
.spring_Three_me .spring_Three_metel{display: inline-block;width: 32%;border-right: 1px solid #7bca3c;padding:30px 0 10px;}
.spring_Three_me .spring_Three_memoney{display: inline-block;width: 38%;border-right: 1px solid #7bca3c;padding:30px 0 10px;}
.spring_Three_me .spring_Three_mered{display: inline-block;width: 28%;padding:30px 0 10px;}

/*rule*/
.spring_rule{width: 100%;margin:68px auto 0;position: relative;text-align: center;padding-top: 40px;}
.spring_rule_img1{position: absolute;top: -21px;left: 50%;margin-left: -280px;z-index: 1;}
.spring_rule_img2{position: absolute;top: 11px;left: 50%;margin-left: -59.5px;z-index: 1;}
.spring_rule_content{width: 99%;position: relative;margin:0 auto;}
.spring_rule_bg1{width: 95%;margin:0 auto;background: #128c37;padding:16px 0;border-radius: 20px;}
.spring_rule_ranking_content{width: 91%;background: #fff;border-radius: 20px;border:2px solid #fffd2e;margin:0 auto 0;position: relative;padding: 30px 0;}
.spring_rule_ranking_content p{width: 95%;margin:0 auto;font-size: 24px;color: #0b752b;line-height: normal;text-align: left;}
.spring_rule_number{display: inline-block;width: 4%;vertical-align: top;}
.spring_rule_text{display: inline-block;width: 96%;vertical-align: top;}
/*footer*/
.spring_footer{width: 100%;margin:0 auto;font-size: 24px;color: #d3ffd2;text-align: center;padding:38px 0;}


/**/
/*弹窗*/
.dialog_notice {
    width:100%;position: fixed; top:0px; left:0px;bottom:0px;right:0px; background: rgba(0,0,0,.8);
    display: box;
    display: -webkit-box;
    box-pack:center;
    box-align: center;
    -webkit-box-pack:center;
    -webkit-box-align: center;
    z-index: 100;
}
.alert_open{display: box;
    display: -webkit-box;}
.alert_hide{
    display: none;
}
/*奖励金说明*/
.wrap_dialog{ width:72%; min-height: 100px; margin:0 auto; background: #fff;overflow: hidden; border-radius: 10px;    padding-bottom: 1px;position: relative;}
.rule_window_title{width: 100%;height: 162px;background: url(../../../images/activity/spring/propup1.png) no-repeat center;position: relative;background-size: cover;}
.rule_window_img1{position: absolute;top: 44px;left: 20%;}
.rule_window_close{position: absolute;top: 21px;right: 32px;cursor: pointer;z-index: 101;}
.rule_window_txt{width: 100%;margin:20px auto 0;min-height:100px;font-size: 22px;color: #666;line-height: normal;padding-bottom:10px;}
.rule_window_txt p{padding-left: 30px;}
.rule_window_content{width: 86%;border:1px solid #666;margin:16px auto;}
.rule_window_content li{width: 100%;text-align: center;border-bottom: 1px solid #666;font-size: 22px;padding:15px 0;line-height: none;}
.rule_window_color{color: #e84d4b;}
.rule_window_number{display: inline-block;width: 30px;vertical-align: top;}
.rule_window_text{width: 370px;display: inline-block;vertical-align: top;}
.rule_window_img2{position: absolute;top: 44px;left: 13%;}
.rule_window_img3{position: absolute;top: 44px;left: 24%;}
/*提示*/
.wrap_dialog1{ width:72%; min-height: 10px; margin:0 auto; overflow: hidden; text-align:center;position: relative;}
.prompt_txt{width: 100%;text-align: center;font-size: 24px;color: #fff;position: absolute;top: 150px;z-index: 101;}
.prompt_txt1{line-height:normal;width: 100%;text-align: center;font-size: 24px;color: #fff;position: absolute;top: 140px;z-index: 101;}
.prompt_btn{width: 100%;text-align: center;position: absolute;top: 220px;}
.prompt_btn .prompt_btnres{display: inline-block;width: 138px;border:2px solid #fff;background: #209f90;font-size: 24px;color: #fff;padding: 12px 0;border-radius: 10px;margin-right: 40px;}
.prompt_btn .prompt_btnlogin{display: inline-block;width: 138px;border:2px solid #fff;background: #ffb734;font-size: 24px;color: #fff;padding: 12px 0;border-radius: 10px;}
.rule_window_close1{position: absolute;top: 51px;right: 42px;cursor: pointer;z-index: 101;}



/*遮罩*/
.shae_dialgo{z-index: 15;width:100%; height:100%; position: fixed; left:0px; top:0px; background: rgba(0,0,0,.6); display: none;}
.arrow{width:428px; height:322px; position: absolute; right:18px;top:0px; background: url(../../../images/dialog_arrow.png) no-repeat; }
.shar_off{ width:49px; height:49px;position: absolute; bottom:100px; left:50%; margin:0px 0px 0px -24px; background: url(../../../images/dialog_off.png) no-repeat;}








