#Html("begin")
#Head("begin")
#Title("币港湾理财官网_安心可靠互联网金融投资理财平台_品听资产_杭商资产_浙大网新_P2P网贷")
#Head("end")
	
<body>
	<input type="hidden" id="APP_ROOT_PATH" name="APP_ROOT_PATH" value="$!env.getWebURL('')" />
    <!-- website wrapper starts -->
    <div style="min-height: 57px;" class="websiteWrapper"> 

	  
	  <!-- header wrapper starts -->
	   #Header("银行支付说明","","")
      <!-- header wrapper ends --> 
      
      <!-- notification starts -->
      
      <!-- notification ends --> 
      
      <!-- page wrapper starts -->
	   <div class="pageWrapper contactPageWrapper"> 
       
			
		<div class="banktsss" >
			<p>1、手机打开浦发银行支付界面，可进入手机支付界面；</p>
			<p>2、浦发银行只支支持借记卡，默认的支付额度为每次最高5000，每日最高5000；</p>
			<p>3、可登录浦发银行个人网上银行(www.spdb.com.cn)，通过动态密码登录，点击左边菜单"安全设置"，"限额设置"，"个人网银限额"，可修改支付额度最高为50000；</p>
			<p>4、当日购买金额超过50000的，建议登录电脑网页www.bigangwan.com进行网上银行支付；</p>
			</div>
		   		
	
		  
   	  </div>
          
          
      <!-- page wrapper ends --> 
      <!-- footer wrapper starts -->
<!-- footer wrapper ends --> 
       #Footer("2")
    </div>
</div>
	<!-- website wrapper ends -->
	#LoadJS("resources/micro/scripts/user/checkMobile")
</body>

#Html("end")