#Html("begin")
#Head("begin")
#Title("币港湾理财官网_安心可靠互联网金融投资理财平台_品听资产_杭商资产_浙大网新_P2P网贷")
#Head("end")
#LoadCSS("/resources/micro/styles/scrollStyle")
</head>

<body onload="srcolls($!id)">
<!-- website wrapper starts -->
<div style="min-height:0px;" class="websiteWrapper">
    #Header("定期理财","", "")
  <!-- header wrapper ends --> 
</div>
<div class="newrow">
  
  <div class="act">
	
	
		#if("$!id"=="5")
			<a href="$!env.getWebURL('')/micro/home/attention">
				<img src="$!env.getWebURL('')/resources/micro/images/1212.png" >
			</a>  
		#elseif("$!id"=="6")
			<a href="$!env.getWebURL('')/micro/regular/buy?id=$!id">
				<img src="$!env.getWebURL('')/resources/micro/images/1222.png" style="background-color:#ffcc66">
			</a>
		#end
</div>
  <div class="cany">
		共有$!investNum个湾粉参与购买#if("$!id"=="5")（电脑端专享） #end<br/>
		购买总金额为$!currTotalAmount元
  </div>

</div>
   <div class="cp" style="padding-top:0px;background: none repeat scroll 0 0 #fff;margin-bottom:0px;">
         #*  <div class="gom">
            <div class="l1">
              <p style="border-bottom:1px solid #ccc;"><span><b style="color:rgb(73, 143, 192);font-size:16px;">$!trem</b>个月<br>
                固定期限</span></p>
              <p><span><b style="color:rgb(73, 143, 192);font-size:16px;">$!investNum</b>人<br>
                已投资</span></p>
            </div>
            <a href="#"><img src="$!env.getWebURL('')/resources/micro/images/ljgm_menu.png" height="86" width="83"></a>
            <div class="r">
              <p style="border-bottom:1px solid #ccc;text-align:right;"> <span><b style="color:rgb(73, 143, 192);font-size:16px;">$!rate%</b><br>
                年化收益</span></p>
              <p style="text-align:right;"><span>本息担保<br>
                安全兑付</span></p>
            </div>
          </div>*#
		 <div class="wz12" style="margin-top:10px;">产品特点</div>
         <div class="wz10">$!trem个月固定期限投资</div>
		 <div class="wz10">本息担保安全兑付</div>
          <div class="wz10">
			投资期限短，收益适中
		  </div>
          <div class="wz10">比同期银行定期高<span>
		        #if("$!id"=="5")
					700%
				#elseif("$!id"=="6")
					770%
				#end
		  </span>以上</div>
		  <div class="wz10">比某宝宝类年化收益高 <span>
				#if("$!id"=="5")
					200%
				#elseif("$!id"=="6")
					220%
				#end

		  </span>以上</div>
		  
        </div>
		<div class="gwgs" id="showBar" >
			<h2  style="font-size:16px; text-align: left; margin-left:30px;  line-height:25px;" id="txt">
                    查看详情
					<label class="icon icon-plus" id="icon" style="float:right; width: 20px; height: 20px; margin-right:30px"></label>
            </h2>
        </div>
		
		<div id="show" style="display:none">
		
        <div class="js2">
          <div class="m_tit">
            <h2 class="long"> 收益计息 </h2>
          </div>
          <div class="postExcerptWrapper">
            <p>购入第二天即开始计息；</p>
            <p>产品到期后，1天-3天内自动本息回款； </p>
            <p>年化收益$!rate%;</p>
            <p>到期1次性本息兑付。</p>
          </div>
        </div>
        <div class="js2">
          <div class="m_tit">
            <h2 class="long" style="padding-left: 10px;"> 充值和提现</h2>
          </div>
          <div class="postExcerptWrapper">
            <p>
				##每次购买100元-10000元，每人只有1次购买机会；
				#if("$!id"=="6")
					每次购买100元-5000元，每人最高购买额度为3万元；
				#elseif("$!id"=="5")
					每次购买金额为1万元-20万元（进入电脑端<font color="blue">www.bigangwan.com</font>购买），每人最高购买额度为20万元；
				#end
				投资$!dayNum天后，系统自动赎回，并提现到您绑定的银行卡中，请保证绑定银行卡的有效性，为了您的投资安全和便利，币港湾遵从一卡取，多卡购的原则，即您绑定认证并提现的银行卡只能一张，您购买支付可以选择多张卡。  </p>
          </div>
        </div>
        <div class="js2">
          <div class="m_tit">
            <h2 class="long"> 投资去向 </h2>
          </div>
          <div class="postExcerptWrapper">
            <p>定期理财和优质的小贷公司进行合作，转让优质的小额贷款债权，每一笔债权都由币港湾平台根据5道风控体系进行筛选评分，最终匹配给投资者，币港湾对每一笔投资款都分别分割到多笔小额贷款中，以保证资金本息安全。 </p>
          </div>
        </div>
        <div class="js2">
          <div class="m_tit">
            <h2 class="long"> 本息保障 </h2>
          </div>
          <div class="postExcerptWrapper">
            <p>定期理财每一笔投资款都由担保公司承保，承诺一旦发生逾期还款即由担保公司垫付资金，优先兑付给投资者，同时币港湾平台也将根据经营状况设置足够兑付的风险资本金，以保证投资者资金到期赎回的兑付。 </p>
          </div>
        </div>
        <div class="js2">
          <div class="m_tit">
            <h2 class="long" style="padding-left: 10px;">绑卡自动取现银行</h2>
          </div>
          <div class="postExcerptWrapper" style="border-bottom:none;">
            <p>为了您的投资安全和便利，币港湾遵从一卡取，多卡购的原则，即您绑定认证并提现的银行卡只能一张，您购买支付可以选择多张卡。</p>
          </div>
		  <table>
              <thead>
                <tr style="border-bottom:none;">
                  <th>工商银行</th>
                  <th>农业银行</th>
                  <th>中国银行</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>建设银行</th>
                  <th>招商银行</th>
                  <th>光大银行</th>
                </tr>
                <tr>
                  <th>民生银行</th>
                  <th>兴业银行</th>
                  <th>邮政储蓄银行</th>
                </tr>
              </tbody>
            </table>
			
			<!--
					  <table>
              <thead>
                <tr style="border-bottom:none;">
                  <th>银行</th>
                  <th>单笔限额</th>
                  <th>每日限额</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>招商银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>中国建设银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>工商银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>平安银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>兴业银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
              <tr>
                  <td>北京银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
				<tr>
                  <td>交通银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
				<tr>
                  <td>浦发银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
               <tr>
                  <td>光大银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
				<tr>
                  <td>渤海银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
              </tbody>
            </table>
			-->
        </div>
		#if("$!id"=="6")
	     <div class="js2">
          <div class="m_tit">
            <h2 class="long" style="padding-left: 10px;">手机购买充值银行</h2>
			<p>因为各个银行账户的限额原因，您在手机端购买的日金额取决于您所在银行的限制。</p>
          </div>
		  
		  <table>
              <thead>
                <tr style="border-bottom:none;">
                  <th>银行</th>
                  <th>每笔</th>
                  <th>每日</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>工商银行</td>
                  <td>1万</td>
                  <td>5万</td>
                </tr>
                <tr>
                  <td>建设银行</td>
                  <td>2万</td>
                  <td>5万</td>
                </tr>
		        <tr>
                  <td>招商银行</td>
                  <td>5000</td>
                  <td>5万</td>
                </tr>
				<tr>
                  <td>浦发银行</td>
                  <td>5万</td>
                  <td>5万</td>
                </tr>
                <tr>
                  <td>交通银行</td>
                  <td>5万</td>
                  <td>5万</td>
                </tr>
				
                <tr>
                  <td>光大银行</td>
                  <td>1万</td>
                  <td>10万</td>
                </tr>
				<tr>
                  <td>兴业银行</td>
                  <td>5000</td>
                  <td>5万</td>
                </tr>
                <tr>
                  <td>平安银行</td>
                  <td>5万</td>
                  <td>5万</td>
                </tr>
				<tr>
                  <td>北京银行</td>
                  <td>10万</td>
                  <td>20万</td>
                </tr>
                <tr>
                  <td>渤海银行</td>
                  <td>2万</td>
                  <td>10万</td>
                </tr>
              </tbody>
            </table>
		</div>
		#end
		<div class="js2">
			<div class="m_tit">
            <h2 class="long" style="padding-left: 10px;border-bottom: 1px solid #efede2;">网银购买充值银行</h2>
			<p>请登录<a>www.bigangwan.com</a>进行网银支付，网银UKey支付没有购买上限，收益仍然在手机端查看，到期自动返款到您绑定的银行卡中。
			</p>
          </div>
		  
		  <table>
              <thead>
                <tr style="border-bottom:none;">
                  <th>银行</th>
                  <th>每笔</th>
                  <th>每日</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>工商银行</td>
                  <td>50万</td>
                  <td>不限</td>
                </tr>
                <tr>
                  <td>建设银行</td>
                  <td>20万</td>
                  <td>50万</td>
                </tr>
		        <tr>
                  <td>中国银行</td>
                  <td>20万</td>
                  <td>不限</td>
                </tr>
				<tr>
                  <td>农业银行</td>
                  <td>20万</td>
                  <td>不限</td>
                </tr>
                <tr>
                  <td>招商银行</td>
                  <td>100万</td>
                  <td>不限</td>
                </tr>
				
                <tr>
                  <td>浦发银行</td>
                  <td>20万</td>
                  <td>不限</td>
                </tr>
				<tr>
                  <td>交通银行</td>
                  <td>5万</td>
                  <td>100万</td>
                </tr>
                <tr>
                  <td>光大银行</td>
                  <td>50万</td>
                  <td>100万</td>
                </tr>
				<tr>
                  <td>兴业银行</td>
                  <td>50万</td>
                  <td>不限</td>
                </tr>
                <tr>
                  <td>民生银行</td>
                  <td>5万</td>
                  <td>50万</td>
                </tr>
				<tr>
                  <td>邮政储蓄</td>
                  <td>5万</td>
                  <td>200万</td>
                </tr>
				<tr>
                  <td>深发银行</td>
                  <td>5万</td>
                  <td>5万</td>
                </tr>
				<tr>
                  <td>平安银行</td>
                  <td>5万</td>
                  <td>100万</td>
                </tr>
				<tr>
                  <td>北京银行</td>
                  <td>20万</td>
                  <td>100万</td>
                </tr>
				<tr>
                  <td>上海银行</td>
                  <td>1万</td>
                  <td>100万</td>
                </tr>
				<tr>
                  <td>渤海银行</td>
                  <td>2万</td>
                  <td>10万</td>
                </tr>
				<tr>
                  <td>北京农商</td>
                  <td>5万</td>
                  <td>不限</td>
                </tr>
              </tbody>
            </table>
        </div>
        </div>
		
		<div class="gwgs">
<h2>
<img style="left:-5px;" src="$!env.getWebURL('')/resources/micro/images/hh2.png">
湾粉投资
<img style="left:5px;" src="$!env.getWebURL('')/resources/micro/images/hh2.png">
</h2>
</div>
		<div style="width:100%;background-color:#fff; margin-bottom:80px;">	
            <div style="width:95%;margin:0 auto 10px;border-radius: 10px; border: 1px solid #f2f2f2;">
            	<div class="cztz">
            		  <ul>
                             <li>手机</li>
                             <li>产品</li>
                             <li>金额</li>
                       </ul>
                </div>
                <div class="list_lh">
                          <ul id="orderList">
							
                          </ul>
                          
                </div>
            </div>	
        </div>	
		
		
        <div class="wz4"> 
			#if("$!id"=="5")
            <a href="$!env.getWebURL('')/micro/home/attention" class="go_btn2" style="position: fixed;z-index: 1000;bottom:0px;left:3%;margin-bottom:55px;">立即购买</a>
			#elseif("$!id"=="6")
			<a href="$!env.getWebURL('')/micro/regular/buy?id=$!id" class="go_btn2" style="position: fixed;z-index: 1000;bottom:0px;left:3%;margin-bottom:55px;">立即购买</a> 
			#end
			</div>
    
    <!-- back to top btn ends --> 
    
    <!-- copyright wrapper ends --> 
	
		#if("$!id"=="5")
			#WeiChatShare("互联网理财，30天投资12%收益，超级体验等着您！","浙大网新(600797)集团官方理财平台--币港湾安全理财。背靠杭商国资，互联网金融IT技术为支撑，打造金融新平台。","$!env.getWebURL('/resources/micro/images/bgw.jpg')","$!weichat.link",$!weichat.appid,$!weichat.timestamp,$!weichat.nonceStr,$!weichat.signature);
		#elseif("$!id"=="6")
			#WeiChatShare("互联网理财，30天投资13.2%收益，超级体验等着您！","浙大网新(600797)集团官方理财平台--币港湾安全理财。背靠杭商国资，互联网金融IT技术为支撑，打造金融新平台。","$!env.getWebURL('/resources/micro/images/bgw.jpg')","$!weichat.link",$!weichat.appid,$!weichat.timestamp,$!weichat.nonceStr,$!weichat.signature);
		#end
    #Footer("2")
  <!-- footer wrapper ends --> 
  <!-- footer wrapper ends --> 
  
</div>
</body>
#LoadJS("/resources/micro/scripts/regular/detail")
#LoadJS("/resources/micro/scripts/home/index")

<script type="text/javascript">
    $(document).ready(function(){
   		 $('.list_lh li:even').addClass('lieven');
    })
    $(function(){
        $("div.list_lh").myScroll({
            speed:50, //数值越大，速度越慢
            rowHeight:41 //li的高度
        });
    });
</script>
</html>