#Html("begin")
#Head("begin")
#Title("币港湾理财官网_安心可靠互联网金融投资理财平台_品听资产_杭商资产_浙大网新_P2P网贷")
#Head("end")

<body>
<!-- website wrapper starts -->
<div style="min-height: 57px;" class="websiteWrapper">
  #Header("定期理财","", "", "micro/index")
    <!-- main menu wrapper ends --> 
  </div>
  <!-- header wrapper ends --> 
</div>
<div class="newrow" style="margin-bottom: 100px;">
  <div style="background:#FFF;padding-bottom:5px;">
    <ul id="pagenavi1" class="newtitle1">
	   #if($!result.id)
          <li><a href="$!env.getWebURL('')/micro/regular/index?id=1" #if($!result.id ==1 ) class="curnewbtn" #else class="curnewbtn-normal" style="text-decoration: none;" #end ><span>3个月</span></a></li>
         <li><a href="$!env.getWebURL('')/micro/regular/index?id=2" #if($!result.id ==2 ) class="curnewbtn" #else class="curnewbtn-normal" style="text-decoration: none;" #end><span>6个月</span></a></li>
         <li><a href="$!env.getWebURL('')/micro/regular/index?id=3" #if($!result.id ==3 ) class="curnewbtn" #else class="curnewbtn-normal" style="text-decoration: none;" #end><span>12个月</span></a></li>
		  <li><a href="$!env.getWebURL('')/micro/regular/transferIndex"  class="curnewbtn-normal" ><span>转让区</span></a></li>
	  #else
		  <li><a href="$!env.getWebURL('')/micro/regular/index?id=1"  class="curnewbtn-normal" style="text-decoration: none;"><span>3个月</span></a></li>
          <li><a href="$!env.getWebURL('')/micro/regular/index?id=2"  class="curnewbtn-normal" style="text-decoration: none;"><span>6个月</span></a></li>
          <li><a href="$!env.getWebURL('')/micro/regular/index?id=3"  class="curnewbtn-normal" style="text-decoration: none;"><span>12个月</span></a></li>
          <li><a href="$!env.getWebURL('')/micro/regular/transferIndex" class="curnewbtn"><span>转让区</span></a></li>
	  #end
    </ul>
  </div>
    <div class="dq">
	<div class="dq2">
<h5>$!result.trem个月产品期限</h5>
<ul>
<li style="border:0;"><img src="$!env.getWebURL('')/resources/micro/images/dq2.png" width="35" height="33"></li>
<li><span>$!result.rate%</span>
<br />
年化收益
</li>
<li><span>$!result.investNum人</span>
<br />
投资人数</li>
<li>本息担保<br />
安全兑付</li>
</ul>
</div>   
</div>
 #* <div class="gom">
            <div class="l1">
              <p style="border-bottom:1px solid #ccc;"><span><b style="color:rgb(73, 143, 192);font-size:16px;">$!result.trem</b>个月<br>
                产品期限</span></p>
              <p><span><b style="color:rgb(73, 143, 192);font-size:16px;">$!result.investNum</b>人<br>
                已投资</span></p>
            </div>
			 <div style="width:40%;float:left;">
            <img src="$!env.getWebURL('')/resources/micro/images/lj_more.png" height="86" width="83">
            </div>
			<div class="r" style="width:30%;">
              <p style="border-bottom:1px solid #ccc;text-align:right;"> <span><b style="color:rgb(73, 143, 192);font-size:16px;">$!result.rate%</b><br>
                年化收益</span></p>
              <p style="text-align:right;"><span>本息担保<br>
                安全兑付</span></p>
            </div>
          </div>*#
     
<div class="cp" style="padding-top:0px;background: none repeat scroll 0 0 #fff; margin-bottom:0px;border-bottom: 1px dotted #e4e4e4;">
    <div class="wz12">介绍</div>
	  <div class="wz10"> 
		
		#if($!result.trem == 3)	
			投资期限短，收益适中
		#elseif($!result.trem == 6)
			投资期限适中，收益较高
		#elseif($!result.trem == 12)
			投资期限较长，收益高
		#end
		
	  
	  </div>
      <div class="wz10">比$!result.trem个月银行定期高<span>
		#if($!result.trem == 3)	
			280%
		#elseif($!result.trem == 6)
			290% 
		#elseif($!result.trem == 12)
			428%
		#end
	  </span></div>
      <div class="wz10" style="border-bottom:0;">比$!result.trem个月理财产品年化收益高
		<span>
			#if($!result.trem == 3)	
			100%
		#elseif($!result.trem == 6)
			100%
		#elseif($!result.trem == 12)
			160%
		#end
		</span>
		以上
	  </div>
	</div>
     <div class="ll" style="border:0;" ><span style="color:#2fa8e1;"><a href="$!env.getWebURL('')/micro/regular/detail?id=$!result.id&investNum=$!result.investNum&term=$!result.trem&rate=$!result.rate">查看详情</a></span></div>
    <div class="wz4"> <a href="$env.getWebURL('')/micro/regular/buy?id=$!result.id" class="go_btn2">立即购买</a> </div>
    <!-- back to top btn ends --> 
    
    <!-- copyright wrapper ends --> 

  <!-- footer wrapper starts -->
   #Footer("2")
  <!-- footer wrapper ends --> 
  <!-- footer wrapper ends --> 
  
</div>
#WeiChatShare("币港湾安全理财平台，拥有杭商国资和著名上市集团公司浙大网新的丰厚背景，打造全国性互联网理财平台。","安全、稳健的移动互联网投资产品，3个月短期、6个月中期、1年中长期投资，预期收益率分别为：8%，9%，13.2%；注册有惊喜！www.bigangwan.com ","$!env.getWebURL('/resources/micro/images/bgw.jpg')","$!weichat.link",$!weichat.appid,$!weichat.timestamp,$!weichat.nonceStr,$!weichat.signature);

<!-- website wrapper ends -->

</body>
</html>