#Html("begin")
#Head("begin")
#Title("币港湾理财官网_安心可靠互联网金融投资理财平台_品听资产_杭商资产_浙大网新_P2P网贷")
#Head("end")
</head>

<body>
<!-- website wrapper starts -->
<div style="min-height: 57px;" class="websiteWrapper">
    #Header("定期理财")
  <!-- header wrapper ends --> 
</div>
<div class="newrow">
  <div style="background:#FFF">
    <ul id="pagenavi1" class="newtitle1">
      <li ><span><a href="#" class="curnewbtn">3个月</a></span></li>
      <li><span><a class="" href="#">6个月</a></span></li>
      <li><span><a class="" href="#">12个月</a></span></li>
      <li><span><a class="" href="#">转让区</a></span></li>
    </ul>
  </div>
  <div style="overflow: hidden; visibility: visible; list-style: outside none none; position: relative;" class="newbox" id="slider1"> 
    <!--banner切换s--> 
    
    <!--banner切换e-->
    
    <ul class="bigbox">
      <li class=" li_list3">
        <div class="cp" style="padding-top:0px">
		
          <div class="gom">
            <div class="l1">
              <p style="border-bottom:1px solid #ccc;"><span><b style="color:rgb(73, 143, 192);font-size:16px;">3</b>个月<br>
                固定期限</span></p>
              <p><span><b style="color:rgb(73, 143, 192);font-size:16px;">1</b>人<br>
                已投资</span></p>
            </div>
            <a href="#"><img src="$!env.getWebURL('')/resources/micro/images/ljgm_menu.jpg" height="86" width="83"></a>
            <div class="r">
              <p style="border-bottom:1px solid #ccc;text-align:right;"> <span><b style="color:rgb(73, 143, 192);font-size:16px;">7%</b><br>
                年化收益</span></p>
              <p style="text-align:right;"><span>本息担保<br>
                安全兑付</span></p>
            </div>
          </div>
         <div class="wz10"> 投资期限短，收益适中</div>
          <div class="wz10">比3个月银行定期高<span>4.15%</span></div>
          <div class="wz10">比3个月理财产品年化收益高<span>2-3%</span></div>
        </div>
        <div class="js2">
          <div class="m_tit">
            <h2 class="long"> 收益计息 </h2>
          </div>
          <div class="postExcerptWrapper">
            <p>购入当天即开始计息；</p>
            <p>T+1日提现收益到账； </p>
            <p>年化收益7%;</p>
            <p>到期1次性本息兑付；</p>
          </div>
        </div>
        <div class="js2">
          <div class="m_tit">
            <h2 class="long" style="padding-left: 10px;"> 充值和提现</h2>
          </div>
          <div class="postExcerptWrapper">
            <p>每次购买100元起，每天购买限制3次；</p>
            <p>投资90天后，系统自动赎回，并提现到您当时
              投资的银行卡中，请保证银行卡的有效性，为了
              您的投资安全，币港湾遵从同卡进出原则，即：
              投资的银行卡必须是到期提现的银行卡； </p>
          </div>
        </div>
        <div class="js2">
          <div class="m_tit">
            <h2 class="long"> 投资去向 </h2>
          </div>
          <div class="postExcerptWrapper">
            <p>活期通和优质的小贷公司进行合作，转让优质
              的小额贷款债权，每一笔债权都由币港湾平台根
              据5道风控体系进行筛选评分，最终匹配给投资
              者，币港湾对每一笔投资款都分别分割到多笔小
              额贷款中，以保证资金本息安全。 </p>
          </div>
        </div>
        <div class="js2">
          <div class="m_tit">
            <h2 class="long"> 本息保障 </h2>
          </div>
          <div class="postExcerptWrapper">
            <p>活期通每一笔投资款都由担保公司承保，承诺
              一旦发生预期还款即由担保公司垫付资金，
              优先兑付给投资者，同时币港湾平台也将根据
              经营状况设置足够兑付的风险资本金，以保证
              投资者资金到期赎回的兑付； </p>
          </div>
        </div>
        <div class="js2">
          <div class="m_tit">
            <h2 class="long" style="padding-left: 10px;"> 银行卡额度 </h2>
          </div>
          <div class="postExcerptWrapper">
            <p>由于各银行卡对充值限额有不同的规定，请参考以下银行充值限额</p>
            <table>
              <thead>
                <tr>
                  <th>银行</th>
                  <th>单笔限额</th>
                  <th>每日限额</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>农业银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>工商银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>招商银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>中国银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>建设银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>广大银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>华夏银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>浦发银行</td>
                  <td>5万/笔（可在银行自行设置）</td>
                  <td>100万/天</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="wz4"> <a href="$!env.getWebURL('')/micro/regular/buy" class="go_btn2">立即购买</a> </div>
      </li>
      <li class=" li_list3">
        <div class="cp" style="padding-top:0px">
		  
          <div class="gom">
            <div class="l1">
              <p style="border-bottom:1px solid #ccc;"><span><b style="color:rgb(73, 143, 192);font-size:16px;">6</b>个月<br>
                固定期限</span></p>
              <p><span><b style="color:rgb(73, 143, 192);font-size:16px;">1</b>人<br>
                已投资</span></p>
            </div>
            <a href="http://192.168.1.87:8080/site-web/micro/huoqitong/detail?id=1&amp;baseRate=8.0&amp;maxRate=12.5&amp;investNum=1"><img src="$!env.getWebURL('')/resources/micro/images/ljgm_menu.jpg" height="86" width="83"></a>
            <div class="r">
              <p style="border-bottom:1px solid #ccc;text-align:right;"> <span><b style="color:rgb(73, 143, 192);font-size:16px;">9%</b><br>
                年化收益</span></p>
              <p style="text-align:right;"><span>本息担保<br>
                安全兑付</span></p>
            </div>
          </div>
         <div class="wz10"> 投资期限短，收益适中</div>
          <div class="wz10">比6个月银行定期高<span>5.95%</span></div>
          <div class="wz10">比6个月理财产品年化收益高<span>4-5%</span></div>
        </div>
        <div class="js2">
          <div class="m_tit">
            <h2 class="long"> 收益计息 </h2>
          </div>
          <div class="postExcerptWrapper">
            <p>购入当天即开始计息;</p>
            <p>T+1日体现收益到账；</p>
            <p>年化收益9%;</p>
            <p>到期1次性本息兑付； </p>
          </div>
        </div>
        <div class="js2">
          <div class="m_tit">
            <h2 class="long" style="padding-left: 10px;"> 充值和提现</h2>
          </div>
          <div class="postExcerptWrapper">
            <p>每次购买100元起，每天购买限制3次；</p>
            <p>投资180天后，系统自动赎回，并提现到您当时
              投资的银行卡中，请保证银行卡的有效性，为了
              您的投资安全，币港湾遵从同卡进出原则，即：
              投资的银行卡必须是到期提现的银行卡；</p>
          </div>
        </div>
        <div class="js2">
          <div class="m_tit">
            <h2 class="long"> 投资去向 </h2>
          </div>
          <div class="postExcerptWrapper">
            <p>活期通和优质的小贷公司进行合作，转让优质
              的小额贷款债权，每一笔债权都由币港湾平台根
              据5道风控体系进行筛选评分，最终匹配给投资
              者，币港湾对每一笔投资款都分别分割到多笔小
              额贷款中，以保证资金本息安全。</p>
          </div>
        </div>
        <div class="js2">
          <div class="m_tit">
            <h2 class="long"> 本息保障 </h2>
          </div>
          <div class="postExcerptWrapper">
            <p>活期通每一笔投资款都由担保公司承保，承诺
              一旦发生预期还款即由担保公司垫付资金，
              优先兑付给投资者，同时币港湾平台也将根据
              经营状况设置足够兑付的风险资本金，以保证
              投资者资金到期赎回的兑付； </p>
          </div>
        </div>
        <div class="js2">
          <div class="m_tit">
            <h2 class="long" style="padding-left: 10px;"> 银行卡额度 </h2>
          </div>
          <div class="postExcerptWrapper">
            <p> 由于各银行卡对充值限额不同的规定，请参考一下银行充值限额 </p>
            <table>
              <thead>
                <tr>
                  <th>银行</th>
                  <th>单笔限额</th>
                  <th>每日限额</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>农业银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>工商银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>招商银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>中国银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>建设银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>广大银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>华夏银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>浦发银行</td>
                  <td>5万/笔（可在银行自行设置）</td>
                  <td>100万/天</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="wz4"> <a href="$!env.getWebURL('')/micro/regular/buy" class="go_btn2">立即购买</a> </div>
      </li>
      <li class=" li_list3">
        <div class="cp" style="padding-top:0px">
	     
          <div class="gom">
            <div class="l1">
              <p style="border-bottom:1px solid #ccc;"><span><b style="color:rgb(73, 143, 192);font-size:16px;">3</b>个月<br>
                产品期限</span></p>
              <p><span><b style="color:rgb(73, 143, 192);font-size:16px;">1</b>人<br>
                已投资</span></p>
            </div>
            <a href="http://192.168.1.87:8080/site-web/micro/huoqitong/detail?id=1&amp;baseRate=8.0&amp;maxRate=12.5&amp;investNum=1"><img src="$!env.getWebURL('')/resources/micro/images/ljgm_menu.jpg" height="86" width="83"></a>
            <div class="r">
              <p style="border-bottom:1px solid #ccc;text-align:right;"> <span><b style="color:rgb(73, 143, 192);font-size:16px;">7%</b><br>
                年化收益</span></p>
              <p style="text-align:right;"><span>本息担保<br>
                安全兑付</span></p>
            </div>
          </div>
         <div class="wz10"> 投资期限短，收益适中</div>
          <div class="wz10">比3个月银行定期高<span>4.15%</span></div>
          <div class="wz10">比3个月理财产品年化收益高<span>2-3%</span></div>
        </div>
        <div class="js2">
          <div class="m_tit">
            <h2 class="long"> 收益计息 </h2>
          </div>
          <div class="postExcerptWrapper">
            <p>活期通采用等级利率计息，根据存入时间分为：</p>
            <p>转入1-3个月，计息年化收益8.0%； </p>
            <p>转入3-6个月，计息年化收益9.5%；</p>
            <p>转入6-9个月，计息年化收益11.0%; </p>
            <p>转入9个月以上，计息年化收益12.5%； </p>
          </div>
        </div>
        <div class="js2">
          <div class="m_tit">
            <h2 class="long" style="padding-left: 10px;"> 充值和提现</h2>
          </div>
          <div class="postExcerptWrapper">
            <p>每次充值100元起，每天充值限制3次；</p>
            <p>账户必须赎回后方可提现，投资活期通30天后
              
              可以申请赎回，当天T+1日赎回结算，T+3-5日
              
              提现到账，每日最高赎回5万元； </p>
          </div>
        </div>
        <div class="js2">
          <div class="m_tit">
            <h2 class="long"> 投资去向 </h2>
          </div>
          <div class="postExcerptWrapper">
            <p> 活期通和优质的小贷公司进行合作，转让优质
              
              的小额贷款债权，每1笔债权都由活期通平台根
              
              据5道风控体系进行筛选评分，最终匹配给投资
              
              者，活期通对每1笔投资款都分别分割到多笔小
              
              额贷款中，以保证资金本息安全。 </p>
          </div>
        </div>
        <div class="js2">
          <div class="m_tit">
            <h2 class="long"> 本息保障 </h2>
          </div>
          <div class="postExcerptWrapper">
            <p> 活期通每1笔投资款都由担保公司承保，承诺
              
              一旦发生预期还款即由担保公司垫付资金，
              
              优先兑付给投资者，同时币港湾平台也将根据
              
              经营状况设置足够兑付的风险资本金，以保证
              
              投资者资金到期赎回的兑付； </p>
          </div>
        </div>
        <div class="js2">
          <div class="m_tit">
            <h2 class="long" style="padding-left: 10px;"> 银行卡额度 </h2>
          </div>
          <div class="postExcerptWrapper">
            <p> 由于各银行卡对充值限额不同的规定，请参考一下银行充值限额 </p>
            <table>
              <thead>
                <tr>
                  <th>银行</th>
                  <th>单笔限额</th>
                  <th>每日限额</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>农业银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>工商银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>招商银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>中国银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>建设银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>广大银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>华夏银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>浦发银行</td>
                  <td>5万/笔（可在银行自行设置）</td>
                  <td>100万/天</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="wz4"> <a href="$!env.getWebURL('')/micro/regular/buy" class="go_btn2">立即购买</a> </div>
      </li>
      <li class=" li_list3">
        <div class="cp" style="padding-top:0px">
		 
          <div class="gom">
            <div class="l1">
              <p style="border-bottom:1px solid #ccc;"><span><b style="color:rgb(73, 143, 192);font-size:16px;">3</b>个月<br>
                产品期限</span></p>
              <p><span><b style="color:rgb(73, 143, 192);font-size:16px;">1</b>人<br>
                已投资</span></p>
            </div>
            <a href="http://192.168.1.87:8080/site-web/micro/huoqitong/detail?id=1&amp;baseRate=8.0&amp;maxRate=12.5&amp;investNum=1"><img src="$!env.getWebURL('')/resources/micro/images/ljgm_menu.jpg" height="86" width="83"></a>
            <div class="r">
              <p style="border-bottom:1px solid #ccc;text-align:right;"> <span><b style="color:rgb(73, 143, 192);font-size:16px;">7%</b><br>
                年化收益</span></p>
              <p style="text-align:right;"><span>本息担保<br>
                安全兑付</span></p>
            </div>
          </div>
           <div class="wz10"> 投资期限短，收益适中</div>
          <div class="wz10">比3个月银行定期高<span>4.15%</span></div>
          <div class="wz10">比3个月理财产品年化收益高<span>2-3%</span></div>
        </div>
        <div class="js2">
          <div class="m_tit">
            <h2 class="long"> 收益计息 </h2>
          </div>
          <div class="postExcerptWrapper">
            <p>活期通采用等级利率计息，根据存入时间分为：</p>
            <p>转入1-3个月，计息年化收益8.0%； </p>
            <p>转入3-6个月，计息年化收益9.5%；</p>
            <p>转入6-9个月，计息年化收益11.0%; </p>
            <p>转入9个月以上，计息年化收益12.5%； </p>
          </div>
        </div>
        <div class="js2">
          <div class="m_tit">
            <h2 class="long" style="padding-left: 10px;"> 充值和提现</h2>
          </div>
          <div class="postExcerptWrapper">
            <p>每次充值100元起，每天充值限制3次；</p>
            <p>账户必须赎回后方可提现，投资活期通30天后
              
              可以申请赎回，当天T+1日赎回结算，T+3-5日
              
              提现到账，每日最高赎回5万元； </p>
          </div>
        </div>
        <div class="js2">
          <div class="m_tit">
            <h2 class="long"> 投资去向 </h2>
          </div>
          <div class="postExcerptWrapper">
            <p> 活期通和优质的小贷公司进行合作，转让优质
              
              的小额贷款债权，每1笔债权都由活期通平台根
              
              据5道风控体系进行筛选评分，最终匹配给投资
              
              者，活期通对每1笔投资款都分别分割到多笔小
              
              额贷款中，以保证资金本息安全。 </p>
          </div>
        </div>
        <div class="js2">
          <div class="m_tit">
            <h2 class="long"> 本息保障 </h2>
          </div>
          <div class="postExcerptWrapper">
            <p> 活期通每1笔投资款都由担保公司承保，承诺
              
              一旦发生预期还款即由担保公司垫付资金，
              
              优先兑付给投资者，同时币港湾平台也将根据
              
              经营状况设置足够兑付的风险资本金，以保证
              
              投资者资金到期赎回的兑付； </p>
          </div>
        </div>
        <div class="js2">
          <div class="m_tit">
            <h2 class="long" style="padding-left: 10px;"> 银行卡额度 </h2>
          </div>
          <div class="postExcerptWrapper">
            <p> 由于各银行卡对充值限额不同的规定，请参考一下银行充值限额 </p>
            <table>
              <thead>
                <tr>
                  <th>银行</th>
                  <th>单笔限额</th>
                  <th>每日限额</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>农业银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>工商银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>招商银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>中国银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>建设银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>广大银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>华夏银行</td>
                  <td>50万/笔</td>
                  <td>100万/天</td>
                </tr>
                <tr>
                  <td>浦发银行</td>
                  <td>5万/笔（可在银行自行设置）</td>
                  <td>100万/天</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="wz4"> <a href="$!env.getWebURL('')/micro/regular/buy" class="go_btn2">立即购买</a> </div>
      </li>
    </ul>
    
    <!-- back to top btn ends --> 
    
    <!-- copyright wrapper ends --> 
  </div>
    #Footer("2")
  <!-- footer wrapper ends --> 
  <!-- footer wrapper ends --> 
  
</div>
<script type="text/javascript">
    for (n = 1; n <= 1; n++) {
        var page = 'pagenavi' + n;
        var mslide = 'slider' + n;
        var as = document.getElementById(page).getElementsByTagName('a');
        var tt = new TouchSlider({id: mslide, 'auto': '-1', fx: 'ease-out', direction: 'left', speed: 600, timeout: 5000, 'before': function(index) {
                var as = document.getElementById(this.page).getElementsByTagName('a');
                as[this.p].className = '';
                as[index].className = 'curnewbtn';
                this.p = index;
                $("#" + this.page).parent().find('.go_btn').hide();
                $("#" + this.page).parent().find('.go_btn').eq(index).show();
            }});
        tt.page = page;
        tt.p = 0;
        for (var i = 0; i < as.length; i++) {
            (function() {
                var j = i;
                as[j].tt = tt;
                as[j].onclick = function() {
                    this.tt.slide(j);
                    return false;
                }
            })();
        }
    }
</script> 
<!-- website wrapper ends -->

<div style="display: none;" id="cboxOverlay"></div>
<div style="display: none;" tabindex="-1" role="dialog" class="" id="colorbox">
  <div id="cboxWrapper">
    <div>
      <div style="float: left;" id="cboxTopLeft"></div>
      <div style="float: left;" id="cboxTopCenter"></div>
      <div style="float: left;" id="cboxTopRight"></div>
    </div>
    <div style="clear: left;">
      <div style="float: left;" id="cboxMiddleLeft"></div>
      <div style="float: left;" id="cboxContent">
        <div style="float: left;" id="cboxTitle"></div>
        <div style="float: left;" id="cboxCurrent"></div>
        <button id="cboxPrevious" type="button"></button>
        <button id="cboxNext" type="button"></button>
        <button id="cboxSlideshow"></button>
        <div style="float: left;" id="cboxLoadingOverlay"></div>
        <div style="float: left;" id="cboxLoadingGraphic"></div>
      </div>
      <div style="float: left;" id="cboxMiddleRight"></div>
    </div>
    <div style="clear: left;">
      <div style="float: left;" id="cboxBottomLeft"></div>
      <div style="float: left;" id="cboxBottomCenter"></div>
      <div style="float: left;" id="cboxBottomRight"></div>
    </div>
  </div>
  <div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div>
</div>
</body>
</html>