.body {
	width: 100%;
	background: #2c6eff;
	height: 100%;
	font-family: "微软雅黑";
}

.payIncreaseBanner {
	width: 100%;
	margin: 0 auto;
	height: 521px;
	background: url(../../../../images/activity/2018/SalaryIncreasePlan/AIP_banner.jpg) no-repeat center;
}

.payIncreaseMain {
	width: 1092px;
	margin: 0 auto;
	padding-bottom: 80px;
	background: #2c6eff;
}

.payIncreaseTitle {
	width: 785px;
	height: 117px;
	background: url(../../../../images/activity/2018/SalaryIncreasePlan/AIP_title.png) no-repeat center;
	margin: 12px auto 0;
	font-size: 30px;
	color: #fff;
	text-align: center;
	line-height: 120px;
}

.payIncreaseExample {
	width: 1080px;
	height: 88px;
	background: url(../../../../images/activity/2018/SalaryIncreasePlan/AIP_example.png) no-repeat top center;
	margin: 14px auto 0;
	font-size: 22px;
	color: #fff;
	line-height: 39.5px;
}

.payIncreaseExampleMax {
	font-size: 32px;
	padding-left: 28px;
}

.payIncreaseExampleP {
	padding-top: 20px;
	border-bottom: 6px solid #d39460;
	display: inline-block;
	line-height: 17px;
}

.payIncreaseProduct {
	width: 100%;
	height: 458px;
	margin: 76px auto 0;
}

.payIncreaseProduct li {
	width: 259px;
	height: 458px;
	background: url(../../../../images/activity/2018/SalaryIncreasePlan/AIP_bg.png) no-repeat center;
	float: left;
}

.payIncreaseProduct .payIncreaseSecond {
	margin: 0 9px 0 18px;
}

.payIncreaseProduct .payIncreaseThird {
	margin: 0 18px 0 9px;
}

.payIncreaseTitleMin {
	width: 100%;
	height: 64px;
	margin: 0 auto;
	text-align: center;
	font-size: 22px;
	color: #fff;
	line-height: 30px;
	padding-top: 10px;
	text-shadow: #0caebe 0 3px 3px;
}

.payIncreasePercentage {
	width: 100%;
	text-align: center;
	height: 162px;
	margin: 10px auto 0;
	background: url(../../../../images/activity/2018/SalaryIncreasePlan/AIP_bg01.png) no-repeat center;
}

.payIncreaseDay {
	width: 100%;
	height: 37px;
	padding-top: 3px;
	font-size: 18px;
	color: #2cacf1;
	background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#91dcfa), to(#0b90ea));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	line-height: 37px;
}

.payIncreaseNum {
	width: 100%;
	height: 80px;
	font-size: 72px;
	color: #ff3a46;
	background-image: -webkit-gradient(linear, 0 0, right 0, from(#ff9731), to(#ff254b));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	line-height: 80px;
	font-weight: 500;
}

.payIncreaseZero {
	background-image: -webkit-gradient(linear, 0 0, right 0, from(#ff9731), to(#ff713a));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.payIncreaseNumber {
	background-image: -webkit-gradient(linear, 0 0, right 0, from(#ff613d), to(#ff244b));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.payIncreaseNumMin {
	font-size: 22px;
}

.payIncreaseTxt {
	width: 100%;
	font-size: 16px;
	color: #888;
}

.payIncreaseRecord {
	width: 100%;
	height: 109px;
	margin: 3px auto 0;
	background: url(../../../../images/activity/2018/SalaryIncreasePlan/AIP_bg02.png) no-repeat center;
	font-size: 16px;
	color: #089aec;
	text-align: center;
	padding-top: 25px;
}

.payIncreaseRecordNone {
	width: 100%;
}

.payIncreaseRecordNoneTxt {
	width: 100%;
	font-size: 16px;
	color: #b4e1f9;
	padding-top: 9px;
}
.payIncreaseScroll{
	width: 100%;
	height: 84px;
	overflow: hidden;
}
.payIncreaseBox {
	width: 100%;
}

.payIncreaseBoxLine {
	width: 100%;
	height: 28px;
	line-height: 28px;
}

.payIncreaseQuota {
	font-size: 16px;
	color: #089aec;
	text-align: center;
	line-height: 26px;
}

.payIncreaseQuotaColor {
	color: #ff224b;
	font-weight: 600;
}
.payIncreaseBtnBg{
	width: 838px;
	height: 66px;
	margin:20px auto 0;
	background: url(../../../../images/activity/2018/SalaryIncreasePlan/AIP_btnbg.png) no-repeat center;
	padding-top: 44px;
}
.payIncreaseStart {
	width: 602px;
	height: 55px;
	background: url(../../../../images/activity/2018/SalaryIncreasePlan/AIP_btn01.png) no-repeat center;
	margin: 0 auto 0;
	font-size: 24px;
	color: #fff;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
}

.payIncreaseNot {
	width: 602px;
	height: 64px;
	background: url(../../../../images/activity/2018/SalaryIncreasePlan/AIP_btn02.png) no-repeat center;
	margin: 0 auto 0;
	font-size: 24px;
	color: #fff;
	text-align: center;
	line-height: 60px;
}

.payIncreaseRule {
	width: 1080px;
	min-height: 10px;
	background: #1b55d4;
	border: 0;
	padding: 20px 30px;
	border-radius: 10px;
	margin:70px auto 0;
}
.payIncreaseRule p {
    color: #fff;
    font-size: 16px;
    line-height: 30px;
}
.payIncreaseRule p.content {
    padding-left: 20px;
    position: relative;
}
.payIncreaseRule p.content span {
    position: absolute;
    left: 0;
    line-height: 30px;
    width: 20px;
}