body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:377px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:23px;
  top:23px;
  width:353px;
  height:617px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:617px;
}
#u1 {
  position:absolute;
  left:2px;
  top:300px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:23px;
  top:104px;
  width:353px;
  height:236px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:236px;
}
#u3 {
  position:absolute;
  left:2px;
  top:110px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:24px;
  top:153px;
  width:353px;
  height:51px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:51px;
}
#u5 {
  position:absolute;
  left:2px;
  top:18px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:145px;
  top:51px;
  width:128px;
  height:29px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:29px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:160px;
  top:56px;
  width:122px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:22px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:23px;
  top:203px;
  width:353px;
  height:51px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:51px;
}
#u11 {
  position:absolute;
  left:2px;
  top:18px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:36px;
  top:206px;
  width:73px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:36px;
  top:220px;
  width:83px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:34px;
  top:410px;
  width:331px;
  height:110px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:110px;
}
#u17 {
  position:absolute;
  left:2px;
  top:47px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:34px;
  top:272px;
  width:313px;
  height:48px;
  color:#999999;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:48px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:0px;
  top:580px;
  width:376px;
  height:60px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:23px;
  top:102px;
  width:353px;
  height:51px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:51px;
}
#u23 {
  position:absolute;
  left:2px;
  top:18px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:36px;
  top:105px;
  width:73px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:36px;
  top:119px;
  width:83px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:119px;
  top:116px;
  width:184px;
  height:21px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:21px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:121px;
  top:119px;
  width:92px;
  height:16px;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:119px;
  top:214px;
  width:194px;
  height:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:28px;
}
#u33 {
  position:absolute;
  left:2px;
  top:6px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:129px;
  top:220px;
  width:92px;
  height:16px;
  color:#999999;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:147px;
  top:366px;
  width:166px;
  height:34px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:34px;
}
#u37 {
  position:absolute;
  left:2px;
  top:9px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:168px;
  top:366px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#0000FF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
