body {
  width: 100%;
  height: auto;
  font-family: "微软雅黑";
  background:#ff9426;
}
.header {
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  background: white;
  text-align: center;
  position: relative;
}
.header_arrow {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.4rem;
  width: 0.8rem;
  height: 0.8rem;
  background: url(../../../images/back_arrow.png) no-repeat 0.25rem center;
  background-size:0.17rem 0.29rem;
}
.heade_ft {
  font-size: 0.34rem;
}
body {
  width: 100%;
  height: auto;
  font-family: "微软雅黑";
}
.main_bgw {
  width: 100%;
  margin: 0 auto;
  background: #ff7525;
  background: -webkit-linear-gradient(#ff6525, #ff9426, #ff8125);
  background: -o-linear-gradient(#ff6525, #ff9426, #ff8125);
  background: -moz-linear-gradient(#ff6525, #ff9426, #ff8125);
  background: linear-gradient(#ff6525, #ff9426, #ff8125);
}
.main_zan {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0.3rem;
  background: #ff7525;
  background: -webkit-linear-gradient(#ff8125, #ff6625, #ffc226);
  background: -o-linear-gradient(#ff8125, #ff6625, #ffc226);
  background: -moz-linear-gradient(#ff8125, #ff6625, #ffc226);
  background: linear-gradient(#ff8125, #ff6625, #ffc226);
}
.plan_banner {
  width: 100%;
  margin: 0 auto;
}
.plan_banner_img {
  display: block;
  width: 100%;
}
.plan_bgw {
  width: 98%;
  margin: -1.4rem auto 0.2rem;
  position: relative;
  padding-top: 0.22rem;
  text-align: center;
}
.plan_bgw_img {
  display: block;
  width: 100%;
}
.plan_bgw_icon {
  width: 58%;
  position: absolute;
  top: 0.92rem;
  left: 50%;
  margin-left: -29%;
}
.plan_bgw_txt {
  width: 100%;
  text-align: center;
  font-size: 0.3rem;
  color: #6377ff;
  font-weight: 600;
  line-height: normal;
  bottom: 1.42rem;
  position: absolute;
}
.plan_zan {
  width: 98%;
  margin: -0.6rem auto 0;
  position: relative;
  text-align: center;
}
.plan_zan_copy {
  width: 98%;
  position: relative;
  text-align: center;
  margin: 0.4rem auto 0.3rem;
}
.plan_zan_img {
  display: block;
  width: 100%;
}
.plan_zan_title {
  width: 100%;
  position: absolute;
  top: 3.6rem;
}
.plan_zan_title_img {
  width: 58%;
}
.plan_zan_title_img2 {
  width: 76%;
}
.plan_zan_icon {
  width: 58%;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  margin-left: -29%;
}
.plan_zan_txt {
  width: 100%;
  position: absolute;
  font-size: 0.26rem;
  color: #666;
  top: 4.4rem;
  line-height: normal;
}
.plan_zan_txt2 {
  width: 100%;
  position: absolute;
  font-size: 0.26rem;
  color: #f63;
  top: 5.4rem;
  line-height: normal;
}
.icon {
  background: url(../../../images/static/zanProductDetails/plan_icon.png) no-repeat center;
  display: inline-block;
}
.plan_box {
  width: 94%;
  background: #fff;
  border-radius: 0.2rem;
  margin: 0 auto 0.3rem;
  padding: 0.4rem 0;
  position: relative;
}
.plan_box_bgw_title {
  width: 100%;
  margin: 0 auto;
  padding-top: 0.08rem;
}
.plan_box_bgw_img {
  width: 90%;
  display: block;
  margin: 0 auto;
}
.plan_box_zan_img {
  width: 83%;
  display: block;
  margin: 0 auto;
}
.plan_box_bgw_txt {
  width: 90%;
  margin: 0.28rem auto 0;
  font-size: 0.26rem;
  color: #666666;
  line-height: normal;
  position: relative;
}
.plan_box_bgw_txt p {
  padding-left: 0.4rem;
  margin-top: 0.1rem;
}
.plan_box_bgw_icon {
  width: 0.3rem;
  height: 0.6rem;
  background-position: -2.93rem -2.48rem;
  background-size: 3.63rem 3.91rem;
  position: absolute;
  left: 0;
  top: 0.05rem;
}
.plan_box_bgw_ul {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}
.plan_box_bgw_ul_li1 {
  width: 33.33%;
  text-align: center;
}
.plan_box_bgw_ul_li2 {
  width: 50%;
  text-align: center;
}
.plan_box_bgw_ulicon1 {
  width: 0.6rem;
  height: 0.6rem;
  background-position: -2.09rem -1.55rem;
  background-size: 3.63rem 3.91rem;
}
.plan_box_bgw_ulicon2 {
  width: 0.6rem;
  height: 0.6rem;
  background-position: -2.09rem -2.35rem;
  background-size: 3.63rem 3.91rem;
}
.plan_box_bgw_ulicon3 {
  width: 0.6rem;
  height: 0.6rem;
  background-position: -2.09rem -3.15rem;
  background-size: 3.63rem 3.91rem;
}
.plan_box_bgw_ulicon4 {
  width: 1.79rem;
  height: 1.75rem;
  background-position: -0.1rem -0.1rem;
  background-size: 3.63rem 3.91rem;
}
.plan_box_bgw_ulicon5 {
  width: 1.72rem;
  height: 1.76rem;
  background-position: -0.1rem -2.05rem;
  background-size: 3.63rem 3.91rem;
}
.plan_box_bgw_ultxt1 {
  font-size: 0.24rem;
  color: #666;
  display: block;
  width: 100%;
  padding: 0.3rem 0 0.2rem;
}
.plan_box_bgw_ultxt2 {
  font-size: 0.24rem;
  color: #333;
  display: block;
  width: 100%;
  padding: 0.34rem 0 0;
}
.plan_box_zan_ul {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}
.plan_box_zan_ul_li1 {
  width: 33.33%;
  text-align: center;
}
.plan_box_zan_ul_li2 {
  width: 50%;
  text-align: center;
}
.plan_box_zan_ulicon1 {
  width: 0.6rem;
  height: 0.6rem;
  background-position: -2.93rem -0.1rem;
  background-size: 3.63rem 3.91rem;
}
.plan_box_zan_ulicon2 {
  width: 0.6rem;
  height: 0.6rem;
  background-position: -2.93rem -0.9rem;
  background-size: 3.63rem 3.91rem;
}
.plan_box_zan_ulicon3 {
  width: 0.6rem;
  height: 0.6rem;
  background-position: -2.93rem -1.7rem;
  background-size: 3.63rem 3.91rem;
}
.plan_box_zan_ulicon4 {
  width: 1.79rem;
  height: 1.75rem;
  background-position: -0.1rem -0.1rem;
  background-size: 3.63rem 3.91rem;
}
.plan_box_zan_ulicon5 {
  width: 1.72rem;
  height: 1.76rem;
  background-position: -0.1rem -2.05rem;
  background-size: 3.63rem 3.91rem;
}
.plan_box_zan_ultxt1 {
  font-size: 0.24rem;
  color: #666;
  display: block;
  width: 100%;
  padding: 0.3rem 0 0;
}
.plan_box_zan_ultxt2 {
  font-size: 0.24rem;
  color: #333;
  display: block;
  width: 100%;
  padding: 0.34rem 0 0;
}
.plan_box_bgw_left {
  width: 0.64rem;
  height: 1.25rem;
  background-position: -2.1rem -0.1rem;
  background-size: 3.63rem 3.91rem;
  position: absolute;
  left: 0.16rem;
  bottom: -0.72rem;
  z-index: 2;
}
.plan_box_bgw_right {
  width: 0.64rem;
  height: 1.25rem;
  background-position: -2.1rem -0.1rem;
  background-size: 3.63rem 3.91rem;
  position: absolute;
  right: 0.16rem;
  bottom: -0.72rem;
  z-index: 2;
}
.plan_box_bgw_icon1 {
  display: block;
  width: 93%;
  margin: 0 auto;
}
.plan_margin {
  margin-bottom: 0;
}
.plan_zan_table_title {
  width: 52%;
  margin: 0 auto 0.3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0.1rem;
  border: 1px solid #f63;
}
.plan_zan_table_title li {
  width: 50%;
  text-align: center;
  font-size: 0.24rem;
  color: #fff;
  background: #f63;
  height: 0.38rem;
  line-height: 0.38rem;
}
.plan_zan_table_title .plan_li {
  background: none;
  color: #f63;
}
.plan_zan_table {
  width: 96%;
  margin: 0 auto;
}
.plan_zan_tr {
  width: 100%;
  border-bottom: 0.01rem solid #ffffff;
  background: #dee2ff;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}
.plan_zan_tr_copy {
  width: 100%;
  border-bottom: 0.01rem solid #ffffff;
  background: #f5f5f5;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  color: #999;
}
.plan_zan_td_title {
  width: 21%;
  border-right: 0.01rem solid #ffffff;
  display: inline-block;
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.24rem;
  text-align: center;
}
.plan_zan_td_title_copy {
  width: 15%;
  border-right: 0.01rem solid #ffffff;
  display: inline-block;
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.24rem;
  color: #333;
  text-align: center;
  background: #dee2ff;
}
.plan_zan_td_title_color {
  width: 21%;
  border-right: 0.01rem solid #ffffff;
  display: inline-block;
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.24rem;
  text-align: center;
  color: #6377ff;
}
.plan_zan_prompt {
  width: 100%;
  font-size: 0.24rem;
  color: #ff6525;
  text-align: center;
  padding: 0.2rem 0 0.04rem;
}
.plan_zan_bottom {
  font-size: 0.24rem;
  color: #333;
  width: 90%;
  margin: 0 auto;
  line-height: normal;
}
.zan_txt_box_border{
	border-right:none;
}