body {
  width: 100%;
  height: auto;
  font-family: "微软雅黑";
}
.plan_banner {
  width: 100%;
  margin: 0 auto;
}
.plan_banner_img {
  display: block;
  width: 100%;
}
.icon {
  background: url(../../../images/static/zanProductDetails/plan_icon.png) no-repeat center;
  display: inline-block;
}
.zan_app {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0.3rem;
  background: #fff;
}
.zan_app_box {
  width: 100%;
  margin: 0.4rem auto 0;
}
.zan_app_title {
  width: 100%;
  margin: 0 auto;
}
.zan_app_title_img {
  display: block;
  width: 45%;
  margin: 0 auto;
}
.zan_app_title_img2 {
  display: block;
  width: 58%;
  margin: 0 auto;
}
.zan_app_table_title {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}
.zan_app_table_title li {
  width: 50%;
  font-size: 0.26rem;
  line-height: normal;
  color: #667bff;
}
.zan_app_table_title .li_right {
  text-align: right;
  color: #999;
}
.zan_app_txt {
  width: 100%;
  text-align: center;
  font-size: 0.26rem;
  color: #666;
  line-height: normal;
}
.zan_app_icon {
  display: block;
  width: 46%;
  margin: 0.4rem auto 0.3rem;
}
.zan_app_line {
  width: 0.22rem;
  height: 0.04rem;
  background: #ff6633;
  border-radius: 0.02rem;
  margin: 0.3rem auto;
}
.zan_app_bac {
  width: 92%;
  padding: 0.3rem 0;
  margin: 0 auto;
  background: #d6dafa;
  background: -webkit-linear-gradient(#c7cffb, #ffffff);
  background: -o-linear-gradient(#c7cffb, #ffffff);
  background: -moz-linear-gradient(#c7cffb, #ffffff);
  background: linear-gradient(#c7cffb, #ffffff);
}
.zan_app_ul {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}
.zan_app_ul_li {
  width: 33.33%;
  text-align: center;
}
.zan_app_width {
  width: 92%;
}
.zan_table {
  width: 100%;
}
.plan_box {
  width: 94%;
  background: #fff;
  border-radius: 0.2rem;
  margin: 0 auto 0.3rem;
  padding: 0.4rem 0;
  position: relative;
}
.plan_box_bgw_title {
  width: 100%;
  margin: 0 auto;
  padding-top: 0.08rem;
}
.plan_box_bgw_img {
  width: 90%;
  display: block;
  margin: 0 auto;
}
.plan_box_zan_img {
  width: 83%;
  display: block;
  margin: 0 auto;
}
.plan_box_bgw_txt {
  width: 90%;
  margin: 0.28rem auto 0;
  font-size: 0.26rem;
  color: #666666;
  line-height: normal;
  position: relative;
}
.plan_box_bgw_txt p {
  padding-left: 0.4rem;
  margin-top: 0.1rem;
}
.plan_box_bgw_icon {
  width: 0.3rem;
  height: 0.6rem;
  background-position: -2.93rem -2.48rem;
  background-size: 3.63rem 3.91rem;
  position: absolute;
  left: 0;
  top: 0.05rem;
}
.plan_box_bgw_ul {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}
.plan_box_bgw_ul_li1 {
  width: 33.33%;
  text-align: center;
}
.plan_box_bgw_ul_li2 {
  width: 50%;
  text-align: center;
}
.plan_box_bgw_ulicon1 {
  width: 0.6rem;
  height: 0.6rem;
  background-position: -2.09rem -1.55rem;
  background-size: 3.63rem 3.91rem;
}
.plan_box_bgw_ulicon2 {
  width: 0.6rem;
  height: 0.6rem;
  background-position: -2.09rem -2.35rem;
  background-size: 3.63rem 3.91rem;
}
.plan_box_bgw_ulicon3 {
  width: 0.6rem;
  height: 0.6rem;
  background-position: -2.09rem -3.15rem;
  background-size: 3.63rem 3.91rem;
}
.plan_box_bgw_ulicon4 {
  width: 1.79rem;
  height: 1.75rem;
  background-position: -0.1rem -0.1rem;
  background-size: 3.63rem 3.91rem;
}
.plan_box_bgw_ulicon5 {
  width: 1.72rem;
  height: 1.76rem;
  background-position: -0.1rem -2.05rem;
  background-size: 3.63rem 3.91rem;
}
.plan_box_bgw_ultxt1 {
  font-size: 0.24rem;
  color: #666;
  display: block;
  width: 100%;
  padding: 0.3rem 0 0.2rem;
}
.plan_box_bgw_ultxt2 {
  font-size: 0.24rem;
  color: #333;
  display: block;
  width: 100%;
  padding: 0.34rem 0 0;
}
.plan_box_zan_ul {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}
.plan_box_zan_ul_li1 {
  width: 33.33%;
  text-align: center;
}
.plan_box_zan_ul_li2 {
  width: 50%;
  text-align: center;
}
.plan_box_zan_ulicon1 {
  width: 0.6rem;
  height: 0.6rem;
  background-position: -2.93rem -0.1rem;
  background-size: 3.63rem 3.91rem;
}
.plan_box_zan_ulicon2 {
  width: 0.6rem;
  height: 0.6rem;
  background-position: -2.93rem -0.9rem;
  background-size: 3.63rem 3.91rem;
}
.plan_box_zan_ulicon3 {
  width: 0.6rem;
  height: 0.6rem;
  background-position: -2.93rem -1.7rem;
  background-size: 3.63rem 3.91rem;
}
.plan_box_zan_ulicon4 {
  width: 1.79rem;
  height: 1.75rem;
  background-position: -0.1rem -0.1rem;
  background-size: 3.63rem 3.91rem;
}
.plan_box_zan_ulicon5 {
  width: 1.72rem;
  height: 1.76rem;
  background-position: -0.1rem -2.05rem;
  background-size: 3.63rem 3.91rem;
}
.plan_box_zan_ultxt1 {
  font-size: 0.24rem;
  color: #666;
  display: block;
  width: 100%;
  padding: 0.3rem 0 0;
}
.plan_box_zan_ultxt2 {
  font-size: 0.24rem;
  color: #333;
  display: block;
  width: 100%;
  padding: 0.34rem 0 0;
}
.plan_box_bgw_left {
  width: 0.64rem;
  height: 1.25rem;
  background-position: -2.1rem -0.1rem;
  background-size: 3.63rem 3.91rem;
  position: absolute;
  left: 0.16rem;
  bottom: -0.72rem;
  z-index: 2;
}
.plan_box_bgw_right {
  width: 0.64rem;
  height: 1.25rem;
  background-position: -2.1rem -0.1rem;
  background-size: 3.63rem 3.91rem;
  position: absolute;
  right: 0.16rem;
  bottom: -0.72rem;
  z-index: 2;
}
.plan_box_bgw_icon1 {
  display: block;
  width: 93%;
  margin: 0 auto;
}
.plan_zan_table_title {
  width: 52%;
  margin: 0 auto 0.3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0.1rem;
  border: 1px solid #f63;
}
.plan_zan_table_title li {
  width: 50%;
  text-align: center;
  font-size: 0.24rem;
  color: #fff;
  background: #f63;
  height: 0.38rem;
  line-height: 0.38rem;
}
.plan_zan_table_title .plan_li {
  background: none;
  color: #f63;
}
.plan_zan_table {
  width: 100%;
  margin: 0.1rem auto 0;
}
.plan_zan_tr {
  width: 100%;
  border-bottom: 0.01rem solid #ffffff;
  background: #dee2ff;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}
.plan_zan_tr_copy {
  width: 100%;
  border-bottom: 0.01rem solid #ffffff;
  background: #f5f5f5;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  color: #999;
}
.plan_zan_td_title {
  width: 21%;
  border-right: 0.01rem solid #ffffff;
  display: inline-block;
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.24rem;
  text-align: center;
}
.plan_zan_td_title_copy {
  width: 15%;
  border-right: 0.01rem solid #ffffff;
  display: inline-block;
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.24rem;
  color: #333;
  text-align: center;
  background: #dee2ff;
}
.plan_zan_td_title_color {
  width: 21%;
  border-right: 0.01rem solid #ffffff;
  display: inline-block;
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.24rem;
  text-align: center;
  color: #6377ff;
}
.plan_zan_prompt {
  width: 100%;
  font-size: 0.24rem;
  color: #ff6525;
  text-align: right;
  padding: 0.2rem 0 0.04rem;
}
.plan_zan_bottom {
  font-size: 0.24rem;
  color: #333;
  width: 97.5%;
  margin: 0 auto;
  line-height: normal;
  border-left:0.04rem solid #f63;
  padding-left:2%;
}
.zan_color{
	color:#f63;
}
.zan_margin{
	margin-top:0.6rem;
}
.zan_txt_box_border{
	border-right:none;
}