#Html("begin")
#Head("begin","互联网金融产品,币港湾,币港湾官网","欢迎了解币港湾产品,币港湾官网为您提供多种互联网金融产品,是优质的互联网金融服务平台。")
#Title("【币港湾官网】国资背景互联网金融服务平台")
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
#LoadJS("resources/mall/scripts/common/rem_750")
#LoadCSS("resources/mall/styles/common/default")
#LoadCSS("resources/mall/styles/exchange/myexchange")
#WeChatShare()
#Head("end")
<body>
	<input type="hidden" id="APP_ROOT_PATH" value="$!env.getWebURL('')"/>
	<input type="hidden" id="pageIndex" name="pageIndex" value="$!pageIndex" />
	<input type="hidden" id="totalCount" name="totalCount" value="$!totalCount" />
    <input type="hidden" id="h5UserId" name="h5UserId" value="$!h5UserId" />
	<input type="hidden" id="qianbao" name="qianbao" value="$!qianbao" />
    <input type="hidden" id="agentViewFlag" name="agentViewFlag" value="$!agentViewFlag">
    <div class="header">
		<a class="header_arrow" href="javascript:history.go(-1)"></a>
		<h1 class="heade_ft color_bg">我的兑换</h1>
	</div>
	#if($!totalCount == 0)
	<div class="commoditySuccess">
		<img class="commoditySuccessImg" src="$!env.getWebURL('')/resources/mall/images/exchange/CommoditySuccess02.png"/>
		<h2 class="commoditySuccessText">暂无记录</h2>
	</div>
	#else
	<ul class="recordExchange">
		#foreach($!grid in $!exchangeList)
		<li onclick="selPro(this)">
			<input type="hidden" name="commId" id="commId" value="$!grid.commId"/>
			<input type="hidden" name="orderId" id="orderId" value="$!grid.orderId"/>
            <input type="hidden" name="commProperty" id="commProperty" value="$!grid.commProperty"/>
			<img class="recordExchangeRight" src="$!env.getWebURL('')/resources/mall/images/exchange/landingPage03.png"/>
			<div class="recordExchangeImg">
				<img class="recordExchangeImgMin" src="$!grid.commPictureUrl"/>
			</div>
			<div class="recordExchangeTxt">
				<div class="recordExchangeName">$!grid.commName</div>
				<div class="recordExchangeTime">$!date.formatDateTime($!grid.exchangeTime,'yyyy-MM-dd HH:mm')</div>
				#if($!grid.sendStatus == "FINISHED")
				<div class="recordExchangeAlready">已发货</div>
				#else
				<div class="recordExchangeNot">未发货</div>
				#end
			</div>
		</li>
		#end
	</ul>
	<div class="i_last" id="showmore">查看更多</div>
	#end
#LoadJS("resources/micro2.0/scripts/common/common")
#LoadJS("resources/mall/scripts/exchange/myexchange")
</body>
#Html("end")