#foreach($grid in $!dataGrid)
	<li class="share_jia_li">
		<span class="share_left"  style="display: inline-block;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">$!grid.wxNick</span>
		<span class="share_right">助力+1</span>
	</li>
#end
