#set($num = $!index)
#foreach($grid in $!dataGrid)
	#set($num = $num+1)
	<li class="ranking_name_li">
		<span class="ranking_left">$num)$grid.mobile</span>
		<span class="ranking_right">完成助力</span>            
	</li>
#end
