body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:321px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:510px;
  width:321px;
  height:58px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:58px;
}
#u3 {
  position:absolute;
  left:2px;
  top:21px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:80px;
  width:321px;
  height:300px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:300px;
}
#u5 {
  position:absolute;
  left:2px;
  top:142px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:156px;
  width:321px;
  height:41px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:41px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:18px;
  top:169px;
  width:66px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:0px;
  top:199px;
  width:321px;
  height:41px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:41px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:18px;
  top:212px;
  width:53px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:0px;
  top:267px;
  width:321px;
  height:41px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:41px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:108px;
  top:280px;
  width:92px;
  height:18px;
  font-size:16px;
  color:#3399FF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:71px;
  width:321px;
  height:41px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:41px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:18px;
  top:84px;
  width:53px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:108px;
  top:84px;
  width:53px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:108px;
  top:167px;
  width:79px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:108px;
  top:212px;
  width:92px;
  height:16px;
  color:#CCCCCC;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:280px;
  top:160px;
  width:19px;
  height:29px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:29px;
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:18px;
  top:130px;
  width:92px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:99px;
  top:30px;
  width:131px;
  height:27px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:27px;
}
#u33 {
  position:absolute;
  left:2px;
  top:6px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:139px;
  top:28px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:298px;
  top:79px;
  width:13px;
  height:13px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
