body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:19px;
  top:374px;
  width:401px;
  height:706px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:706px;
}
#u1 {
  position:absolute;
  left:2px;
  top:345px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:19px;
  top:1034px;
  width:411px;
  height:46px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:19px;
  top:973px;
  width:401px;
  height:61px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:61px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:514px;
  width:79px;
  height:37px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:37px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:80px;
  top:524px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:190px;
  top:455px;
  width:100px;
  height:23px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:124px;
  top:455px;
  width:228px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:30px;
  top:514px;
  width:370px;
  height:450px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:450px;
}
#u15 {
  position:absolute;
  left:2px;
  top:217px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:54px;
  top:774px;
  width:312px;
  height:36px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:36px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:70px;
  top:595px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:150px;
  top:595px;
  width:92px;
  height:16px;
  color:#999999;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:34px;
  top:526px;
  width:362px;
  height:38px;
  font-size:16px;
  color:#66CC66;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:38px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:40px;
  top:720px;
  width:326px;
  height:40px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:40px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:30px;
  top:574px;
  width:370px;
  height:11px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:11px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:40px;
  top:689px;
  width:370px;
  height:11px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:11px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:406px;
  top:496px;
  width:24px;
  height:477px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:477px;
}
#u31 {
  position:absolute;
  left:2px;
  top:230px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:70px;
  top:627px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:150px;
  top:627px;
  width:118px;
  height:16px;
  color:#999999;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:169px;
  top:779px;
  width:84px;
  height:26px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
}
#u37 {
  position:absolute;
  left:2px;
  top:5px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:181px;
  top:781px;
  width:79px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:313px;
  top:595px;
  width:6px;
  height:16px;
  color:#FF0000;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:312px;
  top:625px;
  width:6px;
  height:16px;
  color:#FF0000;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:70px;
  top:656px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:150px;
  top:660px;
  width:200px;
  height:19px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
