body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:46px;
  width:970px;
  height:34px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:34px;
}
#u1 {
  position:absolute;
  left:2px;
  top:9px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:55px;
  width:148px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:178px;
  top:55px;
  width:200px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:28px;
  top:94px;
  width:162px;
  height:86px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:86px;
}
#u7 {
  position:absolute;
  left:2px;
  top:35px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:200px;
  top:104px;
  width:169px;
  height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:206px;
  top:150px;
  width:145px;
  height:19px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:450px;
  top:121px;
  width:201px;
  height:48px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:48px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:749px;
  top:121px;
  width:161px;
  height:48px;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:48px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:28px;
  top:200px;
  width:200px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:28px;
  top:240px;
  width:200px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:28px;
  top:280px;
  width:200px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:28px;
  top:320px;
  width:200px;
  height:40px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:28px;
  top:360px;
  width:200px;
  height:40px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:28px;
  top:400px;
  width:200px;
  height:40px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:20px;
  top:478px;
  width:870px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:853px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:870px;
  height:1px;
}
#u29 {
  position:absolute;
  left:30px;
  top:502px;
  width:380px;
  height:48px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:48px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:660px;
  top:502px;
  width:290px;
  height:38px;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:38px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:250px;
  top:200px;
  width:108px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:22px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:260px;
  top:240px;
  width:660px;
  height:64px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:64px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  word-wrap:break-word;
}
