#Html("begin")
#GenHead("begin","币港湾平台活动,币港湾,币港湾官网","关注币港湾,活动不停歇!币港湾官网为您提供互联网金融服务，是优质的互联网金融服务平台。")
#Title("周周乐【币港湾官网】")
#LoadGenCSS("/resources/gen2.0/styles/index/default")
#LoadGenJS("/resources/gen2.0/scripts/jquery-1.11.1.min")
#LoadGenCSS("/resources/gen2.0/styles/activity/weekhay")
#GenHead("end")
<body id="body">
	#Gen2Header("home")
	<div class="weekly_show">
    <div class="show_banner"></div>
    <div class="show_content">
        <div class="show_screen">
            <div class="show_screen_top">
                <div class="show_screen_danmu">
                    <div class="show_screen_danmu_text danmu_animate01"></div>
                    <div class="show_screen_danmu_text danmu_animate02"></div>
					<!--[if IE 9]> <div class="show_screen_danmu_text1"></div> <![endif]-->
                </div>
            </div>
            <div class="show_screen_bottom">
                <h3>周四见分晓</h3>
                <p>币港湾每周活动，敬请锁定周四！</p>
                <span class="show_screen_ico"></span>
            </div>
        </div>
    </div>
</div>
</body>
#Html("end")