#Html("begin")
#GenHead("begin","币港湾平台活动,币港湾,币港湾官网","关注币港湾,活动不停歇!币港湾官网为您提供互联网金融服务，是优质的互联网金融服务平台。")
#Title("红运当头荷包鼓【币港湾官网】")
#LoadGenCSS("/resources/gen2.0/styles/activity/2018/redlucky")
#GenHead("end")

<body class="body">
#Gen2Header("home")
<div class="redlucky">
    <div class="redlucky_banner"></div>
    <div class="redlucky_content">
        <div class="redlucky_step01">
            <div class="step_title">
                <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/2018/redLucky/step01_title.jpg">
                <p>2018年2月13日-2月22日</p>
            </div>
            <div class="step_content">
                <div class="step_top">
                    <p style="color:#b66e29;font-size: 18px;line-height: 25px;">
                        财神庇护荷包鼓，新年财神送红包<br>
                        人人有份188元新春礼包
                    </p>
                    <span class="step_content_ticket" style="left: -13px;"></span>
                    <span class="step_content_ticket" style="right:-13px;"></span>
                </div>
                <div class="step_bottom">
                    <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/2018/redLucky/redlucky_redpack.png">
                    <div class="step_get_btn">
                        #if($!firstRes.isStart == "not_start")
                            <span class="step01_btn_disable">活动未开始</span>
                        #elseif($!firstRes.isStart == "start")
                            #if($!firstRes.isLogin == "yes")
                                #if($!firstRes.isJoined == "yes")
                                    <span class="step01_btn_disable">您已领取</span>
                                #else
                                    <span class="step01_btn_enable get_red_packet">领取新春礼包</span>
                                #end
                            #elseif($!firstRes.isLogin == "no")
                                <span class="step01_btn_enable go_login">立即登录</span>
                            #end
                        #elseif($!firstRes.isStart == "end")
                            <span class="step01_btn_disable">活动已结束</span>
                        #end
                    </div>
                </div>
            </div>
            <div class="redlucky_rule">
                <p>活动规则：</p>
                <ul>
                    <li><span>1</span>活动期间，每位用户仅可领取一份新春大礼包，内含合计188元抵扣红包；</li>
                    <li><span>2</span>用户领取的新春大礼包将直接发放至您的账户，您可在【我的账户】-【我的红包】处查看使用详情。</li>
                </ul>
            </div>
        </div>

        <div class="redlucky_step">
            <div class="redlucky_step02_title">
                <p>除夕夜2018年2月15日</p>
            </div>
            <div class="step02_content">
                <div class="step_content">
                    <div class="step_top">
                        <p style="color:#b66e29;font-size: 18px;line-height: 25px;">
                            除夕之夜欢乐多，红运开泰一整年！<br>
                            指定整点狂送超值红包最高价值888元！
                        </p>
                        <span class="step_content_ticket" style="left: -13px;"></span>
                        <span class="step_content_ticket" style="right:-13px;"></span>
                    </div>

                    <div class="step_bottom">
                        <div class="redpack_chuxi">
                            <div class="redpack_chuxi_card" style="border-right: solid 1px #e5432e;border-bottom: solid 1px #e5432e;" id="secondRes01">
                                <div class="chuxi_card_content">
                                    <h5>$!date.formatDateTime($!date.parseDateTime($!secondRes.result.get(0).startTime), "HH:mm")</h5>
                                    <p>限量100个</p>
                                </div>
                                #if($!secondRes.result.get(0).isStart == "end" || $!money.subtract($!secondRes.result.get(0).note, "0") <= 0)
                                    <div class="chuxi_card_cover">
                                    </div>

                                    <div class="chuxi_card_cover_tips" style="left: 0;top:0;">
                                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/2018/redLucky/step02_tip_lefttop.png">
                                    </div>
                                #end
                            </div>
                            <div class="redpack_chuxi_card" style="border-left: solid 1px #e5432e;border-bottom: solid 1px #e5432e;" id="secondRes02">
                                <div class="chuxi_card_content">
                                    <h5>$!date.formatDateTime($!date.parseDateTime($!secondRes.result.get(1).startTime), "HH:mm")</h5>
                                    <p>限量100个</p>
                                </div>
                                #if($!secondRes.result.get(1).isStart == "end" || $!money.subtract($!secondRes.result.get(1).note, "0") <= 0)
                                    <div class="chuxi_card_cover">
                                    </div>
                                    <div class="chuxi_card_cover_tips" style="right: 0;top:0;">
                                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/2018/redLucky/step02_tip_righttop.png">
                                    </div>

                                #end
                            </div>
                            <div class="redpack_chuxi_card" style="border-right: solid 1px #e5432e;border-top: solid 1px #e5432e;" id="secondRes03">
                                <div class="chuxi_card_content">
                                    <h5>$!date.formatDateTime($!date.parseDateTime($!secondRes.result.get(2).startTime), "HH:mm")</h5>
                                    <p>限量100个</p>
                                </div>

                                #if($!secondRes.result.get(2).isStart == "end" || $!money.subtract($!secondRes.result.get(2).note, "0") <= 0)
                                    <div class="chuxi_card_cover">
                                    </div>

                                    <div class="chuxi_card_cover_tips" style="left: 0;bottom:-3px;">
                                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/2018/redLucky/step02_tip_leftbottom.png">
                                    </div>
                                #end
                            </div>
                            <div class="redpack_chuxi_card" style="border-left: solid 1px #e5432e;border-top: solid 1px #e5432e;" id="secondRes04">
                                <div class="chuxi_card_content">
                                    <h5>
                                        #if($!date.formatDateTime($!date.parseDateTime($!secondRes.result.get(3).startTime), "HH:mm") == "00:00")
                                            24:00
                                        #else
                                            $!date.formatDateTime($!date.parseDateTime($!secondRes.result.get(3).startTime), "HH:mm")
                                        #end
                                    </h5>
                                    <p>限量100个</p>
                                </div>

                                #if($!secondRes.result.get(3).isStart == "end" || $!money.subtract($!secondRes.result.get(3).note, "0") <= 0)
                                    <div class="chuxi_card_cover">
                                    </div>

                                    <div class="chuxi_card_cover_tips" style="right: 0;bottom:-3px;">
                                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/2018/redLucky/step02_tip_rightbottom.png">
                                    </div>
                                #end
                            </div>
                            #if($!secondRes.result.get(0).isStart == "not_start")
                                <div class="redpack_chuxi_btn redpack_chuxi_btn_disable">
                                    <p>
                                        活动<br>未开始
                                    </p>
                                </div>
                            #elseif($!secondRes.result.get(3).isStart == "end")
                                <div class="redpack_chuxi_btn redpack_chuxi_btn_disable">
                                    <p>
                                        活动<br>已结束
                                    </p>
                                </div>
                            #else
                                #if($!secondRes.result.get(0).isStart == "start" && $!money.subtract($!secondRes.result.get(0).note, "0") <=0)
                                    <div class="redpack_chuxi_btn redpack_chuxi_btn_disable"><p>本轮<br>已抢完</p></div>
                                #elseif($!secondRes.result.get(1).isStart == "start" && $!money.subtract($!secondRes.result.get(1).note, "0") <=0)
                                    <div class="redpack_chuxi_btn redpack_chuxi_btn_disable"><p>本轮<br>已抢完</p></div>
                                #elseif($!secondRes.result.get(2).isStart == "start" && $!money.subtract($!secondRes.result.get(2).note, "0") <=0)
                                    <div class="redpack_chuxi_btn redpack_chuxi_btn_disable"><p>本轮<br>已抢完</p></div>
                                #elseif($!secondRes.result.get(3).isStart == "start" && $!money.subtract($!secondRes.result.get(3).note, "0") <=0)
                                    <div class="redpack_chuxi_btn redpack_chuxi_btn_disable"><p>本轮<br>已抢完</p></div>
                                #elseif($!secondRes.isLogin == "no")
                                    <div class="redpack_chuxi_btn">
                                        <p class="go_login">
                                            立即<br>登录
                                        </p>
                                    </div>
                                #elseif($!secondRes.isLogin == "yes")
                                    #if($!secondRes.result.get(0).isStart == "start")
                                        #if($!money.subtract($!secondRes.result.get(0).note, "0")>0)
                                            #if($!secondRes.result.get(0).isJoined == 'yes')
                                                <div class="redpack_chuxi_btn redpack_chuxi_btn_disable">
                                                    <p>
                                                        本轮<br>已抢
                                                    </p>
                                                </div>
                                            #else
                                                <div class="redpack_chuxi_btn">
                                                    <p class="rob_red_packet" time="$!secondRes.result.get(0).startTime">
                                                        抢超值<br>红包
                                                    </p>
                                                </div>
                                            #end
                                        #else
                                            <div class="redpack_chuxi_btn redpack_chuxi_btn_disable">
                                                <p>
                                                    本轮<br>已抢完
                                                </p>
                                            </div>
                                        #end
                                    #elseif($!secondRes.result.get(1).isStart == "start")
                                        #if($!money.subtract($!secondRes.result.get(1).note, "0")>0)
                                            #if($!secondRes.result.get(1).isJoined == 'yes')
                                                <div class="redpack_chuxi_btn redpack_chuxi_btn_disable">
                                                    <p>
                                                        本轮<br>已抢
                                                    </p>
                                                </div>
                                            #else
                                                <div class="redpack_chuxi_btn">
                                                    <p class="rob_red_packet" time="$!secondRes.result.get(1).startTime">
                                                        抢超值<br>红包
                                                    </p>
                                                </div>
                                            #end
                                        #else
                                            <div class="redpack_chuxi_btn redpack_chuxi_btn_disable">
                                                <p>
                                                    本轮<br>已抢完
                                                </p>
                                            </div>
                                        #end
                                    #elseif($!secondRes.result.get(2).isStart == "start")
                                        #if($!money.subtract($!secondRes.result.get(2).note, "0")>0)
                                            #if($!secondRes.result.get(2).isJoined == 'yes')
                                                <div class="redpack_chuxi_btn redpack_chuxi_btn_disable">
                                                    <p>
                                                        本轮<br>已抢
                                                    </p>
                                                </div>
                                            #else
                                                <div class="redpack_chuxi_btn">
                                                    <p class="rob_red_packet" time="$!secondRes.result.get(2).startTime">
                                                        抢超值<br>红包
                                                    </p>
                                                </div>
                                            #end
                                        #else
                                            <div class="redpack_chuxi_btn redpack_chuxi_btn_disable">
                                                <p>
                                                    本轮<br>已抢完
                                                </p>
                                            </div>
                                        #end
                                    #elseif($!secondRes.result.get(3).isStart == "start")
                                        #if($!money.subtract($!secondRes.result.get(3).note, "0")>0)
                                            #if($!secondRes.result.get(3).isJoined == 'yes')
                                                <div class="redpack_chuxi_btn redpack_chuxi_btn_disable">
                                                    <p>
                                                        本轮<br>已抢
                                                    </p>
                                                </div>
                                            #else
                                                <div class="redpack_chuxi_btn">
                                                    <p class="rob_red_packet" time="$!secondRes.result.get(3).startTime">
                                                        抢超值<br>红包
                                                    </p>
                                                </div>
                                            #end
                                        #else
                                            <div class="redpack_chuxi_btn redpack_chuxi_btn_disable">
                                                <p>
                                                    本轮<br>已抢完
                                                </p>
                                            </div>
                                        #end
                                    #else
                                        <div class="redpack_chuxi_btn">
                                            <p class="rob_red_packet">
                                                抢超值<br>红包
                                            </p>
                                        </div>
                                    #end
                                #end
                            #end
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="redlucky_rule">
                    <p>活动规则：</p>
                    <ul>
                        <li><span>1</span>2018年2月15日18:00、20:00、22:00、24:00每个整点将放出100个超值红包，每位用户在每个整点均有一次抢超值红包机会，每个整点仅限100个超值红包，抢完即止；</li>
                        <li><span>2</span>活动期间，用户获得的超值红包将直接发放至您的账户，您可在【我的账户】-【我的红包】处查看使用详情。</li>
                    </ul>
                </div>

                <div class="redlucky_step03">
                    <div class="step_title">
                        <img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/2018/redLucky/step03_title.jpg">
                        <p>2018年2月13日-2月22日</p>
                    </div>
                    <div class="step_content">
                        <div class="step_top">
                            <p style="color:#b66e29;font-size: 18px;line-height: 50px;">
                                财源滚滚进家门，十万新春奖金来瓜分！
                            </p>
                            <span class="step_content_ticket" style="left: -13px;"></span>
                            <span class="step_content_ticket" style="right:-13px;"></span>
                        </div>
                        <div class="step_bottom">
                            <div class="step03_content">
                                <div class="step03_speed">
                                    #set($speed = ($thirdRes.loanAmount / 30000000) * 100)
                                    #if($speed < 1)
                                        #set($speedWidth = 1)
                                    #elseif($speed > 99 && $speed <100)
                                        #set($speedWidth = 99)
                                    #else
                                        #set($speedWidth = $speed)
                                    #end
                                    <div class="step03_speed_wrap">
                                        <div class="step03_speed_sub"></div>
                                        <div class="progress_bar" style="width: $!speedWidth%" width="$!speedWidth"></div>
                                    </div>
                                </div>
                                <div class="step03_speed_text">
                                    <span style="left: -10px;">0元</span>
                                    <span style="left: 28%;">1000万元</span>
                                    <span style="right: 28%;">2000万元</span>
                                    <span style="right: -25px;">3000万元</span>
                                </div>
                            </div>
                            <div class="step03_speed_des">
                                #set($totalLoan = $thirdRes.loanAmount / 10000)
                                <p><span><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/2018/redLucky/speed_des.png"></span>当前平台累计年化借出额：$!money.format($!totalLoan) 万元</p>
                            </div>
                            <div class="step03_table">
                                <div class="step03_table_row">
                                    <div class="step03_table_colum" style="width: 388px;">
                                        <div class="step_table_wrap">
                                            <div class="table_row table_title">
                                                <div class="table_left">
                                                    <p style="padding: 5px 0;line-height: 20px;">
                                                        奖金开放条件<br>
                                                        平台累计年化出借总额达到
                                                    </p>
                                                </div>
                                                <div class="table_right">
                                                    <p>达标可瓜分总奖金</p>
                                                </div>
                                            </div>
                                            <div class="table_row" style="background: #f5f2eb;">
                                                <div class="table_left">
                                                    <p>
                                                        1000万元
                                                    </p>
                                                </div>
                                                <div class="table_right">
                                                    <p>
                                                        28000元
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="table_row" style="background: #f1e9d8;">
                                                <div class="table_left">
                                                    <p>
                                                        2000万元
                                                    </p>
                                                </div>
                                                <div class="table_right">
                                                    <p>
                                                        68000元
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="table_row" style="background: #f5f2eb;">
                                                <div class="table_left">
                                                    <p>
                                                        3000万元
                                                    </p>
                                                </div>
                                                <div class="table_right">
                                                    <p>
                                                        108000元
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="step03_table_colum" style="width: 242px;">
                                        <div class="step_table_wrap" style="margin-bottom: 7px">
                                            <div class="table_row table_title"><p>我的战绩</p></div>
                                            <div class="table_row my_record">
                                                <h5>我的累计年化借出额</h5>
                                                <p>
                                                    #if($!thirdRes.isStart == 'not_start')
                                                        0元
                                                    #elseif($!thirdRes.isStart == 'start')
                                                        #if($!thirdRes.isLogin == 'yes')
                                                            $!money.format($!thirdRes.myLoanAmount)元
                                                        #elseif($!thirdRes.isLogin == 'no')
                                                            ？元
                                                        #end
                                                    #elseif($!thirdRes.isStart == 'end')
                                                        #if($!thirdRes.isLogin == 'yes')
                                                            $!money.format($!thirdRes.myLoanAmount)元
                                                        #elseif($!thirdRes.isLogin == 'no')
                                                            ？元
                                                        #end
                                                    #end
                                                </p>
                                            </div>
                                        </div>
                                        <div class="step03_get_btn">
                                            #if($!thirdRes.isStart == 'not_start')
                                                <span class="step03_btn_disable">活动未开始</span>
                                            #elseif($!thirdRes.isStart == 'start')
                                                #if($!thirdRes.isLogin == 'yes')
                                                    <span class="step03_btn_enable go_buy">立即参与活动</span>
                                                #elseif($!thirdRes.isLogin == 'no')
                                                    <span class="step03_btn_enable go_login">立即登录</span>
                                                #end
                                            #elseif($!thirdRes.isStart == 'end')
                                                #if($!thirdRes.isLogin == 'yes')
                                                    <span class="step03_btn_disable">活动已结束</span>
                                                #elseif($!thirdRes.isLogin == 'no')
                                                    <span class="step03_btn_enable go_login">登录查看战绩</span>
                                                #end
                                            #end
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="redlucky_rule">
                    <p>活动规则：</p>
                    <ul>
                        <li><span>1</span>本次活动仅限港湾计划系列产品（含新手标）；</li>
                        <li>
                            <span>2</span>活动期间，用户累计年化出借额达1000元，即可参与活动；<br>年化出借额计算公式：年化出借额 = 出借金额 * 产品期限（天数）/ 365
                        </li>
                        <li>
                            <span>3</span>奖金开放条件：截止2018年2月22日23:59:59，平台累计年化出借总额达到指定金额，所有达标用户都将瓜分对应奖金：<br>
                            平台累计年化出借总额达到1000万元，可瓜分总奖金为28000元<br>
                            平台累计年化出借总额达到2000万元，可瓜分总奖金为68000元<br>
                            平台累计年化出借总额达到3000万元，可瓜分总奖金为108000元
                        </li>
                        <li>
                            <span>4</span>用户瓜分奖金计算公式：<br>
                            单个用户可瓜分奖金=总奖金*单个用户累计年化出借额/平台累计年化出借总额；<br>
                            （奖励金额保留至小数点后两位，按四舍五入计算）
                        </li>
                        <li><span>5</span>平台将于活动结束后的5个工作日内发放瓜分奖金，瓜分奖金将以奖励金形式发放至您的币港湾账户内，您可进入【我的账户】-【我的奖励】内查看。</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="redlucky_floatbg"></div>

    <div class="cover_bg"></div>
    <div class="cover_wrap step01_onclick dialog">
        <h5 class="dialog_title">领取成功</h5>
        <div class="callback_ifo">
            <p class="dialog_content">恭喜您获得合计188元抵扣红包！<br>您可在【我的账户】-【我的红包】处查看。</p>
        </div>
        <div class="cover_btn dialog_btn">我知道了</div>
    </div>
</div>

</body>
#LoadGenJS("/resources/gen2.0/scripts/activity/2018/redlucky/redlucky")
#Html("end")