.thanksgiven{
    background: #e75b53;
    padding-bottom: 10px;
}
.thanksgiven_banner{
    height: 528px;
    background: url(../../../../images/activity/2017/thanksgiven/thanksgiven_03.jpg) no-repeat center;
    margin-bottom: 30px;
}
.thanksgiven_wrap{
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 1080px;
    margin: 0 auto 60px;
}
.wrap_01{
    background: url(../../../../images/activity/2017/thanksgiven/thanksgiven_04.png) no-repeat top center;
    background-color: #fefaea;
}
.wrap_02{
    background: url(../../../../images/activity/2017/thanksgiven/thanksgiven_05.png) no-repeat top center;
    background-color: #fefaea;
}
.wrap_03{
    background: url(../../../../images/activity/2017/thanksgiven/thanksgiven_06.png) no-repeat top center;
    background-color: #fefaea;
}
.thanksgiven_inside{
    border:solid 1px #d3884a;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    padding: 215px 84px 30px;
    position: relative;
}
.target_link{
    position: absolute;
    width: 120px;
    height: 120px;
    padding: 2px;
    top: 47px;
    right:209px;
}
.target_link img{
    width: 100%;
}
.thanksgiven_content{
    background: #fff1c9;
    box-shadow: inset 0px 0px 21px 0px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 30px 40px;
}
.thanksgiven_content h4{
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}
.thanksgiven_content>p{
    margin-bottom: 10px;
    font-size:14px;
    color: #666;
    padding-left: 20px;
    position: relative;
    line-height: 20px;
}
.thanksgiven_content>p>span{
    position: absolute;
    left: 0;
}
.prize_list{
    margin-bottom: 10px;
}
.prize_list:after,.prize_btn:after,.history_title:after,.history_content:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.prize_card_box,.btn_exchange{
    width: 25%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}
.prize_card{
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
}
.prize_card h5{
    color: #b17744;
    font-size: 16px;
    background: #f2ca5b;
    line-height: 34px;
    text-align: center;
}
.prize_content{
    padding: 0 5px 10px;
}
.prize_pic{
    margin-bottom: 5px;
}
.prize_pic img{
    width: 100%;
}
.prize_card p{
    font-size: 14px;
    color: #b17744;
    line-height: 20px;
    padding: 0 10px;
}
.prize_num{
    height: 24px;
}
.prize_num span{
    display: block;
    float: right;
    line-height: 24px;
    background: #f2ca5b;
    color: #b17744;
    padding: 0 10px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    font-size: 12px;
}
.btn_disabled{
    margin: 30px auto 0;
    border:solid 1px #b17744;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: 48px;
    font-size: 18px;
    color: #b17744;
    text-align: center;
    width: 380px;
}
.btn_exchange span{
    display: block;
    line-height: 42px;
    text-align: center;
    color: #b17744;
    font-size: 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fff1c9;
    border:solid 1px #b17744;
    cursor: default;
}
.btn_exchange span.exchange{
    background: #f2c957;
    cursor: pointer;
    border:none;
    line-height: 44px;
}
.lottery{
    width: 450px;
    margin: 0 auto 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
}
.lottery h5{
    color: #b17744;
    font-size: 16px;
    background: #f2ca5b;
    line-height: 34px;
    text-align: center;
}
.lottery p{
    padding: 0 15px;
    font-size: 14px;
    color: #666;
    line-height: 40px;
    background: #efefef;
    margin-bottom: 0;
}
.lottery p img{
    margin-right: 10px;
    position: relative;
    top:3px;
}
.lottery p span{
    float: right;
    color: #b17744;
}
.lottery_num{
    background: #fff;
    padding: 40px;
    text-align: center;
}
.lottery_num .lottery_num_ball{
    width: 54px;
    height: 54px;
    display: inline-block;
    line-height: 54px;
    background: url(../../../../images/activity/2017/thanksgiven/thanksgiven_ball.png) no-repeat center;
    text-align: center;
    color: #fff;
    font-size:24px;
    -webkit-border-radius:27px;
    -moz-border-radius:27px;
    border-radius:27px;
}
.lottery_num .ball_null{
    background: #f9d87b;
}
.lottery_history{
    border:solid 1px #b17744;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
}
.history_title{
    background: #b17744;
}
.history_title .history_text{
    width: 25%;
    float: left;
    color: #fff;
    font-size: 16px;
    font-weight:bold;
    line-height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.history_content .history_text{
    width: 25%;
    float: left;
    color: #666;
    font-size: 14px;
    border-right:solid 1px #e5e5e5;
    line-height: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background: #fff;
}
.history_content .history_text span{
    color: #b17744;
}
.history_content .history_text:last-child{
    border-right: none;
}
.history_content:nth-child(odd)  .history_text{
    background: #f2f2f2;
}
.step03_img {
    text-align: center;
}
.thanksgiven_login{
    width: 380px;
    line-height: 50px;
    height: 50px;
    background: #f2c957;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #b17744;
    font-size:18px;
    margin: 20px auto;
    cursor: pointer;
}

/*弹窗*/
.over_bg{
    position: fixed;
    z-index: 50;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    background: #000;
    opacity: .4; /* Chrome, Safari, Opera */
    filter:alpha(opacity=40);
    display: none;
}
.over_wrap{
    position: fixed;
    z-index: 50;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    display: none;
}
.over_box{
    width: 600px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -300px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
    background: #e35d4e;
    background-image: -moz-linear-gradient( 90deg, rgb(221,77,71) 0%, rgb(226,92,78) 54%, rgb(231,106,84) 99%);
    background-image: -webkit-linear-gradient( 90deg, rgb(221,77,71) 0%, rgb(226,92,78) 54%, rgb(231,106,84) 99%);
    background-image: -ms-linear-gradient( 90deg, rgb(221,77,71) 0%, rgb(226,92,78) 54%, rgb(231,106,84) 99%);
}
.exchange_step01 .over_box{
    margin-top: -260px;
}
.over_title{
    background: url(../../../../images/activity/2017/thanksgiven/address_light.png) no-repeat center;
    height: 130px;
    position: relative;
}
.over_bottom{
    background-color: #fdf6e0;
    background: url(../../../../images/activity/2017/thanksgiven/address_down.png) no-repeat center;
    height: 100px;
}
.over_content{
    padding: 0 35px;
}
.over_ifo{
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    padding: 5px 6px 0;
    background: #fff9e5;
}
.over_ifo_inside{
    border:solid 2px #e7be95 ;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    padding: 20px 20px 0;
    border-bottom: none;
}
.over_ifo_inside h5{
    font-size: 16px;
    color: #b17744;
    line-height: 20px;
    margin-bottom: 20px;
    font-weight:bold;
}
.exchange_ifo{
    width: 350px;
    margin: auto;
}
.exchange_ifo label{
    height: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #999;
}
.exchange_ifo label input,.exchange_ifo label textarea{
    border: none;
    padding: 0;
    margin: 0;
    background: transparent;
    color: #666;
}
.exchange_ifo label p{
    float: left;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    width: 80px;
    padding-left: 5px;
}
.exchange_ifo label input{
    display: block;
    float: right;
    width: 260px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #666;
}
.exchange_ifo label textarea{
    display: block;
    float: right;
    width: 260px;
    line-height: 20px;
    font-size: 14px;
    color: #666;
    height: 90px;
    overflow:auto;
}
.exchange_ifo .address{
    height: 90px;
    border: solid 1px #999;
}
.exchange_ifo_submit{
    width: 240px;
    height: 40px;
    line-height: 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #b17744;
    background: #f2c957;
    font-size:24px;
    background-image: -moz-linear-gradient( 0deg, rgb(222,179,106) 0%, rgb(238,197,120) 52%, rgb(254,214,133) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(222,179,106) 0%, rgb(238,197,120) 52%, rgb(254,214,133) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(222,179,106) 0%, rgb(238,197,120) 52%, rgb(254,214,133) 100%);
    display: block;
    margin: auto;
    border:none;
    padding: 0;
    cursor: pointer;
}

.over_title_supply{
    height: 130px;
    padding-top: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.over_title_supply{
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-align: center;
}
.over_wrap_closed{
    position: absolute;
    top:15px;
    right: 15px;
}
.exchange_success{
    position: relative;
    padding-top: 40px;
}
.exchange_success>h4{
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}
.exchange_success>p{
    color: #ffb8ae;
    font-size:16px;
    text-align: center;
}