body{ background: #73c5ff; }
.sucee_wp{ position: relative;width:100%; height:300px; background: url(../../images/channel/banner.jpg) no-repeat center center;}
.succ_info{font-size: 36px;line-height: 36px; color:white;position: relative;top: 30px;}
.succ_ft{ font-size: 28px;line-height: 40px; text-align: center; color:white; margin-top:60px;}
.wacht_wp{ text-align: center; margin-top:33px;}
.wacht_img{ width: 6%;vertical-align: middle;}
.wadv{ display: inline-block;vertical-align: middle; padding-left:10px;}
.wxlink, .link_img{ font-size: 24px; }
.wxlink{ color:white; }
.link_img{color:#327fb6; width:auto; border-bottom: 2px dotted #327fb6; height: 35px; line-height: 30px;display: inline-block;}
.ree_ft{ text-align: center; color:white; font-size: 22px;line-height: 22px; margin: 163px 0px 16px;}
.bnt_form{ text-align: center; }
.ree_btn{ width:auto;height:auto; margin:0 auto;font-size: 41px; border:1px solid #901b39; background: #ff2c62; color:white; border-radius: 6px; box-shadow: 0px 1px 11px 0px #1b1414; padding:10px 85px;}


body.body_two{ background: #f3f5f7; }
.header{ width:100%; height:80px; line-height: 80px; background:white; text-align: center; position: relative;}
.header_arrow{ display:block; position:absolute; left:10px; top:50%; margin-top: -15px; width:34px; height:30px; }
.heade_ft{ font-size: 34px; color:#ff6633;}
.succ_clip{ width:244px; height:244px; text-align: center; line-height: 244px; border-radius: 50%; background: #ff6633; margin:91px auto 0px;}
.clip_info{ padding:30px; font-size: 40px;color:white; line-height: normal;  position: relative;top: 46px;}
.pay_wp{ margin-bottom: 60px; }
.pay_phone,.pay_service{font-size: 28px;line-height: 28px; color:#222222; text-align: center;}
.pay_phone{ margin:24px 0px 130px; }
.pay_service{margin-top:30px; padding-bottom: 23px;}
.pay_ft{color:#222222;line-height: 26px;font-size: 26px; margin-top:36px; text-align: center;}
.pay_link{ color:black;font-size: 25px;}
.pay_img{font-size: 25px;}
.pay_btn{ background: #ff6633; color:white; height:auto; padding:16px 72px; width:auto; border:0px;}
.success_img{ width:338px; height:340px; margin:26px auto 0px; text-align: center; }
.succ_img{ width:100%; height:100%;}
.weichat{display: inline-block; width:32px; height:30px; background: url(../../images/channel/wancht.png) no-repeat center center;vertical-align: sub; margin:4px 12px 0px 0px;}
.succ_btn{display: block; margin:0px 30px; height:81px; line-height: 81px;color:white; border-radius: 6px; font-size: 36px; background:#ff6633; text-align:center;}
.succ_btn:visited, .succ_btn:focus, .succ_btn:hover{color:white;}
