#Html("begin")
#Head("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadJS("resources/micro2.0/scripts/six")
#LoadCSS("resources/micro2.0/styles/default")
#LoadCSS("resources/micro2.0/styles/regular/buy_product.min")
#WeChatShare()
#Head("end")
<body class="no_bind_body">
    <input type="hidden" id="APP_ROOT_PATH" value="$!env.getWebURL('')"/>
    <input type="hidden" id="id" name="id" value="$!id" />
    <input type="hidden" id="name" name="name" value="$!name" />
    <input type="hidden" id="rate" name="rate" value="$!rate" />
    <input type="hidden" id="term" name="term" value="$!term" />
    <input type="hidden" id="propertyType" name="propertyType" value="$!propertyType" />
    <input type="hidden" id="minInvestAmount" name="minInvestAmount" value="$!minInvestAmount" />
    #if("$!qianbao" == "qianbao")
    	<input type="hidden" id="qianbao" name="qianbao" value="$!qianbao" />
    <input type="hidden" id="agentViewFlag" name="agentViewFlag" value="$!agentViewFlag">
    #end
    <div class="header">
        <a class="header_arrow" href="javascript:history.go(-1)"></a>
        <h1 class="heade_ft oran_color">新用户温馨提醒</h1>
    </div>
    <h2 class="ACC_null_title">购买时请选择绑定一张安全卡</h2>
    <p class="p1">
    1、为了保障您的资金安全，您首次成功支付的银行卡将作为<span class="oran_color">安全卡</span>。请您确保本次使用的银行卡是您本人的银行卡。
    </p>
    <p class="p1">
    2、您在币港湾上仅可使用此卡购买产品和提现。当您的投资到期后，会将本金+利息一起回款到此卡上。
    </p>
    <p class="p1">
    3、由于<span class="oran_color">安全卡</span>只能设置一张，所以即使您的账户被盗，他人也无法将资金转移到其他账户，保障您的资金万无一失。
    </p>
    
    <div class="five_img">
        <img src="$!env.getWebURL('resources/micro2.0/images/five_img.png')" alt=""></div>
    <a class="invite five_invite" href="javascript:void(0)" onclick="firstBuy()">知道了</a>
    <div class="place_bind"></div>
#LoadJS("resources/micro2.0/scripts/zepto.min")
#LoadJS("resources/micro2.0/scripts/regular/custom")
#LoadJS("resources/micro2.0/scripts/regular/regular_product_nobind")
</body>
#Html("end")