#Html("begin")
#Head("begin")

#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadJS("resources/micro2.0/scripts/regular/product_detail_new_six")
#LoadCSS("resources/micro2.0/styles/regular/product_detail_new_default")
#LoadCSS("resources/micro2.0/styles/regular/swiper.min")
#LoadCSS("resources/micro2.0/styles/regular/product_detail_oldVersion.min")
#LoadJS("resources/micro2.0/scripts/regular/swiper.jquery.min")
#LoadJS("resources/micro2.0/scripts/regular/product_detail_oldVersion")

#LoadJS("resources/micro2.0/scripts/common/common")#WeChatShare()
#Head("end")
<body style="background:#ffffff">
	<input type="hidden" id="APP_ROOT_PATH" value="$!env.getWebURL('')"/>
<input type="hidden" id="id" name="id" value="$!id" />
<input type="hidden" id="name" name="name" value="$!name" />
<input type="hidden" id="rate" name="rate" value="$!rate" />
<input type="hidden" id="term" name="term" value="$!term" />
<input type="hidden" id="totalCount" name="totalCount" value="$!totalCount" />	##总条数
<input type="hidden" id="pageNum" name="pageNum" value="$!pageNum" /> ##当前页码
<input type="hidden" id="minInvestAmount" name="minInvestAmount" value="$!minInvestAmount">


<header id="header" class="">
    <div class="deta_title">预期年化收益</div>
    <div class="earnings_number">
        <span class="number">$!number.format("0.00",$!productDetail.baseRate)</span>
        <span class="number_fh">%</span>
    </div>
    <div class="deta_info">
        <div class="info_left">
			#if($!productDetail.propertySymbol == 'ZAN')
                委托意向$!productDetail.termMonth个月以内
			#else
                投资期限$!productDetail.term天
			#end
        </div>
        <div class="info_right">
			#if($!productDetail.propertySymbol == 'ZAN')
				#if($!productDetail.minInvestAmount >= 10000)
					#if($!productDetail.minInvestAmount %10000 >0 && $!productDetail.minInvestAmount %1000>0)
						#set($minInvestAmount = $!productDetail.minInvestAmount/10000)
                        起投金额$!number.format("0.00",$minInvestAmount)万
					#elseif($!productDetail.minInvestAmount %10000 >0 && $!productDetail.minInvestAmount %1000==0)
						#set($minInvestAmount = $!productDetail.minInvestAmount/10000)
                        起投金额$!number.format("0.0",$minInvestAmount)万
					#else
						#set($minInvestAmount = $!productDetail.minInvestAmount/10000)
                        起投金额$!number.format("0",$minInvestAmount)万
					#end
				#else
                    起投金额$!number.format("0",$!productDetail.minInvestAmount)元
				#end
			#else
				#if($!productDetail.minInvestAmount >= 10000)
					#if($!productDetail.minInvestAmount %10000 >0 && $!productDetail.minInvestAmount %1000>0)
						#set($minInvestAmount = $!productDetail.minInvestAmount/10000)
                        起投金额$!number.format("0.00",$minInvestAmount)万
					#elseif($!productDetail.minInvestAmount %10000 >0 && $!productDetail.minInvestAmount %1000==0)
						#set($minInvestAmount = $!productDetail.minInvestAmount/10000)
                        起投金额$!number.format("0.0",$minInvestAmount)万
					#else
						#set($minInvestAmount = $!productDetail.minInvestAmount/10000)
                        起投金额$!number.format("0",$minInvestAmount)万
					#end
				#else
                    起投金额$!number.format("0",$!productDetail.minInvestAmount)元
				#end
			#end
        </div>
    </div>
    <div class="deta_plan">
        <div class="plan_wp">
			#if($!productDetail.status == '5')
				#if($!date.isSameDay($!now, $!productDetail.startTime) == true)
                    <div class="">今日 $!date.formatDateTime($!productDetail.startTime, "HH:mm") 开始</div>
				#else
                    <div class="">$!date.formatDateTime($!productDetail.startTime, "yyy年MM月dd日 HH:mm") 开始</div>
				#end
			#else
                <div class="plan_left">
					#if($!productDetail.status == '7')
                        投资总额
					#else
                        计划总额
					#end
                <span class="big_num">
					#if($!productDetail.status == '7')
						#if($!productDetail.currTotalAmount >= 10000)
							#if($!productDetail.currTotalAmount %10000 >0 && $!productDetail.currTotalAmount %1000>0)
								#set($currTotalAmount = $!productDetail.currTotalAmount/10000)
								$!number.format("0.00",$currTotalAmount) </span>万
							#elseif($!productDetail.currTotalAmount %10000 >0 && $!productDetail.currTotalAmount %1000==0)
								#set($currTotalAmount = $!productDetail.currTotalAmount/10000)
								$!number.format("0.0",$currTotalAmount) </span>万
							#else
								#set($currTotalAmount = $!productDetail.currTotalAmount/10000)
								$!number.format("0",$currTotalAmount) </span>万
							#end
						#else
							$!number.format("0",$!productDetail.currTotalAmount) </span>元
						#end
					#else
						#if($!productDetail.maxTotalAmount >= 10000)
							#if($!productDetail.maxTotalAmount %10000 >0 && $!productDetail.maxTotalAmount %1000>0)
								#set($maxTotalAmount = $!productDetail.maxTotalAmount/10000)
								$!number.format("0.00",$maxTotalAmount) </span>万
							#elseif($!productDetail.maxTotalAmount %10000 >0 && $!productDetail.maxTotalAmount %1000==0)
								#set($maxTotalAmount = $!productDetail.maxTotalAmount/10000)
								$!number.format("0.0",$maxTotalAmount) </span>万
							#else
								#set($maxTotalAmount = $!productDetail.maxTotalAmount/10000)
								$!number.format("0",$maxTotalAmount) </span>万
							#end
						#else
							$!number.format("0",$!productDetail.maxTotalAmount) </span>元
						#end
					#end
                </div>
                <div class="plan_right">剩余金额  <span class="big_num">
					#if($!productDetail.status == '7')
                        0 </span>元
					#else
						#if($!productDetail.surplusAmount >= 10000)
							#if($!productDetail.surplusAmount %10000 >0 && $!productDetail.surplusAmount %1000>0)
								#set($surplusAmount = $!productDetail.surplusAmount/10000)
								$!number.format("0.00",$surplusAmount) </span>万
							#elseif($!productDetail.surplusAmount %10000 >0 && $!productDetail.surplusAmount %1000==0)
								#set($surplusAmount = $!productDetail.surplusAmount/10000)
								$!number.format("0.0",$surplusAmount) </span>万
							#else
								#set($surplusAmount = $!productDetail.surplusAmount/10000)
								$!number.format("0",$surplusAmount) </span>万
							#end
						#elseif($!productDetail.surplusAmount >=100 && $!productDetail.surplusAmount <10000)
							$!number.format("0",$!productDetail.surplusAmount) </span>元
						#else
                            0</span>元
						#end
					#end
                </div>
			#end
        </div>
    </div>
</header>

<div class="swiper-container">
    <div class="tab_wp">
        <ul class="tab_ul" id="tab_now">
            <li class="tab_li active">计划介绍</li>
            <li class="tab_li">风险控制</li>
            <li class="tab_li">投资记录</li>
        </ul>
    </div>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="slide1_tt">计划基本信息</div>
            <table id="tfhover" class="tftable" border="1">
                <tr>
                    <td class="bg_td">计划名称</td>
                    <td>$!productDetail.name </td>
                </tr>
                <tr>
                    <td class="bg_td">收益管理费</td>
                    <td>
						#if($!productDetail.manageFee == '0.0')
                            免收
						#else
							#if($!productDetail.propertySymbol == 'ZAN')
                                实际收益的$string.replace($!number.format("0.00",$!productDetail.manageFee),".00","")% <font color="red">（2017年1月1日前免收）</font>
							#else
								$string.replace($!number.format("0.00",$!productDetail.manageFee),".00","")% <font color="red">（2017年1月1日前免收）</font>
							#end
						#end
                    </td>
                </tr>
                <tr>
                    <td class="bg_td">
						#if($!productDetail.status == '7')
                            投资总额
						#else
                            计划总额
						#end
                    </td>

                    <td>
						#if($!productDetail.status == '7')
							#if($!productDetail.currTotalAmount >= 10000)
								#if($!productDetail.currTotalAmount %10000 >0 && $!productDetail.currTotalAmount %1000>0)
									#set($currTotalAmount = $!productDetail.currTotalAmount/10000)
									$!number.format("0.00",$currTotalAmount)万
								#elseif($!productDetail.currTotalAmount %10000 >0 && $!productDetail.currTotalAmount %1000==0)
									#set($currTotalAmount = $!productDetail.currTotalAmount/10000)
									$!number.format("0.0",$currTotalAmount)万
								#else
									#set($currTotalAmount = $!productDetail.currTotalAmount/10000)
									$!number.format("0",$currTotalAmount)万
								#end
							#else
								$!number.format("0",$!productDetail.currTotalAmount)元
							#end
						#else
							#if($!productDetail.maxTotalAmount >= 10000)
								#if($!productDetail.maxTotalAmount %10000 >0 && $!productDetail.maxTotalAmount %1000>0)
									#set($planTotalAmount = $!productDetail.maxTotalAmount/10000)
									$!number.format("0.00",$planTotalAmount)万
								#elseif($!productDetail.maxTotalAmount %10000 >0 && $!productDetail.maxTotalAmount %1000==0)
									#set($planTotalAmount = $!productDetail.maxTotalAmount/10000)
									$!number.format("0.0",$planTotalAmount)万
								#else
									#set($planTotalAmount = $!productDetail.maxTotalAmount/10000)
									$!number.format("0",$planTotalAmount)万
								#end
							#elseif($!productDetail.maxTotalAmount >=100 && $!productDetail.maxTotalAmount <10000)
									$!number.format("0",$!productDetail.maxTotalAmount)</span>元
							#else
                                0 元
							#end
						#end
                    </td>
                </tr>
				#if(!$productDetail.maxSingleInvestAmount)
				#else
                    <tr>
                        <td class="bg_td">限购金额</td>
                        <td>
							#if($!productDetail.maxSingleInvestAmount >= 10000)
								#if($!productDetail.maxSingleInvestAmount %10000 >0 && $!productDetail.maxSingleInvestAmount %1000>0)
									#set($maxSingleInvestAmount = $!productDetail.maxSingleInvestAmount/10000)
									$!number.format("0.00",$maxSingleInvestAmount)万
								#elseif($!productDetail.maxSingleInvestAmount %10000 >0 && $!productDetail.maxSingleInvestAmount %1000==0)
									#set($maxSingleInvestAmount = $!productDetail.maxSingleInvestAmount/10000)
									$!number.format("0.0",$maxSingleInvestAmount)万
								#else
									#set($maxSingleInvestAmount = $!productDetail.maxSingleInvestAmount/10000)
									$!number.format("0",$maxSingleInvestAmount)万
								#end
							#else
								$!number.format("0",$!productDetail.maxSingleInvestAmount)元
							#end
                        </td>
                    </tr>
				#end
				#if($!productDetail.propertySymbol == 'ZAN')
                    <tr>
                        <td class="bg_td">优惠券</td>
                        <td>不支持使用红包</td>
                    </tr>
				#end

                <tr>
                    <td class="bg_td">债权类别</td>
                    <td>#if($!productDetail.propertyType == 'CASH_LOOP' ) 小微借款   #elseif($!productDetail.propertyType == 'CONSUME') 消费贷  #else $!productDetail.propertyType #end</td>
                </tr>
                <tr>
                    <td class="bg_td">起息时间</td>
                    <td>#if($!productDetail.beginInterestDays == 'NEXT_DAY' ) 出借成功当日起息 #elseif($!productDetail.beginInterestDays == 'MATCH_DAY') 成功匹配债权当日起息 #end</td>
                </tr>
                <tr>
                    <td class="bg_td">回款方式</td>
                    <td>#if($!productDetail.returnType == 'FINISH_RETURN_ALL' ) 到期一次性本息兑付  #elseif($!productDetail.returnType == 'AVERAGE_CAPITAL_PLUS_INTEREST') 等额本息 #end</td>
                </tr>
				#if($!productDetail.propertySymbol == 'ZAN')
                    <tr>
                        <td class="bg_td">委托冻结期</td>
                        <td>成功委托次日起$!productDetail.entrustLockPeriod个自然日</td>
                    </tr>
				#end
                <tr>
                    <td class="bg_td">计息方式</td>
                    <td>按日计息</td>
                </tr>
                <tr>
                    <td class="bg_td">可投资时间</td>
					#if($!productDetail.endTime)
                        <td>$!date.formatYYYYMMDD($!productDetail.startTime) 至  $!date.formatYYYYMMDD($!productDetail.endTime)</td>
					#else
                        <td>$!date.formatYYYYMMDD($!productDetail.startTime) 起</td>
					#end

                </tr>
            </table>

			#if("$!productDetail.note" != "")
                <div class="slide1_tt">计划简介</div>
                <div class="plan_p">
					$!productDetail.note
                </div>
			#end

			#if("$!productDetail.propertySummary" != "")
                <div class="slide1_tt">合作方简介</div>
                <div class="plan_p">
					$!productDetail.propertySummary
                </div>
			#end

			#if("$!productDetail.returnSource" != "")
                <div class="slide1_tt">还款来源</div>
                <div class="plan_p">
					$!productDetail.returnSource
                </div>
			#end


			#if("$!productDetail.coopProtocolPics" != "")
                <a href="$!env.getWebURL('/micro2.0/regular/protocol?productId=')$!productDetail.id&resourceType=APP&protocolType=coop">
                    <div class="check_file" style="border-top:2px solid #e0e0e0;">
                        合作协议
                        <img class="arrow" src="$!env.getWebURL('resources/micro2.0/images/buy_arrow.png')" alt="">
                    </div>
                </a>
			#end

            <div class="deta_foor_info">
                <img class="foor_img" src="$!env.getWebURL('resources/micro2.0/images/foor_img.png')" alt="">
                账户资金安全由全球网络安全领导者赛门铁克保障
            </div>


        </div>
        <div class="swiper-slide">
            <div class="slide2_wp">
                <div class="plan_p">币港湾平台对每个产品计划的合作项目都进行了细致的调查，保证风险可控，信息披露完善、信用等级优秀，让用户可以在币港湾上安心收益。</div>
				#if("$!productDetail.fundSecurity" != "")
                    <div class="slide1_tt">技术保障</div>
                    <div class="plan_p">
						$!productDetail.fundSecurity
                    </div>
				#end

            </div>

			#if("$!productDetail.orgnizeCheck" != "" && "$!productDetail.orgnizeCheckPics" != "" )
                <a href="$!env.getWebURL('/micro2.0/regular/protocol?productId=')$!productDetail.id&resourceType=APP&protocolType=orgnize">
                    <div class="check_file" style="border-top:2px solid #e0e0e0;">
                        合作方信息披露
                        <img class="arrow" src="$!env.getWebURL('resources/micro2.0/images/buy_arrow.png')" alt="">
                    </div>
                </a>
			#end


			#if("$!productDetail.ratingGrade" != "" && "$!productDetail.ratingGradePics" != "" )
                <a href="$!env.getWebURL('/micro2.0/regular/protocol?productId=')$!productDetail.id&resourceType=APP&protocolType=rating">
                    <div class="check_file" #if("$!productDetail.orgnizeCheck" == "" || "$!productDetail.orgnizeCheckPics" == "" )style="border-top:2px solid #e0e0e0;" #end>
                        第三方担保合同
                        <img class="arrow" src="$!env.getWebURL('resources/micro2.0/images/buy_arrow.png')" alt="">
                    </div>
                </a>
			#end

			#if("$!productDetail.loanProtocolPics" != "")
                <a href="$!env.getWebURL('/micro2.0/regular/protocol?productId=')$!productDetail.id&resourceType=APP&protocolType=loan">
                    <div class="check_file" #if("$!productDetail.orgnizeCheck" == "" || "$!productDetail.orgnizeCheckPics" == "" ) #if("$!productDetail.ratingGrade" == "" || "$!productDetail.ratingGradePics" == "" ) style="border-top:2px solid #e0e0e0;" #end #end>
                        借款合同示例
                        <img class="arrow" src="$!env.getWebURL('resources/micro2.0/images/buy_arrow.png')" alt="">
                    </div>
                </a>
			#end

            <div class="deta_foor_info">
                <img class="foor_img" src="$!env.getWebURL('resources/micro2.0/images/foor_img.png')" alt="">
                账户资金安全由全球网络安全领导者赛门铁克保障
            </div>

        </div>
        <div class="swiper-slide slide3">
            <ul class="slide3_ul">

				#foreach($record in $!investRecord)
                    <li class="slide3_li">
                        <div class="name_left">
                            <div class="name">$!record.userName </div>
                            <div class="name_time">$!date.format($!record.openTime)</div>
                        </div>
                        <div class="name_right">
							#if($!record.balance >= 10000)
								#if($!record.balance %10000 >0 && $!record.balance %1000>0)
									#set($balanceAmount = $!record.balance/10000)
									$!number.format("0.00",$balanceAmount)万
								#elseif($!record.balance %10000 >0 && $!record.balance %1000==0)
									#set($balanceAmount = $!record.balance/10000)
									$!number.format("0.0",$balanceAmount)万
								#else
									#set($balanceAmount = $!record.balance/10000)
									$!number.format("0",$balanceAmount)万
								#end
							#elseif($!record.balance >=100 && $!record.balance <10000)
								$!number.format("0",$!record.balance)元
							#else
                                0 元
							#end
                        </div>
                    </li>
				#end

            </ul>
			#if($!productDetail.totalRows == 0)
                <div id="showmore_app">暂无投资记录</div>
			#else
                <div id="showmore_app" >查看更多</div>
			#end

            <div class="place_btn"></div>
        </div>



    </div>
</div>
#LoadJS("resources/micro2.0/scripts/regular/swiper.jquery.min")
#LoadJS("resources/micro2.0/scripts/regular/product_detail_oldVersion")
#LoadJS("resources/micro2.0/scripts/common/common")

</body>
#Html("end")