.content{
	width: 100%;
	height: auto;
}
.con{
	width: 980px;
	height: 890px;
	padding-top: 30px;
	margin: 0 auto;
	text-align: center;
}
.con_left{
	width: 193px;
	height: 700px;
	border-radius: 8px;
	background: #fff;
	float: left;
	color: #656565;
}
.con_left dl,.con_left2 dl{
	width: 193px;
	overflow: hidden;
	
}
.con_left dl dt,.con_left2 dl dt{
	width: 195px;
	height: 46px;
	line-height: 46px;
	cursor: pointer;
}
.con_left p,.con_left2 p{
	width: 195px;
	height: 46px;
	line-height: 46px;
	color: #ff6634;
	background-image: url(../img/help_bg.jpg);
	background-repeat: no-repeat;
	background-position: 0 -5px;
	border-radius: 8px;
}
.leftbg{
	background: #FF6634;
	color: #fff;
}
.con_right{
	border-radius: 8px;
	float: left;
	margin-left: 5px;
}
.con_right_nav,.con_right_nav li{
	width: 778px;
	height: auto;
	text-align: left;
}
.con_right_nav li .rig_1,
.con_right_nav li .rig_2,
.con_right_nav li .rig_3,
/*.con_right_nav li .rig_4,*/
.con_right_nav li .rig_5,
/*.con_right_nav li .rig_6,*/
.con_right_nav li .rig_7,
/*.con_right_nav li .rig_8,*/
.con_right_nav li .rig_9,
.con_right_nav li .rig_10,
.con_right_nav li .rig_11,
.con_right_nav li .rig_12{
	width: 778px;
	height: auto;
	background: #fff;
	color: #666;
	border: 1px solid #ccc;
	border-radius: 8px;
	margin-bottom: 20px;
}

.con_right_nav li div h3{
	width: 650px;
	height: 60px;
	line-height: 60px;
	color: #FF6634;
	margin: 0 auto;
	clear:both;
}
.con_right_nav li .rig_1 p{
	width: 650px;
	height: auto;
	line-height: 28px;
	color: #666;
	margin: 0 auto;
	margin-bottom: 40px;
	font-size: 14px;
}
.con_right_nav li .rig_2{
	display: none;
}
.con_right_nav li .rig_2 h4{
	width: 650px;
	height: 45px;
	line-height: 45px;
	margin: 0 auto;
}
.con_right_nav li .rig_2 p{
	width: 650px;
	height: auto;
	line-height: 28px;
	color: #666;
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 12px;
}
.con_right_nav li .rig_3{
	display: none;
	
}
.rig_3{
	
}
.rig_3_1{
	font-size: 14px;
	color: #ff6633;
}
.rig_3_1 li img{
	float: left;

}
.rig_3_1 li p{
     margin-left: 40px;
     height: 25px;
	line-height: 25px;
     margin-bottom: 10px;
}
.rig_3_1 li h5{
	color: #bbb;
	height: 20px;
	line-height: 20px;
}
.rig_3_1 li h4{
	margin-top: 20px;
	margin-left: 40px;
	height: 30px;
	line-height: 30px;
}
div.rig_3_map{
	clear: both !important;
	margin-top: px;
}
.rig_3_1 li h6{
	height: 25px;
	line-height: 25px;
	color: #bbb;
}
div.rig_3_zijia{
	width: 70px;
	height: 150px;
	float: left;
	color: #bbb;
}
.rig_3_1 li b{
	color: #bbb;
	height: 25px;
	line-height: 25px;
}
.rig_3 ul{
	margin-bottom: 25px;
}





.con_right_nav li .rig_4{
	display: none;
}
.con_right_nav li .rig_4 h1{
	width: 650px;
	height: auto;
	line-height: 28px;
	color: #FF6634;
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 26px;
}
.con_right_nav li .rig_4 h4{
	width: 650px;
	height: auto;
	line-height: 28px;
	color: #FF6634;
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 16px;
}
.con_right_nav li .rig_4 p{
	width: 650px;
	height: auto;
	line-height: 28px;
	color: #666;
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 14px;
}
.con_right_nav li .rig_5{
	display: none;
}

.con_right_nav li .rig_5 p{
	width: 650px;
	height: auto;
	line-height: 28px;
	color: #666;
	margin: 0 auto;
	margin-bottom: 40px;
	font-size: 14px;
}

.con_right_nav li .rig_7{
	display: none;
}
.con_right_nav li .rig_7 p{
	width: 650px;
	height: auto;
	line-height: 28px;
	color: #666;
	margin: 0 auto;
	margin-bottom: 40px;
	font-size: 14px;
}

.con_right_nav li .rig_9{
	display: none;
}
.con_right_nav li .rig_9 h5{
	width: 650px;
	height: auto;
	line-height: 20px;
	color: #666;
	margin: 0 auto;
	font-size: 14px;
	padding-left:30px ;
	background: url(../img/help_bg1.jpg) no-repeat left;
	background-position: 0 0px;
}
.con_right_nav li .rig_9 p{
	width: 650px;
	height: auto;
	line-height: 28px;
	color: #666;
	margin: 10px auto;
	font-size: 14px;
	padding-left:30px ;
	background: url(../img/help_bg1.jpg) no-repeat left;
	background-position: 0 -20px;
}











