div.p_bottom hr.info_line{ width:774px;}
div.p_bottom hr.info_line_two{ width:802px;}
div.p_bottom hr.info_line_three{ width:795px;}
.info_wp{ clear:both;width:100%; height:302px; position:relative;}
.info_img_wp{ height:256px; width:810px; margin:0 auto;overflow:hidden;clear: both;padding-top: 30px;}
.img_left, .img_right{ width:36px; height:122px; border:1px solid #e9e9e9; position:absolute; top:86px;}
.img_left:hover, .img_right:hover{background-color:#f63;}
.img_left{ left:0px; background: url(../../gen2.0/images/img_left.png) no-repeat center center;}
.img_right{ right:0px;background:url(../../gen2.0/images/img_right.png) no-repeat center center;}
.img_ul{ margin:0px;white-space: nowrap; position:relative;left:0px;}
.img_ul li.img_item{ width:170px; height:250px; margin-left:6px;}
.img_fo{ width:100%;}


/* 债权明细 */
div.p_bottom hr.creditor_line{width:840px;}
.creditor_wp{ margin: 0px 35px 0px 0px;height:auto; padding-bottom:20px; clear:both;}
.table{ width:100%;height:auto; border:1px solid #e5e5e5;clear: both; margin-top: 38px;}
.table ul{ margin:0px;}
.creditor_header{ width:100%; height:37px; background:#eeeeee;}
.p_bottom ul li.ble_item{width:30%; height:35px;margin:0px 0px 0px -1px;color:#666666;line-height:35px;font-size:16px;border-right:1px solid #e5e5e5;text-align: center; display: inline-block; border-top:1px solid #e5e5e5;}
.p_bottom ul li.ble_gray{border-top:0px;}
.p_bottom ul li.item_smllwidth{ width:20%;}
.one_out{color:#3393ff;}
.p_bottom ul li.bor_none{border-right:0px;}
.table_footer{ width:100%; height:35px; line-height:35px; border-top:1px solid #e5e5e5; background:#eeeeee; color:#666666; font-size:16px; text-align:center;}

/*弹出层  */
.dialog_warp{position: fixed;left:0px;display:none; top:0px;z-index:9999; width:100%; height:100%; background:rgba(0,0,0,.6); text-align:center;}
.nb_wp{width:596px; height:100%; position:absolute;left:50%;top:1%; margin:0px 0px 0px -298px;}
.img_title{ width:100%; height:46px;line-height:46px;color:#070707;text-align: left; background:#f6f6f6;color:#070707;position:relative;}
.title_ft{padding-left:16px;}
.img_off{position: absolute;right: 2px;top: 2px;width: 40px;height: 40px;cursor: pointer;background: url(../../gen2.0/images/off.png) no-repeat center center;}
.fd_img{ width:100%; height:92%;}

