#Html("begin")
#GenHead("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadGenCSS("/resources/gen/styles/touch")
#LoadGenCSS("resources/gen178/styles/user/forget_password_first")
#LoadGenJS("/resources/gen178/scripts/echarts")
#LoadGenJS("/resources/gen178/scripts/switchable")
#LoadGenJS("/resources/gen178/scripts/textSlider")
#LoadGenJS("/resources/gen178/scripts/index_style")
#LoadGenJS("/resources/gen178/scripts/user/forget_password_first")
#GenHead("end")
	<body>
	<!--header -s-->
	#Gen178HeaderLogin()
	<!--header -e-->
		<div class="naver_1">
			<div class="nav_1">
				<div class="nav">
					<div class="nav_l"></div><p class="nav_r"><a href="" style="color: #7D7D7D;">登录</a></p>
				</div>
			</div>
		</div>
		<div class="con_zf">
			<div class="con_z">
				<div class="zcon_top">
					<span>购买金额：<i class="spani">100.00</i>元</span>
					<span>产品名称：<em class="spanem">365天期限产品</em></span>
				</div>
				<div class="zcon_bottom">
					<span class="zcon_bspanl">快捷支付</span>
					<span class="zcon_bspanr"></span>
                    <p class="zcon_main">为了保障您的资金安全，您首次成功支付的银行卡将作为<i class="zcon_maini">安全卡</i>。后续仅可使用此卡进行买入和取出。</p>
				<div class="zcon_m">
				<div class="zcon_mr">
					<ul class="cul_1">
						<li style="letter-spacing: 42.5px;">姓名</li>
						<li style="letter-spacing: 15px;">身份证</li>
						<li style="letter-spacing: 5px;">银行卡号</li>
						<li style="letter-spacing: 5px;">银行类型</li>
						<li style="letter-spacing: normal;">预留手机号</li>
						<li style="letter-spacing: normal">短信验证码</li>
					</ul>
					<ul  class="cul_2">
						<li><p><span></span><input type="text" value="胡富"></p></li>
						<li><p><span></span><input type="text" value="52263519890117727X"></p></li>
						<li><p><span></span><input type="text" value="6228 4800 1100 6658519"></p></li>
						<li><p><span></span><input type="text" placeholder="请选择银行"></p></li>
						<li><p><span></span><input type="tel" value="18604631510"></p></li>
						<li><p style="width: 170px; float: left;"><span></span><input type="text" placeholder="短信验证码" style="width: 135px;"></p><button>获取验证码</button></li>
						<button class="buut">确定支付</button>
					</ul>
				</div>
				</div>
				</div>
			</div>
		</div>
	<!--浮动 -s-->
	#Gen178Share()
	<!--浮动 -e-->
	
	<!--footer -s-->
	#Gen178Footer()
	<!--footer -e-->
	</body>
#Html("end")
