#Html("begin")
#Head("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadGenCSS("/resources/gen178/styles/platform/info/share_holders")
#Head("end")
<body>
	<!-- header -->
	#Gen2Header("info")
	
	<!-- main -->
	<div class="main">
		<div class="main_banner"><img src="$!env.get('gen.server.web')/resources/gen178/images/platform/main_banner.jpg"/></div>
		<div class="main_center">
			<div class="main_cleft">
				<h3 class="main_cl_h3"><a class="title" href="$!env.get('gen.server.web')/gen178/platform/info/notice/index">信息披露</a></h3>
				<ul class="main_cl_ul">
					<li><img src="$!env.get('gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/><a href="$!env.get('gen.server.web')/gen178/platform/info/notice/index">网站公告</a></li>
					<li class="main_clul_lione"><img src="$!env.get('gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/><a href="$!env.get('gen.server.web')/gen178/platform/info/share_holders/index">股东介绍</a></li>
					<li><img src="$!env.get('gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/><a href="$!env.get('gen.server.web')/gen178/platform/info/organization/index">组织架构</a></li>
					<li><img src="$!env.get('gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/><a href="$!env.get('gen.server.web')/gen178/platform/info/platform_data/index">平台数据</a></li>
					<li><img src="$!env.get('gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/><a href="$!env.get('gen.server.web')/gen178/platform/info/report/index">运营报告</a></li>
					<li><img src="$!env.get('gen.server.web')/resources/gen178/images/platform/main_ulbg.png"/><a href="$!env.get('gen.server.web')/gen178/platform/info/real_time/index">实时监控</a></li>
					<li class="main_clul_litwo"><a href="$!env.get('gen.server.web')/gen178/platform/about/platform_profile/index">关于我们</a></li>
					<li class="main_clul_litwo"><a href="$!env.get('gen.server.web')/gen178/platform/help/common_problem/index">帮助中心</a></li>
				</ul>
			</div>
			<div class="main_cright">
				<h3 class="main_cr_h3"><a>首页 </a>><a>信息披露</a>><a>股东介绍</a></h3>
				<div class="main_cr_top">
					<h3 class="main_cr_top_h3">杭商资产管理有限公司</h3>
					<div class="main_cr_top_txt">
						杭商资产管理（杭州）有限公司（简称“杭商资产”），原杭商创业投资管理（杭州）有限公司，由杭州市金融投资集团有限公司与浙大网新集团强强联合组建。 杭州市金融投资集团有限公司于2012年2月揭牌成立，注册资金50亿元人民币，是杭州市政府直属国有独资企业，以金融服务为核心主业，立足于“服务产业升级、服务城镇建设”两大基本方向，着力构建财富管理、小微金融、公共服务、商贸金融、资产交易中介、数据服务和国际化业务等七大业务板块。2014年度公司实现净利润9.7亿元，管理资产规模345.9亿元人民币。 杭商资产已发行股权投资基金-“宝石基金”、商业地产基金-“跨虹基金”、政府类基金-“碧水基金”、“橙湾基金”等多只基金，直接管理资产总规模超过12亿元，联合管理资产总规模超过30亿元。
					</div>
				</div>
				<div class="main_cr_center">
					<h3 class="main_cr_center_h3">达飞云贷科技（北京）有限公司</h3>
					<div class="main_cr_center_txt">
						达飞财富2012年成立于北京，通过移动互联网为普通大众提供无抵押信用小微贷、理财、消费分期等方便快捷的微型金融服务，以其独特的O2O方式实现“以我之力，助您腾飞”的愿景。在稳定客户拓展和开发渠道方面，达飞财富与达飞旗下信息中介服务公司达飞微金达成合作，达飞微金主要为有资金需求的借款人与有投资需求的投资人提供信息咨询服务，让用户享受到完善的金融服务。达飞财富一直恪守行业公约，在遵守相关金融法律法规的前提下，始终将客户利益放在首位。公司先后成为中国小额信贷联盟、中国小额信贷服务中介机构联席会、小额信贷行业信用信息共享服务平台、NFCS网络金融征信系统以及中国小额信贷机构联席会的会员，并获得了诸多行业殊荣——“中国最佳微金融服务平台”、“品牌赢在中国——中国最具竞争力品牌企业”、“中国年度十佳金融服务机构”和“中国第三方财富管理最具影响力价值品牌”、“2014最具成长性企业”、“中国信贷理财行业最佳诚信服务机构”。2013年，达飞财富制定了优先发力移动端的战略，同年12月推出行业首个个人借款APP产品“达飞移动支付”，主推类信用卡功能的小微借款产品。截止2015年8月，达飞移动支付注册用户超过34万人、借款用户12万、借款逾113万笔、累计借款总额超过106亿元。2015年9月，达飞移动支付全面升级为“达飞云贷”，依托达飞自有的星云大数据风控系统，实现2－5天完成授信， 90%的申请自动化审批，并增加CFCA认证、理财即授信等更灵活安全的金融服务功能。达飞财富将继续不断提升用户体验，使每一个普通人通过手机就能享受到更加便捷的金融服务。
					</div>
				</div>
				<div class="main_cr_down">
					<h3 class="main_cr_down_h3">泓淳（杭州）科技有限公司</h3>
					<div class="main_cr_down_txt">
						泓淳（杭州）科技有限公司成立于2015年，是达飞财富旗下的一家集信用贷款和理财两种业务于一身的互联网金融公司，其目前运营的产品不但有适合于大学生灵活简便的小微借款业务，也有面向于全体人群的高收益理财产品。 
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
	#Gen2Footer()
</body>
#Html("end")
