.BGImg{ background: #eeba8c;}
.headerImg{ width:100%; padding-bottom: 73px;}
.win_border{ width:92.03%;min-height:480px;border:6px solid #dd985c; border-radius: 8px;position: relative;margin: 0 auto 40px; background: #ffd5b0;padding-bottom: 38px;}
.pos_title{ position: absolute; top:-50px;left:0px;right:0px;margin:0 auto;text-align: center; }
.right_title{text-align: left;    width: 312px; position: absolute;right:42px; top:26px;color:#ffffff;line-height: normal; }
.tit_info{ font-size: 24px; }
.tit_time{ font-size: 20px; }
.container{ width:88.4%;margin:0 auto;text-align: center; }
.ner_font{ width:100%;    height: 100%; font-size: 22px; color:#b73b1c; line-height: normal;padding: 65px 0px 30px;display:table;text-align: left;}
.pro_win{ width:240px; height:180px; border:7px solid #fdc594;  border-radius: 8px; text-align: center;display: inline-block; background: #ffffff;}
.pro_title{ font-size: 22px; color:#93490a; padding:50px 0px 27px;}
.pro_number{font-size: 38px; color:#e43a06;}
.pro_marginLeft{ margin-left: 8px; }
.btn{display:block;width:338px; color:#ffffff;text-align: center;padding: 18px 0px;font-size: 24px;line-height: normal;background: #da0f1e; border-radius: 29px;margin:31px auto 0px;}

.pos_two{ padding-bottom: 38px; }
.pos_two .pos_title{position: static;}
.pos_two .ner_font{ padding-top: 20px; }
.neikuan{width:518px;border:7px solid #fdc594;margin:0 auto; text-align: center; background: #f7eded;position: relative;}
.neikuan_title{ font-size: 24px; color:#93490a;padding:30px 0px 36px;}
.icon{ position: relative; left:7px;    top: 5px; }
.num_page{width:100%; text-align: center; font-size: 24px; color:#93490a; }
.num{ font-size: 60px;color:#e43a06; }
.thatopen{ font-size: 16px; color:#8f8f8f;padding:39px 0px 50px; }
.pos_two .btn{ margin:0 auto 18px; }
.last_pro{ margin:0 auto; font-size: 24px; color:#1573ca;  padding-bottom: 36px;}
.footer_info{ font-size: 24px; color:#b73b1c;padding:0px 0px 108px;line-height: normal; width:100%; text-align: center; }

.four_win{margin-top:80px;}
.four_win .ner_font{ text-align: center; }
.tanmu_wrap,.bgtanmu{ width:100%; }
.tanmu_wrap{ position: relative; }
.tanmu_container{ position: absolute;    width: 454px;height: 306px;left: 70px;top: 38px;overflow: hidden; }
.guize{margin:0 auto; /* border-bottom: 1px solid #1573ca; */ font-size: 22px;display: table;
    line-height: normal;color:#1573ca;margin-top:22px; }
.infoshuoming{color: #fa2806;font-size: 22px;line-height: 35px; padding:20px 0px 64px;}
.paihang_title{ position: absolute;left:0px;right:0px;    top: -40px; margin:auto;text-align: center; }
.toptitle{position: absolute;left:0px;top: 22px; right:0px; text-align:center;margin:0 auto; font-size: 24px; color:#6c2c18;}
.paihan_hin{border-radius: 8px;box-sizing: border-box;}
.alertHeader{ width:100%; height: 90px; line-height: 90px; text-align: center; }
.alertHeaderImg{ vertical-align: middle; }
.headerTitle{color:#93490a; font-size: 24px;vertical-align: middle;padding-left: 12px;}
.alertRanking{ width:100%; height:52px;position: relative; background: #f2f2f2; }
.RankingName{ position: absolute; top:18px;font-size: 22px; color:#3d3d3d; }
.alertLeft{ left:158px; }
.alertRight{ right:90px; }
.OverHin{width:100%; height:568px;overflow-y:auto;}
.alertWrap{width:84.44%;  margin:0 auto;}
.alertLi{width:100%;position: relative; height:56px; line-height:56px;font-size: 24px;}
.OderLeft{position: absolute;
    left: 15px; width:68px;display: inline-block;text-align: center; }
.OrderNumber{ vertical-align: middle;}
.NameList,.RightMenory{ display: inline-block; }
.NameList{    left: 120px;position: absolute;vertical-align:middle;border-right: 2px solid #f2f2f2; }
.RightMenory{ color:#f4554d;text-indent: 22px;     width: 46%;text-align: center;position: absolute;right: 0px;}
.Orderitem{ color:#3d3d3d;/* font-size: 18px; */}

.smallbor_wrap{ width:524px; min-height:334px;    display: inline-block; border:6px solid #fdc594;text-align: center;padding:50px 0px 40px;box-sizing: border-box; color:#e43a06;line-height: normal; background: #ffffff; font-size: 24px;   margin-bottom: 36px;}
/* .bortitle{  } */
.bormonery{font-size: 48px;padding:10px 0px 28px;font-weight: bold;}
.demInfo{ font-size: 24px; }
.sand_num{ font-size: 48px;font-weight: bold; }
.condition{ width:80%; margin:0 auto; height: 30px; color:#1573ca;padding-top: 42px;}
.condition_left{ float:left; }
.condition_right{ float: right; }
.four_win .container{ width:91%; }
.four_win .right_title{ top:19px; }
.four_win .tit_info{ font-size: 30px; }
.draw_wrap{     position: relative;
    width: 536px;
    height: 180px;
    padding: 0px;}
.bgloter {
    width: 220px;
    height: 220px;
    margin: 0px auto 0px;
    background: url(../../../images/activity/anniversary/third/dialog03.png) no-repeat center center;
    display: -webkit-box;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
.draw_Info{ font-size: 22px; color:#d30b1a; padding-bottom: 36px;opacity: 0; }
.opac{opacity: 1;}
 .scroll_horizontal .box{overflow:hidden;width:536px;position:relative;height:180px;margin:0 auto;}
.scroll_horizontal .list{overflow:hidden;width:9999px;}
.scroll_horizontal .list li{float:left;width:180px; height:164px;}
.move_left,.move_right{/* height:170px; */}
.win_bg{width:176px; height:164px;    margin: 1px; /* float: left; */display: -webkit-box;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-box-pack: center;}
.draw_container{ text-align: center; }
.draw_img{ display: block;margin:0 auto; }
.draw_info{ font-size: 22px; color:#ffe3e5;padding-top:12px;    display: inline-block; }
.no_bg{ background: url(../../../images/activity/anniversary/third/draw_nobg.png)no-repeat center center; }
.yes_ng{background: url(../../../images/activity/anniversary/third/draw_yesbg.png)no-repeat center center;}
/*弹窗*/
.dialog_notice {
    width:100%;position: fixed; top:0px; left:0px;bottom:0px;right:0px; background: rgba(0,0,0,.8);
    display: box;
    display: -webkit-box;
    box-pack:center;
    box-align: center;
    -webkit-box-pack:center;
    -webkit-box-align: center;
    z-index: 100;

}
.alert_open{display: box;
    display: -webkit-box;}
.alert_hide{
    display: none;
}
.wrap_dialog{ width:90.93%; min-height: 384px; margin:0 auto; background: #ffd5b0;overflow-y: hidden; border-radius: 10px;    padding-bottom: 1px; overflow-y: scroll;-webkit-overflow-scrolling: touch;}
.dialog_title{text-align: center; font-size: 30px;background: #cf2c2c;line-height: normal; color:#fefefe; padding: 20px 0px; position: relative;}
.close{ position: absolute;right:20px; top:20px; }
.rule_ul{width:90%;height: 340px; overflow-y: scroll; margin:34px auto 0px; box-sizing: border-box;padding-left:30px;text-align: left;}
#sixrDialog .rule_ul{height: auto;padding:34px 0px; margin:0px auto;}
.indialogTitle{ padding-bottom: 30px; }
.rule_li{ position: relative; font-size: 22px;line-height: normal; color:#555555;padding-bottom: 10px; }
.rule_list{ position: absolute; left:-26px; }
.rule_small_margin{ margin-left:20px; }

/*弹窗2*/
.smalldialog .wrap_dialog{width:482px; min-height: 248px; margin:0 auto; position: relative;padding-bottom: 47px;}
.closegrayImg{ position: absolute; right:20px; top:20px; }
.smalldialog .dialog_title{ padding-bottom: 61px;background: transparent; }
.dialog_font{ font-size: 24px; color:#555555;  width:100%;text-align: center;padding-bottom: 22px;    line-height: 30px;}
.dialog_btn{display:block;width:310px; color:#ffffff;text-align: center;padding: 18px 0px;font-size: 24px;line-height: normal;background: #da0f1e; border-radius: 8px;margin:24px auto 0px;}

.bellwrap{ position: relative;width:540px; height:290px;margin:20px auto;  }
.bless{width:100%; height:290px;resize:none;box-sizing: border-box;font-size: 22px; color:#999999;padding:16px 16px 43px;border:0px;}
.limit{ position: absolute; right:16px; bottom:19px;font-size: 20px; color: #999999; }
.bless_info{font-size: 20px; color:#555555;width:90%;line-height: 26px; margin:0 auto;}
#blessingDialog .dialog_btn{ margin-bottom: 38px; }

/*弹窗参与活动*/
.auto_hin .wrap_dialog{ min-height: auto; }
.actity_main{padding:34px 0px;}
.actity_info{  font-size: 22px;padding-bottom: 10px; color: #555555;line-height: normal;width:90%; margin:0 auto; }

/*瓜分*/
.equally_monery{ width:96%; margin:0 auto;padding:20px 0px; }
.equally_li{ height:48px; line-height: 48px;    border-top: 1px solid #e8ab74; }
.equally_title_li{ border-bottom: 2px solid #e8ab74;border-top:0px; font-size: 24px; color:#555555; font-weight: bold; }
.equally_left,.equally_center,.equally_right{ display: inline-block;font-size: 24px;color:#555555; }
.equally_left{width:100px;margin-left: 17px;}
.equally_center{ width:206px; text-align: right; }
.equally_right{ width:210px; text-align: right; }
.equally_container{height:330px; overflow-y: scroll;}
.Winning_time{ width:100%; text-align: center; font-size: 22px;line-height: normal; color:#555555;padding: 28px 0px 28px; }
/* 获奖名单 */
.list_hin{ height:525px; overflow-y: scroll; }
.list_li{font-size: 24px;height: 38px;line-height: 38px;padding-bottom: 13px;}
.list_li_left,.list_li_center,.list_li_right{display: inline-block;color:#555555;text-align: center;position:relative;}
.list_li_left{ width:120px;margin-right: 40px; position:relative;}
.winner_list_main_img_span{position:absolute;left:8px;display:inline-block;width:25px;height:31px;text-align:center;}
.list_li_center{width:210px;margin-right: 59px;}
.list_li_right{width:124px;}
.list_li_name{ vertical-align:middle; }
.no_data{text-align: center;padding-bottom: 98px;}
/**/
.login_open{ color:#1573ca; }
.my_yeas{ font-size: 36px; color:#d51b1f;line-height: normal; }
.yuan{ font-size: 24px; }