#body{width: 100%;background: #eab081;font-family: "微软雅黑";}
.banner{width: 100%;margin:0 auto;position: relative;}
.banner_img{width: 100%;display: block;}
.share_content{position: absolute;top: 580px;width: 100%;}
.share_content_txt{font-size: 36px;color: #ffff00;width: 100%;text-align: center;line-height: normal;}
.share_content_btn{text-align: center;width: 53%;margin:0 auto 0;height:65px;background: url(../../../images/activity/anniversary/share_btn.png) no-repeat center;position: absolute;top: 106px;left: 50%;margin-left: -26.5%;}
.share_content_btn .share_content_btn_a{font-size: 26px;color: #a01717;line-height:normal;display: inline-block;padding: 16px 0;display: inline-block;width: 100%;}
.Prompt_txt{width: 75.6%;margin:0 auto;font-size: 24px;color: #813923;line-height: normal;}
.share_panking{width: 84%;border:6px solid #dd985c;margin: 60px auto 0;background: #ffd5b0;position: relative;}
.panking_title{width: 100%;height:72px;background: url(../../../images/activity/anniversary/title_bg.png) no-repeat center;font-size: 30px;color: #fff;font-weight: 600;text-align: center;line-height: 60px;position: absolute;top: -39px;}
.panking_content{width: 100%;padding:34px 0 50px 0;font-size: 24px;color: #865931;line-height: normal;}
.panking_content li{margin-top: 34px;width: 93%;padding-left: 7%;}
.panking_img{display: inline-block;width: 94px;height: 94px;border:2px solid #f8b071;border-radius: 50%;overflow: hidden;vertical-align: top;}
.panking_img img{width: 100%;height: 100%;}
.panking_name{display: inline-block;width: 35%;vertical-align: top;padding-top: 34px;margin-left: 28px;}
.panking_name_i{display: block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;width:86% ;}
.panking_num{display: inline-block;width: 28%;vertical-align: top;padding-top: 34px;}
.bottom_txt{font-size: 24px;color: #b73b1c;width: 100%;text-align: center;padding:30px 0;}
.panking_content .panking_content_none{width: 100%;text-align: center;padding-left: 0;}
/*弹窗*/
.dialog_notice {width:100%;position: fixed;top:0px;left:0px;bottom:0px;right:0px;background: rgba(0,0,0,.8);display: box;display: -webkit-box;box-pack:center;box-align: center;-webkit-box-pack:center;-webkit-box-align: center;}
.alert_info {position: relative;width: 75%;border-radius: 10px;background: #ffd5b0;font-size: 26px;color: #555555;text-align: center;line-height: normal;padding-bottom: 45px;}
.close {position: absolute;right: 20px;top: 20px;}
.alert_title {font-size: 24px;padding: 16px 0px;width: 100%;background: #ffd5b0;}
.alert_ul {width: 76%;margin: 0 auto;padding: 88px 0px 46px;text-align: center;}
.top_line {width: 100%;text-align: center;line-height: 80px;font-size: 24px;color: white;background: url(../../../images/activity/anniversary/panking_btn.png) no-repeat center;}
/*遮罩*/
.shae_dialgo{z-index: 15;width:100%; height:100%; position: fixed; left:0px; top:0px; background: rgba(0,0,0,.6); display: none;}
.arrow{width:428px; height:322px; position: absolute; right:18px;top:0px; background: url(../../../images/activity/anniversary/dialog_arrow.png) no-repeat; }
.shar_off{ width:49px; height:49px;position: absolute; bottom:100px; left:50%; margin:0px 0px 0px -24px; background: url(../../../images/activity/anniversary/dialog_off.png) no-repeat;}
/*index*/
.index_content{position: absolute;top: 480px;left: 50%;margin-left: -39.5%;width:79% ;}
.index_content_one{position: relative;margin-bottom: 10px;}
.index_content_ing{position: absolute;top: -2px;right: -2px;}
.index_content_number{position: absolute;font-size: 32px;color: #fff;top: 55px;left: 52px;}
.index_content_title{font-size: 30px;position: absolute;color: #fff;top: 26px;left: 166px;font-weight: 600;}
.index_content_time{font-size: 24px;position: absolute;color: #fff;top: 84px;left: 166px;}
.color{color: #5d2e0f;}
.ru_txt{width:94%;min-height:20px;overflow: hidden;margin:18px 0 0 6%;}
.ru_txt em{display: block;width:40px;height:40px;background: #d30c1a;text-align: center;line-height: 40px;font-size: 24px;color:#fff;float: left;margin-top:2px;border-radius: 50%;}
.ru_txt p{font-size: 24px;color: #b73b1c;line-height: normal;width:90%;float: right;padding-top: 4px;}


