body{
	width:100%;
	margin:0 auto;
	background:#fff;
}
.pk_img_b,.pk_img_a{width:220px; height:220px;padding-top: 950px;position: absolute;z-index: 2;}
.pk_img_a{ padding-left:60px;}
.pk_img_b{padding-left: 360px;}
.welcome_title{ width: 100%; font-size: 36px; line-height: normal; text-align: center; color:#333333; padding:54px 0 34px;}
.tite_number{color:#ff6633;}
.pack_info_wrap{ width:100%;margin:0 auto;text-align:center;position:relative;}
.pack_info_bg{display:block;width:92%;margin:0 auto;}
.pack_info_btn{
	width:100%;
	position:absolute;
	bottom:40px;z-index: 5;
}
.lg_btn{ width:300px; height:100px;}
.dl_btn{border:0px;font-size:28px;color:#ff7233;background:none; background:url(../../images/red_pack/weicha_btn.png) no-repeat center;}
.login_fixed{width:100%;margin:0 auto;text-align:center;z-index: 5;position:relative;}
.zc_btn{border:0px;font-size:28px;color:#ff7233;background:none;}
.two_weichat{position:relative; width: 94%; height:400px; top:0px;background:#f5f5f5;}
.welcome_info{font-size: 30px; color:#333; padding:33px 0px;line-height:normal; }
.welcome_info_color{color:#ff6633;}
.wel_txt{font-size: 24px; color:#666666;width:50%;position:absolute;bottom:30px;}
.wel_txt_left{left:0;}
.wel_txt_right{right:0;}
.placeholed_height{ height:100px;width:100%;margin-top: 10px;}

