body{
	width:100%;
	margin:0 auto;
	background:url(../../images/red_pack/welcome_bg.png) repeat center;
}
.wel_banner{
	width:100%;
	text-align:center;
	position:relative;
}
.wel_banner_txt{
	width:100%;
	font-size:22px;
	text-align:center;
	line-height:70px;
	position:absolute;
	bottom:0;
	color:#fff;
}
.wel_color1{
	color:#b35fee;
}
.wel_color2{
	color:#feeb01;
}
.welcome_banner{
	display:block;
	width:100%;
}
.main{
	width:100%;
	margin:0 auto;
}
.welcome_box{
	width: 315px;
    height: 310px;
    background: #6f28ea;
    border: 13px solid #7d38f5;
    border-radius: 10px;
    margin: 0 auto 0;
    z-index: 10;
    text-align:center;
    padding:20px;
}
.welcome_em{
	display:block;
	width:315px;
}
.welcome_title{
	width:100%;
	font-size:28px;
	color:#fff;
	line-height:normal;
	text-align:center;
	padding:20px 0;
	display:block;
}
.welcome_btn{
	display:block;
	margin:0 auto;
	text-align:center;
	position:relative;
}
.welcome_btn_txt{
	display:inline-block;
	position:absolute;
	height:77px;
	width:100%;
	text-align:center;
	font-size:30px;
	color:#fff;
	left:0;
	top:0;
	line-height:76px;
}