
.my_pack_title{width:95%; font-size:24px;padding: 6px 0px 10px 30px;background:white; line-height:normal; color:#666666;}
.ti_color{ color:#ff6633;}
.pack{width:90%;height:200px; overflow: hidden; margin:13px auto;position:relative;box-shadow: 16px 3px 16px 0px rgba(0,0,0,.5);-webkit-box-shadow: 16px 3px 16px 0px rgba(0,0,0,.5);}
.orange{ position:relative;width:39%;height:202px;left: 4px; top: 0px;display: inline-block; background: #ff6633;float: left;}
.left_row,.right_row{display: inline-block;position: absolute; height:100%;width:7px;}
.left_row{ background: url(../../images/red_pack/pack_red.png) repeat-y;left: -6px; }
.right_row{ background: url(../../images/red_pack/now_pack_right.png) repeat-y; right:-6px;top: 0px; }

.active{width:42px; height:42px;position: absolute;right:31px;top:34px; background: url(../../images/red_pack/active_pack.png) no-repeat;}
.pace_title{ width:100%; font-size: 28px;line-height: normal; color:#ffffff;padding: 30px 0px 31px 0px;text-align: center;}
.pack_number{width:100%; text-align: center; padding:0px 0px 12.5%;color:white;position:relative;top:15px;}
.number_small{ font-size: 41px; }
.number_loger{ font-size: 56px; line-height: 56px; }
.gray{position:relative; display: inline-block;width:52%;height:202px;; background: white;right: 0px; top: 0px;/* vertical-align: top; */}
.gray_title{ font-size: 28px;line-height: normal; color:#666666;padding:31px 0px 26px 20px;}
.gray_ul{ padding-left:20px;padding-bottom: 29px;    overflow: hidden;  color:#bababa; font-size: 20px;line-height: normal;}
.gray_li{ padding:7px 0px; }
.now_pack{ background: #cccccc; }
.now_pack .left_row{ background: url(../../images/red_pack/pack_left_gray.png) repeat-y; }
.now_no_ft{ font-size: 22px; color:#bababa; }


.orange_right{position: absolute; display: inline-block;width:10%;text-align: center;background: #ff6633;right: 0px;/* padding: 48px 0px; */top: 0px;height: 102%;}
.orge_now{ width:26px;line-height: normal;margin: 38px auto 0px;height: 62%;font-size:24px; color:#ffffff;}
.past_pack{ line-height: 34px; }
.gary_right{ background: #cccccc; }
.gary_right .orge_now{margin: 50px auto 0px;}
.gary_right .right_row{ background: url(../../images/red_pack/pack_right_gray.png) repeat-y; }

.big_ft .orange{float:none; vertical-align: bottom; position: absolute;height:102%}
.big_ft .gray{left:40%;}
.big_ft .gray_title{    padding: 31px 0px 26px 20px;}
.big_ft .number_loger{ font-size:100px;}
.big_ft .pack_number{padding:0px;height:132px;line-height:132px;}
.big_ft .pace_title{ padding: 30px 0px 0px 0px;}