.body {
    width: 100%;
    height: 100%;
    font-family: "微软雅黑";
}

/*弹窗*/
.alert_bg {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    display: block;
    filter: alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    z-index: 10;
}

.dialog_notice {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.alert_open {
    display: block;
}

.alert_hide {
    display: none;
}

.wrap_dialog {
    width: 740px;
    min-height: 100px;
    margin: 20px auto;
    background: #fff;
    position: relative;
    top: 50%;
    margin-top: -206px;
    left: 50%;
    margin-left: -370px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 40px;
}

.dialog_title {
    text-align: center;
    font-size: 16px;
    background: #fff;
    line-height: normal;
    color: #333;
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.rule_ul {
    width: 100%;
    margin: 0 auto 0;
    box-sizing: border-box;
    text-align: left;
    padding-bottom: 20px;
}

.Calculatormain_down_div_h3 {
    height: 60px;
    position: relative;
    line-height: 60px;
    text-align: center;
}


.Calculator_table {
    height: 120px;
    border: 1px solid #e5e5e5;
    margin: 0 auto;
}

.Calculator_tr {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
}
.Calculator_table .Calculator_tr:last-child{
    border-bottom: none;
}

.Calculator_tr1, .Calculator_tr2, .Calculator_tr3, .Calculator_tr4 {
    display: block;
    float: left;
    font-size: 14px;
    color: #666;
    line-height: 39px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.Calculator_tr1 {
    width: 20%;
    height: 100%;
    background: #f2f2f2;
    color: #999;
    text-align: center;
}

.Calculator_tr2 {
    width: 30%;
    height: 100%;
    background: #fff;
    padding-left: 20px;
}

.Calculator_tr4 {
    width: 30%;
    height: 100%;
    background: #fff;
    padding-left: 20px;
}

.Calculator_trmax {
    font-size: 18px;
    color: #ff6633;
}

.Calculator_trmin {
    color: #ff6633;
}

.Calculator_prompt {
    font-size: 12px;
    color: #999;
    line-height: normal;
    padding-top: 15px;
    text-align: center;
}

.Calculator_money {
    margin: 25px auto 0;
    line-height: 40px;
}

.Calculator_money li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.Calculator_money .Calculator_money_li2 {
    font-size: 14px;
    color: #666;
    position: relative;
    margin-bottom: 20px;
}

.Calculator_money .Calculator_money_input {
    margin:auto;
    width: 300px;
    line-height: 40px;
    height: 40px;
    border: 1px solid #d5d5d5;
    font-size: 14px;
    color: #666;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.Calculator_money_inputpro {
    margin-top: 10px;
    font-size: 12px;
    color: #ff6633;
    line-height: 15px;
    text-align: center;
}
.Calculator_money_li5 .Calculator_money_libtn {
    display: block;
    text-align: center;
    background: #ff6633;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 300px;
    line-height: 40px;
    margin: auto;
}

.surface {
    width: 100%;
    margin: 20px auto 0;
    padding-top: 0;
    border-top:solid 1px #e5e5e5;
    padding-bottom: 30px;
    display: none;
}

.surface_box {
    margin: 0 auto;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border:solid 1px #e5e5e5;
    border-top:none;
}
.surface_box .surface_tr {
    border-bottom: dashed 1px #e5e5e5;
    height:39px;
}
.surface_box .surface_tr:after{
    content: "";
    clear: both;
    display: block;
    height:0;
}
.surface_box .surface_tr:last-child{
    border-bottom: none;
}
.surface_title{
    border:solid 1px #e5e5e5;
    border-bottom:none;
}
.surface_trspan {
    width: 20%;
    display: block;
    float: left;
    height: 39px;
    text-align: center;
    line-height: 39px;
    background: #fbfbfb;
    color: #666;
    font-size: 14px;
}

.surface_trspan1 {
    width: 20%;
    display: block;
    float: left;
    height: 39px;
    text-align: center;
    line-height: 39px;
    background: #fff;
    color: #666;
    font-size: 14px;
}

.surface_box .surface_tr .surface_trspan1:nth-child(2){
    color: #FF6633;
}