#Html("begin")
#GenHead("begin")
#Title("【币港湾官网】国资背景互联网金融服务平台")
#LoadGenCSS("/resources/gen2.0/styles/activity/default")
#LoadGenCSS("/resources/gen2.0/styles/activity/openPolite2017/new_year")
#LoadGenJS("/resources/gen2.0/scripts/common/jquery")
#LoadGenJS("/resources/gen2.0/scripts/activity/openPolite2017/new_year")

##<img src="$!env.get('gen.server.web')/resources/gen2.0/$!env.get('gen.server.web')/resources/gen2.0/images/activity/openPolite2017/activity/openPolite2017/title.png" class="bantitleimg" />

##GenHead("end")
<body class="body">
	##Gen2Header("home")
    <input type="hidden" id="APP_ROOT_PATH_GEN" value="$!env.get('gen.server.web')"/>
	<input type="hidden" id="sys_time" value=""/>
	<!--banner-->
	<div class="banner"></div>
	<!--main-->
	<div class="main-content">
			<div class="main-content-top">
				<div class="main-content-bg">
					<div class="main-content-txt">
						<p>活动期间，单笔投资满足下列活动要求</p>
						<p>即可获得下列对应的奖品；仅限港湾系列产品。</p>
					</div>
					
					<div class="main-content-btn">
						<!--购买按钮-->
						<a  href="javascript:;" class="main-content-btna" onclick="clickMe()"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/openPolite2017/main-c2.png" /><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/openPolite2017/main-c22.png"  class="bottomMove"/>
						<!--[if lte IE 9]> 
							<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/openPolite2017/main-c22.png"  class="bottomMove1"/>
						<![endif]-->
						</a>
						
					</div>
				</div>
			</div>
			<h3 class="main-title"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/openPolite2017/main-c3.png"/></h3>
			<div class="main-product">
				<div class="main-product-title"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/openPolite2017/main-c4.png" /></div>
				<ul class="main-product-list">
					<li>
						<div class="main-product-list-img"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/openPolite2017/main-j1.png" /></div>
						<div class="main-product-list-title">2000元 中石化油卡</div>
						<div class="main-product-list-cont">
							<div class="main-product-list-bg">
								<p><span class="main-product-list-cspan">单笔投资金额</span><i class="main-product-list-ci">≥100万</i></p>
								<p><i class="main-product-list-ci">12个月即送</i></p>
							</div>
						</div>
					</li>
					<li>
						<div class="main-product-list-img"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/openPolite2017/main-j2.png" /></div>
						<div class="main-product-list-title">1500元 中石化油卡</div>
						<div class="main-product-list-cont">
							<div class="main-product-list-bg">
								<p><span class="main-product-list-cspan">单笔投资金额</span><i class="main-product-list-ci">≥80万</i></p>
								<p><i class="main-product-list-ci">12个月即送</i></p>
							</div>
						</div>
					</li>
					<li>
						<div class="main-product-list-img"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/openPolite2017/main-j3.png" /></div>
						<div class="main-product-list-title">1000元 中石化油卡</div>
						<div class="main-product-list-cont">
							<div class="main-product-list-bg">
								<p><span class="main-product-list-cspan">单笔投资金额</span><i class="main-product-list-ci">≥50万</i></p>
								<p><i class="main-product-list-ci">6个月及以上即送</i></p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="main-product">
				<div class="main-product-title"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/openPolite2017/main-c5.png" /></div>
				<ul class="main-product-list">
					<li>
						<div class="main-product-list-img"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/openPolite2017/main-j4.png" /></div>
						<div class="main-product-list-title">800元 京东卡</div>
						<div class="main-product-list-cont">
							<div class="main-product-list-bg">
								<p><span class="main-product-list-cspan">单笔投资金额</span><i class="main-product-list-ci">≥35万</i></p>
								<p><i class="main-product-list-ci">6个月及以上即送</i></p>
							</div>
						</div>
					</li>
					<li>
						<div class="main-product-list-img"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/openPolite2017/main-j5.png" /></div>
						<div class="main-product-list-title">600元 京东卡</div>
						<div class="main-product-list-cont">
							<div class="main-product-list-bg">
								<p><span class="main-product-list-cspan">单笔投资金额</span><i class="main-product-list-ci">≥25万</i></p>
								<p><i class="main-product-list-ci">6个月及以上即送</i></p>
							</div>
						</div>
					</li>
					<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/openPolite2017/main-c10.png" class="main-product-list-three" />
				</ul>
			</div>
			<div class="main-product">
				<div class="main-product-title"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/openPolite2017/main-c6.png" /></div>
				<ul class="main-product-list">
					<li>
						<div class="main-product-list-img"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/openPolite2017/main-j6.png" /></div>
						<div class="main-product-list-title">500元 世纪联华超市卡</div>
						<div class="main-product-list-cont">
							<div class="main-product-list-bg">
								<p><span class="main-product-list-cspan">单笔投资金额</span><i class="main-product-list-ci">≥12万</i></p>
								<p><i class="main-product-list-ci">6个月及以上即送</i></p>
							</div>
						</div>
					</li>
					<li>
						<div class="main-product-list-img"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/openPolite2017/main-j7.png" /></div>
						<div class="main-product-list-title">200元 世纪联华超市卡</div>
						<div class="main-product-list-cont">
							<div class="main-product-list-bg">
								<p><span class="main-product-list-cspan">单笔投资金额</span><i class="main-product-list-ci">≥8万</i></p>
								<p><i class="main-product-list-ci">3个月及以上即送</i></p>
							</div>
						</div>
					</li>
					<li>
						<div class="main-product-list-img"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/openPolite2017/main-j8.png" /></div>
						<div class="main-product-list-title">100元 世纪联华超市卡</div>
						<div class="main-product-list-cont">
							<div class="main-product-list-bg">
								<p><span class="main-product-list-cspan">单笔投资金额</span><i class="main-product-list-ci">≥5万</i></p>
								<p><i class="main-product-list-ci">3个月及以上即送</i></p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<h3 class="main-title"><img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/openPolite2017/main-c9.png"/></h3>
			<div class="main-rule">
				<div class="ru_txt"><em>1.</em><p>活动时间：2017年1月9日-1月13日；</p></div>
				<div class="ru_txt"><em>2.</em><p>活动期间单笔投资港湾系列产品，满足金额及相应投资期限即可免费获得对应奖品，奖品不限量；</p></div>
				<div class="ru_txt"><em>3.</em><p>活动期间每位用户仅限参与一次，若参与两次及以上则系统将以该用户投资的最高一笔金额为准；</p></div>
				<div class="ru_txt"><em>4.</em><p>用户完成一次投资目标可获得与之对应的一项奖品，不叠加获得其他档奖品；</p></div>
				<div class="ru_txt"><em>5.</em><p>获得实物奖励的用户，客服将在活动结束后5个工作日内与您取得联系，请保持手机畅通。如因您自身原因错过通知，则视为放弃奖励；</p></div>
				<div class="ru_txt"><em>6.</em><p>获得世纪联华超市卡和京东卡的用户可自主选择其一，以与客服登记为准；</p></div>
				<div class="ru_txt"><em>7.</em><p>活动结束后，我们将通过币港湾微信公众号公布获奖名单，请及时关注。</p></div>
			</div>
			<div class="main-footer">本次活动的最终解释权归币港湾所有</div>
		</div>
		<!--遮罩层-->
		<div class="tan-bg"></div>
		<!--提示弹窗-->
		<div id="alert_listthree_one" class="alert_listthree">
		<h3 class="alert_listthree_h3">
    		<span class="title">温馨提示</span>
    		<a class="alert_listthree_btn" href="javascript:;" title="" onclick="">
        		<img src="$!env.get('gen.server.web')/resources/gen2.0/images/activity/openPolite2017/close_right.png">
    		</a>
		</h3>
		<!--活动未开始-->
		<div class="alert_listthree_txt">您来早了，还没开始哟，活动开始时间2017年1月9日</div>
		<div class="alert_listthree_btnd">
			<a class="alert_listthree_btnl" href="javascript:;">知道了</a>
		</div>
	</div>
</body>
#Html("end")