body {
	width: 100%;
	background: #fbfbfb;
	height: 100%;
	font-family: "微软雅黑"
}
.header {
  width: 100%;
  height: 0.9rem;
  line-height: 0.9rem;
  background: white;
  text-align: center;
  position: relative;
}
.header_arrow {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.45rem;
  width: 0.9rem;
  height: 0.9rem;
  background: url(../../../images/activity/back_arrow.png) no-repeat 0.25rem center;
  background-size:0.17rem 0.29rem;
}
.heade_ft {
  font-size: 0.34rem;
}
.awardList{
	width:100%;
	margin:0 auto;
	padding-bottom:0.3rem;
}
.awardBox{
	width:92%;
	margin:0.3rem auto 0;
	border-radius:0.2rem;
	background:#fff;
	-webkit-box-shadow: #eee 0 0 0.3rem;
    -moz-box-shadow: #eee 0 0 0.3rem;;
    box-shadow: #eee 0 0 0.3rem;;
	
}
.awardTop{
	width:92%;
	margin:0 auto;
	border-bottom:0.01rem dashed #eaeaea;
	font-size:0.24rem;
	color:#ff6633;
	padding:0.4rem 0 0.22rem;
	line-height:0.40rem;
	position:relative;
}
.awardNumber{
	font-size:0.44rem;
}
.awardBottom{
	width:92%;
	margin:0 auto;
	font-size:0.24rem;
	color:#999;
	padding:0.3rem 0 0.36rem;
	line-height:0.24rem;
}
.awardTime{
	position:absolute;
	color:#666;
	text-align:left;
	line-height:0.32rem;
	right:0;
	top:0.3rem;
}
.question_prompt{
	width:100%;
	position:fixed;
	top:0;left:0;bottom:0;right:0;
	background:rgba(0,0,0,.5);
	display:box;display:-webkit-box;
	box-pack:center;box-align:center;
	-webkit-box-pack:center;
	-webkit-box-align:center;z-index:101;
}
.question_box{
	position:relative;
	width:72%;border-radius:0.3rem;
	background:#fff;
	text-align:center;
	line-height:normal;
	background:#fbfbfb;
	overflow:hidden;
}
.question_title{
	font-size:0.32rem;
	padding:0.3rem 0 0.2rem;
	width:100%;color:#333;
	background:#fff;
}
.emBGWBox{
	width:100%;
	margin:0 auto;
	background:#fff;
	padding-bottom:0.3rem;
}
.emBGW{
	width:2.5rem;
	height:2.5rem;
	display:block;
	margin:0 auto;
}
.listTitle{
	width:90%;
	margin:0 auto;
	font-size:0.28rem;
	color:#333;
	padding:0.3rem 0 0.06rem;
	text-align:left;
}
.listText{
	width:90%;
	margin:0 auto 0;
	font-size:0.24rem;
	color:#f63;
	padding:0.14rem 0 0;
	text-align:left;
}
.listPrompt{
	width:90%;
	margin:0 auto 0;
	font-size:0.28rem;
	color:#999;
	padding:0.16rem 0 0.3rem;
	text-align:left;
}
.question_btn{
	line-height:0.34rem;
	font-size:0.34rem;
	border-top:0.01rem solid #d4d4d4;
	color:#f63;
	text-align:center;
	padding:0.26rem 0;background:#fff;
}.alert_show{display: box;display: -webkit-box;}
.alert_hide{display:none;}
.money_play_txt {
    width: 100%;
    margin: 1.1rem auto 0;
    position: relative;
}
.rotateBannerImg{
	width:69%;
	display:block;
	margin:0 auto;
}
.money_play_txt_position {
    font-size: 0.28rem;
    text-align: center;
    color: #999;
    width: 100%;
    margin:0 auto 0;
}
.timeColor{
	color:#f63;
}