body {
	width: 100%;
	background: #6cdbee;
	height: 100%;
	font-family: "微软雅黑"
}
.rotateBanner{
	width: 100%;
	margin:0 auto;
	position: relative;
}
.rotateBannerImg{
	display: block;
	width: 100%;
	margin: 0 auto;
}
.rotateMy{
	position: fixed;
	width: 0.5rem;
	height: 1.5rem;
	top: 0.3rem;
	right: 0;
	z-index: 3;
}
.rotateMynotLogin{
	position: absolute;
	width: 0.5rem;
	height: 1.5rem;
	top: 0.3rem;
	right: 0;
	z-index: 1;
}
.rotateMyImg{
	display: block;
	width: 100%;
}
#dowebok {
	position: relative;
	width:100%;
	margin: -1.6rem auto 0;
}

.plate {
	margin:0 auto;
	width: 94%;
	position: relative;
	z-index: 2;
}
.plateImg{
	display: block;
	width: 100%;
	margin:0 auto;
}
.prize {
	float: right;
	width: 360px;
	height: 390px;
	font: 14px/1.5 "Microsoft Yahei";
}

.plateBtn {
	position: absolute;
	left: 50%;
	top:50%;
	margin: -0.83rem 0 0 -0.83rem;
	width: 1.66rem;
	height: 1.66rem;
	background-image: url(../../../images/activity/lucky_rotate/rotate-static.png);
	background-size: 1.66rem 1.66rem;
	text-align: center;
}
.plateBtnnot{
	position: absolute;
	left: 50%;
	top:50%;
	margin: -0.83rem 0 0 -0.83rem;
	width: 1.66rem;
	height: 1.66rem;
	background-image: url(../../../images/activity/lucky_rotate/rotate-staticnone.png);
	background-size: 1.66rem 1.66rem;
	text-align: center;
}
.plateBtnLogin{
	font-size: 0.28rem;
	color: #fff;
	line-height: 1.66rem;
	text-shadow: #F58003 0.04rem 0.04rem 0.05rem
}
.plateBtnTxt{
	font-size: 0.28rem;
	color: #fff;
	line-height: 0.36rem;
	text-shadow: #F58003 0.04rem 0.04rem 0.05rem;
	display: inline-block;
	padding-top: 0.50rem;
}
.plateBtnTxtnot{
	font-size: 0.28rem;
	color: #8a8a8a;
	line-height: 0.36rem;
	display: inline-block;
	padding-top: 0.50rem;
}
.plateBtnImg{
	position: absolute;
	top: -0.3rem;
	width: 0.26rem;
	height: 0.43rem;
	background: url(../../../images/activity/lucky_rotate/rotate-static1.png)  no-repeat center;
	background-size: 0.26rem 0.43rem;
	left: 50%;
	margin-left: -0.13rem;
}
.rotateImg{
	width: 100%;
	margin: -1.6rem auto 0;
	position: relative;
}
.ren{
	width: 0.97rem;
	position: absolute;
	left: 16%;
	top: 0.5rem;
	z-index: 3;
}
.renImg{
	display: block;
	width: 100%;
}
.rotateBottomImg{
	width: 92%;
	display: block;
	margin: 0 auto;
}
.rotateRule{
	width: 100%;
	height: 0.4rem;
	background: url(../../../images/activity/lucky_rotate/ruleTitle.png) no-repeat center;
	background-size: 2.12rem 0.27rem;
	margin: 0 auto;
	font-size: 0.28rem;
	color: #006acd;
	text-align: center;
	line-height: 0.4rem;
}
.rotateRuleText{
	width: 94%;
	margin:0.2rem auto 0;
	background: #0093e7;
	border-radius: 0.1rem;
	padding: 0.3rem 0 0.01rem;
}
.rotateRuleTxt{
	width: 92%;
	margin:0 auto 0.3rem;
	font-size: 0.24rem;
	color: #fff;
	line-height: 0.32rem;
	position: relative;
}
.rotateRuleTxt span{
	width: 0.3rem;
	height: 0.3rem;
	border: 0.01rem solid #fff;
	text-align: center;
	line-height: 0.3rem;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 0.02rem;
}
.rotateRuleTxt p{
	padding-left: 0.44rem;
}
.bottomHeight{
	width: 100%;
	height: 1.2rem;
	margin:0 auto;
}
.rotateBtn{
	width: 100%;
	height: 0.8rem;
	position: fixed;
	bottom: 0;
	left: 0;
	display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
    z-index:3;
}
.rotateBtn .rotateBtnLeft{
	width: 50%;
	display: inline-block;
	height: 100%;
	text-align: center;
	background: #ffd900;
	font-size: 0.3rem;
	line-height: 0.8rem;
	color: #b15100;
}
.rotateBtn .rotateBtnRight{
	width: 50%;
	display: inline-block;
	height: 100%;
	text-align: center;
	background: #ffaa00;
	font-size: 0.3rem;
	line-height: 0.8rem;
	color: #b15100;
}
.rotateBtnHorn{
	width: 0.24rem;
	height: 0.24rem;
	position: relative;
	top: 0.02rem;
}

.question_prompt{
	width:100%;
	position:fixed;
	top:0;left:0;bottom:0;right:0;
	background:rgba(0,0,0,.5);
	display:box;
	display:-webkit-box;
	box-pack:center;
	box-align:center;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	z-index:101;
}
.question_box{
	position:relative;
	width:67%;
	height:4.32rem;
	font-size:0.3rem;
	color:#666;
	text-align:center;
	line-height:normal;
	background:url(../../../images/activity/lucky_rotate/alert01.png) no-repeat center;
	background-size:5.06rem 4.82rem;
	padding:0.5rem 0 0 0;
}
.question_title{
	width:100%;
	color:#5f5d75;
	padding:0.24rem 0;
}
.close{
	width:0.8rem;
	height:0.8rem;
	background:url(../../../images/activity/lucky_rotate/close.png) no-repeat right center;
	background-size:0.4rem 0.4rem;
	position:absolute;right:0;top:-0.8rem;
}
.question_btn{
	display:inline-block;
	width:3.8rem;
	height:0.9rem;
	background:#ffd900;
	line-height:0.9rem;
	font-size:0.3rem;
	color:#b15100;
	text-align:center;
	border-radius:0.45rem;
	position:absolute;
	bottom:0.6rem;
	left:50%;
	margin-left:-1.9rem;
}
.alertImg{
	width:1.2rem;
	height:0.8rem;
	background:url(../../../images/activity/lucky_rotate/lucky_img.png) no-repeat center;
	background-size:4.31rem 3.1rem;
	margin:0 auto;
}
.alertImg01{
	background-position:-0.1rem -2.19rem;
}
.alertImg02{
	background-position:-1.54rem -1.16rem;
}
.alertImg03{
	background-position:-1.54rem -2.19rem;
}
.alertImg04{
	background-position:-0.1rem -0.1rem;
}
.alertImg05{
	background-position:-3rem -0.1rem;
}
.alertImg06{
	background-position:-3rem -1.16rem;
}
.alertImg07{
	background-position:-1.54rem -0.1rem;
}
.alertImg08{
	background-position:-0.1rem -1.16rem;
}
.alertImg09{
	background-position:-3rem -2.19rem;
}
.alert_show{display: box;display: -webkit-box;}
.alert_hide{display:none;}
#btn_textzero{
display:none;
position:absolute;
width:100%;
left:50%;
top:50%;
text-align:center;
margin:-0.83rem 0 0 -50%;
}
.share_cover{
	position: fixed;
	background: rgba(0,0,0,.7);
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: 3;
	display: none;
}
.share_cover_img img{
	width: 100%;
}